// ********************
//  COMPONENTS
//
// ********************
//  BREADCRUMB
// ********************
//
// ********************

// + Variables
// -------
$breadcrumb-home-icon-size: 21px;
$breadcrumb-caret-size: 10px;
$breadcrumb-text-color: $c-text;
$breadcrumb-separator-color: $c-color2;

.breadcrumb {
    margin: calculateRem(18px) 0 calculateRem(14px);
}
.breadcrumb_item {
    @include iconfont($icon-arrow-single-right, after);
    display: inline-block;
    padding-right: calculateEm(3px);
    line-height: 1;
    &::after { //## breadcrumb separator
        position: relative;
        top: 0;
        right: -1px;
        color: $breadcrumb-separator-color;
        font-size: calculateEm($breadcrumb-caret-size);
    }
    &:last-child {
        font-weight: 600;
        &::after { content: none; }
        .breadcrumb_dropdown_trigger {
            font-weight: 600;
        }
    }
    & > a {
        display: inline-block;
        color: $breadcrumb-text-color;
        text-decoration: none;
        padding: 7px 0;
        &:hover {
            text-decoration: underline;
            color: $c-primary;
        }
    }
    &.go-home a {
        @include iconfont($icon-home);
        color: $c-primary;
        vertical-align: middle;
        &:hover {
            color: $c-link-hover;
            text-decoration: none;
        }
        &::before {
            font-size: calculateEm($breadcrumb-home-icon-size);
            line-height: 0;
        }
    }
}
.breadcrumb_dropdown_trigger {
    @include collapse-trigger($breadcrumb-caret-size, $c-secondary, right);
    padding-right: calculateEm(16px);
    cursor: pointer;
    &:hover {
        color: $c-link-hover;
    }
    &::after {
        top: calculateEm(17px);
    }
}
@media #{$tablet-portrait} { // >=768px
    .breadcrumb {
        margin: calculateRem(24px) 0;
    }
}