// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION PREVIEW
// ****************************************
//
//  + Variables
//
// ****************************************

// + Variables
// -------
$destination-preview-padding: calculateRem(16px);

// .destination-preview {}

.destination-preview_close {
	@include iconfont($icon-cross, before, #fff);
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}
.destination-preview_header_banner {
    position: relative;
    height: 134px;
    background-size: cover;
    background-repeat: no-repeat;
}
.destination-preview_caption {
    @include clearfix;
    padding-top: 20%;
}
.destination-preview_caption_title,
.destination-preview_caption_subtitle {
    float: left;
    clear: both;
    white-space: nowrap;
    padding: calculateRem(2px) calculateRem(10px);
    border-radius: 0 $border-radius $border-radius 0;
}
.destination-preview_caption_title {
    @include font-size($f-size-md);
    color: #fff;
    background-color: $c-primary-dark;
}
.destination-preview_caption_subtitle {
    @include font-size($f-size-sm);
    color: $c-primary-dark;
    background-color: rgba(#fff,.6);
}
.destination-preview_header_intro {
    padding: 0 1rem;
}
.destination-preview_body {
    padding: 0 1rem;
}
.destination-preview_footer {
    text-align: center;
    margin: .5rem auto;
}
.destination-preview_button {
    @include btn-primary;
}