// ********************
//  COMPONENTS
//
// ********************
//  MAP ROUTES
// ********************
//
//    + Map Routes
//
// **********************
// + Map Routes
// --------
$margin-route: 5%;
.map-routes {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: -#{$gutter-sides};
    margin-left: -#{$gutter-sides};
    box-sizing: border-box;
    background: $c-color3;
}
.map-routes_header {
    padding: calculateRem(20px) #{$gutter-sides};
    .title {
        @extend .title-h2;
        font-weight: 900;
        color: $c-primary;
    }
}
.map-routes_image {
    position: relative;
    // margin-top: auto;
    height: 100%;
    img {
        display: block;
        margin: 0;
        width: 100%;
    }
}
.map-routes_button_wrap {
    .map-routes_button {
        margin-top: 0;
    }
}
.map-routes_button {
    @extend .show-more_link;
}

@media #{$tablet-portrait} { // >= 768px
    .map-routes {
        margin-right: 0;
        margin-left: 0;
    }
    .map-routes_header {
        padding: #{$margin-route};
    }
}