// ********************
//  COMPONENTS
//
// ********************
//  PAYMENT METHODS LIST
//
// + 
// + 
//
// ****************************************

// + variables
// -------
$payment-methods-list-icon-height: 24px;
$payment-methods-list-icon-height-desktop: 24px;
$payment-methods-list-horizontal-gutter: 48px;
$payment-methods-list-vertical-gutter: 16px;

// + payment methods list
// -------
.payment-methods-list {
    text-align: center;
}
.payment-methods-list_title {
    margin-bottom: calculateRem(6px);
}
.payment-methods-list_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 calculateRem(-$gutter-sides);
}
.payment-methods-list_item {
    line-height: 0;
}
.payment-methods-list_image {
    display: inline-block;
    padding: 0 calculateRem($gutter-sides) calculateRem($payment-methods-list-vertical-gutter);
    img {
        height: calculateRem($payment-methods-list-icon-height);
    }
}
@media #{$tablet-portrait} {
    .payment-methods-list {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
    }
    payment-methods-list_title {
        display: inline-block;
    }
}
