// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICE U-FIRST
// ****************************************
//
//
// ****************************************
$ufirst-switch-width: 84px;
.service_ufirst_content {
    @include clearfix;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;
}
.service_ufirst_info,
.service_ufirst_options {
    box-sizing: border-box;
}
.service_ufirst_info {
    text-align: center;
    margin-bottom: 24px;
    .icon {
        $size: 78px;
        @include iconfont($icon-error-circle,before);
        position: relative;
        display: inline-block;
        width: $size;
        height: $size;
        color: $c-primary;
        text-align: center;
        line-height: $size;
        margin-bottom: 22px;
        border-radius: 50%;
        border: 1px solid $c-primary;
        &::before {
            @include font-size(56px);
        }
    }
    .title {
        font-family: $f-title;
        color: $c-primary;
    }
    .intro { margin: 0; }
}
.service_ufirst_options {
    @include clearfix;
    width: 80%;
    .options_routes {
        .column {
            &.selection {
                flex: 0 0 #{$ufirst-switch-width};
                min-width: $ufirst-switch-width;
                width: $ufirst-switch-width;
                justify-content: flex-start;
            }
            &.price {
                text-align: right;
                white-space: nowrap;
            }
        }
    }
}


// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .service_ufirst_options {
        width: auto;
    }
    .service_ufirst_content {
        flex-direction: row;
    }
    $ufirst-info-width: 22%;
    $ufirst-info-width-min: 270px;
    .service_ufirst_info {
        float: left;
        width: $ufirst-info-width;
        min-width: $ufirst-info-width-min;
        margin-bottom: 0;
    }
    .service_ufirst_options {
        float: left;
        width: calc(100% - #{$ufirst-info-width});
        min-width: calc(100% - #{$ufirst-info-width-min});
        padding-left: 12%;
    }
}
@media #{$tablet-landscape} { // >=992px
    .options_routes {
        margin: 0 10%;
    }
}
@media #{$until-mobile} { // <= 640px
    .service_ufirst_options {
        width: 100%;
        margin: auto;
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .service_ufirst_options {
        .options_routes .column {
            &.selection {
                padding-left: 0;
            }
            &.label {
                flex: 1 0 calc(100% - #{$ufirst-switch-width});
                min-width: calc(100% - #{$ufirst-switch-width});
                margin-bottom: 0;
            }
            &.price {
                flex: 1 1 100%;
                text-align: left;
                margin-top: 4px;
                padding-left: $ufirst-switch-width;
            }
        }
    }
}
