// ********************
//  IBE COMPONENT
//
// ********************
//  CONTACT DATA
// ********************
//
//
// ********************

.contact_data {
    @include clearfix;
    margin: 14px 0 15px;
    .ui-checkbox {
        display: inline-block;
        margin-top: 7px;
    }
    .container {
        margin-top: 17px;
        @extend .form;
        @extend .columns-3;
    }
}

@media #{$mobile} { // >=640px
    .contact_data {
        margin-bottom: 44px;
    }
}