// ****************************
//  VARIABLES
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-background-color.
//
// ****************************
//
//    + Breakpoints
//    + Media queries
//    + Grid gutter variations
//
//    + Paths
//    + Typography
//        ++ Fonts size
//    + Colors
//
//    + Layout
//        ++ Header
//        ++ Footer
//
//    + Modules
//        ++ Booking steps
//        ++ Summary (basket)
//        ++ Multipanel
//
//    + Components
//      ++ Buttons
//          +++ button primary
//          +++ button secondary
//          +++ button action
//          +++ button clear light
//          +++ button white
//      ++ Loading
//      ++ Tooltips
//      ++ Line break
//      ++ Modals
//      ++ Form elements
//          +++ checkbox
//      ++ Datepicker
//      ++ Z-index
//      ++ Boxes
//      ++ Tables
//            +++ search flight
//                fares
//                borders
//                prices
//
// ****************************************

// + Container 
$container-max-width-px: 1200px; // use px apply Math functions doesn't allow it
$container-max-width: calculateRem($container-max-width-px);

// + Breakpoints
// -------
//## mobile
$bp-mobile-small: 480px;
$bp-mobile-small-max: 479px;
$bp-mobile: 640px;
$bp-mobile-max: 639px;
$bp-mobile-min: 481px;
//## tablet
$bp-tablet-portrait: 768px;
$bp-tablet-portrait-max: 767px;
$bp-tablet-portrait-min: 641px;
$bp-tablet-landscape: 992px;
$bp-tablet-landscape-max: 991px;
$bp-tablet-landscape-min: 769px;
//## desktop
$bp-desktop: 1200px;
$bp-desktop-max: 1199px;
$bp-desktop-min: 993px;


// + Media queries
// -------
$mobile-sm: '(min-width: #{$bp-mobile-small})';                  // >=480px
$mobile: '(min-width: #{$bp-mobile})';                           // >=640px
$tablet-portrait: '(min-width: #{$bp-tablet-portrait})';         // >=768px
$tablet-landscape: '(min-width: #{$bp-tablet-landscape})';       // >=992px
$desktop: '(min-width: #{$bp-desktop})';                         // >=1200px

$until-mobile-sm: '(max-width: #{$bp-mobile-small})';            // <=480px
$until-mobile: '(max-width: #{$bp-mobile})';                     // <=640px
$until-tablet-portrait: '(max-width: #{$bp-tablet-portrait})';   // <=768px
$until-tablet-landscape: '(max-width: #{$bp-tablet-landscape})'; // <=992px

// ++ Navigation breakpoint
$header-nav-breakpoint-collapsed: $bp-tablet-portrait;
$home-multipanel-bp: $tablet-landscape;


// + Grid gutter variations
// -------
//## default grid gutter 20px
$gutter: 14px;
$gutter-desktop: 34px;

$gutter-sides: $gutter;
$gutter-sides-desktop: $gutter-desktop;

// Form inputs gutter
$form-horizontal-gutter: 20px; // mobile <= 992px
$form-horizontal-gutter-desktop: 20px;
$form-vertical-gutter: 20px;


$default-pad: 24px !default;


// + Paths
// -------
// paths variables goes at core/globals/_variables


// + Typography
// -------
$font-name:             "Roboto";
$font-filename:         $font-name;
$font-sanserif:         "Roboto", sans-serif;
$font-icon-name:        'sky-icons';

$f-body:    $font-sanserif;
$f-title:   $font-name, sans-serif;
$f-icons:   $font-icon-name;
$f-button:  $f-title;


// ++ Fonts size
$f-size-xs:    12px;
$f-size-sm:    14px;
$f-size:       16px;
$f-size-md-xs: 18px; // New !
$f-size-md-sm: 20px;
$f-size-md:    22px;    
$f-size-lg:    26px;
$f-size-xlg:   28px;
$f-size-xxlg:  34px;
$f-size-super: 40px;
//## icons size
$f-iconsize: 20px;
$f-iconsize-md: 36px;
$f-iconsize-lg: 48px;
$f-iconsize-xlg: 60px;
$f-iconsize-super: 70px;

//## headings
$f-size-h1:         48px;       // 48px
$f-size-h1-mobile:  36px;       // 36px
$f-size-h2:         36px;       // 36px
$f-size-h2-mobile:  28px;       // 28px
$f-size-h3:         24px;       // 24px
$f-size-h3-mobile:  20px;       // 20px
$f-size-h4:         $f-size;    // 16px

//## colors
$c-primary:        #663366;          // purple
$c-primary-dark:   $c-primary;
$c-secondary:      #ff009a;          // pink
$c-secondary-dark: $c-secondary;
$c-color1:         #26de00;          // green light
$c-color2:         #339900;          // green
$c-color3:         #f1f1f1;          // lighter gray
$c-color4:         #d0021b;          // lighter gray

//## gray scale
$gray0:                       #000;
$gray30:                      #333;
$gray40:                      #444;
$gray45:                      #555;
$gray50:                      #797979; // New !
$gray60:                      #999;
$gray65:                      #a8a8a8; // New !
$gray70:                      #bbb;
$gray80:                      #c8c5c5; // New !
$gray90:                      #dfdfdf; // New !
$gray95:                      #edebeb;
$gray98:                      #f7f7f7;
$gray100:                     #fff;

//## alerts
$c-info:      $c-primary;       // purple
$c-warning:   #f9a91f;        // orange
$c-error:     #ff0317;        // red
$c-success:   $c-color2;        // green

$c-text: $c-primary-dark;
$c-text-lighten: tint($c-text, 40%);
$c-title-h1: $c-primary;
$c-title-h2: $c-secondary;

$c-link: $c-primary;
$c-link-hover: $c-secondary;

$border-radius: 4px;
$border-radius-large: 28px;

$disabled-opacity: .5;


// + Layout
// -------
$body-background: $gray98;
// ++ Header
$header-logo-width: 124px;
$header-logo-width-mobile: 82px;
$header-fontsize: $f-size-sm; // 16px
$header-background: #fff;
$header-links-color: $c-primary;
// +++ corporative header
$main-header-height: 90px;
$main-header-fixed-height-onscroll: 60px;
$main-header-mobile-height: 50px;
$header-transitions: all .2s linear;
$main-header-banner-max-width: 1500px;

// ++ Footer
$footer-logo-width: 145px;
$footer-fontsize: $f-size-sm; // 14px
$footer-color: #fff;
$footer-background: $c-primary-dark;
$mainfooter-color: $gray40;
$mainfooter-background: #fff;

$content-margin-top: 44px;

// ++ Search
$combinedbar-height: 65px;
$search-fixed-animation: .4s forwards;
$search-background: $c-primary-dark;

// + Summary
$summary-collapsed: '(max-width: 767px)'; // <768px
$summary-not-collapsed: '(min-width: 768px)'; // >=768px

$summary-opened-width: 610px;
$summary-slideup-anima: .2s ease-in-out;
$summary-background: $c-secondary;
$summary-header-title-color: #fff;
$summary-header-title-fontsize: $f-size;
$summary-header-title-background: $c-secondary;
$summary-total-background: tint($summary-background, 17%);
$summary-lines-color: $c-secondary;
$summary-more-background: $gray95;
$summary-discount-color: $c-secondary;
$summary-pad: 10px;
$summary-body-background: #fff;
$summary-lr-pad: 3%;
$summary-lr-pad-sm: 2%;
$summary-lr-pad-oneway: 14%;
$summary-lr-pad-oneway-sm: 6%;
$summary-lr-pad-noextras: 14%;
$summary-lr-pad-noextras-sm: 7%;
$summary-lr-pad-oneway-noextras: 28%;
$summary-lr-pad-oneway-noextras-sm: 22%;

// + Payment summary
$payment-summary-width: 264px;
$payment-summary-width-margin: 34px;
$payment-summary-aside-div-width: calc(100% - (#{$payment-summary-width} + #{$payment-summary-width-margin}));


// + UI-ELEMENTS
// -------
$accessibility-outline-color: blue;
// ++ Buttons
$button-fontfamily: $f-button;
$button-fontsize: $f-size; // 15px
$button-boxshadow: inset 0 0 0 1px;
    // +++ button action
    $btn-action-color: #fff;
    $btn-action-bg: $c-secondary;
    $btn-action-border: $btn-action-bg;

    // +++ button primary
    $btn-primary-color: #fff;
    $btn-primary-bg: $c-color1;
    $btn-primary-border: $btn-primary-bg;

    // +++ button secondary
    $btn-secondary-color: $c-secondary;
    $btn-secondary-bg: #fff;
    $btn-secondary-border: $c-secondary;
    $btn-secondary-color-hover: #fff;
    $btn-secondary-bg-hover: $btn-secondary-border;
    $btn-secondary-border-hover: $c-secondary;

    // button inverse
    $btn-inverse-color: $c-primary;
    $btn-inverse-bg: #fff;
    $btn-inverse-border: $btn-inverse-bg;
    $btn-inverse-bg-hover: $btn-inverse-bg;
    $btn-inverse-border-hover: $btn-inverse-bg-hover;

    // button light
    $btn-light-color: $c-primary;
    $btn-light-bg: #fff;
    $btn-light-border: $btn-light-color;
    $btn-light-bg-hover: $btn-light-bg;

    // buttons: disabled
    $button-disabled-color: #bbb;
    $button-disabled-background: #ddd;
    $button-disabled-border: $button-disabled-background;


// ++ Form elements
// +++ Labels
$label-family: $f-title;
$label-fontsize: $f-size-xs;
$label-color: $gray50;

// +++ Input
$input-container-height: 40px;
$input-height: 40px;
$input-fontfamily: $font-sanserif;
$input-fontsize: $f-size; // 16px
$input-color: $c-text;
$input-icon-color: $c-primary;
$input-margin-bottom: 20px;
$input-border-color: $gray70;
$input-border-width: 1px;
$input-border-bottom-color: $gray70;
$input-background: #fff;
$input-border-radius: $border-radius;
$input-color-placeholder: $gray70;
$input-tb-pad: calculateRem(6px);  // top bottom
$input-lr-pad: calculateRem(8px); // left right
$input-multiple-separator-color: $c-primary;

$input-transition: ease-out .2s;
$input-border-bottom-focus-shadow: 0 1px 0 0 $c-primary; // use box shadow to allow animation, border bottom 2px not animate
$ui-input-icon-left-space: 34px;

// Multiline inputs
$input-multiline-height: 50px;
$input-multiline-valuelarge-fontsize: 20px;
$input-multiline-valuelarge-fontweight: 400;
$input-multiline-valuesmall-fontsize: 16px;
$input-multiline-valuesmall-fontweight: 600;
$input-multiple-separator-color: $c-primary;

    //## hover
    $input-border-color-hover: $c-primary;
    $input-background-hover: $input-background;
    //## focus
    $input-border-color-focus: $input-border-color-hover;
    $input-border-bottom-color-focus: $input-border-color-focus;
    //## disabled
    $input-opacity-disabled: .5;
    $input-color-disabled: $input-color;    
    $input-border-color-disabled: $input-border-color;
    $input-background-disabled: $gray95;
    //## has-error
    $input-error-border: $c-secondary;
    //## readonly
    $input-color-label-readonly: $label-color;
    $input-color-readonly: tint($c-text, 40%);
    $input-border-colorcolor-readonly: $input-border-color; 

// +++ Select (dropdown)
$dropdown-arrow-icon: $icon-arrow-down;
$dropdown-arrow-color: $c-primary;
$dropdown-arrow-fontsize: $f-size;
$dropdown-item-color: $c-text;
$dropdown-item-background: #fff;
$dropdown-item-color-hover: $dropdown-item-color;
$dropdown-item-background-hover: $gray90;
$dropdown-arrow-color-disabled: $gray60;

// Alternative style form
$input-height-alter: calculateRem(34px);
$input-border-width-alter: 0 0 1px 0;
$input-border-bottom-color-alter: $c-primary-dark;
$input-border-radius-alter: #{$border-radius} #{$border-radius} 0 0;
//## hover
$input-border-color-hover-alter: shade($input-border-color, 14%);
$input-background-hover-alter: $input-background;
//## focus
$input-border-color-focus-alter: $input-border-color-hover;
$input-border-bottom-color-focus-alter: $c-secondary;

// +++ Validations
$ui-input-message-fontsize: $f-size-xs;


// +++ Checkbox
$checkbox-size: 18px;
$checkbox-border: $input-border-color;
$checkbox-radius: 2px;
$checkbox-background: #fff;
$checkbox-checkicon: $icon-check;
$checkbox-checkicon-size: $checkbox-size - 4;
$ui-checkbox-fontsize: $checkbox-size - 4;
$ui-checkbox-label-color: $c-text;
$checkbox-checked-bordersize: 4px;
$checkbox-checked-bordercolor: #fff;
$checkbox-inline-margin: 24px;
$checkbox-border-radius: 0;

    //## ripple effect
    $checkbox-ripple-scale: 4;
    $checkbox-ripple-mid-scale: $checkbox-ripple-scale - 4;
    $checkbox-ripple-background: rgba($c-secondary, .1);

    //## hover
    $checkbox-bordercolor-hover: $input-border-color-hover;
    //## checked
    $checkbox-checked-size: ($checkbox-size - 6);
    $checkbox-checked-color: $c-secondary;
    $checkbox-checked-background: $c-secondary;
    $checkbox-checked-bordercolor: $checkbox-checked-background;
    $checkbox-checked-borderspace: 2px;
    $checkbox-checked-borderspace-color: #fff;
    $checkbox-checked-bordercolor: $input-border-color;

    $checkbox-size-strip: strip-unit($checkbox-size);
    $checkbox-checked-borderspace-strip: strip-unit($checkbox-checked-borderspace);


// +++ Numeric up and down
$num-updown-input-bg: $gray95;
$num-updown-button-color: $c-secondary;
//## hover
$num-updown-button-color-hover: shade($num-updown-button-color,18);
//## disabled
$num-updown-button-color-disabled: tint($num-updown-button-color,64);


// ++ Custom scroll
$custom-scroll-bar-background: $c-primary;
$custom-scroll-borderadius: 20px;
$custom-scroll-background: transparent;

$custom-scroll-lighten-bar-background: $gray90;

// ++ Loading
$overlay-background: rgba(#000,.7);

// ++ Tooltips
$tooltip-color: $c-primary;
$tooltip-fontsize: $f-size-xs;
$tooltip-bg: #fff;
$tooltip-border: $c-primary;
$tooltip-border-radius: $border-radius;
$tooltip-min-width: 200px;
$tooltip-max-width: 280px;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 12px;
$tooltip-arrow-width: 14px;
$tooltip-arrow-height: 8px;
$tooltip-arrow-color: $tooltip-border;
$tooltip-margin: 0;

// ++ Popover
$popover-fontsize:              $f-size-sm;
$popover-bg:                    $tooltip-bg;
$popover-header-bg:             darken($popover-bg, 3%) !default;
$popover-max-width:             $tooltip-max-width;
$popover-min-width:             $tooltip-min-width;
$popover-border-radius:         $tooltip-border-radius;
$popover-border-width:          1px;
$popover-border:                $tooltip-border;
$popover-arrow-width:           $tooltip-arrow-width;
$popover-arrow-height:          $tooltip-arrow-height;
$popover-arrow-outer-color:     $tooltip-border;
$popover-arrow-color:           $popover-bg;


// ++ Line break
$c-border: $gray60;

// ++ Modals
$modal-inner-border: $c-border;



// ++ Datepicker
$datepicker-background: #fff;
    // header
    $datepicker-title-fontsize: $f-size;
    $datepicker-title-color: #fff;
    $datepicker-close-fontsize: $f-size;
    // month
    $datepicker-month-color: #fff;
    $datepicker-month-background: $c-primary;
    $datepicker-month-fontsize: $f-size;
    $datepicker-month-arrows-color: #fff;
    $datepicker-month-arrows-color-hover: $datepicker-month-arrows-color;
    $datepicker-month-arrows-fontsize: 18px;
    // week days
    $datepicker-weekday-color: $c-primary;
    $datepicker-weekday-fontsize: $f-size;
    $datepicker-weekday-border:  $c-primary;
    // days
    $datepicker-days-color: $c-primary;
    $datepicker-days-fontsize: $f-size;
    $datepicker-days-background: $datepicker-background;
    $datepicker-days-border: $datepicker-days-background;
    // day selected
    $datepicker-days-color-selected: #fff;
    $datepicker-days-background-selected: $c-primary;
    $datepicker-days-border-selected: $datepicker-days-background-selected;
    // days: hover
    $datepicker-days-color--hover: $c-primary;
    $datepicker-days-background-hover: tint($c-primary,70%);
    $datepicker-days-border-hover: $datepicker-days-background-hover;
    // days: disabled
    $datepicker-days-color-disabled: $gray90;
    $datepicker-days-background-disabled: $datepicker-background;
    $datepicker-days-border-disabled: $datepicker-days-background-disabled;

// ++ Z-index
$alert-zindex:                  1071;
$button-scrolltop-zindex:       1070;
$modal-zindex:                  1064;
$header-sticky-zindex:          1064;
$modal-overlay-zindex:          1062;
$alert-fixed-zindex:            1062;
$overlay-zindex:                1050;
$summary-fixed-zindex:          1049;
$summary-fixed-button-zindex:   1049;
$search-fixed-zindex:           1049;
$header-fixed-zindex:           1051;
$summary-zindex:                1045;
$tooltip-zindex:                1044;
$popover-zindex:                1044;
$dropdown-zindex:               1044;
$weekslider-nav-zindex:            3;
$weekslider-zindex:                2;

// ++ Boxes
$box-pad: 24px;
$box-border: $c-border;
$box-background: #fff;
$box-light-background: $gray95;

$box-color-color: $c-primary;
$box-color-background: $c-secondary;

$box-color-darken-color: #fff;
$box-color-darken-background: $c-primary;

    //  +++ box table
    $boxtable-color: $c-primary;
    $boxtable-header-background: $gray60;
    $boxtable-body-background: $gray90;

$flightselect-height: 220px;

// ++ Tables
    // +++ search flight (sf)
        // header : return and outbound label + route
        //$sf-header-title-fontsize: $f-size-xlg;
        //$sf-header-label-fontsize: $sf-header-title-fontsize;

        $sf-main-text-color: $c-text;
        $sf-border-width: 3px;

        // col flight info
        $sf-colflight-background: $gray90;
        $sf-tablecell-background: #fff;

        // fares
        $fare-quantity: 3;
        $fare1-color: #fff;
        $fare1-background: $c-primary;
        $fare2-color: #fff;
        $fare2-background: $c-primary;
        $fare3-color: #fff;
        $fare3-background: $c-primary;

        // borders
        $sf-border-color: shade($sf-colflight-background, 8%);

        // prices
        $sf-price-fontsize: $f-size;
        $sf-price-selected-color: $c-primary;


        // COMPONENTS
        // + Multipanel
        
        // + Multisearch
        $multiple-search-width: 396px;
        $multiple-search-height: 476px;

        // -------
        // + Modules
        // -------

        // ++ Off-canvas
        $offcanvas-trigger-width: 46px;


        // ++ Booking steps
        $steps-color-active: $c-primary;
        $steps-color-done: $c-color1;
        $steps-color-disabled: #a3a3a3;

        // ++ Basket
        $c-basket-total-background: $gray60;

        // ++ Multipanel
        $multipanel-breakpoint: 640px;
        $multipanel-breakpoint-next: ($multipanel-breakpoint + 1);
        $multipanel-breakpoint-min: ($multipanel-breakpoint - 1);
        $multipanel-inner-pad: 42px;
        $multipanel-inner-pad-bottom: 58px;

// ++ Gloal Variables
$check-in-summary-horizontal-padding: 14px; //## change check-in-summary and checkboxes padding


// + Social media
// -------
$c-facebook: #3b5998;
$c-google: #4285f4;
$c-wechat: #7BB32E;
$c-weibo: #E21428;
$c-instagram: #7E399D;
$c-socialline: #18b006;
$c-instagram: $c-primary;
$c-twitter: #1da1f3;
$c-youtube: #ff0000;

// + Transitions
// -------
$t-caret-collapse: transform .18s ease; // to collapse item icon indicatorease; // to collapse item icon indicator

// + Box shadows (https://codepen.io/sdthornton/pen/wBZdXq)
$bs-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// + Grid Reset
$gl-backgroundColor1: #fff;
$gl-backgroundColor2: $c-primary;
$gl-backgroundColor3: $body-background;
$gl-gutter: 1rem;
$gl-gutter-vertical: 1rem;