@import 'import';

// ****************************************
//  SKY AIRLINES STYLES
//
// ****************************************
//
//    + Template
//    + Content layouts (ly-)
//        ++ image + text
//
// ****************************************

html,body {
    height: 100%;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    @include font-size($f-size);
    font-family: $f-body;
    color: $c-text;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: $body-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
a,
input,
textarea,
button,
select,
.button,
[role='button'] {
    &:focus { //## should be for accessibility
        // outline: 0;
        @include accessibility-outline;
    }
    &:focus:active {
        outline: 0;
    }
}
[tabindex='-1']:focus {
    outline: 0;
}
//## accessibility outline
// [data-whatinput='keyboard'] {
//     *:focus,
//     a:focus,
//     input:focus,
//     textarea:focus,
//     button:focus,
//     select:focus,
//     .button:focus,
//     [role='button']:focus {
//         @include accessibility-outline;
//     }
// }
// [data-whatinput='mouse'] {
//     a:focus,
//     input:focus,
//     textarea:focus,
//     button:focus,
//     select:focus,
//     .button:focus,
//     [role='button']:focus {
//         outline: none;
//     }
// }
button {
    color: inherit; // reduce css file size
}
a {
    text-decoration: none;
    color: $c-link;
    text-decoration: underline;
    cursor: pointer;
    &:hover,&:focus {
        color: $c-link-hover;
    }
    &:active {
        text-decoration: inherit;
    }
}
[role='button'] {
    cursor: pointer;
}

strong {
  font-weight: 600;
}

p {
    margin-bottom: 14px;
    &:last-child {
        margin-bottom: 0;
    }
    .backgroundColor2 & {
        color: #fff;
    }
}
sup, sub {
    font-size: .75em;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
sup {
    vertical-align: top;
    a {
        vertical-align: top;
    }
}
sub {
    vertical-align: bottom;
    a {
        vertical-align: bottom;
    }
}
fieldset {
    width: 100%;
}

.skip-main {
    z-index: -999;
    position: absolute;
    top: 6px;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:focus {
        @include accessibility-outline;
        @include font-size($f-size-sm);
        z-index: 999;
        left: 0;
        display: inline-block;
        width: auto;
        height: auto;
        text-align: center;
        color: $c-secondary;
        text-decoration: none;
        padding: 7px 20px;
        background-color: #fff;
    }
}

// + Template
// -------
.page-wrap {
    position: relative;
    min-height: 100%;
}
.content-wrap {
    position: relative;
    padding-bottom: 120px;
    @media #{$mobile} { // >=640px
        padding-bottom: 60px;
    }
}
.container {
    @include clearfix;
}

.content-wrap > .container-wrap {
    padding-top: 34px;
    .home-page & {
        padding-top: 0;
    }
}
.container-wrap {
    background-color: #fff;
}

.wrapper-center {
    width: 100%;
    margin: 0 auto;
    @media #{$tablet-portrait} { // >= 768px
        width: 748px;
    }
    @media #{$tablet-landscape} { // >= 992px
        width: 768px;
    }
}

// + Content layouts
// -------
// ++ content layout - image + text
.ly-image-text {
    position: relative;
    display: flex;
    .image-thumb {
        width: calc(100% - 30px);
        margin-right: 30px;
        border-radius: $border-radius;
        overflow: hidden;
        .image {
            display: block;
            width: 270px;
            border-radius: $border-radius;
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
    ul {
        margin: 10px 0;
    }
    p {
        margin: 7px 0;
    }
    p.small {
        @include font-size($f-size-sm);
    }
}
.ly-image-text_col {
    flex-basis: auto;
}
@media #{$until-mobile} {
    .ly-image-text {
        display: block;
        .image-thumb {
            position: relative;
            width: 100%;
            height: 102px;
            margin-right: 0;
            margin-bottom: 20px;
            .image {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.intro {
    @include font-size($f-size);
    margin: 18px 0 14px;
    color: $gray50;
    line-height: 1.3;
    @media #{$tablet-portrait}{ // >=768px
        margin-bottom: 40px;
    }
}
.footnote {
    @include font-size($f-size-xs);
    line-height: 1.2;
    text-align: left;
    a {
        text-decoration: underline;
    }
    .list-style1 {
        li { 
            margin: .4em 0;
        }
    }
}
.note-text {
    @include font-size($f-size-xs);
    display: block;
    margin: 2px 0 4px;
}

.headnote_wrap {
    padding: 14px 0;
    background: $c-primary;
}
.headnote {
    @extend .container-wrap;
    @include font-size(16px);
    color: #fff;
    font-weight: 600;
    text-align: center;
    background-color: inherit;

}
.smallnote {
    @include font-size($f-size-xs);
    padding: 7px 0;
    background-color: $gray95;
    text-align: center;
    .fares_list_extra-description {
        @include font-size($f-size-sm);
        margin-right: .5em;
    }
}
@media #{$tablet-portrait} { // >= 768px
    .headnote_wrap {
        padding: 14px 0;
    }
    .headnote {
        @include font-size(22px);
    }
}


// + Tabs pill convert to collapse when at small devices
// -------
// <ul class="tabs-pill">
//     <li>
//         <a role="button"
//             data-toggle="collapse"
//             href="#idName"
//             aria-expanded="true"
//             aria-controls="idName">
//             ...
//         </a>
//     </li>
// </ul>
// <div class="tabs-pill_content">
//     <a class="tabs-pill_trigger"
//         role="button"
//         data-toggle="collapse"
//         href="#idName"
//         aria-expanded="true"
//         aria-controls="idName">
//         <img class="method-logo-selected" src="{{ project_assets_path }}imgs/credit-card-white.svg" alt="Credit-Card-logo" title="Credit Card" />
//         <img class="method-logo" src="{{ project_assets_path }}imgs/credit-card-primary.svg" alt="Credit-Card-logo" title="Credit Card" />
//         ...
//     </a>
//     <div class="collapse" id="idName">
//     </div>
// </div>
// .tabs-pill_trigger {
//     color: $c-primary;
// }
// .tabs-pill {
//     @include custom-scroll(lighten);
//     display: flex;
//     width: 100%;
//     overflow: auto;
//     li {
//         display: inline-flex;
//         @include font-size($f-size);
//         margin-right: 24px;
//     }
//     a {
//         @extend .tabs-pill_trigger;
//         display: block;
//         height: 54px;
//         color: #fff;
//         line-height: 1;
//         padding: 12px 20px;
//         border-radius: 3px;
//         border: 1px solid $c-secondary;
//         background: $c-secondary;
//         box-sizing: border-box;

//         &.collapsed {
//             color: $c-primary;
//             border: 1px solid $c-primary;
//             background: #fff;
//         }
//     }
// }
// .tabs-pill_content {
//     .tabs-pill_trigger {
//         display: none;
//         display: none;
//         border-top-left-radius: 30px;
//         padding: 12px 28px;
//         margin-bottom: 7px;
//     }
// }
// @media #{$until-mobile}{// <=640px
//     .tabs-pill { display: none; }
//     .tabs-pill_content {
//         .tabs-pill_trigger {
//             display: flex;
//         }
//     }
// }


.show-more_link {
    float: right;
    margin-top: 16px;
    text-decoration: none;
}


//## more trigger, for read more text elements
// .moreinfo_trigger {
//     @include iconfont($icon-mascota2,after);
//     display: none;
//     @include font-size($f-size);
//     color: $c-primary;
//     &::after {
//         position: relative;
//         top: 2px;
//     }
//     &.collapsed {
//         &::after {
//             content: $icon-mascota2;
//         }
//     }
// }
// @media #{$until-mobile} { // <=768px
//     .moreinfo_trigger {
//         display: inline;
//         cursor: pointer;
//     }
// }

// ++ action icon links
// [class^="iconlink-"] { // generate hard specificity problem
//     color: $c-primary;
//     text-decoration: none;
//     line-height: 1;
//     &:hover {
//         color: darken($c-primary,10%);
//     }
// }
// .iconlink-mmb {
//     @include iconfont($icon-info,before);
// }
// .iconlink-payment {
//     @include iconfont($icon-info,before);
// }
// .iconlink-refund {
//     @include iconfont($icon-info,before);
// }
// .iconlink-password {
//     @include iconfont($icon-info,before);
// }
// .iconlink-close {
//     @include iconfont($icon-cerrar,before);
// }
// .iconlink-print {
//     @include iconfont($icon-printer,before);
// }

// .search-panel {
//     z-index: 2;
//     position: relative;
//     margin-top: -5em;
//     @media #{$until-tablet-portrait} { // <= 768px
//         margin-top: -2em;
//         .multiple-panel_item_content {
//             min-height: 0;
//             margin: 14px 0 0;
//         }
//     }
//     @media #{$until-mobile} { // <= 480px
//         .dates { display: none; }
//     }
// }
