// main: ../../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  PAYMENT
// ********************
//
//    + Payment methods
//    + Payment summary
//    + Payment confirmation
//
// ********************

@import "payment-methods";
@import "payment-details";
//@import "payment-partials";
//@import "payment-QR";


// + Payment methods
// -------
.payment_polices {
    margin-top: 22px;
    .ui-checkbox{
      a{
        text-decoration: underline;
        color: inherit;
      }
    }
}
@media #{$until-tablet-portrait}{// <=768px
    .payment_polices{
        display: none;
    }
}


// + Payment summary
// -------
.payment-summary {
    flex: 1 1 450px;   
    padding-left: $payment-summary-width-margin;
    .summary_journey {
        grid-template-columns: 1fr 1fr 1fr; 
        .summary_label {
            grid-column: 1/span 3;
            grid-row: 1;
        }
        .summary_route {
            grid-column: 1/span 3; 
            grid-row: 3;
        }
        .summary_date {
            grid-column: 1/span 3;
            grid-row: 2;
        }
        .summary_fare {
            grid-column: 1;
            grid-row: 4;
            text-align: left;
        }
        .summary_flight {
            grid-column: 2;
            grid-row: 4;
            text-align: left;
        }
    }
    table {
        width: 100%;
        tbody {
            @include font-size($f-size-md-sm);
            border-bottom: 2px solid $gray60;
            td{
                padding-bottom: 13px;
                &:first-child {
                    text-align: left;
                    font-weight: 400;
                }
                &:last-child {
                    text-align: right;
                    font-weight: 700;
                }
            }

        }
        tfoot {
            @include font-size($f-size-md-sm);
            text-align: right;
            line-height: 1;
            tr:first-child td {
                padding: 18px 0 9px;
                color: $c-primary;
            }
            tr:last-child td {
                @include font-size($f-size-md);
                font-family: $font-name;
                color: $c-secondary;
            }
        }
    }
}
.payment-summary_title {
    @extend .title-h3;
    text-align: left;
    margin-bottom: 28px;
}
@media #{$summary-not-collapsed} {
    .payment-page {
        .combined_summary_bar .summary {
            pointer-events: none;
        }
        .combined_summary_bar-right {
            position: relative;
            flex-basis: 50%;
            max-width: 50%;
            width: 50%;
            .summary_trigger {
                position: relative;
                top: 0;
                transform: none;
                &::after { display: none; }
            }
        }
        .summary_close_btn,
        .summary_total-bottom_wrap { display: none; }

        @media #{$desktop} {
            .combined_summary_bar-right {
                flex-basis: calc(100% / 3);
                max-width: calc(100% / 3);
                width: calc(100% / 3);
            }
            .summary_total_list {
                padding-left: 60px;
            }
        }
    }
}


// + Payment confirmation
// -------
.payment-confirmation {
    margin-top: $content-margin-top;
}