//## price component fontsize
$price-fontfamily: $f-body !default;
$price-currency-fontsize: .6em !default;
$price-currency-margin: 0 4px 0 0 !default;
$price-currency-fontweight: 400 !default;
$price-price-fontsize: 1em !default;
$price-price-fontweight: 600 !default;
$price-decimals-fontsize: $price-currency-fontsize !default;
$price-decimals-fontweight: 400 !default;
$price-decimals-lineheight: 1 !default;
$price-decimals-vertical-align: unset !default;
$price-from-fontsize: $price-decimals-fontsize !default;
$price-from-fontweight: 400 !default;

.price_currency {
	position: relative;
	display: inline-block;
	line-height: 1;
	font-family: $price-fontfamily;
	& > .currency {
		margin: $price-currency-margin;
	}
	.from {
		font-size: $price-from-fontsize;
		line-height: 1;
		font-weight: $price-from-fontweight;
	}
	.price {
		display: inline-block;
		font-size: $price-price-fontsize;
		line-height: 1;
		white-space: nowrap;
		font-weight: $price-price-fontweight;
	}
	.decimals {
		font-size: $price-decimals-fontsize;
		line-height: $price-decimals-lineheight;
		font-weight: $price-decimals-fontweight;
		vertical-align: $price-decimals-vertical-align;
	}
	.currency {
		font-size: $price-currency-fontsize;
		font-weight: $price-currency-fontweight;
		line-height: 1;
	}
}
