{% set page_title = {
    text: 'Cancel Flight',
    type: 'h3',
    class: 'h1'
} %}
{% include "partials/components/_page_title.njk" %}

<!-- SUMMARY -->
{# {% set isOWTrip = true %} #}
{% include "partials/components/IBE/summary/_booking_summary.njk" %}

<p>The cancellation flight cannot be undone.<br>You'll receive an email with vouchers in return.</p>
