// ********************
//  IBE COMPONENT
//
// ********************
//  CONTACT DATA
// ********************
//
//
// ********************

.contact_data {
    @include clearfix;
    margin: 14px 0 44px;
    .container {
        margin-top: 14px;
        @extend .form;
        @extend .columns-3;
    }
}
