// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAX (PASSENGER) SELECTOR
// ****************************************
//
//    + Status: notassigned, selected, assigned, current
//
// ****************************************
.pax-selector_title { display: none; }
.pax-selector_wrap {
    display: table;
    width: 100%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 44px;
    border-collapse: separate;
    border-spacing: 1px;
    background: #fff;
}
.service_segment_alert {
    @include font-size(14px);
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 4px 14px;
    margin-bottom: 20px;
    background-color: $c-color2;
}
.pax-selector_head, 
.pax-selector_item {
    display: table-row;
}

.pax-selector_head_label {
    display: table-cell;
    padding: 16px 12px;
    vertical-align: middle;
}

.pax-name,
.pax-seat {
    display: table-cell;
    padding: 12px;
}

.pax-selector_item {
    text-align: center;
    background: $gray98;
    cursor: pointer;
    &.current {
        .pax-name,
        .pax-seat {
            background: $gray90;
        }
    }
    &.selected {
        .pax-seat_reset {
            display: inline-block;
        }
    }
    &.current,
    &.selected {
        .pax-seat {
            color: $c-secondary;
        }
    }
}
.pax-seat_reset {
    @include iconfont($icon-cerrar,before);
    display: none;
    position: relative;
    z-index: 2;
    margin-left: 7px;
    cursor: pointer;
    &::before {
        @include font-size(14px);
    }
    &:hover {
        color: darken($c-secondary,14);
    }
}

.pax-selector_head_label {
    background: $c-primary;
    text-transform: uppercase;
    color: #fff;
    .icon {
        @include iconfont($icon-arrow-right, before);
        color: $c-color1;
    }
}

.pax-name {
    max-width: 300px;
}
.pax-seat {
    color: $gray90;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .pax-selector_item {
        &.current {
            .pax-seat {
                position: relative;
                @include iconfont($icon-arrow-right, after);
                &::after {
                    @include font-size($f-size-md-sm);
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $c-color1;
                }
            }
        }
    }
}






.seat_tabs_test {
    .pax-selector_title {
        display: block;
        @extend .title-h3;
        margin: 24px 14px 14px;
    }
    .seatmap {
        max-height: 500px;
    }
    .segment-selector_tab .icon {
        @include iconfont($icon-arrow-right,before);
        &::before {
            color: $c-color1;
        }
    }
    .pax-selector {
        background: #f7f7f7;
    }
    .pax-selector_item {
        display: block;
        border-bottom: 1px solid #fff;
        &:last-child {
            border: 0;
        }
    }
    .pax-selector_pax {
        display: flex;
        padding: 14px;
        &.current {
            background: #ddd;
            .pax-seat {
                color: $c-secondary;
                position: relative;
                @include iconfont($icon-arrow-right, after);
                &::after {
                    @include font-size($f-size-md-sm);
                    position: absolute;
                    right: -17px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $c-color1;
                }
            }
        }
        &.selected {
            .pax-seat_reset {
                display: inline-block;
            }
            .pax-seat {
                color: $c-secondary;
            }
        }
    }
    .pax-name,
    .pax-seat {
        font-weight: 500;
        padding: 0;
    }
    .pax-seat {
        width: 200px;
        text-align: left;
        margin-left: auto;
    }
    .pax-selector_pax.current .pax-seat::after {
        right: -35px;
    }
    .seatmap_legend {
        margin-top: 62px;
    }
}