// ********************
//  IBE COMPONENT
//
// ********************
//  PASSENGER DATA
// ********************
//
//
// ********************

.passenger_data {
    @include clearfix;
    margin: 14px 0 44px;
    .container {
        @extend .form;
        @extend .columns-4;
        margin-top: 14px;
        // @media #{$tablet-landscape} { // >=992px
        //     .ui-form_group {
        //         flex-basis: calc(100% / 4 - #{$form-horizontal-gutter-desktop});
        //     }
        // }
    }    
}
.passenger_data_block {
    @include clearfix; 
    margin-top: 14px;
}
.passenger_data_title {
    @extend .title-h2;
    @include handling-long-words;
    margin-bottom: 20px;
}
.passenger_label {
    @extend .fare-label;
    position: relative;
    top: -2px;
    min-width: 66px;
    text-align: left;
    color: #fff;
    background-color: $c-primary;
}
.passenger_name {
    font-weight: 700;
    @include font-size($f-size-md-sm);
    padding-left: 10px;        
}
.passenger_data_subtitle {
    @extend .title-h3;
    padding-top: 24px;
    margin: 0;
}
