// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LOGIN FORM
// ****************************************
//
//    + Login-form
//    + Login-form vertical
//    + login-social
//
// ****************************************


// + Login-form
// -------
.login-form {
    margin: 16px 0;
    @media #{$tablet-landscape} { // >= 992px
        margin-right: 10%;
        margin-left: 10%;
    }
}