// ****************************
//  VARIABLES
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-background-color.
//
// ****************************
//
//    + Breakpoints
//    + Media queries
//    + Grid gutter variations
//
//    + Paths
//    + Typography
//        ++ Fonts size
//    + Colors
//
//    + Layout
//        ++ Header
//        ++ Footer
//
//    + Modules
//        ++ Booking steps
//        ++ Summary (basket)
//        ++ Multipanel
//
//    + Components
//      ++ Buttons
//          +++ button primary
//          +++ button secondary
//          +++ button action
//          +++ button clear light
//          +++ button white
//      ++ Loading
//      ++ Tooltips
//      ++ Line break
//      ++ Modals
//      ++ Form elements
//          +++ checkbox
//      ++ Datepicker
//      ++ Z-index
//      ++ Boxes
//      ++ Tables
//            +++ search flight
//                fares
//                borders
//                prices
//
// ****************************************

// + Container 
$container-max-width-px: 1200px;
$container-max-width: calculateRem($container-max-width-px);

// + Breakpoints
// -------
//## mobile
$bp-mobile-small: 480px;
$bp-mobile-small-max: 479px;
$bp-mobile: 640px;
$bp-mobile-max: 639px;
$bp-mobile-min: 481px;
//## tablet
$bp-tablet-portrait: 768px;
$bp-tablet-portrait-max: 767px;
$bp-tablet-portrait-min: 641px;
$bp-tablet-landscape: 992px;
$bp-tablet-landscape-max: 991px;
$bp-tablet-landscape-min: 769px;
//## desktop
$bp-desktop: 1200px;
$bp-desktop-max: 1199px;
$bp-desktop-min: 993px;


// + Media queries
// -------
$mobile-sm: '(min-width: #{$bp-mobile-small})';                  // >=480px
$mobile: '(min-width: #{$bp-mobile})';                           // >=640px
$tablet-portrait: '(min-width: #{$bp-tablet-portrait})';         // >=768px
$tablet-landscape: '(min-width: #{$bp-tablet-landscape})';       // >=992px
$desktop: '(min-width: #{$bp-desktop})';                         // >=1200px

$until-mobile-sm: '(max-width: #{$bp-mobile-small})';            // <=480px
$until-mobile: '(max-width: #{$bp-mobile})';                     // <=640px
$until-tablet-portrait: '(max-width: #{$bp-tablet-portrait})';   // <=768px
$until-tablet-landscape: '(max-width: #{$bp-tablet-landscape})'; // <=992px

// ++ Navigation breakpoint
$header-nav-breakpoint-collapsed: $until-tablet-portrait;


// + Grid gutter variations
// -------
//## default grid gutter 20px
$gutter: 14px;
$gutter-desktop: 24px;

$gutter-sides: $gutter;
$gutter-sides-desktop: $gutter-desktop;

// Form inputs gutter
$form-horizontal-gutter: 20px; // mobile <= 992px
$form-horizontal-gutter-desktop: 30px;
$form-vertical-gutter: 34px;


// + Paths
// -------
// paths variables goes at core/globals/_variables


// + Typography
// -------
$font-name:             'Roboto', sans-serif;
$font-filename:         $font-name;
$font-sanserif:         'Roboto', sans-serif;
$font-icon-name:        'Paranair-icons';

$f-body:    $font-sanserif;
$f-title:   $font-name, sans-serif;
$f-icons:   $font-icon-name;
$f-button:  $f-title;
// + Fonts size footnote
$f-footnote: 12px;


// ++ Fonts size
$f-size-xs:    12px;
$f-size-sm:    14px;
$f-size:       16px;
$f-size-md-sm: 20px;
$f-size-md:    22px;
$f-size-lg: 26px;
$f-size-xlg:   28px;
$f-size-xxlg:  34px;
$f-size-super: 40px;
//## icons size
$f-iconsize: 20px;
$f-iconsize-md: 36px;
$f-iconsize-lg: 48px;
$f-iconsize-xlg: 60px;
$f-iconsize-super: 70px;

//## headings
$f-size-h1: $f-size-super;         // 44px
$f-size-h1-mobile: $f-size-xlg;    // 28px
$f-size-h2: $f-size-lg;         // 26px
$f-size-h2-mobile: $f-size-md;     // 22px
$f-size-h3: $f-size-md-sm;         // 20px
$f-size-h3-mobile: $f-size;        // 16px
$f-size-h4: $f-size;               // 16px


// + Colors
// -------
//## principal colours
$c-primary:         #0037a2;
$c-primary-dark:    #001e59;
$c-secondary:       #cd1025;
$c-secondary-dark:  #8c0b1a;
$c-color1:    #838ea3;    // gray
$c-color2:    #e6e8ed;    // light gray
$c-color3:    #f5f4f3;    // lighter gray

//## gray scale
$gray0:                       #000;
$gray30:                      #333;
$gray50:                      #666;
$gray60:                      #999;
$gray65:                      #ddd;
$gray70:                      #ccc;
$gray80:                      #ddd;
$gray90:                      #eee;
$gray95:                      #f3f3f3;
$gray98:                      #f7f7f7;
$gray100:                     #fff;

//## alerts
$c-info:      $c-primary;       // purple
$c-warning:   #f9a91f;        // orange
$c-error:     $c-secondary;     // red
$c-success:   #86bc32;        // green

$c-text: $c-primary-dark;
$c-text-lighten: tint($c-text, 40%);
$c-title-h1: $c-primary;
$c-title-h2: $c-secondary;

$c-link: $c-primary;
$c-link-hover: lighten($c-link, 18%);

$border-radius: 4px;
$border-radius-large: 28px;

$disabled-opacity: .5;


// + Layout
// -------
$body-background: #fff;
// ++ Header
$header-logo-width: 120px;
$header-fontsize: $f-size-sm; // 16px
$header-background: #fff;
$header-links-color: $c-primary;
// +++ corporative header
$main-header-height: 90px;
$main-header-fixed-height-onscroll: 60px;
$main-header-mobile-height: 50px;
$header-transitions: all .2s linear;
$main-header-banner-max-width: 1500px;

// ++ Footer
$footer-logo-width: 145px;
$footer-fontsize: $f-size-sm; // 14px
$footer-color: #fff;
$footer-background: $c-primary-dark;
$mainfooter-background: $c-color3;

$content-margin-top: 44px;

// ++ Search
$combinedbar-height: 65px;
$search-fixed-animation: .4s forwards;
$search-background: $c-primary-dark;

// + Summary
$summary-collapsed: '(max-width: 767px)'; // <768px
$summary-not-collapsed: '(min-width: 768px)'; // >=768px

$summary-opened-width: 610px;
$summary-slideup-anima: .2s ease-in-out;
$summary-background: $c-secondary;
$summary-header-title-color: #fff;
$summary-header-title-fontsize: $f-size;
$summary-header-title-background: $c-secondary;
$summary-total-background: tint($summary-background, 17%);
$summary-lines-color: $c-secondary;
$summary-more-background: $gray95;
$summary-discount-color: $c-secondary;
$summary-pad: 34px;
$summary-body-background: #fff;
$summary-lr-pad: 3%;
$summary-lr-pad-sm: 2%;
$summary-lr-pad-oneway: 14%;
$summary-lr-pad-oneway-sm: 6%;
$summary-lr-pad-noextras: 14%;
$summary-lr-pad-noextras-sm: 7%;
$summary-lr-pad-oneway-noextras: 28%;
$summary-lr-pad-oneway-noextras-sm: 22%;

// + Payment summary
$payment-summary-width: 264px;
$payment-summary-width-margin: 34px;
$payment-summary-aside-div-width: calc(100% - (#{$payment-summary-width} + #{$payment-summary-width-margin}));


// + UI-ELEMENTS
// -------
$accessibility-outline-color: blue;
// ++ Buttons
$button-fontfamily: $f-button;
$button-fontsize: $f-size; // 16px
$button-boxshadow: inset 0 0 0 1px;
    // +++ button action
    $btn-action-color: #fff;
    $btn-action-bg: $c-secondary;
    $btn-action-border: $btn-action-bg;

    // +++ button primary
    $btn-primary-color: #fff;
    $btn-primary-bg: $c-primary;
    $btn-primary-border: $btn-primary-bg;

    // +++ button secondary
    $btn-secondary-color: $c-primary;
    $btn-secondary-bg: $gray95;
    $btn-secondary-border: $c-primary;

    // button inverse
    $btn-inverse-color: $c-primary;
    $btn-inverse-bg: #fff;
    $btn-inverse-border: $btn-inverse-bg;
    $btn-inverse-bg-hover: $btn-inverse-bg;
    $btn-inverse-border-hover: $btn-inverse-bg-hover;

    // button light
    $btn-light-color: $c-primary;
    $btn-light-bg: #fff;
    $btn-light-border: $btn-light-color;
    $btn-light-bg-hover: $btn-light-bg;

    // buttons: disabled
    $button-disabled-color: #bbb;
    $button-disabled-background: #ddd;
    $button-disabled-border: $button-disabled-background;


// ++ Form elements
// +++ Labels
$label-family: $f-title;
$label-fontsize: $f-size;
$label-color: $c-color1;
// +++ Input
$input-height: 30px;
$input-fontfamily: $font-sanserif;
$input-fontsize: $f-size; // 16px
$input-color: $c-text;
$input-icon-color: $c-primary;
$input-margin-bottom: 20px;
$input-border-color: $gray60;
$input-border-width: 0 0 1px 0;
$input-border-bottom-color: $gray60;
$input-background: transparent;
$input-border-radius: #{$border-radius} #{$border-radius} 0 0;
$input-tb-pad: 6px;  // top bottom
$input-lr-pad: 8px; // left right
$input-color-placeholder: $c-color1;
$input-multiple-border-div: $c-primary;

$input-transition: ease-out .2s;
$ui-input_left-space: 14px;
$input-border-bottom-focus-shadow: 0 1px 0 0 $c-primary; // use box shadow to allow animation, border bottom 2px not animate
$ui-input_icon-left-space: 34px;

    //## hover
    $input-border-color-hover: $c-primary-dark;
    $input-background-hover: $input-background;
    //## focus
    $input-border-color-focus: $input-border-color-hover;
    $input-border-bottom-color-focus: $c-secondary;
    //## disabled
    $input-opacity-disabled: .6;
    $input-color-disabled: $input-color-placeholder;
    $input-border-colorcolor-disabled: $c-color2;
    $input-background-disabled: $input-background;
    //## has error
    $input-error-border: $c-secondary;
    //## readonly
    $input-color-label-readonly: $c-primary;
    $input-color-readonly: $c-primary;
    $input-border-colorcolor-readonly: $c-color2;

// +++ Select (dropdown)
$dropdown-arrow-icon: $icon-arrow-triangle-down;
$dropdown-arrow-color: $c-primary;
$dropdown-arrow-fontsize: $f-size;
$dropdown-item-color: $c-text;
$dropdown-item-background: #fff;
$dropdown-item-color-hover: $dropdown-item-color;
$dropdown-item-background-hover: $gray90;
$dropdown-arrow-color-disabled: $gray60;

// +++ Validations
$ui-input-message-fontsize: $f-size-xs;


// +++ Checkbox
$checkbox-size: 18px;
$checkbox-border: $input-border-color;
$checkbox-radius: 2px;
$checkbox-background: #fff;
$checkbox-checkicon: $icon-check;
$checkbox-checkicon-size: 14px;
$ui-checkbox-fontsize: 14px;
$ui-checkbox-label-color: $c-text;
$checkbox-checked-bordersize: 4px;
$checkbox-checked-bordercolor: #fff;
$checkbox-inline-margin: 30px;
$checkbox-border-radius: 0;

    //## ripple effect
    $checkbox-ripple-scale: 3;
    $checkbox-ripple-mid-scale: $checkbox-ripple-scale - 1;
    $checkbox-ripple-background: rgba($c-primary-dark, .2);

    //## hover
    $checkbox-bordercolor-hover: $input-border-color-hover;
    //## checked
    $checkbox-checked-size: ($checkbox-size - 6);
    $checkbox-checked-color: $c-primary;
    $checkbox-checked-background: #fff;
    $checkbox-checked-bordercolor: $c-primary;
    $checkbox-checked-borderspace: 4px;
    $checkbox-checked-borderspace-color: #fff;

    $checkbox-size-strip: strip-unit($checkbox-size);
    $checkbox-checked-borderspace-strip: strip-unit($checkbox-checked-borderspace);


// +++ Numeric up and down
$num-updown-input-bg: $gray95;
$num-updown-button-color: $c-primary;
//## hover
$num-updown-button-color-hover: darken($c-primary,14);
//## disabled
$num-updown-button-color-disabled: tint($gray60,36%);


// ++ Custom scroll
$custom-scroll-bar-background: $c-primary;
$custom-scroll-borderadius: 20px;
$custom-scroll-background: transparent;

$custom-scroll-lighten-bar-background: $gray90;

// ++ Loading
$overlay-background: rgba($c-primary-dark,.4);

// ++ Tooltips
$tooltip-color: $c-primary;
$tooltip-fontsize: $f-size-xs;
$tooltip-bg: $gray95;
$tooltip-border: $c-primary;
$tooltip-border-radius: $border-radius;
$tooltip-min-width: 200px;
$tooltip-max-width: 280px;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 12px;
$tooltip-arrow-width: 14px;
$tooltip-arrow-height: 8px;
$tooltip-arrow-color: $tooltip-border;
$tooltip-margin: 0;

// ++ Popover
$popover-fontsize:              $f-size-sm;
$popover-bg:                    $tooltip-bg;
$popover-header-bg:             darken($popover-bg, 3%) !default;
$popover-max-width:             $tooltip-max-width;
$popover-min-width:             $tooltip-min-width;
$popover-border-radius:         $tooltip-border-radius;
$popover-border-width:          1px;
$popover-border:                $tooltip-border;
$popover-arrow-width:           $tooltip-arrow-width;
$popover-arrow-height:          $tooltip-arrow-height;
$popover-arrow-outer-color:     $tooltip-border;
$popover-arrow-color:           $popover-bg;


// ++ Line break
$c-border: $gray60;

// ++ Modals
$modal-inner-border: $c-border;



// ++ Datepicker
$datepicker-background: #fff;
    // header
    $datepicker-title-fontsize: $f-size;
    $datepicker-title-color: #fff;
    $datepicker-close-fontsize: $f-size;
    // month
    $datepicker-month-color: #fff;
    $datepicker-month-background: $c-primary;
    $datepicker-month-fontsize: $f-size;
    $datepicker-month-arrows-color: #fff;
    $datepicker-month-arrows-color-hover: $datepicker-month-arrows-color;
    $datepicker-month-arrows-fontsize: 18px;
    // week days
    $datepicker-weekday-color: $c-primary;
    $datepicker-weekday-fontsize: $f-size;
    $datepicker-weekday-border:  $c-primary;
    // days
    $datepicker-days-color: $c-primary;
    $datepicker-days-fontsize: $f-size;
    $datepicker-days-background: $datepicker-background;
    $datepicker-days-border: $datepicker-days-background;
    // day selected
    $datepicker-days-color-selected: #fff;
    $datepicker-days-background-selected: $c-primary;
    $datepicker-days-border-selected: $datepicker-days-background-selected;
    // days: hover
    $datepicker-days-color--hover: $c-primary;
    $datepicker-days-background-hover: tint($c-primary,70%);
    $datepicker-days-border-hover: $datepicker-days-background-hover;
    // days: disabled
    $datepicker-days-color-disabled: $gray90;
    $datepicker-days-background-disabled: $datepicker-background;
    $datepicker-days-border-disabled: $datepicker-days-background-disabled;

// ++ Z-index
$alert-zindex:                  1270;
$modal-zindex:                  1264;
$header-sticky-zindex:          1264;
$modal-overlay-zindex:          1262;
$alert-fixed-zindex:            1262;
$tooltip-zindex:                1158;
$language-dropdown-zindex:      1156;
$summary-fixed-zindex:          1155;
$overlay-zindex:                1150;
$summary-fixed-button-zindex:   1049;
$search-fixed-zindex:           1049;
$header-fixed-zindex:           1048;
$popover-zindex:                1044;
$dropdown-zindex:               1044;
$summary-zindex:                1040;
$button-scrolltop-zindex:       1030;
$main-header-wrap-zindex:          4;
$weekslider-nav-zindex:            3;
$weekslider-zindex:                2;

// ++ Boxes
$box-pad: 24px;
$box-border: $c-border;
$box-background: #fff;
$box-light-background: $gray95;

$box-color-color: $c-primary;
$box-color-background: $c-secondary;

$box-color-darken-color: #fff;
$box-color-darken-background: $c-primary;

    //  +++ box table
    $boxtable-color: $c-primary;
    $boxtable-header-background: $gray60;
    $boxtable-body-background: $gray90;

$flightselect-height: 220px;

// ++ Tables
    // +++ search flight (sf)
        // header : return and outbound label + route
        //$sf-header-title-fontsize: $f-size-xlg;
        //$sf-header-label-fontsize: $sf-header-title-fontsize;

        $sf-main-text-color: $c-text;
        $sf-border-width: 3px;

        // col flight info
        $sf-colflight-background: $gray90;
        $sf-tablecell-background: #fff;

        // fares
        $fare-quantity: 3;
        $fare1-color: #fff;
        $fare1-background: $c-primary;
        $fare2-color: #fff;
        $fare2-background: $c-primary-dark;
        $fare3-color: #fff;
        $fare3-background: $c-secondary-dark;

        // borders
        $sf-border-color: shade($sf-colflight-background, 8%);

        // prices
        $sf-price-fontsize: $f-size;
        $sf-price-selected-color: $c-primary;


        // COMPONENTS
        // + Multipanel
        $multipanel-datepicker-width: 358px;
        $multipanel-datepicker-height: 386px;
        $multipanel-width: 536px;
        $multipanel-carousel-width: ($multipanel-width + $multipanel-datepicker-width + 10);

        // Carousels
        $carousel-captions-background: rgba(#011d3e,.87);
        $blur: 2px;
        $margin-default: 24px;

        // -------
        // + Modules
        // -------

        // ++ Off-canvas
        $offcanvas-trigger-width: 46px;


        // ++ Booking steps
        $steps-color-active: $c-primary;
        $steps-color-done: $c-color1;
        $steps-color-disabled: #a3a3a3;

        // ++ Basket
        $c-basket-total-background: $gray60;

        // ++ Multipanel
        $multipanel-breakpoint: 640px;
        $multipanel-breakpoint-next: ($multipanel-breakpoint + 1);
        $multipanel-breakpoint-min: ($multipanel-breakpoint - 1);
        $multipanel-inner-pad: 42px;
        $multipanel-inner-pad-bottom: 58px;

// ++ Gloal Variables
$check-in-summary-horizontal-padding: 14px; //## change check-in-summary and checkboxes padding


// + Social media
// -------
$c-facebook: #3B5998;
$c-wechat: #7BB32E;
$c-weibo: #E21428;
$c-instagram: #7E399D;
$c-socialline: #18b006;
$c-instagram: $c-primary;
$c-weibo: #000;
$c-twitter: #1da1f3;


// + Transitions
// -------
$t-caret-collapse: transform .18s ease; // to collapse item icon indicatorease; // to collapse item icon indicator


// + Grid Reset
$gl-backgroundColor1: $c-color3;
$gl-backgroundColor2: $c-color2;