@import 'import';

// ****************************************
//  PARANAIR STYLES
//
// ****************************************
//
//    + Template
//    + Content layouts (ly-)
//        ++ image + text
//
// ****************************************

html,body { 
	height: 100%;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	@include font-size($f-size);
	font-family: $f-body;
	color: $c-text;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	min-width: 320px;
	background-color: $body-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
a,
input,
textarea,
button,
select,
.button,
[role='button'] {
	&:focus { //## should be for accessibility
		// outline: 0;
		@include accessibility-outline;
	}
	&:focus:active {
		outline: 0;
	}
}
[tabindex='-1']:focus {
	outline: 0;
}
//## accessibility outline
// [data-whatinput='keyboard'] {
//     *:focus,
//     a:focus,
//     input:focus,
//     textarea:focus,
//     button:focus,
//     select:focus,
//     .button:focus,
//     [role='button']:focus {
//         @include accessibility-outline;
//     }
// }
// [data-whatinput='mouse'] {
//     a:focus,
//     input:focus,
//     textarea:focus,
//     button:focus,
//     select:focus,
//     .button:focus,
//     [role='button']:focus {
//         outline: none;
//     }
// }
button {
	color: inherit; // reduce css file size
}
a {
	color: $c-link;
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		color: $c-link-hover;
	}
	&:active {
		text-decoration: inherit;
	}
	.icon { text-decoration: none; }
}
[role='button'] {
	cursor: pointer;
}

strong {
  font-weight: 600;
}

p {
	margin-bottom: 14px;
	&:last-child {
		margin-bottom: 0;
	}
}
sup, sub {
	font-size: .75em;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
sup {
	vertical-align: top;
	a {
		vertical-align: top;
	}
}
sub {
	vertical-align: bottom;
	a {
		vertical-align: bottom;
	}
}
fieldset {
	width: 100%;
}

.skip-main {
	z-index: -999;
	position: absolute;
	top: 6px;
	left: -999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	&:focus {
		@include accessibility-outline;
		@include font-size($f-size-sm);
		z-index: 999;
		left: 0;
		display: inline-block;
		width: auto;
		height: auto;
		text-align: center;
		color: $c-secondary;
		text-decoration: none;
		padding: 7px 20px;
		background-color: #fff;
	}
}

// + Template
// -------
$page-wrap-fixed-header-top-space: $main-header-height + 30;
$page-wrap-fixed-header-top-space-mobile: $main-header-mobile-height+ 30;
.page-wrap {
	position: relative;
	min-height: 100vh;

	@media #{$tablet-portrait} { // >=768px
		.fixed-header & {
			.main-header {
				z-index: $header-sticky-zindex;
				position: fixed;
				top: 0;
			}
		}
	}
}
.content-wrap {
	position: relative;
	padding: 0 0 20px;
	@media #{$tablet-portrait} {
		padding: 0 0 342px; // ng-style variable value
	}
}
.ibe-page {
	.content-wrap {
		padding-bottom: 90px;
	}
}

.container {
	@include clearfix;
}

.wrapper-center {
	width: 100%;
	margin: 0 auto;
	@media #{$tablet-portrait} { // >= 768px
		width: 748px;
	}
	@media #{$tablet-landscape} { // >= 992px
		width: 768px;
	}
}

// + Fixed header
// -------
.fixed-header {
	.page-wrap {
		min-height: calc(100vh - #{$page-wrap-fixed-header-top-space});
		padding-top: $page-wrap-fixed-header-top-space;
		@media #{$until-tablet-portrait} { // <= 768px
			min-height: calc(100vh - #{$page-wrap-fixed-header-top-space-mobile});
			padding-top: $page-wrap-fixed-header-top-space-mobile;
		}
	}
	&.home-page {
		.page-wrap {
			padding-top: $main-header-mobile-height;
			@media #{$tablet-portrait} { // >=768px
				padding-top: $main-header-height;
			}
		}
	}
	.alert {
		display: none;
	}
	// .main-header {
	// 	z-index: $header-sticky-zindex;
	// 	position: fixed;
	// 	top: 0;
	// 	// @media #{$header-nav-breakpoint-collapsed} { // <= 768px
	// 	// 	position: absolute;
	// 	// }
	// }
}

// + Content layouts
// -------
// ++ content layout - image + text
.ly-image-text {
	position: relative;
	display: flex;
	.image-thumb {
		width: calc(100% - 30px);
		margin-right: 30px;
		border-radius: $border-radius;
		overflow: hidden;
		.image {
			display: block;
			width: 270px;
			border-radius: $border-radius;
		}
	}
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
	ul {
		margin: 10px 0;
	}
	p {
		margin: 7px 0;
	}
	p.small {
		@include font-size($f-size-sm);
	}
}
.ly-image-text_col {
	flex-basis: auto;
}
@media #{$until-mobile} {
	.ly-image-text {
		display: block;
		.image-thumb {
			position: relative;
			width: 100%;
			height: 102px;
			margin-right: 0;
			margin-bottom: 20px;
			.image {
				position: absolute;
				width: 100%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}

.intro {
	margin: 18px 0 14px;
	line-height: 1.3;
	@media #{$tablet-portrait}{
		margin-bottom: 40px;
	}
}
.footnote {
	@include font-size($f-footnote);
	line-height: 1.2;
	text-align: left;
	a {
		text-decoration: underline;
	}
	.list-style1 {
		li { 
			margin: .4em 0;
		}
	}
}
.note-text {
	@include font-size($f-footnote);
	display: block;
	margin: 2px 0 4px;
}

// + Tabs pill convert to collapse when at small devices
// -------
// .tabs-pill_trigger {
//     color: $c-primary;
// }
// .tabs-pill {
//     @include custom-scroll(lighten);
//     display: flex;
//     width: 100%;
//     overflow: auto;
//     li {
//         display: inline-flex;
//         @include font-size($f-size);
//         margin-right: 24px;
//     }
//     a {
//         @extend .tabs-pill_trigger;
//         display: block;
//         height: 54px;
//         color: #fff;
//         line-height: 1;
//         padding: 12px 20px;
//         border-radius: 3px;
//         border: 1px solid $c-secondary;
//         background: $c-secondary;
//         box-sizing: border-box;

//         &.collapsed {
//             color: $c-primary;
//             border: 1px solid $c-primary;
//             background: #fff;
//         }
//     }
// }
// .tabs-pill_content {
//     .tabs-pill_trigger {
//         @include title-bar($c-secondary);
//         display: none;
//         display: none;
//         border-top-left-radius: 30px;
//         padding: 12px 28px;
//         margin-bottom: 7px;
//         &.collapsed {
//             @include title-bar($gray95);
//         }
//     }
// }
// @media #{$until-mobile}{// <=640px
//     .tabs-pill { display: none; }
//     .tabs-pill_content {
//         .tabs-pill_trigger {
//             display: flex;
//         }
//     }
// }

//## icon links
.iconlink-download {
	display: flex;
	width: auto;
	align-items: center;
	.icon {
		@include iconfont($icon-download);
		margin: 0 4px;
	}
}

//## show more
.show-more_link {
	@include iconfont($icon-arrow-right, after);
	float: right;
	margin-top: 17px;
	text-decoration: none;
	&::after { //## arrow icon
		margin-left: .2em;
		font-size: 1.2em;
		color: $c-secondary;
		vertical-align: middle;
	}
}
