// ********************
//  IBE COMPONENT
//
// ********************
//  DAY SELECTOR
// ********************
//
//  + States
//      selected, disabled, noflights, bestprice, soldout
//
// ********************

$dayselector-slide-border: $gray60;
$dayselector-slide-border-width: 2px;
$dayselector-text-color: $c-text;
$dayselector-slide-background: transparent;
$dayselector-slide-selected-color: $c-secondary;
$dayselector-slide-selected-background: #fff;

// hover
$dayselector-text--hover: $c-primary;
$dayselector-slide-background--hover: tint($c-primary,82%);

// prev-next
$dayselector-arrows-size: 24px;
$dayselector-arrows-color: $c-primary-dark;
$dayselector-arrows-color--hover: $dayselector-arrows-color;
$dayselector-arrows-background: #fff;

$dayselector-fontfamily: $f-title;

$dayselector-week-fontsize: $f-size;
$dayselector-week-fontsize-sm: $f-size - 2;
$dayselector-date-fontsize: $f-size-md-sm;
$dayselector-price-color: $c-text;
$dayselector-price-fontsize: $f-size-md-sm;
$dayselector-price-color--hover: $dayselector-text--hover;
$dayselector-bestprice-color: $c-secondary;

$dayselector-layout-padding: 14px;
$dayselector-slider-height: 96px;
$dayselector-slider-height-mobile: 124px;

$slider-control-width: 24px;
$slider-control-btn-position: 8px;

.dayselector {
    position: relative;
    margin: 0 -#{$gutter-sides};
    &::after { //## week selector background
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(#{$dayselector-slider-height-mobile} - #{$dayselector-layout-padding});
        background: $c-color3;
    }
}
.dayselector_slider {
    @include clearfix;
    z-index: $weekslider-zindex;
    position: relative;
    width: 100%;
    height: $dayselector-slider-height-mobile;
    margin: 0;
    transition-duration: 0s;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    
    .slider {
        z-index: 2;
        display: flex;
        width: calc(100% - (#{$slider-control-width} * 2));
        height: 100%;
        margin: auto;
        overflow: hidden;
    }
    .slide {
        $days: 3;
        position: relative;
        flex: 0 0 auto;
        width: calc(100% / #{$days});
        min-width: 90px;
        max-width: 192px;
        height: 100%;
        padding-bottom: $dayselector-layout-padding;
        box-sizing: border-box;
        &:hover {
            .slide-item {
                color: $dayselector-text--hover;
                .dayselector_price {
                    color: $dayselector-price-color--hover;
                }
            }
        }
        &.disabled,
        &.selected.disabled {
            .slide-item {
                color: $c-text-lighten;
                cursor: default;
                pointer-events: none;
                .dayselector_price {
                    color: $c-text-lighten;
                    .price {
                        font-weight: normal;
                    }
                }
            }
            &:hover {
                .slide-item {
                    color: $c-text-lighten;
                }
            }
        }
        &.selected {
            &::after { //## arrow down when day is selected
                @include iconfont($icon-arrow-triangle-down,null);
                @include font-size(20px);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                color: $c-secondary;
            }
            &.disabled {
                &:hover {
                    .slide-item {
                        color: $c-text-lighten;
                    }
                }
            }
            .slide-item {
                z-index: 2;
                color: $dayselector-slide-selected-color;
                margin-left: 0;
                .dayselector_price {
                    color: $dayselector-slide-selected-color;
                }
            }
        }
        &.day_bestprice {
            &:hover {
                .slide-item {
                    .dayselector_price {
                        color: $dayselector-bestprice-color;
                    }
                }
            }
        }
        &:nth-child(3),
        &:last-child {
            .slide-item::after { display: none; }
        }
    }
    .slide-item {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        white-space: nowrap;
        color: $dayselector-text-color;
        text-decoration: none;
        padding: 12px 6px;
        margin-left: 1px;
        box-sizing: border-box;
        cursor: pointer;
        transform: all .06s linear;
        &::after {  //## slide item division line
            z-index: 2;
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: 24px;
            background: $dayselector-slide-border;
            transform: translateY(-50%);
        }
        &:focus {
            @include accessibility-outline;
            outline-offset: -3px;
        }
    }
    .slider_control_btn {
        @include font-size($dayselector-arrows-size);
        z-index: $weekslider-nav-zindex;
        position: absolute;
        top: 0;
        width: $slider-control-width;
        height: calc(#{$dayselector-slider-height-mobile} - #{$dayselector-layout-padding});
        color: $dayselector-arrows-color;
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: $dayselector-arrows-color--hover;
        }
        &:focus {
            @include accessibility-outline;
            outline-offset: -2px;
        }
        &.prev {
            @include iconfont($icon-arrow-triangle-left,before);
            left: 0;
            justify-content: flex-start;
        }
        &.next {
            @include iconfont($icon-arrow-triangle-right,before);
            right: 0;
            justify-content: flex-end;
        }
    }
}
.dayselector_date {
    @include font-size($dayselector-week-fontsize-sm);
    position: relative;
    z-index: 2;
    display: block;
    .year,
    .month,
    .week,
    .date {
      line-height: 1.4;
    }
    .week,.date { display: block; }
}
.dayselector_price {
    @include font-size($dayselector-price-fontsize - 4);
    z-index: 2;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    margin-top: 8px;
    .currency,
    .price { white-space: nowrap; }
    .currency {
        @include font-size($dayselector-price-fontsize - 8);
        display: block;
        text-align: right;
        line-height: .9;
    }
    .price {
        font-weight: 600;
    }
    @media #{$mobile} { // >= 640px
        @include font-size($dayselector-price-fontsize - 2);
    }
    @media #{$tablet-portrait} { // >= 768px
        @include font-size($dayselector-price-fontsize);
    }
}


// [Responsive]
@media #{$mobile} { // >=640px
    .dayselector {
        margin: 0;
        &::after { //## week selector background
            height: calc(#{$dayselector-slider-height} - #{$dayselector-layout-padding});
            border-radius: 200px;
        }
    }
    .dayselector_date {
        @include font-size($dayselector-week-fontsize);
    }
    .dayselector_slider {
        height: $dayselector-slider-height;
        .slider {
            height: $dayselector-slider-height;
        }
        .slide {
            $days: 5;
            width: calc(100% / #{$days});
            max-width: 189px;
            min-width: 90px;
            &:nth-child(3) {
                .slide-item::after { display: block; }
            }
            &:nth-child(5) {
                .slide-item::after { display: none; }
            }
        }
        .slider_control_btn {
            height: calc(#{$dayselector-slider-height} - #{$dayselector-layout-padding});
            &.prev {
                left: $slider-control-btn-position;
            }
            &.next {
                right: $slider-control-btn-position;
            }
        }
    }
}
@media #{$tablet-portrait} { // >=768px
    .dayselector_options { display: block; }
}
@media #{$tablet-landscape} { // >=992px
    .dayselector_slider {
        .slide {
            $days: 7;
            width: calc(100% / #{$days});
            max-width: 162px;
            &:nth-child(5) {
                .slide-item::after { display: block; }
            }
            &:nth-child(7) {
                .slide-item::after { display: none; }
            }
        }
    }
}