body {
    margin: 0;
    padding: 0 0 0 13px;
    color: $pdf-c-default;
}
h2, h3 {
    font-weight: 400;
}
h2 {
    font-size: 21px;
    // letter-spacing: -.5px;
}
h2 {
    margin: 0 0 20px;
}
h3, p {
    margin: 0 0 4px;
    font-size: 13px;
}
h3, a {
    color: $c-primary;
}
p {
    font-size: 13px;
    &.big-text {
        font-size: 23px;
    }
    &.small-text {
        font-size: 9px;
    }
}
.pax-name {
    margin: -3px 0 22px;
    font-size: 20px;
    color: $c-primary;
    font-weight: 600;
}
.codebar_container {
    width: 237px;
    img {
        width: 100%;
    }
    padding: 9px 0 0 10px;
    &.last { // bottom codebar
        padding: 9px 0 0 19px;
    }
}
.airline-copy-text {
    font-size: 15px;
}