// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  CHECK-IN
// ****************************************
//
//    + Check-in login
//    + Check-in pre confirmation
//    + Check-in summary
//    + Check-in selection
//    + Check-in security
//
// ****************************************

// + Check-in login
// -------
.checkin_login-info {
    max-width: 850px;
    margin: 54px auto 0;
}



//  + Check-in summary
// -------
.checkin_summary {
    display: flex;
    margin: 0 0 48px;
    padding: 0;
    .column {
        flex: 1 1 100%;
        margin: 0 15px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:first-child:last-child { //## unique child
            max-width: 570px;
            margin: 0 auto;
        }
    }
    &.oneway {
        .checkin_summary_journey {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .summary_journey {
                display: inline-block;
            }
            .summary_airport {
                max-width: none;
                white-space: nowrap;
            }
        }
    }
}
.checkin_summary_journey {
    float: none;
    width: 100%;
    margin: 0 0 15px;
    padding: 20px $check-in-summary-horizontal-padding;
    box-sizing: border-box;
    background-color: $gray-1;
    border-radius: $border-radius;
    .summary_journey {
        margin-top: 0;
    }
}
.checkin_summary_print-all {
    display: flex;
    justify-content: center;
    margin: 33px 0 22px;
}

// [Responsive]
@media #{$until-tablet-landscape} { // <= 992px
    .checkin_summary {
        flex-wrap: wrap;
        .column {
            margin: 0;
        }
    }
}
@media #{$until-tablet-portrait} { // <= 768px
    .checkin_summary {
        .column {
            margin: 0 0 37px;
            &:first-child:last-child { //## unique child
                max-width: none;
                .checkin_summary_journey {
                    margin: 0 0 0 -20px;
                    padding: 20px 22px;
                }
            }
        }
        .checkin_summary_journey {
            width: calc(100% + 40px);
            margin: 0 0 0 -20px;
            border-radius: 0;
            &:first-child:last-child { //## unique child
                padding: 20px 20px;
            }
        }
    }
}


// + Check-in flight
// -------
.check-in-flight {
    display: block;
    width: 50%;
    padding: 15px 19px;
    line-height: 1.2em;
    background-color: $gray-1;
    border-radius: $border-radius;
}
.check-in-flight_head {
    margin-bottom: 12px;
    color: $c-primary;
    font-family: $font-name;
    font-weight: 600;
}
.check-in-flight_body {
    display: flex;
    .subtitle, .time {
        display: block;
    }
    .subtitle {
        color: $c-secondary;
        text-transform: uppercase;
    }
}
.check-in-flight_column {
    flex: 1 1 100%;
    padding: 0 15px;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}


// + Check-in selection
// -------
.checkin_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    line-height: 1.1;
    padding: 14px $check-in-summary-horizontal-padding 7px $check-in-summary-horizontal-padding;
    border-bottom: 1px solid $gray-3;
    &:last-child {
        margin-bottom: 14px;
    }
    // modifiers
    &.checkedin {
        .checkin_status {
            .label {
                display: inline-block;
                float: right;
                a {
                    .link-text { 
                        color: $c-text;
                        text-decoration: underline; 
                    }
                    &:before { //## link icon
                        position: relative;
                        top: 4px;
                        color: $c-primary;
                        @include font-size($f-size-lg);
                        margin-right: 4px
                    }
                    &:hover {
                        .link-text {
                            color: $c-primary;
                        }
                        &:before { //## link icon
                            color: $c-link-hover;
                        }
                    }
                }
            }
            .tooltip { 
                left: auto !important;
                right: -5px; 
                .arrow {
                    left: auto !important;
                    right: 20px;
                    @media #{$until-mobile-sm} { // <=480px
                        right: 6px; 
                    }
                }
            }
        }
        .ui-checkbox {
            padding-left: 0; 
            label {
                &::before {
                    display: none; //## IE Support
                }
            }
        }
    }
    &.readonly {
        font-weight: 600;
    }
}
.checkin_paxname {
    flex: 1 0 32%;
    min-width: 32%;
    margin: 0;
    padding-right: 20px;
}
.checkin_check {
    flex: 1 0 auto;
    label {
        font-weight: 600;
        padding-right: 30px;
        &::before {
            top: -2px !important;
        }
        &::after {
            top: -1px !important;
        }
    }
}
.checkin_status {
    position: relative;
    flex: 0 1 auto;
    margin-left: auto;
    text-align: right;
    .checkedin-seat {
        @include iconfont($icon-circle-check,before);
        font-weight: 600;
        &::before {
            position: relative;
            top: 2px;
            color: $c-primary;
            @include font-size(20px);
            line-height: 0;
            margin-right: 4px;
        }
    }
    // modifiers
    &.with-info {
        padding-right: 21px;
        .ui-tooltip_info {
            font-size: .9em;
            position: absolute;
            right: 0;
            top: 1px;
        }
    }

    //## tooltip
    .tooltip-inner {
        max-width: 340px;
        width: 340px;
    }
}
// [Responsive]
@media #{$until-mobile-sm} { // <= 480px
    .checkin_selection {
        flex-wrap: wrap;
        padding: 14px 2px 0;
    }
    .checkin_check,
    .checkin_status {
        flex: 1 1 100%;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .checkin_status {
        margin: 4px 0 14px;
        // modifiers
        &.with-info {
            flex-basis: auto;
            flex-grow: 0;
            width: auto;
        }
        //## tooltip
        .tooltip-inner {
            max-width: 272px;
            width: 272px;
        }
    }
}

// + Check-in security
// -------
.checkin_security {
    .title-h2 {
        margin-bottom: 18px;
    }
    .list-style1 {
        margin-bottom: 33px;
    }
}
.checkin_security_check-header {
    margin-bottom: 10px;
    color: $c-primary;
    font-weight: 600;
}
