// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  U-FLY
// ****************************************
//
//    + Sign-in
//    + Confirmation
//    + My bookings
//    + Profile update
//
// ****************************************

// + Sign-in
// -------
.u-fly_sign-up {
    .box_total-price {
        margin-top: 30px;
        margin-bottom: 42px;
    }
}

// + My Bookings
// -------
.u-fly_my-bookings {
    .table-responsive_wrapper {
        margin-top: 24px;
    }
    .featured-links {
        margin: 50px 0;
    }
    @media #{$until-tablet-portrait} {
        .table-responsive_wrapper {
            margin-top: 0;
        }
    }
}


// + Profile Update
// -------
.u-fly_profile_update {
    .contact_data {
        margin-bottom: 0;
    }
    .page_buttons {
        margin-top: 18px;
    }
    .wrapper {
        margin-top: 60px;
    }
    @media #{$until-tablet-landscape} {
        .wrapper {
            margin-top: 20px;
        }
    }
    @media #{$until-mobile-sm} {
        .page_buttons {
            margin-top: 0;
        }
    }
}
