// ********************
//  COMPONENTS
//
// ********************
//  INTERACTIVE MAP
// ****************************************
//
//  + Variables
//  + Interacive map
//  + Interacive map search
//  + Interacive map globe
//  + Interacive map results
//  + Interacive map action
//
// ****************************************

@import './interactive-map-vars';
@import '../../_shared/destination-card/destination-card';
@import '../../_shared/destination-preview/destination-preview';

// + Interacive map
// -------
.interactive-map {
	.container-wrap & {
		margin: 0 (-$gutter-sides);
	}
}

// + Interacive map search
// -------
.interactive-map_search {
	padding: calculateRem(16px);
	background-color: $interactive-map-search-background;
}

// + Interacive-map globe
// -------
.interactive-map_globe {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $interactive-map-search-height;
	text-align: center;
	background-color: $interactive-map-globe-background;
}

// + Interacive-map results
// -------
.interactive-map_results {
	@include custom-scroll('lighten');
	overflow-y: auto;
}
.interactive-map_action {
	z-index: 1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
	.interactive-map {
		position: relative;
		display: grid;
		grid-template-rows: calculateRem($interactive-map-search-column-desktop-height) calc(100vh - #{$interactive-map-search-column-desktop-height});
		grid-template-columns: $interactive-map-search-column-desktop-width 1fr;
		margin: 0;
	}
	.interactive-map_search {
		grid-row: 1;
		grid-column: 1;
	}
	.interactive-map_globe {
		grid-row: 1 / span 2;
		grid-column: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		text-align: center;
		color: #fff;
	}
	.interactive-map_results {
		grid-row: 2;
		grid-column: 1;
	}
	.interactive-map_action {
		z-index: 1;
		position: absolute;
		left: auto;
		right: 2rem;
		top: auto;
		bottom: 2rem;
		width: calculateRem(400px);
	}
}
