// ********************
//  COMPONENTS
//
// ********************
//  INTERACTIVE MAP VARAIBLES
// ****************************************
//
//  + Variables
//
// ****************************************

$interactive-map-search-height: calculateRem(240px);
$interactive-map-search-column-desktop-width: 380px;
$interactive-map-search-column-desktop-height: 340px;

$interactive-map-search-background: $c-primary !default;
$interactive-map-globe-background: $c-color1 !default;
