// main: ../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  FORGOT PASSWORD FORM
// ********************
//
//
// ********************

.forgot-password_form {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;

    .ui-form_group {
        flex-basis: calc((50% - 30px) / 2);
        flex-grow: 1;
        box-sizing: border-box;
        & + .ui-form_group {
            margin-left: 30px;
        }
    }
}

@media #{$until-mobile} { // <=640px
    .forgot-password_form {
        .ui-form_group {
            flex: 1 1 100%;
            &:first-child {
                margin-right: 0;
            }
        }
    }
}
