// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LOGIN FORM
// ****************************************
//
//    + Login-form
//    + Login-form vertical
//    + login-social
//
// ****************************************


// + Login-form
// -------
// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LOGIN FORM
// ****************************************
//
//    + Login-form
//    + Login-form vertical
//    + login-social
//
// ****************************************


// + Login-form
// -------
.login-form {
    margin: 16px 0;
    text-align: center;

    // [RESPONSIVE]
    @media #{$mobile} { // >= 640px
        .ui-form_group {
            width: calc((50%) - 30px);
            &:nth-child(2) {
                margin-right: 0;
            }
        }
        .button {
            width: 220px;
        }
    }
    @media #{$tablet-portrait} { // >= 768px
        .ui-form_group,
        .button {
            width: calc((100% / 3) - 28px);
        }
        .ui-form_group {
            &:nth-child(2) {
                margin-right: 28px;
            }
        }
    }
    @media #{$tablet-landscape} { // >= 992px
        margin: 0 7%;
    }
    // modifiers
    &.sign-in, &.sign-up {
        width: 100%;
        margin: 0 auto;
        @media #{$tablet-landscape} { // >= 992px
            max-width: 724px;
        }
    }
    &.sign-in, &.sign-up {
        .ui-form_input-button {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin: 0 -15px;
        }
        .login-form_actions {
            text-align: right;
            .button {
                width: auto;
                min-width: 160px;
            }
        }
        .ui-form_group {
            margin: 0 15px 20px;
        }

        // [Responsive]
        @media #{$tablet-portrait} { // >= 768px
            .ui-form_group,
            .login-form_actions {
                flex-basis: calc(50% - 30px);
                justify-content: flex-end;
            }
        }
        @media #{$until-mobile} { // <= 640px
            .ui-form_group,
            .login-form_actions {
                width: 100%;
            }
            .login-form_actions {
                margin-bottom: 34px;
                .button {
                    float: right;
                    margin: 0;
                }
            }
        }
        @media #{$until-mobile-sm} { // <= 480px
            .login-form_actions {
                flex-direction: column;
                .button {
                    display: block;
                    width: 100%;
                    float: none;
                    margin: 24px 0 0;
                }
            }
        }
    }
    // &.sign-up {
    //     .login-form_actions {
    //         flex-basis: 100%;
    //     }
    //     .ui-form_group {
    //         margin-right: 0;
    //         &:nth-child(2) {
    //             margin-right: 28px;
    //             @media #{$until-mobile} { // <= 480px
    //                 margin-right: 0;
    //             }
    //         }
    //     }
    // }
}
.login-form_actions {
    display: flex;
    justify-content: space-between;
    .forgot-link {
        padding-right: 10px;
        color: $c-primary;
    }
}

.login-form_footer {
    font-family: $font-name;
    font-weight: 600;
    a {
        color: $c-primary;
    }
}

// + Login-form vertical
// -------
.login_form_vertical-wapper {
    display: flex;
    .form_container {
        flex: 1 0 320px;
        max-width: 320px;
        margin-right: 80px;
    }
    .list-style1 {
        &.condensed {
            margin-bottom: 17px;
        }
    }
    @media #{$until-tablet-landscape} { //## <=992px
        flex-wrap: wrap;
        .form_container {
            margin: 0 auto 30px;
        }
    }
    @media #{$until-mobile-sm} { //## <=480px
        flex: 1 1 100%;
        max-width: unset;
        .form_container {
            flex: 1 1 100%;
        }
        .list-style1 {
            margin-bottom: 33px;
        }
    }
}
.login-form-vertical {
    .ui-form_group, button {
        display: block;
    }
    .ui-form_group {
        margin-left: 0;
        margin-right: 0;
    }
    .button {
        width: 100%;
        margin-top: 20px;
    }
    .forgot-link {
        display: block;
        text-align: right;
        & + .button {
            margin-top: 33px;
        }
    }
    .get_text {
        margin-top: 14px;
        text-align: center;
    }
    @media #{$until-mobile} { // <=640px
        .button {
            margin-top: 25px;
        }
    }
    @media #{$until-mobile-sm} { // <=480px
        .button {
            width: 90%;
        }
    }
}


// grid form
.ap_login-form {
    max-width: 320px;
    padding-right: 12px;
    .socialmedia_login {
        margin-top: 24px;
    }
    .socialmedia_list {
        > li {
            margin: 0 12px;
        }
    }
    .socialmedia_login_separator {
        width: auto;
    }
    @media #{$until-tablet-landscape} { //## <=992px
        margin: 0 auto;
        padding-right: 0;
    }
}
.login-form_title {
    @extend .title-h2;
    margin: 1em 0;
    text-align: center;
}
.login-form_ufly-info-container {
    display: flex;
    margin: 0 -3em;
    .column {
        flex-basis: 50%;
        padding: 0 3em 2em;
    }
    .button {
        width: 160px;
        margin-top: 1em;
    }
    @media #{$until-tablet-landscape} {
        flex-wrap: wrap;
        .column {
            flex-basis: 100%;
        }
    }
    @media #{$until-mobile-sm} {
        .button {
            width: 100%;
        }
    }
}
.login-form_ufly-footer {
    text-align: center;
    margin-top: 2em;
}
.login-form_actions {
    display: flex;
    justify-content: space-between;
    .forgot-link {
        padding-right: 10px;
        color: $c-primary;
    }
}

.login-form_footer {
    font-family: $font-name;
    font-weight: 600;
    a {
        color: $c-primary;
    }
}

// + Login-form vertical
// -------
.login_form_vertical-wapper {
    display: flex;
    .form_container {
        flex: 1 0 320px;
        max-width: 320px
        ;
        margin-right: 80px;
    }
    .list-style1 {
        &.condensed {
            margin-bottom: 17px;
        }
    }
    @media #{$until-tablet-landscape} { //## <=992px
        flex-wrap: wrap;
        .form_container {
            margin: 0 auto 30px;
        }
    }
    @media #{$until-mobile-sm} { //## <=480px
        flex: 1 1 100%;
        max-width: unset;
        .form_container {
            flex: 1 1 100%;
        }
        .list-style1 {
            margin-bottom: 33px;
        }
    }
}
.login-form-vertical {
    .ui-form_group, button {
        display: block;
    }
    .ui-form_group {
        margin-left: 0;
        margin-right: 0;
    }
    .button {
        width: 100%;
        margin-top: 20px;
    }
    .forgot-link {
        display: block;
        text-align: right;
        & + .button {
            margin-top: 33px;
        }
    }
    .get_text {
        margin-top: 14px;
        text-align: center;
    }
    @media #{$until-mobile} { // <=640px
        .button {
            margin-top: 25px;
        }
    }
    @media #{$until-mobile-sm} { // <=480px
        .button {
            width: 90%;
        }
    }
}


// grid form
.ap_login-form {
    max-width: 320px;
    padding-right: 12px;
    .socialmedia_login {
        margin-top: 24px;
    }
    .socialmedia_list {
        > li {
            margin: 0 12px;
        }
    }
    .socialmedia_login_separator {
        width: auto;
    }
    @media #{$until-tablet-landscape} { //## <=992px
        margin: 0 auto;
        padding-right: 0;
    }
}
.login-form_title {
    @extend .title-h2;
    margin: 1em 0;
    text-align: center;
}
.login-form_ufly-info-container {
    display: flex;
    margin: 0 -3em;
    .column {
        flex-basis: 50%;
        padding: 0 3em 2em;
    }
    .button {
        width: 160px;
        margin-top: 1em;
    }
    @media #{$until-tablet-landscape} {
        flex-wrap: wrap;
        .column {
            flex-basis: 100%;
        }
    }
    @media #{$until-mobile-sm} {
        .button {
            width: 100%;
        }
    }
}
.login-form_ufly-footer {
    text-align: center;
    margin-top: 2em;
}