// main: ../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  SEARCH FILTERS FORM
// ********************
//
//
// ********************

//## fares styles
.search-filters-form {
    form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: calc(100% + 30px); // IE10 support
        margin: 0 -15px;
    }
    .ui-form_group {
        flex-basis: calc(100% / 3 - 30px); // IE10 support
        flex-grow: 1;
        max-width: calc(100% / 3);
        padding: 0 15px;
        box-sizing: border-box;
    }
    .switch {
        display: block;
        max-width: none;
    }
    .buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        align-self: flex-end;
        max-width: none;
        .button {
            min-width: 200px;
            margin-left: 30px;
        }
    }
    .dates {
        .ui-input-multiline { //## fix date input heignt
            height: 44px;
        }
        .outbound .ui-input-multiline_group_inner { //## fix date input icon top
            &::before {
                top: 8px;
            }
        }
        .search_tt { //## date picker popover
            left: calc(-100% - 30px);
            width: calc(300% + 60px);
        }
    }
    .ui-input-multiline { //## fix date input heignt
        height: 44px;
    }
    .ui-input-multiline_group_inner {
        .ui-input {
            min-height: 39px;
        }
        &:last-child {
            &::after {
                height: 24px;
            }
        }
    }
    // [Responsive]
    @media #{$until-tablet-landscape} { // <=992px
        .ui-form_group {
            flex: 1 1 50%;
            max-width: 50%;
        }
        .buttons {
            justify-content: center;
            max-width: initial;
            .button {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .ui-input-multiple {
            .ui-input_wrap {
                &:first-child {
                    max-width: none;
                }
            }
        }
        .dates {
            .search_tt {
                left: calc(-100% - 30px);
                width: calc(200% + 30px);
            }
        }
    }
    @media #{$until-tablet-portrait} { // <=768px

    }
    @media #{$until-mobile} { // <=640px
        .ui-form_group {
            flex: 1 1 100%;
            max-width: initial;
        }
        .dates {
            .search_tt {
                left: 0;
                width: 100%;
            }
        }
    }
    @media #{$until-mobile-sm} { // <=480px
        .buttons {
            flex-wrap: wrap;
            .button {
                width: 90%;
                min-width: none;
                margin: 25px 0 0;
            }
        }
    }
}
