// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  TRIPSELECTOR: SELECT FLIGHT MODIFIER
// ****************************************
//
// ****************************************

.tripselector_modifier {
    $multicolor-icon-top-position-mobile: -12px;
    @include iconfont($icon-check-circle,before);
    z-index: 1;
    display: none;
    align-items: center;
    position: relative;
    padding: $row-flight-padding-selected;
    padding-bottom: 0;
    margin-top: 18px;
    border: 1px solid $c-primary;
    border-bottom: 0;

    $icon-size: 24px;
    $icon-size-bg: $icon-size - 4;
    &::before { //## checked icon at top
        @include font-size($icon-size);
        position: absolute;
        color: $c-secondary;
        top: calculateRem($multicolor-icon-top-position-mobile);
        right: calculateRem(-4px);
    }
    &::after { //## checked icon at top - icon background color
        content: "";
        position: absolute;
        right: -1px;
        top: calculateRem($multicolor-icon-top-position-mobile + 2);
        width: calculateRem($icon-size-bg);
        height: calculateRem($icon-size-bg);
        background-color: $c-primary;
        z-index: -3;
        border-radius: 50%;
    }
    
}
.tripselector_modifier_info {
    text-transform: uppercase;
    .week {
        text-transform: capitalize;
    }
}
.tripselector_modifier_button {
    margin-left: auto;
    button {
        min-width: auto;
        padding: 0;
        border-width: 0;
        text-decoration: underline;
        text-transform: capitalize;
    }
    // @media #{$until-mobile} {
    //     button {
    //         min-width: auto;
    //     }
    // }
}

@media (min-width: $bp-tablet-landscape-min) {
    .tripselector_modifier {
        $multicolor-icon-top-position: -16px;
        padding: $row-flight-padding-selected-lg;
        padding-bottom: 0;
        $icon-size: 30px;
        $icon-size-bg: $icon-size - 4;
        &::before { //## checked icon at top
            @include font-size($icon-size);
            top: calculateRem($multicolor-icon-top-position);
            right: calculateRem(-6px);
        }
        &::after { //## checked icon at top - icon background color
            content: "";
            right: -2px;
            top: calculateRem($multicolor-icon-top-position + 2);
            height: calculateRem($icon-size-bg);
            width: calculateRem($icon-size-bg);
        }
    }
    .tripselector_modifier_info {
        @include font-size($f-size-lg);
    }
    .tripselector_modifier_button { 
        .button {
            @include btn-secondary;
            border-width: 1px;
            padding: 5px 44px;
            text-decoration: none;
        }
    }
}