// ********************
//  IBE COMPONENT
// ********************
//  BOOKING RETRIEVE
// ********************
//
//  + Booking retrieve login
//  + Booking retrieve results
//
// ********************

// + Booking retrieve login
// ----------
.booking-retrieve {
	.ui-form_group_wrap {
		@extend .ui-form_input-button;
		.ui-form_group {
			margin-bottom: 30px;
		}
		.ui-form_input-buttons {
			margin-bottom: 22px;
		}
	}
	.ui-form_button-action {
		@extend .btn-primary;
	}
}
@media #{$tablet-landscape} { // >=992px
	.booking-retrieve {
		.auth-form_form {
			max-width: 68%;
		}
		.ui-form_group_wrap {
			.ui-form_group {
				&:first-child {
					max-width: calculateRem(280px);
				}
			}
		}
	}
}
