// ********************
//  IBE COMPONENT
//
// ********************
//  FARES
// ********************
//
//
// ********************

//## fares styles
@mixin svg-icon-size($size) {
	width: $size;
	height: $size;
	background-size: $size;
}
@mixin fares-common-styles() {
	$fare-pad-left: 48px;
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-transform: capitalize;
	line-height: 1;
	white-space: nowrap;
	&::before { //## fare icons
		@include svg-icon-size($fare-iconsize);
		content: '';
		position: relative;
		min-width: $fare-iconsize;
		min-height: $fare-iconsize;
		margin-right: calculateRem(4px);
		background-repeat: no-repeat;
		background-position: center;

	}
}

@mixin fare1-style() {
	color: $fare1-color;
	background-color: $c-fare1;
	// &::before {
		// @include svg-icon-size($fare-iconsize - .7);
		// background-image: $fare1-icon;
	// }
}
@mixin fare2-style() {
	color: $fare2-color;
	background-color: $c-fare2;
	// &::before {
		// @include svg-icon-size($fare-iconsize - .3);
		// background-image: $fare2-icon;
	// }
}
@mixin fare3-style() {
	color: $fare3-color;
	background-color: $c-fare3;
	// &::before {
	// 	background-image: $fare3-icon;
	// }
}

.fare-label {
	@include font-size($f-size-xs);
	@include fares-common-styles;
	border-radius: 20px;
}
//## generate fares labels styles
//## using general fares quantity value from variales.scss
@mixin fares-label {
	.fare-label {
		@for $i from 1 through $fare-quantity {
			&.fare#{$i} {
				@if $i == 1 {
					@include fare1-style;
				}
				@else if $i == 2 {
					@include fare2-style;
				}
				@else if $i == 3 {
					@include fare3-style;
				}
				@else if $i == 4 {
					@include fare4-style;
				}
				@else if $i == 5 {
					@include fare5-style;
				}
			}
		}
	}
}
@include fares-label;
