// ****************************************
//  GLOBALS

// ****************************************
//  FORM GRID
//
//  + Forms containers/grid
//  + Input with side button
//
// ****************************************

// + Forms containers/grid
// -------
@mixin form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 $form-horizontal-gutter / -2;

	// grid
	> * {
		// flex-basis: 100%;
		flex: 1 1 100%;
		max-width: calc(100% - #{$form-horizontal-gutter});
		margin: 0 $form-horizontal-gutter / 2 $form-vertical-gutter;
	}
	// &[class*=columns] {
	// 	> * {
	// 		flex-grow: 0;
	// 	}
	// }

	// when form has a full row field (json variable 'fullrow')
	.ui_form_group-full {
		// flex-basis: 100%;
		width: calc(100% - #{$form-horizontal-gutter});
	}

	// [Responsive]
	@media #{$mobile} { // >= 640px
		&.columns-3,
		&.columns-4 {
			> * {
				// flex-basis: 100%;
				max-width: calc(50% - #{$form-horizontal-gutter});
			}
		}
	}
	@media #{$tablet-portrait} { // >= 768px
		&.columns-2 {
			> * {
				// flex-basis: 100%;
				max-width: calc(50% - #{$form-horizontal-gutter});
			}
		}
		&.columns-3,
		&.columns-4 {
			> * {
				// flex-basis: 100%;
				max-width: calc((100% / 3) - #{$form-horizontal-gutter});
			}
		}
	}
	@media #{$tablet-landscape} { // >=992px
		margin: 0 $form-horizontal-gutter-desktop / -2;
		// > * { //## becareful just discomment this if it i extremely necesary - performance problem
		//     margin: 0 $form-horizontal-gutter-desktop / 2 $form-vertical-gutter;
		// }
		&.columns-2 {
			> * {
				// flex-basis: 100%;
				max-width: calc(50% - #{$form-horizontal-gutter-desktop});
			}
		}
		&.columns-3 {
			> * {
				// flex-basis: 100%;
				max-width: calc((100% / 3) - #{$form-horizontal-gutter-desktop});
			}
		}
		&.columns-4 {
			> * {
				// flex-basis: 100%;
				max-width: calc((100% / 4) - #{$form-horizontal-gutter-desktop});
			}
		}
	}
}
.form {
	@include form;
}

// + Forms bottom buttons
// -------
.ui-form_buttons {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
	button {
		width: 90%;
		min-width: none;
		margin: 0 0 14px;
	}
	@media #{$mobile-sm} { // >=640px
		justify-content: flex-end;
		&.align-left {
			justify-content: flex-start;
		}
		button {
			width: auto;
			min-width: 200px;
			margin-left: 30px;
			margin-bottom: 0;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

// + Input with side button
// -------
.ui-form_input-button {
	flex-wrap: wrap;
	align-items: center;
	.ui-form_group,
	.ui-form_input-buttons {
		margin-bottom: $form-vertical-gutter;
	}
	.ui-form_input-buttons {
		margin-top: $form-vertical-gutter;
		button {
			display: block;
			width: 90%;
			margin: auto;
		}
	}
	@media #{$mobile} { // >= 640px
		@include form;
		.ui-form_group,
		.ui-form_input-buttons {
			flex: 1 1 auto;
			margin-top: 0;
			margin-right: ($form-horizontal-gutter-desktop / 2);
			margin-left: ($form-horizontal-gutter-desktop / 2);
		}
		.ui-form_input-buttons {
			flex-basis: 100%;
			justify-content: center;
			button {
				width: auto;
			}
		}
	}
	@media #{$tablet-portrait} { // >= 768px
		flex-wrap: nowrap;
		.ui-form_input-buttons {
			flex: 0 0 auto;
			flex-basis: auto;
			// align-self: flex-end;
			button {
				display: inline-block;
			}
		}
	}
}
