<div class="payment_QR">
    <div class="qr"></div>
    <span class="label">Please, scan the QR code with WeChat to finish the payment or</span>
    <button class="button btn-primary">Add payment</button>
</div>
