{#
    DOCUMENTATION
    paymentMethods = {
        VARIABLES
            titleTag: 'string' // sets header tag and change "choice of payment currency" title to h4 if has 'h3' value
        MODIFIERS
        likeAgency: boolean // add "agent acount" and on "hold payment" methods, remove unionpay and wechat
    }

    EXAMPLE
    {% set paymentMethods = {
        likeAgency: payment.hasAgencyPaymentMethods | default(false),
        titleTag: payment.titleTag | default('h4')
    } %}
    {% include "partials/components/IBE/payment/_payment-methods.njk" %}
#}

{# {% set paymentMethods = {
    likeAgency: payment.hasAgencyPaymentMethods | default(false),
    onlyCreditCard: payment.onlyCreditCard | default(false),
    titleTag: payment.titleTag | default('h4'),
    hideSummary: payment.hideSummary
} %} #}



{# PAYMENT METHODS TITLE #}
{% for mainTitle in paymentMethod.mainTitle %}
{% if mainTitle.text | length %}
    <{{mainTitle.type}} class="payment_methods_main-title">
        {{mainTitle.text}}
    </{{mainTitle.type}}>
{% endif %}
{% endfor %}

{# PAYMENT METHODS TYPES #}
{% if paymentData.methods.items | length > 1 %}
<ul class="tabs-pill">
    {% for method in paymentData.methods.items %}
    <li>
        <a role="button"
            data-toggle="collapse"
            href="#{{method.id}}"
            aria-expanded="{% if method.isCurrent %}true{% else %}false{% endif %}"
            aria-controls="{{method.id}}"
            {% if not method.isCurrent %}class="collapsed"{% endif %}>
            <img width="auto" class="method-logo" src="{{project_assets_path}}imgs/payment-methods/{{method.image}}" alt="{{method.name}}" />
            <img width="auto" class="method-logo-selected" src="{{project_assets_path}}imgs/payment-methods/{{method.imageSelected}}" alt="{{method.name}}" />
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="payment_methods_container{% if paymentData.methods.items | length > 1 %} tabs-pill_content{%endif%}{% if payment.hideSummary %} full-width-form{% endif %}">
    {% for method in paymentData.methods.items %}
        {% if paymentData.methods.items | length > 1 %} {# if there is more than 1 payment methods so, shows methods options links - responsive view #}
        <a class="tabs-pill_trigger"
            role="button"
            data-toggle="collapse"
            href="#{{method.id}}"
            aria-expanded="{% if method.isCurrent %}true{% else %}false{% endif %}"
            aria-controls="{{method.id}}">
            <img class="method-logo" src="{{project_assets_path}}imgs/payment-methods/{{method.image}}" alt="{{method.name}}" />
            <img class="method-logo-selected" src="{{project_assets_path}}imgs/payment-methods/{{method.imageSelected}}" alt="{{method.name}} selected" />
        </a>
        {% endif %}
        <div class="collapse{% if method.isCurrent %} show{% endif %}" id="{{method.id}}">
            <div class="payment_methods_content">
                {# PAYMENT METHOD SUBTITLE #}
                {% if method.title | length %}
                    <{{method.title.titleTag | default('h4')}} class="payment_methods_title">
                        {{method.title}}
                    </{{method.title.titleTag | default('h4')}}>
                {% endif %} 

                {# PAYMENT METHOD FORM #}
                {% include "partials/components/IBE/payment/_payment-methods" + (method.template) + ".njk" %}

                {# PAYMENT POLICIES #}
                {% if payment.policiesText | length %}
                    {% include "partials/components/IBE/payment/_payment-polices.njk" %}
                {% endif %}

            </div>
        </div>
    {% endfor %}
</div>

{% if payment.simpleSummary %}
{% include "partials/components/IBE/payment/_payment-summary.njk" %}
{% endif %}