<div class="payment_polices">
    <div class="ui-form_group">
        {% set isRadio = false %}
        {% set checkboxForm = {
            label: payment.policiesText,
            name: 'paymentPolices',
            id: 'paymentPolices'
        } %}
        {% include "partials/ui-elements/_checkbox.njk" %}
    </div>
</div>
