{% set paymentSummary = paymentData.paymentSummary %}
<div class="payment-summary">
    <table>
        <caption class="payment-summary_title">
            {{ paymentSummary.title }}
        </caption>
        {% if paymentSummary.body.show | default(true) %}
            {% for item in paymentSummary.body.items %}
                <tr>
                    <td>{{ item.title | safe }}</td>
                    <td>{{ SHARED.currency }} {{ item.price | safe }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tfoot>
        {% for item in paymentSummary.footer.items %}
            <tr>
                {% if item.title | length %}
                    <td colspan="2">{{ item.title | safe }}</td>
                {% endif %}
                {% if item.price | length %} 
                    <td colspan="2">
                        <span class="currency">{{ SHARED.currency }}</span>
                        <span class="price">{{ item.price }}</span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tfoot>
    </table>
</div>
