{# CREDIT CARD TYPES #}
<div class="payment_methods_cc-type">
    <fieldset class="ui-checkbox-inline">
        <legend class="ui-checkbox-title">{{ creditcard.title }}</legend>
        <div class="ui-checkbox-group">
            {% for ccType in creditcard.options %}
                {% set isRadio = true %}
                {% set checkboxForm = ccType %}
                {% set checkbox = ccType %}
                {% include "partials/ui-elements/_checkbox.njk" %}
            {% endfor %}
        </div>
    </fieldset>
</div>

{# MSG REQUIRED #}
{% if CreditCardFormData.msgRequired | length %}
    <p class="required-text">{{ CreditCardFormData.msgRequired }}</p>
{% endif %}

{# CREDIT CARD FORM #}
<fieldset class="payment_methods_form">
    <legend class="hide-visually">credit card information</legend>
    <div class="container">
        {% set formElements = CreditCardFormData %} {# JSON data #}
        {% include "partials/components/_shared/forms/_create_form.njk" %}
    </div>
</fieldset>

{# PAYMENT CURRENCY METHOD #}
{% if method.hasCurrencyOptions %}
    <div class="payment-methods_currency">
        <{% if paymentMethods.titleTag == 'h3' %}h4{% else %}h5{% endif %} class="title">Choice of payment currency</{% if paymentMethods.titleTag == 'h3' %}h4{% else %}h5{% endif %}>
        <p>Please select payment currency. The cardholder choice of currency is final. Click Here for more information</p>
        <div class="payment-methods_currency_selection">
            <div class="options">
                <div class="column">
                    <div class="ui-checkbox-group">
                        {% set isRadio = true %}
                        {% set checkboxForm = {
                            label: 'Card currency',
                            doubleLabel: true,
                            labeBlock: 'EUR 655.81',
                            name: 'currency',
                            id: 'payCard'
                        } %}
                        {% include "partials/ui-elements/_checkbox.njk" %}
                        <span class="extralabel">{{ checkboxForm.labeBlock }}</span>
                    </div>
                    <div class="rate">
                        <div>Exchange rate</div>
                        <div>1 HKD = 0,1107594 EUR</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui-checkbox-group">
                        {% set checkboxForm = {
                            label: 'Pricing currency',
                            doubleLabel: true,
                            labeBlock: 'HKD 5,921',
                            name: 'currency',
                            id: 'payPricing'
                        } %}
                        {% include "partials/ui-elements/_checkbox.njk" %}
                        <span class="extralabel">{{ checkboxForm.labeBlock }}</span>
                    </div>
                    <div class="rate">
                        <p>Exchange rate will be set at a later date by your card provideer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}