{% if dataTableResume %}
<table class="table-resume"> 
    <caption class="hide-visually">{{ dataTableResume.caption }}</caption>    
    <tbody>
        {% if dataTableResume.tbody %}
            {% for row in dataTableResume.tbody %}                  
                <tr>     
                    {% for td in row.tds %}                   
                        <{% if td.isTh %}th scope="row"{% else %}td{% endif %}>
                            {% if td.hasStrong %}
                                <strong>{{ td.title }}</strong>
                            {% else %}
                                {% if td.component == 'price' %}
                                    {% set price = td.title %}
                                    {% include "partials/components/IBE/_common/_price.njk" %}
                                {% else %}
                                    {{ td.title }}
                                {% endif %}
                            {% endif %}
                        </th>
                    {% endfor %}                      
                </tr>
            {% endfor %}  
        {% else %} 
        <tr>
            <th scope="row">Payment Type</th>
            <td>WeChat</td>
            <th scope="row">Pricing Currency</th>
            <td>{{SHARED.currency}} 750</td>
        </tr>
        <tr>
            <th scope="row">Payment Date</th>
            <td>9/11/2017</td>
            <th scope="row">Payment Status</th>
            <td>
                <span class="waiting">Waiting</span>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% else %} 
<table class="table-resume"> 
    <caption class="hide-visually">Payment 1</caption>    
    <tbody>
        <tr>
            <th scope="row">Payment Type</th>
            <td>WeChat</td>
            <th scope="row">Pricing Currency</th>
            <td>{{SHARED.currency}} 750</td>
        </tr>
        <tr>
            <th scope="row">Payment Date</th>
            <td>9/11/2017</td>
            <th scope="row">Payment Status</th>
            <td>
                <span class="waiting">Waiting</span>
            </td>
        </tr>
    </tbody>
</table>
<table class="table-resume">
    <caption>
        Payment 2
    </caption>
    <tbody>
        <tr>
            <th scope="row">Payment Type</th>
            <td>WeChat</td>
            <th scope="row">Pricing Currency</th>
            <td>{{SHARED.currency}} 750</td>
        </tr>
        <tr>
            <th scope="row">Payment Date</th>
            <td>9/11/2017</td>
            <th scope="row">Payment Status</th>
            <td>
                <span class="waiting">Waiting</span>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}
