{% for table in dataTablePaymentDetails.tables %}
<div class="price-resume">
    {# TOTAL HEAD #}
    {% for totalHead in table.tableHead %}
    {% if table.tableHead %}
    <div class="price-resume_head">
        {% if totalHead.td1 | length %}
            <div class="label">{{totalHead.td1}}</div>
        {% endif %}
        {% if totalHead.td2 | length %}
        <div class="price">
            {% if totalHead.fare | length %}
            <span class="fare-label fare{{totalHead.fare}}">{{totalHead.fareName}}</span>
            {% endif %}
            {{totalHead.td2}}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}

    <div class="price-resume_wrap"> 
        {# TABLE #}
        <table class="table">            
            <caption class="hide-visually">{{ table.caption }}</caption>
            {# THEAD #}
            {% if table.thead | length %}
                <thead>
                    <tr>      
                        {% for th in table.thead.ths %}                  
                        <th {% if th.colspan %} colspan="{{ th.colspan }}"{% endif %}>{{th.title}}</th> 
                        {% endfor %}                                                                      
                    </tr>                    
                </thead>  
            {% endif %} 
            
            {# TBODY #}
            {% if table.tbody %}
            <tbody>
                {% for row in table.tbody %}                  
                <tr>     
                    {% for td in row.tds %}                   
                    <{% if td.isTh %}th scope="row"{% else %}td{% endif %}>
                        {% if td.hasStrong %}
                        <strong>{{ td.title }}</strong>
                        {% else %}
                        {{ td.title }}
                        {% endif %}
                    </th>
                    {% endfor %}                      
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endfor %}

{# TOTAL FOOTER #}
{% if dataTablePaymentDetails.footPrice %}
<div class="tfoot-total">
    {% if dataTablePaymentDetails.footLabel %}
    <span class="label">{{dataTablePaymentDetails.footLabel}}</span>
    {% endif %}
    <span class="price">{{dataTablePaymentDetails.footPrice}}</span>
</div>
{% endif %}