{#
    DOCUMENTATION
    paymentDetails = {
        MODIFIERS
        hasHold: boolean // replace payments section per amount on hold
    }
    dataTablePaymentDetails = {  } Json to build table payment details
    dataTableResume  = {  } Json to build table resumen
#}
<div class="payment_details">

    {# PAYMENT TOTAL #}
    <div class="payment_details_total">
        {# TITLE #}
        {% if dataTablePaymentDetails.title %}
            {% set page_title = dataTablePaymentDetails.title %}
            {% include "partials/components/_page_title.njk" %}
        {% endif %}

        {# DATA TABLE #}
        {% include "partials/components/IBE/payment/_payment-details_resume.njk" %}
    </div>

    {# PAYMENT METHOD #}
    <div class="payment_details_paymethod">
        {# TITLE #}
        {% if dataTableResume.title | length %}
            {% set page_title = dataTableResume.title %}
            {% include "partials/components/_page_title.njk" %}
        {% endif %}

        {# PAYMENT ON HOLD #}
        {% if paymentDetails.hasHold %}
            {% include "partials/components/_shared/_action-box.njk" %}
        {% else %}
        {# DATA TABLE #}
            {% include "partials/components/IBE/payment/_payment-details_payments.njk" %}
        {% endif %}
    </div>
</div>
