<div class="payment_partials">
      <div class="payment_partials_body">
            <ul class="payment_partials_tabs">
                <li>
                    <button class="payment_partials_trigger collapsed"
                        role="button"
                        data-toggle="collapse"
                        href="#voucherCollapse"
                        aria-expanded="false"
                        aria-controls="voucherCollapse">
                        <span class="icon icon-voucher"></span>
                        <span class="label">I have a discount voucher</span>
                    </button>
                </li>
                <li>
                    <button class="payment_partials_trigger collapsed"
                        role="button"
                        data-toggle="collapse"
                        href="#pointsCollapse"
                        aria-expanded="false"
                        aria-controls="pointsCollapse">
                        <span class="icon icon-reward-u"></span>
                        <span class="label">Redeem my Points (Reward-U)</span>
                    </button>
                </li>
            </ul>

            <div class="payment_partials_item">
                <a class="payment_partials_trigger collapsed"
                    role="button"
                    data-toggle="collapse"
                    href="#voucherCollapse"
                    aria-expanded="false"
                    aria-controls="voucherCollapse">
                    <span class="icon icon-voucher"></span>
                    <span class="label">I have a discount voucher</span>
                </a>
                <div class="collapse" id="voucherCollapse">
                <div class="partials_voucher_form">
                    <p>
                        Enter your Voucher Reference and then click on Retrieve Voucher to validate your voucher.
                    </p>
                    <fieldset class="partials_container">
                        <div class="ui-form_input-button">
                            <div class="ui-form_group">
                                {% set inputHasLabel = true %}
                                {% set inputForm = {
                                    label: 'Voucher Reference Number *',
                                    placeholder: '',
                                    name: 'voucherNumber',
                                    id: 'voucherNumber'
                                } %}
                                {% include "partials/ui-elements/_input_text.njk" %}
                            </div>
                            <button type="button" class="partials_voucher_form_button button btn-secondary">
                                Retrieve voucher
                            </button>
                        </div>
                    </fieldset>
                </div>
                <div class="partials_voucher">
                    <ul class="partials_voucher_list">
                        <li>
                            Voucher Reference Number : <strong>100173412284728</strong>
                            <br />Voucher Amount available : <strong class="value">HKD 1,440</strong>
                            <br />Voucher Amount Redeemed : <strong class="redeemed">HKD 1,238</strong>
                        </li>
                    </ul>
                    <button type="button" class="button btn-secondary"
                        data-toggle="modal" data-target="#invalidVoucher_modal">
                        Remove voucher
                    </button>
                    {% include "partials/components/IBE/payment/_payment-polices.njk" %}
                </div>
            </div>
            </div>

            <div class="payment_partials_item">
                <a class="payment_partials_trigger collapsed"
                    role="button"
                    data-toggle="collapse"
                    href="#pointsCollapse"
                    aria-expanded="false"
                    aria-controls="pointsCollapse">
                    <span class="icon icon-reward-u"></span>
                    <span class="label">Redeem my Points (Reward-U)</span>
                </a>
                <div class="collapse" id="pointsCollapse">
                <div class="partials_points_signin">
                    <p>
                        Check out your reward-U balance to redeem your ticket in full or use a mix of points and credit card.
                        <br/>You can only redeem flights if you have at least 40,000 reward-U points.
                    </p>
                    <fieldset class="partials_container">
                        <div class="ui-form_input-button">
                            <div class="ui-form_group">
                                {% set inputHasLabel = true %}
                                {% set inputForm = {
                                    label: 'reward-U Number ID:',
                                    placeholder: '',
                                    name: 'rewardNumber',
                                    id: 'rewardNumber'
                                } %}
                                {% include "partials/ui-elements/_input_text.njk" %}
                            </div>
                            <div class="ui-form_group">
                                {% set inputForm = {
                                    label: 'Password:',
                                    placeholder: '',
                                    name: 'password',
                                    id: 'password'
                                } %}
                                {% include "partials/ui-elements/_input_text.njk" %}
                            </div>
                            <button type="button" class="partials_points_signin_button button">Sign In</button>
                        </div>
                    </fieldset>
                </div>
                <div class="partial_points">
                    <div class="partial_points_body">
                        <p>Insert the points to redeem some or all of the points towards this booking. Points can not be used to pay for taxes or changes</p>
                        <ul class="partial_points_list">
                            <li>
                                Points balance : <strong>100001800</strong>
                            </li>
                            <li>
                                You must use a minimum of <strong>40,000 points</strong> to pay for your flight.
                            </li>
                        </ul>

                        <div class="partial_points_selector">
                            <h4 class="title">Redeem Points</h4>
                            <fieldset class="partials_container">
                                <div class="ui-form_input-button">
                                    <div class="ui-form_group">
                                        {% set inputHasLabel = false %}
                                        {% set inputForm = {
                                            placeholder: 'Insert points',
                                            name: 'redeemPoints',
                                            id: 'redeemPoints'
                                        } %}
                                        {% include "partials/ui-elements/_input_text.njk" %}
                                        {% set inputHasLabel = true %}
                                    </div>
                                    <button type="button" class="partial_points_selector_button button">
                                        Redeem
                                    </button>
                                    <!-- When reemeded points /////
                                    <button type="button" class="button btn-secondary">
                                        Close
                                    </button>
                                    -->
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="partial_points_footer">
                        <div class="description">
                            Amount remaing to pay <span class="partial_points_total">KHD 1,038</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
      </div>

      {% include "partials/components/IBE/payment/_payment-summary.njk" %}
</div>

{# MODAL: INVALID VOUCHER #}
{% set modalAlertStyle = true %}
{% set modal = {
    class: 'invalid-voucher_modal',
    id: 'invalidVoucher_modal'
} %}
{% set modalAlert = {
    title: 'Invalid Voucher',
    text: '<p>Zero amount is redeemable using this voucher for this booking.</p>
            <p>Please try another Voucher Reference or select an alternative payment option.</p>'
} %}
{% include "partials/components/IBE/modals/_modal_alert.njk" %}
