{# PAYMENT METHOD FROM THIRD PARTY #}
<div class="payment_methods_content">
    <div class="payment_methods_thirdparty_wrap">
        here goes third party payment content
    </div>
    {% include "partials/components/IBE/payment/_payment-polices.njk" %}
</div>