{# 
    DOCUMENTATION
    payment = {
        VARIABLES
            titleTag: 'string'          // sets paymen methods header tag and change "choice of payment currency" title to h4 if has 'h3' value
            policiesText: 'string'      // confirmation checkbox text caption
        
        MODIFIERS
            hasPartials: boolean // shows discount and points
            hasAgencyPaymentMethods: boolean // add "agent acount" and on "hold payment" methods, remove unionpay and wechat
            hideSummary: boolean // remove right summary and shows form in 3 flex columns
    }

    EXAMPLE
    {% set payment = {
        hasPartials: true,
        policiesText: string,

        hasAgencyPaymentMethods: true
    } %}
    {% include "partials/components/IBE/payment/_payment.njk" %}
#}

<div class="payment_methods">
    {% if payment.hasPartials %}
        {% include "partials/components/IBE/payment/_payment-partials.njk" %}
    {% endif %}
    
    {# PAYMENT METHODS #}
    {% include "partials/components/IBE/payment/_payment-methods.njk" %}
    
    {# PAYMENT POLICIES #}
    {% if payment.hasPaymentPolices | default(true) %}
        {% include "partials/components/IBE/payment/_payment-polices.njk" %}
    {% endif %}
    
</div>
