<ibe-passenger>
    {# dropdown template #}
    {% if searchFlight.typology.template == 'dropdown' %}
        <div class="ui-input-container has-value">
            {% if searchFlight.typology.hasLabel | default(true) %}
            <div class="ui-label">{{searchFlight.typology.label}}</div>
            {% endif %}
            <div class="ui-dropdown">
                {# typology input #}
                <button class="ui-input"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    aria-controls="typologyList">
                    <span class="ui-dropdown_value">
                        {{searchFlight.typology.value}}
                    </span>
                </button>
                <div class="typology_option"
                    role="listbox"
                    id="typologyList"
                    tabindex="-1"
                    aria-hidden="true">

                    {# typology title #}
                    {% if searchFlight.typology.caption | length %}
                    <div class="search_tt_title">
                        {{searchFlight.typology.caption | safe}}
                    </div>
                    {% endif %}

                    <fieldset class="typology_option_list">
                        <legend class="hide-visually">{{searchFlight.typology.legend}}</legend>
                        {% for typology in searchFlight.typology.options %}
                        <div class="typology_option_item">
                            <div class="typology_option_label">
                                {{ typology.label }}
                                {% if typology.labelInfo | length %}<span class="label-small">{{typology.labelInfo}}</span>{% endif %}
                            </div>
                            <div class="typology_option_select">
                                {% set numeric_updown = typology.numericUpdown %}
                                {% include "partials/ui-elements/_numeric-updown.njk" %}
                            </div>
                        </div>
                        {% endfor %}
                    </fieldset>
                    {% if searchFlight.typology.buttonText| length %}
                        <div class="typology_option_button">
                            <button type="button" class="button">{{searchFlight.typology.buttonText}}</button>
                        </div>
                    {% endif %}

                    {# SELECTIONS CLOSE BUTTON #}
                    {% include "partials/components/IBE/flight-search/_flight-search_selections_close_button.njk" %}
                </div>
            </div>
        </div>

    {# select template #}
    {# {% elif searchFlight.typology.template == 'select' %}
        {% set selectForm = searchFlight.typology.formControl %}
        {% include "partials/ui-elements/_select.njk" %} #}

    {# search-collapsable template #}
    {% elif searchFlight.typology.template == 'search-collapsable' %}
        <div class="ui-input-container has-value">
            <button class="ui-input"
                data-toggle="collapse"
                data-target="#paxTypologyID"
                aria-expanded="false"
                aria-controls="paxTypologyID">
                <span class="value-selected">
                    {{searchFlight.typology.value}}
                </span>
            </button>
        </div>
        <div class="search_tt collapse" id="paxTypologyID">
            <div class="search_tt_inner">
                <div class="search_tt_menu_scroll">
                    {# title #}
                    {% if searchFlight.typology.caption | length %}
                    <div class="search_tt_title">
                        {{searchFlight.typology.caption | safe}}
                    </div>
                    {% endif %}
                    
                    {# typology options #}
                    <div class="typology_option">
                        <fieldset>
                            {# <legend class="search_tt_title">Passengers type selection</legend> #}
                            <div class="typology_option_list">
                                {% for typology in searchFlight.typology.options %}
                                <div class="typology_option_item">
                                    <div class="typology_option_label">
                                        {{ typology.label }}
                                        {% if typology.labelInfo | length %}<span class="label-small">{{typology.labelInfo}}</span>{% endif %}
                                    </div>
                                    <div class="typology_option_select">
                                        {% set numeric_updown = typology.numericUpdown %}
                                        {% include "partials/ui-elements/_numeric-updown.njk" %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% if searchFlight.typology.buttonText| length %}
                                <div class="typology_option_button">
                                    <button type="button" class="button">{{searchFlight.typology.buttonText}}</button>
                                </div>
                            {% endif %}
                        </fieldset>
                    </div>
                </div>
            </div>
            {# SELECTIONS CLOSE BUTTON #}
            {% include "partials/components/IBE/flight-search/_flight-search_selections_close_button.njk" %}
        </div>
    {% endif %}
</ibe-passenger>