// ********************
//  IBE COMPONENT
//
// ********************
//  SUMMARY
// ********************
//
//  + Header
//  + Total
//  + Collapse
//  + Journey
//  + Pax type list
//  + Close button
//  + summary notification
//
//  [Responsive]
//
//  + Side sliding summary (with its responsive)
//  + Summary aside
//
// *******************

$summary-notification-background: $c-color1;
$summary-pad: 40px;
$summary-header-height: 60px;

.summary {
	z-index: $summary-fixed-zindex;
	position: fixed;
	bottom: 0;
	height: $mobile-modal-header_height;
	&.oneway {
		.summary_body {
			justify-content: center;
		}
	}
	&.is-empty {
		//## when summary total is equal 0
		.summary_total_list {
			display: none;
		}
	}
	.tooltip-inner {
		min-width: 80px;
	}
}

// + Header
// -------
.summary_header {
	// z-index: $summary-header-zindex;
	z-index: 2;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $summary-header-height;
	color: #fff;
	box-sizing: border-box;
	padding: 10px 14px;
	background-color: $c-primary;
	box-shadow: $bs-section-top;
}

// + Total
// -------
.summary_trigger {
	@include iconfont($pbicon-arrow-up, after);
	@include font-size(22px);
	text-align: left;
	white-space: nowrap;
	color: #fff;
	cursor: pointer;
	&::after { //## collapse arrow icon
		@include font-size(18px);
		position: relative;
		top: 3px;
		color: $c-color1;
		margin-left: 6px;
		transition: .1s ease-out;
	}
	&[aria-expanded='true'] {
		&::after {
			transform: scaleY(-1);
		}
	}
}
.summary_total {
	width: 100%;
	@include font-size($f-size);
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	li {
		margin-bottom: 0;
	}
	.price {
		@include font-size($f-size-xxlg);
	}
}
.summary_total_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	box-sizing: border-box;
	.btn-next {
		@include font-size($f-size);
		@extend .btn-action;
		@extend .btn-sm;
		min-width: auto;
		margin-left: 12px;
		padding: 10px 23px;
		transform: translateX(0);
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 600;
		transition: transform .2s ease-in-out;
		.overlay-in & {
			transform: translateX(120%);
		}
	}
	li {
		@include clearfix;
		display: block;
		clear: both;
		margin: 0;
	}
}

// ++ Summary notification
.summary_notification {
	z-index: $alert-zindex;
	position: absolute;
	left: $gutter;
	top: -#{$combinedbar-height - 12px};
	min-width: 170px;
	background-color: $summary-notification-background;
	font-weight: 600;
	padding: 14px;
	text-align: center;
	opacity: 0;
	transition: all .3s ease-in-out;
	&::before { // arrow selector
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		bottom: -9px;
		left: 50%;
		transform: translateX(-50%) rotate(180deg);
		border-width: 0 9px 10px;
		border-color: transparent transparent $summary-notification-background transparent;
	}
	//## when notification is shown
	.show-notification & {
		opacity: 1;
		zoom: 1;
		filter: alpha(opacity=100);
		transform: translateY(-10px);
	}
}

// + Collapse
// -------
.summary_collapse_header {
	$summary-header-close-size: 22px;
	.title {
		font-weight: 600;
	}
}
.summary_head_header {
	position: relative;
	width: 100%;
	height: 86px;
	background-color: #fff;
	padding: 30px $summary-pad;
	box-sizing: border-box;
}

// + Journey
// -------
$summary-journey-icon-width: 140px;
.summary_journey {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	line-height: 1.2;
	padding: 14px 0 24px;
	&.return {
		.summary_date {
			&::before {
				content: $pbicon-plane-left;
			}
		}
	}
	&.has-connection-stop { //## if have stop
		.summary_route_icon {
			$summary-stop-size: 44px;
			&::after { //## svg flight stop
				content: '';
				@include svg-import($summary-stop-size, 22px, $summary-stop-size, icon, 'airplane-stop', 5px);
			}
		}
	}
	.connection {
		display: inline-block;
		@include font-size($f-size-sm);
		// padding-left: 6px;
		// padding-right: 2px;
		padding-left: 4px;
	}
	$connectio-link-size: 10px;
	.connection_link {
		@include iconfont($pbicon-info, after);
		width: calculateRem($connectio-link-size);
		height: calculateRem($connectio-link-size);
		background: $c-primary;
		border-radius: 50%;
		vertical-align: sub;
		&::after { //## info icon
			position: relative;
			top: -2px;
			left: -2px;
			color: $c-secondary;
		}
	}
	.connection_link_label {
		@extend .hide-visually;
	}
}
.summary_route {
	@include font-size(20px);
	display: flex;
	flex-basis: 100%;
	align-items: flex-start;
	font-weight: 500;
	flex-wrap: nowrap;
	margin-bottom: 12px;
}
.summary_airport {
	@include font-size($f-size);
	display: flex;
	flex-direction: column-reverse;
	flex-basis: $summary-journey-icon-width;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: wrap; //flex-shrink: 0;
	font-weight: 400;
	&:last-child {
		text-align: right;
	}
}
.summary_airport-city {
	margin-top: 5px;
}
.summary_airport-code,
.summary_time {
	@include font-size($f-size+2);
}
.summary_airport-code {
	position: relative;
	white-space: nowrap;
	text-transform: uppercase;
}
.summary_time {
	font-weight: 700;
}
.summary_route_icon {
	position: relative;
	display: flex;
	flex: 0 1 #{$summary-journey-icon-width};
	justify-content: center;
	margin: 0 3%;
	text-align: center;
	color: $c-color1;
	&::after { //## icon flight
		font-family: $f-icons;
		position: relative;
		padding: 0 9px;
		background: #fff;
		z-index: 1;
		top: 2px;
	}
	&::before { //## icon flight line
		content: '';
		position: absolute;
		top: 13px;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $c-primary-dark;
	}
	&.departure {
		&::after {
			//## icon flight
			content: $pbicon-plane-right;
		}
	}
	&.return {
		&::after {
			//## icon flight
			content: $pbicon-plane-left;
		}
	}
}

$sumare-date-icon-size: 28px;
.summary_date {
	position: relative;
	margin: 0 0 13px;
	color: $c-primary;
	font-weight: 600;
	order: -1;
}
.summary_fare {
	padding-right: 5px;
	.fare-label {
		@include font-size($f-size-sm);
		font-weight: 600;
	}
}
.summary_flight {
	@include font-size($f-size-sm);
	margin-top: 7px;
	padding-left: 5px;
	text-align: right;
	.flight-number_label {
		border-left: 1px solid $c-primary;
		padding-left: 8px;
	}
}

.flight-number {
	display: inline-block;
}
.flight-number_operator {
	text-transform: uppercase;
}
.summary_label {
	@extend .hide-visually;
}

.summary_typology {
	margin: 14px 0;
	padding-bottom: 6px;
	border-bottom: 1px solid $c-border;
}
.summary_typology_item {
	display: flex;
	justify-content: space-between;
	&[aria-expanded] {
		font-weight: 600;
		.paxtype_price {
			position: relative;
			white-space: nowrap;
			cursor: pointer;
		}
	}
	&[aria-expanded="true"] {
		.paxtype_price {
			&::before { // collapsed
				content: $pbicon-minus;
			}
		}
	}
}

// .summary_typology_group {}
.summary_typology_container {
	.table {
		tbody {
			th,
			td {
				padding-bottom: 0;
				border: 0;
			}
		}
		th {
			padding-left: 0;
		}
		td:last-child {
			text-align: right;
			padding-right: 0;
		}
	}
}

// + Pax type list
// -------
.paxtype {
	display: inline-block;
	&::after {
		content: ',';
		margin-right: 2px;
	}
	&:last-child {
		&::after {
			display: none;
		}
	}
}

// + At Bottom
// -------
// ++ Total
.summary_total-bottom_wrap {
	display: none;
}
.summary_total-bottom {
	margin: 0;
	.price_currency {
		@include font-size(24px);
	}
	.total-label {
		font-weight: 500;
		padding-right: 5px;
	}
}

// ++ Close button
.summary_close_btn {
	display: none;
	@extend .button;
	@extend .btn-secondary;
	min-width: 0;
	padding-left: 42px;
	padding-right: 42px;
}

// + Side sliding summary
// -------
.combined_summary_bar {
	.summary {
		display: flex;
		flex-direction: column-reverse;
	}
	// .summary_collapse {
	// 	height: 100%;
	// }
}

.combined_summary_bar, 
.summary-aside {
	height: 100%;
	.summary_body {
		@include mobile-modal_main-body;
		padding: 14px;
		box-sizing: border-box;
		background: $summary-body-background;
	}
	.summary_collapse_header {
		@include mobile-modal_header('.summary-opened');
		.close {
			@include mobile-modal-header_close-button;
		}
	}
}

// + Summary aside
// -------
.summary-aside {
	position: relative;
	z-index: $summary-fixed-zindex;
	// .summary-opened & {
	// 	position: relative;
	// 	z-index: $summary-fixed-zindex + 2;
	// }
	.summary_trigger,
	.price_currency {
		vertical-align: baseline;
	}
}

@mixin summary-grid {
	.summary_journey {
		display: grid;
		grid-template-columns: 1fr .5fr 1fr 1fr;
	}
	.summary_route {
		grid-column: 1 / span 3;
		grid-row: 3 / span 2;
	}
	.summary_date {
		grid-column: 1 / span 4;
		grid-row: 2;
	}
	.summary_fare {
		grid-column: 4;
		grid-row: 3;
	}
	.summary_flight {
		grid-column: 4;
		grid-row: 4;
	}
}

// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
	.summary_collapse_wrap {
		@include mobile-modal_main-container('.summary-opened', true, $summary-header-height);
		z-index: 1;
	}
}
@media #{$mobile-sm} { // >=480px
	.summary_airport-code,
	.summary_time {
		@include font-size($f-size-md);
	}
	.summary_route_icon {
		@include font-size($f-size-md);
		&::after {
			top: 0;
		}
	}
}
@media #{$mobile} { // >=640px
	.combined_summary_bar {
		@include summary-grid();
	}
	.summary_flight {
		@include font-size($f-size-xs);
		margin-top: -1px;
		padding-left: 0;
		.flight-number_label {
			border: 0;
		}
	}
	.summary_fare {
		.fare-label {
			justify-content: flex-end;
		}
	}
}
@media #{$summary-not-collapsed} { // >= 768px
	$summary-total-gutter: 40px;
	.summary {
		position: relative;
		height: auto;
	}
	.summary_header {
		position: static;
		left: auto;
		bottom: auto;
		width: auto;
		padding: 0;
		height: 100%;
		box-shadow: none;
	}
	.summary_total_list {
		padding: 0 $summary-pad;
		.btn-next {
			display: none;
		}
	}
	.summary_notification {
		left: auto;
		right: $gutter-desktop;
		top: #{$combinedbar-height};
		transform: translateY(0);
		&::before {
			transform: translateX(-50%) rotate(0);
			top: -9px;
		}
	}
	.summary_journey {
		// if have stop
		&.has-connection-stop {
			.summary_route_icon {
				&::after {
					width: 50px;
					height: 25px;
					background-size: 50px;
				}
			}
		}
	}
	.summary_route {
		margin-bottom: 0;
	}
	.summary_fare {
		padding-right: 0;
	}
	.summary_total-bottom_wrap {
		display: block;
		@include clearfix;
		@include font-size($f-size-md);
		color: $c-secondary;
		text-align: right;
	}

	// + Summary responsive specific styles (inside other components)
	//## summary responsive inside 'summary-aside' component
	.summary-aside {
		border: 1px solid $c-primary;
		.summary_header {
			pointer-events: none;
		}
		.summary_total_list {
			padding: 7px 12px;
		}
		.summary_collapse_wrap {
			position: static;
			height: auto;
			padding-bottom: 0;
		}
		.summary_body {
			overflow: hidden;
		}
		.summary_trigger {
			&::after {
				display: none;
			}
		}
		.summary_collapse_header {
			display: none;
		}
		.summary_journey {
			padding: 7px 0 30px;
		}
		.summary_date {
			margin-bottom: 17px;
		}
		.summary_total-bottom_wrap {
			padding-top: calculateRem(20px);
		}
	}

	//## summary responsive inside 'combined_summary_bar' component
	.combined_summary_bar {
		.summary {
			display: inherit;
			height: 100%;
		}
		.summary_collapse_wrap {
			//## when summary is closed
			// top: auto; 
			// overflow: visible;
			// padding-bottom: 0;
		}
		.summary_collapse_header {
			position: relative;
			box-sizing: content-box;
			width: auto;
			padding: 24px $summary-pad calculateRem(73px);
			height: auto;
			.title {
				@include font-size($f-size-md-lg);
				color: $c-secondary;
			}
			.close {
				top: 14px;
				right: 16px;
				cursor: pointer;
				transform: none;
			}
		}
		.summary_collapse {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: auto;
			display: block;
			width: $summary-opened-width;
			transform: translateX(100%);
			// transition: transform .42s ease-in-out;
		}
		.summary_body {
			height: calc(100vh - 128px);
			padding: 28px 40px 0; // IE11 support
			margin: 0;
		}
		.summary_total-bottom_wrap {
			padding: 5px $summary-total-gutter;
			margin: 48px -#{$summary-total-gutter} 24px -#{$summary-total-gutter};
			background: $c-primary;
		}
		.summary_close_btn {
			display: block;
			margin-bottom: 1.5rem;
		}
		.summary_trigger {
			position: absolute;
			right: 0;
			top: 50%;
			vertical-align: middle;
			padding-right: 18px;
			transform: translate(0, -50%);
			transition: all .4s ease-in-out;
			&::after { //## caret
				transform: rotate(90deg);
			}
			&[aria-expanded='false'] {
				&::after { //## collapse arrow icon
					opacity: 1;
				}
			}
			&[aria-expanded='true'] {
				&::after { //## collapse arrow icon
					opacity: 0;
				}
			}
			.price_currency {
				&::before { //## cart icon
					@include font-size(26px);
					padding-right: 10px;
					vertical-align: top;
				}
				.price {
					font-weight: 500;
				}
			}
		}

		//## when summary is opened
		.summary-opened & {
			.summary_collapse_header {
				height: auto;
			}
			.summary_header {
				position: fixed; // fixed
				width: $summary-opened-width;
				height: $combinedbar-height;
				background: $c-primary;
				right: 0;
				bottom: auto;
			}
			.summary_trigger {
				right: 100%;
				padding-left: 36px;
				transform: translate(100%, -50%);
			}
			.summary_collapse {
				display: block;
				transform: translateX(0);
				transition: transform .42s ease-in-out;
			}
			.summary_collapse_wrap {
				// position: static;
				// height: auto;
			}
		}
	}
}