
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/theme-paranair.css" /> -->
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    <title>Delivery of boarding pass</title>
    <style>@media only screen{html{min-height:100%;background:#fff}body{width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;Margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}img{-ms-interpolation-mode:bicubic;display:block}td{word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important}table,td{padding:0;vertical-align:top;text-align:left}table{border-spacing:0;border-collapse:collapse;width:100%}}@media only screen and (max-width:590px){center{min-width:0!important}}@media only screen and (max-width:590px){table.container{width:98%!important}}@media only screen and (max-width:640px){.ibe-flight__journey__wrap{width:100%!important}}@media only screen and (max-width:640px){.ibe-flight__journey__details{width:100%!important;float:none!important;margin:0!important;text-align:left!important}.ibe-flight__journey__details td{text-align:left!important;padding-top:7px!important}.ibe-flight__journey__details .ibe-fare__label,.ibe-flight__journey__details .ibe-flight__number{display:inline-block!important;margin:0!important}}@media print{a{color:#0037a2!important}.ibe-booking-reference__title,.ibe-flight__journey__details .ibe-fare__label{color:#001e59!important;background-color:#fff!important}.ibe-booking-reference__title{color:#001e59!important}.ibe-flight,.ibe-flight th{border:0!important;background-color:#fff!important}.ibe-flight__container{padding-bottom:14px!important;border-bottom:1px solid #888!important}.ico-social{display:none!important}.print-avoidbreak{page-break-inside:avoid}}</style>
    
  </head>
  <body style="Margin:0;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:left">
    <span class="preheader" style="color:#fff;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
    <table class="body" style="Margin:10px 0;background:#fff;height:100%;margin:10px 0;width:100%">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="" style="min-width:580px;width:100%">
            
            <table cellspacing="0" cellpadding="0" border="0" width="550" align="center" class="container float-center" style="Margin:0 auto;background:#fff;float:none;margin:0 auto;text-align:center;width:580px">
              	<tr>
            		<td>
            			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-header" style="background:#7EB7D8;background-color:transparent">
            			  <tr>
            			
            			
            			    <td class="ibe-header__logo" style="color:#fff;padding:14px 0;text-align:left;vertical-align:middle">
            			        <img src="http://paranair-ux.azurewebsites.net/emails/images/common/logo.png" alt="Paranair" style="float:left;height:37px;width:170px">
            			    </td>
            			
            			  </tr>
            			</table>
            			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-body" style="border:none;margin-top:0">
            			<tr>
            				<td class="content ibe-body__wrap" style="Margin:0;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;max-width:98%;padding:10px 0;text-align:left">
            					<table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-intro">
            						<tr>
            							<td class="content" style="Margin:0;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:left">
            									<h1 style="color:#0037a2;font-size:1em;font-weight:400;margin-bottom:1.2em;text-transform:uppercase"><b>DELIVERY OF BOARDING PASS</b></h1>
            									<p style="Margin:0 0 14px 0;line-height:1.4;margin:0 0 14px 0">Dear Customer,</p>
            											<p style="Margin:0;line-height:1.4;margin:0 0 14px 0;margin-bottom:0">Bellow you will find the boarding pass(es) generated by our online check-in system.</p>
            							</td>
            						</tr>      
            					</table>
            
            					<br><br>
            					<div class="single__title" style="color:#ac0d1f;font-size:1.2em;font-weight:600;margin-bottom:7px">Departure</div>
            					<div class="single__subtitle" style="color:#0037a2;font-size:1.4em;font-weight:400;margin-bottom:10px">Asunción - Salta</div>
            					<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" class="ibe-tickets__list">
            					  <tr>
            					    <th class="content" colspan="2" style="Margin:0;border-bottom:1px solid #0037a2;color:#0037a2;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:700;line-height:130%;margin:0;padding:6px 0;text-align:right">Boarding Pass</th>
            					  </tr>
            					  <tr>
            					      <td class="content" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
            					      <td class="content last" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">
            					              <a href="#" target="_blank" title="download boarding pass" style="color:#0037a2;text-decoration:underline">
            					                  Download
            					              </a>
            					      </td> 
            					  </tr>  
            					  <tr>
            					      <td class="content" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
            					      <td class="content last" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">
            					              <a href="#" target="_blank" title="download boarding pass" style="color:#0037a2;text-decoration:underline">
            					                  Download
            					              </a>
            					      </td> 
            					  </tr>  
            					  <tr>
            					      <td class="content" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
            					      <td class="content last" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">
            					              <a href="#" target="_blank" title="download boarding pass" style="color:#0037a2;text-decoration:underline">
            					                  Download
            					              </a>
            					      </td> 
            					  </tr>  
            					</table>
            
            					<br><br><br>
            					<div class="single__title" style="color:#ac0d1f;font-size:1.2em;font-weight:600;margin-bottom:7px">Return</div>
            					<div class="single__subtitle" style="color:#0037a2;font-size:1.4em;font-weight:400;margin-bottom:10px">Salta - Asunción</div>
            					<table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" class="ibe-tickets__list">
            					  <tr>
            					    <th class="content" colspan="2" style="Margin:0;border-bottom:1px solid #0037a2;color:#0037a2;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:700;line-height:130%;margin:0;padding:6px 0;text-align:right">Boarding Pass</th>
            					  </tr>
            					  <tr>
            					      <td class="content" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
            					      <td class="content last" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">
            					              <a href="#" target="_blank" title="download boarding pass" style="color:#0037a2;text-decoration:underline">
            					                  Download
            					              </a>
            					      </td> 
            					  </tr>  
            					  <tr>
            					      <td class="content" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
            					      <td class="content last" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">
            					              <a href="#" target="_blank" title="download boarding pass" style="color:#0037a2;text-decoration:underline">
            					                  Download
            					              </a>
            					      </td> 
            					  </tr>  
            					  <tr>
            					      <td class="content" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
            					      <td class="content last" style="Margin:0;border-bottom:1px solid #CFD9ED;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">
            					              <a href="#" target="_blank" title="download boarding pass" style="color:#0037a2;text-decoration:underline">
            					                  Download
            					              </a>
            					      </td> 
            					  </tr>  
            					</table>
            
            					<br><br><br>
            
            					<table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-intro">
            						<tr>
            							<td class="content" style="Margin:0;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:left">
            									<p style="Margin:0 0 14px 0;line-height:1.4;margin:0 0 14px 0">Remember that it is very important that you print two copies of your boarding pass. If you have carry-on baggage only, you are required to report directly to the boarding gate at least 1 hour in advance. However, if you have baggage to be checked, you are required to arrive at the Paranair counter at least 1.5 hours before your departure.</p>
            											<p style="Margin:0 0 14px 0;line-height:1.4;margin:0 0 14px 0">Also remember that when using this service, it is each passenger's responsibility to ensure that they meet the immigration and tax requirements for traveling to the destination to which the baggage is checked. If you have any questions about the requirements that apply to your situation, please contact customer service at <a href="mailto:atencionalcliente@paranair.com" border="0" style="color:#0037a2;text-decoration:underline">atencionalcliente@paranair.com</a>.</p>
            											<p style="Margin:0 0 14px 0;line-height:1.4;margin:0 0 14px 0">Yours sincerely,</p>
            											<p style="Margin:0;line-height:1.4;margin:0 0 14px 0;margin-bottom:0">Paranair</p>
            							</td>
            						</tr>      
            					</table>
            
            				</td>
                    	</tr>
                  	</table>
            
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-footer" style="background-color:#001e59;color:#fff;margin-top:20px;text-align:center">
                    <tr>
                      <td class="content" style="Margin:0;color:#001e59;font-family:Roboto,Arial,sans-serif;font-size:15px;font-weight:400;height:32px;line-height:130%;margin:0;padding:10px;text-align:center;vertical-align:middle">
                          <a href="https://www.twitter.com" target="_blank" class="ico-social" border="0" style="border:none;color:#fff;display:inline-block;height:32px;margin:0;text-align:center;text-decoration:none;width:32px"><img src="http://paranair-ux.azurewebsites.net/emails/images/common/social/twitter-w.png" width="32" style="display:block;height:32px;width:32px"></a>
                          &nbsp;&nbsp;
                          
                          <a href="https://www.facebook.com" target="_blank" class="ico-social" border="0" style="border:none;color:#fff;display:inline-block;height:32px;margin:0;text-align:center;text-decoration:none;width:32px"><img src="http://paranair-ux.azurewebsites.net/emails/images/common/social/facebook-w.png" width="32" style="display:block;height:32px;width:32px"></a>
                          &nbsp;&nbsp;
                  
                  
                  
                          <a href="copy-url" target="_blank" class="copy" style="color:#fff;display:inline-block;margin-left:7px;padding-top:9px;text-decoration:none;vertical-align:8px">www.paranair.com</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none;white-space:nowrap;font:15px courier;color:#fff">
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    </div>
  </body>
</html>
