// main: ../../../styles.scss
// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  ITINERARY
// ****************************************
//
// ****************************************
.itinerary {
    position: relative;
}

.itinerary_action {
    margin-right: 7px;
    margin-bottom: 14px;
    .action-link {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-family: $f-title;
        font-weight: 600;
        .icon {
            @include font-size($f-iconsize-md);
            display: inline-block;
            position: relative;
            top: 5px;
            color: $c-primary;
            vertical-align: sub;
            line-height: 1;
            margin-right: 4px;
            z-index: 1;
            &::after {
                content: "";
                background-color: $c-secondary;
                width: 8px;
                height: 8px;
                top: 14px;
                position: absolute;
                right: 4px;
                z-index: -1;
            }
        }
        .label {
            text-decoration: underline;
            font-weight: 500;
        }
        &:hover {
            color: $c-primary;
        }
    }
}

@media #{$mobile} { // >=640px
    .itinerary_action {
        position: absolute;
        top: -87px;
        right: 0;
        .action-link {
            .icon {
                @include font-size($f-iconsize-lg);
                display: block;
                &::after {
                    top: 18px;
                    right: 48px;
                }
            }
        }
    }
}