<div class="sportequipment_body">
    <div class="sportequipment_price">
        <span class="icon-sportequipment"></span>
        <span class="price">HKD 310</span>
        {% set promoLabel = {
            text: '50% off'
        }%}
        {% include "partials/ui-elements/_promo_label.njk" %}
        <button type="button"
            class="button btn-secondary"
            href="#sportsCollapse"
            data-target="expander-trigger"
            aria-expanded="false">
            Sports
        </button>
    </div>
    <div class="sportequipment_description">
        <p>
            Pre-pay your sports equipment now to guarantee your gear travels with you.
            <span class="moreinfo" id="moreinfoSports" data-toggle="expander">
                Sports equipment includes bicycles, diving and golf equipment, skis, snowboards and surfboards. Please note musical instruments do not count as sports equipment and different rules apply. Please refer to the oversize baggage section of our website before travelling.
            </span>
            <button class="moreinfo_trigger collapsed"
                aria-hidden="true"
                data-target="#moreinfoSports"
                data-expand="expander-trigger"
                aria-expanded="false">
                <span class="hide-visually">read more</span>
            </button>
        </p>
        <button type="button"
            class="button btn-secondary"
            data-toggle="collapse"
            href="#sportsCollapse"
            aria-expanded="false"
            aria-controls="sportsCollapse">
            Sports
        </button>
    </div>
</div>

<div id="sportsCollapse" class="collapse">
    <div class="service_segment">
        {% if isOW === true %}
            {% for specialBaggageSegment in specialBaggagesOW %}
            <div class="service_segment_column" tabindex="0">
                <div class="service_selection">
                    {% for passenger in passengers %}
                    <div class="service_selection_row">
                        <div class="column label">
                            {{passenger.firstName}} {{passenger.lastName}}
                        </div>
                        <div class="column selection">
                            {% set switch = {
                                checked: true
                            } %}
                            {% include "partials/ui-elements/switch/_switch.njk" %}
                        </div>
                        <div class="column price">
                            {{SHARED.currency}} <strong>229</strong>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% for specialBaggageSegment in specialBaggages %}
            <div class="service_segment_column" tabindex="0">
                <h3 class="service_segment_title">{{ specialBaggageSegment.title }}</h3>
                <div class="service_selection">
                    {% for passenger in passengers %}
                    <div class="service_selection_row">
                        <div class="column label">
                            {{passenger.firstName}} {{passenger.lastName}}
                        </div>
                        <div class="column selection">
                            {% set switch = {
                                checked: true
                            } %}
                            {% include "partials/ui-elements/switch/_switch.njk" %}
                        </div>
                        <div class="column price">
                            {{SHARED.currency}} <strong>229</strong>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
