<div class="triptype">
    {# switch template #}
    {% if searchFlight.triptype.style == 'switch' %}
        {% include "partials/components/IBE/flight-search/triptype/_triptype_switch.njk" %}
        
    {# radios template #}
    {% elif searchFlight.triptype.style == 'radios' %}
        {% include "partials/components/IBE/flight-search/triptype/_triptype_radios.njk" %}

    {# select template #}
    {% elif searchFlight.triptype.style == 'dropdown' %}
        {% set selectForm = searchFlight.triptype.formControl %}
        {% include "partials/ui-elements/_select.njk" %}
    {% endif %}
</div>