<div class="ui-checkbox-inline">
    {% for option in searchFlight.triptype.radios.options %}
        {% set checkboxForm = option %}
        {% include "partials/ui-elements/_checkbox.njk" %}
    {% endfor %}
</div>