// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH GRID
//
// ****************************************
//
// ****************************************

/// Use:
///		@include flight-search-grid($template: 'flightsearch-tpl1', $currency: true);

/// @argument {string} $template
///		The template name. Can have more templates in time.
///		Accepts: `basic`

/// @argument {boolean} $currency
///		When show or not currency component at flight search.
///		Accepts: `basic`

/// @argument {string} $options-indicator
///		Type of options indicator.
///		Accepts: null, `arrow-up` and `arrow-down`

/// @argument {number (unit in px)} $search-options-position-top
///		If flight search options position top is more than 100% so use this variable to add more space between input and options.

// ****************************************

@mixin flight-search-grid(
	$template: 'flightsearch-tpl1',
	$currency: false,
	$options-indicator: 'arrow-up',
	$options-position-top: null
) {

	.searchflight {
		// position: relative;
		.inner {
			display: grid;
			height: 100%;
			margin-right: -$search-components-margin-leftright;
			margin-left: -$search-components-margin-leftright;
		}
		.route,
		.dates,
		.typology,
		.currency,
		.searchflight_button {
			margin: $search-components-margin-topbottom $search-components-margin-leftright;
		}

		//## options indicator types
		@if $options-indicator != null {
			@include search-options-indicator (
				$type: $options-indicator,
				$options-position-top: $options-position-top
			);
		}
		@include search-options-close-button (
			$show: $options-has-closebutton,
			$show-desktop: $options-has-closebutton-desktop
		);
	}

	//## TEMPLATE 1
	@if $template == 'flightsearch-tpl1' {
		.searchflight {
			.searchflight_button {
				place-self: #{$search-button-valign} #{$search-button-halign};
			}
			//## show currency
			@if $currency {
				.inner {
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto auto auto auto;
				}
				.route {
					grid-column: 1/span 2;
					grid-row: 1;
					.search_tt {
						grid-area: 2/auto;
					}
				}
				.dates {
					grid-column: 1/span 2;
					grid-row: 2;
					.search_tt {
						grid-area: 3/auto;
					}
				}
				.typology {
					grid-column: 1/span 1;
					grid-row: 3;
					.search_tt {
						grid-area: 4/1/4/auto;
					}
				}
				.currency {
					grid-column: 2/span 1;
					grid-row: 3;
					.search_tt {
						grid-area: 4/auto;
					}
				}
				.searchflight_button {
					grid-column: 1/span 2;
					grid-row: 4;
					margin-top: $search-button-margin-top;
				}
			} @else {
				.inner {
					grid-template-columns: auto 1fr;
					grid-template-rows: auto auto auto 0;
				}
				.route {
					grid-column: 1/span 2;
					grid-row: 1;
					.search_tt {
						grid-area: 2/auto;
					}
				}
				.dates {
					grid-column: 1/span 2;
					grid-row: 2;
					.search_tt {
						grid-area: 3/auto;
					}
				}
				.typology {
					grid-column: 1/span 1;
					grid-row: 3;
					.search_tt {
						grid-area: 4/auto;
					}
				}
				.searchflight_button {
					grid-column: 2/span 1;
					grid-row: 3;
				}
			}

			// [Responsive]
			@if $search-grid-breakpoint-qty >= 1 {
				@media #{$search-grid-breakpoint-1} {
					//## show currency
					@if $currency {
						.inner {
							grid-template-columns: auto 1fr 1fr;
							grid-template-rows: auto auto auto 0;
						}
						.route {
							grid-column: 1/span 3;
							grid-row: 1;
						}
						.dates {
							grid-column: 1/span 3;
							grid-row: 2;
						}
						.typology {
							grid-column: 1/span 1;
							grid-row: 3;
						}
						.currency {
							grid-column: 2/span 1;
							grid-row: 3;
						}
						.searchflight_button {
							grid-column: 3/span 1;
							grid-row: 3;
							margin-top: 0;
						}
					} @else {
						.inner {
							grid-template-columns: 1fr auto;
							grid-template-rows: auto auto auto;
						}
						.route {
							grid-column: 1/span 2;
							grid-row: 1;
						}
						.dates {
							grid-column: 1/span 1;
							grid-row: 2;
						}
						.typology {
							grid-column: 2/span 1;
							grid-row: 2;
							.search_tt {
								grid-area: 3/auto;
							}
						}
						.searchflight_button {
							grid-column: 1/span 2;
							grid-row: 3;
							place-self: #{$search-button-valign-bp1} #{$search-button-halign-bp1};
							margin-top: $search-button-margin-top;
						}
					}
				}
			}
			@if $search-grid-breakpoint-qty >= 2 {
				@media #{$search-grid-breakpoint-2} {
					.inner {
						grid-template-rows: auto auto 0;
					}
					//## show currency
					@if $currency {
						.inner {
							grid-template-columns: 1fr auto auto auto;
						}
						.route {
							grid-column: 1/span 4;
							grid-row: 1;
						}
						.dates {
							grid-column: 1/span 1;
							grid-row: 2;
						}
						.typology {
							grid-column: 2/span 1;
							grid-row: 2;
						}
						.currency {
							grid-column: 3/span 1;
							grid-row: 2;
							.search_tt {
								grid-area: 3/auto;
							}
						}
						.searchflight_button {
							grid-column: 4/span 1;
							grid-row: 2;
							place-self: #{$search-button-valign-bp1} #{$search-button-halign-bp1};
						}
					} @else {
						.inner {
							grid-template-columns: 1fr auto auto;
						}
						.route {
							grid-column: 1/span 3;
							grid-row: 1;
						}
						.dates {
							grid-column: 1/span 1;
							grid-row: 2;
						}
						.typology {
							grid-column: 2/span 1;
							grid-row: 2;
						}
						.searchflight_button {
							grid-column: 3/span 1;
							grid-row: 2;
							place-self: #{$search-button-valign-bp1} #{$search-button-halign-bp1};
							margin-top: 0;
						}
					}
				}
			}
			@if $search-grid-breakpoint-qty >= 3 {
				@media #{$search-grid-breakpoint-3} {
					.inner {
						position: relative;
						grid-template-rows: auto 0;
					}
					@if $currency {
						.inner {
							grid-template-columns: 1.5fr 1fr auto auto .2fr;
						}
						.route {
							grid-column: 1/span 1;
							grid-row: 1;
						}
						.dates {
							grid-column: 2/span 1;
							grid-row: 1;
							.search_tt {
								grid-area: 2/auto;
							}
						}
						.typology {
							grid-column: 3/span 1;
							grid-row: 1;
							.search_tt {
								grid-area: 2/3/2/3;
							}
						}
						.currency {
							grid-column: 4/span 1;
							grid-row: 1;
							.search_tt {
								grid-area: 2/auto;
							}
						}
						.searchflight_button {
							grid-column: 5/span 1;
							grid-row: 1;
							place-self: #{$search-button-valign-bp1} #{$search-button-halign-bp1};
							.search_tt {
								grid-area: 2/auto;
							}
						}
					} @else {
						.inner {
							grid-template-columns: 2.2fr 1.3fr auto .5fr;
						}
						.route {
							grid-column: 1/span 1;
							grid-row: 1;
							.search_tt {
								@if $searchgrid-route-options-position == 'relative-right' {
									left: auto;
									grid-area: 2 /2 /2 /1;
								}
								@else if $searchgrid-route-options-position == 'relative-left' {
									grid-area: 2 /1 /2 /auto;
								}
								@else if $searchgrid-route-options-position == null {
									grid-area: 2 /auto;
								}
							}
						}
						.dates {
							grid-column: 2/span 1;
							grid-row: 1;
							.search_tt {
								@if $searchgrid-dates-options-position == 'relative-right' {
									left: auto;
									grid-area: 2 /3 /2 /1;
								} @else if $searchgrid-dates-options-position == 'relative-left' {
									grid-area: 2 /2 /2 /auto;
								}
								@else if $searchgrid-dates-options-position == null {
									grid-area: 2 /auto;
								}
							}
						}
						.typology {
							grid-column: 3/span 1;
							grid-row: 1;
							.search_tt {
								@if $searchgrid-typology-options-position == 'relative-right' {
									grid-area: 2 /4 /2 /1;
								}
								@else if $searchgrid-typology-options-position == 'relative-left' {
									grid-area: 2 /3 /2 /auto;
								}
								@else if $searchgrid-typology-options-position == null {
									left: auto;
									grid-area: 2 /1 /2 /auto;
								}
							}
						}
						.searchflight_button {
							grid-column: 4/span 1;
							grid-row: 1;
							place-self: #{$search-button-valign-bp1} #{$search-button-halign-bp1};
						}
					}
					.search_tt {
						// top: 100%;
						margin-right: $search-components-margin-leftright;
						margin-left: $search-components-margin-leftright;
						// @if $options-position-top != null {
						// 	top: calc(100% + #{$options-position-top});
						// }
					}
				}
			}
		}
	}

	//## TEMPLATE 2
	@else if $template == 'flightsearch-tpl2' {
		.searchflight {
			.inner {
				grid-template-columns: auto 1fr; // 2 cols
				grid-template-rows: auto auto auto auto auto; // 5 rows
			}
			.route {
				grid-column: 1/span 2;
				grid-row: 3;
				.search_tt {
					grid-area: 4/auto;
				}
			}
			.dates {
				grid-column: 1/span 2;
				grid-row: 4;
				.search_tt {
					grid-area: 5/auto;
				}
			}
			.typology {
				grid-column: 1/span 1;
				grid-row: 5;
				.search_tt {
					grid-area: 6/auto;
				}
			}
			.triptype {
				grid-column: 1/span 2;
				grid-row: 2;
				@if $searchgrid-triptype-position == 'default' {
					margin: $search-components-margin-topbottom $search-components-margin-leftright;
				}
			}
			.currency {
				grid-column: 2/span 1;
				grid-row: 1;
				place-self: center end;
			}
			// .promocode {}
			.searchflight_button {
				grid-column: 2/span 1;
				grid-row: 5;
				button {
					width: 100%;
					height: 100%;
				}
			}

			// [Responsive]
			@if $search-grid-breakpoint-qty >= 1 {
				@media #{$search-grid-breakpoint-1} {
					.inner {
						grid-template-columns: .6fr auto .3fr; // 3 cols
						grid-template-rows: auto auto auto 0; // 4 rows
					}
					.route {
						grid-column: 1/span 3;
						grid-row: 2;
					}
					.dates {
						grid-column: 1/span 1;
						grid-row: 3;
					}
					.typology {
						grid-column: 2/span 1;
						grid-row: 3;
					}
					.triptype {
						grid-column: 1/span 1;
						grid-row: 1;
					}
					.currency {
						grid-column: 2/span 2;
						grid-row: 1;
					}
					.searchflight_button {
						grid-column: 3/span 1;
						grid-row: 3;
					}
				}
			}
			@if $search-grid-breakpoint-qty >= 2 {
				@media #{$search-grid-breakpoint-2} {
					.inner {
						grid-template-columns: 1fr .4fr .5fr; // 3 cols
					}
				}
			}
			@if $search-grid-breakpoint-qty >= 3 {
				@media #{$search-grid-breakpoint-3} {
					.inner {
						position: relative;
						grid-template-columns: .7fr .7fr 1fr auto .3fr; // 5 cols
						grid-template-rows: auto auto 0; // 3 rows
					}
					.route {
						grid-column: 1/span 2;
						grid-row: 2;
						.search_tt {
							@if $searchgrid-route-options-position == 'relative-right' {
								left: auto;
								grid-area: 3 /3 /3 /1;
							}
							@else if $searchgrid-route-options-position == 'relative-left' or $searchgrid-route-options-position == 'relative-auto' {
								grid-area: 3/1;
							}
							@else if $searchgrid-route-options-position == null {
								grid-area: 3/1;
							}
						}
					}
					.dates {
						grid-column: 3/span 1;
						grid-row: 2;
						.search_tt {
							grid-area: 3/1;
						}
					}
					.typology {
						grid-column: 4/span 1;
						grid-row: 2;
						.search_tt {
							@if $searchgrid-typology-options-position == 'relative-right' {
								grid-area: 3 /5 /3 /1;
							}
							@else if $searchgrid-typology-options-position == 'relative-left' {
								grid-area: 3 /4 /3 /auto;
							}
							@else if $searchgrid-typology-options-position == null {
								left: auto;
								grid-area: 3 /1 /3 /auto;
							}
						}
					}
					.triptype {
						grid-column: 1/span 1;
						grid-row: 1;
					}
					.currency {
						grid-column: 2/span 1;
						grid-row: 1;
					}
					.promocode {
						grid-column: 1/span 5;
						grid-row: 3;
					}
					.searchflight_button {
						grid-column: 5/span 1;
						grid-row: 2;
					}
					.search_tt {
						// top: 100%;
						margin-right: $search-components-margin-leftright;
						margin-left: $search-components-margin-leftright;
						// @if $options-position-top != null {
						// 	top: calc(100% + #{$options-position-top});
						// }
					}
				}
			}
		}
	}
}