// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH INTERACTION (OVERLAY)
//
// ****************************************
//
//  Interactions behaviour:
//  on focus, search got highlighted within an opacity overlay behind it
//
// ****************************************

/// Use:
///		@include search-highlight-onfocus(true);

// ****************************************

@mixin search-highlight-onfocus($show: true) {
	@if $show {
		.search-opened {
			@include overlay-in;
			overflow: auto;
			.multiple-panel_content,
			.newsearch_collapse {
				z-index: $searchflight-highlight-zindex;
			}
		}
		.searchflight {
			//## give search options arrow a higher zindex
			.ui-input-multiline_group.is-focused .ui-input-multiline_group_inner,
			.typology .ui-input-container > button[aria-expanded='true'] {
				&::after { //## arrow down
					z-index: $searchflight-highlight-zindex + 2;
				}
			}
		}
	}
}