{% if multipleCalendarOptions %}
<ul class="dayselector_options">
    {% if daySelectorType == "week" %}
    <li><a role="button" href="BF-select_flight-month.html" class="link-monthcalendar">
        <span class="icon" aria-hidden="true"></span>
        <span class="label">Month</span>
    </a></li>
    {% elif daySelectorType == "month" %}
    <li><a role="button" href="BF-select_flight.html" class="link-weekcalendar">
        <span class="icon" aria-hidden="true"></span>
        <span class="label">Week</span>
    </a></li>
    {% elif daySelectorType == "bestprice" %}
    <li><a role="button" href="BF-select_flight.html" class="link-pricecalendar">
        <span class="icon" aria-hidden="true"></span>
        <span class="label">Best price</span>
    </a></li>
    {% endif %}
</ul>
{% endif %}