<div class="dayselector">
    {% include "partials/components/IBE/dayselector/_day_selector_options.njk" %}
    <div class="nsibe-monthselector">
        <div class="dayselector_slider" data-target="dayselectorSlider">
            <ul class="slider">
                {% for month in months %}
                <li class="slide{% if month.selected == true %} selected{% endif %}">
                    <a class="slide-item">
                        <div class="dayselector_date">
                            <div class="month">
                                {{month.month}}
                            </div>
                            {# <div class="year">
                                {{month.year}}
                            </div> #}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="slider_control">
                <a class="slider_control_btn prev"></a>
                <a class="slider_control_btn next"></a>
            </div>
        </div>
    </div>
    {% include "partials/components/IBE/dayselector/_month_selector_calendar.njk" %}
</div>
