<div class="nsibe-monthselector_calendar">
    <table>
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="empty"></td>
                <td class="disabled">
                    <div class="dayselector_date">
                        01
                    </div>
                    <div class="dayselector_price">
                        No flights
                    </div>
                </td>
                <td class="disabled">
                        <div class="dayselector_date">
                            02
                        </div>
                        <div class="dayselector_price">
                            Sold out
                    </div>
                </td>
                <td class="disabled">
                        <div class="dayselector_date">
                            03
                        </div>
                        <div class="dayselector_price">
                            Sold out
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        04
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        05
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        06
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dayselector_date">
                        07
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        08
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td class="bestprice">
                    <div class="dayselector_date">
                        09
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        10
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        11
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        12
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        13
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dayselector_date">
                        14
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        15
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        16
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td class="selected">
                    <div class="dayselector_date">
                        17
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        18
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td class="bestprice">
                    <div class="dayselector_date">
                        19
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        20
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dayselector_date">
                        21
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        22
                    </div>
                    <div class="dayselector_price">
                        <span class="old-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        23
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        24
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        25
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        26
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        27
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dayselector_date">
                        28
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        29
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="dayselector_date">
                        30
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
                <td class="bestprice">
                    <div class="dayselector_date">
                        31
                    </div>
                    <div class="dayselector_price">
                        <span class="normal-price">
                            <span class="currency">HKD</span>
                            <span class="price">477</span>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
