<div class="dayselector">
    {% include "partials/components/IBE/dayselector/_day_selector_options.njk" %}
    <div class="priceselector">
        <div class="dayselector_slider" data-target="dayselectorSlider">
            <button class="slider_control_btn prev" aria-label="Day calendar slider previous 3 days"></button>
            <ul class="slider">
                {% for day in days %}
                <li class="slide{% if day.selected %} selected{% endif %}{% if day.noflights %} noflights{% endif %}{% if day.disabled %} disabled{% endif %}{% if day.bestprice %} bestprice{% endif %}{% if day.exceed %} exceeded{% endif %}">
                    <button class="slide-item" 
                        aria-label="{% if day.week | length %}{{day.week}}, {% endif %}{{day.day}}, the lowest available fare is {{day.price}} {{SHARED.currency}}"
                        aria-selected="{% if day.selected == true %}true{% else %}false{% endif %}">
                        <span class="dayselector_date">
                            {% if day.week | length %}<span class="week">{{day.week}}</span>{% endif %}
                            {% if day.day | length %}<span class="date">{{day.day}}</span>{% endif %}
                        </span>
                        {% if (day.price | length) and (not day.noflights) %}
                            <span class="dayselector_price">
                                {% set price = {
                                    value: day.price
                                } %}
                                {% include "partials/components/IBE/_common/_price.njk" %}
                            </span>
                        {% endif %}
                    </button>
                </li>
                {% endfor %}
            </ul>
            <button class="slider_control_btn next" aria-label="Day calendar slider next 3 days"></button>
        </div>
    </div>
</div>
