// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  AUTH FORM
// ********************
//
// + auth-form
//
// ********************
.auth-form {
    .ui-form_text,
    .ui-form_forgot_password {
        @include font-size(12px);
        font-weight: 500;
        text-align: center;
        color: $gray60;
        a {
            color: $c-secondary;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .ui-form_forgot_password {
        margin: 10px 0 0;
    }
    .ui-form_input-button {
        @extend form;
        display: block;
        .ui-form_group {
            margin-bottom: 10px;
        }
    }
    .ui-form_input-buttons {
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
        .button {
            @include font-size($f-size-sm);
        }

    }
    .ui-form_input_check {
        @include font-size($f-size-sm);
        display: flex;
        justify-content: center;
        margin-top: -4px;
        margin-bottom: 2px;
        label {
            color: $gray60;
        }
    }
}

.auth-form_form {
    .ui-form_group_wrap {
        @extend .form;
    }
}

.auth-form_body-title {
    margin-bottom: 20px;
    text-align: center;
    .title {
        font-weight: 600;
        color: $c-primary;
    }
}

.auth-form_body-subtitle {
    margin-bottom: 20px;
    text-align: center;
    .subtitle {
        @include font-size($f-size-md);
        color: $c-color1;
        font-weight: 700;
    }
}

.auth-form_body-list {
    ul {
        @extend .list-style1;
        li {
            color: $gray50;
        }
    }
}

.auth-btn_action {
    @extend .button;
    @extend .btn-secondary;
}

.auth-form_footer {
    width: 100%;
    margin: 10px auto 0;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    color: $gray60;
    a {
        display: inline-block;
        font-weight: 600;
        color: $c-secondary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.auth-form_footer-footnote {
    margin-top: 16px;
    border-top: 1px solid $gray60;
    text-align: center;
    p { 
        @include font-size(10px);
        a {
            @include iconfont($icon-arrow-right, 'after');
            font-weight: 400;
            color: $gray60;
            text-transform: none;
            &::after {
                color: $c-color1;
                vertical-align: middle;
            }
        }
    }
}

@media #{$mobile} { // >= 640px
    .auth-form {
        .button {
            width: 220px;
        }
    }
}