// main: ../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  FORGOT PASSWORD FORM
// ********************
//
//
// ********************

.forgot-password_form {
    @extend .auth-form;
    .auth-form_body-title {
        @include font-size($f-size-xlg);
    }
    .ui-form_input-buttons {
        margin-top: 30px;
    }
}