// ********************
//  COMPONENTS
//
// ********************
//  LOGIN MODAL
// ****************************************
//
// + Modal form
// + Modal login
//
// ****************************************

// + Modal form
// -------
.modal_form {
    @include form;
}


// + Modal login
// -------
$modal-login-gutter-column-padding: 24px;
$modal-login-gutter-column-mobile-padding: 14px;;
.modal-login {
    .modal-inner {
        padding: 0;
    }
    .modal-body {
        background: #fff;
    }
    .login-form {
        padding: 0;
        background: transparent;
        .auth-form_body-title {
            margin-bottom: 15px;
            .title {
                @include font-size($f-size);
                color: #fff;
                text-transform: none;
            }
        }
        .socialmedia_title {
            width: auto;
            position: absolute;
            top: 13px;
            z-index: #{$modal-zindex + 1 };
            left: 50%;
            transform: translateX(-50%);
            .title {
                color: #fff;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
        
    .auth-form_body-list {
        li {
            @include font-size($f-size-sm);
            margin-bottom: 5px;
            color: #fff;
            &::before {
                top: 2px;
                left: 0;
            }
        }
    }
    .auth-form_socialmedia {
        padding-top: 12px;
        padding: 12px $modal-login-gutter-column-mobile-padding 0;
    }
    .socialmedia_login_separator {
        .text {
            background: #fff;
        }
    }
    .auth-form_form {
        padding: 0 $modal-login-gutter-column-mobile-padding;
    }
    .auth-form_footer {
        padding: 0 $modal-login-gutter-column-mobile-padding 12px ;
    }
   
    .auth-form_body {
        background: $c-primary;
        padding: 20px $modal-login-gutter-column-mobile-padding;
    }
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .modal-login {
        .login-form {
            display: grid; 
            grid-template-columns: 52% 48%;
            .auth-form_body-title {
                margin-bottom: 4em;
                .title {
                    @include font-size($f-size-md-sm);
                }
            }
            .socialmedia_title {
                position: relative;
                top: 0;
                z-index: 1;
                .title {
                    color: $c-primary;
                    font-weight: 600;
                    @include font-size($f-size-md);
                }
            }
        }
        .auth-form_body {
            grid-column: 1;
            grid-row: 1/span 3;
            background-image: url("../imgs/banners/viajeros-login.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 30px $modal-login-gutter-column-padding;
        }
        .auth-form_body-list {
            li {
                @include font-size($f-size);
                margin-bottom: 21px;
            }
        }
        .auth-form_socialmedia {
            grid-column: 2;
            grid-row: 1;
            padding: 12px $modal-login-gutter-column-padding 0;
        }
       
        login-container { // support IE
            grid-column: 2;
            grid-row: 2;
        }
        .auth-form_form {
            grid-column: 2;
            grid-row: 2;
            padding: 0 $modal-login-gutter-column-padding;
        }
        .auth-form_footer {
            grid-column: 2;
            grid-row: 3;
            padding: 0 $modal-login-gutter-column-padding 12px ;
        }
    }
}

@media #{$until-tablet-portrait} { // <=768px
    .modal-login {
        .close {
            width: 100%;
            position: relative;
            top: 0;
            padding: 22px;
            background: $c-color2;
            border-bottom: 4px solid $c-color1;
            &::before {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .modal-content {
            height: 100%;
        }
        .modal-body {
            position: initial;
        }
        .modal-inner {
            padding: 0;
        }
        .modal-dialog {
            @include custom-scroll(lighten);
            width: 100%;
            height: 100vh;
            margin: 0;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}

@media #{$until-mobile} { // <=640px
    .modal_form {
        .ui-input-container {
            max-width: unset;
            margin-top: 20px;
            &:first-child {
                margin-top: 10px;
            }
        }
    }
}