// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LOGIN FORM
// ****************************************
//
//    + Login-form
//    + Login-form vertical
//    + login-social
//
// ****************************************


// + Login-form
// -------
.login-form {
    @extend .auth-form;
    padding: 40px;
    background-color: $gray98;
    .ui-form_input-button {
        .ui-form_text, .ui-form_forgot_password {
            @include font-size(9px);
        }
    }
    .ui-form_input-buttons {
        margin-bottom: 0;
        .btn-action {
            min-width: auto;
        }
    }
    .auth-form_body-title {
        .title {
           @include font-size($f-size-md);
           text-transform: uppercase;
        }
    }
    .auth-form_footer {
        @include font-size($f-size-xs);
    }
    // socialmedia login form
    .socialmedia_login {
        margin-top: 0;
    }
    .socialmedia_login_separator {
        margin-bottom: 10px;
    }
    .socialmedia_login_options {
        margin-bottom: 16px;
    }
    .socialmedia_title {
        text-transform: uppercase;
        margin-bottom: 10px;
        .title {
            @extend .context-h3;
            @include font-size($f-size-md);
            color: $c-primary;
        }
    }
    .socialmedia_list {
        li {
            display: block;
            margin: 0;
        } 
    }

    @each $i in $socialmedia-types { // social media generated class (from variables)
        .socialmedia--#{nth($i, 1)} {
            color: #fff;
            background: nth($i, 3);
            &::before {
                display: none;
            }
        }
    }

    .socialmedia_link { // anchor
        @include font-size($f-size-sm);
        margin-bottom: 6px;
        padding: 9px 0;
        font-weight: 500;
        position: relative;
        border-radius: 5px;
        img {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px 0;
            width: 25px;
        } 
    }
}