// ********************
//  COMPONENTS
//
// ********************
//  BARCHART
// ****************************************
//
//  + barchart variables
//  + barchart
//  ++ barchart legend container
//  ++ barchart bars container
//
// ****************************************

@import 'bar';

.barchart {
	position: relative;
	padding: 0 calculateRem(24px);
}
.barchart_legend {
	display: flex;
	justify-content: space-between;
	margin: 0 0 calculateRem(6px);
}
.barchart_legend_item {
	@include font-size($f-size-xs);
	color: $c-primary;
}
// ++ barchart bars container
.barchart_bars {
	display: flex;
	margin: 0 (-$bar-body-margin);
}
.barchart_control_next,
.barchart_control_prev {
	position: absolute;
	top: 50%;
	padding: calculateRem(10px) 0;
	transform: translateY(-50%);
	cursor: pointer;
	&::before {
		color: $c-primary;
	}
}
.barchart_control_prev {
	@include iconfont($pbicon-arrow-left);
	left: -2px;
	padding-right: calculateRem(24px);
}
.barchart_control_next {
	@include iconfont($pbicon-arrow-right);
	right: -2px;
	padding-left: calculateRem(24px);
}