// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  BAR
// ****************************************
//
//  + bar variables
//  + bar
//  ++ bar description
//  ++ bar message
//
// ****************************************

// + bar variables
$bar-body-margin: 3px;
$bar-message-tab-width: 12px;
$bar-message-background-color: $c-secondary;

// + bar
.bar_item {
	flex: 1 1 100px;
	&.is-highlight {
		.bar {
			background-color: $c-primary;
		}
	}
	&.is-disabled {
		.bar {
			background-color: $c-color2;
		}
		.bar_description {
			color: $c-color2;
		}
	}
}
low-fare-finder-item {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	// modifiers
}
.bar_body {
	flex: 1 1 100%;
	display: flex;
	align-items: flex-end;
	height: calculateRem(124px);
	&::before,
	&::after { // bar margin simulator
		content: '';
		width: calculateRem(4px);
	}
}
.bar {
	position: relative;
	width: 100%;
	max-width: calculateRem(22px);
	max-height: 100%;
	margin: 0 auto;
	background-color: $c-primary-light;
	border-radius: 100vw;
}
// ++ bar description
.bar_description {
	@include font-size($f-size-xxs); 
	position: relative;
	flex: 0 0 auto;
	padding: calculateRem(6px) 0 0;
	text-align: center;
	line-height: 1.1;
	left: 50%;
	transform: translateX(-50%);
	word-break: break-word;
	span {
		display: block;
	}
}
.bar_description-item {
	display: block;
}
// ++ bar message
.bar_message {
	@include font-size($f-size-md);
	z-index: 1;
	position: absolute;
	top: 50%;
	left: calc(100% + #{$bar-message-tab-width + $bar-body-margin});
	padding: calculateRem(3px) calculateRem(7px);
	color: #fff;
	background-color: $bar-message-background-color;
	border-radius: $border-radius;
	transform: translateY(-50%);
	&::before { // tooltip tab (triangle)
		@include triangle('left', $bar-message-tab-width, $bar-message-tab-width, $bar-message-background-color);
		content: '';
		position: absolute;
		right: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	.price_currency {
		white-space: nowrap;
	}
}
