// ****************************************
//  UI ELEMENTS

// ****************************************
//  FORM ELEMENTS
// ****************************************
//
//    + Variables
//    + Containers
//        ++ States
//        ++ Form groups
//        ++ Input wrap
//    + Labels
//    + Fields types
//        ++ Input single and textarea
//        ++ Input multiple
//        ++ Input multiline
//    + Input messages
//    + Input with side button
//    + Select (dropdown)
//        ++ Custom selects
//            +++ Birth date selects
//    + Field with icon
//
//    + Checkbox and radio buttons
//    + Numeric up and down
//    + Validations and input states
//        ++ Input messages
//    + Range
//    + Required text
//    + Drop down list popover
//
//    + Buttons
//
//    + Forms containers
//
// ****************************************

// + Labels
// -------
.ui-label {
    @include font-size($label-fontsize);
    @include ellipsis;
    // z-index: 2;
    position: absolute;
    left: $input-lr-pad;
    left: 0;
    top: 0;
    display: block;
    max-width: calc(100% - #{$input-lr-pad});
    text-align: left;
    font-family: $label-family;
    color: $label-color;
    font-weight: 400;
    text-transform: uppercase;
    cursor: text;
    transition: $input-transition;
    .form-inverse & {
        color: $label-inverse-color;
    }
}
.ui-label_i {
    @include iconfont($pbicon-info, before);
    color: $c-primary;
}

// + Form control
// -------
.ui-input-container,
.ui-select-container {
    padding-top: 20px;
    height: auto;
    box-sizing: border-box;
    &:hover {
        .ui-label {
            .form-inverse & {
                color: $label-inverse-hover-color;
            }
        }
    }
}

.ui-input,
.ui-textarea {
    padding-bottom: $input-tb-pad + 1;
    .form-inverse & {
        color: $input-inverse-color;
        font-weight: 400;
        border-color: $label-inverse-color;
    }
}


// ++ States
.ui-select-container .ui-label,
.has-bind-prefix legend.ui-label {
    left: 0;
    top: 0;
    font-size: $f-size-xs;
}
.ui-input-container,
.ui-dropdown {
    &.is-focused {
        .ui-input {
            background-color: $c-primary-lighter;
            border-color: $c-primary;
            box-shadow: inset 0 0 0 1px $c-primary; // firefox support
            .form-inverse & {
                color: $input-inverse-color;
                box-shadow: 0 1px 0 0 $c-secondary;
            }
        }
        &.has-icon .icon {
            color: $c-primary;
        }
        .ui-dropdown_value {
            color: $c-primary;
            font-weight: 600;
            .form-inverse & {
                color: #fff;
            }
        }
    }
    &.is-readonly {
        .ui-input {
            color: $c-color1;
            border-bottom-color: $c-color1;
        }
    }
    &.has-error,
    &.is-invalid {
        .ui-input_message {
            @include iconfont($pbicon-cross-circled);
        }
        &:hover,
        &.is-focused {
            .ui-input {
                border-bottom-color: $c-error;
                box-shadow: 0 1px 0 0 $c-error;
            }
        }
    }
    &.is-valid {
        .ui-input_message {
            @include iconfont($pbicon-check);
        }
    }
    // &.has-icon {}
    // &.is-icon-clickable {}
}


// ++ Input multiple
//## 2 or more inputs inside the same container
// -------

// ++ Input multiline
.ui-input-multiline {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    &::before { //## icon inside input
        position: absolute;
        left: 8px;
        top: 0;
        @include font-size($f-iconsize-md);
        color: $c-primary;
        pointer-events: none;
    }
    .ui-input {
        @extend .ui-input.reset;
        position: relative;
        top: 1px;
        height: calc(100% - 2px); //## -2px for IE
        padding-top: 0;
        padding-bottom: 0;
    }
    button.ui-input {
        z-index: 1;
        position: relative;
        cursor: pointer;
    }
    input.ui-input {
        z-index: auto;
        border-radius: 0;
        .is-focused & {
            box-shadow: none;
        }
        &.disabled,
        &[disabled] {
            border: none;
            &:hover {
                border: none;
            }
        }
    }
    .is-focused &,
    .has-value & {
        .form-inverse & {
            border-bottom: solid 1px #fff !important;
        }
    }
}

// + Checkbox and radio buttons
// -------

// + Numeric up and down
// -------
$numeric-updown-fontsize: 34px;
.ui-num-ud {
    display: flex;
    align-items: center;
}
.ui-num-ud_button,
.ui-num-ud_input {
    flex: 0 0 auto;
    vertical-align: middle;
    text-align: center;
}
.ui-num-ud_button {
    z-index: 2;
    position: relative;
    padding: 0;
    font-size: $numeric-updown-fontsize;
    color: $num-updown-button-color;
    line-height: 1;
    cursor: pointer;
    transition: all .1s linear;
    &::before {
        position: relative;
        top: 2px;
    }
    &.minus {
        @include iconfont($pbicon-minus,before);
    }
    &.plus {
        @include iconfont($pbicon-plus,before);
    }
    &:hover {
        color: $num-updown-button-color-hover;
    }
    &.disabled {
        cursor: default;
        color: $num-updown-button-color-disabled;
        &:hover {
            color: $num-updown-button-color-disabled;
        }
    }
}
.ui-num-ud_input {
    min-width: 50px;
    max-width: 80px;
    height: ($numeric-updown-fontsize - 2);
    text-align: center;
    margin: 0 -14px;
    padding: 0 14px;
    box-sizing: border-box;
    background: $num-updown-input-bg;
    input {
        height: ($numeric-updown-fontsize - 2);
        @include font-size($f-size-sm);
        color: $c-text;
        border: none;
        width: 100%;
        height: 100%;
        background: none;
        text-align: center;
        padding-bottom: 2px;
        &[readonly] {
            user-select: none;
        }
    }
}

// + Required text
// -------
.required-text {
    @include font-size($f-size-sm);
    display: inline-block;
    float: right;
    color: $c-text;
}


// + Drop down list popover
// -------
$ui-dropdown-popover_shadow: 0 0 4px 0 rgba(0,0,0,0.3);
$ui-dropdown_list-triangle-size: 12px;
.ui-dropdown-popover {
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 212%;
    min-width: 320px;
    &[aria-hidden='true'] {
        display: none;
    }
    .iconlink-close { //## close button dropdown-popover when responsive
        display: none;
    }
}

// search inputs
.ui-input-multiline_group {
    position: relative;
    width: 50%;
    float: left;
    box-sizing: border-box;
    .ui-input-multiline_group_inner {
        height: 100%;
    }
    input.ui-input {
        &[readonly] {
            @include placeholder;
            color: $input-color;
            cursor: default;
            &:hover {
                border: none;
            }
        }
    }
}

.searchflight .typology_option,
.ui-dropdown_list {
    background-color: #fff;
}

@mixin formcontrol-inverse-style {
    // + inputs
    .ui-input-multiline {
        .ui-input {
            color: #fff;
            background-color: $c-primary-dark;
            border: $input-border-width solid $c-primary-light;
            border-radius: $input-border-radius;
        }
    }
    .ui-input-multiline_group_inner,
    .ui-dropdown .ui-input {
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -#{calculateRem(10px)};
            transform: translateX(-50%);
            display: none;
            border: calculateRem(10px) solid transparent;
            border-bottom: calculateRem(10px) solid #fff;
        }
    }
	.ui-input {
        color: #fff;
        &::after {
            color: #fff;
        }
        &::placeholder {
            color: #fff;
        }
        // &::before {
        //     content: '';
        //     position: absolute;
        //     left: 50%;
        //     bottom: -#{calculateRem(10px)};
        //     transform: translateX(-50%);
        //     // display: none;
        //     border: calculateRem(10px) solid transparent;
        //     border-bottom: calculateRem(10px) solid #fff;
        // }
    }

    // + selects
    .ui-select-container {
        .ui-input {
            border: 0;
        }
    }
    .ui-dropdown_value {
        color: #fff;
    }
	.ui-select-container {
		.ui-input {
			flex-wrap: nowrap;
			padding: calculateRem(10px) calculateRem(24px) calculateRem(10px) calculateRem(14px);
			&::after {
				right: 0;
				margin-left: calculateRem(3px);
			}
		}
	}
	.ui-dropdown_list {
		margin-top: 0;
		border-top-color: #fff;
		padding: 0;
		border-top: calculateRem(20px) solid #fff;
		border-bottom: calculateRem(20px) solid #fff;
        border-radius: calculateRem($border-radius);
		&:first-child {
			.button {
				padding-top: 0;
			}
		}
		&:last-child {
			.button {
				padding-bottom: 0;
			}
        }
        li {
            a,
            button {
                @include font-size($f-size-xs);
                color: $c-primary-dark;
                &:focus {
                    color: #fff;
                    background-color: $c-primary;
                    outline: 0;
                }
            }
        }
    }
    .ui-slider-range_input {
        &::-webkit-slider-thumb {
            background-color: #fff;
        }
        &::-webkit-slider-runnable-track {
            background-color: $c-primary-soft;
        }
        /* styles for mozille */
        &::-moz-range-thumb {
            background-color: #fff;
            border-color: #fff;
        }
        &::-moz-range-track {
            background-color: $c-primary-soft;
        }
        /* styles for IE */
        &::-ms-thumb {
            background-color: #fff;
            border-color: #fff;
        }
        &::-ms-track,
        &::-ms-fill-lower,
        &:focus::-ms-fill-lower,
        &::-ms-fill-upper {
            background-color: $c-primary-soft;
        }
    }
}