// main: ../styles.scss
//last modification 3:53 29/01/2018
// ****************************************
//  LAYOUT
//
// ****************************************
//  FOOTER
// ****************************************
//
// ****************************************
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $footer-color;
    background-position: center;
    background-color: $footer-background;
    .content {
        @include container-wrap;
        text-align: right;
        line-height: 1.2;
        margin: 0 auto;
    }
    .poweredby {
        @include font-size($f-size-sm);
        display: block;
        padding: 18px 0;
        font-weight: 300;
        font-family: $font-sanserif;
    }
    .poweredby_logo {
        display: inline-block;
        width: 66px;
        .logo {
            img {
                margin-bottom: -2px;
            }
        }
    }
}

// .footer_logo {}

.footer_right {
    float: right;
}

@media #{$until-tablet-portrait} {
    .footer {
        display: none;
    }
}