{#
    DOCUMENTATION:
    login_form = {
        VARIABLES
        MODIFIERS
    }
    EXAMPLE
    {% set authForm = {
        formHead: {
            title: "Buscar su carga aqui",
            list: {},
            text: ""
        },
        buttonText: 'Buscar',
        isSocial: false,
        forgotPassword: false,
        hasGetText: false,
        data: {
            formGroups: [
                {
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Prefijo de la aerolinea',
                                        type: "text"
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Número AWB',
                                        type: "text"
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        } 
    } %}
    {% include "partials/components/_shared/forms/_auth-form.njk" %}
#}

<login-container>
<div class="{{authForm.formTypeClass | default('auth-form')}}">
        {% if authForm.formHead %}
            {% set formHead =  authForm.formHead %}
            <div class="auth-form_body">
                {% if formHead.title | length %}
                    <div class="auth-form_body-title">
                        <h3 class="title">{{ formHead.title }}</h3>
                    </div>
                {% endif %}
                {% if formHead.subtitle | length %}
                    <div class="auth-form_body-subtitle">
                        <h4 class="subtitle">{{ formHead.subtitle }}</h4>
                    </div>
                {% endif %}
                {% if formHead.list.items | length > 0 %}
                    <div class="auth-form_body-list">
                        <ul>
                            {% for item in formHead.list.items %}
                                <li>{{ item.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if formHead.text | length %}
                    <div class="auth-form_body-text">
                        <p>{{ formHead.text }}</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if authForm.isSocial %}
            <div class="auth-form_socialmedia">
                {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}
            </div>
        {% endif %}

        <div class="auth-form_form">
            <ibe-login-form>
                <form>
                    <fieldset>
                        <div class="ui-form_group_wrap">
                            {# create form #}
                            {% set formElements = authForm.data %}
                            {% include "partials/components/_shared/forms/_create_form.njk" %}
                        
                            {% if authForm.check | length %}
                                {# FORM CHECKBOX #}
                                {% set checkboxForm = {
                                    type: 'checkbox',
                                    label: authForm.check.label,
                                    checked: authForm.check.status,
                                    id: 'checkbox-1'
                                } %}
                                <div class="ui-form_input_check">
                                    {% include "partials/ui-elements/_checkbox.njk" %}
                                </div>
                            {% endif %}

                            {% if authForm.text | length %}
                                <div class="ui-form_text">
                                    {{ authForm.text | safe }}
                                </div>
                            {% endif %}

                            <div class="ui-form_input-buttons">
                                {% if authForm.buttonSecondaryText | length %}
                                    <button class="ui-form_button-secondary button" 
                                        onclick="location.href='{{authForm.buttonSecondaryUrl}}'">
                                        {{authForm.buttonSecondaryText}}
                                    </button>
                                {% endif %}
                                <button type="button"
                                    class="ui-form_button-action button"
                                    onclick="location.href='{{authForm.buttonUrl}}'">
                                    {{authForm.buttonText}}
                                </button>
                            </div>
                            {% if authForm.forgotPassword | length %}
                                {% set forgot = authForm.forgotPassword %}
                                <div class="ui-form_forgot_password">
                                    <p>
                                        {% if forgot.hasModal | length %}
                                        <button class="forgot-link"
                                            data-toggle="modal" 
                                            data-target="#{{forgot.hasModal.id}}" 
                                            {% if forgot.hasModal.modalBefore %}
                                                data-dismiss="modal" aria-label="Close"
                                            {% endif %}
                                            {{ forgot.title }}
                                        </button>
                                        {% else %} 
                                        <a href="{{ forgot.url}}" class="forgot-link">
                                            {{ forgot.title }}
                                        </a>
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </form>
            </ibe-login-form>
        </div>

        {% if authForm.hasGetText %}
        <div class="auth-form_footer">
            <p>{{ authForm.infoButton.text  }} <a href="{{ authForm.infoButton.link.url}}"> {{ authForm.infoButton.link.title }}</a></p>
            {% if authForm.infoButton.footnote | length %}
                <div class="auth-form_footer-footnote">
                    {{ authForm.infoButton.footnote | safe }}
                </div>
            {% endif %}
        </div>
        {% endif %}
</div>
</login-container>