
{#
    DOCUMENTATION

    elementsGroup = {
        type: type of input (checkbox, selectForm or default input_text )  
        element: {} data input
    }

    EXAMPLE
    {% set formElements = {  
        formGroups: [
            {                
                elements: [
                    {
                        elementsGroup: [                            
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Nombre para factura'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Nit',
                                    tooltip: "Reward-U is the loyalty program of HK Express. If you're not a member you can sign up at the payment page."
                                }
                            }
                        ]
                    }                     
                ]
            }
        ]              
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}   
#}

{% for formGroup in formElements.formGroups %}
    {% if formGroup.isContainer %}<div class="{{ formGroup.container | default('form columns-3') }}">{% endif %}
        {% for elements in formGroup.elements %}
            {% for inputForm in elements.elementsGroup %}

                {# combined/multiple fields #}
                {% if inputForm.type == 'combinedForm' %}
                    <div class="ui-form_group{% if inputForm.hasPrefix %} has-prefix{% endif %}">
                        <div class="ui-form_controls">
                        {% for inputFormItem in inputForm.items %}
                            {# field: input/textarea #}
                            {% if inputFormItem.type == 'inputForm' %}
                                {% set inputForm = inputFormItem.element %}
                                {% include "partials/ui-elements/_input_text.njk" %}
                            {# field: select #}
                            {% elif inputFormItem.type == 'selectForm' %}
                                {% set selectForm = inputFormItem.element %}
                                {% include "partials/ui-elements/_select.njk" %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {# field: checkbox/radio #}
                    {% if inputForm.type == 'checkbox' %}
                        {% set checkboxForm = inputForm.element %}
                        {% include "partials/ui-elements/_checkbox.njk" %}

                        
                    {# field: checkbox/slider-range #}
                    {% elif inputForm.type == 'sliderRange' %}
                        {% set sliderRange = inputForm.element %}
                        {% include "partials/ui-elements/_slider-range.njk" %}

                    {# field: select #}
                    {% elif inputForm.type == 'selectForm' %}
                        {% set selectForm = inputForm.element %}
                        {% include "partials/ui-elements/_select.njk" %}

                    {# field: mobilephone #}
                    {% elif inputForm.type == 'mobileForm' %}
                        {% set mobileForm = inputForm.element %}
                        {% include "partials/ui-elements/_form_mobilephone.njk" %}
                    {% else %}   
                        {% set inputForm = inputForm.element %}
                        {% include "partials/ui-elements/_input_text.njk" %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% if formGroup.isContainer %}</div>{% endif %}
{% endfor %}