<div class="forgot-password_form">
    <div class="ui-form_group">
        {% set inputForm = {
            label: 'User ID',
            placeholder: '',
            name: 'user_id',
            id: 'user_id'
        } %}
        {% include "partials/ui-elements/_input_text.njk" %}
    </div>
    <div class="ui-form_group">
        {% set inputForm = {
            label: 'Email Address',
            placeholder: '',
            name: 'email-address',
            id: 'email-address'
        } %}
        {% include "partials/ui-elements/_input_text.njk" %}
    </div>
    <div class="ui-form_buttons align-right">
        <button class="button btn-secondary">Back to sign in</button>
        <button class="button btn-action">Reset password</button>
    </div>
</div>
