{#
    DOCUMENTATION:
    login_form = {
        VARIABLES
            input1Label: 'string' // first input top label
            input2Label: 'string' // second input top label
            buttonText: 'string'  // action button text
            buttonUrl: 'string'   // action button url link
            MODIFIERS
            isVertical: boolean   // draws vertical inputs
            hasTooltips: boolean  // add or remove tooltips
            forgotPassword: boolean // add forgot password link
            hasGetText: boolean // add button get one text
            getTextInfoBottom: 'string' // add text after of form
            getTextLinkBottom: 'string' // add link after of form
            fotgotPasswordLink: 'string' // draws forgot password link
        MODIFIERS
            type: 'sign_up' | 'sign_in' // draws the correct form fields
            isVertical: boolean   // draws vertical inputs
            hasTooltips: boolean  // add or remove tooltips
            forgotPassword: boolean // add forgot password link
            hasGetText: boolean // add button get one text
            getTextInfoBottom: 'string' // add text after of form
            getTextLinkBottom: 'string' // add link after of form
            isSocial: boolean // if true show icons social and space and organization link forgot and sign in
    }

    EXAMPLE
    {% set login_form = {
        input1Label: 'Booking Reference / PNR',
        input2Label: 'Last Name (Surname)',
        buttonText: 'Check-in',
        buttonUrl: 'index' + urlExtension | default('.html'),
        isVertical: true,
        hasTooltips: false
    } %}
    {% include "partials/components/_shared/forms/_login-form.njk" %}
#}

<div class="login-form{% if login_form.isVertical %}-vertical{% endif %}{% if login_form.type == 'sign_in' %} sign-in{% elif login_form.type == 'sign_up' %} sign-up{% endif %}">
    <form>
        <fieldset>
            <div class="ui-form_input-button">
                {% if login_form.type == 'sign_up' %}                  
                    {% set inputHasLabel = true %}
                    {% set inputForm = {
                        label: 'First name',
                        placeholder: '',
                        name: 'first-name',
                        id: 'first-name',
                        type: 'text'
                    } %}
                    {% include "partials/ui-elements/_input_text.njk" %}
                                    
                    {% set inputHasLabel = true %}
                    {% set inputForm = {
                        label: 'Last name',
                        placeholder: '',
                        name: 'last-name',
                        id: 'last-name',
                        type: 'text'
                    } %}
                    {% include "partials/ui-elements/_input_text.njk" %}                    
                {% endif %}
                {% if  formElements.formGroups | length > 0 %}              
                    {% include "partials/components/_shared/forms/_create_form.njk" %} 
                {% else %}
                    {% set inputHasTooltip = login_form.hasTooltips | default(true) %}
                    {% set inputForm = {
                        label: login_form.input1Label | default('Booking Reference / PNR'),
                        placeholder: login_form.placeholderInput,
                        name: 'email',
                        id: 'email',
                        tooltip: '6 numbers and letters',
                        type: 'email'
                    } %}
                    {% include "partials/ui-elements/_input_text.njk" %}
                    {% set inputHasTooltip = false %}  

                    {% if login_form.input2Label %}                        
                        {% set inputHasLabel = true %}
                        {% if login_form.type == 'sign_up' %}
                            {% set inputForm = {
                                label: login_form.input2Label | default('Email Address'),
                                placeholder: '',
                                name: 'password',
                                id: 'password',
                                icon: 'eye',
                                iconButton: true,
                                iconTitle: 'show password',
                                iconRight: true,
                                type: login_form.typeInput2
                            } %}
                        {% else %}
                            {% set inputForm = {
                                label: login_form.input2Label | default('Email Address'),
                                placeholder: '',
                                name: 'password',
                                id: 'password',
                                type: login_form.typeInput2
                            } %}
                        {% endif %}
                        {% include "partials/ui-elements/_input_text.njk" %}
                       
                    {% endif %}

                {% endif %}

                {% if login_form.isSocial %}
                <div class="ui-form_group login-form_actions">
                    <button type="button"
                        class="button btn-action"
                        onclick="location.href='{{login_form.buttonUrl}}'">
                        {{login_form.buttonText}}
                    </button>
                </div>
                {% endif %}

                {% if not login_form.isSocial %}
                    {% if login_form.forgotPassword %}
                        <a class="forgot-link" href="#">Forgot Password</a>
                    {% endif %}
                    {% if  formElements.formGroups | length > 0 %}
                        <div class="ui-form_input-buttons">
                            {% if login_form.buttonSecondaryText | length %}
                                <button type="button" 
                                    class="button btn-secondary" 
                                    onclick="location.href='{{login_form.buttonSecondaryUrl}}'">
                                    {{login_form.buttonSecondaryText}}
                                </button>
                            {% endif %}
                            <button type="button"
                                class="button btn-action"
                                onclick="location.href='{{login_form.buttonUrl}}'">
                                {{login_form.buttonText}}
                            </button>
                        </div>
                    {% else %}
                        <button type="button"
                            class="button btn-action"
                            onclick="location.href='{{login_form.buttonUrl}}'">
                            {{login_form.buttonText}}
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </fieldset>
    </form>
    {% if login_form.hasGetText %}
        {% if login_form.forgotPassword %}
            <p>
                <a class="forgot-link" href="#">Forgot Password?</a>
            </p>
        {% endif %}
        <p>{{ login_form.getTextInfoBottom | default('Not a Ufly-Pass holder?') }} <a href="{{ login_form.getTextLink | default('#') }}"> {{ login_form.getTextLinkBottom | default('Get one now!') }}</a></p>
    {% endif %}
</div>
