{#
    DOCUMENTATION

    EXAMPLE
    {% include "partials/components/IBE/_common/_ufly-sign-up-form.njk" %}
#}

<div class="passenger_data">
    <fieldset class="container">
        {% include "partials/ui-elements/_form_gender.njk" %}
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'First and middle name (given)*',
                placeholder: '',
                name: 'firstName',
                id: 'firstName'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Last name (surname)*',
                placeholder: '',
                name: 'lastName',
                id: 'lastName'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group ui-form_group--mobile">
            {% include "partials/ui-elements/_form_birthdate.njk" %}
        </div>
        <div class="ui-form_group ui-form_group--mobile">
            {% set selectHasTooltip = true %}
            {% set mobilePhone = {
                label: 'Mobile phone'
            } %}
            {% set inputPrefix = {
                label: 'Prefix',
                placeholder: 'Prefix',
                id: 'mobilePrefix'
            } %}
            {% set inputMobile = {
                label: 'mobile number',
                placeholder: 'Mobile phone',
                id: 'mobileNumber'
            } %}
            {% include "partials/ui-elements/_form_mobilephone.njk" %}
            {% set selectHasTooltip = false %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Email*',
                placeholder: '',
                name: 'email',
                id: 'email'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Confirm email*',
                placeholder: '',
                name: 'confirmEmail',
                id: 'confirmEmail'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Password*',
                placeholder: '',
                name: 'password',
                id: 'password'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Confirm Password*',
                placeholder: '',
                name: 'confirm_password',
                id: 'confirm_password'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
    </fieldset>
    <p class="required-text">{{SHARED.formRequiredText}}</p>
</div>

