{#
    DOCUMENTATION
    
    EXAMPLE
    {% set termsCheckbox = {
        intro: "<p>Por favor, marque para aceptar las condiciones antes de hacer clic en 'siguiente'.</p>",
        label: "Declaro que toda la información proporcionada es verdadera según mi leal saber y entender.
                <br/>También reconozco que no llevo mercancías peligrosas.
                <br/>Estoy viajando con todos los documentos requeridos y actualizados para este viaje.
                <br/>Para más información contáctenos en <a href="mailto:atencionalcliente@paranair.com">atencionalcliente@paranair.com</a>",
        id: 'termscheckbox'
    } %}
    {% include "partials/components/_shared/forms/_terms-checkbox.njk" %}
#}
<ibe-terms>
    <div class="terms_check">
        {% if termsCheckbox.intro | length %}
            {{termsCheckbox.intro | safe}}
        {% endif %}
        {% set checkboxForm = termsCheckbox %}
        {% include "partials/ui-elements/_checkbox.njk" %}
    </div>
</ibe-terms>