// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR FARES
// ********************
//
//  + Mixin flight fares styles
//  + flights fares comparator
//  [Responsive]
//
// ********************

$select-fares-breakpoint: $bp-tablet-portrait; // 768px

//## generate flight selector fares header
//## using general fares quantity value from variales.scss
@mixin flight-fares-options-styles {
	@for $i from 1 through $fare-quantity {
		.flights_fares_item.fare#{$i} {   
			@if $i == 1 {
				@include fare1-style;
			}
			@else if $i == 2 {
				@include fare2-style;
			}
			@else if $i == 3 {
				@include fare3-style;
			}
			@else if $i == 4 {
				@include fare4-style;
			}
			@else if $i == 5 {
				@include fare5-style;
			}
		}
	}
}
@include flight-fares-options-styles;

.flights_fares {
	z-index: 9999;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 36px $gutter-sides 26px;
}
.btn-fares_flight {
	display: block;
	text-align: right;
	margin: 0 .6% 15px;
}
.flights_fares_item {
	position: relative;
	width: 100%;
	margin: 10px 0;
	border: 1px solid $c-primary;
	cursor: pointer;
	padding: 4px;
	flight-fare { //## support for angular
		display: flex;
		align-items: center;
		width: 100%;
	}
	&.selected {
		background-color: $c-color4;
		box-shadow: inset 0 0 0 1px $c-primary;
		cursor: auto;
		.flights_fares_button {
			&::before { //## simulates a radio box option
				background-color: $c-secondary;
				border-color: $c-secondary;
				box-shadow: inset 0 0 0 3px #fff;
			}
		}
	}
	&.unavailable {
		cursor: default; 
		pointer-events: none;
		opacity: .4;
		.flights_fares_button {
			&::before { display: none; }
		}
	}
}
.flights_fares_header {
	@include fares-common-styles;
	margin-left: calculateRem(34px);
	.fare-name {
		font-weight: 600;
	}
}
.flights_fares_body {
	display: none;
}
.flights_fares_footer {
	display: flex;
	margin-left: auto;
}
.flights_fares_button {
	position: static;
	flex-grow: 1;
	min-width: auto;
	padding: 8px 8px 8px 0;
	text-align: right;
	white-space: nowrap;
	border: none;
	&::before { //## simulates a radio box option
		$size: 18px; //## radio simulation size
		content: '';
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 12px;
		box-sizing: border-box;
		width: calculateRem($size);
		height: calculateRem($size);
		background-color: #fff;
		border: 1px solid $c-color2;
		border-radius: 100vh;
		transform: translateY(-50%);
	}
	.price_currency {
		@include font-size(20px);
	}
}
.flights_fares_fare-text {
	font-weight: 600;
}
.fares_list {
	@include font-size($f-size-sm);
	margin-bottom: 24px;
	li {
		@include iconfont-with-background($icon-check-circle, $f-size-xs);
		z-index: 1; // allows set round-check-icon check background dark color
		position: relative;
		padding: 0 0 5px;
		line-height: 1.3;
		&::before {
			margin-right: 3px;
		}
	}
}

// button function close fares
.flights_fares_button-close {
	@include iconfont($icon-cross-circle, after);
	position: absolute;
	display: none;
	right: 14px;
	top: 10px;
	font-weight: 600;
	text-transform: capitalize;
	cursor: pointer;
	&::before {
		content: '';
		position: absolute;
		right: 2px;
		top: 4px;
		width: 18px;
		height: 18px;
		background-color: $c-primary;
		border-radius: 50%;
	}
	&::after { //## close icon
		@include font-size($f-size-md);
		position: relative;
		top: 2px;
		padding-left: 6px;
		color: $c-secondary;
	}
	.label {
		display: none;
	}
}
// + flights fares comparator
.flights_fares_compare {
	width: 100%;
	margin-top: 6px;
	text-align: right;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
	$flight-fares-items-space: 1%;
	 .flights_fares {
		flex-flow: nowrap;
		margin: 0 (-$flight-fares-items-space);
		padding: 0 0 38px;
		background: transparent;
	 }
	.flights_fares_item {
		display: flex;
		flex: 1 1 calc((100% / 2) - (#{$flight-fares-items-space} * 2));
		flex-direction: column;
		margin: 0 $flight-fares-items-space;
		padding: 0;
		border-radius: calculateRem(24px);
		flight-fare { //## support for angular
			flex-direction: column;
			align-items: flex-start;
			justify-content: stretch;
			height: 100%;
		}
		&::before { //## simulates a radio box option
			left: 28px;
			bottom: 4px;
		}
		&:hover {
			background-color: $c-color4;
			box-shadow: inset 0 0 0 1px $c-primary;
			.flights_fares_button {
				color: $c-secondary;
				font-weight: 500;
				background-color: $c-primary;
			}
		}
		&:focus {
			outline: 0;
		}
		&.selected {
			.flights_fares_button {
				color: $c-secondary;
				font-weight: 500;
				background-color: $c-primary;
				cursor: default;
			}
		}
	}
	.flights_fares_header {
		@include font-size(22px);
		margin: calculateRem(8px) calculateRem(18px);
		.fare-name {
			padding-top: calculateRem(5px);
		}
	}
	.flights_fares_body {
		display: block;
		padding: 0 calculateRem(14px) 0 calculateRem(20px);
	}
	.flights_fares_footer {
		width: 100%;
		margin-top: auto;
	}
	.flights_fares_button {
		@include font-size($f-size-lg);
		position: relative;
		margin: 0 -1px;
		padding: calculateRem(9px) calculateRem(20px);
		background-color: $c-color4;
		border: 1px solid $c-primary;
		transform: translateY(20%);
		&::before { //## simulate radio button
			left: 25px;
		}
		.price_currency {
			@include font-size(28px);
		}
	}
	.flights_fares_button-close {
		top: 48px;
		.label {
			display: inline-block;
		}
	}
	.flights_fares_comparator {
		display: none;
	}
}
@media #{$tablet-landscape} { // >=992px
	.flights_fares {
		margin: 0 4%;
	}
}