// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICE INSURANCE
// ****************************************
//
// ****************************************


.service_insurance {
    margin-bottom: 64px;
    .button-more {
        display: none;
        text-align: center;
        .button {
            min-width: 212px;
            margin: 0 auto 20px;
        }
    }
    .ly-image-text {
        ul {
            margin-bottom: 15px;
        }
    }
    // modifers
    &.collapsed {
        .button-more {
            display: none;
        }
        .insurance_box-body,
        .insurance_footer {
            display: block;
        }
    }
}
.insurance-logos {
    position: absolute;
    top: 0;
    right: 0;
    img {
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        margin-left: 4px;
    }
}
.insurance_footer {
    margin-top: 20px;
}
.insurance_offer {
    @extend .title-h3;
    margin-bottom: 20px;
    .price {
        color: $c-secondary;
    }
}

@media #{$until-mobile}{
    .service_insurance {
        margin-bottom: 50px;
        // .insurance_box-body,
        // .insurance_footer {
        //     display: none;
        // }
        // .button-more {
        //     display: block;
        // }
        .ui-checkbox {
            @include font-size($f-size-sm);
        }
    }
    .insurance-logos {
        position: static;
        text-align: center;
        margin-top: 12px;
        img {
            margin: 0 4px;
        }
    }
}
