// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICE MEALS
// ****************************************
//
// ****************************************

.service_meals {
    display: block;
    clear: both;
    margin-bottom: 60px;

    .tabs-underline_wrap {
        margin-bottom: 8px;
    }

    // ++ carousel
    .carousel_wrap {
        margin-bottom: 16px;
        .carousel_item {
            flex: 1 1 100%;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            .tooltip-inner {
                min-width: auto;
                max-width: 100%;
            }
        }
        .carousel_control_btn {
            background: #fff;
        }

        // [Responsive]
        @media #{$mobile-sm} { // >= 480px
            $items: 2;
            $items-margin: 5px;
            $items-margin-total: ($items-margin * 2);
            .carousel_item {
                flex: 1 1 calc((100% / #{$items}) - #{$items-margin-total});
                max-width: calc((100% / #{$items}) - #{$items-margin-total});
                margin-right: #{$items-margin};
                margin-left: #{$items-margin};
            }
        }
        @media #{$tablet-portrait} { // >= 768px
            $items: 3;
            $items-margin: 8px;
            $items-margin-total: ($items-margin * 2);
            .carousel_item {
                flex: 1 1 calc((100% / #{$items}) - #{$items-margin-total});
                max-width: calc((100% / #{$items}) - #{$items-margin-total});
                margin-right: #{$items-margin};
                margin-left: #{$items-margin};
            }
        }
        @media (min-width: 1020px) { // >= 1020px
            $items: 4;
            $items-margin: 12px;
            $items-margin-total: ($items-margin * 2);
            .carousel_item {
                flex: 1 1 calc((100% / #{$items}) - #{$items-margin-total});
                max-width: calc((100% / #{$items}) - #{$items-margin-total});
                margin-right: #{$items-margin};
                margin-left: #{$items-margin};
            }
        }
    }

    .product-card_image {
        .noimage {
            @include iconfont($pbicon-cross-circled, before);
            @include font-size(102px);
            opacity: .2;
            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

.meals-terms_moreinfo {
    .collapse-trigger {
        @include font-size($f-size-sm);
        &, &:focus:hover {
            color: $c-color2;
            text-decoration: underline;
        }
    }
    .moreinfo {
        @include font-size($f-size-xs);
    }
}

@media #{$tablet-portrait} { // >= 768px
    .meals-terms_moreinfo {
        .collapse-trigger {
            display: none;
        }
        .collapse {
            display: block;
        }
    }
}
