@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?t5zja5');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?t5zja5#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?t5zja5') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t5zja5') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?t5zja5##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane-up-fleet {
  &:before {
    content: $icon-airplane-up-fleet; 
  }
}
.icon-airplane-up {
  &:before {
    content: $icon-airplane-up; 
  }
}
.icon-airplane-right {
  &:before {
    content: $icon-airplane-right; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-double-left {
  &:before {
    content: $icon-arrow-double-left; 
  }
}
.icon-arrow-double-right {
  &:before {
    content: $icon-arrow-double-right; 
  }
}
.icon-arrow-single-right {
  &:before {
    content: $icon-arrow-single-right; 
  }
}
.icon-arrow-single-up {
  &:before {
    content: $icon-arrow-single-up; 
  }
}
.icon-arrow-triangle-down {
  &:before {
    content: $icon-arrow-triangle-down; 
  }
}
.icon-arrow-triangle-left {
  &:before {
    content: $icon-arrow-triangle-left; 
  }
}
.icon-arrow-triangle-right {
  &:before {
    content: $icon-arrow-triangle-right; 
  }
}
.icon-arrow-triangle-up {
  &:before {
    content: $icon-arrow-triangle-up; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-cross-circle {
  &:before {
    content: $icon-cross-circle; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-error-circle {
  &:before {
    content: $icon-error-circle; 
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-language-circle {
  &:before {
    content: $icon-language-circle; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-pin-airplane {
  &:before {
    content: $icon-pin-airplane; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-seat-airplane {
  &:before {
    content: $icon-seat-airplane; 
  }
}
.icon-seat-border {
  &:before {
    content: $icon-seat-border; 
  }
}
.icon-seat-filled {
  &:before {
    content: $icon-seat-filled; 
  }
}
.icon-seat-cross {
  &:before {
    content: $icon-seat-cross; 
  }
}
.icon-social-facebook-circle {
  &:before {
    content: $icon-social-facebook-circle; 
  }
}
.icon-social-instagram-circle {
  &:before {
    content: $icon-social-instagram-circle; 
  }
}
.icon-social-twitter-circle {
  &:before {
    content: $icon-social-twitter-circle; 
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-baggage-h {
  &:before {
    content: $icon-baggage-h; 
  }
}
.icon-press {
  &:before {
    content: $icon-press; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-manage {
  &:before {
    content: $icon-manage; 
  }
}
.icon-info-bubble {
  &:before {
    content: $icon-info-bubble; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}

