$icomoon-font-family: "paranair-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-airplane-up-fleet: "\e92a";
$icon-airplane-up: "\e923";
$icon-airplane-right: "\e900";
$icon-arrow-right: "\e903";
$icon-arrow-double-left: "\e901";
$icon-arrow-double-right: "\e902";
$icon-arrow-single-right: "\e920";
$icon-arrow-single-up: "\e921";
$icon-arrow-triangle-down: "\e904";
$icon-arrow-triangle-left: "\e905";
$icon-arrow-triangle-right: "\e906";
$icon-arrow-triangle-up: "\e907";
$icon-calendar: "\e908";
$icon-cart: "\e909";
$icon-clock: "\e912";
$icon-alert: "\e90d";
$icon-cross: "\e913";
$icon-cross-circle: "\e911";
$icon-check: "\e90a";
$icon-check-circle: "\e90b";
$icon-error-circle: "\e90c";
$icon-info-circle: "\e90e";
$icon-minus-circle: "\e90f";
$icon-plus-circle: "\e910";
$icon-home: "\e91f";
$icon-language-circle: "\e914";
$icon-pin: "\e915";
$icon-pin-airplane: "\e92c";
$icon-printer: "\e916";
$icon-seat-airplane: "\e917";
$icon-seat-border: "\e918";
$icon-seat-filled: "\e919";
$icon-seat-cross: "\e922";
$icon-social-facebook-circle: "\e91a";
$icon-social-instagram-circle: "\e91b";
$icon-social-twitter-circle: "\e91c";
$icon-user-circle: "\e91d";
$icon-user: "\e91e";
$icon-baggage-h: "\e924";
$icon-press: "\e925";
$icon-phone: "\e926";
$icon-email: "\e927";
$icon-manage: "\e928";
$icon-info-bubble: "\e929";
$icon-edit: "\e92b";
$icon-download: "\e92d";

