// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING STEPS
// ****************************************
//
// ****************************************

$steps-height: 62px;
$step-number-size: $f-size-sm;
$steps-number-color: #fff;
$steps-number-background: $c-primary;
$steps-color: $c-text;

//## active
$steps-color-active: $c-secondary;
//## done
$steps-color-done: $steps-color-active;
$number-height: 25px;
.booking-steps_wrap {
    margin: $gutter*1.5 0 $gutter;
}
.booking-steps {
    position: relative;
    display: table;
    max-width: 492px;
    margin: 0 auto;
    font-family: $f-title;
    counter-reset: booking_steps_counter;
    li {
        display: table-cell;
        box-sizing: border-box;
        width: 20%;
        vertical-align: top;
        position: relative;
        &::before { //## line between steps
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            top: calc(#{$number-height} - #{$number-height/2});
            background-color: $gray70;
        }
        &:first-child {
            &::before {
                width: 50%;
                left: 50%;
            }
        }
        &:last-child {
            &::before {
                width: 50%;
                left: 0;
            }
        }
        .label {
            @include font-size($f-size-xs);
            display: flex;
            margin: 0 auto;
            padding: calculateRem(7px) 0 0;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: $gray70;
            line-height: 1;
            text-transform: uppercase;
        }
        .number {
            display: block;
            position: relative;
            margin: 0 auto;
            left: 0;
            top: 0;
            height: $number-height;
            width: $number-height;
            background-color: $gray70;
            box-sizing: border-box;
            font-weight: 600;
            &::before { //## steps numbers
                content: counter(booking_steps_counter);
                counter-increment: booking_steps_counter;
                position: absolute;
                font-size: $step-number-size;
                color: $gray60;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                box-sizing: border-box;
            }
        }
        &.active, &.done {
            color: $steps-color-active;
            .number {
                background-color: $c-primary;
                &:before {
                    color: #fff;
                }
            }
        }
    }
}
@media #{$mobile-sm} {
    .booking-steps {
        li {
            .label {
                @include font-size($f-size-sm);
            }
        }
    }
}
@media #{$tablet-portrait} {
    .booking-steps_wrap {
        margin: 0;
    }
}