// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING REFERENCE
// ****************************************
//
// ****************************************
.booking-reference {
    .label {
        @include font-size($f-size-md-sm);
        display: inline-block;
        font-weight: 400;   
    }
    .code {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
    }    
}

@media #{$until-mobile} { // <=640px
    .booking-reference_wrap {
        margin-top: 16px;
    }
    .booking-reference {
        width: auto;
        padding-right: 14px;
        padding-left: 14px;
    }
}
