// main: ../../styles.scss

// ********************
//  IBE COMPONENT
// ********************
//  BOOKING RETRIEVE
// ********************
//
//  + Booking retrieve login
//  + Booking retrieve results
//
// ********************


// + Booking retrieve login
// ----------

.booking-retrieve {
    @extend .auth-form;
}
.mmb_actions-info {
    text-align: center;
    margin: 34px auto 0;
    ul {
        display: inline-block;
        text-align: left;
        margin: auto;
        margin-top: 24px;
        li {
            margin: 10px 0;
        }
    }
    @media #{$mobile-sm} {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-left: 10%;
            li {
                flex: 1 1 calc(50% - 32px);
                width: calc(50% - 32px);
                margin: 7px 0;
            }
        }
    }
    @media #{$mobile} {
        ul {
            margin-left: 20%;
        }
    }
    @media #{$tablet-portrait} {
        max-width: 70%;
    }
}
