// main: ../styles.scss

// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  PAGE BUTTONS
// ****************************************
//
// ****************************************

// + Page buttons (bottom)
// -------

//## page button responsive at bottom fixed bar
@mixin bottom-fixed-bar-button {
    @include btn-inverse;
    z-index: $summary-fixed-button-zindex;
    position: fixed;
    bottom: 6px;
    right: 14px;
    width: auto;
    min-width: 90px;
    max-width: 110px;
    min-height: 30px;
    margin: 0;
    padding: 6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: bottom #{$summary-slideup-anima};
    transition-duration: 0s;
}
.page_buttons {
    @include clearfix;
    display: flex;
    margin: 70px 0 40px;
    text-align: right;
    flex-direction: row;
    align-items: center;
    .button {
        display: inline-block;
        min-width: 200px;
        text-align: center;
    }
    .btn-secondary {
        margin-right: auto;
    }
    // modifiers
    &.center {
        justify-content: center;
    }
}

@keyframes summaryButtonAnima {
    0% { 
        opacity: 0;
        bottom: 6px; 
    }
    100% { 
        opacity: 1;
        bottom: auto;
        top: 16.7vh;
    }
}

@media #{$summary-collapsed} { // <=768px
    .page_buttons {
        justify-content: center;
        margin-bottom: 20px;
        &.mobile-fixed { // modifiers
            display: block;
        }
        .button.page_button-summary {
            @include bottom-fixed-bar-button; 
        }
        .summary-opened & {
            .button.page_button-summary {
                // bottom: auto;
                // top: 6px;
                opacity: 0;
                animation: summaryButtonAnima 0s forwards;
                animation-delay: .2s;
            }
           
        }
    }
}
@media #{$until-mobile} { // <=640px
    .page_buttons {
        .button {
            min-width: auto;
        }
    }
}
@media (max-width: 420px) { // <=480px
    .page_buttons {
        flex-direction: column-reverse;
        margin-top: 18px;
        .button {
            width: 80%;
            margin: 18px auto 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}