// main: ../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  PAYMENT BUTTON
// ********************
//
//  + payment button wrapper
//  + payment button
//
// ********************

// + mobile-fixed
// -------
.mobile-fixed_label,
.mobile-fixed_button-caption {
    display: none;
}
@media #{$until-tablet-portrait} {
    .mobile-fixed {
        z-index: $summary-fixed-zindex;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 44px;
        width: 100%;
        margin: 0;
        padding: 7px 14px;
        box-sizing: border-box;
        background-color: $c-primary-dark;
        .button {
            @include bottom-fixed-bar-button;
            span {
                display: none;
            }
            .mobile-fixed_button-caption {
                display: inline; 
            }
        }
    }
    .mobile-fixed_label {
        display: block;
        position: fixed;
        left: 20px;
        bottom: 9px;
        @include font-size($f-size-md);
        font-weight: 400;
        line-height: 1;
        color: #fff;
        z-index: 100;
        .value {
            font-weight: 600;
        }
    }
}