// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SEGMENT SELECTOR
// ****************************************
//
// ****************************************

//## segment selector
// .segment-selector {
//     margin-bottom: 28px;
// }
.segment-selector_list {
    @include custom-scroll(lighten);
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
.segment-selector_tab {
    @extend .button;
    @extend .btn-light;
    display: flex;
    align-items: center;
    margin-right: 30px;
    @include font-size($f-size-md);
    box-shadow: none;
    min-height: 0;
    min-width: 150px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: $border-radius $border-radius 0 0;;
    border: 0;  
    &:last-child {
        margin-right: 0;
    } 
    .icon {
        @include iconfont($icon-hasta,before);
        position: relative;
        top: 1px;
        @include font-size($f-iconsize);
        line-height: 1;
        margin: 0 10px;
        color: $c-secondary;
    }
    &:hover {
        box-shadow: none;
    }
    &.selected,
    &[aria-selected='true'] {
        color: #fff;    
        background: $c-primary-dark;
        cursor: default;       
    }
}
.segment-selector_flight {
    display: flex;
    align-items: center;  
    min-height: 44px;
    color: #fff;
    line-height: 1.1;
    padding: calculateRem(6px) 14px;
    background-color: $c-primary-dark;
    box-sizing: border-box;
    ul {
        display: flex;
        align-items: center; 
        li {
            position: relative;
            padding-right: calculateRem(14px);
            margin-right: calculateRem(6px);
            &::after { //## dot separator
                @include font-size($f-size-xlg);
                content: ".";
                position: absolute;
                right: 0;
                top: .02em;
                font-size: 2em;
                color: $c-secondary;
                line-height: 0;
            }
            &:last-child {
                padding-right: 0;
                margin-right: 0;
                &::after { display: none; }
            }
        }
    }
    .icon::after {
        @include font-size($f-size-sm);
        content: "-";
        position: relative;
        top: 0;
        color: #fff;
        line-height: 1;
        margin: 0 6px;
    }
    .flightbutton, // delete later
    .segment-selector_flight_button {
        @extend .btn-action;
        @extend .btn-sm;
        margin-left: auto;
        min-width: auto;
    }
}

// [Responsive]
@media #{$until-mobile} { // <= 640px
    .segment-selector_list {
        margin-bottom: 20px;
    }   
    .segment-selector_tab {
        @include font-size($f-size);
        min-width: auto;
        margin-right: 14px;
        .icon {
            @include font-size($f-size);
        }
    }
    .segment-selector_flight {
        display: none;
    }
}