// ****************************
//  VARIABLES
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-background-color.
//
// ****************************
//
//    + Breakpoints
//    + Media queries
//    + Grid gutter variations
//
//    + Paths
//    + Typography
//        ++ Fonts size
//    + Colors
//
//    + Layout
//        ++ Header
//        ++ Footer
//
//    + Modules
//        ++ Booking steps
//        ++ Summary (basket)
//        ++ Multipanel
//
//    + Components
//      ++ Buttons
//          +++ button primary
//          +++ button secondary
//          +++ button action
//          +++ button clear light
//          +++ button white
//      ++ Loading
//      ++ Tooltips
//      ++ Line break
//      ++ Modals
//      ++ Form elements
//          +++ checkbox
//      ++ Datepicker
//      ++ Z-index
//      ++ Boxes
//      ++ Tables
//            +++ search flight
//                fares
//                borders
//                prices
//
// ****************************************

// + Temporal forbiden icons
$icon-forbiden-dummy: '\e914';
$icon-language-circle: $icon-forbiden-dummy;
$icon-social-instagram-circle: $icon-forbiden-dummy;
$icon-arrow-double-left: $icon-forbiden-dummy;
$icon-arrow-double-right: $icon-forbiden-dummy;
$icon-seat-border: $icon-forbiden-dummy;
$icon-seat-cross: $icon-forbiden-dummy;
$icon-seat-filled: $icon-forbiden-dummy;
$icon-seat-airplane: $icon-forbiden-dummy;

// + Temporal rewrite icons
$icon-user: $icon-user-circle;

// + Container 
$container-max-width-px: 1200px;
$container-max-width: calculateRem($container-max-width-px);

// + Grid gutter variations
// -------
$gutter: 14px;
$gutter-desktop: 24px;

$gutter-sides: $gutter;
$gutter-sides-desktop: $gutter-desktop;

// Form inputs gutter
$form-horizontal-gutter: 20px; // mobile <= 992px
$form-horizontal-gutter-desktop: 30px;
$form-vertical-gutter: 34px;

// + Breakpoints
// -------
//## mobile
$bp-mobile-small: 480px;
$bp-mobile-small-max: 479px;
$bp-mobile: 640px;
$bp-mobile-max: 639px;
$bp-mobile-min: 481px;
//## tablet
$bp-tablet-portrait: 768px;
$bp-tablet-portrait-max: 767px;
$bp-tablet-portrait-min: 641px;
$bp-tablet-landscape: 992px;
$bp-tablet-landscape-max: 991px;
$bp-tablet-landscape-min: 769px;
//## desktop
$bp-desktop: 1200px;
$bp-desktop-max: 1199px;
$bp-desktop-min: 993px;
$bp-desktop-with-gutter: $container-max-width-px + ($gutter-desktop * 2);


// + Media queries
// -------
$mobile-sm: '(min-width: #{$bp-mobile-small})';                  // >=480px
$mobile: '(min-width: #{$bp-mobile})';                           // >=640px
$tablet-portrait: '(min-width: #{$bp-tablet-portrait})';         // >=768px
$tablet-landscape: '(min-width: #{$bp-tablet-landscape})';       // >=992px
$desktop: '(min-width: #{$bp-desktop})';                         // >=1200px
$desktop-with-gutter: '(min-width: #{$bp-desktop-with-gutter})'; // >=1200px + gutter-desktop (both sides)

$until-mobile-sm: '(max-width: #{$bp-mobile-small})';            // <=480px
$until-mobile: '(max-width: #{$bp-mobile})';                     // <=640px
$until-tablet-portrait: '(max-width: #{$bp-tablet-portrait})';   // <=768px
$until-tablet-landscape: '(max-width: #{$bp-tablet-landscape})'; // <=992px

// ++ Navigation breakpoint
$header-nav-breakpoint-collapsed: $until-tablet-portrait;


// + Paths
// -------
// paths variables goes at core/globals/_variables
$path-svg-icons: '../fonts/icons/svg/';
$path-svg-creditcard: '../imgs/payment-methods/credit-cards/';
$path-svg-card-cvv: '../imgs/payment-methods/cards-cvv/';

// + Typography
// -------
$font-name:             'Roboto', sans-serif;
$font-filename:         $font-name;
$font-sanserif:         'Roboto', sans-serif;
$font-icon-name:        'ceiba-icons';

$f-body:    $font-sanserif;
$f-title:   $font-name, sans-serif;
$f-icons:   $font-icon-name;
$f-button:  $f-title;


// ++ Fonts size
$f-size-xs:    10px;
$f-size-sm:    14px;
$f-size:       16px;
$f-size-md:    20px;
$f-size-lg: 28px;
$f-size-xlg:   36px;
$f-size-xxlg:  46px;
$f-size-super: 60px;
$f-size-ultra: 74px;
//## icons size
$f-iconsize: 20px;
$f-iconsize-md: 36px;
$f-iconsize-lg: 48px;
$f-iconsize-xlg: 60px;
$f-iconsize-super: 70px;

//## headings
$f-size-h1:         $f-size-xlg;        // 36px
$f-size-h1-mobile:  $f-size-md;         // 22px
$f-size-h2:         $f-size-lg;      // 28px
$f-size-h2-mobile:  $f-size-md;         // 22px
$f-size-h3:         $f-size-md;         // 20px
$f-size-h3-mobile:  $f-size;            // 16px
$f-size-h4:         $f-size;            // 16px

//## price component fontsize
$price-currency-fontsize: .6em;
$price-price-fontsize: 1em;
$price-price-fontweight: 600;
$price-decimals-fontsize: $price-currency-fontsize;
$price-decimals-fontweight: 400;
$price-from-fontsize: $price-decimals-fontsize;
$price-from-fontweight: 400;

// + Colors
// -------
//## principal colours
$c-primary:         #001e59;
$c-primary-dark:    #151e3b;
// $c-secondary:       #ff4833;
$c-secondary:       #30a2ae;
$c-secondary-dark:  #30a2ae;
$c-color1:          #ff4833;
$c-color2:          #8d9994;
$c-color3:          #c6ccc9;
$c-color4:          #ecf0ef;
$c-fare1:           $c-secondary;
$c-fare2:           $c-color1;
$c-fare3:           $c-primary;

//## gray scale
$gray0:                       #000;
$gray30:                      #333;
$gray50:                      #666;
$gray60:                      #9FACA7; // New !
$gray65:                      #ddd;
$gray70:                      #ccc;
$gray80:                      #ddd;
$gray90:                      #eee;
$gray95:                      #f3f3f3;
$gray98:                      #f7f7f7;
$gray100:                     #fff;

//## alerts
$c-info:      $c-primary;       // purple
$c-warning:   #f9a91f;        // orange
$c-error:     #b30000;        // red
$c-success:   #86bc32;        // green

//## helper colors
$c-icon-background: $c-primary;

$c-text: $c-primary-dark;
$c-text-lighten: tint($c-text, 40%);
$c-title-h1: $c-primary;
$c-title-h2: $c-secondary;

$c-link: $c-primary;
$c-link-hover: $c-color1;

$border-radius: 4px;
$border-radius-large: 28px;

$disabled-opacity: .5;


// + Layout
// -------
$body-background: #fff;
// ++ Header
$header-logo-width: 120px;
$header-height: 76px;
$header-fontsize: $f-size-sm; // 16px
$header-background: #fff;
$header-links-color: $c-primary;
// +++ corporative header
$main-header-height: 90px;
$main-header-fixed-height-onscroll: 60px;
$main-header-mobile-height: 50px;
$header-transitions: all .14s ease;
$main-header-banner-max-width: 1500px;

// ++ Footer
$footer-logo-width: 145px;
$footer-fontsize: $f-size-sm; // 14px
$footer-color: #fff;
$footer-background: $c-primary-dark;
$mainfooter-background: $c-primary-dark;

$content-margin-top: 44px;

// ++ Search
$combinedbar-height: 65px;
$search-fixed-animation: .4s forwards;
$search-background: $c-primary;

// + Summary
$summary-collapsed: '(max-width: 767px)'; // <768px
$summary-not-collapsed: '(min-width: 768px)'; // >=768px

$summary-opened-width: 640px;
$summary-slideup-anima: .2s ease-in-out;
$summary-background: $c-secondary;
$summary-header-title-color: #fff;
$summary-header-title-fontsize: $f-size;
$summary-header-title-background: $c-secondary;
$summary-total-background: tint($summary-background, 17%);
$summary-lines-color: $c-secondary;
$summary-more-background: $gray95;
$summary-discount-color: $c-secondary;
$summary-pad: 34px;
$summary-body-background: #fff;
$summary-lr-pad: 3%;
$summary-lr-pad-sm: 2%;
$summary-lr-pad-oneway: 14%;
$summary-lr-pad-oneway-sm: 6%;
$summary-lr-pad-noextras: 14%;
$summary-lr-pad-noextras-sm: 7%;
$summary-lr-pad-oneway-noextras: 28%;
$summary-lr-pad-oneway-noextras-sm: 22%;

// + Payment summary
$payment-summary-width: 264px;
$payment-summary-width-margin: 34px;
$payment-summary-aside-div-width: calc(100% - (#{$payment-summary-width} + #{$payment-summary-width-margin}));


// + UI-ELEMENTS
// -------
$accessibility-outline-color: blue;
// ++ Buttons
$button-fontfamily: $f-button;
$button-fontsize: $f-size; // 16px
$button-boxshadow: inset 0 0 0 1px;

$btn-darken-percentage: 5%;
$btn-lighten-percentage: 10%;
// +++ button action
$btn-action-color: $c-primary;
$btn-action-bg: $c-color1;
$btn-action-border: $btn-action-bg;
$btn-action-bg-hover: darken($btn-action-bg, 7% );

// +++ button primary
$btn-primary-color: $c-primary;
$btn-primary-bg: $c-secondary;
$btn-primary-border: $btn-primary-bg;
$btn-primary-border-hover: darken($btn-primary-border, $btn-darken-percentage);
$btn-primary-bg-hover: darken($btn-primary-bg, $btn-darken-percentage);

// +++ button secondary
$btn-secondary-color: $c-primary;
$btn-secondary-bg: #fff;
$btn-secondary-border: $c-secondary;
$btn-secondary-bg-hover: $btn-secondary-bg;
$btn-secondary-border-hover: $btn-secondary-border;

// button inverse
$btn-inverse-color: #fff;
$btn-inverse-bg: transparent;
$btn-inverse-border: #fff;
$btn-inverse-color-hover: $c-primary;
$btn-inverse-bg-hover: lighten($btn-inverse-border, $btn-lighten-percentage);
$btn-inverse-border-hover: lighten($btn-inverse-border, $btn-lighten-percentage);

// button light
$btn-light-color: $c-secondary;
$btn-light-bg: #fff;
$btn-light-border: $btn-light-color;
$btn-light-bg-hover: $btn-light-bg;

// buttons: disabled
$button-disabled-color: #bbb;
$button-disabled-background: #ddd;
$button-disabled-border: $button-disabled-background;


// + FORM CONTROLS
// -------
//## Variables at ui-elements/forms/_form-elements-vars.scss
@import 'ui-elements/forms/form-elements-vars';

// +++ Numeric up and down
$num-updown-input-bg: $gray95;
$num-updown-button-color: $c-primary;
//## hover
$num-updown-button-color-hover: darken($c-primary,14);
//## disabled
$num-updown-button-color-disabled: tint($gray60,36%);


// ++ Custom scroll
$custom-scroll-bar-background: $c-primary;
$custom-scroll-borderadius: 20px;
$custom-scroll-background: transparent;

$custom-scroll-lighten-bar-background: $c-color4;

// ++ Loading
$overlay-background: rgba($c-primary-dark,.8);

// ++ Tooltips
$tooltip-color: $c-primary;
$tooltip-fontsize: $f-size-xs;
$tooltip-bg: $c-color4;
$tooltip-border: $c-primary;
$tooltip-border-radius: $border-radius;
$tooltip-min-width: 100px;
$tooltip-max-width: 280px;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 12px;
$tooltip-arrow-width: 14px;
$tooltip-arrow-height: 8px;
$tooltip-arrow-color: $tooltip-border;
$tooltip-margin: 0;

// ++ Popover
$popover-fontsize:              $f-size-sm;
$popover-bg:                    $tooltip-bg;
$popover-header-bg:             darken($popover-bg, 3%) !default;
$popover-max-width:             $tooltip-max-width;
$popover-min-width:             $tooltip-min-width;
$popover-border-radius:         $tooltip-border-radius;
$popover-border-width:          1px;
$popover-border-color:          $tooltip-border;
$popover-arrow-width:           $tooltip-arrow-width;
$popover-arrow-height:          $tooltip-arrow-height;
$popover-arrow-outer-color:     $tooltip-border;
$popover-arrow-color:           $popover-bg;


// ++ Line break
$c-border: $gray60;

// ++ Modals
$modal-inner-border: $c-border;

// ++ Z-index
$alert-zindex:                  1070;
$button-scrolltop-zindex:       1070;
$mobile-modal-zindex:           1064;
$modal-zindex:                  1064;
$header-fixed-zindex:           1064;
$header-sticky-zindex:          1064;
$summary-fixed-zindex:          1063;
$modal-overlay-zindex:          1062;
$alert-fixed-zindex:            1062;
$searchflight-modal-active:     1058;
$tooltip-zindex:                1057;
// $summary-fixed-zindex:          1055;
$summary-header-zindex:         1050;
$overlay-zindex:                1050;
$summary-fixed-button-zindex:   1049;
$search-fixed-zindex:           1048;
// $header-fixed-zindex:           1048;
$summary-zindex:                1048;
$popover-zindex:                1044;
$dropdown-zindex:               1044;

$weekslider-nav-zindex:            3;
$weekslider-zindex:                2;

// ++ Boxes
$box-pad: 24px;
$box-border: $c-border;
$box-background: #fff;
$box-light-background: $gray95;

$box-color-color: $c-primary;
$box-color-background: $c-secondary;

$box-color-darken-color: #fff;
$box-color-darken-background: $c-primary;

//  +++ box table
$boxtable-color: $c-primary;
$boxtable-header-background: $gray60;
$boxtable-body-background: $c-color4;

$flightselect-height: 220px;

// ++ Tables
// +++ search flight (sf)
// header : return and outbound label + route
//$sf-header-title-fontsize: $f-size-lg;
//$sf-header-label-fontsize: $sf-header-title-fontsize;

$sf-main-text-color: $c-text;
$sf-border-width: 3px;

// col flight info
$sf-colflight-background: $c-color4;
$sf-tablecell-background: #fff;

// fares
$fare-quantity: 3;
$fare-iconsize: 2.2em; // controll all fare icon size
$fare1-color: $c-primary;
$fare1-icon-color:  $c-fare1;
$fare1-icon: url(../fonts/icons/svg/fare-1.svg);
$fare1-background: transparent;

$fare2-color: $c-primary;
$fare2-icon-color: $c-fare2;
$fare2-icon: url(../fonts/icons/svg/fare-2.svg);
$fare2-background: transparent;

$fare3-icon-color: $c-fare3;
$fare3-color: $c-primary;
$fare3-icon: url(../fonts/icons/svg/fare-3.svg);
$fare3-background: transparent;


// borders
$sf-border-color: shade($sf-colflight-background, 8%);

// prices
$sf-price-fontsize: $f-size-lg;
$sf-price-selected-color: $c-primary;


// COMPONENTS
// + Multipanel
$multipanel-datepicker-width: 358px;
$multipanel-datepicker-height: 386px;
$multipanel-width: 536px;
$multipanel-carousel-width: ($multipanel-width + $multipanel-datepicker-width + 10);

// Carousels
$carousel-captions-background: rgba(#011d3e,.87);
$blur: 2px;
$margin-default: 24px;

// -------
// + Modules
// -------

// ++ Off-canvas
$offcanvas-trigger-width: 46px;


// ++ Booking steps
$steps-color-active: $c-primary;
$steps-color-done: $c-color1;
$steps-color-disabled: #a3a3a3;

// ++ Basket
$c-basket-total-background: $gray60;

// ++ Multipanel
$multipanel-breakpoint: 640px;
$multipanel-breakpoint-next: ($multipanel-breakpoint + 1);
$multipanel-breakpoint-min: ($multipanel-breakpoint - 1);
$multipanel-inner-pad: 42px;
$multipanel-inner-pad-bottom: 58px;

// ++ Gloal Variables
$check-in-summary-horizontal-padding: 14px; //## change check-in-summary and checkboxes padding


// + Social media
// -------
$c-facebook:        #3b5998;
$c-wechat:          #7bb32e;
$c-weibo:           #e21428;
$c-instagram:       #7e399d;
$c-socialline:      #18b006;
$c-instagram:       $c-primary;
$c-weibo:           #000;
$c-twitter:         #1da1f3;

// + Box shadows
$bs-default: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$bs-section-top: 0 -2px 3px rgba($c-primary, 0.12), 0 -2px 2px rgba($c-primary, .24);

// + Mobile Modal
$mobile-modal-header_height: 45px;

// + Transitions
// -------
$t-caret-collapse: .18s ease; // to collapse item icon indicatorease; // to collapse item icon indicator
$t-hover-element: .15s ease-out;
$mobile-modal_transition: top .3s ease-in-out;
