{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Manage my booking'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="mmb_cancel-flight">
        {% set summary = {
            isEmptySummary: false,
            hasCheckBox: false
        } %}
        {% include "partials/components/IBE/mmb/_mmb_cancel_flight.njk" %}

        <!-- CANCEL FLIGHT - SUCCESS -->
        <div class="cancel-flight_cancelled">
            <div class="box box-bordercolor">
                <h5 class="box_title">
                    Flight canceled
                </h5>
                <div class="box_body">
                    <p>Your flight is cancelled and you will receive <strong>{{SHARED.currency}} 3,954 voucher</strong> on your email.</p>
                </div>
                <div class="box_footer">
                    <button
                        type="button"
                        onclick="location.href='BF-MMB_home.html'"
                        class="button btn-primary">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
