{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "" %}
{% set paymentHasQR = false %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    <div class="payment-confirmation">

        {# QR PAYMENT #}
        {% if paymentHasQR | default(false) %}
            {% set page_title = {
                text: 'Waiting for payment',
                type: 'h2',
                class: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% include "partials/components/IBE/payment/_payment-QR.njk" %}
        {% endif %}

        {% set page_title = {
            text: 'Confirmación de compra',
            type: 'h1',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <div class="intro">
            <p>Tu transacción se ha realizado satisfactoriamente. Hemos enviado la confirmación de compra a tu email </p>
        </div>

        {# BOOKING REFERENCE #}       
        {% include "partials/components/IBE/_booking-reference.njk" %}
     

        {# ITINERARY #}
        {% set itinerary = {
            hasFootnote : false,
            footnote: 'Hong Kong International airport check-in counter open 3 hours prior to and close 1 hour before scheduled time of departure. For check-in counter opening times at other airports, please refer to hkexpress.com. We recommend that you be at the airport at least 90 minutes before departure time. Guests should take extra time into consideration in case of congestion to/from the airport.',
            hideActionLink: false,
            actionText: 'Imprimir Itinerario',
            actionIcon: 'printer'
        } %}
        {% include "partials/components/IBE/_common/_itinerary.njk" %}

        {# PAYMENT DONE MMB BUTTON #}
        {# {% if not paymentHasQR | default(false) %}
        <div class="button-centered">
            <button class="button btn-primary"
                onclick="location.href='BF-MMB_home.html'">
                Manage my Booking
            </button>
        </div>
        {% endif %} #}
                     
        {# PAYMENT DETAILS #}
        {% set dataTablePaymentDetails = { 
            title: {
                text: 'Pasajeros',
                type: 'h2',
                class: 'h2'
            },
            tables: [
                {
                    caption: "Pasajeros",
                    tbody: [
                        {
                            tds: [
                                { title: 'Carmen María Galeano', isTh: true }         
                            ]
                        },
                        {
                            tds: [
                                { title: 'Santiago Pérez', isTh: true }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Jorge García', isTh: true }
                            ]
                        }
                    ]
                }
            ]
        } %}
        {% set dataTableResume = {
            caption: "Detalles del pago",
            title: {
                text: 'Detalles del pago',
                type: 'h2',
                class: 'h2'
            },
            hasTotalHead: false,
            thead: {                        
            },
            tbody: [
                {
                    tds: [
                        { title: 'Tipo de pago', isTh: true },
                        { title: 'Visa' }                  
                    ]
                },
                {
                    tds: [
                        { title: 'Titular de la tarjeta', isTh: true },
                        { title: 'Jorge García' }
                    ]
                },
                {
                    tds: [
                        { title: 'Número de tarjeta', isTh: true },
                        { title: '4263*******4677' }
                    ]
                },
                {
                    tds: [
                        { title: 'Importe de la transacción', isTh: true, hasStrong: true },
                        { title: '1.280', component: 'price' }
                    ]
                }
            ]
        } %}  
        <div class="payment_details_wrap">
            {% include "partials/components/IBE/payment/_payment-details.njk" %}
        </div>

        {# ITINERARY OFFERS #}
        {# {% set page_title = {
            text: 'Attractions, Transport & Hotels',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %} #}

        {# OFFERS DEALS #}
        {# <div class="grid">
            {% set offers = [
                {
                    image: 'offers/u_explore_wifi_en.jpg',
                    caption: 'Airport Transfer WI-FI'
                },
                {
                    image: 'offers/u-explore_attractions-en.png',
                    caption: 'Up to 50% Discount Activity tickets'
                }
            ] %}
            {% for offer in offers %}
                <div class="grid-col col-12 col-sm-6">
                    {% include "partials/components/_offers_item.njk" %}
                </div>
            {% endfor %}
        </div> #}

        {# CAR RENTAL #}
        {# <div class="offers_iframe">
            {% set page_title = {
                text: 'Car rental',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <iframe src="" frameborder="0"></iframe>
        </div> #}

        {# HOTEL #}
        {# <div class="offers_iframe">
            {% set page_title = {
                text: 'Hotel',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <iframe src="" frameborder="0"></iframe>
        </div> #}
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
