{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set BFstep2 = true %}
{% set page_title = {
    text: 'Selección de asiento',
    type: 'h2',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Next',
    actionButtonUrl: ''
} %}
{% set summary = { nextButtonUrl: '' } %}
{# ----------------------------------------- #}


{% block content %}
<div class="container-fluid">
    {# SEARCH RESULT AND SUMMARY #}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {# NEW SEARCH #}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>
</div>
<div class="container-wrap">
    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}
    
    {# PAGE TITLE #}
    {% include "partials/components/_page_title.njk" %}

    {# SEAT SELECTION #}
    {% include "partials/components/IBE/seats/_seat_selector.njk" %}

    {# PAGE ACTIONS BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}

    {# MODAL: SEATS LEGEND #}
    {% set modal = {
        class: 'seatmap_legend_modal',
        id: 'modal-seatmapLegend'
    } %}
    {% include "partials/components/IBE/modals/_modal_seats_information.njk" %}
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
