{% set bodyClass = "demo_page" %} {% extends "layouts/_md_layout.njk" %} {% block content %}
<div class="container-wrap">
    <!-- COMPONENT: RICH TEXT -->
    <div class="grid">
        <div class="col">
            {% set page_title = { text: 'List', type: 'h2', class: 'h1' } %} {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1">Checked baggage</h2>
            <p>Depending on how you purchase your ticket,
                <a href="www.google.com">baggage may</a> or may not be included in the price of your ticket.</p>
            <p>*Remember our lowest fares are only available online!</p>
            <p>Please remember that any cabin baggage in excess of maximum allowance will be denied. These items will need to
                be checked-in at the check-in desk or at the boarding gate. (Fees may apply)</p>

            <!-- small icons example -->
            <h3 class="context-h3">Custom icon list</h3>
            <ul class="context-list-icon">
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1829/clock.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1830/mail.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1831/phone.svg" alt="">
                    </span>
                </li>
            </ul>

            <!-- medium icons example -->
            <h3 class="context-h3">Custom image list (medium size)</h3>
            <ul class="context-list-icon-md">
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1840/visa.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1838/mastercard.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1837/jcb.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1836/american-express.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1839/union-pay.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1835/alipay-color.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1842/we-chat-color.svg" alt="">
                    </span>
                </li>
                <li>
                    Jazz image ipsum dolor sit, amet consectetur adipisicing elit.
                    <span class="icon">
                        <img src="http://dev-hk.newshore.es/media/1841/voucher.svg" alt="">
                    </span>
                </li>
            </ul>

            <h3 class="context-h2">Online Bookings</h3>
            <p>For bookings made on the hkexpress.com website:</p>
            <ol class="context-list" start="3">
                <li>Lorem ipsum dolor sit,
                    <a href="www.google.com">amet consectetur</a> adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
            </ol>
            <ol class="context-list context-footnote">
                <li>Lorem ipsum dolor sit,
                    <a href="www.google.com">amet consectetur</a> adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
            </ol>
            <ul class="context-list">
                <li>Fares do not dimay checked baggage.</li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus veritatis maxime
                    exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti tenetur magni similique.
                    <ol class="context-list">
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus veritatis maxime
                            exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti tenetur magni
                            similique.
                            <br/>
                            <br/>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.
                        </li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                    </ol>
                </li>
                <li>
                    Guests may purchase baggage at the incremental weights listed when making a booking.
                    <ol class="context-list-alpha">
                        <li>Jazz ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                    </ol>
                </li>
                <li>Guests who do not pre-purchase baggage at time of booking, and require this service upon arrival at the airport,
                    will be charged at a higher rate than those pre-booked the allowance online.</li>
            </ul>

            <ol class="context-list">
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, necessitatibus? Voluptas quod necessitatibus eligendi
                    aliquam odit aperiam ex fugiat nam alias, quis quibusdam nostrum magnam iusto animi quaerat vero aspernatur!
                    <ol class="context-list">
                        <li>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus veritatis maxime
                            exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti tenetur magni
                            similique.
                            <ol class="context-list">
                                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae
                                    eligendi delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi
                                    vel odio qui beatae? Deleniti tenetur magni similique.</li>
                                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae
                                    eligendi delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi
                                    vel odio qui beatae? Deleniti tenetur magni similique.</li>
                                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae
                                    eligendi delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi
                                    vel odio qui beatae? Deleniti tenetur magni similique.</li>
                                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae
                                    eligendi delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi
                                    vel odio qui beatae? Deleniti tenetur magni similique.</li>
                                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae
                                    eligendi delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi
                                    vel odio qui beatae? Deleniti tenetur magni similique.</li>
                            </ol>
                        </li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                    </ol>
                </li>
                <li>You must behave appropriately at all times whilst in the airport and on board the aircraft. In particular
                    (but not limited to these examples) you must not:
                    <ul class="context-list">
                        <li>contravene any applicable law (e.g. by being drunk on board an aircraft);</li>
                        <li>conduct yourself aboard the aircraft so as to endanger the aircraft or any person or property on
                            board;</li>
                        <li>obstruct the crew in the performance of their duties;</li>
                        <li>fail to comply with any instruction of the crew;</li>
                        <li>use any threatening, abusive or insulting words or actions towards the crew or other passengers;</li>
                        <li>behave in a disorderly manner or in a manner to which other passengers may reasonably object;</li>
                        <li>fail to comply with the terms of any document signed by you following contravention of one or more
                            of the preceding conditions on a previous flight with us.</li>
                    </ul>
                </li>
                <li>If, in our reasonable opinion, you have failed to behave as required by 1) either in the airport or on board
                    the aircraft or we consider you unfit to fly:
                    <ul class="context-list-basic">
                        <li>you may be prosecuted for offences committed on board the aircraft;</li>
                        <li>we may decide (in our reasonable discretion) to cancel your flight prior to take-off and/or, after
                            take-off;</li>
                        <li>divert the aircraft to offload you, in which case you must pay to us all costs and expenses which
                            we incur of any nature whatsoever as a result of or arising out of that diversion;</li>
                        <li>we may decide to cancel any return flight or other future flights you have with us, without refund;</li>
                        <li>we may take any other measures we deem necessary to prevent continuation of your inappropriate conduct,
                            including your restraint or removal from the aircraft or airport.</li>
                    </ul>
                    <p>In all of the above circumstances, you shall not be refunded the price of your booking, and we shall
                        not be liable for any costs you incur as a result of us refusing carriage.
                        <br>
                        <br>You will indemnify us for all costs and expenses (including the legal costs we incur in bringing
                        any action against you) arising from your improper conduct on board the aircraft including (but not
                        limited to) any damage caused to the aircraft.</p>
                </li>
                <li>Only alcoholic drinks purchased on board may be consumed during your flight. Hong Kong Express reserves the
                    right to serve alcoholic drinks to customers at our absolute discretion.</li>
            </ol>
            <ol class="context-list-alpha">
                <li>Jazz ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus
                    veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti
                    tenetur magni similique.</li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus veritatis maxime
                    exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti tenetur magni similique.
                    <ol class="context-list-alpha">
                        <li>Jazz ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi
                            delectus veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui
                            beatae? Deleniti tenetur magni similique.</li>
                    </ol>
                </li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus
                    veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti
                    tenetur magni similique.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus
                    veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti
                    tenetur magni similique.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat doloribus porro molestiae eligendi delectus
                    veritatis maxime exercitationem, rerum voluptas consectetur nisi sequi vel odio qui beatae? Deleniti
                    tenetur magni similique.</li>
            </ol>

            <h3 class="context-h2">Checked Baggage Size</h3>
            <ul class="context-list-basic">
                <li>Fares do not include checked baggage.</li>
                <li>Guests may purchase baggage at the incremental weights listed when making a booking.</li>
                <li>Guests who do not pre-purchase baggage at time of booking, and require this service upon arrival at the airport,
                    will be charged at a higher rate than those pre-booked the allowance online.</li>
                <li>Please see fees for more details</li>
            </ul>
            <ul class="context-list">
                <li>Fares do not include checked baggage.</li>
                <li>Guests may purchase baggage at the incremental weights listed when making a booking.</li>
                <li>Guests who do not pre-purchase baggage at time of booking, and require this service upon arrival at the airport,
                    will be charged at a higher rate than those pre-booked the allowance online.</li>
                <li>Please see fees for more details</li>
            </ul>
            <p>
                Chiang Mai is the regional centre of northern Thailand and capital of the similarly named province. International tourists
                are attracted to this idyllic destination for its peaceful, laid back style and tropical setting. Surrounded
                by mountains and lush rainforest, Chiang Mai’s natural surroundings are ripe for exploration. The city itself
                is filled with historic and architecturally significant shrines and temples while park lands and lovely water-side
                pathways along the Ping River and historic moat make this a welcoming place where visitors can immerse themselves
                in the welcoming Thai culture.
            </p>
            <p>
                Chiang Mai is located approximately 700 kilometres north of Bangkok. Built in the late 1200’s, the old city is surrounded
                by a moat. Covering an historically rich area of 1.5 square kilometres, this interesting section of city
                contains intact portions of the ancient walls and structures from hundreds of years ago, including the imposing
                bastions on each of the moat’s four corners. The new city is considered to be outside of these walls and
                contains many historic sites along with the shopping and entertainment districts. Chiang Mai is also famous
                for its food and excellent restaurants serve up the best in traditional foods and international cuisine.
            </p>
            <p>Fares to Chiang Mai, Thailand listed below are for reference only. To view live fares please visit our booking
                engine here.</p>
        </div>
    </div>
</div>


{% endblock %}