{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Headings',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                                
        </div>
    </div>                            
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            <h2 class="context-h1">Heading h1</h2>
            <h3 class="context-h2">Heading h2</h3>
            <h4 class="context-h3">Heading h3</h4>
            <h5 class="news_content_title">Subtitle</h5>
        </div>
    </div>                 
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;h2 class="context-h1"&gt;Heading h1&lt;/h2&gt;
&lt;h3 class="context-h2"&gt;Heading h2&lt;/h3&gt;
&lt;h4 class="context-h3"&gt;Heading h3&lt;/h4&gt;
&lt;h5 class="news_content_title"&gt;Subtitle&lt;/h5&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'sup / sub',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                                
        </div>
    </div>                            
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            <h2 class="context-h1">Heading h1<sup>super</sup></h2>
            <h3 class="context-h2">Heading h2<sup>super</sup></h3>
            <h4 class="context-h3">Heading h3<sup>super</sup></h4>
            <h5 class="news_content_title">Subtitle<sup>super</sup></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.<sup>super</sup></p>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">            
            <h2 class="context-h1">Heading h1<sub>sub</sub></h2>
            <h3 class="context-h2">Heading h2<sub>sub</sub></h3>
            <h4 class="context-h3">Heading h3<sub>sub</sub></h4>
            <h5 class="news_content_title">Subtitle<sub>sub</sub></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.<sub>sub</sub></p>
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;h2 class="context-h1"&gt;Heading h1&lt;sup&gt;super&lt;sup&gt;/sup&lt;/h2&gt;
&lt;h3 class="context-h2"&gt;Heading h2&lt;sup&gt;super&lt;sup&gt;/sup&lt;/h3&gt;
&lt;h4 class="context-h3"&gt;Heading h3&lt;sup&gt;super&lt;sup&gt;/sup&lt;/h4&gt;
&lt;h5 class="news_content_title"&gt;Subtitle&lt;sup&gt;super&lt;sup&gt;/sup&lt;/h5&gt;

&lt;h2 class="context-h1"&gt;Heading h1&lt;sub&gt;sub&lt;/sub&gt;&lt;/h2&gt;
&lt;h3 class="context-h2"&gt;Heading h2&lt;sub&gt;sub&lt;/sub&gt;&lt;/h3&gt;
&lt;h4 class="context-h3"&gt;Heading h3&lt;sub&gt;sub&lt;/sub&gt;&lt;/h4&gt;
&lt;h5 class="news_content_title"&gt;Subtitle&lt;sub&gt;sub&lt;/sub&gt;&lt;/h5&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Anchor sup / sub',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                                
        </div>
    </div>                            
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            <h2 class="context-h1">Heading h1<sup><a href="#">super</a></sup></h2>
            <h3 class="context-h2">Heading h2<sup><a href="#">super</a></sup></h3>
            <h4 class="context-h3">Heading h3<sup><a href="#">super</a></sup></h4>
            <h5 class="news_content_title">Subtitle<sup><a href="#">super</a></sup></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.<sup><a href="#">super</a></sup></p>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">            
            <h2 class="context-h1">Heading h1<sub><a href="#">sub</a></sub></h2>
            <h3 class="context-h2">Heading h2<sub><a href="#">sub</a></sub></h3>
            <h4 class="context-h3">Heading h3<sub><a href="#">sub</a></sub></h4>
            <h5 class="news_content_title">Subtitle<sub><a href="#">sub</a></sub></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.<sub><a href="#">sub</a></sub></p>
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;h2 class="context-h1"&gt;Heading h1&lt;sup&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sup&gt;&lt;/h2&gt;
&lt;h3 class="context-h2"&gt;Heading h2&lt;sup&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sup&gt;&lt;/h3&gt;
&lt;h4 class="context-h3"&gt;Heading h3&lt;sup&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sup&gt;&lt;/h4&gt;
&lt;h5 class="news_content_title"&gt;Subtitle&lt;sup&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sup&gt;&lt;/h5&gt;
&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.&lt;sup&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sup&gt;&lt;/p&gt;

&lt;h2 class="context-h1"&gt;Heading h1&lt;sub&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sub&gt;&lt;/h2&gt;
&lt;h3 class="context-h2"&gt;Heading h2&lt;sub&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sub&gt;&lt;/h3&gt;
&lt;h4 class="context-h3"&gt;Heading h3&lt;sub&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sub&gt;&lt;/h4&gt;
&lt;h5 class="news_content_title"&gt;Subtitle&lt;sub&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sub&gt;&lt;/h5&gt;
&lt;p&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, delectus.&lt;sub&gt;&lt;a href="#"&gt;super&lt;/a&gt;&lt;/sub&gt;&lt;/p&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
