{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

    <h1 class="demo_page_title">
        Component: <span>Summary (basket)</span>
    </h1>

    <div class="component-demo-container">
        <div class="component-demo-section">
            {% set isOWTrip = true %}
            {% include "partials/components/IBE/summary/_summary.njk" %}
        </div>
        <div class="field-code-section" style="margin-top: 24px;">
            <div class="code-panel">
                <pre><code class="html">{% include "partials/_md/_md-codes/_md_summary.njk" %}</code></pre>
            </div>
        </div>
    </div>

{% endblock %}

{% block component_jquery %}
<script>
    $(document).ready(function () {
        $('.summary').css('position','relative');
    });
</script>
{% endblock %}
