{% set bodyClass = "home-page" %}
{% set layout = true %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap" style="padding-top: 10em;">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1. Header',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% set page_title = {
                text: '1.1. Header with alert',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %} 
            <p>add class home-page in body</p>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">            
{% include "partials/_md/_md-codes/_md_main-header.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
