{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<!-- ARTICLE CONTENT: ROW1 -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Manage Flight',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Check in'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <!-- COMPONENT: RICH TEXT -->
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1">Check in</h2>
            <p>We offer different check-in options for your seamless flying experience. You can either check-in online, at our airport counters or even in-town. Plan your journey ahead and learn more about options available now.</p>

            <h3 class="context-h2">Online Check-in</h3>
            <p>We strongly advise our guests to utilize our online check-in services to save your time and avoid queues at airports.</p>
            <p>Online check-in opens 48 hours before and closes 75 mins before scheduled departure time*. If you do not have any check-in baggage, you can go straight to the gate with your mobile boarding pass and enjoy^! For guests that need to check-in your baggage, please visit our online check-in counters at airports accordingly. Guests are reminded to arrive at the boarding gate at least 40 minutes before departure to prepare for boarding, and gate will be closed 20 minutes before departure.</p>
            <p class="context-footnote">
                (*) Online Check-in is available for flights departing Hong Kong (except to Saipan), Japan, Thailand, Korea, Taiwan, Vietnam and Cambodia, between 75 minutes and 48 hours prior to departure. It is not available for bookings with infants and Guests that require assistance.
                <br /><br />(^) Guests departing from Seoul, Busan, Jeju, Nha Trang, Danang, Hualien and Siem Reap must visit the check-in counter for travel document verification and to obtain a printed boarding pass before proceeding to immigration.
            </p>
            <h4 class="context-h3">A. Mobile Check-in</h4>
            <p>
                Checking-in with our mobile app allows you to save your boarding pass directly to your device or passbook. You can easily access your mobile boarding pass anytime, anywhere. Download our mobile app now!
            </p>
            <h3 class="context-h2">Airport Check-in</h3>
            <p>
                You can also choose to check-in at airports. To ensure there is sufficient time to check in, we recommend you arrive at the airport at least 1.5 hours before the flight departure. Please note our Check in counters in Hong Kong Airport are located at Row P of Terminal 2. Our check-in counters at Hong Kong International Airport (HKIA) open 3 hours prior to and close 1 hour before scheduled time of departure, and boarding gates will close 20 mins before departure.  For check-in counter opening times at other airports, please refer to the table below.
            </p>
            <p>
                Kindly note that certain flights departing from Japan airports before 0900 may be subject to shorter counter operating hours.
            </p>
        </div>
    </div>

    <!-- Table -->
    <div class="grid">
        <div class="grid-col col-12">
            {% set data = {
                align: 'left',
                thead: {
                    ths: [
                        { title: 'Originating destinations' },
                        { title: 'Check-in counter opening time' },
                        { title: 'Check-in counter Closing time' }
                    ]
                }
                ,
                tbody: [
                    {
                        tds: [
                            { title: 'Hong Kong' },
                            { title: '3 hours prior to departure' },
                            { title: '1 hours prior to departure' }
                        ]
                    },
                    {
                        tds: [
                            { title: 'FuKuoka' },
                            { title: '3 hours prior to departure' },
                            { title: '1 hour prior to departure' }
                        ]
                    },
                    {
                        tds: [
                            { title: 'Nagoya' },
                            { title: '3 hours prior to departure' },
                            { title: '1 hour prior to departure' }
                        ]
                    },
                    {
                        tds: [
                            { title: 'Tokyo (Haneda)' },
                            { title: '3 hours prior to departure' },
                            { title: '1 hour prior to departure' }
                        ]
                    }
                ]
            } %}

            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
