{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{% set breadcrumbsList = [
    {
        item: 'Prensa',
        url: '#'
    }
] %}
{% set breadcrumb = {
    itemCurrent: 'Playa, comercio y desierto en solo dos horas'
} %}
{# ----------------------------------------- #}


{% block content %}
<div class="container-wrap">
    {# BREADCRUMB #}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <div class="grid">
        <div class="grid-col col-12">
            {# MAIN FULL BANNER #}
            {% set banner = {
                items: [
                    {
                        bg: 'banner1',
                        buttonIntroCaption: true,
                        isActive: true
                    }
                ]
            } %}
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>

    {# CONTENT #}
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <div class="news_header">
                <h2 class="title">
                    Playa, comercio y desierto en solo dos horas
                </h2>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12 col-md-2">
            <p class="context-date">
                <span class="context-date">14 Junio 2018</span>
                <span class="context-author">
                   <span class="context-author_label-by">
                        Por:
                   </span>
                    <span class="context-author_label-name">Susana Acuña - Grupo Venus Comunicaciones</span>
                    <span class="context-author_tag">@SusanaAcuña</span>
                </span>
            </p>
        </div>
        <div class="grid-col col-12 col-md-10">
            <p>
                En aimará significa el lugar de los sueños y como no serlo teniendo en cuenta la combinación que representa. Temperatura agradable casi todo el año, comercio constante, una vista impresionante y más de 140 kilómetros de playa, estamos hablando de la ciudad de Iquique situada al norte de Chile, en zona franca. La mayoría de los paraguayos que escucha la palabra Iquique lo relacionan directamente con los vehículos usados y de volante cambiado, esto se debe que hace más de 10 años, en una oportunidad de generar ingresos, comerciantes paraguayos apostaron por el mercado de móviles con ciertos años de uso.
            </p>
            <p>
                Al pasar los años la venta de vehículos provenientes de la ciudad de Iquique se hizo un “boom” en Paraguay, lo que representaba que muchas personas involucradas en el rubro viajen constantemente. Esta situación se convirtió en una gran oportunidad y por sobre todo un compromiso para la empresa boliviana AEROLÍNEAS AMASZONA, que opera en nuestro país hace poco más de 2 años.
            </p>
            <p>
                La ruta Asunción – Iquique, Iquique – Asunción fue habilitada hace un mes, pero esta vez no se apunta solamente a dar facilidad al comerciante paraguayo, sino que, este lugar desértico sea una oportunidad de turismo para toda la familia.
            </p>
            <p>
                Hoteles de alta gama y económicos con calidad, comida gourmet y platos de fusión, amplias y seguras playas, además de un comercio constante son los componentes que hacen de este lugar un verdadero “lugar de los sueños”.
            </p>
            <p>
                Amaszonas Paraguay habilitó unos tres vuelos semanales, siendo uno de ellos el más importante y que apunta al turismo, el de los viernes. Antes del medio día puedes llegar al Aeropuerto de Iquique, Diego Aracenas y retornar a Paraguay el lunes poco después de las 12 pm. El vuelo solo toma unas dos horas y diez minutos, siendo la vista el principal atractivo. Cordilleras, serranías y la vista del desierto hacen que las horas de vuelo pasen más rápido de lo que en realidad es, con un costo que ni siquiera llega a los 300 dólares.
            </p>
            <blockquote class="context-quote">
                Cita en forma de bloques de contenido. Cita en forma de bloques de contenido.Cita en forma de bloques de contenido
                <span class="context-quote_author">Susana Acuña</span>
            </blockquote>
            
            <div class="context-images">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <source srcset="http://launion.com.py/wp-content/uploads/2016/06/IMG-20160613-WA00321-680x365_c.jpg" media="(min-width: 1200px)" />
                            <source srcset="http://launion.com.py/wp-content/uploads/2016/06/IMG-20160613-WA00321-680x365_c.jpg" media="(min-width: 1025px)" />
                            <source srcset="http://launion.com.py/wp-content/uploads/2016/06/IMG-20160613-WA00321-680x365_c.jpg" media="(min-width: 640px)" />
                            <source srcset="http://launion.com.py/wp-content/uploads/2016/06/IMG-20160613-WA00321-680x365_c.jpg" media="(min-width: 481px)" />
                            <img src="http://launion.com.py/wp-content/uploads/2016/06/IMG-20160613-WA00321-680x365_c.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <p class="context-footnote">
                    Pie de la foto
                </p>
            </div>
            <p>Los iquiqueños no ofrecen solamente la posibilidad de negocios a los comerciantes sino también la posibilidad de vacacionar y disfrutar.</p>
            <p>Si bien existe una importante variedad de paquetes que nos llevan a Punta Cana o Cancún con menos de 2.000 dólares, ir a Chile puede convertirse en dos opciones negocios y vacaciones.</p>
            <p> El Grupo Venus Comunicaciones viajó 2.004 kilómetros para mostrarte una serie de atractivos que contiene esta ciudad y te invita a conocer este lugar de la mano de Aerolíneas Amaszonas.</p>
            
            {# FOOTNOTE #}
            <p class="context-footnote">
                Fuente: <a href="">http://www.launion.com.py/playa-comercio-y-desierto-en-solo-dos-horas-22623.html</a> 
            </p>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
             <div class="text-right">
                <a href="CORP-news_list.html" class="context-btn_back">Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
