// ********************
//  COMPONENTS
//
// ********************
//  HEADER CORPORATIVE
// ********************
//    + main submenu nav
//    + Corp inner pages like IBE Header
//
// *********************

// variables
$main-header-ui-dropdown-width: 200px;
$nav-item-link-gutter: 16px;
$subnav-inner-left-space: 80px;
$subnav-pad-left: 20px;
$main-header-nav-secondary-items-separation: 10px;
$main-header-nav-secondary-items-separation-desktop: 20px;
$main-header-nav-secondary-items-separation-margin-desktop: 8px;
$main-header-subnav-items-separation: 6px;
$nav-height-mobile: 50px;
$main-header-nav-primary-call-center-width: 60px;


// mixins
@mixin main-header-nav-primary-items-separator {
	content: '';
	z-index: 3;
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 60%;
	background-color: $c-secondary;
	transform: translateY(-50%);
}

// placeholders
%main-header-nav-secondary-item-link-trigger {
	position: relative;
	display: inline-block;
	padding: calculateRem(7px) calculateRem($main-header-nav-secondary-items-separation);
	cursor: pointer;
	&::before {
		@include font-size($header-links-icon-size);
		transition: $t-hover-element;
	}
	&:hover {
		&::before {
			color: $c-primary-dark;
		}
	}
	@media #{$tablet-portrait} { // >= 768px
		padding: calculateRem(7px) calculateRem($main-header-nav-secondary-items-separation-desktop - $main-header-nav-secondary-items-separation-margin-desktop);
		&::before {
			@include font-size($header-links-icon-size + 2);
		}
	}
}
.main-header_wrap {
	z-index: $header-fixed-zindex;
	position: relative;
	// left: 0;
	// top: 0;
	width: 100%;
	background-color: #fff;
}
.main-header {
	@include container-wrap;
	display: flex;
	height: 100%;
}
.main-header_container {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.main-header_logo .logo,
.main-header_nav-primary,
.main-header_nav-secondary {
	display: flex;
	align-items: flex-start;
}
.main-header_logo {
	z-index: 3;
	position: relative;
	margin-right: 1rem;
	.logo {
		width: 100px;
		height: 100%;
		// transition: all .06s ease;
	}
	img {
		width: 100%;
		margin: auto;
	}
}
.main-header_nav {
	display: flex;
	flex: 1 1 100%;
	justify-content: flex-end;
	flex-wrap: nowrap;
	.nav_item {
		display: flex;
		align-items: center;
		margin: 0;
		line-height: 1.2;
	}
	.ui-dropdown_list {
		right: 0;
		left: inherit;
	}
}
.main-header_nav-primary,
.main-header_nav-secondary {
	> ul {
		display: flex;
		width: 100%;
		height: 100%;
	}
}
.main-header_nav-primary {
	.nav_item_link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
	}
}
.main-header_nav-secondary {
	> ul {
		position: relative;
		left: $main-header-nav-secondary-items-separation;
	}
	.nav_item {
		position: relative;
		color: $c-primary;
	}
	.nav_item_link {
		.icon {
			@extend %main-header-nav-secondary-item-link-trigger;
		}
	}
	.ui-dropdown {
		> button {
			padding-right: 0;
			&::after {
				display: none;
			}
		}
	}
}

// + Corp inner pages like IBE Header
// -------

// + Subnav
// -------
$subnav-minheight: 224px;
.main-header_subnav {
	z-index: -1; // fix Safari 12 :hover mistake
	position: absolute;
	top: 80%;
	left: $nav-item-link-gutter;
	box-sizing: border-box;
	height: 0;
	background-color: #fff;
	overflow: hidden;
	opacity: 0;
	transition: opacity .14s ease-in-out, top .27s ease-in-out;
	.nav_item:hover &,
	&.open {
		z-index: 1;
		overflow: visible;
		opacity: 1;
	}
	nav {
		&.subnav--onecol ul li {
			flex-basis: calc(25% - #{$subnav-pad-left});
			width: calc(25% - #{$subnav-pad-left});
		}
	}
}
.main-header_subnav_inner {
	padding: calculateRem(16px);
	.icon {
		@include font-size(26px);
		z-index: 3;
		position: absolute;
		top: calculateRem(10px);
		left: $gutter-sides;
		color: $c-secondary;
	}
}
.subnav_item_n2,
.subnav_item_n3 {
	position: relative;
	display: block;
	padding: calculateRem(12px) calculateRem($gutter-sides);
	line-height: 1.2;
	text-decoration: none;
}
.subnav_item_n2 {
	font-weight: 600;
	color: $c-primary;
	&:hover {
		color: $c-primary-dark;
	}
}
.subnav_item_n3 {
	@include iconfont($icon-arrow-triangle-right, before, $c-primary);
	color: $c-text;
	&::before {
		font-size: .65em;
	}
	&:hover {
		color: $c-primary;
	}
}

// [Responsive menu]
// ## when fixed at bottom
@media #{$header-nav-breakpoint-collapsed} { // < 768px
	.main-header_wrap {
		z-index: unset;
	}
	.main-header {
		height: $main-header-mobile-height;
	}
	//## primary navigation
	.main-header_nav-primary {
		z-index: $mobile-modal-zindex + 1;
		display: inline-block; // Safari Support
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: $nav-height-mobile;
		box-shadow: 0 -5px 10px rgba(#000, .19), 0 -3px 3px rgba(#000, .23);
		> ul {
			display: flex;
			width: 79%;
			height: 100%;
			align-items: center;
			margin: 0;
			justify-content: center;
		}
		.nav_item {
			position: relative;
			display: flex;
			flex: 1 0 25%;
			height: 100%;
			align-items: center;
			justify-content: center;
			word-break: break-word;
			&::before { //## fixed bottom menu - links separator line
				@include main-header-nav-primary-items-separator;
			}
			&:first-child {
				&::before {
					width: 0;
				}
			 }
			&.active {
				.nav_item_link {
					color: $c-secondary;
					font-weight: 600;
				}                
			}
		}
		.nav_item_link {
			@include font-size($f-size-xxs);
			z-index: 2;
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			align-items: center;
			color: #fff;
			justify-content: center;
			padding: 0 10px;
			margin: 0;
			background-color: $c-primary; // is necessary from to show background when mobile modal is open
			font-weight: 400;
		}
		.search-opened & {
			height: 0;
			border: 0;
		}
	}
	.main-header_nav-secondary {
		height: 100%;
	}
	//## secondary navigation (settings)
	//## subnav
	.main-header_subnav {
		z-index: 1;
		position: fixed;
		bottom: 1px;
		left: 0;
		height: auto;
		width: 100%;
		padding: 14px 0;
		top: inherit;
		transform: inherit;
		padding: 0;
		overflow: visible;
		opacity: 1;
		border-radius: 0;
		transition: bottom .3s ease-in-out;
		&[aria-hidden='true'] {
			bottom: -100%;
		}

		nav {
			position: relative;
			display: block;
			flex: none;
			width: 100%; // fix nav incorrect 100%
			padding: 0;
			ul {
				display: block;
				max-height: 100%;
				overflow-y: auto;
				padding: 0;
				background: #fff;
				transition: all .3s ease-in-out;
				-webkit-overflow-scrolling: touch;
				&[aria-hidden='true'], &.show {
					max-height: 0;
					overflow: hidden;
				}
			}
		}
	}
	.main-header_subnav-head {
		@include mobile-modal_header;
		padding-left: 3rem;
	}
	.main-header_subnav-body {
		@include mobile-modal_main-body(lighten);
	}
	.main-header_subnav-button-close {
		@include mobile-modal-header_close-button;
	}
	.main-header_subnav_inner {
		@include mobile-modal_main-container('.nav_item.active', true, ($main-header-mobile-height));
		.call-center-is-active & {
			top: 100% !important;
		}
	}
	.subnav_item_n2,
	.subnav_item_n3 {
		&.collapsible {
			@include collapse-trigger(16px, $c-primary);
			display: block;
			&::after {
				right: calculateRem($gutter-sides);
			}
		}
		&.collapsed {
			& + ul {
				height: 0;
				opacity: 0;
				transition: $header-transitions;
			}
		}
	}
	.subnav_item_n3 {
		margin-top: 0;
		background-color: #fff;
		border-bottom: 1px solid $c-color1;
	}
	.main-header_subnav_list {
		.subnav_item_n3 {
			border-bottom-width: 0;
		}
	}
}
@media #{$header-nav-breakpoint-not-collapsed} { // >= 768px
	.main-header_wrap {
		height: $main-header-height;
	}
	.main-header_container {
		padding-top: calculateRem($main-header-nav-secondary-height);
		// transition: all .1s ease;
	}
	.main-header_logo {
		img {
			margin-top: calculateRem(6px);
		}
		.logo {
			width: 170px;
		}
	}
	.main-header_nav-primary {
		.nav_item {
			&:last-child {
				.nav_item_link_caption {
					padding-right: 0;
				}
			}
			&:hover {
				.nav_item_link_caption {
					color: $c-primary;
				}
				.main-header_subnav {
					visibility: visible;
				}
			}
		}
		> ul {
			height: 100%;
			align-items: center;
			> .nav_item {
				// padding-bottom: calculateRem(20px);
				margin-left: calculateRem(32px);
				padding: 1rem 0;
			}
		}
	}
	.main-header_nav-secondary {
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;
		width: 100%;
		height: calculateRem($main-header-nav-secondary-height);
		background-color: $c-color5;
		&::after { //## secondary nav background
			content: '';
			z-index: -1;
			position: fixed;
			left: 0;
			width: 100%;
			height: calculateRem($main-header-nav-secondary-height);
			background-color: $c-color5;
		}
		> ul {
			left: $main-header-nav-secondary-items-separation-desktop - $main-header-nav-secondary-items-separation-margin-desktop;
			justify-content: flex-end;
		}
		$nav-item-tooltip-top-space: 4px;
		.nav_item_link {
			display: flex;
			align-items: center;
		}
		.nav_item_link_title_label {
			@include font-size($f-size-sm);
			position: relative;
			right: calculateRem(8px);
			// padding: 0 calculateRem(8px) 0 0;
		}
	}
	.main-header_subnav {
		visibility: hidden;
		left: 0;
		top: 100%;
		width: 100%;
		height: auto;
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			width: 100vw;
			height: 100%;
			background-color: #fff;
			transform: translateX(-50%);
			box-shadow: $bs-section-top;
		}
		&::after {
			content: '';
			position: absolute;
			top: calculateRem(-12px);
			left: 0;
			width: 100%;
			height: calculateRem(12px);
		}
	}
	.main-header_subnav_inner {
		position: relative;
		padding: calculateRem(36px) 0;
		.icon {
			display: none;
		}
	}
	.main-header_subnav-body {
		display: flex;
	}
	.main-header_subnav-title {
		display: none;
	}
	.main-header_column {
		flex: 1 1 100%;
		nav {
			& + nav {
				margin-top: calculateRem(8px);
			}
		}
	}
	.main-header_subnav-button-close {
		display: none;
	}
	.subnav_item_n2 {
		padding: 0 0 calculateRem(10px);
	}
	.subnav_item_n3 {
		padding: calculateRem($main-header-subnav-items-separation) 0;
	}
	.is-fixedheader {
		.main-header_container {
			padding-top: 0;
		}
	}
}
@media #{$header-nav-breakpoint-not-collapsed} { // >= 768px
	.fixed-header {
		.main-header_wrap {
			z-index: $header-sticky-zindex;
			height: $main-header-height;
		}
	}
	//## when scroll starts
	.is-fixedheader {
		.page-wrap {
			padding-top: $main-header-fixed-height-onscroll;
		}
		.main-header_wrap {
			position: fixed;
			top: 0;
			height: $main-header-fixed-height-onscroll;
			box-shadow: $bs-default;
			// transition: all .01s ease-in-out;
		}
		.main-header_container {
			padding-top: 0;
		}
		.main-header_logo {
			.logo { width: 120px; }
		}
		.main-header_nav-secondary {
			display: none;
		}
	}
	//## when search and header are fixed
	.fixed-header.search-fixed {
		.page-wrap {
			padding-top: calculateRem($main-header-fixed-height-onscroll * 2);
		}
	}
}
