// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FOOTER
// ****************************************
//
//    + Main footer container
//    + Main footer
//    + Logo
//    + Navigation
//    + Social media
//    + Newsletter
//    + Fly programs
//    + Footer copyright section
//    + Copyright
//    + Language bar
//
//    [Responsive]
//
// ****************************************


// + Variables
// -------
$main-footer_row-gap: 18px; // bottom copyright top separation
$main-footer_row-gap-up: 16px; // upper divider line separation
$main-footer_row-gap-down: 24px; // under divider line separation
$main-footer_row-separator: 1px solid $c-color2; // line separation style
$main-footer_pattern-height: 32px;
$main-footer_pattern-top-margin: 22px;
$main-footer_pattern-height-desktop: 48px;

// + Main footer container
// -------
.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: calculateRem($main-footer_pattern-height + $main-footer_pattern-top-margin) 0 ($main-header-mobile-height + 24px);
    background-color: $mainfooter-background;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: $main-footer_pattern-top-margin;
        width: 100%;
        height: calculateRem($main-footer_pattern-height);
        background-image: url('../imgs/pattern.svg');
        background-repeat: repeat-x;
        background-size: calculateRem(640px) calculateRem($main-footer_pattern-height-desktop); // IE11 Support
    }
}
// + Main footer content
// -------
.main-footer_content {
    @include container-wrap;
    padding-top: $gutter-sides;
}

// + Logo
// -------
.main-footer_logo {
    padding: 0 0 calculateRem(24px);
    .logo {
        display: inline-block;
        width: calculateRem(100px);
        img {
            width: 100%;
        }
    }
}


// + Navigation
// -------
.main-footer_nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gutter-sides) calculateRem(8px);
}
.main-footer_nav-column {
    width: 100%;
    margin: 0 $gutter-sides;
    color: $c-primary-dark;
    text-align: center;
    ul {
        li {
            &:last-child {
                padding-bottom: calculateRem(4px); // allow collapse animation
            }
        }
    }
    li {
        line-height: 1.2;
    }
    a {
        display: inline-block;
        width: 100%;
        padding: calculateRem(9px) 0;
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $c-primary;
        }
    }
}
.main-footer_nav-title {
    a {
        @include iconfont($icon-arrow-single-down, after);
        font-weight: 600;
        color: $c-primary;
        text-transform: uppercase;
        &::after {
            position: relative;
            top: 1px;
            margin-left: 2px;
            font-size: .9em;
            vertical-align: baseline;
            transition: $t-caret-collapse;
        }
        &[aria-expanded="true"] {
            &::after {
                transform: rotateX(180deg);
            }
        }
    }
}


// + Social media
// -------
.main-footer_socialmedia {
    text-align: center;
    padding: calculateRem(16px) 0 calculateRem(20px);
    border-top: $main-footer_row-separator;
}

// + Newsletter
// -------
.main-footer_newsletter {
}

// + Payment methods list
// -------
.main-footer_payment-methods {
    
}


// + Fly programs
// -------
// .fly-programs {}
// .fly-programs_item {}


// + Footer bottom section
// -------
.main-footer_bottom {
    .copyright {
        margin: 0;
    }
}
.poweredby {
    float: right;
    padding: 16px 0 0;
    color: $c-text;
}
.poweredby_logo {
    display: inline-block;
    vertical-align: bottom;
    width: calculateRem(66px);
    height: calculateRem(16px);
    margin-left: 1px;
    background-image: url('../imgs/logo-newshore.svg');
    background-repeat: no-repeat;
}
.main-footer_bottom_content {
    @include container-wrap;
    @include font-size($f-size-sm);
    align-items: center;
    color: $c-text;
    a {
        text-decoration: none;
    }
}

// + Language bar
// -------
// .main-footer_language-bar {}

// [Responsive]
@media #{$tablet-portrait} {
    .main-footer {
        padding: calculateRem(17px) 0 calculateRem($main-footer_pattern-height-desktop);
        &::before {
            top: auto;
            bottom: 0;
            height: calculateRem($main-footer_pattern-height-desktop);
        }
    }
    .main-footer_nav {
        grid-column: 3 / span 6;
        grid-row: 1;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0 0 calculateRem(16px);
    }
    .main-footer_nav-column {
        margin: 0 $gutter-sides;
        ul {
            li {
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
        & + & {
            padding-left: 2%;
        }
    }
    .main-footer_content {
        display: grid;
        grid-template-columns: auto auto 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .main-footer_logo {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .main-footer_nav-title {
        @include font-size($f-size-md);
        a {
            &::after {
                content: none;
            }
        }
    }
    .main-footer_nav-column {
        width: auto;
        text-align: left;
        margin: 0 $gutter-sides;
        a {
            padding: calculateRem(4px) 0;
        }
        & + & {
            padding-left: 7.3%;
        }
    }
    .main-footer_socialmedia {
        grid-row: 2;
        grid-column: 1 / span 2;
        display: flex;
        padding: calculateRem($main-footer_row-gap) 0 0;
    }
    .main-footer_payment-methods {
        grid-row: 2;
        grid-column: 3 / span 7;
        text-align: right;
        border-top: $main-footer_row-separator;
        .payment-methods-list_title {
            margin-bottom: calculateRem(16px);
        }
    }
    .main-footer_bottom {
        padding: 33px 0 0;
        .poweredby {
            margin: 0 0 0 calculateRem(16px);
            padding: 0;
            white-space: nowrap;
        }
    }
    .main-footer_bottom_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-footer_bottom {
        padding-bottom: calculateRem(26px);
    }
    .main-footer_payment-methods {
        padding: calculateRem($main-footer_row-gap) 0 0;
    }
}
@media #{$tablet-landscape} {
    .main-footer_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .main-footer_logo {
        grid-column: 1 / span 3;
        .logo {
            width: calculateRem(200px);
        }
    }
    .main-footer_socialmedia {
        grid-column: 1 / span 3;
    }
    .main-footer_nav {
        grid-column: 4 / span 5;
    }
    .main-footer_payment-methods {
        grid-column: 4 / span 5;
    }
}
