@import 'import';

// ****************************************
//  IBE HONG KONG EXPRESS STYLES
//
// ****************************************
//
//    + Template
//    + Content layouts (ly-)
//        ++ image + text
//
// ****************************************

html,body { 
    height: 100%;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body {
    font-family: $f-body;
    @include font-size($f-size);
    color: $c-text;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: $body-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
a,
input,
textarea,
button,
select,
.button,
[role='button'] {
    &:focus { //## should be for accessibility
        // outline: 0;
        @include accessibility-outline;
    }
    &:focus:active {
        outline: 0;
    }
}
[tabindex='-1']:focus {
    outline: 0;
}
//## accessibility outline
// [data-whatinput='keyboard'] {
//     *:focus,
//     a:focus,
//     input:focus,
//     textarea:focus,
//     button:focus,
//     select:focus,
//     .button:focus,
//     [role='button']:focus {
//         outline: none;
//         @include accessibility-outline;
//     }
// }
// [data-whatinput='mouse'] {
//     a:focus,
//     input:focus,
//     textarea:focus,
//     button:focus,
//     select:focus,
//     .button:focus,
//     [role='button']:focus {
//         outline: none;
//     }
// }

a {
    text-decoration: none;
    color: $c-link;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: $c-link-hover;
    }
    &:active {
        text-decoration: inherit;
    }
}
[role='button'] {
    cursor: pointer;
}

strong {
  font-weight: 600;
}

p {
    margin-bottom: 14px;
    &:last-child {
        margin-bottom: 0;
    }
}
sup, sub {
    font-size: .75em;
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
sup {
    vertical-align: top;
    a {
        vertical-align: top;
    }
}
sub {
    vertical-align: bottom;
    a {
        vertical-align: bottom;
    }
}

.skip-main {
    z-index: -999;
    position: absolute;
    top: 6px;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:focus {
        @include accessibility-outline;
        z-index: 999;
        @include font-size($f-size-sm);
        left: 0;
        display: inline-block;
        width: auto;
        height: auto;
        text-align: center;
        color: $c-secondary;
        text-decoration: none;
        padding: 7px 20px;
        background-color: #fff;
    }
}

// + Template
// -------
.page-wrap {
    position: relative;
    // padding-top: ($main-header-height + 30);
    min-height: 100%;
    // @media #{$until-tablet-portrait} { // <= 768px
    //     padding-top: ($main-header-mobile-height + 30);
    // }
    // .home-page &,
    // .ibe-page & {
    //     padding-top: 0;
    //     @media #{$until-tablet-portrait} { // <= 768px
    //         padding-top: 0;
    //     }
    // }
    .fixed-header & {
        padding-top: ($main-header-height + 30);
        @media #{$until-tablet-portrait} { // <= 768px
            padding-top: ($main-header-mobile-height + 30);
        }
        .alert {
            display: none;
        }
        .main-header {
            position: fixed;
            @media #{$header-nav-breakpoint-collapsed} { // <= 768px
                position: absolute;
            }
        }
    }
}
.content-wrap {
    position: relative;
    padding-bottom: 60px;
}
.container {
    @include clearfix;
}

.wrapper-center {
    width: 100%;
    margin: 0 auto;
    @media #{$tablet-portrait} { // >= 768px
        width: 748px;
    }
    @media #{$tablet-landscape} { // >= 992px
        width: 768px;
    }
}

::ng-deep .collapse.ng-animating,
::ng-deep .ng-animating,
.collapse.ng-animating,
.ng-animating {
    overflow: hidden;
    background: red;
}

// + Content layouts
// -------
// ++ content layout - image + text
.ly-image-text {
    position: relative;
    display: flex;
    .image-thumb {
        width: calc(100% - 30px);
        margin-right: 30px;
        border-radius: $border-radius;
        overflow: hidden;
        .image {
            display: block;
            width: 270px;
            border-radius: $border-radius;
        }
    }
    a {
        color: inherit;
        text-decoration: underline;
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
    ul {
        margin: 10px 0;
    }
    p {
        margin: 7px 0;
    }
    p.small {
        @include font-size($f-size-sm);
    }
}
.ly-image-text_col {
    flex-basis: auto;
}
@media #{$until-mobile} {
    .ly-image-text {
        display: block;
        .image-thumb {
            position: relative;
            width: 100%;
            height: 102px;
            margin-right: 0;
            margin-bottom: 20px;
            .image {
                position: absolute;
                width: 100%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.intro {
    margin: 18px 0 14px;
    line-height: 1.3;
    @media #{$tablet-portrait}{
        margin: 24px 0;
    }
}
.footnote {
    @include font-size($f-size-xs);
    line-height: 1.2;
    text-align: left;
    a {
        text-decoration: underline;
    }
}
.note-text {
    display: block;
    @include font-size($f-size-xs);
    margin: 2px 0 4px;
}


// + Tabs pill convert to collapse when at small devices
// -------
.tabs-pill_trigger {
    color: $c-primary;
}
.tabs-pill {
    @include custom-scroll(lighten);
    display: flex;
    width: 100%;
    overflow: auto;
    li {
        display: inline-flex;
        @include font-size($f-size);
        margin-right: 24px;
    }
    a {
        @extend .tabs-pill_trigger;
        display: block;
        height: 54px;
        color: #fff;
        line-height: 1;
        padding: 12px 20px;
        border-radius: 3px;
        border: 1px solid $c-secondary;
        background: $c-secondary;
        box-sizing: border-box;

        &.collapsed {
            color: $c-primary;
            border: 1px solid $c-primary;
            background: #fff;
        }
    }
}
.tabs-pill_content {
    .tabs-pill_trigger {
        @include title-bar($c-secondary);
        display: none;
        display: none;
        border-top-left-radius: 30px;
        padding: 12px 28px;
        margin-bottom: 7px;
        &.collapsed {
            @include title-bar($gray-1);
        }
    }
}
@media #{$until-mobile}{// <=640px
    .tabs-pill { display: none; }
    .tabs-pill_content {
        .tabs-pill_trigger {
            display: flex;
        }
    }
}


//## more trigger, for read more text elements
.moreinfo_trigger {
    @include iconfont($icon-circle-minus-empty,after);
    @include font-size($f-size);
    display: none;
    color: $c-primary;
    text-decoration: none;
    &::after {
        position: relative;
        top: 2px;
    }
    &.collapsed {
        &::after {
            content: $icon-circle-plus-empty;
        }
    }
}
@media #{$until-mobile} { // <=768px
    .moreinfo_trigger {
        display: inline;
        cursor: pointer;
    }
}

// ++ action icon links
[class^="iconlink-"] { // generate hard specificity problem
    color: $c-primary;
    text-decoration: none;
    line-height: 1;
    &:hover {
        color: darken($c-primary,10%);
    }
}
.iconlink-mmb {
    @include iconfont($icon-settings-single,before);
}
.iconlink-payment {
    @include iconfont($icon-pay,before);
}
.iconlink-refund {
    @include iconfont($icon-refunds,before);
}
.iconlink-password {
    @include iconfont($icon-lock-change,before);
}
.iconlink-close {
    @include iconfont($icon-cross,before);
}
.iconlink-print {
    @include iconfont($icon-printer,before);
}

.search-panel {
    z-index: 2;
    position: relative;
    margin-top: -5em;
    @media #{$until-tablet-landscape} { // <= 992px
        margin-top: -3.4em;
    }
    @media #{$until-tablet-portrait} { // <= 768px
        margin-top: -2.8em;
        .multiple-panel_item_content {
            min-height: 0;
            margin: 14px 0 0;
        }
    }
    @media #{$until-mobile} { // <= 640px
        margin-top: -2.2em;
    }
}
