// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  AGENT PORTAL
// ****************************************
//
//    + AP Login
//    + AP Home
//    + AP Payment OnHold
//    + Booking commments
//
// ****************************************

// + Agent-portal acount management
// -------
.agent_portal-acount_management {
    .responsive-table {
        table-layout: fixed;
    }
}
.agent_portal-payment_hold_proceed {
    .itinerary {
        margin-bottom: 40px;
    }
}


// + AP Home
// -------
.ap_home {
    @media #{$until-tablet-portrait} { //## <=640px
        .separator-section {
            display: none;
        }
    }
}


// + AP Payment OnHold
// -------
.ap_payment-onhold {
    .payment_details_paymethod {
        align-self: center;
        padding-left: 7%;
    }
}


// + Booking commments
// -------
.booking-comments {
    margin: 40px 0;
}
