// ********************
//  IBE COMPONENT
//
// ********************
//  SUMMARY
// ********************
//
//  + Header
//  + Total
//  + Collapse
//  + Journey
//  + Pax type list
//  + Close button
//
//  [Responsive]
//
//  + Side sliding summary (with its responsive)
//  + Summary aside
//
// *******************

// + variables
$summary_collapse-horizontal-gutter: 1rem;

@mixin summary-journey-l2 {
    .summary_route {
        grid-column: 1 / span 4;
        grid-row: 3;
        margin-right: 0;
    }
    .summary_fare,
    .summary_flight {
        margin-top: 4px;
    }
    .summary_fare {
        grid-column: 1;
        grid-row: 4;
        text-align: center;
        display: flex;
        align-items: flex-end;
        .fare-label {
            display: block;
            width: 100%;
            white-space: nowrap;
        }
    }
    .summary_flight {
        grid-column: 2 / span 3;
        grid-row: 4;
        margin-left: 20px;
        text-align: left;
    }
}

.summary {
    position: relative;
    display: flex;
    justify-content: center;
}
.summary_header {
    @include iconfont($icon-arrow-down, after);
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    &::after {
        @include font-size(26px);
        margin: 0 0 0 5px;
        padding: 3px 5px 2px 3px;
        color: $c-color2;
        background-color: #fff;
        border: 1px solid $c-color2;
        border-radius: $border-radius;
    }
}
.summary_total_list {
    @include iconfont($icon-mascota2);
    @include font-size($f-size-sm);
    position: relative;
    font-weight: 600;
    padding: 7px 10px 5px 36px;
    background-color: #fff;
    border: 1px solid $c-color2;
    border-radius: $border-radius;
    &::before {
        @include font-size(20px);
        position: absolute;
        left: 8px;
        top: 4px;
        color: $c-color2;
    }
    &::after {
        content: '';
        position: absolute;
        left: 10px;
        top: 25px;
        width: calc(100% - 20px);
        height: 1px;
        background-color: $c-primary;
    }
}
.summary_trigger {
    font-weight: inherit;
    cursor: inherit;
    .value,
    .currency {
        color: $c-color2;
    }
}
// + summary collapse
.summary_collapse {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    width: 325px;
    box-shadow: $bs-3;
    z-index: 3;
}
.summary_collapse_header {
    @include font-size($f-size-md-sm);
    @include iconfont($icon-mascota2, after);
    padding: 19px $summary_collapse-horizontal-gutter;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $c-primary;
    &::after {
        @include font-size(30px);
        float: right;
        color: $c-color1;
    }
}
// + summary journey
.summary_journey {
    @include iconfont($icon-arrow-up);
    position: relative;
    padding: .5rem $summary_collapse-horizontal-gutter;
    background-color: $gray90;
    cursor: pointer;
    transition: .2s ease-out;
    &:hover {
        background-color: $gray80;
    }
    &::before { //## dropdown icon
        position: absolute;
        right: $summary_collapse-horizontal-gutter;
        top: 50%;
        transform: translateY(-50%);
        transition: $t-caret-collapse;
    }
    // modifiers
    &.departure {
        border-bottom: 1px solid rgba(#fff,.6);
    }
    &.collapsed {
        &::before {
            transform: translateY(-50%) scaleY(-1);
        }
    }
}
// ++ route
.summary_route {
    @include font-size($f-size-md-sm);
    line-height: 1;
}
.summary_airport {
    font-weight: 600;
    color: $c-primary;
    text-transform: uppercase;
}
.summary_route_icon {
    @include iconfont($icon-arrow-right);
    @include font-size($f-size);
    position: relative;
    left: -1px;
    display: inline-block;
    width: calculateRem(14px);
    color: $c-color2;
}
// ++ date
.summary_date {
    display: inline-block;
    color: $gray50;
}
.summary_date_day {
    float: right;
    margin-left: .1em;
}
// ++ time
.summary_time {
    display: inline-block;
    font-weight: 500;
}
// .summary_time_arrival {
//     @include iconfont($icon-arrow-right);
//     position: relative;
//     padding-left: 1.1em;
//     &::before {
//         @include font-size(12px);
//         position: absolute;
//         left: 2px;
//         top: 3px;
//         color: $c-color1;
//     }
// }
// ++ inner
.summary_journey_inner {
    padding: 0 $summary_collapse-horizontal-gutter;
    background-color: #fff;
}
// +++ service
.summary_journey_service {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    padding: $summary_collapse-horizontal-gutter / 2 0 $summary_collapse-horizontal-gutter / 2 24px;
    background-image: linear-gradient(to right, $c-primary 33%, rgba($c-primary,0) 0%);
    background-position: bottom;
    background-size: 7px 2px;
    background-repeat: repeat-x;
    &:last-child {
        background-image: none;
    }
}
.summary_journey_service-quantity {
    position: absolute;
    left: $summary_collapse-horizontal-gutter / -2;
    top: calculateRem(9px);
    $summary_journey_service-quantity-size: calculateRem(17px);
    @include font-size($f-size-sm);
    display: inline-flex;
    padding: 3px 5px 1px;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    background-color: $c-primary;
    border-radius: $border-radius;
}
.summary_journey_service-title {
    font-weight: 600;
}
.summary_journey_service-price {
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1em;
    font-weight: 600;
    color: $c-color2;
}
.summary_journey_service-list {
    @include font-size($f-size-sm);
}
.summary_journey_service-list-item {
    position: relative;
    padding-left: .666em;
    &::before {
        content: '-';
        position: absolute;
        left: 0;
    }
}
// + summary total
.summary_total-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: calculateRem(4px) $summary_collapse-horizontal-gutter * 2 calculateRem(4px) $summary_collapse-horizontal-gutter;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $c-primary;
    .price {
        @include font-size($f-size-xxlg);
        padding-left: .5rem;
    }
}
@media #{$mobile-sm} {
    .summary_header {
        &::after {
            padding: 5px 8px 6px;
        }
    }
    .summary_total_list {
        @include font-size($f-size-md-sm);
        padding: 4px 10px 5px 36px;
        &::before {
            @include font-size(22px);
            top: 6px;
        }
        &::after {
            top: 29px;
            height: 2px;
        }
    }
}