// ----------------------------------------------------
// Loader
// Half circle spin
// ----------------------------------------------------
	
// HTML
//  <div class="load loader--halfcirclespin"></div>
.halfcircle {
	$load-color: rgba($c-secondary,0);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $c-secondary;
    background: linear-gradient(to right, $c-secondary 10%, $load-color 42%);
    animation: loadHalfCircle 1.4s infinite linear;
    transform: translateZ(0);  
    &::before {
        width: 50%;
        height: 50%;
        background: $c-secondary;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }
    &::after {
        background: $overlay-background;
        width: 87%;
        height: 87%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
@-webkit-keyframes anima-loader_halfcirclespin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes anima-loader_halfcirclespin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}





