@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5yuv8h');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5yuv8h#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5yuv8h') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5yuv8h') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5yuv8h##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-exit {
  &:before {
    content: $icon-exit; 
  }
}
.icon-currency {
  &:before {
    content: $icon-currency; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-exit-left {
  &:before {
    content: $icon-exit-left; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-prohibidos_fumar .path1 {
  &:before {
    content: $icon-prohibidos_fumar-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_fumar .path2 {
  &:before {
    content: $icon-prohibidos_fumar-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_checkin .path1 {
  &:before {
    content: $icon-prohibidos_checkin-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_checkin .path2 {
  &:before {
    content: $icon-prohibidos_checkin-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_inflamables .path1 {
  &:before {
    content: $icon-prohibidos_inflamables-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_inflamables .path2 {
  &:before {
    content: $icon-prohibidos_inflamables-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_liquidos_peligrosos .path1 {
  &:before {
    content: $icon-prohibidos_liquidos_peligrosos-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_liquidos_peligrosos .path2 {
  &:before {
    content: $icon-prohibidos_liquidos_peligrosos-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_liquidos_peligrosos2 .path1 {
  &:before {
    content: $icon-prohibidos_liquidos_peligrosos2-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_liquidos_peligrosos2 .path2 {
  &:before {
    content: $icon-prohibidos_liquidos_peligrosos2-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_celulares .path1 {
  &:before {
    content: $icon-prohibidos_celulares-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_celulares .path2 {
  &:before {
    content: $icon-prohibidos_celulares-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_zapatos .path1 {
  &:before {
    content: $icon-prohibidos_zapatos-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_zapatos .path2 {
  &:before {
    content: $icon-prohibidos_zapatos-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_liquidos_corrosivos .path1 {
  &:before {
    content: $icon-prohibidos_liquidos_corrosivos-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_liquidos_corrosivos .path2 {
  &:before {
    content: $icon-prohibidos_liquidos_corrosivos-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_animales .path1 {
  &:before {
    content: $icon-prohibidos_animales-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_animales .path2 {
  &:before {
    content: $icon-prohibidos_animales-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_gas .path1 {
  &:before {
    content: $icon-prohibidos_gas-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_gas .path2 {
  &:before {
    content: $icon-prohibidos_gas-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_extranos .path1 {
  &:before {
    content: $icon-prohibidos_extranos-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_extranos .path2 {
  &:before {
    content: $icon-prohibidos_extranos-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_equipos_electricos .path1 {
  &:before {
    content: $icon-prohibidos_equipos_electricos-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_equipos_electricos .path2 {
  &:before {
    content: $icon-prohibidos_equipos_electricos-path2;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-prohibidos_fumar2 .path1 {
  &:before {
    content: $icon-prohibidos_fumar2-path1;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_fumar2 .path2 {
  &:before {
    content: $icon-prohibidos_fumar2-path2;  
    margin-left: -1em;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_fumar2 .path3 {
  &:before {
    content: $icon-prohibidos_fumar2-path3;  
    margin-left: -1em;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_fumar2 .path4 {
  &:before {
    content: $icon-prohibidos_fumar2-path4;  
    margin-left: -1em;  
    color: rgb(89, 35, 99);
  }
}
.icon-prohibidos_fumar2 .path5 {
  &:before {
    content: $icon-prohibidos_fumar2-path5;  
    margin-left: -1em;  
    color: rgb(195, 26, 37);
  }
}
.icon-dialogo {
  &:before {
    content: $icon-dialogo; 
  }
}
.icon-documento {
  &:before {
    content: $icon-documento; 
  }
}
.icon-asiento_incluido {
  &:before {
    content: $icon-asiento_incluido; 
  }
}
.icon-seguro {
  &:before {
    content: $icon-seguro; 
  }
}
.icon-accesibilidad {
  &:before {
    content: $icon-accesibilidad; 
  }
}
.icon-servicios {
  &:before {
    content: $icon-servicios; 
  }
}
.icon-servicios_adicionales {
  &:before {
    content: $icon-servicios_adicionales; 
  }
}
.icon-desde {
  &:before {
    content: $icon-desde; 
  }
}
.icon-hasta {
  &:before {
    content: $icon-hasta; 
  }
}
.icon-landing {
  &:before {
    content: $icon-landing; 
  }
}
.icon-equipaje_en_bodega {
  &:before {
    content: $icon-equipaje_en_bodega; 
  }
}
.icon-carry_on {
  &:before {
    content: $icon-carry_on; 
  }
}
.icon-carry_on2 {
  &:before {
    content: $icon-carry_on2; 
  }
}
.icon-mascota_en_bodega {
  &:before {
    content: $icon-mascota_en_bodega; 
  }
}
.icon-mascota_en_cabina {
  &:before {
    content: $icon-mascota_en_cabina; 
  }
}
.icon-tarifas {
  &:before {
    content: $icon-tarifas; 
  }
}
.icon-grupos {
  &:before {
    content: $icon-grupos; 
  }
}
.icon-mascotas {
  &:before {
    content: $icon-mascotas; 
  }
}
.icon-tarifas2 {
  &:before {
    content: $icon-tarifas2; 
  }
}
.icon-no-fly {
  &:before {
    content: $icon-no-fly; 
  }
}
.icon-asiento {
  &:before {
    content: $icon-asiento; 
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket; 
  }
}
.icon-equipaje_especial {
  &:before {
    content: $icon-equipaje_especial; 
  }
}
.icon-equipaje_especial2 {
  &:before {
    content: $icon-equipaje_especial2; 
  }
}
.icon-hora {
  &:before {
    content: $icon-hora; 
  }
}
.icon-necesidades_especiales {
  &:before {
    content: $icon-necesidades_especiales; 
  }
}
.icon-vuelo {
  &:before {
    content: $icon-vuelo; 
  }
}
.icon-novuelo {
  &:before {
    content: $icon-novuelo; 
  }
}
.icon-nomascota {
  &:before {
    content: $icon-nomascota; 
  }
}
.icon-salida-aeronave {
  &:before {
    content: $icon-salida-aeronave; 
  }
}
.icon-nuestros_destinos {
  &:before {
    content: $icon-nuestros_destinos; 
  }
}
.icon-star_pass {
  &:before {
    content: $icon-star_pass; 
  }
}
.icon-documentos_legales {
  &:before {
    content: $icon-documentos_legales; 
  }
}
.icon-tarifario_servicios {
  &:before {
    content: $icon-tarifario_servicios; 
  }
}
.icon-cargo {
  &:before {
    content: $icon-cargo; 
  }
}
.icon-fecha {
  &:before {
    content: $icon-fecha; 
  }
}
.icon-suscribete {
  &:before {
    content: $icon-suscribete; 
  }
}
.icon-documento_legal {
  &:before {
    content: $icon-documento_legal; 
  }
}
.icon-check_in {
  &:before {
    content: $icon-check_in; 
  }
}
.icon-medio_de_pago {
  &:before {
    content: $icon-medio_de_pago; 
  }
}
.icon-embarazadas {
  &:before {
    content: $icon-embarazadas; 
  }
}
.icon-pasajero {
  &:before {
    content: $icon-pasajero; 
  }
}
.icon-mujer {
  &:before {
    content: $icon-mujer; 
  }
}
.icon-tercera_edad {
  &:before {
    content: $icon-tercera_edad; 
  }
}
.icon-infante {
  &:before {
    content: $icon-infante; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-cerrar {
  &:before {
    content: $icon-cerrar; 
  }
}
.icon-aceptar {
  &:before {
    content: $icon-aceptar; 
  }
}
.icon-ida-y-vuelta {
  &:before {
    content: $icon-ida-y-vuelta; 
  }
}
.icon-destinos {
  &:before {
    content: $icon-destinos; 
  }
}
.icon-paquete {
  &:before {
    content: $icon-paquete; 
  }
}
.icon-descuento {
  &:before {
    content: $icon-descuento; 
  }
}
.icon-transfer {
  &:before {
    content: $icon-transfer; 
  }
}
.icon-rent_a_car {
  &:before {
    content: $icon-rent_a_car; 
  }
}
.icon-confianza {
  &:before {
    content: $icon-confianza; 
  }
}
.icon-hotel {
  &:before {
    content: $icon-hotel; 
  }
}
.icon-hotel2 {
  &:before {
    content: $icon-hotel2; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-satisfaccion {
  &:before {
    content: $icon-satisfaccion; 
  }
}
.icon-agenda {
  &:before {
    content: $icon-agenda; 
  }
}
.icon-condiciones {
  &:before {
    content: $icon-condiciones; 
  }
}
.icon-fragil {
  &:before {
    content: $icon-fragil; 
  }
}
.icon-atencion {
  &:before {
    content: $icon-atencion; 
  }
}
.icon-dress {
  &:before {
    content: $icon-dress; 
  }
}
.icon-pasaporte {
  &:before {
    content: $icon-pasaporte; 
  }
}
.icon-mascota2 {
  &:before {
    content: $icon-mascota2; 
  }
}
.icon-usuario {
  &:before {
    content: $icon-usuario; 
  }
}

