$icomoon-font-family: "sky-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-eye: "\e96b";
$icon-exit: "\e975";
$icon-currency: "\e969";
$icon-facebook: "\e96a";
$icon-instagram: "\e971";
$icon-twitter: "\e979";
$icon-menu: "\e972";
$icon-exit-left: "\e976";
$icon-arrow-down: "\e961";
$icon-arrow-left: "\e962";
$icon-arrow-up: "\e964";
$icon-arrow-right: "\e963";
$icon-prohibidos_fumar-path1: "\e900";
$icon-prohibidos_fumar-path2: "\e901";
$icon-prohibidos_checkin-path1: "\e902";
$icon-prohibidos_checkin-path2: "\e903";
$icon-prohibidos_inflamables-path1: "\e904";
$icon-prohibidos_inflamables-path2: "\e905";
$icon-prohibidos_liquidos_peligrosos-path1: "\e906";
$icon-prohibidos_liquidos_peligrosos-path2: "\e907";
$icon-prohibidos_liquidos_peligrosos2-path1: "\e908";
$icon-prohibidos_liquidos_peligrosos2-path2: "\e909";
$icon-prohibidos_celulares-path1: "\e90a";
$icon-prohibidos_celulares-path2: "\e90b";
$icon-prohibidos_zapatos-path1: "\e90c";
$icon-prohibidos_zapatos-path2: "\e90d";
$icon-prohibidos_liquidos_corrosivos-path1: "\e90e";
$icon-prohibidos_liquidos_corrosivos-path2: "\e90f";
$icon-prohibidos_animales-path1: "\e910";
$icon-prohibidos_animales-path2: "\e911";
$icon-prohibidos_gas-path1: "\e912";
$icon-prohibidos_gas-path2: "\e913";
$icon-prohibidos_extranos-path1: "\e914";
$icon-prohibidos_extranos-path2: "\e915";
$icon-prohibidos_equipos_electricos-path1: "\e916";
$icon-prohibidos_equipos_electricos-path2: "\e917";
$icon-prohibidos_fumar2-path1: "\e918";
$icon-prohibidos_fumar2-path2: "\e919";
$icon-prohibidos_fumar2-path3: "\e91a";
$icon-prohibidos_fumar2-path4: "\e91b";
$icon-prohibidos_fumar2-path5: "\e91c";
$icon-dialogo: "\e91d";
$icon-documento: "\e91e";
$icon-asiento_incluido: "\e920";
$icon-seguro: "\e921";
$icon-accesibilidad: "\e922";
$icon-servicios: "\e923";
$icon-servicios_adicionales: "\e924";
$icon-desde: "\e925";
$icon-hasta: "\e926";
$icon-landing: "\e927";
$icon-equipaje_en_bodega: "\e928";
$icon-carry_on: "\e929";
$icon-carry_on2: "\e92a";
$icon-mascota_en_bodega: "\e92b";
$icon-mascota_en_cabina: "\e92c";
$icon-tarifas: "\e92d";
$icon-grupos: "\e92e";
$icon-mascotas: "\e92f";
$icon-tarifas2: "\e930";
$icon-no-fly: "\e931";
$icon-asiento: "\e932";
$icon-ticket: "\e933";
$icon-equipaje_especial: "\e934";
$icon-equipaje_especial2: "\e935";
$icon-hora: "\e936";
$icon-necesidades_especiales: "\e937";
$icon-vuelo: "\e938";
$icon-novuelo: "\e974";
$icon-nomascota: "\e973";
$icon-salida-aeronave: "\e978";
$icon-nuestros_destinos: "\e939";
$icon-star_pass: "\e93a";
$icon-documentos_legales: "\e93b";
$icon-tarifario_servicios: "\e93c";
$icon-cargo: "\e93d";
$icon-fecha: "\e93e";
$icon-suscribete: "\e93f";
$icon-documento_legal: "\e940";
$icon-check_in: "\e941";
$icon-medio_de_pago: "\e942";
$icon-embarazadas: "\e944";
$icon-pasajero: "\e945";
$icon-mujer: "\e946";
$icon-tercera_edad: "\e947";
$icon-infante: "\e948";
$icon-minus: "\e960";
$icon-plus: "\e967";
$icon-close: "\e968";
$icon-check: "\e965";
$icon-cerrar: "\e94a";
$icon-aceptar: "\e94b";
$icon-ida-y-vuelta: "\e949";
$icon-destinos: "\e94c";
$icon-paquete: "\e91f";
$icon-descuento: "\e94d";
$icon-transfer: "\e94e";
$icon-rent_a_car: "\e94f";
$icon-confianza: "\e950";
$icon-hotel: "\e943";
$icon-hotel2: "\e951";
$icon-info: "\e952";
$icon-satisfaccion: "\e953";
$icon-agenda: "\e954";
$icon-condiciones: "\e955";
$icon-fragil: "\e956";
$icon-atencion: "\e957";
$icon-dress: "\e958";
$icon-pasaporte: "\e959";
$icon-mascota2: "\e95a";
$icon-usuario: "\e95b";

