// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  TABS
// ****************************************

.tabs-underline_wrap {
    @include custom-scroll(lighten);
    padding-bottom: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-x: auto;
}
.tabs-underline {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $gray60;
    }
}
.tabs-underline_item {
    display: flex;
    width: calc(100% - 12px);
    max-width: 240px;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    border-bottom: 3px solid $gray60;
    padding: 6px 14px;
    background-color: #fff; // ## hide before arrow
    cursor: pointer;
    .label {
        @include ellipsis;
    }
    &.active {
        position: relative;
        color: $c-secondary;
        border-bottom-color: $c-secondary;
        cursor: default;
        &::before { // ## arrow down
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            bottom: -5px;
            left: 50%;
            background-color: $c-secondary;
            z-index: -100;
            transform: rotate(-45deg) skew(10deg, 10deg) translateX(-50%);
        }
    }
}


// [Responsive]
@media #{$until-mobile} {
    .tabs-underline_item {
        justify-content: flex-start;
        padding-right: 34px;
    }
}
