// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  COMBINED BAR (SEARCH RESULT + SUMMARY)
// ****************************************
//
// ****************************************
//## animation to smooth fixed combined bar effect on scroll
// @keyframes combinedbarSmoothScroll {
//     0% { transform: translateY(-40px); }
//     100% { transform: translateY(0); }
// }
.combined_summary_wrapper {
	z-index: $summary-fixed-zindex;
	position: relative;
	width: 100%;
	background-color: $c-primary;
	transition: max-height #{$summary-slideup-anima};
}

.combined_summary_bar {
	@include container-wrap;
	position: relative;
	margin-bottom: 60px;
	height: 100%;
	&.is-searchresult {
		margin-bottom: 0;
	}
	.titlebar {
		position: relative;
		color: #fff;
		.title {
			@include font-size($f-size-md);
			font-family: $f-title;
			font-weight: 400;
			line-height: 1.2;
		}
		.subtitle {
			@include font-size($f-size);
			margin-top: 4px;
			line-height: 1.2;
			font-weight: 300;
		}
	}
}

.combined_summary_bar-left {
	// z-index: $overlay-zindex - 1;
	display: none;
	align-items: center;
	height: 100%;
	.combined_summary_bar_button {
		@extend .btn-primary;
		min-width: auto;
		min-height: auto;
	}
}
.summary-opened {
	.combined_summary_bar-right {
		height: 100%;
	}
}

//## puts overlay below summary when it is open
.summary-opened.overlay-in {
	&::after {
		z-index: $summary-fixed-zindex - 1;
	}
}

@mixin combined-fixed($isFixed: false) {
	@if $isFixed {
		flight-summary-container {
			min-height: auto;
		}
		.combined_summary_wrapper {
			z-index: $summary-fixed-zindex + 2;
			position: fixed;
			top: $header-height;
			left: 0;
			margin-bottom: 0;
		}
		&.summary-opened {
			.combined_summary_bar-left {
				pointer-events: none;
				opacity: .4;
			}
		}
		.newsearch_collapse { 
			position: fixed;
			left: 0;
			top: $header-height + $combinedbar-height;
			transform: none !important;
		}
	} @else {
		flight-summary-container {
			display: block;
			min-height: calculateRem($combinedbar-height);
		}
		.combined_summary_wrapper {
			height: calculateRem($combinedbar-height);
		}
		.summary-opened {
			.combined_summary_wrapper {
				z-index: auto;
			}
		}
		.search-fixed {
			.combined_summary_wrapper {
				z-index: $summary-fixed-zindex + 2;
				position: fixed;
				top: 0;
				left: 0;
				margin-bottom: 0;
			}
			.combined_summary_bar {
				.summary_collapse_wrap {
					top: $combinedbar-height;
				}
				.summary_collapse_header {
					display: none;
				}
				.summary_body {
					height: calc(100vh - #{$combinedbar-height});
				}
			}
			&.summary-opened {
				.combined_summary_bar-left {
					opacity: .5;
					pointer-events: none;
					.searchresult,
					.right {
						z-index: 1;
						position: relative;
					}
					&::after {
						@include overlay-style;
						z-index: 2;
						position: absolute;
						left: 0;
						opacity: 1;
					}
				}
			}
			//## when fixed on top
			.newsearch_collapse {
				position: fixed;
				top: 0;
				left: 0;
				//transition: all 0.5s ease-in-out;
				&.collapsing,
				&.show {
					transform: translateY($combinedbar-height);
				}
				//animation: newsearchSmoothScroll #{$search-fixed-animation};
			}
		}	
	}
}

// [Responsive]
@media #{$summary-not-collapsed} { // >= 768px
	.ibe-page {
		&.fixed-header {
			@include combined-fixed(true);
		}
	}
	@include combined-fixed(false);
	.combined_summary_bar {
		display: flex;
		align-items: center;
	}
	.combined_summary_bar-left {
		z-index: 2;
		position: relative;
		display: flex;
	}
	.combined_summary_bar-right {
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: $summary-opened-width;
		overflow: initial;
	} 
	//## when fixed or opened
	.summary-opened {
		.combined_summary_bar-right {
			z-index: $summary-fixed-zindex;
		}
	}
}