// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING REFERENCE
// ****************************************
//
// ****************************************
.booking-reference_wrap {
    margin-top: 16px;
}
.booking-reference {
    display: inline-block;
    margin-bottom: 19px;
    padding: calculateRem(5px);
    background-color: $c-primary;
    color: $c-secondary;
    .label {
        display: inline-block;
        font-weight: 400;   
    }
    .code {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
    }    
}

@media #{$mobile} { // >=640px
    .booking-reference_wrap {
        margin-top: 0px;
    }
    .booking-reference {
        padding: calculateRem(6px) calculateRem(40px);
        .label {
            @include font-size($f-size-md);
        }
        .code {
            @include font-size($f-size-md-lg);
            display: block;
        }    
    }
}
