{% set bodyClass = "error-page" %}

{% set layout = 'checkin' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {% include "partials/sections/_error-page.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
