{% set bodyClass = "ibe-page" %}

{% set layout = 'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- SEARCH RESULT AND SUMMARY -->
    {% set summary = {
        nextButtonUrl: 'BF-payment_confirmation.html',
        amountDue: true 
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    {% set BFstep5 = true %}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    <div class="payment">
        <!-- CONTACT DETAILS -->
        {% set page_title = {
            text: 'Contact details',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <p class="intro">We need your contact details to send you your booking information and any changes in your flight itinerary.</p>

        {% include "partials/components/IBE/_common/_contact_data.njk" %}

        {# PAYMENT #}
        {% set page_title = {
            text: 'Payment',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}

        {% set payment = {
            hasPartials: false,
            simpleSummary: true,
            policiesText: 'Please confirm that you understand and accept our <a href="#">polices</a> to continue.'
        } %}

        {% include "partials/components/IBE/payment/_payment.njk" %}
    </div>

    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'AC_payment_hold_proceed.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}
    {% set modalAlertStyle = true %}
    {% set modal = {
        class: 'invalid-voucher_modal',
        id: 'invalidVoucher_modal'
    } %}
    {% set modalAlert = {
        title: 'Invalid Voucher',
        text: '<p>Zero amount is redeemable using this voucher for this booking.</p>
                <p>Please try another Voucher Reference or select an alternative payment option.</p>'
    } %}
    {% include "partials/components/IBE/modals/_modal_alert.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
