{% set bodyClass = "ibe-page" %}

{% set layout =  'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Agent Portal'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <!-- TITLE -->
    {% set page_title = {
        text: 'Account Management',
        type: 'h3',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <div class="ap_account_management">
        <div class="table-responsive_wrapper">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>Agent ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                        <th>Locked</th>
                        <th>Status Actived</th>
                        <th>Change Password</th>
                    </tr>
                </tr>
                </thead>
                <tbody>
                    {% for i in range(1, 3) %}
                    <tr>
                        <td data-th="Agent ID">084T</td>
                        <td data-th="First Name">20/01/18</td>
                        <td data-th="Last Name">UO 1686 - UO 1687</td>
                        <td data-th="Status">20/01/18</td>
                        <td data-th="Locked">HKD - NGO</td>
                        <td data-th="Status Actived">
                            {% set switch = {
                                checked: i % 2 == 0
                            } %}
                            {% include "partials/ui-elements/switch/_switch.njk" %}
                        </td>
                        <td data-th="Change Password">
                            <a href="" class="iconlink-password" title="change password"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

     <!-- MODAL -->
    {% set modalAlertStyle = true %}
    {% set modal = {
        class: 'change-password_modal',
        id: 'change-password_modal'
    } %}
    {% set modalAlert = {
        title: 'Change password',
        isToSave: true,
        text: '<p><strong>Agent ID</strong>: TA12C<br><strong>First Name</strong>: TA12C</p>',
        formFields: [
            {
                label: 'New Password',
                name: 'new_password'
            },
            {
                label: 'Confirm Password',
                name: 'confirm_password'
            }
        ]
    } %}
    {% include "partials/components/IBE/modals/_modal_alert.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
