{% set bodyClass = "ibe-page" %}

{% set layout =  'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Agent Portal',
        topTitleBarHasButton: true,
        buttonLabel: 'Make a booking',
        buttonUrl: '#'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="ap_home">
        <!-- TITLE -->
        {% set page_title = {
            text: 'My Bookings',
            type: 'h3',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <!-- FIND BOOKINGS -->
        {% set page_title = {
            text: 'Find booking',
            type: 'h4',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <!-- BOOKING SEARCH FILTERS -->
        {% include "partials/components/_search-filters_form.njk" %}

        <hr class="separator-section" />

        <!-- TABLE -->
        <div class="table-responsive_wrapper">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>Booking Ref.</th>
                        <th>Booking Date</th>
                        <th>Flight Number</th>
                        <th>Departure Date</th>
                        <th>City Pair</th>
                        <th>Number of Pax</th>
                        <th>Booking Status</th>
                        <th>Amount Due</th>
                        <th>Manage Booking</th>
                    </tr>
                </thead>
                {% for i in range(1, 5) %}
                <tbody>
                    <tr>
                        <td data-th="Booking Ref.">084T</td>
                        <td data-th="Booking Date">20/01/18</td>
                        <td data-th="Flight Number">UO 1686 - UO 1687</td>
                        <td data-th="Departure Date">20/01/18</td>
                        <td data-th="City Pair">HKD - NGO</td>
                        <td data-th="Number of Pax">1</td>
                        <td data-th="Booking Status">Confirmed</td>
                        <td data-th="Amount Due">HKD 0</td>

                        <td data-th="Manage Booking">
                                <a href="BF-MMB_home.html" class="iconlink-mmb" title="manage my booking"></a>
                                {% if i == 2 %}
                                    <a href="BF-payment.html" class="iconlink-payment" title="payment"></a>
                                {% else %}
                                    <a href="#" class="iconlink-refund" title="refund"></a>
                                {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
