{% set bodyClass = "ibe-page" %}

{% set layout = 'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Agent portal'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="mmb_section">
        <!-- BOOKING REFERENCE -->
        {% include "partials/components/IBE/_booking-reference.njk" %}

        <!-- ITINERARY -->
        {% set itinerary = {
            actionText: 'Resend Itinerary',
            actionIcon: 'email'
        } %}
        {% include "partials/components/IBE/_common/_itinerary.njk" %}

        <!-- SERVICE CARDS -->
        {% set servicecards = [
            {
                title: 'Add Extras',
                titleType: 'h3',
                cards: [
                {
                    url: 'BF-MMB_services_add.html',
                    icon: 'baggage-h',
                    legend: 'Baggage'
                },
                {
                    url: 'BF-MMB_services_add.html',
                    icon: 'sportequipment',
                    legend: 'Sports equipment'
                },
                {
                    url: 'BF-MMB_services_add.html',
                    icon: 'meal',
                    legend: 'Meals',
                    isDisabled: true
                },
                {
                    url: 'BF-MMB_services_add.html',
                    icon: 'insurance-plane',
                    legend: 'Insurance'
                },
                {
                    url: 'BF-MMB_services_add.html',
                    icon: 'passenger-first',
                    legend: 'U-first'
                },
                {
                    url: 'BF-MMB_seat_selection.html',
                    icon: 'seat-airplane',
                    legend: 'Seat Selection'
                }
                ]
            },
            {
                title: 'Changes and cancellations',
                titleType: 'h3',
                cards: [
                    {
                        url: 'BF-MMB_change_flight.html',
                        icon: 'change-airplane',
                        legend: 'Change Flight'
                    },
                    {
                        url: 'BF-MMB_cancel_flight.html',
                        icon: 'airplane-cancel',
                        legend: 'Cancel Flight'
                    },
                    {
                        url: 'BF-MMB_passenger_data.html',
                        icon: 'passenger',
                        legend: 'Guest details'
                    },
                    {
                        url: 'AC_payment_hold_proceed.html',
                        icon: 'plus-comment',
                        legend: 'Add Comments'
                    }
                ]
            },
            {
                title: 'Balance payments',
                titleType: 'h3',
                cards: [
                    {
                        url: 'AC-payment.html',
                        icon: 'pay',
                        legend: 'Payments'
                    },
                    {
                        url: 'AC_refunds.html',
                        icon: 'refunds',
                        legend: 'Refunds'
                    }
                ]
            }
        ] %}
        {% include "partials/components/_shared/cards/_service-cards__DEPRECATED.njk" %}

        <p>Please note that changes to your previously booked seats, baggage, or meals cannot be made via this portal.<br>All changes can be made via this portal up to 48 hours before your scheduled departure time (fees may apply). For U-Biz members your flights can be cancelled up to 7 days prior to the original scheduled departure time. Please note that changes such as flight times or dates can be made up to 3 hours prior to you scheduled departure time.</p>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
