{% set bodyClass = "ibe-page" %}

{% set layout = 'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Agent Portal'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {% set page_title = {
        text: 'Your Itinerary',
        type: 'h3',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    <div class="intro">
        <p>Your payment is on hold.</p>
    </div>

    <!-- BOOKING REFERENCE -->
    <div class="text-center">
        {% include "partials/components/IBE/_booking-reference.njk" %}
    </div>

    <!-- ITINERARY -->
    {% set itinerary = {
        hasFootnote : true,
        footnote: 'Hong Kong International airport check-in counter open 3 hours prior to and close 1 hour before scheduled time of departure. For check-in counter opening times at other airports, please refer to hkexpress.com. We recommend that you be at the airport at least 90 minutes before departure time. Guests should take extra time into consideration in case of congestion to/from the airport.',
        actionText: 'Print Itinerary',
        actionIcon: 'printer'
    } %}
    {% include "partials/components/IBE/_common/_itinerary.njk" %}

    <!-- BOOKING COMMENTS -->
    <div class="booking-comments">
        {% set page_title = {
            text: 'Booking Comments',
            type: 'h4',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% include "partials/components/_shared/_comments.njk" %}
    </div>

    <!-- PAYMENT DETAILS -->
    <div class="payment_details-wrap">
        {% set page_title = {
            text: 'Payment details',
            type: 'h4',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <div class="ap_payment-onhold">
            {% set paymentDetails = {
                hasHold: true
            } %}
            {% include "partials/components/IBE/payment/_payment-details.njk" %}
        </div>
        <div class="footnote">
            <p>The above fees & taxes for flights departing from Hong Kong are inclusive of a HKD120 departure tax.<br>NOTE: For a comprehensive guide on fares, please click here. For information regarding baggage allowance, please click here. Baggage fees may apply.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
