{% set bodyClass = "ibe-page" %}

{% set layout = 'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    {# <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Agent Portal'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %} #}

    {% set page_title = {
        text: 'Refund reservation',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    <div class="intro">
        <p>Your payment has been approved.<br>Please, note your booking is still pending. Your booking is considered confirmed once you receive a confirmation email.</p>
    </div>

    <!-- BOOKING REFERENCE -->
    <div class="text-center">
        {% include "partials/components/IBE/_booking-reference.njk" %}
    </div>

    <!-- ITINERARY -->
    {% set itinerary = {
        hasFootnote : true,
        footnote: 'Hong Kong International airport check-in counter open 3 hours prior to and close 1 hour before scheduled time of departure. For check-in counter opening times at other airports, please refer to hkexpress.com. We recommend that you be at the airport at least 90 minutes before departure time. Guests should take extra time into consideration in case of congestion to/from the airport.',
        actionText: 'Print Itinerary',
        actionIcon: 'printer'
    } %}
    {% include "partials/components/IBE/_common/_itinerary.njk" %}

    <!-- BUTTON -->
    {% set pageButtons = {
        isCentered: true,
        primaryButtonLabel: 'Confirm reservation refund',
        actionButtonUrl: 'AC_payment_hold_proceed.html'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
