{% set bodyClass = "ibe-page" %}

{% set layout = 'agency' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Manage my booking'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <!-- GUEST DETAILS -->
    {% set page_title = {
        text: 'Guest Details',
        type: 'h3',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <p class="intro">Please enter names as they appear on passport or travel documentation.</p>

    <!-- PASSENGERS DATA -->
    <div class="mmb_passenger_data">
        {% set formElements = {
            formGroups: [
                {
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'First and middle name (given)*',
                                        value: ""
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Last name (surname)*',
                                        value: "García"
                                    }
                                },
                                {
                                    type: 'selectForm',
                                    element: {
                                        label: 'Date of birth (dd/mm/yyyy)',
                                        id: 'drop-3',
                                        options: [
                                            {
                                                name: 'DD',
                                                id: 'dd'
                                            },
                                            {
                                                name: 'MM',
                                                id: 'mm'
                                            },
                                            {
                                                name: 'YYYY',
                                                id: 'yyyy'
                                            }
                                        ]
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Reward-u number',
                                        tooltip: "Tooltip text goes here"
                                    }
                                }
                            ]
                        }         
                    ]
                }
            ]
        } %}
        {% include "partials/components/IBE/_passenger_data.njk" %}
    </div>

    <!-- PAGE BUTTONS -->
    {% set summary = {
        isEmptySummary: true
    } %}
    {% set pageButtons = {
        actionButtonLabel: 'Add to booking',
        actionButtonUrl: 'BF-MMB_home.html',
        secondaryButtonLabel: 'Cancel',
        secondaryButtonUrl: ''
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
