{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page detail-page" %}
{% set BFstep2 = true %}
{% set pageButtons = {
    actionButtonLabel: 'Next',
    actionButtonUrl: 'BF-services_add.html'
} %}
{% set summary = {
    nextButtonUrl: 'BF-services_add.html'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# SEARCH RESULT AND SUMMARY #}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {# NEW SEARCH #}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# PAGE TITLE #}
    {% set page_title = {
        text: 'Guest details',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <p class="intro">Please enter names as they appear on passport or travel documentation.</p>

    {# PASSENGER DATA #}
    {% set formElements = {
        formGroups: [
            {
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'First and middle name (given)*',
                                    value: ""
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Last name (surname)*',
                                    value: "García"
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Date of birth (dd/mm/yyyy)',
                                    id: 'drop-3',
                                    options: [
                                        {
                                            name: 'DD',
                                            id: 'dd'
                                        },
                                        {
                                            name: 'MM',
                                            id: 'mm'
                                        },
                                        {
                                            name: 'YYYY',
                                            id: 'yyyy'
                                        }
                                    ]
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Reward-u number',
                                    tooltip: "Tooltip text goes here"
                                }
                            }
                        ]
                    }         
                ]
            }
        ]
    } %}
    {% include "partials/components/IBE/_passenger_data.njk" %}

    {# PAGE ACTIONS BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
