{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% set isOWTrip = true %}

{% block content %}
<div class="container-wrap">
    <div class="payment-confirmation">

        {% set paymentHasQR = false %}

        <!-- QR PAYMENT -->
        {% if paymentHasQR === true | default(false) %}
            {% set page_title = {
                text: 'Waiting for payment',
                type: 'h2',
                class: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% include "partials/components/IBE/payment/_payment-QR.njk" %}
        {% endif %}

        {% set page_title = {
            text: 'Your itinerary',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <div class="intro">
            <p>Your payment has been approved.<br>Please, note your booking is still pending. Your booking is considered confirmed once you receive a confirmation email.</p>
        </div>

        <!-- BOOKING REFERENCE -->
        <div class="text-center">
            {% include "partials/components/IBE/_booking-reference.njk" %}
        </div>

        <!-- ITINERARY -->
        {% set itinerary = {
            hasFootnote : true,
            footnote: 'Hong Kong International airport check-in counter open 3 hours prior to and close 1 hour before scheduled time of departure. For check-in counter opening times at other airports, please refer to hkexpress.com. We recommend that you be at the airport at least 90 minutes before departure time. Guests should take extra time into consideration in case of congestion to/from the airport.',
            actionText: 'Print Itinerary',
            actionIcon: 'printer'
        } %}
        {% include "partials/components/IBE/_common/_itinerary.njk" %}

        <!-- PAYMENT DONE! MMB BUTTON -->
        {% if paymentHasQR === false | default(false) %}
        <div class="button-centered">
            <button class="button btn-primary"
                onclick="location.href='BF-MMB_home.html'">
                Manage my Booking
            </button>
        </div>
        {% endif %}

        <!-- GUEST DETAIL -->
        {% set page_title = {
            text: 'Guest detail',
            type: 'h2',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <div class="table-guest-detail_grid">
            <div class="column">
                {% set tableGuestDetail = {
                    caption: 'Guest detail',
                    isOW: true,
                    passengers: [
                        passengers[0].gender + ' ' + passengers[0].firstName + ' ' + passengers[0].lastName
                    ]
                } %}
                {% include "partials/components/IBE/_table-guest-detail.njk" %}
            </div>
            <div class="column">
                {% set tableGuestDetail = {
                    caption: 'Guest detail',
                    isOW: true,
                    passengers: [
                        passengers[1].gender + ' ' + passengers[1].firstName + ' ' + passengers[1].lastName
                    ]
                } %}
                {% include "partials/components/IBE/_table-guest-detail.njk" %}
            </div>
        </div>
        
        <!-- PAYMENT DETAILS -->
        <div class="payment_details_wrap">
            {% set page_title = {
                text: 'Payment details',
                type: 'h2',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% include "partials/components/IBE/payment/_payment-details.njk" %}
            <div class="footnote">
                <p>The above fees & taxes for flights departing from Hong Kong are inclusive of a HKD120 departure tax.<br>NOTE: For a comprehensive guide on fares, please click here. For information regarding baggage allowance, please click here. Baggage fees may apply.</p>
            </div>
        </div>

        <!-- ATTRACTIONS, TRANSPORT & HOTELS -->
        {% set page_title = {
            text: 'Attractions, Transport & Hotels',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <!-- OFFERS DEALS -->
        <div class="grid">
            {% set offers = [
                {
                    image: 'offers/u_explore_wifi_en.jpg',
                    caption: 'Airport Transfer WI-FI'
                },
                {
                    image: 'offers/u-explore_attractions-en.png',
                    caption: 'Up to 50% Discount Activity tickets'
                }
            ] %}
            {% for offer in offers %}
                <div class="grid-col col-12 col-sm-6">
                    {% include "partials/components/_offers_item.njk" %}
                </div>
            {% endfor %}
        </div>

        <!-- CAR RENTAL -->
        <div class="offers_iframe">
            {% set page_title = {
                text: 'Car rental',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <iframe src="" frameborder="0"></iframe>
        </div>

        <!-- HOTEL -->
        <div class="offers_iframe">
            {% set page_title = {
                text: 'Hotel',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
