{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- SEARCH RESULT AND SUMMARY -->
    {% set summary = {
        nextButtonUrl: 'BF-payment_confirmation.html'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    {% set BFstep5 = true %}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    <div class="payment">
        {% set page_title = {
            text: 'Contact details',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <p class="intro">We need your contact details to send you your booking information and any changes in your flight itinerary.</p>

        {% set formElements = {  
            formGroups: [
                {                
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'First and middle name (given)*',
                                        id: 'firstName-1',
                                        value: 'John'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Last name (surname)*',
                                        value: 'Downjones'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Street address*',
                                        value: ''
                                    }
                                },
                                 {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Town or city*',
                                        value: ''
                                    }
                                },
                                {
                                    type: 'selectForm',
                                    element: {
                                        label: 'Country/Region*',
                                        id: 'drop-1',
                                        options: [
                                            {
                                                name: 'Select a country',
                                                id: 'select1'
                                            }
                                        ]    
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Zip/postal*',
                                        value: ''
                                    }
                                },
                                {
                                    type: 'mobileForm',
                                    label: 'Mobile phone',
                                    hasLabel: true,
                                    tooltip: "We can easily contact you should there be any changes to  your flight(s).",
                                    id: "mobilephone-1",
                                    element: {
                                        label: "Mobile phone*",
                                        hasLabel: false,
                                        placeholder: "Mobile phone",
                                        id: '',                              
                                        prefix: {
                                            label: '',
                                            id: 'mobileprefix-1',
                                            options: [
                                                {
                                                    name: 'Prefix',
                                                    id: ''
                                                }
                                            ]
                                        }
                                    }                               
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'E-mail*',
                                        type: 'email'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Confirm e-mail*',
                                        type: 'email'
                                    }
                                }
                            ]
                        }                     
                    ]
                }
            ]              
        } %}        
        {% include "partials/components/IBE/_common/_contact_data.njk" %}

        {# PAYMENT TITLE #}
        {% set page_title = {
            text: 'Payment',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}

        {# PAYMENT INTRO #}
        <p class="intro">Get a discount off your flight.</p>

        {# PAYMENT #}
        {% set payment = {
            hasPartials: true,
            simpleSummary: true,
            policiesText: 'Please confirm that you understand and accept our <a href="#">polices</a> to continue'
        } %}
        
        {# PAYMENT METHODS DATA #}
        {% set paymentMethod = {
            mainTitle: [{
                text: 'Payment method',
                type: 'h3'
            }]
        } %}

        {# PAYMENT #}
        {% include "partials/components/IBE/payment/_payment.njk" %}
    </div>

    {# PAGE ACTIONS BUTTONS #}
    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'BF-payment_confirmation.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
