{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- SEARCH RESULT AND SUMMARY -->
    {% set summary = {
        nextButtonUrl: 'BF-payment.html'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    {% set BFstep4 = true %}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {% set page_title = {
        text: 'Seat selection',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    {% include "partials/components/IBE/seats/_seat_selector.njk" %}

    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'BF-payment.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}

    {% set modal = {
        class: 'seatmap_legend_modal',
        id: 'modal-seatmapLegend'
    } %}
    {% include "partials/components/IBE/modals/_modal_seats_information.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
