{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{# ------- #}
{# PAGE VARIABLES #}
{% set BFstep1 = true %}
{% set hasAlerts = true %}
{# day selector type: week, month, bestprice #}
{% set daySelectorType = "week" %}
{# ------- #}

{% block content %}
<div class="container-wrap">
    <!-- SEARCH RESULT AND SUMMARY -->
    {% set summary = {
        nextButtonUrl: 'BF-passenger_data.html'
    } %}
    {% set isOWTrip = true %}
    {% set hasExtras = false %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    <!-- BOOKING STEPS -->
    {% include "partials/components/IBE/_booking-steps.njk" %}

    <!-- SELECT FLIGHT -->
    {% include "partials/components/IBE/flight-select/_select_flight.njk" %}

    <!-- U-CONNECT -->
    {% include "partials/components/IBE/_u-connect.njk" %}

    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'BF-passenger_data.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}

    <div class="footnote">
        *The amounts shown exclude fees and taxes which are added in the Booking Summary.
        <br />NOTE: For a comprehensive guide on fares, please click here. For information regarding baggage allowance, please click here. Baggage fees may apply. Your booking total may have changed based on selections made. Review your booking in the Booking Summary, otherwise click the Next button.
        <br />Please refer to our Conditions of Carriage for the terms and conditions of your ticket purchased.
    </div>

    {% set modal = {
        class: 'flights-connections_modal',
        id: 'modal-flightConnections'
    } %}
    {% include "partials/components/IBE/modals/_modal_connection.njk" %}
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
