{% set bodyClass = "ibe-page" %}

{% set layout = 'checkin' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- TOP BAR -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Check in online'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <!-- TITLE -->
    {% set page_title = {
        text: 'Confirmation',
        type: 'h3',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <div class="intro">
        <p>You have successfully checked in! Please remember to print a copy of your boarding pass.</p>
        <p>If you are departing from Hong Kong International Airport, you can proceed to your gate after you have dropped off any checked baggage. For flights departing from any airport other than HKIA, you must visit our check-in counters for document verification.</p>
    </div>

    <!-- CHECKIN SUMMARY -->
    {% set isOWTrip = true %}
    <div class="checkin_summary{% if isOWTrip %} oneway{%endif%}">
        <div class="column">
            <div class="checkin_summary_journey">
                {% include "partials/components/IBE/summary/_summary_journey.njk" %}
            </div>
            <fieldset>
                <legend class="hide-visually">Select passengers to check-in at departing flight</legend>
                {% for pax in passengers %}
                    {% set checkin_selection = {
                        checkboxLabel: pax.firstName + ' ' + pax.lastName,
                        seat: '4E',
                        checkboxName: 'checkin-pax-d-' + loop.index,
                        isReadOnly: true
                    } %}
                    {% include "partials/components/IBE/_checkin_selection.njk" %}
                {% endfor %}
            </fieldset>
        </div>
        {% if not isOWTrip %}
        <div class="column">
            <div class="checkin_summary_journey">
                {% set summary_journey = {
                    isReturning: true
                } %}
                {% include "partials/components/IBE/summary/_summary_journey.njk" %}
            </div>
            <fieldset>
                <legend class="hide-visually">Select passengers to check-in at return flight</legend>
                {% for pax in passengers %}
                    {% set checkin_selection = {
                        checkboxLabel: pax.firstName + ' ' + pax.lastName,
                        seat: '4F',
                        checkboxName: 'checkin-pax-d-' + loop.index,
                        isReadOnly: true
                    } %}
                    {% include "partials/components/IBE/_checkin_selection.njk" %}
                {% endfor %}
            </fieldset>
        </div>
        {% endif %}
    </div>

    <!-- PAYMENT -->
    {% set page_title = {
        text: 'Payment',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    {% set payment = {
        hasPartials: false,
        onlyCreditCard: true,
        titleTag: 'h3'
    } %}
    {% include "partials/components/IBE/payment/_payment.njk" %}

    <!-- PAGE BUTTONS -->
    {% set pageButtons = {
        primaryButtonLabel: 'Done',
        primaryButtonUrl: '#'
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
