{% set bodyClass = "ibe-page" %}

{% set layout = 'checkin' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Check in online'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {% set page_title = {
        text: 'Flights to check in',
        type: 'h3',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    <p class="intro">Changes to your booking are NOT possible once you have checked-in</p>

    <p class="title-h4 text-primary">Please select users to check in</p>
    <div class="checkin_home">
        {# CHECKIN SUMMARY #}
        <div class="checkin_summary{% if isOWTrip %} oneway{%endif%}">
            {# CHECK-IN DEPARTURE #}
            <div class="column">
                <div class="checkin_summary_journey">
                    {% include "partials/components/IBE/summary/_summary_journey.njk" %}
                </div>
                <fieldset>
                    <legend class="hide-visually">Departing flight - select passengers to check-in</legend>
                    {% for pax in passengers %}
                        {% set checkin_selection = {
                            checkboxLabel: pax.firstName + ' ' + pax.lastName,
                            ischeckedin: pax.checkedIn,
                            checkboxName: 'checkin-pax-d-' + loop.index,
                            seat: '4F',
                            hasInfoButton: pax.hasInfoButton | default(false)
                        } %}
                        {% include "partials/components/IBE/_checkin_selection.njk" %}
                    {% endfor %}
                </fieldset>
            </div>
            
            {# CHECK-IN RETURN #}
            {% if not isOWTrip %}
            <div class="column">
                <div class="checkin_summary_journey">
                    {% set summary_journey = {
                        isReturning: true
                    } %}
                    {% include "partials/components/IBE/summary/_summary_journey.njk" %}
                </div>
                <fieldset>
                    <legend class="hide-visually">Returning flight - select passengers to check-in</legend>
                    {% for pax in passengers %}
                        {% set checkin_selection = {
                            checkboxLabel: pax.firstName + ' ' + pax.lastName,
                            ischeckedin: pax.checkedIn,
                            checkboxName: 'checkin-pax-r-' + loop.index,
                            seat: ''
                        } %}
                        {% include "partials/components/IBE/_checkin_selection.njk" %}
                    {% endfor %}
                </fieldset>
            </div>
            {% endif %}
        </div>

        <!-- SECURITY -->
        <div class="checkin_security">
            {% set page_title = {
                text: 'Security',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}

            <p><strong>Dangerous goods</strong>, such as flammable liquids, corrosives substances, gas cylinders, are posing a risk to the safety of the aircraft and <strong>are not allowed on board</strong>, either as checked or hand baggage. Please refer to the list of dangerous goods for general information.</p>
            <p>Security controls on the carriage of liquids, aerosols and gels (LAGs) in hand baggage by departing passengers are now in force at HKIA. In line with the recommendations of the International Civil Aviation Organization (ICAO), the <strong>security restrictions for carriage of LAGs are</strong>:</p>
            <ul class="list-style1">
                <li>All LAG items carried in hand baggage must be stored in containers of capacity not exceeding 100ml each. Containers larger than 100ml will not be accepted, even if they are partially filled.</li>
                <li>Containers must be placed in a transparent re-sealable plastic bag with a capacity of one litre or less, which must close completely.</li>
                <li>The plastic bag must be presented separately from other hand baggage for inspection at the security point. Only one transparent plastic bag per passenger is permitted.</li>
                <li>Exemptions may be made for medications, baby milk / food and special dietary requirements, subject to verification.</li>
                <li>For those guests utilizing smart baggage (baggage with integrated batteries) must meet the requirements of the smart <a href="#">baggage policy</a>.</li>
            </ul>
            <p class="checkin_security_check-header">Please tick to accept these conditions before clicking 'next'</p>
            {% set checkboxForm = {
                label: 'I accept that the above conditions are true',
                name: 'acept',
                id: 'acept'
            } %}
            {% include "partials/ui-elements/_checkbox.njk" %}
        </div>
    </div>

    <!-- PAGE BUTTONS -->
    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'BF-WCI_pre-confirmation.html',
        isSecondaryButton: false
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
