{% set bodyClass = "ibe-page check-in-login-page" %}

{% set layout = 'checkin' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Check in online'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="intro">
        <p>
            Please provide the following information to check in for your upcoming flight.
            <br />Online Check-in is available between <strong>75 minutes and 48 hours prior to departure</strong>.
        </p>
    </div>

    {# CHECK-IN LOGIN #}
    {% set bookingRetrieve = {
        formTypeClass: "booking-retrieve",
        buttonText: 'Check-in',
        buttonUrl: 'BF-WCI_home.html',
        data: {
            formGroups: [
                {            
                    isContainer: false,
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Booking Reference / PNR'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Last Name (Surname)'                                       
                                    }
                                }
                            ]
                        }                     
                    ]
                }
            ]
        }
    } %}
    {% include "partials/components/IBE/_booking-retrieve.njk" %}

    {# CHECK-IN LOGIN INFORMATION #}
    <div class="checkin_login-info">
        <ul class="list-style1">
            <li>Web Check-in is only available for flights departing Hong Kong (except to Guam and Saipan), Japan, Thailand, Korea, Vietnam and Cambodia.</li>
            <li>Please note that the guests who are departing from Korea, Vietnam and Cambodia, are still required to visit our check-in counter at airport for travel document verification and to obtain a printed boarding pass.</li>
            <li>Web Check-in is not available for bookings with infants and Guests that require assistance.</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
