{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Main banner',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% set page_title = {
                text: '1. Home',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% set page_title = {
                text: '1.1. Default text align left',
                class: 'h2',
                type: 'h4'
            } %}
            {% include "partials/components/_page_title.njk" %}                  
        </div>
    </div>                            
</div>

<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                items: [
                    {
                        bg: 'banner_destination',
                        title: 'Summer Gateway',
                        subtitle: '23 destinations',
                        button: 'View offers',
                        textLight: true,
                        isActive: true
                    },
                    {
                        bg: 'banner_destination',
                        title: 'Summer Gateway',
                        subtitle: '23 destinations',
                        button: 'View offers',
                        textLight: true,
                        isActive: false
                    },
                    {
                        bg: 'banner_app',
                        title: 'Get online &<br />skip the line',
                        text: 'Learn more about our<br />Online Check-in service now',
                        button: 'See more',
                        alignRight: true,
                        isActive: false
                    }
                ]
            } %}
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>                 
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_main_banner.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.2. Text align right',
                class: 'h2',
                type: 'h5'
            } %}
            {% include "partials/components/_page_title.njk" %}                  
        </div>
    </div>                            
</div>

<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                items: [
                    {
                        bg: 'banner_destination',
                        title: 'Summer Gateway',
                        subtitle: '23 destinations',
                        button: 'View offers',
                        textLight: true,
                        isActive: false
                    },
                    {
                        bg: 'banner_destination',
                        title: 'Summer Gateway',
                        subtitle: '23 destinations',
                        button: 'View offers',
                        textLight: true,
                        isActive: false
                    },
                    {
                        bg: 'banner_app',
                        title: 'Get online &<br />skip the line',
                        text: 'Learn more about our<br />Online Check-in service now',
                        button: 'See more',
                        alignRight: true,
                        isActive: true
                    }
                ]
            } %} 
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>                 
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            <div class="code-panel">
                <pre>
                    <code class="html">
{% include "partials/_md/_md-codes/_md_main_banner.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.3. Carousel',
                class: 'h2',
                type: 'h6'
            } %}
            {% include "partials/components/_page_title.njk" %}                  
        </div>
    </div>                            
</div>
<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                items: [
                    {
                        bg: 'banner_destination',
                        isActive: true
                    },
                    {
                        bg: 'banner_app',
                        isActive: false
                    }
                ]
            } %}
            {% set isBannerInnerPage = true %}
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            <div class="code-panel">
                <pre>
                    <code class="html">
{% include "partials/_md/_md-codes/_md_main_banner.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
