{% set headings = {
    examples: [
        [
            {
                type: 'h1',
                class: 'title-h1',
                text: 'Flights to check in'
            },
            {
                type: 'h2',
                class: 'title-h2',
                text: 'Flights to check in'
            },
            {
                type: 'h3',
                class: 'title-h3',
                text: 'Flights to check in'
            },
            {
                type: 'h4',
                class: 'title-h4',
                text: 'Flights to check in'
            }
        ]

    ]
} %}
{% include "pages/COMP-headings.njk" %}