{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
    <div class="container-wrap">
        <div class="grid">
            <div class="col">
                {% set page_title = {
                    text: 'List',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>

        <div class="grid">
            <div class="col">
                {% set page_title = {
                    text: '1. Basic list',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>

        <div class="grid">
            <div class="col">
                {% set page_title = {
                    text: '1.1 Default list',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
        
        <div class="grid">
            <div class="col">
                {% set list = {
                    showDocumentationCodePanel: false,
                    items: [
                        {
                            text: 'HKG - Airport Express'
                        },
                        {
                            text: 'TYO - Heiwajima Natural Hot Spring'
                        },
                        {
                            text: 'Kintetsu - Kintetsu Travel & Rail P'
                        }
                    ]
                } %}
                {% include "partials/components/_list.njk" %}
            </div>
        </div>

        <div class="grid">
            <div class="col">
                {% set page_title = {
                    text: '1.2 Arrow list',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>

        <div class="grid">
            <div class="col">
                {% set list = {
                    showDocumentationCodePanel: true,
                    clases: [
                        'context-list_links'
                    ],
                    items: [
                        {
                            text: 'HKG - Airport Express'
                        },
                        {
                            text: 'TYO - Heiwajima Natural Hot Spring'
                        },
                        {
                            text: 'Kintetsu - Kintetsu Travel & Rail P'
                        }
                    ]
                } %}
                {% include "partials/components/_list.njk" %}
            </div>
        </div>

        <div class="grid">
            <div class="col">
                {% set page_title = {
                    text: '1.3 4 column list',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>

        <div class="grid">
            <div class="col">
                {% set list = {
                    showDocumentationCodePanel: true,
                    clases: [
                        'column-count-four'
                    ],
                    items: [
                        {
                            text: 'HKG - Airport Express'
                        },
                        {
                            text: 'TYO - Heiwajima Natural Hot Spring'
                        },
                        {
                            text: 'Kintetsu - Kintetsu Travel & Rail P'
                        },
                        {
                            text: 'HKG - Madame Tussauds'
                        },
                        {
                            text: 'TYO - Airport Limousine Bus / Hakone Free Pass'
                        },
                        {
                            text: 'KIX - Namba Discount Tic'
                        },
                        {
                            text: 'Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry P'
                        },
                        {
                            text: 'TYO - Keikyu Hanet'
                        },
                        {
                            text: 'Shikoku - JR Shikoku Rail P'
                        },
                        {
                            text: 'Korea  - Tickets Visit Korea Committee – Korea Tour C'
                        }
                    ]
                } %}
                {% include "partials/components/_list.njk" %}
            </div>
        </div>
    </div>

    
{% endblock %}

