{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                showCtrl: false,
                items: [
                    {
                        bg: 'landing/fight-out-from-1-hkd',
                        isActive: true,
                        title: 'Fly out for 1 HKD*',
                        titleType: 'h1',
                        subtitle: 'When booking a return ticket',
                        textLight: true
                    }
                ]
            } %}
          {% set isBannerInnerPage = true %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<!-- FLIGHT SEARCH -->
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="search-panel">
                <div class="multiple-panel_content">
                    <div class="multiple-panel_item show">
                        <button class="multiple-panel_collapse_trigger"
                            aria-expanded="true">
                            <span class="icon icon-airplane-flight"></span>
                            Book a trip
                        </button>
                        <div class="multiple-panel_item_content">
                            {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set periodBoxes = {
                items: [
                    {
                        title: 'Booking period',
                        date: '11 Jul - 15 Jul 2018'
                    },
                    {
                        title: 'Travel period',
                        date: '11 Jul 2018 - 10 Jun 2019'
                    }
                ]
            } %}
            <div class="period-box_container">
                {% for periodBox in periodBoxes.items %}
                    {% include "partials/corporative/_period-box.njk" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Share to -->
{# <div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">

        </div>
    </div>
</div> #}

<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <h2 class="context-h1">Just 4 steps away for your trip!</h2>
        </div>
    </div>
</div>

<!-- STEPS (CMS Grid and RTE simulation) -->
<div class="container-wrap">
    <div class="grid grid-spaceAround">
        <div class="grid-col col-12 col-xs-6 col-lg-3 col-md-4">
            <p>
                <img height="68" style="display: block; margin-left: auto; margin-right: auto; margin-bottom:30px" src="{{ project_assets_path }}imgs/cms-icons/calendar-month.svg" alt="step 1">
                {# <img style="display: block; margin-left: auto; margin-right: auto;" src="/media/1870/baggage.svg" alt="Have a Carry-on luggage?" height="80"> #}
            </p>
            <p class="data-info" style="text-align: center;"><span class="value"><strong>1. SELECT DATE</strong></span></p>
        </div>
        <div class="grid-col col-12 col-xs-6 col-lg-3 col-md-4">
            <p>
                <img height="68" style="display: block; margin-left: auto; margin-right: auto; margin-bottom:30px" src="{{ project_assets_path }}imgs/cms-icons/edit.svg" alt="step 2">
                {# <img style="display: block; margin-left: auto; margin-right: auto;" src="/media/1869/backpack.svg" alt="Have a backpack?" height="80"> #}
            </p>
            <p class="data-info" style="text-align: center;"><span class="value"><strong>2. GUEST DETAILS & EXTRAS</strong></span></p>
        </div>
        <div class="grid-col col-12 col-xs-6 col-lg-3 col-md-4">
            <p>
                <img height="68" style="display: block; margin-left: auto; margin-right: auto; margin-bottom:30px" src="{{ project_assets_path }}imgs/cms-icons/seat-airplane.svg" alt="step 3">
                {# <img style="display: block; margin-left: auto; margin-right: auto;" src="/media/1871/plan-baggage.svg" alt="Plan ahead for more savings!" height="80"> #}
            </p>
            <p class="data-info" style="text-align: center;"><span class="value"><strong>3. PICK A SEAT</strong></span></p>
        </div>
        <div class="grid-col col-12 col-xs-6 col-lg-3 col-md-4">
            <p>
                <img height="68" style="display: block; margin-left: auto; margin-right: auto; margin-bottom:30px" src="{{ project_assets_path }}imgs/cms-icons/pay.svg" alt="step 4">
                {# <img style="display: block; margin-left: auto; margin-right: auto;" src="/media/1871/plan-baggage.svg" alt="Plan ahead for more savings!" height="80"> #}
            </p>
            <p class="data-info" style="text-align: center;"><span class="value"><strong>4. PAYMENT &<br>CONFIRMATION<br><br><br></strong></span></p>
        </div>
    </div>
</div>
    
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <h2 class="context-h1">Other Promotions you may like</h2>
        </div>
    </div>

    
    {# DESTINATION OFFERS #}
    {% set destinationOffers = {
        items: [
            {
                destinationGuide: true,
                text: "Chiang Mai",
                url: 'CORP-destination_guides_city.html',
                footerPrice: 328,
                img: 'kumming'
            },
            {
                destinationGuide: true,
                text: "Taichung",
                url: 'CORP-destination_guides_city.html',
                footerPrice: 328,
                img: 'hiroshima'
            },
            {
                destinationGuide: true,
                text: "Phuket",
                url: 'CORP-destination_guides_city.html',
                footerPrice: 328,
                img: 'hiroshima'
            }
        ]
    } %}
    <div class="grid grid-equalHeight grid-center grid-noBottom">
        {% for destinationsOffer in destinationOffers.items %}
            <div class="grid-col col-12 col-sm-6 col-lg-4">
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
        {% endfor %}
    </div>

    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# FOOTNOTE #}
            <div class="context-footnote">
                <p>* Limited availability, terms and conditions apply</p>
                <p>
                    Fares are stated in Hong Kong Dollars, one-way only, and subject to fuel surcharges, government imposed taxes and other fees. This promotion is only applicable on round trip tickets for booking. Fares are valid for booking from 11 Jul 2018(9 A.M. – GMT+8) - 15 Jul 2018(11:59 P.M. – GMT+8) for travel between 20 Jul 2018 and 10 Jun 2019 for all flights. Fares are only valid for Tokyo, Osaka, Ishigaki, Kagoshima, Hiroshima, Takamatsu, Fukuoka, Seoul, Busan, Jeju, Taichung, Hualien, Da Nang, Nha Trang and Siem Reap flights. Conditions apply. Fares and seats are subject to availability. Seats are limited and may not be available on every flight. More than 50,000 seats are available for booking.
                </p>
                <h3>How to book your flights flying out of Hong Kong for $1 HKD*:</h3>
                <ol class="context-list">
                    <li>Search for the flights preferred within the travel period listed above (Reminder: You have to search for return trip tickets in order to find the discounted tickets.)</li>
                    <li>Select your preferred outward flight and look out for a flight with price HKD 1* to get the offer. </li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
