{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<!-- NEWS CONTENT -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'About us',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Media Centre'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <!-- COMPONENT: RICH TEXT -->
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1">
                Media centre
            </h2>            
            <p>
                Review our latest press releases and follow the latest news on HK Express. Are you a journalist with a media enquiry? If so, you may contact our PR & Communications Department at the following email address or phone number.
            </p> 
            <ul class="list-icon space">
                <li>
                    <span class="icon icon-email"></span>
                    Monday - Friday, 09:00 - 17-45
                </li>
                <li>
                <span class="icon icon-circle-clock"></span>
                    <a>pr@hkexpress.com</a> (Non-media enquiry is not applicable)
                </li>
            </ul>                            
        </div>
    </div>

    <!-- COMPONENT: news list -->
    <div class="grid">
        <div class="grid-col col-12">
            <div class="rss">
                <span class="icon icon-rss"></span><a href="">RSS</a>
            </div> 
            {% set new_data = [
                {
                    title: 'HK Express Wins “Best Global Recruitment Strategy” Gold Award at Asia Recruitment Awards 2018',
                    date: 'April 24, 2018',
                    url: '#',                    
                    content: 'HK Express Wins “Best Global Recruitment Strategy” Gold Award at Asia Recruitment Awards 2018
                                Tuesday, April 24, 2018
                                It’s golden hour for HK Express! The Hong Kong-based airline scooped up a Gold Award for “Best Global Recruitment Strategy” at the 2018 Asia Recruitment Awards in earlier this month at Hotel ICON. Organised by Human Resources magazine, the annual award ceremony is the only regional recruitment awards programme of its kind. It was established in 2015 to celebrate the best in-house talent acquisition teams and recruiters across various industries in Asia.'
                },
                {
                    title: 'HK Express Sponsors Hong Kong International Film Festival The Airline Celebrates Creativity with Movie Night and Livery Design Competition',
                    date: 'March 26, 2018',
                    url: '#',
                    isPdf: true,
                    content: 'Hong Kong-based airline HK Express is honoured to be one of the official sponsors of the 42nd Hong Kong International Film Festival, which runs from 19 March to 5 April 2018. To cultivate creativity and cross-cultural awareness amongst Hong Kong youth, the airline joined hands with Hong Kong International Film Festival (HKIFF) to co-host a movie screening night last night (22 March 2018). During the event, HK Express also announced an exci.'
                },
                {
                    title: 'Update on HK Express’ Hong Kong-Kagoshima Services',
                    date: 'March 6, 2018',
                    url: '#',
                    content: 'HK Express announces that due to the volcano eruption in Kirishimayama in Kagoshima, Japan, UO1850 and UO1851 between Hong Kong and Kagoshima on 7 March 2018 will be cancelled. An immediate notification to the affected guests is being made via email and SMS. Affected guests will be given three options: Change of Travel Date – Select new dates of travel to / from Kagoshima departing on or before 20 March 2018 (Booking is subject to ava…'
                }

            ] %}           
            <!-- Component news -->
            {% include "partials/corporative/_news.njk" %}            
        </div>
    </div>
    <!-- Component: pagination -->
    <div class="grid">
        <div class="grid-col col-12">
            <nav aria-label="Page navigation" class="navigation text-center">
                {# PAGINATION (LAST VERSION) #}
                {# <ul class="pagination">
                    <li class="page-item prev"><a class="page-link" href="#" data-slide="prev"><span class="icon icon-arrow-triangle-left"></span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item active"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item next"><a class="page-link" href="#" data-slide="next"><span class="icon icon-arrow-triangle-right"></span></a></li>
                </ul> #}
                {# PAGINATION #}
                {% include "partials/ui-elements/_pagination.njk" %}
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
