{% extends "layouts/_layout-corporative.njk" %}

{# ------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "home-page" %}
{% set hasAlerts = false %}
{# ------- #}

{% block content %}
<div class="container-fluid">
    {# MAIN FULL BANNER #}
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                showPagination: true,
                showPrevNext: false,
                items: [
                    {
                        bg: 'banner_destination',
                        title: 'Summer Gateway',
                        subtitle: '23 destinations',
                        buttonIntroCaption: true,
                        button: 'View offers',
                        textLight: true,
                        isActive: true
                    },
                    {
                        bg: 'banner_destination',
                        title: 'Summer Gateway',
                        subtitle: '23 destinations',
                        button: 'View offers',
                        buttonIntroCaption: true,
                        textLight: true,
                        isActive: false
                    },
                    {
                        bg: 'banner_app',
                        title: 'Get online &<br />skip the line',
                        text: 'Learn more about our<br />Online Check-in service now',
                        button: 'See more',
                        buttonIntroCaption: true,
                        alignRight: true,
                        isActive: false
                    }
                ]
            } %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    {# MULTIPLE PANEL #}
    <div class="grid">
        <div class="grid-col col-12">
            {% include "partials/corporative/_multiple-panel.njk" %}
        </div>
    </div>

    {# DESTINATIONS OFFERS #}
    <div class="grid">
        <div class="grid-col col-12">
            {% include "partials/corporative/destinations-offers/_destinations-offers.njk" %}
        </div>
    </div>

    {# DEALS / OFFERS #}
    <div class="grid">
        <div class="grid-col col-12">
            {% include "partials/corporative/_main-offers.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
