{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                items: [
                    {
                        bg: 'landing/fly-out-from-1-hkd',
                        isActive: true,
                        title: 'Fly out for 1 HKD*',
                        titleType: 'h1',
                        subtitle: 'When booking a return ticket',
                        textLight: true
                    }
                ]
            } %}
          {% set isBannerInnerPage = true %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<!-- FLIGHT SEARCH -->
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="search-panel">
                <div class="multiple-panel_content">
                    <div class="multiple-panel_item show">
                        <button class="multiple-panel_collapse_trigger"
                            aria-expanded="true">
                            <span class="icon icon-airplane-flight"></span>
                            Book a trip
                        </button>
                        <div class="multiple-panel_item_content">
                            {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PERIOD BOX -->
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {% set periodBoxes = {
                items: [
                    {
                        title: 'Booking period',
                        date: '11 Jul - 15 Jul 2018'
                    },
                    {
                        title: 'Travel period',
                        date: '11 Jul 2018 - 10 Jun 2019'
                    }
                ]
            } %}
            <div class="period-box_container">
                {% for periodBox in periodBoxes.items %}
                    {% include "partials/corporative/_period-box.njk" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- SHARE TO -->
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <div class="socialmedia_share">
                <span class="socialmedia_share-caption">
                    Share to
                </span>
                {% set socialmedias = [
                    {
                        name: 'facebook',
                        url: '#'
                    },
                    {
                        name: 'instagram',
                        url: '#'
                    },
                    {
                        name: 'weibo',
                        url: '#'
                    },
                    {
                        name: 'wechat',
                        url: '#'
                    }
                ] %}
                {% set isFlat = true %}
                {% include "partials/components/_shared/socialmedia/_socialmedia-list.njk" %}
            </div>
        </div>
    </div>
</div>

<!-- TERMS AND CONDITIONS -->
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <div class="context-footnote">
                <p>* Limited availability, terms and conditions apply</p>
                <p>
                    Fares are stated in Hong Kong Dollars, one-way only, and subject to fuel surcharges, government imposed taxes and other fees. This promotion is only applicable on round trip tickets for booking. Fares are valid for booking from 11 Jul 2018(9 A.M. – GMT+8) - 15 Jul 2018(11:59 P.M. – GMT+8) for travel between 20 Jul 2018 and 10 Jun 2019 for all flights. Fares are only valid for Tokyo, Osaka, Ishigaki, Kagoshima, Hiroshima, Takamatsu, Fukuoka, Seoul, Busan, Jeju, Taichung, Hualien, Da Nang, Nha Trang and Siem Reap flights. Conditions apply. Fares and seats are subject to availability. Seats are limited and may not be available on every flight. More than 50,000 seats are available for booking.
                </p>
                <h3>How to book your flights flying out of Hong Kong for $1 HKD*:</h3>
                <ol class="context-list">
                    <li>Search for the flights preferred within the travel period listed above (Reminder: You have to search for return trip tickets in order to find the discounted tickets.)</li>
                    <li>Select your preferred outward flight and look out for a flight with price HKD 1* to get the offer. </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12 text-center">
            {% set page_title = {
                text: 'Limited Offer - Book Now - Gone Soon',
                type: 'h2',
                class: 'h3 secondary'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>

<!-- DATETIMER -->
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">    
            {% include "partials/corporative/_datetimer.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
