{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<!-- NEWS CONTENT -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'HK Express Celebrates 10 Million Passengers Flown!',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Checked baggage'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <!-- COMPONENT: RICH TEXT -->
    <div class="grid">
        <div class="grid-col col-12">
            <div class="news_header">
                <h2 class="title">
                    HK Express Celebrates 10 Million Passengers Flown!
                </h2>
                <p class="subtitle">Ringing in the Year of the Dog, HK Express Distributes Red Packets Full of Vouchers</p>
            </div>
        </div>
        <div class="grid-col col-12 col-md-2">
            <p class="context-date">
                <span class="context-city">Hong Kong,</span> 6 February, 2018
            </p>
        </div>
        <div class="grid-col col-12 col-md-10">
            <p>
                In preparation for the Year of the Dog, Hong Kong-based airline HK Express combined a Chinese New Year celebration with another amazing milestone – welcome the 10 millionth passenger on board.
            </p>
            <p>
                Earlier today, on 6 February 2018, the airline flew its 10 millionth guest on flight UO3898, from Hong Kong to Osaka-Kansai! To commemorate the incredible achievement and to celebrate the forthcoming Chinese New Year, Commercial Director Jonathan Hutt wore a traditional God of Fortune costume, brought along with the floor-length red and gold robes and a golden ingot full of lai see (red packets) containing surprising discount code to guests. While honouring his career as a pilot, Operations Director, Simon Wu, donned a captain’s uniform and distributed travel plastic bags as souvenir to every guest on board.
            </p>
            <p>
                One of the red packets, however, contained an extra special surprise for Ms. Leung, HK Express’ 10 millionth guest. Hidden inside the lucky envelope, Ms. Lee found a voucher entitling her to one-year unlimited travel aboard HK Express to any destination in the route network!
            </p>
            <blockquote class="context-quote">
                In January, AirlineRatings.com ranked HK Express among the Top 10 Safest Low-Cost Carriers in the world for the third year running.
            </blockquote>

            <h3 class="news_content_title">News content text subtitle example</h3>
            <p>
                "I can't believe I am the 10 millionth passenger!” exclaimed Ms. Lee. “This is the best news ever! In the Year of the Dog, I will have a chance to travel all over Asia with these free tickets from HK Express. I am not sure where I will go first... maybe Da Nang or Phuket for some sunshine or Chiang Rai to devour Thai food!"
            </p>
            <p>
                To share the elation with all its valued guests, HK Express is rolling out a promotion in honour of its 10 Millionth Guest milestone. Travellers can scoop up one-way tickets starting from HKD98* across 23 routes. The sale runs from 6 February (18:00) to 9 February 2018 (17:59), with a travel period between 13 February and 7 April 2018.
            </p>
            <p>
                "Heading into the Year of the Dog, HK Express remains committed to safe, reliable and world-class customer service,” said Jonathan Hutt, HK Express Commercial Director. “In January, AirlineRatings.com ranked HK Express among the Top 10 Safest Low-Cost Carriers in the world for the third year running — an achievement that we will strive to maintain in the new year."
            </p>

            <!-- CONTENT TEXT FOOTNOTE -->
            <p class="context-footnote">
                * Prices do not include taxes, fuel surcharges and other government imposed taxes and fees. Terms and conditions apply.
            </p>

            <div class="context-images">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 1200px)" />
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 1025px)" />
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 640px)" />
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 481px)" />
                            <img class="context-image" src="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" alt="">
                        </picture>
                    </div>
                    <div class="column">
                        <picture>
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 1200px)" />
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 1025px)" />
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 640px)" />
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 481px)" />
                            <img class="context-image" src="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <p class="context-footnote">
                    Photo caption: Commercial Director Jonathan Hutt and Operations Director, Simon Wu appeared at the boarding gate to distribute souvenir to every guest on board.
                </p>
            </div>
            <div class="context-images">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 1200px)" />
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 1025px)" />
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 640px)" />
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 481px)" />
                            <img src="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <p class="context-footnote">
                    Photo caption: Miss Lee, HK Express’ 10 millionth guest, was surprised by the airline with a voucher entitling her to one-year unlimited travel aboard HK Express to any destination in the route network!
                </p>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <div class="news_footer">
                <p>
                    HK Express is an IATA Operational Safety Audit (IOSA) registered airline and therefore in compliance with IOSA standards. HK Express is committed to delivering operational safety to its Guests and crews.                                                                                                      
                </p>
                <p>For reservations or information, please visit <a href="#">www.hkexpress.com</a>, follow us on Facebook fan page: <a href="#">www.facebook.com/HKExpress</a>, SinaWeibo: <a href="#">www.weibo.com/hkexpress</a>; WeChat: HK Express; Twitter: HKExpress.jp or refer to our Instagram: @HK_Express.</p>
                <h3 class="context-h4">About HK Express</h3>         
                <p>Hong Kong-based airline HK Express has become a leader in the Hong Kong aviation industry by concentrating on best-in-class on-time performance and safety while revolutionizing air travel throughout the Asia market. The airline also received a “7-star safety rating” – the highest ranking possible, as well as recognition from airlineratings.com, an independent, industry-respected research group, for being one of the world’s 10 safest low cost carriers. HK Express flies to 26 of the most popular destinations in Asia and has flown over 10 million guests since converting to an LCC – a major achievement that attests to the popularity of the airline. HK Express is also one of the founder airlines of the world’s first LCC alliance, U-FLY Alliance <a href="#">(www.uflyalliance.com)</a>, and is a partner member of reward-U <a href="#">(www.reward-u.com)</a> as well as U-FLY Holidays <a href="#">(www.uflyholidays.com)</a>.</p>
            </div>             
        </div>
    </div>
    
    <div class="text-right">
        <a href="#" class="news-btn_back">Back to media center</a>
    </div>
  
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
