{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="col">
            <h2 class="title-h1">Sign Up to create account</h2>
            {% set login_form = {
                buttonText: 'Sign up',
                isSocial: true,
                forgotPassword: false,
                hasGetText: true,
                getTextInfoBottom: 'Already a member?',
                getTextLinkBottom: 'Sign in',
                getTextLink: 'CORP-sign_in.html'
            } %}
            {% set formElements = {
                formGroups: [
                    {
                        elements: [
                            {
                                elementsGroup: [
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'First name',
                                            type: "text"
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Last name',
                                            type: "text"
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'E-mail',
                                            type: "email",
                                            tooltip: "6 numbers and letters"
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Password',
                                            type: "password",
                                            icon: 'eye',
                                            iconButton: true,
                                            iconTitle: 'show password',
                                            iconRight: true
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            } %}
            {% include "partials/components/_shared/forms/_login-form.njk" %}
            {# {% set login_form = {
                type: 'sign_up',
                input1Label: 'E-mail',
                input2Label: 'Password',
                typeInput1: 'email',
                typeInput2: 'password',
                isAline: false,
                buttonText: 'Sign up',
                buttonUrl: 'index.html',
                isVertical: false,
                isSocial: true,
                hasTooltips: false,
                forgotPassword: false,
                hasGetText: true,
                getTextInfoBottom: 'Already a member?',
                getTextLinkBottom: 'Sign in',
                getTextLink: 'CORP-sign_in.html'
            } %}
            {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}

            {% include "partials/components/_shared/forms/_login-form.njk" %} #}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
