{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                items: [
                    {
                        bg: 'landing/fly-out-from-1-hkd',
                        isActive: true,
                        title: 'Fly out for 1 HKD*',
                        titleType: 'h1',
                        subtitle: 'When booking a return ticket',
                        textLight: true
                    }
                ]
            } %}
          {% set isBannerInnerPage = true %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<!-- FLIGHT SEARCH -->
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="search-panel">
                <div class="multiple-panel_content">
                    <div class="multiple-panel_item show">
                        <button class="multiple-panel_collapse_trigger"
                            aria-expanded="true">
                            <span class="icon icon-airplane-flight"></span>
                            Book a trip
                        </button>
                        <div class="multiple-panel_item_content">
                            {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PROMO TABLE - BASIC EXAMPLE -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Promo table - basic example</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)',
                        faresFrom: '358'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)',
                        faresFrom: '358'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)',
                        faresFrom: '358'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka',
                        faresFrom: '358'
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<!-- PROMO TABLE - SMALL FONT -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Small font modifier</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                hasSmallFont: true,
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)',
                        faresFrom: '358'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)',
                        faresFrom: '358'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)',
                        faresFrom: '358'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka',
                        faresFrom: '358'
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<!-- PROMO TABLE - WHITOUT FARES FROM -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Whitout fares from</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                showFaresFromColumn: false,
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)'
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka'
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<!-- PROMO TABLE - EXTRA COLUMN, WHITOUT FARES FROM -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Extra column, whitout fares from</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                extraColumns: [
                    'Extra column'
                ],
                showFaresFromColumn: false,
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)',
                        extraValues: [
                            'Extra column text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)',
                        extraValues: [
                            'Extra column text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)',
                        extraValues: [
                            'Extra column text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka',
                        extraValues: [
                            'Extra column text'
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<!-- PROMO TABLE - EXTRA COLUMN AND FARES FROM -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Extra column and fares from</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                extraColumns: [
                    'Extra column'
                ],
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)',
                        faresFrom: '358',
                        extraValues: [
                            'Extra column text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)',
                        faresFrom: '358',
                        extraValues: [
                            'Extra column text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)',
                        faresFrom: '358',
                        extraValues: [
                            'Extra column text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka',
                        faresFrom: '358',
                        extraValues: [
                            'Extra column text'
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<!-- PROMO TABLE - EXTRA 2 COLUMNS AND FARES FROM -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Extra 2 columns and fares from</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                extraColumns: [
                    'Extra column 1',
                    'Extra column 2'
                ],
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<!-- PROMO TABLE - EXTRA COLUMNS, FARES FROM AND SMALL FONT MODIFIER -->
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <h2 class="context-h2">Extra columns, fares from and small font modifier</h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">                                       
            {% set promoTable = {
                hasSmallFont: true,
                extraColumns: [
                    'Extra column 1',
                    'Extra column 2'
                ],
                promos: [
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Haneda)',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Narita)',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Tokyo (Kansai)',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    },
                    {
                        from: 'Hong Kong',
                        to: 'Fukuoka',
                        faresFrom: '358',
                        extraValues: [
                            'Column 1 text',
                            'Column 2 text'
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_promo-table.njk" %}
        </div>
    </div>                 
</div>

<div class="container-wrap">
    <div class="grid grid-middle">
        <div class="grid-col col-12">
            <!-- FOOTNOTE -->
            <div class="context-footnote">
                <p>* Limited availability, terms and conditions apply</p>
                <p>
                    Fares are stated in Hong Kong Dollars, one-way only, and subject to fuel surcharges, government imposed taxes and other fees. This promotion is only applicable on round trip tickets for booking. Fares are valid for booking from 11 Jul 2018(9 A.M. – GMT+8) - 15 Jul 2018(11:59 P.M. – GMT+8) for travel between 20 Jul 2018 and 10 Jun 2019 for all flights. Fares are only valid for Tokyo, Osaka, Ishigaki, Kagoshima, Hiroshima, Takamatsu, Fukuoka, Seoul, Busan, Jeju, Taichung, Hualien, Da Nang, Nha Trang and Siem Reap flights. Conditions apply. Fares and seats are subject to availability. Seats are limited and may not be available on every flight. More than 50,000 seats are available for booking.
                </p>
                <h3>How to book your flights flying out of Hong Kong for $1 HKD*:</h3>
                <ol class="context-list">
                    <li>Search for the flights preferred within the travel period listed above (Reminder: You have to search for return trip tickets in order to find the discounted tickets.)</li>
                    <li>Select your preferred outward flight and look out for a flight with price HKD 1* to get the offer. </li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
