{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Plan',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Destination Guides'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <!-- DESTIONATIONS GUIDE-->
    <div class="destination-guides">
        <div class="grid">
            <div class="grid-col col-12 col-lg-8">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    destinationGuideMain: true,
                    city: "Hong Kong",
                    img: 'kumming',
                    url: 'CORP-destination_guides_city.html',
                    equalsCol: false
                }%}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
            <div class="grid grid-column grid-col">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    destinationGuideMain: false,
                    city: "Osaka",
                    img: 'hiroshima',
                    url: 'CORP-destination_guides_city.html',
                    equalsCol: true
                }%}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}

                {% set destinationsOffer = {
                    destinationGuide: true,
                    city: "Tokyo",
                    img: 'hiroshima',
                    url: 'CORP-destination_guides_city.html',
                    equalsCol: true
                }%}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
        </div>
        {% set destinations = [
            {
                destinationGuide: true,
                city: "Chiang Mai",
                url: 'CORP-destination_guides_city.html',
                img: 'kumming'
            },
            {
                destinationGuide: true,
                city: "Taichung",
                url: 'CORP-destination_guides_city.html',
                img: 'hiroshima'
            },
            {
                destinationGuide: true,
                city: "Phuket",
                url: 'CORP-destination_guides_city.html',
                img: 'hiroshima'
            }
        ] %}
        <div class="grid grid-equalHeight">
            {% for destinationsOffer in destinations %}
                <div class="grid-col col-12 col-sm-6 col-md-6 col-lg-4">
                    {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
                </div>
            {% endfor %}
            {% for destinationsOffer in destinations %}
                <div class="grid-col col-12 col-sm-6 col-md-6 col-lg-4">
                    {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
                </div>
            {% endfor %}
        </div>
        {# <div class="grid grid-equalHeight">
            {% for destinationsOffer in destinations %}
                <div class="grid-col col-12 col-sm-6 col-md-4">
                    {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
                </div>
            {% endfor %}
        </div> #}
        <div class="grid">
            <div class="grid grid-column grid-col">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    city: "Osaka",
                    img: 'hiroshima',
                    url: 'CORP-destination_guides_city.html',
                    equalsCol: true
                }%}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}

                {% set destinationsOffer = {
                    destinationGuide: true,
                    city: "Tokyo",
                    img: 'hiroshima',
                    url: 'CORP-destination_guides_city.html',
                    equalsCol: true
                }%}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
            <div class="grid-col col-12 col-lg-8">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    destinationGuideMain: true,
                    city: "Hong Kong",
                    img: 'kumming',
                    url: 'CORP-destination_guides_city.html',
                    equalsCol: false
                }%}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
        </div>
    </div>    
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
