{% set bodyClass = "nsux_index" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<div class="container-wrap">
    <h1 class="nsux_list_section_title title-h1">IBE</h1>
    <div class="grid grid-separator">
    {% for sitemap in sitemapIBE %}
        <div class="grid-col col-12 col-xs-6 col-sm-2">
            <div class="nsux_list_item_title">
                {{sitemap.section}}
            </div>
            <ul class="nsux_list_links">
                {% for sitemap_page in sitemap.pages %}
                <li><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                    {{sitemap_page.label}}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

    <h1 class="nsux_list_section_title title-h1">Corporative</h1>
    <div class="grid grid-separator">
    {% for sitemap in sitemapCorp %}
        <div class="grid-col col-12 col-xs-6 col-sm-2">
            <div class="nsux_list_item_title">
                {{sitemap.section}}
            </div>
            <ul class="nsux_list_links">
                {% for sitemap_page in sitemap.pages %}
                <li><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                    {{sitemap_page.label}}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

    <h1 class="nsux_list_section_title title-h1">Material design and code</h1>
    <div class="grid grid-separator">
    {% for sitemap in sitemapMD %}
        <div class="grid-col col-12 col-xs-6 col-sm-2">
            <div class="nsux_list_item_title">
                {{sitemap.section}}
            </div>
            <ul class="nsux_list_links">
                {% for sitemap_page in sitemap.pages %}
                <li><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                    {{sitemap_page.label}}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
