{% set bodyClass = "ibe-page" %}

{% set isLogout = true %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEAD -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'U-fly-Pass'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <p class="intro">Priority access & exclusive benefits tailored for U!</p>

    <div class="container-wrap">
        <div class="grid">
            <!-- LOGIN FORM -->
            <div class="grid-col col-12 col-lg-4">
                <div class="ap_login-form">
                    <p class="title-h4 text-primary">Already registered? Please Log-in here.</p>
        
                    {% set login_form = {
                        input1Label: 'User ID',
                        input2Label: 'Password',
                        buttonText: 'Log-in/Set Password',
                        buttonUrl: '#',
                        isVertical: true,
                        hasTooltips: false,
                        forgotPassword: true,
                        hasGetText: true
                    } %}
                    {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}
                    {% include "partials/components/_shared/forms/_login-form.njk" %}
                </div>
            </div>
    
            <!-- INFO -->
            <div class="grid-col col-12 col-lg-8">
                {% include "partials/components/_label-icon.njk" %}
                {% set labelIcons = {
                    hasLightText: true,
                    items: [
                        {
                            icon: 'airplane-flight',
                            title: 'Fly More',
                            label: 'Book flights with Promo fare up to 6 hours before everyone else.'
                        },
                        {
                            icon: 'promotion_airplane',
                            title: 'Save More',
                            label: 'Get exclusive promotions on flights & add-on services like free seat upgrades.'
                        },
                        {
                            icon: 'users_three',
                            title: 'Share More',
                            label: 'Enjoy the benefits with everyone in your booking.'
                        }
                    ]
                } %}
                {% include "partials/components/_label-icon.njk" %}
    
                <ul class="list-style1 condensed">
                    <li>Book flights conveniently with market leading low-fares</li>
                    <li>Pre-book seats, including our Sweet Seats with extra leg room, in advance for your guests </li>
                    <li>Enjoy the flexibility of “Manage My Booking"</li>
                    <li>Purchase different types of baggage depending on guest needs</li>
                    <li>Easy payment with one of the many payment options provided</li>
                    <li>Manage your account</li>
                    <li>Subscribe our HK Express Newsletter and be the first to find out about our promotions</li>
                </ul>
    
                <p>You are only a few steps away from becoming one of our registered Agents! All you have to do is <a href="#">download and fill in this form</a> and send back to <a href="mailto:hke-sales@hkexpress.com">hke-sales@hkexpress.com</a> and our professional Sales Team will contact you within 5 working days.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
