{% set bodyClass = "ibe-page" %}

{% set isLogout = true %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Ufly-Pass'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {% set page_title = {
        text: 'Forgot your password?',
        class: 'h1',
        type: 'h3'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <p class="intro">Enter your User ID and your email address below and we'll get you back on track.</p>

    <!-- FORM -->
    <div class="wrapper-center">
        {% include "partials/components/_shared/forms/_forgot-password-form.njk" %}
    </div>

    <!-- MODAL -->
    {% set modalAlertStyle = true %}
    {% set modal = {
        class: 'forgot-password_modal',
        id: 'forgot-password_modal'
    } %}
    {% set modalAlert = {
        title: 'Change password',
        text: '<p>You’re almost there! An email with instructions on how to reset your password will be sent to the email address provided</p>'
    } %}

    {% include "partials/components/IBE/modals/_modal_alert.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
