{% extends "layouts/_layout.njk" %}
{% set bodyClass = "ibe-page" %}

{% set layout = 'u-fly' %}
{% set isLogout = true %}

{% block content %}
<div class="container-wrap">
    <div class="u-fly_confirmation">
        <!-- HEADER -->
        {% set topbar = {
            isTopTitleBar: true,
            title: 'Ufly-Pass'
        } %}
        {% set summary = {
            isEmptySummary: true
        } %}
        {% include "partials/components/_combined_summary_bar.njk" %}

        {% set page_title = {
            text: 'Confirmation',
            class: 'h1',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}

        {% set page_title = {
            text: 'You are now a Ufly-Pass holder',
            class: 'h2',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <p class="intro">You have successfully signed up for the HK Express Ufly-Pass. With this pass, you will get early access to our biggest promotional offers and low-fares!</p>

        <!-- LIST -->
        <div class="wrapper-center">
            {% set list = {
                clases: [
                    'list-line'
                ],
                items: [
                    {
                        left: 'User ID Number',
                        right: passengers[2].departure
                    },
                    {
                        left: 'Ufly-Pass-Holder',
                        right: passengers[2].firstName + ' ' + passengers[2].firstName
                    },
                    {
                        left: 'Email address',
                        right: passengers[2].email
                    },
                    {
                        left: 'Sign-Up reference',
                        right: passengers[2].signUpReference
                    }
                ]
            } %}
            {% include "partials/components/_list.njk" %}

            {% set pageButtons = {
                actionButtonLabel: 'Log-in',
                actionButtonUrl: 'AC_payment_hold_proceed.html'
            } %}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
