{% set bodyClass = "ibe-page" %}

{% set isLogout = true %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Ufly-Pass'
    } %}
     {% set summary = {
        isOnlyToShowPrice: true,
        totalCost: '388',
        mobileButtonText: 'Pay now'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {% set page_title = {
        text: 'Get your Ufly-Pass now!',
        class: 'h1',
        type: 'h3'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <p class="intro">Welcome to the HK Express Ufly-Pass subscription page! Here you will enter your details to become a Ufly-Pass Subscriber.<br>This exclusive pass is going to get you priority access to our biggest promos! No more waiting in the queue with everyone else, get instant access to our lowest fares before they run out... Imagine all the savings!</p>

    <div class="u-fly_sign-up">
        {% set page_title = {
            text: 'Sign-up',
            class: 'h2',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <!-- FORM -->
        {% include "partials/components/_shared/forms/_signup-form.njk" %}

        <div class="box_total-price">
            <p class="title">Total Price</p>
            <p class="price">{{SHARED.currency}} <strong>388</strong></p>

            {% set promoLabel = {
                text: 'Promo: HKD  500 off',
                isSpaced: true
            } %}
            {% include "partials/ui-elements/_promo_label.njk" %}
        </div>

        <!-- PAYMENT -->
        {% set page_title = {
            text: 'Payment',
            type: 'h4',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}

        {% set payment = {
            hasPartials: false,
            policiesText: 'I agree to the membership <a href="#">terms and conditions</a> and HK Express <a href="#">Privacy Policy</a>.',
            
            onlyCreditCard: true,
            titleTag: 'h3',
            hideSummary: true,
            hidePaymentMethodTitle: true
        } %}
        {% include "partials/components/IBE/payment/_payment.njk" %}

        <!-- PAGE BUTTONS -->
        {% set pageButtons = {
            actionButtonLabel: 'Pay',
            actionButtonUrl: '#',
            isMobileFixed: true,
            mobileFixedLabel: '833'
        } %}
        {% include "partials/components/_page_buttons.njk" %}
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
