{% set bodyClass = "ibe-page" %}

{% set isLogout = true %}
{% set layout = 'u-fly' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- HEADER -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Ufly-Pass',
        topTitleBarHasButton: true,
        buttonLabel: 'Make a booking',
        buttonUrl: '#'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {% set page_title = {
        text: 'My bookings',
        class: 'h1',
        type: 'h3'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <p class="intro">Welcome to the Ufly-Pass booking page! Here you can book flights for our biggest promos up to 6 hours in advance. Get your low-fares now, we cannot guarantee these fares will be available when this promo opens to non Ufly-Pass subscribers! Please note: the Ufly-Pass subscription holder MUST be in the traveling party. for more information please visit the <a href="#">terms and conditions</a>.</p>

    <div class="u-fly_my-bookings">
        {% set page_title = {
            text: 'Recent Activity',
            class: 'h2',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <!-- TABLE -->
        <div class="table-responsive_wrapper">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>Booking Ref.</th>
                        <th>Booking Date</th>
                        <th>Flight Number</th>
                        <th>Departure Date</th>
                        <th>City Pair</th>
                        <th>Number of Pax</th>
                        <th>Booking Status</th>
                        <th>Amount Due</th>
                        <th>Manage Booking</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(1, 5) %}
                        <tr>
                            <td data-th="Booking Ref.">084T</td>
                            <td data-th="Booking Date">20/01/18</td>
                            <td data-th="Flight Number">UO 1686 - UO 1687</td>
                            <td data-th="Departure Date">20/01/18</td>
                            <td data-th="City Pair">HKD - NGO</td>
                            <td data-th="Number of Pax">1</td>
                            <td data-th="Booking Status">Confirmed</td>
                            <td data-th="Amount Due">HKD 0</td>
                            <td data-th="Manage Booking">
                                <a href="BF-MMB_home.html" class="iconlink-mmb" title="manage my booking"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- FEATURED LINKS -->
        {% set featuredLinks = {
            items: [
                { text: 'Latest promotions' },
                { text: 'Help' },
                { text: 'Contact us' }
            ]
        } %}
        {% include "partials/components/_featured_links.njk" %}
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
