{% extends "layouts/_layout.njk" %}
{% set bodyClass = "ibe-page" %}

{% set layout = 'u-fly' %}
{% set isLogout = true %}

{% block content %}
<div class="container-wrap">
    <div class="u-fly_profile_update">
        <!-- HEADER -->
        {% set topbar = {
            isTopTitleBar: true,
            title: 'Ufly-Pass',
            topTitleBarHasButton: true,
            buttonLabel: 'Make a booking',
            buttonUrl: '#'
        } %}
        {% set summary = {
            isEmptySummary: true
        } %}
        {% include "partials/components/_combined_summary_bar.njk" %}

        {% set page_title = {
            text: 'Profile Update',
            class: 'h1',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% set page_title = {
            text: 'Mr. Richard Roe',
            class: 'h2',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}

        <!-- FORM -->
        <div class="wrapper-center">
            <div class="profile-update_form">
                <div class="ui-form_group full">
                    {% set dataInfo = {
                        label: 'Expiry date',
                        value: '21 Feb 2019'
                    } %}
                    {% include "partials/components/_data-info.njk" %}
                </div>
                <div class="ui-form_group">
                    {% set inputForm = {
                        value: '01/11/1969',
                        label: 'Date of Birth',
                        placeholder: '',
                        name: 'date_of_birth',
                        id: 'date_of_birth'
                    } %}
                    {% set inputIsReadonlyStyle = true %}
                    {% include "partials/ui-elements/_input_text.njk" %}
                    {% set inputIsReadonlyStyle = false %}
                </div>
                <div class="ui-form_group ui-form_group--mobile">
                    {% set selectHasTooltip = true %}
                    {% set mobilePhone = {
                        label: 'Mobile phone'
                    } %}
                    {% set inputPrefix = {
                        label: 'Prefix',
                        placeholder: 'Prefix',
                        id: 'mobilePrefix'
                    } %}
                    {% set inputMobile = {
                        label: 'mobile number',
                        placeholder: 'Mobile phone',
                        id: 'mobileNumber'
                    } %}
                    {% include "partials/ui-elements/_form_mobilephone.njk" %}
                    {% set selectHasTooltip = false %}
                </div>
                <div class="ui-form_group">
                    {% set inputForm = {
                        label: 'Email*',
                        placeholder: '',
                        name: 'email',
                        id: 'email'
                    } %}
                    {% include "partials/ui-elements/_input_text.njk" %}
                </div>
                <div class="ui-form_group">
                    {% set inputForm = {
                        label: 'Confirm email*',
                        placeholder: '',
                        name: 'confirmEmail',
                        id: 'confirmEmail'
                    } %}
                    {% include "partials/ui-elements/_input_text.njk" %}
                </div>

                <div class="ui-form_buttons align-right">
                    <button class="button btn-secondary">Cancel</button>
                    <button class="button btn-action">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
