// ********************
//  COMPONENTS
//
// ********************
//  WEB SEARCH
// ********************

// variables
// -------
$nav-item-tooltip-top-space: 4px;

// responsive
@media #{$header-nav-breakpoint-collapsed} { // <= 767px
	.call-center {
		.search-opened & {
			opacity: 0;
		}
		&.is-active {
			.call-center_trigger_button {
				color: $c-secondary;
			}
		}
	}
	.call-center_trigger_button {
		@include font-size($f-size-xxs);
		z-index: $header-sticky-zindex;
		position: fixed;
		right: 0;
		bottom: 0;
		flex-wrap: wrap;
		width: 21%;
		height: $nav-height-mobile;
		color: #fff;
		line-height: 1;
		padding: 0 calculateRem(10px);
		background-color: $c-primary; // is necessary from to show background when mobile modal is open
		text-transform: uppercase;
		&::before {
			@include font-size(16px);
			flex-basis: 100%;
			margin: 0 0 calculateRem(4px);
		}
		&::after { // after because call center icon is in before pseudo
			@include main-header-nav-primary-items-separator;
		}
	}
	.call-center_content {
		@include mobile-modal_main-container('.is-active', true);
		color: $c-text;
	}
	.call-center_content_head {
		@include mobile-modal_header;
	}
	.call-center_content_body {
		@include mobile-modal_main-body;
		@include font-size($f-size-md);
		padding: calculateRem(30px);
		text-align: center;
	}
	.call-center_content_head_close-button {
		@include mobile-modal-header_close-button;
		z-index: $mobile-modal-zindex;
	}
	.call-center_content_body_phone {
		display: block;
		margin: calculateRem(24px) 0 0;
		color: $c-primary;
	}
	.call-center_content_body_phone_number {
		display: block;
	}
}

.call-center_trigger_button {
	@extend %main-header-nav-secondary-item-link-trigger;
	@include iconfont($icon-phone);
	z-index: $mobile-modal-zindex + 1;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	&:hover {
		&::before {
			color: inherit;
		}
	}
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
	.call-center {
		position: relative;
		color: $c-text;
		&::before { // tooltip triangle
			content: '';
			@include triangle(up, 20px, 11px, $c-secondary);
			visibility: hidden;
			position: absolute;
			left: 50%;
			bottom: -$nav-item-tooltip-top-space;
			transform: translateX(-50%);
			opacity: 0;
			transition: $t-hover-element;
		}
		&:hover {
			.call-center_content_body {
				visibility: visible;
				opacity: 1;
			}
			&::before {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.call-center_trigger_button {
		@include font-size($f-size-sm);
		&::before {
			margin: 0 calculateRem(4px) 0 0;
		}
	}
	.call-center_content_head {
		display: none;
	}
	.call-center_content_body {
		visibility: hidden;
		position: absolute;
		left: auto;
		right: 0;
		top: calc(100% + #{$nav-item-tooltip-top-space});
		box-sizing: border-box;
		width: calculateRem(242px);
		padding: calculateRem(16px);
		color: $c-primary;
		text-align: center;
		background-color: $c-secondary;
		cursor: auto;
		opacity: 0;
		transition: $t-hover-element;
		&::before { // invisible div to continue :hover event between <li> and tooltip
			content: '';
			position: absolute;
			top: calculateRem(-$nav-item-tooltip-top-space);
			left: 0;
			width: 100%;
			height: calculateRem($nav-item-tooltip-top-space);
		}
	}
	// .call-center_label {}
	// .call-center_label_text {}
	.call-center_content_header {
		display: none;
	}
}
