// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE PANEL
// ********************
//
//    + multiple panel
//    + multiple panel nav tabs
//    + multiple panel tab content
//
// ********************

$multiple-panel-position-top: 104px;
$multiple-panel-sides-padding-desktop: 18px;
$multiple-panel-tabs-vertical-space: 12px;
$multiple-panel-collapse-trigger-padding: 11px;


// +  multiple panel nav tabs
// -------
.multiple-panel_nav {
	display: flex;
	box-sizing: border-box;
	padding: calculateRem(16px) calculateRem(14px);
}

// ++ multiple panel nav item
// -------
.multiple-panel_nav_item {
	display: none; // [TEMPORAL TO DEMO]
	flex: 1 1 100%;
	margin: 0 calculateRem(12px) 0 0;
	padding: calculateRem(10px) calculateRem(12px);
	color: $c-primary-dark;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	box-shadow: $bs-hover-box;
	&:first-child {
		display: block;
	}
	&:last-child {
		margin: 0;
	}
	&[aria-selected="true"] {
		color: #fff;
		background-color: $c-primary;
	}
}
.multiple-panel_content {
	position: relative;
	width: 100%;
	&:focus {
		outline: 0;
	}
}
.multiple-panel_item {
	display: none;
	margin: auto;
	max-width: $container-max-width-px;
	background-color: $c-primary;
	transition: all .2s ease;
	box-sizing: border-box;
	&.show {
		display: block;
	}
}

// .multiple-panel_collapse_trigger {}
.multiple-panel_item_content {
	padding: $multiple-panel-sides-padding-desktop calculateRem($gutter-sides);
}

//## modifiers
//## is-responsive / has-style-1
.multiple-panel {
	.main-banner + & {
		margin-top: calculateRem(-80px);
	}
	&.is-responsive {
		.multiple-panel_collapse_trigger {
			@include collapse-trigger(16px, $c-primary);
			position: static;
			width: 100%;
			margin: 0 0 $multiple-panel-tabs-vertical-space;
			padding: calculateRem($multiple-panel-collapse-trigger-padding);
			background-color: $c-primary;
			cursor: pointer;
			&::after { // collapse caret
				right: calculateRem($multiple-panel-collapse-trigger-padding);
				top: calculateRem(21px);
			}
		}
		.multiple-panel_nav {
			display: none;
		}
		.multiple-panel_item {
			display: block;
			padding: 0;
			background-color: transparent;
		}
		// [Responsive] multipanel is-responsive
		@media #{$until-tablet-portrait} { // < 768px
			.multiple-panel_collapse_trigger {
				&[aria-expanded="false"] {
					& + .multiple-panel_item_content { // set tabs vertical space in mobile
						height: 0;
						padding: 0;
						margin: 0;
						overflow: hidden;
					}
				}
			}
		}
	}
	&.has-style-1 {
		.multiple-panel_nav_item {
			display: block; // [TEMPORAL TO DEMO]
		}
		.multiple-panel_collapse_trigger {
			text-align: left;
			font-weight: 600;
			background-color: #fff;
			box-shadow: $bs-hover-box;
			&::before { // mobile container fluid simulator
				content: '';
				z-index: -1;
				position: absolute;
				left: -$gutter-sides;
				right: -$gutter-sides;
				top: 41px;
				height: 0;
				background-color: #fff;
				box-shadow: $bs-hover-box;
			}
			&[aria-expanded="true"] {
				&::before { // mobile container fluid simulator
					height: calc(100% - 41px);
				}
			}
		}
		.multiple-panel_content {
			background-color: transparent;
		}
		.multiple-panel_item {
			position: relative;
			background-color: transparent;
		}
		.multiple-panel_item_content {
			z-index: 1;
			position: relative;
			background-color: #fff;
			margin: -$multiple-panel-tabs-vertical-space 0 calculateRem($multiple-panel-tabs-vertical-space);
			padding: calculateRem(16px) 0;
		}
		// [Responsive] multipanel has-style-1
		@media #{$tablet-portrait} { // >= 768px
			padding: 0;
			.multiple-panel_nav {
				display: flex;
			}
			.multiple-panel_nav_item {
				position: relative;
				max-width: calculateRem(150px);
				color: $c-text;
				text-transform: none;
				white-space: normal;
				margin: 0 calculateRem(6px) calculateRem(4px) 0;
				transition: $transition-collapse;
				&[aria-selected="true"] {
					z-index: 1;
					margin-bottom: 0;
					color: $c-primary;
					background-color: #fff;
					border-bottom: calculateRem(4px) solid #fff;
					box-shadow: $bs-default;
					&::after { // box shadow reducer
						content: '';
						position: absolute;
						left: 0;
						bottom: -12px;
						width: 100%;
						height: 8px;
						background-color: #fff;
					}
				}
			}
			.multiple-panel_item {
				display: none;
				&.show {
					display: block;
				}
			}
			.multiple-panel_item_content {
				z-index: -1;
				margin: 0;
				padding: calculateRem(14px) calculateRem(20px);
				box-shadow: $bs-hover-box;
			}
			.multiple-panel_collapse_trigger {
				display: none;
			}
		}
	}
	// [Responsive] multipanel is-full-width
	@media #{$tablet-portrait} { // >= 768px
		&.is-full-width {
			.multiple-panel_content {
				&::before { // container fluid simulator
					content: '';
					z-index: -1;
					position: absolute;
					left: -$gutter-sides;
					right: -$gutter-sides;
					top: 0;
					height: 100%;
					background-color: #fff;
					box-shadow: $bs-hover-box;
				}
			}
			.multiple-panel_item {
				&.show {
					.multiple-panel_item_content {
						box-shadow: none;
					}
				}
			}
		}
	}
	@media #{$tablet-landscape} { // >= 1200px
		&.is-full-width {
			.multiple-panel_content {
				&::before { // container fluid simulator
					content: '';
					z-index: -1;
					position: absolute;
					left: -$gutter-sides-desktop;
					right: -$gutter-sides-desktop;
				}
			}
		}
	}
	@media #{$desktop} { // >= 1200px
		&.is-full-width {
			.multiple-panel_content {
				&::before { // container fluid simulator
					left: calc((100vw - #{$container-max-width-px - 17px}) / -2);
					width: 100vw;
				}
			}
		}
	}
}

// [Responsive]
@media #{$tablet-portrait} { // >= 768px
	.multiple-panel_nav {
		padding: 0;
	}
	.multiple-panel_nav_item {
		flex: 0 1 calculateRem(170px);
		margin: 0 calculateRem(4px) 0 0;
		padding: calculateRem(10px) calculateRem($multiple-panel-sides-padding-desktop);
		color: $c-primary;
		text-align: left;
		white-space: nowrap;
		box-shadow: none;
		cursor: pointer;
		&[aria-selected="true"] {
			color: $c-secondary;
		}
	}
	.multiple-panel_content {
		min-height: calculateRem(134px);
	}
	.multiple-panel {
		@include container-wrap;
		position: relative;
	}

	//## when is home page
	.home-page {
		.multiple-panel {
			margin-top: calculateRem(-$multiple-panel-position-top);
		}
		//## when search is fixed (only at home page)
		&.search-fixed {
			.multiple-panel {
				margin-top: 0;
			}
			.multiple-panel_nav {
				display: none;
			}
			.multiple-panel_content {
				z-index: $summary-fixed-zindex;
				position: fixed;
				top: $main-header-fixed-height-onscroll;
				left: 0;
				right: 0;
			}
			.multiple-panel_item {
				max-width: 100%;
			}
			.multiple-panel_item_content {
				@include container-wrap;
			}
		}
	}
}