// ********************
//  COMPONENTS
//
// ********************
//  WEB SEARCH
// ********************

// variables
// -------
.service-product_container{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.service-product {
	box-shadow: $bs-hover-box;
	display: grid;
	grid-template-columns: 1.4fr 1fr;
	flex-basis: 100%;
	position: relative;                                                                                               
	background-color: white;
	margin-bottom: calculateRem(24px);
	transition: .2s;
	cursor: pointer;
	&:hover{//border whit mouse hover
		content: '';
		 box-shadow:0 0 0 calculateRem(2px) $c-primary;
	}
	// modifiers
	&.is-selected{
		@include iconfont($icon-check-circle);
		box-shadow:0 0 0 calculateRem(2px) $c-primary;
		&::before{//add icons, ubication icon			
			position: absolute;
			right: calculateRem(-5px);				
			top:calculateRem(-13px);
			z-index: 1;
			font-size: calculateRem(28px);
			border-radius: 50%;
			background: $c-secondary;
			-webkit-text-fill-color:$c-primary;
		}
		.service-product_action_button{			
			background-color: $c-secondary;
		}
	}
	// modifiers
	&.is-flat{
		grid-template-columns: 1fr 2fr;
		.service-product_image_container{
			&::before{// background yellow none
				content: none;
			}
		}
		.service_produc_image{
			width: 80%;
			position: absolute;
			bottom: calculateRem(20px);
			left: calculateRem(20px);
		}

	}
}
.service-product_image_container{
	grid-row: 1 / span 3;
	grid-column: 1;
	overflow: hidden;
    position: relative;
	&::before{//add background 
		content: '';
		transform: skew(20deg);
		background: $c-secondary;
		height: 100%;
		width: 85%;
		position: absolute;
		top: 0;
		left: calculateRem(-47px);
	}
	
}

.service_produc_image{
	width: 35%;
    position: absolute;
    bottom: calculateRem(20px);
    left: calculateRem(30px);
}
.service-product_title{
	grid-row: 1;
	grid-column:2;
	line-height: calculateRem(28px);
	text-align: right;
	margin:calculateRem(16px) calculateRem(20px) 0 0;
}
.service-product_title_text{
	@include font-size($f-size-md-lg);
	color: $c-primary;
    font-weight: bolder;
}
.service-product_description{
	text-align: right;
	margin:calculateRem(45px) calculateRem(20px) calculateRem(20px) 0;
}
.service-product_price{
	grid-row: 2;
	grid-column: 2;
	font-size:$f-size-md;
	text-align: right;
	margin:calculateRem(15px) calculateRem(20px) calculateRem(38px) 0;
}
.service-product_action{
	grid-row: 3;
	grid-column: 2;
	text-align: right;
	margin: 0 calculateRem(20px) calculateRem(20px) 0;
}
.service-product_action_button{
	@include btn-secondary;
	min-width: calculateRem(100px);
	font-size: $f-size;
	padding: calculateRem(3px);
	text-transform: none;
}


// mobile first
@media #{$mobile} { // >= 640px
	.service-product{
		flex-basis:48%;
	}
	
}

@media #{$tablet-landscape} { // >= 768px
	.service-product{
		flex-basis: 28%;
		max-width: calculateRem(360px);
		margin: 0 $gutter-desktop calculateRem(50px) $gutter-desktop;
	
	}
	.service-product_container{
	margin: 0 (-$gutter-desktop) calculateRem(50px);
	}
}

