@import '../../variables';
@import '../../../fonts/icons/variables.scss';
@import '../../../../../core/src/assets/sass/util/mixins';
@import '../../../../../core/src/assets/sass/util/functions';

//## month (header)
$calendar-month-fontfamily: $f-body;
$calendar-month-color: $c-primary;
$calendar-month-fontweight: 700;
$calendar-month-uppercase: false;
$calendar-month-fontsize: 20px;
$calendar-month-margin: 0 0 calculateRem(12px);

//## navigation (arrows)
$calendar-prev-icon: $icon-arrow-single-left;
$calendar-next-icon: $icon-arrow-single-right;
$calendar-prevnext-color: $c-primary;
$calendar-prevnext-fontsize: 22px;
//## disabled
$calendar-prevnext-color-disabled: rgba(#56506f, .3);

//## days
$calendar-days-fontsize: 16px;
$calendar-days-color: $c-text;
$calendar-days-font-weight: 400;
$calendar-days-margin: calculateRem(4px) 0;
//## availabel days
$calendar-day-available-color: $c-primary;
$calendar-day-available-fontweight: 600;
$calendar-day-available-background: #fff;
//## hover
$calendar-day-available-color-hover: $c-text;
$calendar-day-available-background-hover: $c-color1;
//## disabled days
$calendar-days-color-disabled: $c-color3;
//## selected
$calendar-dar-selected-style: 'tag';
$calendar-day-selected-color: $c-text;
$calendar-day-selected-background: $c-color1;
$calendar-day-selected-background-width: 30px;
$calendar-day-selected-background-height: 33px;
//## range styles
$calendar-range-background: $c-color5;

//## current
$calendar-day-current-fontweight: normal;
$calendar-day-current-border-width: 1px;
$calendar-day-current-border-style: solid;
$calendar-day-current-border-color: $c-color1;
$calendar-day-current-background: transparent;
$calendar-day-current-background-width: 33px;
$calendar-day-current-background-height: 33px;

//## weeks
$calendar-week-bar-border-width: 0;
$calendar-week-bar-border-style: solid;
$calendar-week-bar-border-color: $c-secondary;
$calendar-week-bar-background: transparent;
$calendar-week-bar-border-radius: 0;
$calendar-week-padding: calculateRem(6px) 0;
$calendar-week-fontsize: 16px;
$calendar-week-uppercase: false;
$calendar-week-color: $c-text;
$calendar-week-fontweight: 700;
$calendar-week-margin: calculateRem(4px) 0;
