$service-resume-head-icon-width: 66px;
.service-resume {
    position: relative;
    padding: 10px;
    &.is-checked {
        @include checked-icon($posTop: -24px,$iconSize: 44px);
    }
}
.service-resume_head {
    position: relative;
}
.service-resume_head-icon {
    width: $service-resume-head-icon-width;
    height: $service-resume-head-icon-width;
    position: absolute;
    background: $c-primary;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    .icon {
        @include font-size($f-iconsize-md);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.service-resume_body,
.service-resume_footer {
    padding-left: #{$service-resume-head-icon-width + 10px};
}

.service-resume_body {
    padding-top: 12px;
    .description {
        @include font-size($f-size-md-xs);
        font-weight: 500;
        color: $gray50;
        text-align: center;
    }
}
.service-resume_footer_buttons {
    text-align: center;
}
.btn-resume-action {
    @include iconfont($icon-agenda, before);
    @include font-size($f-size-sm);
    @extend .button;
    border: 0;
    color: $c-secondary;
    &::before {
        @include font-size($f-size-xs);
        padding: 5px;
        background: $c-secondary;
        border-radius: 100%;
        color: #fff;
    }
}