{#
    DOCUMENTATION:
    bar: {
        VARIABLES:
        percentage: string // Angular [ngStyle] inline style simulation 
        description: { // description texts collection
            items: [
                {
                    text: string // bar individual description
                },
                {
                    text: string // bar individual description
                }
            ] 
        }
    }

    EXAMPLE:
    {% set bar = {
        percentage: '50%',
        description: {
            items: [
                {
                    text: '12'
                },
                {
                    text: 'Thu'
                }
            ]
        }
    } %}
    {% include "partials/components/_shared/charts/_bar.njk" %}
#}

<div class="bar_item{% if bar.isHighlight %} is-highlight{% endif %}{% if bar.isDisabled %} is-disabled{% endif %}">
    <low-fare-finder-item>
        <div class="bar_body">
            <div class="bar" style="height: {{ bar.percentage }}">
                {% if bar.message %}
                    <div class="bar_message">
                        <!-- IMPORTANT: Use Angular <ng-content></ng-content> OR Vue <slot/> tag to add any type of content -->
                        {{ bar.message | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if bar.description.content | length %}
        <div class="bar_description">
            <!-- IMPORTANT: Use Angular <ng-content></ng-content> OR Vue <slot/> tag to add any type of content -->
            {{ bar.description.content | safe }}
        </div>
        {% endif %}
    </low-fare-finder-item>
</div>