{#
    DOCUMENTATION:
    barchart: {
        VARIABLES:
        bars: Bar { 
            // bar percentage and description representation // partials/components/_shared/_bar.njk
            MODIFIERS:
            isHighlight: boolean // add 'is-highlight' class to change bar color representations
        }
        legends: legends
    }

    EXAMPLE:
    barchart: {
        bars: {
            legends: {
                items: [
                    {
                        content: '<span class="date"><span class="date_month">February</span> <span class="date_year">2019</span></span>'
                    },
                    {
                        content: '<span class="date"><span class="date_month">Marzo</span> <span class="date_year">2019</span></span>'
                    }
                ]
            },
            items: [
                {
                    percentage: '50%',
                    description: {
                        items: [
                            {
                                text: '12'
                            },
                            {
                                text: 'Thu'
                            }
                        ] 
                    }
                },
                {
                    percentage: '70%',
                    description: {
                        items: [
                            {
                                text: '13'
                            },
                            {
                                text: 'Fri'
                            }
                        ] 
                    }
                },
                {
                    percentage: '38%',
                    message: '<span class="price_currency"><span class="price">20<span class="decimals">.00</span><span class="currency">' + SHARED.currency + '</span></span>',
                    isHighlight: true,
                    description: {
                        items: [
                            {
                                text: '14'
                            },
                            {
                                text: 'Sat'
                            }
                        ] 
                    }
                }
            ]
        }
    }
    {% include "partials/components/_shared/charts/bars/_barchart.njk" %}
#}

<barchart>
    <div class="barchart">
        {% if barchart.legends | length %}
        <div class="barchart_legend">
            {% for legend in barchart.legends.items %}
                <div class="barchart_legend_item">
                    {{legend.content | safe}}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="barchart_bars">
            {% for bar in barchart.bars.items %}
                {% include "partials/components/_shared/charts/bars/_bar.njk" %}
            {% endfor %}
        </div>
        <div class="barchart_control">
            <button class="barchart_control_next"></button>
            <button class="barchart_control_prev"></button>
        </div>
    </div>
</barchart>