// ****************************************
//  UTILS
//
// ****************************************
//  MIXINS
// ****************************************
// imported mixins from globals/
//
// ****************************************

//## right arrow for buttons
@mixin arrow-sufix($font-size: 9px, $arrow-color: $arrow-sufix-color, $icon: $icon-arrow-single-right) {
	@include iconfont($icon);
	position: relative;
	padding-right: calculateEm($arrow-sufix-padding-rignt);
	&::before { // sufix arrow
		position: absolute;
		right: 0;
		top: calculateEm($arrow-sufix-top-space, $font-size);
		font-size: calculateEm($font-size);
		font-weight: 600;
		color: $arrow-color;
	}
}
//## set icon with background color (solving issue of 2 colors, 2 path icons)
@mixin icon-circle-background(
	$icon-size,
	$background-reduction: 2px // to calibrate background icon coverage
) {
	@include font-size($icon-size);
	display: inline-flex;
	justify-content: center;
	flex-direction: column; // IE11 Support
	align-items: center;
	box-sizing: border-box;
	width: ($icon-size - $background-reduction);
	height: ($icon-size - $background-reduction);
	margin: $background-reduction;
	color: $c-secondary;
	line-height: 0;
	background-color: $c-icon-background;
	border-radius: 50%;
}

// iconfont mixin upgrade to add background icon color
@mixin iconfont-with-background($icon-font, $icon-size, $background-reduction: 2px) {
	@include iconfont($icon-font);
	&::before {
		@include icon-circle-background($icon-size, $background-reduction)
	}
}

// -------------------------------------------------------
// + MOBILE MODAL
// -------------------------------------------------------

// ++ mobile modal header
@mixin mobile-modal_header (
	$open-class-state: false, // parent class to necesary to open the modal
 ) {
	z-index: 2;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	flex: 0 0 $mobile-modal-header_height;
	padding: 0 3rem 0 $gutter-sides;
	color: $c-secondary;
	text-align: left;
	line-height: 1.1;
	font-weight: 600;
	background-color: $c-primary;
	@if $open-class-state {
		#{$open-class-state} & {
			height: $mobile-modal-header_height;
		}
	}
}
// ++ mobile modal close button
@mixin mobile-modal-header_close-button {
	@include iconfont($icon-cross-circle);
	position: absolute; // to valign middle in retina screens
	top: 50%;
	right: $gutter-sides;
	transform: translateY(-50%);
	cursor: pointer;
	&:before { //## close icon
		@include font-size(28px);
		color: $c-secondary;
		line-height: 1;
	}
}
// ++ mobile modal main container
@mixin mobile-modal_main-container (
	$open-class-state, // parent class necesary to open the modal
	$has-open-state-in-parent-container: false, // open state class is in parent container or is in main (local) element ?
	$bottom-space: $mobile-modal-header_height, // custom bottom space to allow respect bottom navigation item
) {
	z-index: $mobile-modal-zindex;
	position: fixed;
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0 0 $bottom-space;
	background-color: #fff;
	overflow: hidden;
	transition: $mobile-modal_transition;
	@if ($has-open-state-in-parent-container == true) {
		#{$open-class-state} & {
			@include mobile-modal_main-container_open-state();
		}
	} @else {
		&#{$open-class-state} {
			@include mobile-modal_main-container_open-state();
		}
	}
}
// +++ mobile modal main contain open state
@mixin mobile-modal_main-container_open-state {    
	top: 0;
}
@mixin mobile-modal_main-body($scrollType: default) {
	@include custom-scroll($scrollType);
	overflow-y: auto;
}

// -------------------------------------------------------
// + CARD
// -------------------------------------------------------

@mixin card-hover {
	transition: $card-transition;
	&:hover {
		box-shadow: $bs-hover-box;
		transform: scale(1.032);
	}
}
