// ****************************************
//  UI ELEMENTS

// ****************************************
//  FORM ELEMENTS
// ****************************************
//
//    + Variables
//    + Containers
//        ++ States
//        ++ Form groups
//        ++ Input wrap
//    + Labels
//    + Fields types
//        ++ Input single and textarea
//        ++ Input multiple
//        ++ Input multiline
//    + Input messages
//    + Input with side button
//    + Select (dropdown)
//        ++ Custom selects
//            +++ Birth date selects
//    + Field with icon
//
//    + Checkbox and radio buttons
//    + Numeric up and down
//    + Validations and input states
//        ++ Input messages
//    + Required text
//    + Drop down list popover
//
//    + Buttons
//
//    + Forms containers
//
// ****************************************

// + Labels
// -------
.ui-label {
    @include font-size($label-fontsize);
    @include ellipsis;
    position: absolute;
    left: $input-lr-pad;
    top: 24px;
    display: block;
    max-width: calc(100% - #{$input-lr-pad});
    text-align: left;
    font-family: $label-family;
    color: $label-color;
    font-weight: 400;
    cursor: text;
    transition: $input-transition;
}
.ui-label_i {
    @include iconfont($icon-info-circle, before);
    color: $c-primary;
}


// + Form control
// -------
.ui-input-container,
.ui-select-container {
    height: 50px;
    padding-top: 20px;
    box-sizing: border-box;
}

// ++ States
.ui-select-container .ui-label,
.has-bind-prefix legend.ui-label {
    left: 0;
    top: 0;
    font-size: $f-size-xs;
}
.ui-input-container,
.ui-select-container,
.ui-dropdown {
    &.has-placeholder,
    &.is-focused,
    &.is-focused.has-icon,
    &.has-value,
    &.has-icon {
        .ui-label { // move label top (as focus)
            @include font-size($f-size-xs);
            left: 0;
            top: 0;
        }
    }
    &.is-focused,
    &.has-value,
    .has-value & {
        .ui-input {
            border-bottom: 1px solid $c-primary-dark;
        }
    }
    &.has-value,
    .has-value & {
        &.has-icon .icon {
            color: $c-primary-dark;
        }
        &:hover {
            .ui-label {
                color: $c-primary;
            }
            .ui-input {
                border-bottom-color: $c-primary;
            }
        }
        .ui-dropdown_value {
            color: $c-primary-dark;
        }
    }
    &.is-focused {
        .ui-label {
            color: $c-primary;
        }
        .ui-input {
            color: $c-primary;
            border-bottom-color: $c-primary;
            box-shadow: $input-border-bottom-focus-shadow;
        }
        &.has-icon .icon {
            color: $c-primary;
        }
        .ui-dropdown_value {
            color: $c-primary;
        }
    }
    &.is-readonly {
        // when input
        &:hover {
            input.ui-input {
                border-color: $input-border-colorcolor-readonly;
            }
        }
        input.ui-input {
            color: $input-color-readonly;
            border-color: $input-border-colorcolor-readonly;
        }
        // when select
        .ui-dropdown {
            button {
                pointer-events: none;
                border-color: $input-border-colorcolor-readonly;
                &::after { display: none; }
                .ui-dropdown_value { color: $input-color-readonly; }
            }
        }
    }
    &.has-error {
        .ui-input {
            border-bottom-color: $c-secondary;
            box-shadow: 0 1px 0 0 $c-secondary;
        }
        .ui-input_message {
            @include iconfont($icon-cross-circle);
        }
    }
    &.is-invalid {
        .ui-input_message {
            @include iconfont($icon-cross-circle);
        }
    }
    &.is-valid {
        .ui-input_message {
            @include iconfont($icon-check-circle);
        }
    }
    &.is-icon-clickable {
        .icon {
            color: $c-link;
            pointer-events: auto;
            cursor: pointer;
            &:hover {
                color: $c-link-hover;
            }
        }
    }
}

// ++ Input multiple
//## 2 or more inputs inside the same container
// -------
.ui-input-multiline {
    @extend .ui-input;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    input.ui-input {
        &.disabled,
        &[disabled] {
            border: none;
            &:hover {
                border: none;
            }
        }
    }
}

// ++ Input multiline
.ui-input-multiline {
    position: relative;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    &::before { //## icon inside input
        position: absolute;
        left: 8px;
        top: 0;
        @include font-size($f-iconsize-md);
        color: $c-primary;
        pointer-events: none;
    }
    .ui-input {
        @extend .ui-input.reset;
        position: relative;
        // top: 1px;
        height: calc(100% - 2px); //## -2px for IE
        line-height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    button.ui-input {
        z-index: 1;
        position: relative;
        top: 2px;
        line-height: 1.1;
        cursor: pointer;
    }
    input.ui-input {
        z-index: 2;
        border-radius: 0;
        .is-focused & {
            border: none;
            box-shadow: none;
        }
    }
    .value-large,
    .value-small {
        position: relative;
        @include ellipsis;
        display: block;
        
    }
    .value-large {
        @include font-size($f-size-md-sm);
        font-weight: 400;
    }
    .value-small {
        top: -2px;
        @include font-size($f-size);
        font-weight: 600;
    }
}

// + Checkbox and radio buttons
// -------


// + Numeric up and down
// -------
$numeric-updown-fontsize: 34px;
.ui-num-ud {
    display: flex;
    align-items: center;
}
.ui-num-ud_button,
.ui-num-ud_input {
    flex: 0 0 auto;
    vertical-align: middle;
    text-align: center;
}
.ui-num-ud_button {
    z-index: 2;
    position: relative;
    padding: 0;
    font-size: $numeric-updown-fontsize;
    color: $num-updown-button-color;
    line-height: 1;
    cursor: pointer;
    transition: all .1s linear;
    &::before {
        position: relative;
        top: 2px;
    }
    &.minus {
        @include iconfont($icon-minus-circle,before);
    }
    &.plus {
        @include iconfont($icon-plus-circle,before);
    }
    &:hover {
        color: $num-updown-button-color-hover;
    }
    &.disabled {
        cursor: default;
        color: $num-updown-button-color-disabled;
        &:hover {
            color: $num-updown-button-color-disabled;
        }
    }
}
.ui-num-ud_input {
    min-width: 50px;
    max-width: 80px;
    height: ($numeric-updown-fontsize - 2);
    text-align: center;
    margin: 0 -14px;
    padding: 0 14px;
    box-sizing: border-box;
    background: $num-updown-input-bg;
    input {
        height: ($numeric-updown-fontsize - 2);
        @include font-size($f-size-sm);
        color: $c-text;
        border: none;
        width: 100%;
        height: 100%;
        background: none;
        text-align: center;
        padding-bottom: 2px;
        &[readonly] {
            user-select: none;
        }
    }
}

// + Required text
// -------
.required-text {
    @include font-size($f-size-sm);
    display: inline-block;   
    float: right;
    color: $c-text;
    font-family: $font-sanserif;
}

// + Drop down list
// -------
.ui-dropdown_list {
    background-color: #fff;
}

// + Drop down list popover
// -------
$ui-dropdown-popover_shadow: 0 0 4px 0 rgba(0,0,0,0.3);
$ui-dropdown_list-triangle-size: 12px;
.ui-dropdown-popover {
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 212%;
    min-width: 320px;
    &[aria-hidden='true'] {
        display: none;
    }
    .iconlink-close { //## close button dropdown-popover when responsive
        display: none;
    }
}
// .ui-form_group {
//     &.has-prefix,
//     &.has-bind-prefix {
//         .ui-form_controls {
//             > * { // angular host div support
//                 &:first-child {
//                     flex-shrink: 0;
//                     flex: 1 0 26%;
//                 }
//             }
//         }
//     }
// }
@media #{$until-mobile} { // <=640px
    .ui-dropdown-popover {
        top: 90%;
        left: 0;
        max-width: unset;
        .iconlink-close { //## close button dropdown-popover when responsive
            display: block;
            position: absolute;
            top: -5px;
            right: 20px;
            padding-right: 0;
            color: $c-primary;
            @include font-size($f-size-md);
            z-index: 100;
            cursor: pointer;
        }
    }
}

// search inputs
.ui-input-multiline_group {
    position: relative;
    width: 50%;
    float: left;
    box-sizing: border-box;
    .ui-input-multiline_group_inner {
        height: 100%;
        &::after { //## division border
            z-index: 2;
            content: '';
            position: absolute;
            left: -1px;
            top: 9px;
            height: 30px;
            width: 1px;
            background: $c-primary;
        }
    }
    input.ui-input {
        &[readonly] {
            @include placeholder;
            color: $input-color;
            cursor: default;
            &:hover {
                border: none;
            }
        }
    }
}
