// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT CONFIRMATION QR
// ****************************************
//
// ****************************************

.payment_QR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 44px;
    .qr {
        height: 200px;
        width: 200px;
        margin: 24px 0;
        background-color: #000;
    }
    .label {
        color: $c-secondary;
        text-align: center;
        margin-bottom: 18px;
    }
    .button {
        min-width: 200px;
    }
}
