// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SEARCH RESULT
// ****************************************
//
// ****************************************

.searchresult {
    @include clearfix;
    display: flex;
    align-items: center;
    .titlebar {
        padding-right: 30px;
    }
    .title {
        text-transform: capitalize;
        .direction{
            text-transform: lowercase;
        }
    }
}
