// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICES CARD
// ****************************************
//
// ****************************************

.services-cards {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services-card {
	display: grid;
	grid-template-columns: calculateRem(180px) 1fr;
	flex-basis: 100%;
	position: relative;                                                                                               
	background-color: white;
	margin-bottom: calculateRem(24px);
	transition: .2s;
	cursor: pointer;
	&:hover{//border whit mouse hover
		content: '';
		 box-shadow:$bs-hover-box;
		 transform: scale(1.032); 
	}
	// modifiers
	&.is-selected{
		@include iconfont($icon-check-circle);
		box-shadow:0 0 0 calculateRem(2px) $c-primary;
		&::before{//add icons, ubication icon			
			position: absolute;
			right: calculateRem(-5px);				
			top:calculateRem(-13px);
			z-index: 1;
			font-size: calculateRem(28px);
			border-radius: 50%;
			background: $c-secondary;
			-webkit-text-fill-color:$c-primary;
		}
		.services-card_action_button{			
			background-color: $c-secondary;
		}
	}
}
.services-card_icon{
	grid-row: 1 / span 4;
	grid-column: 1;
	overflow: hidden;
    position: relative;
	&::before{//add background 
		content: '';
		transform: skew(20deg);
		background: $c-secondary;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: calculateRem(-42px);
	}
	.icon {
		position: absolute;
		bottom: calculateRem(22px);
		left: 15%;
		font-size: calculateRem(80px);
		-webkit-text-fill-color: $c-primary;
	}
	
}


.services-card_title{
	grid-row: 1;
	grid-column:2;
	line-height: calculateRem(26px);
	text-align: right;
	margin:calculateRem(16px) calculateRem(20px) 0 0;
}
.services-card_title_text{
	@include font-size($f-size-md-lg);
	color: $c-primary;
    font-weight: bolder;
}
.services-card_description{
	text-align: right;
	grid-row: 2;
	grid-column: 2;
	margin:calculateRem(15px) calculateRem(20px) 0 0;
}
.services-card_price{
	grid-row: 3;
	grid-column: 2;
	font-size:$f-size-md;
	text-align: right;
	margin:calculateRem(15px) calculateRem(20px) 0 0;
}
.services-card_action{
	grid-row: 4;
	grid-column: 2;
	text-align: right;
	margin: calculateRem(38px) calculateRem(20px) calculateRem(20px) 0;
}
.services-card_action_button{
	@include btn-secondary;
	min-width: calculateRem(100px);
	font-size: $f-size;
	padding: calculateRem(3px);
	text-transform: none;
}


// mobile first
@media #{$mobile} { // >= 640px
	.services-card{
		grid-template-columns: calculateRem(180px) 1fr;
		flex-basis:48%;
	}
	
}

@media #{$tablet-landscape} { // >= 768px
	.services-card{
		grid-template-columns: calculateRem(160px) 1fr;
		flex-basis: 30%;
		max-width: calculateRem(360px);
		margin: 0 1.5% calculateRem(50px) 1.5%;		
	}
	.services_section{
	margin: 0 (-$gutter-desktop) calculateRem(50px);
	}
	.icon{
		left: 12%;
		&::before{
			font-size: calculateRem(90px);
		}
		
	}
}