// ********************
//  COMPONENTS
//
// ********************
//  CORPORATIVE
// ********************
//
//    + Sections (umbraco components styles)
//    + CMS Headings
//    + Inverse headings
//
// ****************************************

// + Sections (umbraco components styles)
// -------
// ++ Context sections (articles, news, etc)
// ## those section data came from umbraco
// +++ headings

// variables

$context-footnote-fontsize: $f-size-sm;
$context-footnote-margin-bottom: 16px;

// + CMS Headings
// -------

.context-h1,
.context-h2,
.context-h3,
.context-h4 {
    margin-bottom: $headings-main-space;
    * + & {
        margin-top: $headings-main-space;
    }
}
.context-h2,
.context-h3,
.context-h4 {
    margin-bottom: $headings-main-space;
    + p,
    + ul,
    + ol {
        margin-top: calculateEm(-24px, $f-size); // 8px (32px - 24px)
    }
}
.context-h1 {
    @extend .title-h1;
    margin-bottom: calculateEm($headings-main-space, $f-size-h1);
}
.context-h2 {
    @extend .title-h2;
    + .context-h3 {
        margin-top: calculateEm(-30px, $f-size-h3); // 2px
    }
}
.context-h3 {
    @extend .title-h3;
    +.context-h4 {
        margin-top: calculateEm(-30px, $f-size-h4); // 2px
    }
}
.context-h4 {
    @extend .title-h4;    
}



// + Inverse headings
// -------
.context-h2-inverse {
    color: $c-primary;
}

// fix vertical align with margin-top issue
// .grid-middle {
//     .context-h2,
//     .context-h3 {
//         &:first-child {
//             margin-top: 0px;
//         }
//     }
// }

// +++ dates
// .context-date {
//     @include font-size($f-size-md);
//     display: inline-block;
//     margin-bottom: 10px;
//     color: $c-secondary;
//     @media #{$mobile} { // >= 640px
//         display: block;
//     }
// }

// + context author
// -------
// .context-author {
//     @include font-size($f-size-sm);
//     color: $c-primary;
//     .context-author_label-by {
//         display: block;
//     }
//     .context-author_label-name {
//         display: block;
//         margin-bottom: 10px;
//         font-weight: 400;
//     }    
//     .context-author_tag {
//         font-weight: 400;
//     }
// }

// + footnote
// -------



.context-footnote {
    @include font-size($context-footnote-fontsize);
    position: relative;
    padding: calculateRem(8px) 0 0 0;
    margin: calculateRem(24px) 0 calculateRem($context-footnote-margin-bottom);
     &:last-child { // to reset p:last-child no margin bottom
        margin-bottom: calculateRem($context-footnote-margin-bottom);
    }
    &::before {
        //## footnote upperline
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calculateRem(150px);
        height: 1px;
        background-color: $gray60;
    }
    // .context-list {
    //     li {
    //         margin: 0;
    //         padding-left: 14px;
    //         &:before {
    //             content: counter(number)'.';
    //             font-size: 1em;
    //         }
    //     }
    // }
}

// + blockquote
// -------
.context-quote {
    position: relative;
    padding-left: calculateRem(20px);
    .context-quote_author {
        display: block;
        position: relative;
        padding: 0 0 0 calculateRem(20px);
        &::before {
            content: '__';
            position: absolute;
            top: calculateRem(-5px);
            left: 0;
            
        }
    }
    &::before {
        @include font-size(36px);
        content: '“';
        position: absolute;
        left: 0;
        top: calculateRem(-4px);
        line-height: 1;
        color: $c-primary;
    }   
    @media #{$until-mobile} {
        width: 100%;
    }
}

// + tables
// -------
.context-table {
    @extend .table-responsive_wrapper;
    margin: 0 0 34px 0;  
    .table-responsive {
        th,
        td {
            white-space: normal;
        }
    }
    .hidden {
        display: none;
    }
    // [Responsive]
    @media #{$until-tablet-portrait} { // <= 768px
        tbody {
            td[data-th='']:before {
                display: none;
            }
        }
    }
}

.context-hr {
    border: .4px solid $c-secondary;
}

// + images
// -------
$context-image-maxheight: 350px;
.context-image {
    max-width: 100%;
}
.context-images {
    margin: 0px 0 24px 0;
    p {
        margin-top: calculateEm($headings-main-space);
    }
    .context-footnote {
        margin-top: calculateEm(8px, $context-footnote-fontsize);
        &::before {
            //## footnote
            display: none;
        }
    }
    & + p {
        margin-top: calculateEm($headings-main-space);
    }
    // modifiers
    &.default {
        margin: 0;
        .context-images_grid {
            margin: 0;
        }
        .column {
            height: auto;
            margin: 0;
            border-radius: 0;
            img {
                display: block;
                position: relative;
                transform: none;
                left: 0;
                top: 0;
                min-height: 0;
            }
        }
    }
}

.context-images_grid {
    $images-margin: .5em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 -#{$images-margin};
    .column {
        position: relative;
        flex-basis: 100%;
        height: $context-image-maxheight;
        margin: 0 $images-margin;
        border-radius: $border-radius;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            border-radius: $border-radius;
            transform: translate(-50%, -50%);
        }
    }
    @media #{$until-mobile} {
        flex-direction: column;
        .column {
            height: auto;
            margin-bottom: 14px;
            overflow: visible;
            img {
                position: relative;
                left: 0;
                top: 0;
                min-height: auto;
                object-fit: unset;
                transform: translate(0);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.context-table_title { //# content text table title
    margin-top: 30px;
    padding-left: 5px;
    border-bottom: 2px solid $c-secondary;
    @media #{$tablet-portrait} {
        margin-top: 45px;
        margin-bottom: 11px;
    }
    .title {
        padding-bottom: 3px;
        font-weight: 600;
    }
    &:first-child {
        margin-top: 0;
    }
}

// + back button
// -------
.context-btn_back {
    @extend .button;
    @extend .btn-primary;
}

// [Responsive]
// cite note for internals link
.mw-cite-backlink {
    display: inline-block;
}