// ********************
//  SECTIONS
//
// ********************
//  NEWS
// ********************
//
//  + news list  
//
// ********************


// + Variables
// -------
$news-list-gutter: 30px;
$news-list-gutter-half: $news-list-gutter / 2;

// news list
.news-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -#{$news-list-gutter-half};
}
.news-list_item {
    flex-basis: calc(100% / 3 - #{$news-list-gutter});
    position: relative;
    box-sizing: border-box;
    min-height: calculateRem(235px);
    margin: 0 #{$news-list-gutter-half} calculateRem(30px);
    padding: calculateRem(16px) calculateRem(18px) calculateRem(52px);
    background-color: #fff;
    .show-more_link {
        position: absolute;
        right: calculateRem(16px);
        bottom: calculateRem(18px);
        margin: 0 0 0 auto;
    }
}
.news-list_date-column {
    margin-bottom: calculateRem(24px);
    .date {
        color: $c-primary;
        font-weight: 600;
    }
}
.news-list_content {
    a {
        margin-bottom: 16px;
        text-decoration: none;
    }
    .title {
        @include font-size($f-size-lg);
        margin-top: 0;
        padding-bottom: calculateRem(12px);
        color: $c-text;
        line-height: 1.2;
        font-weight: 600;
        &:hover {
            color: $c-primary;
        }
    }
} 

.news_header {
    margin-bottom: 42px;
    .title {
        @extend .title-h2;
        @include font-size($f-size-xxlg);
        color: $c-primary;
        line-height: 1.1;
        margin-bottom: 0;
    }
    .subtitle {
        @extend .title-h3;
        color: $c-primary;
        font-weight: 400;
        margin: 4px 0 0 0;
    }
}

$news-list-gutter: 26px;
$news-list-gutter-half: $news-list-gutter / 2;
@media #{$until-tablet-landscape} { // <= 992px
    .news-list {
        margin: 0 #{$news-list-gutter / -2};
    }
    .news-list_item {
        flex-basis: calc(50% - #{$news-list-gutter});
        margin: 0 #{$news-list-gutter / 2} calculateRem(12px);
    }
}
@media #{$until-mobile} { // <= 640px
    .news-list_item {
        flex-basis: 100%;
    }
}


