// main: ../styles.scss

// ****************************************
//  
//  PDF ELEMENTS
//
// ****************************************
//  
//  HEADER
//  
// ****************************************
//  
//  + header
//  
// ****************************************


// + header
//-------------------
.header {
    display: table;
    width: 880px;
    height: 66px;
    padding: 0 0 8px 8px;
    margin: 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 10px solid $c-primary;
}
.header_brand, .header_code {
    display: table-cell;
    vertical-align: bottom;
}
.header_brand {
    width: 200px;
    padding-bottom: 5px;
    a {
        display: block;
    }
    img {
        width: 100%;
    }
}
.header_code {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    vertical-align: middle;
}