// ----------------------------------------------------
// Loader
// Loader dots spinner
// ----------------------------------------------------
$load-spinner-size: 30px;
$load-spinner-color: $c-secondary;
	
// HTML
//  <div class="load loader--spinner">
//      <div class="bounce1"></div>
//      <div class="bounce2"></div>
//      <div class="bounce3"></div>
//  </div>
.loader--dotspinner {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    & > div {
        width: $load-spinner-size;
        height: $load-spinner-size;
        background-color: $load-spinner-color;
        border-radius: 100%;
        display: inline-block;
        animation: anima-loader_spinner 1.4s infinite ease-in-out both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
        background-color: #fff;
    }
}
.loader-inner {
    .loader--dotspinner {
        .bounce2 {
            background-color: $c-primary;
        }
    }
}
@-webkit-keyframes anima-loader_spinner {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes anima-loader_spinner {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

