{#
    BOOKING STEPS USES JSON VARIABLES BY DEFAULT
    OR LOCAL VARIABLES IF NEEDS

    EXAMPLE:
    {% set BFstep1 = true %}
    {% set bookingSteps = [
        {
            stepNumber: "1",
            stepLabel: "Vuelo",
            stepUrl: ""
        },{
            stepNumber: "1",
            stepLabel: "Vuelo",
            stepUrl: ""
        }
    ] %}
    {% include "partials/components/IBE/_booking-steps.njk" %}
#}

<div class="booking-steps_wrap">
    <ul class="booking-steps">
        {# STEP 1 #}
        {% if bookingSteps[0] | length %}
        <li{% if BFstep1 %} class="active"{% endif %}
            {% if (BFstep2) or (BFstep3) or (BFstep4) or (BFstep5) %}class="done"{% endif %}>
            <span class="number"></span>
            {% if BFstep1 %}<span class="hide-visually">current step:</span>{% endif %}
            {% if (BFstep2) or (BFstep3) or (BFstep4) or (BFstep5) %}<span class="hide-visually">previous step:</span>{% endif %}
            <span class="label">
                {{ bookingSteps[0].stepLabel | safe }}
            </span>
        </li>
        {% endif %}

        {# STEP 2 #}
        {% if bookingSteps[1] | length %}
        <li{% if BFstep2 %} class="active"{% endif %}
            {% if (BFstep3) or (BFstep4) or (BFstep5) %}class="done"{% endif %}>
            <span class="number"></span>
            {% if BFstep2 %}<span class="hide-visually">current step:</span>{% endif %}
            {% if BFstep1 %}<span class="hide-visually">next step:</span>{% endif %}
            {% if (BFstep3) or (BFstep4) or (BFstep5) %}<span class="hide-visually">previous step:</span>{% endif %}
            <span class="label">
                {{ bookingSteps[1].stepLabel | safe }}
            </span>
        </li>
        {% endif %}

        {# STEP 3 #}
        {% if bookingSteps[2] | length %}
        <li{% if BFstep3 %} class="active"{% endif %}
            {% if (BFstep4) or (BFstep5) %}class="done"{% endif %}>
            <span class="number"></span>
            {% if BFstep3 %}<span class="hide-visually">current step:</span>{% endif %}
            {% if (BFstep1) or (BFstep2) %}<span class="hide-visually">next step:</span>{% endif %}
            {% if (BFstep4) or (BFstep5) %}<span class="hide-visually">previous step:</span>{% endif %}
            <span class="label">
                {{ bookingSteps[2].stepLabel | safe }}
            </span>
        </li>
        {% endif %}

        {# STEP 4 #}
        {% if bookingSteps[3] | length %}
        <li{% if BFstep4 %} class="active"{% endif %}
            {% if (BFstep5) %}class="done"{% endif %}>
            <span class="number"></span>
            {% if BFstep4 %}<span class="hide-visually">current step:</span>{% endif %}
            {% if (BFstep1) or (BFstep2) or (BFstep3) %}<span class="hide-visually">next step:</span>{% endif %}
            {% if BFstep5 %}<span class="hide-visually">previous step:</span>{% endif %}
            <span class="label">
                {{ bookingSteps[3].stepLabel | safe }}
            </span>
        </li>
        {% endif %}

        {# STEP 5 #}
        {% if bookingSteps[4] | length %}
        <li{% if BFstep5 %} class="active"{% endif %}>
            <span class="number"></span>
            {% if BFstep5 %}<span class="hide-visually">current step:</span>{% endif %}
            {% if (BFstep1) or (BFstep2) or (BFstep3) or (BFstep4) %}<span class="hide-visually">next step:</span>{% endif %}
            <span class="label">
                {{ bookingSteps[4].stepLabel | safe }}
            </span>
        </li>
        {% endif %}
    </ul>
</div>
