<div class="booking-reference">
    <div class="label">{{  bookingReference.label | default('Booking Reference / PNR') }}</div>
    <div class="code">{{  bookingReference.code | default('X5Y4VS') }}</div>
</div>
