{#
    EXAMPLE:
    checkin_selection = {
        VARIABLES:
        checkboxLabel: 'string' // checkbox label
        checkboxName: 'string' // checkbox name
        MODIFIERS
        ischeckedin: bolean // change checkbox state to checkedin, remove checkbox and draws print icon
        hasInfoButton: boolean // add info button with tooltip
        status: { // status WCI: Allowed, Disabled
            class: string // disabled, open, closed and default allowed
            text: string // status
        }
    }
#}
<div class="checkin_selection{% if checkin_selection.ischeckedin %} checkedin{% endif %}{% if checkin_selection.isReadOnly %} readonly {% endif %}">
    {% if (checkin_selection.ischeckedin) or (checkin_selection.isReadOnly) %}
    <p class="checkin_paxname">
        {{ checkin_selection.checkboxLabel }}
    </p>
    {% else %}
        <div class="checkin_check">
            {% set checkboxForm = {
                label: checkin_selection.checkboxLabel,
                name: checkin_selection.checkboxName,
                id: checkin_selection.checkboxName
            } %}
            {% include "partials/ui-elements/_checkbox.njk" %}
        </div>
    {% endif %}
    {% if checkin_selection.status.show | default(true) %}
        <div class="checkin_status{% if checkin_selection.hasInfoButton %} with-info{% endif %}{% if (checkin_selection.status) and (not checkin_selection.ischeckedin) %} {{checkin_selection.status.class}}{% endif %}">
            <div class="label{% if checkin_selection.seat %} checkedin-seat{% endif %}">
                {# IF CHECK-IN IS DONE OR READONLY #}
                {% if (checkin_selection.ischeckedin) or (checkin_selection.isReadOnly) %}
                    <span class="seat-label">Seat:</span>
                    <span class="seat-number">{{ checkin_selection.seat }}</span> 
                {% endif %}
                {# IF CHECK-IN IS DONE #}
                {% if checkin_selection.ischeckedin %}
                    <a href="#"
                        class="iconlink-print" 
                        title="Print your boarding pass - PDF 297kb - new window"
                        target="_blank">
                        <span class="link-text">{{ checkin_selection.printText | default('Print Boarding Pass') }}</span>
                    </a>
                {% else %}
                {# IF CHECK-IN IS PENDING #}
                    <span class="seat-label">check-in status:</span>
                    <span class="seat-status">{{  checkin_selection.status.text }}</span>
                {% endif %}

                {% if checkin_selection.hasInfoButton %}
                <button class="ui-tooltip_info" 
                    tabindex="-1" 
                    aria-expanded="false" 
                    data-toggle="tooltip" 
                    data-original-title="Reward-U is the loyalty program of HK Express. If you're not a member you can sign up at the payment page." 
                    aria-label="Reward-U is the loyalty program of HK Express. If you're not a member you can sign up at the payment page.">
                </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
