{#
    DOCUMENTATION
    set "passengersData": { // data passengers
        "passengers": [
        {
            "label": "Adulto 1",
            "gender": "",
            "firstName": "Jorge",
            "lastName": "García",
            "type": "Adulto",
            "seat": "4B",
            "seatStatus": "",
            "checkedIn": true
        },
        {
            "label": "Niño 1",
            "gender": "",
            "firstName": "Carmen",
            "lastName": "María Galeano",
            "type": "Niño",
            "seat": "4A",
            "seatStatus": "selected",
            "statusInput": "has-error",
            "messageInput": "Error message",
            "checkedIn": false,
            "hasInfoButton": true
        }
        ]
    }

    {% set formElements = {  // form dinamico with all elements
        elements: [
            {
                elementsGroup: [
                    {
                        type: 'selectForm',
                        element: [
                            {
                                label: 'Título*',
                                id: 'drop-1',
                                options: [
                                    {
                                        name: 'Sr.',
                                        id: 'select1'
                                    }
                                ]
                            },
                            {
                                label: 'Género*',
                                id: 'drop-2',
                                options: [
                                    {
                                        name: 'M',
                                        id: 'select1'
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nombre*',
                            id: 'drop-prefix-1',
                            value: "Jorge"
                        }
                    },
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Apellidos*',
                            value: "García"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de Nacimiento',
                            id: 'drop-3',
                            options: [
                                {
                                    name: 'DD',
                                    id: 'dd'
                                },
                                {
                                    name: 'MM',
                                    id: 'mm'
                                },
                                {
                                    name: 'YYYY',
                                    id: 'yyyy'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Tipo de Documento*',
                            id: 'drop-4',
                            options: [
                                {
                                    name: 'Pasaporte',
                                    id: 'select1'
                                }
                            ]    
                        }
                    },
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nr. Documento*',
                            value: "46789876R"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'País de emisión*',
                            id: 'drop-5',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: 'select1'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Nacionalidad*',
                            id: 'drop-6',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: 'select1'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de vencimiento del pasaporte',
                            id: 'drop-7',
                            options: [
                                {
                                    name: 'DD',
                                    id: 'dd'
                                },
                                {
                                    name: 'MM',
                                    id: 'mm'
                                },
                                {
                                    name: 'YYYY',
                                    id: 'yyyy'
                                }
                            ]
                        }
                    }
                ]
            },
            {
                elementsGroup: [
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nombre*',
                            id: 'drop-prefix-1',
                            value: "Jorge",
                            prefix: {
                                label: 'Género*',
                                id: 'drop-inner-prefix-1',
                                options: [
                                    {
                                        name: 'F',
                                        id: 'select1'
                                    }
                                ]
                            }
                        }
                    },
                    {
                        type: 'inputForm',
                        element: {
                            error: true,
                            message: 'Input message',
                            label: 'Apellidos*',
                            value: "124"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de Nacimiento',
                            id: 'drop-7',
                            options: [
                                {
                                    name: 'DD',
                                    id: 'dd'
                                },
                                {
                                    name: 'MM',
    
                                    id: 'mm'
                                },
                                {
                                    name: 'YYYY',
                                    id: 'yyyy'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Tipo de Documento*',
                            id: 'drop-4',
                            options: [
                                {
                                    name: 'Pasaporte',
                                    id: 'select1'
                                }
                            ]    
                        }
                    },
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nr. Documento*',
                            value: "46789876R"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'País de emisión*',
                            id: 'drop-5',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: 'select1'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Nacionalidad*',
                            id: 'drop-6',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: 'select1'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de vencimiento del pasaporte',
                            id: 'drop-7',
                            options: [
                                {
                                    name: 'DD',
                                    id: 'dd'
                                },
                                {
                                    name: 'MM',
                                    id: 'mm'
                                },
                                {
                                    name: 'YYYY',
                                    id: 'yyyy'
                                }
                            ]
                        }
                    }
                ]
            }           
        ]
    } %}

    EXAMPLE
    {% include "partials/components/IBE/_passenger_data.njk" %}
#}

<div class="passenger_data">
    {% if SHARED.formRequiredText | length %}
        <p class="required-text">{{SHARED.formRequiredText}}</p>
    {% endif %}

    {# {% if passengerData.type == 'guest details' %} #}
        {% for passenger in passengers %}
        {% set counter = ( counter | default(0) ) + 1 %}
        <div class="passenger_data_block">
            {# {% if formElements | length > 0 %} #}
                <h4 class="passenger_data_title">
                    <span class="passenger_label">
                        {{passenger.label}}
                    </span>
                    <span class="passenger_name">
                        {{passenger.firstName}} {{passenger.lastName}}
                    </span>
                </h4> 
                <div class="container">
                    {% include "partials/components/_shared/forms/_create_form.njk" %}
                </div>
                {# HKE Support - MMB Guest details #}
            {# {% else %}
                <h4 class="passenger_data_title">
                    <span class="passenger_label">
                        {{passenger.gender}}
                    </span>
                    <span class="passenger_name">                
                        {{passenger.firstName}} {{passenger.lastName}}
                    </span>
                </h4>
                <div class="container">
                    <div class="ui-form_group">
                        {% set inputIsValid = true %}
                        {% set inputDisable = true %}
                        {% set selectHasValue = true %}
                        {% set selectDisable = true %}
                        {% set selectForm = {
                            label: 'Date of birth',
                            optionCurrent: '02',
                            id: 'birthDD',
                            optionCurrent1: '05',
                            id1: 'birthMM',
                            optionCurrent2: '1982',
                            id2: 'birthYYYY'
                        } %}
                        {% include "partials/ui-elements/_form_birthdate.njk" %}
                        {% set selectHasValue = false %}
                        {% set selectIsMultiple3 = false %}
                    </div>
                    <div class="ui-form_group">
                        {% set inputReadonly = true %}
                        {% set inputForm = {
                            label: 'reward-U number',
                            value: '080004',
                            name: 'rewarduInput',
                            id: 'rewarduInput'
                        } %}
                        {% include "partials/ui-elements/_input_text.njk" %}
                        {% set inputDisable = false %}
                        {% set inputIsValid = false %}
                        {% set inputReadonly = false %}
                        {% set selectDisable = false %}
                    </div>
                    <div class="ui-form_group">
                        {% set inputForm = {
                            label: 'Loyalty Code',
                            placeholder: 'Optional',
                            name: 'loyaltyCode',
                            id: 'loyaltyCode'
                        } %}
                        {% include "partials/ui-elements/_input_text.njk" %}
                    </div>
                </div>
                <fieldset>
                    <legend class="passenger_data_subtitle">
                        Travel documentation details
                    </legend>
                    <div class="container">
                        <div class="ui-form_group">
                            {% set selectForm = {
                                label: 'Document Type',
                                optionCurrent: 'Type',
                                id: 'documentType'
                            } %}
                            {% include "partials/ui-elements/_select.njk" %}
                        </div>
                        <div class="ui-form_group">
                            {% set selectForm = {
                                label: 'Issuing Country',
                                optionCurrent: 'Country',
                                id: 'issuingCountry'
                            } %}
                            {% include "partials/ui-elements/_select.njk" %}
                        </div>
                        <div class="ui-form_group">
                            {% set selectForm = {
                                label: 'Nationality',
                                optionCurrent: 'Country',
                                id: 'nationality'
                            } %}
                            {% include "partials/ui-elements/_select.njk" %}
                        </div>
                        <div class="ui-form_group">
                            {% set inputForm = {
                                label: 'Document Number',
                                name: 'documentNumber',
                                id: 'documentNumber'
                            } %}
                            {% include "partials/ui-elements/_input_text.njk" %}
                        </div>
                        <div class="ui-form_group">
                            {% set selectIsMultiple3 = true %}
                            {% set selectHasError = false %}
                            {% set selectForm = {
                                label: 'Expiration Date',
                                optionCurrent: 'DD',
                                id: 'expirationDateDD',
                                optionCurrent1: 'MM',
                                id1: 'expirationDateMM',
                                optionCurrent2: 'YYYY',
                                id2: 'expirationDateYYYY'
                            } %}
                            {% include "partials/ui-elements/_select.njk" %}
                            {% set selectIsMultiple3 = false %}
                        </div>
                    </div>
                </fieldset>
            {% endif %} #}
        </div>
        {% endfor %}
    {# {% else %}
        {% for passenger in passengers %}
            {% set counter = ( counter | default(0) ) + 1 %}
            <fieldset class="passenger_data_block">          
                <legend class="passenger_data_title">                    
                    <span class="hide-visually">Passenger data:</span>
                    <span class="passenger_label">
                        {% if passenger.gender | length %}{{ passenger.gender }}{% else %}{{passenger.label}} {% endif %}
                    </span>
                    {% if (passenger.firstName) and (passenger.lastName) %}
                    <span class="passenger_name">
                        {{passenger.firstName}} {{passenger.lastName}}
                    </span>
                    {% endif %}
                </legend>               
                <div class="container">
                    {% include "partials/components/_shared/forms/_create_form.njk" %}   
                </div>
            </fieldset>
        {% endfor %}
    {% endif %} #}
</div>
