<flight-header class="searchresult">
    <div class="titlebar">
        <div class="title">
            {{ journeys[0].departureAirport }}
            <span class="direction">{{ searchResultConnector | default('to') }}</span>
            {{ journeys[1].departureAirport }}
        </div>
        {% if searchResultHasTypology | default(true) %}
            <div class="subtitle">
                07 Dec 2017 |
                {% include "partials/components/IBE/_common/_pax-types-list.njk" %}
            </div>
        {% endif %}
    </div>
</flight-header>
