{#
    DOCUMENTATION
    set tableGuestDetail = {
        VARIABLES
            caption: string // accessibility hide visually message
            passengers: string[] // guests list
        MODIFIERS
            isOW: // render OW head (only depart)
    }

    EXAMPLE
    {% set tableGuestDetail = {
        caption: 'Guest details',
        isOW: false,
        passengers: [
            'John Smith Danes Wilson',
            'John Smith Danes Wilson'
        ]
    } %}
    {% include "partials/components/IBE/_table-guest-detail.njk" %}
#}

<div class="table-responsive_wrapper">
    <table class="table-guest-detail">
        <caption class="hide-visually">{{ tableGuestDetail.caption }}</caption>
        <thead>
            {% if tableGuestDetail.isOW %}
                <tr class="destination">
                    <td></td>
                    <th scope="colgroup">Depart</th>
                </tr>
                <tr class="bottom-secondary-divider">
                    <td></td>
                    <th scope="col">KMD <span class="currency-divider">-</span> HKG</th>
                </tr>
            {% else %}
                <tr class="destination">
                    <td></td>
                    <th scope="colgroup" colspan="2">Depart</th>
                    <th scope="colgroup" colspan="2">Return</th>
                </tr>
                <tr class="bottom-secondary-divider">
                    <td></td>
                    <th scope="col">KMD <span class="currency-divider">-</span> HKG</th>
                    <th scope="col">HKG <span class="currency-divider">-</span> NRT</th>
                    <th scope="col">NRT <span class="currency-divider">-</span> HKG</th>
                    <th scope="col">HKG <span class="currency-divider">-</span> KMG</th>
                </tr>
            {% endif %}
        </thead>
        
        {% for pax in tableGuestDetail.passengers %}
            <tr class="pax-row">
                <td scope="colgroup" colspan="{% if tableGuestDetail.isOW %}2{% else %}5{% endif %}">{{ pax }}</td>
            </tr>
            <tr class="top-primary-divider">
                <th scope="row">Seat</th>
                <td>9F</td>
                {% if not tableGuestDetail.isOW %}
                    <td>12A</td>
                    <td>12A</td>
                    <td>12A</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Baggae</th>
                <td>20Kg</td>
                {% if not tableGuestDetail.isOW %}
                    <td>20Kg</td>
                    <td>30Kg</td>
                    <td>30Kg</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Sport Equipment</th>
                <td class="disabled"></td>
                {% if not tableGuestDetail.isOW %}
                    <td class="disabled"></td>
                    <td class="disabled"></td>
                    <td class="disabled"></td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Meal</th>
                <td class="available"></td>
                {% if not tableGuestDetail.isOW %}
                    <td class="available"></td>
                    <td class="disabled"></td>
                    <td class="disabled"></td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Insurance</th>
                <td class="available"></td>
                {% if not tableGuestDetail.isOW %}
                    <td class="available"></td>
                    <td class="disabled"></td>
                    <td class="disabled"></td>
                {% endif %}
            </tr>
            <tr class="bottom-secondary-divider">
                <th scope="row">U-First</th>
                <td class="available"></td>
                {% if not tableGuestDetail.isOW %}
                    <td class="available"></td>
                    <td class="disabled"></td>
                    <td class="disabled"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>