
<div class="u-connect">
    <h2 class="u-connect_title">U-Connect</h2>
    <p class="u-connect_price">
        {{SHARED.currency}} 124 per Guest
    </p>

    <div class="u-connect_intro">
        <p>During your journey, you will have a connecting flight in Hong Kong.</p>
        <p><strong>U-Connect</strong> is required for you to make your onward flight. You can:</p>
    </div>

    <ul class="list-style1">
        <li>Collect your boarding pass for both flight sectors at your departing port’s check-in counter</li>
        <li>Check your bags on your first flight for your whole journey – no need to clear customs or claim baggage in Hong Kong</li>
        <li>If you miss your onward flight due to flight delay or unforeseen circumstances, we will honor your ticket on our next available flight.</li>
    </ul>

    <!-- class="u-connect_footer expanded" to collapse and apply extra styles -->
    <p class="u-connect_footer">
        Note: For flights departing from <strong>Mainland China,</strong>
        <span class="moreinfo" id="moreinfoUconnect" data-toggle="expander" aria-hidden="false">guests will still need to proceed to our transfer desk at Hong Kong International Airport to pick up their onward boarding pass for the second leg of their journey. Failure to arrive at the transfer desk at least 60 minutes before your connecting flight may result in missing your connecting flight. HK Express will place you on the next available HK Express flight to your final destination.</span>
        <a class="moreinfo_trigger collapsed"
            role="button"
            aria-hidden="true"
            data-target="#moreinfoUconnect"
            data-expand="expander-trigger"
            aria-expanded="false">
            <span class="hide-visually">read more about u-connect</span>
        </a>
    </p>
</div>
