@import '../../fonts/icons/style.scss';
@import '../variables';

$md-title-color: $c-primary;
$md-link-color: $c-secondary;
$md-nav-background: $c-secondary;
$md-nav-trigger-background: $md-nav-background;

.nsux_list_item_title {
    color: $md-title-color;
}
.nsux_list_links { 
    li a {
        color: $md-link-color;
    }
}
.nsux_nav_trigger,
.nsux_nav {
    background-color: $md-nav-background;
}

.nsux_nav_trigger {
    color: #fff;
}
.demo {
    // modifiers
    &.primary {
        color: #fff;
        background-color: $c-primary;
    }
    &.secondary {
        color: #fff;
        background-color: $c-secondary;
    }
}
.demo_page_title {
    &::after {
        background-color: $c-primary;
    }
}

