// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING STEPS
// ****************************************
//
// ****************************************

$steps-height: 62px;
$step-number-size: 22px;
$steps-number-color: #fff;
$steps-number-background: $c-primary;
$steps-label-fontsize: 15px;
$steps-color: $c-text;

//## active
$steps-color-active: $c-secondary;
//## done
$steps-color-done: $steps-color-active;

.booking-steps {
    position: relative;
    display: table;
    width: 660px;
    font-family: $f-title;
    margin: 0 auto 46px;
    counter-reset: booking_steps_counter;
    li {
        display: table-cell;
        box-sizing: border-box;
        height: 71px;
        width: 20%;
        vertical-align: top;
        position: relative;
        &::before { //## line between steps
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            top: calc(26px - 2px);
            background-color: $gray-3;
            z-index: -200;
        }
        &::after {
            content: '';
            width: 60px;
            height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -100;
        }
        &:first-child {
            &::before {
                width: 50%;
                left: 50%;
            }
        }
        &:last-child {
            &::before {
                width: 50%;
                left: 0;
            }
        }
        .label {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: $steps-label-fontsize;
            color: $gray-3;
            line-height: 19px;
            height: 40px;
            margin: 0 auto;
            width: 90px;
            margin-top: 5px;
        }
        .number {
            display: block;
            position: relative;
            margin: 0 auto;
            left: 0;
            top: 0;
            background-color: $gray-3;
            border-radius: 10px 1px 1px;
            height: 26px;
            width: 26px;
            margin-bottom: 3px;
            box-sizing: border-box;
            &::before { //## steps numbers
                content: counter(booking_steps_counter);
                counter-increment: booking_steps_counter;
                position: absolute;
                font-size: $step-number-size;
                color: #fff;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                box-sizing: border-box;
            }
        }
        &.active, &.done {
            color: $steps-color-active;
            .label {
                color: $c-secondary;
            }
            .number {
                background-color: $c-secondary;
            }
        }
    }
    @media #{$until-tablet-portrait} { // <=768px
        width: 100%;
        margin-top: 0;
        margin-bottom: 28px;
    }
    @media #{$until-mobile} { // <=640px
        li {
            height: auto;
            &::after {
                content: '';
                width: 36px;
                height: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -100;
            }
            .label {
                display: none;
            }
        }
    }
} 