// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING REFERENCE
// ****************************************
//
// ****************************************
.booking-reference {
    @extend .box;
    width: 432px;
    //min-width: 432px;
    display: inline-block;
    font-family: $f-title;
    @include font-size($f-size-md);
    color: $c-primary;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 0;
    .code {
        color: $c-secondary;
        margin-top: 7px;
        margin-bottom: 0;
    }
}

@media #{$until-mobile} { // <=640px
    .booking-reference_wrap {
        margin-top: 16px;
    }
    .booking-reference {
        width: auto;
        //min-width: 330px;
        padding-right: 14px;
        padding-left: 14px;
    }
}
