// ********************
//  IBE COMPONENT
//
// ********************
//  FARES
// ********************
//
//
// ********************

//## fares styles
@mixin fare1-style() {
    color: $fare1-color;
    background-color: $fare1-background;
}
@mixin fare2-style() {
    color: $fare2-color;
    background-color: $fare2-background;
}
@mixin fare3-style() {
    color: $fare3-color;
    background-color: $fare3-background;
}

.fare-label{
    @include font-size($f-size-xs);
    position: relative;
    top: -2px;
    display: inline-block;
    min-width: 42px;
    height: 16px;
    box-sizing: border-box;
    font-family: $font-name;
    line-height: 1.3;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-right: 7px;
    padding: 0 3px;
    border-radius: 5px;
}
//## generate fares labels styles
//## using general fares quantity value from variales.scss
@mixin fares-label {
    .fare-label {
        @for $i from 1 through $fare-quantity {
            &.fare#{$i} {
                @if $i == 1 {
                    @include fare1-style;
                }
                @else if $i == 2 {
                    @include fare2-style;
                }
                @else if $i == 3 {
                    @include fare3-style;
                }
                @else if $i == 4 {
                    @include fare4-style;
                }
                @else if $i == 5 {
                    @include fare5-style;
                }
            }
        }
    }
}
@include fares-label;
