// ********************
//  IBE _COMMON
//
// ********************
//  FLIGHT NUMBER LIST
// ********************

.flight-number_label {
    display: inline-block;
}
.flight-number_list {
    display: inline-block;
    li {
        display: inline-block;
        &::after {
            content: '|';
            margin: 0 6px;
        }
        &:last-child {
            &::after { display: none; }
        }
    }
}