// main: ../styles.scss

// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  PAGE BUTTONS
// ****************************************
//
// ****************************************

// + Page buttons (bottom)
// -------

//## page button responsive at bottom fixed bar
@mixin bottom-fixed-bar-button {
    @include btn-inverse;
    z-index: $summary-fixed-button-zindex;
    position: fixed;
    bottom: 7px;
    right: 14px;
    width: auto;
    min-width: 90px;
    max-width: 110px;
    min-height: 30px;
    margin: 0;
    padding: 6px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page_buttons {
    @include clearfix;
    display: flex;
    margin: 40px 0;
    text-align: right;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    button {
        display: inline-block;
        min-width: 200px;
        text-align: center;
    }
    .page_button-secondary {
        margin-right: 16px;
    }
    // modifiers
    &.center {
        justify-content: center;
    }
}
@media #{$summary-collapsed} { // <=768px
    .page_buttons {
        justify-content: center;
        margin: 20px 0; 
        button.page_button-summary {
            @include bottom-fixed-bar-button; 
        }
    }
}
@media #{$until-mobile} { // <=640px
    .page_buttons {
        button {
            min-width: auto;
        }
    }
}
@media (max-width: 420px) { // <=480px
    .page_buttons {
        flex-direction: column-reverse;
        margin-top: 18px;
        button {
            width: 80%;
            margin: 18px auto 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}