// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SEGMENT SELECTOR
// ****************************************
//
// ****************************************

//## segment selector
// .segment-selector {
//     margin-bottom: 28px;
// }
.segment-selector_list {
    @include custom-scroll(lighten);
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
// .segment-selector_item {
//     margin-right: 20px;
//     &:last-child {
//         margin-right: 0;
//     }
// }
.segment-selector_tab {
    @extend .button;
    @extend .btn-light;
    display: flex;
    align-items: center;
    @include font-size($f-size-md);
    box-shadow: none;
    min-height: 0;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    .icon {
        @include iconfont($icon-airplane-right,before);
        position: relative;
        top: 1px;
        @include font-size($f-iconsize);
        line-height: 1;
        margin: 0 10px;
    }
    &:hover {
        box-shadow: none;
    }
    &.selected,
    &[aria-selected='true'] {
        color: #fff;
        border-color: $c-secondary;
        background: $c-secondary;
        cursor: default;
    }
}
.segment-selector_flight {
    display: flex;
    align-items: center;
    @include font-size($f-size-md);
    font-family: $f-title;
    line-height: 1.1;
    margin-bottom: 28px;
    ul {
        display: flex;
        align-items: center; 
        li {
            display: flex;
            align-items: center;
        }
    }
    .icon {
        @include iconfont($icon-airplane-right,before);
        position: relative;
        top: 2px;
        @include font-size($f-size-xlg);
        color: $c-primary;
        line-height: 1;
        margin: 0 12px;
    }
    .flightnumber {
        display: inline-block;
        padding-left: 12px;
        margin-left: 12px;
        border-left: 1px solid $c-primary;
    }
}

// [Responsive]
@media #{$until-mobile} { // <= 640px
    .segment-selector_list {
        margin-bottom: 20px;
    }
    // .segment-selector_item {
    //     margin-right: 14px;
    // }
    .segment-selector_tab {
        @include font-size($f-size);
        margin-right: 14px;
        .icon {
            @include font-size($f-size);
        }
    }
    .segment-selector_flight {
        display: none;
    }
}
@media #{$tablet-landscape} { // >= 992px
    .segment-selector_tab {
        margin-right: 40px;
    }
}
