// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SELECT SEAT
// ****************************************
//
//    + Seat map
//    + Seat map legend
//
// ****************************************

.seat-page,
.ancillaries-bagagge-page {
    .alertflag_wrap-full {
        margin-top: -34px;
    }
}


//## sizes based on image proportions
$seatmap-width: 750px;
$seatmap-height: 700px;
$seatmap-height-mobile: 340px;
$seatmap-image: '#{$imgs-path}layout/seatmap_airplane.svg';
$airplane-image-height: 2180px;
.seat-selector {
    margin-top: 54px;
    .segment-selector_list {
        margin-bottom: 0;
    }
}

.seat-selector_content {
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    .segment-selector_flight {
        flex-basis: 100%;
    }
}

$seat-selector_paxs_width: 40%;
.seat-selector_paxs {
    box-sizing: border-box;
}

.seat-selector_seatmap {
    max-width: 100%;
    flex-basis: 100%;
    box-sizing: content-box;
    text-align: center;
    .seat-selector_flight_button {
        display: none;
        margin: 20px 0;
    }
    .footnote {
        display: none;
    }
}

.seat-selector_seatmap_paxs {
    width: 100%;
}
.seat-selector_flight_button {
    @extend .btn-primary;
}

// + Seat map
// -------
$seatmap-position-top: 95px;
$seatmap-position-left: 324px;
$seats-size: 24px;
$seats-size-height: 28px;
$seat-margin: 6px 4px;
$seats-row-margin: 8px;
.seatmap {
    @include custom-scroll;
    position: relative;
    max-height: $seatmap-height;
    overflow: hidden;
    overflow-y: visible;
    text-align: center;
    background-color: #fff;
    .seat {
        position: relative;
        display: block;
        width: $seats-size;
        height: $seats-size-height;
        margin: $seat-margin;
        cursor: pointer;
        &::before,
        &::after { //## seat icons
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.unavailable {
            cursor: default;
            &::after {
                @include font-size($f-size-md-sm);
            }
            &:focus {
                outline: none;
            }
        }
        &.empty {
            cursor: default;
            &::before {
                display: none;
            }
            &:focus {
                outline: none;
            }
        }
        .seat-label {
            @include font-size($f-size-sm);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
    }
}

.seat_exit {
    @include iconfont($icon-arrow-left, before);
    @include font-size($f-size-md-xs);
    position: absolute;
    top: -$seats-size-height;
    width: $seats-size;
    height: $seats-size-height;
    color: $c-color2;
    &::before {
        position: relative;
        top: 4px;
    }
    &:first-child {
        left: 0;
        margin-left: 0;
        &::after {
            left: #{$seats-size - 3px };
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: calc(#{($seats-size * 3) + $seats-size / 3});
        height: 2px;
        background: rgba($c-color2, .3);
        top: #{$seats-size-height / 2};
    }
    &:last-child {
        @include iconfont($icon-arrow-right, before);
        right: 0;
        margin-right: 0;
        &::after {
            right: #{$seats-size - 3px };
        }
    }
}

.seats_group {
    .popover {
        .seat_type {
            white-space: nowrap;
        }
    }
    &.has-exit {
        padding-top: $seats-size-height;
        .seat_row_number {
            @include iconfont($icon-infante);
            position: relative;
            &::before {
                @include font-size($f-size-md-sm);
                position: absolute;
                top: -$seats-size-height;
                left: 6px;
                width: $seats-size;
                height: $seats-size-height;
                background: $c-color2;
                border-radius: 3px;
                padding: 0;
                color: #fff;
            }
        }
    }
}

.seatmap_inner {
    position: relative;
    top: 0;
    display: inline-block;
    border: solid $gray70;
    border-width: 0 3px;
    $wing-width: 110px;
    $wing-height: 338px;
    $wing-position: 113px;
    &::before,
    &::after { //## airplane wings
        position: absolute;
        bottom: 460px;
        content: '';
        width: $wing-width;
        height: $wing-height;
        background: url('../imgs/layout/airplane-wing.svg') no-repeat;
        background-size: 100% auto;
        background-position: top center;
    }
    &::before { //## airplane wings
        left: -#{$wing-position};
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    &::after { //## airplane wings
        right: -#{$wing-position};
    }
}

.seatmap_wrap {
    position: relative;
    margin: auto;
    // border: solid $c-primary;
    // border-width: 0 3px;
}

.seatmap_list {
    position: relative;
    padding: 1px 7px 20px;
    margin: 0 auto;
    li {
        position: relative;
        width: 100%;
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        &.seats_columns {
            align-items: center;
            &:last-child, &:first-child {
                margin-top: 14px;
            }
        }
    }
}

.seats_row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: -2px 0;
    text-align: center;
    justify-content: center;
    &.last {
        .seat {
            &:before {
                display: none;
            }
        }
    }
}

.seat_row_number {
    @include font-size($f-size);
    padding: 10px 5px 0;
    min-width: 10%;
    line-height: $seats-size;
    color: $gray80;
    font-weight: 400;
}

.seat_letter {
    @include font-size($f-size);
    width: ($seats-size + 3);
    height: $seats-size-height;
    margin: $seat-margin;
    padding: 0 1px;
    font-weight: 400;
    line-height: $seats-size;
    text-align: center;
    color: $gray80;
}

//## seats used in map and legend
@mixin seat-status($color,$background-color: #fff) {
    &::before {
        border-color: $color;
        background-color: $background-color;
    }
}

.seat {
    position: relative;
    &:before {
        //## seat default icon
        @include font-size($seats-size);
        content: "";
        display: block;
        width: $seats-size;
        height: $seats-size-height;
        border-radius: 3px;
        border: 2px solid $gray60;
        box-sizing: border-box;
    }
    &.unavailable {
        @include iconfont($icon-close,after);
        &::before { //## seat square
            border-color: $gray90;
        }
        &::after { //## unavaible cross icon
            color: $gray90;
        }
    }
    &.front {
        @include seat-status($c-color2);
    }
    &.exit {
        @include seat-status($c-secondary);
    }
    &.xlarge {
        @include seat-status($c-color1);
    }
    &.upfront {
        @include seat-status($c-primary);
    }
    &.selected {
        @include seat-status($c-secondary,
        $c-secondary);
    }
}

// + Seat map legend
// -------
.seatmap_legend {
    margin: -10px 0 30px;
    padding: 10px;
    background: $gray98;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    li {
        $legend-pad: 30px;
        $legend-icon-size: $legend-pad - 20;
        @include font-size($f-size-xs);
        display: inline-block;
        width: 50%;
        padding-left: calculateEm($legend-pad);
        box-sizing: border-box;
        margin: 7px 0;
        &::before { //## seat icon
            position: absolute;
            left: 0;
            top: 0;
            width: calculateEm($legend-icon-size);
            height: calculateEm($legend-icon-size);
            border: 2px solid $gray60;
        }
        &.unavailable {
            &::after {
                @include font-size(12px);
                position: absolute;
                left: .1rem;
                top: .1rem;
            }
        }
    }
    .title {
        color: $c-primary-dark;
    }
    .label {
        position: relative;
        display: inline-block;
        padding-right: 8px;
        margin-right: 4px;
    }
    .info-link {
        @include info-link($icon-info,
        $f-size,
        none);
        position: relative;
        top: 0;
        color: $c-primary;
        margin-left: auto;
        display: none;
    }
    .footnote {
        margin-top: 20px;
    }
}
.seatmap_legend-title {
    margin-bottom: 10px;
    .title {
        @extend .title-h4;
        text-transform: uppercase;
    }
}

// + Seat details (popover)
// -------
.seat_details {
    color: $c-primary;
    text-align: center;
}
.seat_number {
    display: block;
    font-family: $f-title;
    @include font-size($f-size-md);
    font-weight: 600;
    line-height: 1;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .seatmap_legend-title {
        display: block;
    }
    .seat-selector_paxs {
        padding-right: 15px;
    }
    .seatmap_legend {
        margin-top: 42px;
        padding: 0;
        background: transparent;
    }
    .seat-selector_paxs {
        flex: 1 1 56%;
        max-width: 56%;
    }
    .seat-selector_seatmap {
        flex: 0 0 42%;
        margin-left: 2%;
    }
}

@media #{$mobile-sm} { // >=480px 
    .seatmap_inner {
        padding: 0 2vw;
    }
    .seatmap_legend {
        li {
            width: 25%;
        }
    }
}
@media #{$desktop} { // >= 1200px
    .seatmap_inner {
        padding: 0 40px;
    }
}
