// ----------------------------------------------------
// SWITCH
//
//  + Switch (on/off)
//  + Switch slider (multiple selections)
//
// ----------------------------------------------------

.switch {
	position: relative;
	display: inline-block;
	width: 70px;
	min-width: 70px;
	height: 30px;
	input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		&.is-checked  {
			& + .switch_slider {
				background-color: $c-primary;
			}
			& + .switch_slider:before {
				left: 41px;
			}
		}
	}
	&.is-readonly {
		opacity: $disabled-opacity;
		pointer-events: none;
	}
}
.switch_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $gray60;
	border-radius: 35px;
	transition: .2s;
	&::before { //## switch circle
		position: absolute;
		content: '';
		height: 26px;
		width: 26px;
		left: 2px;
		top: 2px;
		background-color: $c-color4;
		border-radius: 50%;
		transition: .14s;
		transition-timing-function: ease-in-out;
	}
}
// .switch_label {
//     @extend .ui-label;
// }
// fix angular
// ibe-switch-slider {
//     height: 30px;
// }

// + Switch slider
// -------
.switch-slider {
	display: flex;
	justify-content: center;
}
.switch-slider_option {
	position: relative;
	user-select: none;
	margin: 0 -1px;
	&:first-child {
		.switch-slider_label {
			border-radius: 100vh 0 0 100vh;
		}
	}
	&:last-child {
		.switch-slider_label {
			border-radius: 0 100vh 100vh 0;
		}
	}
	input {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		cursor: pointer;
		&:checked,
		&checked,
		&[checked='checked'],
		&.is-checked {
			& + .switch-slider_label {
				color: #fff;
				background-color: $c-primary;
			}
		}
	}
}

$switch-slider-label-padding: calculateRem(4px) calculateRem(30px) !default;
$switch-slider-label-fontsize: 14px !default;
$switch-slider-label-fontweight: 600 !default;
$switch-slider-label-border-width: 1px !default;
$switch-slider-label-border-style: solid !default;
$switch-slider-label-border-color: $c-primary !default;
$switch-slider-label-background: #fff !default;
.switch-slider_label {
	@include font-size($switch-slider-label-fontsize);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: $switch-slider-label-padding;
	color: $c-primary;
	font-weight: $switch-slider-label-fontweight;
	box-sizing: border-box;
	@if $switch-slider-label-border-width != 0 {
		border-style: $switch-slider-label-border-style;
		border-width: $switch-slider-label-border-width;
		border-color: $switch-slider-label-border-color;
	}
	background-color: $switch-slider-label-background;
	cursor: pointer;
}