// ********************
//  COMPONENTS
//
// ********************
//  ALERTS
// ********************
//  
//  + Top (fixed top alert)
//
// ********************

$alert-info-color: $c-info;
$alert-warning-color: $c-warning;
$alert-error-color: $c-error;
$alert-success-color: $c-success;
$alert-default-color: $alert-info-color;

.alertflag_wrap {
    z-index: $alert-zindex;
    position: fixed;
    top: 110px;
    right: 0;
}
.alertflag {
    z-index: -1;
    position: relative;
    font-family: $font-sanserif;
    margin: 10px 0;
    width: 480px;
    padding: 14px;
    background: #fff;
    transform: translateX(100%);
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    &.in {
        z-index: $alert-zindex;
        transform: translateX(0);
    }
    &::before { //## alert type icon
        @include font-size($f-size-lg);
        position: absolute;
        left: 14px;
        top: 6px;
        font-family: $f-icons;
        color: $alert-default-color;
    }
    .close {
        @include font-size($f-size-sm);
        @include iconfont($icon-cross, before); 
        padding: 0;
        position: absolute;
        right: 14px;
        top: 16px;
        color: $c-primary;
        cursor: pointer;
    }
}
.alertflag_title {
    @include font-size($f-size);
    font-weight: 700;
    color: $alert-default-color;
    padding-right: 24px;
    margin-bottom: 2px;
}
.alertflag_text {
    @include font-size($f-size-sm);
    font-weight: 500;
    p:last-child {
        margin-bottom: 0;
    }
}

//## modifiers
.alertflag-info,
.alertflag-warning,
.alertflag-error,
.alertflag-success {
    padding-left: 54px;
}

//## generate alertflags type classes
$alertflag-types: (
    info $alert-info-color $icon-info-circle,
    warning $alert-warning-color $icon-alert,
    error $alert-error-color $icon-alert,
    success $alert-success-color $icon-check-circle
);
@each $type in $alertflag-types {
    .alertflag-#{nth($type, 1)} {
        &::before {
            content: '#{nth($type, 3)}';
            color: #{nth($type, 2)};
        }
        .alertflag_title {
            color: #{nth($type, 2)};
        }
    }
}


// + Top (fixed top alert)
// -------
.alertflag_wrap-full {
    width: 100%;
    background: $gray95;
    box-shadow: 0 0 13px -3px rgba(#000, .75);
    @media #{$until-tablet-portrait} { // <= 768px
        box-shadow: none;
        border-bottom: 1px solid $c-color4;
    }
    .alertflag_container {
        @include container-wrap;
    }
    .alertflag {
        width: 100%;
        margin: 0;
        box-shadow: none;
        background: $gray95;
        &::before { //## alert type icon
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .close {
            @include font-size($f-size-md);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .alertflag-warning {
        padding-left: 34px;
        &::before {
            color: $c-secondary;
        }
    }
}
.main-header_wrap {
    .alertflag_wrap-full {
        position: relative;
        z-index: $alert-fixed-zindex;
    }
    .alertflag {
        max-height: 0;
        overflow: hidden;
        transform: translate(0, -100%);
        transition: all .24s ease-in-out;
        &.in {
            max-height: 200px;
            transform: translate(0);
        }
    }
}
