// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  HEADINGS
// ********************
//
//  + Headings
//  + Inverse headings
//  + Text colors
//
// ********************

// + Headings
// -------
.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5 {
    font-family: $f-title;
    line-height: 1.2;
    margin: 0 0 calculateRem(10px);
    font-weight: 600;
    &:last-child {
        margin-bottom: 0;
    }
}
.title-h1 {
  @include font-size($f-size-h1-mobile);
  color: $c-primary;
  margin-bottom: 14px; 
  font-weight: 600;
  line-height: 1.35;
  @media #{$mobile}{
    @include font-size($f-size-h1);
    margin-bottom: 10px;
  }
}
.title-h2 {
  @include font-size($f-size-h2-mobile);
  @media #{$mobile} {
    @include font-size($f-size-h2);
  }
}
.title-h3 {
    @include font-size($f-size-h3);
    @media #{$until-mobile}{
      @include font-size($f-size-h3-mobile);
    }
}
.title-h4 {
  @include font-size($f-size-h4);
  line-height: 1.2;
}
.title-h5 {
    @extend .title-h4;  
    margin-bottom: 7px;
}
