// main: ../styles.scss

// ********************
//  IBE COMPONENTS
//
// ********************
//  UI-ELEMENTS
// ********************
//
//  LABEL
//
// ********************
//
// + promo label
//
// ********************

.promo-label {
    @include font-size($f-size-xs);
    display: inline-block;
    min-height: calculateRem(14px);
    font-family: $font-name;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    vertical-align: middle;
    padding: 2px 4px 2px 8px;
    background-color: $c-secondary;
    border-radius: 12px 2px 2px;
    // modifiers
    &.spaced {
        padding: 2px 16px;
    }
}

