// ********************
//  UI-ELEMENTS
// ********************
//
//  LISTS
//
// ********************
//
// + Bullet list - .list-bullet
// + Arrow icon list - .list-style1
// + context list
// + context-list with second level
// + list
//
// ********************

// + variables
$list-item-left-space: 19.2px; // use 19.2 to representate 1.2em units based in relative 16px
$list-item-left-space-more-than-10: 32px; // use 19.2 to representate 1.2em units based in relative 16px


// + Bullet list
// -------
// .list-bullet {
//     li {
//         position: relative;
//         padding-left: 14px;
//         margin: 10px 0;

//         &::before {
//             $bullet-size: 5px;
//             content: '';
//             position: absolute;
//             top: 8px;
//             left: 0;
//             width: $bullet-size;
//             height: $bullet-size;
//             border-radius: 50%;
//             background-color: $c-text;
//         }
//     }
// }

// + Icon list
// -------
// .list-icon {
//     &.space {
//         li {
//             margin-bottom: 10px;
//             padding-left: 42px
//         }

//         .icon {
//             @include font-size($f-size-lg);
//             width: $f-size-lg; //## need when using img instead of fonticon
//         }
//     }

//     li {
//         position: relative;
//         margin: 6px 0;
//         padding-left: 32px;

//         .icon {
//             @include font-size($f-size-md);
//             position: absolute;
//             left: 0;
//             top: -3px;
//             width: $f-size-md; //## need when using img instead of fonticon
//             color: $c-primary;
//         }
//     }
// }


// + Arrow icon list
// -------

@mixin list-style1 {
    position: relative;
    padding-left: calculateEm($list-item-left-space);
    &::before {
        content: '';
        position: absolute;
        top: calculateEm(7px);
        left: 0;
        width: calculateRem(8px);
        height: calculateRem(8px);
        background-color: $c-primary;
    }
}

.list-style1 {
    font-size: 100%;
    > li {
        @include list-style1;
    }

    &.condensed {
        li {
            margin-bottom: 6px;
        }
    }
}

// +++ context list
.context-list,
.context-list-alpha {
    margin: 0 0 calculateRem($paragraph-bottom-space);

    li {
        margin: 0 0 calculateRem(6px);

        ul,
        ol {
            margin-top: calculateRem(6px);
        }

        br+br {
            content: '';
            display: block;
            height: 10px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.context-list-icon,
.context-list-icon-md {
    li {
        position: relative;
    }

    .icon {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        height: 100%;

        img {
            width: 100%;
        }
    }
}

// .context-list-icon {
//     li {
//         padding-left: 22px;
//     }
//     .icon {
//         top: 0;
//         width: 15px;
//         height: 22px;
//     }
// }
// .context-list-icon-md {
//     li {
//         padding-left: 72px;
//         margin: 30px 0;
//     }
//     .icon {
//         top: -18px;
//         width: 55px;
//         height: 55px;
//     }
// }
// .context-list-basic { //## bullet list
//     @extend .list-bullet;
// }
.context-list,
.context-list-alpha {
    //## arrows custom styles
    @extend .list-style1;

    &.secondary {
        li {
            &::before {
                color: $c-secondary;
            }
        }
    }

    &.primary {

        //## to reset when parent is secondary
        li {
            &::before {
                color: $c-primary;
            }
        }
    }

    &.columns {
        //## total columns for list
        display: flex;
        flex-wrap: wrap;

        li {
            flex-basis: calc(50% - 50px);
            padding-right: 24px;

            @media #{$until-tablet-portrait} {
                // <=768px
                flex-basis: 100%;
                padding-right: 0;
            }
        }
    }

    li {
        &::before {
            color: $c-primary;
        }
    }
}

// context-list with second level
ol {

    &.context-list,
    &.context-list-alpha {
        //## numeric style
        counter-reset: number;
        >li {
            padding-left: 1.2em;

            &::before {
                @include font-size($f-size);
                content: counters(number, ".")".";
                top: 0;
                width: auto;
                height: auto;
                font-family: $font-sanserif;
                font-weight: 600;
                background-color: transparent;
                counter-increment: number;
            }
        }

        // simulate <ol> start attribute
        @for $i from 1 through 10 {
            &[start="#{$i}"] {
                counter-reset: number ($i - 1);
                > li {
                    // set >= 10
                    &:nth-child(n+#{11 - $i}) { // >= 10
                        padding-left: calculateEm($list-item-left-space-more-than-10);
                    }
                }
            }
        }
    }

    &.context-list-alpha {

        //## alpha numeric style
        >li {
            &::before {
                content: counter(number, lower-alpha)".";
                left: 0;
                counter-increment: number;
            }

            &:nth-child(n+10) {
                padding-left: 1.2em;
            }
        }
    }
}

// spacing on inner list levels
ol {
    &.context-list,
    &.context-list-title {
        li {
            ul {
                &.context-list {
                    >li {
                        padding-left: calculateEm($list-item-left-space);
                    }
                }
            }
            ol {
                &.context-list-alpha {
                    >li {
                        padding-left: calculateEm($list-item-left-space);
                    }
                }
            }
            li {
                padding-left: calculateEm(35px);
                li {
                    padding-left: 49px;
                }

                &:nth-child(n+10) {
                    padding-left: calculateEm(46px);
                }
            }
            &:nth-child(n+10) { // >= 10
                padding-left: calculateEm($list-item-left-space-more-than-10);

                li {
                    padding-left: calculateEm(45px);

                    &:nth-child(n+10) {
                        padding-left: calculateEm(54px);
                    }
                }
            }
        }
    }

    &.context-list-alpha {
        li {
            &:nth-child(n+27) {
                padding-left: calculateEm(28px);
            }
        }
    }
}

// + list (to unify list types)
.list {
    @include handling-long-words;
}

// .list-line {
//     .list_item {
//         padding: 33px 25px 12px;
//         border-bottom: 1px solid $gray60;
//         .left {
//             font-weight: 600;
//         }
//     }
// }
// .list_item {
//     display: flex;
//     justify-content: space-between;
//     clear: both;
//     // elements
//     .left {
//         padding-right: 15px;
//     }
//     .right {
//         padding-left: 15px;
//         text-align: right;
//     }
// }
// [Responsive]
// @media #{$until-mobile} {
//     .list-line {
//         // elements
//         .list_item {
//             padding: 33px 0 8px;
//             .left, .value, .right {
//                 margin-bottom: 5px;
//             }
//         }
//     }
//     .list_item {
//         flex-direction: column;
//         // elements
//         .left, .right {
//             padding: 0;
//         }
//         .right {
//             text-align: left;
//         }
//     }
// }

// -------------------------------------------------
// + title list
// -------------------------------------------------
ol {
    &.context-list-title {
        counter-reset: number;
        .context-h1,
        .context-h2,
        .context-h3,
        .context-h4,
        .context-h5 {
            margin-bottom: calculateRem(8px);
            padding-left: calculateEm(8px);
            &::before {
                content: counters(number, ".")".";
                position: absolute;
                left: 0;
                counter-increment: number;
            }
        }
        > li {
            margin-top: calculateRem($headings-main-space);
            &:first-child {
                margin-top: 0;
            }
        }
        .context-h1 {
            + ol {
                margin-left: calculateEm($f-size-h1 / 2);
            }
        }
        .context-h2 {
            + ol {
                margin-left: calculateEm($f-size-h2 / 2);
            }
        }
        .context-h3 {
            + ol {
                margin-left: calculateEm($f-size-h3 / 2);
            }
        }
        .context-h4 {
            + ol {
                margin-left: calculateEm($f-size-h4 / 2);
            }
        }
    }
}
.context-list-title {
    @extend .context-list;
    > li {
        &::before {
            display: none;
        }
    }
    .context-h1,
    .context-h2,
    .context-h3,
    .context-h4,
    .context-h5 {
        & + p {
            margin-top: 0;
        }
    }
}