@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xhmvw1');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?xhmvw1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?xhmvw1') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?xhmvw1') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?xhmvw1##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// @function unicode($str) {
//   @return unquote("\"") + $str + unquote("\"");
// }

.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-icono-dutyfree {
  &:before {
    content: $icon-icono-dutyfree; 
  }
}
.icon-icono-facturacionexpress {
  &:before {
    content: $icon-icono-facturacionexpress; 
  }
}
.icon-icono-menus {
  &:before {
    content: $icon-icono-menus; 
  }
}
.icon-icono-reverse {
  &:before {
    content: $icon-icono-reverse; 
  }
}
.icon-icon-error {
  &:before {
    content: $icon-icon-error; 
  }
}
.icon-error-icon {
  &:before {
    content: $icon-error-icon; 
  }
}
.icon-warning-icon {
  &:before {
    content: $icon-warning-icon; 
  }
}
.icon-ic_arrow_down_black_48px {
  &:before {
    content: $icon-ic_arrow_down_black_48px; 
  }
}
.icon-ic_arrow_up_black_48px {
  &:before {
    content: $icon-ic_arrow_up_black_48px; 
  }
}
.icon-ic_chevron_down_black_24px {
  &:before {
    content: $icon-ic_chevron_down_black_24px; 
  }
}
.icon-ic_chevron_up_black_24px {
  &:before {
    content: $icon-ic_chevron_up_black_24px; 
  }
}
.icon-ic_arrow_backward_black_48px {
  &:before {
    content: $icon-ic_arrow_backward_black_48px; 
  }
}
.icon-ic_chevron_right_black_24px {
  &:before {
    content: $icon-ic_chevron_right_black_24px; 
  }
}
.icon-chech-in {
  &:before {
    content: $icon-chech-in; 
  }
}
.icon-extra {
  &:before {
    content: $icon-extra; 
  }
}
.icon-cutlery {
  &:before {
    content: $icon-cutlery; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-noun_677178 {
  &:before {
    content: $icon-noun_677178; 
  }
}
.icon-account-circle {
  &:before {
    content: $icon-account-circle; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.icon-fast {
  &:before {
    content: $icon-fast; 
  }
}
.icon-golf {
  &:before {
    content: $icon-golf; 
  }
}
.icon-ic_3d_rotation_black_24px {
  &:before {
    content: $icon-ic_3d_rotation_black_24px; 
  }
}
.icon-ic_access_time_black_18px {
  &:before {
    content: $icon-ic_access_time_black_18px; 
  }
}
.icon-ic_accessible_black_48px {
  &:before {
    content: $icon-ic_accessible_black_48px; 
  }
}
.icon-ic_add_black_24px {
  &:before {
    content: $icon-ic_add_black_24px; 
  }
}
.icon-ic_arrow_forward_black_18px {
  &:before {
    content: $icon-ic_arrow_forward_black_18px; 
  }
}
.icon-ic_attach_file_black_24px {
  &:before {
    content: $icon-ic_attach_file_black_24px; 
  }
}
.icon-ic_chevron_left_black_24px {
  &:before {
    content: $icon-ic_chevron_left_black_24px; 
  }
}
.icon-ic_child_friendly_black_24px {
  &:before {
    content: $icon-ic_child_friendly_black_24px; 
  }
}
.icon-ic_close_black_24px {
  &:before {
    content: $icon-ic_close_black_24px; 
  }
}
.icon-ic_compare_arrows_black_24px {
  &:before {
    content: $icon-ic_compare_arrows_black_24px; 
  }
}
.icon-ic_content_copy_black_24px {
  &:before {
    content: $icon-ic_content_copy_black_24px; 
  }
}
.icon-ic_delete_black_24px {
  &:before {
    content: $icon-ic_delete_black_24px; 
  }
}
.icon-ic_email_black_24px {
  &:before {
    content: $icon-ic_email_black_24px; 
  }
}
.icon-ic_file_download_black_24px {
  &:before {
    content: $icon-ic_file_download_black_24px; 
  }
}
.icon-ic_flight_black_24px {
  &:before {
    content: $icon-ic_flight_black_24px; 
  }
}
.icon-ic_flight_land_black_48px {
  &:before {
    content: $icon-ic_flight_land_black_48px; 
  }
}
.icon-ic_flight_takeoff_black_48px {
  &:before {
    content: $icon-ic_flight_takeoff_black_48px; 
  }
}
.icon-ic_hotel_black_48px {
  &:before {
    content: $icon-ic_hotel_black_48px; 
  }
}
.icon-ic_info_black_48px {
  &:before {
    content: $icon-ic_info_black_48px; 
  }
}
.icon-ic_insert_invitation_black_24px {
  &:before {
    content: $icon-ic_insert_invitation_black_24px; 
  }
}
.icon-ic_keyboard_arrow_down_black_18px {
  &:before {
    content: $icon-ic_keyboard_arrow_down_black_18px; 
  }
}
.icon-ic_language_black_24px {
  &:before {
    content: $icon-ic_language_black_24px; 
  }
}
.icon-ic_local_bar_black_48px {
  &:before {
    content: $icon-ic_local_bar_black_48px; 
  }
}
.icon-ic_local_cafe_black_48px {
  &:before {
    content: $icon-ic_local_cafe_black_48px; 
  }
}
.icon-ic_lock_black_48px {
  &:before {
    content: $icon-ic_lock_black_48px; 
  }
}
.icon-ic_menu_black_24px {
  &:before {
    content: $icon-ic_menu_black_24px; 
  }
}
.icon-ic_message_black_48px {
  &:before {
    content: $icon-ic_message_black_48px; 
  }
}
.icon-ic_mode_edit_black_24px {
  &:before {
    content: $icon-ic_mode_edit_black_24px; 
  }
}
.icon-ic_more_horiz_black_48px {
  &:before {
    content: $icon-ic_more_horiz_black_48px; 
  }
}
.icon-ic_notifications_active_black_24px {
  &:before {
    content: $icon-ic_notifications_active_black_24px; 
  }
}
.icon-ic_person_black_24px {
  &:before {
    content: $icon-ic_person_black_24px; 
  }
}
.icon-ic_phone_black_24px {
  &:before {
    content: $icon-ic_phone_black_24px; 
  }
}
.icon-ic_print_black_24px {
  &:before {
    content: $icon-ic_print_black_24px; 
  }
}
.icon-ic_restaurant_white_18px {
  &:before {
    content: $icon-ic_restaurant_white_18px; 
  }
}
.icon-ic_search_black_18px {
  &:before {
    content: $icon-ic_search_black_18px; 
  }
}
.icon-ic_security_black_24px {
  &:before {
    content: $icon-ic_security_black_24px; 
  }
}
.icon-ic_work_black_24px {
  &:before {
    content: $icon-ic_work_black_24px; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-noun_364 {
  &:before {
    content: $icon-noun_364; 
  }
}
.icon-noun_2318 {
  &:before {
    content: $icon-noun_2318; 
  }
}
.icon-noun_9626 {
  &:before {
    content: $icon-noun_9626; 
  }
}
.icon-noun_405062 {
  &:before {
    content: $icon-noun_405062; 
  }
}
.icon-noun_576051 {
  &:before {
    content: $icon-noun_576051; 
  }
}
.icon-noun_750565 {
  &:before {
    content: $icon-noun_750565; 
  }
}
.icon-noun_802811 {
  &:before {
    content: $icon-noun_802811; 
  }
}
.icon-noun_822493 {
  &:before {
    content: $icon-noun_822493; 
  }
}
.icon-noun_906677 {
  &:before {
    content: $icon-noun_906677; 
  }
}
.icon-noun_941767 {
  &:before {
    content: $icon-noun_941767; 
  }
}
.icon-noun_965566 {
  &:before {
    content: $icon-noun_965566; 
  }
}
.icon-noun_978690 {
  &:before {
    content: $icon-noun_978690; 
  }
}
.icon-noun_980885 {
  &:before {
    content: $icon-noun_980885; 
  }
}
.icon-noun_1016451 {
  &:before {
    content: $icon-noun_1016451; 
  }
}
.icon-noun_1033347 {
  &:before {
    content: $icon-noun_1033347; 
  }
}
.icon-noun_1034561 {
  &:before {
    content: $icon-noun_1034561; 
  }
}
.icon-noun_1066289 {
  &:before {
    content: $icon-noun_1066289; 
  }
}
.icon-noun_1168326 {
  &:before {
    content: $icon-noun_1168326; 
  }
}
.icon-noun_1204447 {
  &:before {
    content: $icon-noun_1204447; 
  }
}
.icon-noun_1294199 {
  &:before {
    content: $icon-noun_1294199; 
  }
}
.icon-noun_1311422 {
  &:before {
    content: $icon-noun_1311422; 
  }
}
.icon-noun_1376966 {
  &:before {
    content: $icon-noun_1376966; 
  }
}
.icon-noun_1386009 {
  &:before {
    content: $icon-noun_1386009; 
  }
}
.icon-plus-2 {
  &:before {
    content: $icon-plus-2; 
  }
}
.icon-reverse-2 {
  &:before {
    content: $icon-reverse-2; 
  }
}
.icon-reverse {
  &:before {
    content: $icon-reverse; 
  }
}
.icon-seat {
  &:before {
    content: $icon-seat; 
  }
}
.icon-task-in-time {
  &:before {
    content: $icon-task-in-time; 
  }
}

