$icomoon-font-family: "evelop-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-minus: '\e95c';
$icon-icono-dutyfree: '\e958';
$icon-icono-facturacionexpress: '\e959';
$icon-icono-menus: '\e95a';
$icon-icono-reverse: '\e95b';
$icon-icon-error: '\e957';
$icon-error-icon: '\e954';
$icon-warning-icon: '\e955';
$icon-ic_arrow_down_black_48px: '\e950';
$icon-ic_arrow_up_black_48px: '\e951';
$icon-ic_chevron_down_black_24px: '\e952';
$icon-ic_chevron_up_black_24px: '\e953';
$icon-ic_arrow_backward_black_48px: '\e94e';
$icon-ic_chevron_right_black_24px: '\e94f';
$icon-chech-in: '\e94c';
$icon-extra: '\e94d';
$icon-cutlery: '\e948';
$icon-facebook: '\e949';
$icon-instagram: '\e94a';
$icon-twitter: '\e94b';
$icon-noun_677178: '\e900';
$icon-account-circle: '\e901';
$icon-check: '\e902';
$icon-close: '\e903';
$icon-expand: '\e904';
$icon-fast: '\e905';
$icon-golf: '\e906';
$icon-ic_3d_rotation_black_24px: '\e907';
$icon-ic_access_time_black_18px: '\e908';
$icon-ic_accessible_black_48px: '\e909';
$icon-ic_add_black_24px: '\e90a';
$icon-ic_arrow_forward_black_18px: '\e90b';
$icon-ic_attach_file_black_24px: '\e90c';
$icon-ic_chevron_left_black_24px: '\e90d';
$icon-ic_child_friendly_black_24px: '\e90e';
$icon-ic_close_black_24px: '\e90f';
$icon-ic_compare_arrows_black_24px: '\e910';
$icon-ic_content_copy_black_24px: '\e911';
$icon-ic_delete_black_24px: '\e912';
$icon-ic_email_black_24px: '\e913';
$icon-ic_file_download_black_24px: '\e914';
$icon-ic_flight_black_24px: '\e915';
$icon-ic_flight_land_black_48px: '\e916';
$icon-ic_flight_takeoff_black_48px: '\e917';
$icon-ic_hotel_black_48px: '\e918';
$icon-ic_info_black_48px: '\e919';
$icon-ic_insert_invitation_black_24px: '\e91a';
$icon-ic_keyboard_arrow_down_black_18px: '\e91b';
$icon-ic_language_black_24px: '\e91c';
$icon-ic_local_bar_black_48px: '\e91d';
$icon-ic_local_cafe_black_48px: '\e91e';
$icon-ic_lock_black_48px: '\e91f';
$icon-ic_menu_black_24px: '\e920';
$icon-ic_message_black_48px: '\e921';
$icon-ic_mode_edit_black_24px: '\e922';
$icon-ic_more_horiz_black_48px: '\e923';
$icon-ic_notifications_active_black_24px: '\e924';
$icon-ic_person_black_24px: '\e925';
$icon-ic_phone_black_24px: '\e926';
$icon-ic_print_black_24px: '\e927';
$icon-ic_restaurant_white_18px: '\e956';
$icon-ic_search_black_18px: '\e928';
$icon-ic_security_black_24px: '\e929';
$icon-ic_work_black_24px: '\e92a';
$icon-mail: '\e92b';
$icon-noun_364: '\e92c';
$icon-noun_2318: '\e92d';
$icon-noun_9626: '\e92e';
$icon-noun_405062: '\e92f';
$icon-noun_576051: '\e930';
$icon-noun_750565: '\e931';
$icon-noun_802811: '\e932';
$icon-noun_822493: '\e933';
$icon-noun_906677: '\e934';
$icon-noun_941767: '\e935';
$icon-noun_965566: '\e936';
$icon-noun_978690: '\e937';
$icon-noun_980885: '\e938';
$icon-noun_1016451: '\e939';
$icon-noun_1033347: '\e93a';
$icon-noun_1034561: '\e93b';
$icon-noun_1066289: '\e93c';
$icon-noun_1168326: '\e93d';
$icon-noun_1204447: '\e93e';
$icon-noun_1294199: '\e93f';
$icon-noun_1311422: '\e940';
$icon-noun_1376966: '\e941';
$icon-noun_1386009: '\e942';
$icon-plus-2: '\e943';
$icon-reverse-2: '\e944';
$icon-reverse: '\e945';
$icon-seat: '\e946';
$icon-task-in-time: '\e947';



