// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LINK ICON
// ********************
//
// + Link-icon lg
//
// ********************


// + Link icon
// -------
.link-icon {
    .icon {
        @include font-size(24px);
        padding-right: 4px;
        vertical-align: middle;
    }
    .text {
        text-decoration: underline
    }
}


// + Link icon lg
// -------
.link-icon-lg {
    @extend .link-icon;
    .icon {
        @include font-size(40px);
    }
}
