// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE SEARCH
// ****************************************
//
//    + multiple search
//       + Multiple search nav tabs
//       + Multiple search tab content
//
// ****************************************

$ms-nav-size: 40px;

.multiple-search {
    @include container-wrap;
}
.multiple-search_nav {
    @include clearfix;
    padding-bottom: 14px;
}
.multiple-search_nav_item {
    display: inline-block;
    position: relative;
    width: $ms-nav-size;
    height: $ms-nav-size;
    text-align: center;
    color: $c-primary;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid $c-primary;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &:hover,
    &[aria-selected='true'] {
        color: #fff;
        border-color: $c-secondary;
        background-color: $c-secondary;
    }
}
[class^="multiple-search_nav_icon"] {
    @include font-size($f-size-md);
    display: block;
    line-height: ($ms-nav-size - 1);
}
.multiple-search_nav_icon {
    &--flights {
        @include iconfont($icon-airplane-right, before);
    }
    &--hotels {
        @include iconfont($icon-error-circle, before);
    }
    &--flightshotels {
        @include iconfont($icon-error-circle, before);
    }
}

.multiple-search_item {
    display: none;
    &.show {
        display: block;
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <= 768px
    .multiple-search_nav {
        padding-bottom: 32px;
        text-align: center;
    }
}
