// ********************
//  IBE COMPONENT
//
// ********************
//  DAY SELECTOR
// ********************
//
//  + States
//      selected, disabled, noflights, bestprice, soldout
//
// ********************

$dayselector-slide-border: $gray60;
$dayselector-slide-border-width: 2px;
$dayselector-text-color: $c-text;
$dayselector-slide-background: transparent;
$dayselector-slide-selected-color: $c-secondary;
$dayselector-slide-selected-background: #fff;

// hover
$dayselector-text--hover: $c-primary;
$dayselector-slide-background--hover: tint($c-primary,82%);

// prev-next
$dayselector-arrows-size: $f-size-xlg;
$dayselector-arrows-color: $c-color1;
$dayselector-arrows-color--hover: $dayselector-arrows-color;
$dayselector-arrows-background: #fff;

$dayselector-fontfamily: $f-title;

$dayselector-week-fontsize: $f-size;
$dayselector-week-fontsize-sm: $f-size - 2;
$dayselector-date-fontsize: $f-size-md;
$dayselector-price-color: $c-text;
$dayselector-price-fontsize: $f-size-md;
$dayselector-price-color--hover: $dayselector-text--hover;
$dayselector-bestprice-color: $c-secondary;

$dayselector-layout-padding: 14px;
$dayselector-slider-height: 114px;
$dayselector-slider-height-mobile: 124px;

$slider-control-width: 35px;
$slider-control-btn-position: 8px;

.dayselector {
    position: relative;
    margin: 0 -#{$gutter-sides};
    &::after { //## week selector background
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 12px;
        background: $c-color4;
        //height: calc(#{$dayselector-slider-height-mobile} - #{$dayselector-layout-padding});
        //background: $c-color3;
    }
}
.dayselector_slider {
    @include clearfix;
    z-index: $weekslider-zindex;
    position: relative;
    width: 100%;
    height: calculateRem($dayselector-slider-height-mobile);
    margin: 0;
    transition-duration: 0s;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    .slider {
        z-index: 2;
        display: flex;
        height: 100%;
        margin: auto;
        overflow: hidden;
    }
    .slide {
        $days: 3;
        position: relative;
        flex: 0 0 auto;
        width: calc(100% / #{$days});
        min-width: 90px;
        max-width: 192px;
        height: 100%;
        box-sizing: border-box;
        &:hover {
            .slide-item {
                color: $dayselector-text--hover;
                .dayselector_price {
                    color: $dayselector-price-color--hover;
                }
            }
        }
        &.disabled,
        &.selected.disabled {
            .slide-item {
                color: $c-text-lighten;
                cursor: default;
                pointer-events: none;
                .dayselector_price {
                    color: $c-text-lighten;
                }
            }
            &:hover {
                .slide-item {
                    color: $c-text-lighten;
                }
            }
        }
        &.selected {
            &::after { //## arrow down when day is selected
                content: "";
                width: 100%;
                height: 12px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $c-secondary;
            }
            &.disabled {
                &:hover {
                    .slide-item {
                        color: $c-text-lighten;
                    }
                }
            }
            .slide-item {
                z-index: 2;
                margin-left: 0;
            }
        }
        &.day_bestprice {
            &:hover {
                .slide-item {
                    .dayselector_price {
                        color: $dayselector-bestprice-color;
                    }
                }
            }
        }
        &:nth-child(3),
        &:last-child {
            .slide-item::after { display: none; }
        }
    }
    .slide-item {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        white-space: nowrap;
        color: $dayselector-text-color;
        text-decoration: none;
        padding: 12px 6px;
        margin-left: 1px;
        box-sizing: border-box;
        cursor: pointer;
        transform: all .06s linear;
        &:focus {
            @include accessibility-outline;
            outline-offset: -3px;
        }
    }
    .slider_control_btn {
        display: none;
        @include font-size($f-size-md);
        z-index: $weekslider-nav-zindex;
        position: absolute;
        top: 0;
        width: $slider-control-width;
        height: calc(#{$dayselector-slider-height-mobile} - #{$dayselector-layout-padding});
        color: $dayselector-arrows-color;
        text-decoration: none;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: $dayselector-arrows-color--hover;
        }
        &:focus {
            @include accessibility-outline;
            outline-offset: -2px;
        }
        &.prev {
            @include iconfont($pbicon-arrow-left,before);
            left: 0;
            justify-content: flex-start;
        }
        &.next {
            @include iconfont($pbicon-arrow-right,before);
            right: 0;
            justify-content: flex-end;
        }
    }
}
.dayselector_date {
    @include font-size($dayselector-week-fontsize-sm);
    position: relative;
    z-index: 2;
    display: block;
    .year,
    .month,
    .week,
    .date {
      line-height: 1.4;
    }
    .week,.date { display: block; }
}
.dayselector_price {
    z-index: 2;
    display: inline-block;
    line-height: 1.2;
    margin-top: 7px;
    .price_currency {
        @include font-size(20px);
    }
}


// [Responsive]
@media #{$mobile} { // >=640px
    .dayselector {
        margin: 0;
    }
    .dayselector_date {
        @include font-size($dayselector-week-fontsize);
    }
    .dayselector_price {
        .price_currency {
            @include font-size(22px);
        }
    }
    .dayselector_slider {
        height: calculateRem($dayselector-slider-height);
        .slider {
            width: calc(100% - (#{$slider-control-width} * 2));
            height: calculateRem($dayselector-slider-height);
        }
        .slide {
            $days: 5;
            width: calc(100% / #{$days});
            max-width: 189px;
            min-width: 90px;
            &:nth-child(3) {
                .slide-item::after { display: block; }
            }
            &:nth-child(5) {
                .slide-item::after { display: none; }
            }
        }
        .slider_control_btn {
            @include font-size($dayselector-arrows-size);
            display: flex;
            height: calc(#{$dayselector-slider-height} - #{$dayselector-layout-padding});
            &.prev, &.next {
                &::before {
                    position: relative;
                }
            }
            // &.prev {
            //     &::before {
            //         left: -6px;
            //     }
            // }
            // &.next {
            //     &::before {
            //         right: -6px;
            //     }
            // }
        }
    }
}
@media #{$tablet-portrait} { // >=768px
    .dayselector_options { display: block; }
}
@media #{$tablet-landscape} { // >=992px
    .dayselector_slider {
        .slide {
            $days: 7;
            width: calc(100% / #{$days});
            max-width: 162px;
            &:nth-child(5) {
                .slide-item::after { display: block; }
            }
            &:nth-child(7) {
                .slide-item::after { display: none; }
            }
        }
    }
}