// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FOOTER
// ****************************************
//
//    + Main footer container
//    + Main footer
//    + Logo
//    + Navigation
//    + Social media
//    + Newsletter
//    + Fly programs
//    + Footer copyright section
//    + Copyright
//    + Language bar
//
//    [Responsive]
//
// ****************************************


// + Variables
// -------
$main-footer_row-gap: 9px; // bottom copyright top separation
$main-footer_row-gap-up: 16px; // upper divider line separation
$main-footer_row-gap-down: 24px; // under divider line separation
$main-footer_row-separator: 1px solid rgba($c-secondary, .25); // separatin line

// + Main footer container
// -------
.main-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 0 ($main-header-mobile-height + 24px);
	background-color: $mainfooter-background;
	color: #fff;
	h2 {
		text-transform: uppercase;
	}
}
// + Main footer content
// -------
.main-footer_content {
	@include container-wrap;
	display: grid;
	grid-template-columns: 1fr;
}

// + Logo
// -------
.main-footer_logo {
	grid-column: 1;
	grid-row: 1;
	margin-bottom: 12px;
	text-align: left;
	.logo {
		display: inline-block;
		width: 110px;
		margin-top: 3px;
		img {
			width: 100%;
		}
	}
}


// + Navigation
// -------
.main-footer_nav {
	grid-row: 2;
	display: flex;
	flex-wrap: wrap;
	margin: 0 (-$gutter-sides);
	padding: 0 0 $main-footer_row-gap-down;
	color: #fff;
	a {
		color: inherit;
		text-decoration: none;
	}
	li {
		line-height: 1.2;
		a {
			display: inline-block;
			padding: 5px 0;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.main-footer_nav-title {
	margin: 0 0 4px;
	@include font-size($f-size-md);
	font-weight: 500;
	color: $c-secondary;
	text-transform: uppercase;
}
.main-footer_nav-column {
	margin: 0 $gutter-sides $gutter-sides;
}


// + Social media
// -------
.main-footer_socialmedia {
	grid-column: 1;
	grid-row: 4;
	margin: 4rem 0 2rem;
	text-align: center;
}

// + Newsletter
// -------
.main-footer_newsletter {
	grid-column: 1;
	grid-row: 3;
}


// + Fly programs
// -------
// .fly-programs {}
// .fly-programs_item {}


// + Footer bottom section
// -------
// .main-footer_bottom {}
.main-footer_bottom_content {
	@include container-wrap;
	@include font-size($f-size-sm);
	margin-top: $main-footer_row-gap;
	text-align: center;
	line-height: 2;
	.ui-dropdown {
		display: inline-block;
	}
	.copyright,
	.poweredby {
		display: block;
		margin: 0 .25rem;
	}
	.poweredby_logo {
		font-weight: 700;
		display: inline-block;
		width: calculateRem(66px);
		margin-left: 1px;
		.logo{
			img {
				margin-bottom: -2px;
			}
		}
	}
}

// + Language bar
// -------
// .main-footer_language-bar {}

// [Responsive]
@media #{$mobile-sm} {
	.main-footer_bottom_content {
		display: flex;
		justify-content: center;
		align-items: center;
		.copyright {
			position: relative;
			margin: 0 11px 0 0;
			padding: 0 14px 0 0;
			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: calculateRem(5px);
				width: 2px;
				height: calculateRem(21px);
				background-color: $c-secondary;
			}
		}
		.poweredby {
			margin: 0;
		}
	}
}
@media #{$tablet-portrait} {
	.main-footer {
		padding: 27px 0 24px;
	}
	.main-footer_content {
		grid-template-columns: 1fr 1fr 1fr calculateRem(270px);
	}
	.main-footer_logo {
		grid-column: 3 / span 2;
		grid-row: 2;
		padding: $main-footer_row-gap-up 0 0;
		border-top: $main-footer_row-separator;
		text-align: right;
	}
	.main-footer_nav {
		grid-column: 1 / span 3;
		grid-row: 1;
	}
	.main-footer_nav-column {
		margin: 0 $gutter-sides;
		& + & {
			padding-left: 3%;
		}
	}
	.main-footer_socialmedia {
		grid-column: 1 / span 2;
		grid-row: 2;
		margin: 0;
		padding: $main-footer_row-gap-up 0 0;
		text-align: left;
		border-top: $main-footer_row-separator;
	}
	.main-footer_newsletter {
		grid-column: 4;
		grid-row: 1;
		padding: 0 0 $main-footer_row-gap-down;
	}
}
@media #{$tablet-landscape} {
	.main-footer_nav-column {
		margin: 0 $gutter-sides;
		& + & {
			padding-left: 7.3%;
		}
	}
}
