{#
    DOCUMENTATION:
    callCenter: {
        VARIABLES
        label?: string
        content?: string // html string repesentation slot
    }

    EXAMPLE
    {% set callCenter = mainHeader.callCenter %}
    {% include "partials/components/_call-center.njk" %}
#}

{# <ibe-call-center>
    <div class="call-center">
        {% if callCenter.header %}

        {% endif %}
        {% if callCenter.label %}
            <div class="call-center_label">
                <span class="call-center_label_text">{{ callCenter.label }}</span>
            </div>
        {% endif %}
        {% if callCenter.content %}
            <div class="call-center_content">
                {% if callCenter.content.header.title %}
                    <div class="call-center_content_header">
                        <span class="call-center_content_header_title">{{ callCenter.content.header.title }}</span>
                    </div>
                {% endif %}
                {% if callCenter.content.body.html %}
                    <div class="call-center_content_body">
                        {{ callCenter.content.body.html | safe }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</ibe-call-center> #}

<ibe-call-center>
    <div class="call-center">
        <div class="call-center_trigger">
            <button class="call-center_trigger_button">
                <span class="call-center_trigger_button_text">{{ callCenter.label }}</span>
            </button>
        </div>
        <div class="call-center_content">
            <div class="call-center_content_head">
                <span class="call-center_content_head_icon"></span>
                <span class="call-center_content_head_title" aria-hidden="true">
                    {{ callCenter.content.header.title }}
                </span>
                <button class="call-center_content_head_close-button"></button>
            </div>
            <div class="call-center_content_body">
                {{ callCenter.content.body.html | safe }}
            </div>
        </div>
    </div>
</ibe-call-center>