{#
    DOCUMENTATION:
    {% set topbar = {
        MODIFIERS:
        isTopTitleBar: true,                // if it is just a title bar
        topTitleBarHasButton: true,         // if has has button

        VARIABLES:
        buttonLabel: 'Button text label',   // button label
        buttonUrl: '',                      // button onclick url
        icon: 'mmb',                        // if has icon (goes by css)
        title: 'Manage my booking',
        subtitle: 'Hong Kong - Kumming'
    } %}

    EXAMPLE:
    {% set topbar = {
        isTopTitleBar: true,
        icon: 'check-in',
        title: 'Check in',
        hasLateralSummary: boolean // add summary bar to right side
    } %}
    {% set summary = {
        isEmptySummary: true,
        nextButtonUrl: 'BF-MMB_home.html'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}
#}

<flight-summary-container>
    <div class="combined_summary_wrapper">
        <div class="combined_summary_bar{% if not topbar.isTopTitleBar %} is-searchresult{% endif %}">
            <div class="combined_summary_bar-left">
            {% if topbar.isTopTitleBar %}
                <div class="left">
                    <div class="titlebar{% if topbar.icon %} titlebar-icon-{{topbar.icon}}{% endif %}">
                        <h2 class="title">{{topbar.title}}</h2>
                        {% if topbar.subtitle %}
                            <h3 class="subtitle">{{topbar.subtitle}}</h3>
                        {% endif %}
                    </div>
                </div>
                {% if topbar.topTitleBarHasButton %}
                    <div class="right">
                        <button class="combined_summary_bar_button button"
                            onclick="location.href='{{topbar.buttonUrl}}'">
                            {{topbar.buttonLabel}}
                        </button>
                    </div>
                {% endif %}
            {% else %}
                {% include "partials/components/IBE/_search_result.njk" %}
                {% if BFstep1 %}
                    <div class="right">
                        <button class="combined_summary_bar_button button"
                            data-toggle="collapse"
                            data-target="#collapseNewSearch"
                            aria-expanded="false"
                            aria-controls="collapseNewSearch">
                            {{ editSearchButtonText | default('Change search') }}
                        </button>
                    </div>
                {% endif %}
            {% endif %}
            </div>
            {# support payment when have summary in right #}
            {% if not isSummaryAside | default(false) %}
                <div class="combined_summary_bar-right">
                    {% include "partials/components/IBE/summary/_summary.njk" %}
                </div>
            {% endif %}
        </div>
    </div>
</flight-summary-container>
