{#
    DOCUMENTATION:
    dataInfo = {
        VARIABLES
            label: 'string' // first input top label
            value: 'string' // second input top label
    }

    EXAMPLE
    {% set dataInfo = {
        label: 'Expiry date',
        value: '21 Feb 2019'
    } %}
    {% include "partials/components/_data-info.njk" %}
#}

<div class="data-info">
    {{ dataInfo.label }}
    <span class="value">{{ dataInfo.value }}</span>
</div>