{#
    DOCUMENTATION
    featuredLinks = {
        VARIABLES
            items: [
                {
                    text: 'string' // item text caption
                    href: 'string' // item link
                }
            ]
    }

    EXAPLE
    {% set featuredLinks = {
        items: [
            { text: 'Latest promotions' },
            { text: 'Help' },
            { text: 'Contact us' }
        ]
    } %}
    {% include "partials/components/_featured_links.njk" %}
#}

<div class="featured-links">
    <ul>
    {% for item in featuredLinks.items %}
        <li class="item">
            <a href="{{ item.href | default('#') }}">{{ item.text }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
