{#
    DOCUMENTATION:
    iconLink = {
        VARIABLES:
        icon: 'string' // font icon prefixer
        text: 'string' // caption text
        iconSize: 'string' // 24px (default), 40px (lg)
    }

    EXAMPLE:
    {% set iconLink = {
        icon: 'printer',
        text: 'Print all Boarding Passes',
        iconSize: 'lg'
    } %}
    {% include "partials/components/_icon-link.njk" %}
#}

<div class="link-icon{% if iconLink.iconSize %}-{{ iconLink.iconSize }}{% endif %}">
    <a role="button">
        {% if iconLink.icon %}
            <span class="icon icon-{{ iconLink.icon }}"></span>
        {% endif %}
        {% if iconLink.text %}
            <span class="text">{{ iconLink.text }}</span>
        {% endif %}
    </a>
</div>