{#
    DOCUMENTATION:
    labelIcon: {
        VARIABLES:
        label: 'string' // text caption
        icon: 'string' // top icon image
        url: 'string' not required
        hasModal: 'json' add modal
    }

    EXAMPLE:
    {% set labelIcons = [
        {
            icon: 'mascota2',
            title: 'Animales',
            label: 'Ofrecemos transportar tu mascota por carga para que lo lleves a pasear por cualquiera de nuestros destinos',
            url: "#",
            hasModal: {
                id: "modalexample_modal1"
            }
        }
    ] %}
    {% include "partials/components/_label-icon.njk" %}
#}

<div class="label-icon">
    {% for labelIcon in labelIcons.items %}
        <div class="label-icon_item">
            <{% if labelIcon.url | length or labelIcon.hasModal | length %}a{% if labelIcon.hasModal | length %} data-toggle="modal" data-target="#{{labelIcon.hasModal.id}}"{% else %} href="{{ labelIcon.url}}"{% endif %}{% else %}div{% endif %} class="label-icon_item-wrap">
                {% if labelIcon.icon | length %}
                    <span class="icon icon-{{ labelIcon.icon }}"></span>
                {% endif %}
                {% if labelIcon.title | length %}
                    <span class="title">{{ labelIcon.title }}</span>
                {% endif %}
                <span class="label">{{ labelIcon.label | default('default text') }}</span>
            </{% if labelIcon.url | length or labelIcon.hasModal | length %}a{% else %}div{% endif %}>
        </div>
    {% endfor %}
</div>