{#
    DOCUMENTATION:
    linksGroup: {
        VARIABLES:
        icon: 'string'
        title: 'string'
        url: 'string' not required
        hasModal: 'json' add modal
    }

    EXAMPLE:
    {% set linksGroup = {
        items: [
            {
                icon: 'documento_legal',
                title: 'Oficinas',
                url: "#",
                hasModal: {
                    id: "links_group_modal1"
                }
            },
            {
                icon: 'documento_legal',
                title: 'Contacto',
                url: "#",
                hasModal: {
                    id: "links_group_modal2"
                }
            }
        ]
    } %}
    {% include "partials/components/_links-group.njk" %}
#}

<div class="links-group">
    <ul>
        {% for item in linksGroup.items %}
            <li class="links-group_item">
                <{% if item.url | length or item.hasModal | length %}a{% if item.hasModal | length %} data-toggle="modal" data-target="#{{item.hasModal.id}}"{% else %} href="{{ item.url}}"{% endif %}{% else %}div{% endif %} class="links-group_item-link">                
                    {% if item.icon | length %}
                        <span class="icon icon-{{ item.icon }}"></span>
                    {% endif %}
                    {% if item.title | length %}
                        <span class="text">{{ item.title }}</span>
                    {% endif %}
                </{% if item.url | length or item.hasModal | length %}a{% else %}div{% endif %}>
                {% if labelIcon.hasModal | length %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>