{#
    DOCUMENTATION
    showDocumentationCodePanel: // render code example extra div
    clases: string[] // modifier classes
    items: Object[
        text: string // <li> text caption
    ]

    set list = {
        VARIABLES
            items [
                {
                    left: 'string'  // left align colum
                    value: 'string' // default (left) or middle colum
                    right: 'string' // right align column
                }
            ]
        MODIFIERS
            clases: string[] // modifying clases
            [available modifiers]
            list-line: 'draws a line between each list item and extends the height dimention'
    }

    EXAMPLE
    {% set list = {
        clases: [
            'list-line'
        ],
        items: [
            {
                left: 'Departure',
                right: passengers[2].departure
            },
            {
                left: 'Ufly-Pass-Holder',
                right: passengers[2].firstName + ' ' + passengers[2].firstName
            },
            {
                left: 'Email address',
                right: passengers[2].email
            },
            {
                left: 'Sign-Up reference',
                right: passengers[2].signUpReference
            }
        ]
    } %}
    {% include "partials/components/_list.njk" %}
#}
{# <ul{% if list.clases %} class="{% for class in list.clases %}{{ class }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}>
    {% for item in list.items %}
        <li{% if item.clases %} class="{% for class in list.clases %}{{ class }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}>
            {{ item.text }}
        </li>
    {% endfor %}
</ul> #}

<ul class="list{% for class in list.clases %} {{ class }}{% endfor %}">
    {% for item in list.items %}
        <li class="list_item">
            {% if item.left %}
                <span class="left">{{ item.left }}</span>
            {% endif %}
            {% if item.value %}
                <span class="value">{{ item.value }}</span>
            {% endif %}
            {% if item.right %}
                <span class="right">{{ item.right }}</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if list.showDocumentationCodePanel %}
<div class="col">
    <div class="code-panel">
        <pre>
            <code class="html">
&lt;ul{% if list.clases %} class="{% for class in list.clases %}{{ class }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}&gt;
    {% for item in list.items %}&lt;li{% if item.clases %} class="{% for class in list.clases %}{{ class }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}&gt;{{ item.text }}&lt;/li&gt;
    {% endfor %}
&lt;/ul&gt;
            </code>
        <pre>
    </div>
</div>
{% endif %}
