
{#
    DOCUMENTATION
    offer: {
        VARIABLES
        image: "destinations/destination-img1.jpg",
        title: 'Find great accommodation',
        caption: "Great accommodation awaits you wherever you go",
        buttonUrl: "",
        button: 'Explore'

        MODIFIERS
        fullLink: 'string', // set offer as full anchor container
        isOfferDeal: true,
    }

    EXAMPLE
    {% set offer = {
        isOfferDeal: true,
        fullLink: '#',
        image: "destinations/destination-img1.jpg",
        title: 'Find great accommodation',
        caption: "Great accommodation awaits you wherever you go",
        buttonUrl: "",
        button: 'Explore'
    } %}
    {% include "partials/components/_offers_item.njk" %}
#}

{% if offer.fullLink %}
    <a class="offer" href="{{ offer.fullLink }}">
{% else %}
    <div class="offer{% if offer.isOfferDeal %} offer-deal{% endif %}">
{% endif %}
    {# OFFERS WITH BACKGROUND AND LOGO IMAGE #}
    {% if offer.image %}
        <div class="offer_image{% if (offer.imageTitle == blank) and (offer.imageBrand == blank) %} is-banner{% endif %}">
            {% if (offer.imageTitle | length) or (offer.imageBrandLight | length) or (offer.imageBrand | length) %}
            <div class="offer_image_caption">
                {% if offer.imageTitle | length %}<div class="offer_image_title">{{offer.imageTitle}}</div>{% endif %}
                {% if (offer.imageBrandLight | length) or (offer.imageBrand | length) %}
                <div class="offer_image_brand">
                    {% if offer.imageBrandLight | length %}<img class="brand-light" src="{{ project_assets_path }}imgs/offers/{{offer.imageBrandLight}}" alt="" />{% endif %}
                    {% if offer.imageBrand | length %}<img class="brand" src="{{ project_assets_path }}imgs/offers/{{offer.imageBrand}}" alt="" />{% endif %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="offer_image_bg js-objectfit-helper">
                <picture>
                    <source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 1200px)" />
                    <source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 1025px)" />
                    <source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 640px)" />
                    <source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 481px)" />
                    <img src="{{project_assets_path}}imgs/{{offer.image}}" alt="{{offer.caption}} - book now" />
                </picture>
            </div>
        </div>
    {% endif %}

    {# OFFERS WITH ICON #}
    {% if offer.icon %}
        <span class="offer_icon icon-{{offer.icon}}"></span>
    {% endif %}

    {# OFFERS TITLE #}
    {% if offer.title %}
        <h2 class="offer_title">{{ offer.title }}</h2>
    {% endif %}

    {# OFFERS CAPTION (TEXT) #}
    {% if offer.caption | length %}
        <p class="offer_caption">
            {{offer.caption | safe}}
        </p>
    {% endif %}

    {# OFFERS BUTTON READ MORE #}
    {% if offer.button %}
        <{% if offer.fullLink %}span{% else %}a href="{{ offer.buttonUrl }}"{% endif %} class="show-more_link">{{ offer.button }}</a>
    {% endif %}
{% if offer.fullLink %}
    </a>
{% else %}
    </div>
{% endif %}
