{#
    DOCUMENTATION
    pageButtons = {
        VARIABLES
            actionButtonLabel: 'string'
            actionButtonUrl: 'string'
            secondaryButtonLabel: 'string'
            secondaryButtonUrl: 'string'
            primaryButtonLabel: 'string'
            primaryButtonUrl: 'string'
        MODIFIERS
            isCentered: true // align buttons to center, add center modifier class
            actionButtonIsDisabled: true // align buttons to center, add center modifier class
            isMobileFixed: true // only in mobile add fixed bottom nav with button
    }
        EXTERNAL MODIFIERS
        {% set summary = {
            isEmptySummary: false, // if isEmptySummary false - responsive action button goes to fixed bottom summary
            nextButtonUrl: 'BF-payment' + urlExtension | default('.html')
        } %}


    EXAMPLE
    {% set summary = {
        isEmptySummary: false, // hide in mobile
        nextButtonUrl: 'BF-payment' + urlExtension | default('.html')
    } %}
    {% set pageButtons = {
        actionButtonLabel: 'Button label',
        actionButtonUrl: 'index' + urlExtension | default('.html'),
        secondaryButtonLabel: 'Button label',
        secondaryButtonUrl: 'index' + urlExtension | default('.html'),
        primaryButtonLabel: 'index' + urlExtension | default('.html'),
        primaryButtonUrl: 'index' + urlExtension | default('.html')'
    } %}
    {% include "partials/components/_page_buttons.njk" %}
#}
<button-container>
    <div class="page_buttons{% if pageButtons.isCentered %} center{% endif %}{% if pageButtons.isMobileFixed %} mobile-fixed{% endif %}">
        {% if pageButtons.secondaryButtonLabel %}
            <button class="page_button-secondary button btn-secondary" onclick="window.location.href='{{pageButtons.secondaryButtonUrl}}'">
                {{pageButtons.secondaryButtonLabel}}
            </button>
        {% endif %}
        {% if pageButtons.actionButtonLabel %}
            <button onclick="window.location.href='{{pageButtons.actionButtonUrl}}'"
                {% if pageButtons.actionButtonIsDisabled %}disabled="disabled"{% endif %}
                class="page_button-action button btn-action{% if summary.actionButton | default(false) %} page_button-summary{% endif %}">
                {{pageButtons.actionButtonLabel}}
            </button>
        {% endif %}
        {% if pageButtons.primaryButtonLabel %}
            <button onclick="window.location.href='{{ pageButtons.primaryButtonUrl }}'"
                class="page_button-primary button btn-primary{% if summary.actionButton | default(false) %} page_button-summary{% endif %}">
                {{ pageButtons.primaryButtonLabel }}
            </button>
        {% endif %}
        {% if pageButtons.mobileFixedLabel %}
            <span class="mobile-fixed_label">
                {{SHARED.currency}}
                <span class="value">{{ pageButtons.mobileFixedLabel }}</span>
            </span>
        {% endif %}
    </div>
</button-container>
