{#
    DOCUMENTATION:
    page_title: {
        VARIABLES:
        text: string // title caption
        type: string // h2 (default), h3, h4, h5
        class: string
        subtitle: string // subtitle inside of h2, h3, h4 0 h5
        subtitle_class: string
        id: string // add id attribute in hx tag, useful to bind internal anchors 
        MODIFFIERS:
        isCorporative: boolean // set context-hx class as corp standar
        color: string // class color of heading.scss
    }

    EXAMPLE:
    {% set page_title = {
        text: 'Agent Report',
        type: 'h2',
        class: 'h3',
        isCentered: boolean // align text to center
    } %}
    {% include "partials/components/_page_title.njk" %}
#}

<{{page_title.type | default(page_title.class | default('h1'))}} class="{% if page_title.isCorporative %}context{% else %}title{% endif %}-{{ page_title.class | default(page_title.type | default('h1'))}}{% if page_title.isCentered %} text-center{% endif %}{% if page_title.color %} {{ page_title.color }}{% endif %}"{% if page_title.id %} id="{{ page_title.id }}"{% endif %}>
    <span class="title-inner">
        {{page_title.text}}
    </span>
    {% if page_title.subtitle %}
        <span class="title-{{ page_title.subtitle_class | default(page_title.class)}} {{ page_title.color }}">{{ page_title.subtitle }}</span>
    {% endif %}
</{{page_title.type}}>
