<div class="product-card carousel_item{% if product.active %} active{% endif %}">
    <div class="product-card_image">
        {% if product.image | length %}
        <img src="{{ project_assets_path }}imgs/meals/{{product.image}}" alt="{{product.name}} image">
        {% else %}
        <span class="noimage" aria-hidden="true"></span>
        {% endif %}
        {% if product.promo %}
            <span class="promo-label">{{product.promo}}</span>
        {% endif %}
    </div>
    <h3 class="product-card_title">
        {{product.name | truncate(68)}}
        {% set tooltip = {
            text: 'For a refreshing option, try our Japanese Cold Bento! Serve chilled, this bento set includes a Tofu & Okra Salad, Cold Soba and a piping hot miso soup. Complete your meal with a creamy Japanese cheesecake for a perfectly balanced meal.',
            srText: 'more information',
            placement: 'left'
        } %}
        {% include "partials/ui-elements/_tooltip.njk" %}
    </h3>
    <div class="product-card_footer">
        <div class="product-card_price">
            <p class="label">Price:</p>
            <p class="value">{{SHARED.currency}} {{product.price}}</p>
        </div>
        <div class="product-card_button">
            <button class="button btn-secondary">
                add{% if product.active %}ed{% endif %}
            </button>
        </div>
    </div>
</div>
