<div class="search-filters-form">
    <form>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Booking reference',
                placeholder: '',
                name: 'bookingReference',
                id: 'bookingReference',
                icon: 'search'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Booking dates',
                groupId: 'bookingDates',
                placeholder: 'Outbound',
                icon: 'calendar-month',
                id: 'outbound',
                placeholder1: 'Return',
                id1: 'return'
            } %}
            {% set inputIsMultiple = true %}
            {% set inputIsMultipleWithIcon = true %}
            {% include "partials/ui-elements/_input_text.njk" %}
    
            {% set inputIsMultiple = false %}
            {% set inputIsMultipleWithIcon = false %}
        </div>
        <div class="ui-form_group">
            {% set inputForm = {
                label: 'Guest name',
                placeholder: '',
                name: 'guestName',
                id: 'guestName',
                icon: 'search'
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="ui-form_group">
            <p class="switch_label">Booking on hold</p>
            {% set switch = {
                checked: true
            } %}
            {% include "partials/ui-elements/switch/_switch.njk" %}
        </div>
        <div class="ui-form_group buttons">
            <button class="button btn-primary">Export to csv</button>
            <button class="button btn-primary">Search flights</button>
        </div>
    </form>
</div>
