{% set labelIcons = {
    items: [
        {
            icon: 'airplane-flight',
            title: 'Fly More',
            label: 'Book flights with Promo fare up to 6 hours before everyone else.'
        },
        {
            icon: 'promotion_airplane',
            title: 'Save More',
            label: 'Get exclusive promotions on flights & add-on services like free seat upgrades.'
        },
        {
            icon: 'users_three',
            title: 'Share More',
            label: 'Enjoy the benefits with everyone in your booking.'
        }
    ]
} %}
{% include "partials/components/_label-icon.njk" %}

<ul class="list-style1 condensed">
    <li>Book flights conveniently with market leading low-fares</li>
    <li>Pre-book seats, including our Sweet Seats with extra leg room, in advance for your guests </li>
    <li>Enjoy the flexibility of “Manage My Booking"</li>
    <li>Purchase different types of baggage depending on guest needs</li>
    <li>Easy payment with one of the many payment options provided</li>
    <li>Manage your account</li>
    <li>Subscribe our HK Express Newsletter and be the first to find out about our promotions</li>
</ul>

<p>You are only a few steps away from becoming one of our registered Agents! All you have to do is <a href="#">download and fill in this form</a> and send back to <a href="mailto:hke-sales@hkexpress.com">hke-sales@hkexpress.com</a> and our professional Sales Team will contact you within 5 working days.</p>