{#
    DOCUMENTATION:
    webSearch: {
        VARIABLES
        MODIFIERS
        isOpen?: boolean // add is-open class modifier to show search input field
    }

    EXAMPLE
    {% include "partials/components/_web-search.njk" %}
#}

<ibe-web-search>
    <div class="web-search{% if webSearch.isOpen %} is-open{% endif %}">
        <div class="web-search_container">
            <div class="web-search_input">
                {% set inputForm = {
                    label: 'Web search',
                    name: 'web-search',
                    id: 'web-search',
                    placeholder: 'Search'
                } %}
                {% include "partials/ui-elements/_input_text.njk" %}
            </div>
            <div class="web-search_trigger">
                <button class="web-search_trigger_button"></button>
            </div>
            <div class="web-search_cancel">
                <button class="web-search_cancel-button" aria-label="close search"></button>
            </div>
        </div>
    </div>
</ibe-web-search>