{#
    switch = {
        VARIABLES
        label: string,
        checked: boolean // is checked ?
    }

    EXAMPLE
    {% set switch = {
        checked: true
    } %}
    {% include "partials/ui-elements/switch/_switch.njk" %}
#}
<label for="{{switch.id}}" class="switch{% if switch.readonly === true %} is-readonly{% endif %}">
    {% if switch.label %}
        <span class="switch_label">{{ switch.label }}</span>
    {% endif %}
    <span class="switch_input">
        <input type="checkbox"
            {% if switch.checked === true %} checked="checked" class="is-checked"{% endif %} 
            aria-checked="{% if switch.checked === true %}true{% else %}false{% endif %}"
            {% if switch.readonly === true %} tabindex="-1"{% endif %}
            id="{{switch.id}}" />
        <span class="switch_slider"></span>
    </span>
</label>
