{#
    switchSlider = {
        VARIABLES
        checked: boolean // is checked ?
    }

    EXAMPLE
    {% set switchSlider = {
        options: [
            {
                checked: true,
                label: string,
                id: string,
                name: string
            },
            {
                checked: false,
                label: string,
                id: string,
                name: string
            }
        ]
    } %}
    {% include "partials/ui-elements/switch/_switch-slider.njk" %}
#}

<div class="switch-slider">
    {% for item in switchSlider.options %}
    <label for="{{item.id}}" class="switch-slider_option{% if item.checked %} is-checked{% endif %}">
        <input type="radio"{% if item.checked %} checked{% endif %} name="{{item.name}}" id="{{item.id}}"{% if item.checked %} class="is-checked"{% endif %} />
        <div class="switch-slider_label">{{item.label}}</div>
    </label>
    {% endfor %}
    <span class="switch-slider_background"></span>
</div>