// ****************************************
//  UTILS
//
// ****************************************
//  HELPERS
// ****************************************
//
//    + GRID CONTAINERS
//
//    + Hide visually (for screen readers)
//    + Aria-hidden = true (collapse)
//    + Overlay
//    + Collapse trigger (with arrow)
//    + Input Focused (with arrow)
//    + Text-align
//    + Disabled state
//    + Object fit browsers compatibility
//
// ****************************************

//## Hides an element visually while still allowing
//## the content to be accessible to assistive technology,
//## e.g. screen readers
.hide-visually {
	@include hide-visually;
}

[data-dropdown='menu'][aria-hidden='true'] {
	display: none;
}

// + Overlay
// -------
@mixin overlay-style() {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: $overlay-background;
	opacity: 0;
	transition: .2s ease-in;
	z-index: -1;
}
@mixin overlay-in() { //## class overlay should goes on body
	overflow: hidden;
	.ui-overlay {
		@include overlay-style;
		z-index: $overlay-zindex;
		position: fixed;
		top: 0;
		left: 0;       
		width: 100%;
		height: 100%;
		opacity: 1;
	}
}
.ui-overlay {
	@include overlay-style();
}
.overlay-in {
	@include overlay-in;
}
@media #{$until-tablet-portrait} { // <=768px
	.overlay-in-md {
		@include overlay-in;
	}
}
@media #{$until-mobile} { // <=640px
	.overlay-in-sm {
		@include overlay-in;
	}
	.overlay-in-header {
		@include overlay-in;
	}
}

//## when modal is also open
// .overlay-in,
// .overlay-in-md,
// .overlay-in-sm {
//     &.modal-open {
//         .ui-overlay {
//             opacity: 0 !important;
//             z-index: -1 !important;
//         }
//     }
// }

// + Text colors
// -------
.text-primary { color: $c-primary; }
.text-secondary { color: $c-secondary; }
.text-color1 { color: $c-color1; }
.text-color2 { color: $c-color2; }

// + Text align
// -------
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// + Text styles
// -------
.text-uppercase { text-transform: uppercase; }
.text-underline { text-decoration: underline; }
.text-nounderline { text-decoration: none; }
.word-break { word-break: break-all; }

// + Padding
// -------
.pad-top { padding-top: $default-pad; }
.pad-bottom { padding-top: $default-pad; }

// + Icons sizes
// -------
.icon-size-sm { @include font-size($f-iconsize); }
.icon-size-md { @include font-size($f-iconsize-md); }
.icon-size-lg { @include font-size($f-iconsize-lg); }


// + Object fit browsers compatibility
// -------
.js-objectfit-helper {
	&.objectfit-helper {
		background-size: cover;
		background-position: center center;
		img {
			object-fit: cover;
			opacity: 0;
		}
	}
}

//## CMS angular support  - NOT DELETE THIS LINE
.hidden {
	display: none;
}
//## Angular animations support - NOT DELETE THIS LINE
.overflow-hidden {
	overflow: hidden;
}
