// ****************************************
//  UTILS
//
// ****************************************
//  MIXINS
// ****************************************
//
//    + Rem unit for font-size
//    + Outline (accessibility focus)
//    + Text selection(hightlight)
//    + Iconfonts
//    + Information link (with information icon)
//    + Dropdown arrow
//    + Placeholder
//    + Handling Long Words
//    + Custom scroll
//    + Svg import
//
// ****************************************

// + Rem unit for font-size
// -------
@mixin font-size($size) {
	font-size: calculateRem($size);
}

// + Outline (accessibility focus)
// -------
@mixin accessibility-outline() {
	outline: 1px dotted $accessibility-outline-color;
}


// + Text selection(hightlight)
// -------
@mixin selection($color, $background) {
	$prefixes: ("-moz-", "-webkit-", "-o-", "-ms-", "");
	@each $prefix in $prefixes {
	   &::#{$prefix}selection {
		 color: $color;
		 background: $background;
	   }
	}
 }


// Iconfonts
// -------
//## icons fonts as content
@mixin iconfont($icon, $pos: before, $icon-color: false) {
	@if $pos == before {
		&::before {
			content: $icon;
			display: inline-block;
			font-family: $f-icons;
			font-weight: normal;
			line-height: 1;
			@if $icon-color {
				color: $icon-color;
			}
		}
	} @else if $pos == after {
		&::after {
			content: $icon;
			display: inline-block;
			font-family: $f-icons;
			font-weight: normal;
			line-height: 1;
			@if $icon-color {
				color: $icon-color;
			}
		}
	} @else if $pos == null {
		content: $icon;
		display: inline-block;
		font-family: $f-icons;
		font-weight: normal;
		line-height: 1;
	}
}


// + Information link
// -------
@mixin info-link($icon, $iconsize: 16px, $pos: none) {
	position: relative;
	display: inline-block;
	text-decoration: none;
	@if $pos == none {
		&::before {
			@include font-size($iconsize);
			content: $icon;
			font-family: $f-icons;
			line-height: 1;
			font-weight: normal;
		}
	}
	@if $pos == left {
		&::before {
			@include font-size($iconsize);
			content: $icon;
			font-family: $f-icons;
			line-height: 1;
			font-weight: normal;
			margin-right: 4px;
		}
	}
	@if $pos == right {
		&::after {
			@include font-size($iconsize);
			content: $icon;
			font-family: $f-icons;
			line-height: 1;
			font-weight: normal;
			margin-left: 4px;
		}
	}
}

// + Dropdown arrow
// -------
@mixin collapse-trigger($size, $color, $pos:right) {
	@include iconfont($dropdown-arrow-icon,after);
	position: relative;
	display: inline-block;
	padding-right: calculateEm($size + $dropdown-arrow-padding);
	cursor: pointer;
	&::after { //## arrow
		font-size: calculateEm($size);
		position: absolute;
		display: block;
		right: 0;
		top: 50%;
		line-height: 1;
		color: $color;
		transform: translateY(-50%) scaleY(1);
		transition: $t-caret-collapse;
	}
	&.collapsed,
	&[aria-expanded='false'] {
		&::after {
			transform: translateY(-50%) scaleY(1);
		}
	}
	&[aria-expanded='true'] {
		&::after {
			transform: translateY(-50%) scaleY(-1);
		}
	}
}

// + Placeholder
// -------
@mixin placeholder($color: $input-color-placeholder) {
	&:-moz-placeholder { color: $color; }
	&::-moz-placeholder {
		color: $color;
		opacity: 1;
	}
	&:-ms-input-placeholder { color: $color; }
	&::-webkit-input-placeholder  { color: $color; }
}

// + Input Focused (with arrow)
// -------
@mixin inputfocused() {
	border-color: $input-border-color-focus;
	border-bottom-color: $input-border-bottom-color-focus;
}

// + Handling Long Words
// -------
@mixin handling-long-words {
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// + Custom scroll
$scroll-bar-width: 14px;
$scroll-bar-height: 14px;
//## variable $direction can be: yscroll, xscroll, scroll
@mixin custom-scroll($style: default, $direction: yscroll) {
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	//## scroll direction
	@if $direction == yscroll {
		overflow-y: scroll;
	}
	@if $direction == xscroll {
		overflow-x: scroll;
	}
	@if $direction == scroll {
		overflow: scroll;
	}
	&::-webkit-scrollbar {
		width: $scroll-bar-width;
		height: $scroll-bar-height;
	}
	&::-webkit-scrollbar-thumb {
		height: 40px;
		border: 4px solid $custom-scroll-background;
		background-clip: padding-box;
		border-radius: $custom-scroll-borderadius;
		@if $style == default {
			background-color: $custom-scroll-bar-background;
		}
		@if $style == lighten {
			background-color: $custom-scroll-lighten-bar-background;
		}
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		display: none;
	}
	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

// + Svg import
// -------
@mixin svg-import($width, $height, $bg-size, $typePath: '', $path: '', $position-x: center, $position-y: center) {
	width: $width;
	height: $height;
	background-size: $bg-size;
	@if $typePath == 'icon' {
		background-image: url(#{$path-svg-icons}#{$path}.svg);
	}
	@if $typePath == 'creditcard' {
		background-image: url(#{$path-svg-creditcard}#{$path}.svg);
	}
	@if $typePath == 'cvv' {
		background-image: url(#{$path-svg-card-cvv}#{$path}.svg);
	}
	background-repeat: no-repeat;
	background-position-y: $position-y;
	background-position-x: $position-x;
}