// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  FORM ELEMENTS VARIABLES
// ****************************************
//
//  + Label
//  + Input
//  + Multiline input
//  + Dropdown (select)
//  + Validation
//  + Checkbox
//
// ****************************************

// -------
// + LABEL
$label-family: $f-title;
$label-fontsize: $f-size;
$label-color: $c-text;
//## label info
$label-info-icon: $icon-info-circle;
$label-info-fontsize: $f-size-sm;
$label-info-color: $c-text;
//## label inverse styles
$label-inverse-color: #fff;
$label-inverse-hover-color: #fff;

// -------
// + INPUT
//## height and spaces
$input-container-height: 50px;
$input-height: 30px;
$input-margin-bottom: 20px;
$input-tb-pad: 6px;  // top bottom
$input-lr-pad: 8px; // left right
$ui-input-icon-left-space: 34px;
$input-transition: ease-out .2s;
//## typography
$input-fontfamily: $font-sanserif;
$input-fontsize: $f-size;
//## typography color
$input-color: $c-text;
$input-icon-color: $c-primary;
//## borders
$input-border-color: $gray60;
$input-border-width: 0 0 1px 0;
$input-border-bottom-color: $c-color2;
$input-background: transparent;
$input-border-radius: 0;
//## placeholder
$input-color-placeholder: $c-color2;
//## hover
$input-border-color-hover: shade($input-border-color, 14%);
$input-background-hover: $input-background;
//## focus
$input-border-color-focus: $input-border-color-hover $input-border-color-hover $c-secondary;
$input-border-bottom-focus-shadow: 0 1px 0 0 $c-primary;
//## disabled
$input-opacity-disabled: .6;
$input-color-disabled: $input-color-placeholder;
$input-border-color-disabled: $c-color2;
$input-background-disabled: $input-background;
//## readonly
$input-color-label-readonly: $label-color;
$input-color-readonly: tint($c-text, 40%);
$input-border-colorcolor-readonly: $input-border-color;
//## has-error
$input-error-border: $c-error;
//## has value
$input-color-hasvalue: $c-primary;
// ## input inverse styles
$input-inverse-color: #fff;

// -------
// + MULTILINE INPUT
$input-multiline-height: 50px;
$input-multiline-valuelarge-fontsize: 20px;
$input-multiline-valuelarge-fontweight: 400;
$input-multiline-valuesmall-fontsize: 16px;
$input-multiline-valuesmall-fontweight: 600;
$input-multiple-separator-color: $c-primary;


// + DROPDOWN (SELECT)
// ------
//## arrow
$dropdown-arrow-icon: $icon-arrow-single-down;
$dropdown-arrow-color: $c-secondary;
$dropdown-arrow-fontsize: 10px;
$dropdown-arrow-position-right: 4px;
$dropdown-arrow-padding: 10;
//## items
$dropdown-item-color: $c-text;
$dropdown-item-margin: 4px 0 0;
$dropdown-item-padding: 5px 0;
$dropdown-item-background: #fff;
$dropdown-item-color-hover: $dropdown-item-color;
$dropdown-item-background-hover: #fff;
$dropdown-arrow-color-disabled: $gray60;
//# list
$dropdown-maxheight: 150px; //## 5 itens visible
$dropdown-minwidth: 160px;
$dropdown-border-width: 1px;
$dropdown-border-style: solid;
$dropdown-border-color: $input-border-color;
$dropdown-background: $input-background;

// -------
// ++ VALIDATION
$input-message-valid-fontsize: $f-size-xs;
$input-message-valid-color: $c-success;

// -------
// + CHECKBOX
$checkbox-size: 18px;
$checkbox-border: $input-border-color;
$checkbox-radius: 2px;
$checkbox-background: #fff;
$checkbox-checkicon: $icon-check;
$checkbox-checkicon-size: 14px;
$ui-checkbox-fontsize: 14px;
$ui-checkbox-label-color: $c-text;
$checkbox-checked-bordersize: 4px;
$checkbox-checked-bordercolor: #fff;
$checkbox-inline-margin: 30px;
$checkbox-border-radius: 2px;
//## ripple effect
$checkbox-ripple-scale: 3.5;
$checkbox-ripple-mid-scale: $checkbox-ripple-scale - 1.5;
$checkbox-ripple-background: rgba($c-primary-dark, .2);
//## hover
$checkbox-bordercolor-hover: $input-border-color-hover;
//## checked
$checkbox-checked-size: ($checkbox-size - 6);
$checkbox-checked-color: $c-primary;
$checkbox-checked-background: $c-secondary;
$checkbox-checked-bordercolor: $c-primary;
$checkbox-checked-borderspace: 4px;
$checkbox-checked-borderspace-color: #fff;

$checkbox-size-strip: strip-unit($checkbox-size);
$checkbox-checked-borderspace-strip: strip-unit($checkbox-checked-borderspace);