// ********************
//  COMPONENTS
//
// ********************
//  INTERACTIVE SEARCH
// ****************************************
//
//  + Interacive map search
//
// ****************************************

@import 'interactive-search-vars';

// .interactive-map {}
// + Interacive map search
// -------
interactive-search {
	width: 100%;
}
ibe-station-input {
	width: 100%; // ibe-input-station (name changed) Angular host div in interactive map component
}
.interactive-search {
	@include formcontrol-inverse-style;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	font-family: $font-name;
	color: #fff;

	ibe-calendar {
		position: relative;
	}
	// + components ui-input
	// -------
	.ui-input {
		font-size: $f-size-sm;
		cursor: pointer;
	}
	.ui-form_group {
		display: inline-flex;
	}
	.ui-input-multiline {
		flex-wrap: nowrap;
		height: calculateRem(50px);
		label {
			@extend .hide-visually;
		}
	}
	.ui-input-multiline_group {
		&:hover {
			.ui-input {
				background-color: $c-primary-darker;
			}
		}
		&.is-focused {
			.ui-input-multiline_group_inner {
				&::before {
					display: block;
					margin: 0 calculateRem(8px); // when trigger has small width
				}
			}
			.ui-input {
				background-color: $c-primary-darker;
			}
		}
		&.outbound {
			margin-right: calculateRem(11px);
		}
	}
	.ui-input-container,
	.ui-select-container {
		margin-bottom: calculateRem(18px);
		padding-top: 0;
	}
	.ui-dropdown {
		.ui-input {
			height: auto;
			padding: calculateRem(10px) calculateRem(13px) calculateRem(10px) calculateRem(4px);
			&[aria-expanded="true"] {
				&::before {
					display: block;
					margin: 0 calculateRem(8px); // when trigger has small width
				}
			}
		}
	}
	.ui-dropdown_value {
		@include ellipsis;
	}

	// ++ componets popover 
	// -------------------
	// +++ componets popover menu
	// -------
	.search_tt_menu_list_title {
		color: $c-primary-soft;
	}
	.search_tt_menu_list {
		li {
			a {
				display: inline-block;
				border: calculateRem(1px) solid transparent;
				border-radius: calculateRem(15px);
				padding: calculateRem(3px) calculateRem(10px);
				&:hover {
					border-color: $c-primary-lighter;
					color: $c-color3;
				}
			}
		}
	}  
	.search_tt_menu {
		column-count: 2;
		.search_tt_menu_list_title {
			padding-left: calculateRem(10px);
		}
		.search_tt_menu_list {
			margin-top: calculateRem(22px);
			padding-left: calculateRem(20px);
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.search_tt_menu_scroll {
		@include custom-scroll;
		width: 100%;
		max-height: 400px;
	}
	// +++ componets popover container
	// -------
	.search_tt_inner {
		display: flex;
	}
	.search_tt {
		@include font-size($f-size-xs);
		z-index: 2;
		position: absolute;
		top: calc(100% - #{calculateRem(8px)});
		box-sizing: border-box;
		width: 100%;
		padding: calculateRem(20px) 0;
		background-color: #fff;
		border: 1px solid $c-primary-lighter;
		border-top: none;
		border-radius: $border-radius;
	}
	// + components drowdown menu
	// ------------
	.triptype,
	.typology,
	.trip-styles {
		display: flex;
		.ui-form_group,
		ibe-select {
			width: 100%;
		}
		.ui-form_group {
			padding: 0 calculateRem(12px) 0 0;
			box-sizing: border-box;
		}
		.ui-input {
			&::before {
				bottom: 0;
			}
		}
	}
	.triptype{
		grid-column: 1 / span 2;
		justify-content: flex-start; 
	}
	.typology {
		grid-column: 3 / span 2;
		justify-content: center; 
	}
	.trip-styles {
		grid-column: 5 / span 2;
		justify-content: flex-end; 
	}

	// + components routes and dates
	// ---------
	.route,
	.dates {
		grid-column: 1 / span 6;
		position: relative;
		.search_tt {
			width: auto;
		}
	}
	.route { 
		grid-row: 2;
		display: flex;
		ibe-input-station {
			width: 100%;
		}
		.ui-form_group {
			flex: 1 1 100%;
		}
		.ui-input {
			margin: 0 0 1rem;
		}
		.ui-input-multiline {
			margin: 0 0 1rem;
		}
	}
	.dates {
		grid-row: 3;
		.ui-input-multiline_group_inner {
			@include iconfont($pbicon-calendar, after);
			&::after {
				z-index: 1;
				position: absolute;
				top: 50%;
				right: calculateRem(14px);
				transform: translateY(-50%);
				display: block;
				font-size: calculateEm(25px);
				color: #fff;
				cursor: pointer;
			}
			.ui-input {
				padding-right: calculateRem(50px);
			}
		}
	}

	// + component range price
	.interactive-search_price-range_type {
		display: flex;
		.ui-input {
			height: auto;
			padding-left: 0;
		}
		.ui-dropdown_value {
			@include font-size($f-size-md);
		}
		.ui-dropdown_list {
			top: calc(100% + #{calculateRem(9px)});
		}
		.ui-select-container {
			margin-bottom: 0;
		}
	}
	.interactive-search_price-range_input {
		flex-basis: 100%;
		margin-left: calculateRem(5px);
		.ui-slider-range_value {
			margin-left: calculateRem(5px);
			.units {
				margin: 0 0 0 calculateRem(4px); // fix no space between span tags
			}
		}
	}
	.interactive-search_price-range {
		@include font-size($f-size-md);
		display: flex;
		grid-row: 4;
		align-items: center;
		margin-bottom: calculateRem(18px);
		color: #fff;
		grid-column: 1 / span 6;
	}

	// + components checks
	.switch_slider {
		background-color: #fff;
		opacity: 0.6;
		&::before {
			background: $c-primary-dark;
		}
	}
	.switch_input {
		input {
			&.is-checked + .switch_slider {
				background-color: #fff;
				opacity: 1;
			}
		}
	}
	.switch {
		display: inline-flex;
		color: #FFF;
		.switch_input {
			margin-left: calculateRem(10px);
		}
	}
	.interactive-search_visa,
	.interactive-search_stops {
		grid-row: 5;
		margin-bottom: calculateRem(18px);
		text-align: right;
	}
	.interactive-search_visa {
		grid-column: 1 / span 3;
		padding-left: calculateRem(14px);
	}
	.interactive-search_stops {
		grid-column: 4 / span 3;
		padding-right: calculateRem(14px);
	}

	// + component reset
	// -----------
	.interactive-search_reset-button {
		display: flex;
		cursor: pointer;
		&::after {
			content: "\e924";
			display: inline-block;
			font-family: pobeda-icons;
			font-size: 14px;
			margin-left: 5px;
		}
	}
	.interactive-search_reset {
		grid-row: 6;
		grid-column: 1 / span 6;
		padding: 0 calculateRem(14px);
		display: flex;
		justify-content: flex-end;
		@include font-size($f-size-xs);
		
	}
}