// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH VARIABLES
// ****************************************
//
//  + Search breakpoint
//  + Search elements margins
//
//  + Search form elements
//      ++ button CTA
//      ++ align & margins
//      ++ breakpoint 1
//      ++ highlght search
//      ++ inputs
//          +++ inputs with icon
//          +++ inputs separator
//          +++ select value color
//          +++ placeholder
//
//      ++ input route
//          +++ input route value
//      ++ input date
//          +++ input date template
//          +++ input date - day
//          +++ input date - week
//          +++ input date - month
//      ++ typology
//      ++ currency

//  + Search form
//  + Search options to select
//
// ****************************************

// SEARCH STYLES
// -------
//## Global paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/_flight-search.scss
$search-fixed-animation: .4s forwards;
$search-background: $c-primary;


// SEARCH GRID BREAKPOINT
// -------
//## Global mixin paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/_flight-search-grid.scss
$search-grid-breakpoint-qty: 3;
$search-grid-breakpoint-1: $mobile-sm;
$search-grid-breakpoint-2: $tablet-portrait;
$search-grid-breakpoint-3: $tablet-landscape;
//## margins
$search-components-margin-topbottom: calculateRem(4px);
$search-components-margin-leftright: calculateRem(14px);


// + SEARCH FORM ELEMENTS
// -------
//## Global mixin paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/_flight-search-highlight-onfocus.scss
$searchflight-highlight-zindex: $overlay-zindex + 1;

//## Global paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/_flight-search.scss
//## button CTA
$search-button-style: primary;
//## align & margins
$search-button-margin-top: 14px;
$search-button-valign: end;
$search-button-halign: center;
//## breakpoint 1
$search-button-valign-bp1: end;
$search-button-halign-bp1: center;
//## inputs
$search-input-color: $c-secondary;
$search-input-background: transparent;
$search-input-border-width: 0 0 1px 0;
$search-input-border-color: #fff;
$search-input-border-radius: 0;
//## inputs with icon
$search-input-icons-fontsize: 26px;
$search-input-icons-padding: 8px;
$search-input-icons-color: $search-input-color;
$search-input-icons-position-top: calculateRem(13px);
$search-input-icons-position-left: calculateRem(2px);
//## inputs separator
$search-input-separator-color: $c-secondary;
$search-input-separator-vert-width: 1px;
$search-input-separator-vert-height: 68%;
$search-input-separator-hor-width: calculateRem(10px);
$search-input-separator-hor-height: 1px;
//## select value color
$search-input-valueselected-color: #fff;
//## placeholder
$search-input-placeholder-color: $gray60;
$search-input-placeholder-fontsize: 20px;
$search-input-placeholder-fontweight: 300;
$search-input-background-disabled: transparent;

//## input route
$search-route-hasicon: true;
$search-route-icon: $icon-pin;
$search-route-inputs-separator: vertical-bar;
//## input route value
$search-route-input-valuelarge-fontsize: 18px;
$search-route-input-valuelarge-fontsize-desktop: 22px;
$search-route-input-valuelarge-color: $search-input-valueselected-color;
$search-route-input-valuelarge-fontweight: 300;
$search-route-input-valuesmall-fontsize: 18px;
$search-route-input-valuesmall-fontsize-desktop: 22px;
$search-route-input-valuesmall-color: $search-input-valueselected-color;
$search-route-input-valuesmall-fontweight: 500;

//## input date
$search-date-start-one-datefield: true;
$search-date-hasicon: true;
$search-date-icon: $icon-calendar;
$search-date-inputs-separator: horizontal-bar;
//## input date template
//## grid1: day(col) & month+week(col)
//## grid2: day+month(row) & week(row)
$search-input-date-template: 'grid1';
//## input date - day
$search-date-day-input-fontsize: 34px;
$search-date-day-input-fontsize-desktop: 36px;
$search-date-day-input-color: $search-input-valueselected-color;
$search-date-day-input-fontweight: $search-route-input-valuelarge-fontweight;
//## input date - week
$search-date-week-input-fontsize: 14px;
$search-date-week-input-fontsize-desktop: 14px;
$search-date-week-input-color: $search-input-valueselected-color;
$search-date-week-input-fontweight: 300;
$search-date-week-input-texttransform: uppercase;
//## input date - month
$search-date-month-input-fontsize: 14px;
$search-date-month-input-fontsize-desktop: 14px;
$search-date-month-input-color: $search-input-valueselected-color;
$search-date-month-input-fontweight: 300;
$search-date-month-input-texttransform: uppercase;

//## typology 
$search-typology-hasicon: true;
$search-typology-icon: $icon-passenger;
$search-typology-arrow-icon: true;
$search-typology-arrow-icon-fontsize: 10px;
$search-typology-arrow-icon-color: $c-primary;
$search-typology-selected-fontsize: 36px;
$search-typology-selected-fontsize-desktop: 36px;
$search-typology-selected-fontweight: 300;
//## typology options
$typology-options-fullwidth-items-margin: 4%;
$typology-options-item-padding: calculateRem(12px) 0;
$typology-options-item-border-width: 1px;
$typology-options-item-border-color: $c-secondary;
$typology-options-scroll-max-height: 400px;
// ## typology options labels
$typology-options-label-fontsize: 16px;
$typology-options-label-color: $c-text;
$typology-options-label-fontweight: 700;
$typology-options-label-info-fontsize: 12px;
$typology-options-label-info-color: $c-text;
$typology-options-label-info-fontweight: 400;

//## currency 
$searchgrid-currency-show: true;
$search-currency-hasicon: false;
$search-currency-icon: $icon-passenger;
$search-currency-selected-color: $search-input-valueselected-color;
$search-currency-selected-fontsize: 22px;
$search-currency-selected-fontsize-desktop: 22px;
$search-currency-selected-fontweight: 300;
$currency-options-scroll-max-height: 400px;


// + SEARCH OPTIONS
// -------
//## Global mixin paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout.scss
$search-options-layout-breakpoint: $tablet-landscape;
$search-options-layout-fullwidth-position-top: 68px;
$search-options-fullwidth-inner-top-padding: 40px;
$search-options-fullwidth-inner-bottom-padding: 40px;
$search-options-inner-padding: 40px 24px 30px;
$search-options-background: #fff;

//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout-component.scss
$search-options-caption-fontsize: 22px;
$search-options-caption-color: $c-text;
$search-options-caption-margin: 0 0 calculateRem(24px);
$search-options-caption-icon-color: $c-color1;
$search-options-caption-icon-fontsize: 24px;


// + ROUTE OPTIONS
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout-component.scss
$route-options-fontsize: 14px;
$route-options-color: $c-text;
$route-options-link-color: $c-text;
$route-options-link-underline: none;
$route-options-link-color-hover: $c-link;
$route-options-link-underline-hover: underline;
$route-options-item-margin: calculateRem(12px);
$route-options-item-margin-desktop: calculateRem(6px);
$route-options-code-left-pad: 44px;
$route-options-scroll-max-height: 400px;
//## city
$route-options-city-color: $route-options-color;
$route-options-city-fontsize: $route-options-fontsize;
$route-options-city-fontweight: 400;
//## airport code
$route-options-airportcode-color: $route-options-color;
$route-options-airportcode-fontsize: $route-options-fontsize;
$route-options-airportcode-fontweight: 400;
//## country
$route-options-country-color: $route-options-color;
$route-options-country-fontsize: 16px;
$route-options-country-fontweight: 600;
$route-options-country-title-margin: calculateRem(7px);
$route-options-country-group-margin: calculateRem(24px);

//## route list breakpoints
$route-options-list-breakpoints-qty: 1;
//## breakpoint 1
$route-options-list-breakpoint-1: $mobile-sm;
$route-options-list-breakpoint-1-columns: 2;
$route-options-list-breakpoint-1-columns-gutter: 20px;
//## breakpoint 2
$route-options-list-breakpoint-2: $tablet-landscape;
$route-options-list-breakpoint-2-columns: 3;
$route-options-list-breakpoint-2-columns-gutter: 20px;
//## breakpoint 3
$route-options-list-breakpoint-3: $desktop;
$route-options-list-breakpoint-3-columns: 4;
$route-options-list-breakpoint-3-columns-gutter: 20px;


// + DATE OPTIONS
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout-component.scss
$date-options-triptype-margin: 0 0 calculateRem(10px);
$date-options-scroll-max-height: 400px;


// ++ SEARCH OPTIONS - ARROW INDICATOR
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-arrow.scss
$search-options-arrow-direction: 'up';
$search-options-arrow-width: 1.4rem;
$search-options-arrow-height: .6rem;
$search-options-arrow-color: #fff;
$search-options-arrow-color-mobile: $c-primary;
$search-options-arrow-position-top: .6rem;
$search-options-arrow-position-left: 10px;

// -------
// ++ SEARCH OPTIONS - CLOSE BUTTON
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-close-button.scss
$search-options-close-position: 'top-right';
$search-options-close-position-tb: 14px;
$search-options-close-position-lr: 14px;
$search-options-close-icon: $icon-cross;
$search-options-close-color: $c-link;
$search-options-close-fontsize: 18px;
$search-options-close-fontweight: 600;
$search-options-close-label: 'hidden';
$search-options-close-label-fontsize: 18px;