// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  NEW SEARCH
// ****************************************
//
// ****************************************


// + keyframes
// -------
// @keyframes newsearchSmoothScroll {
// 	0% { transform: translateY(0); }
// 	100% { transform: translateY($combinedbar-height); }
// }

.newsearch {
	@include container-wrap;
	height: 100%;
	padding-top: 0;
	padding-bottom: 12px;
	transition: padding .1s linear;
}
.newsearch_collapse {
	background: $search-background;
	&.collapse {
		transform: translateY(-100%);
	}
	&.collapsing,
	&.show {
		transform: translateY(0);
	}
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
	.newsearch_collapse {
		position: relative;
		top: 0;
		width: 100%;
		z-index: $search-fixed-zindex;
	}
	.newsearch {
		padding-top: 10px;
		.searchflight {
			.route,
			.dates,
			.typology,
			.searchflight_button {
				margin-bottom: 12px;
			}
		}
	}
	.search-opened {
		.newsearch_collapse {
			z-index: $overlay-zindex + 1;
		}
	}
}
@media #{$summary-collapsed} { // <=768px
	.newsearch_collapse {
		display: none !important;
	}
}