// ****************************************
//  UI ELEMENTS

// ****************************************
//  FORM ELEMENTS
// ****************************************
//
//    + Variables
//    + Containers
//        ++ States
//        ++ Form groups
//        ++ Input wrap
//    + Labels
//    + Fields types
//        ++ Input single and textarea
//        ++ Input multiple
//        ++ Input multiline
//    + Input messages
//    + Input with side button
//    + Select (dropdown)
//        ++ Custom selects
//            +++ Birth date selects
//    + Field with icon
//
//    + Checkbox and radio buttons
//    + Numeric up and down
//    + Validations and input states
//        ++ Input messages
//    + Required text
//    + Drop down list popover
//
//    + Buttons
//
//    + Forms containers
//
// ****************************************

@include formcontrol-label-moveup;

// + Labels
// -------
.ui-label {
	@include font-size($label-fontsize);
	@include ellipsis;
	display: block;
	max-width: calc(100% - #{$input-lr-pad});
	text-align: left;
	font-family: $label-family;
	color: $label-color;
	font-weight: 400;
	cursor: text;
}
// .ui-label_i {
// 	@include iconfont($icon-info-circle, before);
// 	color: $c-primary;
// }

// + Form control
// -------
.ui-input-container,
.ui-select-container {
	box-sizing: border-box;
}

.ui-input,
.ui-textarea {
	&:hover {
		color: $c-primary-dark;
		border-bottom-color: $c-secondary;
	}   
}

.ui-input-container,
.ui-dropdown {
	&.is-focused,
	&.has-value,
	.has-value & {
		.ui-input {
			border-bottom: 1px solid $c-primary-dark;
		}
	}
	//## has value
	&.has-value,
	.has-value & {
		&.has-icon .icon {
			color: $c-primary-dark;
		}
		&:hover {
			.ui-label {
				color: $c-primary;
			}
			.ui-input {
				border-bottom-color: $c-secondary;
			}
		}
		.ui-dropdown_value {
			color: $c-primary-dark;
			font-weight: 600;
		}
	}
	//## focused
	&.is-focused {
		.ui-label {
			color: $c-primary;
		}
		.ui-input {
			color: $c-primary;
			border-color: $input-border-color $input-border-color $c-secondary;
			box-shadow: $input-border-bottom-focus-shadow;
		}
		&.has-icon .icon {
			color: $c-primary;
		}
		.ui-dropdown_value {
			color: $c-primary;
			font-weight: 600;
		}
	}
	//## readonly
	&.is-readonly {
		.ui-input {
			color: $gray60;
			border-bottom-color: $gray60;
		}
		&:hover {
			.ui-label {
				color: $gray60;
			}
			.ui-input {
				border-bottom-color: $gray60;
			}
		}
	}
	//## error and invalid
	&.has-error,
	&.is-invalid {
		.ui-input {
			border-bottom-color: $c-error;
		}
		.ui-input_message {
			@include iconfont($icon-cross-circle);
		}
		&:hover,
		&.is-focused {
			.ui-input {
				border-bottom-color: $c-error;
				box-shadow: 0 1px 0 0 $c-error;
			}
		}
	}
	&.is-valid {
		.ui-input_message {
			@include iconfont($icon-check-circle);
		}
	}
	// &.has-icon {}
	// &.is-icon-clickable {}
}

// + Checkbox and radio buttons
// -------
//## checkbox variables at ui-elements/forms/_form-elements-vars.scss

// + Numeric up and down
// -------
$numeric-updown-fontsize: 34px;
.ui-num-ud {
	display: flex;
	align-items: center;
}
.ui-num-ud_button,
.ui-num-ud_input {
	flex: 0 0 auto;
	vertical-align: middle;
	text-align: center;
}
.ui-num-ud_button {
	z-index: 2;
	position: relative;
	padding: 0;
	font-size: $numeric-updown-fontsize;
	color: $num-updown-button-color;
	line-height: 1;
	cursor: pointer;
	transition: all .1s linear;
	&::before {
		position: relative;
		top: 2px;
	}
	&.minus {
		@include iconfont($icon-minus-circle,before);
	}
	&.plus {
		@include iconfont($icon-plus-circle,before);
	}
	&:hover {
		color: $num-updown-button-color-hover;
	}
	&.disabled {
		cursor: default;
		color: $num-updown-button-color-disabled;
		&:hover {
			color: $num-updown-button-color-disabled;
		}
	}
}
.ui-num-ud_input {
	min-width: 50px;
	max-width: 80px;
	height: ($numeric-updown-fontsize - 2);
	text-align: center;
	margin: 0 -14px;
	padding: 0 14px;
	box-sizing: border-box;
	background: $num-updown-input-bg;
	input {
		height: ($numeric-updown-fontsize - 2);
		@include font-size($f-size-sm);
		color: $c-text;
		border: none;
		width: 100%;
		height: 100%;
		background: none;
		text-align: center;
		padding-bottom: 2px;
		&[readonly] {
			user-select: none;
		}
	}
}

// + Required text
// -------
.required-text {
	@include font-size($f-size-sm);
	display: inline-block;
	float: right;
	color: $c-text;
}


// + Drop down list popover
// -------
$ui-dropdown-popover_shadow: 0 0 4px 0 rgba(0,0,0,0.3);
$ui-dropdown_list-triangle-size: 12px;
.ui-dropdown-popover {
	z-index: 10000;
	position: absolute;
	right: 0;
	top: 212%;
	min-width: 320px;
	&[aria-hidden='true'] {
		display: none;
	}
	.iconlink-close { //## close button dropdown-popover when responsive
		display: none;
	}
}