// ********************
//  COMPONENTS
//
// ********************
//  BARCHART
// ****************************************
//
//  + barchart variables
//  + barchart
//  ++ barchart legend container
//  ++ barchart bars container
//
// ****************************************

@import 'bar';

.barchart_legend {
	@include clearfix;
	padding: 0 calculateRem(32px);
}
.barchart_legend_item {
	@include font-size($f-size-sm);
	color: $c-secondary-dark;
	&:first-child {
		float: left;
	}
	&:last-child {
		float: right;
	}
}
// ++ barchart bars container
.barchart_bars {
	display: flex;
}
