<table>
    <tr>
        <td>
            <div class="fold-section">
                <p class="fold-section_text">Please fold here - <strong>DO NOT TEAR</strong></p>
            </div>
        </td>
    </tr>
</table>
