// main: ../styles.scss

// ****************************************
//  
//  PDF ELEMENTS
//
// ****************************************
//  
//  INFO ITEM
//  
// ****************************************
//  
//  + info-item
//  
// ****************************************


// + info-item
//-------------------
.info-item {
    display: table-cell;
    width: 100%;
    // modifiers
    &.horizontal-align {
        .info-item_data {
            min-height: 47px;
            margin-bottom: 9px;
        }
    }
}
.info-item_data {
    margin: 0 0 12px;
}
.info-item_data-small {
    margin: 0 0 8px;
}
.info-item_data-value {
    font-size: 13px;
}
.info-item_icon {
    width: 59px;
    margin-top: -2px;
    img {
        width: 100%;
    }
}