<div class="summary_typology">
    {% if summaryTypology.showTitle | default(true) %}
        <h2 class="summary_label">Summary</h2>
    {% endif %}
    <div class="summary_typology_item{% if summaryTypology.isCollapsible %} collapsed" 
        data-toggle="collapse" 
        aria-expanded="false" 
        data-target="#collapseTypologySummary{% endif %}">

        {# SUMMARY TYPOLOGY LIST #}
        {% include "partials/components/IBE/_common/_pax-types-list.njk" %}

        {# SUMMARY TYPOLOGY TOTAL PRICE #}
        {% if summaryTypology.totalPrice | length %}
            <span class="paxtype_price">
                {{ summaryTypology.totalPrice }}
            </span>
        {% endif %}
    </div>

    {# SUMMARY TYPOLOGY RESUME #}
    {% if summaryTypology.isCollapsible %}
    <div class="summary_typology_container collapse" id="collapseTypologySummary">
        {% for priceGroup in summaryTypology.resumePrices %}
            <table class="table">
                <caption class="hide-visually">Flight summary price by passengers</caption>
                <tbody>
                {% for item in priceGroup %}
                    <tr>
                        <th scope="row">{{ item.label }}</th>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    {% endif %}

    {# SUMMARY SUBTOTALS PRICE RESUME #}
    {% if summary.hasPriceResume | default (false) %}
        <div class="summary_price-resume">
            {% if not summary.amountDue %}
            <div class="price-resume_head">
                <div class="label">Departure</div>
                <div class="price">
                    <span class="fare-label fare1">FUN</span>
                    {{SHARED.currency}} 1,884
                </div>
            </div>
            <div class="price-resume_head">
                <div class="label">Return</div>
                <div class="price">
                    <span class="fare-label fare3">U-biz</span>
                    {{SHARED.currency}} 884
                </div>
            </div>
            <div class="price-resume_head">
                <div class="label">Extras &amp; fees</div>
                <div class="price">
                    {{SHARED.currency}} 884
                </div>
            </div>
            {% else %}
            <div class="price-resume_head">
                <div class="label">Total price</div>
                <div class="price">
                    {{SHARED.currency}} 3,887
                </div>
            </div>
            <div class="price-resume_head total-paid">
                <div class="label">Total paid</div>
                <div class="price">
                    {{SHARED.currency}} 2,972
                </div>
            </div>
            <div class="price-resume_head total-unpaid">
                <div class="label">Total Amout Due</div>
                <div class="price">
                    {{SHARED.currency}} 915
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
</div>
