{#
    EXAMPLE:
    summary_journey {
        MODIFIERS:
        isReturning: true // departure (default) or return
        hasCheckBox: true // add checkbox before summary title
    }
#}

<div class="summary_journey{% if summary_journey.isReturning %} return
    {% if journeys[1].connections.connecting | length %} has-connection-stop{% endif %}
    {% else %} departure
    {% if journeys[0].connections.connecting | length %} has-connection-stop{% endif %}
    {% endif %}">
    {% if summary.hasCheckBox %}
        {% if summary_journey.isReturning %}
            {% set checkboxForm = {
                label: 'Ida',
                name: 'summary_return_flight',
                id: 'summary_return_flight'
            } %}
        {% else %}
            {% set checkboxForm = {
                label: 'Vuelta',
                name: 'summary_departure_flight',
                id: 'summary_departure_flight'
            } %}
        {% endif %}
        {% include "partials/ui-elements/_checkbox.njk" %}
    {% endif %}

    {% if not summary.hasCheckBox %}
        <h2 class="summary_label">
            {% if summary_journey.isReturning %}
                {{ journeys[1].way }}
            {% else %}
                {{ journeys[0].way }}
            {% endif %}
        </h2>
    {% endif %}

    <div class="summary_route">
        {# city 1 #}
        <span class="summary_airport">
            {% if summary.showAirportName | default(true) %}
                <span class="summary_airport-city">
                    {% if summary_journey.isReturning %}
                        {{ journeys[1].departureAirport }}
                    {% else %}
                        {{ journeys[1].arrivalAirport }}
                    {% endif %}
                </span>
            {% endif %}
            {% if summary.showAirportCode | default(true) %}
                <span class="summary_airport-code">
                    {% if summary_journey.isReturning %}
                        {{ journeys[1].departureAirportCode }}
                    {% else %}
                        {{ journeys[1].arrivalAirportCode }}
                    {% endif %}
                    {# time #}
                    {% if flightCodeTimeSeparator | length %}{{ flightCodeTimeSeparator }}{% endif %}
                    <span class="summary_time">{{ flights.items[0].departureTime }}</span>
                    {% if summary_journey.isReturning %}
                        {% if journeys[1].extraDay | length %}
                            <span class="extra-day">{{journeys[1].extraDay}}<span>{{ day | default('day') }}</span></span>
                        {% endif %}
                    {% else %}
                        {% if journeys[0].extraDay | length %}
                            <span class="extra-day">{{journeys[0].extraDay}}<span>{{ day | default('day') }}</span></span>
                        {% endif %}
                    {% endif %}
                </span>
            {% endif %}
        </span>
        <span class="summary_route_icon departure">
            <span class="hide-visually">to</span>
        </span>

        {# connections #}
        {% if summary.connectionsPosition == 1 %}
            {% if summary_journey.isReturning %}
                {% set flight = journeys[1] %}
                {% include "partials/components/IBE/flight-select/_flight_connection_link.njk" %}
            {% else %}
                {% set flight = journeys[0] %}
                {% include "partials/components/IBE/flight-select/_flight_connection_link.njk" %}
            {% endif %}
        {% endif %}
        

        {# city 2 #}
        <span class="summary_airport">
            {% if summary.showAirportName | default(true) %}
                <span class="summary_airport-city">
                    {% if summary_journey.isReturning %}
                    {{ journeys[0].departureAirport }}
                    {% else %}
                    {{ journeys[0].arrivalAirport }}
                    {% endif %}
                </span>
            {% endif %}
            {% if summary.showAirportCode | default(true) %}
                <span class="summary_airport-code">
                    {% if summary_journey.isReturning %}
                        {{ journeys[0].departureAirportCode }}
                    {% else %}
                        {{ journeys[0].arrivalAirportCode }}
                    {% endif %}
                    {# time #}
                    {% if flightCodeTimeSeparator | length %}{{ flightCodeTimeSeparator }}{% endif %}
                    <span class="summary_time">{{ flights.items[0].arrivalTime }}</span>
                </span>
            {% endif %}
        </span>
    </div>

    <div class="summary_date">
        {% if summary_journey.isReturning %}
            {% if journeys[1].date.week | length %}
                <span class="summary_date_week">{{ journeys[1].date.week }}</span>
            {% endif %}
            {% if journeys[1].date.day | length %}
                <span class="summary_date_day">{{ journeys[1].date.day }}</span>
            {% endif %}
            {% if journeys[1].date.month | length %}
                <span class="summary_date_month">{{ journeys[1].date.month }}</span>
            {% endif %}
            {% if journeys[1].date.year | length %}
                <span class="summary_date_year">{{ journeys[1].date.year }}</span>
            {% endif %}
        {% else %}
            {% if journeys[0].date.week | length %}
                <span class="summary_date_week">{{ journeys[0].date.week }}</span>
            {% endif %}
            {% if journeys[0].date.day | length %}
                <span class="summary_date_day">{{ journeys[0].date.day }}</span>
            {% endif %}
            {% if journeys[0].date.month | length %}
                <span class="summary_date_month">{{ journeys[0].date.month }}</span>
            {% endif %}
            {% if journeys[0].date.year | length %}
                <span class="summary_date_year">{{ journeys[0].date.year }}</span>
            {% endif %}
        {% endif %}
    </div>

    {% if summary.fareByFlight %}
    <div class="summary_fare">
        {% if summary_journey.isReturning %}
            {% if journeys[0].fare %}
                <span class="fare-label fare{{journeys[0].fare}}">{{journeys[0].fareSelectedName}}</span>
            {% endif %}
        {% else %}
            {% if journeys[1].fare %}
                <span class="fare-label fare{{journeys[1].fare}}">{{journeys[1].fareSelectedName}}</span>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
    
    <div class="summary_flight">
        <div class="flight-number">
            {% if flightCaption | length %}<span class="flight-number_label">{{ flightCaption }}</span>{% endif %}
            <ul class="flight-number_list">
                {% if summary_journey.isReturning %}
                    {% if journeys[1].flightNumbers | length %}
                        {% for item in journeys[1].flightNumbers %}
                            <li>
                                <span class="flight-number_operator">{{ item.operator }}</span>
                                <span class="flight-number_caption">{{ item.number }}</span>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if journeys[0].flightNumbers | length %}
                        {% for item in journeys[0].flightNumbers %}
                            <li>
                                <span class="flight-number_operator">{{ item.operator }}</span>
                                <span class="flight-number_caption">{{ item.number }}</span>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        {# connections #}
        {% if summary.connectionsPosition == 2 %}
            {% if summary_journey.isReturning %}
                {% set flight = journeys[1] %}
                {% include "partials/components/IBE/flight-select/_flight_connection_link.njk" %}
            {% else %}
                {% set flight = journeys[0] %}
                {% include "partials/components/IBE/flight-select/_flight_connection_link.njk" %}
            {% endif %}
        {% endif %}
    </div>
</div>

{% if summary_journey.isReturning %}
    {% set journey = journeys[1] %}
{% else %}
    {% set journey = journeys[0] %}
{% endif %}
{% if journey.items %}
    <div class="summary_journey_inner collapse show">
        {% for item in journey.items %}
            <div class="summary_journey_service">
                {% if item.quantity.length %}
                    <div class="summary_journey_service-quantity">
                        {{ item.quantity }}
                    </div>
                {% endif %}
                {% if item.title.length %}
                    <div class="summary_journey_service-title">
                        {{ item.title }}
                    </div>
                {% endif %}
                {% if item.price.length %}
                    <div class="summary_journey_service-price">
                        {{ item.price }}
                    </div>
                {% endif %}
                {% if item.items %}
                    <ul class="summary_journey_service-list">
                        {% for item in item.items %}
                            <li class="summary_journey_service-list-item">
                                <span class="summary_journey_service-list-item-caption">{{ item.caption }}</span>
                                {% if item.addedCaption %}
                                    <span class="summary_journey_service-list-item-add-caption">{{ SHARED.addedCaption | default('incluido') }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
