{#
    EXAMPLE:
    summary {
        VARIABLES
        
        MODIFIERS
            isEmptySummary : true       // when summary has no data yet
            amountDue: true             // show "paid" amount and "unpaid" amount for post purchase flows
            hasCheckBox : true          // add checkbox before summary title
            isOnlyToShowPrice: true     // remove summary collapse dropdown and arow icon to shows only total cost price
    }
#}

{% for summary in summaryData %}
<div class="summary{% if isOWTrip == true %} oneway{% endif %}">
    {% if not summary.isEmptySummary %}
        {% if not isBookingSummary %}
            {# SUMMARY TOTAL TRIGGER #}
            <header class="summary_header{% if summary.isCollapse %} collapsed{% endif %}"
                {% if summary.isCollapse %}aria-expanded="false"
                data-name="summaryTrigger"
                data-toggle="collapse"
                data-target="#collapseSummary"
                aria-controls="collapseSummary"{% endif %}>
                <div class="summary_total_list">
                    {% if summary.totalCostLabel | length %}
                    <span class="label">{{summary.totalCostLabel}}</span>
                    {% endif %}
                    <button class="summary_trigger{#% if summary.isOnlyToShowPrice %} non-collapsible{% endif %#}">
                        {# <span class="price"> #}
                            {% set price = {
                                value: summary.totalCostValue
                            } %}
                            {# {% set priceClass = 'value' %} #}
                            {% include "partials/components/IBE/_common/_price.njk" %}
                        {# </span> #}
                    </button>
                    {% if summary.hasButtonContinue | default(false) %}
                        <button type="button" class="button btn-next" onclick="window.location.href='{{pageButtons.actionButtonUrl}}'">{{pageButtons.actionButtonLabel}}</button>
                    {% endif %}
                </div>
            </header>
            {% if summary.notification.title | length %}
            <summary-notification>
                <div class="summary_notification">
                    <div class="summary_notification_text">{{ summary.notification.title }}</div>
                </div>
            </summary-notification>
            {% endif %}
        {% endif %}
        {# {% if not summary.isOnlyToShowPrice %} #}
            <div class="summary_collapse{% if (not isBookingSummary) and (summary.isCollapse) %} collapse{% endif %}"{% if (not isBookingSummary) and (summary.isCollapse) %} aria-hidden="true"{% endif %} id="collapseSummary">
                <div class="summary_collapse_wrap">
                    {% if not isBookingSummary %}
                        {% if summary.summaryCollapseTitle | length %}
                            <div class="summary_collapse_header">
                                <span class="title">{{ summaryData[0].summaryCollapseTitle | default('Resumen') }}</span>
                                <button type="button" class="close">
                                    <span class="icon" aria-hidden="true"></span>
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="summary_body">
                        {# SUMMARY DEPARTURE FLIGHT #}
                        {% include "partials/components/IBE/summary/_summary_journey.njk" %}

                        {# SUMMARY RETURN FLIGHT #}
                        {% if not isOWTrip %}
                            {% set summary_journey = {
                                isReturning: true
                            } %}
                            {% include "partials/components/IBE/summary/_summary_journey.njk" %}
                        {% endif %}

                        {# SUMMARY TYPOLOGY #}
                        {% if not isBookingSummary and summary.typology.show | default(true) %}
                            {% include "partials/components/IBE/summary/_summary_typology.njk" %}
                        {% endif %}

                        {# SUMMARY DETAILS (SIMPLE) #}
                        {% if summary.moreDetailsStyle == "simple" and summary.details.show | default(true) %}
                            {% if showSummaryDetails | default(true) %}
                                {% include "partials/components/IBE/summary/more-details/_summary_moredetails.njk" %}
                            {% endif %}
                        {% endif %}

                        {% if not isBookingSummary %}
                            {% if summary.showBottomTotal %}
                            <div class="summary_total-bottom_wrap">
                                <p class="summary_total-bottom">
                                    {% if showBottomTotalLabel | length %}{{showBottomTotalLabel}}{% endif %}
                                    {% if summary.totalFinal.label.length %}
                                        <span class="total-label">{{ summary.totalFinal.label }}</span>
                                    {% endif %}
                                    {# <span class="price">
                                        <span class="currency">{{ SHARED.currency }}</span>
                                        {{ summary.totalFinal.value | default(summary.totalCostValue) }}
                                    </span> #}
                                    {% set price = {
                                        value: summary.totalCostValue
                                    } %}
                                    {% include "partials/components/IBE/_common/_price.njk" %}
                                </p>
                            </div>
                            {% endif %}

                            {% if summary.buttonClose | length %}
                                <button class="summary_close_btn">{{summary.buttonClose}}</button>
                            {% endif %}
                        {% endif %}
                    </div>

                    {# SUMMARY DETAILS (BY JOURNEY) #}
                    {% if summary.moreDetailsStyle == "byjourney" %}
                        {% if showSummaryDetails | default(true) %}
                            {% include "partials/components/IBE/summary/more-details/_summary_moredetails_by-journey.njk" %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {# {% endif %} #}
    {% endif %}
</div>
{% endfor %}
