{#
    DOCUMENTATION
    image = {
        name: 'string' // image file name
    }
#}
<img src="http://wamosux.azurewebsites.net/Html/HKE/airlines/HK/src/assets/imgs/pdf/{{ image.name }}.png" />sets/imgs/pdf/{{ image.name }}.png" />