{% if itemsTable.isInline %}
    <div{% if itemsTable.tableClases %} class="table {% for class in itemsTable.tableClases %}{{ class }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}>
        {% for item in itemsTable.items %}
            {% if loop.index0 % itemsTable.columns | default(3) == 0 %}
                <div class="tr">
            {% endif %}
                <div class="td">
                    {% if itemsTable.type == 'info-item' %}
                        {% set infoItem = {
                            title: item.title,
                            isHorizontalAlign: itemsTable.hasHorizontalAlignItems,
                            values: item.values,
                            hasSmallValues: item.hasSmallValues
                        } %}
                        {% include './info-item.njk' %}
                    {% else %}
                        {% set tipBox = {
                            title: item.title,
                            icon: item.icon,
                            description: item.description,
                            link: item.link
                        } %}
                        {% include './tip-box.njk' %}
                    {% endif %}
                </div>
            {% if loop.index % itemsTable.columns | default(3) == 0 and not loop.first %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <table{% if itemsTable.tableClases %} class="{% for class in itemsTable.tableClases %}{{ class }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}>
        {% for item in itemsTable.items %}
            {% if loop.index0 % itemsTable.columns | default(3) == 0 %}
                <tr>
            {% endif %}
                <td>
                    {% if itemsTable.type == 'info-item' %}
                        {% set infoItem = {
                            title: item.title,
                            isHorizontalAlign: itemsTable.hasHorizontalAlignItems,
                            values: item.values,
                            hasSmallValues: item.hasSmallValues
                        } %}
                        {% include './info-item.njk' %}
                    {% else %}
                        {% set tipBox = {
                            title: item.title,
                            icon: item.icon,
                            description: item.description,
                            link: item.link
                        } %}
                        {% include './tip-box.njk' %}
                    {% endif %}
                </td>
            {% if loop.index % itemsTable.columns | default(3) == 0 and not loop.first %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
