// main: ../styles.scss

// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  COLLAPSE
// ****************************************
//
// ****************************************




//#
.ui-accordion {
    //margin-bottom: 30px;
}
.ui-accordion_header {
    position: relative;
    margin-top: 24px;
    background: $gray-1;
    border-top-left-radius: $border-radius-large;
    &:hover {
        background: shade($gray-1,7%);
    }
    &:first-of-type {
        margin-top: 0;
    }
}
.ui-accordion_trigger {
    @include collapse-trigger(28px,$c-primary);
    width: 100%;
    text-align: left;
    padding: 8px 100px 8px 40px;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    &::after {
        top: 12px;
        right: 30px;
        transition: $t-caret-collapse;
        @media #{$until-mobile} {
            top: 7px;
        }
    }
}
.ui-accordion_trigger_title {
    @extend .title-h2;
    color: $c-primary;
}
.ui-accordion_body {
    padding: 24px;
    li a {text-decoration: none;}
    .context-h1:first-child .context-h2:first-child,
    .context-h3:first-child {
        margin-top: 0;
    }
    ul, ol {        
        margin: 0;
    }
    p:last-child,
    ul:last-child,
    ol:last-child,
    .context-h1:last-child,
    .context-h2:last-child,
    .context-h3:last-child {
        margin-bottom: 0;
    }
}

// Angular hosts styles
ibe-accordion {
    &+& {
        display: block;
        margin-top: 30px;
    }
}

ibe-accordion {
    &+script+& {
        display: block;
        margin-top: 30px;
    }
}
// responsive
@media #{$until-mobile} {
    .ui-accordion_header {
        margin-top: 16px;
    }
    .ui-accordion_trigger {
        padding: 8px 46px 8px 26px;
        &::after {
            right: 14px;
            top: 11px;
            font-size: 1.25rem;
        }
    }
}