// main: ../styles.scss

// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  DATEPICKER
// ****************************************
//
// ****************************************

/* datepicker */

[_nghost-c4] {
  display: block !important;
  border: none !important;
}

[_nghost-c4]:focus {
  outline: none;
}

::ng-deep .ngb-dp-navigation-select[_ngcontent-c6] {
  display: none;
}

::ng-deep .ngb-dp-month[_ngcontent-c4] {
  flex: 1 1 calc(50% - 40px);
  max-width: calc(50% - 40px);
  margin: 0 20px;
}

::ng-deep .ngb-dp-month-name[_ngcontent-c4] {
  font-family: 'BiomeStd-Regular';
  font-weight: 600;
  color: #6d318f;
  font-size: 22px !important;
  margin-bottom: 24px;
}
