// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  HEADINGS
// ********************
//
//  + Headings
//  + Text colors
//
// ********************

// + Headings
// -------
.title-h1,
.title-h2,
.title-h3 {
    font-family: $f-title;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin: 0 0 10px;
}
.title-h1,
.title-h3,
.title-h4 {
    &.secondary {
        color: $c-secondary;
    }
}
.title-h1 {
    @include font-size($f-size-h1);
    color: $c-primary;
    margin-bottom: 24px;
    @media #{$until-mobile}{
      @include font-size($f-size-h1-mobile);
      margin-bottom: 14px;
    }
}
.title-h1 + .title-h2 {
    margin-top: -20px; 
    & + p { margin-top: 20px; }
    @media #{$until-mobile} {
        margin-bottom: -10px; 
    }
}
.title-h2 {
    @include font-size($f-size-h2);
    color: $c-secondary;
    @media #{$until-mobile}{
      @include font-size($f-size-h2-mobile);
    }
}
.title-h3 {
    @include font-size($f-size-h3);
    color: $c-primary;
    @media #{$until-mobile}{
      @include font-size($f-size-h3-mobile);
    }
}
.title-h4 {
  @include font-size($f-size-h4);
  font-weight: 600;
  line-height: 1.2;
  color: $c-secondary;
  margin-bottom: 14px;
}
.title-h5 {
    @extend .title-h4;
    color: $c-color2;
    margin-bottom: 7px;
}