// main: ../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  UI-ELEMENTS
// ****************************************
//
//  LOADERS
//
// ****************************************

.no-js .loader,
.no-js .page-loader { display: none;  }

@mixin loading($size,$color) {
    &::before {
        content:'';
        position: relative;
        display: inline-block;
        float: right;
        width: $size;
        height: $size;
        border-width: calc($size - 7);
        border-style: solid;
        border-color: $color;
        border-left-color: transparent;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .5s;
        animation: loadAnimation .87s linear infinite;
    }
}

.loader {
    @include overlay-style;
    z-index: $modal-zindex;
    position: absolute;
    opacity: 1;
    background: rgba(#fff,0.87);
}
.loading {
    @include loading(26px,$c-primary);
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: .8;
    transform: translate(-50%,-50%);
}
//## loading animation
@keyframes loadAnimation {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.page-loader {
    @include overlay-style;
    z-index: $modal-zindex;
    opacity: 1;
    background: rgba(#fff,0.8);
    .loading {
        @include loading(36px,$c-primary);
    }
}

/* ## three dots animation
.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $c-primary;
    @include font-size(10px);
    text-indent: -9999em;
    transform: translateZ(0) translateX(-50%) translateY(-50%);
    animation-delay: -0.16s;
}
.loading:before,
.loading:after {
    content: '';
    position: absolute;
    top: 0;
}
.loading:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loading:after {
    left: 3.5em;
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
*/
