// ********************
//  COMPONENTS
//
// ********************
//  PAGINATION
// ********************
//
// ********************

// pagination
.pagination {
    text-align: center;
}
.pagination_list {
    display: inline-flex;
    li {
        display: inline-block;
        border-bottom: 1px solid $c-primary;
        &.prev, &.next {
            a {
                color: $c-secondary;
            }
        }
        &.prev {
            a {
                margin-right: 12px;
                @include iconfont($icon-arrow-triangle-left)
            }
        }
        &.next {
            a {
                margin-left: 12px;
                @include iconfont($icon-arrow-triangle-right)
            }
        }
        &.prev, &.next {
            border-bottom: 0;
        }
        &.active {
            display: inline;
            position: relative;
            @include iconfont($icon-arrow-triangle-up, $pos: before); 
            &:before {
                position: absolute;
                bottom: -6px;
                left: 0;
                text-align: center;
                width: 100%;
                color: $c-primary;
            }
            a {
                color: $c-secondary;
                font-weight: 600;
            }           
        } 
        &.disabled {
            opacity: $disabled-opacity;
            a {
                pointer-events: none;
            }
        }           
    }
    a {
        display: inline-block;
        padding: 6px 11px;
        font-family: $font-name;
        text-decoration: none;
        &:hover {
            color: $c-secondary;
            .icon {                       
                color: $c-primary;                        
            }
        }
        .icon {
            color: $c-secondary;
            
        }
    }
    @media #{$until-mobile} {  //<=480px       
        flex-wrap: wrap;
        justify-content: center;        
    }
}
