// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  CUSTOM SCROLL
// ********************
//
// ********************
$scroll-bar-width: 14px;
$scroll-bar-height: 14px;
@mixin custom-scroll($style: default) {
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: $scroll-bar-width;
        height: $scroll-bar-height;
    }
    &::-webkit-scrollbar-thumb {
        height: 40px;
        border: 4px solid $custom-scroll-background;
        background-clip: padding-box;
        border-radius: $custom-scroll-borderadius;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        @if $style == default {
            background-color: $custom-scroll-bar-background;
        }
        @if $style == lighten {
            background-color: $custom-scroll-lighten-bar-background;
        }
    }
}
