// main: ../styles.scss

// ----------------------------------------------------
// SWITCH
// ----------------------------------------------------

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    min-width: 70px;
    height: 30px;
    input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        // &:checked,
        &.is-checked  {
            & + .switch_slider {
                background-color: $c-primary;
            }
            & + .switch_slider:before {
                left: 41px;
            }
        }
    }
    &.is-readonly {
        opacity: $disabled-opacity;
        pointer-events: none;
    }
}
.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-3;
    border-radius: 35px;
    transition: .2s;
    &::before { //## switch circle
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 2px;
        top: 2px;
        background-color: $gray-2;
        border-radius: 50%;
        transition: .14s;
        transition-timing-function: ease-in-out;
    }
}
.switch_label {
    @extend .ui-label;
}
// fix angular
ibe-switch-slider {
    height: 30px;
}