// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  TABLES
// ****************************************
//    + table
//    + tfoot-total
//    + table-resume
//    + table-offers
//    + responsive-table
//    + table-guest-detail
//    + promo-table
// ****************************************

//  + table
// -------
.price-resume_head {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid $gray-3;
    .label {
        color: $c-primary;
    }
    .price {
        color: $c-text;
        text-align: right;
        margin-left: auto;
    }
    .fare-label {
        position: relative;
        margin-right: 7px;
    }
}

.table {
    width: 100%;
    line-height: 1.2;
    th, td {
        padding: 2px 0;
        box-sizing: border-box;
        &:last-child {
            text-align: right;
        }
        &:first-child {
            text-align: left;
        }
    }
    tr:first-child { //## supports responsible muli-th
        th:first-child,
        td:first-child { padding-top: 10px; }
    }
    
    tbody td {
        padding-left: 14px;
    }
}
.colgroup_title {
    font-weight: 600;
    th,td { padding-top: 10px; }
}


//  + tfoot-total
// -------
.tfoot-total {
    padding-top: 4px;
    text-align: right;
    color: $c-primary;
    font-family: $f-title;
    @include font-size($f-size-md);
    .label {
        font-weight: 600;
    }
    .price {
        margin-left: 8px;
        color: $c-secondary;
    }
}


//  + table-resume
// -------
.table-resume {
    @extend .table;
    margin-bottom: 20px;
    caption {
        text-align: left;
        color: $c-primary;
        font-weight: 600;
        padding: 5px 0;
        border-bottom: 1px solid $c-secondary;
    }
    tbody th {
        font-weight: 600;
        white-space: nowrap;
        @include handling-long-words();
        @media #{$until-mobile} { // <=640px
            flex-basis: 40%;
        }
    }
    th, td {
        text-align: left;
        padding: 5px 0;
        &:last-child { 
            text-align: left; 
        }
    }
    tbody td {
        width: 50%;
        padding-left: 14px;
        padding-right: 14px;
        white-space: nowrap;
    }
    .approved,
    .waiting {
        &::before {
            display: inline-block;
            margin-right: 3px;
        }
    }
    .approved {
        @include iconfont($icon-circle-check,before);
        &::before { color: $c-primary; }
    }
    .waiting {
        @include iconfont($icon-alert,before);
        &::before { color: $c-secondary; }
    }
    // [Responsive]
    @media #{$until-mobile} { // <=640px
        tr {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            &:first-child {
                th,td {
                    padding-top: 5px;
                    &:first-of-type {
                        padding-top: 10px;
                    }
                }
            }
        }
        th, td {
            width: initial;
        }
        tbody th {
            white-space: normal;
        }
        tbody td {
            flex-basis: 60%;
            padding-right: 0;
        }
    }
    @media #{$until-mobile-sm} { // <=480px
        tbody td {
            flex: 1 1 50%;
        }
    }
}


//  + table-offers
// -------
.table-offers {
    @extend .table;
    tbody {
        .hide {
            display: none;
            @media #{$until-tablet-portrait} { //<=768px
                display: table-cell;
            }
        }
        tr th, tr td {
            padding-top: 6px;
            padding-bottom: 6px;
            border-bottom: 1px solid $c-border;
        }
        .price,
        .currency {
            color: $c-secondary;
        }
        .from {
            @include font-size($f-size-xs);
            color: $c-primary;
        }
        .price {
            @include iconfont($icon-arrow-triangle-right, after);
            @include font-size($f-size-md-sm);
            font-family: $font-name;
            font-weight: 600;
            &:after { //## right arrow
                @include font-size($f-size-xs);
                color: $c-secondary;
                margin-left: 4px;
            }
        }
    }
    a {
        text-decoration: none;
    }
}

//  + responsive table
// -------
.table-responsive_wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive {
    width: 100%;
    text-align: center;
    thead {
        th {
            font-family: $font-name;
            font-weight: 600;
            line-height: 1.2;
            color: $c-primary;
            vertical-align: bottom;
            padding: 6px 14px;
            border-bottom: 1px solid $c-primary;
        }
    }
    tbody {
        th, td {
            position: relative;
            padding: 10px;
            vertical-align: middle;
            //white-space: nowrap;
        }
    }
    [class^='iconlink-'] {
        display: inline-block;
        vertical-align: middle;
        @include font-size($f-size-xxlg);
        padding: 0 8px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .switch {
        display: block;
        margin: auto;
    }
    .icon-set {
        white-space: nowrap;
    }
    // custom icon sizes
    .iconlink-mmb {
        @include font-size($f-size-xlg);
        padding: 2px 8px 3px;
    }
    @media #{$until-tablet-portrait} { // 768px
        thead tr {
            position: absolute;
            left: -9999px; //## accessibility
        }
        tbody {
            th, td {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 10px 0;
                text-align: right;
                &::before { //## <th> simulation
                    content: attr(data-th);
                    flex: 1 0 50%;
                    text-align: left;
                    color: $c-primary;
                }
                &:first-child {
                    font-weight: 600;
                    padding-top: 24px;
                }
                &:last-child {
                    border-bottom: 1px solid $c-primary;
                    padding-bottom: 29px;
                }
                [class^='iconlink-'] + [class^='iconlink-'] { //## right align
                    padding-right: 0;
                }
            }
        }
    }
}


//  + guest detail table
// -------
$tgd-left-indentation: 40px;
.table-guest-detail_grid {
    display: flex;
    margin: 0 -30px;
    .column {
        flex: 1 1 100%;
        padding: 0 30px;
    }
    // [RESPONSIVE]
    @media #{$until-tablet-portrait} {
        flex-wrap: wrap;
        margin: 0;
        .column {
            padding: 0;
        }
    }
}
.table-guest-detail {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    // elements
    tr {
        &:first-child {
            td {
                padding-bottom: 7px;
            }
        }
        &.bottom-secondary-divider {
            td {
                padding-bottom: 9px;
            }
        }
    }
    td, th {
        padding: 5px;
        &:first-child {
            padding-left: $tgd-left-indentation;
            text-align: left;
        }
        &:nth-child(4) {
            border-left: 1px solid $gray-3;
        }
    }
    .destination + .bottom-secondary-divider {
        td {
            padding-bottom: 4px;
        }
    }
    .pax-row {
        td, th {
            @include iconfont($icon-user);
            position: relative;
            color: $c-primary;
            text-align: left;
            font-weight: 600;
            padding: 10px 0 8px $tgd-left-indentation;
            &::before {
                position: absolute;
                left: 4px;
                top: 4px;
                font-size: 21px;
            }
        }
        & + tr {
            td {
                padding-top: 10px;
            }
        }
    }
    .disabled, .available {
        vertical-align: middle;
    }
    .disabled {
        @include iconfont($icon-circle-remove);
        color: $gray-3;
    }
    .available {
        @include iconfont($icon-circle-check);
        color: $c-primary;
    }
    .destination {
        td, th {
            padding: 4px 10px;
            font-weight: 600;
            border-bottom: 1px solid $gray-3;
            &:first-child {
                border-bottom-width: 0;
            }
        }
        &, & + tr {
            td, th {
                padding: 4px 10px;
                color: $c-primary;
                &:nth-child(4) {
                    border-left-width: 0;
                }
            }
        }
    }

    // [RESPONSIVE]
    @media #{$until-tablet-portrait} {
        table-layout: auto;
        td, th {
            &:first-child {
                padding-left: 0;
            }
        }
        .pax-row {
            td, th {
                padding-left: $tgd-left-indentation;
            }
        }
        // [RESPONSIVE]
        .currency-divider {
            display: none;
        }
    }
}

.bottom-secondary-divider {
    td, th {
        border-bottom: 1px solid $c-secondary;
    }
}
.top-primary-divider {
    td, th {
        border-top: 1px solid $c-primary;
    }
}

//  + promo-table
// -------
.promo-table {
    @extend .table-responsive;
    @include font-size($f-size-md);
    text-align: left;
    thead {
        th {
            padding: 6px 10px;
            @include font-size($f-size);
        }
    }
    tbody {
        tr {
            &:first-child {
                th, td {
                    padding-top: 10px;
                }
            }
        }
        th, td {
            &::before {
                flex-basis: 60px;
            }
        }
        td {
            padding: 4px 10px;
            &:before {
                @include font-size($f-size);
            }
        }
    }
    th {
        text-align: left; // IE10 support
    }
    // modifiers
    &.small-font {
        @include font-size($f-size);
        .promo-table_destination {
            font-weight: 600;
        }
    }
}
.promo-table_destination-wrapper {
    display: flex;
    span {
        flex-basis: 174px;
    }
    .promo-table_destination-arrow {
        flex-basis: 15px;
        flex-shrink: 0;
        text-align: left;
    }
}
.promo-table_price-wrap {
    font-family: $font-name;
    color: $c-secondary;
    white-space: nowrap;
    .price {
        font-weight: 600;
    }
}
.promo-table-link {
    @extend .button;
    @extend .btn-secondary;
    min-height: auto;
    margin: 5px 0;
    padding: 5px 8px 5px 6px;
    text-decoration: none;
    font-weight: 400;
    & + & {
        margin-left: 17px;
    }
}
.promo-table_flight-btn,
.promo-table_flight-hotel-btn {
    position: relative;
    color: $c-primary;
    text-transform: uppercase;
    &::before {
        position: absolute;
        left: 0;
        text-decoration: none;
    }
}
.promo-table_flight-btn {
    @include iconfont($icon-airplane-right);
    padding-left: 30px;
    &::before {
        position: absolute;
        top: -3px;
        font-size: 1.5em;
    }
}
.promo-table_flight-hotel-btn {
    @include iconfont($icon-airplane-bed);
    margin: 0 18px 0 10px;
    padding-left: 34px;
    &::before {
        top: -5px;
        font-size: 1.7em;
    }
}
.promo-table_destination-arrow {
    @include iconfont($icon-arrow-right);
    width: 80px;
    padding: 0 20px;
    text-align: center;
    &::before {
        color: $c-secondary;
        font-size: .7em;
    }
}
.promo-table_buttons {
    @include font-size($f-size);
    text-align: right;
}
@media #{$until-tablet-landscape} { // <=992px
    .promo-table_destination-wrapper {
        display: inline-block;
    }
    .promo-table_destination-arrow {
        width: 24px;
        padding: 0 10px;
    }
    .promo-table_flight-btn,
    .promo-table_flight-hotel-btn {
        position: relative;
    }
    .promo-table-link {
        & + & {
            margin-left: 10px;
        }
    }
}
@media #{$until-tablet-portrait} { // <=768px
    .context-table {
        .promo-table {
            @include font-size($f-size);
            tbody {
                tr {
                    &:first-child {
                        th, td {
                            padding-top: 10px;
                            &:first-child {
                                border-top-width: 0;
                            }
                        }
                        .promo-table_buttons {
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        th, td {
                            &:last-child {
                                border-bottom-width: 0;
                            }
                        }
                    }
                }
                th, td {
                    &:first-child {
                        border-top: 1px solid $gray-3;
                    }
                }
                .promo-table_buttons {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    padding: 0 0 10px;
                    &::before {
                        content: none;
                    }
                }
            }
        }
    }
    .promo-table_destination-arrow {
        padding: 0 4px
    }
}
@media #{$until-mobile-sm} {
    .promo-table_destination {
        @include font-size($f-size); 
    }
}