// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  TOOLTIP
// ****************************************

.tooltip {
    @include font-size($tooltip-fontsize);
    position: absolute;
    z-index: $tooltip-zindex;
    display: block;
    margin: $tooltip-margin;
    word-wrap: break-word;
    white-space: normal;
    opacity: 0;

    &.show { opacity: 1; }
    .arrow {
        position: absolute;
        display: block;
        width: $tooltip-arrow-width;
        height: $tooltip-arrow-height;
        &::before,
        &::after {
            content: '';
            position: absolute;
            border-color: transparent;
            border-style: solid;
        }
  }
}
.bs-tooltip-top {
    padding: $tooltip-arrow-height 0;
    .arrow {
        bottom: 0;
        &::before,
        &::after {
            top: 0;
            border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-top-color: $tooltip-arrow-color;
        }
        &::after { //## with border
            top: -1px;
            border-top-color: $tooltip-bg;
        }
    }
}
.bs-tooltip-right {
    padding: 0 $tooltip-arrow-height;
    .arrow {
        left: 0;
        width: $tooltip-arrow-height;
        height: $tooltip-arrow-width;
        &::before,
        &::after {
            right: 0;
            border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-right-color: $tooltip-arrow-color;
        }
        &::after { //## with border
            right: -1px;
            border-right-color: $tooltip-bg;
        }
    }
}
.bs-tooltip-bottom {
    padding: $tooltip-arrow-height 0;
    .arrow {
        top: 0;
        &::before,
        &::after {
            bottom: 0;
            border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
            border-bottom-color: $tooltip-arrow-color;
        }
        &::after { //## with border
            bottom: -1px;
            border-bottom-color: $tooltip-bg;
        }
    }
}
.bs-tooltip-left {
    padding: 0 $tooltip-arrow-height;
    .arrow {
        right: 0;
        width: $tooltip-arrow-height;
        height: $tooltip-arrow-width;
        &::before,
        &::after {
            left: 0;
            border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
            border-left-color: $tooltip-arrow-color;
        }
        &::after { //## with border
            left: -1px;
            border-left-color: $tooltip-bg;
        }
    }
}

.bs-tooltip-auto {
    &[x-placement^="top"] {
        @extend .bs-tooltip-top;
    }
    &[x-placement^="right"] {
        @extend .bs-tooltip-right;
    }
    &[x-placement^="bottom"] {
        @extend .bs-tooltip-bottom;
    }
    &[x-placement^="left"] {
        @extend .bs-tooltip-left;
    }
}

// Wrapper for the tooltip content
.tooltip-inner,
.tooltip-note {
    min-width: $tooltip-min-width;
    max-width: $tooltip-max-width;
    padding: $tooltip-padding-y $tooltip-padding-x;
    color: $tooltip-color;
    text-align: center;
    line-height: 1.2;
    border-radius: $tooltip-border-radius;
    border: 1px solid $tooltip-border;
    background-color: $tooltip-bg;
}

.tooltip-note {
    @include font-size($f-size-xs);
    z-index: $tooltip-zindex;
    padding: 10px 24px;
    border: 0;
}

.ui-tooltip_info {
    @extend .ui-label_i;
    position: relative;
    top: 2px;
}

@media #{$until-mobile} {
    .ui-form_group {
        .tooltip {
            left: auto !important;
            right: 0;
            .arrow {
                left: auto !important;
                right: 3px;
            }
        }
    }
}
