// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  CONNECTIONS
// ****************************************
//
// ****************************************


$connection-airplane-color: $c-secondary;
$connection-dot-color: $c-primary;
$connection-dot-size: 9px;

// identation
$vertical-dots-identation: 34px;
$vertical-dots-identation-mobile: 28px;
$duration-time-identation-mobile: 48px;

.connections {
    position: relative;
}
.connections_item {
    position: relative;
    font-family: $font-sanserif;
    @include font-size($f-size-sm);
    padding: 7px 0 7px 130px;
    &.transit-step {
        color: $c-secondary;
    }
    .airport {
        word-break: break-all;
    }
    .time {
        width: 78px;
        display: inline-block;
        position: absolute;
        left: 55px;
    }
}
.connections_route {
    @include font-size($f-size);
    .time {
        font-weight: 700;
    }
}
.connections_separator {
    position: relative;
    &::before { //## vertical dots line
        content: '';
        top: 22px;
        left: $vertical-dots-identation + 4px;
        width: 1px;
        border-left: 1px solid $c-primary;
        background-color: transparent;
        height: calc(100% - 9px);
        position: absolute;
    }
    // modifiers
    &.transit {
        &::before {
            border-left-style: dotted;
        }
    }
    &:last-child {
        &::before {
            content: none;
        }
    }
    &:first-child .connections_item:first-child,
    &:last-child .connections_item:last-child { //## first and last <li>
        font-weight: 500;
        &.connections_route {
            &::after { //## dot icon
                background-color: $connection-dot-color;
            }
        }
    }
}
.connections_route {
    &::after { //## dot icon
        content: '';
        position: absolute;
        left: $vertical-dots-identation;
        top: .8em;
        width: $connection-dot-size;
        height: $connection-dot-size;
        border-radius: 50%;
        background-color: lighten($connection-dot-color, 30%);
    }

    &.departure {
        @include iconfont($icon-hasta, before);
        &::before { //## airplane icon
            position: absolute;
            left: 0;
            top: 3px;
            @include font-size($f-size-md);
            color: $connection-airplane-color;
        }
    }
}
.connections_total {
    position: relative;
    padding: 7px $vertical-dots-identation;
    margin-top: 8px;
    color: $c-primary;
    @include iconfont($icon-mascota2, before);
    &::before {
        position: absolute;
        top: 7px;
        left: 5px;
        color: $c-secondary;
        @include font-size($f-size);
    }
    .time {
        font-weight: 600;
    }
}
