// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR
// ********************
//
//    + Journey header
//    + Trip selector
//        ++ Flights table
//        ++ Flight info
//    + Connections data (modal)
//
// ********************

$flight-border: $gray70;

.tripselector_outbound,
.tripselector_inbound {
    margin: 44px 0 24px;
}
.tripselector_inbound {
    .flightselect_header {
        margin-top: 76px;
    }
}

// + Journey header
// -------
.flightselect_header {
    @include font-size(24px);
    z-index: 1;
    position: relative;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    &.inbound {
        margin-top: 68px;
        @media #{$until-tablet-portrait} { // <=768px
            margin-top: 40px;
        }
    }
}
.flightselect_header_route {
    margin-bottom: 30px;
    .label,.route {
        display: inline-block;
    }
    .route {
        color: $c-color1;
        .icon {
            color: $c-primary;
        }
    }
}


// + Trip selector
// -------
.flights {
    position: relative;
    clear: both;
}

//## generate price rate fares styles
//## using general fares quantity value from variales.scss
@mixin pricerate-fares-style {
    .price-rate {
        @for $i from 1 through $fare-quantity {
            &.fare#{$i} {
                @if $i == 1 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare1-background;      
                        .fare-label {    
                            @include fare1-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare1-style;
                    }
                }
                @else if $i == 2 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare2-background;      
                        .fare-label {    
                            @include fare2-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare2-style;
                    }
                }
                @else if $i == 3 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare3-background;      
                        .fare-label {    
                            @include fare3-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare3-style;
                    }
                }
                @else if $i == 4 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare4-background;      
                        .fare-label {    
                            @include fare4-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare4-style;
                    }
                }
                @else if $i == 5 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare5-background;      
                        .fare-label {    
                            @include fare5-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare5-style;
                    }
                }
            }
        }
    }
}

// ++ Flights table
.flights_table {
    width: 100%;
    .flight {
        position: relative;
        display: block;
        margin-bottom: 24px;
        border: solid $flight-border;
        border-width: 0 2px 2px;
        .tooltip-note {
            display: none;
        }
        &.is-selected {
            border-width: 0 4px 4px;
            border-color: $c-secondary;
            .rowFlight_date {
                background-color: $c-secondary;
            }
            .colPrices { 
                border-color: $c-secondary; 
                background-color: $c-secondary;
                .flight_info_icon,
                .price-rate_note {
                    color: #fff;
                }
            }
        }
        &.is-disabled {
            cursor: default;
            .rowFlight {
                opacity: .3;
                transition: all .2s linear;
            }
            .tooltip-note {
                @include font-size(18px);
                position: absolute;
                top: 30px;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                max-width: 100%;
                align-items: center;
                justify-content: center;
                opacity: 0;
                background-color: #fff;
                transition: all .37s ease;
            }
            &:hover {
                .tooltip-note {
                    opacity: .74;
                }
            }
        }
    }
    .rowFlight_date {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        padding: 4px 16px;
        box-sizing: border-box;
        background: $c-primary;
    }
    .colDeparture,
    .colReturn,
    .colDuration,
    .colPrices {
        position: relative;
        padding: 14px 0;
        align-self: center;
        text-align: center;
        box-sizing: border-box;
    }
    .colDuration {
        position: relative;
        padding: 0;
        .time { @include font-size(14px); }
        &::after { //## horizontal line
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 1px;
            background: $c-secondary;
        }
    }
    .colPrices {
        align-self: stretch;
        padding-top: 0;
        .flight_info {
            position: absolute;
            top: 6px;
            display: inline-block;
        }
        .flight_info_icon {
            @include font-size(28px);
            color: $gray70;
        }
        .flight_info_label {
            @include hide-visually;
        }
    }

    .flight_label {
        @include font-size(12px);
        display: block;
        color: $gray60;
        text-transform: uppercase;           
        line-height: 1.3;
        margin-bottom: 3px;
    }
    .time,
    .airport-name {
        @include font-size(18px);
        line-height: 1;
        font-weight: 700;
        color: $c-primary;
    }
    .flight-number {
        @include iconfont($icon-desde,before);
        @include font-size(12px);
        z-index: 2;
        position: relative;
        display: inline-block;
        line-height: 1;
        font-weight: 700;
        padding: 4px 6px;
        border: 0;
        background: #fff;
        &:before { //## flight icon
            @include font-size(16px);
            display: none;
            position: relative;
            top: 4px;
            line-height: 0;
            margin-right: 2px;
        }
    }

    .price-rate {
        @extend .button;
        @extend .btn-action;
        min-width: auto;
        font-weight: 700;
        margin: 0 5px;
        // &.disabled,
        // &.disabled:hover {}
        // &.selected {}
        .label {
            @extend .hide-visually;
        }
    }
    .price-rate_note {
        @include font-size(12px);
        color: $c-color2;
        line-height: 1.1;
        font-weight: 700;
        margin-top: 10px;
    }
    // @include pricerate-fares-style;
}
.flights_noresults { 
    @include font-size($f-size-lg);
    text-align: center;
    text-align: center;
    padding: 30px 40px;
    margin-top: 14px;
    background: $gray60;
}

// ++ Flight info
.flight_info_legend {
    @include clearfix;
    padding-bottom: 0;
    border-bottom: 1px solid $c-primary;
    .flight_info_item {
        display: flex;
        float: left;
        align-items: center;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    .flight_info_icon {
        @include font-size(48px);
        color: $gray70;
    }
    .flight_info_label {
        @include font-size(12px);
        color: $gray70;
        text-transform: uppercase;
        margin-left: 4px;
    }
}


//## connections
.connection {
    @include font-size($f-size);
    button {
        cursor: pointer;
        .connection_link_label { text-decoration: underline; }
    }
    .connection_link {
        color: $c-text;
        &::after {
            @include font-size(22px);
            color: $c-primary;
        }
    }
}
.connection-stop {
    .connection_link {
        @include info-link($icon-info,$f-size-sm,right);
    }
}
.connection-stopover {
    .connection_link {
        @include iconfont($icon-info,after);
    }
    .connection_link_label {
        @include hide-visually;
    }
}


// [Responsive]
@media (min-width: 360px) {
    $col-flights-width: 128px;
    $col-duration-width: calc(100% - (#{$col-flights-width} * 2));
    $col-prices-width: 100%;

    .flights_table {
        .rowFlight {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            flex-direction: row;
            justify-content: center;
        }
        .colDeparture,
        .colReturn {
            width: $col-flights-width;     
        }
        .colDuration {
            width: $col-duration-width;
            min-height: 40px;
            padding-top: 22px;
            .time {
                font-size: .875rem;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0;
            }
        }
        .colPrices {
            width: $col-prices-width;
            padding-top: 14px;
            .flight_info {
                top: 18px;
            } 
        }
    }
}
@media #{$tablet-portrait} { // >= 768px
    $col-flights-width: 168px;
    $col-prices-width: 274px;
    $col-duration-width: calc(100% - ((#{$col-flights-width} * 2) + #{$col-prices-width}));
    .flights_table {
        // .flight {
        //     &.is-selected {
        //         .colPrices {
        //             background-color: $c-secondary;
        //         }
        //         .rowFlight {
        //             border-width: 0 2px 2px;
        //         }
        //     }
        // }
        .flight-number {
            border: 1px solid $c-secondary;
            &::before { //## flight icon
                display: inline-block;
            }
        }
        .flight_label {
            margin-bottom: 6px;
        }
        .colDeparture,
        .colReturn {
            width: $col-flights-width;  
            .time,
            .airport-name {
                @include font-size(24px);
            }   
        }
        .colDuration {
            width: $col-duration-width;
        }
        .colPrices {
            width: $col-prices-width;
            border-left: 2px solid $flight-border;
        }
    }
}