// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  TRIPSELECTOR: SELECT FLIGHT MODIFIER
// ****************************************
//
// ****************************************

.tripselector_modifier {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 38px;

    &::before { //## bottom layout line
        content: '';
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 40px;
        height: 14px;
        background: $c-color2;
    }
    &::after { //## layout icon at bottom
        @include iconfont($icon-aceptar,null);
        @include font-size(30px);
        position: absolute;
        bottom: 0;
        right: 0;
        color: $c-primary;
    }
}
.tripselector_modifier_info {
    @include font-size($f-size-md-sm);
    font-weight: 500;
    line-height: 1;
}
.tripselector_modifier_button {
    margin-left: auto;
    button {
        @extend .btn-secondary;
    }
    @media #{$until-mobile} {
        button {
            min-width: auto;
        }
    }
}