// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR FARES
// ********************
//
//  + Mixin flight fares styles
//  [Responsive]
//
// ********************

// variables
$select-fares-breakpoint: $tablet-portrait;
$fares_list-font-size: $f-size-md-xs;
$flights_fares_header-font-size: $f-size-sm;
$flights_fares_header-font-size-desktop: 18px;
$flights_fares_footer_radio-size: 15px;
$flights_fares_left-section-width: 42%;
$flights-fares-pad: 14px;
$flight-fares-items-space: 1%;

.flights_fares {
    position: relative;
    display: flex;
    margin-right: $flights-fares-pad;
    padding: #{$flights-fares-pad} 0 #{$flights-fares-pad} #{$flights_fares_left-section-width};
    text-transform: uppercase;
}
@mixin flights_fares_item-selected {
    border-color: $c-secondary;
    transform: scale(1.05);
    .flights_fares_header {
        background-color: $c-secondary;
    }
    .flights_fares_button {
        background-color: $c-secondary;
    }
}
.flights_fares_item {
    @include font-size($f-size-xs);
    flex: 1 1 100%;
    margin: 0 1px;
    border: 2px solid $c-primary;
    box-sizing: border-box;
    transition: ease-out .1s;
    // modifiers
    &:first-child {
        .flights_fares_body {
            font-size: inherit;
        }
        .fares_list_description {
            @include font-size(11px);
            position: absolute;
            left: $flights-fares-pad;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: calc(#{$flights_fares_left-section-width} - #{$flights-fares-pad});
            min-height: 40px;
            padding: 2px;
            line-height: 1.1;
            background-color: $c-color3;
        }
        .not-included {
            color: $c-primary;
            font-weight: 600;
        }
    }
    &.unavailable {
        color: $c-color1;
        cursor: default; 
        pointer-events: none;
        &:hover {
            background: inherit;
        }
        .flights_fares_button {
            @include font-size(16px);
            text-transform: capitalize;
            opacity: .50;
        }
    }
    &.selected {
        @include flights_fares_item-selected;
        transform: none;
        .flights_fares_button {
            &::before { //## symbol simulating a checkbox style
                background-color: #fff;
                box-shadow: inset 0 0 0 3px $c-secondary;
            }
        }
    }
    flight-fare { // angular
        display: flex;
        height: 100%;
        flex-direction: column;
    }
}
.flights_fares_header {
    font-family: $f-title;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 2px;
    line-height: 1.1;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: $c-primary;
    transition: all .2s ease;
}
.fare-name_label {
    display: none;
}

.flights_fares_body {
    font-size: 0;
    margin: 0;
    padding: 0 8%;
    font-weight: 600;
    background-color: $c-color3;
    transition: all .1s ease;
}
.flights_fares_footer {
    @include font-size(12px);
}
.flights_fares_button {
    position: relative;
    width: 100%;
    min-width: auto;
    padding: 12px 2px;
    color: #fff;
    font-size: inherit;
    white-space: nowrap;
    background: $c-primary;
    border: 0;
    border-radius: 0;
    .promo-label {
        position: absolute;
        left: 10px;
        top: 13px;
        padding-bottom: 0;
    }
}
.btn-fares_flight {
    display: block;
    text-align: right;
    margin: 0 .6% 15px;
}
.flights_fares_fare-text {
    font-weight: 600;
}
.fares_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 0 17px;
    box-sizing: border-box;
    li {
        @include iconfont($icon-aceptar);
        max-height: 14px;
        padding: 0 0 30px;
        font-size: 0;
        text-align: center;
        &::before { //## checked symbol
            margin-top: 13px;
            font-size: calculateRem(18px);
            color: $c-color1;
        }
        // modifiers
        &.not-included {
            color: $gray80;
            font-weight: 400;
            &::before {
                color: $gray70;
            }
        }
    }
}
.fares_list_extra-description {
    margin: 0 0 0 2px;
    color: $c-color4;
    font-size: calculateEm(11px, $fares_list-font-size);
    font-weight: 600;
    vertical-align: middle;
}
.fares_select-label {
    @include iconfont($icon-arrow-right);
    @include font-size(12px);
    position: absolute;
    left: 0;
    bottom: 18px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: $flights_fares_left-section-width;
    height: 36px;
    padding: 0 2rem 0 $flights-fares-pad;
    font-weight: 600;
    line-height: 1.1;
    &::before { //## arrow
        position: absolute;
        right: 2px;
        top: 50%;
        color: $c-color1;
        transform: translateY(-50%)
    }
}
.fares_select-label_text {
    margin-left: auto;
}

// [Responsive]
@media #{$select-fares-breakpoint} { // >=768px
    .flights_fares {
        padding: $flights-fares-pad 0;
        margin: 0 -$flight-fares-items-space;
        text-transform: initial;
    }
    .flights_fares_body {
        @include font-size($f-size);
        background-color: initial;
    }
    .fares_list {
        padding: 20px 0;
        li {
            max-height: initial;
            padding: 1px 0;
            font-size: inherit;
            text-align: left;
            &::before { //## list check icon
                position: relative;
                top: calculateEm(2px, $fares_list-font-size);
                margin: 0 calculateEm(3px, $fares_list-font-size) 0 0;
            }
        }
    }
    .flights_fares_header {
        @include font-size($flights_fares_header-font-size-desktop);
    }
    .fare-name_label {
        @include iconfont($icon-arrow-right);
        display: inline;
        &::before { // title right arrow prefix
            position: relative;
            top: calculateEm(2px, $flights_fares_header-font-size-desktop);
            margin-right: calculateEm(4px, $flights_fares_header-font-size-desktop);
            color: $c-color1;
        }
    }
    .flights_fares_item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 $flight-fares-items-space;
        cursor: pointer;
        &:first-child {
            .flights_fares_body {
                @include font-size($f-size);
            }
            .fares_list_description {
                position: static;
                width: initial;
                min-height: initial;
                padding: initial;
                font-size: inherit;
                background-color: initial;
            }
            .not-included {
                color: $gray80;
                font-weight: 400;
            }
        }
        &:focus {
            outline: 0;
        }
        &:hover {
            @include flights_fares_item-selected;
        }
        &.selected {
            @include checked-icon();
            &:hover {
                transform: none;
            }
        }
    }
    .flights_fares_footer {
        @include font-size($f-size-lg);
        margin-top: auto;
    }
    .flights_fares_button {
        &::before { //## symbol simulating a radio style
            content: '';
            position: relative;
            top: 2px;
            display: inline-block;
            width: $flights_fares_footer_radio-size;
            height: $flights_fares_footer_radio-size;
            border: 2px solid #fff;
            border-radius: 50%;
        }
    }
    .fares_select-label {
        display: none;
    }
}
@media #{$tablet-landscape} { // >=992px
    .flights_fares_item {
        &.selected {
            @include checked-icon($posTop: 4px, $iconSize: 30px, $borderWidth: .18rem);
        }
    }
}