{% set bodyClass = "error-page" %}

{% set layout = 'checkin' %}
{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    {% include "partials/sections/_error-page.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
