{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set flightIsSelected = true %}
{% set BFstep1 = true %}
{# day selector type: week, month, bestprice #}
{% set daySelectorType = "week" %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# SEARCH RESULT AND SUMMARY #}
            {% set summary = {
                nextButtonUrl: 'BF-passenger_data.html'
            } %}
            {% include "partials/components/_combined_summary_bar.njk" %}

            {# NEW SEARCH #}
            <div class="newsearch_collapse collapse" id="collapseNewSearch">
                {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col">
            {# SELECT FLIGHT #}
            {% include "partials/components/IBE/flight-select/_select_flight.njk" %}

            {# SELECT FLIGHT FOOTNOTE #}
            {% include "partials/components/IBE/flight-select/_select_flight_footnote.njk" %}

            {# PAGE ACTIONS BUTTONS #}
            {% set pageButtons = {
                actionButtonLabel: 'Next',
                actionButtonUrl: 'BF-passenger_data.html'
            } %}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>

{# MODAL: CONNECTIONS #}
{% set modal = {
    class: 'flights-connections_modal',
    id: 'modal-flightConnections'
} %}
{% include "partials/components/IBE/modals/_modal_connection.njk" %}

{% endblock %}

{% block component_jquery %}
<script>
    $(document).ready(function () {
        $('.flight').hide();
        $('[data-status="selectedFlight"]').show();
    });
</script>
{% endblock %}