

{% extends "layouts/_layout.njk" %}


{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page l-main l-main--booking" %}
{% set pageButtons = {
    secondaryButtonLabel: 'Omitir paso',
    secondaryButtonUrl: ''
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    {# Summary client #}
    {% include "partials/_summary.njk" %}
</div>
<div class="container-wrap">
    <div class="grid">
        <!-- MAIN CONENT -->
        <div class="grid-col col-12">
            <div class="services-cards">
                {% set servicesCards = {
                    serviceProducts: [
                        {
                            title: {
                                text: "Selección de asientos"
                            },
                            price: {
                                value: "10",
                                hasFrom: true
                            },
                            description: 'Se le asignará un asiento automáticamente al hacer la facturación si no desea este servicio.',
                            action: {
                                items: [
                                    {
                                        text: "Añadir"
                                    }
                                ]
                            },
                            image: {
                                src: '../src/assets/imgs/services-cards/extras-seats.jpg'
                            },
                            icon: 'seat',
                            isFullLink: {
                            }
                        },
                        {
                            title: {
                                text: "Menús a la carta"
                            },
                            price: {
                                value: "19,00",
                                hasFrom: true
                            },
                            description: 'Se le asignará un asiento automáticamente al hacer la facturación si no desea este servicio.',
                            action: {
                                items: [
                                    {
                                        text: "Añadir"
                                    }
                                ]
                            },
                            image: {
                                src: '../src/assets/imgs/services-cards/extras-comida.jpg'
                            },
                            icon: 'ic_restaurant_white_18px',
                            isFullLink: {
                            }
                        },
                        {
                            title: {
                                text: "Facturación express"
                            },
                            price: {
                                value: "10",
                                hasFrom: true
                            },
                            description: '<span class="icon icon-account-circle"></span>Incluido con Turista + (0)€',
                            action: {
                                items: [
                                    {
                                        text: "Modificar"
                                    }
                                ]
                            },
                            image: {
                                src: '../src/assets/imgs/services-cards/extras-facturacion-express.jpg'
                            },
                            icon: 'icono-facturacionexpress',
                            isSelected: true,
                            isFullLink: {
                            }
                        },
                        {
                            title: {
                                text: "Duty free"
                            },
                            price: {},
                            description: 'Se le asignará un asiento automáticamente al hacer la facturación si no desea este servicio.',
                            action: {
                                items: [
                                    {
                                        text: "Añadir"
                                    }
                                ]
                            },
                            image: {
                                src: '../src/assets/imgs/services-cards/extras-dutty-free.jpg'
                            },
                            icon: 'icono-dutyfree',
                            isFullLink: {
                            }
                        }
                    ]
                } %}
                {% for serviceProduct in servicesCards.serviceProducts %}
                    {% include "partials/components/IBE/services/services-cards/_services-card.njk" %}
                {%endfor%}
            </div>
            <p>Una vez comprado alguno de los servicios, estos no podrán ser reembolsados. 
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
        </div>
    </div>
    {# PAGE ACTIONS BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
