{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page check-in-login-page" %}
{% set layout = 'checkin' %}
{% set page_title = {
    text: 'Web Check-In',
    type: 'h1',
    class: 'h1'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# PAGE TITLE #}
    {% include "partials/components/_page_title.njk" %}   

    <div class="intro">
        <p>
            El WEB CHECK-IN está permitido dentro las 72 horas hasta un máximo de 2 horas antes de la hora programada del vuelo.
        </p>
    </div>

    {# CHECK-IN LOGIN FORM #}
    {# CHECK-IN LOGIN FORM #}
    {% set bookingRetrieve = {
        formTypeClass: "booking-retrieve",
        buttonText: 'Iniciar Check-in',
        buttonUrl: 'BF-WCI_home.html',
        data: {
            formGroups: [
                {            
                    isContainer: false,
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Referencia de reserva/PNR',
                                        type: 'text',
                                        value: 'AMRHGL',
                                        id: 'pnr'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Apellido',
                                        type: 'text',
                                        id: 'lastName'                         
                                    }
                                }
                            ]
                        }                     
                    ]
                }
            ]
        }
    } %}
    {% include "partials/components/IBE/_booking-retrieve.njk" %}

        
    {# CHECK-IN INFORMATION #}
    <div class="checkin_login-info">
        <p><a href="">Descarga</a> información para completar el Web Check-In</p>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
