{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

{% include "partials/_md/_md_form_elements.njk" %}

{# <div class="md-form-inverse">
    {% include "partials/_md/_md_form_elements.njk" %}
</div> #}

{% endblock %}

{% block component_jquery %}{% endblock %}
