{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "home-page" %}
{% set navFixed = {
    corporate: true
} %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav',
    showAlertFlag: false
} %}
{# ----------------------------------------- #}

{% block content %}
    <div class="container-fluid">
        <div class="grid">
            <div class="grid-col col-12">
                {# MAIN FULL BANNER #}
                {% set banner = {
                    showPagination: true,
                    showPrevNext: false,
                    items: [
                        {
                            bg: 'banner1',
                            title: 'Fly to our<br>7 destinations daily',
                            subtitle: 'Mombasa <span class="price_currency"><span class="currency">KES</span><span class="price">4,200</span></span>',
                            button: 'Book now!',
                            buttonIntroCaption: true,
                            isActive: true,
                            alignRight: true
                        }, {
                            bg: 'banner2',
                            title: 'Title #2',
                            subtitle: 'Plan and book your flights with Jambojet today',
                            button: 'Book now!',
                            buttonIntroCaption: true,
                            isActive: false
                        }, {
                            bg: 'banner3',
                            title: 'Explore our destinations text 3',
                            subtitle: 'Plan and book your flights with Jambojet today',
                            button: 'Book now!',
                            buttonIntroCaption: true,
                            isActive: false,
                            alignCenter: true
                        }
                    ]
                } %}
                {% include "partials/corporative/_main-banner.njk" %}

                {# MULTIPANEL #}
                {% include "partials/corporative/_multiple-panel.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {# DESTINATIONS OFFERS #}
                {% include "partials/corporative/destinations-offers/_destinations-offers.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6">
                {% set offer = {
                    isOfferDeal: true,
                    fullLink: '#',
                    image: "destinations/destination-img1.jpg",
                    title: 'Find great accommodation',
                    caption: "Great accommodation awaits you wherever you go",
                    buttonUrl: "",
                    button: 'Explore'
                } %}
                {% include "partials/components/_offers_item.njk" %}
            </div>
            <div class="grid-col col-12 col-md-6">
                {% include "partials/components/_shared/_newsletter.njk" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block component_jquery %}{% endblock %}