{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{# ----------------------------------------- #}

{% block content %}

    <!-- ARTICLE CONTENT: ROW1 -->
    <div class="container-wrap">
        <!-- BREADCRUMB -->
        {% set breadcrumbsList = [
            {
                item: 'Lorem',
                url: '#'
            }
        ] %}
        {% set breadcrumb = {
            itemCurrent: 'ipsum dolor'
        } %}
        {% include "partials/corporative/_breadcrumb.njk" %}

    </div>

    <!-- ARTICLE CONTENT: ROW2 -->
    <!--#### custom grid: columns and grid variables ####-->

    {# MAIN TITLE #}
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-4 col-md-last">
                <!-- REPO - ASIDE -->
                <div class="container-wrap">
                    <div class="grid grid-noBottom">
                        <div class="grid-col col-12">
                            <div class="context-box_aside">
                                <h3 class="context-box_aside_title">Content</h3>
                                <ul class="context-list">
                                    <li>
                                        <a href="">Advertise with Jambojet. The only way is up.Entebbe</a>
                                    </li>
                                    <li>
                                        <a href="">Before travel</a>
                                    </li>
                                    <li>
                                        <a href="">During travel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col col-12 col-md-8">
                {% set page_title = {
                    isCorporative: true,
                    text: 'Jambojet Advertising Media',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
                {% set page_title = {
                    isCorporative: true,
                    text: 'Advertise with Jambojet. The only way is up.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>Imagine telling your brand story to close to 1,000,000 passengers per year! And just so you know…</p>
                <ul class="context-list">
                    <li>100% of them are a highly targeted and captive audience</li>
                    <li>100% of them passengers will see and read your story</li>
                    <li>94% will have brand recall as they spend on average up to 40 minutes in each flight</li>
                </ul>
                <p>If this is what you are looking for, engage with them every step of their journey from planning to post travelling with us.</p>
                <p>WARNING: There is a 99.999% chance of them falling in love with your brand, the other 0.001% were probably asleep.</p>
                {% set page_title = {
                    isCorporative: true,
                    text: 'Before travel.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                {% set page_title = {
                    isCorporative: true,
                    text: 'Online Advertising.',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>The journey of any travelling consumer starts here, online. Have your brand tell your story on our online mediums, be it the homepage banner, flight itinerary, e-ticket or online boarding pass. Your brand will be with our passengers every step of their journey.</p>
            </div>
         </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    isCorporative: true,
                    text: 'During travel.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6 col-lg-4">
                <img class="context-image" src="https://via.placeholder.com/420x230">
            </div>
            <div class="grid-col col-12 col-md-6 col-lg-4 col-middle">
                <p>The Boarding Pass marks the beginning of any departing flight. Passengers view their boarding passes on average 4 times before, during and after departure. Increase your brand recall by having your campaign on our boarding passes.</p>
                <p>P.S: Some avid travellers love keeping their boarding passes as memorabilia, be a part of their memories.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6 col-lg-4">
                <img class="context-image" src="https://via.placeholder.com/420x230">
            </div>
            <div class="grid-col col-12 col-md-6 col-lg-4 col-middle col-md-first">
                <p>Our passengers spend up to 40 minutes on average onboard each flight. Increase your brand exposure with our table tray and headrest covers branding opportunity that has a 99.9% chance of brand visibility.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6 col-lg-4">
                <img class="context-image" src="https://via.placeholder.com/420x230">
            </div>
            <div class="grid-col col-12 col-md-6 col-lg-4 col-middle">
                <p>People tend to be more curious and willing to be more adventurous when they are travelling. Let your brand engage with the passengers through product sampling throughout their flight.</p>
            </div>
        </div>
    </div>
            
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set data = {
                    isResponsive: false,
                    hasSideHeader: true,
                    thead: {
                        ths: [
                            { title: 'Date' },
                            { title: 'Time (hrs.)' },
                            { title: '' },
                            { title: '' },
                            { title: '' },
                            { title: '' },
                            { title: '' }
                        ]
                    },
                    class: 'upperline-tb',
                    tbody: [
                        {
                            tds: [
                                { title: 'Sunday', isTh: true, dataTh: 'SUN' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Monday', isTh: true, dataTh: 'MON' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Tuesday', isTh: true, dataTh: 'TUE' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Wednesday', isTh: true, dataTh: 'WED' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Thursday', isTh: true, dataTh: 'THU' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Friday', isTh: true, dataTh: 'FRI' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Saturday', isTh: true, dataTh: 'SAT' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        }
                    ]
                } %}
                {% include "partials/ui-elements/_table-responsive.njk" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block component_jquery %}{% endblock %}