{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{# ----------------------------------------- #}

{% block content %}

    <!-- ARTICLE CONTENT: ROW1 -->
    <div class="container-wrap">
        <!-- BREADCRUMB -->
        {% set breadcrumbsList = [
            {
                item: 'Lorem',
                url: '#'
            }
        ] %}
        {% set breadcrumb = {
            itemCurrent: 'ipsum dolor'
        } %}
        {% include "partials/corporative/_breadcrumb.njk" %}
    </div>

    <div class="container-fluid">
        <div class="grid">
            <div class="grid-col col-12">
                {# MAIN FULL BANNER #}
                {% set banner = {
                    showPagination: true,
                    showPrevNext: false,
                    items: [
                        {
                            bg: 'banner1',
                            title: 'Fly to our<br>7 destinations daily',
                            subtitle: 'Mombasa <span class="price_currency"><span class="currency">KES</span><span class="price">4,200</span></span>',
                            button: 'Book now!',
                            buttonIntroCaption: true,
                            isActive: true
                        }
                    ]
                } %}
                {% include "partials/corporative/_main-banner.njk" %}

                {# MULTIPANEL #}
                {% set multiplePanel = {
                    showTabs: false,
                    responsive: {
                        collapsable: false
                    },
                    navItems: [{
                        ariaControl: "multiplePanelTab1_tab",
                        id: "multiplePanelTab1",
                        text: "Book flight",
                        panel: {
                            show: true,
                            button: {
                            icon: "",
                            text: "Book flight"
                            },
                            contentInclude: "partials/components/IBE/flight-search/_flight-search.njk"
                        }
                        },
                        {
                        ariaControl: "multiplePanelTab2_tab",
                        id: "multiplePanelTab2",
                        tabindex: -1,
                        text: "Check in",
                        url: "",
                        panel: {
                            show: false,
                            button: {
                            icon: "",
                            text: "Check in"
                            },
                            contentInclude: "partials/components/IBE/_booking-retrieve.njk"
                        }
                        },
                        {
                        ariaControl: "multiplePanelTab3_tab",
                        id: "multiplePanelTab3",
                        tabindex: -1,
                        text: "Manage booking",
                        url: "",
                        panel: {
                            show: false,
                            button: {
                            icon: "",
                            text: "Manage booking"
                            },
                            contentInclude: "partials/components/IBE/_booking-retrieve.njk"
                        }
                        }
                    ]
                    } %}
                {% include "partials/corporative/_multiple-panel.njk" %}
            </div>
        </div>
    </div>

    <!-- ARTICLE CONTENT: ROW2 -->
    <!--#### custom grid: columns and grid variables ####-->

    {# MAIN TITLE #}
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    isCorporative: true,
                    text: 'Todo sobre equipaje',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-8">
                <p>Mombasa is a city in the Kenyan coast, 484 km from Nairobi, and just one 1 hour flight away. It is located on Mombasa Island and is connected to the mainland to the north by the Nyali Bridge, to the south by the Likoni Ferry, and to the west by the Makupa Causeway, alongside which runs the Kenya – Uganda railway. It is the country’s oldest and second largest city. Mombasa is home to Kenya's only large seaport, the Kilindini Harbour, and Moi International Airport. Jambojet flies daily between Jomo Kenyatta International Airport in Nairobi and Mombasa International Airport. Check out our Mombasa <a href="#">flight schedule</a> to find the best flight for you and book your ticket today.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set multiplePanel = {
                    styleType: '1',
                    isFullWidth: true,
                    responsive: {
                        collapsible: true
                    },
                    navItems: [
                        {
                            ariaControl: "multiplePanelTabStyle11_tab",
                            id: "multiplePanelTabStyle11",
                            text: "Overview",
                            panel: {
                                show: true,
                                button: {
                                icon: "",
                                text: "Overview"
                                },
                                html: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit minima repudiandae recusandae, ut reiciendis qui neque esse vitae facere error temporibus necessitatibus facilis omnis quam consequatur, voluptate et officia?"
                            }
                        },
                        {
                            ariaControl: "multiplePanelTabStyle12_tab",
                            id: "multiplePanelTabStyle12",
                            tabindex: -1,
                            text: "What to do",
                            panel: {
                                show: false,
                                button: {
                                icon: "",
                                text: "What to do"
                                },
                                html: '<div class="container-wrap"> <div class="grid"> <div class="grid-col col-12 col-md-8"> <h3 class="context-h2"> <span class="title-inner"> What to do in Mombasa </span> </h3> <h4 class="context-h3"> <span class="title-inner"> Diving </span> </h4> <p>Mombasa is a city in the Kenyan coast, 484 km from Nairobi, and just one 1 hour flight away. It is located on Mombasa Island and is connected to the mainland to the north by the Nyali Bridge, to the south by the Likoni Ferry, and to the west by the Makupa Causeway, alongside which runs the Kenya – Uganda railway. It is the country’s oldest and second largest city. Mombasa is home to Kenya"s only large seaport, the Kilindini Harbour, and Moi International Airport. Jambojet flies daily between Jomo Kenyatta International Airport in Nairobi and Mombasa International Airport. Check out our Mombasa <a href="#">flight schedule</a> to find the best flight for you and book your ticket today.</p><ul class="context-list"> <li>Mtwapa and Barracuda Reef. – Here you are guaranteed to see large shoals of angel and butterfly fish. There has also been occasional sighting of the world’s largest shark- the Whale Shark.</li><li>For experienced divers, the best option is Nyulli Reef. This is a good deep dive with strong tidal currents which allow drifts through spectacular coral, snapper, barracuda, rare zebra sharks and massive Napoleon wrasse.</li></ul> <h4 class="context-h3"> <span class="title-inner"> Water sports for Adrenaline junkies. </span> </h4> <p>The expansive Indian Ocean offers you the perfect opportunity for both motorized and non-motorized water sports. Nyali Beach, Che-Shale, and H2O Extreme offer a variety of water sports including kitesurfing, windsurfing, stand-up paddle boarding, kayaking, skim and boogie boarding.</p><h4 class="context-h3"> <span class="title-inner"> Walk down the antique streets of Old town. </span> </h4> <p>Known for its exotic Arabic appearance, its ancient buildings, amazing architecture with extravagant art designs that teleport you back in time. A walk down old town is very therapeutic, with the sound of children laughing and playing along the narrow streets.</p></div><div class="grid-col col-12 col-md-4"> <img class="context-image" src="https://via.placeholder.com/350x350"> </div></div></div>'
                            }
                        },
                        {
                            ariaControl: "multiplePanelTabStyle13_tab",
                            id: "multiplePanelTabStyle13",
                            tabindex: -1,
                            text: "Where to eat",
                            panel: {
                                show: false,
                                button: {
                                icon: "",
                                text: "Where to eat"
                                },
                                html: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum aspernatur quo doloremque veritatis. Vitae, nulla fugit iste obcaecati assumenda qui suscipit, maxime, excepturi temporibus tempora aut molestiae. Sed, enim a!"
                            }
                        },
                        {
                            ariaControl: "multiplePanelTabStyle14_tab",
                            id: "multiplePanelTabStyle14",
                            tabindex: -1,
                            text: "Where to stay",
                            panel: {
                                show: false,
                                button: {
                                icon: "",
                                text: "Where to stay"
                                },
                                html: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus culpa qui fugit ipsam porro numquam natus aliquam modi reiciendis? In, deserunt cupiditate voluptatem dicta ducimus explicabo aspernatur doloribus reprehenderit nobis eos soluta, mollitia odio assumenda atque. Eum tenetur quidem voluptate, facere exercitationem eos tempora aliquam dolores odit delectus expedita sequi accusamus inventore ut deleniti deserunt totam itaque ad quod porro est optio velit dolor? Magni numquam aperiam fuga suscipit maiores, sunt qui quos praesentium ipsam cum? Nobis ullam dolorum ab corporis architecto nesciunt, iure vero fugiat possimus modi aliquid praesentium corrupti distinctio enim eveniet neque laboriosam facilis dolorem! Porro.'
                            }
                        },
                        {
                            ariaControl: "multiplePanelTabStyle15_tab",
                            id: "multiplePanelTabStyle15",
                            tabindex: -1,
                            text: "Schedule",
                            panel: {
                                show: false,
                                button: {
                                icon: "",
                                text: "Schedule"
                                },
                                html: '<div class="container-wrap"> <div class="grid grid-noBottom"> <div class="grid-col col-12"> <div class="context-table"> <table class="table has-side-head"> <thead> <tr> <th>Date</th> <th>Time (hrs.)</th> <th></th> <th></th> <th></th> <th></th> <th></th> </tr></thead> <tbody class="upperline-tb"> <tr> <th scope="row" data-th="SUN"> Sunday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr><tr> <th scope="row" data-th="MON"> Monday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr><tr> <th scope="row" data-th="TUE"> Tuesday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr><tr> <th scope="row" data-th="WED"> Wednesday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr><tr> <th scope="row" data-th="THU"> Thursday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr><tr> <th scope="row" data-th="FRI"> Friday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr><tr> <th scope="row" data-th="SAT"> Saturday </th><td data-th="Time (hrs.)"> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td><td> 09:40 </td></tr></tbody> </table></div></div></div></div>'
                            }
                        }
                    ]
                } %}
                {% include "partials/corporative/_multiple-panel.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    isCorporative: true,
                    text: 'Other destinations',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-sm-6 col-md-4">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    city: 'Diani',
                    img: 'destination-img1',
                    url: 'CORP-destination_guides_city.html'
                } %}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
            <div class="grid-col col-12 col-sm-6 col-md-4">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    city: 'Nairobi',
                    img: 'destination-img1',
                    url: 'CORP-destination_guides_city.html'
                } %}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
            <div class="grid-col col-12 col-sm-6 col-md-4">
                {% set destinationsOffer = {
                    destinationGuide: true,
                    city: 'Eldoret',
                    img: 'destination-img1',
                    url: 'CORP-destination_guides_city.html'
                } %}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            </div>
        </div>
    </div>

    {# uss this content to simulate inner multitap content #}
    {# <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-8">
                {% set page_title = {
                    isCorporative: true,
                    text: 'What to do in Mombasa',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                {% set page_title = {
                    isCorporative: true,
                    text: 'Diving',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>Mombasa is a city in the Kenyan coast, 484 km from Nairobi, and just one 1 hour flight away. It is located on Mombasa Island and is connected to the mainland to the north by the Nyali Bridge, to the south by the Likoni Ferry, and to the west by the Makupa Causeway, alongside which runs the Kenya – Uganda railway. It is the country’s oldest and second largest city. Mombasa is home to Kenya's only large seaport, the Kilindini Harbour, and Moi International Airport. Jambojet flies daily between Jomo Kenyatta International Airport in Nairobi and Mombasa International Airport. Check out our Mombasa <a href="#">flight schedule</a> to find the best flight for you and book your ticket today.</p>
                <ul class="context-list">
                    <li>Mtwapa and Barracuda Reef. – Here you are guaranteed to see large shoals of angel and butterfly fish. There has also been occasional sighting of the world’s largest shark- the Whale Shark.</li>
                    <li>For experienced divers, the best option is Nyulli Reef. This is a good deep dive with strong tidal currents which allow drifts through spectacular coral, snapper, barracuda, rare zebra sharks and massive Napoleon wrasse.</li>
                </ul>
                {% set page_title = {
                    isCorporative: true,
                    text: 'Water sports for Adrenaline junkies.',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>The expansive Indian Ocean offers you the perfect opportunity for both motorized and non-motorized water sports. Nyali Beach, Che-Shale, and H2O Extreme offer a variety of water sports including kitesurfing, windsurfing, stand-up paddle boarding, kayaking, skim and boogie boarding.</p>
                {% set page_title = {
                    isCorporative: true,
                    text: 'Walk down the antique streets of Old town.',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>Known for its exotic Arabic appearance, its ancient buildings, amazing architecture with extravagant art designs that teleport you back in time. A walk down old town is very therapeutic, with the sound of children laughing and playing along the narrow streets.</p>
            </div>
            <div class="grid-col col-12 col-md-4">
                <img class="context-image" src="https://via.placeholder.com/350x350">
            </div>
        </div>
    </div> #}
{% endblock %}

{% block component_jquery %}{% endblock %}