{#
    DOCUMENTATION
    examples: array<array<object>> // headigns and paragrahs examples

    EXAMPLE
    {% set headings = {
    examples: [
        [
            {
                type: 'h1',
                class: 'title-h1',
                text: 'Web Check-in'
            },
            {
                type: 'h2',
                class: 'title-h2',
                text: 'Detalles del Itinerario'
            }
        ],
        [
            {
                type: 'h1',
                class: 'title-h1',
                text: 'Web Check-in'
            },
            {
                type: 'p',
                text: 'El WEB CHECK-IN está permitido dentro las 72 horas hasta un máximo de 2 horas antes de la hora programada del vuelo.'
            }
        ]

    ]
} %}
{% include "pages/COMP-headings.njk" %}
#}

{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: 'Headings (h1, h2, h3...)',
                type: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>

    {% for example in headings.examples %}
        <div class="grid">
            <div class="grid-col col-12 col-md-6">
                {% for item in example %}
                    <{{ item.type }}{% if item.class %} class="{{ item.class }}"{% endif %}>{{ item.text | safe }}</{{ item.type }}>
                {% endfor %}
            </div>

            <div class="grid-col col-12 col-md-6">
                <pre><code class="html">{% include "partials/_md/_md-codes/_md_headings.njk" %}</code></pre>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
