{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
    <span>THIS SECTION NOT WORKS, REPAIR IT IN GULPFILE TO MULTIPROJECT PAGES</span>
{% endblock %}

{% block component_jquery %}
{% endblock %}
