// ********************
//  IBE COMPONENT
//
// ********************
//  BOOKING SUMMARY
// ********************
//
// ## this component works together with summary component
//
// ********************

.booking-summary {
    margin: 10px 0;
    .summary {
        width: 100%;
        &.oneway {
            .summary_body {
                justify-content: center;
            }
            .summary_journey {
                flex: 0 0 auto;
                width: auto;
                padding: 0;
            }
            .summary_airport-name {
                white-space: nowrap;
            }
        }
    }
    .summary_collapse_wrap {
        max-height: none;
        overflow: visible;
    }
    .summary_collapse {
        z-index: auto;
        position: relative;
    }
    .summary_body {
        padding: 26px 0;
    }
    .summary_journey {
        $journey-margin: 4vw;
        display: block;
        flex: 1 1 calc(((100vw - #{$journey-margin}) / 2) - 1px);
        width: calc(((100vw - #{$journey-margin}) / 2) - 1px);
        margin: 4px 0;
        padding: 0 $journey-margin;
        .ui-checkbox {
            left: -35px;
            margin: 0;
        }
        .ui-checkbox {
            padding-left: 34px;
            label {
                @extend .summary_label;
            }
            label::before,
            input,
            input:checked+label:after {
                top: 2px;
            }

        }
        &.return {
            border-left: 1px solid $gray-3;
        }
    }
    .summary_route {
        flex-wrap: wrap;
    }
    .summary_airport-name {
        position: relative;
        padding-bottom: 20px;
    }

    // [Responsive]
    @media #{$until-tablet-portrait} { // <=768px
        .summary {
            position: static;
            z-index: unset;
            &.oneway {
                .summary_body {
                    justify-content: flex-start;
                }
                .summary_journey {
                    width: calc(100% - (#{$gutter-sides} * 2));
                    text-align: left;
                }
                .summary_route {
                    justify-content: flex-start;
                }
                .summary_airport-name {
                    white-space: normal;
                }
            }
        }
        .summary_body {
            flex-direction: row;
        }
        .summary_collapse {
            max-height: unset;
            overflow: unset;
        }
        .summary_journey {
            &.return {
                margin-top: 34px;
                border-left: none;
            }
        }
    }
    @media #{$until-mobile} { // <=640px
        .summary {
            width: calc(100% + (#{$gutter-sides} * 2));
            margin-left: -$gutter-sides;
        }
        .summary_body {
            flex-direction: column;
        }
        .summary_journey {
            flex: none;
            width: calc(100% - (#{$gutter-sides} *2));
            margin: 0 $gutter-sides;
            padding: 0;
            .ui-checkbox {
                margin-left: 34px;
            }
        }
    }
}
