//## combine top bar for search result or title and summary
.combined_summary_bar {
    position: relative;
    display: flex;
    align-items: stretch;
    margin-bottom: 40px;
}
.combined_summary_bar-left {
    @include clearfix;
    @include title-bar($c-primary);
    display: flex;
    align-items: center;
    flex: 1 1 400px;
    min-height: 26px; // IE10 support, when combined_summary_bar not has text
    padding: 11px 26px 13px 38px;
    border-radius: $border-radius-large 0 0 3px;
    .left {
        flex: 1 1 auto;
    }
    .right {
        flex: 0 0 auto;
        margin-left: auto;
    }
}
.combined_summary_bar_button {
    @extend .btn-inverse;
    padding: 10px;
    min-height: auto;
}
.combined_summary_bar-right {
    z-index: $summary-zindex;
    flex: 0 0 auto;
    border-radius: 0 3px 3px 0;
    background: $c-secondary;
    .overlay-in & {
        z-index: 1060;
    }
}
.titlebar {
    position: relative;
    color: #fff;
    .title {
        font-family: $f-title;
        @include font-size($f-size-md);
        font-weight: 600;
        line-height: 1.2;
    }
    .subtitle {
        margin-top: 4px;
        @include font-size($f-size);
        line-height: 1.2;
        font-weight: 300;
    }
}
[class*='titlebar-icon'] {
    padding-left: 46px;
    &::before {
        position: absolute;
        left: 0;
        top: -9px;
        @include font-size(36px);
    }
}
.titlebar-icon {
    &-mmb {
        @include iconfont($icon-settings, before);
    }
    &-check-in {
        @include iconfont($icon-computer-plane, before);
    }
}

//[Responsive]
@media #{$tablet-portrait}{ // >= 768px
    .combined_summary_bar-left {
        .left {
            padding-right: 30px;
        }
    }
    .combined_summary_bar-right {
        background-color: $c-secondary;
    }
}
@media #{$until-tablet-portrait} { // <= 768px
    .combined_summary_bar {
        &.is-searchresult {
            margin-bottom: 0;
            .combined_summary_bar-left {
                display: none;
            }
        }
    }
    .combined_summary_bar-right {
        z-index: $summary-fixed-zindex;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        display: block;
        max-height: 100vh;
    }
}
@media #{$until-mobile} { // <= 640px
    .combined_summary_bar-left {
        padding: 6px 26px 7px 20px;
        border-radius: 20px 0 0 3px;
        .right {
            @include iconfont($icon-airplane-right);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            left: 0;
            bottom: 0;
            height: 51px;
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: $c-primary;
            z-index: 1000;
            &::before {
                @include font-size($f-size-xxlg);
                transform: rotate(-45deg);
            }
        }
    }
    .combined_summary_bar_button {
        min-height: 30px;
        padding: 0 12px;
    }
    .titlebar .title {
        @include font-size($f-size);
    }
}