// ********************
//  IBE COMPONENT
//
// ********************
//  SUMMARY - MORE DETAILS
// ********************
//
// *******************

// + Summary details
// -------
.summary_details {
    background: $gray-2;
    text-align: center;
    padding: 0 0 14px 0;

    .legal-terms {
        @include font-size($f-size-xs);
        padding: 14px 3% 7px;
    }
}
.summary_details_trigger {
    @include collapse-trigger($f-size, $c-primary, right);
    position: relative;
    display: inline-block;
    font-family: $font-name;
    color: $c-text;
    font-weight: 600;
    text-decoration: none;
    @include font-size($f-size);
    line-height: 1.2;
    text-align: center;
    margin-top: 14px;
    cursor: pointer;
    .label { text-decoration: underline; }
    &::after {
        top: 0;
        @include font-size($f-size-md-sm);
    }
    &:hover {
        .label { text-decoration: underline; }
    }
}
.summary_details_content {
    @include clearfix;
    display: flex;
    flex-direction: row;
    margin: 24px 0 14px;
}
.summary_details_item {
    display: block;
    margin-top: 24px;
    .table tbody td {
        white-space: nowrap;
    }
    .price-resume_wrap {
        display: none;
        &.show { display: block; }
    }
}


@media #{$summary-collapsed} { // <= 768px
    .summary_details {
        padding: 0 $gutter-sides;
        background: $summary-body-background;
        .legal-terms {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    .summary_details_content {
        flex-wrap: wrap;
    }
    .summary_details_trigger{
        display: none;
    }
    .summary_details_price {
        display: block;
    }
    .summary_details_item {
        margin: 3px 0;
        &, &:first-child{
            min-width: 0;
            width: 100%;
            margin-left: 0;
        }
        .price-resume_head {
            @include iconfont($icon-arrow-triangle-down, after);
            position: relative;
            padding-right: 26px;
            cursor: pointer;
            &::after { //## collapse arrow
                position: absolute;
                right: 0;
                top: 7px;
                @include font-size($f-size);
                line-height: 1;
                color: $c-primary;
            }
            .price {
                min-width: calc(42% - 16px);
            }
        }
        &.is-open {
            .price-resume_head {
                &::after {
                    transform: scaleY(-1);
                }
            }
            .price-resume_wrap {
                display: block;
                .table:last-child {
                    margin-bottom: 24px;
                }
            }
            &.summary_details_item:last-child {
                .price-resume_wrap {
                    .table:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media #{$summary-not-collapsed} { // > 769px
    .summary_details_item {
        .price-resume_wrap { display: block; }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .summary_details_content {
        .oneway & {
            margin: 0 $summary-lr-pad-oneway;
        }
        &.noextras {
            margin: 0 $summary-lr-pad-noextras;
            .oneway & {
                margin: 0 $summary-lr-pad-oneway-noextras;
            }
        }
    }
}
@media #{$tablet-portrait} { // >= 768px
    .summary_details_content {
        &.noextras {
            margin: 0 $summary-lr-pad-noextras-sm;
            .oneway & {
                margin: 0 $summary-lr-pad-oneway-noextras-sm;
            }
        }
    }
}
@media #{$mobile} { // >=640px
    .summary_details_content {
        .oneway & {
            margin: 0 $summary-lr-pad-oneway-sm;
        }
    }
}