// ********************
//  IBE COMPONENT
//
// ********************
//  SUMMARY
// ********************
//
//  + Variables
//  + Header
//  + collapse
//    ++ body
//
//  [Responsive]
// *******************

// + Variables
// -------

.summary {
    z-index: $summary-zindex;
    min-width: 75px;
    height: 100%;
    &.is-empty { //## when summary total is equal 0
        .summary_total_list { display: none; }
    }
}
.summary_header {
    display: flex;
    align-items: center;
    min-width: 260px;
    height: 100%;
    min-height: 75px;
    padding: 7px $gutter-sides;
    box-sizing: border-box;
    color: #fff;
    border-radius: 0 3px 3px 0;
    background: $c-secondary;
    cursor: pointer;
    &.collapsed {
        .summary_trigger {
            &::after {
                transform: scaleY(1);
            }
        }
    }
}
.summary_trigger {
    @include collapse-trigger($f-size, #fff,right);
    display: block;
    color: #fff;
    padding-right: 34px;
    border: none;
    cursor: pointer;
    &::after { //## collapse arrow
        @include font-size($f-size-xlg);
        top: 1px;
        transform: scaleY(-1);
    }
    // modifiers
    &.non-collapsible {
        cursor: auto;
        &::after {
            content: none;
        }
    }
}
.summary_total {
    width: 100%;
    @include font-size($f-size);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    li {
        margin-bottom: 0;
    }
    .price {
        @include font-size($f-size-xxlg);
    }
}
.summary_total_list {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left;
    font-weight: 500;
    .label {
        position: relative;
        display: block;
        @include font-size($f-size);
        line-height: 1.3;
    }
    .summary_trigger {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        text-align: left;
        @media #{$summary-not-collapsed} {
            width: 100%;
        }
    }
    .price {
        font-family: $f-title;
        @include font-size($f-size-xlg);
        line-height: 1;
    }
    li {
        @include clearfix;
        display: block;
        clear: both;
        margin: 0;
    }
    .btn-next {
        display: none;
        float: right;
        min-height: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

//  + collapse
//-------------------
.summary_collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.summary_collapse_wrap {
    @include custom-scroll;
}

$summary-airport-width: calc(50% - 24px);
.summary_body {
    display: flex;
    flex-direction: row;
    font-family: $font-sanserif;
    color: $c-text;
    background: $summary-body-background;
}

.summary_route {
    @include clearfix;
    @include font-size(20px);
    line-height: 1.1;
    font-weight: 500;
    display: flex;
}
.summary_airport {
    flex: 0 0 auto;
    width: auto;
    max-width: $summary-airport-width;
    line-height: 1;
    margin-bottom: 10px;
}
.summary_airport-city {
    display: block;
    margin: 0;

}
.summary_airport-name {
    @include font-size($f-size-sm);
    display: block;
    margin: 4px 0 0 0;
    line-height: 1.2;
}
.summary_airport-terminal {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    white-space: nowrap;
    font-weight: 400;
}
.summary_airport-code {
    display: block;
    @include font-size($f-size);
    line-height: 1.2;
    font-weight: 400;
    margin: 7px 0 0;
    white-space: nowrap;
}
.summary_route_icon {
    position: relative;
    top: -1px;
    @include font-size($f-size-lg);
    color: $c-secondary;
    flex: 0 0 20px;
    width: 20px;
    margin: 0 10px;
    &::before { //## icon flight
        position: relative;
        left: -2px;
        font-family: $f-icons;
    }
    &.departure {
        &::before {//## icon flight
            content: $icon-airplane-right;
        }
    }
    &.return {
        &::before {//## icon flight
            content: $icon-airplane-right;
        }
    }
}
.summary_date,
.summary_flight {
    @include font-size($f-size);
    line-height: 1.2;
    font-weight: normal;
    display: block;
    margin: 3px 0;
}
.summary_label {
    margin: 0 0 12px;
    line-height: 1.3;
    @include font-size(20px);
    font-family: $font-name;
    color: $c-primary;
    font-weight: 600;
}
.summary_typology_item {
    display: block;
    @include font-size($f-size);
    line-height: 1.2;

    &:last-child {
        &::after {
            content: '';
            margin-right: 0;
        }
    }
}
.summary_price-resume {
    margin-top: 14px;
    .price-resume_head {
        border-bottom: 0;
        padding: 0;
        .label {
            color: $c-text;
        }
        .price {
            font-weight: normal;
        }

        //## when amount due is true
        &.total-paid {
            .label { font-weight: normal; }
        }
        &.total-unpaid {
            .label {
                @include iconfont($icon-arrow-right);
                position: relative;
                padding-left: 21px;
                &::before { //## arrow icon
                    position: absolute;
                    left: 0;
                    top: -1px;
                    padding-right: 5px;
                    color: $c-secondary;
                }
                @media #{$until-mobile-sm} {
                    padding-left: 0;
                    &::before { display: none; }
                }
            }
            .price {
                color: $c-secondary;
                font-weight: 600;
            }
        }
    }
}

.paxtype_group {
    display: inline-block;
}
.paxtype {
    display: inline-block;
    &::after {
        content: ',';
        margin-right: 2px;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}

// [Responsive]
@media #{$tablet-portrait} { // >= 768px
    .summary {
        //## summary columns widths
        $journey-width: 30%;
        $column-margin: $summary-lr-pad-sm;
        $column-margin-total: $column-margin * 2;
        .summary_journey,
        .summary_details_item {
            float: none;
            flex: 1 0 33.33333% - $column-margin-total;
            margin: 16px 0 16px $column-margin;
        }
        .summary_typology,
        .summary_details_item.extras {
            float: none;
            flex: 1 0 33.33333% - $column-margin-total;
            max-width: none;
            margin: 16px $column-margin;
        }
        &.oneway {
            $journey-width: 60%;
            .summary_journey,
            .summary_details_item {
                flex: 1 1 $journey-width - $column-margin-total;
                width: $journey-width - $column-margin-total;
            }
            .summary_typology,
            .summary_details_item.extras {
                flex: 1 1 100% - ($column-margin-total * 2 + $journey-width);
                width: 100% - ($column-margin-total * 2 + $journey-width);
            }
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .summary {
        //## summary columns widths
        $journey-width: 30%;
        $column-margin: $summary-lr-pad;
        $column-margin-total: $column-margin * 2;
        .summary_journey,
        .summary_details_item {
            flex: 1 0 $journey-width - $column-margin-total;
            width: $journey-width - $column-margin-total;
            margin: 16px 0 16px $column-margin;
        }
        .summary_typology,
        .summary_details_item.extras {
            flex: 1 1 100%;
            max-width: 272px;
            margin: 16px $column-margin;
        }
        &.oneway {
            .summary_body{
                padding-right: $summary-lr-pad-oneway;
                padding-left: $summary-lr-pad-oneway;
            }
            .summary_airport {
                width: auto;
                max-width: inherit;
            }
        }
    }
}

@media #{$summary-collapsed} { // <= 768px
    .summary {
        z-index: $summary-fixed-zindex;
        height: auto;
        background: $summary-body-background;
    }
    .summary_header{
        height: auto;
        min-height: 44px;
        flex: 0 0 100%;
        padding: 7px 14px;
        background: $c-primary;
        border-radius: 0;
    }
    .summary_collapse {
        position: relative;
    }
    .summary_collapse_wrap {
        max-height: 80.5vh;
        overflow-y: auto;
    }
    .summary_body {
        flex-direction: column;
        padding-right: $gutter-sides;
        padding-left: $gutter-sides;
    }
    .summary_journey,
    .summary_typology {
        margin-top: 26px;
    }
    .summary_total_list {
        .summary_trigger {
            float: left;
            padding-right: 34px;
            &::after { //## collapse arrow
                @include font-size($f-size-lg);
                right: 0;
            }
        }
        .label {
            display: none;
        }
        .price {
            @include font-size($f-size-md);
        }
        .btn-next {
            display: block;
        }
    }
    .summary_airport-code {
        margin: 5px 0 0 0;
    }
    .summary_date,
    .summary_flight {
        display: inline-block;
    }
    .summary_date {
        position: relative;
        padding-right: 17px;
        &:after{ //##border division date and flight
            background: $c-secondary;
            content: '';
            display: block;
            height: 100%;
            width: 1px;
            position: absolute;
            right: 6px;
            top: 0;
        }
    }
    .summary_fare {
        display: none;
    }
    .summary_details_content {
        margin-top: 0;
    }
}
@media #{$mobile} { // >=640px
    .summary {
        &.oneway {
            .summary_body {
                padding-right: $summary-lr-pad-oneway-sm;
                padding-left: $summary-lr-pad-oneway-sm;
            }
        }
    }
}

@media #{$mobile} and #{$until-tablet-portrait} { //## from 640px to 768px
    .summary_body {
        flex-direction: row;
        flex-wrap: wrap;
        .summary_journey,
        .summary_typology {
            flex: none;
            width: 100%;
        }
    }
}