{#
    DOCUMENTATION:
    destinatioPreview: {
        VARIABLES:
        city: string            // city name
        country: string         // country name
        description: string     // city description caption paragraph
        barchart: {
            bars: {
                items: [
                    {
                        percentage: '50%',
                        description: {
                            items: [
                                {
                                    text: '12'
                                },
                                {
                                    text: 'Thu'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '70%',
                        description: {
                            items: [
                                {
                                    text: '13'
                                },
                                {
                                    text: 'Fri'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '38%',
                        message: '<span class="price_currency"><span class="price">20<span class="decimals">.00</span><span class="currency">' + SHARED.currency + '</span></span>',
                        isHighlight: true,
                        description: {
                            items: [
                                {
                                    text: '14'
                                },
                                {
                                    text: 'Sat'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '100%',
                        description: {
                            items: [
                                {
                                    text: '15'
                                },
                                {
                                    text: 'Sun'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '38%',
                        isHighlight: true,
                        description: {
                            items: [
                                {
                                    text: '16'
                                },
                                {
                                    text: 'Mon'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '90%',
                        description: {
                            items: [
                                {
                                    text: '17'
                                },
                                {
                                    text: 'Tue'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '50%',
                        description: {
                            items: [
                                {
                                    text: '18'
                                },
                                {
                                    text: 'Wed'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '38%',
                        isHighlight: true,
                        description: {
                            items: [
                                {
                                    text: '19'
                                },
                                {
                                    text: 'Thu'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '69%',
                        description: {
                            items: [
                                {
                                    text: '20'
                                },
                                {
                                    text: 'Fri'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '48%',
                        description: {
                            items: [
                                {
                                    text: '21'
                                },
                                {
                                    text: 'Sat'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '38%',
                        isHighlight: true,
                        description: {
                            items: [
                                {
                                    text: '22'
                                },
                                {
                                    text: 'Sun'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '87%',
                        description: {
                            items: [
                                {
                                    text: '23'
                                },
                                {
                                    text: 'Mon'
                                }
                            ] 
                        }
                    },
                    {
                        percentage: '100%',
                        description: {
                            items: [
                                {
                                    text: '24'
                                },
                                {
                                    text: 'Tue'
                                }
                            ] 
                        }
                    }
                ]
            }
        },
    }

    EXAMPLE:
    {% set destinationPreview = {
        city: 'Bratislava',
        country: 'Slovakia',
        description: 'A vibrant city with rich history and the best nightlife in Eastern Europe… <a href="#">More</a>',
    } %}
    {% include "partials/components/_shared/destination-preview/_destination-preview.njk" %}
#}

<destination-preview>
    <div class="destination-preview">
        {# banner #}
        <div class="destination-preview_banner"
            {% if destinationPreview.banner.image %}
                style="background-image:url('{{ project_assets_path }}imgs/destinations/{{ destinationPreview.banner.image }}.jpg')"
            {% endif %}
        >
            {% if (destinationPreview.caption.title |length) or (destinationPreview.caption.subtitle |length) %}
                <div class="destination-preview_caption">
                    {% if destinationPreview.caption.title |length %}
                        <h1 class="destination-preview_caption_title">{{ destinationPreview.caption.title }}</h1>
                    {% endif %}
                    {% if destinationPreview.caption.subtitle |length %}
                        <h2 class="destination-preview_caption_subtitle">{{ destinationPreview.caption.subtitle }}</h2>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {# description #}
        <div class="destination-preview_description">
            <p>{{ destinationPreview.description | safe }}</p>
        </div>

        {# barchart #}
        {% set barchart = destinationPreview.barchart %}
        {% include "partials/components/_shared/charts/bars/_barchart.njk" %}

        {# action #}
        <div class="destination-preview_action">
            {% if destinationPreview.actionButton %}
                <button class="destination-preview_button button">{{ destinationPreview.actionButton.text }}</button>
            {% endif %}
        </div>
        <button class="destination-preview_close" aria-label="{{SHARED.close}}"></button>
    </div>
</destination-preview>
