// main: ../../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  PAYMENT
// ********************
//
//    + Payment methods
//    + Payment summary
//    + Payment confirmation
//
// ********************

@import "payment-methods";
@import "payment-details";
@import "payment-partials";
@import "payment-QR";

.payment {
    margin-top: 32px;
}

// + Payment methods
// -------
.payment_methods {
    @include clearfix;
}
.payment_polices {
    margin-top: 22px;
    .ui-checkbox{
      a{
        text-decoration: underline;
        color: inherit;
      }
    }
}
@media #{$until-tablet-portrait}{// <=768px
    .payment_polices{
        display: none;
    }
}


// + Payment summary
// -------
.payment-summary {
    float: right;
    max-width: $payment-summary-width;
    width: 100%;
    margin-left: $payment-summary-width-margin;
    table {
        width: 100%;
        tbody {
            @include font-size($f-size-md-sm);
            border-bottom: 2px solid $gray-3;
            td {
                padding-bottom: 12px;
                line-height: 1.2;
                &:first-child {
                    text-align: left;
                    font-weight: 400;
                }
                &:last-child {
                    text-align: right;
                    font-weight: 700;
                }
                &.price { //## so the currency + price nevers breaks line
                    white-space: nowrap;
                }
            }

        }
        tfoot {
            @include font-size($f-size-md-sm);
            text-align: right;
            line-height: 1;
            tr:first-child td {
                padding: 18px 0 9px;
                color: $c-primary;
            }
            tr:last-child td {
                @include font-size($f-size-md);
                font-family: $font-name;
                color: $c-secondary;
            }
        }
    }
}
.payment-summary_title {
    @extend .title-h3;
    text-align: left;
    margin-bottom: 28px;
}
@media #{$summary-collapsed}{
    .payment-summary {
        display: none;
    }
}
