// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT DETAILS
// ****************************************
//
// ****************************************

.payment_details_wrap {
    margin: 46px 0 65px;
}
.payment_details {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 27px 0 32px;
}
.payment_details_total,
.payment_details_paymethod {
    box-sizing: border-box;
}
.payment_details_total {
    flex: 1 1 34%;
    width: 34%;
    .table {
        margin-bottom: 4px;
        tbody {
            tr:first-child {
                th,td {
                    padding-top: 7px;
                }
            }
        }
    }
}
.payment_details_paymethod {
    flex: calc(100% - 34%);
    width: calc(100% - 34%);
    padding-left: 10%;
    .table-resume:last-child {
        margin-bottom: 0;
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .payment_details {
        flex-direction: column;
    }
    .payment_details_total,
    .payment_details_paymethod {
        flex: 0 0 100%;
        width: 100%;
        padding: 0;
    }
    .payment_details_total {
        margin-bottom: 34px;
    }
}
