// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT METHODS
// ****************************************
//
//    + Payment methods navigation
//    + Payment: credit card
//
// ****************************************
$payment-method-margin-top: 36px;

.payment_methods {
    @include clearfix;
    margin-top: 42px;
    .tabs-pill {
        margin: $payment-method-margin-top 0;
    }
}
.payment_methods_main-title {
    @extend .title-h2;
}

.payment_methods_form {
    .container {
        @extend .form;
        @extend .columns-2;
    }
}


// + Payment methods navigation
// -------
.payment_methods_trigger {
    // vertical-align: middle;
    // img {
    //     height: 30px;
    //     vertical-align: middle;
    // }
    .method-logo { display: none; }
    .method-logo-selected { display: inline-block; }
    &.collapsed {
        .method-logo { display: inline-block }
        .method-logo-selected { display: none; }
    }
}
.payment_methods {
    //## tabs
    .tabs-pill {
        a {
            @extend .payment_methods_trigger;
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 28px;
            padding: 10px 16px;
            box-sizing: content-box;
            img {
                width: auto;
                max-width: 100%;
                height: 100%;
            }
        }
    }
    // + Payment method content
    .tabs-pill_content {
        float: left;
        width: $payment-summary-aside-div-width;
        box-sizing: border-box;
        .tabs-pill_trigger {
            @extend .payment_methods_trigger;
        }
        .payment_polices {
            display: block;
        }
        // modifiers
        &.full-width-form {
            width: 100%;
            .payment_methods_form {
                .ui-form_group {
                    width: calc(100% / 3 - 40px);
                }
            }
        }
    }
}
.payment_methods_title {
    @extend .title-h3;
    margin-bottom: 5px;
}
.payment_methods_cc-type {
    margin: 30px 0 14px;
    .ui-checkbox {
        label {
            display: inline-block;
            &:after, &:before {
                top: 10px;
            }
        }
        img {
            position: relative;
            top: -3px;
            height: 30px;
        }
    }
}
.payment_methods_agent_account-type {
    width: 371px;
    margin: 24px 0 163px;
}
.payment_methods_onhold-type {
    margin: 34px 0 163px;
}

// + Payment: credit card
// -------
//## credit card currency conversion
.payment-methods_currency_selection {
    display: flex;
    align-items: center;
    margin: 20px 0 58px;
    .options {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        .column {
            flex: 1 1 100%;
            margin: 0;
            line-height: 1.3em;
        }
        .ui-checkbox-group {
            width: 100%;
        }
    }
    .rate {
        float: left;
        margin-top: 11px;
        padding-left: 30px;
    }
}
.payment-methods_currency {
    @include font-size($f-size);
    margin-top: 16px;
    .title{
        @extend .title-h4;
    }
    .ui-checkbox-group {
        display: block;
        float: left;
        margin-right: 10%;
        &:last-child {
            margin-right: 0;
        }
        .ui-checkbox {
            margin-bottom: 0;
        }
        .extralabel {
            display: block;
            font-weight: 700;
            color: $c-primary;
            margin-left: 30px;
        }
    }
    .footnote {
        margin-top: 24px;
    }
}


//## third party payments
.payment_methods_thirdparty_wrap {
    max-width: 614px;
    min-height: 260px;
    text-align: center;
    margin: 28px 0 42px 80px;
    border-radius: 4px;
}
.payment_polices {
    display: none;
}

// [RESPONSIVE]
@media #{$until-mobile}{ // <=640px
    .payment_methods_agent_account-type {
        width: 100%;
        margin: 18px 0 0;
    }
    .payment_methods_cc-type {
        .ui-checkbox-inline .ui-checkbox {
            margin-right: 4.4vw;
        }
    }
    .payment_methods_onhold-type {
        margin: 22px 0;
    }
    .payment_methods_trigger {
        img {
            height: 26px;
        }
    }
    .payment_methods_title {
        display: none;
    }
    .payment-methods_currency_selection {
        .options {
            flex-wrap: wrap;
        }
        .column {
            &:last-child {
                margin-top: 6px;
            }
        }
    }
    .payment_methods_thirdparty_wrap {
        margin: 28px 0;
    }
    .payment_methods_cc-type {
        margin-top: 30px;
    }
}
@media #{$summary-collapsed}{ // <=768px
    .payment_methods {
        margin-top: 22px;
        .tabs-pill_content {
            float: none;
            display: block;
            width: 100%;
            .payment_polices {
                display: block;
                margin-bottom: 34px;
            }
        }
    }
}
// @media #{$mobile-sm} { // >=480px
//     .payment_methods_form {
//         @include grid-collapse();
//         .ui-form_group{
//             @include grid-column(6);
//         }
//     }
// }
// @media #{$tablet-landscape} { // >=992px
//     .payment_methods_form {
//         @include grid-collapse($gutter-md);
//         .ui-form_group{
//             @include grid-column(6,$gutter-md);
//         }
//     }
// }
@media #{$until-tablet-landscape} { // <=992px
    .payment_methods {
        .tabs-pill_content {
            // modifiers
            &.full-width-form {
                .payment_methods_form {
                    .ui-form_group {
                        width: calc(100% / 2 - 30px);
                    }
                }
            }
        }
    }
}

@media #{$until-mobile-sm} { // <=992px
    .payment_methods {
        .tabs-pill_content {
            // modifiers
            &.full-width-form {
                .payment_methods_form {
                    .ui-form_group {
                        width: 100%;
                    }
                }
            }
        }
    }
}