// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  RANGE SLIDER
//
// ****************************************

.ui-slider-range_value {
    white-space: nowrap;
}

.ui-slider-range_input {
    height: 35px;
    padding: 0;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: calculateRem(23px);
        width: calculateRem(23px);
        border-radius: 50%;
        background-color: $c-primary-dark;
        cursor: pointer;
        margin-top: -10px;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: calculateRem(5px);
        background-color: $c-primary-lighter;
        border-radius: calculateRem($input-range-radius);
        cursor: pointer;
    }
    &:focus::-webkit-slider-runnable-track {
        background: $c-primary-lighter;
    }
    /* styles for Firefox */
    &::-moz-range-thumb {
        height: calculateRem(23px);
        width: calculateRem(23px);
        border-radius: 50%;
        background-color: $c-primary-dark;
        cursor: pointer;
    }
    &::-moz-range-track {
        width: 100%;
        height: calculateRem(5px);
        background-color: $c-primary-lighter;
        border-radius: calculateRem($input-range-radius);
        cursor: pointer;
    }
      /* styles for IE */
    &::-ms-thumb {
        height: calculateRem(23px);
        width: calculateRem(23px);
        border-radius: 50%;
        background-color: $c-primary-dark;
        cursor: pointer;
    }
    &::-ms-track {
        width: 100%;
        background: $c-primary-lighter;
        border-color: transparent;
        color: transparent;
        width: 100%;
        height: calculateRem(5px);
        background-color: $c-primary-lighter;
        border-radius: calculateRem($input-range-radius);
        cursor: pointer;
    }
    &::-ms-fill-lower,
    &::-ms-fill-upper { 
        border-radius: calculateRem($input-range-radius);
    }
}

.ui-slider-range {
    display: flex;
    .ui-slider-range_value {
        margin-left: calculateRem(8px);
    }
}