// ----------------------------------------------------
// SWITCH
//
//  + Switch (on/off)
//  + Switch slider (multiple selections)
//
// ----------------------------------------------------

// variables
// + slider
$switch-slider-width: 36px;
$switch-slider-height: 20px;
$switch-slider-vertical-padding: 3px;
$switch-slider-horisontal-padding: 3px;
$switch-slider-color: 3px;
// + bullet
$switch-bullet-size: $switch-slider-height - $switch-slider-vertical-padding * 2;

.switch {
    input {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        // modifiers
        &.is-checked  {
            & + .switch_slider {
                background-color: $c-primary;
            }
            & + .switch_slider:before {
                left: $switch-slider-width - $switch-bullet-size - $switch-slider-horisontal-padding;
            }
        }
    }
    &.is-readonly {
        opacity: $disabled-opacity;
        pointer-events: none;
    }
}
.switch_input {
    position: relative;
    display: inline-block;
    width: $switch-slider-width;
    min-width: $switch-slider-width;
    height: $switch-slider-height;
}
.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray60;
    border-radius: $switch-slider-height;
    transition: $input-transition;
    &::before { //## switch circle
        content: '';
        position: absolute;
        height: $switch-bullet-size;
        width: $switch-bullet-size;
        left: $switch-slider-horisontal-padding;
        top: $switch-slider-vertical-padding;
        background-color: $c-color4;
        border-radius: 50%;
        transition: $input-transition;
        // transition: .14s;
        // transition-timing-function: ease-in-out;
    }
}
.switch_label {
    // @extend .ui-label;
}
// fix angular
ibe-switch-slider {
    height: 30px;
}

// + Switch slider
// -------
.switch-slider {
    display: flex;
    justify-content: center;
}
.switch-slider_option {
    position: relative;
    user-select: none;
    margin: 0 -1px;
    &:first-child {
        .switch-slider_label {
            border-radius: 100vh 0 0 100vh;
        }
    }
    &:last-child {
        .switch-slider_label {
            border-radius: 0 100vh 100vh 0;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        &:checked,
        &checked,
        &[checked='checked'],
        &.is-checked {
            & + .switch-slider_label {
                color: #fff;
                background-color: $c-primary;
            }
        }
    }
}
.switch-slider_label {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px 30px;
    color: $c-primary;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid $c-primary;
    background-color: #fff;
    cursor: pointer;
}