<div class="summary_details">
    {# SUMMARY MORE DETAILS - TRIGGER (WHEN COLLAPSIBLE) #}
    {% if summary.moreDetailsCollapsible %}
    <button class="summary_details_trigger collapsed" data-toggle="collapse" data-target="#collapsePriceDetail" aria-expanded="false" aria-controls="collapsePriceDetail">
        <span class="label">More details</span>
    </button>
    {% endif %}

    {# SUMMARY MORE DETAILS #}
    <div class="summary_details_price{% if summary.moreDetailsCollapsible %} collapse{% endif %}" id="collapsePriceDetail">
        <div class="summary_details_content{% if hasExtras == false %} noextras{% endif %}">
            {# SUMMARY MORE DETAILS: DEPARTURE #}
            <div class="summary_details_item">
                <div class="price-resume">
                    <div class="price-resume_head">
                        <div class="label">{{journeys[0].way}}</div>
                        <div class="price">
                            <span class="fare-label fare{{journeys[0].fare}}">{{journeys[0].fareSelectedName}}</span>
                            {{SHARED.currency}} 1,884
                        </div>
                    </div>
                    <div class="price-resume_wrap">
                        {% for summaryOutboundDetailsItem in summaryOutboundDetails %}
                        <table class="table">
                            <caption class="hide-visually">Payment details - departuring flight</caption>
                            <tbody>
                                <tr class="colgroup_title">
                                    <th scope="colgroup" colspan="2">{{summaryOutboundDetailsItem.blockHeader}}</th>
                                </tr>
                                {% for summaryOutboundDetailsRow in summaryOutboundDetailsItem.blockRows %}
                                <tr>
                                    <th scope="row">{{summaryOutboundDetailsRow.label}}</th>
                                    <td>{{summaryOutboundDetailsRow.price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            {# SUMMARY MORE DETAILS: RETURN #}
            {% if not isOWTrip %}
            <div class="summary_details_item">
                <div class="price-resume">
                    <div class="price-resume_head">
                        <div class="label">{{journeys[1].way}}</div>
                        <div class="price">
                            <span class="fare-label fare3">{{journeys[1].fareSelectedName}}</span>
                            {{SHARED.currency}} 1,884
                        </div>
                    </div>
                    <div class="price-resume_wrap">
                        {% for summaryOutboundDetailsItem in summaryOutboundDetails %}
                        <table class="table">
                            <caption class="hide-visually">Return flight - adult prices resume table</caption>
                            <tbody>
                                <tr class="colgroup_title">
                                    <th scope="colgroup" colspan="2">{{summaryOutboundDetailsItem.blockHeader}}</th>
                                </tr>
                                {% for summaryOutboundDetailsRow in summaryOutboundDetailsItem.blockRows %}
                                <tr>
                                    <th scope="row">{{summaryOutboundDetailsRow.label}}</th>
                                    <td>{{summaryOutboundDetailsRow.price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {# SUMMARY MORE DETAILS: EXTRAS #}
            {% if hasExtras | default(true) %}
            <div class="summary_details_item extras">
                <div class="price-resume">
                    <div class="price-resume_head">
                        <div class="label">Extras</div>
                        <div class="price">
                            {{SHARED.currency}} 884
                        </div>
                    </div>
                    <div class="price-resume_wrap">
                        <table class="table">
                            <caption class="hide-visually">Departure - extras price table</caption>
                            <tbody>
                                <tr class="colgroup_title">
                                    <th scope="colgroup">Departing</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                                <tr>
                                    <th scope="row">20 Kg of baggage</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sports equipment</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                                <tr>
                                    <th scope="row">U-first</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <caption class="hide-visually">Returning flight extras price table</caption>
                            <tbody>
                                <tr class="colgroup_title">
                                    <th scope="colgroup">Returning</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                                <tr>
                                    <th scope="row">20 Kg of baggage</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sports equipment</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <caption class="hide-visually">Fees price table</caption>
                            <tbody>
                                <tr class="colgroup_title">
                                    <th scope="colgroup">Fees</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                                <tr>
                                    <th scope="row">Insurance</th>
                                    <td>{{SHARED.currency}} 328</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% if summary.legalTerms | length %}
    <p class="legal-terms">{{summary.legalTerms}}</p>
    {% endif %}
</div>
