{#
    DOCUMENTATION
    modalAlert = {
        MODIFIERS
        isBoolean: boolean // draws yes/no buttons
        isToSave: boolean // draws save/cancel buttons 
    }
#}

{% extends "layouts/_modal_layout.njk" %}

{% block content %}
    {% if mainModal.title | length %}
        <div class="modal-header">
            <h3 class="modal-title">{{mainModal.title}}</h3>
        </div>
    {% endif %}
    <div class="modal-body">
        {{mainModal.text | safe}}
        {# modal multiple componens renderizer #}
        {% if mainModal.components %}
            {% for component in mainModal.components.items %}
                {% include component.includePath %}
            {% endfor %}
        {% endif %}
        {% if mainModal.formFields %}
            <form class="modal_form">
                {% for field in mainModal.formFields %}
                    {% set inputForm = {
                        label: field.label,
                        placeholder: field.placeholder,
                        name: field.name,
                        id: field.name
                    } %}
                    {% include "partials/ui-elements/_input_text.njk" %}
                {% endfor %}
            </form>
        {% endif %}
    </div>
    {% if modalAlertStyle === true %}
        <div class="modal-footer">
            {% if mainModal.isBoolean or mainModal.isToSave %}
                <button type="button"
                    class="button modal_footer_button"
                    data-dismiss="modal" aria-label="Close">
                    {% if mainModal.isBoolean %}
                        no
                    {% elif mainModal.isToSave %}
                        cancel
                    {% endif %}
                </button>
            {% endif %}
            <button type="button"
                class="button modal_footer_button-action" data-dismiss="modal" aria-label="Close">
                {% if mainModal.btnCaption %}
                    {{ mainModal.btnCaption }}
                {% else %}
                    {% if mainModal.isBoolean %}
                        yes
                    {% elif mainModal.isToSave %}
                        save
                    {% else %}
                        ok
                    {% endif %}
                {% endif %}
            </button>
        </div>
    {% endif %}
{% endblock %}
