{% extends "layouts/_modal_layout.njk" %}

{% block content %}
<div class="modal-header">
    <h3 class="modal-title">{{  flightScale.title }}</h3>
    <h4 class="modal-subtitle">{{  flightScale.subtitle }}</h4>
</div>
<div class="modal-body">
    {% include "partials/components/IBE/flight-select/_connections.njk" %}
</div>
{% endblock %}
