{% extends "layouts/_modal_layout.njk" %}

{% block content %}
<div class="modal-body">
    <div class="seatmap_legend">
        <ul>
            {% for seat in seatsLegend.items %}
            <li class="seat {{seat.type}}">
                <div class="title">
                    <span class="label">{{seat.text}}</span>
                    <span class="price">{{seat.price | safe}}</span>
                </div>
                <div class="description">
                    {{seat.description}}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
