{% if urlExtension === '.php' %}
    {% include "partials/scripts/_md-auth.njk" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/_html-head.njk" %}
</head>

<body class="{% if bodyClass.length %}{{ bodyClass }}{% endif %}{% if navFixed.ibe %} fixed-header{% endif %}">
    <a href="#maincontent" class="skip-main">Skip to main content</a>

    {# MATERIAL DESIGN LATERAL NAVIGATION #}
    {% include "partials/_md/_md_nav.njk" %}

    {# ALERTS #}
    {% if hasAlerts %}
        {% set alertflags = {
            items: [
                {
                    type: 'info',
                    title: 'Title for information type alert',
                    text: 'Text for this alert goes here Text for this alert goes here Text for this alert goes here.'
                },
                {
                    type: 'warning',
                    title: 'Title for warning type',
                    text: 'Text for this alert goes here Text for this alert goes here Text for this alert goes here Text for this alert goes here Text for this alert goes here'
                },
                {
                    type: 'error',
                    title: 'Title for error type',
                    text: 'Text for this alert goes here Text for this alert goes here'
                },
                {
                    type: 'success',
                    title: 'Title for success type',
                    text: 'Text for this alert goes here'
                }
            ]
        } %}
        {% include "partials/ui-elements/_alert-flag.njk" %}
    {% endif %}

    <div class="page-wrap">
        {# HEADER #}
        {% if bodyClass != 'error-page' %}
            {% if header.client %}
                {% include "partials/_header.njk" %}
            {%else%}
                {% include "partials/layout/header/_header.njk" %}
            {%endif%}
        {% endif %}

        {# MAIN CONTENT #}
        <main id="maincontent">
            <div class="content-wrap" data-target="contentWrap">
                {% block content %}{% endblock %}
            </div>
        </main>

        {# FOOTER #}
        {% if bodyClass != 'error-page' %}
            {% if layout.footer == 'mainfooter' %}
                {% include "partials/layout/footer/_main-footer.njk" %}
            {% else %}
                {% if footer.client %}
                    {% include "partials/_footer.njk" %}
                {%else%}
                    {% include "partials/layout/footer/_footer.njk" %}
                {%endif%}
            {% endif %}
        {% endif %}
    </div>

    {# PAGE LOADER #}
    {% include "partials/ui-elements/_page_loader.njk" %}

    {# OVERLAY #}
    <div class="ui-overlay"></div>

    {# SCRIPTS #}
    {% include "partials/_html-scripts.njk" %}
   
    {# PAGE SCRIPTS #}
    {% block component_jquery %} {% endblock %}
</body>

</html>
