{% if urlExtension === '.php' %}
    {% include "partials/scripts/_md-auth.njk" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/_html-head.njk" %}
    <!-- @start: CSS EXTERNAL -->
    {% block component_css %} {% endblock %}
    <!-- @END: CSS EXTERNAL -->
</head>

<body class="{% if bodyClass | length %}{{bodyClass}}{% endif %}{% if navFixed.corporate %} fixed-header{% endif %}">
    <a href="#maincontent" class="hide-visually">Skip to main content</a>
    {% include "partials/_md/_md_nav.njk" %}

    {% if hasAlerts %}
        {% set alertflags = {
            items: [
                {
                    type: 'info',
                    title: 'Title for information type alert',
                    text: 'Text for this alert goes here Text for this alert goes here Text for this alert goes here.'
                },
                {
                    type: 'warning',
                    title: 'Title for warning type',
                    text: 'Text for this alert goes here Text for this alert goes here Text for this alert goes here Text for this alert goes here Text for this alert goes here'
                },
                {
                    type: 'error',
                    title: 'Title for error type',
                    text: 'Text for this alert goes here Text for this alert goes here'
                },
                {
                    type: 'success',
                    title: 'Title for success type',
                    text: 'Text for this alert goes here'
                }
            ]
        } %}
        {% include "partials/ui-elements/_alert-flag.njk" %}
    {% endif %}

    <div class="page-wrap">
        <div class="main-header_wrap">
            {% if bodyClass == "home-page" and layout.showAlertFlag | default(true) %}
                {% set isAlertFull = true %}
                {% set alertflags = {
                    items: [
                        {
                            type: 'warning',
                            text: 'Special ticketing arrangement for Guests with infants or Pregnant guests traveling to Ishigaki on or before May 31, 2018. Please click <a href="#">here.</a>'
                        }
                    ]
                } %}
                {% include "partials/ui-elements/_alert-flag.njk" %}
                {% set isAlertFull = false %}
            {% endif %}
            {% include "partials/layout/header/_main-header.njk" %}
        </div>

        <main id="maincontent">
            <div class="content-wrap" data-target="contentWrap">
                {% block content %} {% endblock %}
                <button class="btn-scroll-back" arial-label="Scroll back to top"></button>
            </div>
        </main>
        {% if layout.footer == 'footer' %}
            {% include "partials/layout/footer/_footer.njk" %}
        {% else %}
            {% include "partials/layout/footer/_main-footer.njk" %}
        {% endif %}
    </div>

    <!-- page loader -->
    <!--div class="page-loader" id="loader">
        <div class="loading"></div>
    </div-->

    {# OVERLAY #}
    <div class="ui-overlay"></div>

    {% include "partials/_html-scripts.njk" %}
    {% block component_jquery %} {% endblock %}
</body>

</html>
