{% if urlExtension === '.php' %}
    {% if not projectName %}
        {% set relativePath = '../../' %}
    {% endif %}
    {% include "partials/scripts/_md-auth.njk" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/_html-head.njk" %}
    <link rel="stylesheet" href="{{ core_assets_path }}js/libs/highlight/highlight.min.css">
    <script src="{{ core_assets_path }}js/libs/highlight/highlight.min.js"></script>
</head>

<body class="{{bodyClass}}">
    {% if layout %}
        <div class="page-wrap">
            <div class="main-header_wrap">
                {% if bodyClass == "home-page" %}
                    {% include "partials/ui-elements/_alert-flag.njk" %}
                {% endif %}
                {% include "partials/layout/header/_main-header.njk" %}
            </div>
        </div>
        {% else %}
            {% include "partials/_md/_md_header.njk" %}
        {% endif %}
        {% include "partials/_md/_md_nav.njk" %}
        <div class="nsux_content">
            {% block content %} {% endblock %}
        </div>

    {% include "partials/_html-scripts.njk" %}

    {% block component_jquery %} {% endblock %}
</body>

</html>
