<div class="modal fade {{modal.class}}{% if modalAlertStyle === true%} modal-alert{% endif %}" id="{{modal.id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="modal-inner">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</div>
