<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    {# DEVELOP STYLES #}
    <link rel="stylesheet" href="../src/views/pdf/styles-pdf.min.css">
    
    {# PRODUCTION STYLES #}
    {# <style>
        {% include "pdf/styles-pdf.min.css" %}
    </style> #}
</head>
	<body>
        {% include "pdf/components/header.njk" %}
		{% block content %}{% endblock %}
	</body>
</html>
