// ********************
//  IBE COMPONENT
//
// ********************
//  BOOKING SUMMARY
// ********************
//
// ## this component works together with summary component common styles (summary.scss)
//
// ********************

.booking-summary {
    .summary {
        position: relative;
        height: auto;
    }
    .summary_journey {
        margin-bottom: 16px;
        padding: calculateRem(15px) calculateRem(10px);
        border: 1px solid $c-primary;
    }
    .summary_fare {
        align-items: flex-end;
        .fare-label {
            font-weight: 600;
        }
    }
}

@media #{$tablet-portrait} { // >= 768px
    .booking-summary {
        $summary-journey-padding-left: 3%;
        $summary-journey-padding-right: 6%;
        padding: calculateRem(23px) 0;
        border: 1px solid $c-primary;
        .summary_body {
            display: flex;
            justify-content: space-between;
        }
        .summary_journey {
            padding: 0;
            border: 0;
            flex: 0 1 50%;
            width: 50%;
            &.departure, &.return {
                padding-left: $summary-journey-padding-left;
                padding-right: $summary-journey-padding-right;
                margin-bottom: 0;
            }
            &.return {
                border-left: 1px solid $c-secondary;
            }
        }
        .summary.oneway {
            .summary_journey {
                flex: 0 1 50%;
                width: 50%;
            }
        }
    }
    .booking-summary, 
    .summary-aside {
        .summary_fare {
            margin-top: 8px;
            padding-right: 8px;
            .fare-label {
                &::before {
                    padding-left: 0;
                }
            }
        }
        .summary_flight {
            margin-top: 15px;
            .flight-number_label {
                border-left: 1px solid $c-primary;
                padding-left: 8px;
            }
        }
    }
}