// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION PREVIEW
// ****************************************
//
//  + Variables
//
// ****************************************

// + Variables
// -------
$destination-preview-padding: calculateRem(16px) !default;
$destination-preview-close-icon: $icon-cross !default;
$destination-preview-close-icon-color: #fff !default;
//## title
$destination-preview-caption-title-fontsize: 20px !default;
$destination-preview-caption-title-color: #fff !default;
$destination-preview-caption-title-background:$c-primary-dark !default;
//## subtitle
$destination-preview-caption-subtitle-fontsize: 16px !default;
$destination-preview-caption-subtitle-color: $c-primary-dark !default;
$destination-preview-caption-subtitle-background: rgba(#fff, .6) !default;

// .destination-preview {}
.destination-preview_close {
	@include iconfont($destination-preview-close-icon, before, $destination-preview-close-icon-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}
.destination-preview_header_banner {
	position: relative;
	height: calculateRem(134px);
	background-size: cover;
	background-repeat: no-repeat;
}
.destination-preview_caption {
	@include clearfix;
	padding-top: 20%;
}
.destination-preview_caption_title,
.destination-preview_caption_subtitle {
	float: left;
	clear: both;
	white-space: nowrap;
	padding: calculateRem(2px) calculateRem(10px);
	border-radius: 0 $border-radius $border-radius 0;
}
.destination-preview_caption_title {
	@include font-size($destination-preview-caption-title-fontsize);
	color: $destination-preview-caption-title-color;
	background-color: $destination-preview-caption-title-background;
}
.destination-preview_caption_subtitle {
	@include font-size($destination-preview-caption-subtitle-fontsize);
	color: $destination-preview-caption-subtitle-color;
	background-color: $destination-preview-caption-subtitle-background;
}
.destination-preview_header_intro {
	padding: 0 1rem;
}
.destination-preview_body {
	padding: 0 1rem;
}
.destination-preview_footer {
	text-align: center;
	margin: .5rem auto;
}
.destination-preview_button {
	@include btn-primary;
}