// ****************************************
//  UI ELEMENTS

// ****************************************
//  FORM ELEMENTS
// ****************************************
//
//    + Label
//    + Form groups
//    + Input
//        ++ Input multiple
//        ++ Input multiline
//
//    + Input with side button
//    + Select (dropdown)
//        ++ Custom selects
//            +++ Birth date selects
//    + Field with icon
//
//    + Checkbox and radio buttons
//    + Numeric up and down
//    + Validations and input states
//        ++ Input messages
//    + Required text
//    + Drop down list popover
//
//    + Buttons
//
//
// ****************************************

button {
    font-family: $f-body;
    font-size: inherit;
    padding: 0;
    border: none;
}


// + Label
// -------
.ui-label {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    font-family: $label-family;
    font-size: $label-fontsize;
    color: $label-color;
    font-weight: 400;
    margin-bottom: 7px;
    cursor: default;
    white-space: nowrap;
}
.ui-label_i {
    @include iconfont($icon-circle-info, before);
    @include font-size($f-size);
    color: $c-primary;
}

// + Input
// -------

// ++ Input multiple
//## 2 or more inputs inside the same container
// .ui-input-multiple,
.ui-input-multiline {
    @extend .ui-input;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 2px;
    background-color: #fff;
    input.ui-input {
        &.disabled,
        &[disabled] {
            border: none;
            background: $input-background;
            &:hover {
                border: none;
            }
        }
    }
}
.ui-input-multiline {
    position: relative;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    &::before { //## icon inside input
        position: absolute;
        left: 8px;
        top: 0;
        @include font-size($f-iconsize-md);
        color: $c-primary;
        pointer-events: none;
    }
    .ui-input {
        @extend .ui-input.reset;
        position: relative;
        top: 1px;
        height: calc(100% - 2px);
        padding-top: 0;
        padding-bottom: 0;
    }
    button.ui-input {
        z-index: 1;
        position: relative;
        cursor: pointer;
    }
    input.ui-input {
        z-index: 2;
        padding-right: 14px;
    }
    .value-large {
        @include font-size($f-size-md-sm);
        font-weight: 500;
        line-height: 1.2;
        margin-top: 0;
    }
    .value-small {
        @include font-size($f-size-xs);
    }
}
.ui-input-multiline_group {
    // @include grid-column(6, $input-multiline-grid);
    position: relative;
    box-sizing: border-box;
    &:first-child {
        .ui-input-multiline_group_inner {
            &::after { display: none; }
        }
    }
    .ui-input-multiline_group_inner {
        height: 100%;
        &::after { //## division border
            z-index: 4;
            content: '';
            position: absolute;
            left: -1px;
            top: 9px;
            height: 30px;
            width: 1px;
            background: $c-primary;
        }
    }
    input.ui-input {
        &[readonly] {
            @include placeholder;
            color: $input-color;
            cursor: default;
            &:hover {
                border: none;
            }
        }
    }

    // modifiers
    &.is-focused { //## when focused
        &::before { //## focused line
            z-index: 5;
            content: '';
            position: absolute;
            bottom: -2px;
            left: -3px;
            right: -3px;
            height: 2px;
            background: $c-secondary;

            .multicity & {
                left: -1px;
                right: -1px;
            }
        }
        &::after { //## focused arrow
            z-index: 5;
            @include triangle('down', 22px, 10px, $c-secondary);
            content: '';
            position: absolute;
            left: 44px;
            bottom: -10px;
        }
    }
    &.is-accent { //## accent text color
        color: $c-color4;
    }
    @media #{$until-tablet-portrait} {
        .ui-input {
            min-height: 45px; // iOS 10.3 support
        }
    }
}

// + Select (dropdown)
// -------
.ui-select-container {
    .ui-form_controls {
        @extend .ui-input;
        display: flex;
        padding: 0;
        .ui-dropdown {
            &::before { //## multiple selects division bar
                top: 9px;
                height: 24px;
                background-color: $c-primary;
            }
            .ui-input {
                display: flex;
                flex: none;
                border: none;
                padding-right: 0;
                height: 100%;
            }
            .ui-dropdown_list {
                margin-top: 10px;
            }
        }
    }
}


// + Validations and input states
// -------
// .ui-input-container,
.ui-input-multiline_group {
    &.has-error {
        .ui-input {
            border-color: $input-error-border;
            &:focus {
                outline: $input-error-border dotted 2px;
            }
        }
        .ui-input_message {
            color: $c-color4;
        }
    }
    &.is-valid,
    &.is-invalid {
        .ui-input_wrap {
            position: relative;
            .ui-input {
                padding-right: 44px;
            }
            &::after {
                position: absolute;
                right: $input-lr-pad;
                top: 50%;
                @include font-size($f-size-md);
                transform: translateY(-50%);
            }
        }
    }
    &.is-valid {
        .ui-input_wrap {
            @include iconfont($icon-circle-check,after);
            &::after {
                color: $c-primary;
            }
        }
        .ui-input_message {
            color: $c-primary;
        }
    }
    &.is-invalid {
        .ui-input_wrap {
            @include iconfont($icon-circle-remove,after);
            &::after {
                color: $c-color4;
            }
        }
        .ui-input_message {
            color: $c-color4;
        }
    }
    &.is-readonly,
    &.ui-input-readonly { // readonly styles for multiples inputs
        // .ui-input-multiple,
        .ui-input-multiline {
            opacity: .6;
            background-color: $gray-2;
            .ui-input {
                background-color: $gray-2;
            }
        }
        &.is-valid,
        &.is-invalid {
            .ui-input_wrap {
                &::after {
                    opacity: .5;
                }
            }
        }
    }
    &.ui-input-readonly {
        input[type='text'] {
            color: $c-text;
            border: none;
            border-bottom: 1px solid $gray-3;
        }
    }
    &.has-value {
        // .ui-input-multiple,
        .ui-input-multiline {
            input.ui-input {
                border-bottom: 0;
            }
        }
        .ui-dropdown {
            .ui-dropdown_value {
                color: $c-text;
            }
        }
    }
    &.is-accent { //## accent (red) text color
        .ui-input {
            color: $c-color4;
        }
    }
}


// + Numeric up and down
// -------
$numeric-updown-fontsize: 34px;
.ui-num-ud {
    display: flex;
    align-items: center;
}
.ui-num-ud_button,
.ui-num-ud_input {
    flex: 0 0 auto;
    vertical-align: middle;
    text-align: center;
}
.ui-num-ud_button {
    z-index: 2;
    position: relative;
    padding: 0;
    font-size: $numeric-updown-fontsize;
    color: $num-updown-button-color;
    line-height: 1;
    cursor: pointer;
    transition: all .1s linear;
    &::before {
        position: relative;
        top: 2px;
    }
    &.minus {
        @include iconfont($icon-circle-minus,before);
    }
    &.plus {
        @include iconfont($icon-circle-plus,before);
    }
    &:hover {
        color: $num-updown-button-color-hover;
    }
    &.disabled {
        cursor: default;
        color: $num-updown-button-color-disabled;
        &:hover {
            color: $num-updown-button-color-disabled;
        }
    }
}
.ui-num-ud_input {
    min-width: 50px;
    max-width: 80px;
    height: ($numeric-updown-fontsize - 2);
    text-align: center;
    margin: 0 -14px;
    padding: 0 14px;
    box-sizing: border-box;
    background: $num-updown-input-bg;
    input {
        height: ($numeric-updown-fontsize - 2);
        @include font-size($f-size-sm);
        color: $c-text;
        border: none;
        width: 100%;
        height: 100%;
        background: none;
        text-align: center;
        padding-bottom: 2px;
        &[readonly] {
            user-select: none;
        }
    }
}

// + Required text
// -------
.required-text {
    display: block;
    text-align: right;
    color: $c-text;
    font-family: $font-sanserif;
    @include font-size($f-size-xs);
}


// + Drop down list popover
// -------
$ui-dropdown-popover_shadow: 0 0 4px 0 rgba(0,0,0,0.3);
$ui-dropdown_list-triangle-size: 12px;
.ui-dropdown-popover {
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 212%;
    min-width: 320px;
    &[aria-hidden='true'] {
        display: none;
    }
    .iconlink-close { //## close button dropdown-popover when responsive
        display: none;
    }
}
$dp-popover-margin: 20px;
.ui-dropdown-popover_list {
    padding: 10px 20px;
    font-family: $font-sanserif;
    border-radius: $border-radius;
    background-color: #fff;
    box-shadow: $ui-dropdown-popover_shadow;
    &::before, &::after { //## arrow and arrow border
        content: '';
        position: absolute;
    }
    &::before { //## popover arrow shadow
        z-index: -100;
        top: -10px;
        right: 40px;
        width: 21px;
        height: 21px;
        background-color: #fff;
        transform: rotate(45deg);
        box-shadow: $ui-dropdown-popover_shadow;
    }
    &::after { //## popover arrow
        top: -13px;
        right: 35px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 14px solid #fff;
    }
    li {
        display: block;
        padding: 4px 0;
    }
    .header,
    .item_link {
        position: relative;
        display: block;
        width: 100%;
        padding: 4px 0 4px 28px;
        box-sizing: border-box;
    }
    .header {
        position: relative;
        margin-bottom: 9px;
        padding-bottom: 4px;
        padding-left: 0;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 0;
            right: 0;
            background-color: $c-primary;
        }
        li {
            padding: 0;
        }
        .icon {
            color: $c-secondary;
        }
        // modifiers
        &.hidden-in-desktop {
            display: none;
        }
    }
    .agent-name, .credit {
        text-align: right;
    }
    .quantity {
        font-weight: 600;
    }
    .credit {
        font-weight: 500;
        color: $c-primary;
    }
    .company-name {
        font-family: $font-name;
        font-weight: 600;
    }
    .item_link {
        display: block;
        text-decoration: none;
    }
    .icon {
        position: absolute;
        left: 0;
        color: $c-primary;
        @include font-size(20px);
        // custom icon sizes
        &.icon {
            &-edit, &-logout {
                @include font-size(23px);
            }
        }
    }
    .separator {
        height: 1px;
        margin: 9px 0 11px;
        padding: 0;
        background-color: $gray-3;
    }
}
@media #{$until-mobile} { // <=640px
    .ui-dropdown-popover {
        top: 90%;
        left: 0;
        .iconlink-close { //## close button dropdown-popover when responsive
            display: block;
            position: absolute;
            top: -5px;
            right: 20px;
            padding-right: 0;
            color: $c-primary;
            @include font-size($f-size-md);
            z-index: 100;
            cursor: pointer;
        }
    }
    .ui-dropdown-popover_list {
        &:before {
            display: none;
        }
        &:after { //# hide top box-shadow
            top: -6px;
            right: 0;
            width: 100%;
            height: 16px;
            background-color: #fff;
            border: none;
        }
        .header {
            &::after {
                left: -$dp-popover-margin;
                right: -$dp-popover-margin;
            }
            // modifiers
            &.hidden-in-desktop {
                display: block;
            }
        }
        .agent-name {
            color: $c-secondary;
        }
    }
}