{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Manage my booking'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="mmb_cancel-flight">
        {% set summary = {
            isEmptySummary: false,
            hasCheckBox: true
        } %}
        {% include "partials/components/IBE/mmb/_mmb_cancel_flight.njk" %}
    </div>

    <!-- PAGE BUTTONS -->
    {% set pageButtons = {
        secondaryButtonLabel: 'Cancel',
        secondaryButtonUrl: 'BF-MMB_home.html',
        actionButtonLabel: 'Calculate',
        actionButtonUrl: 'BF-MMB_cancel_flight_confirm.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
