{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Manage my booking'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="mmb_cancel-flight">
        {% set summary = {
            isEmptySummary: false,
            hasCheckBox: true
        } %}
        {% set checkboxReadonly = true %}
        {% set checkboxChecked = true %}
        {% include "partials/components/IBE/mmb/_mmb_cancel_flight.njk" %}

        <!-- CANCEL FLIGHT - CONFIRMATION -->
        <div class="cancel-flight_confirm">
            <div class="box box-bordercolor">
                <h5 class="box_title">
                    Total Credit Generated:
                    <span class="price">{{SHARED.currency}} 3,954</span>
                </h5>
                <div class="box_footer">
                    <button type="button"
                        onclick="location.href='BF-MMB_home.html'"
                        class="button btn-secondary">
                        Cancel
                    </button>
                    <button
                        type="button"
                        onclick="location.href='BF-MMB_cancel_flight_confirm_success.html'"
                        class="button btn-action">
                        Confirm cancellation
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
