{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page detail-page" %}
{% set BFstep2 = true %}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-payment.html'
} %}
{% set summary = { nextButtonUrl: 'BF-services_add.html' } %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    {# SEARCH RESULT AND SUMMARY #}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {# NEW SEARCH #}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>
</div>

<div class="container-wrap">
    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# PAGE TITLE #}
    {% set page_title = {
        text: 'Datos de contacto',
        type: 'h1',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <div class="intro">
        <p>Introduce los datos tal y como aparecen en el documento de identidad.</p>
    </div>

    {# PASSENGER DATA #}
    {% set passengers = passengersData.passengers %}
    {% set formElements = {
        formGroups: [
            {
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: 'combinedForm',
                                hasPrefix: true,
                                items: [
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Título*',
                                            id: 'titleSr1',
                                            options: [
                                                {
                                                    name: 'Sr.',
                                                    id: '',
                                                    hasValue: true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Nombre*',
                                            id: 'firstName1',
                                            value: "Jorge"
                                        }
                                    }
                                ]
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Apellido*',
                                    id: 'lastName1',
                                    value: "García"
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Fecha de Nacimiento*',
                                    id: 'drop-3',
                                    options: [
                                        {
                                            name: 'DD',
                                            id: 'dd1',
                                            hasValue: true
                                        },
                                        {
                                            name: 'MM',
                                            id: 'mm1'
                                        },
                                        {
                                            name: 'YYYY',
                                            id: 'yyyy1'
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                ]
            }
        ]
    } %}
    {% include "partials/components/IBE/_passenger_data.njk" %}
    
    {# CONTACT DATA #}
    {% set page_title = {
        text: 'Datos de contacto',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    {% set contactData = {
        copyPaxDataCheckbox: {
            type: 'checkbox',
            label: 'Copiar los datos del pasajero',
            checked: true,
            id: 'checkbox-2'
        }
    } %}
    {% set formElements = {  
        formGroups: [
            {                
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: 'combinedForm',
                                hasPrefix: true,
                                items: [
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Título*',
                                            id: 'titleSr1',
                                            options: [
                                                {
                                                    name: 'Sr.',
                                                    id: '',
                                                    hasValue: true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Nombre*',
                                            id: '',
                                            value: "Jorge"
                                        }
                                    }
                                ]
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Apellido*',
                                    id: "input11",
                                    value: '1234',
                                    invalid: true,
                                    message: "Error message"
                                }
                            },
                            {
                                type: 'mobileForm',
                                label: 'Teléfono*',
                                hasLabel: false,
                                id: "particularPhone1",
                                element: {
                                    label: '',
                                    id: '',
                                    prefix: {
                                        label: 'Prefijo*',
                                        id: 'mobileprefix-1',
                                        options: [
                                            {
                                                name: '(57)',
                                                id: ''
                                            }
                                        ]
                                    }
                                }                               
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'E-mail*',
                                    type: 'email'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Confirmar E-mail*',
                                    type: 'email'
                                }
                            }
                        ]
                    }
                ]
            }
        ]
    } %}
    {% include "partials/components/IBE/_common/_contact_data.njk" %}

    {# CONDITIONS CHECKBOX #}
    {% set checkboxForm = {
        type: 'checkbox',
        label: 'Estoy de acuerdo con los <a href="#">términos y condiciones</a> de Uso',
        id: 'checkbox-1'
    } %}
    {% include "partials/ui-elements/_checkbox.njk" %}

    {# PAGE ACTIONS BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
