{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set BFstep1 = true %}
{% set summary = { nextButtonUrl: 'BF-passenger_data.html', isEmptySummary : true, actionButton: true } %}
{# day selector type: week, month, bestprice #}
{% set daySelectorType = "week" %}
{# page actions buttons #}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-passenger_data.html'
} %}
{% set flightIsSelected = true %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    {# SEARCH RESULT AND SUMMARY #}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {# NEW SEARCH #}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>
</div>

<div class="container-wrap">
    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# SELECT FLIGHT #}
    {% include "partials/components/IBE/flight-select/_select_flight.njk" %}

    {# SELECT FLIGHT FOOTNOTE #}
    {% include "partials/components/IBE/flight-select/_select_flight_footnote.njk" %}
   
    {% include "partials/components/_page_buttons.njk" %}

    {# MODAL: CONNECTIONS #}
    {% set modal = {
        class: 'flights-connections_modal',
        id: 'modal-flightConnections'
    } %}
    {% include "partials/components/IBE/modals/_modal_connection.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{# <script>
    $(document).ready(function () {
        $('[data-status="selectedFlight"]').hide();
    });
</script> #}
{% endblock %}
