{% set bodyClass = "ibe-page fixed-header" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <!-- MAIN CONENT -->
        <div class="grid-col col-12">
            <div class="services-cards">
                {% set serviceProduct = {
                    title: {
                        text: "Choose your seat"
                    },                  
                    description:"<strong>included whith smart</strong>",
                    action: {
                        items: [
                            {
                                text: "Add"
                            }
                        ]
                    },                  
                    icon: "seat-airplane-window",
                    isSelected: true
                } %}
                {% include "partials/components/IBE/services/services-cards/_services-card.njk" %}

                {% set serviceProduct = {
                    title: {
                        text: "Add extra baggage"
                    },
                    price: {
                        value: "750",
                        hasFrom: true
                    },
                    action: {
                        items: [
                            {
                                text: "Add"
                            }
                        ]
                    },               
                    icon: "baggage-extra-h"
                } %}
                {% include "partials/components/IBE/services/services-cards/_services-card.njk" %}

                {% set serviceProduct = {
                    title: {
                        text: "Special Baggage"
                    },
                    price: {
                        value: "750",
                        hasFrom: true
                    },
                    action: {
                        items: [
                            {
                                text: "Add"
                            }
                        ]
                    },
                    icon:"golf"
                } %}
                {% include "partials/components/IBE/services/services-cards/_services-card.njk" %}

                {% set serviceProduct = {
                    title: {
                        text: "Special assistance"
                    },
                     price: {
                        value: "750",
                        hasFrom: true
                    },
                    action: {
                        items: [
                            {
                                text: "Add"
                            }
                        ]
                    },
                    icon:"wheelchair",
                    isSelected:false
                } %}
                {% include "partials/components/IBE/services/services-cards/_services-card.njk" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
