{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% set isOW = true %}

{% block content %}
<div class="container-wrap">
    <!-- SEARCH RESULT AND SUMMARY -->
    {% set summary = {
        nextButtonUrl: 'BF-seat_selection.html'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    <!-- BOOKING STEPS -->
    {% set BFstep4 = true %} {# One Way trip variable #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    <!-- BAGGAGE -->
    {% set page_title = {
        text: 'Baggage selection',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    <div class="service_baggage{% if isOW == true %} oneway{% endif %}">
        {% set page_title = {
            text: 'Registered baggage',
            type: 'h3',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <p class="intro">Pre-book your baggage online now for the best rates!</p>
        {% include "partials/components/IBE/services/services-baggage/_services_baggage.njk" %}
    </div>

    <!-- BAGGAGE: SPORTS EQUIPMENT -->
    <div class="service_sportequipment{% if isOW == true %} oneway{% endif %}">
        {% set page_title = {
            text: 'Sports equipment',
            type: 'h3',
            class: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% include "partials/components/IBE/services/services-special-baggage/_services_special-baggage.njk" %}
    </div>

    <!-- MEALS -->
    <div class="service_meals">
        {% set page_title = {
            text: 'Meals',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <p class="intro">Pre-book your meal now to guarantee your tasty selection!
        <br />Each pre-booked meal will include a bottle of water, equivalent to a 15% savings!</p>
        {% include "partials/components/IBE/services/services-meals/_services_meals.njk" %}
    </div>

    <!-- INSURANCE -->
    {% set page_title = {
        text: 'Travel Protection',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    {% include "partials/components/IBE/services/services-insurance/_services_insurance.njk" %}

    <!-- U-FIRST -->
    {% set page_title = {
        text: 'U-First, Speed through Check-in and Boarding',
        type: 'h1',
        class: 'h2'
    } %}
    {% include "partials/components/_page_title.njk" %}
    <p class="intro">Hate to wait? Try our U-First priority check-in and pre-boarding service to expedite your journey.</p>
    {% include "partials/components/IBE/services/services-priority/_services_priority.njk" %}

    <!-- ACTION BUTTONS -->
    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'BF-seat_selection.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
