{% extends "layouts/_layout.njk" %}

{# ------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page check-in-home-page" %}
{% set layout = 'checkin' %}
{%  set summary = {
    fareByFlight: true
} %}
{% set pageButtons = {
    actionButtonLabel: 'Continua',
    actionButtonUrl: 'BF-WCI_seat_selection.html',
    secondaryButtonLabel: 'Cancelar',
    secondaryButtonUrl: 'BF-WCI_login.html',
    isMobileFixed: true
} %}
{% set BFstep1 = true %}
{% set bookingSteps = [
     {
        stepNumber: "1",
        stepLabel: "Itinerario",
        stepUrl: ""
    },
    {
        stepNumber: "2",
        stepLabel: "Asientos",
        stepUrl: ""
    },
    {
        stepNumber: "3",
        stepLabel: "Tarjeta de embarque",
        stepUrl: ""
    }
] %}
{# ------- #}

{% block content %}
<div class="container-wrap">
    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# PAGE TITLE #}
    {% set page_title = {
        text: 'Web Check-In',
        type: 'h1',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    {# PAGE SUBTITLE #}
    {% set page_title = {
        text: 'Detalles del itinerario',
        type: 'h2',
        class: 'h2'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <div class="checkin_home">
        {# CHECKIN SUMMARY #}
        <div class="checkin_summary{% if isOWTrip %} oneway{%endif%}">
            <div class="column">
                <div class="checkin_summary_journey">
                    {% include "partials/components/IBE/summary/_summary_journey.njk" %}
                </div>
                <fieldset>
                    <legend class="hide-visually">Departing flight - select passengers to check-in</legend>
                    {% for pax in passengersData.passengers %}
                        {% set checkin_selection = {
                            checkboxLabel: pax.firstName + ' ' + pax.lastName,
                            ischeckedin: false,
                            checkboxName: 'checkin-pax-d-' + loop.index,
                            seat: '4F',                            
                            printText: 'Tarjeta de embarque',
                            status: {
                                class: '',
                                text: 'Allowed'
                            }
                        } %}
                        {% include "partials/components/IBE/_checkin_selection.njk" %}
                    {% endfor %}
                </fieldset>
            </div>
            {% if not isOWTrip %}
            <div class="column">
                <div class="checkin_summary_journey">
                    {% set summary_journey = {
                        isReturning: true
                    } %}
                    {% include "partials/components/IBE/summary/_summary_journey.njk" %}
                </div>
                <fieldset>
                    <legend class="hide-visually">Returning flight - select passengers to check-in</legend>
                    {% for pax in passengersData.passengers %}
                        {% set checkin_selection = {
                            checkboxLabel: pax.firstName + ' ' + pax.lastName,
                            ischeckedin: false,
                            checkboxName: 'checkin-pax-r-' + loop.index,
                            seat: '4F',
                            printText: 'Tarjeta de embarque',
                            status: {
                                class: 'disabled',
                                text: 'Disabled'
                            }
                        } %}
                        {% include "partials/components/IBE/_checkin_selection.njk" %}
                    {% endfor %}
                </fieldset>
            </div>
            {% endif %}
        </div>
    </div>

    {# CONDITIONS CHECKBOX #}
    {% set checkboxForm = {
        type: 'checkbox',
        label: 'I Declare that all the information provided is true to the best of my knowledge.<br>
                I also acknowledge<br>
                I acknowldoge that I do not bear any dangerous goods.<br>
                I am traveling with all the documents required and updated for this trip<br>
                For more information please contact us at info@amazonas.com',
        id: 'checkbox-1'
    } %}
    {% include "partials/ui-elements/_checkbox.njk" %}     


    {# PAGE BUTTONS    #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
