{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: '1. Lists Styles',
                    class: 'h1',
                    type: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: '1.1. Unorder List',
                    class: 'h2',
                    type: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                <ul class="context-list">
                    <li>HKG - Airport Express</li>
                    <li>TYO - Heiwajima Natural Hot Spring</li>
                    <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                    <li>HKG - Madame Tussauds</li>
                    <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                    <li>KIX - Namba Discount Ticket</li>
                    <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                    <li>TYO - Keikyu Hanetoku</li>
                    <li>Shikoku - JR Shikoku Rail Pass</li>
                    <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
                </ul>
                <div class="code-panel">
                    <pre>
                    <code class="html">                                            
&lt;ul class="context-list"&gt;
    &lt;li&gt;Phuket King Power duty-free shops and GMS duty-free shops Coupons&lt;/li&gt;               
&lt;/ul&gt;
                    </code>
                </pre>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: '1.2. Ordered List',
                    class: 'h2',
                    type: 'h4'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                <ol class="context-list">
                    <li>HKG - Airport Express</li>
                    <li>TYO - Heiwajima Natural Hot Spring</li>
                    <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                    <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                    <li>KIX - Namba Discount Ticket</li>
                    <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                    <li>TYO - Keikyu Hanetoku</li>
                    <li>Shikoku - JR Shikoku Rail Pass</li>
                    <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
                    <li>Shikoku - JR Shikoku Rail Pass</li>
                    <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                </ol>
                <div class="code-panel">
                    <pre>
                    <code class="html">                                            
&lt;ol class="context-list"&gt;
    &lt;li&gt;Phuket King Power duty-free shops and GMS duty-free shops Coupons&lt;/li&gt;               
&lt;/ol&gt;
                    </code>
                </pre>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: '1.2.1 Ordered List (complex example)',
                    class: 'h2',
                    type: 'h4'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                <ol class="context-list">
                    <li>HKG - Airport Express</li>
                    <li>TYO - Heiwajima Natural Hot Spring</li>
                    <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                    <li>
                    HKG - Madame Tussauds
                    <ol class="context-list">
                            <li>HKG - Airport Express</li>
                            <li>TYO - Heiwajima Natural Hot Spring</li>
                            <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                            <li>HKG - Madame Tussauds</li>
                            <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                            <li>KIX - Namba Discount Ticket</li>
                            <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                            <li>TYO - Keikyu Hanetoku</li>
                            <li>Shikoku - JR Shikoku Rail Pass</li>
                            <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
                        </ol>
                    </li>
                    <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                    <li>KIX - Namba Discount Ticket</li>
                    <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                    <li>TYO - Keikyu Hanetoku</li>
                    <li>Shikoku - JR Shikoku Rail Pass</li>
                    <li>
                    Korea  - Tickets Visit Korea Committee – Korea Tour Card
                    <ol class="context-list">
                            <li>HKG - Airport Express</li>
                            <li>TYO - Heiwajima Natural Hot Spring</li>
                            <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                            <li>HKG - Madame Tussauds</li>
                            <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                            <li>KIX - Namba Discount Ticket</li>
                            <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                            <li>TYO - Keikyu Hanetoku</li>
                            <li>Shikoku - JR Shikoku Rail Pass</li>
                            <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: '1.3. Alphanumeric Ordered List',
                    class: 'h2',
                    type: 'h4'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                <ol class="context-list-alpha">
                    <li>HKG - Airport Express</li>
                    <li>TYO - Heiwajima Natural Hot Spring</li>
                    <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                    <li>HKG - Madame Tussauds</li>
                    <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                    <li>KIX - Namba Discount Ticket</li>
                    <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                    <li>TYO - Keikyu Hanetoku</li>
                    <li>Shikoku - JR Shikoku Rail Pass</li>
                    <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
                    <li>HKG - Airport Express</li>
                    <li>TYO - Heiwajima Natural Hot Spring</li>
                    <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                    <li>HKG - Madame Tussauds</li>
                    <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                    <li>KIX - Namba Discount Ticket</li>
                    <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                    <li>TYO - Keikyu Hanetoku</li>
                    <li>Shikoku - JR Shikoku Rail Pass</li>
                    <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
                    <li>HKG - Airport Express</li>
                    <li>TYO - Heiwajima Natural Hot Spring</li>
                    <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                    <li>HKG - Madame Tussauds</li>
                    <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>
                    <li>KIX - Namba Discount Ticket</li>
                    <li>KIX - Namba Discount Ticket</li>
                </ol>
                <div class="code-panel">
                    <pre>
                    <code class="html">                                            
&lt;ol class="context-list context-list-alpha"&gt;
    &lt;li&gt;Phuket King Power duty-free shops and GMS duty-free shops Coupons&lt;/li&gt;               
&lt;/ol&gt;
                    </code>
                </pre>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: '1.4. Custom Start List',
                    class: 'h2',
                    type: 'h4'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                <ol class="context-list" start="8">
                    <li>In addition to a Confirmation Document, We will send the Booker a PNR by email to confirm the details on the same to being in order within a span of 1hours (One free change) Any changes to the PNR after the said time frame will be subject to Our&nbsp;<a data-udi="umb://document/8cfee4d9dfc34a6f903a9e113c37d465" href="/en-us/travel-information/fees/" title="Fees">Fees and Charges</a>
                    </li>
                    <li>We are not responsible for any losses suffered by Passengers who miss Flights if you do not board.</li>
                    <li>We need to confirm all Passenger details within 40min before the Flight for safety reasons. Cancellation will be effected on any Group Bookings whose information has not been fully and accurately supplied in the PNR. If we have to cancel, refunds are as per our terms and conditions.</li>
                </ol>
            </div>
        </div>
    </div>

    {# <div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12"> 
            {% set page_title = {
                text: '1.3. List columns',
                class: 'h2',
                type: 'h5'
            } %}
            {% include "partials/components/_page_title.njk" %}  
            <ul class="context-list columns">
                <li><a href="#">HKG - Airport Express</a></li>
                <li><a href="#">TYO - Heiwajima Natural Hot Spring</a></li>   
                <li><a href="#">Kintetsu - Kintetsu Travel &amp; Rail Pass</a></li>
                <li><a href="#">HKG - Madame Tussauds</a></li>       
                <li><a href="#">TYO - Airport Limousine Bus / Hakone Free Pass</a></li>   
                <li><a href="#">KIX - Namba Discount Ticket</a></li>
                <li><a href="#">Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</a></li>
                <li><a href="#">TYO - Keikyu Hanetoku</a></li>
                <li><a href="#">Shikoku - JR Shikoku Rail Pass</a></li>
                <li><a href="#">Korea  - Tickets Visit Korea Committee – Korea Tour Card</a></li>
            </ul>
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;ul class="context-list columns"&gt;
    &lt;li&gt;&lt;a href="#"&gt;HKG - Airport Express&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;TYO - Heiwajima Natural Hot Spring&lt;/a&gt;&lt;/li&gt;   
    &lt;li&gt;&lt;a href="#"&gt;Kintetsu - Kintetsu Travel &amp; Rail Pass&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;HKG - Madame Tussauds&lt;/a&gt;&lt;/li&gt;       
    &lt;li&gt;&lt;a href="#"&gt;TYO - Airport Limousine Bus / Hakone Free Pass&lt;/a&gt;&lt;/li&gt;   
    &lt;li&gt;&lt;a href="#"&gt;KIX - Namba Discount Ticket&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;TYO - Keikyu Hanetoku&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Shikoku - JR Shikoku Rail Pass&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Korea  - Tickets Visit Korea Committee – Korea Tour Card&lt;/a&gt;&lt;/li&gt;               
&lt;/ul&gt;
                    </code>
                </pre>
            </div>      
            {% set page_title = {
                text: '1.4. List basic',
                class: 'h2',
                type: 'h6'
            } %}
            {% include "partials/components/_page_title.njk" %}    
            <ul class="context-list-basic">
                <li>HKG - Airport Express</li>
                <li>TYO - Heiwajima Natural Hot Spring</li>   
                <li>Kintetsu - Kintetsu Travel &amp; Rail Pass</li>
                <li>HKG - Madame Tussauds</li>       
                <li>TYO - Airport Limousine Bus / Hakone Free Pass</li>   
                <li>KIX - Namba Discount Ticket</li>
                <li>Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</li>
                <li>TYO - Keikyu Hanetoku</li>
                <li>Shikoku - JR Shikoku Rail Pass</li>
                <li>Korea  - Tickets Visit Korea Committee – Korea Tour Card</li>
            </ul>
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;ul class="context-list-basic"&gt;
    &lt;li&gt;HKG - Airport Express&lt;/li&gt;
    &lt;li&gt;TYO - Heiwajima Natural Hot Spring&lt;/li&gt;   
    &lt;li&gt;Kintetsu - Kintetsu Travel &amp; Rail Pass&lt;/li&gt;
    &lt;li&gt;HKG - Madame Tussauds&lt;/li&gt;       
    &lt;li&gt;TYO - Airport Limousine Bus / Hakone Free Pass&lt;/li&gt;   
    &lt;li&gt;KIX - Namba Discount Ticket&lt;/li&gt;
    &lt;li&gt;Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass&lt;/li&gt;
    &lt;li&gt;TYO - Keikyu Hanetoku&lt;/li&gt;
    &lt;li&gt;Shikoku - JR Shikoku Rail Pass&lt;/li&gt;
    &lt;li&gt;Korea  - Tickets Visit Korea Committee – Korea Tour Card&lt;/li&gt;               
&lt;/ul&gt;
                    </code>
                </pre>
            </div>
            {% set page_title = {
                text: '1.5. List icon',
                class: 'h2',
                type: 'h6'
            } %}
            {% include "partials/components/_page_title.njk" %} 
            <ul class="list-icon space">
                <li>
                    <span class="icon icon-email"></span>
                    Monday - Friday, 09:00 - 17-45
                </li>
                <li>
                <span class="icon icon-circle-clock"></span>
                    <a>pr@hkexpress.com</a> (Non-media enquiry is not applicable)
                </li>
            </ul>
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;ul class="list-icon space"&gt;
    &lt;li&gt;
        &lt;span class="icon icon-email"&gt;&lt;/span&gt;
        Monday - Friday, 09:00 - 17-45
    &lt;/li&gt;
    &lt;li&gt;
    &lt;span class="icon icon-circle-clock"&gt;&lt;/span&gt;
        &lt;a&gt;pr@hkexpress.com&lt;/a&gt; (Non-media enquiry is not applicable)
    &lt;/li&gt;
&lt;/ul&gt;
                    </code>
                </pre>
            </div>
            <div class="rss">
                <span class="icon icon-rss"></span><a href="">RSS</a>
            </div>
            {% set page_title = {
                text: '1.5. news list',
                class: 'h2',
                type: 'h6'
            } %}
            {% include "partials/components/_page_title.njk" %} 
            {% set new_data = [
                {
                    title: 'HK Express Wins “Best Global Recruitment Strategy” Gold Award at Asia Recruitment Awards 2018',
                    date: 'April 24, 2018',
                    url: '#',                    
                    content: 'HK Express Wins “Best Global Recruitment Strategy” Gold Award at Asia Recruitment Awards 2018
                                Tuesday, April 24, 2018
                                It’s golden hour for HK Express! The Hong Kong-based airline scooped up a Gold Award for “Best Global Recruitment Strategy” at the 2018 Asia Recruitment Awards in earlier this month at Hotel ICON. Organised by Human Resources magazine, the annual award ceremony is the only regional recruitment awards programme of its kind. It was established in 2015 to celebrate the best in-house talent acquisition teams and recruiters across various industries in Asia.'
                },
                {
                    title: 'HK Express Sponsors Hong Kong International Film Festival The Airline Celebrates Creativity with Movie Night and Livery Design Competition',
                    date: 'March 26, 2018',
                    url: '#',
                    isPdf: true,
                    content: 'Hong Kong-based airline HK Express is honoured to be one of the official sponsors of the 42nd Hong Kong International Film Festival, which runs from 19 March to 5 April 2018. To cultivate creativity and cross-cultural awareness amongst Hong Kong youth, the airline joined hands with Hong Kong International Film Festival (HKIFF) to co-host a movie screening night last night (22 March 2018). During the event, HK Express also announced an exci.'
                }

            ] %}           
            <!-- Component news -->
            {% include "partials/corporative/_news.njk" %}
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
{% include "partials/_md/_md-codes/_md_news-list.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>                 
</div> #}
{% endblock %}

{% block component_jquery %}{% endblock %}