{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Accordion',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                         
        </div>
    </div>                            
</div>
{% set data = [
    {
        title: 'District',
        textOnly: true
    }
] %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            {% include "partials/corporative/_ui-accordion.njk" %}
        </div>
    </div>                 
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_accordion.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
