{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: 'Feedback',
                    type: 'h1',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set feedback = {
                    question: 'What do you think of our website?',
                    rating: {
                        range: 5,
                        type: 'smiles',
                        legend: 'Feedback rating',
                        inputName: 'feedback'
                    },
                    comment: {
                        placeholder: 'Your comment...'
                    }
                } %}
                {% include "partials/components/_shared/_feedback.njk" %}
            </div>
        </div>
    </div>

     <!-- FEEDBACK TRIGGER -->
    <button type="button" class="feedback_trigger"
        data-toggle="modal" data-target="#feedback-modal">
        Feedback
    </button>

    <!-- FEEDBACK MODAL -->
    {% set modalAlertStyle = false %}
    {% set modal = {
        class: 'modalexampleclass-lg_modal',
        id: 'feedback-modal'
    } %}
    {% set mainModal = {
        components: {
            items: [
                {
                    includePath: 'partials/components/_shared/_feedback.njk',
                    configSet: {
                        question: 'What do you think of our website?',
                        rating: {
                            range: 5,
                            type: 'smiles',
                            legend: 'Feedback rating',
                            inputName: 'feedback'
                        },
                        comment: {
                            placeholder: 'Your comment...'
                        }
                    }
                }
            ]
        }
    } %}
    {% include "partials/components/IBE/modals/_main_modal.njk" %}
{% endblock %}

{% block component_jquery %}{% endblock %}
