{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<h1 class="demo_page_title">
    Components: <span>Payment details tables</span>
</h1>

<div class="component-demo-container medium">
    <div class="component-demo-section">
        {% include "partials/components/IBE/payment/_payment-details_payments.njk" %}
    </div>
    <div class="field-code-section">
        <div class="code-panel">
            <pre><code class="html">{% include "partials/_md/_md-codes/_md_payment_table_resume.njk" %}
</code></pre>
        </div>
    </div>
</div>
<div class="component-demo-container medium">
    <div class="component-demo-section">
        {% include "partials/components/IBE/payment/_payment-details_resume.njk" %}
    </div>
    <div class="field-code-section">
        <div class="code-panel">
<pre><code class="html">{% include "partials/_md/_md-codes/_md_payment_table_details.njk" %}
            </code></pre>
        </div>
    </div>
</div>

<div class="component-demo-container medium">
    <div class="component-demo-section">
        <!--START-->
        <div class="summary_details_item is-open">
            <div class="price-resume">
                <div class="price-resume_head">
                    <div class="label">Departure</div>
                    <div class="price">
                        <span class="fare-label fare1">FUN</span>
                        {{SHARED.currency}} 1,884
                    </div>
                </div>
                <div class="price-resume_wrap">
                    <table class="table">
                        <caption class="hide-visually">Payment details - departuring flight</caption>
                        <tbody>
                            <tr class="colgroup_title">
                                <th scope="colgroup" colspan="2">Adult</th>
                            </tr>
                            <tr>
                                <th scope="row">Fare</th>
                                <td>{{SHARED.currency}} 328</td>
                            </tr>
                            <tr>
                                <th scope="row">CN Security charge</th>
                                <td>1 x {{SHARED.currency}} 255</td>
                            </tr>
                            <tr>
                                <th scope="row">CN terminal facilities charge</th>
                                <td>1 x {{SHARED.currency}} 255</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <caption class="hide-visually">Departure flight - child prices resume table</caption>
                        <tbody>
                            <tr class="colgroup_title">
                                <th scope="colgroup" colspan="2">Child</th>
                            </tr>
                            <tr>
                                <th scope="row">Fare</th>
                                <td>{{SHARED.currency}} 328</td>
                            </tr>
                            <tr>
                                <th scope="row">CN Security charge</th>
                                <td>1 x {{SHARED.currency}} 255</td>
                            </tr>
                            <tr>
                                <th scope="row">CN terminal facilities charge</th>
                                <td>1 x {{SHARED.currency}} 255</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--END-->
    </div>
    <div class="field-code-section">
        <div class="code-panel">
            <pre><code class="html">{% include "partials/_md/_md-codes/_md_payment_table_details_summary.njk" %}
</code></pre>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
