{% extends "layouts/_layout-corporative.njk" %}
{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: "mainfooter",
    header: "hasNav"
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# BREADCRUMB #}
    {% set breadcrumbsList = [
        {
            item: "About us",
            url: "#"
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: "Media Centre"
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <div class="grid">
        <div class="grid-col col-12">
            {# PAGE TITLE #}
            <h2 class="context-h1-inverse">
                Prensa
            </h2>
        </div>
    </div>

    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# NEWS LIST #}
            {% set new_data = [
                {
                    title: "Amaszonas amplía servicio de Contact Center",
                    date: "14 Junio 2018",
                    url: "CORP-news_detail.html",                    
                    content: "El nuevo servicio del contact center de Amaszonas como grupo de aerolíneas inició su nueva modalidad de atención en días pasados y tiene…"
                },
                {
                    title: "Amaszonas en aniversario de Paraguay en Chile",
                    date: "24 Mayo 2018",
                    url: "CORP-news_detail.html",
                    isPdf: true,
                    content: "Como ocurrió en otros países donde opera el Grupo Amaszonas, en Santiago de Chile la representación comercial de Amaszonas participó del evento…"
                },
                {
                    title: "Amaszonas en aniversario de Paraguay en Chile",
                    date: "24 Mayo 2018",
                    url: "CORP-news_detail.html",
                    content: "Como ocurrió en otros países donde opera el Grupo Amaszonas, en Santiago de Chile la representación comercial de Amaszonas participó del evento…"
                },
                {
                    title: "Amaszonas amplía servicio de Contact Center",
                    date: "14 Junio 2018",
                    url: "CORP-news_detail.html",                    
                    content: "El nuevo servicio del contact center de Amaszonas como grupo de aerolíneas inició su nueva modalidad de atención en días pasados y tiene…"
                },
                {
                    title: "Amaszonas en aniversario de Paraguay en Chile",
                    date: "24 Mayo 2018",
                    url: "CORP-news_detail.html",
                    isPdf: true,
                    content: "Como ocurrió en otros países donde opera el Grupo Amaszonas, en Santiago de Chile la representación comercial de Amaszonas participó del evento…"
                },
                {
                    title: "Amaszonas en aniversario de Paraguay en Chile",
                    date: "24 Mayo 2018",
                    url: "CORP-news_detail.html",
                    content: "Como ocurrió en otros países donde opera el Grupo Amaszonas, en Santiago de Chile la representación comercial de Amaszonas participó del evento…"
                },
                {
                    title: "Amaszonas amplía servicio de Contact Center",
                    date: "14 Junio 2018",
                    url: "CORP-news_detail.html",                    
                    content: "El nuevo servicio del contact center de Amaszonas como grupo de aerolíneas inició su nueva modalidad de atención en días pasados y tiene…"
                },
                {
                    title: "Amaszonas en aniversario de Paraguay en Chile",
                    date: "24 Mayo 2018",
                    url: "CORP-news_detail.html",
                    isPdf: true,
                    content: "Como ocurrió en otros países donde opera el Grupo Amaszonas, en Santiago de Chile la representación comercial de Amaszonas participó del evento…"
                },
                {
                    title: "Amaszonas en aniversario de Paraguay en Chile",
                    date: "24 Mayo 2018",
                    url: "CORP-news_detail.html",
                    content: "Como ocurrió en otros países donde opera el Grupo Amaszonas, en Santiago de Chile la representación comercial de Amaszonas participó del evento…"
                }

            ] %}
            {% include "partials/corporative/_news.njk" %}            
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            {# PAGINATION #}
            {% include "partials/ui-elements/_pagination.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
