{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Plan',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Destination Guides'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-8">
                {% set page_title = {
                    text: 'Destinations',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-8">
                {% set page_title = {
                    text: 'Looking for flights in Kenya and Uganda?',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>Jambojet flies from Jomo Kenyatta International Airport to Eldoret, Entebbe, Kisumu, Malindi, Mombasa and Diani (Ukunda). Click on any of the destinations below to learn more about it. Better yet, book a Jambojet ticket to any (or all) of these magical destinations and create your own adventure.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set destinationGuide = {
                    items: [
                        {
                            city: 'Diani',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        },
                        {
                            city: 'Eldoret',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        },
                        {
                            city: 'Nairobi',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        },
                        {
                            city: 'Kisumu',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        },
                        {
                            city: 'Malindi',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        },
                        {
                            city: 'Mombasa',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        },
                        {
                            city: 'Entebbe',
                            img: 'destination-img1',
                            url: 'CORP-destination_guides_city.html'
                        }
                    ]
                } %}
                {% include "partials/corporative/_destination-guide.njk" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
