{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<!-- ARTICLE CONTENT: ROW1 -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Manage Flight',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Check in'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <!-- COMPONENT: RICH TEXT -->
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1">Ancillary fees</h2>
            <p>At HK Express, we don’t believe in hidden charges. Here, you’ll find all the latest information on the fees we charge for optional products and services. All fees are charged on a per-guest, per-flight basis unless noted otherwise.</p>
            <p>At HK Express, we don’t believe in hidden charges. Here, you’ll find all the latest information on the fees we charge for optional products and services. All fees are charged on a per-guest, per-flight basis unless noted otherwise.
                Please note our baggage fees have been revised from Nov 3, 2016 onwards. Revised baggage fees will affect any new bookings or changes to baggage allowance from this date forward. Additional baggage allowance can be added on or upgraded to existing bookings through the “Manage my booking portal”  on our official website or mobile app. Guests are unable to remove or downgrade their baggage allowance after their initial purchase.
            </p>
            <p>
                Please note, for all flights to/from Saipan, you are purchasing 1 piece of checked baggage of the respective weight (20/25/30kg). If you need to check-in extra pieces, please contact our Airport check-in staff to purchase additional baggage allowance."
            </p>
        </div>
    </div>
    <!-- Table -->
    <div class="grid">
        <div class="grid-col col-12">
            <h3 class="context-h2">Checked Baggage</h3>
            <div class="context-table_title">
                <h4 class="title">Booking via hkexpress.com or on mobile app</h4>
            </div>
            {% set data = {
                align: 'center',
                thead: {
                    ths: [
                        { title: '' },
                        { title: 'Weight' },
                        { title: 'HKD' },
                        { title: 'JPY' },
                        { title: 'TWD' },
                        { title: 'CNY' },
                        { title: 'THB' },
                        { title: 'MYR' },
                        { title: 'USD' },
                        { title: 'KRW' }
                    ]
                }
                ,
                class: 'upperline-tb',
                tbody: [
                    {
                        tds: [
                            { title: 'Initial Booking*', rowspan: '3', align: 'left', class: "td-rowspan" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '25kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '30kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        hasClass: 'upperline',
                        tds: [
                            { title: 'Manage My Booking <br> (After initial Booking)', rowspan: '3', align: 'left', class: "td-rowspan"},
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '25kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '30kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="context-table_title">
                <h4 class="title">Booking via Call Center</h4>
            </div>
            {% set data = {
                align: 'center',
                thead: {
                    ths: [
                        { title: ' ' },
                        { title: 'Weight' },
                        { title: 'HKD' },
                        { title: 'JPY' },
                        { title: 'TWD' },
                        { title: 'CNY' },
                        { title: 'THB' },
                        { title: 'MYR' },
                        { title: 'USD' },
                        { title: 'KRW' }
                    ]
                }
                ,
                class: 'upperline-tb',
                tbody: [
                    {
                        tds: [
                            { title: 'Call center', rowspan: '3', align: 'left', class: "td-rowspan" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="context-table_title">
                <h4 class="title">Booking via Airport</h4>
            </div>
            {% set data = {
                align: 'center',
                thead: {
                    ths: [
                        { title: ' ' },
                        { title: 'Weight' },
                        { title: 'HKD' },
                        { title: 'JPY' },
                        { title: 'TWD' },
                        { title: 'CNY' },
                        { title: 'THB' },
                        { title: 'MYR' },
                        { title: 'USD' },
                        { title: 'KRW' }
                    ]
                },
                class: 'upperline-tb',
                tbody: [
                    {
                        tds: [
                            { title: 'Airport Check-in Counter', rowspan: '3', align: 'left', class: "td-rowspan" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        hasClass: 'upperline',
                        tds: [
                            { title: 'Excess Baggage <br> (Above Bookend Allowance)', align: 'left', class: "td-rowspan" },
                            { title: 'Every 5kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_table-responsive.njk" %}
            <br>
            <p class="context-footnote">
                *Prices may vary depending on your travel period, but will not at any one time be higher than that reflected in the table above.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
