{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{# ----------------------------------------- #}

{% block content %}

    <!-- ARTICLE CONTENT: ROW1 -->
    <div class="container-wrap">
        <!-- BREADCRUMB -->
        {% set breadcrumbsList = [
            {
                item: 'Lorem',
                url: '#'
            }
        ] %}
        {% set breadcrumb = {
            itemCurrent: 'ipsum dolor'
        } %}
        {% include "partials/corporative/_breadcrumb.njk" %}

    </div>

    <!-- ARTICLE CONTENT: ROW2 -->
    <!--#### custom grid: columns and grid variables ####-->

    {# MAIN TITLE #}
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-4 col-md-last">
                <!-- REPO - ASIDE -->
                <div class="container-wrap">
                    <div class="grid grid-noBottom">
                        <div class="grid-col col-12">
                            <div class="context-box_aside">
                                <h3 class="context-box_aside_title">Content</h3>
                                <ul class="context-list">
                                    <li>
                                        <a href="">Advertise with Jambojet. The only way is up.Entebbe</a>
                                    </li>
                                    <li>
                                        <a href="">Before travel</a>
                                    </li>
                                    <li>
                                        <a href="">During travel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col col-12 col-md-8">
                {% set page_title = {
                    isCorporative: true,
                    text: 'Jambojet Advertising Media',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
                {% set page_title = {
                    isCorporative: true,
                    text: 'Advertise with Jambojet. The only way is up.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>Imagine telling your brand story to close to 1,000,000 passengers per year! And just so you know…</p>
                <ul class="context-list">
                    <li>100% of them are a highly targeted and captive audience</li>
                    <li>100% of them passengers will see and read your story</li>
                    <li>94% will have brand recall as they spend on average up to 40 minutes in each flight</li>
                </ul>
                {% set page_title = {
                    isCorporative: true,
                    text: 'Advertise with Jambojet. The only way is up.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <ul class="context-list">
                    <li>100% of them are a highly targeted and captive audience</li>
                    <li>100% of them passengers will see and read your story</li>
                    <li>94% will have brand recall as they spend on average up to 40 minutes in each flight</li>
                </ul>
                {% set page_title = {
                    isCorporative: true,
                    text: 'Title after list',
                    type: 'h2',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>If this is what you are looking for, engage with them every step of their journey from planning to post travelling with us.</p>
                <p>WARNING: There is a 99.999% chance of them falling in love with your brand, the other 0.001% were probably asleep.</p>
                {% set page_title = {
                    isCorporative: true,
                    text: 'Before travel.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
                {% set page_title = {
                    isCorporative: true,
                    text: 'Online Advertising.',
                    type: 'h4',
                    class: 'h3'
                } %}
                {% include "partials/components/_page_title.njk" %}
                <p>The journey of any travelling consumer starts here, online. Have your brand tell your story on our online mediums, be it the homepage banner, flight itinerary, e-ticket or online boarding pass. Your brand will be with our passengers every step of their journey.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    isCorporative: true,
                    text: 'During travel.',
                    type: 'h3',
                    class: 'h2'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6 col-lg-4">
                <img class="context-image" src="https://via.placeholder.com/420x230">
            </div>
            <div class="grid-col col-12 col-md-6 col-lg-4 col-middle">
                <p>The Boarding Pass marks the beginning of any departing flight. Passengers view their boarding passes on average 4 times before, during and after departure. Increase your brand recall by having your campaign on our boarding passes.</p>
                <p>P.S: Some avid travellers love keeping their boarding passes as memorabilia, be a part of their memories.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6 col-lg-4">
                <img class="context-image" src="https://via.placeholder.com/420x230">
            </div>
            <div class="grid-col col-12 col-md-6 col-lg-4 col-middle col-md-first">
                <p>Our passengers spend up to 40 minutes on average onboard each flight. Increase your brand exposure with our table tray and headrest covers branding opportunity that has a 99.9% chance of brand visibility.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-6 col-lg-4">
                <img class="context-image" src="https://via.placeholder.com/420x230">
            </div>
            <div class="grid-col col-12 col-md-6 col-lg-4 col-middle">
                <p>People tend to be more curious and willing to be more adventurous when they are travelling. Let your brand engage with the passengers through product sampling throughout their flight.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set data = {
                    isResponsive: false,
                    hasSideHeader: true,
                    thead: {
                        ths: [
                            { title: 'Date' },
                            { title: 'Time (hrs.)' },
                            { title: '' },
                            { title: '' },
                            { title: '' },
                            { title: '' },
                            { title: '' }
                        ]
                    },
                    class: 'upperline-tb',
                    tbody: [
                        {
                            tds: [
                                { title: 'Sunday', isTh: true, dataTh: 'SUN' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Monday', isTh: true, dataTh: 'MON' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Tuesday', isTh: true, dataTh: 'TUE' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Wednesday', isTh: true, dataTh: 'WED' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Thursday', isTh: true, dataTh: 'THU' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Friday', isTh: true, dataTh: 'FRI' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Saturday', isTh: true, dataTh: 'SAT' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' },
                                { title: '09:40' }
                            ]
                        }
                    ]
                } %}
                {% include "partials/ui-elements/_table-responsive.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-4">
                <div class="context-images">
                    <div class="context-images_grid">
                        <div class="column">
                            <picture>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 1200px)"/>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 1025px)"/>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 640px)"/>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 481px)"/>
                                <img class="context-image" src="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" alt="">
                            </picture>
                        </div>
                    </div>
                    <p class="context-footnote">
                        <strong>Image with footnote</strong> Photo caption: Commercial Director Jonathan Hutt and Operations Director, Simon Wu appeared at the boarding gate to distribute souvenir to every guest on board.
                    </p>
                </div>
            </div>
            <div class="grid-col col-12 col-md-4">
                <div class="context-images">
                    <div class="context-images_grid">
                        <div class="column">
                            <picture>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 1200px)"/>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 1025px)"/>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 640px)"/>
                                <source srcset="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" media="(min-width: 481px)"/>
                                <img class="context-image" src="http://jm-static-dev.newshore.es/media-jambojet/1008/1400-495-exleg.jpg?cropmode=percentaje&width=1200" alt="">
                            </picture>
                        </div>
                    </div>
                    <p>
                        <strong>Image with paragraph</strong> Photo caption: Commercial Director Jonathan Hutt and Operations Director, Simon Wu appeared at the boarding gate to distribute souvenir to every guest on board.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-8">
                <ol class="context-list-title">
                    <li>
                        <h2 class="context-h1">Check availability</h2>
                        <ol class="context-list-alpha">
                            <li>Visit <a data-udi="umb://document/9b11fe61a357496bbe36fee70607c9b3" href="/en-us/" title="en-us">www.jambojet.com</a><br>The booking widget is available on the top menu bar of every page of the Jambojet website so you can book your ticket as you browse.</li>
                            <li>Enter the location you would like to travel from</li>
                            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque repellendus pariatur, culpa quae nulla ab aliquam, quo molestiae dolorum doloribus voluptates. Sequi cumque neque culpa. Est tempore aperiam consectetur et.</li>
                            <li>Enter your destination</li>
                        </ol>
                    </li>
                    <li>
                        <h2 class="context-h1">Check availability</h2>
                        <ol class="context-list-alpha">
                            <li>Visit <a data-udi="umb://document/9b11fe61a357496bbe36fee70607c9b3" href="/en-us/" title="en-us">www.jambojet.com</a><br>The booking widget is available on the top menu bar of every page of the Jambojet website so you can book your ticket as you browse.</li>
                            <li>Enter the location you would like to travel from</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde a omnis, possimus, modi earum deserunt quisquam quas harum doloribus totam, saepe officiis hic dignissimos expedita sed excepturi odit aut.</li>
                            <li>Enter your destination</li>
                        </ol>
                    </li>
                    <li>
                        <h3 class="context-h2">Check availability</h3>
                        <ol class="context-list-alpha">
                            <li>Visit <a data-udi="umb://document/9b11fe61a357496bbe36fee70607c9b3" href="/en-us/" title="en-us">www.jambojet.com</a><br>The booking widget is available on the top menu bar of every page of the Jambojet website so you can book your ticket as you browse.</li>
                            <li>Enter the location you would like to travel from</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde a omnis, possimus, modi earum deserunt quisquam quas harum doloribus totam, saepe officiis hic dignissimos expedita sed excepturi odit aut.</li>
                            <li>Enter your destination</li>
                        </ol>
                    </li>
                    <li>
                        <h4 class="context-h3">Check availability</h4>
                        <ol class="context-list-alpha">
                            <li>Visit <a data-udi="umb://document/9b11fe61a357496bbe36fee70607c9b3" href="/en-us/" title="en-us">www.jambojet.com</a><br>The booking widget is available on the top menu bar of every page of the Jambojet website so you can book your ticket as you browse.</li>
                            <li>Enter the location you would like to travel from</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde a omnis, possimus, modi earum deserunt quisquam quas harum doloribus totam, saepe officiis hic dignissimos expedita sed excepturi odit aut.</li>
                            <li>Enter your destination</li>
                        </ol>
                    </li>
                    <li>
                        <h5 class="context-h4">Check availability</h5>
                        <ol class="context-list-alpha">
                            <li>Visit <a data-udi="umb://document/9b11fe61a357496bbe36fee70607c9b3" href="/en-us/" title="en-us">www.jambojet.com</a><br>The booking widget is available on the top menu bar of every page of the Jambojet website so you can book your ticket as you browse.</li>
                            <li>Enter the location you would like to travel from</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde a omnis, possimus, modi earum deserunt quisquam quas harum doloribus totam, saepe officiis hic dignissimos expedita sed excepturi odit aut.</li>
                            <li>Enter your destination</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-8">
                <div class="context-images default">
                    <div class="context-images_grid">
                        <div class="column">
                            <picture>
                                <source srcset="//jm-static-dev.newshore.es/media-jambojet/1011/aircraft.jpg?cropmode=percentaje&amp;width=1200" media="(min-width: 1200px)">
                                <source srcset="//jm-static-dev.newshore.es/media-jambojet/1011/aircraft.jpg?cropmode=percentaje&amp;width=1024" media="(min-width: 1024px)">
                                <source srcset="//jm-static-dev.newshore.es/media-jambojet/1011/aircraft.jpg?cropmode=percentaje&amp;width=768" media="(min-width: 768px)">
                                <source srcset="//jm-static-dev.newshore.es/media-jambojet/1011/aircraft.jpg?cropmode=percentaje&amp;width=640" media="(min-width: 640px)">
                                <source srcset="//jm-static-dev.newshore.es/media-jambojet/1011/aircraft.jpg?cropmode=percentaje&amp;width=480" media="(min-width: 480px)">
                                <img class="context-image" src="//jm-static-dev.newshore.es/media-jambojet/1011/aircraft.jpg?cropmode=percentaje&amp;width=480" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
                <p>Jambojet only operates a fleet of Bombardier Dash 8 Q-400 Next Gen aircrafts that allows for greater efficiency in maintenance while maintaining the highest safety standards. The Q400 NextGen turboprop is the most recent development in the evolution of the Q400 aircraft and the advanced successor to Bombardier’s Dash 8/Q-Series family of aircraft.</p>
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12 col-md-8">
                <ol class="context-list-title">
                    <li>
                        <h3 id="definitions" class="context-h2">Words and Terms Used In These Conditions</h3>
                        <p>As you read these conditions, please note that:</p>
                        <ol class="context-list">
                            <li>"We", "our" "ourselves" and "us" means JamboJet Ltd.</li>
                            <li>"You", "your" and "yourself" means any person, except members of the crew, carried or to be carried in an aircraft pursuant to a Ticket. (See also definition for "Passenger").</li>
                            <li>"AGREED STOPPING PLACES" means those places, except the place of departure and the place of destination, set out in the Ticket or shown in our timetables as scheduled stopping places on your route.</li>
                            <li>"AIRLINE DESIGNATOR CODE" means the two characters or three letters which identify particular air carriers.</li>
                            <li>"BAGGAGE" means your personal property accompanying you in connection with your trip. Unless otherwise specified, it consists of both your Checked and Unchecked Baggage.</li>
                            <li>"BAGGAGE CHECK" means those portions of the Ticket which relate to the carriage of your Checked Baggage.</li>
                            <li>"BAGGAGE IDENTIFICATION TAG" means a document issued solely for identification of Checked Baggage.</li>
                            <li>"CARRIER" means an air carrier other than ourselves, whose airline designator code appears on your Ticket or on a Conjunction Ticket.</li>
                            <li>"CHECKED BAGGAGE" means Baggage of which we take custody and for which we have issued a Baggage Check.</li>
                            <li>"CHECK-IN DEADLINE" means the time limit specified by the airline by which you must have completed check-in formalities and received your boarding pass.</li>
                            <li>"CONDITIONS OF CONTRACT" means those statements contained in or delivered with your Ticket or Itinerary/Receipt, identified as such and which incorporate, by reference, these Conditions of Carriage and notices.</li>
                            <li>"CONJUNCTION TICKET" means a Ticket issued to you with relation to another Ticket which together constitute a single contract of carriage.</li>
                            <li>"CONVENTION" means whichever of the following instruments are applicable:
                        <ul class="context-list">
                                    <li>The Convention for the Unification of Certain Rules Relating to International Carriage by Air, signed at Warsaw, 12 October 1929 (hereinafter referred to as the Warsaw Convention);</li>
                                    <li>The Warsaw Convention as amended at The Hague on 28 September 1955;</li>
                                    <li>The Warsaw Convention as amended by Additional Protocol No. 1 of Montreal (1975);</li>
                                    <li>The Warsaw Convention as amended at The Hague and by Additional Protocol No. 2 of Montreal (1975);</li>
                                    <li>The Warsaw Convention as amended at The Hague and by Additional Protocol No. 4 of Montreal (1975);</li>
                                    <li>The Guadalajara Supplementary Convention (1961);</li>
                                    <li>The Montreal Convention (1999)</li>
                                </ul>
                            </li>
                            <li>"COUPON" means both a paper Flight Coupon and an Electronic Coupon, each of which entitles the named passenger to travel on the particular flight identified on it.</li>
                            <li>"DAMAGE" includes death, wounding, or bodily injury to a Passenger, loss, partial loss or theft of or other damage to Baggage, arising out of or in connection with carriage or other services incidental thereto performed by us.</li>
                            <li>"DAYS" mean calendar days, including all seven days of the week; provided that, for the purpose of notification, the day upon which notice is dispatched shall not be counted; and provided further that for purposes of determining duration of validity of a Ticket, the day upon which the Ticket is issued, or the flight commenced shall not be counted.</li>
                            <li>"ELECTRONIC COUPON" means an electronic flight coupon or other value document held in our database.</li>
                            <li>"ELECTRONIC TICKET" means the Itinerary/Receipt issued by us or on our behalf, the Electronic Coupons and, if applicable, a boarding document.</li>
                            <li>"FLIGHT COUPON" means that portion of the Ticket that bears the notation "good for passage," or in the case of an Electronic Ticket, the Electronic Coupon, and indicates the particular places between which you are entitled to be carried.</li>
                            <li>"FORCE MAJEURE" means unusual and unforeseeable circumstances beyond your control, the consequences of which could not have been avoided even if all due care had been exercised.</li>
                            <li>"ITINERARY/RECEIPT" means a document or documents issued by us or on our behalf to Passengers travelling on Electronic Tickets that contains the Passenger's name, flight information and notices.</li>
                            <li>"NOTICE OF CONTRACT TERMS INCORPORATED BY REFERENCE" means those statements contained in or delivered with your Ticket or Itinerary/Receipt, identified as such and which incorporate by reference, these Conditions of Carriage and notices.</li>
                            <li>"PASSENGER" means any person, except members of the crew, carried or to be carried in an aircraft pursuant to a Ticket. (See also definition for "you", "your" and "yourself").</li>
                            <li>"PASSENGER COUPON" or "PASSENGER RECEIPT" means that portion of the Ticket issued by us or on our behalf, which is so marked and which ultimately is to be retained by you.</li>
                            <li>"SPECIAL DRAWING RIGHTS" are an international unit of account, defined by the International Monetary Fund, based upon the values of several leading currencies. The currency values of the Special Drawing Right fluctuate and are re-calculated each banking day. These values are known to most commercial bankers and are reported regularly in leading financial journals.</li>
                            <li>"STOPOVER" means a scheduled stop on your journey, at a point between the place of departure and the place of destination.</li>
                            <li>"TARIFF" means the published fares, charges and/or related conditions of carriage of an airline filed, where required, with the appropriate authorities.</li>
                            <li>"TICKET" means either the document entitled "Passenger Ticket and Baggage Check" or the Electronic Ticket, in each case issued by us or on our behalf, and includes the Conditions of Contract, notices and Coupons.</li>
                        </ol>
                        <p>"UNCHECKED BAGGAGE" means any of your Baggage other than Checked Baggage.</p>
                    </li>
                    <li>
                        <h3 id="applicability" class="context-h2">APPLICABILITY</h3>
                        <ol class="context-list-title">
                            <li>
                                <h4 class="context-h3">GENERAL</h4>
                        Except as provided in Articles 2.2 , 2.4 and 2.5, our Conditions of Carriage apply only to those flights, or flight segments, where our name or Airline Designator Code is indicated in the carrier box of the Ticket for that flight or flight segment.</li>
                            <li>
                                <h4 class="context-h3">CHARTER OPERATIONS</h4>
                                <p>If carriage is performed pursuant to a charter agreement, these Conditions of Carriage apply only to the extent they are incorporated, by reference or otherwise, in the charter agreement or the Ticket.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">CODE SHARES</h4>
                                <p>On some services we may have arrangements with other carriers known as "Code Shares". This means that even if you have a reservation with us and hold a ticket where our name or airline designator code is indicated as the carrier, another carrier may operate the aircraft. If such arrangements apply, we will advise you of the carrier operating the aircraft at the time you make a reservation.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">OVERRIDING LAW</h4>
                                <p>These Conditions of Carriage are applicable unless they are inconsistent with our Tariffs or applicable law in which event such Tariffs or laws shall prevail. If any provision of these Conditions of Carriage is invalid under any applicable law, the other provisions shall nevertheless remain valid.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">CONDITIONS PREVAIL OVER REGULATIONS</h4>
                                <p>Except as provided in these Conditions of Carriage, in the event of inconsistency between these Conditions of Carriage and any other regulations we may have, dealing with particular subjects, these Conditions of Carriage shall prevail.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="tickets" class="context-h2">TICKETS</h3>
                        <ol class="context-list">
                            <li>
                                <h4 class="context-h3">GENERAL PROVISIONS</h4>
                                <ol class="context-list">
                                    <li>We will provide carriage only to the Passenger named in the Ticket, and you may be required to produce appropriate identification.</li>
                                    <li>A Ticket is not transferable, except as required by any locally applicable laws.</li>
                                    <li>Some Tickets are sold at discounted fares which may be partially or completely non-refundable. You should choose the fare best suited to your needs. You may also wish to ensure that you have appropriate insurance to cover instances where you have to cancel your Ticket.</li>
                                    <li>If you have a Ticket, as described in Article 3.1.3, which is completely unused, and you are prevented from travelling due to Force Majeure, provided that you promptly advise us and furnish evidence of such Force Majeure, we will provide you with a credit of the non-refundable amount of the fare, for future travel on us, subject to deduction of a reasonable administration fee.</li>
                                    <li>The Ticket is and remains at all times the property of the issuing carrier.</li>
                                    <li>Except in the case of an Electronic Ticket, you shall not be entitled to be carried on a flight unless you present a valid Ticket containing the Flight Coupon for that flight and all other unused Flight Coupons and the Passenger Coupon. In addition, you shall not be entitled to be carried if the Ticket presented is mutilated or if it has been altered otherwise than by us or our Authorized Agent. In the case of an Electronic Ticket, you shall not be entitled to be carried on a flight unless you provide positive identification and a valid Electronic Ticket has been duly issued in your name.</li>
                                    <li>3.1.7(a) In case of loss or mutilation of a Ticket (or part of it) by you or non-presentation of a Ticket containing the Passenger Coupon and all unused Flight Coupons, upon your request we will replace such Ticket (or part of it) by issuing a new Ticket, provided there is evidence, readily ascertainable at the time, that a Ticket valid for the flight(s) in question was duly issued and you sign an agreement to reimburse us for any costs and losses, up to the value of the original ticket, which are necessarily and reasonably incurred by us or another carrier for misuse of the Ticket. We will not claim reimbursement from you for any such losses which result from our own negligence. The issuing carrier may charge a reasonable administration fee for this service, unless the loss or mutilation was due to the negligence of the issuing carrier, or its agent.</li>
                                    <li>3.1.7(b) Where such evidence is not available or you do not sign such an agreement, the carrier issuing the new Ticket may require you to pay up to the full Ticket price for a replacement Ticket, subject to refund if and when the original issuing carrier is satisfied that the lost or mutilated Ticket has not been used before the expiry of its validity. If, upon finding the original Ticket before the expiry of its validity, you surrender it to the carrier issuing the new Ticket, the foregoing refund will be processed at that time.</li>
                                    <li>A ticket is valuable and you should take appropriate measures to safeguard it and ensure it is not lost, stolen or damaged.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">PERIOD OF VALIDITY</h4>
                                <ol class="context-list">
                                    <li>Except as otherwise provided in the Ticket, in these Conditions, or in applicable Tariffs (which may limit the validity of a ticket, in which case the limitation will be shown on the Ticket), a Ticket is valid for: (a) one year from the date of issue; or (b) subject to the first travel occurring within one year from the date of issue, one year from the date of first travel under the Ticket.</li>
                                    <li>When you are prevented from travelling within the period of validity of the Ticket because at the time you request reservations we are unable to confirm a reservation, the validity of such Ticket will be extended, or you may be entitled to a refund in accordance with Article 10.</li>
                                    <li>If after having commenced your journey, you are prevented from travelling within the period of validity of the Ticket by reason of illness, we may extend the period of validity of your Ticket until the date when you become fit to travel or until our first flight after such date, from the point where the journey is resumed on which space is available in the class of service for which the fare has been paid. Such illness must be attested to by a medical certificate. When the flight coupons remaining in the Ticket, or in the case of an Electronic Ticket, the electronic coupon, involve one or more Stopovers, the validity of such Ticket may be extended for not more than three months from the date shown on such certificate. In such circumstances, we will similarly extend the period of validity of Tickets of other members of your immediate family accompanying you.</li>
                                    <li>In the event of death of a Passenger en route, the Tickets of persons accompanying the Passenger may be modified by waiving the minimum stay or extending the validity. In the event of a death in the immediate family of a Passenger who has commenced travel, the validity of the Passenger's Tickets and those of his or her immediate family who are accompanying the Passenger may likewise be modified. Any such modification shall be made upon receipt of a valid death certificate and any such extension of validity shall not be for a period longer than forty-five (45) Days from the date of the death.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">COUPON SEQUENCE AND USE</h4>
                                <ol class="context-list">
                                    <li>The Ticket you have purchased is valid only for the transportation as shown on the Ticket, from the place of departure via any Agreed Stopping Places to the final destination. The fare you have paid is based upon our Tariff and is for the transportation as shown on the Ticket. It forms an essential part of our contract with you. The Ticket will not be honored and will lose its validity if all the Coupons are not used in the sequence provided in the Ticket.</li>
                                    <li>Should you wish to change any aspect of your transportation you must contact us in advance. The fare for your new transportation will be calculated and you will be given the option of accepting the new price or maintaining your original transportation as ticketed. Should you be required to change any aspect of your transportation due to Force Majeure, you must contact us as soon as practicable and we will use reasonable efforts to transport you to your next Stopover or final destination, without recalculation of the fare.</li>
                                    <li>Should you change your transportation without our agreement, we will assess the correct price for your actual travel. You will have to pay any difference between the price you have paid and the total price applicable for your revised transportation. We will refund you the difference if the new price is lower, but otherwise your unused Coupons have no value.</li>
                                    <li>Please be aware that while some types of changes will not result in a change of fare, others, such as changing the place of departure (for example, if you do not fly the first segment) or reversing the direction you travel, can result in an increase in price. Many special fares are valid only on the dates and for the flights shown on the Ticket and may not be changed at all, or may be changed only upon payment of an additional fee.</li>
                                    <li>Each Flight Coupon contained in your Ticket will be accepted for carriage in the class of service on the date and flight for which space has been reserved. When a Ticket is originally issued without a reservation being specified, space may be later reserved subject to our Tariff and the availability of space on the flight requested.</li>
                                    <li>Please be advised that in the event you do not show up for any flight without advising us in advance, we may cancel your return or onward reservations. However, if you do advise us in advance, we will not cancel your subsequent flight reservations.3.4 NAME AND ADDRESS OF CARRIEROur name may be abbreviated to our Airline Designator Code, or otherwise, in the Ticket. Our address is P O Box 19002, Embakasi, Nairobi, Kenya.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="farestaxesfees" class="context-h2">FARES, LEVIES, FEES AND CHARGES</h3>
                        <ol class="context-list">
                            <li>
                                <h4 class="context-h3">FARES</h4>
                                <p>Fares apply only for carriage from the airport at the point of origin to the airport at the point of destination, unless otherwise expressly stated. Fares do not include ground transport service between airports and between airports and town terminals. Your fare will be calculated in accordance with our Tariff in effect on the date of payment of your ticket for travel on the specific dates and itinerary shown on it. Should you change your itinerary or dates of travel, this may impact the fare to be paid?</p>
                            </li>
                            <li>
                                <h4 class="context-h3">TAXES, FEES AND CHARGES</h4>
                                <p>Applicable taxes, fees and charges imposed by government or other authority, or by the operator of an airport, shall be payable by you. At the time you purchase your Ticket, you will be advised of taxes, fees and charges not included in the fare, most of which will normally be shown separately on the Ticket. The taxes, fees and charges imposed on air travel are constantly changing and can be imposed after the date of Ticket issuance. If there is an increase in a tax, fee or charge shown on the Ticket, you will be obliged to pay it. Likewise, if a new tax, fee or charge is imposed even after Ticket issuance, you will be obliged to pay it. Similarly, in the event any taxes, fees or charges which you have paid to us at the time of Ticket issuance are abolished or reduced such that they no longer apply to you, or a lesser amount is due, you will be entitled to claim a refund.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">CURRENCY</h4>
                                <p>Fares, taxes, fees and charges are payable in the currency of the country in which the Ticket is issued, unless another currency is indicated by us or our Authorized Agent at or before the time payment is made (for example, because of the non-convertibility of the local currency). We may, at our discretion, accept payment in another currency.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="reservations" class="context-h2">RESERVATIONS</h3>
                        <ol class="context-list">
                            <li>
                                <h4 class="context-h3">RESERVATION REQUIREMENTS</h4>
                                <ol class="context-list">
                                    <li>We or our Authorized Agent will record your reservation(s). Upon request we will provide you with written confirmation of your reservation(s).</li>
                                    <li>Certain fares have conditions which limit or exclude your right to change or cancel reservations.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">TICKETING TIME LIMITS</h4>
                                <p>If you have not paid for the Ticket prior to the specified ticketing time limit, as advised by us or our Authorized Agent, we may cancel your reservation.5</p>
                            </li>
                            <li>
                                <h4 class="context-h3">PERSONAL DATA :</h4>
                                <ol class="context-list">
                                    <li>&nbsp;We may use the personal Data that you provide for the purposes of:
                        <ul class="context-list">
                                            <li>Making a reservation and purchasing a ticket</li>
                                            <li>Obtaining ancillary services</li>
                                            <li>Developing and providing services</li>
                                            <li>Facilitating immigration and entry procedures</li>
                                            <li>Accounting and billing purposes</li>
                                            <li>Verifying and screening credit or other payment cards</li>
                                            <li>Safety, security, health, administrative and legal purposes</li>
                                            <li>Marketing analysis</li>
                                            <li>Systems testing, maintenance and development</li>
                                            <li>Customer relations</li>
                                        </ul>
                                    </li>
                                    <li>Disclosure of your personal information We may disclose your personal information to:
                        <ul class="context-list">
                                            <li>Any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries</li>
                                            <li>Our business partners, suppliers and sub-contractors for the performance of any contract we enter into with you</li>
                                            <li>Advertisers and advertising networks that require the data to select and serve relevant adverts to you and others. [We do not disclose information about identifiable individuals to our advertisers, but we will provide them with aggregate information about our users)</li>
                                            <li>our agents</li>
                                            <li>analytics and search engine providers that assist us in the improvement and optimization of our site</li>
                                            <li>government and enforcement agencies and</li>
                                            <li>Credit and other payment card companies and screening companies.</li>
                                        </ul>
                                    </li>
                                    <li>where we store your personal data&nbsp;All information you provide to us is stored on our secure servers.Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.</li>
                                    <li>Data retentionWe shall retain your Personal data for the length of time required under Applicable law and legislation.</li>
                                    <li>Your rights&nbsp;You have the right to ask us not to process your Personal Data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites Websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">SEATING</h4>
                                <p>We will endeavour to honour advance seating requests. However, we cannot guarantee any particular seat. We reserve the right to assign or reassign seats at any time, even after boarding of the aircraft. This may be necessary for operational, safety or security reasons.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">RECONFIRMATION OF RESERVATIONS</h4>
                                <ol class="context-list">
                                    <li>Onward or return reservations may be subject to the requirement to reconfirm the reservations within specified time limits. We will advise you when we require reconfirmation, and how and where it should be done. If it is required and you fail to reconfirm, we may cancel your onward or return reservations. However, if you advise us you still wish to travel, and there is space on the flight, we will reinstate your reservations and transport you. If there is no space on the flight, we will use reasonable efforts to transport you to your next or final destination.</li>
                                    <li>You should check the reconfirmation requirements of any other Carriers involved in your journey with them. Where it is required, you must reconfirm with the Carrier whose code appears for the flight in question on the Ticket.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">CANCELLATION OF ONWARD RESERVATIONS</h4>
                                <p>Please be advised that if you do not show up for any flight without advising us in advance, we may cancel your return or onward reservations. However, if you do advise us in advance, we will not cancel your subsequent flight reservations.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="check-inandboarding" class="context-h2">CHECK IN AND BOARDING</h3>
                        <ol class="context-list">
                            <li>Check-in Deadlines are different at every airport and we recommend that you inform yourself about these Check-in Deadlines and honour them. Your journey will be smoother if you allow yourself ample time to comply with the Check-in Deadlines. We reserve the right to cancel your reservation if you do not comply with the Check-in Deadlines indicated. We or our Authorized Agents will advise you of the Check-in Deadline for your first flight on us. For any subsequent flights in your journey, you should inform yourself of the Check-in Deadlines. Check-in Deadlines for our flights can be found in our timetable, or may be obtained from us or our Authorized Agents.</li>
                            <li>You must be present at the boarding gate not later than the time specified by us when you check in</li>
                            <li>We may cancel the space reserved for you if you fail to arrive at the boarding gate in time.</li>
                            <li>We will not be liable to you for any loss or expense incurred due to your failure to comply with the provisions of this Article.</li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="limitationofcarriage" class="context-h2">REFUSAL AND LIMITATION OF CARRIAGE</h3>
                        <ol class="context-list">
                            <li>
                                <h4 class="context-h3">RIGHT TO REFUSE CARRIAGE</h4>
                                <p>In the reasonable exercise of our discretion, we may refuse to carry you or your Baggage if we have notified you in writing that we would not at any time after the date of such notice carry you on our flights. In this circumstance you will be entitled to a refund. We may also refuse to carry you or your Baggage if one or more of the following have occurred or we reasonably believe may occur:</p>
                                <ol class="context-list">
                                    <li>Such action is necessary in order to comply with any applicable government laws, regulations, or orders;</li>
                                    <li>The carriage of you or your Baggage may endanger or affect the safety, health, or materially affect the comfort of other passengers or crew;</li>
                                    <li>Your mental or physical state, including your impairment from alcohol or drugs, presents a hazard or risk to yourself, to passengers, to crew, or to property;</li>
                                    <li>You have committed misconduct on a previous flight and we have reason to believe that such conduct may be repeated;</li>
                                    <li>You have refused to submit to a security check;</li>
                                    <li>You have not paid the applicable fare, taxes, fees or charges;</li>
                                    <li>you do not appear to have valid travel documents, may seek to enter a country through which you may be in transit, or for which you do not have valid travel documents, destroy your travel documents during flight or refuse to surrender your travel documents to the flight crew, against receipt, when so requested;</li>
                                    <li>you present a Ticket that has been acquired unlawfully, has been purchased from an entity other than us or our Authorized Agent, has been reported as being lost or stolen, or is a counterfeit, or you cannot prove that you are the person named in the Ticket;</li>
                                    <li>you have failed to comply with the requirements set forth in Article 3.3 above concerning coupon sequence and use, or you present a Ticket which has been issued or altered in any way, other than by us or our Authorized Agent, or the Ticket is mutilated;</li>
                                    <li>you fail to observe our instructions with respect to safety or security;</li>
                                    <li>you have previously committed one of the acts or omissions referred to above, and we have reason to believe that you may do so again.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">7.2SPECIAL ASSISTANCE</h4>
                                <p>Acceptance for carriage of unaccompanied children, passengers with reduced mobility, pregnant women, persons with illness or other people requiring special assistance is subject to prior arrangement with us. Passengers with disabilities who have advised us of any special requirements they may have at the time of ticketing, and been accepted by us, shall not subsequently be refused carriage on the basis of such disability or special requirements.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="baggage" class="context-h2">BAGGAGE</h3>
                        <ol class="context-list">
                            <li>
                                <h4 class="context-h3">FREE BAGGAGE ALLOWANCE</h4>
                                <p>You may carry some Baggage, free of charge, subject to our conditions and limitations, which are available upon request from us or our Authorized Agents</p>
                            </li>
                            <li>
                                <h4 class="context-h3">EXCESS BAGGAGE</h4>
                                <p>You will be required to pay a charge for carriage of Baggage in excess of the free Baggage allowance. These rates are available from us upon request.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">ITEMS UNACCEPTABLE AS BAGGAGE</h4>
                                <ol class="context-list">
                                    <li>You must not include in your Baggage:
                        <ul class="context-list">
                                            <li>items which are likely to endanger the aircraft or persons or property on board the aircraft, such as those specified in the International Civil Aviation Organization (ICAO) Technical Instructions for the Safe Transport of Dangerous Goods by Air and the International Air Transport Association (IATA) Dangerous Goods Regulations, and in our regulations (further information is available from us on request);</li>
                                            <li>items the carriage of which is prohibited by the applicable laws, regulations or orders of any state to be flown from or to;</li>
                                            <li>Items which are reasonably considered by us to be unsuitable for carriage because they are dangerous or unsafe, or because of their weight, size, shape or character, or because they are fragile or perishable having regard to, among other things, the type of aircraft being used. Information about unacceptable items is available upon request.</li>
                                        </ul>
                                    </li>
                                    <li>Firearms and ammunition other than for hunting and sporting purposes are prohibited from carriage as Baggage. Firearms and ammunition for hunting and sporting purposes may be accepted as Checked Baggage. Firearms must be unloaded, with the safety catch on, and suitably packed. Carriage of ammunition is subject to ICAO and IATA regulations as specified in Article 8.3.1.1.</li>
                                    <li>Weapons such as antique firearms, swords, knives and similar items may be accepted as Checked Baggage, at our discretion, but will not be permitted in the cabin of the aircraft.</li>
                                    <li>You must not include in Checked Baggage money, jewellery, precious metals, computers, personal electronic devices, negotiable papers, securities or other valuables, business documents, passports and other identification documents or samples.</li>
                                    <li>If, despite being prohibited, any items referred to in Articles 8.3.1, 8.3.2 and 8.3.4 are included in your Baggage, we shall not be responsible for any loss or damage to such items.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">RIGHT TO REFUSE CARRIAGE</h4>
                                <ol class="context-list">
                                    <li>Subject to Articles 8.3.2 and 8.3.3, we will refuse to carry as Baggage the items described in Article 8.3, and we may refuse further carriage of any such items upon discovery.</li>
                                    <li>We may refuse to carry as Baggage any item reasonably considered by us to be unsuitable for carriage because of its size, shape, weight, content or character, or for safety or operational reasons, or in the interests of the comfort of other passengers. Information about unacceptable items is available upon request.</li>
                                    <li>We may refuse to accept Baggage for carriage unless it is in our reasonable opinion properly and securely packed in suitable containers. Information about packing and containers unacceptable to us is available upon request.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">RIGHT OF SEARCH</h4>
                                <p>For reasons of safety and security we may request that you permit a search and scan of your person and a search, scan or x-ray of your Baggage. If you are not available, your Baggage may be searched in your absence for the purpose of determining whether you are in possession of or whether your Baggage contains any item described in Article 8.3.1 or any firearms, ammunition or weapons which have not been presented to us in accordance with Articles 8.3.2 or 8.3.3. If you are unwilling to comply with such request, we may refuse to carry you and your Baggage. In the event a search or scan causes Damage to you, or an x-ray or scan causes damage to your Baggage, we shall not be liable for such Damage unless due to our fault or negligence.</p>
                            </li>
                            <li>
                                <h4 class="context-h3">CHECKED BAGGAGE</h4>
                                <ol class="context-list">
                                    <li>Upon delivery to us of your Baggage which you wish to check, we will take custody of, and issue a Baggage Identification Tag for, each piece of your Checked Baggage.</li>
                                    <li>Checked Baggage must have your name or other personal identification affixed to it.</li>
                                    <li>Checked Baggage will, whenever possible, be carried on the same aircraft as you, unless we decide for safety, security or operational reasons to carry it on an alternative flight. If your Checked Baggage is carried on a subsequent flight we will deliver it to you, unless applicable law requires you to be present for customs clearance.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">UNCHECKED BAGGAGE</h4>
                                <ol class="context-list">
                                    <li>We may specify maximum dimensions and/or weight for Baggage which you carry on to the aircraft. If we have not done so, Baggage which you carry onto the aircraft must fit under the seat in front of you or in an enclosed storage compartment in the cabin of the aircraft. If your Baggage cannot be stored in this manner, or is of excessive weight, or is considered unsafe for any reason, it must be carried as Checked Baggage, subject to Articles 8.2 and 8.3.8.7.2 Objects not suitable for carriage in the cargo compartment (such as delicate musical instruments), and which do not meet the requirements in Article 8.7.1 above, will only be accepted for carriage in the cabin compartment if you have given us notice in advance and permission has been granted by us. You may be required to pay a separate charge for this service.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">COLLECTION AND DELIVERY OF CHECKED BAGGAGE</h4>
                                <ol class="context-list">
                                    <li>Subject to Article 8.6.3, you are required to collect your Checked Baggage as soon as it is made available at your destination or Stopover. Should you not collect it within a reasonable time, we may charge you a storage fee. Should your Checked Baggage not be claimed within three (3) months of the time it is made available, we may dispose of it without any liability to you.</li>
                                    <li>Only the bearer of the Baggage Check and Baggage Identification Tag is entitled to delivery of the Checked Baggage.</li>
                                    <li>If a person claiming Checked Baggage is unable to produce the Baggage Check and identify the Baggage by means of a Baggage Identification Tag, we will deliver the Baggage to such person only on condition that he or she establishes to our satisfaction his or her right to the Baggage.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">ANIMALS</h4>
                                <p>We reserve the right, at our absolute discretion, to refuse to carry any animals. If we agree to carry any animals they will be carried subject to the following conditions:</p>
                                <ol class="context-list">
                                    <li>You must ensure that animals such as dogs, cats, household birds and other pets, are properly crated (or carried in a container complying with any applicable legal requirements) and accompanied by valid health and vaccination certificates, entry permits, and other documents required by countries of entry or transit, failing which they will not be accepted for carriage. Such carriage may be subject to additional conditions specified by us, which are available on request.</li>
                                    <li>If accepted as Baggage, the animal, together with its container and food, shall not be included in your free Baggage allowance, but shall constitute excess baggage, for which you will be obliged to pay the applicable rate.</li>
                                    <li>Guide dogs accompanying Passengers with disabilities will be carried free of charge in addition to the normal free baggage allowance, subject to conditions specified by us, which are available on request.</li>
                                    <li>Where carriage is not subject to the liability rules of the Convention, we are not responsible for injury to or loss, sickness or death of an animal which we have agreed to carry unless we have been negligent.</li>
                                    <li>We will have no liability in respect of any such animal not having all the necessary exit, entry, health and other documents with respect to the animal's entry into or passage through any country, state or territory and the person carrying the animal must reimburse us for any fines, costs, losses or liabilities reasonably imposed or incurred by us as a result.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">ITEMS REMOVED BY AIRPORT SECURITY PERSONNEL</h4>
                                <p>We will not be responsible for, or have any liability in respect of, articles removed from your Baggage by airport security personnel acting in accordance with any applicable regulations.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="delayscancellations" class="context-h2">SCHEDULES, DELAYS, CANCELLATION OF FLIGHTS</h3>
                        <ol class="context-list">
                            <li>
                                <h4 class="context-h3">SCHEDULES</h4>
                                <ol class="context-list">
                                    <li>The flight times shown in timetables may change between the date of publication and the date you actually travel. We do not guarantee them to you and they do not form part of your contract with us</li>
                                    <li>Before we accept your booking, we will notify you of the scheduled flight time in effect as of that time, and it will be shown on your Ticket. It is possible we may need to change the scheduled flight time subsequent to issuance of your Ticket. If you provide us with contact information, we will endeavour to notify you of any such changes. If, after you purchase your Ticket, we make a significant change to the scheduled flight time, which is not acceptable to you, and we are unable to book you on an alternate flight which is acceptable to you, you will be entitled to a refund in accordance with Article 10.2.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">CANCELLATION, REROUTING, DELAYS, ETC.</h4>
                                <ol class="context-list">
                                    <li>We will take all necessary measures to avoid delay in carrying you and your Baggage. In the exercise of these measures and in order to prevent a flight cancellation, in exceptional circumstances we may arrange for a flight to be operated on our behalf by an alternative carrier and/or aircraft.</li>
                                    <li>Except as otherwise provided by the Convention, if we cancel a flight, fail to operate a flight reasonably according to the schedule, fail to stop at your destination or Stopover destination, or cause you to miss a connecting flight on which you hold a confirmed reservation, we shall, at your option, either:
                        <ul class="context-list">
                                            <li>carry you at the earliest opportunity on another of our scheduled services on which space is available without additional charge and, where necessary, extend the validity of your Ticket;</li>
                                            <li>or within a reasonable period of time reroute you to the destination shown on your Ticket by our own services or those of another carrier, or by other mutually agreed means and class of transportation without additional charge. If the fare and charges for the revised routing are lower than what you have paid, we shall refund the difference;</li>
                                            <li>or make a refund in accordance with the provisions of Article 10.2. 9.2.3 Upon the occurrence of any of the events set out in Article 9.2.2, except as otherwise provided by the Convention, the options outlined in Article 9.2.2.1 to 9.2.2.3 are the sole and exclusive remedies available to you and we shall have no further liability to you.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">DENIED BOARDING COMPENSATION</h4>
                                <p>If we are unable to provide previously confirmed space, we shall provide compensation to those Passengers denied boarding in accordance with applicable law and our denied boarding compensation policy. A copy of our denied boarding compensation policy is available upon request.</p>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h3 id="refunds" class="context-h2">REFUNDS</h3>
                        <ol class="context-list">
                            <li>We will refund a Ticket or any unused portion, in accordance with the applicable fare rules or Tariff, as follows:
                        <ol class="context-list">
                                    <li>Except as otherwise provided in this Article, we shall be entitled to make a refund either to the person named in the Ticket or to the person who has paid for the Ticket, upon presentation of satisfactory proof of such payment.</li>
                                    <li>If a Ticket has been paid for by a person other than the Passenger named in the Ticket, and the Ticket indicates that there is a restriction on refund, we shall make a refund only to the person who paid for the Ticket, or to that person's order.</li>
                                    <li>Except in the case of a lost Ticket, refunds will only be made on surrender to us of the Ticket and all unused Flight Coupons.</li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">INVOLUNTARY REFUNDS</h4>
                                <ol class="context-list">
                                    <li>If we cancel a flight, fail to operate a flight reasonably according to schedule, fail to stop at your destination or Stopover, or cause you to miss a connecting flight on which you hold a reservation, the amount of the refund shall be:
                        <ul class="context-list">
                                            <li>if no portion of the Ticket has been used, an amount equal to the fare paid;</li>
                                            <li>if a portion of the Ticket has been used, not less than the difference between the fare paid and the applicable fare for travel between the points for which the Ticket has been used.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">VOLUNTARY REFUNDS</h4>
                                <ol class="context-list">
                                    <li>If you are entitled to a refund of your Ticket for reasons other than those set out in Article 10.2, the amount of the refund shall be:
                        <ul class="context-list">
                                            <li>if no portion of the Ticket has been used, an amount equal to the fare paid, less any reasonable service charges or cancellation fees;</li>
                                            <li>if a portion of the Ticket has been used, the refund will be an amount equal to the difference between the fare paid and the applicable fare for travel between the points for which the Ticket has been used, less any reasonable service charges or cancellation fees.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h4 class="context-h3">REFUND ON LOST TICKET</h4>
                                <ol class="context-list">If you lose your Ticket or portion of it, upon your furnishing us with satisfactory proof of the loss, and payment of a reasonable administration charge, refund will be made as soon as practicable after the expiry of the validity period of the Ticket, on condition:
                        <ul class="context-list">
                                        <li>4that the lost Ticket, or portion of it, has not been used, previously refunded or replaced (except where the use, refund or replacement by or to a third party resulted from our own negligence).</li>
                                        <li>that the person to whom the refund is made undertakes, in such form as may be prescribed by us, to repay to us the amount refunded in the event of fraud and/or to the extent that the lost Ticket or portion of it is used by a third party (except where any fraud or use by a third party resulted from our own negligence).</li>
                                    </ul>
                                <li>If we or our Authorized Agent lose the Ticket or a portion of it, the loss shall be our responsibility.</li>
                            </ol>
                        </li>
                        <li>
                            <h4 class="context-h3">RIGHT TO REFUSE REFUND</h4>
                            <ol class="context-list">
                                <li>We may refuse a refund where application is made after the expiry of the validity of the Ticket.</li>
                                <li>We may refuse a refund on a Ticket which has been presented to us, or to Government officials, as evidence of intention to depart from that country, unless you establish to our satisfaction that you have permission to remain in the country or that you will depart from that country by another carrier or another means of transport.</li>
                            </ol>
                        </li>
                        <li>
                            <h4 class="context-h3">CURRENCY</h4>
                            <p>We reserve the right to make a refund in the same manner and the same currency used to pay for the Ticket.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">BY WHOM TICKET REFUNDABLE</h4>
                            <p>Voluntary refunds will be made only by the carrier which originally issued the Ticket or by its agent if so authorized.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h3 id="general" class="context-h2">ONBOARD CONDUCT</h3>
                    <ol class="context-list">
                        <li>
                            <h4 class="context-h3">GENERAL</h4>
                            <p>If, in our reasonable opinion, you conduct yourself aboard the aircraft so as to endanger the aircraft or any person or property on board, or obstruct the crew in the performance of their duties, or fail to comply with any instructions of the crew, including but not limited to those with respect to smoking, alcohol or drug consumption, or behave in a manner which causes discomfort, inconvenience, damage or injury to other passengers or the crew, we may take such measures as we deem reasonably necessary to prevent continuation of such conduct, including restraint. You may be disembarked and refused onward carriage at any point, and may be prosecuted for offences committed on board the aircraft.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">PAYMENT OF DIVERSION COSTS:</h4>
                            <p>If, as a result of conduct by you of the sort mentioned in Article 11.1 we decide, in the exercise of our reasonable discretion, to divert the aircraft for the purpose of offloading you, you must pay all costs resulting from that diversion.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">ELECTRONIC DEVICES</h4>
                            <p>For safety reasons, we may forbid or limit operation aboard the aircraft of electronic equipment, including, but not limited to, cellular telephones, laptop computers, portable recorders, portable radios, CD players, electronic games or transmitting devices, including radio controlled toys and walkie talkies. Operation of hearing aids and heart pacemakers is permitted.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h3 id="arrangements" class="context-h2">ARRANGEMENTS FOR ADDITIONAL SERVICES</h3>
                    <ol class="context-list">
                        <li>If we make arrangements for you with any third party to provide any services other than carriage by air, or if we issue a ticket or voucher relating to transportation or services (other than carriage by air) provided by a third party such as hotel reservations or car rental, in doing so we act only as your agent. The terms and conditions of the third party service provider will apply.</li>
                        <li>If we are also providing surface transportation to you, other conditions may apply to such surface transportation. Such conditions are available from us upon request.</li>
                    </ol>
                </li>
                <li>
                    <h3 id="administrativeformalities" class="context-h2">ADMINISTRATIVE FORMALITIES</h3>
                    <ol class="context-list">
                        <li>
                            <h4 class="context-h3">GENERAL</h4>
                            <ol class="context-list">
                                <li>You are responsible for obtaining all required travel documents and visas and for complying with all laws, regulations, orders, demands and travel requirements of countries to be flown from, into or through which you transit.</li>
                                <li>We shall not be liable for the consequences to any Passenger resulting from his or her failure to obtain such documents or visas or to comply with such laws, regulations, orders, demands, requirements, rules or instructions.</li>
                            </ol>
                        </li>
                        <li>
                            <h4 class="context-h3">TRAVEL DOCUMENTS</h4>
                            <p>Prior to travel, you must present all exit, entry, health and other documents required by law, regulation, order, demand or other requirement of the countries concerned, and permit us to take and retain copies thereof. We reserve the right to refuse carriage if you have not complied with these requirements, or your travel documents do not appear to be in order.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">REFUSAL OF ENTRY</h4>
                            <p>If you are denied entry into any country, you will be responsible to pay any fine or charge assessed against us by the Government concerned and for the cost of transporting you from that country. The fare collected for carriage to the point of refusal or denied entry will not be refunded by us.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">PASSENGER RESPONSIBLE FOR FINES, DETENTION COSTS, ETC.</h4>
                            <p>If we are required to pay any fine or penalty or to incur any expenditure by reason of your failure to comply with laws, regulations, orders, demands or other travel requirements of the countries concerned or to produce the required documents, you shall reimburse us on demand any amount so paid or expenditure so incurred. We may apply towards such payment or expenditure the value of any unused carriage on your ticket, or any of your funds in our possession.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">CUSTOMS INSPECTION</h4>
                            <p>If required, you shall attend inspection of your Baggage, by customs or other Government officials. We are not liable to you for any loss or damage suffered by you in the course of such inspection or through your failure to comply with this requirement.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">SECURITY INSPECTION</h4>
                            <p>You shall submit to any security checks by Governments, airport officials, Carriers or by us.</p>
                            <p>
                                <a href="https://www.kenya-airways.com/condition-of-carriage/en/">ARTICLE 14: SUCCESSIVE CARRIERS</a>
                            </p>
                            <p>Carriage to be performed by us and other Carriers under one Ticket or a Conjunction Ticket is regarded as a single operation for the purposes of the Convention. However, your attention is drawn to Article 15.5.1.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h3 id="liabilityfordamage" class="context-h2">LIABILITY FOR DAMAGE</h3>
                    <ol class="context-list">
                        <li>
                            <h4 class="context-h3">APPLICABILITY</h4>
                            <p>The liability of JamboJet Ltd and each carrier involved in your journey will be determined by its own conditions of carriage. Our liability provisions are as follows:</p>
                        </li>
                        <li>
                            <h4 class="context-h3">WARSAW/MONTREAL CONVENTION</h4>
                            <p>Unless otherwise provided in this Article, international carriage, as defined in the Convention, is subject to the liability rules of the Convention.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">DEATH OF OR INJURY TO PASSENGERS</h4>
                            <ol class="context-list">
                                <li>Our liability for damages sustained in the event of death, wounding or any other bodily injury suffered by a Passenger in the event of an accident shall not be subject to any financial limit, be it defined by law, convention or contract.</li>
                                <li>For any damages up to the sum of the equivalent of 113,100 Special Drawing Rights (or any such sum as provided under Article 21 paragraph 1 of the Montreal Convention), we shall not exclude or limit our liability by proving that we and our agents have taken all necessary measures to avoid the damage or that it was impossible for us or our agents to take such measures.</li>
                                <li>Notwithstanding the provisions of Article 15.3.3, if we prove that the damage was caused by, or contributed to by, the negligence of the injured or deceased Passenger, we may be exonerated wholly or partly from our liability in accordance with applicable law.</li>
                                <li>We shall, without delay, and in any event not later than fifteen days after the identity of the natural person entitled to compensation has been established, make such advance payments as may be required to meet immediate economic needs on a basis proportionate to the hardship suffered. 15.3.5 Without prejudice to Article</li>
                                <li>an advance payment shall not be less than the equivalent of 16,000 Special Drawing Rights per Passenger in the event of death.</li>
                                <li>An advance payment shall not constitute recognition of liability and may be offset against any subsequent sums paid on the basis of our liability, but is not returnable, except in the cases described in Article 15.3.3 or in circumstances where it is subsequently proved that the person who received the advance payment caused, or contributed to, the damage by negligence or was not the person entitled to compensation.</li>
                                <li>We are not responsible for any illness, injury or disability, including death, attributable to your physical or mental condition or for the aggravation of such condition.</li>
                            </ol>
                        </li>
                        <li>
                            <h4 class="context-h3">BAGGAGE</h4>
                            <ol class="context-list">
                                <li>We will not be liable for damage to unchecked Baggage unless such damage is caused by our negligence. We are not liable for any damage arising from our compliance with applicable laws or Government rules and regulations or from your failure to comply with the same.</li>
                                <li>Except in the case of an act or omission done with intent to cause damage or recklessly and with knowledge that damage would probably result, or where you have made a special declaration of interest and paid any fee required by us, our liability in the case of destruction, loss, damage or delay of Baggage shall be limited as provided by the Convention, ie:
                        <ul class="context-list">
                                        <li>where the Warsaw Convention applies, the applicable limit is normally taken to be 17 Special Drawing Rights per kilo for checked Baggage and 332 Special Drawing Rights in the case of unchecked Baggage, provided that if in accordance with applicable law different limits of liability are applicable such different limits shall apply. If the weight of your checked Baggage is not recorded on the baggage check, it is presumed that the total weight of the checked Baggage does not exceed the applicable free baggage allowance for the class of carriage concerned;</li>
                                        <li>where the Montreal Convention applies, the applicable limit is 1,131 Special Drawing Rights per Passenger (or any such sum as provided under Article 21 paragraph 2 of the Montreal Convention).</li>
                                        <li>We are not liable for any damage caused by your Baggage. You shall be responsible for any damage caused by your Baggage to other persons or property, including our property.</li>
                                        <li>We shall have no liability whatsoever for damage to articles not permitted to be contained in checked Baggage under Article 8.3, including fragile or perishable items, items having a special value, such as money, jewellery, precious metals, computers, personal electronic devices, negotiable papers, securities, or other valuables, business documents, passports and other identification documents, or samples.</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h4 class="context-h3">GENERAL</h4>
                            <ol class="context-list">
                                <li>If we issue a ticket or if we check Baggage for carriage on another carrier, we do so only as agent for the other Carrier. Nevertheless, with respect to checked Baggage, you may make a claim against the first or last Carrier.</li>
                                <li>We are not liable for any damage arising from our compliance with or your failure to comply with applicable laws or Government rules and regulations.</li>
                                <li>Except as may be specifically provided otherwise in these Conditions of Carriage or by applicable law, we shall be liable to you only for recoverable compensatory damages for proven losses.</li>
                                <li>The contract of carriage, including these Conditions of Carriage and exclusions or limits of liability, applies to our authorized agents, servants, employees and representatives to the same extent as it and they apply to us. The total amount recoverable from us and from such authorized agents, employees, representatives and persons shall not exceed the amount of our own liability, if any.</li>
                                <li>Nothing in these Conditions of Carriage shall waive any exclusion or limitation of our liability under the Convention or applicable laws unless otherwise expressly stated.</li>
                                <li>Nothing in these Conditions of Carriage shall waive any exclusion or limitation of our liability or any defense available to us under the Convention or applicable laws as against any public social insurance body or any person who is liable to pay compensation or has paid compensation in respect of the death, wounding or other bodily injury of a Passenger.</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <h3 id="timelimitationonclaims" class="context-h2">TIME LIMITATION ON CLAIMS AND ACTIONS</h3>
                    <ol class="context-list">
                        <li>
                            <h4 class="context-h3">NOTICE OF CLAIMS</h4>
                            <p>Acceptance of Baggage by the bearer of the Baggage Check without complaint at the time of delivery is sufficient evidence that the Baggage has been delivered in good condition and in accordance with the contract of carriage, unless you prove otherwise. If you wish to file a claim or an action regarding Damage to Checked Baggage, you must notify us as soon as you discover the Damage, and at the latest, within seven (7) Days of receipt of the Baggage. If you wish to file a claim or an action regarding delay of Checked Baggage, you must notify us within twenty-one (21) Days from the date the Baggage has been placed at your disposal. Every such notification must be made in writing.</p>
                        </li>
                        <li>
                            <h4 class="context-h3">LIMITATION OF ACTIONS</h4>
                            <p>Any right to damages shall be extinguished if an action is not brought within two years of the date of arrival at destination, or the date on which the aircraft was scheduled to arrive, or the date on which the carriage stopped. The method of calculating the period of limitation shall be determined by the law of the court where the case is heard.</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <h3 id="otherconditions" class="context-h2">OTHER CONDITIONS</h3>
                    <p>Carriage of you and your Baggage is also provided in accordance with certain other regulations and conditions applying to or adopted by us. These regulations and conditions as varied from time to time are important. They concern among other things: (i) the carriage of unaccompanied minors, pregnant women, and sick passengers, (ii) restrictions on use of electronic devices and items; (iii) the on board consumption of alcoholic beverages. Regulations concerning these matters are available from us upon request</p>
                </li>
                <li>
                    <h3 id="interpretation" class="context-h2">INTERPRETATION</h3>
                    <p>The title of each Article of these Conditions of Carriage is for convenience only, and is not to be used for interpretation of the text.</p>
                </li>
            </ol>
        </dvi>
    </dvi>
</dvi>
{% endblock %}

{% block component_jquery %}{% endblock %}