<div class="service_ufirst">
    <div class="service_ufirst_content">
        <div class="service_ufirst_info">
            <div class="icon"></div>
            <h3 class="title title-h4">
                Priority
                <br />Check-in &amp; Boarding
            </h3>
            <p class="intro">
                Exclusive check-in counter at airport.
                <br />Be amongst the first to board.
            </p>
        </div>
        <div class="service_ufirst_options">
            {# <p class="intro">Add U-First for everyone in my party for only <strong>{{SHARED.currency}} 35 per passenger</strong>.</p> #}
            <div class="options_routes">
                <div class="service_selection_row">
                    <div class="column selection">
                        {% set switch = {
                            checked: true
                        } %}
                        {% include "partials/ui-elements/switch/_switch.njk" %}
                    </div>
                    <div class="column label">
                        Kunming - Hong Kong
                    </div>
                    <div class="column price">
                        {{SHARED.currency}} <strong>229</strong>
                    </div>
                </div>
                {% if not isOW %}
                <div class="service_selection_row">
                    <div class="column selection">
                        {% set switch = {
                            checked: true,
                            readonly: true
                        } %}
                        {% include "partials/ui-elements/switch/_switch.njk" %}
                    </div>
                    <div class="column label">
                        Tokyo Narita - Hong Kong
                    </div>
                    <div class="column price">
                        {{SHARED.currency}} <strong>229</strong>
                    </div>
                </div>
                <div class="service_selection_row">
                    <div class="column selection">
                        {% set switch = {
                            checked: true,
                            readonly: false
                        } %}
                        {% include "partials/ui-elements/switch/_switch.njk" %}
                    </div>
                    <div class="column label">
                        Hong Kong - Tokyo Narita
                    </div>
                    <div class="column price">
                        {{SHARED.currency}} <strong>229</strong>
                    </div>
                </div>
                <div class="service_selection_row">
                    <div class="column selection">
                        {% set switch = {
                            checked: true
                        } %}
                        {% include "partials/ui-elements/switch/_switch.njk" %}
                    </div>
                    <div class="column label">
                        Hong Kong - Kunming
                    </div>
                    <div class="column price">
                        {{SHARED.currency}} <strong>229</strong>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <p class="intro">By selecting U-First, I agree to the <a href="#">Terms &amp; Conditions</a></p>
</div>
