// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  BAR
// ****************************************
//
//  + bar variables
//  + bar
//  ++ bar description
//  ++ bar message
//
// ****************************************

// + bar variables
$bar-body-margin: 3px;
$bar-message-tab-width: 12px;

// + bar
bar {
	flex: 1 1 100px;
}
.bar_item {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	// modifiers
	&.is-highlight {
		.bar {
			background-color: $c-secondary;
		}
	}
}
.bar_body {
	flex: 1 1 100%;
	display: flex;
	align-items: flex-end;
	height: calculateRem(160px);
}
.bar {
	position: relative;
	width: 100%;
	max-height: 100%;
	margin: 0 $bar-body-margin;
	background-color: $c-primary;
	border-radius: 100vw;
}
// ++ bar description
.bar_description {
	@include font-size($f-size-xs); 
	flex: 0 0 auto;
	padding: calculateRem(6px) 0 0;
	text-align: center;
	line-height: 1.1;
	span {
		display: block;
	}
}
.bar_description-item {
	display: block;
}
// ++ bar message
.bar_message {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: calc(100% + #{$bar-message-tab-width + $bar-body-margin});
	padding: calculateRem(8px);
	color: #fff;
	background-color: $c-color1;
	border-radius: $border-radius;
	transform: translateY(-50%);
	&::before { // tooltip tab (triangle)
		@include triangle('left', $bar-message-tab-width, $bar-message-tab-width, $c-color1);
		content: '';
		position: absolute;
		right: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
}
