$table-inline-block-width: 264px;

table {
    width: 880px;
    table-layout: fixed;
    border-collapse: collapse;
    // modifiers
    &.bordered, &.horizontal-bordered {
        td {
            border-top: $pdf-table-border;
        }
    }
    &.bordered {
        td {
            border-top: $pdf-table-border;
            & + td {
                border-left: $pdf-table-border;
            }
            &:first-child:last-child { //## unique child
                border-right: $pdf-table-border;
            }
        }
    }
    &.items-bordered {
        td {
            padding-bottom: 0;
            border-top: $pdf-table-border;
            // &:first-child {
            //     .info-item {
            //         display: block;
            //         width: 100%;
            //         box-sizing: border-box;
            //         border-right: $pdf-table-border;
            //     }
            // }
            &:nth-child(2) {
                padding: 0; 
                .info-item {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 9px 14px;
                    box-sizing: border-box;
                    border-left: $pdf-table-border;
                    border-right: $pdf-table-border;
                }
            }
        }
    }
    &.bottom-separated {
        td {
            padding-bottom: 12px;
        }
        &.items-bordered {
            height: 305px;
        }
    }
}
.table {
    .tr {
        .td {
            display: inline-block;
            // float: left;
            width: $table-inline-block-width;
            padding-bottom: 0;
            border-top: $pdf-table-border;
            border-right: $pdf-table-border;
            border-left: $pdf-table-border;
            &:first-child {
                width: $table-inline-block-width + 15px;
                border-right: none;
                border-left: none;
            }
            &:last-child {
                border-right: none;
                border-left: none;
            }
        }
    }
}
td {
    padding: 9px 14px;
    vertical-align: top;
    &:first-child {
        padding-left: 0px;
    }
    &:last-child {
        padding-right: 0px;
    }
    // modifiers
    &.middle {
        vertical-align: middle;
    }
    &.center {
        text-align: center;
    }
}
.last {
    padding-top: 14px;
}
.no-top-padding {
    padding-top: 0;
}
@for $i from 1 through 12 {
    .col-#{$i} {
        width: #{ ($i*100%)/12 };
    }
}


