// ********************
//  COMPONENTS
//
// ********************
//  CONTACT FORM
// ****************************************
//
//
// ****************************************

.contact-form {
    @include form;
    @extend .columns-2;
    .ui-form_input-buttons {
        text-align: center; 
    }
}
