// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  ERROR PAGE
// ****************************************
//
//
// ****************************************

// + error-page
// -------
.error-page {
    background: $c-color3;
}
.error-page_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    .column {
        &:first-child {
            padding: 0;
        }
        &:last-child {
            padding-top: 30px;
        }
    }
}
.error-page_message {
    .logo {
        max-width: 200px; // IE Support
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 5px;
        color: $c-primary-dark;
        font-family: $font-name;
        font-weight: 500;
        &:last-of-type {
            margin-bottom: 31px;
        }
    }
}
.error-page_button-primary {
    @extend .btn-primary;
}
.error-page_image {
    img {
        max-width: 100%;
    }
}
// [RESPONSIVE]
@media #{$mobile-sm} { // >=480px 
    .error-page_container {
        text-align: left;
    }
    .error-page_button-primary {
        float: right;
    }
}
@media #{$tablet-portrait}  { // >=768px 
    .error-page_container {
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 0;
    }
    .error-page_message {
        padding-right: 7em;
        .logo {
            max-width: 230px;
        }
    }
    .error-page_image {
        padding-top: 5vh;
    }
}
@media #{$tablet-landscape} {  // >=992px
    .error-page_container {
        .column {
            &:first-child {
                padding-top: 30px;
            }
            &:last-child {
                flex-basis: calc(100% / 3); // IE11
                flex-grow: 1;
            }
        }
    }
}