// ********************
//  SECTIONS
//
// ********************
//  HOME
// ********************
//
// *********************
.home-page {
    // ++ main header
    .main-header {
        @media #{$tablet-portrait} {
            &.fixed {
                border: none;
            }
        }
    }
}


