// ****************************************
//  GLOBALS - IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//	+ Variables
//	+ Mixins
//  + Search flight
//  	++ Form elements
//      ++ Route and Dates
//      ++ Typology
//      ++ Promocode
//      ++ Currency
//      ++ Action button
//      [Responsive]
//
//  + Search flight typeahead
//
// ****************************************
// + Globals vars
// -------
@import 'flight-search-vars';

// + Mixins
// -------
@import 'mixins/flight-search-highlight-onfocus';
@import 'mixins/flight-search-grid';
@import 'mixins/flight-search-options/options-layout';
@import 'mixins/flight-search-options/options-layout-component';
@import 'mixins/flight-search-options/options-close-button';
@import 'mixins/flight-search-options/options-indicator';

.searchflight {
	.ui-input-container,
	.ui-select-container {
	// .ui-input-multiline {
		padding: 0;
		height: $input-multiline-height;
		border-width: $search-input-border-width;
		@if $search-input-border-width != 0 {
			border-style: solid;
			border-color: $search-input-border-color;
		}
		border-radius: $search-input-border-radius;
		background-color: $search-input-background;
		&.has-value,
		&.is-focused {
			.ui-input,
			.ui-input-multiline {
				box-shadow: none;
				border: 0;
			}
		}
		.value-selected {
			color: $search-input-valueselected-color;
			line-height: 1.1;
		}
	}
	//## multiline inputs general styles
	.ui-input-multiline {
		input,
		button {
			background: transparent;
			@if $search-input-border-radius != 0 {
				border-radius: $search-input-border-radius;
			}
			&::placeholder {
				@include font-size($search-input-placeholder-fontsize);
				position: relative;
				// top: 1px;
				font-weight: $search-input-placeholder-fontweight;
			}
			&.disabled,
			&[disabled],
			&[disabled][readonly] {
				background-color: $search-input-background-disabled;
			}
		}
		//## multiline date styles
		.day {
			@include font-size($search-date-day-input-fontsize);
			color: $search-date-day-input-color;
			font-weight: $search-date-day-input-fontweight;
		}
		.week {
			@include font-size($search-date-week-input-fontsize);
			color: $search-date-week-input-color;
			font-weight: $search-date-week-input-fontweight;
			text-transform: $search-date-week-input-texttransform;
		}
		.month {
			@include font-size($search-date-month-input-fontsize);
			color: $search-date-month-input-color;
			font-weight: $search-date-month-input-fontweight;
			text-transform: $search-date-month-input-texttransform;
		}
		.value-large {
			@include font-size($search-route-input-valuelarge-fontsize);
			color: $search-route-input-valuelarge-color;
			font-weight: $search-route-input-valuelarge-fontweight;
		}
		.value-small {
			@include font-size($search-route-input-valuesmall-fontsize);
			color: $search-route-input-valuesmall-color;
			font-weight: $search-route-input-valuesmall-fontweight;
		}
		@media #{$mobile} { // >= 640px
			.day {
				@include font-size($search-date-day-input-fontsize-desktop);
			}
			.week {
				@include font-size($search-date-week-input-fontsize-desktop);
			}
			.month {
				@include font-size($search-date-month-input-fontsize-desktop);
			}
			.value-large {
				@include font-size($search-route-input-valuelarge-fontsize-desktop);
			}
			.value-small {
				@include font-size($search-route-input-valuesmall-fontsize-desktop);
			}
		}
	}
	.ui-input-multiline_group {
		position: relative;
		box-sizing: border-box;
		input.ui-input {
			&[readonly] {
				@include placeholder;
				color: $input-color;
				cursor: default;
				&:hover {
					border: none;
				}
			}
		}
	}
	.ui-input-multiline_group_inner {
		height: 100%;
	}

	//## selects
	.ui-select-container {
		.ui-dropdown > button {
			position: relative;
			height: 100%;
			border-width: 0;
			@if $search-currency-hasicon == true {
				@extend %search-component-icon;
				@include iconfont($search-currency-icon);
			}
		}
	}

	// ++ Specific helpers
	//## vertical input separator
	%search-inputs-separator-vertical-bar {
		&::before { //## division border
			z-index: 3;
			content: '';
			position: absolute;
			left: calculateRem(-1px);
			top: calc((100% - #{$search-input-separator-vert-height}) / 2);
			width: $search-input-separator-vert-width;
			height: $search-input-separator-vert-height;
			background: $search-input-separator-color;
		}
	}
	//## horizontal input separator
	%search-inputs-separator-horizontal-bar {
		&::before { //## division border
			z-index: 3;
			content: '';
			position: absolute;
			left: calculateRem(-12px);
			top: 50%;
			width: $search-input-separator-hor-width;
			height: $search-input-separator-hor-height;
			transform: translateY(-50%);
			background: $search-input-separator-color;
		}
	}
	//## search component has icon
	%search-component-icon {
		padding-left: calculateRem($search-input-icons-padding-field);
		&::before { //## input icon
			@include font-size($search-input-icons-fontsize);
			position: absolute;
			left: #{$search-input-icons-position-left};
			top: #{$search-input-icons-position-top};
			color: $search-input-icons-color;
			pointer-events: none;
		}
	}
	.route,
	.dates {
		.ui-input-multiline {
			flex-wrap: nowrap;
			//## if multiline form control has icon. Ex.: route and dates)
			@if $search-route-hasicon == true or $search-date-hasicon == true {
				@extend %search-component-icon;
			}
		}
		.ui-input-multiline_group {
			flex: 1 1 50%;
			min-width: 50%;
		}
	}

	//## route
	.route {
		.ui-input-multiline {
			//## if multiline route form control date has icon)
			@if $search-route-hasicon == true {
				@include iconfont($search-route-icon);
			}
			.value-selected {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				@if $search-route-value-inline {
					@media #{$mobile} { // >= 640px
						flex-direction: row;
						flex-wrap: nowrap;
					}
				}
			}
			.value-large {
				margin-right: calculateRem(6px);
			}
		}
		.ui-input-multiline_group {
			&:nth-child(2) {
				@if $search-route-inputs-separator == vertical-bar {
					@extend %search-inputs-separator-vertical-bar;
				}
				@if $search-route-inputs-separator == horizontal-bar {
					@extend %search-inputs-separator-horizontal-bar;
				}
			}
		}
	}

	//## dates
	.dates {
		.ui-input-multiline {
			//## if multiline dates form control date has icon)
			@if $search-date-hasicon == true {
				@include iconfont($search-date-icon);
			}
		}
		.ui-input-multiline_group {
			&:nth-child(2) {
				.ui-input-multiline_group_inner {
					//## for dates, input separator shows just when second date has value
					overflow: visible; //## IE support to show input separator
					@if $search-date-inputs-separator == vertical-bar {
						@extend %search-inputs-separator-vertical-bar;
					}
					@if $search-date-inputs-separator == horizontal-bar {
						@extend %search-inputs-separator-horizontal-bar;
					}
				}
			}
		}
		//## at first instance hide second date option
		//## when select first date shows the return date field
		@if $search-date-start-one-datefield {
			.ui-input-multiline_group.inbound { display: none; }
			.has-value .ui-input-multiline_group.inbound {
				display: block;
			}
		}

		// + Dates layouts
		// -------
		//## layout grid1: day(col) & month+week(col)
		@if $search-input-date-template == 'grid1' {
			.value-selected {
				display: inline-grid;
			}
			.month,
			.week {
				position: relative;
				grid-column: 2/span 1;
				display: inline-block;
			}
			.day {
				grid-column: 1/span 1;
				grid-row: 1/span 2;
				align-self: center;
				display: inline-block;
				padding-right: 8px;
			}
			.week {
				grid-row: 2;
				align-self: start;
			}
			.month {
				grid-row: 1;
				align-self: end;
			}
		}
		//## layout grid2: day+month(row) & week(row)
		@else if $search-input-date-template == 'grid2' {
			.value-selected {
				display: block;
				@if $search-input-date-template-halign == 'center' {
					text-align: center;
				}
				@else if $search-input-date-template-halign == 'left' {
					text-align: left;
				}
				@else if $search-input-date-template-halign == 'right' {
					text-align: right;
				}
			}
			.day,
			.month {
				display: inline-block;
			}
			.week {
				display: block;
				clear: both;
			}
		}
	}

	//## typology
	.typology {
		.typology_option[aria-hidden='true'] {
			display: none;
		}
		.ui-input-container > button,
		.ui-dropdown > button {
			position: relative;
			height: 100%;
			border-width: 0;
			@if $search-typology-hasicon == true {
				@extend %search-component-icon;
				@include iconfont($search-typology-icon);
			}
		}
		.value-selected {
			font-size: calculateRem($search-typology-selected-fontsize);
			font-weight: $search-typology-selected-fontweight;
		}
		//## has arrow icon trigger
		@if $search-typology-arrow-icon {
			.value-selected {
				@include collapse-trigger($size: $search-typology-arrow-icon-fontsize, $color: $search-typology-arrow-icon-color, $pos:right);
				display: block;
			}
			.ui-input-container > button[aria-expanded='true'] {
				.value-selected {
					&::after {
						transform: translateY(-50%) scaleY(-1);
					}
				}
			}
		}
	}

	//## currency
	// @if $searchgrid-currency-show {
	// 	.currency {
	// 		.ui-dropdown_value {
	// 			font-size: calculateRem($search-currency-selected-fontsize);
	// 			color: $search-currency-selected-color;
	// 			font-weight: $search-currency-selected-fontweight;
	// 		}
	// 	}
	// }

	//## search flight CTA button
	.searchflight_button {
		button {
			@extend .btn-#{$search-button-style};
			min-width: 70%;
		}
	}

	//## inputs
	.ui-input-container {
		input {
			@include font-size($search-input-placeholder-fontsize);
			color: $search-input-placeholder-color;
			font-weight: $search-input-placeholder-fontweight;
			&::placeholder {
				color: $search-input-placeholder-color;
			}
		}
	}

	// ++ Search options
	.search_tt {
		z-index: 4;
		background-color: $search-options-background;
	}
}