// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH VARIABLES
// ****************************************
//
//  + Search breakpoint
//  + Search elements margins
//
//  + Search form elements
//      ++ button CTA
//      ++ align & margins
//      ++ breakpoint 1
//      ++ highlght search
//      ++ inputs
//          +++ inputs with icon
//          +++ inputs separator
//          +++ select value color
//          +++ placeholder
//
//      ++ input route
//          +++ input route value
//      ++ input date
//          +++ input date template
//          +++ input date - day
//          +++ input date - week
//          +++ input date - month
//      ++ typology
//      ++ currency

//  + Search form
//  + Search options to select
//
// ****************************************

// SEARCH STYLES
// -------
//## Global paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/_flight-search.scss
$search-fixed-animation: .4s forwards !default;
$search-background: $c-primary !default;


// SEARCH GRID BREAKPOINT
// -------
//## Global mixin paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/_flight-search-grid.scss
$search-grid-breakpoint-qty: 3 !default;
$search-grid-breakpoint-1: $mobile-sm !default;
$search-grid-breakpoint-2: $tablet-portrait !default;
$search-grid-breakpoint-3: $tablet-landscape !default;
//## margins
$search-components-margin-topbottom: calculateRem(4px) !default;
$search-components-margin-leftright: calculateRem(14px) !default;


// + SEARCH FORM ELEMENTS
// -------
//## Global mixin paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/_flight-search-highlight-onfocus.scss
$searchflight-highlight-zindex: $overlay-zindex + 1 !default;

//## Global paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/_flight-search.scss
//## button CTA
$search-button-style: primary !default;
//## align & margins
$search-button-margin-top: 14px !default;
$search-button-valign: end !default;
$search-button-halign: center !default;
//## breakpoint 1
$search-button-valign-bp1: end !default;
$search-button-halign-bp1: center !default;
//## inputs
$search-input-color: $c-secondary !default;
$search-input-background: transparent !default;
$search-input-border-width: 0 0 1px 0 !default;
$search-input-border-color: #fff !default;
$search-input-border-radius: 0 !default;
//## inputs with icon
$search-input-icons-fontsize: 26px !default;
$search-input-icons-padding: 8px !default;
$search-input-icons-padding-field: $search-input-icons-fontsize + $search-input-icons-padding !default; //## do not change this
$search-input-icons-color: $search-input-color !default;
$search-input-icons-position-top: calculateRem(13px) !default;
$search-input-icons-position-left: calculateRem(2px) !default;
//## inputs separator
$search-input-separator-color: $c-secondary !default;
$search-input-separator-vert-width: 1px !default;
$search-input-separator-vert-height: 68% !default;
$search-input-separator-hor-width: calculateRem(10px) !default;
$search-input-separator-hor-height: 1px !default;
//## select value color
$search-input-valueselected-color: #fff !default;
//## placeholder
$search-input-placeholder-color: $gray60 !default;
$search-input-placeholder-fontsize: 20px !default;
$search-input-placeholder-fontweight: 300 !default;
$search-input-background-disabled: transparent !default;

//## input route
$search-route-hasicon: true !default;
$search-route-icon: $icon-pin !default;
$search-route-inputs-separator: vertical-bar !default;
//## input route value
$search-route-value-inline: true !default;
$search-route-input-valuelarge-fontsize: 22px !default;
$search-route-input-valuelarge-fontsize-desktop: 22px !default;
$search-route-input-valuelarge-color: $search-input-valueselected-color !default;
$search-route-input-valuelarge-fontweight: 300 !default;
$search-route-input-valuesmall-fontsize: 22px !default;
$search-route-input-valuesmall-fontsize-desktop: 22px !default;
$search-route-input-valuesmall-color: $search-input-valueselected-color !default;
$search-route-input-valuesmall-fontweight: 500 !default;

//## input date
$search-date-start-one-datefield: true !default;
$search-date-hasicon: true !default;
$search-date-icon: $icon-calendar !default;
$search-date-inputs-separator: horizontal-bar !default;
//## input date template
//## grid1: day(col) & month+week(col)
//## grid2: day+month(row) & week(row)
$search-input-date-template: 'grid1' !default;
$search-input-date-template-halign: 'center' !default;
//## input date - day
$search-date-day-input-fontsize: 36px !default;
$search-date-day-input-fontsize-desktop: 36px !default;
$search-date-day-input-color: $search-input-valueselected-color !default;
$search-date-day-input-fontweight: $search-route-input-valuelarge-fontweight !default;
//## input date - week
$search-date-week-input-fontsize: 14px !default;
$search-date-week-input-fontsize-desktop: 14px !default;
$search-date-week-input-color: $search-input-valueselected-color !default;
$search-date-week-input-fontweight: 300 !default;
$search-date-week-input-texttransform: uppercase !default;
//## input date - month
$search-date-month-input-fontsize: 14px !default;
$search-date-month-input-fontsize-desktop: 14px !default;
$search-date-month-input-color: $search-input-valueselected-color !default;
$search-date-month-input-fontweight: 300 !default;
$search-date-month-input-texttransform: uppercase !default;

//## typology 
$search-typology-hasicon: true !default;
$search-typology-icon: $icon-passenger !default;
$search-typology-arrow-icon: true !default;
$search-typology-arrow-icon-fontsize: 10px !default;
$search-typology-arrow-icon-color: $c-secondary !default;
$search-typology-selected-fontsize: 36px !default;
$search-typology-selected-fontsize-desktop: 36px !default;
$search-typology-selected-fontweight: 300 !default;
//## typology options
$typology-options-fullwidth-items-margin: 4% !default;
$typology-options-item-padding: calculateRem(12px) 0 !default;
$typology-options-item-border-width: 1px !default;
$typology-options-item-border-color: $c-secondary !default;
$typology-options-scroll-max-height: 400px !default;
// ## typology options labels
$typology-options-label-fontsize: 16px !default;
$typology-options-label-color: $c-text !default;
$typology-options-label-fontweight: 700 !default;
$typology-options-label-info-fontsize: 12px;
$typology-options-label-info-color: $c-text !default;
$typology-options-label-info-fontweight: 400 !default;

//## currency 
$searchgrid-currency-show: false !default;
$search-currency-hasicon: false !default;
$search-currency-icon: $icon-passenger !default;
$search-currency-selected-color: $search-input-valueselected-color !default;
$search-currency-selected-fontsize: 22px !default;
$search-currency-selected-fontsize-desktop: 22px !default;
$search-currency-selected-fontweight: 300 !default;
$currency-options-scroll-max-height: 400px !default;


// + SEARCH OPTIONS
// -------
//## Global mixin paths:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout.scss
$search-options-layout-breakpoint: $tablet-landscape !default;
$search-options-layout-fullwidth-position-top: 68px;
$search-options-fullwidth-inner-top-padding: 40px !default;
$search-options-fullwidth-inner-bottom-padding: 40px !default;
$search-options-inner-padding: 40px 24px 30px !default;
$search-options-background: #fff !default;

//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout-component.scss
$search-options-caption-fontsize: 22px !default;
$search-options-caption-color: $c-text !default;
$search-options-caption-margin: 0 0 calculateRem(24px) !default;
$search-options-caption-icon-color: $c-color1 !default;
$search-options-caption-icon-fontsize: 24px !default;


// + ROUTE OPTIONS
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout-component.scss
$route-options-fontsize: 16px !default;
$route-options-color: $c-text !default;
$route-options-link-color: $c-text !default;
$route-options-link-underline: none !default;
$route-options-link-color-hover: $c-link !default;
$route-options-link-underline-hover: underline !default;
$route-options-item-margin: calculateRem(12px) !default;
$route-options-item-margin-desktop: calculateRem(6px) !default;
$route-options-code-left-pad: 44px !default;
$route-options-scroll-max-height: 400px !default;
//## city
$route-options-city-color: $route-options-color !default;
$route-options-city-fontsize: $route-options-fontsize !default;
$route-options-city-fontweight: 600 !default;
//## airport code
$route-options-airportcode-color: $route-options-color !default;
$route-options-airportcode-fontsize: $route-options-fontsize !default;
$route-options-airportcode-fontweight: 400 !default;
//## country
$route-options-country-color: $route-options-color !default;
$route-options-country-fontsize: $route-options-fontsize !default;
$route-options-country-fontweight: 400 !default;
$route-options-country-title-margin: calculateRem(7px) !default;
$route-options-country-group-margin: calculateRem(14px) !default;

//## route list breakpoints
$route-options-list-breakpoints-qty: 1 !default;
//## breakpoint 1
$route-options-list-breakpoint-1: $mobile-sm !default;
$route-options-list-breakpoint-1-columns: 2 !default;
$route-options-list-breakpoint-1-columns-gutter: 20px !default;
//## breakpoint 2
$route-options-list-breakpoint-2: $tablet-landscape !default;
$route-options-list-breakpoint-2-columns: 3 !default;
$route-options-list-breakpoint-2-columns-gutter: 20px !default;
//## breakpoint 3
$route-options-list-breakpoint-3: $desktop !default;
$route-options-list-breakpoint-3-columns: 4 !default;
$route-options-list-breakpoint-3-columns-gutter: 20px !default;


// + DATE OPTIONS
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-layout-component.scss
$date-options-triptype-margin: 0 0 calculateRem(10px) !default;
$date-options-scroll-max-height: 400px !default;


// ++ SEARCH OPTIONS - ARROW INDICATOR
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-arrow.scss
$search-options-arrow-direction: 'up' !default;
$search-options-indicator-width: 1.4rem !default;
$search-options-indicator-height: .6rem !default;
$search-options-arrow-color: #fff !default;
$search-options-arrow-color-mobile: $c-primary !default;
$search-options-arrow-position-top: .6rem !default;
$search-options-arrow-position-left: 10px !default;

// -------
// ++ SEARCH OPTIONS - CLOSE BUTTON
// -------
//## Global mixin path:
//## core/src/assets/sass/globals/components/IBE/flight-search/mixins/flight-search-options/_options-close-button.scss
$search-options-close-position: 'top-right' !default;
$search-options-close-position-tb: 14px !default;
$search-options-close-position-lr: 14px !default;
$search-options-close-icon: $icon-cross !default;
$search-options-close-color: $c-link !default;
$search-options-close-fontsize: 18px !default;
$search-options-close-fontweight: 600 !default;
$search-options-close-label: 'hidden' !default;
$search-options-close-label-fontsize: 18px !default;
