<div class="search_tt collapse {{searchRouteOptions.class}}" id="{{searchRouteOptions.id}}">
    <div class="search_tt_inner">
        {% if searchRouteOptions.title | length %}
            <div class="search_tt_title">
                {{searchRouteOptions.title | safe}}
            </div>
        {% endif %}
        <div class="search_tt_menu_scroll">
            <div class="search_tt_menu">
                {% if destinations.itemsSortBy == 'city' %}
                    <div class="search_tt_menu_list">
                        <ul role="menu">
                            {% for destination in destinations.items %}
                                {% for city in destination.cities %}
                                    <li role="option">
                                        <a href="#">
                                            {% if city.name | length %}<span class="city">{{ city.name }}</span>{% endif %}
                                            {% if city.airportcode | length %}<span class="code">{{ city.airportcode }}</span>{% endif %}
                                            {% if city.countryName | length %}<span class="country">{{ city.countryName }}</span>{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    {% for destination in destinations.items %}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        <div class="search_tt_menu_list">
                            <div class="search_tt_menu_list_title" id="rlist_{{counter}}">{{ destination.countryName }}</div>
                            <ul role="menu" aria-labelledby="rlist_{{counter}}">
                                {% for city in destination.cities %}
                                    <li role="option">
                                        <a href="#">
                                            {% if city.name | length %}<span class="city">{{ city.name }}</span>{% endif %}
                                            {% if city.airportcode | length %}<span class="code">{{ city.airportcode }}</span>{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        
        {# SELECTIONS CLOSE BUTTON #}
        {% include "partials/components/IBE/flight-search/_flight-search_selections_close_button.njk" %}
    </div>
</div>
