{#  <ibe-input-station>
    Use: this component is used at flight search to select departure and arrival airports.
    How it works: HTML has an initial <input> where user can type or either select option from a collapsable option list.
    When option is selected, <input> gets hidden and a <button> shows with selected option.
    The use of a button is because we need to have flexibility to style select value (e.g. show two lines). 
#}

<div class="route">
    <ibe-input-station>
        {# SEARCH ROUTE FIELDS #}
        {% set combinedInputs = searchFlight.routes.journeys %}
        {% include "partials/ui-elements/_from-to_combined.njk" %}

        {# MULTICITY ROUTE FIELDS #}
        {% if flightSearch.isMulticity %}
            {% include "partials/ui-elements/_from-to_combined.njk" %}
        {% endif %}

        {# ROUTE OPTIONS #}
        {# departure #}
        {% set searchRouteOptions = {
            id: 'searchOutbound_options' + routeInput.collapsePrefixer | default(''),
            class: 'outbound',
            title: searchFlight.routes.journeys[0].caption
        } %}
        {% include "partials/components/IBE/flight-search/route/_route_options.njk" %}
        {# arrival #}
        {% set searchRouteOptions = {
            id: 'searchReturn_options',
            class: 'inbound',
            title: searchFlight.routes.journeys[1].caption
        } %}
        {% include "partials/components/IBE/flight-search/route/_route_options.njk" %}

        {# MULTICITY ROUTE OPTIONS #}
        {# multicity departure #}
        {% set searchRouteOptions = {
            id: 'searchOutbound-mc_options' + routeInput.collapsePrefixer | default(''),
            title: searchFlight.routes.journeys[0].caption
        } %}
        {% include "partials/components/IBE/flight-search/route/_route_options.njk" %}
        {# multicity arrival #}
        {% set searchRouteOptions = {
            id: 'searchReturn-mc_options',
            title: searchFlight.routes.journeys[1].caption
        } %}
        {% include "partials/components/IBE/flight-search/route/_route_options.njk" %}
    </ibe-input-station>
</div>
