body {
  margin: 0;
  padding: 0 0 0 13px;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // puede ser una calibrí
  // font-family: Arial, Helvetica, sans-serif;
  font-family: Arial,Tahoma, Geneva, Verdana, sans-serif;
  // font-family: sans-serif;
  color: $pdf-c-default;
  text-align: justify;
}
table {
  text-align: inherit;
}
h2, h3, a {
  color: $c-primary;
}
h2, h3 {
  font-weight: 600;
} 
h2 {
  font-size: 21px;
  margin: 14px 0 0;
}
h3 {
  font-size: 19px;
}
p {
  font-size: 14px;
  line-height: 1.4;
}
.big-text {
    font-size: 30px;
}
.small-text,
.small-text * {
  margin-bottom: 0;
  color: $pdf-c-default;
  font-size: 12px;
  a {
    color: $c-primary;
    text-decoration: none;
  }
}
.pax-name {
  margin: -3px 0 4px;
  font-size: 24px;
  color: $c-primary;
  font-weight: 600;
  text-transform: uppercase;
}
.pax-name_pp {
  font-size: 18px;
}
.codebar_container {
  float: right;
  box-sizing: border-box;
  width: 270px;
  img {
      width: 100%;
  }
  padding: 0;
  &.last { // bottom codebar
      padding: 9px 0 0 19px;
  }
}
.airline-copy-text {
  font-size: 15px;
}

// COMPONENTS, SEPARATE THIS IN THE FUTURE ...

.boarding-pass_resume,
.boarding-pass_main-info {
  h2, h3 {
    margin: 0 0 4px;
    font-size: 18px;
    text-align: left;
  }
}
.boarding-pass_main-info {
  td {
    &:nth-child(2) {
      padding-right: 0;
    }
    &:nth-child(3) {
      width: 315px;
    }
  }
}
.ticket-number {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.boarding-pass_resume {
  h2, h3, p {
    line-height: 1.1;
  }
  h2, h3 {
    font-size: 17px;
  }
  p {
    font-size: 22px;
  }
  .big-text {
    font-size: 30px;
  }
  .field_label-translation {
    color: $c-primary;
    font-weight: 300;
  }
}

// + title
.title {
  margin-bottom: 7px;
  font-size: 18px;
}
.title_container {
  width: 580px;
}

// + field
.field_label {
  font-weight: 600;
  + .field_label-translation {
    &::before {
      content: ' / ';
    }
  }
}
.field_label-translation {
  font-weight: 300;
  font-style: italic;
  color: rgba(#000, .75);
}

// + weight
.size {
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  color: #000;
}

$info-message_border-radius: 40px;
// + last-message
.last-message {
  margin: 16px 0 0;
  padding: 1px 0 0;
  text-align: center;
  line-height: 2;
  color: #fff;
  background-color: $c-primary;
  border-radius: $info-message_border-radius;
  .field_label-translation {
    color: rgba(#fff, .75);
  }
}

// + info-message
.info-message {
  padding: 15px 20px;
  text-align: center;
  background-color: #e6e8ed;
  border-radius: $info-message_border-radius;
}

// + service icon
.service-icon {
  width: 104px;
  padding-right: 8px;
  img {
      width: 100%;
  }
  + td {
    h3,
    p:first-child {
      .field_label {
        font-weight: 600;
      }
    }
    .field_label {
      font-weight: 400;
    }
  }
}
