$table-inline-block-width: 264px;

table {
    width: 880px;
    table-layout: fixed;
    border-collapse: collapse;
    // modifiers
    table {
        width: 100%;
    }
    &.bordered, &.horizontal-bordered {
        td {
            border-top: $pdf-table-border;
        }
    }
    &.bordered {
        td {
            border-top: $pdf-table-border;
            & + td {
                border-left: $pdf-table-border;
            }
            &:first-child:last-child { //## unique child
                border-right: $pdf-table-border;
            }
        }
    }
    &.table-bordered {
        tr {
            &:last-child {
                td {
                    border-bottom: $pdf-table-border;
                }
            }
        }
        td {
            padding-bottom: $table-top-space;;
            border-top: $pdf-table-border;
            // &:first-child {
            //     .info-item {
            //         display: block;
            //         width: 100%;
            //         box-sizing: border-box;
            //         border-right: $pdf-table-border;
            //     }
            // }
            &:nth-child(2) {
                padding: $table-top-space 0 0; 
                .info-item {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0 14px;
                    box-sizing: border-box;
                    border-left: $pdf-table-border;
                    border-right: $pdf-table-border;
                }
            }
        }
    }
    &.bottom-separated {
        td {
            padding-bottom: 12px;
        }
        &.table-bordered {
            height: 305px;
        }
    }
}
td {
    padding: $table-top-space 14px;
    &[valign=center] {
        vertical-align: middle;
    }
}

