// colors
$pdf-c-default: #000;
$c-primary: $c-primary; 
$c-secondary: $c-secondary;

// borders
$pdf-table-border: 1px solid #828da2;

// gutters
$pdf-gutter: 32px;

// spaces
$table-top-space: 16px;

