// main: ../styles.scss

// ****************************************
//  
//  PDF ELEMENTS
//
// ****************************************
//  
//  TIP BOX
//  
// ****************************************
//  
//  + tip-box
//  
// ****************************************


// + tip-box
//-------------------
.tip-box,
.tip-box_icon,
.tip-box_description {
    display: table-cell;
}
.tip-box {
    width: 100%;
    padding: 8px 9px 14px;
}
.tip-box_icon {
    width: 35px;
    margin-top: -20px;
    img {
        width: 100%;
    }
}
.tip-box_description {
    padding-left: 12px;
    vertical-align: top;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: -.1;
    a {
        display: block;
    }
}
