// ********************
//  IBE COMPONENT
//
// ********************
//  DAY SELECTOR
// ********************
//
//  + States
//      selected, disabled, noflights, bestprice, soldout
//
// ********************

$dayselector-slide-border: $gray-3;
$dayselector-slide-border-width: 2px;
$dayselector-text-color: $c-text;
$dayselector-slide-background: transparent;
$dayselector-slide-selected-color: $c-secondary;
$dayselector-slide-selected-background: #fff;

// hover
$dayselector-text--hover: $c-primary;
$dayselector-slide-background--hover: tint($c-primary,82%);

// prev-next
$dayselector-arrows-size: 24px;
$dayselector-arrows-color: $c-secondary;
$dayselector-arrows-color--hover: $dayselector-arrows-color;
$dayselector-arrows-background: #fff;

$dayselector-fontfamily: $f-title;

$dayselector-week-fontsize: $f-size-sm;
$dayselector-date-fontsize: $f-size-md;
$dayselector-price-color: $c-text;
$dayselector-price-fontsize: 20px;
$dayselector-price-color--hover: $dayselector-text--hover;
$dayselector-bestprice-color: $c-secondary;

$dayselector-slide-padding: 24px;

$dayselector-slider-height: 100px;
$dayselector-slider-height-mobile: 121px;

.dayselector {
    position: relative;
}
.dayselector_slider {
    $slider-control-width: 24px;
    @include clearfix;
    z-index: $weekslider-zindex;
    position: relative;
    width: 100%;
    height: $dayselector-slider-height;
    margin: 0;
    font-family: $font-sanserif;
    transition-duration: 0s;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    &::after { //## slider border bottom must be below tabs
        z-index: -1;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $dayselector-slide-border;
    }
    .slider {
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - (#{$slider-control-width} * 2));
        height: $dayselector-slider-height;
        margin: auto;
        overflow: hidden;
    }
    .slide {
        position: relative;
        flex: 1 1 calc((100% - 1px) / 3);
        width: calc((100% - 1px) / 3);
        min-width: 90px;
        max-width: 192px;
        height: 100%;
        margin-bottom: 14px;
        &:hover {
            .slide-item {
                color: $dayselector-text--hover;
                .dayselector_price {
                    color: $dayselector-price-color--hover;
                }
            }
        }
        &.disabled,
        &.selected.disabled {
            .slide-item {
                color: $c-text-lighten;
                cursor: default;
                pointer-events: none;
                .dayselector_price {
                    color: $c-text-lighten;
                    .price {
                        font-weight: normal;
                    }
                }
            }
            &:hover {
                .slide-item {
                    color: $c-text-lighten;
                }
            }
        }
        &.selected {
            &.disabled {
                &:hover {
                    .slide-item {
                        color: $c-text-lighten;
                    }
                }
            }
            .slide-item {
                z-index: 2;
                color: $dayselector-slide-selected-color;
                margin-left: 0;
                border: $dayselector-slide-border-width solid;
                border-color: $dayselector-slide-border;
                border-bottom: 0;
                background: $dayselector-slide-selected-background;
                .dayselector_price {
                    color: $dayselector-slide-selected-color;
                }
            }
        }
        &.day_bestprice {
            &:hover {
                .slide-item {
                    .dayselector_price {
                        color: $dayselector-bestprice-color;
                    }
                }
            }
        }

        &:nth-child(3n+0) {
            .slide-item::after { display: none; }
        }
    }
    .slide-item {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        white-space: nowrap;
        font-family: $f-body;
        color: $dayselector-text-color;
        text-decoration: none;
        padding: 12px 6px;
        margin-left: 1px;
        border-top: $dayselector-slide-border-width solid #fff;
        border-radius: 10px 10px 0 0;
        background: $dayselector-slide-background;
        box-sizing: border-box;
        cursor: pointer;
        transform: all .06s linear;
        &::after {  //## slide item division line
            z-index: 2;
            content: '';
            position: absolute;
            right: -1px;
            top: 50%;
            width: 1px;
            height: 24px;
            background: $dayselector-slide-border;
            transform: translateY(-50%);
        }
        &:focus {
            @include accessibility-outline;
            outline-offset: -3px;
        }
    }
    .slider_control_btn {
        z-index: $weekslider-nav-zindex;
        position: absolute;
        top: 0;
        width: $slider-control-width;
        height: 100%;
        color: $dayselector-arrows-color;
        text-decoration: none;
        font-size: $dayselector-arrows-size;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: $dayselector-arrows-color--hover;
        }
        &:focus {
            @include accessibility-outline;
            outline-offset: -2px;
        }
        &.prev {
            @include iconfont($icon-arrow-triangle-left,before);
            left: 0;
        }
        &.next {
            @include iconfont($icon-arrow-triangle-right,before);
            right: 0;
            justify-content: flex-end;
        }
    }

    // [Responsive]
    @media #{$mobile} { // >=640px
        $slider-control-width: 34px;
        .slider {
            width: calc(100% - (#{$slider-control-width} * 2));
        }
        .slide-item {
            padding-right: 12px;
            padding-left: 12px;
        }
        .slide {
            flex: 1 1 calc((100% - 1px) / 4);
            width: calc((100% - 1px) / 4);
            min-width: 130px;
            &:nth-child(3n+0) {
                .slide-item::after { display: block; }
            }
            &:nth-child(4n+0) {
                .slide-item::after { display: none; }
            }
        }
    }
    @media (min-width: 874px) { // >=874px
        .slide {
            flex: 1 1 calc((100% - 1px) / 5);
            width: calc((100% - 1px) / 5);
            max-width: 189px;
            &:nth-child(4n+0) {
                .slide-item::after { display: block; }
            }
            &:nth-child(5n+0) {
                .slide-item::after { display: none; }
            }
        }
    }
    @media (min-width: 1074px) { // >=900px
        .slide {
            flex: 1 1 calc((100% - 1px) / 7);
            width: calc((100% - 1px) / 7);
            max-width: 162px;
            &:nth-child(5n+0) {
                .slide-item::after { display: block; }
            }
            &:nth-child(7n+0) {
                .slide-item::after { display: none; }
            }
        }
    }

    @media #{$until-mobile} { // <=640px
        .slide {
            min-width: calc((100% - 1px) / 3);
            .slide-item {
                &::after { display: block !important; }
            }
            &:last-child {
                .slide-item::after { display: none !important; }
            }
        }
    }
}
.dayselector_date {
    position: relative;
    z-index: 2;
    display: block;
    .year,
    .month,
    .week,
    .date {
      line-height: 1.4;
    }
    .week,
    .date {
        display: block;
        font-size: $dayselector-week-fontsize;
        margin-bottom: 2px;
    }
    /*.year {
        font-size: $dayselector-date-fontsize;
        text-transform: uppercase;
        font-weight: 600;
    }*/
}
.dayselector_price {
    @include font-size($dayselector-price-fontsize);
    z-index: 2;
    position: relative;
    line-height: 1.2;
    margin-top: 8px;
    .currency,
    .price { white-space: nowrap; }
    .currency {
        font-weight: 300;
    }
    .price {
        font-weight: 600;
    }
    .noprice,
    .soldout {
        display: inline-block;
        font-weight: normal;
        color: tint($c-text-lighten, 20%);
    }
    .noprice {
        @include font-size($f-size);
        line-height: 1.2;
        letter-spacing: .01em;
        text-transform: uppercase;
    }
    @media #{$until-tablet-portrait} { // <= 768px
        font-size: ($dayselector-price-fontsize - 2);
    }
    @media #{$until-mobile} { // <= 640px
        font-size: ($dayselector-price-fontsize - 4);
    }
    @media #{$until-mobile-sm} { // <= 480px
        .currency,
        .price {
            display: block;
        }
    }
}

//## calendar views links
.dayselector_options {
    z-index: 100;
    position: absolute;
    right: 0;
    top: -98px;
    li {
        a {
            display: table;
            color: #fff;
            font-family: $f-title;
            @include font-size($f-size);
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;
            padding: 9px 14px 9px 50px;
            cursor: pointer;
            box-sizing: border-box;
            border-radius: 15px 2px 2px;
            background-color: #6d318f;
            .icon {
                position: absolute;
                top: 2px;
                left: 14px;
                color: $c-secondary;
                vertical-align: middle;
                @include font-size($f-size-xlg);
                &::before { //## calendar font icon
                    z-index: 2;
                    position: relative;
                }
                &::after { //## calendar font icon white background
                    z-index: 1;
                    position: absolute;
                    left: 4px;
                    top: 14px;
                    content: '';
                    width: 20px;
                    height: 15px;
                    border-radius: 2px;
                    background-color: #fff;
                }
            }
            .label {
                vertical-align: middle;
                font-weight: 600;
            }
            &:hover, &:focus, &:focus:hover { //## remove default text color declarations
                text-decoration: none;
                color: #fff;
            }
            &.link-weekcalendar {
                .icon {
                    @include iconfont($icon-calendar-week,before);
                }
            }
            &.link-monthcalendar {
                .icon {
                    @include iconfont($icon-calendar-month,before);
                }
            }
        }
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .dayselector_options { display: none; }
}
@media #{$until-mobile} { // <=640px
    .dayselector_options {
        display: none;
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .dayselector {
        margin-left: -$gutter-sides;
        width: calc(100% + (#{$gutter-sides} * 2));
    }
    .dayselector_slider {
        height: $dayselector-slider-height-mobile;
        .slider {
            height: $dayselector-slider-height-mobile;
        }
    }
}
