// main: ../../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  MONTH SELECTOR
//
//    + Month calendar
//
// ********************
//
// ********************


// + Month calendar
// -------
$monthcalendar-day-background: $gray-1;
$monthcalendar-border-color: $c-primary;
$monthcalendar-header-border-color: $c-secondary;

$monthcalendar-th-color: $c-primary;

// ## Month taps
.monthselector {
    .slide, .slide-item {
        height: 100%;
        box-sizing: border-box;
    }
    .slide-item {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .month {
            text-transform: uppercase;
            @include font-size($f-size-md);
        }
    }
}

// ## Calendar
.monthselector_calendar {
    border-bottom: 2px solid $gray-3;
    font-family: $font-sanserif;
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th,td {
        text-align: center;
    }
    th {
        color: $monthcalendar-th-color;
        @include font-size($f-size);
        text-transform: uppercase;
        padding: 46px 0 7px;
        border-bottom: 2px solid $monthcalendar-header-border-color;
    }
    tr {
        &:first-child {
            td {
                &:hover {
                    &::after { // ## fix IE <th> border bottom issue
                        content: '';
                        position: absolute;
                        left: 0;
                        top: -1px;
                        height: 1px;
                        width: 100%;
                        background-color: $c-secondary;
                    }
                }
            }
        }
        &:last-child {
            td:last-child {
                &::after { // ## last <td> right divider
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    // -ms-transform: translateY(0%);
                    height: 65%;
                    width: 1px;
                    background-color: $c-primary;
                }

                &.empty, //## draw vertical separators, avoids using :not helper
                &.disabled,
                &:nth-child(7),
                &:hover {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
    td {
        box-sizing: border-box;
        width: 14.28571%;
        padding: 17.5px 0;
        cursor: pointer;
        position: relative;
        font-weight: 300;
        &:hover {
            background-color: $gray-1;
            .dayselector_date {
                font-weight: 400;
            }
        }
        &, //## draw vertical separators, avoids using :not helper
        &.empty:hover,
        &.empty:hover + td,
        &.disabled:hover + td,
        &.disabled:hover { // ## days vertical divider
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 65%;
                width: 1px;
                background-color: $c-primary;
            }
        }
        &.disabled,
        &.selected {
            &:hover {
                .dayselector_date {
                    font-weight: 300;
                }
            }
        }

        &:first-child, //## remove vertical separators, avoids using :not helper
        &:first-child.empty,
        &:hover,
        &.selected + td,
        &.empty + .disabled,
        &.empty:hover + .disabled,
        &:hover + td {
            &::before {
                content: none;
            }
        }

        // elements
        .dayselector_date, .dayselector_price {
            height: 50%;
            box-sizing: border-box;
        }
        .dayselector_date {
            @include font-size($f-size-md);
        }
        .dayselector_price {
            margin-top: 10px;
            vertical-align: bottom;
            .old-price, .normal-price {
                display: block;
            }
            .price {
                font-weight: 600;
            }
        }
        .old-price {
            text-decoration: line-through;
        }

        // modifiers
        &.empty {
            cursor: default;
            &:hover {
                background-color: transparent;
                border-color: transparent;
            }
        }
        &.selected {
            color: #fff;
            background-color: $c-secondary;
            border-radius: 4px;
            cursor: default;
            &::before {
                content: unset;
            }
            .dayselector_price {
                .price {
                    font-weight: 500;
                }
            }
        }
        &.disabled {
            cursor: default;
            text-transform: uppercase;
            color: $gray-3;
            &:hover {
                background-color: #fff;
            }
        }
        &.bestprice {
            color: $c-secondary;
        }
    }
    @media #{$until-tablet-portrait} {
        display: none;
    }
}
