// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  BREADCRUMB
// ********************
//
// ********************

.breadcrumb {
    margin-bottom: 32px;
}
.breadcrumb_item {
    position: relative;
    display: inline-block;
    padding-right: 7px;
    &::after { //## breadcrumb divisor
        content: '/';
        color: $gray-3;
        margin-left: 7px;
    }
    &:last-child {
        &:after { display: none; }
        margin-left: 0;
    }
    & > a {
        color: $c-color2;
        text-decoration: none;
        padding: 7px 0;
        &:hover {
            color: $c-primary;
            text-decoration: underline;
        }
    }
    &.go-home a {
        @include iconfont($icon-home);
        @include font-size($f-size-md-sm);
        color: $c-primary;
        &:hover {
            color: $c-link-hover;
            text-decoration: none;
        }
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
}
.breadcrumb_dropdown_trigger {
    @include collapse-trigger($f-size, $c-primary, right);
    @include font-size($f-size);
    color: $c-color2;
    text-decoration: underline;
    cursor: pointer;
    &:after {
        margin-top: 2px;
    }
}
