$scrolltop-position-bottom: 20px;
$scrolltop-size: 40px;
.btn-scroll-back {
    @include iconfont($icon-arrow-triangle-up,before);    
    @include font-size($f-size-sm);
    width: $scrolltop-size;
    height: $scrolltop-size;
    position: fixed;
    right: 15px;
    bottom: $scrolltop-position-bottom;   
    z-index: $button-scrolltop-zindex;
    background-color: $c-primary;
    color: #fff;
    border-radius: 50%;
    opacity: 0;    
    box-shadow: 0px 2px 11px -1px rgba(0,0,0,.90);
    transition: all .25s ease-in-out;
    cursor: pointer;
    &.show {    
        opacity: 1;
    }
    &:hover {
        background-color: darken($c-primary, 7%);
        border-color: darken($c-primary, 9%);
    }
    &:focus { outline: 0; }
    @media #{$until-tablet-portrait} { //<=768px              
        &::after {
            content: '';
            top: 50%;
            left: 50%;
            position: absolute;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
        }
        bottom: #{$main-header-fixed-height-onscroll + $scrolltop-position-bottom };  
    }
    @media #{$desktop} { // >=1200px
        right: calc((100% - 1228px)/ 2 - #{$scrolltop-size});
    }    
}
.overlay-in-md {
    .btn-scroll-back {
        opacity: 0;
        transform: scale(0);
    }
}