// main: ../../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************
$image-scale-hover: scale(1.04);
$image-scale-hover-time: .3s;

// + Destinations offers grid
// -------
.destinations-offers > * {
    display: flex;
    margin-bottom: 32px;
}
.destination-offer_main {
    flex: 1 1 68%;
}
.destination-offer_aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    min-width: 300px;
    margin-left: 2%;
    .column:last-child {
        margin-top: auto;
        min-height: 1px;
    }
}


// + Destination offer component
// -------
.destination-offer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; // IE10 Support
    &[role='link'] {
        cursor: pointer; 
        &:focus {
            //@include accessibility-outline-default;
            @include accessibility-outline;
        }
    }
    [data-whatinput='keyboard'] & {
        &:focus {
            @include accessibility-outline;
        }
    }
}
.destination-offer_body {
    position: relative;
    height: 100%; // IE10 support
}
.destination-offer_footer {
    text-align: right;
}
.destination-offer_image {
    display: block;
    width: 100%;
    min-height: 1px;
    max-height: 200px;
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        min-height: 1px;
        border-radius: $border-radius;
        transform: scale(1);
        transition: all $image-scale-hover-time ease-in-out;
    }
    &:hover {
        img {
            transform: $image-scale-hover;
        }
    }
}
.destination-offer_footer,
.destination-offer_caption {
    flex: 0 0 auto;
    font-family: $f-title;
    margin-top: 10px;
    a {
        text-decoration: none;
    }
    .city,.price_wrap {
        display: inline-block;
        margin: 0;
    }
    .city {
        @include font-size($f-size-lg);
        color: $c-primary;
        font-weight: 600;
        margin-right: 20px;
    }
    .price,
    .currency {
        @include font-size($f-size-md);
        color: $c-secondary;
    }
    .price {
        font-weight: 600;
    }
}


// + Destinations offers price list
// -------
.destinations-offers_select_header {
    display: none;
    padding: 14px 0;
    .ui-dropdown {
        display: inline-block;
    }
    .ui-dropdown_list {
        width: auto;
        left: auto;
        right: 0;
    }
    .title {
        font-family: $f-title;
        @include font-size($f-size-md);
        color: $c-color2;
    }
    .title_trigger {
        @include collapse-trigger($f-size, $c-secondary, right);
        font-family: $f-title;
        @include font-size($f-size-md);
        color: $c-primary;
        text-decoration: underline;
        cursor: pointer;
        &::after {
            top: 7px;
        }
        // modifiers
        &.hide-caret {
            padding-right: 0;
            cursor: auto;
            pointer-events: none;
            &::after {
                content: none;
            }
        }
    }
}
.destinations-offers_pricelist {
    height: 196px;
    .destinations-offers_select_header {
        display: block;
        padding: 0 0 10px;
    }
    .all_offers {
        margin-bottom: 22px;
        padding-top: 8px;
        @include font-size($f-size-md-sm);
        text-align: right;
        font-family: $f-title;
        a {
            &:hover {
                color: $c-primary;
            }
            color: $c-secondary;
        }
    }
    @media #{$until-tablet-portrait} { // <=768px
        height: auto;
    }
}


// + Destination offers main
// -------
.destinations-offers-item--main {
    .destination-offer_image {
        height: 100%;
        min-height: 466px;
        max-height: none;
        border-top-left-radius: 80px;
    }
    img {
        position: absolute;
        left: 50%;
        height: 100%;
        object-fit: cover;
        transform: translateX(-50%) scale(1);
    }
    &:hover {
        img {
            transform: translateX(-50%) $image-scale-hover;
        }
    }
}


// + Destinations guide
// -------
.destination-guides {
    @media #{$until-tablet-landscape} { // <=992px
        .grid-column {
            flex-direction: row;
        }
    }
    @media #{$until-mobile} { // <=640px
        .grid-column {
            flex-direction: column;
        }
    }
}
.destinations-guide_offer {    
    .destination-offer_caption {
        position: absolute;
        bottom: 10px;
        left: 20px;
        display: block;
        font-family: $f-title;
        font-weight: 600;
        transform: translateY(0);
        transition: transform .26s ease-in-out .06s;
        .city {
            @include font-size($f-size-xxlg);
            color: #fff;
        }
    }
    &:hover {
        .destination-offer_caption {
            transform: translateY(-18px);
        }
    }
    .destination-offer_image {
        @include gradient-injector();
        max-height: inherit;
    }
}
.destinations-guide_offer--main {
    .destination-offer_image {
        height: 100%;
        border-top-left-radius: 80px;
        img {
            height: 100%;
            border-top-left-radius: 80px;
            @media #{$until-tablet-portrait} { // <= 768px
                border-top-left-radius: $border-radius;
            }
        }
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <= 768px
    .destinations-offers {
        display: inherit;
        margin-bottom: 14px;
    }
    .destination-offer_main {
        .destination-offer_image  {
            border-top-left-radius: $border-radius;
            min-height: auto;
            img {
                position: relative;
                transform: inherit;
                left: 0;
                right: 0;
            }
        }
    }
    .destination-offer_aside {
        width: 100%;
        min-width: auto;
        padding: 0;
        margin: 34px 0 0;
        .destination-offer {
            display: none;
        }
        .all_offers {
            margin-bottom: 0;
            padding-top: 14px;
        }
    }
    .destinations-offers_select_header {
        display: block;
    }
    .destination-offer_caption {
        display: flex;
        justify-content: space-between;
        .currency {
            @include font-size($f-size-md);
        }
    }
}

@media #{$until-mobile} { // <=640px
    .destinations-guide_offer--main {
        .destination-offer_image {
            border-top-left-radius: $border-radius;
        }
    }
}