// ********************
//  COMPONENTS
//
// ********************
//  MAIN BANNER
// ********************
//
//    + Main banner
//    + Main banner indicators
//
// ********************

$main-banner-height: 600px;
$main-banner-height-md: 320px;
$main-banner-height-sm: 270px;

$inner-banner-height: 425px;
$inner-banner-height-md: 300px;
$inner-banner-height-sm: 200px;
$inner-banner-height-xs: 150px;

// + main banner
// -------
.main-banner {
    position: relative;
    max-width: $main-header-banner-max-width;
    margin: auto;
    overflow: hidden;
    &.no-caption {
        .main-banner_item  {
            &::after { display: none; }
        }
    }
    &.main-banner_innerpages {
        .main-banner_item  {
            height: $inner-banner-height;
        }
        .main-banner_controls {
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 70px;
        }
        .slide-control {
            display: block;
        }
    }
}
.main-banner_slider {
    background-color: #000;
}

.main-banner_item {
    @include gradient-injector(1); //## slider bottom gradient
    display: none;
    position: relative;
    height: $main-banner-height;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    &.active {
        display: block;
    }
}
.main-banner_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img { width: 100%; }
}
.main-banner_container {
    @extend .container-wrap;
    position: relative;
    //width: calc(100% - 60px);
    height: 100%;
}
.main-banner_caption {
    $caption-text-shadow: 3px 3px 6px rgba(#fff, 0.3);
    $caption-title-fontsize: 64px;
    $caption-subtitle-fontsize: 40px;
    $caption-text-fontsize: 16px;
    z-index: 2;
    position: absolute;
    top: 46%;
    left: 30px;
    max-width: 90%;
    font-family: $f-title;
    color: $c-primary;
    line-height: 1.1;
    transform: translateY(-50%);
    .title {
        display: block;
        font-size: $caption-title-fontsize;
        text-shadow: $caption-text-shadow;
        letter-spacing: -.02em;
        line-height: 1.1;
        margin-bottom: 8px;
    }
    .subtitle {
        display: block;
        font-size: $caption-subtitle-fontsize;        
        text-shadow: $caption-text-shadow;
    }
    .text {
        font-size: $caption-text-fontsize;
        line-height: 1.3;
        text-shadow: $caption-text-shadow;
    }
    .main-banner_button {
        margin-top: 24px;
        line-height: 1.4;
    }
    &.align-right {
        left: auto;
        right: 30px;
        text-align: right;
    }
    &.align-center {
        left: 50%;
        max-width: 90%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    &.text-light {
        $caption-text-shadow: 3px 3px 6px rgba(#000, 0.3);
        color: #fff;
        .title,
        .subtitle,
        .text {
            text-shadow: $caption-text-shadow;
        }
    }
    @media #{$tablet-landscape} { // >=992px
        max-width: 56%;
    }
}
.main-banner_button {
    @extend .btn-light;
}

// + banner controls
// -------
.main-banner_controls {
    z-index: 4;
    position: absolute;
    bottom: 92px;
    left: 50%;
    width: calc(100% - 60px);
    max-width: 1140px;
    transform: translateX(-50%);
}
.main-banner_pager {
    z-index: 4;
    position: absolute;
    right: 0;
    bottom: 20px;
}
.main-banner_pager_item {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &.active {
        background-color: $c-secondary;
    }
}

.slide-control {
    z-index: 44;
    display: none;
    width: 7%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    &:focus {
        outline-offset: -3px;
    }
    &.left {
        left: 0;
        .icon {
            right: 0;
        }
    }
    &.right {
        right: 0;
        .icon {
            left: 0;
        }
    }
    .icon {
        @include font-size($f-size-super);
        color: $c-secondary;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

// [Responsive]
@media #{$until-tablet-landscape} { // <= 992px
    .main-banner {
        &.main-banner_innerpages {
            .main-banner_item {
                height: $inner-banner-height-md;
            }
        }
    }
}
@media #{$until-tablet-portrait} { // <= 768px
    .main-banner {
        .main-banner_item {
            height: $main-banner-height-md;
        }
        &.main-banner_innerpages {
            .slide-control {
                display: none;
            }
        }
    }
    .main-banner_caption {
        $caption-title-fontsize: 40px;
        $caption-subtitle-fontsize: 28px;
        $caption-text-fontsize: 12px;
        top: 50%;
        .title {
            font-size: $caption-title-fontsize;
            margin-bottom: 8px;
        }
        .subtitle {
            font-size: $caption-subtitle-fontsize;
        }
        .text {
            font-size: $caption-text-fontsize;
        }
        .main-banner_button {
            font-size: $f-size-sm;
            min-height: auto;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-top: 10px;
        }
    }
    .main-banner_pager {
        display: none;
    }
}
@media #{$until-mobile} { // <= 640px
    .main-banner {
        &.main-banner_innerpages {
            .main-banner_item {
                height: $inner-banner-height-sm;
            }
        }
    }
    .main-banner_caption {
        $caption-title-fontsize: 32px;
        $caption-subtitle-fontsize: 20px;
        $caption-text-fontsize: 12px;
        left: 20px;
        .title {
            font-size: $caption-title-fontsize;
        }
        .subtitle {
            font-size: $caption-subtitle-fontsize;
        }
        .text {
            font-size: $caption-text-fontsize;
        }
        .main-banner_button {
            font-size: $f-size-xs;
            margin: 0;
        }
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .main-banner {
        .main-banner_item {
            height: $main-banner-height-sm;
        }
        &.main-banner_innerpages {
            .main-banner_item {
                height: $inner-banner-height-xs;
            }
        }
    }
}