.newsletter_form {
    width: 100%;
    .ui-form_input-button {
        margin: 20px 0 10px;
    }
    .ui-label {
        text-transform: uppercase;
    }
    @media #{$mobile} { // >=640px
        .ui-form_input-button {
            align-items: flex-end;
            .ui-form_group,
            .ui-form_input-buttons {
                margin-bottom: 0;
            }
        }
    }
}
.newsletter_form_button {
    min-width: 200px;
}
