// ********************
//  COMPONENTS
//
// ********************
//  OFFERS
// ********************
//
// ********************

//## offer component
.offer {
    width: 100%;
    user-select: none;
    margin-bottom: 24px;
    &:hover {
        .offer_caption {
            color: $c-primary;
        }
    }
    &[role='link'] {
        cursor: pointer; 
        &:focus {
            @include accessibility-outline-default;
        }
    }
    [data-whatinput='keyboard'] & {
        &:focus {
            @include accessibility-outline;
        }
    }
}
.offer_image {
    position: relative;
    &::after { //## dark gradient over image
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background: linear-gradient(to bottom, rgba(#000,0) 0%,rgba(#000,.4) 70%);
    }
    &.is-banner {
        &::after { display: none; }
        .offer_image_bg {
            height: auto;
            picture { display: block; }
            img {
                position: relative;
                top: 0;
                width: 100%;
                height: auto;
                transform: translate(0);
            }
        }
    }
}
.offer_image_bg {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: $border-radius;
    img {
        position: absolute;
        left: 0;
        top: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform: translate(0, -50%);
        border-radius: $border-radius;
    }
}
.offer_image_caption {
    @extend .title-h2;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 30px;
    display: flex;
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 0 12%;
    box-sizing: border-box;
}
.offer_image_title,
.offer_image_brand {
    flex: 1 1 auto;
    img { width: 100px; }
}
.offer_image_brand {
    text-align: right;
}

.offer_caption {
    @extend .title-h3;
    text-align: center;
    line-height: 1.3;
    padding: 14px 16px 0;
    margin-bottom: 0;
}

.offer-deal {
    text-decoration: none;
    .offer_image_brand {
        float: none;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        transform: translateY(0);
        transition: all .18s ease-in-out;
        img {
            width: 175px;
            max-height: 100%;
            &.brand { display: none; }
        }
    }
    .offer_caption {
        @include font-size($f-size-md-sm);
        color: $c-text;
    }
    .offer_image_bg {
        img {
            left: 50%;
            min-width: 100%; //## IE10 Support
            transform: translate(-50%, -50%);
        }
    }
    &:hover {
        .offer_image_brand {
            transform: translateY(-10px);
        }
    }
    @media #{$until-mobile} { // <= 640px
        .offer_image {
            &::after { display: none; }
        }
        .offer_image_bg {
            display: none;
        }
        .offer_image_caption {
            position: relative;
            bottom: 0;
            height: 74px;
        }
        .offer_image_brand {
            height: auto;
            margin: 0;
            img {
                width: auto;
                max-height: 60px;
                &.brand { display: block; }
                &.brand-light { display: none; }
            }
        }
        .offer_caption {
            font-family: $font-sanserif;
            font-weight: normal;
            padding: 4px 24px 0 24px;
        }
    }
}


// [Responsive]
@media #{$until-tablet-landscape} { // <= 992px
    .offer_image_caption {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        bottom: 14px;
    }
    .offer_image_title,
    .offer_image_brand {
        text-align: center;
    }
    .offer_image_brand {
        margin-top: 4px;
    }
}
@media #{$until-tablet-portrait} {  // <= 768px
    .offer_caption {
        @include font-size($f-size-md);
        line-height: 1.2;
    }
}
@media #{$until-mobile} {  // <= 640px
    .offer_image_brand {
        @include font-size($f-size-xxlg);
    }
}
