// ********************
//  COMPONENTS
//
// ********************
//  SOCIAL MEDIA
// ********************
//
// ********************
$socialmedia-size: 44px;
$socialmedia-types : 
"facebook" $icon-social_facebook $c-facebook,
"wechat" $icon-social_wechat $c-wechat,
"weibo" $icon-social_weibo $c-weibo,
"instagram" $icon-social_instagram $c-instagram,
"line" $icon-social_line $c-socialline,
"twitter" $icon-social_twitter $c-twitter;

// + Social media list
// -------
.socialmedia_list {
    padding: 0;
    font-size: 0; // remove space between inline-block elements
    &.flat {
        //modifiers
        // margin-bottom: 40px;
        li .socialmedia_link:before {
            color: $c-primary;
        }
    }
    li {
        display: inline-block;
        margin: 0 1%;
        &:first-child {
            margin-left: 0;
            .socialmedia_link {
                // Tooltip
                .tooltip { 
                    margin-left: -35px;                   
                    @media #{$until-mobile} {  // <=640px    
                        margin-left: -50px;                       
                    }                   
                }
            }
        }
        &:last-child {
            margin-right: 0;            
            .socialmedia_link { 
                // Tooltip               
                .tooltip {
                    @media #{$until-mobile} {  // <=640px 
                        margin-left: -20px;
                        left: -100%; 
                        .arrow {
                            left: 65px;
                        }
                    } 
                }
            }           
        }
    } //@start: items component
    // -------
    $scale: 1.2;
    $transform: -50 - (50 - 50 * $scale / 1);
    .socialmedia_link { // a
        display: block;
        position: relative;
        width: ($socialmedia-size - 4);
        height: ($socialmedia-size - 4);
        margin: 2px;
        text-decoration: none;
        background-color: #fff;
        border-radius: 50%;              
        &:hover, &:focus {    
            &::before {                
                transform: scale($scale) translate(#{$transform+'%'}, #{$transform+'%'});
            }     
            // Tooltip           
            .tooltip {
                display: block;
                opacity: 1;
            }                     
        }
        &::before {
            font-family: $f-icons;
            font-weight: normal;
            font-size: $socialmedia-size;
            transition: .08s ease-in-out;
        }       
        .tooltip {  // Tooltip
            display: none;
            bottom: 65px;
            left: 50%;
            margin-left: -50px;             
            .arrow {
                left: 25px;
                &:before, &:after {
                    border-width: 17px 17px 0;
                }
            } 
            @media #{$until-mobile} {  // <=640px                  
                bottom: 65px;         
                .arrow {
                    left: 14px;
                }      
                .tooltip-inner {
                    min-width: 100px;
                }
            }
        }                       
    } //## social media generated class (from variables)
    @each $i in $socialmedia-types {
        .socialmedia_link { // a
            color: nth($i, 3);
        }
        .socialmedia--#{nth($i, 1)} {
            &::before {
                content: nth($i, 2);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: nth($i, 3);
            }
        }
    }
}

// + Social media login
// -------
.socialmedia_login {
    margin-top: 60px;
    margin-bottom: 24px;
    text-align: center;
}

.socialmedia_login_separator {
    position: relative;
    width: 40%;
    margin: 30px auto 40px;
    text-align: center;
    .text {
        z-index: 2;
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-family: $f-title;
        @include font-size($f-size-sm);
        font-weight: normal;
        color: $c-primary;
        text-transform: uppercase;
        padding: 4px 14px;
        background: #fff;
    }
    &::before {
        position: absolute;
        top: 50%;
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        background: $gray-2;
    }
    .login-form+& {
        margin-top: 0;
    }
}

.socialmedia_login_header {
    margin: 0 0 30px;
    font-weight: 600;
}

.socialmedia_login_options {
    margin: 0 0 28px;
}

// + Social media login
// -------
.socialmedia_share {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    .socialmedia_list {
        display: inline-block;
        margin: 0 -7px 0;
        li {
            margin: 0 7px;
            width: 35px;
        }
        a {
            width: 35px;
            &::before {
                @include font-size(35px);
            }
        }
    }
}
.socialmedia_share-caption {
    margin: 20px 28px 0 0;
    font-weight: 600;
    white-space: nowrap;
}