// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING STEPS
// ****************************************
//
// ****************************************

$steps-height: 62px;
$step-number-size: 16px;
$steps-number-color: #fff;
$steps-number-background: $c-primary;
$steps-label-fontsize: $f-size-md-sm;
$steps-color: $c-text;

// variables
$steps-gutter: 7px;
$steps-border-radius: 20px;
//## active
$steps-color-active: $c-secondary;
//## done
$steps-color-done: $steps-color-active;

.booking-steps_wrap {
    @include clearfix;
    margin: 40px auto 40px;
}
.booking-steps {
    position: relative;
    float: right;
    display: flex;
    width: 100%;
    counter-reset: booking_steps_counter;
    li {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        text-align: left;
        box-sizing: border-box;
        &::before { //## steps bottom line
            content: '';
            display: block;
            flex: 1 1 auto;
            margin: 0 $steps-gutter;
            height: 4px;
            background-color: $gray60;
            border-radius: $steps-border-radius;
        }
        &:last-child {
            flex-grow: 0;
            &::before { //## steps bottom line
                content: none;
            }
            &.active {
                margin: 0;
                flex-grow: 1;
                &::before { //## steps bottom line
                    content: '';
                }
            }
        }
        &.active,
        &.done {
            .label,
            .number {
                color: $c-secondary;
            }
        }
        &.active {
            margin: 0 $steps-gutter 0 0;
            color: $steps-color-active;
            &::before { //## steps bottom line
                background-color: $c-secondary;
            }
            &::after { //## airplane for active step
                @include iconfont($icon-airplane-right, null);
                @include font-size(18px);
                float: right;
                line-height: 0;
            }
            .label {
                display: block;
            }
        }
        &.done {
            &::before { //## steps bottom line
                background-color: $c-secondary;
            }
        }
    }
    .label {
        @include font-size(14px);
        position: absolute;
        display: none;
        left: 0;
        top: -28px;
        width: 100%;
        color: $c-primary;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .number {
        color: $gray60;
        font-weight: 600;
        order: -1;
        &::before {
            counter-increment: booking_steps_counter;
            content: counter(booking_steps_counter);
        }
    }
}
// [Responsive]
@media #{$mobile} { // >=640px
    .booking-steps_wrap {
        margin: 24px auto 40px;
    }
    .booking-steps {
        li {
            position: relative;
            flex: 1 1 100%;
            padding: 0 0 calculateRem(22px);
            &::before { //## steps bottom line
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 8px;
                margin: 0;
                border-radius: 0;
            }
            &::after {
                position: absolute;
                bottom: 4px;
                right: 0;
            }
            &:first-child {
                &::before {
                    border-radius: $steps-border-radius 0 0 $steps-border-radius;
                }
                &.active {
                    &::before {
                        border-radius: $steps-border-radius;
                    }
                }
            }
            &:last-child {
                &::before {
                    border-radius: 0 $steps-border-radius $steps-border-radius 0;
                }
                flex-grow: 1;
                &::before { //## steps bottom line
                    content: '';
                }
            }
            &.active {
                &::before {
                    width: calc(100% - 40px);
                    margin: 0 $steps-gutter 0 0;
                    border-radius: 0 $steps-border-radius $steps-border-radius 0;
                }
                &::after { //## airplane for active step
                    @include font-size(34px);
                }
                + li {
                    &::before {
                        border-radius: $steps-border-radius 0 0 $steps-border-radius;
                    }
                }
            }
        }
        .label {
            @include font-size(20px);
            position: static;
            display: block;
            text-align: left;
            text-transform: none;
        }
        .number {
            display: none;
        }
    }
}
@media #{$tablet-portrait} { // >=768px
    .booking-steps {
        max-width: calculateRem(640px);
    }
}
