// ********************
//  IBE COMPONENT
// ********************
//  BOOKING RETRIEVE
// ********************
//
//  + Booking retrieve login
//  + Booking retrieve results
//
// ********************


// + Booking retrieve login
// ----------
.booking-retrieve {
    margin: 60px 0 40px;
    .ui-form_group_wrap {
        @extend .ui-form_input-button;
    }
    .ui-form_button-action {
        @extend .btn-action;
    }
}
@media #{$tablet-landscape} { // >=992px
    .booking-retrieve {
        margin-right: 7%;
        margin-left: 7%;
    }
}