// main: ../styles.scss

// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  PAGE BUTTONS
// ****************************************
//
// ****************************************

// + Page buttons (bottom page)
// -------

//## to be used when button from summary goes to bottom on responsive
// -------
// @mixin bottom-fixed-bar-button {
//     @include btn-inverse;
//     z-index: $summary-fixed-button-zindex;
//     position: fixed;
//     bottom: 6px;
//     right: 14px;
//     width: auto;
//     min-width: 90px;
//     max-width: 110px;
//     min-height: 30px;
//     margin: 0;
//     padding: 6px 10px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     transition: bottom #{$summary-slideup-anima};
//     transition-duration: 0s;
// }
.page_buttons {
    @include clearfix;
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 0 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    button {
        display: block;
        width: 92%;
        min-width: 160px;
        margin: 10px auto;
        text-align: center;
    }
    // modifiers
    &.center {
        justify-content: center;
    }
}

//## to be used when button from summary goes to bottom on responsive
// -------
// @keyframes summaryButtonAnima {
//     0% { 
//         opacity: 0;
//         bottom: 6px; 
//     }
//     100% { 
//         opacity: 1;
//         bottom: auto;
//         top: 16.7vh;
//     }
// }

// @media #{$summary-collapsed} { // <=768px
//     .page_buttons {
//         margin-bottom: 20px;
//         //## to be used when button from summary goes to bottom on responsive
//         // -------
//         // .button.page_button-summary {
//         //     @include bottom-fixed-bar-button; 
//         // }
//         // .summary-opened & {
//         //     .button.page_button-summary {
//         //         opacity: 0;
//         //         animation: summaryButtonAnima 0s forwards;
//         //         animation-delay: .2s;
//         //     }
//         // }
//     }
// }

// [Responsive]
@media (min-width: 401px) { // >=401px
    .page_buttons {
        flex-direction: row;
        button {
            display: inline-block;
            width: auto;
            margin: 0;
        }
        button + button {
            margin: 0 0 0 14px;
        }
    }
}
@media #{$mobile-sm} { // >=480px
    .page_buttons {
        button {
            min-width: 200px;
        }
    }
}
@media #{$mobile} { // >=640px
    .page_buttons {
        justify-content: flex-end;
        text-align: right;
    }
}
