$scrolltop-position-bottom: 20px;
$scrolltop-size: 40px;
.btn-scroll-back {
	@include iconfont($icon-arrow-single-up, before);
	@include font-size($f-size-sm);
	width: $scrolltop-size;
	height: $scrolltop-size;
	position: fixed;
	right: 15px;
	bottom: $scrolltop-position-bottom;   
	z-index: $button-scrolltop-zindex;
	background-color: $c-primary;
	color: #fff;
	border-radius: 50%;
	opacity: 0; 
	box-shadow: 0 2px 11px -1px rgba(#000,.9);
	transition: all .25s ease-in-out;
	cursor: pointer;
	&.show {
		opacity: 1;
	}
	&:hover {
		background-color: darken($c-primary, 7%);
		border-color: darken($c-primary, 9%);
	}
	&:focus { outline: 0; }

	// [Responsive]
	//## when menu is collapsed at bottom, btn-scroll need to be a little bit higher
	@media #{$until-tablet-portrait} { // <=768px          
		bottom: #{$main-header-mobile-height + $scrolltop-position-bottom };
	}
	@media #{$desktop} { // >=1200px
		right: 2%;
	}
}
.overlay-in,
.overlay-in-md {
	.btn-scroll-back {
		display: none;
	}
}