// ********************
//  COMPONENTS
//
// ********************
//  FEEDBACK
// ****************************************
//
//  + Variables
//
// ****************************************

.feedback {
	text-align: center;
	.ui-rating {
		@include ui-rating-smiles;
	}
}
.feedback_trigger {
	@include btn-primary;
	@include font-size($f-size-xs);
	z-index: $overlay-zindex - 1;
	position: fixed;
	right: 0;
	top: 50%;
	padding: calculateRem(8px) calculateRem(10px) calculateRem(4px);
	font-weight: 400;
	border-radius: $border-radius $border-radius 0 0;
	transform: rotate(-90deg);
	transform-origin: 100% 100%;
	cursor: pointer;
}
.feedback_select {
	margin: calculateRem(20px) 0 calculateRem(40px);
}
.feedback_action {
	margin-top: 1rem;
	text-align: right;
}
.feedback_action-button {
	@include btn-primary;
	padding-left: 3rem;
	padding-right: 3rem;
}
@media #{$tablet-landscape} { // >=768px
	.feedback_trigger {
		@include font-size($f-size-sm);
		padding: calculateRem(12px) calculateRem(14px) calculateRem(8px);
	}
}