// main: ../../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  OFFERS
// ********************
//
// ********************

.offers-grid {
    margin-bottom: 60px;
    > * {
        padding-bottom: 32px;
    }
}

//## offer component
.offer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;;
    box-sizing: border-box;
    text-align: center;
    &[role='link'] {
        cursor: pointer; 
        &:focus {
            @include accessibility-outline;
        }
    }
    // [data-whatinput='keyboard'] & {
    //     &:focus {
    //         @include accessibility-outline;
    //     }
    // }
    // [data-whatinput='keyboard'] & {
    //     &:focus {
    //         @include accessibility-outline;
    //     }
    // }
    .show-more_link {
        align-self: center;
        margin-top: .5rem;
        @include arrow-sufix;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.2;
    }
}
.offer_image {
    position: relative;
    &::after { //## dark gradient over image
        z-index: 2;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background: linear-gradient(to bottom, rgba(#000,0) 0%,rgba(#000,.4) 70%);
    }
    &.is-banner {
        &::after { display: none; }
        .offer_image_bg {
            height: auto;
            picture { display: block; }
            img {
                position: relative;
                top: 0;
                width: 100%;
                height: auto;
                transform: translate(0);
            }
        }
    }
}
.offer_image_bg {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: $border-radius;
    img {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        // object-position: center;
        // transform: translate(-50%,-50%);
        // border-radius: $border-radius;

        position: absolute;
        left: 0; // left: 50%;
        top: 50%;
        // width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        // transform: translate(-50%, -50%);
        transform: translate(0, -50%);
        border-radius: $border-radius;
    }
}
.offer_image_caption {
    @extend .title-h2;
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 30px;
    display: flex;
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 0 12%;
    box-sizing: border-box;
}
.offer_icon {
    // @extend .icon;
    font-size: $f-iconsize-xlg;
    color: $c-secondary;
    text-align: center;
    + .offer_caption {
        margin-top: 20px;
    }
}
.offer_image_title,
.offer_image_brand {
    flex: 1 1 auto;
    img { width: 100px; }
}
.offer_title {
    @extend .title-h3;
    @include font-size($f-size-md);
    color: $c-primary;
    margin: 10px 0 6px;
}
.offer_image_brand {
    text-align: right;
}

.offer_caption {
    margin-bottom: 0;
    @include font-size($f-size);
    text-align: center;
    line-height: 1.2;
}

.offer-deal {
    position: relative;
    text-decoration: none;
    // &:first-child {
    //     padding-top: 1rem;
    // }
    &[role=button] {
        cursor: auto;
    }
    .offer_image_brand {
        float: none;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        transform: translateY(0);
        transition: all .18s ease-in-out;
        img {
            width: 175px;
            max-height: 100%;
            &.brand { display: none; }
        }
    }
    .offer_caption {
        color: $c-text;
    }
    .offer_image_bg {
        img {
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
    &:hover {
        .offer_image_brand {
            transform: translateY(-10px);
        }
    }
    @media #{$until-mobile} { // <= 640px
        .offer_image {
            &::after { display: none; }
        }
        .offer_image_bg {
            display: none;
        }
        .offer_image_caption {
            position: relative;
            bottom: 0;
            height: 74px;
        }
        .offer_image_brand {
            height: auto;
            margin: 0;
            img {
                width: 100px;
                &.brand { display: block; }
                &.brand-light { display: none; }
            }
        }
    }
}


// [Responsive]
@media #{$mobile-sm} {
    .offer {
        margin-bottom: calculateRem(10px);  
        .show-more_link {
            position: absolute;
            width: fit-content;
            right: 50%;
            bottom: -$gutter * 1.75;
            transform: translateX(50%);
        }
    }
    .offer-deal {
        padding-top: 1rem;
    }
}
@media #{$tablet-portrait} {
    .offer {
        .show-more_link {
            right: 0;
            transform: none;
        }
    }
}
