// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  PRODUCT CARD
// ********************
//
//
//
// ********************
//
// + carousel simulation -> remove when true carousel is implemented
//
// ********************

$desktop-quantity: 4;
$mobile-quantity: 2;

.product-card {
    //## when product is added
    &.active {
        .product-card_button {
            .button {
                @include iconfont($icon-check-circle);
                color: $c-secondary;
                &::before { // ## checked icon
                    display: inline-block;
                    @include font-size(20px);
                    color: $c-secondary;
                    vertical-align: text-top;
                    margin-right: 5px;
                }
            }
        }
        .product-card_footer {
           border-bottom-color: $c-secondary;
        }
    }
}
.product-card_image {
    position: relative;
    width: 100%;
    min-height: 160px;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }
    .promo-label {
        position: absolute;
        top: 0;
        right: 0;
    }
    @media #{$mobile-sm} { // >= 480px
        height: 192px;
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    @media #{$mobile} { // >= 640px
        height: 230px;
    }
}
.product-card_title {
    position: relative;
    display: block;
    height: 44px;
    line-height: 1.3;
    padding-top: 20px;
    .ui-label_i { //## information icon
        position: absolute;
        top: 3px;
        right: 0;
        @include font-size(13px);
        color: $c-primary;
    }
    .tooltip.show {
        max-width: calc(100% - 20px);
    }
}
.product-card_footer {
    @include clearfix;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    padding-bottom: 14px;
    border-bottom: 3px solid $gray60;
}
.product-card_price {
    line-height: 1.2;
    p { margin: 0; }
    .label, .value {
        display: block;
    }
    .label {
        color: $c-primary;
    }
    .value {
        color: $c-secondary;
    }
}
.product-card_button {
    margin-left: auto;
    .button {
        min-width: 110px;
    }
}
@media #{$until-tablet-portrait} { // <=768px
    .product-card_title {
        height: 38px;
        @include font-size($f-size-sm);
    }
    .product-card_footer {
        flex-wrap: wrap;
        flex-direction: column;
        border-bottom: none;
    }
    .product-card_button {
        margin-left: 0;
        width: 100%;
        .button {
            display: block;
            width: 100%;
        }
    }
    .product-card_price {
        width: 100%;
        padding: 6px 0 10px;
        .label {
            display: none;
        }
        .value {
            font-family: $font-name;
        }
    }
    .product-card {
        margin: 0;
    }
}

//## carousel
$carousel-margin: 22px;
.carousel_wrap {
    z-index: 2;
    position: relative;
    width: 100%;
    margin: 0;
    transition-duration: 0s;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}
.carousel {
    z-index: 2;
    display: flex;
    //flex-wrap: wrap;
    width: calc(100% - (#{$carousel-margin} * 2));
    height: 100%;
    margin: auto;
    overflow: hidden;

}
// .carousel_control {
//     z-index: 3;
//     height: 0;
// }
.carousel_control_btn {
    z-index: 3;
    position: absolute;
    top: 0;
    width: $carousel-margin;
    height: 100%;
    color: $c-secondary;
    @include font-size($f-size-xxlg);
    display: flex;
    align-items: center;
    &:hover {
        color: darken($c-secondary,10%);
    }
    &:focus {
        outline-offset: -2px;
    }
    &.prev,&.next {
        padding: 0;
        &::before {
            position: relative;
            cursor: pointer;
        }
    }
    &.prev {
        @include iconfont($icon-arrow-triangle-left,before);
        left: 0;
        &::before {
            left: -10px;
        }
    }
    &.next {
        @include iconfont($icon-arrow-triangle-right,before);
        right: 0;
    }
}
.carousel_item {
    box-sizing: border-box;
}
