// main: ../../styles.scss
// ********************
//  COMPONENTS
//
// ********************
//  SOCIAL MEDIA
// ********************
//
// ********************


// + Variables
// -------
$socialmedia-size: 42px;
$socialmedia-types : 
    "facebook" $icon-social-facebook-circle $c-facebook,
    // "wechat" $icon-error-circle $c-wechat,
    // "weibo" $icon-error-circle $c-weibo,
    "twitter" $icon-social-twitter-circle $c-instagram,
    // "line" $icon-social_line $c-socialline,
    "feed" $icon-social-feed-circle $c-primary;
$socialmedia-grow-scale: 1.2;
$socialmedia-transform: -50 - (50 - 50 * $socialmedia-grow-scale / 1);


// + Social media list
// -------
.socialmedia_list {
    display: inline-flex;
    padding: 0;
    //margin: 0 -16px;
    li {
        display: inline-block;
        margin-left: calculateEm(17px);
        &:first-child {
            margin-left: 0;
        }
    } 
    // modifiers
    &.flat {
        .socialmedia_link {
            &:before {
                color: $c-secondary;
            }
            &:hover {
                &:before {
                    color: $btn-primary-bg-hover;
                }
            }
        }
    }
    @media #{$until-tablet-portrait} { // <= 768px
        text-align: center;
    }
}
@each $i in $socialmedia-types { // social media generated class (from variables)
    .socialmedia--#{nth($i, 1)} {
        color: nth($i, 3);
        &::before {
            content: nth($i, 2);
            color: nth($i, 3);
        }
    }
}
.socialmedia_link { // anchor
    display: block;
    text-decoration: none;
    &:hover {    
        &::before {                
            transform: scale($socialmedia-grow-scale);
        }     
    }
    &::before { //## social media fonticons
        font-family: $f-icons;
        font-size: $socialmedia-size;
        line-height: 1;
        transition: .08s ease-out;
    }   
}


// + Social media login
// -------
.socialmedia_login {
    margin-top: 60px;
    text-align: center;
}


// + Social media login
// -------
.socialmedia_login_separator {
    position: relative;
    width: 40%;
    margin: 30px auto 40px;
    text-align: center;
    .text {
        z-index: 2;
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-family: $f-title;
        @include font-size($f-size-sm);
        font-weight: normal;
        color: $c-primary;
        text-transform: uppercase;
        padding: 4px 14px;
        background: #fff;
    }
    &::before {
        position: absolute;
        top: 50%;
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        background: $c-color4;
    }
    .login-form+& {
        margin-top: 0;
    }
}
.socialmedia_login_header {
    margin: 0 0 30px;
    font-weight: 600;
}
.socialmedia_login_options {
    margin: 0 0 28px;
}


// + Social media share
// -------
.socialmedia_share {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    .socialmedia_list {
        display: inline-block;
        margin: 0 -7px 0;
        li {
            margin: 0 7px;
            width: 35px;
        }
        a {
            width: 35px;
            &::before {
                @include font-size(35px);
            }
        }
    }
}
.socialmedia_share-caption {
    margin: 20px 28px 0 0;
    font-weight: 600;
    white-space: nowrap;
}