// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR
// ********************
//
//    + Journey header
//    + Trip selector
//        ++ Flights table
//    + Connections data (modal)
//
// ********************

.tripselector_outbound,
.tripselector_inbound {
    margin: 0 0 40px 0;
    &.is-selected {
        .tripselector_modifier {
            display: flex;
        }
        .dayselector {
            display: none;
        }
        .flight {
            display: none;
            &.is-selected {
                display: block;
            }
        }
    }
}
.tripselector_inbound {
    .flightselect_header {
        margin-top: 76px;
    }
}

// + Journey header
// -------
.flightselect_header {
    z-index: 1;
    position: relative;
    width: 100%;
    &.inbound {
        margin-top: 68px;
        @media #{$until-tablet-portrait} { // <=768px
            margin-top: 40px;
        }
    }
}
.flightselect_header_route {
    margin-bottom: 30px;
    .label {
        @extend .title-h2; 
        font-weight: 700;
        margin-bottom: 0;
    }
    .route {
        @extend .title-h1;
        padding-right: 180px;
        font-size: $f-size-xxlg;
       
    }
    @media #{$until-tablet-portrait} { // <=768px
        .label {
            @include font-size($f-size);
        }
        .route {
            padding-right: 0;
            @include font-size($f-size-md);
        }       
    }
}


// + Trip selector
// -------
.flights {
    position: relative;
    clear: both;
}

$col-duration-width: 10%;
$col-flights-width: 26%;
$col-prices-width: calc(100% - ((#{$col-flights-width} * 2) + #{$col-duration-width}));

//## generate price rate fares styles
//## using general fares quantity value from variales.scss
@mixin pricerate-fares-style {
    .price-rate {
        @for $i from 1 through $fare-quantity {
            &.fare#{$i} {
                @if $i == 1 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare1-background;
                        .fare-label {    
                            @include fare1-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare1-style;
                    }
                }
                @else if $i == 2 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare2-background;
                        .fare-label {    
                            @include fare2-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare2-style;
                    }
                }
                @else if $i == 3 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare3-background;
                        .fare-label {    
                            @include fare3-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare3-style;
                    }
                }
                @else if $i == 4 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare4-background;
                        .fare-label {    
                            @include fare4-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare4-style;
                    }
                }
                @else if $i == 5 {
                    @media (min-width: $bp-tablet-landscape-min) { // >=769px
                        color: $fare5-background;
                        .fare-label {    
                            @include fare5-style;                               
                        }
                    }
                    @media #{$until-tablet-portrait} { // <= 768px
                        @include fare5-style;
                    }
                }
            }
        }
    }
}

// ++ Flights table
.flights_table {
    width: 100%;
    border-bottom: 2px solid $c-primary-dark;
    .flight {
        position: relative;
        display: block;
        border-top: 2px solid $c-color1;
        .tooltip-note {
            display: none;
        }
        &:first-child {
            border-top: 0;
        }
        &.is-selected {
            border-top: 0;
            .rowFlight {
                padding-top: 14px;
            }
            .price-rate {
                .fare-label {
                    display: block;
                }
                .label {
                    display: none;
                }
            }
        }
        &.is-disabled {
            cursor: default;
            .rowFlight {
                opacity: .3;
                transition: all .2s linear;
            }
            .tooltip-note {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                max-width: 100%;
                align-items: center;
                justify-content: center;
                opacity: 0;
                background-color: #fff;
                visibility: hidden;
                transition: all .37s ease;
            }
            &:hover {
                .tooltip-note {
                    opacity: .74;
                    visibility: visible;
                }
            }
        }
    }
    .rowFlight {
        display: flex;
        padding: 20px 0;
    }
    .colDeparture,
    .colReturn,
    .colDuration,
    .colPrices {
        box-sizing: border-box;
    }
    .colDeparture,
    .colReturn {
        flex: 1 1 $col-flights-width;
        width: $col-flights-width;
        padding-left: 34px;
        .route {
            position: relative;
        }
        .flight_label {
            display: block;
            color: $c-primary-dark;               
            line-height: 1.3;
        }
        .time {
            display: inline-block;
            font-family: $f-title;
            @include font-size($f-size-super);
            line-height: 1;
            color: $c-primary-dark;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .extra-day {
            span {
                display: inline-block;
                padding-left: 4px;
            }
        }
        .airport-name {
            display: block;
            clear: both;
            @include font-size($f-size);
            line-height: 1.3;
            white-space: normal;
        }
    }
    .colReturn {
        text-align: right;
    }
    .colDuration {
        flex: 0 0 $col-duration-width;
        width: $col-duration-width;
        text-align: center;
        .icon {
            @include iconfont($icon-clock, before);
            @include font-size(20px);
            display: block;
            margin-top: 4px;
            &::before {
                @include font-size($f-size-xlg);
                color: $c-secondary;
            }
        }
        .time {
            @include font-size($f-size);
            font-weight: 700;
        }
        .flight-number {
            margin-top: 2px;
        }
    }
    .colPrices {
        flex: 0 0 $col-prices-width;
        width: $col-prices-width;
        align-self: center;
        text-align: right;
    }
    .price-rate {
        @extend .button;
        @extend .btn-secondary;
        position: relative;
        display: flex;
        float: right;
        justify-content: center;
        align-items: center;
        width: auto;
        white-space: nowrap;
        cursor: default;
        .label {
            position: relative;
            top: 1px;
            text-transform: none;
            margin-right: 4px;
        }
        .label,
        .currency {
            @include font-size($f-size-xs);
            font-weight: 400;
        }
        .currency {
            margin-right: .25em;
        }
        .price {
            @include font-size($sf-price-fontsize);
            display: inline-block;
            font-weight: 700;
        }
        .fare-label {
            display: none;
            text-transform: capitalize; 
            &::before {
                position: relative;
                float: right;
                top: calculateEm(4px);
                margin: 0 0 0 10px;
                font-size: 1.3em;
            }
        }
        &.disabled,
        &.disabled:hover {
            opacity: 1;
            background: none;
            border: 0;
            -webkit-user-select: none;
            user-select: none;
            .price {
                font-weight: 400;
            }
        }
        &.selected {
            flex-direction: column;
            align-items: flex-start;
            background-color: transparent;
            border: 0;
            .price_currency {
                display: block;               
            } 
            .currency, .price {        
                padding: 0;
                @include font-size($f-size-md-sm);
                font-weight: 500;
            }                    
        }
        .promo-label {
            margin-right: 16px;
        }
    }
    button.price-rate,
    a.price-rate { cursor: pointer; }

    @include pricerate-fares-style;
}
// extra day
.extra-day {
    @include font-size($f-size-xs);
    position: relative;
    top: -3px;
    display: inline-block;
    color: $c-primary-dark;
    line-height: 1;
    padding: 2px 4px;
    border-radius: $border-radius;
    background: $gray95;
}
.flights_noresults { 
    @include font-size($f-size-lg);
    text-align: center;
    text-align: center;
    padding: 30px 40px;
    margin-top: 14px;
    background: $gray95;
}
.flights_fares_tabs { display: none; }

//## connections
.connection {
    @include font-size($f-size-xs);
    text-align: center;
    .connection_link {
        color: $c-text;
        overflow: visible;
    }
    button {
        cursor: pointer;
        .connection_link_label { text-decoration: underline; }
    }
}
.connection_link_wrap {
    display: inline-block;
    & + & {
        &::before {
            content: '+';
            margin-left: 2px;
        }
    }
}
.connection-stopover {
    .connection_link {
        @include iconfont($icon-pin-airplane,after);
        &::after {
            @include font-size(22px);
            position: relative;
            color: $c-primary;
            line-height: 0;
            top: 3px;
        }
    }
    .connection_link_label {
        @include hide-visually;
    }
}

// [Responsive]
@media (min-width: $bp-tablet-landscape-min) { // >=769px
    .flights_table {
        .price-rate {
            &.selected {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                width: 240px;
                padding: 10px 0;
                border-radius: 0;
                &:hover {
                    .fare-label {
                        @include iconfont($icon-edit);
                    }
                } 
                .fare-label {
                    @include iconfont($icon-check);
                    @include font-size($f-size-sm);
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 7px;
                    padding: 0px 12px;        
                    border-radius: 12px;
                    line-height: 1.8;                                                                       
                    text-align: left;                
                    cursor: pointer;
                    &::before {
                        position: absolute;
                        right: calculateEm(12px);
                        top: calculateEm(4px);
                        font-size: 18px; // IE10 Support
                    }
                }
                .label {
                    display: none;
                }
                .currency {
                    margin-right: .25em;
                }
            }
        }
    }
    .flights_fares_wrap { // old HK component support
        padding-top: 1rem;
    }
}
@media #{$until-tablet-portrait} { // <= 768px
    $col-duration-width: 114px;
    $col-flights-width: calc((100% - #{$col-duration-width}) / 2);
    $col-prices-width: 100%;
    .flights_table {
        .rowFlight {
            flex-wrap: wrap;
            padding: 24px 0;
        }
        .colDeparture,
        .colReturn {
            flex: 1 1 $col-flights-width;
            padding-left: 0;
        }
        .colReturn {
            text-align: right;
            .route {
                white-space: nowrap;
                .time {
                    float: right;
                }
                .extra-day {
                    top: 2px;
                    margin-right: 4px;
                    span { display: none; }
                }
            }
        }
        .colDuration {
            flex: 0 0 $col-duration-width;
            min-width: $col-duration-width;
            text-align: center;
            .time {
                display: inline-block;
                margin-right: 2px;
                @include font-size($f-size-sm);
            }
            .connection .info-link::after { display: none; }
        }
        .colPrices {
            flex: none;
            width: $col-prices-width;
            display: block;
            clear: both;
            text-align: center;
            margin-top: 14px;
        }
        .price-rate {
            display: inline-block;   
            float: none;
            width: auto;
            text-align: center; 
            padding: 10px 18px;
            .price {
                @include font-size($f-size);
            } 
            .fare-label {
                @include font-size($f-size-xs);
                margin-right: 14px;
            }
            &.selected {
                text-align: center; 
                .fare-label {
                    background-color: transparent;
                    line-height: normal;
                } 
                .price_currency {
                    @include font-size($f-size); 
                    display: inline-block;
                    vertical-align: middle;
                }
                .currency {
                }
            }
        }
    }
}
@media #{$until-mobile} { // <= 640px
    .flightselect_header_route {
        margin-bottom: 40px;
    }
    .flights_table {
        .colDeparture,
        .colReturn {
            .route {
                .time {
                    @include font-size($f-size-lg);
                    margin-bottom: 10px;
                }
                .airport-name, .flight_label {
                    @include font-size($f-size-sm);
                }
            }
        }
        .colReturn {
            .route {
                .extra-day {
                    top: 0;
                }
            }
        }
        .colDuration {
            .time {
                @include font-size($f-size-sm);
                display: block;
            }
        }
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .flights_table {
        .colDeparture,
        .colReturn {
            .airport-code {
                display: block;
            }
        }
        .colPrices {
            .price-rate {
                min-width: auto;
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                align-items: center;
            }
        }
    }
}

@media #{$mobile} { // >= 640px
    .connection {
        @include font-size($f-size);
    }
}
@media #{$tablet-landscape} { // >= 992px
    $col-duration-width: 12%;
    $col-flights-width: 28%;
    $col-prices-width: calc(100% - ((#{$col-flights-width} * 2) + #{$col-duration-width}));
    .flights_table {
        .colReturn {
            flex: 1 1 $col-flights-width;
        }
        .colDuration {
            flex: 0 0 $col-duration-width;
        }
        .colPrices {
            flex: 0 0 $col-prices-width;
        }
    }
}
