// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR FARES
// ********************
//
//  + Mixin flight fares styles
//  [Responsive]
//
// ********************


$select-fares-breakpoint: $bp-tablet-portrait; // 768px

//## generate flight selector fares header
//## using general fares quantity value from variales.scss
@mixin flight-fares-options-styles {
    @for $i from 1 through $fare-quantity {
        .flights_fares_item.fare#{$i} {
            @if $i == 1 {
                @media (min-width: ($select-fares-breakpoint + 1)) { // >768px
                    .flights_fares_header {
                        @include fare1-style;
                    }
                    .fares_list {
                        .icon {
                            color: $fare1-background;
                        }
                    }
                }
                @media (max-width: $select-fares-breakpoint) { // <=768px
                    @include fare1-style;
                }
            }
            @else if $i == 2 {
                @media (min-width: ($select-fares-breakpoint + 1)) { // >768px
                    .flights_fares_header {
                        @include fare2-style;
                    }
                    .fares_list {
                        .icon {
                            color: $fare2-background;
                        }
                    }
                }
                @media (max-width: $select-fares-breakpoint) { // <=768px
                    @include fare2-style;
                }
            }
            @else if $i == 3 {
                @media (min-width: ($select-fares-breakpoint + 1)) { // >768px
                    .flights_fares_header {
                        @include fare3-style;
                    }
                    .fares_list {
                        .icon {
                            color: $fare3-background;
                        }
                    }
                }
                @media (max-width: $select-fares-breakpoint) { // <=768px
                    @include fare3-style;
                }
            }
            @else if $i == 4 {
                @media (min-width: ($select-fares-breakpoint + 1)) { // >768px
                    .flights_fares_header {
                        @include fare4-style;
                    }
                    .fares_list {
                        .icon {
                            color: $fare4-background;
                        }
                    }
                }
                @media (max-width: $select-fares-breakpoint) { // <=768px
                    @include fare4-style;
                }
            }
            @else if $i == 5 {
                @media (min-width: ($select-fares-breakpoint + 1)) { // >768px
                    .flights_fares_header {
                        @include fare5-style;
                    }
                    .fares_list {
                        .icon {
                            color: $fare5-background;
                        }
                    }
                }
                @media (max-width: $select-fares-breakpoint) { // <=768px
                    @include fare5-style;
                }
            }
        }
    }
}
@include flight-fares-options-styles;

.flights_fares {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0 0 24px;
}
.btn-fares_flight {
    display: block;
    text-align: right;
    margin: 0 .6% 15px;
    @media #{$tablet-portrait} { // >=768px
        display: none;
    }
}
.flights_fares_header {
    @include font-size($f-size);
    font-family: $f-title;
    display: block;
    width: 100%;
    padding: 6px 14px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all .2s ease;
}
.flights_fares_body {
    @include font-size(14px);
    margin: 0;
    height: 100%;
    padding: 0 8%;
    transition: all .1s ease;
}
.flights_fares_button {
    @extend .btn-secondary;
    @include font-size(16px);
    position: relative;
    width: 100%;
    height: 44px;
    color: $c-primary-dark;
    padding-left: 8px;
    padding-right: 8px;
    border: 0;
    border-radius: 0;
    white-space: nowrap;
    background: $c-color3;
    .promo-label {
        position: absolute;
        left: 10px;
        top: 13px;
        padding-bottom: 0;
    }
}
.flights_fares_item {
    position: relative;
    width: 100%;
    margin: 10px 0;
    border-radius: 20px 20px 0 0;
    cursor: pointer;

    //## unavailable fare
    &.unavailable {
        color: $c-color1;
        cursor: default;
        pointer-events: none;
        &:hover {
            background: inherit;
        }
        .flights_fares_button {
            text-transform: capitalize;
            opacity: .50;
        }
    }
}
.fares_list {
    margin: 14px 0;
    @include font-size($f-size);
    li {
        position: relative;
        margin: 2px 0;
    }
}
.fares_list_subtitle {
    margin: 3px 0 0;
    font-weight: 600;
}
.flights_fares_fare-sublist {
    @extend .list-style1;
    @include font-size($f-size-sm);
    li {
        &::before {
            display: none;
        }
    }
}

// [Responsive]
@media (min-width: ($select-fares-breakpoint + 1)) { // >768px
    $flight-fares-items-space: 1%;
     //## 2 columns 
     .flights_fares {
        flex-flow: nowrap;
     }
    .flights_fares_item {
        flex: 1 1 calc((100% / 2) - (#{$flight-fares-items-space} * 2));
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 $flight-fares-items-space;
        margin-bottom: 24px;

        flight-fare { //## for angular component
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: stretch;
        }
        &:hover {
            background: $c-color3;
        }
        &:focus {
            outline: 0;
        }
    }
    .flights_fares_footer {
        margin-top: auto;
    }
}
@media (min-width: ($select-fares-breakpoint + 164)) { // >=930px
    $flight-fares-items-space: .6%; 
    .flights_fares_item {
        flex: 1 1 calc((100% / #{$fare-quantity}) - (#{$flight-fares-items-space} * 2));
        margin: 0 $flight-fares-items-space;
    }
}

@media (max-width: $select-fares-breakpoint) { // <=768px
    .flights_fares_item {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border-radius: 60px;
        box-sizing: border-box;
        flight-fare { // Angular support
            display: flex;
            align-items: center;
            width: 100%;
        }
    }
    .flights_fares_header {
        display: flex;
        padding: 0;
        .fare-name {
            @include font-size(12px);
            text-align: left;
        }
    }
    .flights_fares_body { display: none; }
    .flights_fares_footer {
        margin-left: auto;
    }
    .flights_fares_button {
        position: relative;
        top: 1px;
        min-width: auto;
        height: auto;
        color: #fff;
        padding: 0;
        text-align: right;
        background: transparent;
    }
    .fares_list {
        padding-top: 0;
    }
}