// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  U CONNECT
// ****************************************
//
// ****************************************

.u-connect {
    margin: 43px 0 0;
    line-height: 1.2;
    .list-style1 {
        margin-bottom: 15px;
        li {
            margin: 2px 0;
        }
    }
}
.u-connect_title {
    @extend .title-h3;
    margin: 0 0 5px;
}
.u-connect_intro {
    margin-bottom: 10px;
}
.u-connect_price {
    font-family: $font-name;
    color: $c-secondary;
    font-weight: 600;
    margin-bottom: 18px;
}
.u-connect_footer {
    .moreinfo {
        display: inline;
    }
}

// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .u-connect {
        margin-bottom: 34px;
    }
}
@media #{$until-mobile} { // <=640px
    .u-connect_footer {
        .moreinfo {
            display: none;
            &.show {
                display: inline;
            }
        }
    }
}
