<section class="l-main__section u-bg-1">
    <div class="l-main__container">
        <div class="news l-news-container">
            <div class="l-news-container__logo l-news-container__logo--center">
                <div class="news__logo">
                    <img src="https://d2eh7florc4mjb.cloudfront.net/img/evelop/graficos/logo.png" alt="Evelop" title="Evelop">
                </div>

                <!--<div class="social u-mt-70-l u-mt-35">
                <a class="icon-social icon icon-facebook u-radius u-bg-white"></a>
                <a class="icon-social icon icon-twitter u-radius u-bg-white"></a>
                <a class="icon-social icon icon-instagram u-radius u-bg-white"></a>
            </div>-->
                <div class="social u-mt-15">
                    <a class="icon-social icon icon-facebook u-radius u-bg-white"></a>
                    <a class="icon-social icon icon-twitter u-radius u-bg-white"></a>
                    <a class="icon-social icon icon-instagram u-radius u-bg-white"></a>
                </div>
            </div>
            <!--
                        <div class="l-news-container__claim">
                            <div class="news__legend u-uppercase u-cl-7">Suscríbete a nuestra newsletter</div>
                            <div class="news__title u-cl-primary">
                                Mantente al día con las mejores ofertas de vuelos y promociones
                            </div>
                        </div>
                        <div class="l-news-container__form">
                            <form class="news__form">
                                <div class="input input--has-icon">
                                        <input required  class="input__element "  placeholder="Introduce tu email" >
                                
                                
                                
                                
                                
                                        <span class="input__icon icon icon-email "></span>
                                
                                </div>
                                
                                <div class="news__action">
                                    <span class="news__conditions">
                                        Al suscribirse, aceptas las <a href="#" class="u-underline">condiciones generales</a> de Evelop
                                    </span>
                                    <button type="button"  class="button news__button button--big button--full">
                                        <span class="button__text">Enviar</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        -->
        </div>
    </div>

</section>

<footer class="footer l-main__footer u-cl-2 l-main__container" data-limit="#fixed-item">

    <div class="footer__img">
        <img src="{{ project_assets_path }}imgs/client/graphics/iata-member.jpg">
    </div>
    <div class="footer__wrap">
        <nav class="footer__nav">
            <a href="http://agencias.evelop.com/b2b/pages/login/index.html;jsessionid=07AC999310A0AA9DA83269B2F927689B-n2.web5-app03" class="footer__link">
                        Acceso agencias
                    </a>
            <a href="/footer-links/general-conditions.html" class="footer__link">
                        Condiciones generales
                    </a>
            <a href="/footer-links/data-protection.html" class="footer__link">
                        Protección de datos
                    </a>
            <a href="/footer-links/accessibility.html" class="footer__link">
                        Accesibilidad
                    </a>
            <a href="/footer-links/cookies.html" class="footer__link">
                        Política de cookies
                    </a>
        </nav>
        <div class="footer__copy">
                    @ Evelop 2017 - Todos los derechos reservados
                </div>
    </div>
</footer>