<section class="l-search-brief u-bg-primary u-pv-20">
    <div class="l-main__container">
        <div class="search-brief search-brief--price">
            <div class="search-brief__item search-brief__item--image">
                <figure class="u-aspect">
                    <img src="https://dummyimage.com/100x100/000/fff" class="u-radius u-border u-border--pr-light u-border--bw-3">
                </figure>
            </div>
            <div class="search-brief__item search-brief__item--flight">
                <div class="u-uppercase u-flex u-flex--center">
                    <div>Mad</div>
                    <i class="icon icon-arrow-right u-ph-10 u-cl-white-o"></i>
                    <div>Hav</div>
                </div>
                <div class="">Ida y vuelta</div>
            </div>
            <div class="search-brief__item search-brief__item--pax">
                <div class="search-brief__date">20 Sep  - 03 Oct</div>
                <div class="search-brief__pax u-cl-white-o">Pasajeros</div>
                <div>2 adultos / 1 niño</div>
            </div>
            <div class="search-brief__item search-brief__item--dates">
                <div class="search-brief__date">20 Sep  - 03 Oct</div>
                <a class="search-brief__modify" href="#">
                    <i class="search-brief__modify-icon icon icon--x2 icon-search"></i>
                    <span class="search-brief__modify-text u-underline">Modificar Búsqueda</span>
                </a>
            </div>
            <div class="search-brief__item search-brief__item--price js-toggle" data-target="#outside-breakdown" data-overflow="true">
                <div class="search-brief__price u-flex u-flex--center">
                    <i class="icon icon-duty-free icon--x2 u-mr-10"></i>
                    <div class="search-brief__price-container js-tooltip" data-content="¡Lorem ipsum!">
                        <div class="search-brief__price-text">Total reserva</div>
                        <div class="search-brief__price-total">1.623,00€</div>
                        <div class="search-brief__price-tax">Tasas y cargos de emision incluidos</div>
                        <div class="search-brief__price-breakdown">Desglose de la reserva <i class="icon icon-chevron-right  "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>