// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  BOXES
// ****************************************
//  + box
//  + box cards
//
// ****************************************
//  + box
//-------------------
$box-primary-color: $c-primary;
.box {
    border: 5px solid $box-primary-color;
}
.box_title {
    padding-left: 30px;
    padding-bottom: 3px;
    position: relative;
    background: $box-primary-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    .icon {
        height: 17px;
        width: 17px;
        padding: 1px;
        @include font-size($f-size-sm);
        position: absolute;
        left: 0;
        border-radius: 100%;
        background: #fff;
        color: $box-primary-color;
        vertical-align: middle;
        text-align: center;
    }
}
.box_body {
    background-color: #fff;
}

// + box cards
// -------
.box-cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: stretch;
    align-items: stretch;
}
.box-cards_item {
    position: relative;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: $c-primary;
    & > a {
        text-decoration: none;
    }
}
.box-cards_item_link {
    display: block;
}
.box-cards_item_icon {
    @include font-size(74px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-color1;
    text-align: center;
    line-height: 0;
    padding-bottom: 14px;
}
.box-cards_item_caption {
    .title {
        @include font-size($f-size);
        color: #fff;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 0;
    }
    .text {
        @include font-size($f-size-sm);
        color: #fff;
        line-height: 1.1;
        margin-bottom: 0;
    }
}