// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  BUTTONS
// ****************************************
//
// ****************************************

@mixin button-generator($color, $background, $border, $variation: 'darker', $insetborder: null) {
    color: $color;
    background-color: $background;
    border-color: $border;
    @if $insetborder == insetborder {
        box-shadow: inset 0 0 0 1px $border;
    }
    &:focus,
    &.focus {
        color: $color;
        background-color: $background;
        border-color: $border;
    }
    &:hover {
        color: $color;
        @if $insetborder == insetborder {
            box-shadow: inset 0 0 0 1px tint($border, 30%);
        }
        @if $variation == darker {
            background-color: darken($background, 7%);
            border-color: darken($border, 9%);
        }
        @if $variation == lighter {
            color: tint($color, 30%);
            background-color: tint($background, 30%);
            border-color: tint($border, 30%);
        }
    }
}

//## reset button tag
button {
    padding: 0;
    font-family: $f-body;
    font-size: inherit;
    background: none;
    border: none;
}
.button {
    @include font-size($button-fontsize);
    position: relative;
    display: inline-block;
    min-width: 200px;
    padding: 10px 18px;
    font-family: $button-fontfamily;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 0;
    cursor: pointer;
    transition: all .06s linear;
    box-sizing: border-box;

    &[disabled='disabled'],
    &disabled,
    &.disabled {
        cursor: default;
        opacity: .44;
        -webkit-user-select: none;
        user-select: none;
    }
    &.btn-inline {
        min-width: auto;
    }
}
//## anchor as button
a {
    &.button {
        text-decoration: none;
    }
}

.btn-loading {
    $button-loader-size: 12px;
    position: relative;
    opacity: .67;
    &::before {
        content:'';
        position: relative;
        float: right;
        width: $button-loader-size;
        height: $button-loader-size;
        margin-left: 14px;
        margin-right: -4px;
        border: 2px solid;
        border-left-color: transparent;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .5s;
        animation: buttonRotate 1s linear infinite;
    }
}
//## button loading animation
@keyframes buttonRotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

// + Styles
// -------
@mixin btn-action {
    @include button-generator($btn-action-color, $btn-action-bg, $btn-action-border);
}
@mixin btn-primary {
    @include button-generator($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
@mixin btn-secondary {
    @include button-generator($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border,lighter);
    &:hover,
    &.btn-loading {
        box-shadow: inset 0 0 0 1px $btn-secondary-bg-hover;
    }
    &[disabled='disabled'],
    &.disabled,&:disabled {
        box-shadow: inset 0 0 0 1px inherit;
    }
}
@mixin btn-inverse {
    @include button-generator($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border, lighter);
}
@mixin btn-light {
    @include button-generator($btn-light-color, $btn-light-bg, $btn-light-border, lighter);
}


// ++ Button action
.btn-action {
    @include btn-action;
}
.btn-primary {
    @include btn-primary;
}
.btn-secondary {
    @include btn-secondary;
}
.btn-inverse {
    @include btn-inverse;
}
.btn-light {
    @include btn-light;
} 

.button-centered {
    text-align: center;
    margin: 40px 0;
}

// button sizes
.btn-sm {
    @include font-size($f-size-xs);
    padding: 6px 12px;
}