// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  DATEPICKER
// ****************************************
//
// ****************************************

.calendar_switch_container {
    display: flex;
    align-items: center;
    margin: 14px 0;
}
.calendar_switch_label {
    @include font-size(14px);
    line-height: 1.1;
    color: $c-primary;
    margin-left: 7px;
    padding-top: 2px;
}

.datepicker {
    .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
        @include iconfont($icon-arrow-right, before);
        &::before {
            color: $c-secondary;
            margin-right: 30px;
        }
    }
    .ngb-dp-arrow.left .ngb-dp-navigation-chevron {
        @include iconfont($icon-arrow-left, before);
        &::before {
            color: $c-secondary;
            margin-left: 8px;
        }
    }
    .ngb-dp-month-name {
        @include font-size($f-size);
        color: $c-secondary;
        text-transform: none;
    }
    .ngb-dp-weekday {
        @include font-size(14px);
        color: $gray60 !important;
        text-transform: capitalize;
    }
    .ngb-dp-weekdays {
        border: 0;
    }
    .custom-day {
        color: $gray60;
        &.available {
            font-weight: 700;
            color: $c-primary;
        }
    }
    .ngb-dp-month {
        &:last-child {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: -5%;
                top: 0;
                width: 1px;
                height: 100%;
                background: tint($gray60,40);
            }
        }
    }
    .custom-day.range::before, 
	.custom-day.available:hover::before, 
	.custom-day.available.focused::before, 
	.custom-day.available.selected::before, 
	.custom-day.current::before {
		background-color: $c-secondary;
    }
}