// ********************
//  UI-ELEMENTS
// ********************
//
//  LISTS
//
// ********************
//
// + Bullet list - .list-bullet
// + Arrow icon list - .list-style1
// + context list
// + context-list with second level
// + list
//
// ********************

// + Bullet list
// -------
.list-bullet {
    li {
        position: relative;
        padding-left: 14px;
        margin: 10px 0;
        &::before {
            $bullet-size: 5px;
            content: '-';
            position: absolute;
            top: 1px;
            left: 0;
        }
    }
}

// + Icon list
// -------
// .list-icon {}


// + Arrow icon list
// -------
.list-style1 {
    font-size: 100%;
    > li {
        @include iconfont($icon-aceptar,before);
        position: relative;
        padding-left: 1.6em;
        margin-bottom: 1.4em;
        &::before {
            position: absolute;
            font-size: calculateEm(18px);
            color: $c-color1;
        }
    }
    &.condensed {
        li {
            margin-bottom: 1em;
        }
    }
}

// +++ context list
// .context-list,
// .context-list-basic,
// .context-list-icon, 
// .context-list-icon-md {
// }
// .context-list-icon,
// .context-list-icon-md {
// }
// .context-list-icon {
// }
// .context-list-icon-md {
// }
.context-list-basic { //## bullet list
    @extend .list-bullet;
    li {
        &::before {
            $bullet-size: 5px;
            content: '';
            width: $bullet-size;
            height: $bullet-size;
            top: 8px;
            border-radius: 50%;
            background-color: $c-text;
        }
    }
}
.context-list, .context-list-alpha { //## arrows style
    @extend .list-style1;
    &.secondary {
      li {
        &::before {
            color: $c-secondary;
        }
      }
    }
    &.columns { //## total columns for list
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: calc(50% - 50px);
            padding-right: 24px;
            @media #{$until-tablet-portrait} { // <=768px
                flex-basis: 100%;
                padding-right: 0;
            }
        }
    }
    li {
        &::before {
            color: $c-primary;
        }
    }
}
// context-list with second level
.context-list {
    li {
        & > ul.context-list {
            margin-top: 0;
            li {
                @include iconfont($icon-mascota2,before);
            }
        }
    }
}
ol {
    &.context-list, &.context-list-alpha  { //## numeric style
        counter-reset: number;
        > li {
            &::before {
                top: 0;
                font-family: $font-sanserif;
                @include font-size($f-size);
                font-weight: 600;
                content: counters(number, ".") " ";
                counter-increment: number;
            }
        }
        // simulate <ol> start attribute
        @for $i from 1 through 10 {
            &[start="#{$i}"] {
                counter-reset: number ($i - 1);
            }
        }
    }
    &.context-list-alpha { //## alpha numeric style
        > li {
            &::before {
                content: counter(number, lower-alpha);
                counter-increment: number;   
            }
        }
    }
}
// spacing on internal <ol> levels
ul, ol {
    &.context-list,
    &.context-list-basic,
    &.context-list-alpha {
        li {
            > ol { //## first under level (1.1)
                &.context-list {
                    > li {
                        padding-left: 35px;
                        > ol { //## second under level (1.1.1)
                            &.context-list {
                                > li {
                                    padding-left: 49px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// + list (to unify list types)
.list {
    @include handling-long-words;
}
.list-line {
    .list_item {
        padding: 33px 25px 12px;
        border-bottom: 1px solid $gray60;
        .left {
            font-weight: 600;
        }
    }
}
.list_item {
    display: flex;
    justify-content: space-between;
    clear: both;
    // elements
    .left {
        padding-right: 15px;
    }
    .right {
        padding-left: 15px;
        text-align: right;
    }
}
// [Responsive]
@media #{$until-mobile} {
    .list-line {
        // elements
        .list_item {
            padding: 33px 0 8px;
            .left, .value, .right {
                margin-bottom: 5px;
            }
        }
    }
    .list_item {
        flex-direction: column;
        // elements
        .left, .right {
            padding: 0;
        }
        .right {
            text-align: left;
        }
    }
}