// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  MODALS
// ****************************************
//
//    + Modal close
//    + Modal headings
//    + Modal types
//        ++ Alert
//    + Main modal
//
// ****************************************

$modal-defaul-width: 680px;

//## Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

//## Container that the modal scrolls within
.modal {
    z-index: $modal-zindex;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    //## When fading in the modal, animate it to slide down
    &.fade.show,
    &.fade.in { opacity: 1; }
    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3s ease-out;
    }
    &.show .modal-dialog,
    &.in .modal-dialog { transform: translate(0, 0); }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    &.show {
        display: block;
    }
}

// Modal background
.modal-backdrop {
    @include overlay-style;
    z-index: $modal-overlay-zindex;

    //## Fade for backdrop
    &.fade { opacity: 0; }
    &.show,&.in { opacity: 1; }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.modal {
    padding: 0 !important; // to remove javascript padding left inline declaration;
    .close {
        @include font-size($f-size-lg);
        z-index: $modal-zindex;
        position: absolute;
        color: $gray95;
        top: -32px;
        right: 0;
        padding: 0 6px;
        padding-right: 0;
        font-weight: 400;
        text-shadow: none;
        opacity: 1;
        cursor: pointer;
        &::before {
            content: $icon-close;
            font-family: $f-icons;
        }
    }
}
.modal-dialog {
    position: relative;
    width: $modal-defaul-width;
    margin: 10vh auto;
}
.modal-content {
    position: relative;
    outline: 0;
    //margin: 0 auto;
    border: 1px solid $c-border;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    border: 0;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}
.modal-inner {
    padding: 32px;
}
.modal-header {
    padding: 0 0 16px;
    border: 0;
}
.modal-body {
    position: relative;
    padding: 0;
    p {
        margin: 6px 0 10px 0;
    }
}
.modal-footer {
    text-align: center;
    padding: 0;
    margin-top: 34px;
    border: none;
}
.modal_footer_button {
    @extend .btn-secondary;
}
.modal_footer_button-action {
    @extend .btn-action;
}


// + Modal headings
// -------
.modal-title,
.modal-subtitle {
    font-family: $f-title;
    line-height: 1.1;
    text-align: left;
}
.modal-title {
    color: $c-primary;
    @include font-size($f-size-xlg);
    font-weight: 600;
    margin: 0;
}
.modal-subtitle {
    color: $c-secondary;
    @include font-size($f-size);
    font-weight: 400;
    margin: 7px 0 0;
}

// + Modal types
// -------
// ++ Alert
.modal-alert{
    .close { display: none; }
    .modal-footer {
        button {
            width: 42%;
            margin: 0 2%;
        }
    }
}

// Main modal
.main_modal {
    p {
        @include font-size($f-size-sm);
        font-weight: 400;
    }
    ul , ol {
        @include font-size($f-size-sm);
        li {
            margin: 5px 0;
            &::before {
                top: 6px;
                background: $gray60;
            }
        }
    }
    .modal-title {
        @extend .title-h3;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
        .icon {
            @include font-size($f-size-xlg);
            padding-right: 10px;
        }
    }
    .modal-subtitle {
        @include font-size($f-size-sm);
        @extend .title-h4;
    }
}



// [Responsive]
@media #{$tablet-landscape} { // >=992px
    .main_modal, .modal-login {
        .modal-dialog {
            width: 780px;
        }
    }
}

// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .modal {
        .modal-inner {
            padding: 16px;
        }
        .modal-title {
            @include font-size($f-size-xlg);
        }
    }
}
@media #{$until-mobile} { // <=640px
    .modal-dialog {
        width: calc(100% - 6vw);
        margin-right: 3vw;
        margin-left: 3vw;
    }
}
