// ----------------------------------------------------
// SWITCH
//
//  + Switch (on/off)
//  + Switch slider (multiple selections)
//
// ----------------------------------------------------
$switch-width: 50px;
$switch-height: 22px;
$switch-bar-border-color: $gray90;
$switch-background: #fff;
$switch-background-active: #fff;
$switch-bar-size: 14px;
$switch-bar-pos-left: 4px;
$switch-bar-pos-top: 4px;
$switch-bar-background: $switch-bar-border-color;
$switch-bar-background-active: $c-color1;

.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    min-width: $switch-width;
    height: $switch-height;
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        &.is-checked  {
            & + .switch_slider {
                background-color: $switch-background-active;
            }
            & + .switch_slider:before {
                left: 31px;
                background-color: $switch-bar-background-active;
            }
        }
    }
    &.is-readonly {
        opacity: $disabled-opacity;
        pointer-events: none;
    }
}
.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    background-color: $switch-background;
    transition: .2s;
    box-shadow: inset 0 0 0 2px $switch-bar-border-color;
    &::before { //## switch bar
        position: absolute;
        content: '';
        height: $switch-bar-size;
        width: $switch-bar-size;
        left: $switch-bar-pos-left;
        top: $switch-bar-pos-top;
        background-color: $switch-bar-background;
        border-radius: 50%;
        transition: .14s;
        transition-timing-function: ease-in-out;
    }
}
// fix angular
ibe-switch-slider {
    height: $switch-height;
}

// + Switch slider
// -------
.switch-slider {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.switch-slider_option {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    margin: 0 -1px;
    &:first-child {
        .switch-slider_label {
            border-radius: 100vh 0 0 100vh;
        }
    }
    &:last-child {
        .switch-slider_label {
            border-radius: 0 100vh 100vh 0;
        }
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        &:checked,
        &checked,
        &[checked='checked'],
        &.is-checked {
            & + .switch-slider_label {
                color: #fff;
                background-color: $c-primary;
            }
        }
    }
}
.switch-slider_label {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px 20%;
    color: $c-primary;
    font-weight: 600;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid $c-primary;
    background-color: #fff;
    cursor: pointer;
}