// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  TABLES
// ****************************************
//    + table
//    + tfoot-total
//    + table-offers
//    + responsive-table
//    + table resume
//    + table fares
// ****************************************

$table-th-fontsize: $f-size-sm;
$table-th-color: #fff;
$table-th-background: $c-primary;
$table-th-border-color: #fff;

$table-cell-border-color: #fff;
$table-cell-color: $c-text;
$table-cell-background: $gray95;


//  + table
// -------
.price-resume_head {
    display: flex;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid $gray60;
    .label {
        color: $c-primary;
    }
    .price {
        color: $c-text;
        text-align: right;
        margin-left: auto;
    }
    .fare-label {
        margin-right: 7px;
    }
}

.table {
    @include font-size($table-th-fontsize);
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 1px;
    thead {
        th {
            font-weight: 500;
            line-height: 1.2;
            color: $table-th-color;
            vertical-align: bottom;
            text-transform: uppercase;
            padding: 10px 14px;
            background-color: $table-th-background;
        }
        tr[align='center'] {
            th {
                text-align: center;
            }
        }
    }
    tbody {
        th, td {
            padding: 8px 14px;
            font-weight: 600;
            position: relative;
            white-space: nowrap;
            color: $table-cell-color;
            background-color: $table-cell-background;
        }
    }
}

//  + tfoot-total
// -------
// .tfoot-total {}


//  + table-offers
// -------
.table-offers {
    // @extend .table;
    table-layout: fixed;
    width: 100%;
    tbody {
        tr {
            display: block;
            background: $c-color3;
            border-bottom: 6px solid $body-background;
            position: relative;
            td {
                padding: 0 10px;
            }
            th {
                padding: 10px 10px 0 10px;
                @include font-size($f-size-md-sm);
                color: $c-primary;
                font-weight: 700;
            }
            td:nth-child(2) {
                display: flex;
                flex-wrap: wrap;
            }
        }
        tr th, tr td {
            display: block;
            position: static;
            border: 0;
            text-align: left;
            white-space: normal;
            line-height: 1.2;
        }
        .from,
        .currency,
        .price  {
            vertical-align: middle;
        }
        .from {
            display: block;
            margin-bottom: 6px;
            @include font-size($f-size);
            color: $c-primary;
        }
        .text {
            margin-bottom: 0;
            flex-basis: 40%;
            flex-grow: 1;
            text-align: right;
        }
        .currency, .price {
            @include font-size($f-size-xlg);
            font-weight: 700;
            color: $c-color2;
        }
        .link {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        a {
            display: flex;
            flex-basis: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            text-decoration: none;
        }

        @media #{$tablet-portrait} {  // >=768px
            display: flex;
            flex-wrap: wrap;
            tr {
                flex-basis: calc(100% / 3);
                margin-bottom: 55px;
                background: transparent;
                border-bottom: 0;
                th {
                    @include font-size($f-size-xlg);
                }
                td:nth-child(2) {
                    display: block;
                }
            }
            .from,
            .currency,
            .price {
                text-align: left;
            }
            .from {
                @include font-size($f-size);
            }
            .text {
                margin-bottom: 10px;
                text-align: left;
            }
            .currency, .price {
                @include font-size($f-size-md);
                font-weight: 600;
            }
            a {
                display: block;
            }
        }
        @media #{$tablet-landscape} {  // >=992px
            tr {
                flex-basis: 25%;
            }
        }
    }
}
.table-offers_link_label {
    @include iconfont($icon-arrow-right, after);
    display: block;
    padding: 5px 0;
    color: $c-secondary;
    font-weight: 600;
    &::after {
        vertical-align: middle;
    }
}

//  + responsive table
// -------
.table-responsive_wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive {  
    @extend .table;
    td {
        .ui-dropdown {
            .ui-input {
                background: none;
            }
            .ui-dropdown_value {
                color: $c-primary;
                font-weight: 500;
            }
        }
    }
    @media #{$until-tablet-portrait} { // 768px
        thead tr {
            position: absolute;
            left: -9999px; //## accessibility
        }
        tbody {
            th, td {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                // padding: 10px 14px;
                text-align: right;
                white-space: pre-wrap;
                &::before { //## <th> simulation
                    content: attr(data-th);
                    flex: 1 0 50%;
                    text-align: left;
                    color: $c-primary;
                }
                &:first-child {
                    font-weight: 600;
                    padding-top: 24px;
                }
                &:last-child {
                    border-bottom: 1px solid $c-primary;
                    padding-bottom: 29px;
                }
                [class^='iconlink-'] + [class^='iconlink-'] { //## right align
                    padding-right: 0;
                }
            }
        }
    }
}

// + table resume
.table-resume {
  @extend .table;
  thead, tbody {
      tr {
        th:last-child, td:last-child {
            text-align: right;
        }
        th:first-child {
            padding-left: 0;
        }
      }
  }    
}

// + table fares
.table-fares {
    @media #{$tablet-portrait} {
        @include custom-scroll(lighten);
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }
    .table {
        text-align: center;
    }
}

@media #{$tablet-portrait} { // >=768px
    .table {
        thead, tbody {
            border-left: 1px solid $gray95;
            border-right: 1px solid $gray95;
        }
        tbody {
            tr:first-child {
                th, td {
                    border-top: 1px solid $gray95;
                }
            }
        }
    }
}
