{# 
  DOCUMENTATION
#}

{# new version #}
<a class="poweredby" href="http://newshore.es" target="_blank" title="Powered by: Newshore">
  <span class="poweredby_caption">Powered by</span>
  <span class="poweredby_logo"></span>
</a>

{# last version #}
{# <span class="poweredby_logo">
  <a href="{{ poweredby.linkUrl }}" class="logo" target="_blank" title="Powered by: newshore (new window)">
    {% if poweredby.image | length %}
      <img src="../src/assets/imgs/{{ poweredby.image }}" alt="Newshore">
    {% else %}
      {{ poweredby.text }}
    {% endif %}
  </a>
</span> #}