<footer class="footer" data-target="footer">
  <div class="content">
    {% if footer.logo.show | default(true) %}
      <div class="footer_logo">
        <a href="#" class="logo">
          <img src="{{ project_assets_path }}imgs/logo-neg.svg" alt="HK Express (footer logo)" />
        </a>
      </div>
    {% endif %}
    <div class="footer_right">
      {% include "partials/layout/footer/_footer-poweredby.njk" %}
    </div>
  </div>
</footer>
