{% if mainFooter %}
<footer class="main-footer" data-target="footer">
    <div class="main-footer_content">
        {# logo #}
        {% if mainFooter.logo.show | default(true) %}
            <div class="main-footer_logo">
                <a href="#" class="logo">
                    <img src="{{ project_assets_path }}imgs/logo{% if mainFooter.logo.isNegative | default(false) %}-neg{% endif %}.svg" alt="">
                </a>
            </div>
        {% endif %}
        {# title main footer #}
        {% if mainFooter.title | length %}
            <div class="main-footer_title">
                <h3 class="title">{{ mainFooter.title }}</h3>
            </div>
        {% endif %}
        {# nav #}
        {% if mainFooter.nav.show | default(true) %}
            <div class="main-footer_nav">
                {% for navItem in mainFooter.nav.items %}
                    <div class="main-footer_nav-column">
                        {% include "partials/layout/footer/_main-footer_nav.njk" %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {# socialmedia #}
        {% if mainFooter.socialmedia.show | default(true) %}
            <div class="main-footer_socialmedia">
                {% include "partials/components/_shared/socialmedia/_socialmedia-list.njk" %}
            </div>
        {% endif %}
        
        {# newsletter #}
        {% if mainFooter.newsletter.show | default(true) %}
            <div class="main-footer_newsletter">
                {% include "partials/components/_shared/_newsletter.njk" %}
            </div>
        {% endif %}

        {# flyPrograms #}
        {% if mainFooter.flyPrograms.show | default(true)%}
            {% set flyprograms = [
                {
                    src: '../src/assets/imgs/programs/reward-u.svg',
                    alt: 'Reward-U',
                    linkTitle: 'Program Reward-U - open new window',
                    href: 'http://www.reward-u.com/'
                },
                {
                    src: '../src/assets/imgs/programs/ufly-holiday.svg',
                    alt: 'U-Fly Holiday',
                    linkTitle: 'Program U-Fly Holiday - open new window',
                    href: 'http://www.uflyholidays.com/en/'
                },
                {
                    src: '../src/assets/imgs/programs/ufly-alliance.svg',
                    alt: 'U-Fly Alliance',
                    linkTitle: 'Program U-Fly Alliance - open new window',
                    href: 'https://www.hkexpress.com/sites/default/files/ufly-logo-small.png'
                }
            ] %}
            {% include "partials/corporative/_fly-programs.njk" %}
        {% endif %}

        {# payment methods #}
        {% if mainFooter.paymentMethodList.show | default(false) %}
            <div class="main-footer_payment-methods">
                {% set paymentMethodsList = mainFooter.paymentMethodList %}
                {% include "partials/components/_shared/_payment-methods-list.njk" %}
            </div>
        {% endif %}
    </div>
    
    {# bottom #}
    {% if mainFooter.bottom.show | default(true) %}
        <div class="main-footer_bottom">
            <div class="main-footer_bottom_content">
                {# copyright #}
                {% if mainFooter.bottom.copyright.show | default(true)%}
                    {% if copyright.text | length %}
                        <p class="copyright">
                            {{ copyright.text | safe }}
                        </p>
                    {% endif %}
                    {% if (poweredby.text | length) or (poweredby.image | length) %}
                        {% include "partials/layout/footer/_footer-poweredby.njk" %}
                    {% endif %}
                {% endif %}

                {# languageBar #}
                {% if mainFooter.bottom.languageBar.show | default(true) %}
                    <div class="main-footer_language-bar">
                        <div class="ui-dropdown">
                            <button class="nav_item_link"
                                    aria-haspopup="listbox"
                                    aria-expanded="false"
                                    aria-controls="{{ languageBar.id }}">
                                {{ languageBar.label }}
                            </button>
                            <ul class="ui-dropdown_list"  
                                role="listbox"
                                tabindex="-1"
                                aria-hidden="true"
                                id="{{ languageBar.id }}">
                                {% for language in languageBar.items %}
                                    <li role="option">
                                        <a href="{{language.url}}">{{language.title}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</footer>
{% else %}  {# HKE Support #}  
    <footer class="main-footer">
        <div class="content">
            <div class="column-left">
                <div class="main-footer_logo">
                    <a href="#" class="logo">
                        <img src="{{ project_assets_path }}imgs/logo.svg" alt="HK Express - logo">
                    </a>
                </div>
            </div>
            <div class="column-right">
                <div class="main-footer_nav">
                    {% set lists = [
                        {
                            title: 'About us',
                            items: [
                                {
                                    text: 'Our Story'
                                },
                                {
                                    text: 'Community Care'
                                },
                                {
                                    text: "What´s an LCC?"
                                },
                                {
                                    text: 'Join Us'
                                },
                                {
                                    text: 'Media Centre'
                                },
                                {
                                    text: 'U-FLY Alliance'
                                },
                                {
                                    text: 'reward-u'
                                }

                            ]
                        },
                        {
                            title: 'Need Help?',
                            items: [
                                {
                                    text: 'Contact US'
                                },
                                {
                                    text: 'FAQs'
                                },
                                {
                                    text: 'Guest Feedback'
                                },
                                {
                                    text: 'Privacity Policy'
                                },
                                {
                                    text: 'Disclaimer'
                                },
                                {
                                    text: 'Conditions of Carriage'
                                },
                                {
                                    text: 'Tarmac Delay Plan'
                                }
                            ]
                        },
                        {
                            title: 'Hot destinations',
                            items: [
                                {
                                    text: 'Cheap Flights to Osaka'
                                },
                                {
                                    text: 'Cheap Flights to Busan'
                                },
                                {
                                    text: 'Cheap Flights to Taichung'
                                },
                                {
                                    text: 'Cheap Flights to Phuket'
                                },
                                {
                                    text: 'Cheap Flights to Saipan'
                                },
                                {
                                    text: 'Cheap Flights to Hualien'
                                },
                                {
                                    text: 'Cheap Flights to Seoul'
                                }
                            ]
                        }
                    ]
                    %}
                    {% for list in lists %}
                        <div class="column">
                            {% include "partials/layout/footer/_main-footer_nav.njk" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="column-left">
                <div class="main-footer_socialmedia">
                    {% set socialmedias = [
                        {
                            name: 'facebook',
                            url: '#',
                            isTooltip: false
                        },
                        {
                            name: 'instagram',
                            url: 'https://instragram.com/',
                            isTooltip: false
                        },
                        {
                            name: 'weibo',
                            url: '#',
                            isTooltip: false
                        },
                        {
                            name: 'wechat',
                            url: 'https://web.wechat.com/',
                            isTooltip: true
                        }
                    ] %}
                    {% set isFlat = true %}
                    {% include "partials/components/_shared/socialmedia/_socialmedia-list.njk" %}
                </div>
            </div>
            <div class="column-right">
                <div class="main-footer_newsletter">
                    {# Newsletter #}
                    {% include "partials/components/_shared/_newsletter.njk" %}
                </div>
            </div>

            {% set flyprograms = [
                {
                    src: '../src/assets/imgs/programs/reward-u.svg',
                    alt: 'Reward-U',
                    linkTitle: 'Program Reward-U - open new window',
                    href: 'http://www.reward-u.com/'
                },
                {
                    src: '../src/assets/imgs/programs/ufly-holiday.svg',
                    alt: 'U-Fly Holiday',
                    linkTitle: 'Program U-Fly Holiday - open new window',
                    href: 'http://www.uflyholidays.com/en/'
                },
                {
                    src: '../src/assets/imgs/programs/ufly-alliance.svg',
                    alt: 'U-Fly Alliance',
                    linkTitle: 'Program U-Fly Alliance - open new window',
                    href: 'https://www.hkexpress.com/sites/default/files/ufly-logo-small.png'
                }
            ] %}
            {% include "partials/corporative/_fly-programs.njk" %}

            <div class="footer-copyright">
                <p class="copyright">
                    copyright &copy; 2017 Hong Kong Express Airways Limited.
                </p>

                <div class="ui-dropdown">
                    <button class="nav_item_link" aria-haspopup="listbox" aria-expanded="false" aria-controls="collapseLanguage">
                        Hong Kong (EN)
                    </button>
                    <ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true" id="collapseLanguage">
                        <li role="option">
                            <a href="/zh-hk/">香港特別行政區 (繁體)</a>
                        </li>
                        <li role="option">
                            <a href="/zh-cn/">中国大陆 (简体)</a>
                        </li>
                        <li role="option">
                            <a href="/zh-tw/">中國台灣 (繁體)</a>
                        </li>
                        <li role="option">
                            <a href="/ja/">日本 (日本語)</a>
                        </li>
                        <li role="option">
                            <a href="/ko/">한국(한국어)</a>
                        </li>
                        <li role="option">
                            <a href="/en-kh/">Cambodia (EN)</a>
                        </li>
                        <li role="option">
                            <a href="/en-th/">Thailand (EN)</a>
                        </li>
                        <li role="option">
                            <a href="/en-vn/">Vietnam (EN)</a>
                        </li>
                        <li role="option">
                            <a href="/en-us/">United States (EN)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endif %}