{#
    DOCUMENTATION:
    lists: {
        VARIABLES:
        title: 'string' // title of list
        items: 'Array<string>' // Array links
        text: 'string' // each link
    }

    EXAMPLE:
    {% set lists = [
        {
            title: 'About',
            items: [
                {
                    text: 'Our Story'
                },
                {
                    text: 'Community Care'
                },
                {
                    text: "What´s an LCC?"
                },
                {
                    text: 'Join Us'
                },
                {
                    text: 'Media Centre'
                },
                {
                    text: 'U-FLY Alliance'
                },
                {
                    text: 'reward-u'
                }

            ]
        },
        {
            title: 'Need Help?',
            items: [
                {
                    text: 'Contact US'
                },
                {
                    text: 'FAQs'
                },
                {
                    text: 'Guest Feedback'
                },
                {
                    text: 'Privacity Policy'
                },
                {
                    text: 'Disclaimer'
                },
                {
                    text: 'Conditions of Carriage'
                },
                {
                    text: 'Tarmac Delay Plan'
                }
            ]
        },
        {
            title: 'Hot destinations',
            items: [
                {
                    text: 'Cheap Flights to Osaka'
                },
                {
                    text: 'Cheap Flights to Busan'
                },
                {
                    text: 'Cheap Flights to Taichung'
                },
                {
                    text: 'Cheap Flights to Phuket'
                },
                {
                    text: 'Cheap Flights to Saipan'
                },
                {
                    text: 'Cheap Flights to Hualien'
                },
                {
                    text: 'Cheap Flights to Seoul'
                }
            ]
        }
    ]
    %}
    {% include "partials/corporative/_main-footer_nav.njk" %}
#}

<nav>
    <h2 class="main-footer_nav-title">
        {% if mainFooter.nav.isCollapsible | default(true) %}
            <a 
                role="button"
                aria-expanded="false"
                aria-controls="mainfooterList_{{ loop.index }}">
        {% else %}
            <a role="presentation">
        {% endif %}
            {{ navItem.title }}
        </a>
    </h2>
    <ul{% if mainFooter.nav.isCollapsible | default(true) %} id="mainfooterList_{{ loop.index }}" aria-hidden="true"{% endif %}>
        {% for subitem in navItem.subItems %}
            <li>
                <a href="#">{{ subitem.caption }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
