{#
    DOCUMENTATION:
    socialmedias: {
        VARIABLES:
        language: 'string' // name language
    }

    EXAMPLE:
    {% set languages = [
        {
            language: ' Hong Kong (EN)'
        },
        {
            language: 'Cambodia (EN)'
        },
        {
            language: 'Thailand (EN)'
        },
        {
            language: 'Vietnam (EN)'
        }
    ] %}
    {% include "partials/corporative/_footer_languages.njk" %}
#}

<ul class="main-footer_languages">
    {% for lang in languages %}
    <li>
        <a href="#">
            {{ lang.language }}
        </a>
    </li>
    {% endfor %}
</ul>
