// main: ../styles.scss

// ****************************************
//  LAYOUT
//
// ****************************************
//  HEADER
// ****************************************
//
// ****************************************

//+header
.header {
    position: relative;
    padding: 10px 0;
    background: $header-background;
}
.header_container {
    @extend .container-wrap;
    &:after {
        display: block;
        clear: both;
        content: "";
    }
    @media #{$until-mobile} { // <=640px
        .overlay-in-header & {
            z-index: 10000;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
        }
    }
}
.header_logo {  
    width: 120px;
    float: left;
    .logo {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
}
.header_nav {
    .nav_item {
        display: inline-block;
        .nav_item_link {
            padding: 10px 28px;
            font-family: $font-name;
            font-weight: bold;
            text-transform: uppercase;         
            color: $c-primary;
            text-decoration: none;             
            @media #{$until-tablet-portrait}  { // <=768px
                padding: 10px 15px;  
            }       
        }
    }
}
.header_right {
    position: relative;
    top: -2px;
    float: right;
}
.header_links_item {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    .ui-dropdown ul {
        z-index: $language-dropdown-zindex;
        left: auto;
        right: -1px;
        max-height: 152px;
    }
    &:last-child {
        margin-right: 0;
        padding-right: 0;
        &::after { //#border menu, it has not
            display: none;
        }
    }
    // modifiers
    // &.link-user {}
    &.link-language {
        button { // dropdown trigger
            @include iconfont($icon-language-circle, before);
        }
        ul { // dropdown list
            width: auto;
            li { white-space: nowrap; }
        }
    }
    &.link-currency {
        button { @include iconfont($icon-error-circle, before); }
    }
}
.header_link {
    @include font-size($f-size);
    color: $c-primary;
    font-weight: 600;
    line-height: 1.2;
    padding: 0;
    cursor: pointer;
    &::before { //#icon menu
        @include font-size(30px);
        position: relative;
        top: 1px;
        color: $c-primary;
    }
}
.header_link_label,
.header_link_label_text {
    @include hide-visually;
}
// language and currency
.link-language,
.link-currency {
    .ui-dropdown ul { 
        white-space: nowrap;
        }
}

// [Responsive]
@media #{$mobile} { // >= 640px
    .header {
        padding: 24px 0;
    }
    .header_logo {
        width: ($header-logo-width + 70);
    }
}
