// ********************
//  COMPONENTS
//
// ********************
//  HEADER CORPORATIVE
// ********************
//    + main submenu nav
//    + Corp inner pages like IBE Header
//
// *********************

// variables
$subnav-pad-left: 18px;
$main-header-ui-dropdown-width: 200px;
$icons-f-size: 10px;

.main-header_wrap {
	z-index: $header-fixed-zindex;
	left: 0;
	top: 0;
	width: 100%;
	a {
		line-height: 1.2;
	}
}

.main-header {
	position: relative;
	width: 100%;
	height: $main-header-mobile-height;
	background-color: #fff;
	transition: all .1s linear;
}
.main-header_container {
	@extend .container-wrap;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}
.main-header_logo {
	z-index: 3;
	position: relative;
	padding-top: 20px;
	transition: $header-transitions;
	.logo {
		display: block;
		height: 44px;
		transition: $header-transitions;
		img { height: 100%; }
	}
}
.main-header_nav {
	flex: 1 1 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	text-align: right;
	transition: $header-transitions;
	.nav_item {
		display: inline-block;
		margin: 0;
	}
	.nav_item_link {
		display: block;
		color: $c-primary;
		font-family: $f-title;
		text-transform: uppercase;
		text-decoration: none;
		padding: 6px 0;
		margin: 0 14px;
		cursor: pointer;
		font-weight: 700;
	}
	.ui-dropdown ul {
		right: 0;
		left: inherit;
	}
}
.main-header_nav-primary {
	position: relative;
	.nav_item {
		.nav_item_link {
			&::after { //## hover effect - underline
				content: '';
				display: inline-block;
				width: 100%;
				height: 2px;    
				position: absolute;
				left: 50%;
				bottom: 42px;
				transform: translateX(-50%);
				z-index: -1;
			}
		}
		// &:hover, &.show {
		//     .nav_item_link {
		//         &:after { //## hover effect - underline
		//             content: '';
		//             display: inline-block;
		//             width: 100%;
		//             height: 2px;    
		//             position: absolute;
		//             left: 50%;
		//             bottom: 42px;
		//             transform: translateX(-50%);
		//         }
		//     }
		// }
	}
}
.main-header_nav-secondary {
	position: relative;
	padding-left: 18px;
	margin-left: 7px;
	&::before { //## red separator between navs
		content: '';
		position: absolute;
		left: 0;
		top: 5px;
		width: 1px;
		height: 20px;
		background: $c-secondary;
	}
	.nav_item_link {
		margin: 0 7px;
		//padding-top: 0;
		@include font-size($f-size-xlg);
	}
	.nav_item:last-child {
		.nav_item_link {
			margin-right: 0;
		}
	}
	.ui-dropdown ul {
		width: auto;
	}
}


// + Corp inner pages like IBE Header
// -------
.fixed-header {
	&.is-fixedheader {
		.main-header {
			@media #{$tablet-portrait} { //>=768
				//## when scrolling down, header gets fixed
				height: $main-header-fixed-height-onscroll;
				border-bottom: 1px solid $gray95;
				background-color: #fff;
				.main-header_logo {
					padding-top: 14px;
					.logo { height: 34px; }
				}
				.main-header_nav {
					padding-top: 16px;
				}
			}
		}
	}
	.main-header_logo {
		width: 200px;
		.logo {
			display: block;
			height: auto;
			img {
				display: block;
				width: 100%;
			}
		}
	}
	// .main-header_nav-secondary
	// .nav_item:last-child
	// .nav_item_link,
	// .main-header_nav-secondary
	// .nav_item_link
	@media #{$until-mobile} {
		.main-header_logo {
			width: 150px;
			padding-top: 11px;
		}
		.main-header_nav {
			padding-top: 0px;
		}
		.main-header_nav-secondary {
			padding-top: 5px;
			.nav_item {
				&:last-child {
					.nav_item_link {
						margin-right: 0;
					}
				}
				.nav_item_link {
					margin-left: 6px;
					margin-right: 6px;
				}
			}
		}
	}
}

// + Subnav
// -------
$subnav-minheight: 224px;
.main-header_subnav {
	z-index: -1; // fix Safari 12 :hover mistake
	position: absolute;
	top: 54%;
	left: 0;
	clear: both;
	width: 100%;
	min-width: 320px;
	text-align: left;
	background-color: #fff;
	border-radius: $border-radius;
	box-shadow: 0 0 8px 0 rgba(#000,.27 );
	box-sizing: border-box;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity .14s ease-in-out, top .27s ease-in-out;
	&.open {
		top: 120%;
		opacity: 1;
		overflow: visible;
		max-height: 600px;
	}
	nav {
		flex: 1 1 calc(50% - 28px);
		padding: 1px 14px;
		box-sizing: border-box;
		ul {
			@extend .condensed;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 7px;
			li {
				min-width: calc(166px - #{$subnav-pad-left});
				flex-basis:100%;
				margin-left: $subnav-pad-left;
				padding-right: 8px;
				@include iconfont($icon-arrow-single-right,before);
				&::before {
					@include font-size($icons-f-size);
					color: $c-primary;
				}
			}
			.subnav_item_link {
				display: inline-block;
				text-decoration: none;
				line-height: 1.1;
			}
		}
		// //## subnav destinations list
		// &.subnav--destinations {
		//     flex: 1 1 calc(50% - 28px);
		//     ul {
		//         display: block;
		//         li {
		//             flex-basis: auto;
		//             padding-left: 0;
		//             &::before { display: none; }
		//         }
		//     }
		// }
		// //## subnav with just one column
		// &.subnav--onecol ul li {
		//     flex-basis: calc(25% - #{$subnav-pad-left});
		//     width: calc(25% - #{$subnav-pad-left});
		// }
	}
}
.main-header_subnav_inner {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 14px;
}
// .main-header_subnav_title {
//     font-family: $font-name;
//     @include font-size($f-size-md-sm);
//     line-height: 1.1;
//     text-transform: uppercase;
//     padding-bottom: 4px;
//     margin-bottom: 10px;
//     border-bottom: 1px solid $c-primary;
//     a {
//         text-decoration: none;
//         font-weight: 600;
//         color: $c-primary;
//         cursor: default;
//         &:hover {
//             color: $c-primary;
//         }
//     }
//     .icon {
//         margin-right: 5px;
//         @include font-size($f-size-xlg);
//         color: $c-secondary;
//         vertical-align: middle;
//     }
// }
.main-header_subnav_list {
	margin: 2px 0;
}
.subnav_item_n2,
.subnav_item_n3 {
// .subnav_item_n4 {
	position: relative;
	display: inline-block;
	line-height: 1.2;
	text-decoration: none;
}
.subnav_item_n2 {
	@include iconfont($icon-arrow-triangle-right);
	font-family: $f-title;
	color: $c-primary;
	margin-bottom: 6px;
	padding-left: $subnav-pad-left;
	&:hover {
		color: $c-link-hover;
	}
	&::before { //## subnav 2nivel arrow icon
		@include font-size($icons-f-size);
		position: absolute;
		left: 0;
		top: 4px;
		color: $c-secondary;
	}
}
.subnav_item_n2,
.subnav_item_n3 {
	& + ul { //## subnav n4 list
		margin-top: 3px;
	}
}
.main-header_subnav_inner {
	display: flex;
	padding: 20px 14px;
	& > .icon {
		display: none;
	}
}
.main-header_column_wapper {
	display: flex;
	align-items: flex-start;
	margin-top: 6px;
	transition: $header-transitions;
}
.main-header_column {
	flex-basis: 25%;
	flex-grow: 1;
	// modifiers
	&.large-column {
		flex-basis: 90%;
	}
	& .main-header_column { //## header_column within itself
		flex-basis: auto; //## IE10 support
	}
}

// [Responsive]
@media (min-width: 769px) { // >= 769px
	.main-header_nav {
		padding-top: 26px;
		.main-header_nav-primary {
			.nav_item {
				.main-header_subnav_inner {
					& > .icon {
						display: block;
						&:before {
							@include font-size($f-size-lg);
							color: $c-secondary;
							margin-right: 10px;
						}
					}
				}
				&:hover, &.show {
					.nav_item_link {
						padding-bottom: 50px;
						position: relative;
						&:after {
							background-color: $c-secondary;
						}
					}
					.main-header_subnav {
						z-index: 5; // fix Safari 12 :hover mistake
						opacity: 1;
						overflow: visible;
						max-height: 600px;
					}
				}
			}
		}
		.main-header_nav-secondary {
			.nav_item_link {
				padding-top: 0;
			}
		}
	}
}

@media #{$tablet-portrait} { //>=768px
	.main-header { 
		height: $main-header-height;
	}
}

@media #{$tablet-landscape} { // >= 992px
	.main-header_nav .nav_item {
		margin: 0 14px;
	}
	.main-header_nav-secondary {
		margin-left: 0;
		.nav_item { margin: 0 }
	}
}
@media (min-width: 1100px) { // >= 1000px
	.main-header_subnav {
		nav {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: calc(25% - 28px);
			ul {
				li {
					min-width: calc(#{$subnav-minheight} - #{$subnav-pad-left});
				}
			}
		}
	}
	.main-header_subnav_inner {
		flex-wrap: nowrap;
	}
}

// [responsive menu - when fixed at bottom]
@media #{$header-nav-breakpoint-collapsed} { // <= 768px
	$nav-height-mobile: $main-header-mobile-height;
	.main-header_wrap {
		position: absolute;
		z-index: $header-sticky-zindex; // to allows language bar click in mobile
	}
	// .main-header {
	// 	height: $main-header-mobile-height;
	// }
	.main-header_logo {
		padding-top: 7px;
		.logo {
			height: 32px;
		}
	}
	.main-header_subnav nav ul {
		margin: 0;
	}
	//## primary navigation
	.main-header_nav-primary {
		z-index: $header-sticky-zindex;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: 1px solid $gray60;
		ul {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			align-items: center;
			justify-content: center;
		}
		.nav_item {
			position: relative;
			display: flex;
			flex: 1 1 calc(100% / 3);
			height: $nav-height-mobile;
			align-items: center;
			justify-content: center;
			text-align: center;
			&:hover {
				.nav_item_link {
					padding-bottom: 6px;
				}
			}
			&:first-child {
			   &:before {
				   width: 0;
			   }
			}
			&:before { //## fixed bottom menu - links separator line
				z-index: 3;
				position: absolute;
				left: 0;
				top: 50%;
				content: '';
				width: 1px;
				height: 16px;
				background-color: $c-border;
				transform: translateY(-50%);
			}
			&.active {
				.nav_item_link {
					color: $c-secondary;
					font-weight: 600;
				}                
			}
		}
		.nav_item_link {
			z-index: 2;
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			align-items: center;
			@include font-size($f-size-xs);
			color: #fff;
			justify-content: center;
			padding: 0 10px !important;
			margin: 0;
			background-color: $c-primary-dark;
			font-weight: 400;
		}
	}

	//## secondary navigation (settings)
	.main-header_nav-secondary {
		&::before { display: none; }
		padding-top: 6px;
		.nav_item_link,
		.nav_item:last-child .nav_item_link {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	//## subnav
	.main-header_subnav {
		z-index: 1;
		position: fixed;
		bottom: 1px;
		left: 0;
		width: 100%;
		top: inherit;
		transform: inherit;
		padding: 0;
		max-height: calc(100vh - (#{$nav-height-mobile} + 1px));
		overflow: visible;
		opacity: 1;
		border-radius: 0;
		transition: bottom .3s ease-in-out;
		&[aria-hidden='true'] {
			bottom: -100%;
		}
		nav {
			position: relative;
			display: block;
			flex: none;
			width: 100%;
			padding: 0;
			border: solid $c-primary;
			border-width: 1px 0;
			margin: -1px 0;
			background: $gray95;
			ul {
				display: block;
				max-height: 30vh;
				overflow-y: auto;
				padding: 0;
				background: #fff;
				transition: all .3s ease-in-out;
				-webkit-overflow-scrolling: touch;
				&[aria-hidden='true'],
				&.show {
					max-height: 0;
					overflow: hidden;
				}
				li {
					width: 100%;
					min-width: 100%;
					flex-basis: auto;
					margin: 0 !important;
					padding: 0 !important;
					border-bottom: 1px solid $gray90;
					&:before { //## arrow list icon
						display: none;
					}
					.subnav_item_link {
						display: block;
						padding: 17px 22px;
					}
			   }
			}
		}
	}
	.main-header_subnav_inner {
		@include custom-scroll(lighten);
		position: relative;
		flex-wrap: wrap;
		max-height: calc(100vh - (#{$nav-height-mobile} + 1px));
		bottom: ($nav-height-mobile + 1px);
		padding: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.main-header_column_wapper {
		flex-wrap: wrap;
		margin-top: 0;
		overflow-y: hidden;
		nav {
			ul {
				li {
					border-top: 1px solid $c-color1;
					border-bottom-width: 0;
				}
			}
		}
	}
	.main-header_column {
		flex-basis: 100%;
		& & {
			flex-basis: 100%; //## IE10 support
		}
	}
	.subnav_item_n2,
	.subnav_item_n3 {
	// .subnav_item_n4 {
		min-height: 38px;
		display: flex;
		align-items: center;
	}
	.subnav_item_n2,
	.subnav_item_n3 {
		&.collapsible {
			@include collapse-trigger(16px, $c-primary);
			display: flex;
			&::after {
				right: 14px;
				top: 12px;
			}
		}
		&.collapsed {
			& + ul, 
			& + .main-header_column_wapper {
				height: 0;
				opacity: 0;
				transition: $header-transitions;
			}
		}
	}
	.subnav_item_n2 {
		margin-bottom: 0;
		&::before {
			content: none;
		}
	}
	.subnav_item_n3 {
		margin-top: 0;
		padding-left: $subnav-pad-left;
		background-color: #fff;
		border-bottom: 1px solid $c-color1;
	}
	.main-header_subnav_list {
		border-bottom: 1px solid $c-color1;
		.subnav_item_n3 {
			border-bottom-width: 0;
		}
	}
}
