// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FOOTER
// ****************************************
//
//    + Main footer container
//    + Main footer
//    + Logo
//    + Navigation
//    + Social media
//    + Newsletter
//    + Fly programs
//    + Footer copyright section
//    + Copyright
//    + Language bar
//
//    [Responsive]
//
// ****************************************


// + Variables
// -------
$main-footer_row-gap: 26px;

// + Main footer container
// -------
.main-footer {
    width: 100%;
    padding: 34px 0 70px;
    background-color: $mainfooter-background;
    @media #{$tablet-portrait} { // > 768px
        position: absolute;
        bottom: 0;
        padding: 34px 0;
    }
}


// + Main footer content
// -------
.main-footer_content {
    @extend .container-wrap;
    display: grid;
    grid-template-columns: 1fr 2fr .5fr; 
    
    @media #{$until-tablet-landscape} { // >=992px
        grid-template-columns: 1fr 1.5fr .5fr;
    }
    @media #{$until-tablet-portrait} { // >= 768px
        grid-template-columns: 1fr;
    }
}

// + Logo
// -------
.main-footer_logo {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 34px;
    .logo {
        display: block;
        width: 160px;
    }
    @media #{$until-tablet-portrait} { // <= 768px
        grid-column: 1;
        grid-row: auto;
        margin-bottom: 22px;
    }
}


// + Navigation
// -------
.main-footer_nav {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    margin: 0 (-$gutter-sides);
    a {
        text-decoration: none;
    }
    li {
        margin: 2px 0;
        a:hover {
            text-decoration: underline;
        }
    }
    @media #{$until-tablet-portrait} { // <= 768px
        grid-column: 1;
        grid-row: auto;
        flex-wrap: wrap;
    }
}
.main-footer_nav-title {
    @extend .title-h3;
    display: block;
    text-transform: uppercase;
    color: $c-secondary;
    a, a:hover {
        color: inherit;
        cursor: auto;
        &:hover {
            color: inherit;
        }
    }
}
.main-footer_nav-column {
    flex: 1 1 auto;
    margin: 0 $gutter-sides;
    @media #{$until-tablet-landscape} { // <= 992px
        flex-grow: 1;
        flex-basis: 100%;
    }
    @media #{$until-tablet-portrait} { // <= 768px
        margin: 0 $gutter-sides $main-footer_row-gap;
        flex-basis: auto;
    }
}


// + Social media
// -------
.main-footer_socialmedia {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    @media #{$until-tablet-portrait} { // <= 768px
        grid-column: 1;
        grid-row: auto;
    }
}


// // + Newsletter
// // -------
// .main-footer_newsletter {

// }


// // + Fly programs
// // -------
// .fly-programs {
//     display: block;
//     width: 100%;
//     text-align: center;
//     margin: 34px 0 54px;
// }
// .fly-programs_item {
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 20px;
//     a { display: block; }
//     img {
//         display: block;
//         height: 38px;
//     }
// }


// + Footer bottom section
// -------
// .main-footer_bottom {}
.main-footer_bottom_content {
    @extend .container-wrap;
    display: flex;
    align-items: center;
    margin-top: $main-footer_row-gap;
    .ui-dropdown {
        display: inline-block;
    }
    @media (max-width: 540px) { // <= 540px
        display: block;
        text-align: center;
        .copyright,.poweredby {
            display: inline;
        }
        .main-footer_language-bar {
            display: block;
            float: none;
            text-align: center;
            margin-top: 14px;
        }
    }

    // + Copyright and PoweredBy
    // -------
    .copyright {
        margin: 0;
        @include font-size($f-size-sm);
    }
    .poweredby {
        margin: 0;
        padding-left: 7px;
        margin-left: 7px;
        border-left: 1px solid $c-secondary;
    }
    .poweredby_logo {
        font-weight: 700;
        display: inline-block;
        width: 66px;
        .logo{
            img {
                margin-bottom: -2px;
            }
        }
    }
}

// + Language bar
// -------
.main-footer_language-bar {
    float: right;
    color: $c-primary;
    margin-left: auto;
    .ui-dropdown {
        display: inline-block;
        li {
            a {
                text-decoration: none;
                white-space: nowrap;
            }
        }
        .nav_item_link {
            @include iconfont($icon-language-circle);
            padding-left: 2.1em;
            color: $c-primary-dark;
            font-weight: 500;
            cursor: pointer;
            &::before {
                position: absolute;
                left: 0;
                top: -2px;
                font-size: 1.6em;
                color: $c-primary;
                cursor: pointer;
            }
        }
        .ui-dropdown_list {
            top: auto;
            left: auto;
            bottom: calc(100% + 5px);
            width: 100%;
            right: 0;
        }
    }
}