// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICE BAGGAGE
// ****************************************
//
//
// ****************************************

.service_baggage {
    .service_segment-table {
        .baggage_legend {
            @include font-size($f-size-sm);
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            background: $c-primary;
            &::before {
                color: #fff;
            }
        }
    }
}
.baggage_legend_icon {
    @include font-size($f-size);
    padding-right: 5px;
}
.baggage_legend_label,
.baggage_legend_icon {
    display: inline-block;
}