// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICES (common)
// ****************************************
//
//
// ****************************************

@import 'service-baggage';
@import 'service-specialbaggage';
// @import 'service-meals';
@import 'service-insurance';
@import 'service-priority';


.service_segment_alert {
    @extend .service_segment_alert;
}

.service_segment-table {
    @extend .table-responsive;
    thead,
    tbody {
        th,
        td {
            padding: 10px;
            white-space: normal;
            align-items: center;
            &:first-child,
            &:last-child {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
    thead {
        th {
            @include font-size($f-size-md-xs);
            text-align: center;
            &:nth-child(1), &:nth-child(2) {
                background-color: #fff;
            }
        }
    }
    tbody {
        td,
        th {
            @include font-size($f-size);
            background-color: $gray98;
            text-align: center;
            vertical-align: middle;
        }
        tr:first-child td { border-top: 0; }
        tr:nth-child(odd) td:first-child,
        tr:nth-child(even) td {
            border-bottom: 10px solid #fff;
        }
    }
    .ui-checkbox,
    .ui-select-container {
        @include font-size($f-size-md-xs);
        display: inline-block;
    }
    .ui-select-container {
        display: block;
        .ui-label {
            @extend .hide-visually;
        }
        .ui-dropdown_value {
            margin: auto;
        }
    }
}
.service_segment-table_route {
    .icon {
        @include iconfont($icon-arrow-right, before);
        color: $c-color1;
    }
}

