$icomoon-font-family: "ceiba-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-airplane-right: "\e900";
$icon-airplane-left: "\e901";
$icon-airplane-right-circle: "\e902";
$icon-airplane-left-circle: "\e903";
$icon-arrow-single-down: "\e904";
$icon-arrow-single-left: "\e905";
$icon-arrow-single-right: "\e906";
$icon-arrow-single-up: "\e907";
$icon-arrow-triangle-down: "\e908";
$icon-arrow-triangle-left: "\e909";
$icon-arrow-triangle-right: "\e90a";
$icon-arrow-triangle-up: "\e90b";
$icon-cross: "\e90c";
$icon-cross-circle: "\e90d";
$icon-alert: "\e90e";
$icon-error-circle: "\e90f";
$icon-info-circle: "\e910";
$icon-check-circle: "\e911";
$icon-check: "\e91a";
$icon-minus-circle: "\e912";
$icon-plus-circle: "\e913";
$icon-social-facebook-circle: "\e914";
$icon-social-feed-circle: "\e915";
$icon-social-twitter-circle: "\e916";
$icon-social-instagram-circle: "\e92e";
$icon-user-circle: "\e917";
$icon-calendar: "\e918";
$icon-cart: "\e919";
$icon-edit: "\e91b";
$icon-phone-call-center: "\e91c";
$icon-pin: "\e91d";
$icon-email: "\e91e";
$icon-address: "\e91f";
$icon-home: "\e920";
$icon-airplane-document: "\e921";
$icon-info-document: "\e922";
$icon-printer: "\e923";
$icon-clock: "\e924";
$icon-airplane-1stop-path1: "\e925";
$icon-airplane-1stop-path2: "\e926";
$icon-passenger: "\e92d";
$icon-fare-1: "\e927";
$icon-fare-2-path1: "\e928";
$icon-fare-2-path2: "\e929";
$icon-fare-3-path1: "\e92a";
$icon-fare-3-path2: "\e92b";
$icon-fare-3-path3: "\e92c";

