// ****************************************
//  BASE
//
// ****************************************
//  FONTS
// ****************************************
//
// ****************************************

@font-face {
	font-family: $font-name;
	src:    url('#{$font-path}#{$font-filename}.eot'),
			url('#{$font-path}#{$font-filename}.eot?#iefix') format('embedded-opentype'),
			url('#{$font-path}#{$font-filename}.ttf') format('ttf'),
			url('#{$font-path}#{$font-filename}.woff') format('woff'),
			url('#{$font-path}#{$font-filename}.woff2') format('woff2'),
			url('#{$font-path}#{$font-filename}.svg##{$font-name}') format('svg');
	font-weight: normal;
	font-style: normal;
}