<div class="error-page_wrap">
    <div class="error-page_container">
        <div class="column">
            <div class="error-page_message">
                <img class="logo" src="{{ project_assets_path }}imgs/logo.svg" alt="HK Express" />
                <p>It looks like this page has taken-off. Sorry you couldn't find what you were looking for.</p>
                <p>Perhaps you would like to search for flights or go back to the home page</p>
                <a class="error-page_button-primary button" href="index.html">Back home</a>
            </div>
        </div>
        <div class="column">
            <div class="error-page_image">
                <img src="{{ project_assets_path }}imgs/error/404-image.png" alt="HK Express 404" />
            </div>
        </div>
    </div>
</div>
