// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS COMPONENTS LAYOUT
//  TYPOLOGY
// ****************************************
//
//	Styles for TYPOLOGY search components options
//
// ****************************************

/// Use:
///		@include flight-search-layout-typology(
///			$layout: 'default',
///			$item-separator: 'border-bottom',
///			$label: 'linebreak'
///		);

/// @argument {string} $layout
///		Typology items layout style. Value `default` for items in rows or `inline` for inline items layout.
///		Accepts: `default` or `inline`

/// @argument {string} $item-separator
///		Typology items separation style.
///		Accepts: `border-bottom` or `null` for default.

/// @argument {string} $label
///		Typology text label in one or two lines.
///		Accepts: null (default) or `linebreak` (for 2 lines text label).

// ****************************************

@mixin flight-search-layout-typology(
	$layout: 'default',
	$item-separator: 'border-bottom',
	$label: 'linebreak'
) {
	.typology {
		.typology_option_list {
			display: flex;
			flex-direction: column;
		}
		.typology_option_item {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			padding: $typology-options-item-padding;
			//## items has a separation border
			@if $item-separator == 'border-bottom' {
				border-top: $typology-options-item-border-width solid;
				border-color: $typology-options-item-border-color;
				&:first-child {
					padding-top: 0;
					border-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		.typology_option_label {
			@include font-size($typology-options-label-fontsize);
			color: $typology-options-label-color;
			font-weight: $typology-options-label-fontweight;
			line-height: 1.3;
			.label-small {
				@include font-size($typology-options-label-info-fontsize);
				color: $typology-options-label-info-color;
				font-weight: $typology-options-label-info-fontweight;
				@if $label == 'linebreak' {
					display: block;
				}
			}
		}
		@if $layout == 'inline' {
			@media #{$tablet-portrait} {
				.typology_option_list {
					flex-direction: row;
				}
				.typology_option_item {
					margin-right: $typology-options-fullwidth-items-margin;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}