// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS COMPONENTS LAYOUT
//	DATES
// ****************************************
//
//	Styles for DATES search components options
//
// ****************************************

/// Use:
///		@include flight-search-layout-date($triptype: true);

/// @argument {boolean} $searchgrid-triptype-position
///		Triptype component can be at search grid (first element) or inside calendar options.
///		Accepts: `default` and `within-calendar`

// ****************************************

@mixin flight-search-layout-date() {
	@if $searchgrid-triptype-position == 'within-calendar' {
		.searchflight {
			.dates {
				.triptype {
					margin: $date-options-triptype-margin;
				}
			}
		}
	}
}