// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS COMPONENTS LAYOUT
//  ROUTE
// ****************************************
//
//	Styles for ROUTE search components options
//
// ****************************************

/// Use:
///		@include flight-search-layout-route(
///			$orderby: 'city',
///			$code-position: 'left'
///		);

/// @argument {string} $orderby
///		The order of route options.
///		Accepts: `city` or 'country'

/// @argument {string} $code-position
///		Refers to airport code order. At HTML output, airport code goes after city name.
///		To make it, visually, before city name, add 'left' value.
///		Accepts: 'right' (default) or `left`

// ****************************************

@mixin flight-search-layout-route(
	$orderby: 'city',
	$code-position: 'right'
) {
	@if $searchgrid-route-options-position == 'relative-auto' {
		@media #{$search-options-layout-breakpoint} {
			.searchflight .route {
				position: relative;
				//## calcs
				$route-search-field-auto-width-calc: calc(50% - (#{$search-input-icons-padding-field} / 2) - (#{$search-components-margin-leftright} * 2));
				$route-search-field-indicator-auto-margintop-calc: calc(#{$search-options-indicator-height} + #{$search-components-margin-topbottom});

				.search_tt {
					width: $route-search-field-auto-width-calc;

					//## combination of options indicator its top position
					@if $searchgrid-route-options-position == 'relative-auto' {
						@if $searchgrid-options-indicator == null and $searchgrid-options-position-top == null {
							margin-top: $search-components-margin-topbottom;
						}
						@else if $searchgrid-options-indicator != null and $searchgrid-options-position-top == null {
							margin-top: calc(#{$search-components-margin-topbottom} + #{$search-options-indicator-height});
						}
						@else if $searchgrid-options-indicator != null and $searchgrid-options-position-top != null {
							margin-top: calc(#{$search-components-margin-topbottom} + #{$searchgrid-options-position-top} + #{$search-options-indicator-height});
						}
					}
					
					//## if route field has icon
					@if $search-route-hasicon {
						&.outbound {
							left: $search-input-icons-padding-field;
						}
						&.inbound {
							left: auto;
							right: 0;
						}
					}
					@else {
						left: 50%;
					}
				}
			}
		}
	}
	.search_tt_menu {
		ul {
			a {
				color: $route-options-link-color;
				text-decoration: $route-options-link-underline;
				&:hover {
					color: $route-options-link-color-hover;
					text-decoration: $route-options-link-underline-hover;
				}
			}
		}
	}
	.search_tt_menu_list {
		@include font-size($route-options-fontsize);
		position: relative;
		color: $route-options-color;
		ul {
			width: 100%;
		}
		li {
			position: relative;
			margin-bottom: $route-options-item-margin;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.city {
			@include font-size($route-options-city-fontsize);
			color: $route-options-city-color;
			font-weight: $route-options-city-fontweight;
		}
		.code {
			@include font-size($route-options-airportcode-fontsize);
			color: $route-options-airportcode-color;
			font-weight: $route-options-airportcode-fontweight;
		}
		@if $orderby == 'city' {
			.country {
				@include font-size($route-options-country-fontsize);
				color: $route-options-country-color;
				font-weight: $route-options-country-fontweight;
			}
		}
		@if $orderby == 'country' {
			margin-bottom: $route-options-country-group-margin;
			.search_tt_menu_list_title {
				@include font-size($route-options-country-fontsize);
				font-weight: $route-options-country-fontweight;
				margin-bottom: $route-options-country-title-margin;
			}
		}
		@if $code-position == 'left' {
			li {
				padding-left: calculateEm($route-options-code-left-pad);
			}
			.code {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	// [Responsive]
	@if $route-options-list-breakpoints-qty >= 1 {
		@media #{$route-options-list-breakpoint-1} {
			@if $orderby == 'city' {
				.search_tt_menu_list {
					ul {
						column-count: $route-options-list-breakpoint-1-columns;
						column-gap: $route-options-list-breakpoint-1-columns-gutter;
					}
				}
			}
			@else if $orderby == 'country' {
				.search_tt_menu_list {
					margin-bottom: $route-options-country-group-margin;
					li {
						margin-bottom: $route-options-item-margin-desktop;
					}
				}
				.search_tt_menu {
					column-count: $route-options-list-breakpoint-1-columns;
					column-gap: $route-options-list-breakpoint-1-columns-gutter;
				}
			}
		}
	}
	@if $route-options-list-breakpoints-qty >= 2 {
		@media #{$route-options-list-breakpoint-2} {
			@if $orderby == 'city' {
				.search_tt_menu_list {
					ul {
						column-count: $route-options-list-breakpoint-2-columns;
						column-gap: $route-options-list-breakpoint-2-columns-gutter;
					}
				}
			}
			@else if $orderby == 'country' {
				.search_tt_menu {
					column-count: $route-options-list-breakpoint-2-columns;
					column-gap: $route-options-list-breakpoint-2-columns-gutter;
				}
			}
		}
	}
	@if $route-options-list-breakpoints-qty >= 3 {
		@media #{$route-options-list-breakpoint-3} {
			@if $orderby == 'city' {
				.search_tt_menu_list {
					ul {
						column-count: $route-options-list-breakpoint-3-columns;
						column-gap: $route-options-list-breakpoint-3-columns-gutter;
					}
				}
			}
			@else if $orderby == 'country' {
				.search_tt_menu {
					column-count: $route-options-list-breakpoint-3-columns;
					column-gap: $route-options-list-breakpoint-3-columns-gutter;
				}
			}
		}
	}
}