<div class="socialmedia_login">
    <div class="socialmedia_login_options">
        {% include "partials/components/_shared/socialmedia/_socialmedia-list.njk" %}
    </div>
    {# {% if socialmedias.notifications | length %} #}
        {# NOTIFICATIONS CHECKBOX #}
        {# {% set checkboxForm = {
            type: 'checkbox',
            label: socialmedias.notifications.text,
            checked: socialmedias.status,
            id: 'checkbox-1'
        } %}
        <div class="socialmedia_login_notifications">
            {% include "partials/ui-elements/_checkbox.njk" %}
        </div>
    {% endif %} #}
    {% if socialmedias.textSeparator | length %}
        <p class="socialmedia_login_separator">
            <span class="text">{{ socialmedias.textSeparator }}</span>
        </p>
    {% endif %}
</div>
