{#
    DOCUMENTATION:
    socialmedia: {
        VARIABLES:
        name: 'string', // name of the media ex: facebook
        url: 'string'   // url page
    }

    EXAMPLE:
    {% set socialmedias = [
        {
            name: 'facebook',
            url: '#'
        },
        {
            name: 'instagram',
            url: '#'
        },
        {
            name: 'weibo',
            url: '#'
        },
        {
            name: 'wechat',
            url: '#'
        }
    ]
    %}
    {% isFlat = true %}
    {% include "partials/_shared/_socialmedia-list.njk" %}
#}

<div class="socialmedia">
    {% if socialmedias.title | length %}
        <div class="socialmedia_title">
            <h3 class="title">{{ socialmedias.title }}</h3>
        </div>
    {% endif %}
    <ibe-socialmedia-main>
        <ul class="socialmedia_list{% if socialmedias.hasFlatColors %} flat{% endif %}">
            {% for socialmedia in socialmedias.items %}
            <li>
                {% if socialmedia.isTooltip %}
                <span class="socialmedia--{{socialmedia.name}} socialmedia_link" role="button" tabindex="0">
                    <span class="hide-visually">{{socialmedia.title}}</span>              
                    <div class="tooltip bs-tooltip-top" role="tooltip">
                        <div class="arrow"></div>
                        <div class="tooltip-inner">
                            <a href="{{socialmedia.url}}">
                                <img class="context-image" src="https://booking2k18ns.hkexpress.com/media/1313/ckeck-in-appstore.jpg?cropmode=percentaje&amp;width=480" alt="HK Express | Qr">
                            </a> 
                        </div>
                    </div>             
                </span>
                {% else %}
                <a href="{{socialmedia.url}}" class="socialmedia--{{socialmedia.name}} socialmedia_link">
                    {% if socialmedia.hasImg %}
                        <img src="{{ socialmedia.hasImg }}" alt="{{socialmedia.name}}">
                        {{socialmedia.title}}
                    {% else %}
                        <span class="hide-visually">{{socialmedia.title}}</span>
                    {% endif %}
                </a>
                {% endif  %}
            </li>
            {% endfor %}
        </ul>
    </ibe-socialmedia-main>
</div>