// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  BOXES
// ****************************************
//  + box
//  + action box
//  + total price box
// ****************************************

//  + box
//-------------------
.box {
	padding: 28px;
}
.box_title {
	@include font-size($f-size-md);
	margin: 0 0 14px 0;
	line-height: 1.2;
	font-family: $f-title;
	font-weight: 600;
	color: $c-primary;
}
.box_footer {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	.button {
		min-width: 220px;
		margin: 0 14px;
	}
}

.context-box_aside {
	@extend .box;
	box-sizing: border-box;
	padding: 18px;
	margin-bottom: 24px;
	border: 1px solid $c-primary;
	li a {text-decoration: none;}
	ul, ol {
		margin: 0;
		color: $c-primary;
	}
	p:last-child {
		margin-bottom: 0;
	}
	.context-box_aside_title { // to fix specificity issue
		margin: 0 0 calculateEm(14px, $f-size-h3);
		font-weight: 600;
	}
}
.context-box_aside_title {
	@extend .context-h3;
	color: $c-secondary;
}

//  + action box
//-------------------
.action-box {
	@include font-size($f-size-md);
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 88px;
	padding: 22px;
	font-family: $font-name;
	font-weight: 600;
	box-sizing: border-box;
	border-radius: $border-radius;
	border: 1px solid $c-primary;
	.label {
		@include iconfont($icon-error-circle);
		position: relative;
		flex: 1 1 100%;
		padding: 4px 0 4px 50px;
		line-height: 1.2;
		align-items: center;
		&::before { //## icon
			@include font-size(40px);
			position: absolute;
			left: 0;
			top: -2px;
			color: $c-primary;
			line-height: 1;
			padding-right: 6px;
			vertical-align: middle;
		}
	}
	.price {
		white-space: nowrap;
		color: $c-secondary;
		padding: 4px 0;
	}
	.mobile-text {
		display: none;
	}
	.button-column {
		display: flex;
		justify-content: flex-end;
		flex: 1 0 260px;
		.button {
			margin-left: 15px;
		}
	}
}
.action-box_button {
	@extend .btn-action;
	max-width: 240px; 
}

//  + total price box
//-------------------
.box_total-price {
	@extend .box;
	border-color: $c-primary;
	.title {
		@extend .box_title;
		@include font-size($f-size-lg);
	}
	.price {
		@extend .title-h3;
		margin-bottom: 0;
		color: $c-secondary;
	}
	//  + total price box
	//-------------------
	.box_total-price {
		&.box-bordercolor {
			border-width: 1px;
		}
	}
}

// [Responsive]
@media #{$until-tablet-landscape} { // <=992
	.action-box {
		.button-column {
			flex: 1 1 650px;
		}
	}
}
@media #{$until-tablet-portrait} { // <=768
	.action-box {
		justify-content: center;
		.caption {
			margin-right: 0;
		}
		.label {
			flex: 0 0 auto;
		}
	}
}
@media #{$until-mobile} { // <=640px   
	//  + total price box
	//-------------------
	.box_total-price {
		border-width: 1px;
	}
}
@media #{$until-mobile-sm} { // <=480px
	.box_footer {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		.button {
			width: 100%;
			margin: 0 0 20px 0;
		}
	}
}
