// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  BUTTONS
// ****************************************
//
// ****************************************

@mixin button-generator($color, $background, $border, $variation: 'darker', $insetborder: null) {
	color: $color;
	background-color: $background;
	border-color: $border;
	@if $insetborder == 'insetborder' {
		box-shadow: inset 0 0 0 1px $border;
	}
	&:focus,
	&.focus {
		color: $color;
		background-color: $background;
		border-color: $border;
	}
	&:hover {
		color: $color;
		@if $insetborder == 'insetborder' {
			@if $variation == 'darker' {
				box-shadow: inset 0 0 0 1px darken($border, $btn-darken-percentage);
			}
			@else if $variation == 'lighter' {
				box-shadow: inset 0 0 0 1px lighten($border, $btn-lighten-percentage);
			}
		}
		@if $variation == 'darker' {
			background-color: darken($background, $btn-darken-percentage);
			border-color: darken($border, $btn-darken-percentage);
		}
		@else if $variation == 'lighter' {
			color: $color;
			background-color: lighten($background, $btn-lighten-percentage);
			border-color: lighten($border, $btn-lighten-percentage);
		}
	}
}



//## reset button tag
button {
	padding: 0;
	font-family: $f-body;
	font-size: inherit;
	background: none;
	border: none;
}
.button {
	position: relative;
	display: inline-block;
	min-width: 200px;
	padding: 10px 24px;
	font-family: $button-fontfamily;
	font-size: $button-fontsize;
	text-align: center;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	border: 1px solid;
	border-radius: 100vh; // when line breaks continue border radius
	cursor: pointer;
	transition: all .06s linear;
	box-sizing: border-box;

	&[disabled='disabled'],
	&.disabled {
		cursor: default;
		opacity: .44;
		-webkit-user-select: none;
		user-select: none;
	}
}
//## anchor as button
a {
	&.button {
		text-decoration: none;
	}
}

.btn-loading {
	$button-loader-size: 12px;
	position: relative;
	opacity: .67;
	&::before {
		content:'';
		position: relative;
		float: right;
		width: $button-loader-size;
		height: $button-loader-size;
		margin-left: 14px;
		margin-right: -4px;
		border: 2px solid;
		border-left-color: transparent;
		border-radius: 50%;
		opacity: 1;
		transition: opacity .5s;
		animation: buttonRotate 1s linear infinite;
	}
}
//## button loading animation
@keyframes buttonRotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}

// + Styles
// -------
@mixin btn-action {
	@include button-generator($btn-action-color, $btn-action-bg, $btn-action-border);
}
@mixin btn-primary {
	@include button-generator($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	font-weight: 600;
}
@mixin btn-secondary {
	@include button-generator($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border, lighter);
	&:hover {
		border-color: $btn-secondary-border-hover;
		background-color: $btn-secondary-bg-hover;
		box-shadow: inset 0 0 0 1px $btn-secondary-border-hover;
	}
}
@mixin btn-inverse {
	@include button-generator($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border, lighter);
}
@mixin btn-light {
	@include button-generator($btn-light-color, $btn-light-bg, $btn-light-border, lighter, insetborder);
}


// ++ Button action
.btn-action {
	@include btn-action;
}
.btn-primary {
	@include btn-primary;
}
.btn-secondary {
	@include btn-secondary;
}
.btn-inverse {
	@include btn-inverse;
	&:hover {
		color: $btn-inverse-color-hover;
	}
}
.btn-light {
	@include btn-light;
} 

.button-centered {
	text-align: center;
	margin: 40px 0;
}

// button sizes
.btn-sm {
	@include font-size($f-size-xs);
	padding: 6px 12px;
}
