// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  MODALS
// ****************************************
//
//    + Modal close
//    + Modal headings
//    + Modal types
//        ++ Alert
//
// ****************************************

$modal-defaul-width: 580px;

//## Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

//## Container that the modal scrolls within
.modal {
    z-index: $modal-zindex;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    //## When fading in the modal, animate it to slide down
    &.fade.show,
    &.fade.in { opacity: 1; }
    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3s ease-out;
    }
    &.show .modal-dialog,
    &.in .modal-dialog { transform: translate(0, 0); }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    &.show {
        display: block;
    }
}

// Modal background
.modal-backdrop {
    @include overlay-style;
    z-index: $modal-overlay-zindex;

    //## Fade for backdrop
    &.fade { opacity: 0; }
    &.show,&.in { opacity: 1; }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.modal {
    padding: 0 !important; // to remove javascript padding left inline declaration;
    .close {
        position: absolute;
        top: calculateRem(-10px);
        right: calculateRem(-10px);
        width: 32px;
        height: 32px;
        padding: 0 6px;
        @include font-size($f-size-sm);
        font-weight: 600;
        z-index: $modal-zindex;
        color: $c-secondary;
        text-shadow: none;
        opacity: 1;
        cursor: pointer;
        background-color: $c-primary;
        border-radius: 50%;
        &::before {
            content: $icon-cross;
            font-family: $f-icons;
            top: 1px;
            position: relative;
        }
    }
}
.modal-dialog {
    position: relative;
    width: $modal-defaul-width;
    margin: 14vh auto;
}
.modal-content {
    position: relative;
    outline: 0;
    //margin: 0 auto;
    border: 1px solid $c-border;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    border: 0;
    border-radius: $border-radius;
    background-color: #fff;
    background-clip: padding-box;
}
.modal-inner {
    padding: 32px;
}
.modal-header {
    padding: 0 0 16px;
    border: 0;
}
.modal-body {
    position: relative;
    padding: 0;
    p {
        margin: 6px 0 10px 0;
    }
}
.modal-footer {
    text-align: center;
    padding: 0;
    margin-top: 34px;
    border: none;
}
.modal_footer_button {
    @extend .btn-secondary;
}
.modal_footer_button-action {
    @extend .btn-primary;
}


// + Modal headings
// -------
.modal-title,
.modal-subtitle {
    font-family: $f-title;
    line-height: 1.1;
    text-align: left;
}
.modal-title {
    color: $c-primary;
    @include font-size($f-size-lg);
    font-weight: 600;
    margin: 0;
}
.modal-subtitle {
    color: $c-primary;
    @include font-size($f-size-md);
    font-weight: 400;
    margin: 24px 0 0;
}
.modal_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ui-input-container {
        flex: 1 1 100%;
        max-width: calc(50% - 15px);
        margin-top: 10px;
    }
}

// + Modal types
// -------
// ++ Alert
.modal-alert{
    .close { display: none; }
    .modal-footer {
        button {
            width: 42%;
            margin: 0 2%;
        }
    }
}

// modal fares
.modal-fares {
    .modal-dialog {
        @media #{$tablet-landscape} {
            width: 980px;
        }
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .modal {
        .modal-inner {
            padding: 16px;
        }
        .modal-title {
            @include font-size($f-size-lg);
        }
    }
}
@media #{$until-mobile} { // <=640px
    .modal-dialog {
        width: calc(100% - 6vw);
        margin-right: 3vw;
        margin-left: 3vw;
    }
    .modal_form {
        .ui-input-container {
            max-width: unset;
            margin-top: 20px;
            &:first-child {
                margin-top: 10px;
            }
        }
    }
}
