// ********************
//  COMPONENTS
//
// ********************
//  PAGINATION
// ********************
//
// ********************

// pagination
$pagination-item-width: 34px;
.pagination {
    text-align: right;
}
.pagination_list {
    display: inline-flex;
    li {
        display: inline-block;
        &.prev, &.next {
            a {
                color: $c-secondary;
            }
        }
        &.prev {
            a {
                @include iconfont($icon-arrow-triangle-left);
                margin-right: 12px;
            }
        }
        &.next {
            a {
                @include iconfont($icon-arrow-triangle-right);
                margin-left: 12px;
            }
        }
        &.active {
            a {
                color: #fff;
                font-weight: 500;
                cursor: auto;
                background-color: $c-primary;
            }       
        }
    }
    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: $pagination-item-width;
        min-height: $pagination-item-width;
        border-radius: 50%;
        text-decoration: none;
        &:hover {
            color: $c-secondary;
        } 
    }
}

@media #{$until-tablet-portrait} { // <=768px
    .pagination {
        text-align: center;
    }
}

$pagination-item-width: 29px;
@media #{$until-mobile-sm} { // <=480px
    .pagination_list {
        position: relative;
        justify-content: center;
        width: 100%;
        // padding: 0 10px;
        box-sizing: border-box;
        li {
            flex-basis: 10%;
            text-align: center;
            a {
                min-width: $pagination-item-width;
                min-height: $pagination-item-width;
            }
            &.prev, &.next {
                display: none;
            }
        }
    }
}