// ----------------------------------------------------
// RATING
//
//  + Rating styles
//
// ----------------------------------------------------

$ui-rating-size: calculateRem(38px);
$ui-rating-gutter: calculateRem(10px);
$ui-rating-gutter-desktop: calculateRem(20px);

$ui-rating-label-color: $c-primary;
$ui-rating-label-color-checked: $c-secondary;

.ui-rating {
	display: inline-block;
	legend { @include hide-visually; }
	.ui-checkbox {
		margin: 0 ($ui-rating-gutter);
		padding: 0;
		&:last-child {
			margin-right: $ui-rating-gutter;
		}
	}
}

// [Responsive]
@media #{$tablet-landscape} { // >=768px
	.ui-rating {
		.ui-checkbox {
			margin: 0 ($ui-rating-gutter-desktop);
			&:last-child {
				margin-right: $ui-rating-gutter-desktop;
			}
		}
	}
}

// + Rating styles
// -------
@mixin ui-rating-smiles {
	.ui-checkbox {
		transition: transform .1s ease-in-out;
		transform: scale(1);
		&:hover {
			transform: scale(1.2);
		}
		label {
			color: $ui-rating-label-color;
			&::before,
			&::after { display: none; }
		}
		input {
			width: 100%;
			height: 100%;
			&:checked,
			&.is-checked {
				& + label {
					color: $ui-rating-label-color-checked;
				}
			}
		}
		//## icons
		&:nth-child(1) {
			.ui-checkbox_icon {
				@include iconfont($icon-plus-circle);
			}
		}
		&:nth-child(2) {
			.ui-checkbox_icon {
				@include iconfont($icon-minus-circle);
			}
		}
		&:nth-child(3) {
			.ui-checkbox_icon {
				@include iconfont($icon-social-facebook-circle);
			}
		}
		&:nth-child(4) {
			.ui-checkbox_icon {
				@include iconfont($icon-social-feed-circle);
			}
		}
		&:nth-child(5) {
			.ui-checkbox_icon {
				@include iconfont($icon-user-circle);
			}
		}
	}
	.ui-checkbox_icon {
		display: inline-block;
		width: $ui-rating-size;
		height: $ui-rating-size;
		font-size: $ui-rating-size;
		line-height: 1;
	}
}
