// main: ../styles.scss

// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  TABLES
// ****************************************
//    + table
//    + tfoot-total
//    + table-offers
//    + responsive-table
//    + table resume
//    + table fares
// ****************************************

//  + table
// -------
.price-resume_head {
    display: flex;
    font-weight: 600;
    padding: 5px 0;
    border-bottom: 1px solid $gray60;
    .label {
        color: $c-primary;
    }
    .price {
        color: $c-text;
        text-align: right;
        margin-left: auto;
    }
    .fare-label {
        margin-right: 7px;
    }
}

.table {
    width: 100%;
    text-align: left;
    thead {
        th {
            font-family: $font-name;
            font-weight: 600;
            line-height: 1.2;
            color: $c-primary;
            vertical-align: bottom;
            padding: 7px;
            border-bottom: 1px solid $c-primary;
        }
    }
    tbody {
        th, td {
            position: relative;
            padding: 5px 7px;
            vertical-align: middle;
            border-bottom: 1px solid $c-color2;
        }
    }
}

//  + tfoot-total
// -------
.tfoot-total {
    padding-top: 4px;
    text-align: right;
    color: $c-primary;
    font-family: $f-title;
    @include font-size($f-size-md);
    .label {
        font-weight: 600;
    }
    .price {
        margin-left: 8px;
        color: $c-secondary;
    }
}


//  + table-offers
// -------
.table-offers {
    @extend .table;
    tbody {
        .hide {
            display: none;
            @media #{$until-tablet-portrait} { //<=768px
                display: table-cell;
            }
        }
        tr th, tr td {
            border-bottom: 1px solid rgba($c-primary, .25);
        }
        th {
            padding-left: 0;
        }
        td {
            text-align: right;
            padding-right: 0;
        }
    }
    a {
        &, 
        &:hover {
            text-decoration: none;
        }
    }
    .price_currency {
        @include iconfont($icon-arrow-single-right);
        @include font-size(20px);
        padding-right: calculateEm(14px);
        &::before { //## arrow
            position: absolute;
            right: 0;
            top: 4px;
            font-size: calculateEm(11px);
            font-weight: 600;
            color: $c-color1;
        }
    }
}

//  + responsive table
// -------
.table-responsive_wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive {  
    @extend .table;
    @media #{$until-tablet-portrait} { // 768px
        thead tr {
            position: absolute;
            left: -9999px; //## accessibility
        }
        tbody {
            th, td {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 10px 0;
                text-align: right;
                white-space: pre-wrap;
                &::before { //## <th> simulation
                    content: attr(data-th);
                    flex: 1 0 50%;
                    text-align: left;
                    color: $c-primary;
                }
                &:first-child {
                    font-weight: 600;
                    padding-top: 24px;
                }
                &:last-child {
                    border-bottom: 1px solid $c-primary;
                    padding-bottom: 29px;
                }
                [class^='iconlink-'] + [class^='iconlink-'] { //## right align
                    padding-right: 0;
                }
            }
        }
    }
}

// + table resume
.table-resume {
  @extend .table;
  thead, tbody {
      tr {
        th:last-child, td:last-child {
            text-align: right;
        }
        th:first-child {
            padding-left: 0;
        }
      }
  }    
}

// + table fares
.table-fares {
    @media #{$tablet-portrait} {
        @include custom-scroll(lighten);
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }
    .table {
        text-align: center;
    }
}
