// main: ../styles.scss
//last modification 3:53 29/01/2018
// ****************************************
//  LAYOUT
//
// ****************************************
//  FOOTER
// ****************************************
//
// ****************************************

.footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $footer-color;
    background-position: center;
    background-color: $footer-background;
    .content {
        @extend .container-wrap;
        @include font-size($f-size-sm);
        text-align: right;
        line-height: 1.2;
        margin: 0 auto;
    }
    .poweredby {
        @include font-size(13px);
        display: block;
        padding-top: 13px;
        font-weight: 300;
    }
    .poweredby_logo {
        font-weight: 700;
        display: inline-block;
        width: 66px;
        .logo{
            img {
                margin-bottom: -2px;
            }
        }
    }
}
.footer_logo {
    float: left;
    width: 62px;
    margin: 9px 0 5px;
    .logo {
        display: block;
    }
}
.footer_right{
    float: right;
}
@media #{$until-tablet-portrait}{
    .footer{
        display: none;
    }
}
