// main: ../styles.scss

// ****************************************
//  LAYOUT
//
// ****************************************
//  HEADER
// ****************************************
//
// ****************************************

// + variables
$header-top-gutter: calculateRem(20px);

// + header
.header {
    border-top: 4px solid $c-color1;
    background-color: $header-background;
}
.header_container {
    @extend .container-wrap;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
    @media #{$until-mobile} { // <=640px
        .overlay-in-header & {
            z-index: 10000;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
        }
    }
}
.header_logo {
    margin: 0 auto;
    .logo {
        display: block;
        width: $header-logo-width-mobile;
        img {
            display: block;
            width: 100%;
        }
    }
}
// .header_left {}
.header_nav {
    .nav_item {
        display: inline-block;
        .nav_item_link {
            padding: 10px 28px;
            font-family: $font-name;
            font-weight: bold;
            text-transform: uppercase;         
            color: $c-primary;
            text-decoration: none;             
            @media #{$until-tablet-portrait}  { // <=768px
                padding: 10px 15px;  
            }       
        }
    }
}
.header_booking-steps {
    flex: 1 1 100%;
}
.header_links_item {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    .ui-dropdown_list {
        z-index: ($overlay-zindex - 1);
        left: auto;
        right: -1px;
        max-height: 152px;
    }  
    &:last-child {
        margin-right: 0;
        padding-right: 0;
        &::after { //#border menu, it has not
            display: none;
        }
    }
    // modifiers
    &.link-user {
        button { // dropdown trigger
            @include iconfont($icon-usuario, before);
        }
    }
    &.link-language {
        button { // dropdown trigger
            @include iconfont($icon-mascota2, before);
        }
    }
    // &.link-currency {}
}
.header_link {
    @include font-size($f-size);
    color: $c-primary;
    font-weight: 600;
    line-height: 1.2;
    padding: 0;
    cursor: pointer;
    &::before { //#icon menu
        @include font-size(30px);
        position: relative;
        top: 1px;
        color: $c-primary;
    }
}
.header_link_label {
    display: none;
}
// + header auth
.header_auth {
    position: absolute;
    top: 0;
    right: $gutter;
    display: flex;
    justify-content: center;
}
.header_auth_link {
    @include iconfont($icon-usuario);
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 0 0 44px;
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 34px;
        color: $gray60;
    }
}
.header_auth_label,
.header_auth_text {
    display: none;
}
.header_auth_label {
    margin-top: 4px;
    font-weight: 600;
    text-transform: uppercase;
}
.header_auth_text {
    font-weight: normal;
    color: $gray50;
    line-height: 1;
}
.header_summary {
    z-index: $summary-zindex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    height: 45px;
    margin: 0 (-$gutter);
    background-color: $c-color2;
}

// [Responsive]
@media #{$mobile-sm} {
    .header_logo {
        .logo {
            width: $header-logo-width;
        }
    }
}
@media #{$mobile} {
    .header_container {
        margin-top: $header-top-gutter;
    }
    .header_auth {
        padding: 0  0 0 $gutter;
    }
    .header_auth_link {
        &::before {
            left: 0;
            right: initial;
        }
    }
    .header_auth_label,
    .header_auth_text {
        @include font-size($f-size-xs);
        display: block;
    }
}
@media #{$tablet-portrait} {
    .header_container {
        padding-bottom: calculateRem(16px);
    }
    .header_booking-steps {
        flex: 1 1 auto;
    }
    .header_auth {
        position: static;
    }
    .header_summary {
        align-items: flex-start;
        flex: 0 1 auto;
        margin: $gutter 0 0;
        background-color: initial;
    }
}
@media #{$tablet-landscape} {
    .header_container {
        flex-wrap: nowrap;
    }
    .header_auth {
        justify-content: center;
        flex-basis: 260px;
        padding: 0 $gutter;
    }
    .header_summary {
        margin: 0;
    }
}
