// ********************
//  COMPONENTS
//
// ********************
//  HEADER CORPORATIVE
// ********************
//    + main submenu nav
//    + Corp inner pages like IBE Header
//
// *********************

// variables
$subnav-pad-left: 18px;
$main-header-ui-dropdown-width: 200px;
$main-header-padding-top: 24px;
$main-header-icon-position-right: 30px;
$main-header-nav-item-mobile-padding: 24px #{$main-header-icon-position-right + 10px} 24px 15px;
$main-header-nav-item-mobile-border: 1px solid $gray65;
// $main-header-before-height: 5px;

.main-header_wrap {
    z-index: ($overlay-zindex + 1);
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 4px solid $c-color1;
    background-color: #fff;
}
.main-header {
    @extend .container-wrap;
    margin-bottom: $main-header-mobile-height;
    position: relative;
    padding: 14px 0;
    transition: all .1s linear;
}
.main-header_container {
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    background: none;
}
.main-header_navbar-toggle {
    z-index: 5;
    position: absolute;
    top: 0;
    display: block;
    cursor: pointer;
    &.toggle1 {
        left: 14px;
    }
    &.toggle2 {
        right: 14px;
    }
    .icon {
        @include font-size($f-size-xxlg);
        color: $c-primary;
    }
}
.main-header_navbar-toggle_bar {
    display: block;
    width: 20px;
    height: .7px;
    margin: 4px 0;
    padding: .7px 0;
    background: $c-primary;
}
.main-header_navbar-toggle_label {
    @extend .hide-visually;
}
.main-header_logo {
    z-index: 3;
    text-align: center;
    transition: $header-transitions;
    line-height: 0;
    .logo {
        display: inline-block;
        width: $header-logo-width;
        transition: $header-transitions;
        img { height: 100%; max-width: 100px; }
    }
}
.main-header_nav {
    //display: none;
    flex-direction: column;
    background: #fff;
    transition: $header-transitions;
    &.collapse {
        display: flex;
        height: calc(100vh - #{$main-header-mobile-height});
    }
    &.open-login {
        .main-header_nav-primary, 
        .main-header_nav-tertiary {
            display: none;
        }
        .main-header_nav-secondary {
            .link-user {
                display: block;
                .nav_item_link { display: none; }
                .main-header_subnav { display: flex; }
            }
            .link-language {
                display: none;
            }
        }
    }
    .nav_item {
        vertical-align: middle;
    }
    .nav_item_link {
        display: block;
        text-decoration: none;
        cursor: pointer;
    }
    .ui-dropdown_list {
        width: auto;
        max-height: none;
        overflow: hidden;
        right: 0;
        left: inherit;
        .active {
            a {
                background: $gray90;
                pointer-events: none;
            }
        }
    }
}

//## primary,secondary and tertiaty navs
.main-header_nav-primary {
    order: 1;
    .nav_item {
        border-bottom: $main-header-nav-item-mobile-border;
        &.active {
            .main-header_subnav {
                display: block;
            }
        }
    }
    .nav_item_link {
        @include collapse-trigger($f-size-xs, $c-primary, right);
        @include font-size($f-size);
        width: 100%;
        text-align: left;
        margin: 0;
        position: relative;
        padding: $main-header-nav-item-mobile-padding;
        font-family: $f-title;
        font-weight: 600;
        color: $c-primary;
        &::after {
            @include font-size($f-size-xs);
            position: absolute;
            right: $main-header-icon-position-right;
            top: $main-header-icon-position-right;
        }
    }
}
.main-header_nav-secondary {
    order: 3;
    .nav_item {
        border-bottom: $main-header-nav-item-mobile-border;
        &:last-child {
            .nav_item_link {
                margin-right: 0;
            }
        }
    }
    .link-currency {
        display: none;
    }
    .link-user {
        display: none;
        border: 0;
        .nav_item_link {
            padding-right: 22px;
            white-space: nowrap;
            .icon {
                @include font-size($f-size-xxlg);
                margin-right: 10px;
                color: $gray60;
                float: left;
            }
            .nav_item_link_title_label {
                display: inline-block;
                margin-top: 5px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .nav_item_link_text {
                display: block;
                @include font-size($f-size-xs);
                font-weight: normal;
                color: $gray50;
                line-height: 1;
            }
        }
    }
    .nav_item_link_bg {
        width: 27px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .ui-dropdown {
        .ui-dropdown_list {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    @include ellipsis;
                }
            }
        }
        .ui-dropdown_list_item_icon {
            width: 25px;
            padding: 0 5px;
            padding-left: 0;
            vertical-align: middle;
        }
        .nav_item_link {
            @include collapse-trigger($f-size-xs, $c-primary, right);
            @include font-size($f-size);
            font-weight: 600;
            width: 100%;
            text-align: left;
            &:after {
                @include font-size($f-size-xs);
                top: 30px;
                right: $main-header-icon-position-right;
            }
        }
    }
    .nav_item_link {
        @include font-size($f-size-xs);
        padding: $main-header-nav-item-mobile-padding;
        .icon {
            @include font-size($f-size-md-sm);
            vertical-align: middle;
        }
    }
}
.main-header_nav-tertiary {
    order: 2;
    .nav_item {
        background: $c-color1;
        color: #fff;
        border-bottom: $main-header-nav-item-mobile-border;
        &.active {
            .nav_item_link {
                @include iconfont($icon-aceptar, before);
                &::before {
                    @include font-size($f-size-xs);
                    padding-right: 10px;
                    font-weight: 700;
                }
            }
        }
    }
    .nav_item_link {
        padding: $main-header-nav-item-mobile-padding;
        @include font-size($f-size);
        font-weight: 600;
        text-transform: capitalize;
        color: #fff;
    }
}

.main-header_nav-shortcut {
    display: block;
    position: absolute;
    top: $main-header-mobile-height;
    left: 0;
    width: 100%;
    ul {
        display: flex;
    }
    .nav_item {
        flex-basis: 50%;
        & + .nav_item {
            border-left: 2px solid #fff;
        }
        &.active {
            .nav_item_link {
                border-color: $c-secondary; 
                background: #fff;
            }
        }
    }
    .nav_item_link {
        @include font-size($f-size-xs);
        width: 100%;
        min-height: $main-header-mobile-height;
        padding: 16px;
        font-weight: 600;
        background: $gray98;
        color: $c-secondary;
        border-top: 2px solid $gray98;
        text-transform: uppercase;
        text-align: center;
        .icon {
            @include font-size($f-size-sm);
        }
    }
    .main-header_subnav {
        //display: block;
        width: 100%;
        height: calc(100vh - #{$main-header-mobile-height * 2});
        padding-top: 24px;
        position: absolute;
        left: 0;
        transition: all .35s ease-in-out;
        box-sizing: border-box;
    }

}

//## subnav
.main-header_subnav {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    z-index: 6;
}
.main-header_subnav_inner {
    .icon {
        display: none;
        @include font-size($f-iconsize-super);
        color: $c-color1;
        grid-column: 1;
        grid-row: 1;
    }
}
.main-header_subnav_desc_title {
    @include font-size($f-size-md);
    display: none;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1;
}
.main-header_subnav_desc_text {
    @include font-size($f-size-sm);
    display: none;
}
.subnav_desc_text-lists {
    @extend .list-bullet;
    .subnav_desc_text-list {
        margin: 0;
    }
}
.main-header_column {
    @include font-size($f-size);
    ul {
        margin-bottom: 20px;
    }
}
.main-header_subnav_component {
    .ui-form_input-buttons {
        margin-top: 30px;
    }
}
.subnav_item_n2 {
    @include font-size(14px);
    display: block;
    padding-bottom: 6px;
    font-weight: 500;
    text-decoration: none;
}
.subnav_item_n3 {
    display: block;
    padding: 10px 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
}

@mixin subnav-inner-mobil() {
    .main-header_nav-primary {
        .nav_item {
            &:first-child {
                .main-header_subnav_inner {
                    grid-template-columns: 1fr 3fr 5fr;
                }
            }
            &:last-child {
                .nav_item_link {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    .main-header_subnav_inner {
        display: grid;
        grid-template-columns: 1fr 4fr 4fr;
        .icon {
            grid-column: 1;
            grid-row: 1;
        }
    }
    .main-header_subnav_desc_title {
        display: block;
        grid-column: 2;
        grid-row: 1;
    }
    .main-header_subnav_desc_text {
        display: block;
        grid-column: 2;
        grid-row: 2;
    }
    .main-header_column {
        display: flex;
        justify-content: space-between;
        grid-column: 3;
        grid-row: 1/span 3;
        padding-left: 10px;
    }
    .main-header_subnav_component {
        grid-column: 3;
        grid-row: 1/span 3;
        padding-left: 40px;
    }
    
}

// [Responsive]
@media (max-width: $header-nav-breakpoint-collapsed - 1) { //## <=767
    .main-header_nav {
        @include custom-scroll(lighten);
        height: 0;
        overflow-x: hidden;
        .ui-dropdown_list {
            @include font-size($f-size);
            position: relative;
            max-height: none;
            margin: 0;
            padding-left: 14px;
            padding-top: 0;
            border: 0;
            font-weight: 600;
            margin-bottom: 20px;
            li + li {
                padding-top: 7px;
            }
        }
    }
}
@media (min-width: $header-nav-breakpoint-collapsed) { // >= 769px
    @include subnav-inner-mobil();
    .main-header {
        margin-bottom: 0;
        padding: $main-header-padding-top 14px;
    }
    .main-header_logo .logo img {
        max-width: inherit;
    }
    .main-header_container {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        height: 100%;
    }
    .main-header_navbar-toggle {
        display: none;
    }
    .main-header_logo {
        margin: 0;
        .logo { display: block; }
    }
    .main-header_nav {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1 1 100%;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 10px;
        .nav_item {
            display: block;
            float: left;
        }
    }
    .main-header_subnav {
        @include custom-scroll(lighten);
        position: absolute;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding-left: 0;
        padding-right: 0;
        max-height: 80vh;
        // box-shadow: 0 28px 57px -33px #000;
    }
    .main-header_subnav_inner {
        padding: 20px;
        text-align: left;
        .icon {
            display: block;
        }
    }
    .main-header_nav-primary {
        flex: 1 1 auto;
        text-align: left;
        .main-header_subnav {
            top: 160%;
            left: 0;
            width: 85%;
        }
        .nav_item {
            margin: 0 2%;
            border: 0;
        }
        .nav_item_link {
            @include font-size(18px);
            width: auto;
            padding: 6px 0;
            margin-right: 15px;
            &[aria-expanded="true"] {
                color: $c-secondary;
            }
            &::after {
                content: "";
                right: -20px;
                height: 20px;
                width: 2px;
                top: 50%;
                transform: translateY(-50%) !important;
                background: $gray95;
            }
        }
    }
    .main-header_nav-secondary {
        margin-left: auto;
        flex-shrink: 0;
        .main-header_subnav {
            right: 0;
            width: 60%;
        }
        .nav_item { 
            display: inline-block;
            float: none;
            margin: 0;
            border: 0;
        }
        .link-user {
            display: inline-block;
            text-align: left;
        }
        .nav_item_link_bg {
            padding: 0 5px;
        }
        .ui-dropdown {
            .nav_item_link {
                width: auto;
                @include font-size($f-size-xs);
                font-weight: 400;
                &::after {
                    @include font-size(10px);
                    top: 5px;
                    right: 0;
                }
            }
        }
        .nav_item_link {
            margin: 0 7px;
            padding: 0;
        }
    }
    .main-header_nav-tertiary {
        position: absolute;
        right: 0;
        top: -29px;
        .nav_item {
            background: transparent;
            border-bottom: 0;
            &.active {
                background: $c-color1;
                .nav_item_link {
                    // margin-top: 0;
                    // margin-bottom: 0;
                    color: #fff;
                    &::before { display: none; }
                }
            }
        }
        .nav_item_link {
            @include font-size(13px);
            margin: 0 6px;
            padding: 2px 0;
            text-transform: uppercase;
            color: $c-color1;
        }
    }
    .main-header_nav-shortcut {
        display: none;
    }
    .subnav_item_n2 {
        @include font-size($f-size);
        margin-bottom: 12px;
        border-bottom: 1px solid $gray95;
    }
    .subnav_item_n3 {
        padding: 0;
        font-weight: 500;
        text-transform: uppercase;
        color: $gray50;
    }
    .main-header_column {
        & > * {
            flex-basis: calc(100% - 40px);
            text-align: left;
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    .main-header_subnav_list {
        margin-top: 8px;
    }
}

@media #{$desktop} {
    .main-header_nav {
        margin-left: 3%;
    }
}
