// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FOOTER
// ****************************************
//
//    + Main footer container
//    + Main footer
//    + Main footer title
//    + Logo
//    + Navigation
//    + Social media
//    + Newsletter
//    + Fly programs
//    + Footer copyright section
//    + Copyright
//    + Language bar
//
//    [Responsive]
//
// ****************************************


// + Variables
// -------
$main-footer_row-gap: 16px;

// + Main footer container
// -------
.main-footer {
    width: 100%;
    padding: 34px 0;
    margin-top: 40px;
    color: $mainfooter-color;
    background-color: $mainfooter-background;
    @media #{$tablet-portrait} { // > 768px
        position: absolute;
        bottom: 0;
    }
}


// + Main footer content
// -------
.main-footer_content {
    @extend .container-wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// + Logo
// -------
// .main-footer_logo {}


// + Navigation
// -------
.main-footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        color: $mainfooter-color;
        text-decoration: none;
    }
    li {
        margin: 2px 0;
        a:hover {
            text-decoration: underline;
        }
    }
}
.main-footer_nav-title {
    @extend .title-h4;
    display: block;
    text-transform: uppercase;
    color: $mainfooter-color;
}
.main-footer_nav-column {
    flex: 1 1 auto;
    margin: 14px 24px;
    &:last-child {
        ul {
            column-count: 2;
        }
    }
}

// + Social media
// -------
.main-footer_socialmedia {
    flex-basis: 100%;
    order: -1;
    margin-bottom: 16px;
    text-align: center;
}

// + main footer title
// -------
.main-footer_title {
    flex-basis: 100%;
    display: block;
    text-align: center;
    border-top: 1px solid $gray70;
    margin-bottom: 14px;
    padding-top: 30px;
    .title {
        @include font-size($f-size-h3);
        font-weight: 700;
        color: $mainfooter-color;
    }
}

// // + Newsletter
// // -------
// .main-footer_newsletter {}


// // + Fly programs
// // -------
// .fly-programs {}
// .fly-programs_item {}


// + Footer bottom section
// -------
.main-footer_bottom {
    @extend .container-wrap;
}
.main-footer_bottom_content {
    @include font-size($f-size-sm);
    text-align: center;
    margin-top: $main-footer_row-gap;
    padding-top: 22px;
    border-top: 1px solid $gray70;
    .ui-dropdown {
        display: inline-block;
    }

    // + Copyright and PoweredBy
    // -------
    .copyright {
        @include font-size($f-size);
        margin: 0;
    }
}

// + Language bar
// -------
// .main-footer_language-bar {
//     float: right;
//     text-align: right;
//     color: $c-primary;
//     font-weight: 500;
//     margin-left: auto;
//     .ui-dropdown {
//         display: inline-block;
//         li {
//             display: inline-block;
//             margin: 0 7px;
//             a {
//                 text-decoration: none;
//                 white-space: nowrap;
//                 &:hover {
//                     text-decoration: underline;
//                 }
//             }
//         }
//         .nav_item_link {
//             @include iconfont($icon-mascota2);
//             padding-left: 2.1em;
//             color: $c-primary-dark;
//             font-weight: 500;
//             cursor: pointer;
//             &::before {
//                 position: absolute;
//                 left: 0;
//                 top: -2px;
//                 font-size: 1.6em;
//                 color: $c-primary;
//                 cursor: pointer;
//             }
//         }
//         .ui-dropdown_list {
//             top: initial;
//             left: initial;
//             bottom: calc(100% + 5px);
//             width: 100%;
//             right: 0;
//         }
//     }
// }