<div class="promocode">
    {% if searchFlight.promocode.linkText %}
    <button class="promocode_link" data-target="promocodeLink">
        {{searchFlight.promocode.linkText | safe}}
    </button>
    {% endif %}

    <div class="promocode_form" data-target="promocodeForm">
        {% set inputForm = searchFlight.promocode.formControl %}
        {% include "partials/ui-elements/_input_text.njk" %}
        
        {% if searchFlight.promocode.formControl.button %}
        <button class="button promocode_button">
            {{searchFlight.promocode.formControl.button.text}}
        </button>
        {% endif %}
    </div>
</div>