// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  CONNECTIONS
// ****************************************
//
// ****************************************
$connection-airplane-color: $c-color1;
$connection-dot-color: $c-primary;
$connection-dot-size: 9px;
// identation
// $vertical-dots-identation: calculateRem(34px);
$vertical-dots-identation-mobile: 28px;
$duration-time-identation-mobile: 48px;

.connections {
    position: relative;
}
.connections_item {
    position: relative;
    font-family: $font-sanserif;
    padding: calculateRem(8px) 0 calculateRem(8px) calculateRem(130px);
    &.transit-step {
        .time {
            display: inline; // rewrite colDuration specificity bug
            font-weight: 600;
        }
        .label {
            color: $c-color2;
        }
    }
    .airport {
        word-break: break-all;
    }
    .time {
        @include font-size($f-size-sm);
        left: 55px;
    }
}
.connections_route {
    @include font-size($f-size);
    .time {
        @include font-size($f-size);
        position: absolute;
        font-weight: 600;
        color: $c-primary;
    }
}
.connections_separator {
    @include iconfont($pbicon-plane-right, after);
    position: relative;
    &::before { //## vertical dots line
        content: '';
        top: calculateRem(22px);
        left: calculateRem(38px);
        width: 1px;
        border-left: 1px solid $c-primary;
        background-color: transparent;
        height: 100%;
        position: absolute;
    }
    &::after { //## airplane icon
        @include font-size(18px);
        position: absolute;
        left: 0;
        top: 64%;
        color: $connection-airplane-color;
    }
    &:last-child {
        &::before {
            content: none;
        }
        &::after {
            content: none;
        }
    }
    &:first-child .connections_item:first-child,
    &:last-child .connections_item:last-child {
        //## first and last <li>
        font-weight: 600;
        &.connections_route {
            &::after { //## dot icon
                background-color: $connection-dot-color;
            }
        }
    }
    &:first-child .connections_item:first-child {
        &.connections_route {
            &::after { //## dot icon (first)
                top: calculateRem(21px);
            }
        }
    }
    &:last-child .connections_item:last-child {
        &.connections_route {
            &::after { //## dot icon (last)
                top: auto;
                bottom: calculateRem(8px);
            }
        }
    }
    // modifiers
    &.transit {
        &::before {
            border-color: $c-color2;
        }
        &::after {
            content: none;
        }
    }
}

.connections_route {
    &::after { //## dot icon
        content: '';
        position: absolute;
        left: calculateRem(34px);
        top: 50%;
        width: $connection-dot-size;
        height: $connection-dot-size;
        border-radius: 50%;
        background-color: $c-color2;
        transform: translateY(-50%);
    }
}

.connections_total {
    @include font-size($f-size);
    position: relative;
    padding: 7px calculateRem(30px);
    margin: 14px 0 10px;
    color: $c-primary;
    z-index: 1;
    .time {
        @include font-size($f-size);
        font-weight: 600;
    }
}