<interactive-map-destination>
    {# destination preview #}
    {% set destinationPreview = interactiveMap.destinationPreview %}
    {% include "partials/components/_shared/destination-preview/_destination-preview.njk" %}               
</interactive-map-destination>