{#
    DOCUMENTATION:
    interactiveMap: {
        VARIABLES:
        destinationCards: DestinationCard[] // destination card collection config
        destinationPreview: DestinationPreview // destination preview config
    }

    EXAMPLE:
    {% set interactiveMap = {
        destinationPreview: {
            city: 'Bratislava',
            description: 'A vibrant city with rich history and the best nightlife in Eastern Europe… <a href="#">More</a>',
            image: 'buenos-aires'
        },
        destinationCards: {
            items: [
                {
                    city: 'Bratislava',
                    image: 'buenos-aires-square',
                    date: {
                        day: '12',
                        month: 'Feb',
                        year: '2019'
                    },
                    price: {
                        value: '5'
                    }
                },
                {
                    city: 'Rome',
                    image: 'buenos-aires-square',
                    date: {
                        day: '22',
                        month: 'Mar',
                        year: '2019'
                    },
                    price: {
                        value: '30'
                    }
                },
                {
                    city: 'Sochi',
                    image: 'buenos-aires-square',
                    date: {
                        day: '12',
                        month: 'Ene',
                        year: '2019'
                    },
                    price: {
                        value: '7',
                        decimals: '99'
                    }
                },
                {
                    city: 'Bratislava',
                    image: 'buenos-aires-square',
                    date: {
                        day: '12',
                        month: 'Feb',
                        year: '2019'
                    },
                    price: {
                        value: '5'
                    }
                },
                {
                    city: 'Rome',
                    image: 'buenos-aires-square',
                    date: {
                        day: '22',
                        month: 'Mar',
                        year: '2019'
                    },
                    price: {
                        value: '30'
                    }
                },
                {
                    city: 'Sochi',
                    image: 'buenos-aires-square',
                    date: {
                        day: '12',
                        month: 'Ene',
                        year: '2019'
                    },
                    price: {
                        value: '7',
                        decimals: '99'
                    }
                }
            ]
        }
    } %}
    {% include "partials/components/IBE/interactive-map/_interactive-map.njk" %}
#}

<interactive-map>
    <div class="interactive-map">
        <div class="interactive-map_search">
            {% include "partials/components/IBE/interactive-map/_interactive-map-search.njk" %}
        </div>
        <div class="interactive-map_globe">
            <interactive-map-globe>
                GLOBE
            </interactive-map-globe>
        </div>
        <div class="interactive-map_results">
            {% include "partials/components/IBE/interactive-map/_interactive-map-search-results.njk" %}
        </div>
        <div class="interactive-map_action">
            {% include "partials/components/IBE/interactive-map/_interactive-map-destination.njk" %}
        </div>
    </div>
</interactive-map>
