<interactive-map-search>
    <div class="interactive-search">
        {# triptype #}
        <div class="triptype">
            {% set selectForm = {
                label: '',
                id: 'triptype',
                options: [
                    {
                        name: 'Round trip',
                        id: 'roundTrip'
                    }
                ]
            } %}
            {% include "partials/ui-elements/_select.njk" %}
        </div>

        {# typology #}
        <div class="typology">
            {% set selectForm = {
                label: '',
                id: 'typology',
                options: [
                    {
                        name: '1 Passenger',
                        id: '1-passenger'
                    }
                ]
            } %}
            {% include "partials/ui-elements/_select.njk" %}
        </div>

        {# trip styles #}
        <div class="trip-styles">
            {% set selectForm = {
                label: '',
                id: 'tripstyles',
                hasButtonOptions: true,
                options: [
                    {
                        name: 'Trip types',
                        id: '1-passenger'
                    }
                ]
            } %}
            {% include "partials/ui-elements/_select.njk" %}
        </div>

        {# route #}
        {% include "partials/components/IBE/flight-search/route/_route_input.njk" %}

        {# dates #}
        {% include "partials/components/IBE/flight-search/dates/_dates.njk" %}

        {# price #}
        <div class="interactive-search_price-range">
            <div class="interactive-search_price-range_type">
                {% set selectForm = {
                    label: '',
                    id: 'interactiveSearchType',
                    options: [
                        {
                            name: '€',
                            id: 'euro'
                        }
                    ]
                } %}
                {% include "partials/ui-elements/_select.njk" %}
            </div>
            <div class="interactive-search_price-range_input">
                {%
                    set sliderRange= {
                        value: {
                            iteger: "40",
                            units: "€"
                        }
                    }
                %}
                {% include "partials/ui-elements/_slider-range.njk" %}
            </div>
        </div>

        {# visa #}
        <div class="interactive-search_visa">
            {% set switch = {
                label: 'No visa required'
            } %}
            {% include "partials/ui-elements/switch/_switch.njk" %}
        </div>

        {# stop #}
        <div class="interactive-search_stops">
            {% set switch = {
                label: 'Non-stop'
            } %}
            {% include "partials/ui-elements/switch/_switch.njk" %}
        </div>

        {# reset #}
        <div class="interactive-search_reset">
            <button class="interactive-search_reset-button">{{ interactiveSearch.reset.text }}</button>
        </div>
    </div>
</interactive-map-search>