<interactive-map-search-results>
    {% set destinationCards = {
        items: interactiveMap.destinationCards.items
    } %}
    {% include "partials/components/_shared/destination-card/_destination-card.njk" %}
</interactive-map-search-results>