<div class="newsearch">
    {% if newSearch.header %}
        <div class="newsearch_header">
            {% if newSearch.header.title | length %}
                <div class="newsearch_title">
                    <h2 class="title">{{ newSearch.header.title }}</h2>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
</div>
