<div class="newsearch_wrap">
    {% if newSearch.trigger | length %}
        <div class="newsearch_trigger">
            <button class="button" 
                data-toggle="collapse" 
                data-target="#collapseNewSearch" 
                aria-expanded="false" 
                aria-controls="collapseNewSearch">
                {{ newSearch.trigger.label }}
            </button>
        </div>
    {% endif %}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>
</div>