// ****************************************
// GLOBALS VARIABLES
// ****************************************
// UI-ELEMENTS/FORMS
//
// ****************************************
//  FORM CONTROL
// ****************************************
//
// ****************************************

// + FORM CONTROLS
// -------
// ++ LABEL
$label-family: $f-title !default;
$label-fontsize: $f-size !default;
$label-color: $c-text !default;
//## label info
$label-info-icon: '\e910' !default;
$label-info-fontsize: $f-size-sm !default;
$label-info-color: $c-text !default;

// ++ INPUT
//## height and spaces
$input-container-height: 50px !default;
$input-height: 30px !default;
$input-margin-bottom: 20px !default;
$input-tb-pad: 6px !default;  // top bottom
$input-lr-pad: 8px !default; // left right
$ui-input-icon-left-space: 34px !default;
$input-transition: ease-out .2s !default;
//## typography
$input-fontfamily: $font-sanserif !default;
$input-fontsize: $f-size !default;
//## color
$input-color: $c-text !default;
//## icon
$input-icon-color: $c-primary !default;
$input-icon-fontsize: 19px !default;
$input-icon-position-top: calculateRem(5px) !default;
$input-icon-position-left: 8px !default;
//## borders
$input-border-color: $gray60 !default;
$input-border-width: 0 0 1px 0 !default;
$input-border-bottom-color: $c-color2 !default;
$input-background: transparent !default;
$input-border-radius: 0 !default;
//## placeholder
$input-color-placeholder: $c-color2 !default;
//## hover
$input-border-color-hover: shade($input-border-color, 14%) !default;
$input-background-hover: $input-background !default;
//## focus
$input-color-label-focus: $label-color !default;
$input-color-focus: $input-color !default;
$input-border-color-focus: $input-border-color-hover $input-border-color-hover $c-secondary !default;
$input-shadow-focus: 0 1px 0 0 $c-primary !default;
$input-icon-color-focus: $c-primary !default;
//## disabled
$input-opacity-disabled: .6 !default;
$input-color-disabled: $input-color-placeholder !default;
$input-border-color-disabled: $c-color2 !default;
$input-background-disabled: $input-background !default;
//## readonly
$input-color-label-readonly: $label-color !default;
$input-color-readonly: tint($c-text, 40%) !default;
$input-border-color-readonly: $input-border-color !default;
$input-border-color-readonly-hover: $input-border-color-readonly !default;
//## has-error
$input-error-color: $c-error !default;
$input-error-border: $c-error !default;
$input-error-icon: '\e90d' !default;
$input-error-boxshadow: 0 1px 0 0 $c-error !default;
//## is valid
$icon-check-circle: '\e919' !default;
//## has value
$input-color-hasvalue: $c-primary !default;
$input-font-weight-hasvalue: 600 !default;
$input-border-color-hasvalue: $c-primary !default;
$input-icon-color-hasvalue: $c-primary !default;
$input-color-label-hasvalue: $c-primary !default;

// -------
// + FORM CONTROL INVERSE STYLE
//## label inverse style
$label-inverse-color: #fff !default;
$label-inverse-hover-color: #fff !default;
// ## input inverse style
$input-inverse-color: #fff !default;
$input-inverse-color-hover-hover: #fff !default;
$input-inverse-fontweight: 400 !default;
$input-inverse-background: transparent !default;
$input-inverse-border-color: #fff !default;
//## readonly
$input-inverse-color-readonly: #fff !default;
//## error
$input-inverse-color-error: $input-error-color !default;
$input-inverse-border-color-error: $input-error-border !default;
//## valid
$input-inverse-color-message-valid: $c-secondary !default;
//## input hasicon
$input-inverse-icon-color: #fff !default;
//## information icon
$input-inverse-information-color: #fff !default;

// -------
// + FORM CONTROL WITH ANIMATE LABEL
$label-moveup-input-padding-top: 20px !default;
$label-moveup-frame2-fontsize: 12px !default;
$label-moveup-frame1-position-left: calculateRem($input-lr-pad) !default;
$label-moveup-frame1-position-top: calculateRem(22px) !default;
$label-moveup-frame2-position-left: 0 !default;
$label-moveup-frame2-position-top: 0 !default;
$label-moveup-transition: ease-out .2s !default;

// ++ INPUT MULTILINE
$input-multiline-height: 50px !default;
$input-multiline-valuelarge-fontsize: 20px !default;
$input-multiline-valuelarge-fontweight: 400 !default;
$input-multiline-valuesmall-fontsize: 16px !default;
$input-multiline-valuesmall-fontweight: 600 !default;
$input-multiple-separator-color: $c-primary !default;

// + DROPDOWN (SELECT)
// ------
//## arrow
$dropdown-arrow-icon: $icon-arrow-single-down !default;
$dropdown-arrow-color: $c-secondary !default;
$dropdown-arrow-fontsize: 10px !default;
$dropdown-arrow-position-right: 8px !default;
$dropdown-arrow-padding: 10 !default;
//## items
$dropdown-item-color: $c-text !default;
$dropdown-item-margin: 4px 0 0 !default;
$dropdown-item-padding: 5px 0 !default;
$dropdown-item-background: #fff !default;
$dropdown-item-color-hover: $dropdown-item-color !default;
$dropdown-item-background-hover: #fff !default;
$dropdown-arrow-color-disabled: $gray60 !default;
//# list
$dropdown-maxheight: 150px !default; //## 5 itens visible
$dropdown-minwidth: 160px !default;
$dropdown-border-width: 1px !default;
$dropdown-border-style: solid;
$dropdown-border-color: $input-border-color !default;
$dropdown-list-background: $input-background !default;

// ++ VALIDATION
$input-message-valid-fontsize: $f-size-xs !default;
$input-message-valid-color: $c-success !default;