// ****************************************
//  GLOBALS

// ****************************************
//  FORM CONTROLS
//
//  + Label
//  + Form groups
//  + Input and textarea
//  + Controls containers
//  + Select (dropdown)
//  + Validation messages
//
//  + Multiple controls
//
// ****************************************

@import 'form-control-vars';

//## inverse style
@mixin formcontrol-inverse-style {
	.ui-label {
		color: $label-inverse-color;
		&:hover {
			color: $label-inverse-hover-color;
		}
	}
	.ui-label_i {
		color: $input-inverse-information-color;
	}
	.ui-input-container {
		&.has-icon,
		&.is-icon-clickable { 
			.icon {
				color: $input-inverse-icon-color;
			}
		}
	}
	.ui-input-container,
	.ui-select-container {
		font-weight: $input-inverse-fontweight;
		border-color: $input-inverse-border-color;
		background-color: $input-inverse-background;
		//## readonly
		&.is-readonly {
			.ui-label {
				color: $input-inverse-color-readonly;
			}
		}
	}
	.ui-input,
	.ui-textarea {
		color: $input-inverse-color;
		font-weight: 400;
		background-color: $input-inverse-background;
	}
	.ui-input-container,
	.ui-dropdown {
		&.has-placeholder,
		&.is-focused,
		&.is-focused.has-icon,
		&.has-value,
		&.has-icon {
			.ui-label {
				color: $label-inverse-hover-color;
			}
		}
		//## has value
		&.has-value,
		.has-value & {
			.ui-input {
				border-color: transparent transparent $input-inverse-border-color;
			}
		}
		//## focused
		&.is-focused {
			.ui-input {
				color: $input-inverse-color;
			}
		}
		//## error and invalid
		&.has-error,
		&.is-invalid {
			.ui-input {
				color: $input-inverse-color-error;
				border-color: transparent transparent $input-inverse-border-color-error;
			}
		}
		//## valid
		&.is-valid {
			.ui-input_message {
				color: $input-inverse-color-message-valid;
			}
		}
	}
	.ui-dropdown {
		.ui-input::after {
			color: #fff;
		}
		.ui-dropdown_value {
			color: #fff;
		}
	}
}

//## move up label
@mixin formcontrol-label-moveup {
	.ui-label {
		z-index: 2;
		position: absolute;
		left: $label-moveup-frame1-position-left;
		top: $label-moveup-frame1-position-top;
		transition: $label-moveup-transition;
	}
	.ui-input-container,
	.ui-select-container {
		padding-top: $label-moveup-input-padding-top;
	}
	.ui-select-container .ui-label,
	.has-bind-prefix legend.ui-label {
		@include font-size($label-moveup-frame2-fontsize);
		top: $label-moveup-frame2-position-top;
		left: $label-moveup-frame2-position-left;
	}
	.ui-input-container,
	.ui-dropdown {
		&.has-placeholder,
		&.is-focused,
		&.is-focused.has-icon,
		&.has-value,
		&.has-icon {
			.ui-label {
				@include font-size($label-moveup-frame2-fontsize);
				top: $label-moveup-frame2-position-top;
				left: $label-moveup-frame2-position-left;
			}
		}
	}
}

//## inline label
@mixin formcontrol-label-inline {
	.ui-input-container,
	.ui-select-container {
		display: flex;
		align-items: center;
		.ui-label {
			@include font-size($input-fontsize);
			position: relative;
			flex: 0 1 auto;
		}
		.ui-dropdown {
			flex: 0 1 auto;
		}
	}
}

.ui-label_i {
	@include iconfont($label-info-icon, before);
	position: absolute;
	right: 0;
	top: 0;
	font-size: calculateEm($label-info-fontsize);
	color: $label-info-color;
	text-decoration: none;
	cursor: pointer;
}

// + Form group
// -------
.ui-form_group {
	position: relative;
	&.has-prefix,
	&.has-bind-prefix {
		.ui-form_controls {
			> * { // angular host div support
				&:first-child {
					flex-basis: 25%;
				}
				&:last-child {
					flex-basis: 75%;
				}
			}
		}
	}
	&.has-bind-prefix {
		.ui-form_group {
			margin-left: 0;
		}
	}
}
.ui-input_wrap {
	position: relative;
}
// ++ Input single and textarea
input {
	box-sizing: border-box;
	box-shadow: none;
	background-clip: padding-box;
}
.ui-textarea {
	height: auto;
	resize: none;
	border-color: $input-border-color;
	border-radius: $border-radius;
}
.ui-input,
.ui-textarea {
	@include font-size($input-fontsize);
	display: block;
	width: 100%;
	height: calculateRem($input-height);
	font-family: $input-fontfamily;
	color: $input-color;
	text-align: left;
	line-height: 1.2;
	padding: calculateRem($input-tb-pad) calculateRem($input-lr-pad);
	background-color: $input-background;
	border: none;
	border: solid $input-border-color;
	border-width: $input-border-width;
	border-radius: $input-border-radius;
	box-sizing: border-box;
	transition: $input-transition;
	&:hover {
		border-color: $input-border-color-hover;
		&:-ms-input-placeholder { // IE10 support (not combine with , char)
			color: $input-color-placeholder;
		}
	}
	&:focus {
		border-color: $input-border-color-focus;
		// border-bottom-color: $input-border-bottom-color-focus;
	}
	&::-ms-clear { display: none; }
	&[disabled],
	&[disabled][readonly] {
		cursor: default;
		color: $input-color-disabled;
		border-color: $input-border-color-disabled;
		background: $input-background-disabled;
		&:hover {
			color: $input-color-disabled;
			border-color: $input-border-color-disabled;
			background: $input-background-disabled;
		}
	}
	&[readonly] {
		color: $input-color-readonly;
		border-color: $input-border-color-readonly;
		cursor: default;
		&:hover {
			border-color: $input-border-color-readonly-hover;
		}
	}
	&.reset { // clear input styles
		border: 0;
		border-radius: 0;
	}
}

// + Controls containers
.ui-input-container,
.ui-select-container {
	position: relative;
	height: calculateRem($input-container-height);
	box-sizing: border-box;
	&.has-error,
	&.is-invalid,
	&.is-valid {
		.ui-input_message {
			padding-left: calculateEm(18px, $input-message-valid-fontsize);
		}
	}
	&.has-error,
	&.has-error:hover,
	&.is-invalid,
	&.is-invalid:hover {
		.ui-input {
			color: $input-error-color;
			border-bottom-color: $input-error-border;
		}
		.ui-input_message {
			color: $input-error-color;
		}
	}
	&.is-invalid {
		.ui-input {
			border-bottom-color: $c-error;
		}
		.ui-input_message {
			color: $c-error;
		}
	}
	&.is-valid {
		.ui-input_message {
			color: $input-message-valid-color;
		}
	}
	// &.is-focused {
	// 	box-shadow: 0 1px 0 0 red;
	// }
	&.has-icon {
		color: $input-icon-color;
		.ui-label {
			left: $ui-input-icon-left-space;
		}
		.ui-input {
			padding-left: calculateRem($input-icon-position-left + 24);
		}
		.icon {
			@include font-size($input-icon-fontsize);
			position: absolute;
			top: $input-icon-position-top;
			left: calculateRem($input-icon-position-left);
			pointer-events: none;
			cursor: default;
		}
		&.is-icon-clickable {
			.icon {
				pointer-events: visible;
				cursor: pointer;
			}
		}
		&.right-icon {
			.ui-label {
				left: $input-lr-pad;
			}
			.ui-input {
				padding-left: calculateRem($input-lr-pad);
			}
			.ui-input_wrap {
				.icon {
					left: initial;
					right: $input-lr-pad;
				}
			}
		}
	}
	&.is-disabled {
		opacity: $input-opacity-disabled;
		.ui-input {
			pointer-events: none;
			outline: 0;
			color: $input-color-disabled;
			border-color: $input-border-color-disabled;
			&::after { //## dropdown arrow
				color: $input-color-disabled;
			}
		}
		.ui-dropdown_value {
			color: $input-color-disabled;
		}
		&:hover {
			.ui-label {
				color: $input-color-disabled;
				cursor: default;
			}
			.ui-input {
				color: $input-color-disabled;
				border-color: $input-border-color-disabled;
			}
		}
	}
	&.is-readonly {
		.ui-label {
			color: $input-color-label-readonly;
		}
		.ui-label,
		input[readonly],
		input[readonly='readonly'] {
			pointer-events: none;
		}
	}
}
.ui-form_controls {
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
	& > .ui-form_group {
		flex-grow: 1;
		flex-basis: 50%;
		justify-content: space-between; 
		margin-left: ($form-horizontal-gutter-desktop / 2);
		&:first-child {
			margin-left: 0;
		}
	}
	& > .ui-dropdown {
		&::before { //## multiple selects division bar
			z-index: 2;
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 1px;
			height: 14px;
			background-color: $c-secondary;
		}
		&:first-child {
			&::before { //## multiple selects division bar 
				display: none;
			}
		}
		&:nth-child(3) {
			ul {
				left: auto;
				right: 0;
			}
		}
	}
}

// + Select (dropdown)
// -------
.ui-dropdown {
	position: relative;
	flex-grow: 1;
	height: 100%;
	& > button {
		@include collapse-trigger($size: $dropdown-arrow-fontsize, $color: $dropdown-arrow-color, $pos:right);
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-family: $input-fontfamily;
		font-weight: 400;
		box-sizing: border-box;
		cursor: pointer;

		//## dropdown arrow
		&::after { //## dropdown arrow
			position: absolute;
			right: calculateRem($dropdown-arrow-position-right);
			transition: transform .18s ease;
			cursor: pointer;
		}
	}
}
.ui-dropdown_value {
	@include ellipsis;
	position: relative;
	top: -1px;
	text-align: left;
	line-height: 1.2;
	color: $input-color-placeholder;
}
.ui-dropdown_list {
	@include custom-scroll;
	z-index: $dropdown-zindex;
	position: absolute;
	top: 100%;
	left: 0;
	width: calc(100% - 1px);
	min-width: $dropdown-minwidth;
	max-height: $dropdown-maxheight;
	padding: $dropdown-item-padding;
	margin: $dropdown-item-margin;
	list-style: none;
	border-width: $dropdown-border-width;
	@if $dropdown-border-width != 0 {
		border-style: $dropdown-border-style;
		border-color: $dropdown-border-color;
	}
	box-shadow: none;
	overflow: hidden;
	overflow-y: auto;
	background-color: $dropdown-list-background;
	li {
		font-size: inherit; // for not re-write base size always
		text-align: left;
		user-select: none;
		a,
		button {
			display: block;
			width: 100%;
			text-align: left;
			color: $dropdown-item-color;
			line-height: 1.2;
			text-decoration: none;
			background: $dropdown-item-background;
			padding: 6px #{$input-lr-pad};
			box-sizing: border-box;
			cursor: pointer;
			&:hover,
			&:focus,
			&.is-focus {
				color: $dropdown-item-color-hover;
				background: $dropdown-item-background-hover;
			}
		}
	}
	&[aria-hidden='true'] {
		display: none;
	}
	&[aria-hidden='false'] {
		display: block;
	}
}

// + States
.ui-input-container,
.ui-dropdown {
	//## has value
	&.has-value,
	.has-value & {
		.ui-label {
			color: $input-color-label-hasvalue;
		}
		.ui-input {
			color: $input-color-hasvalue;
			font-weight: $input-font-weight-hasvalue;
			border-color: $input-border-color-hasvalue;
		}
		&.has-icon .icon {
			color: $input-icon-color-hasvalue;
		}
		.ui-dropdown_value {
			color: $input-color-hasvalue;
			font-weight: $input-font-weight-hasvalue;
		}
	}
	//## focus
	&.is-focused {
		.ui-label {
			color: $input-color-label-focus;
		}
		.ui-input {
			color: $input-color-focus;
			border-color: $input-border-color-focus;
			box-shadow: $input-shadow-focus;
		}
		&.has-icon .icon {
			color: $input-icon-color-focus;
		}
		.ui-dropdown_value {
			color: $input-color-focus;
		}
	}
	//## has error / is invalid
	&.has-error,
	&.is-invalid {
		.ui-input {
			border-color: $input-error-border;
		}
		.ui-input_message {
			@include iconfont($input-error-icon);
		}
		&:hover,
		&.is-focused {
			.ui-input {
				border-color: $input-error-border;
				@if $input-error-boxshadow != null {
					box-shadow: $input-error-boxshadow;
				}
			}
		}
	}
	&.is-valid {
		.ui-input_message {
			@include iconfont($icon-check-circle);
		}
	}
}

// + Validation messages
// -------
.ui-input_message,
.error-message,
.success-message {
	position: absolute;
	left: $input-lr-pad;
	top: 100%;
	font-size: $input-message-valid-fontsize;
	line-height: 1.1;
	margin-top: 7px;
	&::before {
		position: absolute;
		left: 0;
		top: 0;
	}
}
.ui-input_message {
	color: $gray60;
}
.error-message {
	color: $c-secondary;
}
.success-message {
	color: $c-primary;
}

// + Multiline controls
// -------
//## Input with 2 lines
// -------
.ui-input-multiline {
	position: relative;
	display: flex;
	height: calculateRem($input-multiline-height);
	flex-wrap: wrap;
	padding-top: 0;
	padding-bottom: 0;
	button,
	input {
		position: relative;
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		border: 0;
		border-radius: 0;
	}
	input {
		z-index: 2;
		.is-focused & {
			border: none;
			box-shadow: none;
		}
		&.disabled,
		&[disabled] {
			border: 0;
			&:hover {
				border: 0;
			}
		}
	}
	button {
		z-index: 1;
		line-height: 1.1;
		cursor: pointer;
	}
	.value-small {
		@include ellipsis;
	}
	.value-large {
		@include font-size($input-multiline-valuelarge-fontsize);
		font-weight: $input-multiline-valuelarge-fontweight;
		white-space: nowrap;
	}
	.value-small {
		@include font-size($input-multiline-valuesmall-fontsize);
		font-weight: $input-multiline-valuesmall-fontweight;
	}
}