// ****************************************
//  UTILS
//
// ****************************************
//  MIXINS
// ****************************************
//
//    imported mixins from globals/
//
// ****************************************

//## add a checked icon to elements
//## as in services and selected fare

@mixin checked-icon($posTop: 8px, $posRight: 8px, $iconSize: 21px, $borderWidth: .16rem) {
    @include iconfont($icon-aceptar);
    cursor: auto;
    &::before { //## icon and white background circle
        @include font-size($iconSize);
        position: absolute;
        top: calculateRem($posTop);
        right: calculateRem($posRight);
        display: flex;
        justify-content: center;
        align-items: center;
        width: calculateRem($iconSize);
        height: calculateRem($iconSize);
        color: $c-color1;
        background-color: #fff;
        border: $borderWidth solid #fff;
        border-radius: 50%;
    }
}