// main: ../styles.scss

// ****************************************
//  UTILS
//
// ****************************************
//  TRANSITIONS
// ****************************************
//
// ****************************************
$transition-collapse: height .3s ease !default;

.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.show {
    opacity: 1;
  }
}

.collapse {
  display: none;
  &.show {
    display: block;
  }
}

tr {
  &.collapse.show {
    display: table-row;
  }
}

tbody {
  &.collapse.show {
    display: table-row-group;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: $transition-collapse;
}
