.ui-num-ud {
	display: flex;
	align-items: stretch;
}
.ui-num-ud_button,
.ui-num-ud_input {
	flex: 0 0 auto;
	vertical-align: middle;
	text-align: center;
}
.ui-num-ud_button {
	@include font-size($numeric-updown-fontsize);
	z-index: 2;
	position: relative;
	padding: calculateRem(6px);
	color: $num-updown-button-color;
	line-height: 1;
	border-radius: $border-radius;
	background: $num-updown-button-background;
	cursor: pointer;
	transition: all .1s linear;
	&::before {
		position: relative;
		top: 2px;
	}
	&.minus {
		@include iconfont($icon-minus,before);
	}
	&.plus {
		@include iconfont($icon-plus,before);
	}
	&:hover {
		color: $num-updown-button-color-hover;
		background: $num-updown-button-background-hover;
	}
	&.disabled {
		cursor: default;
		color: $num-updown-button-color-disabled;
		background: $num-updown-button-background-disabled;
		&:hover {
			color: $num-updown-button-color-disabled;
		}
	}
}
.ui-num-ud_input {
	min-width: 50px;
	max-width: 80px;
	// height: ($numeric-updown-fontsize - 2);
	text-align: center;
	margin: 0 -14px;
	padding: 0 14px;
	box-sizing: border-box;
	background: $num-updown-input-bg;
	input {
		height: ($numeric-updown-fontsize - 2);
		@include font-size($f-size-sm);
		color: $c-text;
		border: none;
		width: 100%;
		height: 100%;
		background: none;
		text-align: center;
		padding-bottom: 2px;
		&[readonly] {
			user-select: none;
		}
	}
}