// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FARES COMPARE
// ********************

// varaibles
$fares-compare_head-height: 45px;
$fares-compare-items-space: 30px;
$fares-compare_transition: .3s ease-in-out;

.fares-compare {
    @include mobile-modal_main-container('.is-active', false, 0);
}
.fares-compare_head {
    @include mobile-modal_header;
}
.fares-compare_body {
    @include mobile-modal_main-body;
    padding: calculateRem(10px) $gutter-sides 0; 
}
.fares-compare_item {
    margin-bottom: 30px;
    @for $i from 1 through $fare-quantity {
        &.fare#{$i} {
            .fares-compare_fare-name {
                @if $i == 1 {
                    @include fare1-style;
                }
                @else if $i == 2 {
                    @include fare2-style;
                }
                @else if $i == 3 {
                    @include fare3-style;
                }
            }
        }
    }
}
.fares-compare_fare-name {
    @include font-size($f-size-md);
    @include fares-common-styles;
    margin-bottom: calculateRem(4px);
    font-weight: 600;
}
.fares-compare_description {
    @extend .fares_list;
    padding-left: $gutter-sides;
}
.fares-compare_close-button {
    @include mobile-modal-header_close-button;
}
.fares-compare_trigger {
    @include arrow-sufix;
}

// [Responsive]
@media #{$tablet-portrait} {
    .flights_fares_compare {
        display: none;
    }
}