// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  PAGE BUTTONS
// ****************************************
//
// ****************************************

// + Page buttons (bottom)
// -------
.page_buttons {
	@include clearfix;
	display: flex;
	margin: 40px 0;
	text-align: right;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	button {
		display: inline-block;
		min-width: 200px;
		text-align: center;
	}
	.page_button-secondary {
		margin-right: 24px;
	}
	// modifiers
	&.center {
		justify-content: center;
	}
}

@keyframes summaryButtonAnima {
	0% {
		opacity: 0;
		bottom: 6px;
	}
	100% {
		opacity: 1;
		bottom: auto;
		top: 16.7vh;
	}
}

@media #{$summary-collapsed} { // <=768px
	.page_buttons {
		justify-content: center;
		margin-bottom: 20px;
		// &.mobile-fixed { // modifiers
		//     display: block;
		// }
		button.page_button-summary {
			display: none;
		}
	}
}
@media #{$until-mobile} { // <=640px
	.page_buttons {
		button {
			min-width: auto;
		}
	}
}
@media (max-width: 420px) { // <=480px
	.page_buttons {
		flex-direction: column-reverse;
		margin-top: 18px;
		button {
			width: 80%;
			margin: 18px auto 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}