// ----------------------------------------------------
// SWITCH
//
//  + Switch (on/off)
//  + Switch slider (multiple selections)
//
// ----------------------------------------------------
// @import 'switch-vars';

.switch {
	position: relative;
	display: inline-block;
	width: 70px;
	min-width: 70px;
	height: 30px;
	input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		&.is-checked  {
			& + .switch_slider {
				background-color: $c-primary;
			}
			& + .switch_slider:before {
				left: 41px;
			}
		}
	}
	&.is-readonly {
		opacity: $disabled-opacity;
		pointer-events: none;
	}
}
.switch_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $gray60;
	border-radius: 35px;
	transition: .2s;
	&::before { //## switch circle
		position: absolute;
		content: '';
		height: 26px;
		width: 26px;
		left: 2px;
		top: 2px;
		background-color: $c-color4;
		border-radius: 50%;
		transition: .14s;
		transition-timing-function: ease-in-out;
	}
}

// .switch_label {
//     @extend .ui-label;
// }
// fix angular
// ibe-switch-slider {
//     height: 30px;
// }

// + Switch slider
// -------
$switch-slider-orientation: horizontal !default;
$switch-slider-items: 3 !default;
$switch-slider-transition:all .2s ease-out;
$switch-slider-background: transparent;

$switch-slider-label-nolinebreak: true !default;
$switch-slider-label-padding: calculateRem(2px) calculateRem(14px) !default;
$switch-slider-label-fontsize: 16px !default;
$switch-slider-label-textalign: center !default;
$switch-slider-label-color: #fff;
$switch-slider-label-fontweight: 400 !default;
$switch-slider-label-border-width: 0 !default;
$switch-slider-label-border-style: solid !default;
$switch-slider-label-border-color: $c-primary !default;

//## checked
$switch-slider-background-checked: #fff;
$switch-slider-label-color-checked: $c-primary !default;
$switch-slider-label-fontweight-checked: 400 !default;

.switch-slider {
	position: relative;
	display: flex;
	justify-content: center;
	background: $switch-slider-background;
	@if $switch-slider-orientation == 'horizontal' {
		flex-direction: row;
	}
	@else if $switch-slider-orientation == 'vertical' {
		flex-direction: column;
	}
}
.switch-slider_option {
	position: relative;
	width: 100%;
	user-select: none;
	margin: 0 -1px;
	&:first-child {
		.switch-slider_label {
			border-radius: 100vh 0 0 100vh;
		}
	}
	&:last-child {
		.switch-slider_label {
			border-radius: 0 100vh 100vh 0;
		}
	}
	input {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		cursor: pointer;
		&:checked,
		&checked,
		&[checked='checked'],
		&.is-checked {
			& + .switch-slider_label {
				color: $switch-slider-label-color-checked;
				font-weight: $switch-slider-label-fontweight-checked;
			}
		}
	}
	// 2 items
	@if $switch-slider-items == 2 {
		& ~ .switch-slider_background {
			width: 50%;
		}
		&:nth-child(1).is-checked ~ .switch-slider_background {
			left: 0;
		}
		&:nth-child(2).is-checked ~ .switch-slider_background {
			left: 50%;
		}
	}
	// 3 items
	@if $switch-slider-items == 3 {
		& ~ .switch-slider_background {
			width: 33.33%;
		}
		&:nth-child(1).is-checked ~ .switch-slider_background {
			left: 0;
		}
		&:nth-child(2).is-checked ~ .switch-slider_background {
			left: 33.33%;
		}
		&:nth-child(3).is-checked ~ .switch-slider_background {
			left: 66.66%;
		}
	}
	// 4 items
	@if $switch-slider-items == 4 {
		& ~ .switch-slider_background {
			width: 25%;
		}
		&:nth-child(1).is-checked ~ .switch-slider_background {
			left: 0;
		}
		&:nth-child(2).is-checked ~ .switch-slider_background {
			left: 25%;
		}
		&:nth-child(3).is-checked ~ .switch-slider_background {
			left: 50%;
		}
		&:nth-child(4).is-checked ~ .switch-slider_background {
			left: 75%;
		}
	}
}
.switch-slider_label {
	@include font-size($switch-slider-label-fontsize);
	z-index: 2;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: $switch-slider-label-color;
	text-align: $switch-slider-label-textalign;
	font-weight: $switch-slider-label-fontweight;
	padding: $switch-slider-label-padding;
	box-sizing: border-box;
	cursor: pointer;
	@if $switch-slider-label-border-width != 0 {
		border-style: $switch-slider-label-border-style;
		border-width: $switch-slider-label-border-width;
		border-color: $switch-slider-label-border-color;
	}
	@if $switch-slider-label-nolinebreak {
		white-space: nowrap;
	}
}
.switch-slider_background {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	z-index: 1;
	width: 10px;
	height: 100%;
	transition: $switch-slider-transition;
	background-color: $switch-slider-background-checked;
}
