
$switch-slider-orientation: horizontal !default;

$switch-slider-label-padding: calculateRem(4px) calculateRem(30px) !default;
$switch-slider-label-fontsize: 16px !default;
$switch-slider-label-fontweight: 600 !default;
$switch-slider-label-border-width: 1px !default;
$switch-slider-label-border-style: solid !default;
$switch-slider-label-border-color: $c-primary !default;
$switch-slider-label-background: #fff !default;