// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  CHECK-IN
// ****************************************
//
//    + Check-in login
//    + Check-in home
//    + Check-in pre confirmation
//    + Check-in passengers data
//    + Check-in summary
//    + Check-in selection
//
// ****************************************


// + Check-in login
// -------
.check-in-login-page {
    main {
        margin-top: $content-margin-top;
    }
    .ui-form_input-buttons {
        flex: 1 1 100%;
        text-align: right;
    }
    @media #{$tablet-portrait} { // >=768px
        .booking-retrieve {
            margin: 7% 0 1%;
        }
    }
}

// + Check-in home
// -------
.check-in-home-page {
    main {
        margin-top: $content-margin-top;
    }
}


// + Check-in passengers data
// -------
// ++ checkin pax page
.check-in-detail-page {
    .passenger_data {
        @media #{$tablet-landscape} { // >=992px
            .container {
                .ui-form_group {
                    flex-basis: calc(100% / 4 - #{$form-horizontal-gutter-desktop});
                }
                .ui-form_group:nth-child(3) {
                    margin-right: calc((100%/4) - #{$form-horizontal-gutter-desktop});
                }
            }
        }
    }
}


//  + Check-in summary
// -------
.checkin_summary {
    margin-bottom: 48px;
    padding: 0; 
    .column {
        flex-basis: 48%;
    }
}
.checkin_summary_journey {
    margin: 0 0 14px;
    background: transparent;
    border-bottom: 1px solid $c-primary;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .checkin_summary_journey {
        padding: 30px $check-in-summary-horizontal-padding 0;
    }
}
@media (min-width: 1100px) {
    .checkin_summary {
        display: flex;
        justify-content: space-between;
        &.oneway {
            justify-content: center;
        }
    }
}

// + Check-in selection
// -------
.checkin_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    line-height: 1.1;
    padding: 14px 0 7px 0;
    &:last-child {
        margin-bottom: 14px;
    }
    .checkin_paxname {
        flex: 1 0 32%;
        min-width: 32%;
        margin: 0;
        position: relative;
        padding-left: 33px;
        @include iconfont($icon-check-circle,before);
        font-weight: 600;
        &::before {
            position: absolute;
            top: 8px;
            left: 0;
            color: $c-primary;
            @include font-size($f-size-md);
            line-height: 0;
        }
    }
    .checkin_check {
        flex: 1 0 auto;
        label {
            font-weight: 600;
            padding-right: 30px;
            // &::before {
            //     top: -2px !important;
            // }
            // &::after {
            //     top: -1px !important;
            // }
        }
    }
    .checkin_status {
        position: relative;
        flex: 0 1 auto;
        margin-left: auto;
        text-align: right;
        .label {            
            .iconlink-print {
                .link-text { 
                    color: $c-text;
                    text-decoration: underline; 
                }
                &:before { //## link icon
                    position: relative;
                    top: 4px;
                    color: $c-primary;
                    @include font-size($f-size-lg);
                    margin-right: 4px
                }
                &:hover {
                    .link-text {
                        color: $c-primary;
                    }
                    &:before { //## link icon
                        color: $c-link-hover;
                    }
                }
            }
        }
        .seat-status {
            font-weight: 700;
            color: $c-primary;   
        }
        .seat-number {
            @include iconfont($icon-seat-airplane,before); 
            font-weight: 700;
            color: $c-primary;    
            color: inherit;
            &::before {
                @include font-size($f-size-md);
                position: relative;
                color: $c-primary;
                margin-right: 7px;
            }              
        }
        &.disabled { // modifiers
            .seat-status {
                color: $c-secondary;
            }
        }
    }
    
    // modifiers
    &.checkedin {     
        .checkin_check {           
            .ui-checkbox > label {
                @include iconfont($icon-check-circle,before);
                font-weight: 600;
                &::before {
                    position: relative;
                    top: 2px;
                    color: $c-primary;
                    @include font-size($f-size-md);
                    line-height: 0;
                    margin-right: 9px;
                    vertical-align: middle;
                }
            }
        }       
        .ui-checkbox {
            padding-left: 0; 
            label {
                &::before {
                    display: none; //## IE Support
                }
            }
        }
        .checkin_status {
            .seat-label {
                @extend .hide-visually;
            }
            [class*="iconlink"] {
                padding-left: 35px;
            }
        }
    }
    &.readonly {
        .seat-label {
            @extend .hide-visually;
        }
    }
}
// [Responsive]
@media #{$until-mobile-sm} { // <= 480px
    .checkin_summary .column {
        &:first-child {
            margin-top: 30px;
        }
        margin: 0;
    }
    .checkin_selection {
        flex-wrap: wrap;
        padding: 14px 2px 0;
        .checkin_check,
        .checkin_status {
            flex: 1 1 100%;
            width: 100%;
            margin: 0;
            text-align: left;
        }
        .checkin_status {
            margin: 4px 0 14px;
        }
    }
}
@media #{$mobile} {
    .checkin_selection {
        padding-right: $check-in-summary-horizontal-padding;
        padding-left: $check-in-summary-horizontal-padding;
    }
}