{% set bodyClass = "nsux_index" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 col-xs-6 col-sm-3">
            {% set page_title = {
                text: 'Newshore IBE Core Project',
                type: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12 col-xs-6 col-sm-3">
            <div class="nsux_list_item_title">
                Projects
            </div>
            <ul class="nsux_list_links">
                <li><a href="/airlines/Newshore/dist/">
                    Newshore
                </a></li>
                <li><a href="/airlines/HKE/dist/">
                    HK Express
                </a></li>
                <li><a href="/airlines/Paranair/dist/">
                    Paranair
                </a></li>
                <li><a href="/airlines/Ceiba/dist/">
                    Ceiba
                </a></li>
                <li><a href="/airlines/Pobeda/dist/">
                    Pobeda
                </a></li>
                <li><a href="/airlines/Jambojet/dist/">
                    Jambojet
                </a></li>
                <li><a href="/airlines/Evelop/dist/">
                    Evelop
                </a></li>
                <li><a href="/airlines/Sky/dist/">
                    Sky
                </a></li>
            </ul>
        </div>
    </div>

    <!-- COMPONENTS -->
    {# <div class="grid">
        <div class="grid-col col-12 col-xs-6 col-sm-3">
            <div class="nsux_list_item_title">
                Components
            </div>
            <ul class="nsux_list_links">
                <li><a href="COMP-flight_search.html">
                    Flight search
                </a></li>
                <li><a href="COMP-booking_steps.html">
                    Booking steps
                </a></li>
                <li><a href="COMP-summary.html">
                    Summary (basket)
                </a></li>
                <li><a href="COMP-footer.html">
                    Footer
                </a></li>
                <li><a href="COMP-payment-detail-tables.html">
                    Payment details tables
                </a></li>
                <li><a href="COMP-CORP-header-home.html">
                    Header Home
                </a></li>
                <li><a href="COMP-CORP-header-page.html">
                    Header page internal
                </a></li>
                <li><a href="COMP-CORP-main_banner.html">
                    main banner
                </a></li>
                <li><a href="COMP-CORP-multiple-panel.html">
                    Multiple panel
                </a></li>
                <li><a href="COMP-CORP-destinations-offers.html">
                    Destinations offers
                </a></li>
                <li><a href="COMP-CORP-main-offers.html">
                    Main offers
                </a></li>
                <li><a href="COMP-CORP-main_footer.html">
                    Main footer
                </a></li>
                <li><a href="COMP-CORP-sign-in.html">
                    Sign-in
                </a></li>
                <li><a href="COMP-CORP-accordion.html">
                    Accordion
                </a></li>
                <li><a href="COMP-CORP-headings.html">
                    Headings
                </a></li>
                <li><a href="COMP-CORP-paragraphs.html">
                    Paragraphs
                </a></li>
                <li><a href="COMP-CORP-tables.html">
                    Tables
                </a></li>
                <li><a href="COMP-CORP-lists.html">
                    Lists
                </a></li>
                <li><a href="COMP-CORP-image.html">
                    Image
                </a></li>
                <li><a href="COMP-CORP-pagination.html">
                    Pagination
                </a></li>
            </ul>
        </div>

        <!-- UI ELEMENTS -->
        <div class="grid-col col-12 col-xs-6 col-sm-3">
            <div class="nsux_list_item_title">
                UI-Elements
            </div>
            <ul class="nsux_list_links">
                <li><a href="COMP-grid.html">
                    Grid
                </a></li>
                <li><a href="../fonticons-demo/hkexpress-icons/demo.html">
                    Font icons
                </a></li>
                <li><a href="COMP-headings.html">
                    Headings (h2,h3,h4)
                </a></li>
                <li><a href="COMP-buttons.html">
                    Buttons
                </a></li>
                <li><a href="COMP-form_elements.html">
                    Form elements
                </a></li>
                <li><a href="COMP-modals.html">
                    Modals
                </a></li>
                <li><a href="COMP-grid.html">
                    CORP Grid
                </a></li>
                <li><a href="COMP-CORP-list.html">
                    CORP List
                </a></li>
            </ul>
        </div>
    </div> #}
</div>
{% endblock %}
