$scrolltop-size: calculateRem(40px);
.btn-scroll-back {
	z-index: $overlay-zindex - 1;
	@include iconfont($icon-arrow-single-up, before);
	@include font-size($f-size-sm);
	width: $scrolltop-size;
	height: $scrolltop-size;
	position: fixed;
	right: 15px;
	bottom: calculateRem(72px);
	background-color: $c-primary;
	color: #fff;
	border-radius: 50%;
	opacity: 0;    
	box-shadow: 0px 2px 11px -1px rgba(#000, .9);
	transition: all .25s ease-in-out;
	cursor: pointer;
	&.show {
		opacity: 1;
	}
	&:hover {
		background-color: darken($c-primary, 7%);
		border-color: darken($c-primary, 9%);
	}
	&:focus { outline: 0; }
	@media #{$tablet-portrait} { // >=768px
		bottom: calculateRem(20px);
	}
}
.overlay-in,
.overlay-in-md {
	.btn-scroll-back {
		display: none;
	}
}