<div class="service_insurance">
    <div class="insurance_container">
        <div class="ly-image-text">
            <div class="ly-image-text_col insurance_box-image">
                <div class="image-thumb">
                    <img class="image" src="../src/assets/imgs/insurance/mujer-con-equilibrio.png" alt="mujer con equilibrio"/>
                </div>
                {# <div class="button-more">
                    <button type="button" class="button btn-secondary">
                        See details
                    </button>
                </div> #}
            </div>
            <div class="ly-image-text_col insurance_box-body">
                <p class="title-h5">Protect your trip with access to</p>
                <ul class="list-icon">
                    <li>
                        <span class="icon icon-medicine-suitcase"></span>
                        Medical coverage
                    </li>
                    <li>
                        <span class="icon icon-insurance-baggage"></span>
                        Baggage Cover &amp; Delay Allowance
                    </li>
                    <li>
                        <span class="icon icon-document-plane"></span>
                        Ticket & Travel Document Protection
                    </li>
                    <li>
                        <span class="icon icon-mobile-alert"></span>
                        24/7 emergency assistance services
                    </li>
                </ul>
                <p>For details of the Plan, terms & exclusions, please <a href="#">click here</a>.</p>
                <p class="small">Hong Kong Express Airways Limited is an insurance agent appointed by Zurich Insurance Company Ltd.</p>
                <div class="insurance-logos">
                    <img src="../src/assets/imgs/insurance/logo-zurich.png" title="logo Zurich" alt="logo Zurich">
                    <img src="../src/assets/imgs/insurance/logo-cover-more.png" title="logo Cover More" alt="logo Cover More">
                </div>
            </div>
        </div>
        <div class="insurance_footer">
            <p class="insurance_offer">
                5 days cover for only <span class="price">{{SHARED.currency}} 98.00</span>
            </p>
            <div class="ui-form_group">
                {% set isRadio = false %}
                {% set checkboxForm = {
                label: '<strong>Yes, I would like to add HK Express Travel Protection Plan to cover our trip for all guests</strong> and I agree to the <a href="#">Declarations</a>, <a href="#">T&amp;C</a> and <a href="#">PICS</a>. I also confirm that all guests are departing from and returning to Hong Kong (for one-way trip the departure must also be from Hong Kong), and the subject travel is for leisure or business without any manual work.',
                name: 'travelProtetion',
                id: 'travelProtetion'
                } %}
                {% include "partials/ui-elements/_checkbox.njk" %}
            </div>
        </div>
    </div>
</div>
