// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//
//    + Search flight
//        ++ Grid
//        ++ Typology
//        ++ Promocode
//        ++ Action button
//         [Responsive]
//
//    + Search flight typeahead
//
// ****************************************

$searchflight-gutter: 2.4%;
$searc-vert-margin: 20px;
$search-vert-margin-fixed: 14px;

// .search-opened {
//     @include overlay-in;
//     .searchflight {
//         z-index: $overlay-zindex + 1;
//     }
// }
.searchflight {
    @extend .container-wrap;
    .ui-input-container,
    .ui-input-multiline {
        border-radius: $border-radius;
        background-color: #fff;
        label {
            @extend .hide-visually;
        }
    }
    .ui-input-container.is-focused .ui-input,
    .ui-input,
    .ui-dropdown,
    .ui-input-multiline {
        box-shadow: none;
        border-bottom: 0;
    }
    .ui-input,
    .ui-dropdown_value {
        font-weight: 500;
    }
    .ui-input {
        &::placeholder {
            @include font-size(20px);
            position: relative;
            top: 1px;
        }
        &.disabled,
        &[disabled],
        &[disabled][readonly] {
            background-color: transparent;
        }
    }
    .ui-dropdown_value {
        @include ellipsis;
        @include font-size(16px);
    }
    .ui-dropdown .ui-input {
        height: 100%;
    }
    
    // states
    .ui-input-container,
    .typology .ui-input-container {
        &.has-error {
            position: relative;
            @include iconfont($icon-cross-circle, after);
            &::after {
                position: absolute;
                right: $form-horizontal-gutter/2;
                top: 50%;
                color: $c-secondary;
                font-size: 1.2em;
                transform: translateY(-50%);
                @media #{$tablet-portrait} {
                    right: $form-horizontal-gutter-desktop/2;
                }
            }
            .ui-input {
                box-shadow: none;
                &::placeholder {
                    color: $c-secondary;
                    font-weight: 600;
                }
            }
            .ui-dropdown_value {
                color: $c-secondary;
            }
        }
    }
    // + Main container
    // -------
    .inner {
        display: block;
        height: 100%;
        margin: 0 -5px;
        > * {
            display: block; // Angular support
            margin: 0 5px $searc-vert-margin;
        }
    }
    
    // + All elements
    // -------
    .route,
    .dates,
    .typology,
    .searchflight_button {
        transition: margin .1s linear;
        .ui-input-container {
            padding-top: 0;
        }
    }

    // + Inputs with icons
    .route,
    .dates {
        .outbound {
            .ui-input-multiline_group_inner {
                padding-left: calculateRem(34px);
                .ui-input {
                    padding-left: 0;
                }
                &::before { //## icon inside input
                    position: absolute;
                    color: $c-secondary;
                }
            }
        }
        .inbound {
            .ui-input-multiline_group_inner {
                &::after {
                    background-color: $c-secondary;
                }
            }
        }
        .ui-input-container {
            &.has-value {
                .ui-input-multiline_group_inner { // only shows divider when select a date
                    &::after { //## division border
                        width: 1px;
                    }
                }
                .ui-input {
                    border-bottom: 0;    
                }
            }
        }
        .ui-input-multiline_group_inner {
            .ui-input {
                min-height: 50px; // Safari Mobile 10.3 support
            }
        }
    }

    // + Route
    // -------
    .route {
        flex: 1 1 100%;
        .outbound {
            .ui-input-multiline_group_inner {
                @include iconfont($icon-pin);
                &::before { //## outbound input icon
                    $icon-size: 26px;
                    left: 0;
                    top: calculateEm(12px, $icon-size);
                    color: $c-secondary;
                    font-size: calculateEm($icon-size);
                }
            }
        }
        .value-selected {
            line-height: 1.2;
        }
        .value-small {
            padding-bottom: 2px;
        }
    }

    // + Dates
    // -------
    .dates {
        flex: 1 1 auto;
        .value-selected {
            display: inline-grid;
            text-align: left;
            height: 100%
        }

        .day {
            @include font-size(34px);
            grid-column: 1;
            grid-row: 1 / span 2;
            display: flex;
            vertical-align: middle; // IE10 support
            align-items: center;
            padding: 2px 6px 3px 0;
            font-weight: 700;
            line-height: .8;
            min-height: 46px; // IE10 support
            box-sizing: border-box; // IE10 support
        }
        .month,
        .week {
            @include font-size($f-size-sm);
            font-weight: 500;
            line-height: 1;
        }
        .month {
            grid-row: 1;
            grid-column: 2;
            display: flex;
            align-items: flex-end;
            text-transform: uppercase;
        }
        .week {
            @include ellipsis;
            grid-row: 2;
            grid-column: 2;
            max-width: 64px;
        }
        .ui-input-multiline {
            flex-wrap: nowrap;
        }
        .ui-input-multiline_group_inner {
            &::after { //## division border
                width: 0;
            }
        }
        .ui-input-container {
            .outbound {
                flex-basis: 100%;
                padding-left: 6px;
            }
            .inbound {
                display: none;
            }
            // modifiers
            &.has-value {
                .outbound {
                    // flex-basis: auto;
                    flex-basis: 50%;
                }
                .inbound {
                    display: block;
                    flex-basis: 44%;
                }
            }
            .ui-input-multiline_group { 
                &[hidden] { // angular logic support
                    display: none;
                }
            }
        }

        // modifiers
        .ui-input-multiline_group {
            width: 44%;
            &.outbound {
                width: 56%;
                .ui-input-multiline_group_inner {
                    @include iconfont($icon-calendar,before);
                    &::before { //## date input icon
                        $icon-size: 30px;
                        left: 0;
                        top: calculateEm(9px, $icon-size);
                        font-size: calculateEm($icon-size);
                    }
                }
            }
        }
    }

    // + Typology
    // -------
    .typology { 
        flex: 1 1 auto;
        .ui-input-container,
        .ui-dropdown {
            position: static;
        }
        .ui-input {
            &::after {
                content: '';
                z-index: 4;
                left: 30px;
                top: calc(100% + 20px);
                .search-fixed & {
                    top: calc(100% + 14px);
                }
            }
            &[aria-expanded=true] {
                &::after {
                    @include triangle('down', 22px, 8px, $c-primary-dark); //## arrows down when focused
                    transform: none;
                }
            }
        }
    }
    .typology_option {
        //## need to reset some dropdown list styles
        @extend .ui-dropdown_list;
        z-index: 3;
        top: auto;
        width: 100%;
        max-width: none;
        max-height: none;
        margin-top: $searc-vert-margin;
        box-sizing: border-box;
        padding: 0;
        background-color: #fff;
        border: none;
    }
    .typology_option_list {
        @extend .container-wrap;
        position: relative;
        padding: 34px 24px;
        box-sizing: border-box;
    }
    .typology_option_item {
        display: flex;
        justify-content: space-between;
        margin-bottom: $gutter;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media #{$until-tablet-portrait} { // <=768px
            .ui-num-ud_input {
                min-width: 60px;
                width: 70px;
            }
        }
    }
    .typology_option_select {
        flex: 0 1 auto;
    }
    .typology_option_label {
        position: relative;
        flex: 0 0 auto;
        padding-right: 54px;
        font-weight: 500;
        color: $c-primary;
        line-height: 1;
        .label-small {
            display: block;
            margin-top: 5px;
            font-weight: 400;
            color: $c-text;
            @include font-size($f-size-xs);
            white-space: nowrap;
        }
        .ui-tooltip_info {
            margin-left: 2px;
        }
    }
    .typology_option_button {
        padding: 20px 0;
        margin-top: 24px;
        background: $gray95;
        button {
            @extend .btn-light;
            display: block;
            max-width: 200px;
            margin: auto;
        }
    }

    // ++ Promocode
    // .promocode_form {}
    // .promocode_link {}

    // ++ Action button
    .searchflight_button {
        text-align: center;
        button {
            @extend .btn-action;
            display: inline-block;
        }
    }

    // &.multicity {}

    // modifiers
    .is-focused,
    .has-value {
        .ui-input,
        .ui-dropdown_value {
            font-weight: 500;
        }
        .ui-input {
            border-bottom: 0;
        }
    }
}

// ++ Dropdown list of options
.search_tt,
.typology_option {
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: $searc-vert-margin;
    background: #fff;
}
.search_tt_inner,
.typology_option {
    @extend .container-wrap;
    padding: 24px;
}
.search_tt_title {
    @extend .title-h3;
    color: $c-secondary;
    text-transform: uppercase;
}
.search_tt_menu_scroll {
    @include custom-scroll;
    overflow-y: auto;
}
.search_tt_menu {
    padding: 2px 0 0;
    ul {
        li {
            margin: 2px 0;
            font-weight: 500;
        }
        a {
            color: $c-text;
            text-decoration: none;
            &:hover {
                color: $c-link;
                text-decoration: underline;
            }
        }
    }
}
.search_tt_menu_list {
    padding-bottom: 15px;
    box-sizing: border-box;
    break-inside: avoid-column;
    overflow: hidden; //## ie fix to break-inside
}
.search_tt_menu_list_title {
    @extend .title-h3;
    margin-bottom: 0;
}
.search_tt_datepicker {
    .search_tt_title {
        margin-bottom: 36px;
    }
}

@media #{$mobile-sm} { // >=480px
    .searchflight {
        .inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .dates {
            .ui-input-container {
                &.has-value {
                    .outbound {
                        flex-basis: 56%;
                    }
                }
            }
        }
        .dates,
        .typology {
            flex-basis: auto;
        }
        .searchflight_button {
            display: flex;
            align-items: center;
            button {
                min-width: auto;
                height: 100%;
                padding: 10px 1rem;
                border-radius: $border-radius;
            }
        }
    }
    .search_tt_menu {
        column-count: 2;
        column-gap: 20px;
    }
}
@media #{$mobile} { // >= 640px
    .searchflight {
        .searchflight_button {
            button {
                width: 100%;
            }
        }
    }
}
@media #{$tablet-portrait} { // >=768px
    .search-fixed {
        .search_tt,
        .typology_option {
            margin-top: 14px; 
        }
        .searchflight {
            .route,
            .dates,
            .typology,
            .searchflight_button {
                margin-bottom: 14px;
            }
        }
    }
    .search_tt_menu {
        column-count: 3;
    }
    .search_tt_datepicker {
        .datepicker {
            width: calc(100% - 28px);
            margin: 0 14px;
        }
    }
}
@media #{$tablet-landscape} { // >=992px
    .searchflight {
        .inner {
            flex-wrap: nowrap;
            margin: 0;
            > * { // angular host div support
                margin-right: $searchflight-gutter;
                margin-left: 0;
                flex-basis: auto;
            }
        }
        .route {
            flex-grow: 2;
        }
        .dates {
            flex-shrink: 1;
            flex-basis: 25%;
        }
        .typology {
            .ui-dropdown {
                position: inherit;
            }
        }
        .typology_option {
            position: absolute;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
        }
        .typology_option_item {
            float: left;
            justify-content: flex-start;
            width: calc(100% / 3);
            margin-bottom: 0;
        }
        .typology_option_label {
            padding-right: 54px;
        }
        .searchflight_button {
            flex-shrink: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .search_tt_menu_scroll {
        max-height: none;
        overflow-y: visible;
    }
    .search_tt_menu {
        column-count: 4;
    }
    .search_tt_datepicker {
        .datepicker {
            width: calc(100% - 96px);
            margin: 0 48px;
        }
    }
}

//## search inputs
.ui-input-multiline_group {
    &:first-child {
        .ui-input-multiline_group_inner {
            &::after { display: none; }
        }
    }
}

// ## arrows down when focused
.ui-input-multiline_group.is-focused {
    &::after {
        @include triangle('down', 22px, 8px, $c-primary-dark);
        z-index: 5;
        content: '';
        position: absolute;
    }
}
.ui-input-multiline_group.is-focused {
    &::after {
        top: calc(100% + #{$searc-vert-margin});
        left: 44px;
        @media #{$tablet-portrait} {
            .search-fixed & {
                top: calc(100% + #{$search-vert-margin-fixed});
            }
        }
    }
}
