// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  NEW SEARCH
// ****************************************
//
// ****************************************


// + keyframes
// -------
// @keyframes newsearchSmoothScroll {
// 	0% { transform: translateY(0); }
// 	100% { transform: translateY($combinedbar-height); }
// }

.newsearch {
    @extend .container-wrap;
    height: 100%;
    padding-top: 30px;
    transition: padding .1s linear;
}
.newsearch_collapse {
    background: $search-background;
    //transition: all 0s ease-in-out;
    &.collapse {
        transform: translateY(-100%);
    }
    &.collapsing,
    &.show {
        transform: translateY(0);
    }
}

// [Responsive]
@media #{$tablet-portrait} {
    .newsearch_collapse {
        position: relative;
        //top: -38px;
        top: 0;
        width: 100%;
        z-index: $search-fixed-zindex - 1;
    
        //## when fixed on top
        .search-fixed & {
            position: fixed;
            top: 0;
            left: 0;
            //transition: all 0.5s ease-in-out;
            &.collapsing,
            &.show {
                transform: translateY($combinedbar-height);
            }
            //animation: newsearchSmoothScroll #{$search-fixed-animation};
        }
    }
    .newsearch {
        padding-top: 10px;
        .search-fixed & {
            padding-top: 0;
        }
    }
}
@media #{$summary-collapsed} { // <=768px
    .newsearch_collapse {
        display: none !important;
    }
}

