// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Aside
//    + Main
//    + Promo
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************

// + Variables
// -------
$image-scale-hover: 1.04;
$image-scale-hover-time: .06s;
$destinaton-offer-image-height-desktop: calculateRem(264px);


// + Mixins

@mixin offer-hover {
	transition: $card-transition;
	&:hover {
		box-shadow: $bs-hover-box;
		transform: scale(1.032);
	}
}
@mixin offer-hover-reset { // to reset hover in destination-offer
	&:hover {
		box-shadow: none;
		transform: none;
	}
}

@mixin destinations-guide-offer {
	ibe-destination-offer {
		flex-basis: 100%;
	}
	.destination-offer_body {
		position: relative;
		height: calculateRem(200px);
	}
	.destination-offer_caption {
		z-index: 1;
		position: absolute;
		left: 0;
		bottom: 0;
		display: flex;
		align-items: flex-end;
		box-sizing: border-box;
		width: 100%;
		min-height: calculateRem(65px);
		padding: calculateRem(16px);
		overflow: hidden;
		a {
			padding: 0;
			&::after {
				content: '';
				z-index: -1;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#000, .5);
				transform: skew(0, 4deg);
				transform-origin: 0 100%;
				transition: all .06s ease;
			}
			&:hover {
				.city {
					transform: none;
				}
			}
		}
		.city {
			@include font-size($f-size-md);
			min-height: auto;
			color: $c-secondary;
		}
	}
	@media #{$tablet-portrait} {
		.destination-offer_caption {
			min-height: calculateRem(90px);
			a {
				&::after {
					transform: skew(0, 9deg);
				}
			}
		}
	}
}

//## component custom breakpoint
$destination-offers-breakpoint: $tablet-portrait;

//## fontsize of offers title+price
$destination-offers-prices-base-fontsize: 16px;
$destination-offers-prices-base-fontsize-md: 18px;
$destination-offers-prices-base-fontsize-lg: 27.5px;
$destination-offer-padding: 14px;



%destination-offers-prices-container {
	$destination-offers-prices-base-fontsize: $destination-offers-prices-base-fontsize;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	font-size: calculateEm($destination-offers-prices-base-fontsize, $f-size);
	text-decoration: none;
	padding: calculateRem($destination-offer-padding);
	box-sizing: border-box;
	.price_currency {
		font-size: calculateEm(26px, $destination-offers-prices-base-fontsize);
		color: $c-text;
		line-height: 1;
		margin-top: calculateRem(8px);
		.from {
			display: block;
		}
	}
	// responsive
	@media #{$tablet-portrait} { // >=768px;
		$destination-offers-prices-base-fontsize: $destination-offers-prices-base-fontsize-md;
		font-size: calculateEm($destination-offers-prices-base-fontsize, $f-size);
	}
	@media #{$desktop} { // >=1200px;
		$destination-offers-prices-base-fontsize: $destination-offers-prices-base-fontsize-lg;
		font-size: calculateEm($destination-offers-prices-base-fontsize, $f-size);
		.price_currency {
			font-size: calculateEm(34px, $destination-offers-prices-base-fontsize);
		}
	}
}
%destination-offers-prices-title {
	font-size: calculateEm(20px, $destination-offers-prices-base-fontsize);
	min-height: 2.2em;
	margin-bottom: 0;
	color: $c-primary;
	font-weight: 600;
	line-height: 1.1;
}

//## COMPONENTS OFFERS PRICES
@import '_destinations-offers-prices';
// @import 'destinations-offers-pricelist';

// + Destinations offers
// -------

// + Aside
// -------
.destination-offer_aside {
	display: flex;
	flex-direction: column-reverse;
	padding: 0;
	.destination-offer_body {
		position: relative;
		display: flex;
		height: 100%;
		width: 100%;
		min-height: calculateRem(210px);
		overflow: hidden;
	}
	.destination-offer_link {
		a {
			color: inherit;
			&:hover {
				color: $c-link-hover;
			}
		}
	}
	.destination-offer {
		margin: 0 (-$gutter-sides);
	}
}

// + Main
// -------


//## select filter
.destinations-offers_select_header {
	display: block;
	text-align: center;
	.ui-dropdown {
		display: inline-block;
		& > button {
			display: inline-flex;
			margin-left: calculateRem(8px);
		}
	}
	.ui-dropdown_list {
		width: auto;
		left: auto;
		right: 0;
	}
	.title_trigger,
	.title {
		@include font-size($f-size-md-lg);
	}
	.title_trigger {
		color: $c-primary;
		margin: calculateRem(24px) 0;
		// modifiers
		&.hide-caret {
			padding-right: 0;
			cursor: auto;
			pointer-events: none;
			&::after {
				content: none;
			}
		}
	}

	@media #{$tablet-landscape} { // >= 992px
		.title_trigger,
		.title {
			@include font-size($f-size-lg);
		}
	}
}

.destinations-offers {
	margin-top: calculateRem(28px);
}

// + Destination offer (individual component)
// -------
.destination-offer {
	@include offer-hover;
	background-color: #fff;
	.city {
		@include font-size($f-size-lg);
		order: -1;
		margin-bottom: 0;
		font-weight: 600;
	}
	// modifiers
	&.has-style-1 {
		@include destinations-guide-offer;
		position: relative;
	}
}

.destination-offer_caption {
	position: relative;
	a {
		padding: $destination-offer-padding;
		display: flex;
		flex-direction: column;
	}
}

// destinations offers main component
.destinations-offers {
	.destination-offer {
		@include offer-hover-reset;
	}
	.destination-offer_caption {
		display: flex;
		align-items: flex-end;
		padding: 0 12px 0 20px;
		a {
			@extend %destination-offers-prices-container;
			z-index: 2;
			min-width: calculateRem(160px);
			.city,
			.price_wrap { 
				transform: scale(1);
				transition: all .1s ease-in-out;
			}
			&::after { //## diagonal background bar
				z-index: -1;
				content: '';
				position: absolute;
				left: calculateRem(-40px);
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#fff,.7);
				transform-origin: 0 100%;
				transform: skew(-25deg) translate(0, 0);
				transition: all .06s ease;
			}
			&:hover {
				.city,
				.price_wrap { 
					transform: scale(1.06);
				}
			}
			// .price_currency {
			// 	@include font-size(26px);
			// }
		}
		.city {
			@extend %destination-offers-prices-title;
		}
		.price_wrap {
			line-height: 1;
		}
	}
	// modifiers
	&.has-style-1 {
		.destination-offer_aside {
			.column {
				&:last-child {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		// price list
		.destination-offers_prices_wrap {
			&::after {
				content: none;
			}
		}
		.destination-offers_prices_list {
			margin: 0 calculateRem(-15px);
		}
		.destination-offers_prices_item {
			flex-basis: calc(25% - 30px);
			flex-grow: 0;
			min-height: calculateRem(155px);
			margin: 0 calculateRem(15px) calculateRem(30px);
		}
		.destination-offers_prices_title {
			@include font-size($f-size-lg);
			margin: 0 0 calculateRem(2px);
			min-height: auto;
		}
		.destination-offers_prices_value {
			margin-top: auto;
			.price_currency {
				@include font-size($f-size-lg);
				.from {
					display: inline-block;
				}
			}
		}
	}
}
.destination-offer_image {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	img {
		position: relative;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.destinations-offer_title,
.destinations-offer_subtitle {
	@include font-size($f-size-md);
}
.destinations-offer_title {
	margin-bottom: .25em;
	font-weight: 600;
}
.destinations-offer_subtitle {
	color: $c-text;
}
.destinations-offer_text {
	margin: 0;
}
.destination-offer_link {
	position: absolute;
	right: 5%;
	bottom: 8%;
	font-size: calculateEm($f-size);
	a {
		@include arrow-sufix;
		text-decoration: none;
		cursor: pointer;
	}
}


// [Responsive]
@media #{$tablet-portrait} { // >= 768px
	.destinations-offers {
		.destinations-offer_title,
		.destinations-offer_subtitle {
			@include font-size($f-size-lg);
		}
		.destination-offer_link {
			bottom: 7.5%;
		}
	}
}
@media #{$tablet-landscape} { // >= 992px
	.destinations-offers {
		margin: 0;
	}
	.search-fixed {
		.destinations-offers {
			margin-top: 0;
		}
	}
}
@media #{$desktop} { // >= 1200px
	.destinations-offers {
		.destination-offer_caption {
			padding-right: calculateRem(32px);
			padding-left: calculateRem(38px);
		}
	}
}

@media #{$destination-offers-breakpoint} {
	.destinations-offers {
		.destination-offer_aside {
			flex-direction: row-reverse;
			justify-content: center;
			width: auto;
			.destination-offer {
				height: 100%;
				margin: 0;
			}
			.column {
				flex-basis: calc(50% - #{$gl-gutter});
				flex-shrink: 0;
				flex-grow: 1;
				&:first-child {
					margin-left: $gl-gutter;
				}
				&:last-child {
					margin-right: $gl-gutter;
				}
			}
		}
	}
}