// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR
// ********************
//
//    + Journey header
//    + Trip selector
//        ++ Flights table
//    + Connections data (modal)
//
// ********************
.tripselector_outbound,
.tripselector_inbound {
	margin-bottom: calculateRem(18px);
	&.is-selected {
		.tripselector_modifier {
			display: flex;
		}
		.dayselector {
			display: none;
		}
		.flights {
			margin: 0;
		}
		.flight {
			display: none;
			&.is-selected {
				display: block;
			}
		}
	}
}

.tripselector_inbound {
	.flightselect_header {
		margin-top: 66px;
	}
	.flightselect_header_route {
		.label {
			&::before { // flip same icon to inbound
				content: $icon-airplane-left-circle;
			}
		}
	}
}

// + Journey header
// -------
.flightselect_header {
	z-index: 1;
	position: relative;
	width: 100%;
}

.flightselect_header_route {
	.label,
	.route {
		display: inline-block;
	}
	.label {
		$iconsize: 30px;
		@include iconfont-with-background($icon-airplane-right-circle, $iconsize+4, 5px);
		vertical-align: middle;
		margin-right: 4px;
		.label_text {
			@extend .hide-visually;
		}
		&::before { //## inbound and outbound icons
			margin-right: 7px;
		}
	}
	.route {
		@include font-size($f-size-md);
		@extend .title-h1;
		font-weight: 700;
		vertical-align: middle;
	}
}

// + Trip selector
// -------
.flights {
	position: relative;
	clear: both;
	margin-left: -$gutter-sides;
	margin-right: -$gutter-sides;
}

$col-duration-width: 10%;
$col-flights-width: 26%;
$col-prices-width: calc(100% - ((#{$col-flights-width} * 2) + #{$col-duration-width}));
$row-flight-padding: 18px;
$row-flight-padding-selected: 14px;
$row-flight-padding-selected-lg: 20px;

// ++ Flights table
.flights_table {
	width: 100%;
}

.flight {
	position: relative;
	display: block;
	border-top: 2px solid $c-color3;
	&:last-child {
		border-bottom: 2px solid $c-secondary;
	}
	&:first-child {
		border-top: 0;
	}
	.tooltip-note {
		display: none;
	}
	&.is-selected {
		border: 1px solid $c-primary;
		border-top: 0;
		.rowFlight {
			padding: $row-flight-padding-selected;
		}
		.colPrices {
			margin-left: -$row-flight-padding-selected;
			margin-right: -$row-flight-padding-selected;
			flex-grow: 1;
			border-top: 4px solid $c-color4;
		}
	}
	&.is-disabled {
		cursor: default;
		.rowFlight {
			opacity: .3;
			transition: all .2s linear;
		}
		.tooltip-note {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			max-width: 100%;
			align-items: center;
			justify-content: center;
			opacity: 0;
			background-color: #fff;
			transition: all .37s ease;
			z-index: 1;
		}
		&:hover {
			.tooltip-note {
				opacity: .74;
			}
		}
	}
	&.is-open {
		.rowFlight {
			padding-bottom: 0;
		}
		.flights_fares_button-close {
			display: block;
		}
		.price-rate {
			display: none;
		}
		.colPrices {
			margin-left: -$gutter-sides;
			margin-right: -$gutter-sides;
		}
	}
	&.has-connection-stop {
		//modifier when have a stop
		.colDuration {
			.icon {
				$summary-stop-size: 46px;
				padding: 0 6%;
				&::before {
					content: '';
					@include svg-import($summary-stop-size, 23px, $summary-stop-size, icon, 'airplane-stop', -4px);
				}
			}
		}
	}
}

.rowFlight {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	padding: $row-flight-padding $row-flight-padding ($row-flight-padding + 4) $row-flight-padding;
}

.colDeparture,
.colReturn,
.colDuration,
.colPrices {
	box-sizing: border-box;
}

.colDeparture,
.colReturn {
	flex: 0 1 auto;
	.route {
		position: relative;
	}
	.flight_label {
		display: block;
		color: $c-primary-dark;
		line-height: 1.3;
	}
	.time {
		display: inline-block;
		font-family: $f-title;
		@include font-size($f-size-lg);
		line-height: 1;
		color: $c-primary-dark;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.airport-name {
		@include font-size($f-size-sm);
		display: block;
		clear: both;
		line-height: 1.3;
		white-space: normal;
		.airport-code {
			display: block;
		}
	}
}

.extra-day {
	display: none;
	position: absolute;
	top: -7px;
	white-space: nowrap;
	@include font-size($f-size-xs);
	color: $c-primary-dark;
	line-height: 1;
	padding: 2px 1px;
	border-radius: 50%;
	background: $gray95;
	span {
		display: none;
		padding-left: 4px;
	}
}

.colReturn {
	text-align: right;
}

.colDuration {
	flex: 1 0 auto;
	margin: 0 3%;
	text-align: center;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 15px;
		width: 100%;
		height: 2px;
		background: $c-primary;
		z-index: -1;
	}
	.icon {
		@include iconfont($icon-airplane-right, before);
		@include font-size(20px);
		display: block;
		width: 50px;
		padding: 0 3%;
		margin-top: 4px;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		&::before {
			@include font-size($f-size-md);
			color: $c-color1;
		}
	}
	.time {
		display: inline-block;
		@include font-size($f-size-sm);
	}
	.connection {
		display: block;
		@include font-size($f-size-sm);
		.info-link {
			@include info-link($icon-info-circle, $f-size-sm, right);
			color: $c-text;
			cursor: pointer;
			span {
				text-decoration: underline;
			}
			&::after {
				color: $c-primary;
			}
		}
	}
}

.colPrices {
	flex-basis: 100%;
	margin-top: 14px;
	text-align: center;
}

.price-rate {
	@include font-size($sf-price-fontsize);
	@extend .button;
	@extend .btn-secondary;
	position: relative;
	width: auto;
	min-width: auto;
	white-space: nowrap;
	border-width: 2px;
	padding-top: calculateRem(1px);
	.label {
		@include font-size(12px);
		margin-right: 4px;
		font-weight: 400;
		text-transform: none;
	}
	.price_currency {
		@include font-size(20px);
		margin-left: auto;
	}
	.fare-label {
		@include font-size($f-size);
		display: none;
		// padding-left: calculateRem(44px);
		// font-size: 20px; // Safari Support
		// &::before {
		// 	position: absolute;
		// 	left: 0;
		// 	margin: 0;
		// }
	}
	.fare-label_name {
		// @include font-size($f-size);
		font-weight: 600;
	}
	&.disabled,
	&.disabled:hover {
		opacity: 1;
		background: none;
		border: 0;
		-webkit-user-select: none;
		user-select: none;
	}
	&.selected {
		z-index: 1;
		display: flex;
		align-items: center;
		width: 100%;
		border: 0;
		padding-bottom: 0;
		padding: ($row-flight-padding-selected - 2) $row-flight-padding-selected 0;
		cursor: auto;
		pointer-events: none;
		.fare-label {
			display: flex;
		}
		.label {
			display: none;
		}
	}
	.promo-label {
		margin-right: 16px;
	}
}

.rowFares {
	position: relative;
}

//## connections
.connection {
	@include font-size($f-size);
	position: relative;
	button {
		cursor: pointer;
		.connection_link_label {
			text-decoration: underline;
		}
	}
	.connection_link {
		color: $c-text;
	}
}
.connection-stopover {
	.connection_link_label {
		@include hide-visually;
	}
}
.connection_popover {
	text-align: left;
}

// [Responsive]
@media #{$mobile-sm} { // >=480px
	.flight {
		&.has-connection-stop {
			//modifier when have a stop
			.colDuration {
				.icon {
					&::before {
						content: '';
						width: 50px;
						height: 25px;
						background-size: 50px;
					}
				}
			}
		}
	}
	.colDeparture,
	.colReturn {
		.airport-name {
			.airport-code {
				display: inline-block;
			}
		}
	}
	.colDuration {
		.icon {
			width: 53px;
		}
	}
}
@media #{$mobile} { // >=640px
	.flightselect_header_route {
		margin-bottom: 10px;
		.label {
			$iconsize: 40px;
			&::before {
				@include font-size($iconsize+2);
			}
		}
	}
	.colDeparture,
	.colReturn {
		.route {
			.time {
				margin-bottom: 7px;
			}
			.airport-name {
				@include font-size($f-size);
			}
		}
	}
	.colDuration {
		.connection {
			@include font-size($f-size-sm);
		}
	}
	.price-rate {
		padding-top: calculateRem(6px);
		.fare-label {
			@include font-size(22px);
		}
		.fare-label_name {
			@include font-size(16px);
		}
		.price_currency {
			@include font-size(28px);
		}
	}
}
@media #{$tablet-portrait} { // >=768px
	.flightselect_header_route {
		.route {
			@include font-size($f-size-lg);
			padding-right: 180px;
		}
	}
	.flights {
		margin-left: 0;
		margin-right: 0;
	}
	.flight {
		&.is-selected {   
			.rowFlight {
				padding: $row-flight-padding-selected-lg;
			}        
			.colPrices {
				border: 0;
				margin: 0 15px auto;
			}
		}
		&.is-open {
			.rowFlight {
				padding-bottom: 23px;
			}
			.colPrices {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.rowFlight {
		padding: 45px 25px;
	}
	.rowFares {
		position: static;
	}
	.colDuration {
		.connection {
			display: inline-block;
		}
	}
	.colPrices {
		flex: 0 0 42%;
		text-align: right;
		margin: 0;
	}
	.extra-day {
		display: inline-block;
	}
	.price-rate {
		min-width: calculateRem(240px);
		padding-top: calculateRem(4px);
		.label {
			@include font-size(14px);
		}
		.price_currency {
			@include font-size(24px);
		}
		.fare-label_name {
			@include font-size(16px);
			font-weight: 400;
		}
		&.selected {
			align-items: flex-start;
			padding-top: 0;
			padding-right: 0;
			padding-left: 7vw;
			border: 0;
			.price_currency {
				position: relative;
				top: calculateRem(4px);
			}
			.fare-label {
				position: relative;
				top: calculateRem(-7px);
			}
		}
	}

	@mixin connection_popover_desktop {
		width: auto;
		min-width: calculateRem(424px);
		height: auto;
		padding: calculateRem(16px);
		padding-left: calculateRem(34px);
		border: 1px solid $c-primary;
		overflow: visible;
	}
	.connection {
		&:hover {
			.connection_popover {
				@include connection_popover_desktop;
			}
		}
	}
	.connection_popover {
		z-index: $modal-overlay-zindex;
		position: absolute;
		top: 50%;
		left: calc(100% + 32px);
		width: 0;
		height: 0;
		background-color: $popover-bg;
		overflow: hidden;
		transform: translateY(-50%);
		&::before {
			content: '';
			position: absolute;
			left: -10px;
			top: 50%;
			width: 18px;
			height: 18px;
			background-color: $popover-bg;
			transform: translateY(-50%) rotate(45deg);
			border: 1px solid;
			border-color: $popover-bg $popover-bg $popover-border-color $popover-border-color;
		}
		&.is-active {
			@include connection_popover_desktop;
		}
	}
	.connection_popover-head {
		display: none;
	}
}
@media #{$desktop} { // >=1200px
	.flights_table {
		.price-rate {
			min-width: calculateRem(260px);
			padding-top: calculateRem(9px);
			.label {
				@include font-size(17px);
			}
			.price_currency {
				@include font-size($sf-price-fontsize);
			}
			&.selected {
				padding-left: calculateRem(110px);
			}
		}
	}
}

@media (max-width: $bp-tablet-portrait-max) { // <=767px
	.connection_popover {
		@include mobile-modal_main-container('.is-active', false, 0);
	}
	.connection_popover-head {
		@include mobile-modal_header;
	}
	.connection_popover_close-button {
		@include mobile-modal-header_close-button;
	}
	.connections {
		@include mobile-modal_main-body;
		padding: $gutter-sides;
	}
}