<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="" />
    <meta name="author" content="" />


    <link rel="apple-touch-icon" sizes="180x180" href="{{project_assets_path}}imgs/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{project_assets_path}}imgs/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{project_assets_path}}imgs/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="{{project_assets_path}}imgs/favicons/safari-pinned-tab.svg" color="#cd1025">
    <meta name="msapplication-TileColor" content="#0037a2">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" type="image/png" href="{{ project_assets_path }}imgs/favicons/favicon-16x16.png" />
    <title>{{ site_title }}</title>

    <!-- @start: CLIENT CSS -->
        {% for css in client.styles %}
            <link href="{{ project_assets_path }}css/client/{{css.path}}" rel="stylesheet" />
        {% endfor %}
    <!-- @end: CLIENT CSS -->

    <!-- @start: DEMO CSS -->
    <link href="{{ core_assets_path }}css/md-styles.css" rel="stylesheet" />
    <link href="{{ project_assets_path }}css/md-styles-theme.css" rel="stylesheet" />
    <!-- @end: DEMO CSS -->

    <!-- @start: PROJECT CSS -->
    {% if pathFont | length %}<link href="{{pathFont}}" rel="stylesheet" />{% endif %}
    <link href="{{ project_assets_path }}css/styles.min.css" rel="stylesheet" />
    <!-- @end: PROJECT CSS -->
    
    <script src="{{ core_assets_path }}js/libs/modernizr-custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->