<script src="{{ core_assets_path }}js/libs/jquery-3.3.1.min.js"></script>
<script src="{{ core_assets_path }}js/libs/what-input.js"></script>
<script src="{{ core_assets_path }}js/libs/popper.min.js"></script>
<script src="{{ core_assets_path }}js/libs/bootstrap.min.js"></script>

<script>document.createElement( "picture" );</script>
<script src="{{ core_assets_path }}js/libs/picturefill.min.js" async></script>

<script src="{{ core_assets_path }}js/md.scripts.js"></script>
<script src="{{ core_assets_path }}js/common.scripts.js"></script>



{# IBE JS INTERACTIONS #}

{# accessibility dropdown & tabs #}
<script src="{{ core_assets_path }}js/accessibility/dropdown-accessibility.js"></script>
<script src="{{ core_assets_path }}js/accessibility/tabs-accessibility.js"></script>

{# scroll top #}
<script src="{{ core_assets_path }}js/scrolltop.js"></script>

{# <script src="../src/assets/js/project.scripts.js"></script> #}

{# Search #}
<script src="{{ core_assets_path }}js/flight-search/flight-search.js"></script>

{# header #}
<script src="{{ core_assets_path }}js/nav/nav-responsive-bottom.js"></script>

{# sticky main header #}
<script src="{{ core_assets_path }}js/header-fixed.js"></script>

{# footer #}
<script src="{{ core_assets_path }}js/footer.js"></script>

{# forms #}
<script src="{{ core_assets_path }}js/forms.js"></script>

{# summary #}
<script src="{{ core_assets_path }}js/summary/summary.js"></script>

{# fares selection collapse #}
<script src="{{ core_assets_path }}js/select-flight/fares-selection-collapse.js"></script>

{# trip selector #}
<script src="{{ core_assets_path }}js/select-flight/trip-selector.js"></script>

{# fares compare #}
<script src="{{ core_assets_path }}js/fares-compare/fares-compare.js"></script>

{# connections modal #}
<script src="{{ core_assets_path }}js/connections-modal/connections-modal.js"></script>

{# web search #}
<script src="{{ core_assets_path }}js/web-search.js"></script>

{# project script settings #}
<script src="{{ project_assets_path }}js/project.scripts.js"></script>

<!-- @start: CLIENT CSS -->
{% for js in client.scripts %}
    <script src="{{ project_assets_path }}js/client/{{js.path}}"></script>
{% endfor %}
<!-- @end: CLIENT CSS -->

