// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  CHECK-IN
// ****************************************
//
//    + Check-in login
//    + Check-in home
//    + Check-in pre confirmation
//    + Check-in passengers data
//    + Check-in summary
//    + Check-in selection
//
// ****************************************

// + Check-in login
// -------
.check-in-login-page,
.billing-home-page {
    .content-wrap {
        margin-top: $content-margin-top;
    }
}

// + Check-in home
// -------
.check-in-home-page {
    main {
        margin-top: 0;
    }
    .booking-reference {
        margin-bottom: 20px;
    }
}

//  + Check-in summary
// -------
.checkin_summary {
    margin-bottom: 30px;
    padding: 0;
    .column {
        flex-basis: 48%;
        margin-bottom: 24px;
        &:nth-child(2) {
            margin-left: auto;
            margin-bottom: 0;
        }
        &.disabled {
            opacity: .333;
            .checkin_paxname {
                padding-left: 0;
                &::before {
                    content: none;
                }
            }
        }
    }
}
.checkin_summary_journey {
    margin: 0 0 14px;
    background: transparent;
    border-bottom: 1px solid $c-primary;
    .summary_journey {
        grid-template-columns:1fr .5fr 1fr 1.2fr;
        .flight-number {
            @include font-size(15px);
        }
    }
}
.checkedin-seat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .checkin_summary_journey {
        padding: 0 $check-in-summary-horizontal-padding 0;
    }
}
@media (min-width: 1100px) {
    .checkin_summary {
        display: flex;
        justify-content: center;
        .column {
            margin-bottom: 0;
        }
        &.oneway {
            justify-content: center;
        }
    }
}

// + Check-in selection
// -------
.checkin_selection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    line-height: 1.1;
    padding: 14px 0 7px 0;
    &:last-child {
        margin-bottom: 14px;
    }
    .ui-checkbox {
        margin: 0;
    }

    // modifiers
    &.checkedin {
        .checkin_check {
            .ui-checkbox > label {
                @include iconfont($icon-check-circle);
                position: relative;
                padding-left: 33px;
                font-weight: 600;
                &::before {
                    @include font-size($f-size-md-sm);
                    position: absolute;
                    top: 8px;
                    left: 0;
                    color: $c-primary;
                    line-height: 0;
                }
            }
        }
        .ui-checkbox {
            padding-left: 0;
            label {
                &::before {
                    display: none; //## IE Support
                }
            }
        }
        .checkin_status {
            .seat-label {
                @extend .hide-visually;
            }
        }
    }
    &.readonly {
        .seat-label {
            @extend .hide-visually;
        }
    }
}
.checkin_paxname {
    @include iconfont($icon-check-circle);
    position: relative;
    flex: 1 0 32%;
    min-width: 32%;
    margin: 0;
    padding-left: calculateRem(26px);
    font-weight: 600;
    &::before {
        @include font-size($f-size-md-sm);
        position: absolute;
        top: 8px;
        left: 0;
        color: $c-primary;
        line-height: 0;
    }
}
.checkin_check {
    label {
        font-weight: 600;
        padding-right: 1rem;
    }
}
.checkin_status {
    position: relative;
    margin-left: auto;
    padding-left: .5rem;
    text-align: right;
    .label {
        .iconlink-print {
            @include iconfont($icon-printer);
            text-align: right;
            .link-text { 
                color: $c-text;
                text-decoration: underline;
            }
            &::before { //## link icon
                @include font-size($f-size-lg);
                position: relative;
                top: 4px;
                color: $c-primary;
                margin-right: 4px;
                line-height: 0;
            }
            &:hover {
                .link-text {
                    color: $c-primary;
                }
                &::before { //## link icon
                    color: $c-link-hover;
                }
            }
        }
    }
    .seat-status {
        font-weight: 700;
        color: $c-primary;
    }
    .seat-number {
        @include iconfont($icon-seat-airplane);
        font-weight: 700;
        color: $c-primary;
        color: inherit;
        padding-right: 24px;
        &::before {
            @include font-size($f-size-md-sm);
            position: relative;
            color: $c-primary;
            margin-right: 7px;
            line-height: 0;
        }
    }
    &.disabled { // modifiers
        .seat-status {
            color: $c-secondary;
        }
    }

    //## css to be delete after js implementation of dynamic tooltip positions
    .tooltip {
        right: -14px !important;
        left: auto !important;
        .arrow {
            left: 88% !important;
        }
    }
}

.terms_check {
    margin: 30px 0 24px;
}

// [Responsive]
@media #{$until-mobile-sm} { // <= 480px
    .checkin_selection {
        flex-direction: column;
        padding: 14px 2px 7px;
        &.checkedin {
            margin-bottom: 4px;
            padding-bottom: 14px;
            border-bottom: 1px solid tint($c-primary,80%);
            &:last-child {
                border: 0;
                padding-bottom: 7px;
                margin-bottom: 0;
            }
        }
        &.readonly {
            flex-direction: row;
            .checkin_paxname {
                flex: 0 0 32%;
            }
            .checkin_status {
                margin: 0;
            }
        }
    }
    .checkin_check {
        margin: 0;
    }
    .checkin_status {
        margin: 14px 0 0 calculateRem(26px);
        padding-left: 0;
    }
    .checkin_paxname {
        flex: 0 0 100%;
    }
}
@media #{$mobile} { // >= 640px
    .checkin_selection {
        padding-right: $check-in-summary-horizontal-padding;
        padding-left: $check-in-summary-horizontal-padding;
    }
}