// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//
//    + Search flight
//        ++ Grid
//        ++ Triptype
//        ++ Route
//        ++ Date
//        ++ Typology
//        ++ Promocode
//        ++ Action button
//         [Responsive]
//
//    + Search flight typeahead
//
// ****************************************

$searchflight-gutter: 2.4%;
$searc-vert-margin: 20px;
$search-vert-margin-fixed: 14px;

.searchflight {
    padding: 7px 14px 14px;
    .inner {
        @include clearfix;
    }
    .ui-input {
        padding: 0;
        height: calculateRem(28px);
        border-width: 0 0 1px 0;
        border-radius: 0;
    }
    label,
    .ui-label {
        @extend .ui-label;
        margin-bottom: 0;
    }
    .ui-input-multiline_group {
        margin-bottom: 14px;
    }
    
    // + All elements
    // -------
    .route,
    .dates,
    .typology,
    .searchflight_button {
        .ui-input-container {
            padding: 0;
        }
    }

    // + Triptype
    // -------
    .triptype {
        @include font-size($f-size);
        margin-bottom: 7px;
        .ui-checkbox-inline {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        .ui-checkbox {
            $checkbox-scale: .8;
            flex: 1 1 auto;
            padding-left: 1.4em;
            margin: 0 10px 5px 0;
            input[type='radio'] {
                top: -3px;
                transform: scale($checkbox-scale);
                & + label {
                    user-select: none;
                    &::before,&::after {
                        top: -1px;
                        transform: scale($checkbox-scale);
                    }
                }
            }
        }
        label {
            color: $c-primary;
            font-weight: 700;
            text-transform: none;
        }
    }

    // + Route
    // -------
    .route {
        .ui-input-multiline_group {
            width: 100%;
            &.is-focused {
                .ui-input-multiline_group_inner {
                    &:after {
                        transform: scale(1) rotate(-90deg);
                    }
                }
            }
        }
        .ui-input-multiline_group_inner {
            @include collapse-trigger($size: 10px, $color: $c-primary, $pos:right);
            &::after {
                top: auto;
                right: 0;
                bottom: calculateRem(4px);
            }
        }
    }

    // + Date
    // -------
    .dates {
        .ui-input-multiline {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .ui-input-multiline_group {
            flex-basis: 47%;
        }
        .ui-input-multiline_group_inner {
            $icon-size: 22px;
            @include iconfont($icon-fecha,after);
            &::after { //## date input icon
                position: absolute;
                right: 0;
                bottom: calculateEm(4px, $icon-size);
                color: $c-secondary;
                font-size: calculateEm($icon-size);
            }
            .ui-input {
                padding-right: $icon-size + 7;
            }
        }
        .value-selected {
            text-align: center;
        }
        .value-large {
            white-space: nowrap;
            text-transform: uppercase;
        }
        .day {
            display: block;
            grid-column: 1;
            grid-row: 1 / span 2;
            margin-right: 8px;
            font-size: calculateEm(34px);
            text-align: right;
        }
        .month,
        .week {
            grid-column: 2;
            @include font-size($f-size-sm);
            text-align: left;
            font-weight: 400;
            line-height: 1;
        }
        .month {
            display: flex;
            grid-row: 1;
            text-transform: uppercase;
            align-items: flex-end;
            margin-top: 1px;
        }
        .week {
            display: block;
            grid-row: 2;
        }
    }

    // + Typology
    // -------
    .typology {
        float: left;
        width: 48%;
        .ui-input-container,
        .ui-dropdown {
            position: unset;
        }
        button.ui-input {
            &::after {
                right: 0;
            }
        }
        .ui-dropdown_value {
            margin-right: 20px;
        }
    }
    .typology_option {
        @extend .ui-dropdown_list;
        margin: 0;
        border: 0;
        .ui-num-ud_input input {
            @include font-size(22px);
            font-weight: 600;
            color: $gray45;
        }
    }
    .typology_option_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid #fff;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media #{$until-tablet-portrait} { // <=768px
            .ui-num-ud_input {
                min-width: 60px;
                width: 70px;
            }
        }
    }
    .typology_option_select {
        flex: 0 1 auto;
    }
    .typology_option_label {
        position: relative;
        flex: 0 0 auto;
        padding-right: 54px;
        font-weight: 500;
        color: $c-primary;
        line-height: 1;
        .label-small {
            display: block;
            margin-top: 5px;
            font-weight: 400;
            color: $gray60;
            @include font-size($f-size-xs);
            white-space: nowrap;
        }
        .ui-tooltip_info {
            margin-left: 2px;
        }
    }
    .typology_option_button {
        .button {
            @extend .btn-action;
            display: block;
            min-width: 90%;
            margin: auto;
            margin-top: 10px;
        }
    }

    // ++ Promocode
    .promocode {
        float: right;
        width: 48%;
    }
    // .promocode_form {}
    // .promocode_link {}

    // ++ Action button
    .searchflight_button {
        padding-top: 16px;
        text-align: center;
        display: block;
        clear: both;
        button {
            @extend .btn-action;
            display: inline-block;
        }
    }

    // &.multicity {}

    // modifiers
    .is-focused,
    .has-value {
        .ui-input,
        .ui-dropdown_value {
            font-weight: 500;
        }
    }

    .search_tt,
    .typology_option {
        z-index: ($overlay-zindex + 2);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        background: $gray95;
        overflow: auto;
        transition: all .1s ease-in-out;
        &.collapsing {
            opacity: 0;
        }
    }
    .search_tt_inner,
    .typology_option {
        height: 100vh;
        padding: 60px 24px 10px;
        box-sizing: border-box;
    }
}

// ++ Dropdown list of options
.search_tt_title {
    @include font-size($f-size);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 14px;
    background: $c-primary;
    text-transform: uppercase;
}
.search_tt_menu_scroll {
    @include custom-scroll;
    z-index: 1;
    overflow-y: scroll;
}
.search_tt_menu {
    li {
        padding: 3px 0;
        font-weight: 500;
    }
    a {
        display: flex;
        align-items: center;
        padding: 4px;
        color: $c-text;
        text-decoration: none;
        &:hover,
        &:active {
            background: rgba($c-secondary,.1);
        }
    }
    .city,
    .code {
        flex: 0 1 auto;
    }
    .code {
        @include font-size($f-size-sm);
        margin-left: auto;
        color: $gray60;
        font-weight: 600;
    }
}
.search_tt_menu_list {
    padding: 10px 0;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden; //## ie fix to break-inside
}
.search_tt_menu_list_title {
    @include font-size($f-size-xs);
    color: $gray60;
    font-weight: 600;
    margin-bottom: 2px;
}

.search_tt_close-btn {
    @include iconfont($icon-cerrar,before);
    position: absolute;
    right: 14px;
    top: 10px;
    color: #fff;
}
.search_tt_close-btn_label {
    @include hide-visually;
}

// [Responsive]
@media (max-width: 991px) {
    .searchflight {
        .is-focused input {
            color: transparent;
            text-shadow: 0 0 0 gray;
        }
    }
}
@media #{$home-multipanel-bp} { // >=992px
    @keyframes typologyFadeIn {
        0% { 
            opacity: 0;
            left: calculateRem($multiple-search-width - 20px);
        }
        100% { 
            display: block;
            opacity: 1;
            left: calculateRem($multiple-search-width);
        }
    }
    .searchflight {
        .search_tt,
        .typology_option {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100vw - (#{$multiple-search-width} + 60px));
            max-width: calc(#{$container-max-width} - #{$multiple-search-width});
            max-height: 100%;
            overflow: visible;
            transition: all .17s ease;
            .multiple-search & {
                height: 100% !important;
            }
            &.collapsing {
                left: calculateRem($multiple-search-width - 20px);
                height: 100%;
                max-height: 100%;
                opacity: 0;
            }
            &.show,
            &[aria-hidden='false'] {
                // opacity: 1;
                left: calculateRem($multiple-search-width);
                height: 100%;
                max-height: 100%;
                
            }
        }
        .search_tt_inner, 
        .typology_option {
            height: 100%;
            padding: 11px 24px;
        }
        .typology_option {
            opacity: 0;
            width: auto;
            left: calculateRem($multiple-search-width - 20px);
            animation: typologyFadeIn .2s forwards;
            animation-delay: .6s;
        }
    }
    
    .search_tt_close-btn {
        display: none;
    }
    .search_tt_title {
        @include font-size($f-size-sm);
        position: relative;
        color: $gray40;
        text-align: left;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 7px;
        background: none;
    }
    .search_tt_menu_scroll {
        max-height: calc(100% - 32px);
        padding-right: 14px;
    }
    .search_tt_menu {
        li {
            padding: 0;
        }
    }
    .search_tt_menu_list {
        width: 100%;
        &:nth-child(2),
        &:nth-child(3) {
            width: 47%;
            float: left;
        }
        &:nth-child(3) {
            float: right;
        }
        &:nth-child(4) {
            ul {
                display: flex;
                flex-wrap: wrap;
            }
            li {
                flex: 0 1 47%;
                &:nth-child(even) {
                    margin-left: auto;
                }
            }
        }
    }
}