// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  NEW SEARCH
// ****************************************
//
// ****************************************
// + keyframes
// -------
// @keyframes newsearchSmoothScroll {
// 	0% { transform: translateY(0); }
// 	100% { transform: translateY($combinedbar-height); }
// }
$newsearch-inner-gutter: 1%;
.newsearch_wrap {
    position: relative;
    margin: 20px 0 10px;
}

.newsearch {
    @extend .container-wrap;
    border: 5px solid $gray98;
    padding: 10px;
    transition: padding .1s linear;
    .searchflight {
        padding: 0;
        .inner {
            margin: 0 -#{$newsearch-inner-gutter};
        }
        // .typology {
        //     .ui-dropdown,
        //     .ui-input-container {
        //         position: static;
        //     }
        // }
        .route,
        .dates,
        .typology,
        .searchflight_button {
            margin: 0 $newsearch-inner-gutter;
        }
        .typology {
            float: none;
            width: auto;
            flex-basis: 100%;
        }
        .promocode {
            display: none;
        }
        .route,
        .dates {
            .outbound,
            .inbound {
                flex-basis: calc(50% - #{$newsearch-inner-gutter});
            }
            .ui-input-multiline {
                display: flex;
                justify-content: normal;
            }
        }
        .outbound {
            margin-right: $newsearch-inner-gutter;
        }
        .inbound {
            margin-left: $newsearch-inner-gutter;
        }
    }
}
.newsearch_trigger {
    margin-bottom: 10px;
    .button {
        @extend .btn-secondary;
        @include font-size($f-size-sm);
        min-width: auto;
        font-weight: 600;
    }
}
.newsearch_header {
    margin-bottom: 10px;
}
.newsearch_title {
    .title {
        @extend .title-h3;
    }
}

$newsearch-searchFlight-triptype-margin: 14em;

// [Responsive]
@media #{$mobile-sm} { // >=480px
    .newsearch {
        .searchflight {
            .typology_option_button {
                .button {
                    min-width: auto;
                }
            }
        }
    }
}

@media #{$tablet-portrait} { // >=768px
    .newsearch {
        position: relative;
        padding: 28px 18px 18px;
        .searchflight {
            .inner {
                display: flex;
                flex-wrap: wrap;
            }
            .triptype,
            .searchflight_button,
            .route {
                flex-basis: 100%;
            }
            .triptype {
                margin-bottom: 24px;
                .ui-checkbox-inline {
                    margin-left: $newsearch-searchFlight-triptype-margin;
                }
            }
            .dates,
            .typology {
                flex-basis: calc(50% - #{$newsearch-inner-gutter * 2});
            }
            .searchflight_button {
                padding-top: 2px;
            }
        }
    }
    .newsearch_header {
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 23px;
        width: $newsearch-searchFlight-triptype-margin;
    }
    .newsearch_title {
        padding-right: 10px;
        .title {
            @include ellipsis;
        }
    }
}

@media #{$tablet-landscape} { // >=992px
    .newsearch {
        .searchflight {
            .inner {
                position: relative;
            }
            .search_tt,
            .typology_option {
                position: relative;
                top: 0;
                width: 100%;
                left: 0;
                max-width: none;
                height: 0;
                transition: opacity .04s ease;
                &.collapsing {
                    opacity: 1;
                }
                &.show {
                    height: auto;
                }
            }
            .search_tt_inner {
                height: auto;
            }
            .typology_option {
                left: -484%;
                width: 654%;
                margin-top: 14px;
                animation: none;
                &[aria-hidden='false'] {
                    display: block;
                    opacity: 1;
                    left: -484%;
                }
            }
            .typology_option_item {
                float: left;
                justify-content: flex-start;
                width: calc(100% / 4);
                margin-bottom: 0;
            }
            .route,
            .dates {
                flex-basis: calc(26% - #{$newsearch-inner-gutter * 2});
                flex-grow: 1;
            }
            .typology {
                flex: 0 0 calc(17% - #{$newsearch-inner-gutter * 2});
                width: calc(17% - #{$newsearch-inner-gutter * 2});
            }
            .searchflight_button {
                flex-basis: auto;
            }
            .triptype {
                .ui-checkbox-inline {
                    justify-content: flex-start;
                    .ui-checkbox {
                        flex-basis: 15%;
                        flex-grow: 0;
                    }
                }
            }
            .route {
                .search_tt {
                    left: 0;
                    width: 286%;
                }
            }
            .dates {
                .search_tt {
                    left: -107%;
                    width: 286%;
                }
            }
            .searchflight_button {
                button {
                    min-width: auto;
                }
            }
        }
    }
}

@media #{$until-mobile-sm} { // <=480px
    .newsearch {
        .searchflight {
            .route {
                .ui-input-multiline {
                    flex-wrap: wrap;
                }
                .outbound,
                .inbound {
                    flex-basis: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}