// ****************************************
// GLOBALS VARIABLES
// ****************************************
// UI-ELEMENTS/FORMS
//
// ****************************************
//  CHECKBOX
// ****************************************
//
// ****************************************

// -------
// + CHECKBOX
$checkbox-size: 18px !default;
$checkbox-border: $input-border-color !default;
$checkbox-radius: 2px !default;
$checkbox-background: #fff !default;
$checkbox-checkicon: $icon-check !default;
$checkbox-checkicon-size: 14px !default;
$ui-checkbox-fontsize: 14px !default;
$ui-checkbox-label-color: $c-text !default;
$checkbox-checked-bordersize: 4px !default;
$checkbox-checked-bordercolor: #fff !default;
$checkbox-inline-margin: 30px !default;
$checkbox-border-radius: 2px !default;
//## ripple effect
$checkbox-ripple-scale: 3.5 !default;
$checkbox-ripple-mid-scale: $checkbox-ripple-scale - 1.5 !default;
$checkbox-ripple-background: rgba($c-primary, .2) !default;
//## hover
$checkbox-bordercolor-hover: $input-border-color-hover !default;
//## checked
$checkbox-checked-size: ($checkbox-size - 6) !default;
$checkbox-checked-color: $c-primary !default;
$checkbox-checked-background: $c-secondary !default;
$checkbox-checked-bordercolor: $c-primary !default;
$checkbox-checked-borderspace: 4px !default;
$checkbox-checked-borderspace-color: #fff !default;

$checkbox-size-strip: strip-unit($checkbox-size) !default;
$checkbox-checked-borderspace-strip: strip-unit($checkbox-checked-borderspace) !default;