// ****************************************
//  FORMS / UI ELEMENTS

// ****************************************
//  CHECKBOX AND RADIOS
// ****************************************

@import 'checkbox-vars';

@keyframes ripple {
	0% {
	  transform: scale(0, 0);
	  opacity: 1;
	}
	18% {
	  transform: scale(#{$checkbox-ripple-mid-scale}, #{$checkbox-ripple-mid-scale});
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  transform: scale(#{$checkbox-ripple-scale}, #{$checkbox-ripple-scale});
	}
}

// + Checkbox and radio buttons
// -------
.ui-checkbox {
	position: relative;
	display: inline-flex;
	align-items: center;
	min-height: calculateRem($checkbox-size);
	padding-left: calculateRem($checkbox-size + 10);
	margin: 5px 0;
	box-sizing: border-box;
	label {
		display: inline-block;
		color: $ui-checkbox-label-color;
		line-height: 1.2;
		a {
			z-index: 4;
			position: relative;  
		}
	}
	.radio, .checkbox {
		min-height: $checkbox-size;
	}
	input[type='checkbox'],
	input[type='radio'] {
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		width: calculateRem($checkbox-size + 2);
		height: calculateRem($checkbox-size + 2);
		outline: 0;
		margin: 0;
		opacity: 0;
		box-sizing: border-box;
		cursor: pointer;
		& + label {
			cursor: pointer;
		}
		// check style
		& + label::before,
		& + label::after { //## checked inside and rippe effect on focus/active
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: inline-block;
			vertical-align: text-top;
			width: calculateRem($checkbox-size);
			height: calculateRem($checkbox-size);
		}
		& + label::before {
			border: 1px solid $checkbox-border;
			background: $checkbox-background;
			border-radius: $checkbox-border-radius;
		}
		&:hover + label:before {
			border-color: $checkbox-bordercolor-hover;
		}
		// checked
		&:checked + label:before,
		&.is-checked + label:before {
			border-color: $checkbox-checked-bordercolor;
		}
		// label disabled
		&:disabled + label {
			cursor: auto;
		}
		// check disabled
		&:disabled + label:before {
			box-shadow: none;
			opacity: .6;
		}

		// focus (accessibility)
		&:focus {
			+ label::before {
				border: 1px solid $checkbox-checked-bordercolor;
				box-shadow: 0 0 0 1px $checkbox-checked-bordercolor;
			}
			&[readonly],
			&[readonly = 'readonly'],
			&.readonly {
				+ label::before {
					border-color: inherit;
				}
			}
		}

		& + label::after { //## ripple / wave, effect
			content: '';
			border-radius: 50%;
			box-sizing: border-box;
			transform: scale(0);
			opacity: 0;
			background-color: $checkbox-ripple-background;
		}
		&:checked,
		&.is-checked {
			+ label {
				&::after {
					animation: ripple .7s ease-out;
				}
			}
		}
	}

	input[type='checkbox'] {
		&:checked,
		&.is-checked {
			+ label {
				@include iconfont($checkbox-checkicon,before);
				&::before {
					@include font-size($checkbox-checkicon-size);
					width: calculateRem($checkbox-checkicon-size);
					height: calculateRem($checkbox-checkicon-size);
					background-color: $checkbox-checked-background;
					line-height: 1;
					color: $checkbox-checked-color;
					padding: calculateRem(2px);
				}
			}
		}
	}
	input[type='radio'] {
		& + label:before {
			background:  $checkbox-background;
			border-radius: 50%;
		}
		&:checked,
		&.is-checked {
			+ label:before {
				$radio-checked-size: $checkbox-size - $checkbox-checked-borderspace-strip;
				width: calculateRem($radio-checked-size);
				height: calculateRem($radio-checked-size);
				background-color: $checkbox-checked-background;
				border: $checkbox-checked-borderspace solid $checkbox-checked-borderspace-color;
				box-shadow: 0 0 0 1px $checkbox-checked-bordercolor;
			}
		}
	}
	// modifiers
	&.has-error,
	.has-error & {
		input[type='checkbox'],
		input[type='radio'] {
			& + label {
				&::before {
					border-color: $c-error;
					box-shadow: inset 0 0 0 1px $c-error;
				}
			}
		}
	}
	&.is-readonly {
		input[type='checkbox'],
		input[type='radio'] {
			cursor: default;
			+ label {
				&::before {
					opacity: .4;
				}
			}
		}
	}
}
.ui-checkbox-inline,
.ui-checkbox-inline .ui-checkbox-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
	.ui-label_i {
		position: relative;
		top: 2px;
		margin-left: 4px;
	}
	.ui-checkbox {
		flex: 0 1 auto;
		margin-right: $checkbox-inline-margin;
		&:last-child {
			margin-right: 0;
		}
	}
}