@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?byan0b');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?byan0b#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?byan0b') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?byan0b') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?byan0b##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane-right {
  &:before {
    content: $icon-airplane-right; 
  }
}
.icon-airplane-left {
  &:before {
    content: $icon-airplane-left; 
  }
}
.icon-airplane-right-circle {
  &:before {
    content: $icon-airplane-right-circle; 
  }
}
.icon-airplane-left-circle {
  &:before {
    content: $icon-airplane-left-circle; 
  }
}
.icon-arrow-single-down {
  &:before {
    content: $icon-arrow-single-down; 
  }
}
.icon-arrow-single-left {
  &:before {
    content: $icon-arrow-single-left; 
  }
}
.icon-arrow-single-right {
  &:before {
    content: $icon-arrow-single-right; 
  }
}
.icon-arrow-single-up {
  &:before {
    content: $icon-arrow-single-up; 
  }
}
.icon-arrow-triangle-down {
  &:before {
    content: $icon-arrow-triangle-down; 
  }
}
.icon-arrow-triangle-left {
  &:before {
    content: $icon-arrow-triangle-left; 
  }
}
.icon-arrow-triangle-right {
  &:before {
    content: $icon-arrow-triangle-right; 
  }
}
.icon-arrow-triangle-up {
  &:before {
    content: $icon-arrow-triangle-up; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-cross-circle {
  &:before {
    content: $icon-cross-circle; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-error-circle {
  &:before {
    content: $icon-error-circle; 
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-social-facebook-circle {
  &:before {
    content: $icon-social-facebook-circle; 
  }
}
.icon-social-feed-circle {
  &:before {
    content: $icon-social-feed-circle; 
  }
}
.icon-social-twitter-circle {
  &:before {
    content: $icon-social-twitter-circle; 
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-phone-call-center {
  &:before {
    content: $icon-phone-call-center; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-address {
  &:before {
    content: $icon-address; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-airplane-document {
  &:before {
    content: $icon-airplane-document; 
  }
}
.icon-info-document {
  &:before {
    content: $icon-info-document; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-airplane-1stop .path1 {
  &:before {
    content: $icon-airplane-1stop-path1;  
    color: rgb(224, 168, 0);
  }
}
.icon-airplane-1stop .path2 {
  &:before {
    content: $icon-airplane-1stop-path2;  
    margin-left: -1em;  
    color: rgb(141, 153, 148);
  }
}
.icon-passenger {
  &:before {
    content: $icon-passenger; 
  }
}
.icon-fare-1 {
  &:before {
    content: $icon-fare-1; 
  }
}
.icon-fare-2 .path1 {
  &:before {
    content: $icon-fare-2-path1;  
    color: rgb(11, 62, 54);
  }
}
.icon-fare-2 .path2 {
  &:before {
    content: $icon-fare-2-path2;  
    margin-left: -1em;  
    color: rgb(0, 221, 153);
  }
}
.icon-fare-3 .path1 {
  &:before {
    content: $icon-fare-3-path1;  
    color: rgb(0, 221, 153);
  }
}
.icon-fare-3 .path2 {
  &:before {
    content: $icon-fare-3-path2;  
    margin-left: -1em;  
    color: rgb(224, 168, 0);
  }
}
.icon-fare-3 .path3 {
  &:before {
    content: $icon-fare-3-path3;  
    margin-left: -1em;  
    color: rgb(11, 62, 54);
  }
}

