// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICES CARD
// ****************************************
//
// ****************************************
$services-cards-gutter: 1.4%;
$services-cards-mobile-gutter: 8px;
$services-cards-internal-padding: 15px;
$services-card-image-container: 210px;
.services-cards {
    display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-right: -$services-cards-mobile-gutter;
	margin-left: -$services-cards-mobile-gutter;
}

.services-card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-basis: calc(50% - #{$services-cards-mobile-gutter * 2});
	margin: 0 $services-cards-mobile-gutter calculateRem(53px);
    position: relative;
    background-color:#fff;
    transition: .2s;
    cursor: pointer;
    border-radius: $border-radius;
	text-align: center;
	transform: scale(1);
	transition: transform .14s ease-in-out;
	// modifiers
	&:hover {
		box-shadow: $bs-hover-box;
		transform: scale(1.03);
	}
	&.is-selected {
		box-shadow: 0 0 0 calculateRem(4px) $c-primary;
		background-color: lighten($c-primary, 51%);
		&.services-card, 
		.services-card_image_container {
			border-radius: 0;
		}
		.services-card_description_text {
			font-weight: 700;
		}
		.services-card_action_button {
			@include btn-secondary;
			&:hover {
				box-shadow: none;
			}
			&::before {
				content: $icon-ic_mode_edit_black_24px;
				position: relative;
				top: -3px;
			}
		}
	}
}

.services-card_image_container {
    position: relative;
	min-height: calculateRem($services-card-image-container);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
	&::before {
		content: '';
		background-color: rgba(#000, 0.3);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	}
}

.services-card_icon {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 40px;
	.icon {
		@include font-size($f-iconsize-lg);
		color: #fff;
	}
}

.services-card_title,
.services-card_description,
.services-card_price {
    padding: 0 $services-cards-internal-padding;
}

.services-card_title,
.services-card_price {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}
.services-card_title {
    bottom: 63px;
	line-height: 1.3;
	font-weight: 700;
}

.services-card_description {
	color: $c-color4;
	.icon {
		@include font-size($f-size-md);
		color: $c-primary;
		vertical-align: text-bottom;
		padding-right: calculateRem(10px);
	}
}

.services-card_title_text,
.services-card_price {
	color: #fff;
}

.services-card_description {
	display: none;
}

.services-card_price {
	@include font-size($f-size-xxs);
	bottom: 40px;
}

.services-card_action {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: auto;
	bottom: calculateRem(-18px);
}

.services-card_action_button {
	@include btn-primary; 
	@include iconfont($icon-ic_add_black_24px);
	text-transform: none;
	min-width: auto;
	white-space: nowrap;
	&::before {
		display: none;
		padding-right: calculateRem(5px);
		vertical-align: middle;
		line-height: 0;
	}
	@media #{$until-tablet-portrait} { // <=768px
		padding-top: 6px;
		padding-bottom: 6px;
	}
}

//[RESPONSIVE]
@media #{$tablet-portrait} { // >= 768px
    .services-cards {
        margin-left: -$services-cards-gutter;
        margin-right: -$services-cards-gutter;
    }
    .services-card {
		flex-basis: calc(50% - #{$services-cards-gutter * 2});
		margin: 0 $services-cards-gutter calculateRem(83px);
		&.is-selected {
			.services-card_action_button {
				&::before {
					@include font-size($f-size-md);
					top: -3px;
				}
			}
		}
    }
	.services-card_image_container {
		order: 1;
		margin-bottom: calculateRem(28px);
		min-height: calculateRem(215px);
	}
	.services-card_icon {
		top: calculateRem($services-card-image-container / 2);
		transform: translate(-50%, -50%);
		.icon {
			@include font-size($f-iconsize-xlg);
		}
	}
	.services-card_title, 
	.services-card_price {
		position: relative;
		transform: none;
		left: auto;
		bottom: auto;
	}
	.services-card_title {
		position: relative;
		order: 2;
		margin-bottom: calculateRem(8px);
		font-weight: 400;
	}
	.services-card_title_text {
		@include font-size($f-size-xlg - 4px);
		color: $c-color4;
	}
	.services-card_description {
		display: block;
		order: 4;
		margin-top: calculateRem(22px);
		margin-bottom: calculateRem(60px);
	}
	.services-card_price {
		order: 3;
		@include font-size($f-size);
		color: $c-primary;
	}
	.services-card_action {
		order: 4;
		bottom: calculateRem(-20px);
	}
	.services-card_action_button {
		&::before {
			display: inline-block;
			padding-right: calculateRem(10px);
			@include font-size($f-size-md-lg);
		}
	}
}

@media #{$tablet-landscape} { // >= 992px
	.services-card {
		flex-basis: calc(100% / 3 - #{$services-cards-gutter * 2});
	}
}