// ****************************
//  VARIABLES
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-background-color.
//
// ****************************
//
//    + Breakpoints
//    + Media queries
//    + Grid gutter variations
//
//    + Paths
//    + Typography
//        ++ Fonts size
//    + Colors
//
//    + Layout
//        ++ Header
//        ++ Footer
//
//    + Modules
//        ++ Booking steps
//        ++ Summary (basket)
//        ++ Multipanel
//
//    + Components
//      ++ Buttons
//          +++ button primary
//          +++ button secondary
//          +++ button action
//          +++ button clear light
//          +++ button white
//      ++ Loading
//      ++ Tooltips
//      ++ Line break
//      ++ Modals
//      ++ Form elements
//          +++ checkbox
//      ++ Datepicker
//      ++ Z-index
//      ++ Boxes
//      ++ Tables
//            +++ search flight
//                fares
//                borders
//                prices
//
// ****************************************

// + Temporal forbiden icons
$icon-forbiden-dummy: '\e914';
$icon-language-circle: $icon-forbiden-dummy;
$icon-social-instagram-circle: $icon-forbiden-dummy;
$icon-arrow-double-left: $icon-forbiden-dummy;
$icon-arrow-double-right: $icon-forbiden-dummy;
$icon-seat-border: $icon-forbiden-dummy;
$icon-seat-cross: $icon-forbiden-dummy;
$icon-seat-filled: $icon-forbiden-dummy;
$icon-seat-airplane: $icon-forbiden-dummy;
$icon-info-circle: $icon-forbiden-dummy;
$icon-cross-circle: $icon-forbiden-dummy;
$icon-arrow-single-down: $icon-forbiden-dummy;
$icon-plus: $icon-forbiden-dummy;
$icon-error-circle: $icon-forbiden-dummy;
$icon-cross: $icon-forbiden-dummy;
$icon-alert: $icon-forbiden-dummy;
$icon-arrow-single-left: $icon-forbiden-dummy;
$icon-arrow-single-right: $icon-forbiden-dummy;
$icon-arrow-triangle-right: $icon-forbiden-dummy;
$icon-home: $icon-forbiden-dummy;
$icon-user: $icon-forbiden-dummy;
$icon-social-facebook: $icon-forbiden-dummy;
$icon-airplane-right: $icon-forbiden-dummy;
$icon-pin: $icon-forbiden-dummy;
$icon-calendar: $icon-forbiden-dummy;
$icon-passenger: $icon-forbiden-dummy;
$icon-clock: $icon-forbiden-dummy;
$icon-airplane-left: $icon-forbiden-dummy;
$icon-arrow-single-up: $icon-forbiden-dummy;
$icon-cart: $icon-forbiden-dummy;
$icon-arrow-triangle-down: $icon-forbiden-dummy;

// + Temporal rewrite icons

// + Container 
$container-max-width-px: 1200px;
$container-max-width: calculateRem($container-max-width-px);

// + Grid gutter variations
// -------
$gutter: 14px;
$gutter-desktop: 24px;

$gutter-sides: $gutter;

// + Gridlex
$gl-gutter: 15px; 

$gutter-sides-desktop: $gutter-desktop;

// + Breakpoints
// -------
//## mobile
$bp-mobile-small: 480px;
$bp-mobile-small-max: 479px;
$bp-mobile: 640px;
$bp-mobile-max: 639px;
$bp-mobile-min: 481px;
//## tablet
$bp-tablet-portrait: 768px;
$bp-tablet-portrait-max: 767px;
$bp-tablet-portrait-min: 641px;
$bp-tablet-landscape: 992px;
$bp-tablet-landscape-max: 991px;
$bp-tablet-landscape-min: 769px;
//## desktop
$bp-desktop: $container-max-width-px;
$bp-desktop-max: 1199px;
$bp-desktop-min: 993px;
$bp-desktop-with-gutter: $container-max-width-px + ($gutter-desktop * 2);


// + Media queries
// -------
$mobile-sm: '(min-width: #{$bp-mobile-small})';                  // >=480px
$mobile: '(min-width: #{$bp-mobile})';                           // >=640px
$tablet-portrait: '(min-width: #{$bp-tablet-portrait})';         // >=768px
$tablet-landscape: '(min-width: #{$bp-tablet-landscape})';       // >=992px
$desktop: '(min-width: #{$bp-desktop})';                         // >=1200px
$desktop-with-gutter: '(min-width: #{$bp-desktop-with-gutter})'; // >=1200px + gutter-desktop (both sides)

$until-mobile-sm: '(max-width: #{$bp-mobile-small-max})';            // <480px
$until-mobile: '(max-width: #{$bp-mobile-max})';                     // <640px
$until-tablet-portrait: '(max-width: #{$bp-tablet-portrait-max})';   // <768px
$until-tablet-landscape: '(max-width: #{$bp-tablet-landscape-max})'; // <992px

// ++ Navigation breakpoint
$header-nav-breakpoint-collapsed: $until-tablet-portrait;
$header-nav-breakpoint-not-collapsed: $tablet-portrait;


// + Paths
// -------
// paths variables goes at core/globals/_variables
$path-svg-icons: '../fonts/icons/svg/';
$path-svg-creditcard: '../imgs/payment-methods/credit-cards/';
$path-svg-card-cvv: '../imgs/payment-methods/cards-cvv/';

// + Typography
// -------
$font-name:             'Montserrat';
$font-filename:         'aller_rg-webfont';
$font-sanserif:         $font-name, 'Georgia', sans-serif;
$font-icon-name:        'evelop-icons';
// ++ Typography size
$paragraph-bottom-space: 16px; // to homogenize RTE elements

$f-body:    $font-name, sans-serif;
$f-title:   $font-name, sans-serif;
$f-icons:   $font-icon-name;
$f-button:  $f-title;


// ++ Fonts size
$f-size-xxs:   10px;
$f-size-xs:    12px;
$f-size-sm:    14px;
$f-size:       16px;
$f-size-md:    20px; // used !!
$f-size-md-lg: 24px; // used
$f-size-lg:    26px; // used !!
$f-size-xlg:   34px; // used !!
$f-size-xxlg:  40px;
$f-size-super: $f-size-xxlg;
$f-size-ultra: $f-size-xxlg;
//## icons size
$f-iconsize: 20px;
$f-iconsize-md: 36px;
$f-iconsize-lg: 48px;
$f-iconsize-xlg: 60px;
$f-iconsize-super: 70px;

//## headings
$f-size-h1:         $f-size-xlg;        // 36px
$f-size-h1-mobile:  $f-size-md;         // 22px
$f-size-h2:         $f-size-lg;         // 28px
$f-size-h2-mobile:  $f-size-md;         // 22px
$f-size-h3:         $f-size-md;         // 20px
$f-size-h3-mobile:  $f-size;            // 16px
$f-size-h4:         $f-size;            // 16px

//## price component fontsize
$price-currency-fontsize: calculateEm($f-size-md-lg);
$price-currency-fontweight: 400;
$price-price-fontsize: $price-currency-fontsize;
$price-price-fontweight: 400;
$price-decimals-fontsize: (18em / 34);
$price-decimals-fontweight: 400;
$price-from-fontsize: $price-currency-fontsize;
$price-from-fontweight: 400;

// + Colors
// -------
//## principal colours
$c-primary:         #36A18F;
$c-primary-dark:    $c-primary;
$c-secondary:       lighten($c-primary, 10%);
$c-secondary-dark:  #ef2b2d;
$c-color1:          #02a8f4;
$c-color2:          #e81d62;
$c-color3:          #8ac349;
$c-color4:          #444444; // ???
$c-color5:          #f2f2f2;
$c-fare1:           $c-primary;
$c-fare2:           $c-secondary;
$c-fare3:           $c-color1;

//## gray scale
$gray0:                       #000;
$gray30:                      #333;
$gray50:                      #555;
$gray60:                      #777;
$gray65:                      #999;
$gray70:                      #ccc;
$gray80:                      #ddd;
$gray90:                      #eee;
$gray95:                      #E2E2E2;
$gray98:                      #f7f7f7;
$gray100:                     #fff;

//## alerts
$c-info:      $c-primary;       // purple
$c-warning:   #f9a91f;        // orange
$c-error:     #c00009;        // red
$c-success:   #86bc32;        // green

//## helper colors
$c-icon-background: $c-primary;

$c-text: $c-color4;
$c-text-lighten: tint($c-text, 40%);
$c-title-h1: $c-primary;
$c-title-h2: $c-secondary;

$c-link: $c-primary;
$c-link-hover: $c-primary-dark;

$border-radius: 4px;
$border-radius-large: 28px;

$disabled-opacity: .5;


// + Layout
// -------
$body-background: $c-color5;
// ++ Header
$header-logo-width: 120px;
$header-height: 76px; // IBE header
$header-fontsize: $f-size-sm; // 16px
$header-background: #fff;
$header-links-color: $c-primary;
$header-links-icon-size: 22px;
// +++ corporative header
$main-header-height: 110px;
$main-header-nav-secondary-height: 44px;
$main-header-fixed-height-onscroll: 54px;
// $main-header-fixed-height-onscroll: 54px + $main-header-nav-secondary-height;
$main-header-mobile-height: 50px;
$header-transitions: all .25s ease;
$main-header-banner-max-width: 1500px;

// ++ Footer
$footer-logo-width: 145px;
$footer-fontsize: $f-size-sm; // 14px
$footer-color: #fff;
$footer-background: $c-primary-dark;
$mainfooter-background: #fff;
$mainfooter-color: $c-text;

$content-margin-top: 44px;

// ++ Search
$combinedbar-height: 65px;
$search-fixed-animation: .4s forwards;
$search-background: $c-primary;

// + Summary
$summary-collapsed: '(max-width: 767px)'; // <768px
$summary-not-collapsed: '(min-width: 768px)'; // >=768px

$summary-opened-width: 640px;
$summary-slideup-anima: .2s ease-in-out;
$summary-background: $c-secondary;
$summary-header-title-color: #fff;
$summary-header-title-fontsize: $f-size;
$summary-header-title-background: $c-secondary;
$summary-total-background: tint($summary-background, 17%);
$summary-lines-color: $c-secondary;
$summary-more-background: $gray95;
$summary-discount-color: $c-secondary;
$summary-pad: 34px;
$summary-body-background: #fff;
$summary-lr-pad: 3%;
$summary-lr-pad-sm: 2%;
$summary-lr-pad-oneway: 14%;
$summary-lr-pad-oneway-sm: 6%;
$summary-lr-pad-noextras: 14%;
$summary-lr-pad-noextras-sm: 7%;
$summary-lr-pad-oneway-noextras: 28%;
$summary-lr-pad-oneway-noextras-sm: 22%;

// + Payment summary
$payment-summary-width: 264px;
$payment-summary-width-margin: 34px;
$payment-summary-aside-div-width: calc(100% - (#{$payment-summary-width} + #{$payment-summary-width-margin}));

// + UI-ELEMENTS
// -------
$accessibility-outline-color: $c-secondary;

// + BUTTONS
// -------
//## Variables at ui-elements/buttons/_buttons-vars.scss

// + FORM CONTROLS
// -------
//## Variables at ui-elements/forms/_form-elements-vars.scss
@import 'ui-elements/forms/form-elements-vars';


// +++ Numeric up and down
$numeric-updown-fontsize: 20px;
$num-updown-button-color: #fff;
$num-updown-input-bg: #fff;
$num-updown-button-background: $c-primary;
//## hover
$num-updown-button-color-hover: $num-updown-button-color;
$num-updown-button-background-hover: darken($c-primary,14);
//## disabled
$num-updown-button-color-disabled: tint($gray60,46%);
$num-updown-button-background-disabled: tint($gray60,76%);


// ++ Custom scroll
$custom-scroll-bar-background: $c-primary;
$custom-scroll-borderadius: 20px;
$custom-scroll-background: transparent;
$custom-scroll-lighten-bar-background: #ddd;

// ++ Loading
$overlay-background: rgba($c-primary-dark,.8);

// ++ Tooltips
$tooltip-color: $c-primary;
$tooltip-fontsize: $f-size-xs;
$tooltip-bg: $c-color4;
$tooltip-border: $c-primary;
$tooltip-border-radius: $border-radius;
$tooltip-min-width: 100px;
$tooltip-max-width: 280px;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 12px;
$tooltip-arrow-width: 14px;
$tooltip-arrow-height: 8px;
$tooltip-arrow-color: $tooltip-border;
$tooltip-margin: 0;

// ++ Popover
$popover-fontsize:              $f-size-sm;
$popover-bg:                    $tooltip-bg;
$popover-header-bg:             darken($popover-bg, 3%) !default;
$popover-max-width:             $tooltip-max-width;
$popover-min-width:             $tooltip-min-width;
$popover-border-radius:         $tooltip-border-radius;
$popover-border-width:          1px;
$popover-border-color:          $tooltip-border;
$popover-arrow-width:           $tooltip-arrow-width;
$popover-arrow-height:          $tooltip-arrow-height;
$popover-arrow-outer-color:     $tooltip-border;
$popover-arrow-color:           $popover-bg;


// ++ Line break
$c-border: $gray95;

// ++ Modals
$modal-inner-border: $c-border;

// ++ Z-index
$alert-zindex:                  1070;
$summary-fixed-zindex:          1066;
$modal-zindex:                  1065;
$mobile-modal-zindex:           1065;
$overlay-zindex:                1065;
$header-fixed-zindex:           1064;
$header-sticky-zindex:          1064;
// $mobile-modal-zindex:           1062;
$button-scrolltop-zindex:       1061;
$modal-overlay-zindex:          1050;
$alert-fixed-zindex:            1050;
$searchflight-modal-active:     1040;
$tooltip-zindex:                1030;
$summary-header-zindex:         1025;
$summary-fixed-button-zindex:   1020;
$search-fixed-zindex:           1015;
$popover-zindex:                1010;
$dropdown-zindex:               1010;

$weekslider-nav-zindex:            3;
$weekslider-zindex:                2;

// ++ Boxes
$box-pad: 24px;
$box-border: $c-border;
$box-background: #fff;
$box-light-background: $gray95;

$box-color-color: $c-primary;
$box-color-background: $c-secondary;

$box-color-darken-color: #fff;
$box-color-darken-background: $c-primary;

//  +++ box table
$boxtable-color: $c-primary;
$boxtable-header-background: $gray60;
$boxtable-body-background: $c-color4;

$flightselect-height: 220px;

// ++ Tables
// +++ search flight (sf)
// header : return and outbound label + route
//$sf-header-title-fontsize: $f-size-lg;
//$sf-header-label-fontsize: $sf-header-title-fontsize;

$sf-main-text-color: $c-text;
$sf-border-width: 3px;

// col flight info
$sf-colflight-background: $c-color4;
$sf-tablecell-background: #fff;

// fares
$fare-quantity: 3;
$fare-iconsize: 2.2em; // controll all fare icon size
$fare1-color: $c-primary;
$fare1-icon-color:  $c-fare1;
$fare1-icon: url(../fonts/icons/svg/fare-1.svg);
$fare1-background: transparent;

$fare2-color: $c-primary;
$fare2-icon-color: $c-fare2;
$fare2-icon: url(../fonts/icons/svg/fare-2.svg);
$fare2-background: transparent;

$fare3-icon-color: $c-fare3;
$fare3-color: $c-primary;
$fare3-icon: url(../fonts/icons/svg/fare-3.svg);
$fare3-background: transparent;
        

// borders
$sf-border-color: shade($sf-colflight-background, 8%);

// prices
$sf-price-fontsize: $f-size-lg;
$sf-price-selected-color: $c-primary;


// COMPONENTS
// + Multipanel
$multipanel-datepicker-width: 358px;
$multipanel-datepicker-height: 386px;
$multipanel-width: 536px;
$multipanel-carousel-width: ($multipanel-width + $multipanel-datepicker-width + 10);

// Carousels
$carousel-captions-background: rgba(#011d3e,.87);
$blur: 2px;
$margin-default: 24px;

// -------
// + Modules
// -------

// ++ Off-canvas
$offcanvas-trigger-width: 46px;


// ++ Booking steps
$steps-color-active: $c-primary;
$steps-color-done: $c-color1;
$steps-color-disabled: #a3a3a3;

// ++ Basket
$c-basket-total-background: $gray60;

// ++ Multipanel
$multipanel-breakpoint: 640px;
$multipanel-breakpoint-next: ($multipanel-breakpoint + 1);
$multipanel-breakpoint-min: ($multipanel-breakpoint - 1);
$multipanel-inner-pad: 42px;
$multipanel-inner-pad-bottom: 58px;

// ++ Gloal Variables
$check-in-summary-horizontal-padding: 14px; //## change check-in-summary and checkboxes padding


// + Social media
// -------
$c-facebook:        #3b5998;
$c-youtube:         #f00;
$c-wechat:          #7bb32e;
$c-weibo:           #e21428;
$c-instagram:       #7e399d;
$c-socialline:      #18b006;
$c-instagram:       $c-primary;
$c-weibo:           #000;
$c-twitter:         #1da1f3;

// + Box shadows
$bs-default: 0 3px 6px rgba(#000,.12);
$bs-section-top: inset 0 3px 6px rgba(#000,.12);

$bs-hover-box: 0 0 12px rgba(#000, .2);
$bs-header-submenu: 0 0 6px 0 rgba(#000,.4);

// + Mobile Modal
$mobile-modal-header_height: 45px;

// + Transitions
// -------
$t-caret-collapse: .18s ease; // to collapse item icon indicatorease; // to collapse item icon indicator
$t-hover-element: .15s ease-out;
$mobile-modal_transition: top .2s ease-in-out;
$card-transition: all .1s ease-in-out;

// + Arrow Sufix
// -------
$arrow-sufix-color: $c-primary;
$arrow-sufix-top-space: 8px;
$arrow-sufix-padding-rignt: 11px;
