// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  FORM ELEMENTS VARIABLES
// ****************************************
//
//  + Label
//  + Input
//  + Multiline input
//  + Dropdown (select)
//  + Validation
//  + Checkbox
//
// ****************************************

// Form inputs gutter
$form-horizontal-gutter: 20px; // mobile <= 992px
$form-horizontal-gutter-desktop: 30px;
$form-vertical-gutter: 34px;

// -------
// + LABEL
$label-family: $f-title;
$label-fontsize: $f-size;
$label-color: $c-color2;
//## label info
$label-info-icon: $icon-info-circle;
$label-info-fontsize: $f-size-sm;
$label-info-color: $c-text;

// -------
// + INPUT
//## height and spaces
$input-container-height: 50px;
$input-height: 50px;
$input-margin-bottom: 20px;
$input-tb-pad: 6px;  // top bottom
$input-lr-pad: 14px; // left right
$ui-input-icon-left-space: 34px;
$input-transition: ease-out .2s !default;
//## typography
$input-fontfamily: $font-sanserif;
$input-fontsize: $f-size;
//## color
$input-color: $c-text;
$input-icon-color: $c-primary;
//## icon
$input-icon-color: $c-primary;
$input-icon-fontsize: 16px;
$input-icon-position-top: calculateRem(24px);
$input-icon-position-left: calculateRem(7px);
//## borders
$input-border-color: $c-color2;
$input-border-width: 1px;
$input-border-bottom-color: $input-border-color;
$input-background: #fff;
$input-border-radius: $border-radius;
//## placeholder
$input-color-placeholder: $input-color;
//## hover
$input-border-color-hover: shade($input-border-color, 56%);
$input-background-hover: $input-background;
//## focus
$input-color-label-focus: $label-color;
$input-color-focus: $input-color;
$input-border-color-focus: $c-secondary;
$input-shadow-focus: inset 0 0 0 1px $c-secondary, 0 0 6px rgba(#000,.3);
//## disabled
$input-opacity-disabled: .6;
$input-color-disabled: $input-color-placeholder;
$input-border-color-disabled: $input-border-color;
$input-background-disabled: $input-background;
//## readonly
$input-color-label-readonly: $label-color;
$input-color-readonly: $c-color3;
$input-border-color-readonly: $input-border-color;
$input-border-color-readonly-hover: $input-border-color-readonly;
//## has-error
$input-error-color: $c-error;
$input-error-border: $c-error;
$input-error-icon: $icon-cross-circle;
$input-error-boxshadow: 0 1px 0 0 $c-error;
//## has value
$input-color-hasvalue: $c-color3;
$input-font-weight-hasvalue: 400;
$input-border-color-hasvalue: $input-border-color;
$input-icon-color-hasvalue: $c-primary;
$input-color-label-hasvalue: $label-color;

// -------
// + FORM CONTROL INVERSE STYLE
//## label inverse style
$label-inverse-color: #fff;
$label-inverse-hover-color: #fff;
// ## input inverse style
$input-inverse-color: #fff;
$input-inverse-background: transparent;

// -------
// + FORM CONTROL MOVEUP LABEL
$label-moveup-input-padding-top: 0;
$label-moveup-frame2-fontsize: 12px;
$label-moveup-frame1-position-left: calculateRem($input-lr-pad);
$label-moveup-frame1-position-top: calculateRem(14px);
$label-moveup-frame2-position-left: calculateRem($input-lr-pad);
$label-moveup-frame2-position-top: calculateRem(5px);
$label-moveup-transition: ease-out .2s;

// -------
// + MULTILINE INPUT
$input-multiline-height: 66px;
$input-multiline-valuelarge-fontsize: 20px;
$input-multiline-valuelarge-fontweight: 400;
$input-multiline-valuesmall-fontsize: 20px;
$input-multiline-valuesmall-fontweight: 600;
$input-multiple-separator-color: $c-primary-dark;


// + DROPDOWN (SELECT)
// ------
//## arrow
$dropdown-arrow-icon: $icon-arrow-single-down;
$dropdown-arrow-color: $c-primary;
$dropdown-arrow-fontsize: 10px;
$dropdown-arrow-position-right: 8px;
$dropdown-arrow-padding: 12;
//## items
$dropdown-item-color: $c-text !default;
$dropdown-item-margin: 4px 0 0 !default;
$dropdown-item-padding: 5px 0 !default;
$dropdown-item-background: #fff !default;
$dropdown-item-color-hover: $dropdown-item-color !default;
$dropdown-item-background-hover: #fff !default;
$dropdown-arrow-color-disabled: $gray60 !default;
//# list
$dropdown-maxheight: 150px !default; //## 5 itens visible
$dropdown-minwidth: 160px !default;
$dropdown-border-width: 1px !default;
$dropdown-border-style: solid;
$dropdown-border-color: $input-border-color !default;
$dropdown-background: $input-background !default;

// -------
// + VALIDATION
$ui-input-message-fontsize: $f-size-xs;

// -------
// + CHECKBOX
$checkbox-size: 18px;
$checkbox-border: $input-border-color;
$checkbox-radius: 2px;
$checkbox-background: #fff;
$checkbox-checkicon: $icon-check;
$checkbox-checkicon-size: 14px;
$ui-checkbox-fontsize: 14px;
$ui-checkbox-label-color: $c-text;
$checkbox-checked-bordersize: 4px;
$checkbox-checked-bordercolor: #fff;
$checkbox-inline-margin: 30px;
$checkbox-border-radius: $border-radius;
//## ripple effect
$checkbox-ripple-scale: 3.5;
$checkbox-ripple-mid-scale: $checkbox-ripple-scale - 1.5;
$checkbox-ripple-background: rgba($c-primary-dark, .2);
//## hover
$checkbox-bordercolor-hover: $input-border-color-hover;
//## checked
$checkbox-checked-size: ($checkbox-size - 6);
$checkbox-checked-color: $c-primary;
$checkbox-checked-background: $c-secondary;
$checkbox-checked-bordercolor: $c-primary;
$checkbox-checked-borderspace: 4px;
$checkbox-checked-borderspace-color: #fff;

$checkbox-size-strip: strip-unit($checkbox-size);
$checkbox-checked-borderspace-strip: strip-unit($checkbox-checked-borderspace);