<div class="info-item{% if infoItem.isHorizontalAlign %} horizontal-align{% endif %}">
    {% if infoItem.title %}
        <h2>{{ infoItem.title }}</h2>
    {% endif %}
    {% for value in infoItem.values %}
        <div class="info-item_data{% if infoItem.hasSmallValues %}-small{% endif %}">
            {% if value.label %}
                <h3>{{ value.label }}</h3>
            {% endif %}
            {% if value.text %}
                <p class="info-item_data-value{% if value.hasBigText %} big-text{% endif %}">{{ value.text }}</p>
            {% endif %}
            {% if value.smallText %}
                <p class="small-text">{{ value.smallText }}</p>
            {% endif %}
            {% if value.icon %}
                <div class="info-item_icon">
                    {% set image = {
                        name: value.icon
                    } %}
                    {% include './image.njk' %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>