// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//
//    + Search flight
//        ++ Grid
//        ++ Typology
//        ++ Promocode
//        ++ Action button
//         [Responsive]
//
//    + Search flight typeahead
//
// ****************************************

.searchflight {
	.route,
	.dates {
		@include formcontrol-inverse-style;
	}
}

// INTERACTION - HIGHLIGHT ON FOCUS
// this variable work together with project-scripts.js function `searchInteraction(true)`
@include search-highlight-onfocus(true);

// SEARCH GRID
$searchgrid-template: 'flightsearch-tpl1';

// OPTIONS - INDICATOR
$searchgrid-options-indicator: 'arrow-up';
$searchgrid-options-position-top: 16px;
// OPTIONS - CLOSE BUTTON
$options-has-closebutton: true;
$options-has-closebutton-desktop: false;


// OPTION LAYOUT
$searchgrid-options-position: 'absolute';
$searchgrid-options-fullwidth: false;

// OPTION LAYOUT BY COMPONENT
//## elements positions and width
//## ROUTE
$searchgrid-route-options-template: 'search-collapsable';
$searchgrid-route-options-position: 'relative-left';
$searchgrid-route-options-width: calculateRem(880px);

//## DATES
$searchgrid-dates-options-template: 'search-collapsable';
$searchgrid-dates-options-position: null;
$searchgrid-dates-options-width: auto;

//## TYPOLOGY
$searchgrid-typology-options-template: 'search-collapsable';
$searchgrid-typology-options-position: 'relative-right';
$searchgrid-typology-options-width: calculateRem(420px);
//## typology: styles
$searchgrid-typology-layout: null;
$searchgrid-typology-separator: 'border-bottom';
$searchgrid-typology-label: null;

//## CURRENCY
$searchgrid-currency-show: false;
$searchgrid-currency-options-template: 'dropdown';
$searchgrid-currency-options-position: 'relative-right';
$searchgrid-currency-options-width: auto;

//## TRIP TYPE
$searchgrid-triptype-position: 'within-calendar';


// FLIGHT SEARCH GRID
//## do not change this variables below, editable variables are above
@include flight-search-grid(
	$template: $searchgrid-template,
	$currency: $searchgrid-currency-show,
	$options-indicator: $searchgrid-options-indicator,
	$options-position-top: $searchgrid-options-position-top
);

// OPTIONS LAYOUT
@include flight-search-options-layout(
	$position: $searchgrid-options-position,
	$fullwidth: $searchgrid-options-fullwidth
);

// OPTION LAYOUT BY COMPONENT
//## settings for each search component
@include flight-search-options-bycomponent(
	$element: 'route',
	$template: $searchgrid-route-options-template,
	$label: 'hidden',
	$position: $searchgrid-route-options-position,
	$maxwidth: $searchgrid-route-options-width,
	$caption-hidden: true,
	$caption-hidden-responsive: false,
	$caption-icon: false
);
@include flight-search-layout-route(
	$orderby: 'city',
	$code-position: 'left'
);

@include flight-search-options-bycomponent(
	$element: 'dates',
	$template: $searchgrid-dates-options-template,
	$label: 'hidden',
	$position: $searchgrid-dates-options-position,
	$maxwidth: $searchgrid-dates-options-width,
	$caption-hidden: false,
	$caption-hidden-responsive: false,
	$caption-icon: $icon-airplane-right
);
@include flight-search-layout-date();

@include flight-search-options-bycomponent(
	$element: 'typology',
	$template: $searchgrid-typology-options-template,
	$label: 'hidden',
	$position: $searchgrid-typology-options-position,
	$maxwidth: $searchgrid-typology-options-width,
	$caption-hidden: true,
	$caption-hidden-responsive: false,
	$caption-icon: false
);
@include flight-search-layout-typology(
	$layout: $searchgrid-typology-layout,
	$item-separator: $searchgrid-typology-separator,
	$label: $searchgrid-typology-label
);

// ## currency
@if $searchgrid-currency-show {
	@include flight-search-options-bycomponent(
		$element: 'currency',
		$template: $searchgrid-currency-options-template,  // do not change this, editable variables above
		$label: 'hidden',
		$position: $searchgrid-currency-options-position,  // do not change this, editable variables above
		$maxwidth: $searchgrid-currency-options-width,  // do not change this, editable variables above
		$caption-hidden: true,
		$caption-hidden-responsive: false,
		$caption-icon: false
	);
}