// ********************
//  COMPONENTS
//
// ********************
//  INTERACTIVE MAP
// ****************************************
//
//  + Variables
//  + Interacive map search
//  + Interacive map globe
//  + Interacive map results
//  + Interacive map action
//
// ****************************************

// + Variables
// -------
$interactive-map-search-height: calculateRem(240px);
$interactive-map-search-column-desktop-width: 380px;

$interactive-map-search-background: $c-secondary !default;
$interactive-map-globe-background: $c-color1 !default;

// .interactive-map {}

// + Interacive map search
// -------
.interactive-map_search {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $interactive-map-search-height;
	color: #fff;
	text-align: center;
	background-color: $interactive-map-search-background;
}

// + Interacive-map globe
// -------
.interactive-map_globe {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $interactive-map-search-height;
	color: #fff;
	text-align: center;
	background-color: $interactive-map-globe-background;
}

// + Interacive-map results
// -------
.interactive-map_results {
	overflow-y: auto;
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
	.interactive-map {
		position: relative;
		display: grid;
		grid-template-rows: calculateRem(340px) calculateRem(460px);
		grid-template-columns: $interactive-map-search-column-desktop-width 1fr;
	}
	.interactive-map_search {
		grid-row: 1;
		grid-column: 1;
		height: auto;
	}
	.interactive-map_globe {
		grid-row: 1 / span 2;
		grid-column: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		text-align: center;
		color: #fff;
		background-color: $c-color1;
	}
	.interactive-map_results {
		grid-row: 2;
		grid-column: 1;
		padding: 2px 0 0;
	}
	.interactive-map_action {
		z-index: 1;
		position: absolute;
		right: 2rem;
		bottom: 2rem;
		width: 320px;
		background-color: #fff;
	}
}
