// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  DATEPICKER
// ****************************************

@import 'ng-datepicker-vars'; 

.datepicker {
	display: block !important;
	clear: both;
	border-radius: 0 !important;
	border: none !important;
	&:focus { 
		outline: none;
	}
}
.ngb-dp-navigation-select {
	display: none !important;
}
.ngb-dp-months {
	display: block;
	margin-top: -30px;
}
.ngb-dp-month {
	flex: 1 1 45%;
	&:first-child {
		margin-right: calculateRem(20px);
	}
	&:last-child {
		margin-left: calculateRem(20px);
	}
	//## weeks
	.ngb-dp-week {
		padding: 0 !important;
	}
}

// + Month (header)
// -------
.ngb-dp-month-name {
	font-size: calculateRem($calendar-month-fontsize) !important;
	font-family: $calendar-month-fontfamily;
	color: $calendar-month-color;
	font-weight: $calendar-month-fontweight;
	margin: $calendar-month-margin;
	@if $calendar-month-uppercase {
		text-transform: uppercase;
	}
}

// + Navigation (arrows)
// -------
.ngb-dp-navigation-chevron {
	@include iconfont($calendar-prev-icon,before,$calendar-prevnext-color);
	border: 0 !important;
	transform: none !important;
	&::before {
		position: relative;
		top: calculateRem(2px);
		display: inline-block;
		width: auto;
		height: auto;
		font-size: calculateRem($calendar-prevnext-fontsize) !important;
		font-weight: normal;
		border: none !important;
	}
}
.ngb-dp-arrow {
	&.right {
		padding: 0 !important;
		.ngb-dp-navigation-chevron::before {
			content: $calendar-next-icon;
		}
	}
}
.ngb-dp-arrow-btn {
	cursor: pointer;
	padding: 0 !important;
	&[disabled] .ngb-dp-navigation-chevron::before {
		opacity: $calendar-prevnext-opacity-disabled;
		color: $calendar-prevnext-color-disabled;
		cursor: default;
	}
}

// + Days and weeks
// -------
.ngb-dp-day,
.ngb-dp-weekday,
.ngb-dp-week-number {
	width: calc(100% / 7) !important;
	height: calculateRem(35px) !important;
	font-size: calculateRem(16px);
	margin: 2px 0;
	user-select: none;
}
//## days
.custom-day {
	@include font-size($calendar-days-fontsize);
	z-index: 1; // necessary to before selected indicator
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	color: $calendar-days-color;
	line-height: $calendar-days-lineheight;
	font-weight: $calendar-days-font-weight;
	//## day background
	@if $calendar-dar-selected-style == 'circle' {
		&::before { //## selected day circle
			z-index: -1;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: $calendar-day-selected-background-width;
			height: $calendar-day-selected-background-height;
			transform: translate(-50%, -50%);
			background-color: transparent;
			border-radius: 50%;
		}
	}
	@else if $calendar-dar-selected-style == 'tag' {
		span {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: $calendar-day-selected-background-width;
			height: $calendar-day-selected-background-height;
			border-radius: 2px;
			background-color: transparent;
			transform: translate(-50%, -50%);
		}
	}

	//##available
	&.available {
		color: $calendar-day-available-color;
		font-weight: $calendar-day-available-fontweight;
		cursor: pointer;

		//## available day hover
		&:hover,
		&.focused {
			color: $calendar-day-available-color-hover;

			&::before {
				background-color: $calendar-day-available-background-hover;
			}
		}
	}

	//##faded (in a range of departure and arrival selections)
	&.faded,
	&.range {
		width: 100%;
		color: $calendar-range-color;
		background-color: $calendar-range-background;
		border-radius: 0;

		&.available {
			&:hover {
				color: $calendar-day-available-color;
			}
		}
	}
	
	//## selected day arrival and departure
	&.departure,
	&.arrival {
		color: $calendar-day-selected-color;
		@if $calendar-dar-selected-style == 'circle' {
			&::before { //## selected background
				background-color: $calendar-day-selected-background;
			}
			&.range {
				background-color: transparent;
			}
		}
		@else if $calendar-dar-selected-style == 'tag' {
			span { //## rectangle
				background-color: $calendar-day-selected-background;
				&::after {
					//## arrow
					position: absolute;
					top: 50%;
					content: '';
					transform: translateY(-50%);
				}
			}
		}
		&::after { //## range background
			z-index: -2;
			content: '';
			position: absolute;
			top: 0; /* Safari Support */
			width: 50%;
			height: 100%;
			background-color: $calendar-range-background;
		}
	}
	&.departure {
		@if $calendar-dar-selected-style == 'tag' {
			span::after { //## arrow right
				@include triangle('right', $calendar-day-selected-tag-pointer-width, $calendar-day-selected-background-height, $c-color1);
				right: -($calendar-day-selected-tag-pointer-width - 1);
			}
		}
		&::after { //## range background
			right: 0;
		}
	}
	&.arrival {
		@if $calendar-dar-selected-style == 'tag' {
			span::after { //## arrow left
				@include triangle('left', $calendar-day-selected-tag-pointer-width, $calendar-day-selected-background-height, $c-color1);
				left: -($calendar-day-selected-tag-pointer-width - 1);
			}
		}
		&::after { //## range background
			left: 0;
		}
	}

	//## current day
	&.current {
		position: relative;
		font-weight: $calendar-day-current-fontweight;
		&::before {
			width: $calendar-day-current-background-width;
			height: $calendar-day-current-background-height;
			background-color: $calendar-day-current-background;
			@if $calendar-day-current-border-width != '0' {
				border-width: $calendar-day-current-border-width;
				border-style: $calendar-day-current-border-style;
				border-color: $calendar-day-current-border-color;
			}
			@if $calendar-dar-current-style == 'circle' {
				border-radius: 50%;
			}
		}
	}
}
//## disabled or not available dates
.ngb-dp-day {
	&.disabled {
		.custom-day {
			color: $calendar-days-color-disabled;
			// cursor: default;
			&::before {
				content: none;
			}
			&:hover {
				color: $calendar-days-color-disabled;
				background: none;
			}
		}
	}
}
//## week
.ngb-dp-weekday {
	@include font-size($calendar-week-fontsize);
	height: auto !important;
	padding: $calendar-week-margin;
	color: $calendar-week-color !important;
	line-height: 1.1 !important;
	font-style: normal !important;
	font-weight: $calendar-week-fontweight;
	@if $calendar-week-uppercase {
		text-transform: uppercase;
	}
}

ngb-datepicker-navigation {
	display: inline-block;
	border: 0;
	border-radius: 0 !important;
}
.ngb-dp-months {
	justify-content: space-between;
}

//## weeks
.ngb-dp-weekdays {
	margin-bottom: 2px;
	border-width: $calendar-week-bar-border-width !important;
	border-style: $calendar-week-bar-border-style !important;
	border-color: $calendar-week-bar-border-color !important;
	background-color: $calendar-week-bar-background;
	border-radius: $calendar-week-bar-border-radius !important;
}

// [Responsive]
@media #{$desktop} { // >=1200px
	.ngb-dp-month:first-child {
		margin-right: calculateRem(35px);
	}
	.ngb-dp-month:last-child {
		margin-left: calculateRem(35px);
	}
}
@media (max-width: 700px) { // <=700px
	.ngb-dp-month {
		flex: none;
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
	.ngb-dp-month:last-child {
		display: none;
	}
}