//## month (header)
$calendar-month-fontfamily: $f-body !default;
$calendar-month-color: $c-primary !default;
$calendar-month-fontweight: 700 !default;
$calendar-month-uppercase: true !default;
$calendar-month-fontsize: 22px !default;
$calendar-month-margin: 0 0 calculateRem(12px) !default;

//## navigation (arrows)
$calendar-prev-icon: left-arrow-icon !default;
$calendar-next-icon: right-arrow-icon !default;
$calendar-prevnext-color: $c-secondary !default;
$calendar-prevnext-fontsize: 16px !default;
//## disabled
$calendar-prevnext-opacity-disabled: .3 !default;
$calendar-prevnext-color-disabled: rgba($c-secondary, .3) !default;

//## days
$calendar-days-fontsize: 18px !default;
$calendar-days-lineheight: 1 !default;
$calendar-days-color: $c-primary !default;
$calendar-days-font-weight: 700 !default;
$calendar-days-margin: calculateRem(6px) 0 !default;
//## availabel days
$calendar-day-available-color: $c-primary !default;
$calendar-day-available-fontweight: 700 !default;
$calendar-day-available-background: $c-secondary !default;
//## hover
$calendar-day-available-color-hover: #fff !default;
$calendar-day-available-background-hover: $c-secondary !default;
//## disabled days
$calendar-days-color-disabled: rgba($calendar-days-color,.4) !default;
//## selected
$calendar-dar-selected-style: 'circle' !default;
$calendar-day-selected-color: #fff !default;
$calendar-day-selected-background: $c-secondary !default;
$calendar-day-selected-background-width: 33px !default;
$calendar-day-selected-background-height: 33px !default;
$calendar-day-selected-tag-pointer-width: 10px !default;
//## range styles
$calendar-range-color: $calendar-days-color !default;
$calendar-range-background: $c-color3 !default;

//## current
$calendar-dar-current-style: 'circle' !default;
$calendar-day-current-fontweight: 700 !default;
$calendar-day-current-border-width: 0 !default;
$calendar-day-current-border-style: solid !default;
$calendar-day-current-border-color: $c-secondary !default;
$calendar-day-current-background: transparent !default;
$calendar-day-current-background-width: 33px !default;
$calendar-day-current-background-height: 33px !default;


//## weeks
$calendar-week-bar-border-width: 1px 0 !default;
$calendar-week-bar-border-style: solid !default;
$calendar-week-bar-border-color: $c-secondary !default;
$calendar-week-bar-background: transparent !default;
$calendar-week-bar-border-radius: 0 !default;
$calendar-week-padding: calculateRem(6px) 0 !default;
$calendar-week-fontsize: 16px !default;
$calendar-week-uppercase: true !default;
$calendar-week-color: $c-primary !default;
$calendar-week-fontweight: 600 !default;
$calendar-week-margin: calculateRem(4px) 0 !default;