code.html {
    max-height: 520px;
    font-family: monospace;
    font-size: 14px;
    padding: 32px 32px 0px;
    strong {
        color: blue;
        .hljs-type, .hljs-string, .hljs-number,
        .hljs-selector-id, .hljs-selector-class,
        .hljs-quote, .hljs-template-tag, .hljs-deletion,
        .hljs-comment {
            color: blue;
        }
    }
    strong {
        .hljs-comment {
            font-weight: normal;
        }
    }
}

.field-demo-row {
    margin-bottom: 34px;
    .title {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 24px;
        padding: 24px 40px 0;
        border-top: 1px solid #999;
    }
}

.field-demo-section {
    &.buttons {
        div {
            margin: 7px 0;
        }
    }
}

.component-demo-section {
    position: relative;
    margin: 0 40px;
    @media (max-width: 640px) {
        margin: 0 20px;
    }
}


//## header
.nsux_header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    .logo {
        max-width: 200px;
        img { width: 100%; }
    }
}
.demo_page_title {
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
    }
}
.nsux_list_item_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.nsux_list_links {
    li {
        margin: 7px 0;
    }
    .disabled {
        display: none;
    }
}


//## nav
.nsux_nav_trigger { 
    position: absolute;
    right: 1px;
    top: 0;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    padding: 7px;
    transform: translateX(100%);
    cursor: pointer;
    &:before {
        content: '→';
    }
    .opened-menu & {
        &:before { content: '←'; }
    }
}
.nsux_nav {
    z-index: 9999999;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 15px;
    width: 240px;
    transform: translateX(-100%);
    transition: all 0.1s ease-in;
    .opened-menu & {
        transform: translateX(0);
    }
    .nsux_index & {
        display: none;
    }
    ul {
        padding-right: 18px;
    }
    li {
        margin: 2px 0;
        padding: 2px 0;
        border-bottom: 1px solid rgba(#fff,.2);
        a {
            position: relative;
            display: block;
            cursor: pointer;
            padding: 7px;
            &[data-toggle="collapse"] {
                &:after {
                    content: '+';
                    position: absolute;
                    right: 0;
                    top: 9px;
                }
                &[aria-expanded="true"] {
                    &:after {
                        content: '-';
                    }
                }
            }
        }
        ul {
            margin-left: 24px;
            margin-top: 18px;
            &:first-of-type {
                margin-top: 0;
            }
        }
        li {
            position: relative;
            padding: 2px 14px;
            font-weight: 400;
            border: none;
            &:last-child {
                margin-bottom: 8px;
            }
            &::before {
                position: absolute;
                left: 0;
                top: 13px;
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #fff;
            }
            &.subtitle {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                list-style-type: none;
                &::before { display: none; }
            }
            a {
                display: inline-block;
                padding: 4px 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &.disabled { display: none; }
    }
}
.nsux_nav_inner {
    padding: 14px;
    padding-right: 0;
    max-height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: 14px;
        height: 14px;
    }
    &::-webkit-scrollbar-thumb {
        height: 40px;
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 20px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}
.nsux_nav_title {
    color: #fff;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 34px;
    background: rgba(0,0,0,.17);
    padding: 10px 6px;
    text-transform: uppercase;
    border-radius: 4px;
    &:first-of-type { margin: 0; }
}


.nav-anchor {
    padding: 14px 40px;
    margin-top: -30px;
    margin-bottom: 24px;
    li {
        display: inline-block;
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #bbb;
        &:last-child {
            border: none;
            padding-right: 0;
            margin-right: 0;
        }
    }
}


//## index page
.nsux_index {
    background: #fff;
}
.nsux_list_item_title {
    color: #333;
}
.nsux_list_links { 
    li a {
        display: inline-block;
        color: blue;
        text-decoration: none;
        line-height: 1.2;
    }
}
.nsux_nav_trigger {
    color: #fff;
    background: red;
}
.nsux_nav {
    background: red;
    li {
        color: #fff;
        a,
        a:hover,a:focus {
            color: #fff;
            text-decoration: none;
        }
    }
}

.field-demo-section-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -10px;
    .button {
        margin: 0 15px 10px;
    }
}

.component-demo-container.medium {
    margin-bottom: 54px;
    @media (min-width: 1200px) {
        .component-demo-section {
            float: left;
            width: calc(54% - 80px);
        }
        .field-code-section {
            float: right;
            width: 46%;
            margin-left: 0;
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
    }
}

.grid-separator {
    margin-top: 34px;
    padding-top: 24px;
    border-top: 1px solid #ccc;
}


/* gridlex material design */
.demo {
    width: 100%;
    background: #ddd;
    text-align: center;
    // modifiers
    &.primary {
        color: #fff;
        background-color: #333;
    }
    &.secondary {
        color: #fff;
        background-color: #666;
    }
}
.demo p {
    margin: 0;
    padding: 1rem;
}
@media screen and (max-width: 35.5em) {
    .demo p {
        padding: .5rem;
    }
}


.md-color_square_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.md-color_square_item {
    flex: 1 1 20%;
    margin: 24px 0;
    text-align: center;
}
.md-color_square_label {
    text-align: center;
    margin-top: 7px;
}
.md-color_square {
    display: inline-block;
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}