{% set combinedInputs = searchFlight.routes.journeys %}
<div class="dates">
    <ibe-calendar>
        {# DATES INPUTS #}
        {% set combinedInputs = searchFlight.dates.journeys %}
        {% include "partials/ui-elements/_from-to_combined.njk" %}

        {# DATES CALENDARS #}
        {% set searchCalendars = searchFlight.dates %}
        {% include "partials/components/IBE/flight-search/dates/_flight-search_calendar.njk" %}
    </ibe-calendar>
</div>