{% for combinedSearchCalendar in searchCalendars.journeys %}
<div class="search_tt collapse" id="{{combinedSearchCalendar.inputForm.idCollapse}}">
    <div class="search_tt_inner">
        {# TRIP TYPE #}
        {% if searchFlight.triptype.position == 'within-calendar' %}
            {% include "partials/components/IBE/flight-search/triptype/_triptype_selection.njk" %}
        {% endif %}

        {# SELECTIONS TITLE #}
        {% if combinedSearchCalendar.caption | length %}
        <div class="search_tt_title">
            {{ combinedSearchCalendar.caption | default('Choose your departure date') | safe }}
        </div>
        {% endif %}

        {# CALENDAR SWITCH - for calendar types #}
        {% if searchFlight.dates.calendarSwitch %}
        <div class="calendar_switch_container">
            <div class="calendar_switch">
                {% include "partials/ui-elements/switch/_switch.njk" %}
            </div>
            <div class="calendar_switch_label">{{searchFlight.dates.calendarSwitch.label}}</div>
        </div>
        {% endif %}

        {# NG CALENDAR #}
        {% include "partials/components/IBE/flight-search/ng-datepicker/_ng-datepicker.njk" %}
    </div>

    {# SELECTIONS CLOSE BUTTON #}
    {% include "partials/components/IBE/flight-search/_flight-search_selections_close_button.njk" %}
</div>
{% endfor %}