// main: ../styles.scss
// ********************
//  COMPONENTS
//
// ********************
//  CORPORATIVE
// ********************
//
//    + Sections (umbraco components styles)
//
// ****************************************
// + Sections (umbraco components styles)
// -------
// ++ Context sections (articles, news, etc)
//## those section data came from umbraco
// +++ headings
.context-h1 {
    @extend .title-h1;
    margin-bottom: 24px;
}
.context-h2 {
    @extend .title-h2;
    margin-top: 34px;
}
.context-h3 {
    @extend .title-h3;
    margin-top: 27px;
}
.context-h4 {
    @extend .title-h4;    
}
// fix vertical align with margin top
.grid-middle {
    .context-h2,
    .context-h3 {
        &:first-child {
            margin-top: 0px;
        }
    }
}

// +++ dates
.context-date {
    @include font-size($f-size);
    font-weight: 700;
    color: $c-secondary;
    .context-city {
        display: block;
        @media #{$until-mobile} {
            display: inline-block;
        }
    }
}

// +++ footnotes
.context-footnote {
    position: relative;
    @include font-size($f-size-xs);
    padding: 6px 0 0 0;
    margin: 24px 0 34px;
    &:before {
        //## footnote upperline
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 198px;
        height: 1px;
        background-color: $gray-3;
    }
    h1, h2, h3, h4 {
        font-weight: 600;
    }
    h1, h3, h4 {
        color: $c-primary;
    }
    h2 {
        color: $c-secondary;
    }
    .context-list {
        li {
            margin: 0;
            padding-left: 14px;
            &:before {
                content: counter(number)'.';
                font-size: 1em;
            }
        }
    }
}

// +++ blockquote
.context-quote {
    position: relative;
    width: 80%;
    @include font-size($f-size-md);
    color: $c-primary;
    text-align: center;
    margin: 54px auto;
    &::before,
    &::after {
        @include font-size(70px);
        position: relative;
        top: 20px;
        content: '"';
        font-family: $f-title;
        color: $c-secondary;
        line-height: 0;
        letter-spacing: -.08em;
    }
    &::after {
        @include font-size(54px);
        top: 18px;
    }
    @media #{$until-mobile} {
        width: 100%;
    }
}

// ++ context table
.context-table {
    @extend .table-responsive_wrapper;    
    .table-responsive {
        th,
        td {
            white-space: normal;
        }
    }
    margin: 0 0 34px 0;
    .upperline {
        th,
        td {
            border-top: 1px solid $gray-3;
        }
    }
    .td-rowspan {
        vertical-align: middle;
    }
    .upperline-tb {
        border-bottom: 1px solid $c-primary;
    }
    .hidden {
        display: none;
    } // [Responsive]
    @media #{$until-tablet-portrait} {
        // <= 768px
        .upperline {
            td {
                border-top: 0;
            }
        }
        .td-rowspan {
            justify-content: flex-start;
            min-height: 22px;
            text-align: left;
            &:before {
                display: none;
            }
        }
        .upperline-tb {
            border-width: 0;
        }
        .upperline {
            th,
            td {
                border-width: 0;
            }
        }
        tbody {
            td[data-th='']:before {
                display: none;
            }
            th,
            td {
                &:last-child {
                    // margin-bottom: 10px;
                    padding-bottom: 20px;
                    border-bottom-width: 0; // border-bottom-color: $gray-3;
                }
                &.hidden {
                    &+td {
                        padding-top: 20px;
                        border-top: 1px solid $gray-3;
                    }
                }
            }
            .upperline {
                th,
                td {
                    &:first-child {
                        border-top: 1px solid $c-primary;
                    }
                }
            }
            tr {
                &:last-child {
                    th,
                    td {
                        &:last-child {
                            border-bottom: 1px solid $c-primary;
                        }
                    }
                }
            }
        }
    }
}

.context-hr {
    border: .4px solid $c-secondary;
}

// +++ images
$context-image-maxheight: 420px;
.context-image {
    max-width: 100%;
}

.context-images {
    margin: 0px 0 24px 0;
    .context-footnote {
        margin-top: 7px;
        &::before {
            //## footnote
            display: none;
        }
    } // modifiers
    &.default {
        margin: 0;
        .context-images_grid {
            // margin: 0;
        }
        .column {
            height: auto;
            // margin: 0;
            border-radius: 0;
            img {
                display: block;
                position: relative;
                transform: none;
                left: 0;
                top: 0;
                min-height: 0;
            }
        }
    }
}

.context-images_grid {
    $images-margin: .5em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 -#{$images-margin};
    .column {
        position: relative;
        flex-basis: 100%;
        height: $context-image-maxheight;
        margin: 0 $images-margin;
        border-radius: $border-radius;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            border-radius: $border-radius;
            transform: translate(-50%, -50%);
        }
    }
    @media #{$until-mobile} {
        flex-direction: column;
        .column {
            height: auto;
            margin-bottom: 14px;
            overflow: visible;
            img {
                position: relative;
                left: 0;
                top: 0;
                min-height: auto;
                object-fit: unset;
                transform: translate(0);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.context-table_title {
    //# content text table title
    margin-top: 30px;
    margin-bottom: 34px;
    padding-left: 18px;
    border-bottom: 1px solid $c-secondary;
    @media #{$until-tablet-portrait} {
        margin-bottom: 0;
        padding-left: 0;
    }
    .title {
        @extend .context-h3;
    }
}

// [Responsive]
// cite note for internals link
.mw-cite-backlink {
    display: inline-block;
}