// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  ERROR PAGE
// ****************************************
//
//
// ****************************************

// + error-page
// -------
.error-page {
    background-color: $gray-1;
}
.error-page_container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 20vh;
    .column {
        text-align: center;
        &:first-child {
            padding: 30px 0 0 60px;
        }
        &:last-child {
            flex-basis: calc(100% / 3); // IE11
            flex-grow: 1;
        }
    }
}
.error-page_message {
    .logo {
        max-width: 300px; // IE Support
        margin-bottom: 37px;
    }
    p {
        margin-bottom: 5px;
        color: $c-primary;
        font-family: $font-name;
        font-weight: 600;
        &:last-of-type {
            margin-bottom: 31px;
        }
    }
}
.error-page_button-primary {
    @extend .btn-primary;
}
.error-page_image {
    width: 100%;
    height: 100%;
    min-height: 240px;
    img {
        width: 100%;
        max-width: 211px;
    }
}

// [RESPONSIVE]
@media #{$until-tablet-landscape} {
    .error-page_container {
        flex-wrap: wrap;
        padding-top: 10vh;
        .column {
            flex-basis: 100%;
            &:first-child {
                padding: 0;
                .logo {
                    max-width: 200px;
                }
            }
            &:last-child {
                padding-top: 30px;
            }
        }
    }    
}