// ********************
//  SECTIONS
//
// ********************
//  HOME
// ********************
//
// *********************
.home-page {
    .main-header {
        background-color: transparent;
        &::before { //## header logo white background
            content: '';
            z-index: 3;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: calc((100% - 1228px) / 2 + 300px );
            min-width: 300px;
            height: 100%;
            background-color: #fff;
            pointer-events: none;
            border-bottom-right-radius: 500px;
            box-shadow: 0 1px 10px 1px rgba(#000,.3);
            transition: $header-transitions;
        }
        &::after { //## top header dark degradee
            z-index: 1;
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 100%;
            height: 120%;
            background: linear-gradient(to bottom, rgba(#000,.7) 0%, rgba(#000,.25) 50%, rgba(#000,0) 100%);
            max-width: $main-header-banner-max-width;
            transform: translateX(-50%);
            overflow: hidden;
        }
        @media #{$tablet-portrait} {
            &.fixed {
                background-color: $c-primary;
                border: none;
                &::after { display: none; } //## top header dark degradee
            }
        }
    }
    .main-header_nav {
        .nav_item_link {
            color: #fff;
        }
        .main-header_nav-primary {
            .nav_item {
                &:hover, &.show {
                    .nav_item_link {
                        &:after {
                            background-color: #fff;
                        }
                    }
                }                
            }
        }
    }

    @media #{$until-tablet-portrait} { // <= 768px
        .main-header {
            &::before { //## header logo white background
                width: 100%;
            }
        }
        .main-header_nav {
            padding: 0;
            .nav_item_link {
                color: $c-primary;
            }
        }
    }
}
@media #{$until-mobile-sm} { // <=480px
    .home-page {
        .main-header {
            &::before { 
                border-bottom-right-radius: 0;
            }
        }
    }
    .main-header_nav-secondary {
        padding-right: 0;
        padding-left: 0;
        .nav_item {
            max-width: 145px;
            white-space: nowrap;
            overflow: hidden;
            &:first-child {
                .nav_item_link {
                    margin: 0;
                }
            }
        }
    }
}
