// main: ../styles.scss

// ********************
//  SECTIONS
//
// ********************
//  NEWS
// ********************
//
//  + news list  
//
// ********************

.news_header {
    margin-bottom: 42px;
    .title {
        @extend .title-h2;
        color: $c-primary;
        line-height: 1.1;
        margin-bottom: 0;
    }
    .subtitle {
        @extend .title-h3;
        color: $c-primary;
        font-weight: 400;
        margin: 4px 0 0 0;
    }
}
.news_footer {
    @extend .context-footnote;
    .context-h4 {
        @extend .title-h3;
        @include font-size($f-size-xs);
    }
}
.news-btn_back {
    @extend .button;
    @extend .btn-secondary;
}

.news_content_title {
    @extend .title-h4;
    color: $c-primary;
    margin-top: 30px;
}

// news list
.news-list_item {
    display: flex;
    margin-bottom: 42px;
    @media #{$until-mobile-sm} {  //<=480px       
        display: block;        
    }
}
.news-list_date-column {
    flex: 1 1 20%;
    padding-right: 15px;
    box-sizing: border-box;
    .date {
        @extend .title-h4;
        font-family: $font-name;
        font-weight: 600;   
    }
}
.news-list_content {
    flex: 1 1 80%;
    a {
        text-decoration: none;
        &:hover {
            .title {
                color: $c-secondary;
            }
        }
    }
    padding-right: 30px;
    position: relative;
    .title {
        @extend .context-h3;
        margin-top: 0;
    }
    .news-list_pdf-link {
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
            color: $c-secondary;
        }
        .icon {
            @include font-size($f-size-xlg);
            color: $c-primary;
        }
    }
}  

// pagination (last version)
// .navigation {
//     .pagination {
//         display: inline-flex;
//         .page-item {
//             display: inline-block;
//             border-bottom: 1px solid $c-primary;
//             &.prev {
//                 margin-right: 12px;
//             }
//             &.next {
//                 margin-left: 12px;
//             }
//             &.prev, &.next {
//                 border-bottom: 0;
//             }
//             &.active {
//                 position: relative;
//                 .page-link {
//                     color: $c-secondary;
//                     font-weight: 600;
//                 }
//                 @include iconfont($icon-arrow-triangle-up, $pos: before); 
//                 &:before {
//                     position: absolute;
//                     bottom: -9px;
//                     left: 0;
//                     text-align: center;
//                     width: 100%;
//                     color: $c-primary;
//                 }           
//             } 
//             &.disabled {
//                 opacity: $disabled-opacity;
//                 .page-link {
//                     pointer-events: none;
//                 }
//             }           
//             .page-link {                
//                 display: inline-block;
//                 padding: 6px 11px;
//                 font-family: $font-name;
//                 text-decoration: none;
//                 &:hover {
//                     color: $c-secondary;
//                     .icon {                       
//                         color: $c-primary;                        
//                     }
//                 }
//                 .icon {
//                     color: $c-secondary;
                    
//                 }                
//             }
//         }
//         @media #{$until-mobile-sm} {  //<=480px       
//             flex-wrap: wrap;
//             justify-content: center;        
//         }
//     }
// }

.rss {
    margin-bottom: 32px;
    text-align: right;
    .icon {
        margin-right: 12px;
        @include font-size($f-size-xlg);
        color: $c-primary;                
    }
}

