// main: ../styles.scss

// ********************
//  SECTIONS
//
// ********************
//  PAYMENT
// ********************
//
// ********************

.news_header {
    margin-bottom: 42px;
    .title {
        @extend .title-h2;
        color: $c-primary;
        line-height: 1.1;
        margin-bottom: 0;
    }
    .subtitle {
        @extend .title-h3;
        color: $c-primary;
        font-weight: 400;
        margin: 4px 0 0 0;
    }
}
.news_content_title {
    @extend .title-h4;
    color: $c-primary;
    margin-top: 30px;
}
