// ********************
//  COMPONENTS
//
// ********************
//  BREADCRUMB
// ********************
//
// ********************

// + Variables
// -------

.breadcrumb {
    margin-bottom: 32px;
}
.breadcrumb_item {
    @include iconfont($icon-mascota2, after);
    display: inline-block;
    &::after { //## breadcrumb separator
        position: relative;
        top: calculateEm(-2px);
        color: $c-primary;
        font-size: calculateEm(11px);
    }
    &:last-child {
        &:after { content: none; }
    }
    & > a {
        color: $c-primary-dark;
        text-decoration: none;
        padding: 7px 0;
        &:hover {
            text-decoration: underline;
        }
    }
    &.go-home a {
        @include iconfont($icon-mascota2);
        font-size: calculateEm($f-size-md-sm);
        color: $c-primary;
        &:hover {
            color: $c-link-hover;
            text-decoration: none;
        }
        &::before {
            font-size: 1em;
        }
    }
}
.breadcrumb_dropdown_trigger {
    @include collapse-trigger($f-size, $c-secondary, right);
    padding-right: calculateEm(20px);
    cursor: pointer;
    &:hover {
        color: $c-link-hover;
    }
    &::after {
        top: calculateEm(3px);
        font-size: calculateEm(15px);
    }
}
