// main: ../../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  DATETIMER
// ********************
//
// ********************

// variables
$date-i-size: 95px;
$date-i-value-space: 44px;
$date-i-top-space: 29px;

// + date-timer
// -------
.datetimer_wrapper {
    display: block;
    text-align: center;
}
.datetimer {
    display: inline-block;
    min-height: 176px;
    padding: 0 15px 25px;
    font-family: $font-name;
    box-sizing: border-box;
}
.datetimer_indicator {
    position: relative;
    display: inline-block;
    width: $date-i-size + $date-i-value-space * 2;
    padding: $date-i-top-space 0 0;
    @include font-size(66px); // colon size
    &::before { // colon separation
        content: ':'; 
        position: absolute;
        left: -11px;
        top: $date-i-top-space + 50px;
        color: $c-primary;
        line-height: 0;
    }
    &:first-child {
        &::before {
            content: none;
        }
    }
}
.datetimer_label,
.datetimer_value {
    display: flex;
    justify-content: center;
    align-items: center;
}
.datetimer_value {
    height: $date-i-size;
    margin: 0 44px;
    padding: 10px 0 0;
    color: #fff;
    @include font-size(56px);
    font-weight: 600;
    box-sizing: border-box;
    background-color: $c-primary;
    border-top-left-radius: 42px;
}
.datetimer_label {
    padding: 8px 0 0;
    color: $c-primary;
    @include font-size($f-size-md);
    font-weight: 600;
}

// [RESPONSIVE]

// $date-i-size: 95px;
$date-i-value-space: 28px;
// $date-i-top-space: 27px;

@media #{$until-tablet-landscape} {
    .datetimer {
        min-height: auto;
        padding: 0 0 16px;
    }
    .datetimer_indicator {
        width: $date-i-size + $date-i-value-space * 2;
        padding: $date-i-top-space 0 0;
        &::before {
            left: -10px;
            top: $date-i-top-space + 50px;
            @include font-size(66px);
        }
    }
    .datetimer_value {
        height: $date-i-size;
        margin: 0 $date-i-value-space;
        @include font-size(56px);
    }
}

$date-i-size: 85px;
$date-i-value-space: 28px;
$date-i-top-space: 26px;

@media #{$until-tablet-portrait} {
    .datetimer_indicator {
        width: $date-i-size + $date-i-value-space * 2;
        padding: $date-i-top-space 0 0;
        &::before {
            left: -10px;
            top: $date-i-top-space + 44px;
            @include font-size(66px);
        }
    }
    .datetimer_value {
        height: $date-i-size;
        margin: 0 $date-i-value-space;
        padding-top: 4px;
        @include font-size(56px);
        border-top-left-radius: 36px;
    }
}

$date-i-size: 68px;
$date-i-value-space: 17px;
$date-i-top-space: 26px;

@media #{$until-mobile} {
    .datetimer_indicator {
        width: $date-i-size + $date-i-value-space * 2;
        padding: $date-i-top-space 0 0;
        &::before {
            left: -9px;
            top: $date-i-top-space + 36px;
            @include font-size(52px);
        }
    }
    .datetimer_value {
        height: $date-i-size;
        margin: 0 $date-i-value-space;
        @include font-size(42px);
    }
    .datetimer_label {
        @include font-size($f-size-md);
    }
}

// variables
$date-i-size: 38px;
$date-i-value-space: 14px;
$date-i-top-space: 26px;

@media #{$until-mobile-sm} {
    .datetimer_indicator {
        width: $date-i-size + $date-i-value-space * 2;
        padding: $date-i-top-space 0 0;
        &::before {
            left: -7px;
            top: $date-i-top-space + 18px;
            @include font-size(36px);
        }
    }
    .datetimer_value {
        height: $date-i-size;
        margin: 0 $date-i-value-space;
        padding-top: 4px;
        @include font-size($f-size-md);
        border-top-left-radius: 20px;
    }
    .datetimer_label {
        padding-top: 4px;
        @include font-size($f-size-sm);
    }
}