// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************
$image-scale-hover: scale(1.04);
$image-scale-hover-time: .3s;
$height-offer-main: 380px; //334px;
$destinations-offers-border: 2px solid $body-background;
$destinations-offers-height-mobil: calculateRem(152px);
$destination-offer-main-caption-padding: 24px;
$destination-offer-main-caption-mobil-padding: 10px;
$destination-offer-max-width: 270px;

// + Destinations offers grid
// -------
.destinations-offers {
    display: inherit;
    position: relative;
    margin: 0 -#{$gutter-sides};
}
.destinations-offers_l1 { //## box cards component inside destination offers
    border-bottom: $destinations-offers-border;
    .box-cards {
        justify-content: space-between;
    }
    .box-cards_item {
        position: relative;
        min-height: $destinations-offers-height-mobil;
        flex-basis: 50%;
        max-width: 50%;
        border-bottom: $destinations-offers-border;
        &:nth-child(2) {
            border-left: 2px solid $gray98;  
        }
        &:last-child {
            margin-left: auto;
            border-bottom: 0;
            border-left: 2px solid $gray98;
        }
    }
    .box-cards_item_link {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    .box-cards_item_caption {
        margin-top: auto;
        .color {
            color: $c-color1;
        }
    }
    .box-cards_item_icon {
        @include font-size(54px);
    }
}

.destination-offer_main {
    height: 265px;
    .destination-offer, .destination-offer_image {
        height: 100%;
    }
}
.destination-offer_aside {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-width: auto;
    padding: 0;
    .column {
        &:last-child {
            position: absolute;
            top: 0;
            width: 50%;
            margin-top: $destinations-offers-height-mobil;
            .destination-offer {
                height: $destinations-offers-height-mobil;
                .destination-offer_image {
                    height: 100%;
                }
                .destination-offer_caption {
                    background: rgba($c-primary, .8);
                }
            }
        }
    }
}

// + Destination offer
// -------
.destination-offer {
    display: flex;
    position: relative;
    flex-direction: column;
    &[role='link'] {
        cursor: pointer; 
        &:focus {
            @include accessibility-outline;
        }
    }
}
.destination-offer_body {
    position: relative;
    height: 100%;
}
.destination-offer_image {
    display: block;
    width: 100%;
    min-height: 1px;
    position: absolute;
    top: 0;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 1px;
        object-fit: cover;
        // transform: scale(1);
        // transition: all $image-scale-hover-time ease-in-out;
    }
    // &:hover {
    //     img {
    //         transform: $image-scale-hover;
    //     }
    // }
}
.destination-offer_caption {
    position: relative;
    line-height: 1.2;
    background: $c-primary;
    padding: $destination-offer-main-caption-mobil-padding;
    margin: 15px 15px 0;
    max-width: $destination-offer-max-width;
    color: #fff;
    .city,
    .price_wrap {
        display: block;
        margin: 0;
    }
    .price_wrap {
        line-height: 1.2;
    }
    .city {
        font-weight: 700;
    }
    .from {
        vertical-align: middle;
        padding-right: 6px;
    }
    .currency {
        font-weight: 600;
        color: $c-color1;
        vertical-align: sub;
    }
    .price {
        @include font-size($f-size-xlg);
        font-weight: 700;
        color: $c-color1;
        vertical-align: sub;
    }
    .text {
        display: block;
        font-weight: 500;
        margin-bottom: 0;
    }
    .from, .text , a {
        @include font-size($f-size-sm);
    }
    a {
        text-decoration: none;
        &:hover {
            color: $c-color1;
        }
    }
}
.destination-offer_caption > a,
.destination-offer_caption > a:hover {
    color: #fff;
}
.destination-offer_link {
    position: relative;
    max-width: $destination-offer-max-width;
    @include font-size($f-size-xs);
    color: #fff;
    a {
        display: block;
        color: $c-color1;
    }
}

// + Destinations offers price list
// -------
.destinations-offers_select_header {
    display: block;
    padding: 17px 0;
    background: $body-background;
    text-align: center;
    .ui-dropdown {
        display: inline-block;
    }
    .ui-dropdown_list {
        width: auto;
        left: auto;
        right: 0;
    }
    .title, .title_trigger {
        font-size: calculateEm($f-size-md);
        line-height: 1.2;
        font-family: $f-title;
        font-weight: 700;
    }
    .title {
        color: $c-primary;
    }
    .title_trigger {
        @include collapse-trigger($f-size, $c-color1, right);
        text-decoration: underline;
        cursor: pointer;
        user-select: none;
        color: $c-color1;
    }
}
.destinations-offers_pricelist {
    padding: 0 10px;
    color: #fff;
    .all_offers {
        margin-bottom: 22px;
        padding-top: 8px;
        @include font-size($f-size-md-sm);
        font-family: $f-title;
        text-align: right;
    }
    .price_promo {
        margin-top: 4px;
        padding-right: 15px;
        .price_wrap {
            .price, .currency {
                @include font-size($f-iconsize-lg);
                color: $c-color1;
                font-weight: 700;
                line-height: 1;
                white-space: nowrap;
            }
        }
    }
    .text {
        font-weight: 500;
        color: $c-text;
    }
    .price_wrap {
        display: block;
        .price, .currency {
            @include font-size($f-size-lg);
            font-weight: 700;
        }
    }
}

// + Destination offers main
// -------
.destinations-offers_item--main {
    img {
        position: absolute;
        left: 50%;
        height: 100%;
        object-fit: cover;
        // transform: translateX(-50%) scale(1);
        transform: translateX(-50%);
    }
    // &:hover {
    //     img {
    //         transform: translateX(-50%) $image-scale-hover;
    //     }
    // }
}

// + Destinations guide
// -------
// .destination-guides { }
.destinations-guide_offer { 
    margin-bottom: 30px;
    &:hover {
        .destination-offer_image {
            img {
                transform: scale(1.1);
            }
        }
    }
    .destination-offer_image {
        position: relative;
        overflow: hidden;
        img {
            transform: scale(1);
            transition: all .3s ease-in-out;
        }
    }
    .destination-offer_caption {
        max-width: none;
        margin-top: 17px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        text-align: center;
        background: transparent;
        .city {
            @include font-size($f-size-h3);
            font-weight: 500;
            color: $c-primary;
            text-transform: uppercase;
        }
    }
}
// .destinations-guide_offer--main { }


// [Responsive]
$offers-price-gutter: 28px;
@media #{$tablet-landscape} { /// >=992px
    .destinations-offers {
        border-top: $destinations-offers-border;
    }
    .destination-offer_main {
        width: 50%;
        height: $height-offer-main;
        position: absolute;
        right: 0;
        border-left: $destinations-offers-border;
        box-sizing: border-box;
    }
    .destination-offer {
        height: 100%;
    }
    .destination-offer_aside {
        .column {
            &:first-child {
                margin-top: 20px;
            }
            &:last-child {
                margin-top: 50px;
                position: relative;
                max-width: 50%;
                margin-bottom: 0;
                margin-top: #{$height-offer-main/2};
                height: #{$height-offer-main/2};
                .destination-offer {
                    height: 100%;
                }
            }
        }
    }
    .destinations-offers_pricelist {
        height: 100%;
        padding: 0 $offers-price-gutter;
        background: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .price_promo {
            margin-bottom: 7px;
            padding: 0;
            .price_wrap {
                .price, .currency {
                    @include font-size(54px);
                }
            }
        }
    }
    .destinations-offers_select_header {
        margin-bottom: 62px;
        margin-left: -$offers-price-gutter;
        margin-right: -$offers-price-gutter;
        padding: 0;
        .title, .title_trigger {
            font-size: calculateEm($f-size-lg);
        }
        .ui-dropdown {
            padding: 12px 48px 6px;
            background: #fff;
        }
        .ui-dropdown_list { right: 48px; }
    }
    .destination-offer_body {
        height: 100%;
    }

    // offers box card links
    .destinations-offers_l1 {
        position: absolute;
        height: calc(#{$height-offer-main / 2});
        width: 50%;
        left: 0;
        border-bottom: 0;
        .box-links {
            height: 100%;
        }
        .box-cards_item {
            display: flex;
            align-items: center;
            flex-basis: calc((100% / 3) - 1px);
            max-width: calc((100% / 3) - 1px);
            height: 100%;
            &:last-child {
                margin-left: 0;
                border-bottom: $destinations-offers-border;
                border-left: 0;
            }
        }
        .box-cards_item_icon {
            color: $c-color1;
        }
        .box-cards_item_caption {
            .title {
                @include font-size(18px);
            }
            .subtitle, .text {
                @include font-size($f-size-sm);
            }
        }
    }
}

@media #{$tablet-portrait} { // // >=768px
    .destinations-offers {
        margin: 0;
    }
    .destination-offer_caption {
        margin: 22px 22px 0;
        padding: 5px $destination-offer-main-caption-padding;
        .price_wrap {
            line-height: 1;
        }
        .from, .text, a {
            @include font-size(18px);
            padding-right: 0;
            vertical-align: super;
        }
       .currency {
            @include font-size($f-size-xlg);
        }
        .price {
            @include font-size(48px);
        }
        .city {
            @include font-size($f-size-lg);
        }
    }
    .destination-offer_link {
        @include font-size($f-size-md-sm);
    }
    .destinations-offers_l1 { //## box cards component inside destination offers
        .box-cards_item_icon {
            @include font-size(74px);
        }
    }
}