// ********************
//  COMPONENTS
//
// ********************
//  MAIN BANNER
// ****************************************
//
//    + Main banner
//    + Main banner indicators
//    + banner caption page corporative
//
// ****************************************

$main-banner-height: $multiple-search-height + 28px;
$main-banner-height-mobile: 32vw;

// + main banner
// -------
.main-banner {
    position: relative;
    overflow: hidden;
    height: $main-banner-height-mobile;
    background-color: $c-primary;
}
.main-banner_innerpages {
    height: 425px;
    .main-banner_controls {
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 70px;
    }
    .slide-control {
        display: block;
    }
}
.main-banner_slider {
    height: 100%;
}
.main-banner_item {
    display: none;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    &.active {
        display: block;
    }
}
.main-banner_container {
    @extend .container-wrap;
    height: 100%;
    position: relative;
}
.main-banner_button {
    @extend .btn-primary;
    @include font-size($f-size);
    margin-bottom: 10px;
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
.main-banner_caption {
    padding: 24px 0;
    font-family: $f-title;
    color: #fff;
    a {
        color: #fff;
    }
    .title {
        display: block;
        font-size: calculateEm($f-size-lg,$f-size);
        line-height: 1;
        font-weight: 700;
    }
    .subtitle {
        @include font-size($f-size);
        display: inline-block;
        padding: 5px 16px 2px;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.2;
        margin-bottom: 8px;
        background-color: $c-secondary;
    }
    .price_wrap {
        margin-bottom: 0;
        line-height: 1;
        .from {
            padding-right: 5px;
            vertical-align: baseline;
        }
        .currency {
            @include font-size($f-size-md-sm);
            color: $c-color1;
            font-weight: bold;
            vertical-align: middle;
        }
        .price {
            @include font-size($f-size-xxlg);
            font-weight: 700;
            color: $c-color1;
            vertical-align: middle;
        }
    }
    .text {
        font-size: calculateEm(17px,$f-size);
    }
    .note {
        @include font-size($f-size-sm);
    }
}

// + banner controls
// -------
.main-banner_controls {
    width: calc(100% - 60px);
    max-width: 1140px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    z-index: 4;
}
.main-banner_pager {
    display: none;
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 4;
}
.main-banner_pager_item {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    vertical-align: middle;
    &.control-pause {
        @include iconfont($icon-info);
        margin-right: 9px;
        width: 18px;
        height: 18px;
        background: transparent;
        color: #fff;
    }
    &:last-child {
        margin-right: 0;
    }
    &.active {
        background-color: $gray95;
    }
}

.slide-control {
    display: none;
    z-index: 4;
    width: 7%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    &:focus {
        outline-offset: -3px;
    }
    &.left {
        left: 0;
        .icon {
            left: 0;
        }
    }
    &.right {
        right: 0;
        .icon {
            right: 0;
        }
    }
    .icon {
        @include font-size($f-size-lg);
        background-color: rgba($gray65, .8);
        padding: 10px 0;
        color: $c-primary;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media #{$mobile-sm} { // >=480px
    .main-banner_button {
        @include font-size($f-size-md);
        width: auto;
    }
}
@media #{$home-multipanel-bp} { // >= 992px
    .main-banner {
        height: calculateRem($main-banner-height);
    }
    .main-banner_caption {
        z-index: 4;
        position: absolute;
        top: 50%;
        left: calculateRem($multiple-search-width + 72px);
        padding: 0;
        transform: translateY(-50%);
        .subtitle {
            @include font-size($f-size-md);
            letter-spacing: 4px;
        }      
        .price_wrap {
            .from {
                @include font-size($f-size-md-sm);
            }
            .currency {
                @include font-size($f-size-super);
                padding-right: 8px;
            }
            .price {
                @include font-size($f-iconsize-xlg);
            }
        }
        .note {
            @include font-size($f-size);
        }
    }
    .main-banner_pager {
        display: block;
        bottom: 23px;
    }
    .slide-control {
        display: block;
    }
}