// ********************
//  COMPONENTS
//
// ********************
//  NEWSLETTER
//
// + Newsletter component
// + Newsletter subscribe page
//
// ****************************************

// + Variables
$newsletter_form_gutter-desktop: 5%;

// + Newsletter component
// -------
.newsletter {
    z-index: $alert-zindex;
    position: fixed;
    left: 0;
    padding: calculateRem(14px) 0 calculateRem(7px);
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: $c-color2;
    .newsletter_form {
        background-color: inherit;
    }
}
.newsletter_form {
    @extend .container-wrap;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    .ui-form_group {
        flex-grow: 1;
        margin: 0;
    }
    .ui-input-container {
        // modifiers
        &.is-focused {
            .ui-input {
                color: #fff;
            }
        }
    }
    .ui-input_wrap {
        @include iconfont($icon-suscribete);
        position: relative;
        padding: 0 0 0 calculateRem(50px);
        &::before {
            @include font-size(40px);
            position: absolute;
            left: 0;
        }
    }
    .ui-input {
        border: none;
        color: #fff;
        background-color: darken($c-color1, 20);
        border-radius: 0;
        &::placeholder {
            color: rgba(#fff, .5);
        }
        &:hover {
            color: #fff;
        }
    }
    .ui-form_input-button {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
    }
    .ui-form_input-buttons {
        margin: 0;
        button {
            @extend .btn-secondary;
            @include iconfont($icon-arrow-right);
            @include font-size(28px);
            min-width: 40px;
            padding: 5px 0 0 2px;
            border: none;
        }
    }
}
.newsletter_form_intro,
.newsletter_form_wrap {
    flex: 1 1 100%;
    box-sizing: border-box;
    margin: 7px 0;
}
.newsletter_form_title {
    @include font-size($f-size-md-sm);
    text-align: center;
    padding: 0 12px 0 0;
    line-height: 1.1;
    .title {
        font-weight: 600;
        strong {
            color: $c-color1;
        }
    }
}
.newsletter_form_intro {
    display: flex;
    ul {
        @include font-size($f-size-xs);
        padding: 0 calculateRem(12px) 0 0;
        margin-right: auto;
        margin-left: auto;
    }
    li {
        @include iconfont($icon-arrow-right);
        position: relative;
        line-height: 1.2;
        margin: .4em 0;
        padding: 0 0 0 1.5em;
        &::before {
            position: absolute;
            left: 0;
            top: .125em;
            color: #fff;
        }
    }
}
.newsletter_form_wrap {
    width: 90%;
}
.newsletter_close {
    position: absolute;
    top: -8px;
    right: $gutter-sides / 2;
}
.newsletter_close-btn {
    @include iconfont($icon-close, before);
    z-index: -1;
    line-height: 0;
    cursor: pointer;
    &::before {
        @include font-size(16px);
        color: #fff;
    }
}


// [Responsive]
@media #{$mobile-sm} { // >=480px
    .newsletter_form {
        justify-content: center;
    }
    .newsletter_form_intro,
    .newsletter_form_title {
        flex: 1 1 auto;
    }
    .newsletter_form_wrap {
        flex: 0 0 auto;
    }
}
@media #{$tablet-portrait} { // >=768px
    .newsletter_form {
        flex-wrap: nowrap;
    }
    .newsletter_form_wrap {
        flex: 0 1 60%;
        max-width: 410px;
    }
    .newsletter_form_title {
        text-align: left;
    }
}