// ********************
//  COMPONENTS
//
// ********************
//  OFFERS
// ********************
//
// ********************

.offers_title {
    @extend .context-h2;
    text-align: center;
    padding: 40px 0;
}
.offers_wrap {
    @extend .container-wrap;
}
//## offer component
.offer {
    margin-top: 24px;
    
    text-align: center;
    &:hover {
        .offer_title {
            color: $c-secondary;
        }
        .show-more_link {
            background: $c-secondary;
            color: #fff;
        }
    }
    .show-more_link {
        @extend .button;
        @extend .btn-secondary;
        margin: auto auto 60px;
        min-width: 145px;
        width: 1px; // support IE
        font-weight: 700;
        float: unset;
    }
}

// .offer_image {}
// .offer_image_bg {}
// .offer_image_caption {}

.offer_icon {
    @include font-size($f-iconsize-super);
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    padding: 15px;
    color: #fff;
    background: $c-color1;
    border-radius: 100%;
}
// .offer_image_title,
// .offer_image_brand {}

.offer_title {
    @include font-size($f-size-md-sm);
    @extend .title-h3;
    margin: 8px 0 48px;
    font-weight: 700;
    color: $c-primary;
    text-transform: uppercase;
}

@media #{$mobile-sm} { // >=480px
    .offer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
@media #{$mobile} { // >=640px
    .offer {
        .show-more_link {
            margin-bottom: 24px;
        }
    }
}