// main: ../../styles.scss
// ********************
//  COMPONENTS
//
// ********************
//  SOCIAL MEDIA
// ********************
//
// ********************


// + Variables
// -------
$socialmedia-size: 28px;
$socialmedia-types : 
    "facebook" $icon-facebook $c-facebook,
    "instagram" $icon-instagram $c-instagram,
    "google" $icon-rent_a_car $c-google,
    "youtube" $icon-hora $c-youtube,
    "twitter" $icon-twitter $c-twitter;
$socialmedia-grow-scale: 1.2;
$socialmedia-transform: -50 - (50 - 50 * $socialmedia-grow-scale / 1);

// + Social media title
// -------
.socialmedia_title {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    .title {
        @extend .context-h3;
        @include font-size($f-size-md);
        color: $mainfooter-color;
    }
}

// + Social media list
// -------
.socialmedia_list {
    padding: 0;
    font-size: 0; // remove space between inline-block elements
    li {
        display: inline-block;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    } 
    // modifiers
    &.flat {
        li .socialmedia_link {
            background: $gray50;
            &:hover {
                background: darken($gray50, 7%);
                &::before {
                    transform: scale($socialmedia-grow-scale);
                }
            }
        }
    }
    @media #{$until-tablet-portrait} { // <= 768px
        text-align: center;
    }
}
@each $i in $socialmedia-types { // social media generated class (from variables)
    .socialmedia--#{nth($i, 1)} {
        background: nth($i, 3);
        &:hover {
            background: darken(nth($i, 3), 7%);
        }
        &::before {
            content: nth($i, 2);
        }
    }
}
.socialmedia_link { // anchor
    display: block;
    text-decoration: none;
    border-radius: 100%;
    padding: 2px;
    &::before { //## social media fonticons
        font-family: $f-icons;
        font-size: $socialmedia-size;
        line-height: 1;
        transition: .08s ease-out;
        color: #fff;
    }   
}

// + Social media login
// -------
.socialmedia_login {
    margin-top: 60px;
    text-align: center;
}

// + Social media login
// -------
.socialmedia_login_separator {
    position: relative;
    text-align: center;
    .text {
        display: inline-block;
        padding: 4px 15px;
        @include font-size($f-size-xs);
        font-weight: 400;
        background: $gray98;
        position: relative;
        z-index: 2;
        color: $gray60;
    }
    &::before {
        position: absolute;
        top: 50%;
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: $gray95;
    }
    .login-form+& {
        margin-top: 0;
    }
}
.socialmedia_login_header {
    margin: 0 0 30px;
    font-weight: 600;
}
.socialmedia_login_options {
    margin: 0 0 28px;
}

// + Social media share
// -------
// .socialmedia_share {
//     display: flex;
//     justify-content: flex-end;
//     margin-top: 15px;
//     .socialmedia_list {
//         display: inline-block;
//         margin: 0 -7px 0;
//         li {
//             margin: 0 7px;
//             width: 35px;
//         }
//         a {
//             width: 35px;
//             &::before {
//                 @include font-size(35px);
//             }
//         }
//     }
// }
// .socialmedia_share-caption {
//     margin: 20px 28px 0 0;
//     font-weight: 600;
//     white-space: nowrap;
// }