@import '../../variables';
@import '../../../fonts/icons/variables.scss';
@import '../../../../../core/src/assets/sass/util/mixins';
@import '../../../../../core/src/assets/sass/util/functions';

//## month (header)
$calendar-month-fontfamily: $f-body;
$calendar-month-color: $c-primary;
$calendar-month-fontweight: 700;
$calendar-month-uppercase: true;
$calendar-month-fontsize: 22px;
$calendar-month-margin: 0 0 calculateRem(12px);

//## navigation (arrows)
$calendar-prev-icon: $icon-arrow-single-left;
$calendar-next-icon: $icon-arrow-single-right;
$calendar-prevnext-color: $c-color1;
$calendar-prevnext-fontsize: 15px;
//## disabled
$calendar-prevnext-color-disabled: rgba(#56506f, .3);

//## days
$calendar-days-fontsize: 18px;
$calendar-days-color: $c-primary-dark;
$calendar-days-font-weight: 400;
$calendar-days-margin: calculateRem(4px) 0;
//## availabel days
$calendar-day-available-color: $c-primary;
$calendar-day-available-fontweight: 500;
$calendar-day-available-background: $c-secondary;
//## hover
$calendar-day-available-color-hover: #fff;
$calendar-day-available-background-hover: $c-secondary;
//## disabled days
$calendar-days-color-disabled: rgba($calendar-days-color,.4);
//## selected
$calendar-day-selected-color: #fff;
$calendar-day-selected-background: $c-secondary;
//## range styles
$calendar-range-background: $c-color4;

//## current
$calendar-day-current-fontweight: normal;
$calendar-day-current-border-width: 1px;
$calendar-day-current-border-style: solid;
$calendar-day-current-border-color: $c-secondary;
$calendar-day-current-background: transparent;

//## weeks
$calendar-week-bar-border-width: 0;
$calendar-week-bar-border-style: solid;
$calendar-week-bar-border-color: $c-secondary;
$calendar-week-bar-background: $c-secondary;
$calendar-week-bar-border-radius: 100vh;
$calendar-week-padding: calculateRem(6px) 0;
$calendar-week-fontsize: 16px;
$calendar-week-uppercase: true;
$calendar-week-color: $c-primary;
$calendar-week-fontweight: 600;
$calendar-week-margin: calculateRem(4px) 0;
