// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//
//    + Search flight
//        ++ Grid
//        ++ Typology
//        ++ Promocode
//        ++ Action button
//         [Responsive]
//
//    + Search flight typeahead
//
// ****************************************

$searchflight-gutter: 2.4%;
$search-vert-margin: 8px;
$search-vert-margin-desktop: 20px;
$search-vert-margin-fixed: 14px;
$search-baseline: 10px; // form inputs bottom space (between 7 to 14)

.searchflight {
    @extend .form-inverse; // add basic input styles to dark backgrounds
    
    // + Main container
    // -------
    .inner {
        display: block;
        height: 100%;
        > * {
            margin: 0 0 8px;
        }
    }

    // input {
    //     &.ui-input {
    //         padding-top: 14px;
    //     }
    // }

    // reset input styles
    .ui-input-container,
    .ui-input-multiline {
        label {
            @extend .hide-visually;
        }
    }
    .ui-input-container.is-focused .ui-input,
    .ui-input,
    .ui-dropdown,
    .ui-input-multiline {
        box-shadow: none;
        border-bottom: 0;
    }
    .ui-input,
    .ui-dropdown_value {
        font-weight: 300;
    }
    .ui-input-multiline {
        padding: 0;
        border-bottom: 1px solid #fff;
    }
    .ui-input {
        position: relative;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &::placeholder {
            @include font-size(20px);
            position: relative;
            top: 1px;
            color: $gray60;
            font-weight: 300;
        }
    }
    .ui-dropdown_value {
        color: #fff;
        line-height: 1.2;
    }
    .ui-dropdown .ui-input {
        height: 100%;
    }

    
    // + All elements
    // -------
    .route,
    .dates,
    .typology,
    .searchflight_button {
        transition: margin .1s linear;
        .ui-input-container {
            padding: 0;
        }
    }

    // + Inputs with icons
    .route,
    .dates {
        .outbound {
            .ui-input-multiline_group_inner {
                &::before { //## outbound input icon
                    $pbicon-size: $f-size-md;
                    top: calculateEm(12px, $pbicon-size);
                    color: $c-secondary;
                    font-size: calculateEm($pbicon-size);
                }
                .ui-input {
                    padding: 0 1rem 0 2.5rem;
                }
                &::before { //## icon inside input
                    position: absolute;
                    color: $c-secondary;
                }
            }
        }
        .inbound {
            .ui-input {
                padding: 0 2.25em;
            }
            .ui-input-multiline_group_inner {
                .ui-input {
                    padding: 0 1rem;
                }
                &::after {
                    width: 2px;
                    background-color: $c-secondary;
                }
            }
        }
        .ui-input-container {
            // modifiers
            &.has-value {
                .ui-input-multiline_group_inner { // only shows divider when select a date
                    &::after { //## division border
                        width: 10px;
                        height: 2px;
                        left: 0;
                        top: calc(50% - 1px);
                        transform: translate(-50%, -50%)
                    }
                }
                .ui-input {
                    border-bottom: 0;    
                }
            }
        }
    }

    // inner components class clusters
    .value-large,
    .day {
        line-height: .775; // support mobile and desktop baseline
    }
    .typology,
    .searchflight_button {
        margin: 0 0 30px;
    }

    // + Route
    // -------
    .route {
        position: relative;
        .value-selected {
            @include font-size($f-size-md);
            display: flex;
            box-sizing: border-box;
            height: 100%;
            flex-direction: column;
            padding: 0 0 ($search-baseline - 2);
        }
        .value-large {
            padding: 0 calculateEm(6px, $f-size-md-lg) 0 0;
            text-transform: uppercase;
        }
        .value-small {
            @include ellipsis;
            position: relative;
            top: (($search-baseline - 12px) * -1);
            font-weight: 500;
        }
    }

    // + Dates
    // -------
    .dates {
        position: relative;
        // flex: 0 1 50%;
        input {
            &.ui-input {
                // max-width: 140px;
            }
        }
        .value-selected {
            display: inline-grid;
        }
        .day,
        .month,
        .week {
            font-weight: 300;
            display: flex;
        }
        .month,
        .week {
            @include font-size($f-size-sm);
            position: relative;
            grid-column: 2;
            // display: flex;
            line-height: 100%;
            top: 1px;
        }
        .day {
            @include font-size($f-size-xlg);
            grid-column: 1;
            grid-row: 1 / span 2;
            // justify-content: flex-end;
            // align-items: center;
            padding: 0 8px 0 0;
            font-weight: 300;
        }
        .month {
            grid-row: 1; 
            // align-items: flex-start;
            text-transform: uppercase;
        }
        .week {
            grid-row: 2;
            align-items: flex-end;
        }
        .ui-input-multiline {
            display: flex;
            flex-wrap: wrap;
        }
        .ui-input-multiline_group {
            flex-basis: 50%;
            // width: auto;
        }
        .ui-input-multiline_group_inner {
            &::after { //## division border
                width: 0;
            }
        }
        .ui-input-container {
            // modifiers
            &.has-value {
                .outbound {
                    
                }
                .inbound {
                    display: block;
                    flex-grow: 1;
                }
            }
        }

        // modifiers
        .inbound {
            display: none;
        }
        .outbound {
            .ui-input-multiline_group_inner {
                @include iconfont($pbicon-calendar,before);
                &::before { //## date input icon
                    left: 0;
                }
            }
        }
    }

    // + Typology
    // -------
    .typology {
        display: inline-block;
        position: relative;
        // flex-basis: 50%;
        width: 50%;
        .ui-input-container {
            position: static;
        }
        .ui-dropdown {
            // position: static;
            position: relative;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
            @include iconfont($pbicon-user);
            &::before { //## outbound input icon
                $pbicon-size: $f-size-md;
                top: calculateEm(12px, $pbicon-size);
                color: $c-secondary;
                font-size: calculateEm($pbicon-size);
                position: absolute;
                bottom: 0;
            }
        }
        .ui-dropdown_value {
            @include font-size($f-size-xlg);
            position: absolute;
            display: flex;
            align-items: flex-end;
            bottom: $search-baseline - 3px;
            line-height: 1;
        }
        .ui-input {
            padding: 0 calculateRem(37px) calculateRem(12px);
            &::after {
                content: none;
            }
        }
    }
    .typology_option {
        //## need to reset some dropdown list styles
        @extend .ui-dropdown_list;
        width: calc(200% + 30px);
        // width: auto;
        max-width: none;
        max-height: none;
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
    }
    .typology_option_list {
        position: relative;
        padding: 40px $gutter 20px;
        box-sizing: border-box;
    }
    .typology_option_item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 11px 0 13px;
        border-top: 1px solid $c-secondary;
        &:first-of-type {
            border-top: 0;
        }
        @media #{$until-tablet-landscape} { // <=768px
            .ui-num-ud_input {
                min-width: 60px;
                width: 70px;
            }
        }
    }
    .typology_option_select {
        flex: 0 1 auto;
    }
    .typology_option_label {
        position: relative;
        flex: 0 0 auto;
        padding-right: 54px;
        font-weight: 500;
        color: $c-primary;
        line-height: 1;
        .label-small {
            display: block;
            margin-top: 5px;
            font-weight: 400;
            color: $c-text;
            @include font-size($f-size-xs);
            white-space: nowrap;
        }
        .ui-tooltip_info {
            margin-left: 2px;
        }
    }
    .typology_option_button {
        padding: 20px 0;
        margin-top: 24px;
        background: $gray95;
        button {
            @extend .btn-light;
            display: block;
            min-width: 54%;
            margin: auto;
        }
    }

    // ++ Promocode
    // .promocode_form {}
    // .promocode_link {}

    // ++ Action button
    .searchflight_button {
            // flex-basis: 100%;
        display: inline-block;
        width: 48%;
        text-align: right;
        z-index: 1;
        vertical-align: bottom;
        button {
            @extend .btn-primary;
            min-width: auto;
            // width: 100%;
            // display: inline-block;
            // padding: 10px;
        }
    }

    // &.multicity {}

    // modifiers
    .is-focused,
    .has-value {
        .ui-input,
        .ui-dropdown_value {
            font-weight: 300;
        }
        .ui-input {
            border-bottom: 0;
        }
    }
    .search_tt_close-btn {
        @include iconfont($pbicon-cross-circled);
        @include font-size(19px);
        position: absolute;
        right: 12px;
        top: 12px;
        font-weight: 600;
        line-height: 0;
        cursor: pointer;
    }
    .search_tt,
    .typology_option {
        left: -$gutter;
        right: -$gutter;
        top: calc(100% + 8px);
    }
    .triptype {
        margin: 0 0 1rem;
    }
}

// ++ Dropdown list of options
.search_tt,
.typology_option {
    position: absolute;
    left: 0;
    top: 97px;
    background: #fff;
    z-index: 4;
}
.search_tt_inner,
.typology_option {
    @include container-wrap;
    padding: 44px 24px;
}
.search_tt_inner {
    position: relative;
    box-sizing: border-box;
    padding: 44px $gutter 20px;
    max-height: calc(100vh - #{$main-header-mobile-height + 72px}); // check it in mobile device not in browser simulation
    overflow: auto;
}
.search_tt_title {
    @include iconfont($pbicon-plane-right);
    @include font-size($f-size);
    margin: 0 0 1rem;
    &::before {
        @include font-size(24px);
        margin-right: 2px;
        color: $c-color1;
        vertical-align: middle;
    }
}
.search_tt_title_trip-type {
    font-weight: 600;
}
.search_tt_menu_scroll {
    @include custom-scroll;
    overflow-y: auto;
}
.search_tt_menu {
    ul {
        a {
            color: $c-text;
            text-decoration: none;
            &:hover {
                color: $c-link;
                text-decoration: underline;
            }
        }
    }
}
.search_tt_menu_list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 4px 48px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden; //## ie fix to break-inside
    break-inside: avoid-column;
    ul {
        order: -1;
    }
    .code {
        position: absolute;
        left: 0;
        top: 0;
    }
    .city {
        margin: 0 .25em 0 0;
        font-weight: 600;
    }
}
.search_tt_menu_list_title {
    display: inline;
}
// visible in overlay 
.overlay-in {
    .multiple-panel,
    .search_tt,
    .typology_option {
            z-index: $searchflight-modal-active;
    }
}
@media #{$mobile-sm} { // >=480px
    .searchflight {
        .inner {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
        }
        .route {
            flex-basis: 100%;
        }
        .dates {
            position: static;
            margin-right: 10px;
            flex-basis: calc(50% - 10px);
            .search_tt {
                top: 116px;
            }
        }
        .typology {
            flex-basis: 50%;
        }
        .typology_option {
            position: absolute;
            width: 420px;
            left: auto;
            right: 0;
            .search-fixed & {
                top: 60px;
            }
        }
        .typology_option_list {
            padding: 30px 53px;
        }
        .searchflight_button {
            flex-basis: 100%;
            text-align: center;
            .button {
                width: auto;
            }
        }

    }
    .search_tt_menu {
        column-count: 2;
        column-gap: 20px;
    }
}
@media #{$mobile} { // >= 640px
    .searchflight {
        .route {
            .value-selected {
                flex-direction: row;
                align-items: flex-end;
                .value-large {
                    line-height: 1;
                }
            }
        }
        // .searchflight_button {
        //     display: flex;
        //     justify-content: center;
        //     align-items: flex-end;
        // }
    }
}
@media #{$tablet-landscape} { // >=768px
    .search-fixed {
        .searchflight {
            padding-bottom: 0;
            .inner {
                > * {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .searchflight {
        .inner {
            flex-wrap: nowrap;
            margin: 0 $form-horizontal-gutter-desktop/-2;
            > * { // angular host div support
                flex-basis: auto;
                margin: 0 $form-horizontal-gutter-desktop/2 20px;
            }
        }
        .typology {
            margin: 0 $gutter/2 20px;
        }
        // .typology {
        //     flex: 1 0 15%;
        // }
        .route {
            position: static;
            flex-basis: calc(50% - #{$form-horizontal-gutter-desktop});
            flex-grow: 1;
            flex-shrink: 0;
        }
        .dates {
            flex-basis: 25%;
            .search_tt {
                top: 70px;
            }
        }
        .typology {
            .ui-dropdown {
                position: inherit;
            }
        }
        .typology_option {
            .search-fixed & {
                top: 60px;
            }
        }
        .typology_option_label {
            padding-right: 54px;
        }
        .searchflight_button {
            .button {
                min-width: auto;
            }
        }
        .search_tt {
            left: 0;
            right: 0;
        }
        .search_tt,
        .typology_option {
            top: 70px;
        }
    }
    .search_tt {
        left: 0;
        right: 0;
        top: 100%;
    }
    .search_tt_inner {
        height: auto;
    }
    .search_tt_menu_scroll {
        max-height: none;
        overflow-y: visible;
    }
    .search_tt_datepicker {
        .datepicker {
            width: calc(100% - 28px);
            margin: 0 14px;
        }
    }
}
@media #{$tablet-landscape} { // >=992px
    .searchflight {
        .inner {
            > * {
                margin: 0 $gutter-desktop/2 30px;
            }
        }
        .route,
        .dates {
            // modifiers
            .outbound {
                .ui-input-multiline_group_inner {
                    &::before { //## outbound input icon
                        $pbicon-size: $f-size-md-lg;
                        top: calculateEm(12px, $pbicon-size);
                        font-size: calculateEm($pbicon-size);
                    }
                }
                .ui-input-multiline_group_inner {
                    .ui-input {
                        padding: 0 .75rem 0 2.5rem;
                    }
                }
                button {
                    &.ui-input {
                        padding: 0 1.5rem 0 0;
                    }
                }
            }
            .inbound {
                .ui-input-multiline_group_inner {
                    .ui-input {
                        padding: 0 .75rem 0 1rem;
                    }
                    &::after {
                        width: 2px;
                        background-color: $c-secondary;
                    }
                }
                button {
                    &.ui-input {
                        padding: 0 0 0 1.5rem;
                    }
                }
            }
        }
        .route {
            position: relative;
        }
        .route {
            .search_tt {
                width: 880px;
            }
            .value-selected {
                flex-wrap: nowrap;
            }
            .value-large, .value-small {
                @include font-size($f-size-md);
            }
            .value-small {
                @include font-size($f-size-md);
                white-space: normal;
            }
        }
        .dates {
            flex: 1 0 calc(25% - #{$form-horizontal-gutter-desktop});
            .ui-input-multiline {
                flex-wrap: nowrap;
            }
            .ui-input-multiline_group {
                // width: auto;
                // &.outbound {
                //     flex-basis: auto;
                // }
                &.inbound {
                    flex-grow: 1;
                }
            }
            .day {
                @include font-size($f-size-xxlg);
                // min-width: 29px;
            }
        }
        .typology {
            .ui-dropdown::before {
                @include font-size($f-size-md-lg);
                top: calculateEm(12px, $f-size-md-lg);
            }
            .ui-dropdown_value {
                @include font-size($f-size-xxlg);
                white-space: normal;
            }
            .ui-input {
                &.is-open {
                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
        .searchflight_button {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .search_tt,
        .dates .search_tt,
        .typology_option {
            top: 97px;
            .search-fixed & {
                top: 75px;
            }
        }
    }
    .search_tt_inner {
        padding: 50px 50px 20px;
    }
    .search_tt_menu {
        column-count: 2;
    }
    .search_tt_datepicker {
        .datepicker {
            width: calc(100% - 96px);
            margin: 0 48px;
        }
    }
    .search_tt_menu_list {
        padding: 0 0 4px 56px;
    }
    .ui-input-multiline_group.is-focused,
    .typology .ui-input.is-open {
        &::after { //## arrows down when focused
            @include triangle('up', 24px, 12px, #fff);
            content: '';
            position: absolute;
            top: 85px;
            left: 40px;
            z-index: 5;
            .search-fixed & {
                top: 63px;
            }
        }
    }
}

//## search inputs
.ui-input-multiline_group {
    &:first-child {
        .ui-input-multiline_group_inner {
            &::after { display: none; }
        }
    }
}
.typology_option[aria-hidden='false'] .typology_option_list { 
    &::after { 
        top: 0; 
        left: 77%;
    }
    @media #{$until-tablet-landscape} {
        &::after { 
            left: 62%;
        }
    }
    @media #{$until-mobile-sm} {
        &::after { 
            left: 44px;
        }
    }
}
@media #{$mobile} {
    .search_tt_title {
        @include font-size($f-size-md);
    }
}
@media #{$desktop} {
    .searchflight {
        .triptype {
            margin: 0;
        }
    }
    .search_tt_title {
        z-index: -1;
        position: relative;
        top: -31px;
        margin: 0 0 6px;
    }
}