// main: ../styles.scss
//last modification 3:53 29/01/2018
// ****************************************
//  LAYOUT
//
// ****************************************
//  FOOTER
// ****************************************
//
// ****************************************

.footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $footer-color;
    background-position: center;
    background-color: $footer-background;
    .content {
        @extend .container-wrap;
        text-align: right;
        @include font-size($f-size-sm);
        line-height: 1.2;
        margin: 0 auto;
    }
}
.footer_logo {
    float: left;
    width: 132px;
    margin: 8px 0;
    &::before{ //## footer logo circle
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: calc((100% - 1228px) / 2 + 270px );
        min-width: 270px;
        height: 100%;
        background: rgba(255,255,255,0.1);
        border-bottom-right-radius: 500px;
        pointer-events: none;
    }
    .logo {
        display: block;
        img{
            width: 100%;
        }
    }
}
.footer_right{
    float: right;
}
.poweredby {
    display: block;
    padding-top: 18px;
    font-weight: 300;
    font-family: $font-sanserif;
}
.poweredby_logo {
    font-weight: 700;
    display: inline-block;
    width: 70px;
    .logo{
        img {
            margin-bottom: -2px;
        }
    }
}
@media #{$until-tablet-portrait}{
    .footer{
        display: none;
    }
}
