// main: ../styles.scss

// ****************************************
//  LAYOUT
//
// ****************************************
//  HEADER
// ****************************************
//
// ****************************************

//+header
.header {
    position: relative;
    background: $header-background;
}
.header_container,
.main-header_container {
    @extend .container-wrap;
    @include clearfix;
    @media #{$until-mobile} { // <=640px
        .overlay-in-header & {
            z-index: 10000;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
        }
    }
}
.header_logo {
    float: left;
    width: 146px;
    padding: 14px 0 24px;
    .logo {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
}
.header_right {
    float: right;
    padding-top: 24px;
}
.header_links_item {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding-right: 14px;
    font-family: $f-title;
    .ui-dropdown_list {
        left: auto;
        right: -1px;
    }
    &::after{ //## border menu
        position: absolute;
        top: 50%;
        right: 0;
        content: '';
        height: 16px;
        width: 1px;
        background-color: $c-border;
        transform: translateY(-50%);
    }
    &:last-child {
        margin-right: 0;
        padding-right: 0;
        &::after { //#border menu, it has not
            display: none;
        }
    }
    li a {
        &::before {
            display: none;
        }
    }
    // modifiers
    &.link-user {
        button { // dropdown trigger
            @include iconfont($icon-user, before); 
        }
    }
    &.link-language {
        button { // dropdown trigger
            @include iconfont($icon-language, before); 
        }
    }
    &.link-currency {
        button { // dropdown trigger
            @include iconfont($icon-currency, before);
        }
        ul {
            min-width: 228px;
        }
    }
    &.link-agent {
        .header_link {
            @include iconfont($icon-users, before);
            color: $c-secondary;
            &::before { //## icon prefixer
                @include font-size(20px);
                top: 3px;
                line-height: 16px;
                color: $c-primary;
            }
        }
        &::after { //## border menu
            height: 37px;
            background-color: $c-primary;
        }
    }
    @media #{$until-mobile} { // <=640px
        position: unset;
    }
}
.header_link {
    font-family: $f-title;
    color: $c-primary;
    font-weight: 600;
    @include font-size($f-size);
    line-height: 1.2;
    padding: 0;
    cursor: pointer;
    &::before { //#icon menu
        position: relative;
        top: 1px;
        @include font-size($f-size);
        color: $c-secondary;
        margin-right: 3px;
    }
}
.header_link_label {
    @include hide-visually;
}

@media #{$until-mobile} { // <= 640px
    .header_logo {
        width: 91px;
        padding-top: 12px;
    }
    .header_right {
        padding-top: 12px;
    }
    .header_links_item { 
        margin: 0 6px;
        padding: 0;
        &::after {
            display: none;
        }
        &.link-agent {
            position: unset;
            .ui-dropdown {
                position: unset;
            }
        }
    }
    .header_link {
        font-size: 0;
        &::before {
            display: inline-block;
            @include font-size(15px);
            margin-right: 0;
            color: $c-primary;
        }
    }
}
