// ********************
//  COMPONENTS
//
// ********************
//  HEADER CORPORATIVE
// ********************
//    + main submenu nav
//    + Corp inner pages like IBE Header
//
// *********************

// variables
$subnav-pad-left: 18px;
$main-header-ui-dropdown-width: 200px;

.main-header_wrap {
    z-index: $header-fixed-zindex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.main-header {
    position: relative;
    width: 100%;
    height: $main-header-height;
    background-color: #fff;
    transition: all .1s linear;
    @media #{$tablet-portrait} {
        .ui-dropdown-popover {
            top: 139%;
        }
        //## when scrolling down, header gets fixed
        &.fixed {
            height: $main-header-fixed-height-onscroll;
            border-bottom: 1px solid $gray-1;
            background-color: #fff;
            .main-header_logo {
                padding-top: 8px;
                .logo { height: 34px; }
            }
            .main-header_nav {
                padding: 7px 0;
            }
            .ui-dropdown-popover {
                top: 147%;
            }
        }
    }   
    @media #{$until-mobile} {
        .ui-dropdown-popover {
            top: 49px;
        }
    }
}
.main-header_container {
    @extend .container-wrap;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.main-header_logo {
    z-index: 3;
    position: relative;
    padding-top: 11px;
    transition: $header-transitions;
    .logo {
        display: block;
        height: 44px;
        transition: $header-transitions;
        img { height: 100%; }
    }
}
.main-header_nav {
    z-index: 3;
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    text-align: right;
    padding-top: 16px;
    transition: $header-transitions;
    .nav_item {
        display: inline-block;
        margin: 0;
    }
    .nav_item_link {
        display: block;
        color: $c-primary;
        @include font-size($f-size-md-sm);
        font-family: $f-title;
        text-decoration: none;
        padding: 6px 0;
        margin: 0 14px;
        cursor: pointer;
    }
    .ui-dropdown_list {
        min-width: $main-header-ui-dropdown-width;
        right: 0;
        left: inherit;        
    }
}
.main-header_nav-primary {
    z-index: 3;
    position: relative;
    &:after { //## red separator between navs
        content: '';
        position: absolute;
        right: 0;
        top: 7px;
        width: 2px;
        height: 20px;
        background: $c-secondary;
    }
    a {
        &[role='presentation'] {
            cursor: auto;
            &:hover {
                color: $c-color2;
            }
        }
    }
    .nav_item {        
        &:hover, &.show {
            .nav_item_link {               
                &:after { //## hover effect - underline
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 2px;    
                    position: absolute;
                    left: 50%;
                    bottom: 42px;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .nav_item_link {
        text-transform: uppercase;
    }
}
.main-header_nav-secondary {
    z-index: 3;
    position: relative;
    padding-left: 18px;
    margin-left: 7px;
    text-align: left;
    .nav_item {
        position: relative;
    }
    .nav_item:last-child {
        .nav_item_link {
            margin-right: 0;
        }
    }
    .nav_item_link {
        margin: 0 7px;
    }
}


// + Corp inner pages like IBE Header
// -------
.fixed-header {
    .main-header {
        .main-header_logo {
            float: left;
            width: 167px;
            padding-top: 10px;
            .logo {
                display: block;
                height: auto;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .main-header_nav {
            height: 100%;
        }
        @media #{$tablet-portrait} { //## >= 768px
            //## when scrolling down, header gets fixed
            &.fixed {
                height: 60px;
                .main-header_nav {
                    padding-top: 14px;
                }
            }
        }
        @media #{$until-mobile} {
            .main-header_logo {
                width: 110px;
                padding-top: 11px;
            }
            .main-header_nav {
                padding-top: 0px;
            }
            .main-header_nav-secondary {
                padding-top: 5px;
                .icon {
                    font-size: 15px;
                }
                .nav_item {
                    &:last-child {
                        .nav_item_link {
                            margin-right: 0;
                        }
                    }
                    .nav_item_link {
                        margin-left: 6px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    .main-header_container,
    .main-header_nav {
        height: 60px;
    }
    .main-header_nav {
        box-sizing: border-box;
    }
}

// + Subnav
// -------
$subnav-pad-left: 18px;
.main-header_subnav {
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 50%;
    clear: both;
    width: 98%;
    min-width: 320px;
    text-align: left;
    line-height: 1.2;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 0 8px 0 rgba(#000,.27 );
    box-sizing: border-box;
    transform: translateX(-50%);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .14s ease-in-out, top .27s ease-in-out;
    &.open {
        top: 120%;
        max-height: 600px;
        opacity: 1;
        overflow: visible;
    }
    nav {
        padding: 12px;
        box-sizing: border-box;
    }
    &::before { //## space to make hover valid - REVIEW LATER
        content: '';
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        height: 30px;
        background-color: transparent;
    }
}
.subnav_item_n2,
.subnav_item_n3,
.subnav_item_n4 {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    text-decoration: none;
}
.subnav_item_n2 {
    @include font-size($f-size-md-sm);
    @include iconfont($icon-arrow-right);
    font-family: $f-title;
    font-weight: 600;
    text-transform: uppercase;
    color: $c-primary;
    margin-bottom: 2px;
    padding-left: $subnav-pad-left;
    &:hover {
        color: $c-link-hover;
    }
    &::before { //## subnav 2nivel arrow icon
        @include font-size($f-size-xs);
        position: absolute;
        left: 0;
        top: 4px;
        color: $c-secondary;
    }
}
.subnav_item_n3 {
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: $subnav-pad-left;
    & + ul { //## subnav n4 list
        margin-top: 10px;
    }
}
.subnav_item_n4 {
    margin: 0 0 10px $subnav-pad-left;
    padding-left: 12px;
    &::before {
        content: '»';
        position: absolute;
        left: 0;
        top: 0;
        color: $c-secondary;
        font-weight: 600; 
        line-height: 1;
    }
}
.main-header_subnav_inner {
    display: flex;
    padding: 14px;
}
.main-header_column_wapper {
    display: flex;
    align-items: flex-start;
    margin-top: 6px;
    transition: $header-transitions;
}
.main-header_column {
    flex-basis: 25%;
    flex-grow: 1;
    // modifiers
    &.large-column {
        flex-basis: 90%;
    }
    & .main-header_column { //## header_column within itself
        flex-basis: auto; //## IE10 support
    }
}

// [Responsive]
@media (min-width: 769px) { // >= 769px
    .main-header_nav-primary {
        .nav_item {
            &:hover, &.show {
                .nav_item_link {                    
                    padding-bottom: 50px;
                    position: relative;
                    &:after {
                        background-color: $c-secondary;
                    }
                }
                .main-header_subnav  {
                    z-index: 3; // fix Safari 12 (desktop) :hover mistake
                    left: 0;
                    top: 120%;
                    max-height: 600px;
                    opacity: 1;
                    overflow: visible;
                    max-height: 600px;
                }
            }
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .main-header_nav-primary {
        .nav_item {
            padding: 0 14px;
        }
    }
    .main-header_nav-secondary {
        margin-left: 0;
        .nav_item { margin: 0 }
    }
}
@media (min-width: 1100px) { // >= 1000px
    .main-header_subnav {
        width: 1100px;
        nav {
            flex: 1 1 calc(25% - 28px);
            min-width: calc(25% - 28px);
            ul {
                li {
                    flex-basis: 100%;
                }
            }
        }
    }
    .main-header_subnav_inner {
        flex-wrap: nowrap;
    }
}

// [responsive menu - when fixed at bottom]
@media #{$header-nav-breakpoint-collapsed} { // <= 768px
    $nav-height-mobile: 50px;
    //## unset some index values
    .main-header_wrap,
    .main-header_container,
    .main-header_nav {
        z-index: unset;
    }
    .main-header_wrap {
        position: absolute;
    }
    .main-header {
        height: $main-header-mobile-height;
    }
    .main-header_logo {
        padding-top: 7px;
        .logo {
            width: 91px;
            height: 32px;
            img {
                width: 100%;
            }
        }
    }

    //## primary navigation
    .main-header_nav-primary {
        z-index: $header-sticky-zindex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $nav-height-mobile;
        background-color: #fff;
        border-top: 1px solid $gray-3;
        &::after { display: none; }
        > ul {
            height: 100%;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
            justify-content: center;
        }
        a {
            &[role='presentation'] {
                cursor: pointer;
                &:hover {
                    color: $c-link-hover;
                }
            }
        }
        .nav_item {
            position: relative;
            display: flex;
            flex: 1 1 calc(100% / 3);
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:hover {
                .nav_item_link {
                    padding-bottom: 6px;
                }
            }
            &:first-child {
               &:before {
                   width: 0;
               }
            }
            &:before { //## fixed bottom menu - links separator line
                z-index: 3;
                position: absolute;
                left: 0;
                top: 50%;
                content: '';
                width: 1px;
                height: 16px;
                background-color: $c-border;
                transform: translateY(-50%);
            }
            &.active {
                .nav_item_link {
                    color: $c-secondary;
                    font-weight: 600;
                }                
            }
        }
        .nav_item_link {
            @include font-size($f-size-xs);
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0 10px !important; // WTF !!
            color: $c-primary;
            text-align: center;
            background-color: #fff;      
            z-index: 2;
        }
    }

    //## secondary navigation (settings)
    .main-header_nav-secondary {
        padding-right: 12px;
        padding-top: 6px;
        .nav_item_link,
        .nav_item:last-child .nav_item_link {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    //## subnav
    .main-header_subnav {
        z-index: 1;
        position: fixed;
        bottom: 1px;
        left: 0;
        width: 100%;
        padding: 14px 0;
        top: inherit;
        transform: inherit;
        padding: 0;
        max-height: calc(100vh - (#{$nav-height-mobile} + 1px));
        overflow: visible;
        opacity: 1;
        border-radius: 0;
        transition: all .3s ease-in-out;
        &[aria-hidden='true'] {
            bottom: -100%;
        }
        nav {
            position: relative;
            display: block;
            flex: none;
            width: 100%;
            padding: 0;
            border: solid $c-primary;
            border-width: 1px 0;
            margin: -1px 0;
            background: $gray-1;
            ul {
                @include custom-scroll(lighten);
                display: block;
                // max-height: 42vh;
                overflow-y: auto;
                padding: 0;
                background: #fff;
                transition: all .3s ease-in-out;
                -webkit-overflow-scrolling: touch;
                &[aria-hidden='true'], &.show {
                    max-height: 0;
                    overflow: hidden;
                }
                li {
                    width: 100%;
                    min-width: 100%;
                    flex-basis: auto;
                    margin: 0 !important;
                    padding: 0 !important;
                    border-bottom-width: 0;
                    border-top: 1px solid $gray-2;
                    &:before { //## arrow list icon
                        display: none;
                    }
                    &.collapsible {
                        border-top: 1px solid $gray-2;
                        border-bottom: 0;
                    }
               }
            }
        }
    }
    .main-header_subnav_inner {
        @include custom-scroll(lighten);
        position: relative;
        flex-wrap: wrap;
        max-height: calc(100vh - (#{$nav-height-mobile} + 1px));
        bottom: ($nav-height-mobile + 1px);
        padding: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    // .subnav_item_n2 {
    //     margin: 0;
    //     padding: 0;
    //     border: 0;
    //     &::before {
    //         content: none;
    //     }
    //     a {
    //         @include collapse-trigger($f-size, $c-primary, right);
    //         display: block;
    //         padding: 18px 14px;
    //         box-sizing: border-box;
    //         &::after {
    //             top: 20px;
    //             right: 14px;
    //         }
    //     }
    //     // modifiers
    //     &.as-link {
    //         a {
    //             &::after {
    //                 content: none;
    //             }
    //         }
    //     }
    // }
    .main-header_column_wapper {
        flex-wrap: wrap;
        margin-top: 0;
        overflow-y: hidden;
        nav {
            ul {
                li {
                    border-top: 1px solid $gray-2;
                    border-bottom-width: 0;
                }
            }
        }
    }
    .main-header_column {
        flex-basis: 100%;
        & & {
            flex-basis: 100%; //## IE10 support
        }
    }
    .subnav_item_n2,
    .subnav_item_n3, 
    .subnav_item_n4 {
        min-height: 38px;
        display: flex;
        align-items: center;
    }
    .subnav_item_n2,
    .subnav_item_n3 {
        &.collapsible {
            @include collapse-trigger(16px, $c-primary);
            display: flex;
            &::after {
                right: 14px;
                top: 10px;
            }
        }
        &.collapsed {
            & + ul, 
            & + .main-header_column_wapper {
                height: 0;
                opacity: 0;
                transition: $header-transitions;
            }
        }
    }
    .subnav_item_n2,
    .subnav_item_n4 {
        margin-bottom: 0;
    }
    .subnav_item_n2 {
        &::before {
            content: none;
        }
    }
    .subnav_item_n3 {
        margin-top: 0;
        background-color: #fff;
        border-bottom: 1px solid $gray-2;
    }
    .subnav_item_n4 {
        box-sizing: border-box;
        padding: 8px 0 8px 14px;
        &::before {
            top: 10px;
        }
    }
    .main-header_subnav_list {
        border-bottom: 1px solid $gray-2;
        .subnav_item_n3 {
            border-bottom-width: 0;
        }
    }
}

@media #{$until-mobile} { // <= 640px
    .overlay-in-header {
        .main-header_wrap {
            .main-header {
                &::before {
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
    .main-header_nav-secondary {
        position: static;
        .nav_item {
            position: static;
        }
    }
}