// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FOOTER
// ****************************************
//
//    + Navigation
//    + Social media
//    + Fly programs
//    + Copyright
//    + Languages
//
//    [Responsive]
//
// ****************************************
$footer-column-left: 32%;
$footer-column-right: calc(100% - #{$footer-column-left});
$mainfooter-nav-cols: 3;

.main-footer_content {
    @extend .container-wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-footer {
    width: 100%;
    padding: 34px 0;
    background-color: $mainfooter-background;
    @media #{$tablet-portrait} { // > 768px
        position: absolute;
        bottom: 0;
    }
}
.main-footer_logo {
    text-align: center;
    margin-bottom: 14px;
    .logo {
        display: inline-block;
        width: 180px;
    }
}

// + Navigation
// -------
.main-footer_nav {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 34px;
    .column {
        flex-basis: calc(100% / #{$mainfooter-nav-cols});
        padding-right: 24px;
        box-sizing: border-box;
    }
    ul {
        max-height: 0;
        overflow-y: hidden;
        transition: all .3s ease-in-out;
        &[aria-hidden='false'] {
            display: block;
            max-height: 50vh;
        }       
    }
    a {
        text-decoration: none;
        &:hover {
            color: $c-primary;
        }
    }
    li {
        margin: 2px 0;
        a:hover {
            text-decoration: underline;
        }
    }

    @media #{$mobile-sm} { //>= 480px
        ul {
            display: block;
            max-height: 71vh;
            overflow-y: hidden;
        }
        .main-footer_nav_title a {
            pointer-events: none;
        }
    }
}
.main-footer_nav_title {
    @extend .title-h3;
    display: block;
    color: $c-primary;
    text-transform: uppercase;
    a { color: $c-primary; }
}

// + Social media
// -------
.main-footer_socialmedia {
    text-align: center;
    .socialmedia_list {
        a,
        a::before { color: $c-primary; }
    }
}

// + Newsletter
// -----
.main-footer_newsletter {
    
}


// + Fly programs
// -------
.fly-programs {
    display: block;
    width: 100%;
    text-align: center;
    margin: 34px 0 54px;
}
.fly-programs_item {
    display: inline;
    vertical-align: middle;
    margin: 0 20px;
    a { text-decoration: none; }
    img {
        height: 38px;
    }
}


// + Copyright
// -------
.footer-copyright {
    width: 100%;
    .copyright,
    .ui-dropdown {
        display: inline-block;
    }
    .copyright {
        float: left;
    }
    .ui-dropdown {
        float: right;
        .nav_item_link {
            @include iconfont($icon-language);
            color: $c-color2;
            font-family: $font-name;
            font-weight: 600;
            cursor: pointer;
            &::before { //## transparent div to prevent easy hover submenu hiding
                position: relative;
                left: 0;
                top: 4px;
                padding-right: 8px;
                font-size: 1.3em;
                line-height: 0;
                cursor: pointer;
            }
        }
        .ui-dropdown_list {
            min-width: $main-header-ui-dropdown-width;
            top: auto;
            left: auto;
            bottom: calc(100% + 5px);
            width: 100%;
            right: 0;
        }
    }
    @media #{$until-tablet-landscape} { // <= 768px
        text-align: center;
        .copyright {
            width: 100%;
            text-align: center;
        }
        .ui-dropdown {
            float: none;
        }
    }
}
.copyright {
    margin-bottom: 14px;
    @include font-size($f-size);
    font-family: $font-name;
    font-weight: 600;
    text-align: center;
    color: $c-primary;
}


// + Languages
// -------
.main-footer_languages {
    width: 100%;
    font-family: $f-title;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 7px;
        a {
            color: $c-text;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


// [Responsive]
@media #{$tablet-portrait} { // >= 768px
    .main-footer_content {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        // align-items: end;
    }
    .fly-programs {
        grid-column: 2;
        grid-row: 3;
        text-align: left;
    }
    .copyright {
        text-align: left;
    }
    .main-footer_logo {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }
    .main-footer_socialmedia {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        margin-bottom: 10px;
    }
    .main-footer_newsletter {
        grid-column: 2;
        grid-row: 2;
    }
    .main-footer_bottom {
        @include container-wrap;
    }
    .main-footer_bottom_content {
        display: flex;
        align-items: center;
    }
    .main-footer_language-bar {
        margin-left: auto;
    }
}
