// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION OFFERS PRICES
//  TEMPLATE: TABLE LIST
//
// ********************
//
//
// **********************
.destinations-offers_pricelist {
	padding: 24px $gutter;
	.all_offers {
		padding-top: 20px;
		text-align: right;
		a {
			@include arrow-sufix;
			text-decoration: none;
		}
	}
}
@media #{$tablet-portrait} { // >= 768px
    .destinations-offers_pricelist {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 4% 10%;
		justify-content: center;
		box-sizing: border-box;
		.all_offers {
			margin-right: -7%;
		}
	}
}