// ****************************************
//  UTILS
//
// ****************************************
//  MIXINS
// ****************************************
//
//    imported mixins from globals/
//    + Title bar
//    + Collapse trigger (with arrow)
//    + Gradient Injector
//
// ****************************************

// + Title bar
// -------
@mixin title-bar($bgcolor) {
    background: $bgcolor;
    color: #fff;
    border-radius: #{$border-radius-large} 3px 3px 3px;
}

@mixin accessibility-outline-default() {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}


// + Collapse trigger (with arrow)
// -------
// @mixin collapse-trigger($size, $color, $pos:right) {
//     @include iconfont($icon-arrow-triangle-up,after);
//     position: relative;
//     display: inline-block;
//     padding-right: calc(#{$size} + 10px);
//     cursor: pointer;
//     &::after {
//         @include font-size($size);
//         position: absolute;
//         display: block;
//         right: 0;
//         top: 1px;
//         line-height: 1;
//         color: $color;
//         transition: $t-caret-collapse;
//     }
//     &.collapsed, // REVIEW
//     &[aria-expanded='false'] {
//         &::after {
//             transform: scaleY(-1);
//         }
//     }
// }

// + Gradient Injector
// -------
@mixin gradient-injector($z-index: '') {
    &::after { //## slider bottom gradient
        @if $z-index != '' {
            z-index: $z-index;
        }
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to bottom, rgba(#000,0) 0%,rgba(#000,.5) 100%);
    }
}