{% set bodyClass = "ibe-page manage-login-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Manage my booking'
    } %}
    {% set summary = {
        isEmptySummary: true
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    <p class="intro">Please provide the following information to retrieve your booking.</p>

    {# BOOKING RETRIEVE #}
    {% set bookingRetrieve = {
        formTypeClass: "booking-retrieve",
        buttonText: 'Retrieve booking',
        buttonUrl: 'BF-MMB_Home.html',
        data: {
            formGroups: [
                {            
                    isContainer: false,
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Booking Reference / PNR'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Last Name (Surname)'                                       
                                    }
                                }
                            ]
                        }                     
                    ]
                }
            ]
        }
    } %}
    {% include "partials/components/IBE/_booking-retrieve.njk" %}

    <!-- MMB ACTIONS INFORMATION -->
    <div class="mmb_actions-info">
        <p class="intro">Once you retrieve your flight details you can:</p>
        <ul class="list-icon">
            <li>
                <span class="icon icon-baggage-h"></span>
                Baggage
            </li>
            <li>
                <span class="icon icon-change-airplane"></span>
                Change flight
            </li>
            <li>
                <span class="icon icon-meal"></span>
                Meals
            </li>
            <li>
                <span class="icon icon-airplane-cancel"></span>
                Cancel flight
            </li>
            <li>
                <span class="icon icon-insurance-plane"></span>
                Insurance
            </li>
            <li>
                <span class="icon icon-passenger"></span>
                Guest details
            </li>
            <li>
                <span class="icon icon-seat-airplane"></span>
                Seat selection
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
