{% set headings = {
    examples: [
        [
            {
                type: 'h1',
                class: 'title-h1',
                text: 'Web Check-in'
            },
            {
                type: 'h2',
                class: 'title-h2',
                text: 'Detalles del Itinerario'
            }
        ],
        [
            {
                type: 'h1',
                class: 'title-h1',
                text: 'Web Check-in'
            },
            {
                type: 'p',
                text: 'El WEB CHECK-IN está permitido dentro las 72 horas hasta un máximo de 2 horas, <a href="#">visita este enlace</a> antes de la hora programada del vuelo.'
            }
        ]

    ]
} %}
{% include "pages/COMP-headings.njk" %}