{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set page_title = {
                    text: 'Interactive Map',
                    type: 'h1',
                    class: 'h1'
                } %}
                {% include "partials/components/_page_title.njk" %}
            </div>
        </div>
    </div>

    <div class="container-wrap">
        <div class="grid">
            <div class="grid-col col-12">
                {% set interactiveMap = {
                    destinationPreview: {
                        banner: {
                            image: 'buenos-aires'
                        },
                        caption: {
                            title: 'Bratislava',
                            subtitle: 'Slovakia'
                        },
                        description: 'A vibrant city with rich history and the best nightlife in Eastern Europe… <a href="#">More</a>',
                        barchart: {
                            legends: {
                                items: [
                                    {
                                        content: '<span class="date"><span class="date_month">February</span> <span class="date_year">2019</span></span>'
                                    },
                                    {
                                        content: '<span class="date"><span class="date_month">Marzo</span> <span class="date_year">2019</span></span>'
                                    }
                                ]
                            },
                            bars: {
                                items: [
                                    {
                                        percentage: '50%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">12</span><span class="date_week">Thu</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '70%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">13</span><span class="date_week">Fri</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '38%',
                                        message: '<span class="price_currency"><span class="price">20</span><span class="currency">' + SHARED.currency + '</span></span>',
                                        description: {
                                            content: '<span class="date"><span class="date_day">14</span><span class="date_week">Sat</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '100%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">15</span><span class="date_week">Sun</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '38%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">16</span><span class="date_week">Mon</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '90%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">17</span><span class="date_week">Tue</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '50%',
                                        isDisabled: true,
                                        description: {
                                            content: '<span class="date"><span class="date_day">18</span><span class="date_week">Wed</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '50%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">12</span><span class="date_week">Thu</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '70%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">13</span><span class="date_week">Fri</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '38%',
                                        isHighlight: true,
                                        description: {
                                            content: '<span class="date"><span class="date_day">14</span><span class="date_week">Sat</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '100%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">15</span><span class="date_week">Sun</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '38%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">16</span><span class="date_week">Mon</span></span>'
                                        }
                                    },
                                    {
                                        percentage: '90%',
                                        description: {
                                            content: '<span class="date"><span class="date_day">17</span><span class="date_week">Tue</span></span>'
                                        }
                                    }
                                ]
                            }
                        },
                        actionButton: {
                            text: 'Book flight'
                        }
                    },
                    destinationCards: {
                        items: [
                            {
                                city: 'Bratislava',
                                country: '',
                                image: 'buenos-aires-square',
                                date: {
                                    week: '',
                                    day: '12',
                                    month: 'Feb',
                                    year: '2019'
                                },
                                price: {
                                    value: '5'
                                }
                            },
                            {
                                city: 'Rome',
                                country: '',
                                image: 'buenos-aires-square',
                                date: {
                                    week: '',
                                    day: '22',
                                    month: 'Mar',
                                    year: '2019'
                                },
                                price: {
                                    value: '30'
                                }
                            },
                            {
                                city: 'Sochi',
                                country: '',
                                image: 'buenos-aires-square',
                                date: {
                                    week: '',
                                    day: '12',
                                    month: 'Ene',
                                    year: '2019'
                                },
                                price: {
                                    value: '7',
                                    decimals: '.99'
                                }
                            },
                            {
                                city: 'Bratislava',
                                country: '',
                                image: 'buenos-aires-square',
                                date: {
                                    week: '',
                                    day: '12',
                                    month: 'Feb',
                                    year: '2019'
                                },
                                price: {
                                    value: '5'
                                }
                            },
                            {
                                city: 'Rome',
                                country: '',
                                image: 'buenos-aires-square',
                                date: {
                                    week: '',
                                    day: '22',
                                    month: 'Mar',
                                    year: '2019'
                                },
                                price: {
                                    value: '30'
                                }
                            },
                            {
                                city: 'Sochi',
                                country: '',
                                image: 'buenos-aires-square',
                                date: {
                                    week: '',
                                    day: '12',
                                    month: 'Ene',
                                    year: '2019'
                                },
                                price: {
                                    value: '30',
                                    decimals: '.99'
                                }
                            }
                        ]
                    }
                } %}
                {% include "partials/components/IBE/interactive-map/_interactive-map.njk" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block component_jquery %}{% endblock %}