{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "home-page" %}
{# {% set isNavFixed = false %}  #}
{% set navFixed = {
    corporate: false
} %} 
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav',
    showAlertFlag: false
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {# MAIN FULL BANNER #}
            {% set banner = {
                showPagination: true,
                showPrevNext: true,
                items: [
                    {
                        bg: 'banner1',
                        title: 'Explore our destinations',
                        subtitle: 'Plan and book your flights with Newshore today',
                        button: 'Book',
                        buttonIntroCaption: true,
                        isActive: true,
                        alignLeft: true
                    },
                    {
                        bg: 'banner1',
                        title: 'Explore our destinations text 2',
                        subtitle: 'Plan and book your flights with Newshore today',
                        button: 'Book',
                        buttonIntroCaption: true,
                        isActive: false,
                        alignRight: true
                    },
                    {
                        bg: 'banner1',
                        title: 'Explore our destinations text 3',
                        subtitle: 'Plan and book your flights with Newshore today',
                        button: 'Book',
                        buttonIntroCaption: true,
                        isActive: false,
                        alignCenter: true
                    }
                ]
            } %}
            {% include "partials/corporative/_main-banner.njk" %}

            {# MULTIPANEL #}
            {% include "partials/corporative/_multiple-panel.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {# DESTINATIONS OFFERS #}
            {% include "partials/corporative/destinations-offers/_destinations-offers.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {# DEALS / OFFERS #}
            {% set mainOffers = {
                gridCols: "grid-col col-12 col-xs-4",
                offers: [
                    {
                        isOfferDeal: true,
                        icon: "airplane-right",
                        title: 'Rental cars',
                        caption: "Do you want a rental car waiting<br>for you at the airport?",
                        buttonUrl: "",
                        button: 'Book now'
                    },
                    {
                        isOfferDeal: true,
                        icon: "calendar",
                        title: 'Insurance',
                        caption: 'Add a travel protection so you can cancel or reschedule your trip',
                        buttonUrl: "",
                        button: 'Explore'
                    },
                    {
                        isOfferDeal: true,
                        icon: "pin",
                        title: 'Hotel offers',
                        caption: 'Find deals and book at great prices',
                        buttonUrl: "",
                        button: 'Chose now'
                    }
                ]
            } %}
            {% include "partials/corporative/_main-offers.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
