{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{# ----------------------------------------- #}

{% block content %}

<!-- ARTICLE CONTENT: ROW1 -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Lorem',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'ipsum dolor'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    
</div>

<!-- ARTICLE CONTENT: ROW2 -->
<!--#### custom grid: columns and grid variables ####-->

{# MAIN TITLE #}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                isCorporative: true,
                text: 'Todo sobre equipaje',
                type: 'h2',
                class: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 col-md-4 col-md-last">
            <!-- REPO - ASIDE -->
            <div class="container-wrap">
                <div class="grid grid-noBottom">
                    <div class="grid-col col-12">
                        <div class="context-box_aside">
                            <h3 class="context-box_aside_title">Contenidos</h3>
                            <ul class="context-list">
                                <li><a href="">Equipaje permitido</a></li>
                                <li><a href="">Elementos Prohibidos</a></li>
                                <li><a href="">Cargos por exceso de equipaje</a></li>
                                <li><a href="">Problemas con tu equipage</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-col col-12 col-md-8">
            {% set page_title = {
                isCorporative: true,
                text: 'Equipaje Permitido',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <p>Todo el equipaje que se transporta tanto en la bodega como en la cabina del avión es revisado en cada aeropuerto para la seguridad de todos los pasajeros.</p>
            <p>Está absolutamente prohibido el transporte de mercancías peligrosas tanto en la bodega como en la cabina del avión, ya que son artículos que pueden poner en riesgo la salud, la seguridad, la propiedad o el medio ambiente. Si no declaras estos artículos, atentas contra las regulaciones de la aviación civil.</p>

            <!-- REPO - TWO COLUMN -->
            {% set page_title = {
                isCorporative: true,
                text: 'Dimensiones y peso del equipaje',
                type: 'h4',
                class: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <div class="container-wrap">
                <div class="grid">
                    <div class="grid-col col-12 col-md-6">
                        <ul class="context-list secondary">
                            <li>Las dimensiones máximas deben ser: 30 cm x 27 cm x 20 cm (alto x largo x ancho); incluyendo los accesorios, las ruedas y el asa.</li>
                            <li>
                                El peso máximo del equipaje de mano es 5 Kilos.
                                <ul class="context-list primary">
                                    <li>Segundo nivel</li>
                                </ul>
                            </li>
                        </ul>
                        <ol class="context-list">
                            <li>Las dimensiones máximas deben ser: 30 cm x 27 cm x 20 cm (alto x largo x ancho); incluyendo los accesorios, las ruedas y el asa.</li>
                            <li>
                                El peso máximo del equipaje de mano es 5 Kilos.
                                <ol class="context-list-alpha">
                                    <li>Segundo nivel</li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                    <div class="grid-col col-12 col-md-6 col-lg-middle">
                        <p class="text-center"><img style="width: 97px" class="context-image" src="{{ project_assets_path }}imgs/cms-icons/baggage.svg" alt=""></p>
                    </div>
                </div>
            </div>
            
            {% set page_title = {
                isCorporative: true,
                text: 'Elementos prohibidos',
                type: 'h3',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% set page_title = {
                isCorporative: true,
                text: 'Elementos absolutamente prohibidos',
                type: 'h4',
                class: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <p>Está absolutamente prohibido el transporte de mercancías peligrosas tanto en la bodega como en la cabina del avión, ya que son artículos que pueden poner en riesgo la salud, la seguridad, la propiedad o el medio ambiente. Si no declaras estos artículos, atentas contra las regulaciones de la aviación civil.</p>
            {% set data = {
                isCorporative: true,
                title: {
                    text: 'Título de tabla'
                },
                thead: {
                    ths: [
                        { title: 'País' },
                        { title: 'Ciudad' },
                        { title: 'Teléfono' },
                        { title: 'email' }
                    ]
                },
                tbody: [
                    {
                        tds: [
                            { title: 'Pais', rowspan: '3' },
                            { title: 'Ciudad' },
                            { title: '999 999 999' },
                            { title: 'email@email.com' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: 'Ciudad' },
                            { title: '999 999 999' },
                            { title: 'email@email.com' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: 'Ciudad' },
                            { title: '999 999 999' },
                            { title: 'email@email.com' }
                        ]
                    },
                    {
                        tds: [
                            { title: 'País' },
                            { title: 'Ciudad' },
                            { title: '999 999 999' },
                            { title: 'email@email.com' }
                        ]
                    }
                ]
            } %}
            {% include "partials/ui-elements/_table-responsive.njk" %}

        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
