// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//
//    + Search flight
//        ++ Grid
//        ++ Typology
//        ++ Promocode
//        ++ Action button
//         [Responsive]
//
//    + Search flight typeahead
//
// ****************************************

/* @start: Search flight */

.searchflight {
	position: relative;
	background: $search-background;
	.inner {
		@include clearfix;
	}
	.ui-input-multiline {
		label {
			@extend .hide-visually;
		}
	}

	//## search flight elements
	.triptype,
	.typology,
	.currency,
	.promocode {
		.ui-input {
			height: 50px;
		}
	}

	// ++ Grid
	.route,.dates,
	.triptype,
	.typology,.currency,
	.promocode,
	.searchflight_button {
		margin-bottom: 14px;
		box-sizing: border-box;
	}
	.typology,
	.currency,
	.promocode,
	.searchflight_button {
		margin-bottom: 0;
	}
	.route {
		width: 50%;
		float: left;
	}
	.dates,
	.triptype,
	.typology,
	.currency,
	.promocode,
	.searchflight_button {
		float: left;
		width: calc(100% / 4);
		padding-left: 20px;
	}
	.typology {
		padding-left: 0;
		padding-right: 10px;
	}
	.currency {
		padding-right: 0;
		padding-left: 10px;
	}

	// ++ Typology
	.typology_option {
		@extend .ui-dropdown_list;
		width: 134%;
		font-family: $font-sanserif;
		padding-bottom: 0;
		max-height: none;
		overflow: visible;
	}
	.typology_option_list {
		padding: 0 14px;
	}
	.typology_option_item {
		margin: 14px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.ui-num-ud {
			float: right;
		}
		&:last-child {
			margin-bottom: 0;
		}
		@media #{$until-tablet-portrait} { // <=768px
			.ui-num-ud_input {
				min-width: 60px;
				width: 70px;
			}
		}
	}
	.typology_option_label,
	.typology_option_select {
		flex: 0 0  50%;
		max-width: 50%;
	}
	.typology_option_label {
		position: relative;
		font-weight: 500;
		color: $c-primary;
		line-height: 1;
		.label-small {
			font-weight: 400;
			color: $c-text;
			@include font-size($f-size-xs);
			white-space: nowrap;
		}
		.ui-tooltip_info {
			margin-left: 2px;
		}
	}
	.typology_option_button {
		padding: 20px 0;
		margin-top: 24px;
		background: $gray-1;
		.button {
			@extend .btn-light;
			display: block;
			min-width: 54%;
			margin: auto;
		}
	}

	// ++ Promocode
	.promocode_form {
		display: none;
	}
	.promocode_link {
		display: inline-block;
		margin-top: 15px;
		font-family: $font-sanserif;
		color: $c-text;
		text-decoration: underline;
		@include font-size($f-size);
	}

	// ++ Action button
	.searchflight_button {
		float: right;
		button {
			@extend .btn-action;
			width: 100%;
			height: 50px;
		}
	}

	&.multicity {
		.route {
			.ui-input-container + .ui-input-container,
			.multicity-input .ui-input-container {
				margin-top: 14px;
			}
		}
		.typology {
			clear: left;
		}
		@media #{$mobile} { // >= 640px
			.dates { //## reorganize dates for multicity
				.ui-input-container.has-error {
					.ui-input-multiline_group {
						border-color: $input-error-border;
					}
				}
				.ui-input-multiline {
					flex-direction: column;
					height: auto;
					flex-wrap: nowrap;
					border: 0;
					border-radius: 0;
					.ui-input-multiline_group {
						top: 0;
						float: none;
						width: 100%;
						height: 50px;
						border-radius: $border-radius $border-radius 0 0;
						border: solid $input-border-color;
						border-width: 1px 1px 2px 1px;
						border-bottom-color: $input-border-bottom-color;
						&:first-child {
							margin-bottom: 14px;
						}

						.ui-input-multiline_group_inner::after { //## dates separator bar
							display: none;
						}
						&.inbound {
							.ui-input-multiline_group_inner::before {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	// [Responsive]
	//## custom breakpoint for search
	$search-custom-bp: 1000px;
	//## search with 2 columns grid
	@media (max-width: $search-custom-bp) { // <=1000px
		.route,
		.dates,
		.triptype,
		.typology,
		.currency,
		.promocode {
			width: 50%;
			padding: 0;
			margin-bottom: 14px;
		}
		.dates,
		.typology,
		.promocode {
			padding-left: 5px;
		}
		.route,
		.triptype,
		.currency {
			padding-right: 5px;
		}
		.typology_option {
			width: 99.7%;
		}
		.dates {
			.search_tt {
				left: -102%;
				width: 202%;
			}
		}
		.searchflight_button {
			clear: both;
			float: none;
			width: 100%;
			text-align: center;
			margin: 0;
			button {
				max-width: 220px;
			}
		}
	}

	//## search with 1 columns grid
	@media #{$until-mobile} { // <=640px
		.route,.dates {
			float: none;
			width: 100%;
			padding: 0;
		}
		.route,
		.dates {
			.search_tt {
				left: 0;
				width: 100%;
			}
		}
		.route {
			.outbound {
				.ui-input-multiline_group_inner {
					padding-left: 12px;
					&::before { display: none; }
				}
			}
		}
		.dates {
			.outbound.ui-input-multiline_group,
			.inbound.ui-input-multiline_group {
				width: 50%;
			}
		}
	}
	@media #{$until-mobile-sm} { // <=480px
		.triptype,
		.typology,
		.currency,
		.promocode {
			width: 100%;
			padding: 0;
		}
		.promocode_link {
			margin: 10px 0;
		}
	}

	//## search with 3 columns grid and large gutter
	@media #{$desktop} { // >=1200px
		.route {
			width: 50%;
		}
		.dates,
		.promocode,
		.triptype,
		.searchflight_button {
			width: calc(100% / 4);
			padding-left: 30px;
		}
		.dates {
			.search_tt {
				left: -222%;
				width: 433%;
			}
		}
		.searchflight_button {
			float: right;
		}
	}
}

// ++ Route and Dates
.route .outbound,
.dates .outbound,
.multicity .dates .inbound {
	.ui-input-multiline_group_inner {
		padding-left: 42px;
		.ui-input {
			padding-left: 0;
		}
		&::before { //## icon inside input
			position: absolute;
			left: 6px;
			top: 10px;
			@include font-size($f-size-xlg);
			line-height: 1;
			color: $c-primary;
		}
	}
}
.route {
	.value-large,
	.value-small {
		@include ellipsis;
		display: block;
	}
	.outbound {
		.ui-input-multiline_group_inner {
			@include iconfont($icon-airplane-right,before);
		}
	}
	.search_tt {
		width: 202%;
	}
}
.dates {
	.value-selected {
		display: block;
		text-align: center;
	}
	.day,
	.month {
		@extend .value-large;
		display: inline-block;
		white-space: nowrap;
		text-transform: uppercase;
	}
	.week {
		@extend .value-small;
		display: block;
	}
	.outbound {
		&.ui-input-multiline_group {
			width: 55%;
		}
	}
	.inbound {
		&.ui-input-multiline_group {
			width: 45%;
		}
	}
	.search_tt {
		left: -207%;
		width: 411%;
	}
}
.dates .outbound,
.multicity .dates .inbound {
	.ui-input-multiline_group_inner {
		@include iconfont($icon-calendar-month,before);
	}
}

// ++ Dropdown list of options
.search_tt { //## search typeahead
	z-index: 4;
	position: relative;
	width: 100%;
	background: #fff;
}
.search_tt_inner {
	padding-top: 22px;
}
.search_tt_title {
	@extend .title-h3;
	color: $c-secondary;
}
.search_tt_menu_scroll {
	@include custom-scroll;
	max-height: 220px;
	overflow-y: auto;
}
.search_tt_menu {
	@include clearfix;
	font-family: $font-sanserif;
	padding: 10px 0;
	ul {
		li {
			margin: 4px 0;
		}
		a {
			color: $c-text;
			text-decoration: none;
			&:hover {
				color: $c-link;
				text-decoration: underline;
			}
		}
	}
}
.search_tt_menu_list {
	padding-bottom: 24px;
	box-sizing: border-box;
	break-inside: avoid-column;
	overflow: hidden; //## ie fix to break-inside
}
.search_tt_menu_list_title {
	font-weight: 700;
}
.search_tt_datepicker {
	.search_tt_title {
		margin-bottom: 36px;
	}
}
@media (min-width: 370px) { // >=370px
	.search_tt_menu {
		column-count: 2;
		column-gap: 20px;
	}
}
@media #{$tablet-portrait} { // >=768px
	.search_tt_menu_scroll {
		max-height: none;
		overflow-y: visible;
	}
	.search_tt_menu {
		padding-right: 24px;
		padding-left: 24px;
	}
	.search_tt_datepicker {
		.datepicker {
			width: calc(100% - 28px);
			margin: 0 14px;
		}
	}
}
@media #{$tablet-landscape} { // >=992px
	.search_tt_menu {
		column-count: 4;
	}
	.search_tt_datepicker {
		.datepicker {
			width: calc(100% - 96px);
			margin: 0 48px;
		}
	}
}

@media (max-width: 1000px) { //## grid collapse is different to tablet landscape collapse
	.searchflight {
		&.multicity {
			.triptype {
				clear: left;
			}
			.typology {
				clear: none;
			}
		}
	}
}
