// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  NEW SEARCH
// ****************************************
//
// ****************************************

.newsearch {
    padding: 24px;
    background: $search-background;
}
.newsearch_collapse {
    position: relative;
    top: -40px;
    box-shadow: 0 0 6px rgba(#000,.16);
}
