// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SEARCH RESULT
// ****************************************
//
// ****************************************

.searchresult {
    @include clearfix;
    // width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .titlebar {
        padding-right: 30px;
    }
    .title {
        text-transform: capitalize;
        .direction{
            text-transform: lowercase;
        }
    }
}
@media #{$summary-collapsed} {
    .newsearch_collapse {
        display: none !important;
        margin-bottom: 0;
    }
}
