{#
    DOCUMENTATION
    serviceResume = {
        VARIABLES
        "icon": "string",
        "desc": "string",
        "buttons": {
            "action": {
                "title": "string"
            }
        }
        MODIFIERS
    }
    EXAMPLE
    {% set "serviceResume" = {
        "icon": "equipaje_en_bodega",
        "desc": "Estos son los equipajes que elegiste <br>para cada pasajero",
        "buttons": {
            "action": {
                "text": "MODIFICAR EQUIPAJES"
            }
        }
    } %}
    {% include "partials/components/IBE/services/service-resume/_service-resume.njk" %}
#}

<div class="service-resume is-checked">
    <div class="service-resume_head">
        {% if serviceResume.icon | length %}
            <div class="service-resume_head-icon">
                    <span class="icon icon-{{serviceResume.icon}}"></span>
            </div>
        {% endif %}
    </div>
    <div class="service-resume_body">
        <div class="description">
            <p>{{ serviceResume.desc | safe }}</p>
        </div>
        <div class="content">
            Tabla
        </div>
    </div>
    <div class="service-resume_footer">
        {% if serviceResume.buttons | length %}
            {% set button = serviceResume.buttons %}
            {% if button.action %}
                <div class="service-resume_footer_buttons">
                    <{% if button.action.url | length %}a href="{{ button.action.url}}"{% elif button.action.modal | length %}button data-toggle="modal" data-target="#{{button.action.modal.id}}"{% else %}button{% endif %} class="btn-resume-action">
                        {{ button.action.text }}
                    </{% if button.action.url | length %}a{% else %}button{% endif %}>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
