// main: ../styles.scss

// ********************
//  SECTIONS
//
// ********************
//  HOME
// ********************
//
// *********************
.home-page {
    // ++ main header
    &.is-fixedheader {
        .main-header {
            @media #{$tablet-portrait} {
                border: none;
            }
        }
    }
    // ++ main banner
    .main-banner_caption {
        background: rgba($c-secondary,.76);
        .title {
            font-weight: 500;
        }
    }    
    @media #{$tablet-portrait} { // >= 768px
        .main-banner_caption {
            padding: 13px 90px 13px $gutter-sides;
        }
    }
    @media #{$tablet-landscape} { // >= 992px
        .main-banner_caption {   
            padding-left: $gutter-sides-desktop;
            &.align-right {
                padding-right: $gutter-sides-desktop;
            }
        }
    }
    @media (min-width: 1248px) {
        .main-banner_caption {  
            padding-left: calc((100% - 1200px) / 2);
            &.align-right {
                padding-right: calc((100% - 1200px) / 2);
            }
        }
    }
}


