// ********************
//  SECTIONS
//
// ********************
//  INVOICE
// ********************
//
// ********************

.invoice_table {
    margin-bottom: 60px;
    @media #{$tablet-landscape} { // >=992px
        margin-right: 7%;
        margin-left: 7%;
    }
}