// ********************
//  SECTIONS
//
// ********************
//  SITEMAP
// ********************
//
//  + sitemap 
//
// ********************


// + Variables
// -------
$sitemap-full-width: 100%;

// news list
.sitemap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -$gutter/2;
    > li {
        @extend .context-box_aside;
        flex-basis: auto;
        flex-grow: 1;
        box-sizing: border-box;
        margin: 0 $gutter/2 $gutter;
    }
    ul {
        @extend .context-list;
        li {
            &::before {
                color: $c-secondary;
            }
        }
    }
    h3 {
        @extend .context-box_aside_title;
    }
    @media #{$tablet-portrait} {
        margin: 0 -$gutter-desktop/2;
        > li {
            flex-basis: calc(100% / 3 - #{$gutter-desktop});
            flex-grow: 0;
            margin: 0 $gutter-desktop/2 $gutter-desktop;
        }
    }
}