// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  STANDBY PAGE
// ****************************************
//
//
// ****************************************

// ++ standby page
.standby-page {
    &.fixed-header {
        .page-wrap {
            padding-top: 0;
            .main-header {
                position: relative;
            }
        }
    }
    .context-h1 {
        color: $c-primary-dark;
    }
    .modal-body {
        .context-h1 {
            color: $c-primary;
        }
    }
    .main-header_wrap {
        position: relative;
    }
    .main-header {
        margin-bottom: 30px;
        height: 50px;
        @media #{$mobile} { // >=640px
            margin-bottom: 47px;
        }
    }
    .main-footer {
        padding: 21px 0;
        background-color: $c-primary-dark; 
        color: #fff;
    }
    .main-footer_bottom_content {
        .poweredby {
            border-color: #fff;
        }
    }
    .footer {
        display: block;
    }
    .context-box_aside {
        border: 1px solid $c-primary;
        background: transparent;
        ul {
            color: $c-primary-dark;
            li {
                padding-left: 36px;
                &+li {
                    margin-top: 15px;
                }
                p {
                    margin-bottom: 2px;
                }
                a {
                    text-decoration: underline;
                    word-break: break-all;

                }
                .icon {
                    width: auto;
                    height: auto;
                    @include font-size($f-size-lg);
                    color: $c-primary;
                }
            }
        }
    }
    .map-routes {
        @media #{$tablet-portrait} {  // >=768px
            flex-direction: row;
            align-items: center;
            .map-routes_image {
                flex-basis: 50%;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
        .introduction {
            @include font-size($f-size-md-sm);
        }
    }
    .socialmedia_list.flat {
        .socialmedia_link {
            &::before {
                color: #fff;
            }
        }
    }
    // .main-footer_language-bar {
    //     .ui-dropdown {
    //         .nav_item_link {
    //             &::before {
    //                 color: #fff;
    //             }
    //             color: #fff;
    //         }
    //     }
    // }
    @media #{$until-mobile} { // <=640px
        .content-wrap {
            padding-bottom: 60px;
        }
    }
}

.context-title {
    @extend .context-h1;
    display: block;
    @include font-size($f-size-h1-mobile);
    font-weight: 400;
    color: $c-primary-dark;
    .subtitle {
        color: $c-primary;
    }
    @media #{$mobile}{  // >=640px
        @include font-size($f-iconsize-xlg);
    }
}