//## calendar views links
.dayselector_options {
	display: none;
	z-index: 100;
	position: absolute;
	right: 0;
	top: -98px;
	li {
		a {
			@include font-size($f-size);
			display: table;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			vertical-align: middle;
			padding: 9px 14px 9px 50px;
			cursor: pointer;
			box-sizing: border-box;
			border-radius: 15px 2px 2px;
			background-color: #6d318f;
			.icon {
				position: absolute;
				top: 2px;
				left: 14px;
				color: $c-secondary;
				vertical-align: middle;
				@include font-size($f-size-lg);
				&::before { //## calendar font icon
					z-index: 2;
					position: relative;
				}
				&::after { //## calendar font icon white background
					z-index: 1;
					position: absolute;
					left: 4px;
					top: 14px;
					content: '';
					width: 20px;
					height: 15px;
					border-radius: $border-radius;
					background-color: #fff;
				}
			}
			.label {
				vertical-align: middle;
				font-weight: 600;
			}
			&:hover, &:focus, &:focus:hover { //## remove default text color declarations
				text-decoration: none;
				color: #fff;
			}
			&.link-weekcalendar {
				.icon {
					@include iconfont($icon-calendar,before);
				}
			}
			&.link-monthcalendar {
				.icon {
					@include iconfont($icon-calendar,before);
				}
			}
		}
	}
}