// main: ../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING COMMENTS
// ****************************************
//
// ****************************************
.comments {
    @include clearfix;
    textarea {
        margin-bottom: 20px;
    }
    .button {
        min-width: 200px;
    }
}
.comments_footer {
    text-align: center;
    @media #{$mobile} { // >= 640px
        text-align: right;
    }
}
.comments_list {
    margin: 22px 0 25px;
    counter-reset: item;
    li {
        &::before {
            content: counter(item) ". ";
            counter-increment: item;
            color: red;
            font-weight: 500;
        }
    }
}
.comment_date {
    font-weight: 600;
}
.comment {
    @include iconfont($icon-arrow-right);
    &::before {
        padding: 0 4px;
        color: $c-primary;
        @include font-size($f-size-sm);
    }
}
