// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Aside
//    + Main
//    + Promo
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************

// + Variables
// -------
$destination-guide-offers-horizontal-gutter: 30px;
$destination-guide-offers-vertical-gutter: $destination-guide-offers-horizontal-gutter;

.destination-guide_destinations {
	@include destinations-guide-offer;
	display: flex;
	flex-wrap: wrap;
	margin: 0 calculateRem($destination-guide-offers-horizontal-gutter / -2);
	ibe-destination-offer {
		margin: 0 calculateRem($destination-guide-offers-horizontal-gutter / 2) calculateRem($destination-guide-offers-vertical-gutter);
	}
	.destination-offer_body {
		height: calculateRem(180px);
	}
}
@media #{$tablet-portrait} {
	.destination-guide_destinations {
		ibe-destination-offer {
			flex-basis: calc(50% - #{$destination-guide-offers-horizontal-gutter});
		}
		.destination-offer_body {
			height: calculateRem(300px);
		}
		.destination-offer_caption {
			min-height: calculateRem(120px);
			padding: calculateRem(24px) calculateRem(24px) calculateRem(26px);
			.city {
				@include font-size($f-size-lg);
			}
		}
	}
}
