// ********************
//  COMPONENTS
//
// ********************
//  MAIN BANNER
// ****************************************
//
//    + Main banner
//    + Main banner indicators
//    + banner caption page corporative
//
// ****************************************

$main-banner-height: calculateRem(166px);
$main-banner-height-mobile-sm: calculateRem(220px);
$main-banner-height-desktop: calculateRem(400px);
$main-banner-button-sides-padding: 10px;
$main-banner-button-sides-padding-desktop: 30px;
$main-banner-caption-text-fontsize: 16px;

// + main banner
// -------
.main-banner {
	position: relative;
	overflow: hidden;
}
.main-banner_slider {
	position: relative;
	background-color: #000;
	
}
.main-banner_item {
	position: relative;
	display: none;
	height: $main-banner-height;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	&::before { //## slider bottom gradient
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba($c-primary-dark,.2);
	}
	&::after { //## banner inclined rectangle
		content: '';
		position: absolute;
		left: 0;
		top: -30%;
		height: 100%;
		max-height: 68%;
		width: 100%;
		background-color: rgba(#000, .4);
		transform: skew(0deg, -8deg);
		
	}
	&.active {
		display: block;
	}
	// modifiers
	.home-page & {
		&::after { //## banner inclined rectangle
			top: auto;
			bottom: -10%;
			transform: skew(4deg, 0deg)
		}
	}
	&.align-right {
		.main-banner_caption {
			z-index: 1;
			&::before {
				content: none;
			}
		}
		&::after { //## banner inclined rectangle
			content: '';
			position: absolute;
			bottom: -10%;
			left: 0;
			height: 100%;
			max-height: 60%;
			width: 100%;
			background-color: rgba(#000, .4);
			transform: skew(0deg, 4deg)
		}
	}
}
.main-banner_bg {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	img { width: 100%; }
}
.main-banner_container {
	@include container-wrap;
	z-index: 1;
	display: flex;
	height: 100%;
	align-items: flex-start;
	.home-page & {
		align-items: flex-end;
	}
}
.main-banner_caption {
	@include font-size($main-banner-caption-text-fontsize);
	z-index: 0; // 0 to prevent slash overlay inside multi panel
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	margin: calculateRem(12px) 0;
	font-family: $f-title;
	color: #fff;
	line-height: 1.2;
	p {
		margin: 0;
	}
	.title {
		grid-row: 1;
		grid-column: 1;
		display: block;
		margin: 0 0 .25em;
		color: $c-secondary;
		font-size: calculateEm($f-size);
		font-weight: 600;
		line-height: 1.3;
	}
	.subtitle{
		grid-row: 2;
	}
	.subtitle,
	.text {
		grid-column: 1;
		font-size: calculateEm($f-size);
	}
	.text {
		grid-row: 3;
	}
	.note {
		grid-row: 4;
		font-size: calculateEm($f-size-xs);
	}
	// modifiers
	.home-page & {

	}
}
.main-banner_button {
	grid-column: 2;
	grid-row: 1 / span 4; // -1 to span all available cells
	min-width: auto;
	margin: auto 0 0;
	padding: 0 0 0 1rem;
	font-size: calculateEm($f-size-sm);
	color: #fff;
	font-weight: 400;
	text-transform: none;
	border-width: 0;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

// + main banner inner pages
.main-banner_innerpages {
	.main-banner_item {
		height: 425px;
	}
	.main-banner_controls {
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 70px;
	}
	.slide-control {
		display: block;
	}
}

// + banner controls
// -------
.main-banner_pager {
	display: none;
}
$main-banner_pager-item-size: 10px;
.main-banner_pager_item {
	display: inline-block;
	width: $main-banner_pager-item-size;
	height: $main-banner_pager-item-size;
	margin: 0 4px;
	background-color: #fff;
	border-radius: 100%;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&.active {
		background-color: $c-secondary;
	}
}

.slide-control {
	z-index: 44;
	display: none;
	width: 7%;
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	cursor: pointer;
	&:focus {
		outline-offset: -3px;
	}
	&.left {
		left: 0;
		.icon {
			right: 0;
		}
	}
	&.right {
		right: 0;
		.icon {
			left: 0;
		}
	}
	.icon {
		@include font-size($f-size-super);
		color: $c-secondary;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media #{$mobile-sm} { // >=480px
	.main-banner_item {
		height: $main-banner-height-mobile-sm;
	}
}
@media #{$tablet-portrait} { // >= 768px
	.main-banner_item {
		height: $main-banner-height-desktop;
		&::after {
			content: none;
		}
		// modifiers
		&.align-center {
			text-align: right;
			.main-banner_caption {
				text-align: center;
			}
		}
		&.align-right {
			text-align: right;
			&::after {
				content: '';
				left: auto;
				right: calculateRem(-100px);
				top: 0;
				bottom: auto;
				max-height: none;
				max-width: 600px;
				transform: skew(-25deg);
			}
			.main-banner_caption {
				margin-left: auto;
				text-align: right;
			}
		}
	}
	.main-banner_container {
		height: 100%;
		.home-page & {
			align-items: flex-start;
		}
	}
	.main-banner_caption {
		position: relative;
		display: block;
		width: calculateRem(384px);
		margin: calculateRem(38px) 0 0;
		&::before {
			content:'';
			z-index: -1;
			position:absolute;
			top: 0;
			left: 0;
			width: 1000%;
			height: 300%;
			background-color: rgba(0, 0, 0, 0.4);
			transform-origin: 0 100%;
			transform: rotate(-20deg) translate(-50%, -45%);
		}
		.title {
			font-size: calculateEm($f-size-super);
			font-weight: 600;
			line-height: 1.3;
		}
		.subtitle {
			.price_currency {
				@include font-size(36px); // Not use doble en units, Safari not support
			}
		}
		.subtitle,
		.text {
			font-size: calculateEm($f-size-md);
		}
		.note {
			font-size: calculateEm($f-size-xs);
		}
		// modifiers
		.home-page & {
			.subtitle {
				font-weight: 600;
				.price_currency {
					@include font-size($f-size-md); // Not use doble en units, Safari not support
				}
			}
			.subtitle,
			.text {
				font-size: calculateEm($f-size-lg);
			}
		}
	}
	.main-banner_button {
		@include font-size($f-size);
		@include btn-inverse;
		margin-top: calculateRem(24px);
		min-width: 100px;
		padding: calculateRem(4px) calculateRem($main-banner-button-sides-padding-desktop) calculateRem(3px);
		border-width: 2px;
		font-weight: 700;
		&::before {
			content: '';
		}
	}
	.main-banner_controls {
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		max-width: $container-max-width-px + $gutter-sides-desktop * 2;
		transform: translateX(-50%);
	}
	.main-banner_pager {
		position: absolute;
		display: block;
		right: $gutter-sides;
		bottom: calculateRem(84px);
	}
}
@media #{$tablet-landscape} { // >= 992px
	.main-banner_pager {
		right: $gutter-sides-desktop;
	}
}
@media #{$desktop} { // >= 1200px
	.main-banner_item {
		&.align-right {
			&::after {
				width: 50%;
				max-width: none;
			}
		}
	}
}
