// ********************
//  COMPONENTS
//
// ********************
//  NEWSLETTER
//
// + Newsletter component
// + Newsletter subscribe page
//
// ****************************************
// + Newsletter component
// -------

// variables
$newsletter-inputs-height: 50px;

.newsletter {
    box-sizing: border-box;
    height: 100%;
    margin: 0 (-$gutter-sides);
    padding: calculateRem(30px) calculateRem(30px) calculateRem(43px);
    background-color: $c-primary;
}
.newsletter_form_wrap {
    align-self: flex-end;
    display: flex;
	min-height: calculateRem(60px);
	margin-bottom: calculateRem(12px);
    .ui-form_input-button {
        flex-grow: 1;
        justify-content: center;
		margin: 0;
    }
    .ui-form_group,
    .ui-form_input-buttons {
        margin-top: calculateRem(10px);
        margin-bottom: calculateRem(10px);
    }
    .ui-form_input-buttons {
        flex: 0 1 auto;
		.button {
            min-width: auto;
			color: $c-color3;
			font-weight: 600;
			border-radius: 0;
        }
        .ui-form_group {
            flex-basis: calculateRem(320px);
        }
	}
    .ui-input-container {
        padding-top: 0;
        height: 100%;
    }
    .ui-label {
        @extend .hide-visually;
	}
	.ui-input {
        border: 0;
        height: calculateRem($newsletter-inputs-height);
	}
}
.newsletter_form_button {
    @extend .btn-action;
    padding-top: calculateRem(15px);
    padding-bottom: calculateRem(15px);
    .ui-form_input-button .ui-form_input-buttons & {
        width: 100%;
    }
}

.newsletter_form_title {
    margin: 0 0 calculateRem(16px);
    .title {
        @include font-size(34px);
        color: $c-secondary;
        font-weight: 600;
        line-height: 1.3;
    }
}

.newsletter_form_intro {
    color: #fff;
	margin-bottom: calculateRem(30px);
}

.newsletter_note {
    @include font-size($f-size-sm);
    color: #fff;
	a {
        text-decoration: underline;
        color: #fff;
        &:hover {
            color: $c-secondary;
        }
	}
}

// [Resposnive]
@media #{$mobile} { // >= 640px
    .newsletter {
        margin: 0;
    }
    .newsletter_form_wrap {
        background-color: #fff;
        .ui-input {
            height: calculateRem(40px);
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .newsletter {
        .col-10 &,
        .col-11 &,
        .col-12 & {
            padding: calculateRem(30px) calculateRem(30px) calculateRem(23px);
        }
    }
    .newsletter_form { // set at two columns when col container has size 10 to 12
        $newsletter-form-gutter: calculateRem(30px + $gl-gutter);
        // context modifiers
        [class$='10'] &,
        [class$='11'] &,
        [class$='12'] & {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .newsletter_form_title,
            .newsletter_form_intro {
                padding: 0 $newsletter-form-gutter 0 0;
            }
            .newsletter_form_title {
                grid-row: 1 / span 2;
                grid-column: 1;
                margin: 0;
            }
            .newsletter_form_intro {
                grid-row: 3 / span 2;
                grid-column: 1;
                display: flex;
                align-items: flex-end;
                margin: 0;
                padding: calculateRem(16px) 0 0;
            }
            .newsletter_form_wrap {
                grid-row: 2 / span 2;
                grid-column: 2;
                // display: flex;
                // align-items: flex-end;
                margin: 0 0 0 $newsletter-form-gutter;
            }
            .ui-form_input-button {
                // height: calculateRem(60px);
            }
            .newsletter_note {
                grid-row: 4;
                grid-column: 2;
                padding: calculateRem(12px) 0 0 $newsletter-form-gutter;
            }
        }
    }
    .newsletter_form_button {
        padding-top: calculateRem(10px);
        padding-bottom: calculateRem(10px);
    }
}
