// ********************
//  COMPONENTS
//
// ********************
//  NEWS DETAIL
//
// + 
// + 
//
// ****************************************
// + 
// -------

// + variables
$news-detail-info-width: 200px;
$news-detail-content-width: 750px;

// + news detail
.news-detail {
    max-width: calculateRem($news-detail-info-width + $news-detail-content-width);
    margin: 0 0 calculateRem(40px);
}
// + header
.news-detail_header {
    margin: 0 0 calculateRem(20px);
}
.news-detail_header_title_text {
    @extend .context-h1;
}
.news-detail_header_subtitle_text {
    @extend .context-h2;
}
// + info
.news-detail_info {
    grid-row: 2;
    grid-column: 1;
    margin: 0 0 calculateRem(16px);
    padding: 0 calculateRem(30px) 0 0;
    font-weight: 600;
    color: $c-primary;
}
// + content
.news-detail_content {
    grid-row: 2;
    grid-column: 2;
}
// + action
.news-detail_action {
    grid-row: 3;
    grid-column: 1 / span 2;
    text-align: center;
}
.news-detail_action_return_button {
    @include btn-primary;
}
@media #{$tablet-portrait} {
    // + news detail
    .news-detail {
        display: grid;
        grid-template-columns: calculateRem($news-detail-info-width) 1fr;
        margin: 0 0 calculateRem(90px);
    }
    // + header
    .news-detail_header {
        grid-row: 1;
        grid-column: 1 / span 2;
        margin: 0 0 calculateRem(40px);
    }
    // + action
    .news-detail_action {
        text-align: right;
    }
}