// main: ../../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  OFFERS
// ********************
//
// ********************

// variables
$offer-padding: $gutter-sides;
$offer-padding-desktop: 6%;

//## offer component
.offer {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	margin: 0 (-$gutter-sides);
	padding: 0 0 calculateRem(34px);
	background-color: #fff;
	.show-more_link {
		@include arrow-sufix;
		position: absolute;
		right: $offer-padding;
		bottom: calculateRem(8px);
		// margin: calculateRem(10px) calculateRem($offer-padding) 0 0;

		&:hover {
			color: $c-primary-dark;
			&::before {
				color: $c-primary-dark;
			}
		}
	}
	&[role='link'] {
		cursor: pointer; 
		&:focus {
			@include accessibility-outline;
		}
	}
}
.offer_image {
	position: relative;
	height: calculateRem(188px);
	overflow: hidden;
}
.offer_image_bg {
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
	img {
		width: 100%;
	}
}
.offer_title,
.offer_caption {
	flex-shrink: 0; // IE11 Support
} 
.offer_title {
	@include font-size($f-size-lg);
	color: $c-primary;
	margin: calculateRem(10px) calculateRem($offer-padding) 0;
	font-weight: 600;
	line-height: 1.1;
	word-break: break-word;
}
.offer_caption {
	margin: calculateRem(6px) calculateRem($offer-padding) 0;
	color: $c-text;
	line-height: 1.4;
}

// [Responsive]
@media #{$mobile} { // >= 640px
	.offer {
		margin: 0;
	}
}
@media #{$tablet-portrait} {
	.offer {
		@include card-hover;
		padding: 0 0 calculateRem(38px);
		.show-more_link {
			right: $gutter-sides-desktop;
			bottom: calculateRem(8px);
		}
	}
	.offer_title {
		@include font-size($f-size-xlg);
		margin: calculateRem(13px) $offer-padding-desktop calculateRem(10px);
	}
	.offer_caption {
		font-weight: 600;
		margin: 0 $offer-padding-desktop calculateRem(6px);
	}
}
