// main: ../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  CONTACT DATA
// ********************
//
//
// ********************

.contact_data {
    @include clearfix;
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid $c-secondary;
    .container {
        @extend .form;
        @extend .columns-3;
    }

    .container.checkboxes {
        .ui-form_group {
            margin-bottom: 8px;
        }
    }
    // .ui-form_group {
    //     .ui-input-container{
    //         & + .ui-checkbox{
    //             margin: 20px 0 0;
    //         }
    //     }
    // }
    .ui-checkbox-inline {
        margin-bottom: 8px;
    }
    .required-text{
        @include font-size($f-size-xs);
    }

    // modifiers
    &.no-border {
        border-bottom: none;
    }

    // [Responsive]
    @media #{$until-mobile} { // <= 640px
        // .ui-form_group--mobile {
        //     width: calc(100% - 40px);
        // }
        .title-h3 {
            margin-top: 44px;
        }
    }
    // @media #{$until-mobile-sm} { // <= 480px
    //     .ui-form_group--mobile {
    //         float: none;
    //         width: 100%;
    //     }
    // }
    // @media #{$mobile-sm} { // >= 480px
    //     .container {
    //         @include grid-collapse();
    //     }
    //     .ui-form_group {
    //         @include grid-column(6);
    //         &.full {
    //             @include grid-column(12);
    //         }
    //     }
    // }
    // @media #{$tablet-landscape} { // >= 768px
    //     .container {
    //         @include grid-collapse($gutter-md);
    //     }
    //     .ui-form_group {
    //         @include grid-column(4, $gutter-md);
    //         &.full {
    //             @include grid-column(12,$gutter-md);
    //         }
    //     }
    // }
}
