// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAX (PASSENGER) SELECTOR
// ****************************************
//
//    + Status: notassigned, selected, assigned, current
//
// ****************************************

.pax-selector {
    @include custom-scroll(lighten);
    @include clearfix;
    padding: 20px 0;
    border-top: 2px solid $c-border;
}
.pax-selector_item {
    position: relative;
}
.pax-selector_pax {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 29px;
    line-height: 1.2;
    margin-bottom: 6px;
    &.selected {
        color: $c-secondary;
        .pax-name {
            color: $c-secondary;
        }
    }
    $pax-seat-width: 100px;
    $pax-name-width: calc(100% - #{$pax-seat-width} - 42px);
    .pax-name,
    .pax-seat {
        display: flex;
        align-items: center;
        min-height: 25px;
    }
    .pax-name {
        @include iconfont($icon-user,before);
        flex: 1 1 $pax-name-width;
        padding-left: 28px;
        padding-right: 14px;
        text-align: left;
        cursor: pointer;
        color: $c-color2;
        &::before { //## pax icon
            position: absolute;
            left: 0;
            top: -1px;
            @include font-size($f-size-md);
            color: $c-primary;
        }
        &.infant {
            @include iconfont($icon-user_infant,before);
        }
    }
    .pax-seat {
        flex: 1 1 $pax-seat-width;
        width: $pax-seat-width;
        max-width: $pax-seat-width;
        white-space: nowrap;
        font-weight: 600;
        margin-left: auto;
    }
    .pax-seat_reset {
        @include iconfont($icon-circle-remove,before);
        position: relative;
        top: 1px;
        flex: 0 0 auto;
        margin-left: auto;
        @include font-size($f-size-md);
        color: $gray-3;
        text-decoration: none;
        padding: 0 4px;
        &:hover {
            color: $c-primary;
        }
    }
}
@mixin paxselector-reponsive {
    .pax-selector {
        padding: 14px 0;
    }
    .pax-selector {
        display: flex;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .pax-selector_item {
        flex: 0 0 auto;
        margin-right: 14px;
        padding-right: 14px;
        border-right: 1px solid $c-border;
        &:last-of-type {
            border: none;
        }
    }
    .pax-selector_pax {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0;
        .pax-name {
            position: relative;
            flex: 0 0 auto;
        }
        .pax-seat {
            flex: 0 0 auto;
            width: auto;
        }
        .pax-seat_reset {
            margin-left: 7px;
        }
    }
}
