// ********************
//  IBE COMPONENT
//
// ********************
//  PASSENGER DATA
// ********************
//
//
// ********************

.passenger_data {
	@include clearfix;
	position: relative;
	.container {
		@extend .form;
		@extend .columns-3;
		margin-top: 14px;
	}    
	// .ui-form_group {
	// 	margin-bottom: 20px;
	// }
	// .ui-checkbox-inline {
	// 	margin-bottom: 8px;
	// }
	// .required-text {
	// 	@include font-size($f-size-xs);
	// }

	// [Responsive]
	//## special responsive for ngtooltip component 
	//## as it is not responsive it need to have forced position for that
	@media (max-width: $bp-tablet-landscape-max) { // <= 991px 
		.ui-form_group {
			&:nth-child(even) {
				.tooltip {
					left: auto !important;
					right: 0;
					.arrow {
						left: auto !important;
						right: 6px !important;
					}
				}
			}
		}
	}
	@media (max-width: 579px) { // <= 579px 
		.ui-form_group {
			.tooltip {
				left: auto !important;
				right: 0;
				.arrow {
					left: auto !important;
					right: 6px !important;
				}
			}
		}
	}
}
.passenger_data_title {
	@extend .title-h2;
	@include handling-long-words;
	margin-bottom: 20px;
	+ .intro {
		margin-top: 0;
	}
}
.passenger_data_subtitle {
	@extend .title-h3;
	padding-top: 24px;
	margin: 0;
}
.passenger_data_block {
	@include clearfix; 
	margin-bottom: 36px;
}
