{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page billing-home-page" %}
{% set page_title = {
    text: 'Descargue su e-ticket/Factura',
    type: 'h1',
    class: 'h1'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# PAGE TITLE #}
    {% include "partials/components/_page_title.njk" %}   

    {# INVOICE LOGIN FORM #}
    {% set bookingRetrieve = {
        formTypeClass: "booking-retrieve",
        buttonText: 'Empezar busqueda',
        buttonUrl: '#',
        data: {
            formGroups: [
                {            
                    isContainer: false,
                    elements: [
                        {
                            elementsGroup: [
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Booking Reference / PNR'
                                    }
                                },
                                {
                                    type: 'inputForm',
                                    element: {
                                        label: 'Last Name (Surname)'                                       
                                    }
                                }
                            ]
                        }                     
                    ]
                }
            ]
        }
    } %}
    {% include "partials/components/IBE/_booking-retrieve.njk" %}

    <h2 class="title-h2">Resultados:</h2>
    {% set tableData = {
        caption: "Listado e-ticket/Factura",
        thead: {
            ths: [
                    { title: 'Nombre' },
                    { title: 'Código' },
                    { title: 'Número e-Ticket' },
                    { title: 'Factura / e-ticket' }
                ]
        },
        tbody: [
            {
                tds: [
                    { title: 'Perez Maria Celia'},
                    { title: 'JIPOYM' },
                    { title: '27898989' },
                    { title: '<a href="" class="iconlink-download"><span class="icon icon-size-sm"></span> <span class="text-underline">Descarga</span></a>' }
                ]
            },
            {
                tds: [
                    { title: 'Perez Maria Celia'},
                    { title: 'JIPOYM' },
                    { title: '27898989' },
                    { title: '<a href="" class="iconlink-download"><span class="icon icon-size-sm"></span> <span class="text-underline">Descarga</span></a>' }
                ]
            },
            {
                tds: [
                    { title: 'Perez Maria Celia'},
                    { title: 'JIPOYM' },
                    { title: '27898989' },
                    { title: '<a href="" class="iconlink-download"><span class="icon icon-size-sm"></span> <span class="text-underline">Descarga</span></a>' }
                ]
            }
        ]
    } %}  
    <div class="invoice_table">
        <table class="table-responsive"> 
            <caption class="hide-visually">{{ tableData.caption }}</caption>
            {# THEAD #}
            {% if tableData.thead | length %}
                <thead>
                    <tr>
                        {% for th in tableData.thead.ths %}
                        <th {% if th.colspan %} colspan="{{ th.colspan }}"{% endif %}>{{th.title}}</th> 
                        {% endfor %}
                    </tr>
                </thead>  
            {% endif %}
            <tbody>
                {% if tableData.tbody %}
                    {% for row in tableData.tbody %}
                        <tr>     
                            {% for td in row.tds %}
                            <{% if td.isTh %}th scope="row"{% else %}td{% endif %}{% if tableData.thead.ths[loop.index - 1].title  %} data-th="{{ tableData.thead.ths[loop.index - 1].title }}"{% endif %}>{{ td.title | safe}}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
        
    {# INVOICE LOGIN INFORMATION #}
    <h2 class="title-h2">Condiciones de uso:</h2>
    <ul class="list-style1">
        <li>La fecha de compra debe ser mayor al 1 de Octubre del 2016</li>
        <li>El servicio es válido para toda compra realizada por el sitio web de Amaszonas</li>
        <li>El servicio es valido para todo pago realizado por el BNB, BCP y puntos de pago presencial especificados en el siguiente apartado (ver medio de pago)</li>
    </ul>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
