{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page detail-page" %}
{% set BFstep2 = true %}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-payment.html'
} %}
{% set summary = { nextButtonUrl: 'BF-services_add.html' } %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# SEARCH RESULT AND SUMMARY #}
            {% include "partials/components/_combined_summary_bar.njk" %}

            {# NEW SEARCH #}
            <div class="newsearch_collapse collapse" id="collapseNewSearch">
                {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>

    {# PAGE TITLE #}
    {% set page_title = {
        text: 'Datos de Pasajeros',
        type: 'h1',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    {# PASSENGER DATA #}
    {% set passengers = passengersData.passengers %}
    {% set formElements = {
        formGroups: [
            {
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: 'combinedForm',
                                hasPrefix: true,
                                items: [
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Título*',
                                            id: 'titleSr1',
                                            options: [
                                                {
                                                    name: 'Sr.',
                                                    id: '',
                                                    hasValue: true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Nombre*',
                                            id: '',
                                            value: ""
                                        }
                                    }
                                ]
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Apellidos*',
                                    value: "García"
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Fecha de Nacimiento',
                                    id: 'drop-3',
                                    options: [
                                        {
                                            name: 'DD',
                                            id: 'dd',
                                            hasValue: true
                                        },
                                        {
                                            name: 'MM',
                                            id: 'mm'
                                        },
                                        {
                                            name: 'YYYY',
                                            id: 'yyyy'
                                        }
                                    ]
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Tipo de Documento*',
                                    id: 'drop-4',
                                    options: [
                                        {
                                            name: 'Pasaporte',
                                            id: 'select1'
                                        }
                                    ]    
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Nr. Documento*',
                                    value: "46789876R"
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'País de emisión*',
                                    id: 'drop-5',
                                    hasValue: true,
                                    options: [
                                        {
                                            name: 'Andorra',
                                            id: 'select1',
                                            hasValue: true
                                        }
                                    ]
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Nacionalidad*',
                                    id: 'drop-6',
                                    options: [
                                        {
                                            name: 'Andorra',
                                            id: 'select1'
                                        }
                                    ]
                                }
                            },
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Fecha de vencimiento del pasaporte',
                                    id: 'drop-7',
                                    options: [
                                        {
                                            name: 'DD',
                                            id: 'dd'
                                        },
                                        {
                                            name: 'MM',
                                            id: 'mm'
                                        },
                                        {
                                            name: 'YYYY',
                                            id: 'yyyy'
                                        }
                                    ]
                                }
                            }
                        ]
                    }        
                ]
            }
        ]
    } %}
    {% include "partials/components/IBE/_passenger_data.njk" %}
    
    {# CONTACT DATA #}
    {% set page_title = {
        text: 'Datos de comprador',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    {% set formElements = {  
        formGroups: [
            {                
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Nombre*',
                                    id: 'drop-prefix-1',
                                    value: 'Jorge',
                                    prefix: {
                                        label: 'Titulo*',
                                        id: 'drop-inner-prefix-1',
                                        options: [
                                            {
                                                name: 'Sr',
                                                id: 'select1',
                                                hasValue: true
                                            }
                                        ]
                                    }
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Apellidos*',
                                    value: 'García'
                                }
                            },
                            {
                                type: 'mobileForm',
                                label: 'Prefijo + Teléfono particular',
                                hasLabel: false,
                                id: "particularPhone1",
                                element: {
                                    label: 'Teléfono particular*',
                                    id: '',                              
                                    prefix: {
                                        label: 'Prefijo*',
                                        id: 'mobileprefix-1',
                                        options: [
                                            {
                                                name: '(57)',
                                                id: ''
                                            }
                                        ]
                                    }
                                }                               
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'E-mail*',
                                    type: 'email'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Confirmación E-mail*',
                                    type: 'email'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Dirección*'
                                }
                            },                  
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Nacionalidad*',
                                    id: 'drop-1',
                                    options: [
                                        {
                                            name: 'Selecciona un país',
                                            id: 'select1'
                                        }
                                    ]    
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Cedula Identidad/Pasaporte*',
                                    value: '46789876R'
                                }
                            }
                        ]
                    }                     
                ]
            }
        ]              
    } %}
    {% include "partials/components/IBE/_common/_contact_data.njk" %}

    {# BILLING DATA #}
    {% set page_title = {
        text: 'Datos de facturación',
        type: 'h2',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    {% set formElements = {  
        formGroups: [
            {                
                elements: [
                    {
                        elementsGroup: [                            
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Nombre para factura'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Nit',
                                    tooltip: "Mensaje tooltip"
                                }
                            }
                        ]
                    }                     
                ]
            }
        ]              
    } %}
    {% include "partials/components/IBE/_common/_billing_data.njk" %}

    {# CONDITIONS CHECKBOX #}
    {# {% set checkboxForm = {
        type: 'checkbox',
        label: 'Estoy de acuerdo con los <a href="#">términos y condiciones</a> de Uso',
        id: 'checkbox-1'
    } %}
    {% include "partials/ui-elements/_checkbox.njk" %} #}

    {# PAGE ACTIONS BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
