{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set isOWTrip = true %}
{% set paymentHasQR = false %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    <div class="payment-confirmation">

        {# QR PAYMENT #}
        {% if paymentHasQR | default(false) %}
            {% set page_title = {
                text: 'Waiting for payment',
                type: 'h2',
                class: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% include "partials/components/IBE/payment/_payment-QR.njk" %}
        {% endif %}

        {% set page_title = {
            text: 'Detalle de la compra',
            type: 'h1',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <div class="intro">
            <p>Tu transacción se ha realizado satisfactoriamente. Hemos enviado la confirmación de compra a tu email </p>
        </div>

        {# BOOKING REFERENCE #}       
        {% include "partials/components/IBE/_booking-reference.njk" %}
     

        {# ITINERARY #}
        {% set itinerary = {
            hasFootnote : false,
            footnote: 'Hong Kong International airport check-in counter open 3 hours prior to and close 1 hour before scheduled time of departure. For check-in counter opening times at other airports, please refer to hkexpress.com. We recommend that you be at the airport at least 90 minutes before departure time. Guests should take extra time into consideration in case of congestion to/from the airport.',
            hideActionLink: true,
            actionText: 'Imprimir Itinerario',
            actionIcon: 'printer'
        } %}
        {% include "partials/components/IBE/_common/_itinerary.njk" %}
                     
        {# PAYMENT DETAILS #}
        {% set dataTablePaymentDetails = { 
            hasTitle: true,
            tables: [
                {
                    caption: "Ticket number de pasajeros",
                    thead: {
                        ths: [
                            { title: 'Ticket number', colspan: 2 }               
                        ]
                    },
                    tbody: [
                        {
                            tds: [
                                { title: 'Carmen María Galeano', isTh: true },
                                { title: '44338876789976' }                  
                            ]
                        },
                        {
                            tds: [
                                { title: 'Santiago Pérez', isTh: true },
                                { title: '44338876789977' }
                            ]
                        },
                        {
                            tds: [
                                { title: 'Jorge García', isTh: true },
                                { title: '44338876789978' }
                            ]
                        }
                    ]
                }
            ]
        } %}
        {% set dataTableResume = {
            caption: "Datos de la transación",
            hasTitle: true,
            hasTotalHead: false,
            thead: {                        
            },
            tbody: [
                {
                    tds: [
                        { title: 'Número de pedido', isTh: true },
                        { title: '333802' }                  
                    ]
                },
                {
                    tds: [
                        { title: 'Titular de la tarjeta', isTh: true },
                        { title: 'Jorge García' }
                    ]
                },
                {
                    tds: [
                        { title: 'Número de tarjeta', isTh: true },
                        { title: '4263*******4677' }
                    ]
                },
                {
                    tds: [
                        { title: 'Código de autorización', isTh: true },
                        { title: '243203' }
                    ]
                },
                {
                    tds: [
                        { title: 'Importe de la transacción', isTh: true },
                        { title: 'PYG 2.330.000', hasStrong: true }
                    ]
                }
            ]
        } %}  
        <div class="payment_details_wrap">
            {% include "partials/components/IBE/payment/_payment-details.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
