{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page payment-page" %}
{% set BFstep3 = true %}
{% set page_title = {
    text: 'Pago',
    type: 'h1',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Pagar',
    actionButtonUrl: 'BF-payment_confirmation.html'
} %}
{# ----------------------------------------- #}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# SEARCH RESULT AND SUMMARY #}
            {% include "partials/components/_combined_summary_bar.njk" %}

            {# NEW SEARCH #}
            <div class="newsearch_collapse collapse" id="collapseNewSearch">
                {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            {# PAYMENT #}
            <div class="payment">
                {# PAGE TITLE #}
                {% include "partials/components/_page_title.njk" %}

                {# PAYMENT DATA #}
                {% set payment = {
                    hasPartials: false,
                    hasPaymentPolices: false,
                    simpleSummary: true,
                    policiesText: 'Estoy de acuerdo con los <a href="#">términos y condiciones</a> de Uso',
                    hasAgencyPaymentMethods: true
                } %}
                
                {# PAYMENT METHODS DATA #}
                {% set paymentMethod = {
                    mainTitle: [{
                        text: '',
                        type: 'h3'
                    }]
                } %}

                {# CREDIT CARD FORM DATA #}
                {% include "partials/components/IBE/payment/_payment.njk" %}
            </div>

            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
        {# <div class="grid-col col-12 col-md-6 col-xl-4">
            <div class="summary-aside">
                {% include "partials/components/IBE/summary/_summary.njk" %}
            </div>
        </div> #}
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{# <script>
    $(document).ready(function () {
        function resetSummary() {
            var W = $(window).width();
            if (W >= 768) {
                $('body').removeClass('summary-opened overlay-in');
            }
        }
        resetSummary();

        $(window).on('resize',function(){
            resetSummary();
        });
    });
</script> #}
{% endblock %}
