{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set BFstep2 = true %}
{% set page_title = {
    text: 'Selección de asiento',
    type: 'h2',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Next',
    actionButtonUrl: ''
} %}
{% set summary = { nextButtonUrl: '' } %}
{# ----------------------------------------- #}


{% block content %}
<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {# SEARCH RESULT AND SUMMARY #}
            {% include "partials/components/_combined_summary_bar.njk" %}

            {# NEW SEARCH #}
            <div class="newsearch_collapse collapse" id="collapseNewSearch">
                {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>
    <div class="grid grid">
        <div class="grid-col col-12">
            {# PAGE TITLE #}
            {% include "partials/components/_page_title.njk" %}

            {# SEAT SELECTION #}
            {% include "partials/components/IBE/seats/_seat_selector.njk" %}

            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>

    {# MODAL: SEATS LEGEND #}
    {% set modal = {
        class: 'seatmap_legend_modal',
        id: 'modal-seatmapLegend'
    } %}
    {% include "partials/components/IBE/modals/_modal_seats_information.njk" %}
</div>

{% set modalAlertStyle = true %}
    {% set modal = {
        id: 'seats-modal'
    } %}
    {% set modalAlert = {
        title: 'Modal error title',
        text: '<p>Zero amount is redeemable using this voucher for this booking.</p>
                <p>Please try another Voucher Reference or select an alternative payment option.</p>'
    } %}
{% set modalAlert = {
    title: 'Modal error title',
    text: '<p>Zero amount is redeemable using this voucher for this booking.</p>
            <p>Please try another Voucher Reference or select an alternative payment option.</p>'
} %}
{% include "partials/components/IBE/modals/_modal_alert.njk" %}
{% endblock %}

{% block component_jquery %}
    <script>
        $('#seats-modal').modal('show');
    </script>
{% endblock %}
