{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page check-in-seat" %}
{% set layout = 'checkin' %}
{% set BFstep3 = true %}
{% set bookingSteps = [
     {
        stepNumber: "1",
        stepLabel: "Itinerario",
        stepUrl: ""
    },
    {
        stepNumber: "2",
        stepLabel: "Pasajeros",
        stepUrl: ""
    },
    {
        stepNumber: "3",
        stepLabel: "Asientos",
        stepUrl: ""
    },
    {
        stepNumber: "4",
        stepLabel: "Tarjeta de embarque",
        stepUrl: ""
    }
] %}
{% set page_title = {
    text: 'Selección de asiento',
    type: 'h1',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Continua',
    actionButtonUrl: 'BF-WCI_pre-confirmation.html',
    secondaryButtonLabel: 'Cancelar',
    secondaryButtonUrl: 'BF-WCI_passenger_data.html'
} %}
{% set summary = { 
    nextButtonUrl: '',
    isEmptySummary: true
} %}
{% set segmentSelectorShowsDetailInfo = true %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>
    
    <div class="grid">
        <div class="grid-col col-12">
            {# PAGE TITLE #}
            {% include "partials/components/_page_title.njk" %}

            {# SEAT SELECTION #}
            {% set passengers = passengersData.passengers %}
            {% include "partials/components/IBE/seats/_seat_selector.njk" %}

            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>

    {# MODAL: SEATS LEGEND #}
    {% set modal = {
        class: 'seatmap_legend_modal',
        id: 'modal-seatmapLegend'
    } %}
    {% include "partials/components/IBE/modals/_modal_seats_information.njk" %}
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
