{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page check-in-detail-page" %}
{% set BFstep2 = true %}
{% set bookingSteps = [
     {
        stepNumber: "1",
        stepLabel: "Itinerario",
        stepUrl: ""
    },
    {
        stepNumber: "2",
        stepLabel: "Pasajeros",
        stepUrl: ""
    },
    {
        stepNumber: "3",
        stepLabel: "Asientos",
        stepUrl: ""
    },
    {
        stepNumber: "4",
        stepLabel: "Tarjeta de embarque",
        stepUrl: ""
    }
] %}
{% set page_title = {
    text: 'Información de pasajero',
    type: 'h1',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Continua',
    actionButtonUrl: 'BF-WCI_seat_selection.html',
    secondaryButtonLabel: 'Cancelar',
    secondaryButtonUrl: 'BF-WCI_home.html'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>
    
    <div class="grid">
        <div class="grid-col col-12">
            {# PAGE TITLE #}
            {% include "partials/components/_page_title.njk" %}

            {# PASSENGERS DATA #}
            {% set passengers = passengersData.passengers %}
            {% set formElements = {
                formGroups: [
                    {
                        elements: [
                            {
                                elementsGroup: [
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Fecha de Nacimiento*',
                                            id: 'drop-3',
                                            options: [
                                                {
                                                    name: 'DD',
                                                    id: 'dd'
                                                },
                                                {
                                                    name: 'MM',
                                                    id: 'mm'
                                                },
                                                {
                                                    name: 'YYYY',
                                                    id: 'yyyy'
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'País de nacimiento*',
                                            id: 'drop-6',
                                            options: [
                                                {
                                                    name: 'Andorra',
                                                    id: 'select1'
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'País de residencia*',
                                            id: 'drop-6',
                                            options: [
                                                {
                                                    name: 'Andorra',
                                                    id: 'select1'
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Nacionalidad*',
                                            id: 'drop-6',
                                            options: [
                                                {
                                                    name: 'Andorra',
                                                    id: 'select1'
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Tipo de Documento*',
                                            id: 'drop-4',
                                            readonly: true,
                                            options: [
                                                {
                                                    name: 'Pasaporte',
                                                    id: 'select1'
                                                }
                                            ]    
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Nr. Documento*',
                                            value: "46789876R",
                                            readonly: true
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'País de emisión*',
                                            id: 'drop-5',
                                            options: [
                                                {
                                                    name: 'Andorra',
                                                    id: 'select1'
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Fecha de emisión',
                                            id: 'drop-3',
                                            options: [
                                                {
                                                    name: 'DD',
                                                    id: 'dd'
                                                },
                                                {
                                                    name: 'MM',
                                                    id: 'mm'
                                                },
                                                {
                                                    name: 'YYYY',
                                                    id: 'yyyy'
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Fecha de caducidad',
                                            id: 'drop-3',
                                            options: [
                                                {
                                                    name: 'DD',
                                                    id: 'dd'
                                                },
                                                {
                                                    name: 'MM',
                                                    id: 'mm'
                                                },
                                                {
                                                    name: 'YYYY',
                                                    id: 'yyyy'
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }        
                        ]
                    }
                ]
            } %}
            {% include "partials/components/IBE/_passenger_data.njk" %}
        

            {# CONDITIONS CHECKBOX #}
            {% set checkboxForm = {
                type: 'checkbox',
                label: 'I Declare that all the information provided is true to the best of my knowledge.',
                id: 'checkbox-1'
            } %}
            {% include "partials/ui-elements/_checkbox.njk" %}

            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
