{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

{% include "partials/_md/_md_form_elements.njk" %}

{% endblock %}

{% block component_jquery %}{% endblock %}