{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{# ----------------------------------------- #}


{% block content %}

<!-- NEWS CONTENT -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Prensa',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Amazonas amplía servicio de Contact Center'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <div class="grid">
        <div class="grid-col col-12">
            {# MAIN FULL BANNER #}
            {% set banner = {
                items: [
                    {
                        bg: 'banner_destination-1600',
                        buttonIntroCaption: true,
                        isActive: true
                    }
                ]
            } %}
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>

    <!-- COMPONENT: RICH TEXT -->
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <div class="news_header">
                <h2 class="title">
                    Amazonas amplía servicio de Contact Center
                </h2>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12 col-md-2">
            <p class="context-date">
                <span class="context-date">14 Junio 2018</span>
            </p>
        </div>
        <div class="grid-col col-12 col-md-10">
            <p>
                El nuevo servicio del contact center de Amaszonas como grupo de aerolíneas inició su nueva modalidad de atención en días pasados y tiene el objetivo de ofrecer un servicio adecuado a las exigencias de los clientes.
            </p>
            <p>
                Entre los servicios que se destacan: se amplió el horario de atención a 24 horas para todos los países en los que opera Amaszonas, la atención será tanto en inglés como en español, además de complementar con información comercial acorde a las exigencias de pasajeros y todos los que llaman al call center.
            </p>
            <p>
                Los números se mantienen de acuerdo a cada país:
            </p>

            {# table 1 #}
            <div class="grid grid-noBottom">
                <div class="grid-col col-12 col-md-6">
                    {% set data = {
                        caption: "Descripción tabla",
                        hasTitle: true,
                        hasTotalHead: false,
                        thead: {
                            ths: [
                                { title: 'País' },
                                { title: 'Teléfono', align: 'right' }
                            ]
                        },
                        tbody: [
                            {
                                tds: [
                                    { title: 'Bolivia' },
                                    { title: '901 10 5500', align: 'right', isStrong: true }
                                ]
                            },
                            {
                                tds: [
                                    { title: 'Paraguay' },
                                    { title: '(595) 21 247 2000', align: 'right', isStrong: true }
                                ]
                            },
                            {
                                tds: [
                                    { title: 'Uruguay' },
                                    { title: '(598) 2 - 7102200', align: 'right', isStrong: true }
                                ]
                            },
                            {
                                tds: [
                                    { title: 'Chile' },
                                    { title: '(56) 57 - 2413209', align: 'right', isStrong: true }
                                ]
                            }
                        ] 
                    } %}
                    {% include "partials/ui-elements/_table-responsive.njk" %}
                </div>
            </div>

            {# table 2 #}
            <div class="grid">
                <div class="grid-col col-12">
                    <div class="context-table_title">
                        <h4 class="title">Título de tabla</h4>
                    </div>
                    {% set data = {
                        caption: "Descripción tabla",
                        hasTitle: true,
                        hasTotalHead: false,
                        thead: {
                            ths: [
                                { title: 'País' },
                                { title: 'Ciudad' },
                                { title: 'Teléfono' },
                                { title: 'email' }
                            ]
                        },
                        tbody: [
                            {
                                tds: [
                                    { title: 'Paraguay', rowspan: '3' },
                                    { title: 'Ciudad' },
                                    { title: '901 10 5500' },
                                    { title: 'info@paranair.com' }
                                ]
                            },
                            {
                                tds: [
                                    { title: ' ', class: "hidden" },
                                    { title: 'Ciudad 1' },
                                    { title: '901 10 5502' },
                                    { title: 'info@paranair.com' }
                                ]
                            },
                            {
                                tds: [
                                    { title: ' ', class: "hidden" },
                                    { title: 'Ciudad 2' },
                                    { title: '901 10 5503' },
                                    { title: 'info@paranair.com' }
                                ]
                            },
                            {
                                tds: [
                                    { title: 'Bolivia' },
                                    { title: 'Ciudad 3' },
                                    { title: '901 10 5504' },
                                    { title: 'info@paranair.com' }
                                ]
                            }
                        ] 
                    } %}

                    {% include "partials/ui-elements/_table-responsive.njk" %}
                    <!-- CONTENT TEXT FOOTNOTE -->
                    <p class="context-footnote">
                        Fuente: <a href="">http://www.launion.com.py/playa-comercio-y-desierto-en-solo-dos-horas-22623.html</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <div class="grid">
        <div class="grid-col col-12">
             <div class="text-right">
                <a href="CORP-news_list.html" class="context-btn_back">Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
