{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<!-- ARTICLE CONTENT: ROW1 -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'About us',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Media centre'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <!-- COMPONENT: RICH TEXT -->
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1">Inflight Specials</h2>
            <p>Our in-flight specials offer exclusive HK Express branded products and a special selection of cosmetics, watches, jewelries, gadgets, liquor, tobacco and more.</p>
        </div>
    </div>
    <!-- Panel group -->
    <div class="grid">
        <div class="grid-col col-12">
            <div class="ui-accordion_header" role="heading" id="heading1">
                <button class="ui-accordion_trigger"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapse1id"
                    aria-expanded="false"
                    aria-controls="collapse1id">
                    <span class="ui-accordion_trigger_title">Contents</span>
                </button>
            </div>
            <div id="collapse1id" class="collapse show" role="region" aria-labelledby="heading1">
                <div class="ui-accordion_body">                
                    <h4 class="context-h3">Exclusive Coupons</h4>
                    <ul class="context-list columns">
                        <li>
                            <a href="/airlines/HK/dist/CORP-fast_navigation_anchors.html#link1">Phuket King Power duty-free shops and GMS duty-free shops Coupons</a>
                        </li>
                    </ul>
                    <h5 class="context-h3">Discounted</h5>
                    <ul class="context-list columns">
                        <li><a href="/airlines/HK/dist/CORP-fast_navigation_anchors.html#link2">HKG - Airport Express</a></li>
                        <li><a href="#">TYO - Heiwajima Natural Hot Spring</a></li>
                        <li><a href="#">Kintetsu - Kintetsu Travel & Rail Pass</a></li>
                        <li><a href="#">HKG - Madame Tussauds</a></li>
                        <li><a href="#">TYO - Airport Limousine Bus / Hakone Free Pass</a></li>
                        <li><a href="#">KIX - Namba Discount Ticket</a></li>
                        <li><a href="#">Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</a></li>
                        <li><a href="#">TYO - Keikyu Hanetoku</a></li>
                        <li><a href="#">Shikoku - JR Shikoku Rail Pass</a></li>
                        <li><a href="#">Korea  - Tickets Visit Korea Committee – Korea Tour Card</a></li>
                    </ul>
                    <h6 class="context-h3">HK Express Branded Products</h6>
                </div>
            </div>
            <hr class="context-hr">
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="title-h2" id="link1">
                Exclusive Coupons
            </h2>
            <p class="title-h3" id="link2">
                Phuket King Power duty-free shops and GMS duty-free shops Coupons
            </p>
            <p>
                Starting from today, fly with us to Phuket and you can enjoy discount coupons* of up to 20% off at King Power duty-free shops, up to 70% off at GMS duty-free shops, and a FREE shuttle bus service to 3 main beaches in Phuket, including Patong, Kata and Hat Karon! Imagine enjoying the sound of waves and fragrant sea breeze with a drink after a long day of shopping!
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
