{% extends "layouts/_layout-corporative.njk" %}
{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: "mainfooter",
    header: "hasNav"
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# BREADCRUMB #}
    {% set breadcrumbsList = [
        {
            item: "About us",
            url: "#"
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: "Media Centre"
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    <div class="grid">
        <div class="grid-col col-12">
            {# PAGE TITLE #}
            <h2 class="context-h1-inverse">
                Mapa del sitio
            </h2>
        </div>
    </div>

    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# SITEMAP #}
            {% include "partials/corporative/_sitemap.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
