{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header standby-page" %}
{% set layout = {
    footer: 'footer',
    header: 'hasNav'
} %}
{% set mainHeader = {
    logo: {
        show: false
    },
    nav: {
        show: false
    }
} %}
{% set mainFooter = {
    logo: {
        show: false
    },
    nav: {
        show: false
    },
    flyPrograms: {
        show: false
    },
    newsletter: {
        show: false
    },
    socialmedia: {
        show: false
    },
    bottom: {
        languageBar: {
            show: false
        }
    }
} %}

{% set poweredby = {
    label: "Powered by",
    text: "",
    image: "logo-newshore-neg.svg",
    linkUrl: "http://newshore.es"
} %}
{# ----------------------------------------- #}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <h1 class="context-h1">
               Estamos trabajando en la nueva web. Por el momento, es necesario que contactes con Paranair para completar el proceso de compra
            </h1>
        </div>
    </div>
    <div class="grid grid-center">
        <div class="grid-col col-12 col-md-6">
            <div class="context-box_aside">
                <ul class="context-list-icon">
                    <li>
                        <span class="icon icon-phone"></span>
                        <p>Call Center: 595 21 247 2000</p>
                        <p>Asunción: 595 21 247 2030</p> 
                    </li>
                    <li>
                        <span class="icon icon-email"></span>
                        <p>Contacto clientes particulares <a href="mailto:atencionalcliente@paranair.com">atencionalcliente@paranair.com</a></p>
                        <p>Contacto agencias de viaje <a href="mailto:soportecomercial@paranair.com">soportecomercial@paranair.com</a></p> 
                    </li>
                    <li>
                        <span class="icon icon-pin"></span>
                        <p>Venta al público en las oficinas centrales en Senador Long</p>
                        <p>515 con Moisés Bertoni, Asunción (Paraguay)</p> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <div class="text-right">
                <button type="button" class="button btn-primary" onclick="history.back()">Volver</button>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            {# ROUTES MAP #}
            {% set mapRoutes = {
                "title": "Mapa de Rutas",
                "introdution": "Paranair te ofrece una gran variedad de destinos y el mejor servicio en aeropuerto y a bordo. Conoce a dónde volamos.",
                "img": "maproutes.png",
                "button": {
                "text": "",
                "url": "javascript:void(0)"
                }
            } %}
            {% include "partials/corporative/_map_routes.njk" %}
        </div>
    </div>
</div>

<div class="modal fade modal-fares" id="modalexample_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="modal-inner">
                <div class="modal-body">
                    <h1 class="context-h1">Paranair será la nueva compañía aérea paraguaya</h1>
                    <p>ILAI y AVMAX, dos socios de Amaszonas Paraguay, ponen en marcha un nuevo proyecto.
                        La nueva compañía mantendrá la conexión doméstica Asunción-Ciudad del Este, y será la aerolínea que mayor cantidad de destinos internacionales ofrezca desde Paraguay</p>
                    <br>
                    <h3 class="context-h3 text-secondary">Asunción. 10 de septiembre de 2018.</h3>
                    <p>Paraguay cuenta con una nueva aerolínea. Paranair es el nombre elegido para la compañía aérea que pretende ser referencia en nuestra nación.
                    ILAI y AVMAX, dos socios de Amaszonas Paraguay de reconocido prestigio en la industria aérea mundial, ponen en marcha este ilusionante proyecto que tendrá su base en Asunción con un escogido equipo de profesionales de acreditada experiencia en el sector.</p>
                    <p>El carácter paraguayo de la nueva compañía queda patente al mantener la conexión doméstica en el país entre Asunción y Ciudad del Este. Además, la apuesta de Paranair por Paraguay se concretará en un mapa de rutas que ofrecerá las mejores conexiones internacionales con origen o destino ciudades paraguayas.</p>
                    <p>Actualmente la compañía se encuentra en un periodo de transición entre la marca Amaszonas del Paraguay y la marca Paranair. La recertificación se encuentra en proceso de aprobación por parte de las autoridades correspondientes. Se seguirá operando bajo el nombre Amaszonas del Paraguay hasta el relevo la nueva marca comercial.</p>
                    <p>Se ha escogido el nombre de Paranair pensando en la vocación de conectar países y acercar personas, tal y como tradicionalmente los ríos han comunicado y comunican regiones enlazadas por su cauce. La denominación resulta una clara evocación del río Paraná, uno de los ríos más largos de Sudamérica y de nuestro país. Además, su curso coincide con los territorios estratégicos de la compañía: desde su nacimiento en Brasil, su confluencia con ríos Paraguay y Uruguay y su desembocadura en el estuario del Mar del Plata en Argentina.
                        El logo y la imagen de la nueva marca se darán a conocer próximamente.</p>
                    <p>Los socios que respaldan decididamente esta nueva compañía suman una gran experiencia en el mercado aeronáutico norteamericano y europeo.
                        Avmax Group es una de las empresas más importantes del mundo en el mercado del alquiler de aviones y es propietaria de más de 70 aeronaves. Fue fundada en 1996 y tiene su sede en Calgary (Canadá).</p>
                    <p>ILAI es una sociedad constituida por los socios de la aerolínea española Air Nostrum que posee varias compañías aéreas y empresas de mantenimiento vinculadas con la aviación comercial tales como Flyest en Argentina, ANTA en Paraguay y Medops en Malta. Air Nostrum opera para Iberia vuelos regionales en virtud de un acuerdo exclusivo de franquicia, es la compañía líder de la aviación regional en España y una de las mayores aerolíneas europeas de su clase y a lo largo de sus 25 años de vida ha transportado a más de 80 millones de pasajeros.</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
