{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "home-page" %}
{% set navFixed = {
    ibe: false,
    corporate: false 
} %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav',
    showAlertFlag: false
} %}
{% set hasAlerts = false %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {# MULTIPANEL #}
            {% include "partials/corporative/_multiple-panel.njk" %}

            {# MAIN FULL BANNER #}
            {% set banner = {
                showPagination: true,
                showPrevNext: false,
                items: [
                    {
                        bg: 'banner_destination-1600',
                        title: 'Trinidad',
                        subtitle: 'Desde USD 467',
                        button: 'Reserva',
                        buttonIntroCaption: false,
                        isActive: true,
                        text: "Aplican Términos y Condiciones"
                    },
                    {
                        bg: 'banner_destination-1600',
                        title: 'Trinidad',
                        subtitle: 'Desde USD 467',
                        button: 'Reserva',
                        buttonIntroCaption: false,
                        isActive: false,
                        text: "Aplican Términos y Condiciones"
                    },
                    {
                        bg: 'banner_destination-1600',
                        title: 'Trinidad',
                        subtitle: 'Desde USD 467',
                        button: 'Reserva',
                        buttonIntroCaption: false,
                        isActive: false,
                        text: "Aplican Términos y Condiciones"
                    },
                    {
                        bg: 'banner_destination-1600',
                        title: 'Trinidad',
                        subtitle: 'Desde USD 467',
                        button: 'Reserva',
                        buttonIntroCaption: false,
                        isActive: false,
                        text: "Aplican Términos y Condiciones"
                    }
                ]
            } %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 col-md-6 col-md-last">
            {# DESTINATIONS OFFERS #}
            {% include "partials/corporative/destinations-offers/_destinations-offers.njk" %}
        </div>
        <div class="grid-col col-12 col-md-6 col-md-first">
            {# ROUTES MAP #}
            {% set mapRoutes = mapRoutesHome %}
            {% include "partials/corporative/_map_routes.njk" %}
        </div>
    </div>

    {# DEALS / OFFERS #}
    {% include "partials/corporative/_main-offers.njk" %}

    {# NEWSLETTER #}
    <div class="grid">
        <div class="grid-col col-12">
            {% set inputHasLabel = false %}
            {% include "partials/components/_shared/_newsletter.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
