{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{% set breadcrumbsList = [
    {
        item: 'Prensa',
        url: '#'
    }
] %}
{% set breadcrumb = {
    itemCurrent: 'Suscríbete a nuestra lista de correo'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# BREADCRUMB #}
    {% include "partials/corporative/_breadcrumb.njk" %}
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1-inverse">
                Lista de correo
            </h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <h1 class="context-h1">Suscríbete a nuestra lista de correo</h1>
        </div>
    </div>
    <div class="grid grid-noBottom">
        <div class="grid-col col-12 col-lg-4 col-lg-last">
            <div class="context-box_aside">
                <p>Here goes some content</p>
            </div>
        </div>
        <div class="grid-col col-12 col-lg-8">
            <div class="grid">
                <div class="grid-col col-12">
                    <p>Recibe en tu correo electrónico las mejores ofertas, promociones y noticias más destacadas</p>
                    <p>Sólo con completar esta información podrás recibir periódicamente en tu buzón de correo electrónico: ofertas, promociones, noticias, etc, que te permitirán beneficiarte de ser un cliente de Amaszonas y viajar al mejor precio a Iquique, Cusco, Uyuni, La Paz, Santa Cruz... Si ya estás dado de alta y deseas gestionar tus preferencias, introduce tu dirección de correo.</p>
                    
                    {# NEWSLETTER SUBSCRIBE FORM #}
                    <div class="newsletter_subscribe_form">
                        <form action="">
                            <p class="required-text">* Campos obligatorios</p>
                            <fieldset>
                                <div class="container">
                                    {% set formElements = {  
                                        formGroups: [
                                            {
                                                elements: [
                                                    {
                                                        elementsGroup: [
                                                            {
                                                                type: 'inputForm',
                                                                element: {
                                                                    label: 'Correo electronico*',
                                                                    type: 'email'
                                                                }
                                                            },
                                                            {
                                                                type: 'inputForm',
                                                                element: {
                                                                    label: 'Nombre*',
                                                                    type: 'email'
                                                                }
                                                            },
                                                            {
                                                                type: 'inputForm',
                                                                element: {
                                                                    label: 'Apellido*'
                                                                }
                                                            },
                                                            {
                                                                type: 'selectForm',
                                                                element: {
                                                                    label: 'Fecha de Nacimiento',
                                                                    id: 'drop-3',
                                                                    options: [
                                                                        {
                                                                            name: 'DD',
                                                                            id: 'dd'
                                                                        },
                                                                        {
                                                                            name: 'MM',
                                                                            id: 'mm'
                                                                        },
                                                                        {
                                                                            name: 'YYYY',
                                                                            id: 'yyyy'
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    } %}
                                    {% include "partials/components/_shared/forms/_create_form.njk" %}
                                </div>
                                <div class="ui-form_buttons">
                                    <button type="button" class="ui-form_button-action button btn-primary">Suscríbase</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}