
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/theme-paranair.css" /> -->
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    <title>Itinerary</title>
    <style>@media only screen{html{min-height:100%;background:#fff}body{width:100%!important;min-width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;Margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}img{-ms-interpolation-mode:bicubic;display:block}td{word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse!important}table,td{padding:0;vertical-align:top;text-align:left}table{border-spacing:0;border-collapse:collapse;width:100%}}@media only screen and (max-width:590px){center{min-width:0!important}}@media only screen and (max-width:590px){table.container{width:98%!important}}@media only screen and (max-width:640px){.ibe-flight__journey__wrap{width:100%!important}}@media only screen and (max-width:640px){.ibe-flight__journey__details{width:100%!important;float:none!important;margin:0!important;text-align:left!important}.ibe-flight__journey__details td{text-align:left!important;padding-top:7px!important}.ibe-flight__journey__details .ibe-fare__label,.ibe-flight__journey__details .ibe-flight__number{display:inline-block!important;margin:0!important}}@media print{a{color:#0037a2!important}.ibe-booking-reference__title,.ibe-flight__journey__details .ibe-fare__label{color:#1f3a5e!important;background-color:#fff!important}.ibe-booking-reference__title{color:#1f3a5e!important}.ibe-flight,.ibe-flight th{border:0!important;background-color:#fff!important}.container--ibe-flight{padding-bottom:14px!important;border-bottom:1px solid #888!important}.ico-social{display:none!important}.print-avoidbreak{page-break-inside:avoid}}</style>
    
  </head>
  <body style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:left">
    <span class="preheader" style="color:#fff;display:none!important;font-size:1px;line-height:1px;max-height:0;max-width:0;mso-hide:all!important;opacity:0;overflow:hidden;visibility:hidden"></span>
    <table class="body" style="Margin:10px 0;background:#fff;height:100%;margin:10px 0;width:100%">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="" style="min-width:580px;width:100%">
            
            <table cellspacing="0" cellpadding="0" border="0" width="550" align="center" class="container float-center" style="Margin:0 auto;background:#fff;float:none;margin:0 auto;text-align:center;width:580px">
              <tr>
                <td class="content" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:left">
                 
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-header" style="background:#7EB7D8;background-color:transparent">
                    <tr>
                  
                  
                      <td class="ibe-header__logo" style="color:#fff;padding:14px 0;text-align:left;vertical-align:middle">
                          <img src="http://paranair-ux.azurewebsites.net/emails/images/common/logo.png" alt="Paranair" style="float:left;height:37px;width:170px">
                      </td>
                  
                    </tr>
                  </table>
            
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-body" style="border:none;margin-top:0">
                    <tr>
                      <td class="content ibe-body__wrap" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;max-width:98%;padding:10px 0;text-align:left">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        	<tr>
                        		<td class="content" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:left">
                        				<h1 style="color:#0037a2;font-size:1em;font-weight:400;margin-bottom:1.2em;text-transform:uppercase"><b>Confirmación de compra</b></h1>
                        		</td>
                        	</tr>      
                        </table>
                        <center data-parsed="" style="min-width:580px;width:100%">
                            <table cellspacing="0" cellpadding="0" border="0" class="ibe-booking-reference__title float-center" align="center" style="-webkit-text-size-adjust:none;Margin:0 auto;background-color:#1f3a5e;border-radius:20px;color:#fff;display:table-cell;float:none;font-family:sans-serif;font-size:16px;font-weight:400;line-height:1;margin:0 auto;mso-hide:none;text-align:center;text-decoration:none;width:auto">
                              <tr>
                                <td style="padding:10px 28px">
                                  <span>Código de compra: <strong style="font-weight:700">JIPOYM</strong></span>
                                </td>
                              </tr>
                            </table>
                        </center>
            
                        <table class="spacer"><tbody><tr><td height="12px" style="font-size:12px;line-height:12px">&#xA0;</td></tr></tbody></table> 
            
                        <div class="print-avoidbreak"></div>
                        <h2 style="color:#0037a2;font-size:1.25em;font-weight:400;margin:0">Itinerario</h2>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="container--ibe-flight" style="padding-top:14px">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-flight" style="background-color:#f7f7f7;border:solid #f7f7f7;border-width:17px 22px 12px 22px;margin-bottom:0">
                                        <tr>
                                            <th colspan="3" class="content ibe-flight__header" style="Margin:0;background-color:#f7f7f7;color:#ac0d1f;font-family:Roboto,Arial,sans-serif;font-size:1em;font-weight:700;line-height:130%;margin:0;padding:2px 8px;padding-left:8px;text-align:left;vertical-align:middle">
                                                Ida
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="content ibe-flight__date" style="Margin:0;color:#0037a2;font-family:Roboto,Arial,sans-serif;font-size:1em;font-weight:700;line-height:130%;margin:0;padding:2px 8px;text-align:left">
                                            Monday April 21st, 2017 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="ibe-flight__trip" style="padding:2px 8px;padding-top:7px">
                                                <!--[if (gte mso 9)|(IE)]> 
                                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-flight__trip--outlook">
                                                        <tr>
                                                            <td class="ibe-flight__journey__wrap--outline" style="width: 360px; padding-left: 0px">
                                                <![endif]-->
                                                <table cellspacing="0" cellpadding="0" border="0" class="ibe-flight__journey__wrap" style="float:left;width:auto">
                                                    <tr class="ibe-flight__journey">
                                                        <td class="content outbound" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;padding-top:4px;text-align:left;vertical-align:top;width:120px">
                                                            <span class="code" style="font-size:20px">CDG <strong>19:30</strong></span>
                                                            <div class="city" style="padding-top:8px">Paris</div>
                                                        </td>
                        
                                                        <td class="content plane" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:4px 15px 0;padding-top:4px;text-align:center;vertical-align:top">
                                                            
                                                            <img src="http://paranair-ux.azurewebsites.net/emails/images/common/plane.png" alt="to">
                                                        </td>
                        
                                                        <td class="content inbound" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;padding-top:4px;text-align:right;vertical-align:top;width:120px">
                                                            <span class="code" style="font-size:20px">EWR <strong>20:10</strong></span>
                                                            <div class="city" style="padding-top:8px">New York</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--[if (gte mso 9)|(IE)]> 
                                                        </td>
                                                        <td class="ibe-flight__journey__details--outline" style="width: 160px;padding-right: 0px;padding-left: 0px; text-align: right; float: right;">
                                                <![endif]-->
                                                <table cellspacing="0" cellpadding="0" border="0" class="ibe-flight__journey__details" style="float:right;margin:0 auto;width:auto">
                                                    <tr>
                                                        <td class="content" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:right">
                                                            <div class="ibe-fare__label" style="-webkit-text-size-adjust:none;background-color:#0037a2;border-radius:20px;color:#fff;display:block;font-family:sans-serif;font-size:12px;font-weight:400;line-height:1;margin:0 0 10px 0;mso-hide:none;padding:4px 12px;text-align:center;text-decoration:none;width:auto">Super Promocional</div>
                                                            <div class="ibe-flight__number">Vuelo BO100</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--[if (gte mso 9)|(IE)]>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="container--ibe-flight" style="padding-top:14px">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-flight" style="background-color:#f7f7f7;border:solid #f7f7f7;border-width:17px 22px 12px 22px;margin-bottom:0">
                                        <tr>
                                            <th colspan="3" class="content ibe-flight__header" style="Margin:0;background-color:#f7f7f7;color:#ac0d1f;font-family:Roboto,Arial,sans-serif;font-size:1em;font-weight:700;line-height:130%;margin:0;padding:2px 8px;padding-left:8px;text-align:left;vertical-align:middle">
                                                Vuelta
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="content ibe-flight__date" style="Margin:0;color:#0037a2;font-family:Roboto,Arial,sans-serif;font-size:1em;font-weight:700;line-height:130%;margin:0;padding:2px 8px;text-align:left">
                                            Monday April 21st, 2017 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="ibe-flight__trip" style="padding:2px 8px;padding-top:7px">
                                                <!--[if (gte mso 9)|(IE)]> 
                                                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-flight__trip--outlook">
                                                        <tr>
                                                            <td class="ibe-flight__journey__wrap--outline" style="width: 360px; padding-left: 0px">
                                                <![endif]-->
                                                <table cellspacing="0" cellpadding="0" border="0" class="ibe-flight__journey__wrap" style="float:left;width:auto">
                                                    <tr class="ibe-flight__journey">
                                                        <td class="content outbound" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;padding-top:4px;text-align:left;vertical-align:top;width:120px">
                                                            <span class="code" style="font-size:20px">CDG <strong>19:30</strong></span>
                                                            <div class="city" style="padding-top:8px">Paris</div>
                                                        </td>
                        
                                                        <td class="content plane" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:4px 15px 0;padding-top:4px;text-align:center;vertical-align:top">
                                                            
                                                            <img src="http://paranair-ux.azurewebsites.net/emails/images/common/plane.png" alt="to">
                                                        </td>
                        
                                                        <td class="content inbound" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;padding-top:4px;text-align:right;vertical-align:top;width:120px">
                                                            <span class="code" style="font-size:20px">EWR <strong>20:10</strong></span>
                                                            <div class="city" style="padding-top:8px">New York</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--[if (gte mso 9)|(IE)]> 
                                                        </td>
                                                        <td class="ibe-flight__journey__details--outline" style="width: 160px;padding-right: 0px;padding-left: 0px; text-align: right; float: right;">
                                                <![endif]-->
                                                <table cellspacing="0" cellpadding="0" border="0" class="ibe-flight__journey__details" style="float:right;margin:0 auto;width:auto">
                                                    <tr>
                                                        <td class="content" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:0;text-align:right">
                                                            <div class="ibe-fare__label flex" style="-webkit-text-size-adjust:none;background-color:#ac0d1f;border-radius:20px;color:#fff;display:block;font-family:sans-serif;font-size:12px;font-weight:400;line-height:1;margin:0 0 10px 0;mso-hide:none;padding:4px 12px;text-align:center;text-decoration:none;width:auto">Flexible</div>
                                                            <div class="ibe-flight__number"> BO100</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--[if (gte mso 9)|(IE)]>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>            
            
                        <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px">&#xA0;</td></tr></tbody></table> 
            
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" class="ibe-tickets__list">
                          <tr>
                            <th class="content" colspan="2" style="Margin:0;border-bottom:1px solid #0037a2;color:#0037a2;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:700;line-height:130%;margin:0;padding:6px 0;text-align:right">Ticket electrónico</th>
                          </tr>
                          <tr>
                            <td class="content" style="Margin:0;border-bottom:1px dotted #0037a2;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
                            <td class="content last" style="Margin:0;border-bottom:1px dotted #0037a2;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">42354865551234</td> 
                          </tr>  
                          <tr>
                            <td class="content" style="Margin:0;border-bottom:1px dotted #0037a2;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
                            <td class="content last" style="Margin:0;border-bottom:1px dotted #0037a2;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">42354865551234</td> 
                          </tr>  
                          <tr>
                            <td class="content" style="Margin:0;border-bottom:1px dotted #0037a2;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:left">Carmen María Galeano</td> 
                            <td class="content last" style="Margin:0;border-bottom:1px dotted #0037a2;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;line-height:130%;margin:0;padding:6px 0;text-align:right">42354865551234</td> 
                          </tr>  
                        </table>
            
            			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-footnote">
            				<tr>
            					<td class="content" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:12px;font-weight:400;line-height:130%;margin:0;padding:0;padding-top:20px;text-align:left">
            							<p style="Margin:0;margin:0 0 14px 0;margin-bottom:0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl justo, tristique viverra ex non, egestas bibendum tortor. Nullam at lectus ex. Quisque luctus tellus in magna aliquet hendrerit. Proin semper tincidunt dolor a blandit. Proin auctor risus a gravida commodo. Integer elementum eget quam eget laoreet.</p>
            					</td>
            				</tr>      
            			</table>          </td>
                    </tr>
                  </table>
            
                  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="ibe-footer" style="background-color:#1f3a5e;color:#fff;margin-top:20px;text-align:center">
                    <tr>
                      <td class="content" style="Margin:0;color:#1f3a5e;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:400;height:32px;line-height:130%;margin:0;padding:10px;text-align:center;vertical-align:middle">
                          <a href="https://www.twitter.com" target="_blank" class="ico-social" border="0" style="border:none;color:#fff;display:inline-block;height:32px;margin:0;text-align:center;text-decoration:none;width:32px"><img src="http://paranair-ux.azurewebsites.net/emails/images/common/social/twitter-w.png" width="32" style="display:block;height:32px;width:32px"></a>
                          &nbsp;
                          
                          <a href="https://www.facebook.com" target="_blank" class="ico-social" border="0" style="border:none;color:#fff;display:inline-block;height:32px;margin:0;text-align:center;text-decoration:none;width:32px"><img src="http://paranair-ux.azurewebsites.net/emails/images/common/social/facebook-w.png" width="32" style="display:block;height:32px;width:32px"></a>
                          &nbsp;
                  
                  
                  
                          <a href="copy-url" target="_blank" class="copy" style="color:#fff;display:inline-block;margin-left:7px;padding-top:9px;text-decoration:none;vertical-align:top">www.paranair.com</a>
                          &nbsp;
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            
            
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none;white-space:nowrap;font:15px courier;color:#fff">
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    </div>
  </body>
</html>
