{% extends "layouts/_pdf-layout.njk" %}

{% block content %}
    <!-- FIRST ROW -->
    <table class="boarding-pass_main-info">
        <tr>
            <td class="title_container">
                <h1 class="title">
                    <span class="field_label">
                        {{ boardingPass.title.caption }}
                    </span>
                    <span class="field_label-translation">
                        {{ boardingPass.title.translation }}
                    </span>
                </h1>
                <p class="pax-name">
                    {{ boardingPass.passenger.value }}
                </p>
                <p class="pax-name_pp">{{ boardingPass.passenger.passport }}</p>
            </td>
            <td>
                <div class="codebar_container">
                    {% set image = {
                        src: 'pdf/barcode'
                    } %}
                    {% include '../views/pdf/components/image.njk' %}
                </div>
            </td>
        </tr>
    </table>

    <!-- 3X2 -->
    {% set itemsTable = {
        tableClases: [
            'table-bordered boarding-pass_resume'
        ],
        type: 'info-item',
        columns: 3,
        hasHorizontalAlignItems: true,
        items: [
            {
                values: [
                    {
                        label: boardingPass.flight.label.caption,
                        translation: boardingPass.flight.label.translation,
                        text:  boardingPass.flight.value,
                        hasBigText: true
                    },
                    {
                        label: boardingPass.gate.label.caption,
                        translation: boardingPass.gate.label.translation,
                        text: boardingPass.gate.value,
                        hasBigText: true
                    },
                    {
                        label: boardingPass.seat.label.caption,
                        translation: boardingPass.seat.label.translation,
                        text:  boardingPass.seat.value,
                        hasBigText: true
                    }
                ]
            },
            {
                values: [
                    {
                        label: boardingPass.date.label.caption,
                        translation: boardingPass.date.label.translation,
                        text:  boardingPass.date.value
                    },
                    {
                        label: boardingPass.departureTime.label.caption,
                        translation: boardingPass.departureTime.label.translation,
                        text:  boardingPass.departureTime.value
                    },
                    {
                        label: boardingPass.boardingTime.label.caption,
                        translation: boardingPass.boardingTime.label.translation,
                        text:  boardingPass.boardingTime.value,
                        hasBigText: true
                    }
                ]
            },
            {
                values: [
                    {
                        label: boardingPass.from.label.caption,
                        translation: boardingPass.from.label.translation,
                        text:  boardingPass.from.value,
                        iata:  boardingPass.from.iata
                    },
                    {
                        label: boardingPass.to.label.caption,
                        translation: boardingPass.to.label.translation,
                        text:  boardingPass.to.value,
                        iata:  boardingPass.to.iata
                    },
                    {
                        label: 'Seq No',
                        text:  '2'
                    }
                ]
            }
            
        ]
    } %} 
    {% include '../views/pdf/components/items-table.njk' %}

    {% if boardingPass.hasDetailsSection | default(true) %}
        {% set itemsTable = {
            isInline: false,
            tableClases: [
                'bottom-separated',
                'table-bordered'

            ],
            type: 'info-item',
            columns: 3,
            isButtonSeparated: true,
            items: [
                {
                    title: 'Your Flight Details 航班資料',
                    values: [
                        {
                            label: 'Booking Reference 訂單編號',
                            text:  'V5Y9KC'
                        },
                        {
                            label: 'Booking Date 訂票日期',
                            text: 'Thursday, April 5, 2018'
                        },
                        {
                            label: 'Booking Name 訂票者姓名',
                            text:  'MR Gerardo Marin'
                        }
                    ]
                },
                {
                    title: 'Your Baggage Details 託運行李資料',
                    hasSmallValues: true,
                    values: [
                        {
                            label: 'Cabin Baggage Allowance 手提行李限制',
                            text:  '1 Bag (7kg)',
                            smallText: 'Not exceed the dimensions of 56 x 36 x 23cm (22" x 14" x 9")'
                        },
                        {
                            label: 'Checked Baggage Allowance 託運行李限額',
                            text: '25kg',
                            smallText: 'Each checked baggage must not exceed 158cm/62"'
                        },
                        {
                            label: 'Bag Drop 託運行李',
                            text:  'Closes 60 minutes before departure'
                        }
                    ]
                },
                {
                    title: 'Your Extras 附加服務',
                    hasSmallValues: true,
                    values: [
                        {
                            label: 'Meals 機上餐點',
                            text:  'No meals'
                        },
                        {
                            label: 'Sports Equipment 運動器材',
                            text: 'No Sports Equipment'
                        },
                        {
                            label: 'Insurance 旅遊保險',
                            text:  'No Travel Insurance'
                        },
                        {
                            label: 'U­-First 優先辦理登機手續及登機服務',
                            text:  '-­ Kansai International Airport',
                            icon: 'passenger-first'
                        }
                    ]
                }
            ]
        } %}
        {% include '../views/pdf/components/items-table.njk' %}
    {% endif %}
    <table>
        <tbody>
            {# <tr>
                <td colspan="3">
                    <h2 style="border-top: 1px solid #0037a2;padding-top: 14px;">
                        <span class="field_label">
                            {{ boardingPass.baggage.title.caption }}
                        </span>
                        <span class="field_label-translation">
                            {{ boardingPass.baggage.title.translation }}
                        </span>
                    </h2>
                    <span class="field_label">Cada pasajero puede llevar</span>
                    <span class="field_label-translation">Each passenger may take</span>
                </td>
            </tr> #}
            {% if boardingPass.baggage.hold.show | default(true) %}
                <tr>
                    <td>
                        <h3>{{ boardingPass.baggage.hold.title.caption }}</h3>
                        <span class="info-item_data-value">
                            <span class="field_label">{{ boardingPass.baggage.hold.subtitle.caption }}</span>
                            <span class="field_label-translation">{{ boardingPass.baggage.hold.subtitle.translation }}</span>
                        </span>
                    </td>
                    <td colspan="2">
                        <p>
                            <span class="field_label">{{ boardingPass.baggage.hold.description.caption }}</span>
                            <span class="field_label-translation">{{ boardingPass.baggage.hold.description.translation }}</span>
                        </p>
                        <p>
                            {{ boardingPass.baggage.hold.weight.adult.caption }}
                            <span class="size">
                                {{ boardingPass.baggage.hold.weight.adult.value }}
                                {{ boardingPass.weightUnit }}
                            </span>
                            {{ boardingPass.baggage.hold.weight.child.caption }}
                            <span class="size">
                                {{ boardingPass.baggage.hold.weight.child.value }}
                                {{ boardingPass.weightUnit }}
                            </span>
                        </p>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="service-icon">
                    {% set image = {
                        src: 'pdf/hand-baggage'
                    } %}
                    {% include '../views/pdf/components/image.njk' %}
                </td>
                <td valign="center">
                    <h3>
                        <span class="field_label">
                            {{ boardingPass.baggage.carry.title.caption }}
                        </span>
                    </h3>
                    <h3>
                        <span class="field_label-translation">
                            {{ boardingPass.baggage.carry.title.translation }}
                        </span>
                    </h3>
                        
                    {# <span class="info-item_data-value">
                        <span class="field_label">{{ boardingPass.baggage.carry.subtitle.caption }}</span>
                        <span class="field_label-translation">{{ boardingPass.baggage.carry.subtitle.translation }}</span>
                    </span> #}
                </td>
                <td colspan="2">
                    <p>
                        <span class="field_label">{{ boardingPass.baggage.carry.weight.caption }}</span>
                        <br>
                        <span class="field_label-translation">{{ boardingPass.baggage.carry.weight.translation }}</span>
                        
                        <span>{{ boardingPass.baggage.carry.weight.adult.caption }}</span>
                    </p>
                    <p>
                        <span class="size">
                            {{ boardingPass.baggage.carry.sizes.height.value }}
                            {{ boardingPass.sizeUnit }}
                        </span>
                        <span class="size">
                            {{ boardingPass.baggage.carry.sizes.width.value }}
                            {{ boardingPass.sizeUnit }}
                        </span>
                        <span class="size">
                            {{ boardingPass.baggage.carry.sizes.length.value }}
                            {{ boardingPass.sizeUnit }}
                        </span>

                        <span class="field_label">
                            ({{ boardingPass.baggage.carry.sizes.height.caption }} x
                            {{ boardingPass.baggage.carry.sizes.width.caption }} x
                            {{ boardingPass.baggage.carry.sizes.length.caption }})
                        </span>
                        <span class="field_label-translation">
                            ({{ boardingPass.baggage.carry.sizes.height.translation }} x
                            {{ boardingPass.baggage.carry.sizes.width.translation }} x
                            {{ boardingPass.baggage.carry.sizes.length.translation }})
                        </span>
                        <br>
                        <span class="field_label">{{ boardingPass.baggage.carry.sizes.caption }}</span>
                        <span class="field_label">
                            {{ boardingPass.baggage.carry.weight.default.value }}
                            {{ boardingPass.weightUnit }}
                        </span>
                        <span class="field_label-translation">{{ boardingPass.baggage.carry.sizes.translation }}</span>
                        <span>{{ boardingPass.baggage.carry.sizes.adult.caption }}</span>
                        <span class="field_label-translation">
                            {{ boardingPass.baggage.carry.weight.default.value }}
                            {{ boardingPass.weightUnit }}
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="info-message">
                        {% for item in boardingPass.baggage.remiders.items %}
                            <p class="small-text">
                                <span class="field_label">{{ item.title.caption }}</span>
                                <span class="field_label">{{ item.caption }}</span>
                                <br>
                                <span class="field_label-translation">{{ item.title.translation }}</span> : 
                                <span class="field_label-translation">{{ item.translation }}</span>
                            </p>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            
            {% for item in boardingPass.importantReminders.items %}
                <tr>
                    <td class="service-icon">
                        {% set image = {
                            src: item.image
                        } %}
                        {% include '../views/pdf/components/image.njk' %}
                    </td>
                    <td colspan="3">
                        <p class="small-text">
                            <span class="field_label">{{ item.title.caption }}</span>
                            <span class="field_label-translation">{{ item.title.translation }}</span>
                        </p>
                        <p class="small-text">
                            <span class="field_label">{{ item.caption }}</span>
                            <span class="field_label-translation">{{ item.translation }}</span>
                        </p>
                    </td>
                </tr>
            {% endfor %}
               
            {# <tr>
                <td colspan="3">
                    <p>
                        <span class="field_label">
                            NOTA:
                        </span>
                        <span class="small-text">
                            La franquicia de equipaje podrá variar en base al destino adquirido y conexiones con otras empresas, por favor verifique la misma en <a href="www.amaszonas.com">www.amaszonas.com</a>
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <span class="field_label">
                            LIBERACIÓN DE LA RESPONSABILIDAD DEL TRANSPORTADOR.
                        </span>
                        <span class="small-text">
                            - El transportista no se responsabiliza si el pasajero incluye en su equipaje registrado en bodega, atlas frágiles;perecederos; de valor (dinero, joyas, piedras o metales preciosos); aparatos electrónicos (cámaras fotográficas o de video, computadoras, teléfonos móviles); medicinas;documentos de identificación, negociables, títulos u otros valores, entre otros.
                        </span>
                    </h3>
                </p>
            </tr>
            <tr>
                <td colspan="3">
                    <p>
                        <span class="field_label">
                            RESTRICCIONES Y PROHIBICIONES.
                        </span>
                        <span class="small-text">
                            - El pasajero no deberá portar, como equipaje de mano, elementos cuyo peso o tamaño impidan su transporte seguro, que provoquenincomodidad a las demás personas a bordo o que de cualquier modo obstruyan el tránsito de personas durante una eventual evacuación de emergencia.
                        </span>
                    </p>
                </td>
            </tr> #}
            {# <tr>
                <td colspan="3">
                    <h2>
                        <span class="field_label">
                            {{ boardingPass.importantReminders.caption }}
                        </span>
                        <span class="field_label-translation">
                            {{ boardingPass.importantReminders.translation }}
                        </span>
                    </h2>
                    {% for item in boardingPass.importantReminders.items %}
                        <p class="small-text">
                            <span class="field_label">{{ item.caption }}</span>
                            <span class="field_label-translation">{{ item.translation }}</span>
                        </p>
                    {% endfor %}
                </td>
            </tr> #}
        </tbody>
    </table>

    {% if boardingPass.hasExtraInfoSection | default(true) %}
        {% set itemsTable = {
            tableClases: [
                'horizontal-bordered'
            ],
            type: 'tip-box',
            columns: 2,
            items: [
                {
                    title: 'Carry on Baggage 手提行李',
                    icon: 'baggage',
                    description: 'Carry on items are limited to one piece of luggage not exceeding 7 kgs and one personal item such as laptop, purse, camera. 每位旅客可攜帶一件手提行 李（重量不可超過7公斤或15.4磅）和一件隨身物品（包括手袋、相機及個人電子儀 器）登機，總體積不大於56x36x23厘米或22x14x9吋（手提行李的輪子、把手和側 袋等同樣計入尺寸內)。旅客如攜帶超過上述限制的手提行李，必須把行李交付託 運和支付相關的托運行李費用。'
                },
                {
                    title: 'Important Reminders 重要事項',
                    icon: 'clock',
                    description: 'Bag drop at Hong Kong International Airport closes 1 hour prior to scheduled time of departure. Gate closes 20 minutes prior to scheduled time of departure. Airport Express in-town check-in opens 1 day prior to and closes 1.5 hours before scheduled time of departure. Before your flight, remember to print a copy of your boarding pass on A4 paper (portrait orientation). For check-in counter opening times at other airports, please refer to hkexpress.com. 於香港國際機場辦理的行李託運手 續必須在起飛前1小時辦理妥當，登機閘口會於起飛前20分鐘關閉．如您乘坐 機場快綫列車前往香港國際機場，您可選擇於登機前一天至航機起飛前90分 鐘，到香港站或九龍站市區預辦登機手續。請於出發前使用A4 紙張(直向)列印 登機證。請上hkexpress.com查閱其他機場的辦理登機手續櫃檯服務時間．'
                },
                {
                    title: 'Cheap Hotels 超抵酒店',
                    icon: 'bed',
                    description: 'How would you like to save up to 85% on your next hotel booking? Booking a hotel on the HK Express website is fast, easy and convenient. 現 在網上預訂超值酒店，優惠高達15%，立即預訂！',
                    link: {
                        text: 'Book Cheap Hotels 預訂超抵酒店',
                        href: 'https://www.agoda.com/hkexpress'
                    }
                },
                {
                    title: 'Cheap Car Rentals 租用車輛',
                    icon: 'car',
                    description: 'How would you like to save up to 15% on your next car rental reservation? Making a car rental booking on the HK Express website is fast, easy and convenient. 現在網上預訂超值車輛，優惠高達15%，立即預訂！',
                    link: {
                        text: 'Make Car Rental Reservations 租用超抵車輛',
                        href: 'https://www.agoda.com/hkexpress'
                    }
                }
            ]
        } %}
        {% include '../views/pdf/components/items-table.njk' %}
    {% endif %}

    {% if boardingPass.hasFoldSection | default(true) %}
        <!-- FOLD SECTION -->
        {% include '../views/pdf/components/fold-section.njk' %}
        
        <!-- AIRLINE COPY -->
        <table>
            <tr>
                <td class="grid-col col-4 no-top-padding">
                    <strong class="airline-copy-text">Airline Copy</strong>
                    <div class="codebar_container last">
                        {% set image = {
                            name: 'barcode'
                        } %}
                        {% include '../views/pdf/components/image.njk' %}
                    </div>
                </td>
                <td class="grid-col col-3 last">
                    {% set infoItem = {
                        values: [
                            {
                                label: 'Flight 航班',
                                text: 'UO1687'
                            },
                            {
                                label: 'Date 日期',
                                text: 'Friday, April 6, 2018'
                            }
                        ]
                    } %}
                    {% include '../views/pdf/components/info-item.njk' %}
                </td>
                <td class="grid-col col-3 last">
                    {% set infoItem = {
                        values: [
                            {
                                label: 'Passenger Name 旅客姓名',
                                text: 'MS Adela Zuluaga'
                            },
                            {
                                label: 'Booking Reference 訂單編號',
                                text: 'V5Y9KC'
                            }
                        ]
                    } %}
                    {% include '../views/pdf/components/info-item.njk' %}
                </td>
                <td class="grid-col col-2 last">
                    {% set infoItem = {
                        values: [
                            {
                                label: 'Seat 座位',
                                text: '2B'
                            },
                            {
                                label: 'Seq No 編號',
                                text: '2'
                            }
                        ]
                    } %}
                    {% include '../views/pdf/components/info-item.njk' %}
                </td>
            </tr>
        </table>
    {% endif %}
        <table>
            <tr>
                <td>
                    <p class="last-message">
                      <span class="field_label">{{ boardingPass.lastMessage.caption }}</span>  
                      <span class="field_label-translation">{{ boardingPass.lastMessage.translation }}</span>  
                    </p>
                </td>
            </td>
        </table>
{% endblock %}
