$scrolltop-position-bottom: 70px;
$scrolltop-size: 40px;
.btn-scroll-back {
    @include iconfont($icon-arrow-single-up, before);
    @include font-size($f-size-sm);
    z-index: -1;
    width: $scrolltop-size;
    height: $scrolltop-size;
    position: fixed;
    right: 14px;
    bottom: $scrolltop-position-bottom;
    background-color: $c-primary;
    color: #fff;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 2px 11px -1px rgba(#000, .9);
    transition: all .25s ease-in-out;
    cursor: pointer;
    &.show {
        opacity: 1;
        z-index: $button-scrolltop-zindex;
    }
    &:hover {
        background-color: darken($c-primary, 7%);
        border-color: darken($c-primary, 9%);
    }
    &:focus { outline: 0; }
    // @media #{$until-tablet-portrait} { // <=768px
    //     &::after {
    //         content: '';
    //         top: 50%;
    //         left: 50%;
    //         position: absolute;
    //         width: 60px;
    //         height: 60px;
    //         transform: translate(-50%, -50%);
    //     }
    // }
}
.overlay-in-md {
    .btn-scroll-back {
        opacity: 0;
        transform: scale(0);
    }
}
