// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************
$image-scale-hover: scale(1.04);
$image-scale-hover-time: .3s;

// + Destinations offers grid
// -------
.destinations-offers {
    margin: 0 -14px;
}
.destinations-offers > * {
    display: inherit;
    width: 100%;
}
.destination-offer_aside {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-width: auto;
    padding: 0;
    margin-top: 4px;
    .column {
        &:first-child {
            margin-bottom: 4px;
        }
        margin-bottom: 20px;
    }
    .all_offers {
        margin-bottom: 0;
        padding-top: 14px;
    }
}
.destination-offer_image {
    max-height: none;
}


// + Destination offer component
// -------
.destination-offer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    &[role='link'] {
        cursor: pointer; 
        &:focus {
            @include accessibility-outline;
        }
    }
}
.destination-offer_body {
    position: relative;
    height: 100%;
}
.destination-offer_image {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 1px;
    position: relative;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 1px;
        object-fit: cover;
        transition: all $image-scale-hover-time ease-in-out;
    }
    // &:hover {
    //     img {
    //         transform: $image-scale-hover;
    //     }
    // }
}
.destination-offer_caption {
    position: absolute;
    right: 0;
    bottom: 13.5%;
    flex: 0 0 auto;
    font-family: $f-title;
    line-height: 1.2;
    background: #FFF;
    padding: 5px 50px;
    border-radius: 100vh 0 0 100vh;
    margin-top: 10px;
    a {
        text-decoration: none;
    }
    .city,
    .price_wrap {
        display: block;
        margin: 0;
    }
    .city {
        @include font-size($f-size-md-sm);
        font-weight: 600;
        color: $c-primary;
    }
    .price_wrap {
        color: $c-secondary;
    }
}


// + Destinations offers price list
// -------
.destinations-offers_select_header {
    display: block;
    padding: 0 0 14px;
    .ui-dropdown {
        display: inline-block;
    }
    .ui-dropdown_list {
        width: auto;
        left: auto;
        right: 0;
    }
    .title {
        font-family: $f-title;
        @include font-size($f-size-md-sm);
    }
    .title_trigger {
        @include collapse-trigger($f-size, #fff, right);
        font-size: calculateEm($f-size-md-sm,$f-size);
        font-family: $f-title;
        box-sizing: content-box;
        cursor: pointer;
        // modifiers
        &.hide-caret {
            padding-right: 0;
            cursor: auto;
            pointer-events: none;
            &::after {
                content: none;
            }
        }
    }
    .title_trigger_label {
        position: relative;
        &:before { // custom underline
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }
    }
}
.destinations-offers_pricelist {
    background: $c-secondary;
    color: #fff;
    padding: 38px $gutter-sides;
    .destinations-offers_select_header {
        display: block;
        padding: 0 0 13px;
    }
    .all_offers {
        margin-bottom: 22px;
        padding-top: 8px;
        @include font-size($f-size-md-sm);
        text-align: right;
        font-family: $f-title;
    }
}


// + Destination offers main
// -------
// .destinations-offers_item--main {}


// + Destinations guide
// -------
.destination-guides {
    @media #{$until-tablet-landscape} { // <=992px
        .grid-column {
            flex-direction: row;
        }
    }
    @media #{$until-mobile} { // <=640px
        .grid-column {
            flex-direction: column;
        }
    }
}
.destinations-guide_offer {    
    .destination-offer_caption {
        position: absolute;
        bottom: 10px;
        left: 20px;
        display: block;
        font-family: $f-title;
        font-weight: 600;
        transform: translateY(0);
        transition: transform .26s ease-in-out .06s;
        .city {
            @include font-size($f-size-xxlg);
            color: #fff;
        }
    }
    .grid-column & {
        .destination-offer_caption {
            bottom: 26px;
        }
    }
    &:hover {
        .destination-offer_caption {
            transform: translateY(-18px);
        }
    }
    .destination-offer_image {
        max-height: inherit;
    }
}

// [Responsive]
@media #{$tablet-portrait} { // >= 768px
    .destinations-offers {
        display: flex;
        margin: 0;
        height: 100%;
    }
    .destination-offer {
        height: 100%;
    }
    .destination-offer_aside {
        flex: 1 1 30%;
        min-width: 300px;
        margin-top: 0;
        .column {
            margin-bottom: 5%;
            height: 50%;
            &:first-child {
                margin-bottom: 0;
            }
        }
    }
    .destinations-offers_pricelist {
        height: 100%;
        padding-right: 8%;
        padding-left: 8%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .destinations-offers_select_header {
        display: none;
        padding: 14px 0;
    }
    .destination-offer_body,
    .destination-offer_image {
        height: 100%;
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .destination-offer_caption {
        bottom: 10.3%;
        padding: 3px 35px;
        .city {
            @include font-size($f-size);
        }
        .price_wrap {
            @include font-size($f-size-sm);
        }
    }
}