// ********************
//  COMPONENTS
//
// ********************
//  EMAIL BOX
//
// ********************

.email-box {
    box-sizing: border-box;
    padding: calculateRem(12px) calculateRem($gutter) 0;
    background-color: $c-color3;
    .ui-input {
        font-weight: 600;
    }
}
.email-box_intro {
    padding-bottom: 11px;
    text-align: left;
}
.email-box_trigger {
    @include iconfont($icon-email);
    position: relative;
    padding: 0 0 0 2.25em;
    color: $c-primary;
    text-decoration: underline;
    cursor: pointer;
    &::before { //## button icon
        position: absolute;
        top: -3px;
        left: 0;
        font-size: calculateEm(27px);
    }
    &:hover {
        color: $c-link-hover;
    }
}
.email-box_body {
    display: flex;
    max-width: 570px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}
.email-box_form_wrap,
.email-box_buttons {
    margin: 0 0 21px;
}
.email-box_form_wrap {
    flex: 1 0 234px;
}
.email-box_button-action {
    @extend .btn-primary;
    min-width: 140px;
    margin-left: $form-horizontal-gutter;
}
// [Responsive]
@media #{$mobile-sm} { // >=480px
    .email-box {
        margin: 0 auto;
        padding: calculateRem(26px) calculateRem(20px) calculateRem(10px);
    }
    .email-box_intro {
        text-align: center;
    }
    .email-box_form_wrap,
    .email-box_buttons {
        margin: 8px 0 21px;
    }
}