// ********************
//  COMPONENTS
//
// ********************
//  MAIN BANNER
// ****************************************
//
//    + Main banner
//    + Main banner indicators
//    + banner caption page corporative
//
// ****************************************

$main-banner-height: 351px;
$main-banner-height--mobile: 200px;
// + main banner
// -------
.main-banner {
    position: relative;
    margin: 0 0 $gl-gutter;
    overflow: hidden;
    .home-page & {
        margin: 0;
    }
    @media #{$tablet-landscape} {
        margin: 0 0 $gl-gutter * 2;
    }
}
.main-banner_slider {
    background-color: #000;
}
.main-banner_innerpages {
    .main-banner_item  {
        height: 425px;
    }
    .main-banner_controls {
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 70px;
    }
    .slide-control {
        display: block;
    }
}
.main-banner_item {
    display: none;
    position: relative;
    height: $main-banner-height--mobile;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    &.active {
        display: block;
    }
}
.main-banner_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img { width: 100%; }
}
.main-banner_container {
    position: relative;
    height: 100%;
}
.main-banner_button {
    @extend .btn-light;
    @include font-size($f-size-sm);
    z-index: 2;
    position: absolute;
    left: $gutter-sides;
    bottom: 15px;
    min-width: 90px;
}
.main-banner_caption {
    z-index: 2;
    position: absolute;
    top: 26px;
    font-family: $f-title;
    color: #FFF;
    line-height: normal;
    background-color: rgba(0, 30, 89,.76);
    padding: 2px 23px 2px 30px;
    border-radius: 0 100vh 100vh 0;
    .title {
        @include font-size($f-size);
        display: block;
        font-weight: 400;
        letter-spacing: -0.04em;
    }
    .subtitle {
        @include font-size($f-size-sm);
        display: block;
        margin-bottom: 0;
    }
    .text {
        display: block;
        margin-top: 2px;
        @include font-size($f-footnote);
    }
    &.align-right {
        right: 0;
        text-align: right;
        padding: 0 30px 0 23px;
        border-radius: 100vh 0 0 100vh;
    }
    &.align-center {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 30px 0 30px;
        border-radius: 100vh;
    }
}

// + banner controls
// -------
.main-banner_controls {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: $container-max-width;
    transform: translateX(-50%);
}
.main-banner_pager {
    display: none;
    z-index: 4;
    position: absolute;
    right: $gutter;
    bottom: 10px;
}
.main-banner_pager_item {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &.active {
        background-color: $c-secondary;
    }
}

.slide-control {
    z-index: 44;
    display: none;
    width: 7%;
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    &:focus {
        outline-offset: -3px;
    }
    &.left {
        left: 0;
        .icon {
            right: 0;
        }
    }
    &.right {
        right: 0;
        .icon {
            left: 0;
        }
    }
    .icon {
        @include font-size($f-size-super);
        color: $c-secondary;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media #{$mobile-sm} { // >=480px
    // .main-banner_item {
    //     height: 220px;
    // }
    .main-banner_caption {                  
        top: 34px;        
        padding: 6px 34px 10px 40px;
        .title {
            @include font-size($f-size-md);
        }
        .subtitle {
            @include font-size($f-size-md-sm);
        }
        &.align-right {
            padding: 3px 40px 3px 34px;
        }
        &.align-center {
            padding: 3px 40px 3px 40px;
        }
    }
    .main-banner_button {        
        bottom: 20px; 
        min-width: 130px;
        @include font-size($f-size);
    }
}
@media #{$tablet-portrait} { // >= 768px
    .main-banner_caption {   
        top: 68px;
        padding: 13px 90px 13px calculateEm(40px, $f-size);
        .title {
            @include font-size($f-size-xxlg);
        }
        .subtitle {
            @include font-size($f-size-md-sm);
        } 
        &.align-right {
            padding: 13px $gutter-sides 13px 90px;
        }
        &.align-center {
            padding: 13px 90px;
        }
    }
    .main-banner_item {
        height: $main-banner-height;    
    }
    .main-banner_button {      
        bottom: 40px;                        
        min-width: 200px;
        padding: 10px 24px;
    }
    .main-banner_pager {
        display: block;
    }
}
@media #{$tablet-landscape} { // >= 992px
    .main-banner_button {      
        left: $gutter-desktop;
    }
    .main-banner_pager {
        right: $gutter-desktop;
    }   
}
@media (min-width: $container-max-width-px + ($gutter-desktop * 2)) { // out desktop gutter
    .main-banner_button {      
        left: calc((100% - #{$container-max-width-px}) / 2);
    }
    .main-banner_pager {
        right: 0;
    }
}
