// ********************
//  COMPONENTS
//
// ********************
//  NEWSLETTER
//
// + Newsletter component
// + Newsletter subscribe page
//
// ****************************************

// + Newsletter component
// -------
.newsletter_form {
    @include clearfix;
    padding: 20px;
    margin: 0 -#{$gutter-sides};
    background-color: $c-primary-dark;
    .ui-input-container {
        padding: 0;
    }
    .ui-input_wrap {
        background-color: #fff;
        border-radius: $border-radius;
    }
    .ui-form_group {
        margin-bottom: 0;
    }
    .ui-input {
        height: 50px;
        border: 1px solid $c-color2;
        border-radius: $border-radius;
        background-color: #fff;
    }
    .ui-form_input-buttons {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .newsletter_form_button {
        @extend .btn-action;
    }
}
.newsletter_form_title {
    margin-bottom: 14px;
    .title {
        @extend .title-h2;
        margin-bottom: 0;
        color: #fff;
        font-weight: 700;
    }
}
.newsletter_form_intro {
    color: #fff;
    margin-bottom: 14px;
}

// + Newsletter subscribe page
// -------
.newsletter_subscribe_form {
    .container {
        @extend .form;
        @extend .columns-2;
    }
}

// [Responsive]
@media #{$mobile} { // >=640px 
    .newsletter_form {
        padding: 34px;
        .ui-form_input-buttons {
            margin-top: 0;
        }
    }
}
@media #{$tablet-landscape} { // >=992px
    .newsletter_form_intro {
        float: left;
        width: 40%;
        padding-right: 20px;
        margin: 0;
        box-sizing: border-box;
    }
    .newsletter_form_wrap {
        width: 60%;
        float: right;
    }
}