<div class="header">
    <div class="header_brand">
        <a href="https://www.hkexpress.com" title="https://www.hkexpress.com" target="_blank" rel="noreferrer">
            {% set image = {
                src: 'logo'
            } %}
            {% include './image.njk' %}
        </a>
    </div>
    <span class="header_code">{{ boardingPass.ticket.value }}</span>
</div>