{#
    DOCUMENTATION
    image = {
        name: 'string' // image file name
    }
#}
<img src="https://newshore-ibe.herokuapp.com/airlines/{{ projectName | default('Paranair') }}/src/assets/imgs/{{ image.src }}.png" />