<div class="tip-box">
    {% if tipBox.title %}
        <h2>
            <span class="field_label">
                {{ tipBox.title }}
            </span>
            <span class="field_label-translation">
                {{ tipBox.titletranslation }}
            </span>
        </h2>
        {% if tipBox.subtitle %}
            <h3>{{ tipBox.subtitle }}</h3>
        {% endif %}
        {% if tipBox.icon %}
            <div class="tip-box_icon">
                {% set image = {
                    name: tipBox.icon
                } %}
                {% include './image.njk' %}
            </div>
        {% endif %}
        {% if tipBox.description %}
            <p class="tip-box_description">
                {{ tipBox.description }}
                {% if tipBox.link %}
                    <a href="tipBox.link.href" title="tipBox.link.href" target="_blank" rel="noreferrer">{{ tipBox.link.text }}</a>
                {% endif %}
            </p>
        {% endif %}
    {% endif %}
</div>