// ********************
//  SECTIONS
//
// ********************
//  NEWS
// ********************
//
//  + news list  
//
// ********************


// + Variables
// -------
$news-list-gutter: 30px;
$news-list-gutter-half: $news-list-gutter / 2;

// news list
.news-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -#{$news-list-gutter-half};
}
.news-list_item {
    flex-basis: calc(100% / 3 - #{$news-list-gutter});
    margin: 0 #{$news-list-gutter-half} 60px;
    border-bottom: 1px solid $c-primary;
    padding-bottom: 4px;
}
.news-list_date-column {
    margin-bottom: 3px;
    .date {
        @extend .title-h4;
        color: $c-primary-dark;
        font-weight: 600;
    }
}
.news-list_content {
    a {
        margin-bottom: 16px;
        text-decoration: none;
    }
    .title {
        @extend .context-h2;
        padding-bottom: 20px;
        color: $c-primary;
        margin-top: 0;
        &:hover {
            @extend a:hover;
        }
    }
} 

.news_header {
    margin-bottom: 42px;
    .title {
        @extend .title-h2;
        @include font-size($f-size-xxlg);
        color: $c-primary;
        line-height: 1.1;
        margin-bottom: 0;
    }
    .subtitle {
        @extend .title-h3;
        color: $c-primary;
        font-weight: 400;
        margin: 4px 0 0 0;
    }
}

$news-list-gutter: 26px;
$news-list-gutter-half: $news-list-gutter / 2;
@media #{$until-tablet-landscape} { // <= 992px
    .news-list_item {
        flex-basis: calc(50% - #{$news-list-gutter});
        margin: 0 #{$news-list-gutter-half} 60px;
    }
}
@media #{$until-mobile} { // <= 640px
    .news-list_item {
        flex-basis: 100%;
    }
}


