// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  STANDBY PAGE
// ****************************************
//
//
// ****************************************


// + standby-page
// -------
.standby-page {
    // context
    .context-h2 {
        @include font-size($f-size);
    }
    @media #{$tablet-landscape} {
        .context-h2 {
            @include font-size($f-size-md);
        }
    }

    // header
    .main-header_wrap {
        position: static;
    }

    // main banner
    .main-banner_caption {
        margin: 0;
    }

    // offers / destinations
    .destinations-offers {
        pointer-events: none;
        .all_offers {
            display: none;
        }
    }
    .destination-offer {
        &[role=link] {
            cursor: auto;
        }
    }
    .destination-offer_image {
        cursor: auto;
    }
    .destinations-offers_select_header {
        .title_trigger {
            text-decoration: none;
            pointer-events: none;
            cursor: auto;
            &:hover {
                color: inherit;
            }
            &::after {
                content: none;
            }
        }
    }
    .destination-offer_link {
        display: none;
    }
    .table-offers {
        .currency {
            &::before {
                content: none;
            }
        }
    }

    // offers / deals
    .offer-deal {
        user-select: auto;
        cursor: auto;
    }

    // main footer
    .main-footer {
        padding: 8px 0 24px;
    }
    .main-footer_socialmedia,
    .main-footer_logo {
        border-top-width: 0;
    }
}

.standby_message {
    width: 100%;
    p {
        line-height: 1.3;
    }
    @media #{$mobile-sm} {
        margin: 0 auto 12px;
    }
    @media #{$tablet-landscape} {
        margin: 8px auto 0;
        max-width: 75%;
    }
}