{#
    DOCUMENTATION:
    labelIcon: {
        VARIABLES:
        label: 'string' // text caption
        icon: 'string' // top icon image
    }

    EXAMPLE:
    {% set labelIcons = {
        icon: 'computer-plane',
        label: 'Manage all your bookings from a single site.'
    } %}
    {% include "partials/components/_shared/_action-box.njk" %}
#}

<div class="action-box">
    <span class="label">
        Amount on hold
        <span class="price">{{SHARED.currency}} 3,945</span>
        <span class="mobile-fixed_label">{{SHARED.currency}} <span class="value">3,945</span></span>
    </span>
    <div class="mobile-fixed button-column">
        <button class="button action-box_button">
            <span>Proceed to payment</span>
            <span class="mobile-fixed_button-caption">Pay now</span>
        </button>
    </div>
</div>
