{#
    DOCUMENTATION

    EXAMPLE
    {% include "partials/components/_shared/_comments.njk" %}
#}

<div class="comments">
    <ol class="comments_list">
        <li>
            <span class="comment_date">28 feb 2018 - 17:48</span>
            <span class="comment">Test Agent Booking Comment</span>
        </li>
    </ol>
    <textarea class="ui-textarea" name="booking_comment" id="booking_comment" rows="5"></textarea>
    <div class="comments_footer">
        <button class="button btn-primary">Add comment</button>
    </div>
</div>
