{#
    DOCUMENTATION:
    ddPopover = {
        VARIABLES:
        isAgentLogged: 'boolean',    // if agent is already loggued
        isLogged: 'boolean'          // if is logged add logout link
        id: 'string'                 // need to open dropdown, must be the same as aria-controls of trigger button
    }
    ddPopoverList = {
        VARIABLES:
        text: 'string', // link text
        url: 'string',  // link url
        icon: 'string'  // icon class
    }

    EXAMPLE:
    {% set ddPopover = {
        id: 'collapseUserAgentAccount',
        isAgentLogged: true,
        isLogged: true
    } %}
    {% set ddPopoverList = [
        {
            text: 'Agent portal',
            url: 'AC_home' + urlExtension | default('.html'),
            icon: 'home'
        },
        {
            text: 'Account Management',
            url: 'AC_account_management' + urlExtension | default('.html'),
            icon: 'edit'
        }
    ] %}
    {% include "partials/components/_shared/_dropdown-popover.njk" %}
#}

<div class="ui-dropdown-popover"
    role="listbox"
    tabindex="-1"
    aria-hidden="true"
    id="{{ddPopover.id}}">
    <button class="iconlink-close">
        <span class="hide-visually">close</span>
    </button>
    <ul class="ui-dropdown-popover_list">
        {% if ddPopover.hasHeader | default(true) %}
            <li class="header{% if layout == 'u-fly' %} hidden-in-desktop{% endif %}">
                {% if ddPopover.isAgentLogged %}
                <ul>
                    <li class="company-name">CompanyName</li>
                    <li class="agent-name">AgentName</li>
                    <li class="credit">{{SHARED.currency}} <span class="quantity">577</span></li>
                </ul>
                {% endif %}
                
                {% if layout == 'u-fly' %}
                    <a class="item_link company-name" role="presentation">
                        Richard Roe
                        <span aria-hidden="true" class="icon icon-user"></span>
                    </a>
                {% endif %}
            </li>
        {% endif %}
        {% for ddPopoverLink in ddPopoverList %}
            <li role="option">
                <a class="item_link" href="{{ddPopoverLink.url}}">
                    <span aria-hidden="true" class="icon icon-{{ddPopoverLink.icon}}"></span>
                    {{ddPopoverLink.text}}
                </a>
            </li>
        {% endfor %}
        {% if ddPopover.isAgentLogged or ddPopover.hasLogout %}
            <li class="separator"></li>
            <li role="option">
                <a class="item_link" href="AC_login.html">
                    <span aria-hidden="true" class="icon icon-logout"></span>
                    Logout
                </a>
            </li>
        {% endif %}
    </ul>
</div>
