{#
    DOCUMENTATION:
    newsletter: {
        VARIABLES (JSON):
        title: 'string',
        intro: '',
        buttonText: 'string', // Text of button default send
        form: {
            label: 'string', // name label
            placeholder: 'string', // placeholder text input
            name: 'string',
            id: 'string'
        }
    }
    {% include "partials/components/_shared/_newsletter.njk" %}
#}

<div class="email-box">
    <div class="email-box_intro">
        <button class="email-box_trigger" data-toggle="collapse" data-target="#emailBoxBody">{{ emailBox.intro }}</button>
    </div>
    <div class="email-box_body_wrap collapse" id="emailBoxBody">
        <div class="email-box_body">
            <div class="email-box_form_wrap">
                {% set inputForm = emailBox.form %}
                {% include "partials/ui-elements/_input_text.njk" %}
            </div>
            <div class="email-box_buttons">
                <button class="email-box_button-action button">
                    {{  emailBox.buttonText | default('Send') }}
                </button>
            </div>
        </div>
    </div>
</div>