{#
    DOCUMENTATION:
    feedback: {
        VARIABLES (JSON):
        question: string, // text with literal question
        rating: Rating // partials/ui-elements/_rating.njk
        comment: { // input
            placeholder: string
        }
        action {
            button: {
                text: string // button text caption
            }
        }
    }
    {% include "partials/components/_shared/_feedback.njk" %}
#}

<div class="feedback">
    <form>
        <div class="feedback_question">
            <p>{{ feedback.question | default('You like the feedback question ?') }}</p>
        </div>
        <div class="feedback_select">
            {% set rating = feedback.rating %}
            {% include "partials/ui-elements/_rating.njk" %}
        </div>
        <div class="feedback_comment">
            {% set inputForm = {
                type: 'textarea',
                rows: 4,
                placeholder: feedback.comment.placeholder
            } %}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
        <div class="feedback_action">
            <button class="feedback_action-button button">
                {{ feedback.action.button.text | default('submit') }}
            </button>
        </div>
    </form>
</div>
