{#
    DOCUMENTATION:
    newsletter: {
        VARIABLES (JSON):
        title: 'string',
        intro: '',
        buttonText: 'string', // Text of button default send
        form: {
            label: 'string', // name label
            placeholder: 'string', // placeholder text input
            name: 'string',
            id: 'string'
        }
    }
    {% include "partials/components/_shared/_newsletter.njk" %}
#}

{% set inputForm = newsletter.form %}
<div class="newsletter">
    <div class="newsletter_form">
        {% if newsletter.title | length %}
            <div class="newsletter_form_title">
                <h2 class="title">
                    {{newsletter.title | safe}}
                </h2>
            </div>
        {% endif %}

        {% if (newsletter.intro | length) or (newsletter.list | length) %}
            <div class="newsletter_form_intro">
                {% if newsletter.intro | length %}<p>{{newsletter.intro}}</p>{% endif %}
                {% if newsletter.list | length %}
                    <ul>
                        {% for listItem in newsletter.list.items %}
                            <li>{{ listItem.text }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endif %}
        
        <div class="newsletter_form_wrap">
            <div class="ui-form_input-button">
                {% set inputForm = newsletter.form %}
                {% include "partials/ui-elements/_input_text.njk" %}
    
                <div class="ui-form_input-buttons">
                    <button type="button" class="newsletter_form_button button">
                        {{  newsletter.buttonText | default('Send') }}
                    </button>
                </div>
            </div>
        </div>

        {# note #}
        {% if newsletter.note | length %}
            <div class="newsletter_note">
                <p class="newsletter_note-text">{{newsletter.note.text | safe}}</p>
            </div>
        {%endif%}

        {% if newsletter.canBeClosed | default(false) %}
            <div class="newsletter_close">
                <button class="newsletter_close-btn">
                    <span class="newsletter_close-btn_label">{{newsletter.closeLabel}}</span>
                </button>
            </div>
        {% endif %}
    </div>
</div>