{#
    DOCUMENTATION:
    paymentMethodsList: {
        title?: string // title caption "payement methods", if not has this not render payment-methods-list_title div
        paymentMethods: {
            items: [ // image collection (min: 1)
                {
                    name: string,
                    img: string, // with free ext (.svg, .ong)
                    alt?: string
                    url?: string // if dontn't, transform <a> tag to <div> tag
                }
            ]
        }
    }
    {% include "partials/components/_shared/_payment-methods-list.njk" %}
#}

<div class="payment-methods-list">
    {% if paymentMethodsList.title.text %}
        <div class="payment-methods-list_title">
            <span class="payment-methods-list_title_text">{{ paymentMethodsList.title.text }}</span>
        </div>
    {% endif %}
    <ul class="payment-methods-list_container">
        {% for paymentMethod in paymentMethodsList.paymentMethods.items %}
            <li class="payment-methods-list_item">
                {% if paymentMethod.url %}
                    <a class="payment-methods-list_image" href="#">
                        <img src="{{ project_assets_path }}imgs/payment-methods/credit-cards/{{ paymentMethod.img }}" title="{{ paymentMethod.name }}" alt="{{ paymentMethod.alt | default(paymentMethod.name) }}">
                    </a>
                {% else %}
                    <div class="payment-methods-list_image">
                        <img src="{{ project_assets_path }}imgs/payment-methods/credit-cards/{{ paymentMethod.img }}" title="{{ paymentMethod.name }}" alt="{{ paymentMethod.alt | default(paymentMethod.name) }}">
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>