// ********************
//  IBE COMPONENT
//
// ********************
//  BOOKING SUMMARY
// ********************
//
// ## this component works together with summary component
//
// ********************

.booking-summary {
    padding: 14px 28px;
    background: $c-color3;
    .summary_fare {
        align-items: flex-end;
    }
}

@media #{$tablet-portrait} and (max-width: 1000px) { // >=768 <=1000
    .booking-summary {
        @include summary-journey-l2;
    }
}
@media #{$tablet-portrait} { // >= 768px
    .booking-summary {
        .summary_body {
            display: flex;
            justify-content: space-between;
        }
        .summary_journey {
            flex: 0 1 46%;
            width: 46%;
            &.return {
                margin-left: 4%;
            }
        }
        .summary_fare {
            justify-content: flex-end;
        }
        .summary.oneway {
            .summary_journey {
                flex: 0 1 56%;
                width: 56%;
            }
        }
    }
}
@media (min-width: 1000px) {
    .booking-summary {
        .summary_journey {
            min-width: 412px;
        }
    }
}