// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  COMBINED BAR (SEARCH RESULT + SUMMARY)
// ****************************************
//
// ****************************************

//## animation to smooth fixed combined bar effect on scroll
// @keyframes combinedbarSmoothScroll {
//     0% { transform: translateY(-40px); }
//     100% { transform: translateY(0); }
// }

.combined_summary_wrapper {
    z-index: $summary-fixed-zindex;
    position: relative;
    width: 100%;
    background-color: $c-primary-dark;
}
.combined_summary_bar {
    @extend .container-wrap;
    position: relative;
    // margin-bottom: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    &.is-searchresult {
        margin-bottom: 0;
    }
    .titlebar {
        position: relative;
        color: #fff;
        .title {
            @include font-size($f-size-md-sm);
            font-family: $f-title;
            font-weight: 400;
            line-height: 1.2;
        }
        .subtitle {
            @include font-size($f-size);
            margin-top: 4px;
            line-height: 1.2;
            font-weight: 300;
        }
    }
}
.combined_summary_bar-left {
    z-index: 2;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    .left {
        flex: 1 1 auto;
    }
    .right {
        flex: 0 0 auto;
    }
}
.combined_summary_bar_button {
    @extend .btn-action;
    min-width: auto;
    min-height: auto;
}

// [Responsive]
@media #{$summary-collapsed} { // <= 767px
    .combined_summary_wrapper {
        transition: max-height #{$summary-slideup-anima};
        margin-bottom: 0;
    }
    .combined_summary_bar {
        padding: 0;
    }
    .combined_summary_bar-left {
        display: none;
    }
    .summary-opened {
        .combined_summary_wrapper {
            max-height: 90vh;
            height: 90vh;
            background-color: transparent;
        }
    }
    .combined_summary_bar-right {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $c-primary-dark;
    }
}
@media #{$summary-not-collapsed} { // >= 768px
    flight-summary-container {
        display: block;
        min-height: $combinedbar-height;
    }
    .combined_summary_wrapper {
        height: $combinedbar-height;
    }
    .combined_summary_bar {
        display: flex;
        align-items: center;
        height: calc(100% - 24px);
        //box-sizing: border-box;
    }
    .combined_summary_bar-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: $summary-opened-width;
    }
    //## when fixed or opened
    .summary-opened {
        .combined_summary_wrapper {
            z-index: unset;
        }
        .combined_summary_bar-right {
            z-index: $summary-fixed-zindex + 1;
        }
    }
    .search-fixed {
        .combined_summary_wrapper {
            z-index: $summary-fixed-zindex;
            position: fixed;
            top: 0;
            left: 0;
            margin-bottom: 0;
            // animation: combinedbarSmoothScroll #{$search-fixed-animation};
        }
        &.summary-opened {
            .combined_summary_bar-left {
                .searchresult,
                .right {
                    z-index: 1;
                    position: relative;
                }
                &::after {
                    @include overlay-style;
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
}
