// ********************
//  IBE COMPONENT
//
// ********************
//  SUMMARY
// ********************
//
//  + Header
//  + Total
//  + Collapse
//  + Journey
//  + Pax type list
//  + Close button
//
//  [Responsive]
//
//  + Side sliding summary (with its responsive)
//  + Summary aside
//
// *******************

$summary-pad: 40px;


@mixin summary-journey-l2 {
    .summary_route {
        grid-column: 1 / span 4;
        grid-row: 3;
        margin-right: 0;
    }
    .summary_fare,
    .summary_flight {
        margin-top: 4px;
    }
    ibe-type-fare, // IBE-8144 temporal support
    .summary_fare {
        grid-column: 1;
        grid-row: 4;
        text-align: center;
        display: flex;
        align-items: flex-end;
        .fare-label {
            display: block;
            width: 100%;
            white-space: nowrap;
        }
        + .summary_flight { // support summary with fare
            grid-column: 2 / span 3;
            margin-left: 20px;
            text-align: left;
        }
    }
    .summary_flight { // default behabior without fare
        grid-column: 1 / span 4;
        grid-row: 4;
        text-align: center;
    }
}

.summary {
    height: 100%;
    &.oneway {
        .summary_body {
            justify-content: center;
        }
    }
    &.is-empty { //## when summary total is equal 0
        .summary_total_list { display: none; }
    }
}

.currency {
    margin-right: 4px;
}

// + Header
// -------
.summary_header {
    z-index: 1070;
    position: relative;
    right: 0;
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

// + Total
// -------
.summary_trigger {
    @include iconfont($icon-arrow-triangle-right,after);
    display: inline-block; // IE10 support
    color: #fff;
    cursor: pointer;
    &::before,
    &::after {
        vertical-align: middle;
    }
    &::after { //## collapse arrow icon
        @include font-size($f-size-md);
        color: #fff;
        margin-left: 6px;
    }
}
.summary_total {
    @include font-size($f-size);
    width: 100%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    li {
        margin-bottom: 0;
    }
    .price {
        @include font-size($f-size-xxlg);
    }
}
.summary_total_list {
    @include font-size($f-size-md-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    .summary_trigger {
        flex-shrink: 0;
        padding-right: 18px;
    }
    .price {
        font-family: $f-title;
        font-weight: 500;
    }
    li {
        @include clearfix;
        display: block;
        clear: both;
        margin: 0;
    }
}

// + Collapse
// -------
.summary_collapse_header {
    display: none;
}
.summary_head_header {
    position: relative;
    width: 100%;
    height: 86px;
    background-color: #fff;
    padding: 30px $summary-pad;
    box-sizing: border-box;
}
.summary_body {
    box-sizing: border-box;
}

// + Journey
// -------
$summary-journey-icon-width: 72px;
.summary_journey {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr 1fr;
    line-height: 1.2;
    padding: 14px 0 24px;
}
.summary_route {
    @include font-size(20px);
    position: relative;
    display: flex;
    align-items: flex-start;
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-right: 20px;
    
    //## connections
    .connection {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 32px;
    }
    .extra-day {
        span { display: none; }
    }
}
.summary_airport {
    @include font-size($f-size);
    display: flex;
    flex-direction: column-reverse;
    flex-basis: calc((100% - #{$summary-journey-icon-width}) / 2);
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 400;
    &:last-child {
        text-align: right;
    }
}
.summary_airport-code {
    @include font-size($f-size-md-sm);
    font-weight: 400;
    margin-bottom: 4px;
    white-space: nowrap;
}
.summary_time {
    font-weight: 700;
}
.summary_route_icon {
    @include font-size($f-size-md);
    position: relative;
    display: flex;
    flex: 0 0 #{$summary-journey-icon-width};
    width: $summary-journey-icon-width;
    padding: 0 3%;
    justify-content: center;
    color: $c-secondary;
    &::after { //## icon flight
        font-family: $f-icons;
    }
    &::before { //## icon flight line
        content: '';
        position: relative;
        top: 13px;
        display: block;
        width: 56%;
        height: 2px;
        margin-right: 6px;
        background-color: $c-primary-dark;
    }
    &.departure {
        &::after {//## icon flight
            content: $icon-airplane-right;
        }
    }
    &.return {
        &::after {//## icon flight
            content: $icon-airplane-right;
        }
    }
}
.summary_date {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 0 0 13px;
    @include font-size($f-size-md-sm);
    color: $c-primary;
    font-weight: 600;
    &:first-letter {
        text-transform: uppercase;
    }
}
.summary_fare {
    grid-column: 4;
    grid-row: 3;
    text-align: right;
    + .summary_flight {
        grid-row: 4;
        padding-top: 6px;
    }
}
.summary_flight {
    @include font-size($f-size);
    grid-column: 4;
    grid-row: 3;
    padding-top: 2px;
    text-align: right;
    [class^='fare'] {
        display: table;
        margin-left: auto;
    }
}
.summary_label {
    grid-column: 1 / span 4;
    grid-row: 1;
    @include font-size(20px);
    color: $c-secondary;
    font-weight: 600;
    margin-bottom: 2px;
}
.summary_typology {
    margin: 14px 0;
    padding-bottom: 6px;
    border-bottom: 1px solid $c-border;
}
.summary_typology_item {
    display: flex;
    justify-content: space-between;
    &[aria-expanded] {
        @include collapse-trigger($f-size, $c-primary-dark);
        display: flex;
        font-weight: 600;
    }
    .paxtype_price {
        flex-grow: 1;
        text-align: right;
    }
}
.summary_typology_group {
    margin-bottom: 20px;
    &:first-child {
        margin-top: 1px;
    }
    &:last-child {
        margin-bottom: 14px;
    }
}
.summary_typology_container {
    margin-right: 26px;
    .table {
        margin: 7px 0;
        tbody {
            th,td {
                border: 0;
            }
        }
        th {
            padding-left: 0;
        }
        td:last-child {
            text-align: right;
            padding-right: 0;
        }
    }
}

// + Pax type list
// -------
.paxtype {
    display: inline-block;
    &::after {
        content: ',';
        margin-right: 2px;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}

// + At Bottom
// -------
// ++ Total
.summary_total-bottom_wrap {
    @include clearfix;
    margin: 48px 0 24px;
    margin-right: -40px;
}
.summary_total-bottom {
    @include inverse-heading( $c-primary-dark, 100vh, 20px, left);
    display: flex;
    float: right;
    align-items: center;
    font-weight: 600;
    margin: 0;
}

// ++ Close button
.summary_close_btn {
    @extend .button;
    @extend .btn-secondary;
    min-width: 0;
    margin-bottom: 14px; // IE11 Support
    padding-left: 42px;
    padding-right: 42px;
}

// + Side sliding summary
// -------
.combined_summary_bar {
    .summary_collapse {
        display: none;
        background: $summary-body-background;
    }
    .summary_body {
        @include custom-scroll;
        height: calc(100vh - 154px);
        padding: 14px 40px 0 40px;
        overflow-y: auto;
        background: $summary-body-background;
    }
    .summary_fare {
        white-space: nowrap;
    }

    @media #{$summary-collapsed} { // <= 767px
        .summary_body {
            padding: 14px;
            box-sizing: border-box;
            height: calc(84vh - 45px);
        }
        .summary_total-bottom_wrap {
            margin-right: -14px;
        }
        //## when summary is opened
        .summary-opened & {
            .summary_collapse {
                display: block;
            }
        }
    }
    @media #{$summary-not-collapsed} { // >= 768px
        .summary_collapse_header {
            display: flex;
            align-items: center;
            padding: 24px $summary-pad 92px;
            background-color: #fff;
            .title {
                @include font-size($f-size-lg);
                color: $c-primary-dark;
                font-weight: 600;
                text-transform: uppercase,
            }
            .close {
                @include iconfont($icon-cross);
                position: absolute;
                top: 30px;
                right: $summary-pad;
                color: $c-primary-dark;
                font-weight: 600;
                font-size: calculateRem(22px);
                cursor: pointer;
            }
        }
        .summary_collapse {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
            width: $summary-opened-width;
            transform: translateX(100%);
            transition: all .42s ease-in-out;
        }
    
        //## when summary is opened
        .summary-opened & {
            .summary_header {
                position: fixed;
                width: $summary-opened-width;
                height: $combinedbar-height;
                background: $c-primary-dark;
            }
            .summary_trigger {
                left: 36px;
                transform: translate(0, -50%);
            }
            .summary_collapse {
                transform: translateX(0);
            }
        }
        .search-fixed & {
            .summary_collapse {
                top: $combinedbar-height;
            }
            .summary_collapse_header { display: none; }
            .summary_body {
                height: calc(100vh - #{$combinedbar-height});
                padding: 40px;
            }
        }
    }
}

// + Summary aside
// -------
// .summary-aside { // not yet supported for payments
//     display: none;
//     padding: 34px;
//     height: 100%;
//     background: $c-color3;
//     .summary {
//         @include summary-journey-l2;
//     }
//     .summary_header {
//         display: none;
//     }
//     .summary_collapse.collapse { display: block; }
//     @media #{$summary-not-collapsed} { // >= 768px
//         display: block;
//     }
// }


// [Responsive]
@media #{$mobile} {
    .summary_route {
        .connection {
            top: 27px;
        }
    }
}
@media #{$summary-collapsed} { // < 768px
    .summary_header {
        height: 45px;
        padding: 10px 14px;
    }
}
@media #{$summary-not-collapsed} { // >= 768px
    .summary_trigger {
        @include iconfont($icon-cart,before);
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(-100%, -50%);
        transition: .4s ease-in-out;
        white-space: nowrap;
        &::before { //## cart icon
            @include font-size($f-size-md);
            color: $c-secondary;
            margin-right: 14px;
            line-height: 1;
        }
        &::after { //## caret
            transition: .8s ease-out;
        }
        &[aria-expanded='false']{
            &::after { //## collapse arrow icon
                opacity: 1;
            }
        }
        &[aria-expanded='true'] {
            &::after { //## collapse arrow icon
                transform: rotate(180deg);
                opacity: 0;
            }
        }
    }
    .summary_total_list {
        display: flex;
        padding: 0 $summary-pad;
    }
}
@media (max-width: 540px) {
    .summary_journey {
        @include summary-journey-l2;
    }
}