// main: ../../../styles.scss
//
// ********************
//  IBE COMPONENT
//
// ********************
//  SUMMARY - MORE DETAILS
// ********************
//
// *******************

// + Summary details
// -------
.summary_details {
    text-align: center;

    // .legal-terms {
    //     @include font-size($f-size-xs);
    //     padding: 14px 3% 7px;
    // }
}
// .summary_details_trigger {
//     @include collapse-trigger($f-size, $c-primary, right);
//     position: relative;
//     display: inline-block;
//     font-family: $font-name;
//     color: $c-text;
//     font-weight: 600;
//     text-decoration: none;
//     @include font-size($f-size);
//     line-height: 1.2;
//     text-align: center;
//     margin-top: 14px;
//     cursor: pointer;
//     .label { text-decoration: underline; }
//     &::after {
//         top: 0;
//         @include font-size($f-size-md-sm);
//     }
//     &:hover {
//         .label { text-decoration: underline; }
//     }
// }
.summary_details_content {
    margin: 24px 0 14px;
}
.summary_details_item {
    display: block;
    margin-top: 24px;
    .table {
        thead {
            th {
                @extend .title-h3;
                color: $c-secondary;
                border: 0;
                padding-left: 0;
            }
        }
        tbody {
            th {
                padding-left: 0;
            }
            td {
                text-align: right;
                padding-right: 0;
            }
        }
        th {
            text-align: left;
        }
    }
    .price-resume_wrap {
        display: none;
        &.show { display: block; }        
    }
}

.price-resume_wrap {
    thead, tbody {
        tr {
          th:last-child, td:last-child {
              text-align: right;
          }
          th:first-child {
              padding-left: 0;
          }
        }
    }
}


@media #{$summary-collapsed} { // <= 768px
    .summary_details {
        padding: 0;
        // .legal-terms {
        //     padding-top: 7px;
        //     padding-bottom: 7px;
        // }
    }
    // .summary_details_trigger{
    //     display: none;
    // }
    .summary_details_price {
        display: block;
    }
    .summary_details_item {
        margin: 3px 0;
        &, &:first-child{
            min-width: 0;
            width: 100%;
            margin-left: 0;
        }
        .price-resume_head {
            @include iconfont($icon-arrow-triangle-down, after);
            position: relative;
            padding-right: 26px;
            cursor: pointer;
            &::after {
                position: absolute;
                right: 0;
                top: 7px;
                @include font-size($f-size);
                line-height: 1;
                color: $c-primary;
            }
        }
        &.is-open {
            .price-resume_head {
                &::after {
                    transform: scaleY(-1);
                }
            }
            .price-resume_wrap {
                display: block;
                .table:last-child {
                    margin-bottom: 24px;
                }
            }
            &.summary_details_item:last-child {
                .price-resume_wrap {
                    .table:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media #{$summary-not-collapsed} { // > 769px
    .summary_details_item {
        .price-resume_wrap { display: block; }
    }
}

@media #{$tablet-portrait} { // >= 768px
    .summary_details_content {
        // .oneway & {
        //     margin: 0 $summary-lr-pad-oneway-sm;
        // }
        &.noextras {
            margin: 0 $summary-lr-pad-noextras-sm;
            .oneway & {
                margin: 0 $summary-lr-pad-oneway-noextras-sm;
            }
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .summary_details_content {
        // .oneway & {
        //     margin: 0 $summary-lr-pad-oneway;
        // }
        &.noextras {
            margin: 0 $summary-lr-pad-noextras;
            .oneway & {
                margin: 0 $summary-lr-pad-oneway-noextras;
            }
        }
    }
}
