// main: ../styles.scss

// ****************************************
//  
//  PDF ELEMENTS
//
// ****************************************
//  
//  FOLD SECTION
//  
// ****************************************
//  
//  + fold-section
//  
// ****************************************


// + fold-section
//-------------------
.fold-section {
    display: table;
    width: 100%;
    height: 50px;
    margin-top: -9px;
    text-align: center;
    border-top: $pdf-table-border;
    border-bottom: 2px dotted $gray60;
}
.fold-section_text {
    display: table-cell;
    vertical-align: middle;
}