// ****************************************
//  UI-ELEMENTS
//
// ****************************************
//  BUTTONS
// ****************************************
//
//  + General variables
//  + Styles
//      ++ button primary
//      ++ button secondary
//      ++ button inverse
//      ++ button light
//  + States
//      ++ disabled
//
// ****************************************

//+ GENERAL VARIABLES
$button-fontfamily: $f-button;
$button-fontsize: $f-size; // 16px
$button-border-radius: 100vw;
$button-boxshadow: inset 0 0 0 1px;

$btn-darken-percentage: 5%;
$btn-lighten-percentage: 10%;

// + STYLES
// ++ button action
$btn-action-color: #fff;
$btn-action-bg: $c-secondary-dark;
$btn-action-border: $btn-action-bg;
$btn-action-bg-hover: darken($btn-action-bg, 7% );

// ++ button primary
$btn-primary-color: #fff;
$btn-primary-bg: $c-primary;
$btn-primary-border: $btn-primary-bg;
$btn-primary-border-hover: darken($btn-primary-border, $btn-darken-percentage);
$btn-primary-bg-hover: darken($btn-primary-bg, $btn-darken-percentage);

// ++ button secondary
$btn-secondary-color: $c-primary;
$btn-secondary-bg: #fff;
$btn-secondary-border: $c-primary;
$btn-secondary-bg-hover: $btn-secondary-bg;
$btn-secondary-border-hover: $btn-secondary-border;

// ++ button inverse
$btn-inverse-color: #fff;
$btn-inverse-bg: transparent;
$btn-inverse-border: #fff;
$btn-inverse-color-hover: $c-primary;
$btn-inverse-bg-hover: lighten($btn-inverse-border, $btn-lighten-percentage);
$btn-inverse-border-hover: lighten($btn-inverse-border, $btn-lighten-percentage);

// ++ button light
$btn-light-color: $c-secondary;
$btn-light-bg: #fff;
$btn-light-border: $btn-light-color;
$btn-light-bg-hover: $btn-light-bg;

// + STATES
// ++ disabled
$button-disabled-color: #bbb;
$button-disabled-background: #ddd;
$button-disabled-border: $button-disabled-background;