// main: ../styles.scss

// ****************************************
//  
//  PDF ELEMENTS
//
// ****************************************
//  
//  HEADER
//  
// ****************************************
//  
//  + header
//  
// ****************************************


// + header
//-------------------
.header {
    display: table;
    width: 858px;
    height: 66px;
    padding: 0 17px 8px 13px;
    margin: 0 0 10px;
    box-sizing: border-box;
    border-bottom: 10px solid $c-primary;
}
.header_brand, .header_code {
    display: table-cell;
    vertical-align: bottom;
}
.header_brand {
    width: 148px;
    padding-bottom: 5px;
    a {
        display: block;
    }
    img {
        width: 100%;
    }
}
.header_code {
    text-align: right;
    font-size: 19px;
    font-weight: 800;
}