@import "variables";

@font-face {
  font-family: 'pobeda-icons';
  src:  url('#{$icomoon-font-path}/pobeda-icons.eot?mimqwd');
  src:  url('#{$icomoon-font-path}/pobeda-icons.eot?mimqwd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/pobeda-icons.ttf?mimqwd') format('truetype'),
    url('#{$icomoon-font-path}/pobeda-icons.woff?mimqwd') format('woff'),
    url('#{$icomoon-font-path}/pobeda-icons.svg?mimqwd#pobeda-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pbicon-"], [class*=" pbicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pobeda-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pbicon-share {
  &:before {
    content: $pbicon-share; 
  }
}
.pbicon-social-okru {
  &:before {
    content: $pbicon-social-okru;     
    color: #f99400;
  }
}
.pbicon-social-twitter {
  &:before {
    content: $pbicon-social-twitter;     
    color: #00aced;
  }
}
.pbicon-social-instagram {
  &:before {
    content: $pbicon-social-instagram;     
    color: #f0782e;
  }
}
.pbicon-social-facebook {
  &:before {
    content: $pbicon-social-facebook;     
    color: #3f5c98;
  }
}
.pbicon-social-vk {
  &:before {
    content: $pbicon-social-vk;     
    color: #4d75a3;
  }
}
.pbicon-hold {
  &:before {
    content: $pbicon-hold; 
  }
}
.pbicon-fullscreen {
  &:before {
    content: $pbicon-fullscreen; 
  }
}
.pbicon-info {
  &:before {
    content: $pbicon-info; 
  }
}
.pbicon-arrow-circled-left {
  &:before {
    content: $pbicon-arrow-circled-left; 
  }
}
.pbicon-arrow-circled-right {
  &:before {
    content: $pbicon-arrow-circled-right; 
  }
}
.pbicon-arrow-circled-down {
  &:before {
    content: $pbicon-arrow-circled-down; 
  }
}
.pbicon-arrow-circled-up {
  &:before {
    content: $pbicon-arrow-circled-up; 
  }
}
.pbicon-minus {
  &:before {
    content: $pbicon-minus; 
  }
}
.pbicon-plus {
  &:before {
    content: $pbicon-plus; 
  }
}
.pbicon-print {
  &:before {
    content: $pbicon-print; 
  }
}
.pbicon-calendar {
  &:before {
    content: $pbicon-calendar; 
  }
}
.pbicon-calendar-matrix {
  &:before {
    content: $pbicon-calendar-matrix; 
  }
}
.pbicon-calendar-week {
  &:before {
    content: $pbicon-calendar-week; 
  }
}
.pbicon-email {
  &:before {
    content: $pbicon-email; 
  }
}
.pbicon-cross-circled {
  &:before {
    content: $pbicon-cross-circled; 
  }
}
.pbicon-edit {
  &:before {
    content: $pbicon-edit; 
  }
}
.pbicon-check-simple {
  &:before {
    content: $pbicon-check-simple; 
  }
}
.pbicon-currency {
  &:before {
    content: $pbicon-currency; 
  }
}
.pbicon-reload {
  &:before {
    content: $pbicon-reload; 
  }
}
.pbicon-accessibility {
  &:before {
    content: $pbicon-accessibility; 
  }
}
.pbicon-arrow-dotted-left {
  &:before {
    content: $pbicon-arrow-dotted-left; 
  }
}
.pbicon-arrow-dotted-right {
  &:before {
    content: $pbicon-arrow-dotted-right; 
  }
}
.pbicon-arrow-up {
  &:before {
    content: $pbicon-arrow-up; 
  }
}
.pbicon-arrow-down {
  &:before {
    content: $pbicon-arrow-down; 
  }
}
.pbicon-arrow-left {
  &:before {
    content: $pbicon-arrow-left; 
  }
}
.pbicon-arrow-right {
  &:before {
    content: $pbicon-arrow-right; 
  }
}
.pbicon-arrow-two-ways {
  &:before {
    content: $pbicon-arrow-two-ways; 
  }
}
.pbicon-bus {
  &:before {
    content: $pbicon-bus; 
  }
}
.pbicon-cancel {
  &:before {
    content: $pbicon-cancel; 
  }
}
.pbicon-check {
  &:before {
    content: $pbicon-check; 
  }
}
.pbicon-clock {
  &:before {
    content: $pbicon-clock; 
  }
}
.pbicon-etickets {
  &:before {
    content: $pbicon-etickets; 
  }
}
.pbicon-hand-luggage {
  &:before {
    content: $pbicon-hand-luggage; 
  }
}
.pbicon-luggage {
  &:before {
    content: $pbicon-luggage; 
  }
}
.pbicon-luggage-plus1 {
  &:before {
    content: $pbicon-luggage-plus1; 
  }
}
.pbicon-itinerary {
  &:before {
    content: $pbicon-itinerary; 
  }
}
.pbicon-manage-booking {
  &:before {
    content: $pbicon-manage-booking; 
  }
}
.pbicon-plane-left {
  &:before {
    content: $pbicon-plane-left; 
  }
}
.pbicon-plane-right {
  &:before {
    content: $pbicon-plane-right; 
  }
}
.pbicon-plane-inout {
  &:before {
    content: $pbicon-plane-inout; 
  }
}
.pbicon-seat {
  &:before {
    content: $pbicon-seat; 
  }
}
.pbicon-seat-plus {
  &:before {
    content: $pbicon-seat-plus; 
  }
}
.pbicon-seat-auto {
  &:before {
    content: $pbicon-seat-auto; 
  }
}
.pbicon-umbrella {
  &:before {
    content: $pbicon-umbrella; 
  }
}
.pbicon-user-plus {
  &:before {
    content: $pbicon-user-plus; 
  }
}
.pbicon-user {
  &:before {
    content: $pbicon-user; 
  }
}
.pbicon-users {
  &:before {
    content: $pbicon-users; 
  }
}
.pbicon-currency-dollar-filled {
  &:before {
    content: $pbicon-currency-dollar-filled; 
  }
}
.pbicon-discount-filled {
  &:before {
    content: $pbicon-discount-filled; 
  }
}
.pbicon-dog {
  &:before {
    content: $pbicon-dog; 
  }
}
.pbicon-hotels {
  &:before {
    content: $pbicon-hotels; 
  }
}
.pbicon-car-rent {
  &:before {
    content: $pbicon-car-rent; 
  }
}

