$icomoon-font-path: "fonts" !default;

$pbicon-share: "\e939";
$pbicon-social-okru: "\e937";
$pbicon-social-twitter: "\e938";
$pbicon-social-instagram: "\e934";
$pbicon-social-facebook: "\e935";
$pbicon-social-vk: "\e936";
$pbicon-hold: "\e933";
$pbicon-fullscreen: "\e918";
$pbicon-info: "\e919";
$pbicon-arrow-circled-left: "\e91a";
$pbicon-arrow-circled-right: "\e91b";
$pbicon-arrow-circled-down: "\e91c";
$pbicon-arrow-circled-up: "\e91d";
$pbicon-minus: "\e91e";
$pbicon-plus: "\e91f";
$pbicon-print: "\e921";
$pbicon-calendar: "\e922";
$pbicon-calendar-matrix: "\e931";
$pbicon-calendar-week: "\e932";
$pbicon-email: "\e923";
$pbicon-cross-circled: "\e924";
$pbicon-edit: "\e925";
$pbicon-check-simple: "\e926";
$pbicon-currency: "\e927";
$pbicon-reload: "\e928";
$pbicon-accessibility: "\e900";
$pbicon-arrow-dotted-left: "\e901";
$pbicon-arrow-dotted-right: "\e902";
$pbicon-arrow-up: "\e929";
$pbicon-arrow-down: "\e92a";
$pbicon-arrow-left: "\e903";
$pbicon-arrow-right: "\e904";
$pbicon-arrow-two-ways: "\e905";
$pbicon-bus: "\e90e";
$pbicon-cancel: "\e90f";
$pbicon-check: "\e911";
$pbicon-clock: "\e912";
$pbicon-etickets: "\e913";
$pbicon-hand-luggage: "\e914";
$pbicon-luggage: "\e917";
$pbicon-luggage-plus1: "\e920";
$pbicon-itinerary: "\e916";
$pbicon-manage-booking: "\e906";
$pbicon-plane-left: "\e907";
$pbicon-plane-right: "\e908";
$pbicon-plane-inout: "\e92b";
$pbicon-seat: "\e909";
$pbicon-seat-plus: "\e92c";
$pbicon-seat-auto: "\e92d";
$pbicon-umbrella: "\e90a";
$pbicon-user-plus: "\e90b";
$pbicon-user: "\e90c";
$pbicon-users: "\e90d";
$pbicon-currency-dollar-filled: "\e92e";
$pbicon-discount-filled: "\e92f";
$pbicon-dog: "\e930";
$pbicon-hotels: "\e915";
$pbicon-car-rent: "\e910";

