{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page ancillaries-bagagge-page" %}
{% set isOWTrip = true %}
{% set passengers = passengersData.passengers %}
{% set BFstep2 = true %}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-services_add.html',
    secondaryButtonLabel: 'Atrás',
    secondaryButtonUrl: 'BF-baggage_selection.html'
} %}
{% set summary = { 
    nextButtonUrl: '',
    isEmptySummary: true
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# HEADNOTE #}
            <div class="headnote_wrap">
                <div class="headnote">
                    <h1 class="text-uppercase">Paso 2: Selección de equipaje</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set isAlertFull = true %}
            {% set alertflags = {
                items: [
                    {
                        type: 'error',
                        title: '',
                        text: 'Si elegiste pasaje Light, solo puedes llevar tu equipaje de mano. En ese caso click en <a href="BF-services_add.html">CONTINUAR</a>',
                        hasIcon: false
                    }
                ]
            } %}
            {% include "partials/ui-elements/_alert-flag.njk" %}
        </div>
    </div>
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            <p class="title-h3">No dejes nada en casa</p>
            <p class="intro">
                Agrega ahora tu equipaje de hasta 23 kg. Recuerda <a href="#">ver condiciones</a>.
                <br />Clientes Banco de Chile, podrán llevar un equipaje gratis de hasta 23kg. presentándose directamente en aeropuerto con tarjeta Visa Signature, Mastercard Black o Visa Infinite . 
            </p>

            {# BAGGAGE SELECTION #}
            {% set "segmentServiceTable" = {
                "alertText": "Agrégalo ahora desde $7.990, es un 60% más barato que en el aeropuerto.",
                "toLabel": "a",
                "passenger": {
                    "label": "Pasajero"
                },
                "baggage": {
                    "label": "Equipaje"
                }
            } %}
            <div class="service_baggage{% if isOW == true %} oneway{% endif %}">
                {% include "partials/components/IBE/services/services-baggage/_services_baggage-route.njk" %}
            </div>
        
            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
