{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set BFstep1 = true %}
{% set summary = { nextButtonUrl: 'BF-passenger_data.html', isEmptySummary : true } %}
{# day selector type: week, month, bestprice #}
{% set daySelectorType = "bestprice" %}
{# page actions buttons #}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-seat_selection_tabs.html',
    secondaryButtonLabel: 'Atrás',
    secondaryButtonUrl: 'BF-select_flight.html'
} %}
{# ----------------------------------------- #}

{% block content %}

<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# HEADNOTE #}
            <div class="headnote_wrap">
                <div class="headnote">
                    <p>¡Prueba la tarifa Plus! Y podrás llevar equipaje de mano y  bodega, elegir donde sentarte y hacer cambios sin costo.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <h1 class="context-h1 text-center">Ahorra en tu vuelo</h1>
            <p class="intro text-center">Eligiendo uno de nuestros combos podrás ahorrar y tener mayor flexibilidad</p>
        </div>
        <div class="grid-col col-12">
            {% include "partials/components/IBE/flight-select/_trip_selector_fares.njk" %}
        </div>
        <div class="grid-col col-12">
            <p class="smallnote"><span class="fares_list_extra-description">Wow!</span> Sólo al llevar uno de nuestros combos. No se venden por separado</p>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}{% endblock %}
