{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="payment-confirmation">

        {% set paymentHasQR = true %}

        {% if paymentHasQR === true | default(false) %}
        {% set page_title = {
            text: 'Waiting for payment',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% include "partials/components/IBE/payment/_payment-QR.njk" %}
        {% endif %}

        {% set page_title = {
            text: 'Your Itinerary',
            type: 'h2',
            class: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <div class="intro">
            <p>Please, note your booking is still pending. Your booking is considered confirmed once you receive a confirmation email.</p>
        </div>

        <!-- ITINERARY -->
        {% set itinerary = {
            hideActionLink: true,
            hasFootnote: true,
            footnote: 'Hong Kong International airport check-in counter open 3 hours prior to and close 1 hour before scheduled time of departure. For check-in counter opening times at other airports, please refer to hkexpress.com. We recommend that you be at the airport at least 90 minutes before departure time. Guests should take extra time into consideration in case of congestion to/from the airport.',
            actionText: 'Imprimir Itinerario',
            actionIcon: 'printer'
        } %}
        {% include "partials/components/IBE/_common/_itinerary.njk" %}

        <!-- PAYMENT DETAILS -->
        <div class="payment_details_wrap">
            {% set page_title = {
                text: 'Payment details',
                type: 'h2',
                class: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% include "partials/components/IBE/payment/_payment-details.njk" %}
            <div class="footnote">
                <p>The above fees & taxes for flights departing from Hong Kong are inclusive of a HKD120 departure tax.<br>NOTE: For a comprehensive guide on fares, please click here. For information regarding baggage allowance, please click here. Baggage fees may apply.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
