{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page seat-page" %}
{% set BFstep2 = true %}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-baggage_selection.html',
    secondaryButtonLabel: 'Atrás',
    secondaryButtonUrl: 'BF-fare_selection.html'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# HEADNOTE #}
            <div class="headnote_wrap">
                <div class="headnote">
                    <h1 class="text-uppercase">Paso 1: Selección de asiento</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {% set isAlertFull = true %}
            {% set alertflags = {
                items: [
                    {
                        type: 'error',
                        title: '',
                        text: 'Elige el asiento que más te guste. Si no lo seleccionas, nosotros te asignaremos uno sin costo al momento de hacer tu check in.',
                        hasIcon: false
                    }
                ]
            } %}
            {% include "partials/ui-elements/_alert-flag.njk" %}

            <p class="intro text-center">
                Clientes Banco de Chile, presenta tu tarjeta Visa Signature, Mastercard Black o Visa Infinite, podrás acceder a un asiento preferente en el aeropuerto.
            </p>

            {# SEAT SELECTION #}
            {% set segmentSelectorShowsDetailInfo = true %}
            {% set segmentSelectorIsTabs = true %}
            {% set passengers = passengersData.passengers %}
            <div class="seat_tabs_test">
            {% include "partials/components/IBE/seats/_seat_selector.njk" %}
            </div>

            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
