{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set BFstep1 = true %}
{% set summary = { nextButtonUrl: 'BF-passenger_data.html', isEmptySummary : true } %}
{# day selector type: week, month, bestprice #}
{% set daySelectorType = "bestprice" %}
{# page actions buttons #}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: 'BF-fare_selection.html',
    secondaryButtonLabel: 'Atrás',
    secondaryButtonUrl: 'CORP-index.html'
} %}
{# ----------------------------------------- #}

{% block content %}


<div class="container-fluid">
    {# BOOKING STEPS #}
    {# {% include "partials/components/IBE/_booking-steps.njk" %} #}

    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# HEADNOTE #}
            <div class="headnote_wrap">
                <div class="headnote">
                    <p>¡Prueba la tarifa Plus! Y podrás llevar equipaje de mano y  bodega, elegir donde sentarte y hacer cambios sin costo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{# 
<div class="container-fluid">
    
</div> #}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {# PAGE TITLE #}
            {% set page_title = {
                text: 'Elije el vuelo y la mejor tarifa',
                type: 'h1',
                class: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}

            {# NEW SEARCH CONTAINER #}
            {% set newSearch = {
                trigger: {
                    label: "Modifica tu búsqueda"
                },
                header: {
                    title: "¿ A dónde vuelas?"
                }
            } %}
            {% include "partials/components/IBE/newsearch/_newsearch-container.njk" %}
            
            {# SELECT FLIGHT #}
            {% include "partials/components/IBE/flight-select/_select_flight.njk" %}

            {# SELECT FLIGHT FOOTNOTE #}
            {# {% include "partials/components/IBE/flight-select/_select_flight_footnote.njk" %} #}
        
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
