{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set flightIsSelected = true %}
{% set BFstep1 = true %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# SEARCH RESULT AND SUMMARY #}
    {% set summary = {
        nextButtonUrl: 'BF-passenger_data.html'
    } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {# NEW SEARCH #}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>

    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# SELECT FLIGHT #}
    {% include "partials/components/IBE/flight-select/_select_flight.njk" %}

    {# SELECT FLIGHT FOOTNOTE #}
    {% include "partials/components/IBE/flight-select/_select_flight_footnote.njk" %}

    {# PAGE ACTIONS BUTTONS #}
    {% set pageButtons = {
        actionButtonLabel: 'Next',
        actionButtonUrl: 'BF-passenger_data.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}

    {# MODAL: CONNECTIONS #}
    {% set modal = {
        class: 'flights-connections_modal',
        id: 'modal-flightConnections'
    } %}
    {% include "partials/components/IBE/modals/_modal_connection.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
<script>
    $(document).ready(function () {
        $('.flight').hide();
        $('[data-status="selectedFlight"]').show();
    });
</script>
{% endblock %}