{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page" %}
{% set BFstep3 = true %}
{# page actions buttons #}
{% set pageButtons = {
    actionButtonLabel: 'Continuar',
    actionButtonUrl: '#',
    secondaryButtonLabel: 'Atrás',
    secondaryButtonUrl: 'BF-baggage_selection.html'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap backgroundColor3">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Servicios destacados',
                type: 'h2',
                class: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12 col-md-6">
            {# SEAT SELECTION #}
            <div class="box">
                <div class="box_title">
                    <span class="icon">1</span>
                    <h5 class="title">
                        Asientos
                    </h5>
                </div>
                <div class="box_body">
                    {% set "serviceResume" = {
                        "icon": "asiento_incluido",
                        "desc": "Estos son los asientos que elegiste <br>para cada pasajero",
                        "buttons": {
                            "action": {
                                "text": "Modificar asientos",
                                "url": "BF-seat_selection.html"
                            }
                        }
                    } %}
                    {% include "partials/components/IBE/services/service-resume/_service-resume.njk" %}
                </div>
            </div>
        </div>
        <div class="grid-col col-12 col-md-6">
            {# BAG SELECTION #}
            <div class="box">
                <div class="box_title">
                    <span class="icon">2</span>
                    <h5 class="title">
                        EQUIPAJES
                    </h5>
                </div>
                <div class="box_body">
                    {% set "serviceResume" = {
                        "icon": "equipaje_en_bodega",
                        "desc": "Estos son los equipajes que elegiste <br>para cada pasajero",
                        "buttons": {
                            "action": {
                                "text": "Modificar equipajes",
                                "url": "BF-baggage_selection.html"
                            }
                        }
                    } %}
                    {% include "partials/components/IBE/services/service-resume/_service-resume.njk" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# OTHER SERVICES #}
            <div class="box">
                <div class="box_title">
                    <span class="icon">3</span>
                    <h5 class="title">
                        Otros servicios
                    </h5>
                </div>
                <div class="box_body">
                    {% set "servicecards" = {
                        "items": [
                            {
                                "isChecked": true,
                                "icon": "equipaje_especial",
                                "title": "Equipaje Especial",
                                "desc": {
                                    "descText": {
                                        "text": "<p>Agrega ahora tu equipaje especial. Peso máximo permitido 23kg</p>"
                                    }
                                },
                                "buttons": {
                                    "action": {
                                        "text": "Agregar equipaje especial",
                                        "textEdit": "Modificar equipaje especial",
                                        "modal": {
                                            "id": "modal-specialBaggage"
                                        }
                                    }
                                }
                            },
                            {
                                "isChecked": true,
                                "icon": "mascota_en_cabina",
                                "title": "Mascota a bordo",
                                "desc": {
                                    "descText": {
                                        "text": "<p>Lleva a tu mascota contigo a todos lados!</p>"
                                    }
                                },
                                "buttons": {
                                    "action": {
                                        "text": "Agregar mascota a bordo",
                                        "textEdit": "Modificar mascota a bordo"
                                    }
                                }
                            },
                            {
                                "isChecked": false,
                                "icon": "mascota_en_bodega",
                                "title": "Mascota en cabina",
                                "desc": {
                                    "descText": {
                                        "text": "<p>Lleva a tu mascota contigo a todos lados!</p>"
                                    }
                                },
                                "buttons": {
                                    "action": {
                                        "text": "Agregar mascota en cabina",
                                        "textEdit": "Modificar mascota en cabina"
                                    }
                                }
                            },
                            {
                                "isChecked": false,
                                "icon": "necesidades_especiales",
                                "title": "Necesidades Especiales",
                                "desc": {
                                    "descText": {
                                        "text": "<p>Te ofrecemos un servicio especial para que tu viaje sea más ahora sin costo adicional.</p>"
                                    }
                                },
                                "buttons": {
                                    "action": {
                                        "text": "Agregar necesidades especiales",
                                        "textEdit": "Modificar necesidades especiales"
                                    }
                                }
                            },
                            {
                                "isChecked": false,
                                "icon": "seguro",
                                "title": "Seguro de Viaje",
                                "desc": {
                                    "descText": {
                                        "list": {
                                            "items": [
                                                    {
                                                        "title": "Asistencia médica.",
                                                        "icon": ""
                                                    },
                                                    {
                                                        "title": "Compensación por pérdida de equipaje."
                                                    },
                                                    {
                                                        "title": "Cancelación involuntaria."
                                                    },
                                                    {
                                                        "title": "Servicio de asistencia 24 horas"
                                                    }
                                                ]
                                            }
                                    }
                                },
                                "buttons": {
                                    "action": {
                                        "text": "Agregar seguro viaje",
                                        "textEdit": "Modificar seguro viaje"
                                    }
                                }
                            },
                            {
                                "isChecked": false,
                                "icon": "star_pass",
                                "title": "Star Pass",
                                "desc": {
                                    "descText": {
                                        "text": "<p>Accede a una ﬁla preferente en counter y
                                            embarque. Agrégalo ahora y se uno de los primeros
                                            en embarcar al avión.</p><p>
                                            * Clientes Banco de Chile, con tarjeta Visa
                                            Signature, Mastercard Black o Visa Inﬁnite, podrás
                                            acceder gratis a este beneﬁcio en aeropuerto.</p>"
                                    }
                                },
                                "buttons": {
                                    "action": {
                                        "text": "Agregar start pass",
                                        "textEdit": "Modificar start pass"
                                    }
                                }
                            }
                        ]
                    } %}
                    {% include "partials/components/IBE/services/service-cards/_services-cards__DEPRECATED.njk" %}
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-noBottom">
        <div class="grid-col col-12">
            {# ACTION BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
    </div>
</div>

{# MODAL: SPECIAL BAGGAGE #}
{% set modal = {
    class: 'modal_addservices',
    id: 'modal-specialBaggage'
} %}
{% include "partials/components/IBE/modals/_modal_add_services.njk" %}

{% endblock %}

{% block component_jquery %}
{% endblock %}
