{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page check-in-confirmation" %}
{% set layout = 'checkin' %}
{% set BFstep3 = true %}
 {% set bookingSteps = [
    {
        stepNumber: "1",
        stepLabel: "Itinerario",
        stepUrl: ""
    },
    {
        stepNumber: "2",
        stepLabel: "Asientos",
        stepUrl: ""
    },
    {
        stepNumber: "3",
        stepLabel: "Tarjeta de embarque",
        stepUrl: ""
    }
] %}
{% set pageButtons = {
        primaryButtonLabel: 'Hecho',
        primaryButtonUrl: 'CORP-index.html',
        isMobileFixed: true
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# PAGE TITLE #}
    {% set page_title = {
        text: 'Tarjeta de embarque',
        type: 'h1',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <div class="intro">
        <p>Has finalizado correctamente el Check-in online de tu reserva número <strong>JIPOYM</strong>. Te hemos enviado un correo electónico con tus tarjetas de empbarque </p>
    </div>

    {# CHECK-IN CONFIRMATION #}
    <div class="checkin_summary{% if isOWTrip %} oneway{%endif%}">
        <div class="column">
            <div class="checkin_summary_journey">
                {%  set summary = {
                    fareByFlight: true
                } %}
                {% include "partials/components/IBE/summary/_summary_journey.njk" %}
            </div>
            <fieldset>
                <legend class="hide-visually">Departing flight - select passengers to check-in</legend>
                {% for pax in passengersData.passengers %}
                    {% set checkin_selection = {
                        checkboxLabel: pax.firstName + ' ' + pax.lastName,
                        checkboxName: 'checkin-pax-d-' + loop.index,
                        seat: '4F',                            
                        ischeckedin: true,
                        printText: 'Tarjeta de embarque'
                    } %}
                    {% include "partials/components/IBE/_checkin_selection.njk" %}
                {% endfor %}
            </fieldset>
        </div>
        {% if not isOWTrip %}
        <div class="column">
            <div class="checkin_summary_journey">
                {% set summary_journey = {
                    isReturning: true
                } %}
                {% include "partials/components/IBE/summary/_summary_journey.njk" %}
            </div>
            <fieldset>
                <legend class="hide-visually">Returning flight - select passengers to check-in</legend>
                {% for pax in passengersData.passengers %}
                    {% set checkin_selection = {
                        checkboxLabel: pax.firstName + ' ' + pax.lastName,
                        checkboxName: 'checkin-pax-r-' + loop.index,
                        seat: '4E',
                        ischeckedin: true,
                        printText: 'Tarjeta de embarque'
                    } %}
                    {% include "partials/components/IBE/_checkin_selection.njk" %}
                {% endfor %}
            </fieldset>
        </div>
        {% endif %}
    </div>

    {# PAGE BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
