{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page check-in-detail-page" %}
{% set BFstep1 = true %}
{% set bookingSteps = [
    {
        stepNumber: "1",
        stepLabel: "Pasajeros",
        stepUrl: ""
    },{
        stepNumber: "2",
        stepLabel: "Asientos",
        stepUrl: ""
    },{
        stepNumber: "3",
        stepLabel: "Tarjeta de embarque",
        stepUrl: ""
    }
] %}
{% set page_title = {
    text: 'Información de pasajero',
    type: 'h1',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Continua',
    actionButtonUrl: 'BF-WCI_seat_selection.html',
    secondaryButtonLabel: 'Cancelar',
    secondaryButtonUrl: 'BF-WCI_home.html'
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    {# PAGE TITLE #}
    {% include "partials/components/_page_title.njk" %}

    {# PASSENGERS DATA #}
    {% set passengers = passengersData.passengers %}
    {% set formElements = {        
        elements: [
            {
                elementsGroup: [     
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de Nacimiento',
                            id: 'bd1',
                            options: [
                                {
                                    name: '21',
                                    id: 'bd1DD'
                                },
                                {
                                    name: '05',
                                    id: 'bd1MM'
                                },
                                {
                                    name: '1989',
                                    id: 'bd1YYYY'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Género*',
                            id: 'gender1',
                            options: [
                                {
                                    name: 'Masculino',
                                    id: 'gender1M'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Nacionalidad*',
                            id: 'nacionality1',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: ''
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Tipo de Documento*',
                            id: 'doctype1',
                            options: [
                                {
                                    name: 'Pasaporte',
                                    id: ''
                                }
                            ]
                        }
                    },
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nr. Documento*',
                            value: "46789876R"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'País de emisión*',
                            id: 'emisionCountry1',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: ''
                                }
                            ]    
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de vencimiento del pasaporte',
                            id: 'passportExpiryDate1',
                            options: [
                                {
                                    name: 'DD',
                                    id: 'passportExpiryDate1DD'
                                },
                                {
                                    name: 'MM',
                                    id: 'passportExpiryDate1MM'
                                },
                                {
                                    name: 'YYYY',
                                    id: 'passportExpiryDate1YYYY'
                                }
                            ]
                        }
                    }                        
                ]
            },
            {
                elementsGroup: [     
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de Nacimiento',
                            id: 'bd2',
                            options: [
                                {
                                    name: '21',
                                    id: 'bd2DD'
                                },
                                {
                                    name: '05',
                                    id: 'bd2MM'
                                },
                                {
                                    name: '1989',
                                    id: 'bd2YYYY'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Género*',
                            id: 'gender2',
                            options: [
                                {
                                    name: 'Masculino',
                                    id: 'gender2M'
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Nacionalidad*',
                            id: 'nacionality2',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: ''
                                }
                            ]
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Tipo de Documento*',
                            id: 'doctype2',
                            options: [
                                {
                                    name: 'Pasaporte',
                                    id: ''
                                }
                            ]
                        }
                    },
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nr. Documento*',
                            value: "46789876R"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'País de emisión*',
                            id: 'emisionCountry2',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: ''
                                }
                            ]    
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de vencimiento del pasaporte',
                            id: 'passportExpiryDate2',
                            options: [
                                {
                                    name: 'DD',
                                    id: 'passportExpiryDate2DD'
                                },
                                {
                                    name: 'MM',
                                    id: 'passportExpiryDate2MM'
                                },
                                {
                                    name: 'YYYY',
                                    id: 'passportExpiryDate2YYYY'
                                }
                            ]
                        }
                    }                        
                ]
            }
        ]
    } %}
    {% include "partials/components/IBE/_passenger_data.njk" %}
   

    {# CONDITIONS CHECKBOX #}
    {% set checkboxForm = {
        type: 'checkbox',
        label: 'I Declare that all the information provided is true to the best of my knowledge.',
        id: 'checkbox-1'
    } %}
    {% include "partials/ui-elements/_checkbox.njk" %}

    {# PAGE ACTIONS BUTTONS #}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
