{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<h1 class="demo_page_title">
    UI-Elements: <span>Modals</span>
</h1>

<div class="uielements-demo-container">
    <div class="field-demo-row">
        <div class="field-demo-section">
            <button type="button" class="button btn-primary"
                data-toggle="modal" data-target="#modalexample_modal">
                Launch modal
            </button>
            {% set modalAlertStyle = true %}
            {% set modal = {
                class: 'modalexampleclass_modal',
                id: 'modalexample_modal'
            } %}
            {% set modalAlert = {
                title: 'Modal error title',
                text: '<p>Zero amount is redeemable using this voucher for this booking.</p>
                        <p>Please try another Voucher Reference or select an alternative payment option.</p>'
            } %}
            {% include "partials/components/IBE/modals/_modal_alert.njk" %}
        </div>
        <!--div class="field-code-section">
            <div class="code-panel">
                <pre>
<code class="html">
</code>
            </pre>
        </div>
    </div-->
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
