{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
    <div class="container-wrap">
        {% set page_title = {
            text: 'Flexbox Grid System',
            type: 'h1'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% set page_title = {
            text: '1. Containers',
            type: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% set page_title = {
            text: '1.1 Container basic',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 4,
                class: 'col'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID FLUID 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '1.2 Container fluid',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        isFluid: 'true',
        columns: [
            {
                quantity: 4,
                class: 'col'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID FLUID WITH NO GUTTER 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '1.2.1 Container fluid and no gutter',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        isFluid: 'true',
        clases: [
            'noGutter'
        ],
        columns: [
            {
                quantity: 4,
                class: 'col'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '2. Grids',
            type: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% set page_title = {
            text: '2.1 Grid basic',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID EQUAL HEIGHT 
    ---------------------------------------------- #}
    <div class="container-wrap">
    {% set page_title = {
            text: '2.2 Grid equal height',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'equalHeight'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID NO GUTTER 
    ---------------------------------------------- #}
    <div class="container-wrap">
    {% set page_title = {
            text: '2.3 Grid no gutter',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'noGutter'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID NO GUTTER / EQUAL HEIGHT 
    ---------------------------------------------- #}
    <div class="container-wrap">
    {% set page_title = {
            text: '2.4 Grid no gutter and equal height',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'noGutter',
            'equalHeight'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}
    <div class="container-wrap">
        {% set page_title = {
            text: '2.5 Grid vertical align (align items)',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>


    {# ---------------------------------------------- 
        GRID ALIGN MIDDLE 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '2.5.1 Grid middle',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'middle'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID ALIGN BOTTOM 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '2.5.2 Grid bottom',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'bottom'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}
    

    {# ---------------------------------------------- 
        VERTICAL RESPONSIVE 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '2.5.3 Vertical responsive',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'top',
            'xs-middle'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}
    

    {# ---------------------------------------------- 
        VERTICAL RESPONSIVE 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '2.5.4 Vertical responsive all mediaqueries',
            type: 'h4'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        clases: [
            'bottom',
            'xs-middle',
            'sm-top',
            'md-middle',
            'lg-bottom'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        GRID NO BOTTOM 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '2.7 Grid no bottom',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <p>(Remove bottom margin)</p>
    </div>
    {% set gridSimulation = {
        clases: [
            'noBottom'
        ],
        columns: [
            {
                quantity: 3,
                class: 'col',
                p: [
                    {
                        column: 2,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        COLUMNS (GRID) 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '3. Columns',
            type: 'h2'
        } %}
        {% include "partials/components/_page_title.njk" %}
        {% set page_title = {
            text: '3.1 Column breakpoints',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
        <ul style="text-align: right; margin-bottom: 15px; width: 300px">
            <li>col-12 >= 0px</li>
            <li>col-xs-12 >= 480px</li>
            <li>col-sm-12 >= 640px</li>
            <li>col-md-12 >= 768px</li>
            <li>col-lg-12 >= 992px</li>
            <li>col-xl-12 >= 1200px</li>
        </ul>
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 12,
                class: 'col-12 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-1'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        COLUMN FLEX DISTRIBUTION 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '3.2 Column flex distribution',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 1,
                class: 'col-4'
            },
            {
                quantity: 3,
                class: 'col'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        COLUMN ALIGN SELF 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '3.3 Column align selF',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 1,
                class: 'col-3',
                p: [
                    {
                        column: 0,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam sapiente voluptas, rem expedita labore minus, quos, et doloribus facere? Officia, reiciendis aut excepturi totam sed ex. Architecto?'
                    },
                    {
                        column: 1,
                        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sit quam veniam'
                    }
                ]
            },
            {
                quantity: 1,
                class: 'col-3 col-middle'
            },
            {
                quantity: 1,
                class: 'col-3 col-bottom'
            },
            {
                quantity: 1,
                class: 'col-3 col-equalHeight'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}
    

    {# ---------------------------------------------- 
        COLUMN OFFSET (data-push)
    ---------------------------------------------- #}
    {# <div class="container-wrap">
        {% set page_title = {
            text: '3.4 Column offset',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 1,
                class: 'col-4',
                data: 'data-push-left="off-8"'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %} #}


    {# ---------------------------------------------- 
        COLUMN ORDER CHANGE 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '3.5 Column order change',
            type: 'h3'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 1,
                class: 'col-xs-last',
                demoClass: 'primary'
            },
            {
                quantity: 1,
                class: 'col'
            },
            {
                quantity: 1,
                class: 'col-xs-first',
                demoClass: 'secondary'
            }
        ]
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        COLUMN NO BOTTOM 
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '3.6 Column no bottom',
            type: 'h3',
            id: 'column-no-bottom'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 1,
                class: 'col-noBottom'
            },
            {
                quantity: 1,
                class: 'col'
            },
            {
                quantity: 1,
                class: 'col-noBottom col-equalHeight'
            }
        ]
        
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}


    {# ---------------------------------------------- 
        COLUMN NO BOTTOM (RESPONSIVE)
    ---------------------------------------------- #}
    <div class="container-wrap">
        {% set page_title = {
            text: '3.6.1 Column no bottom (responsive)',
            type: 'h3',
            id: 'column-no-bottom'
        } %}
        {% include "partials/components/_page_title.njk" %}
    </div>
    {% set gridSimulation = {
        columns: [
            {
                quantity: 1,
                class: 'col-noBottom'
            },
            {
                quantity: 1,
                class: 'col'
            },
            {
                quantity: 1,
                class: 'col-12 col-noBottom col-xs-4 col-xs-withBottom col-xl-noBottom col-xl-equalHeight'
            }
        ]
        
    } %}
    {% include "partials/_md/_grid-simulation.njk" %}
{% endblock %}

{% block component_jquery %}
{% endblock %}
