{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

    <h1 class="demo_page_title">
        Component: <span>Booking steps</span>
    </h1>

    <div class="component-demo-container">
        <div class="component-demo-section">
            {% set BFstep2 = true %}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>

        <div class="field-code-section">
            <div class="code-panel">
                <pre>
    <code class="html">&lt;ul class="booking-steps"&gt;
    &lt;li class="done"&gt;
        &lt;span class="number"&gt;&lt;/span&gt;
        &lt;span class="label"&gt;Select Flight&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class="active"&gt;
        &lt;span class="number"&gt;&lt;/span&gt;
        &lt;span class="label"&gt;Guest Details&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class="number"&gt;&lt;/span&gt;
        &lt;span class="label"&gt;Add Extras&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class="number"&gt;&lt;/span&gt;
        &lt;span class="label"&gt;Seat Selection&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;
        &lt;span class="number"&gt;&lt;/span&gt;
        &lt;span class="label"&gt;Payment &amp; Confirmation&lt;/span&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>
    </div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
