{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1. Tables',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}  
            {% set page_title = {
                text: '1.1. Table',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}                        
        </div>
    </div>                            
</div>
{% set data = {
    thead: {
        ths: [
            { title: 'Número De Vuelo', align: 'center' },
            { title: 'Origen' },
            { title: 'Destino' },
            { title: 'Hora de Salida', align: 'center' },
            { title: 'Hora de llegada', align: 'center' },
            { title: 'Estado', align: 'center' }
        ]
    }
    ,
    tbody: [
        {
            tds: [
                { title: '191', align: 'center' },
                { title: 'ARICA' },
                { title: 'SANTIAGO' },
                { title: '<span class="text-secondary">09:50</span>', align: 'center' },
                { title: '<span class="text-color2">12:20</span>', align: 'center' },
                { title: '<span class="text-secondary">A tiempo</span>', align: 'center' }
            ]
        },
        {
            tds: [
                { title: '191', align: 'center' },
                { title: 'ARICA' },
                { title: 'SANTIAGO' },
                { title: '<span class="text-secondary">09:50</span>', align: 'center' },
                { title: '<span class="text-color2">12:20</span>', align: 'center' },
                { title: '<span class="text-secondary">A tiempo</span>', align: 'center' }
            ]
        },
        {
            tds: [
                { title: '191', align: 'center' },
                { title: 'ARICA' },
                { title: 'SANTIAGO' },
                { title: '<span class="text-secondary">09:50</span>', align: 'center' },
                { title: '<span class="text-color2">12:20</span>', align: 'center' },
                { title: '<span class="text-secondary">A tiempo</span>', align: 'center' }
            ]
        }
    ]
} %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">                                       
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_table.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% set data = {
    thTheadWithAccessibility: true,
    align: 'center',
    thead: {
        ths: [
            { title: '' },
            { title: 'Weight' },
            { title: 'HKD' },
            { title: 'JPY' },
            { title: 'TWD' },
            { title: 'CNY' },
            { title: 'THB' },
            { title: 'MYR' },
            { title: 'USD' },
            { title: 'KRW' }
        ]
    }
    ,
    class: 'upperline-tb',
    tbody: [
        {
            tds: [
                { title: 'Initial Booking*', rowspan: '3', align: 'left', class: "td-rowspan" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '25kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '30kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            hasClass: 'upperline',
            tds: [
                { title: 'Manage My Booking<br>(After initial Booking)', rowspan: '3', align: 'left', class: "td-rowspan"},
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '25kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '30kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        }
    ]
} %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.2. Table',
                class: 'h2',
                type: 'h4'
            } %}           
            {% include "partials/components/_page_title.njk" %} 
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_table.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% set data = {
    align: 'center',
    thead: {
        ths: [
            { title: ' ' },
            { title: 'Weight' },
            { title: 'HKD' },
            { title: 'JPY' },
            { title: 'TWD' },
            { title: 'CNY' },
            { title: 'THB' },
            { title: 'MYR' },
            { title: 'USD' },
            { title: 'KRW' }
        ]
    }
    ,
    class: 'upperline-tb',
    tbody: [
        {
            tds: [
                { title: 'Call center', rowspan: '3', align: 'left', class: "td-rowspan" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        }
    ]
} %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.3. Table',
                class: 'h2',
                type: 'h5'
            } %}           
            {% include "partials/components/_page_title.njk" %}             
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_table.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% set data = {
    align: 'center',
    thead: {
        ths: [
            { title: ' ' },
            { title: 'Weight' },
            { title: 'HKD' },
            { title: 'JPY' },
            { title: 'TWD' },
            { title: 'CNY' },
            { title: 'THB' },
            { title: 'MYR' },
            { title: 'USD' },
            { title: 'KRW' }
        ]
    },
    class: 'upperline-tb',
    tbody: [
        {
            tds: [
                { title: 'Airport Check-in Counter', rowspan: '3', align: 'left', class: "td-rowspan" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            tds: [
                { title: ' ', class: "hidden" },
                { title: '20kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        },
        {
            hasClass: 'upperline',
            tds: [
                { title: 'Excess Baggage <br> (Above Bookend Allowance)', align: 'left', class: "td-rowspan" },
                { title: 'Every 5kg' },
                { title: '200' },
                { title: '3.100' },
                { title: '820' },
                { title: '187' },
                { title: '860' },
                { title: '100' },
                { title: '26' },
                { title: '28.400' }
            ]
        }
    ]
} %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">   
            {% set page_title = {
                text: '1.4. Table',
                class: 'h2',
                type: 'h5'
            } %}           
            {% include "partials/components/_page_title.njk" %}          
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_table.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">   
            {% set page_title = {
                text: '1.5. Double head',
                class: 'h2',
                type: 'h3'
            } %}           
            {% include "partials/components/_page_title.njk" %}
            {% set data = {
                align: 'center',
                thead: {
                    align: 'center',
                    ths: [
                        { title: 'table big header', colspan: 10, align: 'center' }
                    ],
                    extraThs: [
                        [
                            { title: 'subtitle 1', colspan: 5, align: 'center' },
                            { title: 'subtitle 2', colspan: 5, align: 'center' }
                        ],
                        [
                            { title: ' ' },
                            { title: 'Weight' },
                            { title: 'HKD' },
                            { title: 'JPY' },
                            { title: 'TWD' },
                            { title: 'CNY' },
                            { title: 'THB' },
                            { title: 'MYR' },
                            { title: 'USD' },
                            { title: 'KRW' }
                        ]
                    ]
                },
                class: 'upperline-tb',
                tbody: [
                    {
                        tds: [
                            { title: 'Airport Check-in Counter', rowspan: '3', align: 'left', class: "td-rowspan" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        tds: [
                            { title: ' ', class: "hidden" },
                            { title: '20kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    },
                    {
                        hasClass: 'upperline',
                        tds: [
                            { title: 'Excess Baggage <br> (Above Bookend Allowance)', align: 'left', class: "td-rowspan" },
                            { title: 'Every 5kg' },
                            { title: '200' },
                            { title: '3.100' },
                            { title: '820' },
                            { title: '187' },
                            { title: '860' },
                            { title: '100' },
                            { title: '26' },
                            { title: '28.400' }
                        ]
                    }
                ]
            } %}          
            {% include "partials/ui-elements/_table-responsive.njk" %}
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_table.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
