{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

    <h1 class="demo_page_title">
        Component: <span>Flight search</span>
    </h1>

    <div class="component-demo-container">
        <div class="component-demo-section">
            {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
        </div>

        <div class="field-code-section">
            <div class="code-panel">
                <pre>
    <code class="html"></code></pre>
            </div>
        </div>
    </div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
