{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1. Pagination',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                                       
        </div>
    </div>                            
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">                                       
            <nav aria-label="Page navigation" class="navigation text-center">
                <ul class="pagination">
                    <li class="page-item prev"><a class="page-link" href="#" data-slide="prev"><span class="icon icon-arrow-triangle-left"></span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item active"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item next"><a class="page-link" href="#" data-slide="next"><span class="icon icon-arrow-triangle-right"></span></a></li>
                </ul>
            </nav>
        </div>
    </div>                 
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_pagination.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
