{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Main footer',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% set page_title = {
                text: '1. Footer',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% include "partials/layout/footer/_main-footer.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set var = value %}
{% include "partials/_md/_md-codes/_md_main_footer.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '2. Social media',
                class: 'h2',
                type: 'h4'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
          {% set socialmedias = [
            {
                title: 'facebook',
                name: 'facebook',
                url: '#'
            },
            {
                title: 'instagram',
                name: 'instagram',
                url: '#'
            },
            {
                title: 'weibo',
                name: 'weibo',
                url: '#'
            },
            {
                title: 'wechat',
                name: 'wechat',
                url: '#'
            }
        ]
        %}
        {% set isFlat = true %}
        {% include "partials/components/_shared/socialmedia/_socialmedia-list.njk" %}  
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_social_media.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '3. Fly programs',
                class: 'h2',
                type: 'h4'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            {% set flyprograms = [
                {
                    src: '//www.hkexpress.com/sites/default/files/reward-U-logo-small.png',
                    alt: '',
                    href: ''
                },
                {
                    src: '//www.hkexpress.com/sites/default/files/en-holiday-logo-small.png',
                    alt: '',
                    href: ''
                },
                {
                    src: '//www.hkexpress.com/sites/default/files/ufly-logo-small.png',
                    alt: '',
                    href: ''
                }
            ] %}
            {% include "partials/corporative/_fly-programs.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set var = value %}
{% include "partials/_md/_md-codes/_md_fly_programs.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '4. navs',
                class: 'h2',
                type: 'h5'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            {% set lists = [
                {
                    title: 'About us',
                    items: [
                        {
                            text: 'Our Story'
                        },
                        {
                            text: 'Community Care'
                        },
                        {
                            text: "What´s an LCC?"
                        },
                        {
                            text: 'Join Us'
                        },
                        {
                            text: 'Media Centre'
                        },
                        {
                            text: 'U-FLY Alliance'
                        },
                        {
                            text: 'reward-u'
                        }
                    ]
                }
            ]
            %}
            <div class="main-footer_nav">
                {% for list in lists %}
                    {% include "partials/layout/footer/_main-footer_nav.njk" %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set var = value %}
{% include "partials/_md/_md-codes/_md_main_footer_nav.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
