{% extends "layouts/_layout-corporative.njk" %}
{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: "mainfooter",
    header: "hasNav"
} %}
{# ----------------------------------------- #}

{% block component_css %}
	<link href='https://www.skyairline.com/Content/Combined/main-4249d8b01b.css' media='all' rel='stylesheet' type='text/css' />
    <style type="text/css">

    html {
		font-size: unset !important;
	}

	body {
		font-family: Roboto, sans-serif;
		color: #636;
	}

	.main-header ul {
		margin-bottom: 0;
	}

	.main-header a:hover {
		color: #FF009A;
	}

	.main-header_subnav_list .subnav_item_n3 {
		color: #666;
	}

	.main-header_nav-tertiary li, 
	.main-header_nav-secondary .ui-dropdown_list li {
		margin-top: 0;
	}

	.main-header_nav-secondary .link-user .nav_item_link_title_label {
		color: #636;
	}
	.main-header .main-header_nav-secondary .nav_item_link_bg {
		width: 37px;
	}
	.main-header_nav-secondary .ui-dropdown .ui-dropdown_list_item_icon {
		width: 30px;
	}
	
	.subnav_desc_text-lists,
	.main-header_subnav_desc_text {
		font-weight: 400;
	}

	.main-header_subnav_desc_title h2 {
		border-bottom: 0;
	}

	.main-header_logo {
		margin: 0;
	}

	.main-header_subnav_desc_title h2,
	.main-header_column h2 {
		line-height: 1;
		text-align: inherit;
		font-size: inherit;
		margin: 0;
	}

	.main-footer,
	.main-footer ul li,
	.main-footer .socialmedia_list,
	.main-footer .main-footer_nav-column ul {
		margin-bottom: 0;
	}

	.main-footer a {
		font-size: 16px;
	}

	.main-footer_title .title {
		margin: 0;
	}

	.main-footer_nav-column h2 {
		text-align: left;
		border-bottom: 0;
	}

    .modal .close::before {
        display: none;
    }

	.productos-pagina h2 {
		font-size: 1.5em;
		line-height: 1.3em;
		border: none;
	}

	.productos-pagina h2,
	.productos-pagina h3 {
		color: #701c74;
		font-weight: normal;
		font-family: 'Hind', sans-serif;
	}

	.productos-pagina h3 {
		color: #4d4f53;
		font-size: 1.1em;
		font-weight: normal;
		margin-top: 30px;
	}

	.productos-pagina h2 span,
	.productos-pagina h3 span {
		color: #26de00;
	}

	.productos-pagina hr {
		border-bottom: 2px solid #701c74;
		margin-top: 10px;
	}

	.productos-pagina p {
		color: #8B8C8B;
		font-family: 'Hind', sans-serif;
	}

	/* pagina tarifas */

	.tarifas-pagina {
		padding: 20px 0px;
	}

	a.link-video {
		position: relative;
		display: block;
	}

	a.link-video:hover .icono-play {
		transform: scale(1.2);
		-webkit-transition: all .35s ease-in-out;
		-moz-transition: all .35s ease-in-out;
		-o-transition: all .35s ease-in-out;
		transition: all .35s ease-in-out;
	}

	a.link-video .icono-play {
		position: absolute;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		top: 0;
		bottom: 0;
		z-index: 8;
		margin-top: auto;
		margin-bottom: auto;
		-webkit-transition: all .35s ease-in-out;
		-moz-transition: all .35s ease-in-out;
		-o-transition: all .35s ease-in-out;
		transition: all .35s ease-in-out;
	}

	h1.background {
		position: relative;
		z-index: 1;
		text-align: center;
		font-size: 28px;
		font-weight: 700;
		color: #671e75;
	}

	h1.background:before {
		border-top: 2px solid #cccccc;
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
	}

	h1.background span {
		background: #fff;
		padding: 0 15px;
	}

	b.green {
		color: #26de00;
	}

	.tarifas-pagina .fa-chevron-right {
		color: #26de00;
	}

	.tarifas-pagina h3 {
		color: #671e75;
		font-weight: bold;
	}

	.box-tarifa-texto {
		padding-left: 25px;
		margin-bottom: 0px;
		min-height: 150px;
		padding-right: 25px;
		background-color: #fafafa;
	}

	@media screen and (min-width: 993px) and (max-width: 1199px) {
		.box-tarifa-texto {
			min-height: 160px;
		}
	}

	.box-tarifa-texto h3 {
		margin: 0;
		margin-bottom: 13px;
		margin-top: 15px;
		display: inline-block;
	}

	.box-tarifa-texto p {
		margin: 0px;
	}

	a.btn-agrega {
		border-radius: 0;
		background: #671e75;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		border: none;
		padding: 12px 34px;
		max-width: 430px;
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 15px;
		-webkit-transition: all .35s ease-in-out;
		-moz-transition: all .35s ease-in-out;
		-o-transition: all .35s ease-in-out;
		transition: all .35s ease-in-out;
	}

	a.btn-agrega:hover {
		background: #4c1656;
		color: #fff;
	}

	a.btn-agrega span {
		color: #26de00;
	}

	a.solo-link {
		display: block;
		text-align: center;
		text-transform: uppercase;
		color: #671e75;
		font-weight: 600;
	}

	.box-tarifa {
		padding-right: 7px;
		padding-left: 7px;
	}

	/* fin pagina tarifas */

	.box-producto {
		background-color: #f4f4f4;
		position: relative;
		overflow: hidden;
		padding-bottom: 25px;
		margin-bottom: 30px;
	}

	.icono-prod {
		position: absolute;
		top: 0;
		left: 20px
	}

	.box-producto h3 {
		margin: 0;
		margin-bottom: 22px;
		font-weight: bold;
		text-transform: uppercase;
		padding-top: 20px;
		color: #671e75;
	}

	a.link-condiciones {
		float: left;
	}

	a.btn-ver-precios {
		float: right;
	}

	.vinculos {
		display: block;
		margin-top: 25px;
		padding: 0px 20px;
	}

	a.btn-ver-precios {
		border-radius: 0;
		background: #671e75;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		border: none;
		padding: 9px 20px;
		-webkit-transition: all .35s ease-in-out;
		-moz-transition: all .35s ease-in-out;
		-o-transition: all .35s ease-in-out;
		transition: all .35s ease-in-out;
	}

	a.btn-ver-precios:hover {
		background-color: #fe0197;
		color: #fff;
	}

	a.link-condiciones {
		color: #26de00;
		font-weight: bold;
	}

	.box-producto-texto {
		padding: 0px 20px;
		min-height: 90px;
	}

	.productos-pagina h2 {
		margin: 0;
		margin-bottom: 45px;
		color: #4d4f53;
	}

	.tarifas-pagina h2 {
		color: #4d4f53;
		margin-bottom: 30px;
	}

	.productos-pagina h1.background span {
		padding: 0px 80px;
	}

	.modal-content {
		box-shadow: none;
		border: none;
		background-color: transparent;
	}

	.modal-footer,
	.modal-header {
		border: none;
	}

	.modal-backdrop {
		background-color: #472559;
	}

	.modal-backdrop.fade {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.modal-backdrop.in {
		opacity: 0.95;
		filter: alpha(opacity=95);
	}

	.modal-title {
		color: #fff;
	}

	.modal-header .close {
		opacity: 1;
		color: #d90293;
		text-shadow: none;
		font-size: 42px;
		font-weight: 100;
	}

	.modal-header {
		padding: 0px 15px;
	}

	h4.modal-title {
		text-transform: uppercase;
		float: left;
		margin-top: 12px;
	}

	.icono-modal {
		float: left;
		margin-right: 10px;
	}

	@media screen and (max-width: 580px) {
		.productos-pagina h1.background span {
			padding: 0 15px;
		}
		.productos-pagina .col-md-4 {
			padding: 0px;
		}
		a.btn-ver-precios {
			float: none;
			display: block;
		}
		a.link-condiciones {
			float: none;
			display: block;
			text-transform: uppercase;
			margin-top: 15px;
		}
	}

	@media screen and (min-width: 992px) and (max-width: 1199px) {
		.icono-prod {
			left: 5px;
		}
	}

	@media screen and (max-width: 480px) {
		h1.background {
			line-height: 36px;
		}
		h1.background span {
			padding: 0;
		}
		.box-tarifa-texto p {
			margin-bottom: 15px;
		}
		.box-tarifa {
			background-color: #fafafa;
			padding: 0;
			margin-bottom: 20px;
		}
		.tarifas-pagina h3 {
			padding-top: 20px;
		}
	}

	/* 30 OCT 2017 */

	body {
		padding-right: 0px !important;
	}

	body.modal-open {
		padding-right: 0px !important;
		overflow: auto;
	}

	.productos-pagina h2 {
		border: none;
	}

	a.link-condiciones {
		color: #26a000;
		font-weight: bold;
		border: none;
		text-transform: none;
		margin-bottom: 0;
		font-size: 14px;
		margin: 0;
	}

	a.btn-ver-precios {
		margin: 0px;
	}

	a.link-condiciones:hover {
		background: none;
		color: #671e75 !important;
	}

	.modal-backdrop.fade.in {
		display: block;
	}

	.modalVideo .modal-content {
		box-shadow: none !important;
		background-color: transparent;
		top: 0px;
	}
</style>
{% endblock %}

{% block content %}
<div class="grid">
    <div class="grid-col col-12">
       <section class="productos-pagina">
            <div class="container">
                <div class="row">
                    <div class="grid-col col-md-12">
                        <h1 class="background"><span>Servicios<b class="green"> Adicionales</b></span></h1>
                        <h2 class="text-center">Elige llevar lo que necesites para tu vuelo.</h2>
                    </div>
                    <!-- col md 12-->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-maleta-xl.png" />
                            <h3 class="text-center">Equipaje</h3>
                            <div class="box-producto-texto">
                                <p>&iexcl;No dejes nada en casa! Agrega el equipaje que necesites para tu viaje al momento de tu compra o cuando quieras en la secci&oacute;n &ldquo;Administra tu vuelo&rdquo;.</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/equipaje-transparente.png" titulomodal="Equipaje 1" video="https://www.youtube.com/embed/qDe_lzayaVA"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-equipaje.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-asiento-primera-fila.png" />
                            <h3 class="text-center">Asiento Primera Fila</h3>
                            <div class="box-producto-texto">
                                <p>Compra tu asiento en la Primera Fila y s&eacute; el primero en salir del avi&oacute;n, cuenta con m&aacute;s espacio y recibe antes que todos los servicios a bordo. &iexcl;No lo pienses m&aacute;s!</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/asiento-primera-fila-transparente.png" titulomodal="Asiento Primera Fila" video="https://www.youtube.com/embed/zjVnxWoWMH0"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-asiento-primera-fila.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-asiento-salida-rapida.png" />
                            <h3 class="text-center">ASIENTO SALIDA R&Aacute;PIDA</h3>
                            <div class="box-producto-texto">
                                <p>&iquest;Apurado por llegar a tu destino? Entonces elige tu asiento &ldquo;Salida R&aacute;pida&rdquo;, si&eacute;ntate entre la fila 2 y 5 y s&eacute; uno de los primeros en desembarcar del avi&oacute;n.</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/asiento-salida-rapida-transparente.png" titulomodal="Asiento Salida Rápida" video="https://www.youtube.com/embed/S2gd-_aytoY"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-asiento-salida-rapida.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-asiento-extra-espacio.png" />
                            <h3 class="text-center">ASIENTO EXTRA ESPACIO</h3>
                            <div class="box-producto-texto">
                                <p>Si quieres ir con tus piernas estiradas este asiento es para ti. Compra tu &ldquo;Asiento Extra Espacio&rdquo; y si&eacute;ntate en la salida de emergencia del avi&oacute;n.</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/asiento-extra-espacio-transparente.png" titulomodal="Asiento Extra Espacio" video="https://www.youtube.com/embed/YafUaEI1gi8"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-asiento-extra-espacio.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-asiento-estandar.png" />
                            <h3 class="text-center">ASIENTO EST&Aacute;NDAR</h3>
                            <div class="box-producto-texto">
                                <p>Elige mirar por la ventana o irte en el pasillo o vuela junto a tu acompa&ntilde;ante. Agrega tu &ldquo;Asiento Est&aacute;ndar&rdquo; si compraste tarifa light, &iexcl;No lo pienses m&aacute;s!</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/asiento-estandar-transparente.png" titulomodal="Asiento Estándar" video="https://www.youtube.com/embed/o7odVY6063M"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-asiento-estandar.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-star-pass.png" />
                            <h3 class="text-center">STAR PASS</h3>
                            <div class="box-producto-texto">
                                <p>Si quieres pasar por una fila preferente en counter y ser uno de los primeros en embarcar al avi&oacute;n, compra Star Pass y comienza a disfrutar de tu viaje.</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/star-pass-transparente.png" titulomodal="Star Pass" video="https://www.youtube.com/embed/QcogZ92VQ7Q"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-star-pass.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4 ">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-menor-no-acompanado.png" />
                            <h3 class="text-center">Menor no acompa&ntilde;ado</h3>
                            <div class="box-producto-texto">
                                <p>Deja a tu hijo en las mejores manos. Compra nuestro servicio de Menor no acompa&ntilde;ado y env&iacute;alo a cualquiera de nuestros destinos sin preocuparte.</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="img/menor-transparente.png" titulomodal="Menor no acompañado" video="https://www.youtube.com/embed/qDz67vqZfHc"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-menor-no-acompanado.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                    <div class="grid-col col-md-4">
                        <div class="box-producto">
                            <img class="icono-prod" src="https://www.skyairline.com/upload/productos_videos/img/icono-mascota.png" />
                            <h3 class="text-center">MASCOTA</h3>
                            <div class="box-producto-texto">
                                <p>&iquest;Eres un dog lover? Entonces no dejes a tu mascota en casa. Ll&eacute;vala contigo en la cabina o bodega del avi&oacute;n, agregando este servicio adicional.</p>
                            </div>
                            <!-- box-producto-texto --><a class="link-video" data-target="#myModal" data-toggle="modal" href="" icono="https://www.skyairline.com/upload/productos_videos/img/mascota-transparente.png" titulomodal="Mascota" video="https://www.youtube.com/embed/Xs_fHSvN2Wk"> <img class="icono-play" src="https://www.skyairline.com/upload/productos_videos/img/play-icon.png" /> <img class="img-responsive" src="https://www.skyairline.com/upload/productos_videos/img/foto-mascota.jpg" /> </a>
                            <div class="vinculos"><a class="btn link-condiciones hidden-xs hidden-sm" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a> <a class="btn btn-ver-precios" href="https://www.skyairline.com/chile/tarifario_de_productos">Ver Precios</a> <a class="btn link-condiciones hidden-lg hidden-md" href="https://www.skyairline.com/chile/servicios/centro-de-ayuda" target="_blank">Centro de ayuda</a></div>
                            <!-- vinculos  -->
                        </div>
                        <!-- box- producto -->
                    </div>
                    <!-- col md 4  -->
                </div>
                <!--  row -->
                <div class="row"><a class="btn btn-default btn-agrega" href="https://www.skyairline.com/chile/videos-lightyplus">Conoce Aqu&iacute; nuestras tarifas Light y Plus <span>Aqu&iacute;</span></a></div>
                <!-- row  -->
            </div>
        <!-- container -->
        </section>
    </div>
</div>

<!-- Modal 1 -->
<div aria-labelledby="myModalLabel" class="modal fade modalVideo" id="myModal" role="dialog" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button><img class="icono-modal" src="" />
				<h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src=" "></iframe></div>
				<!--embed  -->
			</div>
		</div>
	</div>
</div>
<!-- modal 1 -->

{% endblock %}

{% block component_jquery %}
    <script src='https://www.skyairline.com/Content/Combined/main-4eb902484a.js' type='text/javascript'></script>
	<script type="text/javascript">
        $(document).ready(function() {
            $('#myModal').on('hidden.bs.modal', function() {
                $(".modal .modal-title").html('');
                $(".modal .modal-header img").attr('src', '');
                $(".modal .modal-body .embed-responsive-item").attr('src', '');

            })
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".link-video").click(function() {
                var TituloModal = $(this).attr('TituloModal');
                var Icono = $(this).attr('Icono');
                var Video = $(this).attr('Video');
                $(".modal .modal-title").html(TituloModal);
                $(".modal .modal-header img").attr('src', Icono);
                $(".modal .modal-body .embed-responsive-item").attr('src', Video);
            });
        });
    </script>
{% endblock %}
