{% extends "layouts/_layout-corporative.njk" %}
{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
footer: "mainfooter",
header: "hasNav"
} %}
{# ----------------------------------------- #}

{% block component_css %}
<link href='https://www.skyairline.com/Content/Combined/main-4249d8b01b.css' media='all' rel='stylesheet' type='text/css' />
<style type="text/css">
	html {
		font-size: unset !important;
	}

	body {
		font-family: Roboto, sans-serif;
		color: #636;
	}

	.main-header ul {
		margin-bottom: 0;
	}

	.main-header a:hover {
		color: #FF009A;
	}

	.main-header_subnav_list .subnav_item_n3 {
		color: #666;
	}

	.main-header_nav-tertiary li, 
	.main-header_nav-secondary .ui-dropdown_list li {
		margin-top: 0;
	}

	.main-header_nav-secondary .link-user .nav_item_link_title_label {
		color: #636;
	}
	.main-header .main-header_nav-secondary .nav_item_link_bg {
		width: 37px;
	}
	.main-header_nav-secondary .ui-dropdown .ui-dropdown_list_item_icon {
		width: 30px;
	}
	
	.subnav_desc_text-lists,
	.main-header_subnav_desc_text {
		font-weight: 400;
	}

	.main-header_subnav_desc_title h2 {
		border-bottom: 0;
	}

	.main-header_logo {
		margin: 0;
	}

	.main-header_subnav_desc_title h2,
	.main-header_column h2 {
		line-height: 1;
		text-align: inherit;
		font-size: inherit;
		margin: 0;
	}

	.main-footer,
	.main-footer ul li,
	.main-footer .socialmedia_list,
	.main-footer .main-footer_nav-column ul {
		margin-bottom: 0;
	}

	.main-footer a {
		font-size: 16px;
	}

	.main-footer_title .title {
		margin: 0;
	}

	.main-footer_nav-column h2 {
		text-align: left;
		border-bottom: 0;
	}

	/* Main Server */
	section {
		margin: 0;
	}

	footer {
		padding: 40px 0;
		margin: 0;
	}

	footer .custom_container {
		width: 100%;
	}

	/* Main Server */
	h1,
	h2,
	h3,
	h4,
	h5,
	p,
	a,
	span,
	label,
	strong,
	button,
	li {
		font-family: 'Hind', sans-serif;
	}

	.body_wrapper>.container {
		padding-top: 0px !important;
	}

	.section__exclusive--panel {
		display: none;
	}

	/* Selection*/
	.section__exclusive--panel.active {
		display: initial;
		border-bottom: 20px solid #801d76;
	}

	.section__exclusive--panel.active.section__exclusive--title {
		color: #26de00
	}

	.section__top {
		width: 100%;
		height: auto;
		margin: 0 auto;
		position: relative;
	}

	.section__top--img {
		width: 100%;
		position: absolute;
		z-index: 1;
		height: auto;
		background: url(https: //www.skyairline.com//upload/travel_sky/bg-slider-desktop.jpg) no-repeat;
	}

	.section__top--call {
		position: absolute;
		z-index: 2;
		margin: 30px 0px 0px 15px;
	}

	.section__top--call--img {
		width: 40%;
		margin-left: 10px;
	}

	.section__top--call--title {
		color: #FFF;
		font-weight: normal;
		font-size: 1.3em;
	}

	.section__top--call--title span {
		color: #26de00;
	}

	/***  end section top ***/

	/*** Section Center ***/
	.section__center {
		margin: 0 auto;
		margin-top: 0px;
		padding-top: 45%;
		width: 100%;
		background-color: #ddd;
	}

	.section__center--travel {
		background-color: #fff;
		margin: 0 auto;
		padding-top: 5px;
		width: 98%;
		padding-bottom: 10px;
		/*! margin-top: 135px; */
	}

	.section__center--travel-title {
		padding: 0 5vw;
		color: #671e75;
		text-align: left;
		line-height: 1em;
		font-size: 1.5em;
	}

	.section__center--travel-title span {
		color: #26de00;
		padding: 0;
		background-color: initial;
	}

	.section__center--travel--text {
		padding: 0 5vw;
		text-align: justify;
		font-size: .9em;
		line-height: 1.3em;
	}

	.section__center--travel--text strong {
		font-weight: bolder;
		color: #330;
	}

	.section__center--travel--text {
		color: #4d4f53;
		margin-top: 10px;
	}

	.section__center--travel--img {
		width: 90%;
		margin: 10px auto;
		display: block;
	}

	.section__center--travel--link {
		text-decoration: none;
		padding: 15px 5px;
		font-size: .8em;
		letter-spacing: 0px;
		font-weight: normal;
		text-align: center;
		width: 85%;
		color: #FFF;
		background-color: #fe0197;
		margin: 20px auto 30px;
		display: block;
		border-radius: 7px;
		position: relative;
	}

	a.section__center--travel--link:hover {
		color: #fff;
	}

	.section__center--benefits {
		width: 98%;
		margin: 20px auto;
	}

	/* Acordeon */
	.section__center--benefits--acordeon {
		color: #801d76;
		background-color: #fff;
		cursor: pointer;
		padding: 18px;
		padding-top: 30px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: .8em;
		line-height: 20px;
		transition: 0.5s;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	}

	.section__center--benefits--acordeon:after {
		content: url(/upload/travell-sky/icon-arrow-down.svg);
		width: 5px;
		float: right;
		margin-top: -40px;
		margin-right: 30px;
		overflow: visible;
		transition: max-height 0.2s ease-out;
	}

	.section__center--benefits--acordeon.active:after {
		content: url(https: //www.skyairline.com/upload/travell-sky/icon-arrow-up.svg);
	}

	.section__center--benefits--panel {
		padding: 0 15px;
		background-color: #fff;
		overflow: hidden;
		display: none;
	}

	.section__center--benefits--panel.section__center--benefits.section__center--benefits--acordeon.active .section__center--benefits--panel {
		padding-bottom: 120px;
	}

	/* Fin acordeon */

	/************** Panel *************/
	.section__exclusive--container {
		padding: 0px;
		margin-top: 20px;
		background-color: #fff;
	}

	.section__exclusive--container.active {
		border-bottom: 5px solid #671e75;
	}

	.section__center--benefits__box--img {
		display: block;
		margin: 0 auto;
		width: 20%;
	}

	.section__center--benefits__box--img:nth-child(1) {
		margin-top: 30px;
		width: 15%;
	}

	.section__center--benefits__box--title {
		text-align: center;
		margin: 20px 0;
		color: #671e75;
		font-size: 1em;
	}

	.section__center--benefits__box--text {
		text-align: justify;
		margin-bottom: 30px;
		font-size: .9em;
		width: 100%;
		margin: 0 auto;
	}

	.section__center--benefits__exclusive {
		background-color: #671e75;
		margin: 0;
		min-height: 180px;
	}

	h2.section__center--benefits__exclusive--title {
		color: #FFF;
		text-align: center;
		padding: 30px 0 0;
		border-bottom: none;
		font-weight: normal;
	}

	h2.section__center--benefits__exclusive--title span {
		color: #26de00;
		text-align: left;
		background-color: none;
		background: initial;
		padding: 0;
	}

	.section__center--benefits__exclusive--text {
		padding: 0px 20px;
		font-size: .9em;
		text-align: justify;
		color: #FFF;
	}

	/*** Section Center ***/
	.section__footer {
		margin: 0 auto;
		background-color: #fff;
		margin: 0 auto;
		padding: 30px 0px 0px 0px;
	}

	.section__footer--logo--img {
		margin: 10px auto 20px;
		display: block;
		width: 45%;
	}

	.section__footer--social__main {
		width: 20%;
		float: left;
		padding: 0px 0px;
		margin-bottom: 30px;
	}

	.section__footer--social__main.left {
		border-right: 1px solid #4d4f53;
		padding-right: 20px;
		margin-left: 0px;
	}

	.section__footer--social__main.right {
		margin-left: 0px;
		width: 49.5%;
	}

	.section__footer--social__title {
		text-align: center;
		font-weight: lighter;
	}

	.section__footer--social {
		display: flex;
		justify-content: space-between;
		/* height: 50px; */
		margin: 10px 15px;
	}

	.section__footer--social--item {
		position: relative;
		flex: 1;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	/* Acordeon */
	.section__condiciones {
		color: #fff;
		background-color: #671e75;
		clear: both;
	}

	.section__condiciones--title {
		text-align: center;
		padding: 35px 0;
		font-size: 1em;
		font-weight: normal;
	}

	.section__condiciones--acordeon {
		color: #671e75;
		background-color: #fff;
		cursor: pointer;
		border-radius: 6px;
		padding: 10px 0 10px;
		width: 49%;
		border: none;
		margin-left: 25%;
		margin-botton: 30px;
		text-align: center;
		outline: none;
		font-size: 1.1em;
		/*! line-height: 20px; */
		transition: 0.4s;
	}

	.section__condiciones--acordeon:after {
		content: url(https: //www.skyairline.com/upload/travell-sky/icon-plus.svg);
			margin: 50px auto 20px;
	}

	.section__condiciones--acordeon.active:after {
		content: url(https: //www.skyairline.com/upload/travell-sky/icon-close.svg);
	}

	.section__condiciones--panel {
		padding: 0;
		color: #fff;
		background-color: #671e75;
		overflow: hidden;
		display: none;
	}

	.section__condiciones--panel--text {
		width: 90%;
		text-align: justify;
		margin: 10px auto 30px;
		font-size: .9em;
		font-weight: lighter;
		line-height: 1.5em;
	}

	/* Fin acordeon */

	/***** Section desciption benefits *******/
	.section__benefits {
		background-color: #ddd;
		overflow: hidden;
		margin: 0;
	}

	.section__exclusive {
		width: 100%;
		margin-bottom: 20px;
	}

	.section__exclusive.active {
		border-bottom: 5px solid #671e75;
	}

	.section__exclusive--title.active {
		color: #26de00;
	}

	.section__exclusive--icon.active path {
		fill: #26de00;
	}

	.section__exclusive--container.container-left {
		/*! padding: 20px; */
		float: left;
	}

	.section__exclusive--container.container-right {
		padding: 0;
		float: right;
	}

	.section__exclusive--top {
		background-color: #adafaf;
		display: inline-block;
		width: 100%;
		padding: 0px;
		height: 80px;
		margin: 0 auto;
		position: relative;
	}

	.section__exclusive--top.active {
		background-color: #671e75;
		transition: 0.2s ease-out;

	}

	.section__exclusive--icon {
		width: 10%;
		padding: 0px;
		float: left;
		margin: 0 15px;
	}

	svg:not(:root) {
		fill: #FFF;
		overflow: visible;
	}

	.section__exclusive--title {
		font-size: .9em;
		color: #FFF;
		font-weight: normal;
		margin-top: 35px;
	}

	.section__exclusive--panel--text {
		width: 90%;
		text-align: justify;
		margin: 10px auto 0px;
		font-size: .9em;

		line-height: 1.3em;
	}

	.section__exclusive--panel--text2 {
		width: 100%;
		text-align: justify;
		margin: 10px auto 0;
		font-size: .9em;
		padding-bottom: 0;
		line-height: 1.3em;
	}

	p.section__exclusive--panel--text2:nth-last-child() {
		margin-bottom: 20px
	}

	.section__exclusive--acordeon:after {
		content: url(https: //www.skyairline.com/upload/travell-sky/icon-plus.svg);
			margin: 50px auto 20px;
	}

	.section__exclusive--acordeon.active:after {
		content: url(https: //www.skyairline.com/upload/travell-sky/icon-close.svg);
	}

	.section__exclusive--panel {
		padding: 0 15px;
		background-color: white;
		/*
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;*/
	}

	.section__exclusive--acordeon {
		background-color: #671e75;
		color: #fff;
		cursor: pointer;
		padding: 15px;
		width: 100%;
		border: none;
		text-align: center;
		outline: none;
		font-size: 1.1em;
		line-height: 20px;
		transition: 0.4s;
	}

	.section__detalles {
		background-color: #fff;
		margin-bottom: 20px;
		overflow: hidden;
		padding: 25px;
	}

	.section__detalles--container {
		width: 100%;
		padding-bottom: 0;
		display: block;
		margin: 0 auto;
	}

	.section__detalles--title {
		color: #671e75;
		font-size: 1.3em;
		font-weight: normal;
	}

	.section__detalles--text {
		width: 100%;
		text-align: justify;
		margin: 10px auto 20px;
		font-size: .9em;
		line-height: 1.3em;
	}

	/** FOOTER **/
	.section__footer--container {
		width: 100%;
		margin: 0 auto;
		padding: 30px 0;
	}

	/***** End Section desciption benefits *******/

	/* Links Contacto */
	.section__links {
		width: 97%;
		display: block;
		margin: 0 auto 30px;
		display: none;
	}

	.section__link--item {
		list-style-type: none;
		line-height: 25px;
		margin-top: 5px;
	}


	/*  MEDIAQUERIES */
	@media screen and (max-width: 320px) {

		/* logo */
		.section__top--call--img {
			width: 100%;
		}

		.section__top--call--title {
			font-size: .9em;
		}

		/* Sky Travel */
		.section__center--travel-title {
			font-size: 1.2em;
			margin-top: 30px;
		}

		.section__exclusive--top.top-1 {
			border-top: 20px solid #ddd;
			margin-top: 0px
		}

		.section__exclusive--top.top-2 {
			border-top: 0;
		}

		.section__center {
			padding-bottom: 0px;
		}

		.section__footer--social__main {
			width: 50%;

		}

		.section__center--travel--link {
			width: 93%;
			font-size: .7em;
		}

		.section__center--benefits__box--title {
			font-size: 1em;
			/*! width: 100%; */
		}

		.section__center--benefits__box--text {
			font-size: .9em
		}

		/***** FOOTER ****/
		.section__footer--social__main.left {
			padding-right: 0%;
			/* margin-top: 0px; */
		}

	}

	@media screen and (max-width: 480px) and (min-width: 321px) {

		/* logo */
		.section__top--call--img {
			width: 85%;
		}

		.section__top--call--title {
			font-size: 1.2em;
		}

		/* Sky Travel */
		.section__center--travel-title {
			font-size: 1.2em;
			margin-top: 20px;
		}

		.section__center--benefits__exclusive--text {
			margin-top: 0px;
		}

		.section__exclusive--panel--text {
			margin-top: 20px;
			margin-bottom: 30px;
			width: inherit;
			padding-left: 15px;
			padding-right: 15px;
		}

		.section__center--benefits--acordeon {
			font-size: 1.1em;
		}

		.section__center--benefits--acordeon span {
			width: 220px;
			display: block;
		}

		.section__center--travel--link {
			width: 90%;
			font-size: .85em;
		}

		.section__center--benefits__exclusive--text {
			margin-top: 15px;
			line-height: 1.3em;
		}

		.section__center--benefits__box--title {
			font-size: 1em;
			/*! width: 100%; */
		}

		.section__center--benefits__box--text {
			font-size: .9em
		}

		/***** FOOTER ****/
		.section__footer--social__main.left {
			padding-right: 0;
			width: 49.5%;
		}

		.section__footer--social__main.right {
			padding-right: 0;
			width: 49.5%;
		}

		.section__center--benefits__exclusive {
			min-height: 180px;
		}

	}

	@media screen and (min-width: 481px) and (max-width: 768px) {

		/* logo */
		.section__top--call--img {
			width: 50%;
		}

		.section__top--call--title {
			font-size: 5vw;
		}

		/* Sky Travel */
		.section__center--travel-title {
			font-size: 1.3em;
			margin-top: 30px;
		}

		.section__center--travel--link {
			width: 90%;
			font-size: 1.1em;
		}

		.section__center--travel--text,
		.section__center--benefits__box--text,
		.section__detalles--text,
		.section__exclusive--panel--text,
		.section__exclusive--panel--text2,
		.section__condiciones--panel--text,
		.section__center--benefits__exclusive--text,
		.section__center--benefits__box--text {
			font-size: 1em;
			line-height: 1.4em;
		}

		.section__center--benefits__exclusive {
			min-height: 200px;
		}

		.section__exclusive--panel--text2 {
			width: 95%;
		}

		.section__center--benefits__box--title {
			font-size: 1.7em;
		}

		.section__center--benefits--acordeon {
			font-size: 1.5em;
			padding-left: 30px;
			line-height: 1.4em;
			height: 150px;
			padding-right: 0px;
		}

		.section__center--benefits__exclusive--text {
			width: 90%;
			margin: 0 auto;
		}

		.section__center--benefits--acordeon span {
			display: block;
			width: 70%;
		}

		.section__center--benefits__box--img {
			width: 15%;
		}

		.section__center--benefits--acordeon:before,
		.section__center--benefits--acordeon:after {
			margin-right: 50px;
			margin-top: -60px;
		}

		.section__center--benefits__exclusive--title {
			font-size: 2em;
		}

		.section__center--benefits__box--text {
			width: 95%;
		}

		.section__exclusive--panel--text {
			margin-top: 30px;
		}

		/***** FOOTER ****/
		.section__footer--social__main.left {
			padding-right: 0;
			width: 49.5%;
		}

		/* FOOTER */
		.section__footer--social__title {
			font-size: 1em;
		}

		.section__footer--social {
			margin: 0 auto;
			margin-top: 20px;
			width: 70%;
		}

		.section__condiciones--title {
			font-size: 1.4em;
		}

		.section__footer--logo--img {
			width: 35%;
		}

		.section__footer--social__img {
			width: 50px;
		}

		.section__exclusive--top {
			height: 80px;
		}

		.section__exclusive--icon {
			width: 40px;
			margin-left: 30px;
		}

		.section__exclusive--title {
			font-size: 1.2em
		}

		.section__detalles--container {
			width: 90%;
		}

		/* Detalles */
		.section__detalles--container {
			height: auto;
			width: 100%;
			background-color: #fff;
			height: auto;
			margin: 0;
		}

		.section__detalles--text {
			width: 100%;
		}
	}

	@media screen and (min-width: 769px) {
		.section__top--img {
			background: url(https: //www.skyairline.com/upload/travell-sky/bg-slider-desktop.jpg) no-repeat;
		}
	}

	@media screen and (min-width: 769px) and (max-width: 1199px) {

		/* Header */
		.section__center {
			margin-top: 0px;
			padding-top: 25%;
		}

		.section__top--call--img {
			width: 40%;
		}

		.section__top--call {
			width: 60%;
		}

		.section__top--call--title {
			font-size: 4vw;
			margin: 10px;
			width: 100%;
		}

		/* Center */

		.section__center--travel {
			margin-top: 0px;
		}

		.section__center--travel-title {
			margin-top: 20px;
			font-size: 1.8em
		}

		.section__center--travel--text,
		.section__center--benefits__box--text,
		.section__exclusive--panel--text,
		.section__exclusive--panel--text2,
		.section__condiciones--panel--text,
		.section__center--benefits__exclusive--text,
		.section__center--benefits__box--text {
			font-size: 1em;
			margin-top: 20px;
			line-height: 1.4em;
			width: 90%;
		}

		.section__center--travel--text,
		.section__exclusive--panel--text2 {
			font-size: 1em;
			line-height: 1.4em;
		}

		.section__exclusive--panel--text2 {
			width: 95%;
			margin-top: 10px;
			height: 380px;
		}

		.section__exclusive--panel--text {
			padding: 0;
			width: 90%;
			height: 200px;
		}

		.section__center--travel--img {
			margin: 30px auto 40px;
			width: 65%;
		}

		.section__center--benefits__exclusive--text {
			width: 80%;
			margin: 25px auto 0;
		}

		.section__center--travel--link {
			font-size: 1.2em;
			width: 60%;
			margin-top: 50px;
		}

		.section__center--benefits--acordeon {
			font-size: 1.6em;
			padding-left: 50px;
			line-height: 1.3em;
			height: 150px;
		}

		.section__exclusive--top {
			background-color: #adafaf;
			display: inline-block;
			width: 100%;
			padding: 0px;
			height: 80px;
			margin: 0 auto;
			position: relative;
		}

		.section__center--benefits--acordeon:after {
			width: 30px;
			margin-top: 0;
		}

		.section__center--benefits__box--title {
			font-size: 1.5em;
		}

		.section__center--benefits__box--img {
			width: 15%;
		}

		.section__center--benefits__box--img {
			width: 15%;
		}

		/** Beneficios **/
		.section__exclusive--container.container-left {
			width: 50%;
			float: left;

		}

		.section__exclusive--container.container-right {
			width: 50%;
			float: left;

		}

		.section__exclusive--title {
			font-size: 1.2em;
			margin-left: 80px;
		}

		.section__exclusive--icon {
			width: 35px;
			/* padding-left: 3%; */
		}

		/* FOOTER */
		.section__footer--logo--img {
			margin-left: 30px;
			margin-top: 50px;
			width: 20%;
			float: left;
			margin-right: 20%;
		}

		.section__footer--social__title {
			font-size: 1em;
			margin-bottom: 10px;
			margin-top: 0;
		}

		.section__footer--social {
			margin: 0 auto;
			width: 80%;
		}

		.section__footer--social__img {
			width: 35px;
		}

		.section__footer--social__main.left, .section__footer--social__main.right {
			width: 20%;
			display: table;
		}

		/* "2 column */
		.section__container--left {
			float: left;
			margin-bottom: 20px;
		}

		.section__container--left,
		.section__container--right {
			width: 48%;
			display: inline-block;
			border: 0px solid #ddd;
			background-color: #ddd;
		}

		.section__container--left,
		.section__container--right {
			margin: 0;
		}

		.section__container--right {
			margin-left: 4%;
			margin-bottom: 20px;
		}

		.section__center--benefits__exclusive {
			background-color: #671e75;
			margin: 0;
			min-height: 180px;
		}

		.section__exclusive {
			margin-top: 0px;
		}

		.section__detalles--title {
			font-size: 1.2em;
		}

		.section__exclusive {
			width: 100%;
			margin: 0px;
			background-color: #fff;
		}

		/* "2 column */
		/* "2 column */
		.section__container--left {
			float: left;
			margin-bottom: 0px;
		}

		.section__exclusive {
			margin-top: 20px;
		}

		.section__detalles--title {
			font-size: 1.4em;
		}

		.section__exclusive {
			width: 100%;
			margin: 0;
			background-color: #ddd;

		}

		.section__exclusive--container {
			margin-bottom: 20px;
			background-color: #fff;
		}

		.section__exclusive--panel--text {
			min-height: 120px;
		}

		/* Detalles */
		.section__detalles--container {
			height: auto;
			width: 100%;
			background-color: #fff;
			margin: 0;
		}

		.section__detalles--text {
			width: 100%;

		}

		.section__center--benefits {
			border: none;
		}

		/* Links Contacto */

		.section__links {
			display: block;
		}

		.section__links--content {
			margin-left: 30px;

		}

		.section__links--item {
			line-height: 2em;
			margin-top: 5px;
		}

		.section__link--item img {
			margin-right: 5px;
		}

	}

	@media screen and (min-width: 1200px) {

		.main__container {
			width: 1200px;
			margin: 0 auto
		}

		/* Header */

		.section__top--call {
			width: 60%;
		}

		.section__top--call--title {
			font-size: 4em;
			margin: 20px;
		}

		.section__center {
			padding-top: 25%;
		}

		/* Center */

		.section__center--travel {
			margin-top: 0px;
		}

		.section__center--travel-title {
			margin-top: 30px;
			font-size: 1.8em;
			/*! padding-top: 10%; */
		}

		.section__center--travel--text,
		.section__center--travel--text,
		.section__center--benefits__box--text,
		.section__exclusive--panel--text,
		.section__condiciones--panel--text,
		.section__center--benefits__exclusive--text,
		.section__center--benefits__box--text {
			font-size: 1.1em;
			margin-top: 20px;
			line-height: 1.3em;
			width: 90%;
		}

		.section__detalles--text {
			font-size: 1.1em;
		}

		.section__exclusive--panel--text2 {
			width: 95%;
			font-size: 1.1em;
			margin-top: 20px;
			line-height: 1.3em;
			height: 305px;
		}

		.section__center--travel--img {
			margin: 30px auto 40px;
			width: 65%;
		}

		.section__center--benefits__exclusive--text {
			width: 80%;
			margin: 25px auto 0;
		}

		.section__center--travel--link {
			font-size: 1.3em;
			width: 50%;
			margin-top: 50px;
		}

		.section__center--benefits--acordeon {
			font-size: 2.3em;
			padding-left: 50px;
			line-height: 1.3em;
			height: 150px;
		}

		.section__center--benefits--acordeon:after {
			width: 30px;
			margin-top: 0;
		}

		.section__center--benefits__box--title {
			font-size: 1.5em;
		}

		.section__center--benefits__box--img {
			width: 15%;
		}

		.section__center--benefits__box--img {
			width: 15%;
		}

		/** Beneficios **/
		.section__exclusive--container.container-left {
			width: 50%;
			float: left;

		}

		.section__exclusive--container.container-right {
			width: 50%;
			float: left;

		}

		.section__exclusive--title {
			font-size: 1.2em;
			margin-left: 80px;
		}

		.section__exclusive--icon {
			width: 40px;
			padding-left: 20px;
		}

		/* FOOTER */
		.section__footer {
			padding: 0;
		}

		.section__footer--logo--img {
			margin: 50px 0px 30px 55px;
			width: 20%;
			float: left;
			margin-right: 30%;
			margin-bottom: 60px;
		}

		.section__footer--social__title {
			font-size: 1em;
			margin-bottom: 10px;
			margin-top: 0px;

		}

		.section__footer--social {
			margin: 0 auto;
			width: 80%;
		}

		.section__footer--social__img {
			width: 50px;
		}

		.section__footer--social__main.left, .section__footer--social__main.right {
			width: 20%;
			display: table;
		}

		.section__condiciones {
			min-height: 160px;
		}

		.section__condiciones--title {
			font-size: 1.1em;
			font-weight: lighter;
		}

		/* "2 column */
		.section__container--left {
			float: left;
			margin-bottom: 20px;
		}

		.section__container--left,
		.section__container--right {
			width: 49%;
			display: inline-block;
			background-color: #ddd;
		}

		/* "2 column */
		.section__container--left {
			float: left;
			margin-bottom: 20px;
		}

		.section__container--right {
			margin-bottom: 20px;
		}

		.section__exclusive {
			margin-top: 20px;
		}

		.section__detalles--title {
			font-size: 1.5em;
		}

		.section__exclusive {
			width: 100%;
			margin: 0;
			background-color: #ddd;

		}

		.section__exclusive--panel--text {
			min-height: 135px;
		}

		/* Detalles */
		.section__detalles--container {
			height: auto;
			width: 100%;
			background-color: #fff;
			height: auto;
			margin: 0;
		}

		.section__center--benefits {
			border: none;
		}

		.section__container--right {
			margin-left: 2%;
		}

		/* Links Contacto */
		.section__links {
			display: block;
		}

		.section__links--item {
			line-height: 2em;
			margin-top: 5px;
			list-style: none;
		}

		.section__link--item img {
			margin-right: 5px;
		}
	}
</style>
{% endblock %}

{% block content %}
<div class="grid">
	<div class="grid-col col-12">
		<section class="section__top">
			<img class="section__top--img" sizes="100vw" src="https://www.skyairline.com//upload/travel_sky/bg-slider-desktop_original.jpg"
			 srcset="https://www.skyairline.com/upload/travel_sky/bg-slider-mobile_original.jpg 768w, https://www.skyairline.com/upload/travel_sky/bg-slider-desktop_original.jpg 769w " />
			<div class="section__top--call">
				<img alt="Logo Sky" class="section__top--call--img" src="https://www.skyairline.com/upload/travell-sky/img/logo-travel-sky-white.svg" />
				<h1 class="section__top--call--title">Canjea tus D&oacute;lares-Premio<br /><span>por pasajes SKY</span></h1>
			</div>
		</section>
		<section class="section__center">
			<article class="section__center--travel">
				<h2 class="section__center--travel-title">&iquest;Qu&eacute; es <span>Travel SKY ?</span></h2>
				<p class="section__center--travel--text"><strong>Tus tarjetas de cr&eacute;dito Travel del Banco de Chile</strong>
					se unieron a esta importante aerol&iacute;nea nacional para darte la oportunidad de viajar cu&aacute;ndo y
					d&oacute;nde quieras a trav&eacute;s de una compra inteligente y disfrutando de beneficios inigualables en Chile y
					Sudam&eacute;rica.<br />Gracias a la Alianza Travel | SKY, desde ahora podr&aacute;s canjear tus
					D&oacute;lares-Premio por pasajes de SKY y disfrutar de beneficios exclusivos tanto en el aeropuerto como en el
					avi&oacute;n.</p>
				<img alt="tarjeta" class="section__center--travel--img" src="https://www.skyairline.com/upload/marzo/tarjetas_2.png" />
				<a class="section__center--travel--link" href="https://www.skyairline.com/chile" target="_blank" title="Dólares Premio">CONVIERTE
					TUS D&Oacute;LARES-PREMIO EN VIAJES AQU&Iacute;</a>
			</article>
			<article class="section__center--benefits">
				<button class="section__center--benefits--acordeon toggle-next"><span>Beneficios para todos los clientes del Banco
						de Chile</span></button>
				<div class="section__center--benefits--panel">
					<div class="section__center--benefits__box">
						<img alt="" class="section__center--benefits__box--img" src="https://www.skyairline.com/upload/travell-sky/img/icon-ticket.svg" />
						<h3 class="section__center--benefits__box--title">Canjea tus D&oacute;lares-Premio por pasajes SKY.</h3>
						<p class="section__center--benefits__box--text">Ahora tus D&oacute;lares-Premio pueden ser canjeados por pasajes
							SKY, ingresando a www.skyairline.com. Elige tu destino y fecha de viaje, luego selecciona el bot&oacute;n de
							pago Banco de Chile.</p>
					</div>
					<div class="section__center--benefits__box">
						<img alt="" class="section__center--benefits__box--img" src="https://www.skyairline.com/upload/travell-sky/img/icon-percent.svg" />
						<h3 class="section__center--benefits__box--title">Compra pasajes en cuotas sin inter&eacute;s.</h3>
						<p class="section__center--benefits__box--text">Usa siempre tus Tarjetas de Cr&eacute;dito Travel del Banco de
							Chile en la compra de pasajes SKY y podr&aacute;s pagar en 6 o 12 cuotas sin inter&eacute;s, ya sea en las
							agencias de SKY a lo largo del pa&iacute;s, directamente en www.skyairline.com al seleccionar el bot&oacute;n de
							pago Banco de Chile, o a trav&eacute;s de cualquier agencia de viajes, siempre y cuando el cargo de la tarjeta
							sea facturado a SKY a trav&eacute;s del sistema BSP de IATA (para compra de $100.000 en 12 cuotas de $8.333;
							CAE: 0,74%, Costo Total del Cr&eacute;dito: $ 100.400, beneficio v&aacute;lido hasta el 31-03- 2016).</p>
					</div>
					<div class="section__center--benefits__box">
						<img alt="" class="section__center--benefits__box--img" src="https://www.skyairline.com/upload/travell-sky/img/icon-dolar.svg" />
						<h3 class="section__center--benefits__box--title">Doble acumulaci&oacute;n de D&oacute;lares Premio</h3>
						<p class="section__center--benefits__box--text">Usa siempre tus Tarjetas de Cr&eacute;dito Travel del Banco de
							Chile en la compra de pasajes SKY y acumula el doble de D&oacute;lares-Premio. Beneficio v&aacute;lido hasta el
							31-12- 2016.</p>
						<a class="section__center--travel--link" href="https://www.skyairline.com/chile" target="_blank" title="Dólares Premio">CANJEA
							TUS PUNTOS TRAVEL SKY AQU&Iacute;</a>
					</div>
				</div>
			</article>
			<article class="section__center--benefits">
				<div class="section__center--benefits__exclusive">
					<h2 class="section__center--benefits__exclusive--title">Beneficios <span>exclusivos</span></h2>
					<p class="section__center--benefits__exclusive--text">Para acceder a estos beneficios, ac&eacute;rcate al personal
						de SKY ubicado en el counter del aeropuerto y presenta tu tarjeta Visa Signature, Mastercard Black y Visa
						Infinite.</p>
				</div>
				<!-- Benefist Descriptions -->
				<section class="section__benefits">
					<div class="section__container--left">
						<!-- DEscription Benefits 1 -->
						<div class="section__exclusive">
							<div class="section__exclusive--container ">
								<div class="section__exclusive--top top-1">
									<svg class="section__exclusive--icon" enable-background="new -10 -10 100 100" height="80px" id="Layer_1"
									 version="1.1" viewbox="-10 -10 100 100" width="80px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
									 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
										<path d="M60.862,2.525H46.178c0.822-1.2,1.296-2.643,1.296-4.201c0.001-4.133-3.349-7.474-7.472-7.474
                                    c-4.13,0-7.478,3.341-7.478,7.474c0,1.56,0.476,3.001,1.293,4.201H19.23v10.433h41.632V2.525z M40.002,0.847
                                    c-1.392,0-2.522-1.13-2.522-2.522c0-1.394,1.13-2.522,2.522-2.522c1.385,0,2.518,1.128,2.518,2.522
                                    C42.519-0.283,41.387,0.847,40.002,0.847 M65.669,2.525V17.77h-51.25V2.525H5.488v86.624h69.009l0.016-86.624H65.669z
                                    M35.445,59.481L20.1,44.138l4.381-4.384l10.964,10.957l20.094-20.093l4.38,4.393L35.445,59.481z"
										 fill="#FFFFFF"></path>
									</svg>
									<h4 class="section__exclusive--title">CHECK-IN PREFERENTE</h4>
								</div>
								<p class="section__exclusive--panel--text">Al tener una tarjeta Visa Signature, MasterCard Black o Visa
									Infinite emitida por Banco de Chile, disfruta de un check in preferente en los counters de SKY en aeropuertos
									nacionales e internacionales de todos los vuelos operados por SKY (excepto charters). Beneficio para titular
									de la tarjeta y acompa&ntilde;antes registrados bajo la misma reserva.</p>
								<div class="section__exclusive--panel" id="collapse1">
									<p class="section__exclusive--panel--text2">Check-In preferente es un Beneficio para tarjetahabiente de
										tarjeta Visa Infinite, Visa Signature o MasterCard Black emitida por Banco de Chile y sus
										acompa&ntilde;antes. Consiste en una fila preferente para hacer el check in en los vuelos operados por SKY.
										Es otorgado por SKY Airline y est&aacute; sujeto a factibilidad log&iacute;stica de cada Aeropuerto sin
										responsabilidad alguna ni injerencia para Banco de Chile en todo lo anterior, ni en la ulterior
										atenci&oacute;n que al efecto se demande.</p>
								</div>
								<button class="section__exclusive--acordeon nav-toggle-1" data-href="collapse1">Ver m&aacute;s</button>
							</div>
							<!-- End Benefits -->
							<!-- DEscription Benefits 3 -->
							<div class="section__exclusive exc-left">
								<div class="section__exclusive--container ">
									<div class="section__exclusive--top top-2">
										<svg class="section__exclusive--icon" enable-background="new 0 0 110 150" height="80px" id="Layer_1" version="1.1"
										 viewbox="0 0 110 150" width="80px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
											<path d="M2.348,148.722h105.306V1.278H2.348V148.722z M16.679,15.57h76.034v5.486H16.679V15.57z M16.679,28.478
                                        h61.105v5.486H16.679V28.478z M16.679,41.154h76.034v5.486H16.679V41.154z M16.679,54.053h61.105v5.492H16.679V54.053z
                                        M16.679,66.729h76.034v5.497H16.679V66.729z M16.679,79.631h53.636v5.497H16.679V79.631z M93.303,118.864l-6.635,5.086
                                        c-0.412,0.316-0.596,0.866-0.443,1.368l2.376,8.014c0.346,1.141-0.947,2.079-1.933,1.402l-6.886-4.74
                                        c-0.432-0.302-1.002-0.302-1.428,0l-6.889,4.74c-0.984,0.677-2.27-0.262-1.93-1.402l2.373-8.014
                                        c0.153-0.502-0.028-1.052-0.443-1.368l-6.632-5.086c-0.947-0.717-0.458-2.234,0.734-2.267l8.359-0.216
                                        c0.521-0.009,0.985-0.351,1.161-0.847l2.784-7.879c0.4-1.129,1.99-1.129,2.388,0l2.788,7.879c0.172,0.496,0.633,0.838,1.157,0.847
                                        l8.36,0.216C93.755,116.63,94.251,118.147,93.303,118.864"
											 fill="#FFFFFF"></path>
										</svg>
										<h4 class="section__exclusive--title">Asiento Preferente</h4>
									</div>
									<p class="section__exclusive--panel--text">T&uacute; y un acompa&ntilde;ante podr&aacute;n optar a asientos
										preferentes en los vuelos SKY, situados en las tres primeras filas de la cabina o junto a las salidas de
										emergencia. Asignaci&oacute;n sujeta a disponibilidad y por orden de llegada al counter, adem&aacute;s el
										pasajero debe cumplir con los requisitos y pol&iacute;ticas de seguridad de la l&iacute;nea aer&eacute;a.</p>
									<div class="section__exclusive--panel" id="collapse2">
										<p class="section__exclusive--panel--text2">Asiento preferente es un Beneficio para tarjetahabiente de
											tarjeta&nbsp;Visa Infinite, Visa Signature o MasterCard Black emitida por Banco de Chile. Se asignar&aacute;
											por orden de llegada al counter, sujeto a disponibilidad al momento de la solicitud. Los asientos
											preferentes corresponden a las tres primeras filas de avi&oacute;n y salidas de emergencia, el pasajero debe
											cumplir con los requisitos y pol&iacute;ticas de seguridad de la l&iacute;nea a&eacute;rea para utilizar
											estos asientos. Es otorgado por SKY Airline sin responsabilidad alguna ni injerencia para Banco de Chile en
											todo lo anterior, ni en la ulterior atenci&oacute;n que al efecto se demande.</p>
									</div>
									<button class="section__exclusive--acordeon nav-toggle-2" data-href="collapse2">Ver M&aacute;s</button>
								</div>
							</div>
							<!-- DEscription Benefits 5 -->
							<div class="section__exclusive">
								<div class="section__exclusive--container ">
									<div class="section__exclusive--top top-3">
										<svg class="section__exclusive--icon" enable-background="new 0 0 110 110" height="80px" id="Layer_1" version="1.1"
										 viewbox="0 0 110 110" width="80px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
											<path d="M107.91,2.091c-1.013-1.01-2.647-1.01-3.658,0l-8.614,8.614c-1.547-0.92-3.341-1.457-5.257-1.457
                                        L64.337,9.233c-2.534,0.082-5.079,1.086-6.997,3.008L4.361,65.225C0.327,69.254,0.323,75.922,4.354,79.96l25.686,25.683
                                        c4.038,4.038,10.709,4.029,14.734-0.006L97.756,52.66c1.929-1.924,2.92-4.453,3.004-6.989V19.623c0-1.92-0.541-3.717-1.464-5.262
                                        l8.614-8.612C108.919,4.737,108.919,3.102,107.91,2.091 M59.887,60.391l-6.015,4.607c-0.377,0.287-0.543,0.786-0.404,1.241
                                        l2.154,7.271c0.311,1.033-0.86,1.882-1.75,1.268l-6.249-4.295c-0.389-0.279-0.903-0.279-1.294,0l-6.245,4.295
                                        c-0.893,0.614-2.057-0.234-1.751-1.268l2.153-7.271c0.14-0.455-0.025-0.954-0.401-1.241l-6.017-4.607
                                        c-0.859-0.656-0.415-2.029,0.67-2.055l7.58-0.201c0.471-0.007,0.893-0.314,1.052-0.766l2.524-7.143c0.365-1.027,1.805-1.027,2.169,0
                                        l2.524,7.143c0.159,0.451,0.575,0.759,1.052,0.766l7.58,0.201C60.295,58.361,60.746,59.734,59.887,60.391 M81.741,37.763
                                        c-5.249,0-9.509-4.257-9.509-9.513c0-5.25,4.26-9.505,9.509-9.507c1.689,0,3.271,0.446,4.646,1.213l-4.064,4.067
                                        c-1.325-0.201-2.724,0.195-3.742,1.218c-1.709,1.707-1.709,4.474,0,6.182c1.706,1.707,4.474,1.707,6.18,0
                                        c1.021-1.023,1.417-2.417,1.219-3.742l4.064-4.065c0.768,1.373,1.207,2.95,1.207,4.633C91.248,33.505,86.999,37.763,81.741,37.763"
											 fill="#FFFFFF"></path>
										</svg>
										<h4 class="section__exclusive--title">Embarque Preferente</h4>
									</div>
									<p class="section__exclusive--panel--text">T&uacute; y tus acompa&ntilde;antes registrados bajo la misma
										reserva podr&aacute;n disfrutar de embarque preferente, cuando se est&eacute; iniciando el proceso de ingreso
										al avi&oacute;n en todos los vuelos operados por SKY (excepto Charters). Para acceder a este beneficio
										presenta tu tarjeta Visa Signature, Mastercard Black o Visa Infinite al Agente de Embarque de SKY del
										aeropuerto.</p>
									<div class="section__exclusive--panel" id="collapse3">
										<p class="section__exclusive--panel--text2">Embarque preferente es un Beneficio para tarjetahabiente de
											tarjeta Visa Infinite, Visa Signature o MasterCard Black emitida por Banco de Chile, consiste en una fila
											preferente para abordar el avi&oacute;n, es v&aacute;lido en todos los vuelos (excepto Charters) operados
											por SKY. Beneficio para tarjetahabiente y acompa&ntilde;antes registrados bajo la misma reserva. Es otorgado
											por SKY Airline sin responsabilidad alguna ni injerencia para Banco de Chile en todo lo anterior, ni en la
											ulterior atenci&oacute;n que al efecto se demande.</p>
									</div>
									<button class="section__exclusive--acordeon nav-toggle-3" data-href="collapse3">Ver M&aacute;s</button>
								</div>
							</div>
						</div>
					</div>
					<!-- contenedor left -->
					<div class="section__container--right">
						<!-- Description End -->
						<div class="section__exclusive exc-right">
							<div class="section__exclusive--container ">
								<div class="section__exclusive--top top-4">
									<svg class="section__exclusive--icon" enable-background="new 0 0 110 200" height="80px" id="Layer_1" version="1.1"
									 viewbox="0 0 110 200" width="80px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
									 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
										<path d="M94.486,139.226H49.083c-1.584,0-2.97-1.096-3.315-2.649l-20.84-90.028V22.154
                                    c0-10.4-8.424-18.82-18.819-18.82v43.214l23.996,103.698h0.151c0.759,4.436,4.617,7.801,9.257,7.801h3.195l-9.188,38.619h66.197
                                    l-9.2-38.619h13.374v-9.417C103.892,143.424,99.679,139.226,94.486,139.226 M46.353,186.843l6.309-26.464h27.917l6.31,26.464H46.353
                                    z"
										 fill="#FFFFFF"></path>
									</svg>
									<h4 class="section__exclusive--title">Equipaje Adicional Gratis</h4>
								</div>
								<p class="section__exclusive--panel--text">Si eres titular de tarjeta Visa Signature, MasterCard Black o Visa
									Infinite emitida por Banco de Chile, puedes llevar una pieza de equipaje extra sobre la tarifa contratada
									equivalente a 23 Kg, tanto en vuelos nacionales como internacionales. Para acceder a este beneficio presenta
									tu tarjeta en el counter del aeropuerto.</p>
								<div class="section__exclusive--panel" id="collapse4">
									<p class="section__exclusive--panel--text2">Equipaje adicional gratis es un Beneficio para tarjetahabiente de
										tarjeta&nbsp;Visa Infinite, Visa Signature o MasterCard Black emitida por Banco de Chile, consiste en llevar
										una pieza de equipaje extra sobre la tarifa contratada equivalente a 23 Kg, tanto en vuelos nacionales como
										internacionales operados por SKY. Es otorgado por SKY Airline sin responsabilidad alguna ni injerencia para
										Banco de Chile en todo lo anterior, ni en la ulterior atenci&oacute;n que al efecto se demande.</p>
								</div>
								<button class="section__exclusive--acordeon nav-toggle-4" data-href="collapse4">Ver M&aacute;s</button>
							</div>
							<!-- DEscription Benefits 4 -->
							<div class="section__exclusive--container ">
								<div class="section__exclusive--top top-5">
									<svg class="section__exclusive--icon" enable-background="new 0 0 110 150" height="80px" id="Layer_1" version="1.1"
									 viewbox="0 0 110 150" width="80px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
									 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
										<path d="M31.23,145.365c0,1.791,1.472,3.246,3.283,3.246c1.804,0,3.276-1.455,3.276-3.246v-13.794H31.23V145.365z
                                    M86.849,44.952c-4.609-0.854-9.883-1.524-15.614-1.97V11.418c0-5.532-4.537-10.029-10.124-10.029H48.884
                                    c-5.583,0-10.126,4.497-10.126,10.029v31.466c-5.63,0.411-10.85,1.029-15.447,1.817c-3.738,0.641-6.474,3.833-6.474,7.594v80.377
                                    c0,3.715,2.68,6.896,6.372,7.568c0.807,0.155,1.646,0.29,2.498,0.429v-14.576h17.616v16.419c3.937,0.222,8.044,0.339,12.275,0.339
                                    c3.81,0,7.507-0.095,11.074-0.272v-16.485h17.617v14.774c0.828-0.13,1.65-0.262,2.438-0.395c3.721-0.641,6.436-3.85,6.436-7.585
                                    V52.511C93.163,48.822,90.512,45.63,86.849,44.952 M54.391,42.329c-3.1,0-6.131,0.066-9.078,0.184V11.418
                                    c0-1.958,1.596-3.537,3.571-3.537H61.11c1.976,0,3.574,1.579,3.574,3.537v31.156C61.354,42.418,57.919,42.329,54.391,42.329
                                    M72.207,145.365c0,1.791,1.463,3.246,3.28,3.246c1.803,0,3.27-1.455,3.27-3.246v-13.794h-6.55V145.365z"
										 fill="#FFFFFF"></path>
									</svg>
									<h4 class="section__exclusive--title">Equipaje&nbsp;Preferente</h4>
								</div>
								<p class="section__exclusive--panel--text">Tu equipaje de mano y el de tus acompa&ntilde;antes tendr&aacute;n
									preferencia al momento de ingresar al avi&oacute;n, pudiendo ubicar el equipaje al interior de los bins antes
									que los dem&aacute;s pasajeros. Para acceder a este beneficio presenta tu tarjeta Visa Signature, Mastercard
									Black o Visa Infinite al Agente de Embarque de SKY del aeropuerto.</p>
								<div class="section__exclusive--panel" id="collapse5">
									<p class="section__exclusive--panel--text2">Equipaje&nbsp;preferente es un Beneficio para tarjetahabiente de
										tarjeta Visa Infinite, Visa Signature o MasterCard Black emitida por Banco de Chile, es otorgado por SKY
										Airline y est&aacute; sujeto a factibilidad log&iacute;stica de cada Aeropuerto sin responsabilidad alguna ni
										injerencia para Banco de Chile en todo lo anterior, ni en la ulterior atenci&oacute;n que al efecto se
										demande.</p>
								</div>
								<button class="section__exclusive--acordeon nav-toggle-5" data-href="collapse5">Ver M&aacute;s</button>
							</div>
							<!-- DEscription Benefits 6 -->
							<div class="section__exclusive--container">
								<div class="section__exclusive--top top-6">
									<svg class="section__exclusive--icon" enable-background="new 0 0 110 110" height="80px" id="Layer_1" version="1.1"
									 viewbox="0 0 110 110" width="80px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
									 xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
										<g>
											<path d="M66.148,40.575c-1.838,0-3.279,1.443-3.279,3.279c0,1.837,1.441,3.279,3.279,3.279
                                        c1.836,0,3.278-1.443,3.277-3.279C69.426,42.017,67.984,40.575,66.148,40.575z"
											 fill="#FFFFFF"></path>
											<path d="M103.906,39.471l-30.285-0.792c-1.9-0.03-3.564-1.267-4.2-3.064L59.335,7.067
                                        c-1.454-4.09-7.207-4.09-8.662,0l-10.09,28.549c-0.633,1.797-2.322,3.034-4.199,3.064L6.099,39.472
                                        c-4.333,0.104-6.104,5.598-2.668,8.212l24.03,18.404c1.504,1.164,2.163,3.145,1.608,4.965l-8.604,29.049
                                        c-1.214,4.121,3.429,7.527,6.997,5.071l24.953-17.164c1.557-1.11,3.617-1.11,5.174,0l24.957,17.164
                                        c3.563,2.456,8.239-0.95,6.996-5.071l-8.608-29.049c-0.554-1.82,0.106-3.801,1.612-4.965l24.031-18.404
                                        C110.01,45.07,108.215,39.576,103.906,39.471z M62.212,60.247c-1.835,0-3.538-0.396-5.179-1.115l-3.738,3.737h-1.966l-2.23,2.229
                                        v1.967l-1.048,1.047h-3.542v3.543l-3.015,3.015h-6.165v-6.16L50.87,52.966c-0.722-1.638-1.116-3.409-1.116-5.18
                                        c0-6.885,5.574-12.455,12.458-12.455c6.886,0,12.459,5.57,12.459,12.455C74.671,54.671,69.098,60.247,62.212,60.247z"
											 fill="#FFFFFF"></path>
										</g>
									</svg>
									<h4 class="section__exclusive--title">Accseso a salones VIP Pacific Club</h4>
								</div>
								<p class="section__exclusive--panel--text">Accede gratuitamente junto a un acompa&ntilde;ante a los Salones VIP
									Pacific Club, presentando tu Visa Signature, Mastercard Black o Visa Infinite. Beneficio exclusivo para
									titulares de estas tarjetas.</p>
								<div class="section__exclusive--panel" id="collapse6">
									<p class="section__exclusive--panel--text2">Beneficios y precios v&aacute;lidos hasta el 31 de diciembre de
										2015. La entrega de los beneficios es de exclusiva responsabilidad de Salones VIP Pacific Club, no
										cabi&eacute;ndole a Banco de Chile, intervenci&oacute;n ni responsabilidad alguna en ello, ni en la ulterior
										atenci&oacute;n que ello demande.</p>
								</div>
								<button class="section__exclusive--acordeon nav-toggle-6" data-href="collapse6">Ver M&aacute;s</button>
							</div>
						</div>
					</div>
					<!-- contenedor right -->
				</section>
				<section>
					<div class="section__detalles">
						<div class="section__detalles--container">
							<h4 class="section__detalles--title">M&aacute;s detalles</h4>
							<p class="section__detalles--text">Para Visa Signature o MasterCard Black accede el titular m&aacute;s un
								invitado de forma gratuita, previa validaci&oacute;n de la vigencia de la tarjeta en base de consulta del
								sal&oacute;n. El resto de los acompa&ntilde;antes se acogen a una tarifa preferencial de $7.050 por persona.</p>
							<p class="section__detalles--text">Para Tarjeta D&eacute;bito Banca Privada, accede el titular y un
								acompa&ntilde;ante de forma gratuita, previa validaci&oacute;n en base de consulta del sal&oacute;n. El resto
								de los acompa&ntilde;antes se acogen a una tarifa preferencial de $7.050 por persona pagando con su Tarjeta
								D&eacute;bito Banca Privada.</p>
							<p class="section__detalles--text">No aplica para tarjetas Adicionales.</p>
							<p class="section__detalles--text">Este beneficio es otorgado por Banco de Chile para sus clientes Travel Sky,
								Sky Airline no tiene ninguna responsabilidad ni injerencia en la entrega de este beneficio.</p>
						</div>
					</div>
					<!-- links contacto -->
				</section>
			</article>
		</section>
		<!-- social networks -->
		<section class="section__footer">
			<div class="section__footer--logo"><img alt="" class="section__footer--logo--img" src="https://www.skyairline.com/upload/travell-sky/img/logo-travel-sky-black.svg" /></div>
			<div class="section__footer--container">
				<div class="section__footer--social__main left">
					<h5 class="section__footer--social__title">Banco de Chile</h5>
					<div class="section__footer--social"><a class="section__footer--social__item" href="#" title="redes sociales"><img
							 alt="" class="section__footer--social__img" src="https://www.skyairline.com/upload/travell-sky/img/icon-face.svg" /></a> <a class="section__footer--social__item"
						 href="#" title="redes sociales"><img alt="" class="section__footer--social__img" src="https://www.skyairline.com/upload/travell-sky/img/icon-twitter.svg" /></a>
						<a class="section__footer--social__item" href="#" title="redes sociales"><img alt="" class="section__footer--social__img"
							 src="https://www.skyairline.com/upload/travell-sky/img/icon-youtube.svg" /></a></div>
				</div>
				<div class="section__footer--social__main right">
					<h5 class="section__footer--social__title">Sky Airline</h5>
					<div class="section__footer--social"><a class="section__footer--social__item" href="https://www.facebook.com/SkyAirline"
						 target="_blank" title="redes sociales"><img alt="" class="section__footer--social__img" src="https://www.skyairline.com/upload/travell-sky/img/icon-face.svg" /></a>
						<a class="section__footer--social__item" href="https://twitter.com/SKYAirline_CL" target="_blank" title="redes sociales"><img
							 alt="" class="section__footer--social__img" src="https://www.skyairline.com/upload/travell-sky/img/icon-twitter.svg" /></a> <a class="section__footer--social__item"
						 href="https://www.youtube.com/channel/UCyoMo3Vd5l
                ycsXIX_DVfBkQ" target="_blank" title="redes sociales"><img
							 alt="" class="section__footer--social__img" src="https://www.skyairline.com/upload/travell-sky/img/icon-youtube.svg" /></a></div>
				</div>
			</div>
			<!-- end social networks -->
			<!-- conditions -->
			<div class="section__condiciones">
				<h4 class="section__condiciones--title">T&eacute;rminos y condiciones</h4>
				<button class="section__condiciones--acordeon toggle-next"></button>
				<div class="section__condiciones--panel">
					<p class="section__condiciones--panel--text">Banco de Chile es el emisor de la tarjeta de crédito Travel Club y
						el prestador de los servicios bancarios asociados a éstos. El programa Travel Club es responsabilidad de:
						Comercial Promociones y Turismo S.A. Es un programa de acumulación de puntaje denominado Dóla- res-Premio,
						acumulados por la compra de bienes o servicios asociados al pro- grama, o la bonificación de ellos de acuerdo a
						determinados beneficios que se entregan a sus socios por la tenencia, o utilización de tarjetas de crédito
						emiti- das por Banco de Chile, bajo las marcas o denominaciones: Banco de Chile Travel Club o Banco Edwards
						Travel Club, ambas emitidas por Banco de Chile. Los servicios prestados por Travel Club y sus agencias asociadas
						son de exclusi- va responsibilidad de éstas, sin obligaciones, intervención, responsabilidad alguna, ni
						injerencia para Banco de Chile en todo lo anterior, ni en la ulterior atención que al efecto se demande.</p>
					<p class="section__condiciones--panel--text">La responsabilidad de los pasajes y transporte aéreo son
						exclusivamente de SKY Airline sin responsabilidad para Travel Club o Banco de Chile. Los benefi- cios descritos
						pueden ser modificados, variados o eliminados sin previo aviso, bastando para ellos una modificación a las
						presentes bases. Bases del programa Travel | SKY</p>
					<p class="section__condiciones--panel--text">nfórmese sobre la garantía estatal de los depósitos en su banco o
						en www.sbif.cl</p>
					<p class="section__condiciones--panel--text">&copy; 2016 Banco de Chile. Todos los derechos Reservados.</p>
				</div>
			</div>
			<!-- end conditions -->
		</section>
	</div>
</div>

{% endblock %}

{% block component_jquery %}
<script src='https://www.skyairline.com/Content/Combined/main-4eb902484a.js' type='text/javascript'></script>
<script type="text/javascript">
	$('.toggle-next').click(function () {
		$(this).next().slideToggle();
		$(this).toggleClass('active');
	});

	$('.section__exclusive--acordeon').click(function (e) {
		var top = $(this).parents('.section__exclusive--container').find('.section__exclusive--top');
		var slideInfo = $(this).parents('.section__exclusive--container').find('.section__exclusive--panel');
		var container = $(this).parents('.section__exclusive--container');
		var icon = $(this).parents('.section__exclusive--container').find('.section__exclusive--icon');
		var title = $(this).parents('.section__exclusive--container').find('.section__exclusive--title');

		$(this).toggleClass("active");
		container.toggleClass("active");
		title.toggleClass('active');
		icon.toggleClass('active');
		top.toggleClass('active');
		slideInfo.slideToggle(300);
	});
</script>
{% endblock %}