{% extends "layouts/_layout-corporative.njk" %}
{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
footer: "mainfooter",
header: "hasNav"
} %}
{# ----------------------------------------- #}

{% block component_css %}
<link href='https://www.skyairline.com/Content/Combined/main-4249d8b01b.css' media='all' rel='stylesheet' type='text/css' />
<link href='https://www.skyairline.com/upload/landing-pre-inscripcion/css/animations-ie-fix.css' media='all' rel='stylesheet'
 type='text/css' />
<link href='https://www.skyairline.com/upload/landing-pre-inscripcion/css/animations.css' media='all' rel='stylesheet'
 type='text/css' />
<style type="text/css">
	html {
		font-size: unset !important;
	}

	body {
		font-family: Roboto, sans-serif;
		color: #636;
	}

	.main-header ul {
		margin-bottom: 0;
	}

	.main-header a:hover {
		color: #FF009A;
	}

	.main-header_subnav_list .subnav_item_n3 {
		color: #666;
	}

	.main-header_nav-tertiary li, 
	.main-header_nav-secondary .ui-dropdown_list li {
		margin-top: 0;
	}

	.main-header_nav-secondary .link-user .nav_item_link_title_label {
		color: #636;
	}
	.main-header .main-header_nav-secondary .nav_item_link_bg {
		width: 37px;
	}
	.main-header_nav-secondary .ui-dropdown .ui-dropdown_list_item_icon {
		width: 30px;
	}
	
	.subnav_desc_text-lists,
	.main-header_subnav_desc_text {
		font-weight: 400;
	}

	.main-header_subnav_desc_title h2 {
		border-bottom: 0;
	}

	.main-header_logo {
		margin: 0;
	}

	.main-header_subnav_desc_title h2,
	.main-header_column h2 {
		line-height: 1;
		text-align: inherit;
		font-size: inherit;
		margin: 0;
	}

	.main-footer,
	.main-footer ul li,
	.main-footer .socialmedia_list,
	.main-footer .main-footer_nav-column ul {
		margin-bottom: 0;
	}

	.main-footer a {
		font-size: 16px;
	}

	.main-footer_title .title {
		margin: 0;
	}

	.main-footer_nav-column h2 {
		text-align: left;
		border-bottom: 0;
	}

	.no-desktop {
		display: none;
	}

	.width-destino {
		max-width: 160px;
		margin: 2px;
		transition: all 0.5s ease;
	}

	.width-destino:hover {
		filter: grayscale(50%);

	}

	.compra {
		margin: 0px;
		text-align: center;
		color: #fff;
		font-size: 13px;
	}

	.compra:hover {
		text-decoration: underline;
	}

	.nombre-destino {
		color: #fff;
		line-height: 120%;
		text-align: center;
		font-weight: 800;
		font-size: 16px;
		margin: 0px;
	}

	.arica {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/ARI.jpg");

	}

	.iquique {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/IQQ.jpg");


	}

	.calama {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/CJC.jpg");

	}

	.antofagasta {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/ANF.jpg");

	}

	.copiapo {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/CPO.jpg");

	}

	.la-serena {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/LSC.jpg");

	}

	.concepcion {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/CCP.jpg");

	}

	.temuco {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/ZCO.jpg");
	}

	.valdivia {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/ZAL.jpg");
	}

	.osorno {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/ZOS.jpg");
	}


	.puerto-montt {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/PMC.jpg");
	}

	.balmaceda {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/BBA.jpg");
	}

	.punta-arenas {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/PUQ.jpg");
	}

	.buenos-aires {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/EZE.jpg");
	}

	.mendoza {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/MDZ.jpg");
	}

	.cordoba {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/COR.jpg");
	}

	.lima {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/LIM.jpg");
	}

	.montevideo {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/MVD.jpg");
	}

	.rio {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/GIG.jpg");
	}

	.sao-paulo {
		background: #000;
		height: 60px;
		padding: 12px 0px;

		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/GRU.jpg");
	}

	.florianopolis {
		background: #000;

		height: 60px;
		padding: 12px 0px;
		display: block;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-image: linear-gradient(rgba(112, 28, 116, 0.4), rgba(112, 28, 116, 0.7)), url("https://www.skyairline.com/upload/landing-precio/img/destinos-gradient/FLN.jpg");
	}

	.padding-2 {
		padding-bottom: 30px;
	}

	.img-logo {
		width: 230px;
		margin: 0 auto;
	}

	.col-md-6.contador-style {
		margin: 8px auto 0px auto;
		background: #fe0197;
		width: 305px;
		line-height: 150%;
		padding: 1px 0px;
		border-radius: 6px;

	}

	.titulo-cyber {
		color: #fff;
		font-weight: 900;
		font-family: 'Hind', sans-serif;
		text-align: center;
		font-size: 23px;
		max-width: 790px;
		padding: 0px 10px;
		text-transform: uppercase;
	}

	.verde {
		color: #26DE00;
	}

	.destacado {
		font-size: 30px;
		font-weight: 800;
		color: #fff;
		line-height: 120%;
		text-align: center;
	}

	h3 {
		font-weight: 800;
		font-size: 28px;
		line-height: 120%;
		color: #643079;
		margin: 8px 0px;
	}

	.caja-info p {
		font-size: 14px;
		line-height: 150%;
		color: #464646;
		text-align: justify;
	}

	.bg-info {
		height: auto;
		background-color: #fff;

		padding-top: 30px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.bg-destacado {
		background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://www.skyairline.com/upload/landing-pre-inscripcion/banner/bg-2_original.jpg");
		background-attachment: fixed;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		height: auto;
		background-color: #F4F4F4;
		padding: 50px 0px 50px 0px;
		margin-top: 12px;
	}


	#demo {
		color: #fff;
		font-weight: 800;
		font-size: 30px;
		text-align: center;
	}

	.faltan {
		text-align: center;
		color: #fff;
		font-size: 18px;
		margin: 8px 0px 8px 0px;
	}

	.bg-cont {
		height: auto;
		background-color: #701c74;
		padding: 10px 0px;
	}

	.cyber-home {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	h2.cyber-bajada {
		font-size: 26px;
		text-align: center;
		color: #fe0197;
		line-height: 120%;
		margin: 0px;
		padding: 0px 5px;

	}

	h1.cyber {
		font-size: 42px;
		text-align: center;
		color: #fff;
		font-weight: 800;
		padding: 0px 5px;
		line-height: 120%;
		margin: 0px;
	}

	h3.txt-inscripcion {
		font-family: 'Hind', sans-serif;
		color: #fff;
		font-size: 18px;
		text-align: center;
		padding: 0px;
		margin: 0px 0px 10px 0px;
		line-height: 130%;
	}

	form#mc-embedded-subscribe-form {
		width: 100%;
		max-width: 685px;
		margin: 0 auto;
	}

	.custom_submit,
	input[type=submit] {
		font-family: 'Hind', sans-serif;
		margin: 0px !important;
		font-size: 14px;
		float: right;
		padding: 7px 15px
	}


	input[type=number],
	input[type=date],
	input[type=text],
	input[type=password],
	input[type=email] {
		width: 100%;
		max-width: 540px;
		margin-bottom: 15px;
		height: 38px;
	}


	.col-md-9.margin-sus {

		float: none;
		margin: 0 auto;
	}



	.img-replace {
		/* replace text with an image */
		display: inline-block;
		overflow: hidden;
		text-indent: 100%;
		color: transparent;
		white-space: nowrap;
		z-index: 9999999999999999999;
	}

	.bts-popup {
		position: fixed;
		left: 0;
		bottom: 0;
		max-height: 180px;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
		-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
		transition: opacity 0.3s 0s, visibility 0s 0.3s;
		z-index: 9999999999999999999;
	}

	.bts-popup.is-visible {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
		-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
		transition: opacity 0.3s 0s, visibility 0s 0s;
		z-index: 9999999999999999999;
	}

	.bts-popup-container {
		position: absolute;
		width: 100%;

		margin: 0 auto;
		background: #662576;
		bottom: 0;
		border-radius: none;
		text-align: center;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: translateY(70px);
		-moz-transform: translateY(70px);
		-ms-transform: translateY(70px);
		-o-transform: translateY(70px);
		transform: translateY(70px);
		/* Force Hardware Acceleration in WebKit */
		-webkit-backface-visibility: hidden;
		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		transition-duration: 0.5s;
		z-index: 9999999999999999999;
	}

	.bts-popup-container img {
		padding: 20px 0 0 0;
		z-index: 9999999999999999999;
	}

	.bts-popup-container p {
		color: white;
		padding: 10px 40px;
		z-index: 9999999999999999999;
	}

	.bts-popup-container .bts-popup-button {
		padding: 5px 25px;
		border: 2px solid white;
		display: inline-block;
		margin-bottom: 10px;
		z-index: 9999999999999999999;
	}

	.bts-popup-container a {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 9999999999999999999;
	}






	.bts-popup-container .bts-popup-close {
		position: absolute;
		top: 15px;
		right: 20px;
		width: 30px;
		height: 30px;
		background: #d70099;
		z-index: 9999999999999999999;
	}

	.bts-popup-container .bts-popup-close::before,
	.bts-popup-container .bts-popup-close::after {
		content: '';
		position: absolute;
		top: 12px;
		width: 16px;
		height: 3px;
		background-color: white;
		z-index: 9999999999999999999;
	}

	.bts-popup-container .bts-popup-close::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: 9999999999999999999;
		left: 7px;
	}

	.bts-popup-container .bts-popup-close::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		z-index: 9999999999999999999;
		transform: rotate(-45deg);
		right: 7px;
		top: 13px;
	}

	.is-visible .bts-popup-container {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		padding: 20px 14px 14px 14px;
		transform: translateY(0);
		z-index: 9999999999999999999;
	}

	@media only screen and (min-width: 1170px) {
		.bts-popup-container {
			margin: 0 auto;
			z-index: 9999999999999999999;
		}
	}

	.bg-2 {
		position: relative;
		background: #701C74;
		overflow: hidden;
		color: #fff;
		height: 440px;

	}

	.padding-top-2 {
		padding-top: 0px;

	}

	.active {
		color: #fff;

	}

	div#exampleModalLong {
		padding: 0px !important;

	}

	.modal-content {
		padding: 0px !important;

	}

	.modal {
		padding: 0px !important;

	}

	.btn-terminos {
		background: none;
		color: #701C74;
		text-decoration: underline;
		transition: all 0.2s ease;

	}

	.fade.in {
		opacity: 1;
		background: rgba(255, 255, 255, 0.8);
	}

	.modal-header {
		padding: 15px 15px 8px 15px;

	}

	h5#exampleModalLongTitle {
		font-size: 18px;
		font-weight: 800;
	}

	.btn-cerrar {
		background: #ff009a;
		color: white;
	}

	.btn-cerrar:hover {
		background: #ff009a;
		color: white;
	}

	.modal-header .close {
		background: #fe0197;
		padding: 0px 8px;
		border-radius: 4px;

	}

	.modal-dialog {
		margin-top: 80px;
	}

	.btn-terminos:link {
		background: none;
		color: #000;
		text-decoration: underline;
		transition: all 0.2s ease;

	}

	.btn-terminos:visited {
		background: none;
		color: #000;
		text-decoration: underline;
		transition: all 0.2s ease;

	}

	.btn-terminos:hover {
		background: none;
		color: #000;
		opacity: 0.75;
		text-decoration: underline;

	}

	.terminos {
		width: 190px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}



	.bg-2:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.5;
		background-image: url('http://s1.1zoom.me/b5050/612/427643-svetik_1920x1080.jpg');
		background-repeat: no-repeat;
		background-position: 50% 0;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
	}

	.body_wrapper {
		overflow: hidden !important;
	}

	.body_wrapper>.container {
		width: 100%;
		padding: 0px;
	}


	header .navbar .d_menu {
		padding-top: 0px !important;
	}

	/*.container{
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px !important;
}*/

	.container {
		padding-top: 0px !important;
	}


	footer.skyfoot {
		display: none !important;
	}

	h2 {
		font-family: 'Hind', sans-serif;
		font-size: 22px;
		font-weight: 800;
		color: #671e75;
		margin: 0px;
		border-bottom: 0px;
	}



	ol,
	ul {
		padding-left: 0px;
	}

	.flecha-titulo {
		width: 13px;
		height: auto;

	}




	/*
 * Start Bootstrap - Half Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

	html,
	body {
		height: 100%;
		font-family: 'Hind', sans-serif;
	}

	/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */


	.business-header {}

	.item,
	.active,
	.carousel-inner {
		height: 100%;
	}

	/* Background images are set within the HTML using inline CSS, not here */

	.fill {
		width: 100%;
		height: 100%;
		opacity: 1;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	footer {
		margin: 50px 0;
	}

	.sobre {
		z-index:
	}

	.carousel {
		height: 440px;
		background: #701c74;
		margin-bottom: 40px;
	}

	.icon-next {
		background: url("https://www.skyairline.com/upload/landing-destino/img/arrow-right.svg");
		background-repeat: no-repeat;
	}

	.icon-prev {
		background: url("https://www.skyairline.com/upload/landing-destino/img/arrow-left.svg");
		background-repeat: no-repeat;
	}

	.carousel-control .icon-next:before {
		content: none;
	}

	.carousel-control .icon-prev:before {
		content: none;
	}

	.carousel-indicators {
		display: none;
	}

	.caja-destino {
		width: 100%;
		height: auto;
		padding: 0px 0px 10px 0px;
		background: #fff;
		border-radius: 8px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		transition: all 0.4s ease;
		margin-bottom: 30px
	}


	.caja-destino:hover {
		width: 100%;
		height: auto;
		padding: 0px 0px 10px 0px;
		background: #fff;
		border-radius: 8px;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);


	}



	.img-destino {
		width: 100%;
		background-size: cover;

		position: relative;
		margin-bottom: 15px;
		transition: all 0.4s ease;
		overflow: hidden;
		height: 155px;

	}

	.img-destino img {

		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

	}

	.img-destino:hover img {
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	.titulo {
		padding: 15px 10px 0px 15px;
	}

	.subtitulo {
		font-size: 12px;
		color: #adadad;
		text-transform: uppercase;
	}

	.titulo-ciudad {
		text-align: left;
		line-height: 120%;
	}

	.elige-mes {
		font-size: 15px;
		color: #671e75;
		text-align: center;
		font-weight: 700;

	}

	.caja-mes {
		background: #fff;
		width: 100%;
		border: 3px solid #ededed;
		height: auto;
		border-radius: 8px;
		padding: 5px 3px 3px 3px;
		margin: 0px 0px 15px 0px;
		transition: all 0.4s ease;
	}

	.caja-mes:hover {
		background: #ff009a;


	}

	.tit-mes {
		text-align: center;
		font-weight: 800;
		font-size: 16px;
		color: #671e75;
		margin: 5px 0px;
		transition: all 0.4s ease;
	}

	.tit-mes:hover {
		color: #fff;

	}


	.caja-precio {
		background: #fff;
		padding: 5px 0px;
		border-radius: 0px 0px 8px 8px;
	}

	.desde {
		text-transform: uppercase;
		font-size: 11px;
		color: #adadad;
		text-align: center;
		margin: 0px 0px;
		line-height: 120%;
	}

	.scrollup {
		z-index: 99999999999999999999 !important;
		width: 40px;
		height: 40px;
		background-size: cover;
		opacity: 0.6;
		position: fixed;
		bottom: 40px;
		right: 30px;
		display: none;
		text-indent: -9999px;
		background: url('https://www.skyairline.com/upload/landing-precio/img/FLECHA-01.svg') no-repeat;
		transition: all 0.4s ease;
	}

	.scrollup:hover {
		width: 40px;
		height: 40px;
		background-size: cover;
		opacity: 1;
		position: fixed;

		display: none;
		text-indent: -9999px;
		background: url('https://www.skyairline.com/upload/landing-precio/img/FLECHA-01.svg') no-repeat;
	}

	.precio {
		color: #ff009a;
		font-weight: 800;
		font-size: 17px;
		line-height: 120%;
		text-align: center;
		margin: 0px;

	}

	.img-slide-1 {
		background: url("https://www.skyairline.com/upload/landing-brasil-lanzamiento/BANNER-LANDING/BRASIL-BANNER-LANDING-DESKTOP_original.jpg");
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img-slide-1-eng {
		background: url("https://www.skyairline.com/upload/landing-siempre-low-cost/img/BANNER-SIEMPRE-LOW-COST_original.jpg");
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}


	.img-slide-2 {
		background: url("https://www.skyairline.com/upload/landing-siempre-low-cost/img/otros/13-JUL-BANNER-LANDING-DESKTOP-OTROS_original.jpg");
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img-slide-3 {
		background: url("https://www.skyairline.com/upload/landing-siempre-low-cost/img/eng/13-JUL-BANNER-LANDING-DESKTOP-ING_original.jpg");
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img-slide-4 {
		background: url("https://www.skyairline.com/upload/landing-precio/img/slider/BANNER-1-LANDING-1920-INTER2_original.jpg");
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}


	.contenedor-meses .col-md-4 {
		padding: 10px 5px;

	}

	.tramo {
		font-size: 13px;
		color: #671e75;
		text-align: center;
		font-weight: 500;

	}

	.caja-link,
	a:link {
		text-decoration: none;

	}

	#header {
		width: 100%;
		height: 70px;
		border-top: 3px solid #26DE00;
	}

	.nav-cluster {
		max-width: 850px;
		height: 60px;
		margin-top: -70px;
		margin-bottom: 0px;
		border-radius: 4px;
		margin-left: auto;
		margin-right: auto;
		background: #EDEDED;
		position: sticky;
		transition: all 0.4s ease;


	}


	.nav-cluster a {
		color: #701C74;
		font-weight: 500;
		font-size: 16px;
		transition: all 0.4s ease;

	}

	li {
		margin-top: 20px;
	}

	.nav-cluster a:link {
		color: #701C74;
		margin-right: 32px;
		margin-left: 32px;
		transition: all 0.3s ease;


	}




	.nav-cluster a:hover {
		color: #ff009a;


	}




	.nav-cluster li {
		text-decoration: none;
		display: inline-block;
		border-right: 1px solid #701C74;

	}

	.nav-cluster li.no-line {
		text-decoration: none;
		display: inline-block;
		border-right: 0px solid #701C74;

	}

	.hidden-desktop {
		display: none;
	}

	.titulo-menu-mobile {
		font-size: 20px;
		text-align: left;
		margin: 0px;
		line-height: 100%;
	}

	.subtitulo-menu-mobile {
		font-size: 12px;
		color: #adadad;
		text-transform: uppercase;
		margin: 0px;
		text-align: left;
	}

	button#dropdownMenuButton {
		background: none;
		border-bottom: 1px solid #adadad;
		width: 200px;
		padding-left: 0px;
		width: 290px;
		transition: all 0.4s ease;
	}

	.flecha-selector {
		width: 20px;
		height: auto;

		float: right
	}

	section {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.padding-top {
		padding-top: 38px;
		padding-left: 15px;
		padding-right: 15px;
	}



	.open>.dropdown-menu {
		padding: 10px 10px;
		transition: all 0.4s ease;
		display: block;
	}

	.nav-cluster a:link {
		display: inline-block;
		text-align: left;
		transition: all 0.4s ease;
	}

	.nav-cluster a:link {
		line-height: 160%;

	}

	.carousel-control.right {
		transition: all 0.2s ease
	}

	.carousel-control.left {
		transition: all 0.2s ease
	}

	.img-center {
		margin-left: auto;
		margin-right: auto;
		margin-top: 12px;
	}



	@media (max-width: 768px) {


		.no-mobile {
			display: none;
		}

		.no-desktop {
			display: block;
		}

		input[type=number],
		input[type=date],
		input[type=text],
		input[type=password],
		input[type=email] {

			max-width: 100%;

		}

		.width-destino {
			max-width: 768px;
			width: 100%;
		}

		.padding-2 {
			padding-bottom: 195px;
		}

		.titulo-cyber {
			font-size: 21px;
		}

		.padding-top {
			padding-top: 45px;
			padding-left: 5px;
			padding-right: 5px;
		}

		.scrollup {
			width: 40px;
			height: 40px;
			opacity: 0.6;
			position: fixed;
			bottom: 30px;
			right: 20px;
			display: none;
			text-indent: -9999px;
			background: url('https://www.skyairline.com/upload/landing-precio/img/FLECHA-01.svg') no-repeat;
		}

		.scrollup:hover {
			width: 40px;
			height: 40px;
			opacity: 1;
			position: fixed;
			bottom: 30px;
			right: 20px;
			display: none;
			text-indent: -9999px;
			background: url('https://www.skyairline.com/upload/landing-precio/img/FLECHA-01.svg') no-repeat;
		}



		.img-slide-1-ENG {
			background: url("https://www.skyairline.com/upload/landing-precio/img/slider/ENG/BANNER-1-LANDING-750-ING_original.jpg");
			background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.img-slide-2 {
			background: url("https://www.skyairline.com/upload/landing-siempre-low-cost/img/otros/13-JUL-BANNER-LANDING-MOBILE-OTROS_original.jpg");
			background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.img-slide-3 {
			background: url("https://www.skyairline.com/upload/landing-siempre-low-cost/img/eng/13-JUL-BANNER-LANDING-MOBILE-ING_original.jpg");
			background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.img-slide-4 {
			background: url("https://www.skyairline.com/upload/landing-precio/img/slider/BANNER-1-LANDING-750-INTER_original.jpg");
			background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.carousel {
			height: 340px;
		}


		.nav-cluster {
			max-width: 100%;
			height: 60px;
			margin-top: -42px;
			margin-bottom: 30px;
			border-radius: 0px;
			margin-left: auto;
			margin-right: auto;
			background: #EDEDED;
			position: relative;
			z-index: 33333333;
			transition: all 0.4s ease;

		}

		.hidden-mobile {
			display: none;
		}

		.hidden-desktop {
			display: inline-block;
			transition: all 0.4s ease;

		}

		.nav-cluster a:link {
			font-size: 18px;
		}



	}



	/* NUEVOS ESTILOS */
	.f-nav {
		z-index: 9999;
		position: fixed;
		top: 60px;
		font-size: 0rem;
		height: 55px;
		line-height: 0px;


		/* width: 100%;
     max-width: 100%;
    */
		right: 0;
		left: 0;
		-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.35);
		box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.35);
		transition: all 0.4s ease;
	}

	.bg-playa {
		background-image: url("https://www.skyairline.com/upload/landing-precio/FONDO-starpass_original.jpg");
		background-size: cover;
		background-position: top;
		min-height: 500px;
		margin: 0;
	}

	.caja-star {
		display: flex;
		max-width: 450px;
		height: 280px;
		background-color: #fff;
		margin-top: 30px;
		margin-left: 120px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	}

	.caja-star__morado {
		width: 50%;
		background-image: url("https://www.skyairline.com/upload/landing-precio/EQUIPAJE-LANDING.jpg");
		background-color: #6a1b74;
		background-size: cover;
		height: 100%;
	}

	.caja-star__texto {
		width: 50%;
		padding: 0px 25px;
	}

	.caja-star__texto h3 {
		font-weight: bold;
		color: #6a1b74;
		font-size: 34px;
		text-align: center;
		margin-bottom: 20px;
	}

	.caja-star__texto p {
		color: #6a1b74;
		font-size: 16px;
		font-weight: 500;
		line-height: 120%;
	}

	.caja-star__texto h4 {
		color: #26de00;
		font-size: 46px;
		font-weight: bold;
	}

	.caja-star__texto h4 span {
		font-size: 40px;
	}

	.caja-star__texto p.gris {
		color: #757577;
		font-size: 13px;
	}

	.bg-playa .btn-fucsia {
		max-width: 350px;
		background: #ff0198;
		width: 100%;
		font-size: 15px;
		margin: 0 auto;
		text-align: center;
		display: block;
		margin-top: 40px;
		margin-bottom: 10px;
		color: #fff;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: 600;
		padding: 6px 10px;
	}

	footer.footer-star {
		margin: 0px;
	}

	footer.footer-star .social_links li {
		display: inline-block;
	}

	footer.footer-star .footer_block_holder {
		min-height: auto;
	}

	@media (max-width: 768px) {
		.caja-star {
			flex-direction: column;
			margin-left: 0px;
			margin-top: 40px;
		}

		.caja-star__morado,
		.caja-star__texto {
			width: 100%
		}

		.caja-star {
			min-height: 500px;
			height: auto;
		}

		.caja-star__morado {
			height: 250px;
		}

		.f-nav {
			top: 42px;
		}

		footer.footer-star .footer_block_holder {
			width: 173px;
		}
	}





	@media only screen and (max-width: 1023px) and (min-width: 768px) {}


	@media (min-width: 1920px) {



		.bg-playa {
			height: 550px;
			background-position: center;
		}

		.caja-star {
			max-width: 450px;
			height: 320px;
		}

		.padding-top-2 {
			padding-top: 30px;
		}


	}







	.nav-cluster {
		margin-bottom: 0px !important;
	}

	.scrollup {
		z-index: 999999 !important;
	}

	.img-slide-1 {
		background: url("https://www.skyairline.com/upload/landing-brasil-lanzamiento/BANNER-LANDING/BRASIL-BANNER-LANDING-DESKTOP_original.jpg");
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}

	p.porcentaje {
		font-weight: 800;
		font-size: 18px;
		top: 0;
		padding: 0px;
		text-align: right;
		left: -3px;

	}

	.descuento {
		position: absolute;
		padding: 10px 8px 0px 8px;
		top: 0;
		right: 0;
		color: #fff;
		width: 78px;
		height: 78px;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: 999;
		background: url("https://www.skyairline.com/upload/landing-todo-sky/img/triangulo.png");
	}

	.bg-playa {
		background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1)), url("https://www.skyairline.com/upload/landing-precio/FONDO-starpass_original.jpg");
		background-size: cover;
		background-position: center;
		min-height: 420px;
		margin: 0;
		background-color: #390B48;
		padding-bottom: 55px;
	}

	.bg-top {
		background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://www.skyairline.com/upload/landing-pre-inscripcion/banner/CYBER-MONDAY-BG_original.jpg");
		background-size: cover;
		background-position: center;

		height: auto;
		background-color: #000;

		margin: 0;

	}


	.dic {
		margin-bottom: 15px !important;
	}



	.nav-cluster a:link {
		font-weight: 800;
	}

	img.img-responsive.ancho {
		width: 900px;
	}


	.tit-mes {
		color: #fe0197 !important;
		height: 37px !important;
		line-height: 100%;
		margin: 0px !important;
		padding: 10px 0px 0px 0px !important;
	}

	.tit-mes:hover {
		color: #fff !important;
	}

	.btn-margin {

		margin: 0 auto 15px auto;

	}

	.tramo-img {
		position: absolute;
		padding: 10px 20px 7px 20px;
		bottom: 0;
		color: #fff;
		display: block;
		z-index: 999;
	}

	.img-destino {
		min-height: 155px !important;
		height: auto !important;
	}

	.tramo-img p {
		line-height: 120%;
		margin: 0px;
		font-weight: 500;

	}

	.tramo-img h1 {
		font-weight: 900;
		margin: 0px;
		font-size: 46px;
		line-height: 120%;

	}

	span.tasas-incluidas {
		font-size: 11px;
		font-weight: 100;
	}

	.caja-mes {
		min-height: 46px !important;
		padding: 8px 3px 3px 3px !important;
		margin: 0px 0px 15px 0px;
	}


	body {
		padding-right: 0px !important;
	}

	.container-2 {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

	}

	@media (max-width: 768px) {

		.scrollup {
			z-index: 999999 !important;
		}

		/*.bg-top {
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("https://www.skyairline.com/upload/landing-pre-inscripcion/banner/CYBER-LANDING-MOBILE_original.jpg");
            background-size: cover;
            background-position: center;
            min-height: auto;
            margin: 0;
			height: 380px;
            padding-bottom: 55px;
        }*/


		.img-slide-1 {
			background: url("https://www.skyairline.com/upload/landing-brasil-lanzamiento/BANNER-LANDING/BRASIL-BANNER-LANDING-MOBILE_original.jpg");
			background-size: cover;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		.nav-cluster {
			margin-bottom: 0px !important;
		}
	}




	.modal-dialog {
		margin-top: 17%;
	}
</style>
{% endblock %}

{% block content %}
<div class="grid">
	<div class="grid-col col-12">
		<section class="bg-top">
			<div class="container-2 cyber-home">
				<div class="row">
					<div class="grid-col col-md-12">
						<!--<img  style="margin: 0 auto;" class="img-responsive" src="https://www.skyairline.com/upload/landing-pre-inscripcion/banner/CYBER-MONDAY-FECHA.png" alt="Fecha de Cyber Monday">-->
						<!--  <h1 class="titulo-cyber">DEL 7 AL 10 DE OCTUBRE</h1>-->
						<img style="margin: 0 auto;" class="img-responsive img-logo" src="https://www.skyairline.com/upload/landing-pre-inscripcion/banner/CYBER-LOGO.png"
						 alt="Logo Cyber Monday Sky Airline">
					</div>
					<!--<h1 class="titulo-cyber">Inscríbete hoy en nuestro Cyber Monday y obtén descuentos adicionales sobre nuestras ofertas.</h1>-->
					<h1 class="titulo-cyber">Encuentra las mejores ofertas de pasajes.<br>Vuelos
						baratos a precios Low Cost
					</h1>
				</div>
				<!--
            <img class="img-responsive" width="220" style="margin: 0 auto;"; src="https://www.skyairline.com/upload/sky-days-6/img/logo-cyber.png">
            
            <h1 class="cyber">Muy pronto comienza nuestro Cyber</h1>
            <h2 class="cyber-bajada">Desde el 7 al 10 de octubre</h2>-->
				<!--<div class="row">
            <div style="float: none; " class="grid-col col-md-6 contador-style">
            
            <p class="faltan">Faltan:</p>
             <p id="demo"></p>
             
            </div> 
             
            </div>  
            -->
			</div>
		</section>
		<!-- FIN BANNER TOP -->
		<!--CONTADOR-->
		<!-- <section class="bg-cont">
    <div class="container-2">
        
        <div class="row">
         
         
          
        </div>  
          
          </div>
          
    </section>-->
		<!--FIN CONTADOR-->
		<section class="bg-info">
			<div class="container-2">
				<div class="row">
					<div class="grid-col col-md-6">
						<div class="caja-info">
							<img class="img-responsive" src="https://www.skyairline.com/upload/landing-pre-inscripcion/images/QUE-ES-EL-CYBER_original.jpg"
							 alt="¿Que es el Cyber?" title="¿Que es el Cyber?">
							<h3>¿Qué es el Cyber?</h3>
							<p>Es un evento que ofrece ofertas y descuentos exclusivos. ¿Cuándo es el
								Cyber? Desde el 7 de octubre en <a href="https://www.skyairline.com/chile">Skyairline.com</a> encontrarás
								rutas y destinos IMPERDIBLES. ¡Regístrate y recibe un código de
								descuento aplicable sobre nuestras tarifas Cyber!
							</p>
						</div>
					</div>
					<div class="grid-col col-md-6">
						<div class="caja-info">
							<img class="img-responsive" src="https://www.skyairline.com/upload/landing-pre-inscripcion/images/MEDIOS-DE-PAGO-CYBER_original.jpg"
							 alt="Medios de Pago Cyber SKY Airline" title="Medios de Pago Cyber SKY
                        Airline">
							<h3>¿Cómo comprar en el Cyber?</h3>
							<p>Accede a nuestra página web <a href="https://www.skyairline.com/chile">Skyairline.com</a> a partir del
								7 de octubre, elige el destino, la fecha y compra los pasajes en oferta.
								Podrás realizar el pago con: Webpay (Cuenta Vista y Tarjeta Débito),
								Tarjetas de Crédito, Tarjetas del Banco de Chile y Dólares Premio.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-destacado">
			<div class="container-2">
				<div class="row animatedParent">
					<div style="float: none; margin: 0 auto;" class="grid-col col-md-8">
						<h4 class="destacado animated fadeInUp"><span class="verde">En Skyairline
								encontrarás vuelos baratos</span> por todo Chile, Perú, Argentina,
							Uruguay y Brasil.
						</h4>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-info padding-2">
			<div class="container-2">
				<div class="row">
					<div class="grid-col col-md-12">
						<!--ARICA-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=ARI&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino arica">
								<h4 class="nombre-destino">ARICA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN ARICA-->
						<!--IQQ-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=IQQ&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino iquique">
								<h4 class="nombre-destino">IQUIQUE</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN IQQ-->
						<!--CJC-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=CJC&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino calama">
								<h4 class="nombre-destino">CALAMA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN CJC-->
						<!--ANF-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=ANF&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino antofagasta">
								<h4 class="nombre-destino">ANTOFAGASTA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN ANF-->
						<!--CPO-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=CPO&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino copiapo">
								<h4 class="nombre-destino">COPIAPÓ</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN CPO-->
						<!--LSC-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=LSC&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino la-serena">
								<h4 class="nombre-destino">LA SERENA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN LSC-->
						<!--CCP-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=CCP&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino concepcion">
								<h4 class="nombre-destino">CONCEPCIÓN</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN CCP-->
						<!--ZCO-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=ZCO&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino temuco">
								<h4 class="nombre-destino">TEMUCO</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN ZCO-->
						<!--ZAL-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=ZAL&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino valdivia">
								<h4 class="nombre-destino">VALDIVIA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN ZAL-->
						<!--ZOS-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=ZOS&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino osorno">
								<h4 class="nombre-destino">OSORNO</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN ZOS-->
						<!--PMC-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=PMC&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino puerto-montt">
								<h4 class="nombre-destino">PUERTO MONTT</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN PMC-->
						<!--BBA-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=BBA&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino balmaceda">
								<h4 class="nombre-destino">BALMACEDA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN BBA-->
						<!--PUQ-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=PUQ&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino punta-arenas">
								<h4 class="nombre-destino">PUNTA ARENAS</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN PUQ-->
						<!--EZE-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=EZE&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino buenos-aires">
								<h4 class="nombre-destino">BUENOS AIRES</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN EZE-->
						<!--MDZ-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=MDZ&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino mendoza">
								<h4 class="nombre-destino">MENDOZA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN MDZ-->
						<!--COR-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=COR&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino cordoba">
								<h4 class="nombre-destino">CÓRDOBA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN COR-->
						<!--LIM-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=LIM&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino lima">
								<h4 class="nombre-destino">LIMA</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN LIM-->
						<!--MVD-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=MVD&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino montevideo">
								<h4 class="nombre-destino">MONTEVIDEO</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN MVD-->
						<!--RIO-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=GIG&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino rio">
								<h4 class="nombre-destino">RÍO DE JANEIRO</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN RIO-->
						<!--SAO-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=GRU&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino sao-paulo">
								<h4 class="nombre-destino">SAO PAULO</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN SAO-->
						<!--FLN-->
						<a href="https://www.skyairline.com/chile/flujo-compra/vista-mensual?fromCityCode=SCL&toCityCode=FLN&departureDateString&returnDateString&fareTypeCategory=1&adults=1&children=0&infants=0&pets=0&currency=CLP&roundTrip=true">
							<div class="grid-col col-md-2 col-sm-4 col-xs-6 width-destino florianopolis">
								<h4 class="nombre-destino">FLORIANÓPOLIS</h4>
								<p class="compra">Compra Aquí</p>
							</div>
						</a>
						<!--FIN COR-->
					</div>
				</div>
			</div>
		</section>
		<!-- /.container -->
		<a href="#" class="scrollup"></a>
	</div>
</div>

{% endblock %}

{% block component_jquery %}
<script src='https://www.skyairline.com/Content/Combined/main-4eb902484a.js' type='text/javascript'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/css3-animate-it/1.0.3/js/css3-animate-it.min.js"></script>
<script>
	$(document).ready(function () {
		// Add smooth scrolling to all links
		$(".carousel-inner a").on('click', function (event) {

			// Make sure this.hash has a value before overriding default behavior
			if (this.hash !== "") {
				// Prevent default anchor click behavior
				event.preventDefault();

				// Store hash
				var hash = this.hash;

				// Using jQuery's animate() method to add smooth page scroll
				// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 800, function () {

					// Add hash (#) to URL when done scrolling (default click behavior)
					window.location.hash = hash;
				});
			} // End if
		});
	});
</script>
<script type="text/javascript">
	jQuery("document").ready(function ($) {

		var nav = $('.nav-cluster');

		$(window).scroll(function () {
			if ($(this).scrollTop() > 460) {
				nav.addClass("f-nav");
			} else {
				nav.removeClass("f-nav");
			}
		});

	});


</script>
<script>
	$(window).scroll(function () {
		if ($(this).scrollTop() > 100) {
			$('.scrollup').fadeIn();
		} else {
			$('.scrollup').fadeOut();
		}
	});
</script>
<script>

	$('.scrollup').click(function () {
		$("html, body").animate({ scrollTop: 0 }, 400);
		return false;
	});
</script>
<script type="text/javascript">

	jQuery(document).ready(function ($) {

		window.onload = function () {
			$(".bts-popup").delay(1).addClass('is-visible');
		}

		//open popup
		$('.bts-popup-trigger').on('click', function (event) {
			event.preventDefault();
			$('.bts-popup').addClass('is-visible');
		});

		//close popup
		$('.bts-popup').on('click', function (event) {
			if ($(event.target).is('.bts-popup-close') || $(event.target).is('')) {
				event.preventDefault();
				$(this).removeClass('is-visible');
			}
		});
		/*//close popup when clicking the esc keyboard button
		$(document).keyup(function(event){
			if(event.which=='27'){
				$('.bts-popup').removeClass('is-visible');
			}
		});*/
	});

</script>
{% endblock %}