{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{# ----------------------------------------- #}

{% block content %}

<!-- ARTICLE CONTENT: ROW1 -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Servicio',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Todo sobre equipaje'
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}

    
</div>

<!-- ARTICLE CONTENT: ROW2 -->
<!--#### custom grid: columns and grid variables ####-->
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {# MAIN FULL BANNER #}
            {% set banner = {
                showPagination: false,
                showPrevNext: false,
                items: [
                    {
                        bg: 'banner1',
                        title: 'Todo sobre equipaje',
                        buttonIntroCaption: true,
                        isActive: true
                    }
                ]
            } %}
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h1-inverse">
                Todo sobre equipaje
            </h2>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12 col-md-4 col-md-last">
            <div class="context-box_aside">
                <h3 class="context-box_aside_title">Contenidos</h3>
                <ul class="context-list secondary">
                    <li><a href="">Equipaje permitido</a></li>
                    <li><a href="">Elementos Prohibidos</a></li>
                    <li><a href="">Cargos por exceso de equipaje</a></li>
                    <li><a href="">Problemas con tu equipage</a></li>
                </ul>
            </div>
        </div>
        <div class="grid-col col-12 col-md-8">
            <h1 class="context-h1">Equipaje Permitido</h1>
            <h2 class="context-h2">Equipaje de mano</h2>

            <div class="grid grid-middle grid-noBottom">
                <div class="grid-col col-12 col-lg-6">
                     <ul class="context-list secondary">
                        <li>No debe exceder un peso maximo de 3 kg (FAIRCHILD METRO M-23).</li>
                        <li>No debe exceder un peso maximo de 5 kg (BOMBARDIER CRJ-200).</li>
                        <li>No deben exceder las medidas de: 30 cm. X 20 cm. X 27 cm.
                            <ul class="context-list">
                                <li>Lista segundo nivel</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="grid-col col-12 col-lg-6">
                    <picture>
                        <source srcset="https://dhcwusgtjoo43.cloudfront.net/__cache__/file/afasset/pj/e4/e0/e9/33/a15015981108290/accessoire-cabine.png%5B600_300xoxar%5D.png" media="(min-width: 1200px)" />
                        <source srcset="https://dhcwusgtjoo43.cloudfront.net/__cache__/file/afasset/pj/e4/e0/e9/33/a15015981108290/accessoire-cabine.png%5B600_300xoxar%5D.png" media="(min-width: 1025px)" />
                        <source srcset="https://dhcwusgtjoo43.cloudfront.net/__cache__/file/afasset/pj/e4/e0/e9/33/a15015981108290/accessoire-cabine.png%5B600_300xoxar%5D.png" media="(min-width: 640px)" />
                        <source srcset="https://dhcwusgtjoo43.cloudfront.net/__cache__/file/afasset/pj/e4/e0/e9/33/a15015981108290/accessoire-cabine.png%5B600_300xoxar%5D.png" media="(min-width: 481px)" />
                        <img class="context-image" src="https://dhcwusgtjoo43.cloudfront.net/__cache__/file/afasset/pj/e4/e0/e9/33/a15015981108290/accessoire-cabine.png%5B600_300xoxar%5D.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="grid">
                <div class="grid-col col-12">
                    <h3 class="context-h2">Equipaje facturado</h3>
                    <p>No debe exceder un peso maximo de 20 Kg. para personas adultas y 10 Kg. para menores de 2 hasta 12 años.</p>                    
                </div>
            </div>
            <div class="grid">
                <div class="grid-col col-12">
                    <h2 class="context-h1">Elementos Prohibidos</h2>
                    <p>Todo el equipaje que se transporta tanto en la bodega como en la cabina del avión es revisado en cada aeropuerto para la seguridad de todos los pasajeros.</p>
                    <h4 class="context-h3">Wet Cell batteries (Spillable)</h4>
                    <p>Está absolutamente prohibido el transporte de mercancías peligrosas tanto en la bodega como en la cabina del avión, ya que son artículos que pueden poner en riesgo la salud, la seguridad, la propiedad o el medio ambiente. Si no declaras estos artículos, atentas contra las regulaciones de la aviación civil.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
