{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid grid-center">
        <div class="grid-col col-12 col-md-6">
            {# <h2 class="title-h1">Iniciar sesión</h2> #}
            {% set socialmedias = socialmediasLogin %}
            {% set authForm = loginForm %}
            {% include "partials/components/_shared/forms/_auth-form.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
