{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-wrap">
    {# DESTINATIONS GUIDE #}
    <div class="grid">
        <div class="grid-col col-12">
            <h1 class="context-h1">
                Nuestros destinos
            </h1>
            <p class="intro">¿Quieres seguir viajando y no sabes dónde ir?. Haz clic en cada destino y descubre los panoramas y ofertas al mejor precio que no te puedes perder.</p>
        </div>
    </div>
    <ibe-destination-guide>
        <div class="destination-guides">
            {% set destinations = [
                {
                    destinationGuide: true,
                    city: "Arica",
                    url: '#',
                    img: 'arica'
                },
                {
                    destinationGuide: true,
                    city: "Iquique",
                    url: '#',
                    img: 'iquique'
                },
                {
                    destinationGuide: true,
                    city: "Calama",
                    url: '#',
                    img: 'calama'
                },
                {
                    destinationGuide: true,
                    city: "Antofagasta",
                    url: '#',
                    img: 'antofagasta'
                },
                {
                    destinationGuide: true,
                    city: "Copiapó",
                    url: '#',
                    img: 'copiapo'
                },
                {
                    destinationGuide: true,
                    city: "La serena",
                    url: '#',
                    img: 'laserena'
                },
                {
                    destinationGuide: true,
                    city: "Santiago",
                    url: '#',
                    img: 'santiago'
                },
                {
                    destinationGuide: true,
                    city: "Concepción",
                    url: '#',
                    img: 'concepcion'
                }
            ] %}
            <div class="grid">
                {% for destinationsOffer in destinations %}
                    <div class="grid-col col-12 col-xs-6 col-sm-6 col-md-6 col-lg-3">
                        {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </ibe-destination-guide> 
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
