{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid grid-center">
        <div class="grid-col col-12 col-lg-7">
            <h1 class="context-h1">Contáctanos!</h1>
            <br>

            {% set formElements = {
                formGroups: [
                    {
                        
                        elements: [
                            {
                                elementsGroup: [
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Nombre completo *',
                                            type: "text"
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'RUT/DNI/Pasaporte *',
                                            type: "text"
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Teléfono *',
                                            type: "text"
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'E-mail *',
                                            type: "text"
                                        }
                                    },
                                    
                                    {
                                        type: "checkbox",
                                        element: {
                                            label: "Felicitaciones y sugerencias",
                                            id: "radio1",
                                            name: "radiogroup",
                                            radio: true
                                        }
                                    },
                                    {
                                        type: "checkbox",
                                        element: {
                                            label: "Reclamos",
                                            id: "radio2",
                                            name: "radiogroup",
                                            radio: true
                                        }
                                    },
                                    {
                                        type: "checkbox",
                                        element: {
                                            label: "Solicitudes",
                                            id: "radio3",
                                            name: "radiogroup",
                                            radio: true
                                        }
                                    },
                                    {
                                        type: "checkbox",
                                        element: {
                                            label: "Empresas y Mercado Público",
                                            id: "radio4",
                                            name: "radiogroup",
                                            radio: true
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            fullrow: true,
                                            label: 'Mensaje *',
                                            type: "textarea",
                                            maxLength: 100,
                                            rows: 2,
                                            cols: 50,
                                            id: "msgTextarea"
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            } %}
            <div class="contact-form">
                {% include "partials/components/_shared/forms/_create_form.njk" %}
            </div>
            <div class="ui-form_buttons">
                <button type="button" class="button btn-action">Enviar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
