{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "home-page" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav',
    showAlertFlag: false
} %}
{% set hasAlerts = false %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid grid-noBottom">
        <div class="grid-col col-12 col-lg-last">
            {# MAIN FULL BANNER #}
            {% set banner = {
                showPagination: false,
                items: [
                    {
                        bg: 'banner1',
                        title: '',
                        subtitle: '',
                        price: {
                            label: '',
                            value: ''
                        },
                        button: '',
                        text: '',
                        note: '',
                        buttonIntroCaption: true,
                        isActive: true
                    },
                    {
                        bg: 'banner2',
                        title: '',
                        subtitle: '',
                        price: {
                            label: '',
                            value: ''
                        },
                        button: '',
                        text: '',
                        note: '',
                        buttonIntroCaption: true,
                        isActive: false
                    },
                    {
                        bg: 'banner3',
                        title: '<span style="font-size:1em">Vive la naturaleza</span><br><span style="font-size:2.4em">Punta Arenas</span>',
                        subtitle: 'Sólo hasta el viernes',
                        price: {
                            label: 'vuela desde',
                            value: '15.264'
                        },
                        button: 'Vuela',
                        text: '+ tasas fiscales desde <strong>$ 19,080</strong> final ida y vuelta <strong style="font-size: 1.2em;">$ 71.868</strong></span>',
                        note: '<a href="#">Ver condiciones de promoción</a>',
                        buttonIntroCaption: true,
                        isActive: false
                    }
                ]
            } %}
            {% include "partials/corporative/_main-banner.njk" %}
        </div>
        <div class="grid-col col-12 col-lg-first">
            {# MULTIPANEL #}
            {% include "partials/corporative/_multiple-panel.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap backgroundColor3">
    <div class="grid">
        <div class="grid-col col-12">
            {# DESTINATIONS OFFERS #}
            {% include "partials/corporative/destinations-offers/_destinations-offers.njk" %}
        </div>
    </div>
</div>

{# DEALS / OFFERS #}
<div class="container-fluid backgroundColor1">
    <div class="grid container-wrap">
        <div class="grid-col col-12">
            <h2 class="context-h2 text-center pad-top">{{ mainOffers.title | safe }}</h2>
        </div>
        {% for offer in mainOffers.offers %}
            <div class="{{ mainOffers.gridCols }}">
                {% include "partials/components/_offers_item.njk" %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid backgroundColor2">
    <div class="grid grid-noBottom backgroundColor2">
        <div class="grid-col col-12">
            <div style="padding: 64px 0;text-align: center;color: #fff;">ESPACIO RESERVADO PARA PUBLICIDAD DIGITAL</div>
        </div>
    </div>
</div>
    
{# NEWSLETTER #}
<div class="container-fluid">
    <div class="grid grid-noBottom container-wrap">
        <div class="grid-col col-12">
            {% include "partials/components/_shared/_newsletter.njk" %}
        </div>
    </div>
</div>

{# MODAL LOGIN #}
{% set modal = {
    class: 'modal-login',
    id: "login_modal",
    title: "",
    subtitle: "",
    footer: {},
    content: "",
    form: {},
    components: {
        items: [
            {
                type: 'login',
                path: "partials/components/_shared/forms/_auth-form.njk"
            },
            {
                type: 'register',
                path: "partials/components/_shared/forms/_auth-form.njk"
            }
        ]
    }
} %}

{% include "partials/modals/_main_modal.njk" %}

{# MODAL FORGOT PASSWORD #}
{% set modal = {
    class: 'modal-forgot-password',
    id: "forgot-password-modal",
    title: "",
    subtitle: "",
    footer: {},
    content: "",
    form: {},
    components: {
        items: [
            {
                type: 'forgot-password',
                path: "partials/components/_shared/forms/_auth-form.njk"
            }
        ]
    }
} %}

{% include "partials/modals/_main_modal.njk" %}

{% endblock %}

{% block component_jquery %}{% endblock %}
