{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="title-h1">Sign Up to create account</h2>

            {% set login_form = {
                type: 'sign_up',
                input1Label: 'E-mail',
                typeInput1: 'email',
                typeInput2: 'password',
                isAline: false,
                buttonText: 'Sign up',
                buttonUrl: 'index.html',
                isVertical: false,
                isSocial: true,
                hasTooltips: false,
                hasGetText: true,
                getTextInfoBottom: 'Already a member?',
                getTextLinkBottom: 'Sign in',
                getTextLink: 'CORP-sign_in.html'
            } %}
            {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}

            {% include "partials/components/_shared/forms/_login-form.njk" %}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
