{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 col-lg-8">
            {% set topbar = {
                isTopTitleBar: true,
                title: 'U-fly-Pass'
            } %}
            <h1 class="context-h2">Si no es equipaje, es carga ¡Envíalo por SKY! es fácil y rápido</h1>
            <br>
            {% set labelIcons = {
                items: [
                    {
                        icon: 'mascota2',
                        title: 'Animales',
                        label: 'Ofrecemos transportar tu mascota por carga para que lo lleves a pasear por cualquiera de nuestros destinos',
                        url: "",
                        hasModal: {
                            id: "modalexample_modal1"
                        }
                    },
                    {
                        icon: 'cargo',
                        title: 'Carga general',
                        label: 'Necesitas enviar tu carga y que llegue rápido y seguro. Nosotros podemos transportarla por casi todos nuestros destinos.',
                        url: "",
                        hasModal: {
                            id: "modalexample_modal2"
                        }
                    },
                    {
                        icon: 'equipaje_especial2',
                        title: 'Perecibles',
                        label: 'Para que llegue todo fresco a destino. ¡Envíalo por carga! Es más fácil y rápido.',
                        url: "",
                        hasModal: {
                            id: "modalexample_modal3"
                        }
                    }
                ]
            } %}
            {% include "partials/components/_label-icon.njk" %}
            
            {# MODAL #}
            {% set modal = {
                class: 'main_modal',
                id: "modalexample_modal1",
                title: "<span class='icon icon-mascota2'></span> Animales",
                subtitle: "Requisitos para el Transporte de Mascotas",
                content: '<ul class="context-list-basic">
                    <li>La carga deberá de estar en la bodega de origen mínimo 2,5 horas antes de la salida del vuelo.</li>
                    <li>Al momento de la recepción, nuestro personal medirá, pesará y contará los bultos para determinar los kilos y determinar la tarifa correspondiente.</li>
                    <li>El peso máximos para bultos individuales es de 150 kilos</li>
                    <li>Las medidas máximas de un bulto individual son 1,70 x 1,40 x 1,10 metros.</li>
                    <li>Nuestro personal tiene el derecho de examinar el bulto y los contenidos de todos los embarques para asegurar que la descripción del bulto sea lo declarado en la guía aérea u orden de servicio, no se aceptarán genéricos</li>
                    <li>El embalaje debe de ser la adecuada al tipo de carga para asegurar su resistencia y buena condición durante todas las etapas del trasporte aéreo desde el origen hasta el destino final.</li>
                    <li>El embalaje no puede venir con aristas o elementos punzantes que pudieran herir a personas, otras cargas o dañar la aeronave.</li>
                    <li>El cliente debe de señalar en recepción si el bulto debe de ir con etiqueta de manipulación, ya sea que deba de tener una orientación obligatoria o si la carga es frágil.</li>
                    <li>En el caso de que la carga tenga un destino internacional de habla no española, la información del bulto debe de ser en Ingles y el idioma de origen.</li>
                    <li>Como compañía, no trasportamos armas de fuego de ningún tipo, como tampoco para ningún fin.</li>
                </ul>
                <p><strong>Razas Braquiocefálicas:</strong> Affenpinscher, American Staffordshire Terrier, Boston Terrier, Boxer (todas las razas), Bull Mastiff, Grifón de Bruselas, Bulldog (todas las razas), Chow Chow, Cane Corso, Dogo de Burdeos, English Straffordshire Bull Terrier, English Toy Spaniel, Japanese Chin, Lhasa Apso, Mastín (todas las razas), Pekinés, Pit Bull, Presa Canario, Pug (todas las razas), Shar Pei, Shih Tzu, Spaniel, tibetano.<br>
                    &nbsp;</p>
                    <p><strong>Gatos:</strong> Burmese, Himalayo, Persa, Exotic Shorthair.<br>
                &nbsp;</p>
                <p><strong>Razas consideradas Peligrosas</strong><u>:</u> Terrier Pitbull Americano, Terrier Staffordshire Americano, Staffordshire Bull Terrier, Bull Terrier, Bulldog Americano, Fila Brasilero, Karabash, Mastín, Mastín Napolitano, Boxer, Rottweiler, Pitbull terrier, Tosa Inu Japonés, Rottweiller, Mastin Inglés, Presa Canario, Dogo de Burdeos, Akita Inu, Bull Mastiff, Dogo Argentino.</p>'
            } %}
            {% include "partials/modals/_main_modal.njk" %}

            {# MODAL #}
            {% set modal = {
                class: 'main_modal',
                id: "modalexample_modal2",
                title: "<span class='icon icon-cargo'></span> Carga general",
                subtitle: "Requisitos para el Traslado de Carga General.",
                content: '<ul class="context-list-basic">
                        <li>La carga deberá de estar en la bodega de origen mínimo 2,5 horas antes de la salida del vuelo.</li>
                        <li>Al momento de la recepción, nuestro personal medirá, pesará y contará los bultos para determinar los kilos y determinar la tarifa correspondiente.</li>
                        <li>El peso máximos para bultos individuales es de 150 kilos</li>
                        <li>Las medidas máximas de un bulto individual son 1,70 x 1,40 x 1,10 metros.</li>
                        <li>Nuestro personal tiene el derecho de examinar el bulto y los contenidos de todos los embarques para asegurar que la descripción del bulto sea lo declarado en la guía aérea u orden de servicio, no se aceptarán genéricos</li>
                        <li>El embalaje debe de ser la adecuada al tipo de carga para asegurar su resistencia y buena condición durante todas las etapas del trasporte aéreo desde el origen hasta el destino final.</li>
                        <li>El embalaje no puede venir con aristas o elementos punzantes que pudieran herir a personas, otras cargas o dañar la aeronave.</li>
                        <li>El cliente debe de señalar en recepción si el bulto debe de ir con etiqueta de manipulación, ya sea que deba de tener una orientación obligatoria o si la carga es frágil.</li>
                        <li>En el caso de que la carga tenga un destino internacional de habla no española, la información del bulto debe de ser en Ingles y el idioma de origen.</li>
                        <li>Como compañía, no trasportamos armas de fuego de ningún tipo, como tampoco para ningún fin.</li>
                    </ul>
                    <p>&nbsp;En caso de mayor dudas, se puede contactar con el equipo de carga al teléfono (+56 2) 2663 3562 o email <a href="mailto:reservacargasky@skyairline.com">reservacargasky@skyairline.com</a>.</p>'
            } %}
            {% include "partials/modals/_main_modal.njk" %}

            {# MODAL #}
            {% set modal = {
                class: 'main_modal',
                id: "modalexample_modal3",
                title: "<span class='icon icon-equipaje_especial2'></span>Perecibles",
                subtitle: "Requisitos para el Traslado de Carga Perecible",
                content: '<ul class="context-list-basic">
                        <li>Se entiende como carga perecedera aquella que no se mantiene dentro de ciertas condiciones pierde sus propiedades inherentes o la calidad esencial de sus componentes. Esta carga puede ser aquella que genera gran cantidad de líquidos, productos hortícolas, productos de origen animal o separadores moldeados térmicamente.</li>
                        <li>La carga debe de llegar en embalajes cerrados y resistentes, asegurando que no se produzcan filtraciones o derrames de líquidos que puedan dañar el avión, otras cargas, o el equipaje de los pasajeros.</li>
                        <li>El embalaje debe de ser apto para no permitir la emisión de olores que puedan ocasionar incomodidad a los pasajeros del vuelo.</li>
                        <li>El embalaje de productos hortícolas debe de ser lo sufrientemente resistente para soportar apilamiento.</li>
                        <li>El personal de carga tiene el derecho de realizar una revisión física de los bultos para asegurar que se cumplan las normas necesarias para el trasporte.</li>
                        <li>Todos los bultos deben de ser etiquetados como" <strong>Perecederos</strong>" y si es necesario adicionar la etiqueta de orientación del bulto o hielo seco. Sky tiene la opción de comprar las etiquetas oficiales.</li>
                        <li>Las cajas de plantas o flores deben de venir con aberturas para la ventilación y no deben de venir sobrecargadas para que circule el aire.</li>
                        <li>Las cajas de frutas o verduras no deben de tener evidencia de golpes o quebraduras y/o con signos de filtración de líquidos desde el interior.</li>
                        <li>Se aceptar el pago de la carga en destino, solo si existe previo acuerdo con el área comercial de Sky Carga.</li>
                    </ul><p>En caso de mayor dudas, se puede contactar con ele quipo de carga al teléfono +&nbsp; 56 2 2663 3562 o mail <a href="mailto:reservacargasky@skyairline.com">reservacargasky@skyairline.com</a>.</p>'
            } %}
            {% include "partials/modals/_main_modal.njk" %}
              
            {% set linksGroup = {
                items: [
                    {
                        icon: 'documento_legal',
                        title: 'Oficinas',
                        url: "",
                        hasModal: {
                            id: "links_group_modal1"
                        }
                    },
                    {
                        icon: 'documento_legal',
                        title: 'Contacto',
                        url: "",
                        hasModal: {
                            id: "links_group_modal2"
                        }
                    }
                ]
            } %}
            {% include "partials/components/_links-group.njk" %}
     
            {# MODAL #}
            {% set modal = {
                class: 'main_modal',
                id: "links_group_modal1",
                title: "<span class='icon icon-documento_legal'></span>Oficinas",
                subtitle: "",
                content: '',
                components: {
                    items: [
                        {
                            type: "table",
                            title: "<h2 class='context-h3'>Destinos Sky Carga</h2>",
                            path: "partials/ui-elements/_table-responsive.njk",
                            data: {
                                align: 'left',
                                thead: {
                                    ths: [
                                        { title: 'Nacionales' },
                                        { title: 'Internacionales' }
                                    ]
                                }
                                ,
                                tbody: [
                                    {
                                        tds: [
                                            { title: '<p class="control-label">• Arica (ARI)</p>
                                                    <p>• Iquique (IQQ)</p>
                                                    <p>• Antofagasta (ANF)</p>
                                                    <p>• Calama (CJC)</p>
                                                    <p>• Puerto Montt (PMC)</p>
                                                    <p>• Balmaceda (BBA)</p>
                                                    <p>• Punta Arenas (PUQ)</p>', align: 'center' },
                                            { title: '<p>• Buenos Aires - Argentina&nbsp;(EZE)</p><p>• Lima&nbsp; – Perú (LIM)</p>', align: 'center' }
                                        ]
                                    }
                                ]
                            }

                        },
                        {
                            type: "table",
                            title: "<h2 class='context-h3'>Santiago Sky Carga</h2>",
                            path: "partials/ui-elements/_table-responsive.njk",
                            data: {
                                align: 'left',
                                thead: {},
                                tbody: [
                                    {
                                        tds: [
                                            { title: '<p>Fonos:&nbsp;<strong>(56) 22663 3560&nbsp;</strong>/&nbsp;<strong>(56) 22663 3561&nbsp;</strong><br>
                                                    <strong>(56) 22663 3562&nbsp;</strong>/<strong>&nbsp;(56) 22663 3563</strong></p>'
                                            },
                                            { title: '<p>E-mail: <a href="mailto:reservacargasky@skyairline.com"> reservacargasky@skyairline.com </a></p>' 
                                            }
                                        ]
                                    }
                                ]
                            }

                        },
                        {
                            type: "table",
                            title: "<h2 class='context-h3'>Bodegas Sky Carga</h2>",
                            path: "partials/ui-elements/_table-responsive.njk",
                            data: {
                                align: 'left',
                                thead: {
                                    ths: [
                                        { title: 'Nacionales' },
                                        { title: 'Internacionales' }
                                    ]
                                }
                                ,
                                tbody: [
                                    {
                                        tds: [
                                            { title: '<p><a href="mailto:FKNAC@SKYAIRLINE.CL">fknac@skyairline.cl </a><br>
                                                    Capitan Manuel Avalos Prado # 1860, Bodega A<br>
                                                    Terminal de carga Nacional<br>
                                                    Fono:<strong>&nbsp;(56) 22663 3574</strong></p>'
                                            },
                                            { title: '<p><a href="mailto:FKINTER@SKYAIRLINE.CL">fkinter@skyairline.cl </a><br>
                                                    Capitan Manuel Avalos Prado # 1860, Bodega A<br>
                                                    Terminal de carga Nacional<br>
                                                    Fono:<strong>&nbsp;(56) 22663 3575</strong></p>' 
                                            }
                                        ]
                                    }
                                ]
                            }

                        },
                        {
                            type: "table",
                            title: "<h2 class='context-h3'>Oficinas Sky Carga</h2>",
                            path: "partials/ui-elements/_table-responsive.njk",
                            data: {
                                align: 'left',
                                thead: {
                                    ths: [
                                        { title: 'Nacionales' },
                                        { title: 'Internacional' }
                                    ]
                                }
                                ,
                                tbody: [
                                    {
                                        tds: [
                                            { title: '<p><b>Arica</b></p>
                                                    <p>E-mail: <a href="mailto:mario.aguirre@skyairline.com"> mario.aguirre@skyairline.com </a><br>
                                                    Tel. :Tel. : <strong>(56-58) 2290 075</strong><br>
                                                    Cel. : <strong>(56-9) 8188 1057 </strong></p>

                                                    <p><b>Iquique</b></p>

                                                    <p>E-mail: <a href="mailto:jose.quezada@skyairline.com"> jose.quezada@skyairline.com </a><br>
                                                    Tel.: Tel.: <strong>(56-57) 241 8308</strong><br>
                                                    Cel.: <strong>(56-9) 5627 0363</strong></p>

                                                    <p><b>Antofagasta</b></p>

                                                    <p>Cel.:<strong> (56-9) 6431 7840</strong><br>
                                                    E-mail: <a href="mailto:ronald.navarrete@skyairline.com"> ronald.navarrete@skyairline.com </a></p>
                                                    &nbsp;

                                                    <p><b>Calama</b></p>

                                                    <p>E-mail: <a href="mailto:alexis.rivera@skyairline.com"> alexis.rivera@skyairline.com </a></p>
                                                    &nbsp;

                                                    <p><b>Puerto Montt</b></p>

                                                    <p>E-mail: <a href="mailto:rigoberto.ojeda@skyairline.com"> rigoberto.ojeda@skyairline.com </a><br>
                                                    Cel.: <strong>(56-9) 5627 0364</strong><br>
                                                    Tel.: <strong>(56-65) 264 648</strong></p>
                                                    &nbsp;

                                                    <p><b>Balmaceda</b></p>

                                                    <p>E-mail: <a href="mailto:cristian.ojeda@skyairline.com"> cristian.ojeda@skyairline.com </a><br>
                                                    Tel.: Tel.: <strong>(56-67) 272 175</strong><br>
                                                    Cel.: <strong>(56-9) 5627 0362</strong></p>

                                                    <p><b>Punta Arenas</b></p>

                                                    <p>E-mail: <a href="mailto:fabian.buchhorst@skyairline.com"> fabian.buchhorst@skyairline.com </a><br>
                                                    <!-- Cel.: (56-9) 6284 7267 --> Cel.: <strong>(56-9) 8188 1183</strong></p>'
                                            },
                                            { title: '<p><b>Buenos Aires</b></p>
                                                    <p>Internacional Fleyts S.R.L.<br>
                                                    Agente General de Cargas Sky Airline<br>
                                                    Av. Belgrano 427 2º Piso - of. "12"<br>
                                                    C1092AAE - Cdad. Aut. de Buenos Aires - Argentina<br>
                                                    Tel/fax: <strong>(54-11) 4345 6186/87 </strong>/<strong> (54-11) 4331 9730</strong><br>
                                                    E-mail: <a href="mailto:comercial@internacionalfleyt.com"> comercial@internacionalfleyt.com </a><br>
                                                    <a href="http://www.internacionalfleyt.com/" target="_blank">www.internacionalfleyt.com </a></p>
                                                    &nbsp;

                                                    <p><b>Lima - Perú</b></p>

                                                    <p>Aviation Ramp Service Peru S.A.C.<br>
                                                    Tel:<strong> (51-1) 651 1563</strong><br>
                                                    Tel/fax:<strong> (51-1) 651 1564</strong><br>
                                                   <a href="mailto:dmorales@aviationserviceperu.com"> dmorales@aviationserviceperu.com </a><br>
                                                    <a href="mailto:amorales@aviationserviceperu.com">amorales@aviationserviceperu.com </a></p>' 
                                            }
                                        ]
                                    }
                                ]
                            }

                        }
                    ]
                }
            } %}
            {% include "partials/modals/_main_modal.njk" %}

            {# MODAL #}
            {% set modal = {
                class: 'main_modal',
                id: "links_group_modal2",
                title: "<span class='icon icon-documento_legal'></span>Contacto",
                subtitle: "",
                content: '<p> En caso de mayor dudas, te puedes contactar con el equipo de carga llamando al (+56 2) 2663 3560 /&nbsp; 3561 / 3563&nbsp; o al siguiente email <a href="mailto:reservacargasky@skyairline.com">reservacargasky@skyairline.com</a></p>'
            } %}
            {% include "partials/modals/_main_modal.njk" %}
        </div>
        <!-- LOGIN FORM -->
        <div class="grid-col col-12 col-lg-4">
            
            {# <p class="title-h4 text-primary">Buscar su carga aqui</p> #}
            {% set authForm = {
                formTypeClass: "login-form",
                isVertical: true,
                buttonText: 'Buscar',
                isSocial: false,
                hasGetText: false,
                formHead: {
                    title: "Buscar su carga aqui",
                    list: {},
                    text: ""
                },
                data: {
                    formGroups: [
                        {
                            elements: [
                                {
                                    elementsGroup: [
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Prefijo de la aerolinea',
                                                type: "text"
                                            }
                                        },
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Número AWB',
                                                type: "text"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                } 
            } %}
            {% include "partials/components/_shared/forms/_auth-form.njk" %}
            {# {% set login_form = {
                input1Label: 'User ID',
                input2Label: 'Password',
                buttonText: 'Log-in/Set Password',
                buttonUrl: '#',
                isVertical: true,
                hasTooltips: false,
                forgotPassword: true,
                hasGetText: true
            } %}
            {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}
            {% include "partials/components/_shared/forms/_login-form.njk" %} #}
            
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
