{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 col-lg-8">
            {% set topbar = {
                isTopTitleBar: true,
                title: 'U-fly-Pass'
            } %}
            <h1 class="context-h2 text-center">¡Lo que tu empresa necesita lo encuentras aquí!</h1>
            <br>
            {% set labelIcons = {
                items: [
                    {
                        icon: 'satisfaccion',
                        title: 'Lleva un control de tus gastos',
                        label: 'Accede a reportes de todas tus compras.',
                        url: "",
                        hasModal: {}
                    },
                    {
                        icon: 'pasaporte',
                        title: 'Reserva tus pasajes sin costo',
                        label: 'Si aún no estás decidido, puedes reservar gratis y pagar después.',
                        url: "",
                        hasModal: {}
                    },
                    {
                        icon: 'descuento',
                        title: 'Ahorra tiempo y hazlo simple',
                        label: 'Podrás autogestionar todas tus solicitudes (Cambio de Pasajes y Grupos entre otras cosas) sin la necesidad de ejecutivos.',
                        url: "",
                        hasModal: {}
                    }
                ]
            } %}
            {% include "partials/components/_label-icon.njk" %}
        
            {% set linksGroup = {
                items: [
                    {
                        icon: 'dialogo',
                        title: 'CENTRO DE AYUDA',
                        url: "https://www.skyairline.com/chile/servicios/centro-de-ayuda",
                        hasModal: {}
                    },
                    {
                        icon: 'documento_legal',
                        title: 'Contacto',
                        url: "",
                        hasModal: {
                            id: "links_group_modal1"
                        }
                    }
                ]
            } %}
            {% include "partials/components/_links-group.njk" %}

            {# MODAL #}
            {% set modal = {
                class: 'main_modal',
                id: "links_group_modal1",
                title: "Contáctanos",
                subtitle: "Por favor cuentanos como podemos ayudarte",
                footer: {
                    btnAction: "Enviar",
                    btnCancel: ""
                },
                content: '',
                form: {
                    formGroups: [
                        {
                            elements: [
                                {
                                    elementsGroup: [
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Nombre completo:*',
                                                type: "text"
                                            }
                                        },
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Nombre de la Empresa: *',
                                                type: "text"
                                            }
                                        },
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Email: *',
                                                type: "text"
                                            }
                                        },
                                        {
                                            type: 'selectForm',
                                            element: {
                                                label: 'Tipo de Contacto:',
                                                id: 'drop-1',
                                                options: [
                                                    {
                                                        name: 'Reclamo',
                                                        id: 'select1'
                                                    }
                                                ]    
                                            }
                                        },
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Mensaje: *',
                                                type: "textarea"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            } %}
            {% include "partials/modals/_main_modal.njk" %}
        </div>
        <!-- LOGIN FORM -->
        <div class="grid-col col-12 col-lg-4">
            
            {# <p class="title-h4 text-primary">Buscar su carga aqui</p> #}
            {% set authForm = {
                formTypeClass: "login-form",
                isVertical: true,
                buttonText: 'Iniciar sesión',
                isSocial: false,
                hasGetText: true,
                forgotPassword: {
                    title: "Recuperar contraseña",
                    hasModal: {
                        id: "forgot-password-modal"
                    }
                },
                infoButton: {
                    text: "¡Registra tu empresa y comienza a ahorrar!",
                    link: {
                        title: "Registra tu empresa",
                        url: "#"
                    }
                },
                formHead: {
                    title: "Inicia Sesión aquí",
                    list: {},
                    text: ""
                },
                data: {
                    formGroups: [
                        {
                            elements: [
                                {
                                    elementsGroup: [
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Usuario',
                                                type: "text"
                                            }
                                        },
                                        {
                                            type: 'inputForm',
                                            element: {
                                                label: 'Contraseña',
                                                type: "password"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                } 
            } %}
            {% include "partials/components/_shared/forms/_auth-form.njk" %}
            {# {% set login_form = {
                input1Label: 'User ID',
                input2Label: 'Password',
                buttonText: 'Log-in/Set Password',
                buttonUrl: '#',
                isVertical: true,
                hasTooltips: false,
                forgotPassword: true,
                hasGetText: true
            } %}
            {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}
            {% include "partials/components/_shared/forms/_login-form.njk" %} #}
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
