// ****************************************
//  UTILS
//
// ****************************************
//  HELPERS
// ****************************************
//
// imported mixins from globals/
//
// ****************************************

.overlay-in {
	&.search-opened {
		overflow: auto;
	}
}
