// ****************************************
//  UTILS
//
// ****************************************
//  MIXINS
// ****************************************
// imported mixins from globals/
//
// ****************************************

// ++ mobile modal header
@mixin mobile-modal_header (
	$open-class-state: false, // parent class to necesary to open the modal
 ) {
	z-index: 2;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	flex: 0 0 $mobile-modal-header_height;
	padding: 0 3rem 0 $gutter-sides;
	color: $c-secondary;
	text-align: left;
	line-height: 1.1;
	font-weight: 600;
	background-color: $c-primary;
}
// ++ mobile modal close button
@mixin mobile-modal-header_close-button (
	$open-class-state: false, // parent class to optional to open the modal
) {
	@include iconfont($pbicon-cross-circled);
	position: absolute; // to valign middle in retina screens
	top: 50%;
	right: $gutter-sides;
	transform: translateY(-50%);
	cursor: pointer;
	&:before { //## close icon
		@include font-size(28px);
		color: $c-secondary;
		line-height: 1;
	}
}
// ++ mobile modal main container
@mixin mobile-modal_main-container (
	$open-class-state, // parent class necesary to open the modal
	$has-open-state-in-parent-container: false, // open state class is in parent container or is in main (local) element ?
	$bottom-space: $mobile-modal-header_height, // custom bottom space to allow respect bottom navigation item
) {
	z-index: $mobile-modal-zindex;
	position: fixed;
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0 0 $bottom-space;
	background-color: #fff;
	overflow: hidden;
	transition: $mobile-modal_transition;
	@if ($has-open-state-in-parent-container == true) {
		#{$open-class-state} & {
			@include mobile-modal_main-container_open-state();
		}
	} @else {
		&#{$open-class-state} {
			@include mobile-modal_main-container_open-state();
		}
	}
}
// +++ mobile modal main contain open state
@mixin mobile-modal_main-container_open-state {    
	top: 0;
}
@mixin mobile-modal_main-body {
	@include custom-scroll;
}