// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SELECT SEAT
// ****************************************
//
//    + Seat map
//    + Seat map legend
//
// ****************************************

//## sizes based on image proportions
$seatmap-width: 750px;
$seatmap-height: 700px;
$seatmap-height-mobile: 340px;

$seatmap-image: '#{$imgs-path}layout/seatmap_airplane.svg';
$airplane-image-height: 2180px;

.seat-selector {
    margin-top: 34px;
    .segment-selector_list {
        margin-bottom: 0;
    }
}
.seat-selector_content {
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    .segment-selector_flight {
        flex-basis: 100%;
    }
}
$seat-selector_paxs_width: 40%;
.seat-selector_paxs {
    max-width: $seat-selector_paxs_width; 
    flex-grow: 1;
    flex-shrink: 0;  
    padding-right: 15px;
    box-sizing: border-box;
    .seat-selector_flight_button {
        float: right;
        margin-top: 20px;
    }    
}
.seat-selector_seatmap {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: calc(100% - #{$seat-selector_paxs_width}); 
    box-sizing: content-box; 
    text-align: center;
    .seat-selector_flight_button {
        display: none;
        margin: 20px 0;
    }
    .footnote {
        display: none;
    }
}
.seat-selector_seatmap_paxs {
    width: 100%;
}
.seat-selector_flight_button {
    @extend .btn-primary;
}

// + Seat map
// -------
$seatmap-position-top: 95px;
$seatmap-position-left: 324px;
$seats-size: 42px;
$seat-margin: 0 .15vw;
$seats-row-margin: 8px;
.seatmap {
    @include custom-scroll;
    position: relative;
    max-height: $seatmap-height;
    overflow: hidden;
    overflow-y: visible;
    text-align: center;
    background-color: #fff;
    .seat {
        position: relative;
        display: block;
        width: $seats-size;
        height: $seats-size;
        margin: $seat-margin;
        cursor: pointer;
        &.unavailable {
            cursor: default;
            &:focus {
                outline: none;
            }
        }
        &.selected {
            .pax {
                position: absolute;
                left: 18px;
                bottom: 11px;
                @include font-size($f-size-xs);
                display: block;
                color: #fff;
                text-align: center;
                font-weight: 700;
            }
        }
        &.empty {
            cursor: default;
            &::before { display: none; }
            &:focus {
                outline: none;
            }
        }
    }
}
.seat_exit {
    @include iconfont($icon-arrow-double-left,before);
    @include font-size(27px);
    position: relative;
    display: flex;
    width: $seats-size;
    height: $seats-size;
    margin: $seat-margin;
    align-items: center;
    color: $c-secondary;
    &:last-child {
        @include iconfont($icon-arrow-double-right,before);
    }
    &::before {
        position: relative;
        top: 4px;
    }
    @media (max-width: 420px) {
        @include font-size(22px);
        position: absolute;
        left: -14px;
        top: 2px;
        width: 20px;
        margin: 0;
        &:last-of-type {
            left: auto;
            right: -14px;
        }
    }
}
.seats_group {
    .popover {
        .seat_type {
            white-space: nowrap;
        }
    }
}
.seatmap_inner {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 0 20px;
    border: solid $c-primary-dark;
    border-width: 0 3px;
    $wing-width: 110px;
    $wing-height: 338px;
    $wing-position: 113px;
    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        content: '';
        width: $wing-width;
        height: $wing-height;
        background: url('../imgs/layout/airplane-wing.svg') no-repeat;
        background-size: 100% auto;
        background-position: top center;
    }
    &::before {
        left: -#{$wing-position};
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
    &::after {
        right: -#{$wing-position};
    }
}
.seatmap_wrap {
    position: relative;
    margin: auto;
    border: solid $c-primary;
    border-width: 0 3px;
}
.seatmap_list {
    position: relative;
    padding: 1px 7px 20px;
    margin: 0 auto;
    li {
        position: relative;
        width: 100%;
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        &.seats_columns {
            align-items: center;
            margin-top: 14px;
            &:first-of-type {
                margin-bottom: 14px;
            }
        }
    }
}
.seats_row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: -2px 0;
    text-align: center;
    justify-content: center;
    &.last {
        .seat{
            &:before {
                display: none;
            }           
        }        
    }   
    // &.xlarge-row {
    //     margin-top: $seats-row-margin;
    // }
}
.seat_row_number {
    @include font-size($f-size-md);
    padding: 7px 44px 0 44px;
    min-width: 10%;   
    line-height: $seats-size;
    color: $c-primary-dark;
    cursor: default;
}
.seat_letter {
    position: relative;
    display: block;
    width: ($seats-size + 6);
    height: $seats-size;
    @include font-size($f-size-md);
    line-height: $seats-size;
    text-align: center;
    margin: $seat-margin;
    cursor: default;
}

//## seats used in map and legend
.seat {
    position: relative;
    &:before { //## seat default icon
        @include font-size($seats-size);
        content: $icon-seat-border;
        font-family: $f-icons;
        color: $c-primary;
        line-height: 1;
    }
    &.unavailable {
        &::before { //## seat default icon
            content: $icon-seat-cross;
            color: $gray60;
        }
    }
    &.selected {
        @include iconfont($icon-user, after);
        &::before { //## seat default icon
            content: $icon-seat-filled;
            color: $c-primary;
        }
        &::after { //## user icon
            @include font-size($f-size);
            position: absolute;
            bottom: .42em;
            left: .84em;
            color: #fff;
            font-weight: 700;
        }
    }
    &.current {
        &::before { color: $c-primary-dark; }
    }
    // &.upfront {
    //     &::before {
    //         content: $icon-seat-filled;
    //     }
    // }
    &.exit {
        &::before {
            content: $icon-arrow-double-right;
            color: $c-secondary;
        }
    }
    // &.xlarge {
    //     &::before { //## icon seat
    //         content: $icon-error-circle;
    //         color: $c-secondary;
    //     }
    //     &::after { //## XL label
    //         content: 'XL';
    //         position: absolute;
    //         top: 3px;
    //         left: 15px;
    //         color: #fff;
    //         font-weight: 700;
    //         @include font-size(11px);
    //     }
    //     &.selected {
    //         &::before {
    //             content: $icon-error-circle;
    //             color: $c-secondary;
    //         }
    //         &::after { display: none; }
    //     }
    //     &.current {
    //         &::before { color: $c-color3 }
    //     }
    //     &.unavailable {
    //         &::before {
    //             content: $icon-cross-circle;
    //             color: $gray60;
    //         }
    //         &::after { display: none; }
    //     }
    // }
}


// + Seat map legend
// -------
.seatmap_legend {
    padding: 26px;   
    margin-top: 42px;
    border: 1px solid $c-primary;
    border-radius: $border-radius;
    ul {
        @include clearfix;
    }
    li {
        position: relative;
        font-size: 100%;
        margin-bottom: 24px;
        padding-left: 2.2em;
        &:last-child {
            margin-bottom: 0;
        }
        &::before { //## seat icon
            @include font-size($f-size-lg);
            position: absolute;
            left: 0;
            top: -.3em;
        } 
        &.exit::before {
            @include font-size(26px);
            top: -.12em;
        }   
        &.unavailable,
        &.selected {
            .label {
                padding-right: 0;
                margin-right: 0;
                border: none;
            }
            &::after {
                font-size: 70%;
                bottom: .5em;
                left: .75em;
            }
        }
        // &.xlarge {
        //     &::before { top: -4px; }
        //     &::after {
        //         top: 1px;
        //         left: 11px;
        //         @include font-size(10px);
        //     }
        // }
    }
    .title {
        color: $c-primary-dark;       
    }
    .label {
        position: relative;
        display: inline-block;
        padding-right: 8px;
        margin-right: 4px;
    }
    .info-link {
        @include info-link($icon-info-circle,$f-size,none);
        position: relative;
        top: 0;
        color: $c-primary;
        margin-left: auto;
        display: none;
    }
    .footnote {
        margin-top: 20px;
    }
}
.modal {
    .seatmap_legend {
        margin: 0;
        padding: 0;
        border: none;
    }
}


// + Seat details (popover)
// -------
.seat_details {
    //width: 160px;
    color: $c-primary;
    text-align: center;
}
.seat_number {
    display: block;
    font-family: $f-title;
    @include font-size($f-size-md);
    font-weight: 600;
    line-height: 1;
}


// [Responsive]
@media #{$until-mobile-sm} { // <= 480px
    .seatmap_wrap,
    .seatmap_inner {
        border: 0;
        padding: 0;
    }
    .seatmap_inner {
        &::before,
        &::after {
            display: none;
        }
    }
    .seatmap_list {
        padding-right: 0;
        padding-left: 0;
    }
    .seat_row_number, .seat_letter {
        @include font-size($f-size-sm);
    }
}

@media (max-width: 767px) { // <= 768px
    .seatmap {
        max-height: $seatmap-height-mobile;
    }
    .seat-selector_seatmap {
        max-width: 100%;
        margin-left: 0;
    }
    .seat_row_number {
        padding: 7px 25px 0;
    }
    .seat-selector_paxs {
        @include paxselector-reponsive;
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        float: none;
        margin: 0;
        .seat-selector_flight_button {
            display: none;
        }
        .seatmap_legend {
            display: flex;
            align-items: center;
            padding: 10px 0 0 0;
            margin: 0;
            border: none;
            ul {
                display: flex;
                max-width: calc(100% - 42px);
                overflow: hidden;
                overflow-x: auto;
            }
            li {
                display: inline-flex;
                @include font-size($f-size-sm);
                padding-left: 1.7em;
                margin-right: 3vw;
                margin-bottom: 0;
                &:last-child {
                    margin-right: 0;
                }
                &::before { //## seat icon                  
                    @include font-size($f-size-md);
                }
                .label {vertical-align: middle;}
                &.seat {
                    &::before { //## seat icon                  
                        @include font-size(22px);
                        top: -.2em;
                    }
                    &::after {
                        left: .64em;
                    }
                    &.exit::before { //## seat icon                  
                        @include font-size(18px);
                        top: 0;
                    }
                }
                // &.xlarge::after { display: none; }
            }
            //.unavailable,.selected { display: none; }
            .title { white-space: nowrap; }           
            .description { display: none; }
            .price {
                .rp { display: none; }
            }
            .info-link {
                display: inline-block;
            }
            .footnote { display: none; }
        }
    }
    .seat-selector_seatmap {
        flex-basis: 100%;
        width: 100%;
        .seat-selector_flight_button {
            display: inline-block;
        }
        .footnote {
            display: block;
        }
    }
}
@media #{$until-mobile} { // <= 640px
    .seatmap_legend {
        .discount { display: none; }
    }
    .seats_group {
        .popover {
            width: 100px;
            .seat_type {
                white-space: normal;
            }
        }
    }
}
