@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?p5qih6');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?p5qih6#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?p5qih6') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?p5qih6') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?p5qih6##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-single-left {
  &:before {
    content: $icon-arrow-single-left; 
  }
}
.icon-arrow-single-right {
  &:before {
    content: $icon-arrow-single-right; 
  }
}
.icon-arrow-single-down {
  &:before {
    content: $icon-arrow-single-down; 
  }
}
.icon-arrow-single-up {
  &:before {
    content: $icon-arrow-single-up; 
  }
}
.icon-arrow-triangle-left {
  &:before {
    content: $icon-arrow-triangle-left; 
  }
}
.icon-arrow-triangle-right {
  &:before {
    content: $icon-arrow-triangle-right; 
  }
}
.icon-arrow-triangle-down {
  &:before {
    content: $icon-arrow-triangle-down; 
  }
}
.icon-arrow-triangle-up {
  &:before {
    content: $icon-arrow-triangle-up; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-calendar-month {
  &:before {
    content: $icon-calendar-month; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-airplane-right {
  &:before {
    content: $icon-airplane-right; 
  }
}
.icon-airplane-left {
  &:before {
    content: $icon-airplane-left; 
  }
}
.icon-airplane_up {
  &:before {
    content: $icon-airplane_up; 
  }
}
.icon-social-twitter {
  &:before {
    content: $icon-social-twitter; 
  }
}
.icon-social-instagram {
  &:before {
    content: $icon-social-instagram; 
  }
}
.icon-social-facebook {
  &:before {
    content: $icon-social-facebook; 
  }
}
.icon-social-youtube {
  &:before {
    content: $icon-social-youtube; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-error-circle {
  &:before {
    content: $icon-error-circle; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-cross-circle {
  &:before {
    content: $icon-cross-circle; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-seat-border {
  &:before {
    content: $icon-seat-border; 
  }
}
.icon-seat-xl {
  &:before {
    content: $icon-seat-xl; 
  }
}
.icon-seat-filled {
  &:before {
    content: $icon-seat-filled; 
  }
}
.icon-seat-cross {
  &:before {
    content: $icon-seat-cross; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-baggage {
  &:before {
    content: $icon-baggage; 
  }
}
.icon-baggage-cabin {
  &:before {
    content: $icon-baggage-cabin; 
  }
}
.icon-baggage-extra {
  &:before {
    content: $icon-baggage-extra; 
  }
}
.icon-baggage-extra-h {
  &:before {
    content: $icon-baggage-extra-h; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-passenger {
  &:before {
    content: $icon-passenger; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-language {
  &:before {
    content: $icon-language; 
  }
}
.icon-dollar-no {
  &:before {
    content: $icon-dollar-no; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-seat-airplane {
  &:before {
    content: $icon-seat-airplane; 
  }
}
.icon-seat-airplane-window {
  &:before {
    content: $icon-seat-airplane-window; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-fish {
  &:before {
    content: $icon-fish; 
  }
}
.icon-fish-large {
  &:before {
    content: $icon-fish-large; 
  }
}
.icon-golf {
  &:before {
    content: $icon-golf; 
  }
}
.icon-dive {
  &:before {
    content: $icon-dive; 
  }
}
.icon-surf {
  &:before {
    content: $icon-surf; 
  }
}
.icon-wheelchair {
  &:before {
    content: $icon-wheelchair; 
  }
}

