$icomoon-font-family: "jambojet-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-single-left: "\e900";
$icon-arrow-single-right: "\e901";
$icon-arrow-single-down: "\e902";
$icon-arrow-single-up: "\e903";
$icon-arrow-triangle-left: "\e904";
$icon-arrow-triangle-right: "\e905";
$icon-arrow-triangle-down: "\e906";
$icon-arrow-triangle-up: "\e907";
$icon-plus: "\e908";
$icon-minus: "\e909";
$icon-check: "\e90a";
$icon-cross: "\e90b";
$icon-calendar-month: "\e90c";
$icon-calendar: "\e90d";
$icon-airplane-right: "\e90e";
$icon-airplane-left: "\e90f";
$icon-airplane_up: "\e910";
$icon-social-twitter: "\e911";
$icon-social-instagram: "\e912";
$icon-social-facebook: "\e913";
$icon-social-youtube: "\e914";
$icon-alert: "\e915";
$icon-error-circle: "\e916";
$icon-clock: "\e917";
$icon-info-circle: "\e918";
$icon-check-circle: "\e919";
$icon-cross-circle: "\e91a";
$icon-home: "\e91b";
$icon-seat-border: "\e92c";
$icon-seat-xl: "\e92d";
$icon-seat-filled: "\e92e";
$icon-seat-cross: "\e92f";
$icon-cart: "\e91c";
$icon-baggage: "\e91d";
$icon-baggage-cabin: "\e91e";
$icon-baggage-extra: "\e930";
$icon-baggage-extra-h: "\e931";
$icon-user: "\e91f";
$icon-passenger: "\e920";
$icon-edit: "\e921";
$icon-phone: "\e922";
$icon-eye: "\e923";
$icon-language: "\e924";
$icon-dollar-no: "\e925";
$icon-document: "\e926";
$icon-pin: "\e927";
$icon-info: "\e928";
$icon-search: "\e929";
$icon-seat-airplane: "\e92a";
$icon-seat-airplane-window: "\e932";
$icon-printer: "\e92b";
$icon-fish: "\e933";
$icon-fish-large: "\e934";
$icon-golf: "\e935";
$icon-dive: "\e936";
$icon-surf: "\e937";
$icon-wheelchair: "\e938";

