@import '../../variables';
@import '../../../fonts/icons/variables.scss';
@import '../../../../../core/src/assets/sass/util/mixins';
@import '../../../../../core/src/assets/sass/util/functions';

//## month (header)
$calendar-month-fontfamily: $f-body;
$calendar-month-color: $c-primary;
$calendar-month-fontweight: 700;
$calendar-month-uppercase: true;
$calendar-month-fontsize: $f-size-xs;
$calendar-month-margin: 0 0 calculateRem(12px);

//## navigation (arrows)
$calendar-prevnext-size: calculateRem(16px);
$calendar-prevnext-background: $c-primary-light;
$calendar-prev-icon: $pbicon-arrow-left;
$calendar-next-icon: $pbicon-arrow-right;
$calendar-prevnext-color: #fff;
$calendar-prevnext-fontsize: 9px;
//## disabled
$calendar-prevnext-color-disabled: rgba(#56506f, .3);

//## days
$calendar-days-fontsize: $f-size-xss;
$calendar-days-color: $c-primary-dark;
$calendar-days-font-weight: 400;
$calendar-days-margin: calculateRem(4px) 0;
//## availabel days
$calendar-day-available-color: $c-primary;
$calendar-day-available-fontweight: 500;
$calendar-day-available-background: $c-secondary;
//## hover
$calendar-day-available-color-hover: #fff;
$calendar-day-available-background-hover: $c-primary-dark;
//## disabled days
$calendar-days-color-disabled: rgba($calendar-days-color,.4);
//## selected
$calendar-day-selected-color: #fff;
$calendar-day-selected-background: $c-primary-dark;
//## range styles
$calendar-range-background: $c-primary-lighter;

//## current
$calendar-day-current-fontweight: normal;
$calendar-day-current-border-width: 1px;
$calendar-day-current-border-style: none;
$calendar-day-current-border-color: $c-secondary;
$calendar-day-current-background: transparent;

//## weeks
$calendar-week-bar-border-width: 1px 0;
$calendar-week-bar-border-style: none;
$calendar-week-bar-border-color: $c-secondary;
$calendar-week-bar-background: transparent;
$calendar-week-bar-border-radius: none;
$calendar-week-padding: 0 0;
$calendar-week-fontsize: 11px;
$calendar-week-uppercase: true;
$calendar-week-color: $c-primary-light;
$calendar-week-fontweight: 600;
$calendar-week-margin: 0 calculateRem(8px);
