// ****************************************
//  UI ELEMENTS
//
// ****************************************
//  DATEPICKER
// ****************************************

@import 'ng-datepicker-vars';

// IMPORTANT!
// BEFORE ADD CSS HERE USE PROJECT VARIABLES

// BASE STYLES AND VARIABLES AT
//## styles: ui-elements/datepicker/_ng-datepicker-vars.scss
//## variables: ui-elements/datepicker/_ng-datepicker.scss
ibe-datepicker {
    width: 100%;
}
.datepicker {
    // + components header 
    // -------------
    .ngb-dp-navigation-chevron {
        display: flex !important;
        width: $calendar-prevnext-size !important;
        height: $calendar-prevnext-size !important;
        margin: 0 !important;
        background: $calendar-prevnext-background;
        border-radius: 50vh;
        align-items: center;
        justify-content: center;
        &::before {
            @include font-size($calendar-prevnext-fontsize);
            top: auto;
            color: $calendar-prevnext-color;
        }
    }
    .ngb-dp-arrow-btn {
        margin: 0 !important;
    }
    .ngb-dp-header {
        padding: 0 calculateRem(35px)
    }
    
    // + components months 
    // -------------
    .ngb-dp-month-name {
        color: $c-primary-light;
        text-transform: uppercase;
    }
    .ngb-dp-arrow {
        &.left {
            .ngb-dp-navigation-chevron {
                &::before {
                    padding-right: 1px;
                }
            }
        }
        &.right {
            .ngb-dp-navigation-chevron {
                &::before {
                    padding-left: 1px;
                }
            }
        }
    }
    .custom-day {
        &::before {
            top: 0;
            width: calculateRem(27px);
            height: calculateRem(27px);
            transform: translate(-50%,0);
        }
    }
    .ngb-dp-day {
        height: calculateRem(27px) !important;
    }
    .ngb-dp-week {
        .ngb-dp-day {
            &:first-child {
                .custom-day {
                    &.faded {
                        border-radius: 50vh 0 0 50vh;
                    }
                }
            }
            &:last-child {
                .custom-day {
                    &.faded {
                        border-radius: 0 50vh 50vh 0;
                    }
                }
            }
        }
    }
    .ngb-dp-month {
        flex-direction: column;
        margin: 0;
        &:first-child:last-child {
            margin: 0 0;
        }
        &:last-child {
            display: flex;
        }
    }
    .ngb-dp-months {
        margin: -#{calculateRem(30px)} calculateRem(30px) 0;
    }
}
