{% if paxSelector.title | length %}
    <h2 class="pax-selector_title">{{paxSelector.title}}</h2>
{% endif %}
<div class="pax-selector">
    {% for passenger in passengers %}
    {% set counter = ( counter | default(0) ) + 1 %}
    <div class="pax-selector_item">
        <div class="pax-selector_pax {{passenger.seatStatus}}">
            <button class="pax-name{% if passenger.type == 'Infant' %} infant{% endif %}">
                {{ passenger.firstName }} {{ passenger.lastName }}
            </button>
            <div class="pax-seat">
                {% if paxSelector.label | length %}
                    <span class="seat-label">{{paxSelector.label}}:</span>
                {% endif %}
                {% if passenger.seat.length %}
                    <span class="seat-label">{{passenger.seat}}</span>   
                    <button class="pax-seat_reset">
                        <span class="hide-visually">reset seat selection</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if paxSelector.nextButton | length %}
    <button type="button" class="seat-selector_flight_button button">{{paxSelector.nextButton}}</button>
    {% endif %}
</div>
