{% if paxSelector.title | length %}
    <h2 class="pax-selector_title">{{paxSelector.title}}</h2>
{% endif %}

{% if segmentSelector.alertText | length %}
<div class="service_segment_alert">
    {{segmentSelector.alertText}}
</div>
{% endif %}

{% for route in segmentSelector.flights %}
<div class="pax-selector_wrap">
    {# ALERT #}
    <div class="pax-selector_head">
        <div class="pax-selector_head_label">
            <h3 class="title">Pasajero</h3>
        </div>
        <div class="pax-selector_head_label">
            <span class="from">{{ route.fromCity }}</span>
            <span class="icon"><span class="hide-visually">to</span></span>
            <span class="to">{{ route.toCity }}</span>
        </div>
    </div>
    {% for passenger in passengers %}
    <div class="pax-selector_item{%if passenger.seatStatus | length %} {{passenger.seatStatus}}{% endif %}">
        <div class="pax-name">
            {{ passenger.firstName }} {{ passenger.lastName }}
        </div>
        <div class="pax-seat">
            {% if paxSelector.label | length %}
                <span class="seat-label">{{paxSelector.label}}</span>
            {% endif %}
            <span class="seat-number">{{passenger.seat}}</span>
            {% if passenger.seat | length %}
                <button class="pax-seat_reset" title="reset seat selection"></button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

