// ********************
//  IBE COMPONENT
// ********************
//  BOOKING RETRIEVE
// ********************
//
//  + Booking retrieve login
//  + Booking retrieve results
//
// ********************

// + Booking retrieve login
// ----------
.booking-retrieve {
	@include container-wrap;
	// margin-top: 8px;
	// padding: 0 $form-horizontal-gutter-desktop/2;
	.ui-input-container {
		.ui-label {
			@include font-size($f-size);
			color: $c-color2;
		}
		&.has-value, 
		&.is-focused {
			&:hover {
				.ui-label {
					color: rgba($c-color2 , .8);
				}
			}
			.ui-label {
				@include font-size($f-size-sm);
			}
			.ui-input {
				color: #fff;
			}
			.ui-input_wrap {
				border-bottom: 1px solid #fff;
			}
		}
	}
	.ui-form_group_wrap {
		@extend .ui-form_input-button;
		.ui-form_group {
			margin-bottom: 30px;
		}
		.ui-form_input-buttons {
			margin-bottom: 22px;
		}
	}
	.ui-form_button-action {
		@extend .btn-primary;
	}
}
@media #{$tablet-landscape} { // >=992px
	.booking-retrieve {
		.auth-form_form {
			max-width: 68%;
		}
		.ui-form_group_wrap {
			.ui-form_group {
				&:first-child {
					max-width: calculateRem(280px);
				}
			}
		}
	}
}
