// ********************
//  COMPONENTS
//
// ********************
//  AUTH MENU
// ********************

// variables
// -------

// .auth-menu {}
.auth-menu_trigger {
    line-height: 0;
}
.auth-menu_trigger_button {
    @extend %main-header-nav-secondary-item-link-trigger;
    @include iconfont($icon-user);
}