<header class="header">
    <div class="header_container">
        <h1 class="header_logo">
            <a href="index.html" class="logo"><img src="{{ project_assets_path }}imgs/logo.svg" alt="" /></a>
        </h1>

        {% if header.bookingSteps.show %}
            <div class="header_booking-steps">
                {% include "partials/components/IBE/_booking-steps.njk" %}
            </div>
        {% endif %}

        {% if layout.header == 'hasNav' %}
            {% if header.nav.itemsAlign %}
            <div class="header_left">
                <nav class="header_nav">
                    <ul>
                        {% for item in header.nav.items %}
                            <li class="nav_item">
                                <a class="nav_item_link" href="#">
                                    {{ item.caption }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        {% endif %}

        {% if header.headerRight.show | default(true) %}
        <top-menu>
            <div class="header_right">
                <nav class="header_links">
                    <ul>
                        {# if layout is agency or u-fly #}
                        {% if header.headerRight.layout | length and header.headerRight.layout.show %}
                            {% set layoutHeader = header.headerRight.layout %}
                            {% if layoutHeader.agency.title == layout %}
                                {% set layoutCurrent = layoutHeader.agency %}
                            {% elif layoutHeader.uFly.title == layout %}
                                {% set layoutCurrent = layoutHeader.uFly %}
                            {% endif %}
                            {% for item in layoutCurrent.items %}
                                <li class="header_links_item{% if item.class | length %} {{ item.class }}{% endif %}">
                                    {% if item.dropdownPopover | length %}
                                        <div class="ui-dropdown">
                                            <button class="header_link"
                                                aria-haspopup="listbox"
                                                aria-expanded="false"
                                                aria-controls="collapseUserAgentAccount">
                                                {{ item.title }}
                                            </button>
                                            {% set ddPopover = item.dropdownPopover.ddPopover %}
                                            {% set ddPopoverList = item.dropdownPopover.ddPopoverList %}
                                            {% include "partials/components/_shared/_dropdown-popover.njk" %}
                                        </div>
                                    {% else %}
                                        <a href="{{ item.url}}">{{ item.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        {% endif %}

                        {% for item in header.headerRight.items %}
                            <li class="header_links_item{% if item.modifier | length %} {{ item.modifier }}{% endif %}
                                {% if item.dataType == 'languages' %} link-language
                                {% elif item.dataType == 'currency' %} link-currency
                                {% elif item.dataType == 'user' %} link-user{% endif %}">
                                {% if item.dataType == "user" and showUserAccount and not isLogout %}
                                    {% set dropdownList = item.dropdownList %}
                                {% elif item.dataType == 'languages' %}
                                    {% set dropdownList = languageBar %}
                                {% elif item.dataType == 'currency' %}
                                    {% set dropdownList = currencyBar %}
                                {% else %}
                                    {% set dropdownList = item.dropdownList %}
                                {% endif %}

                                {# print angular UI componentes selector - open tags #}
                                {% if item.dataType == 'languages' %}
                                <ibe-selector-language>
                                {% elif item.dataType == 'currency' %}
                                <ibe-currency-selector>
                                {% endif %}
                                
                                {% if dropdownList | length %}
                                    <div class="ui-dropdown">
                                        <button class="header_link"
                                            aria-haspopup="listbox"
                                            aria-expanded="false"
                                            aria-controls="{{ dropdownList.id }}">
                                            <span class="header_link_label">{{ dropdownList.label }}</span>
                                            <span class="header_link_label_text">
                                                {% if layout == 'checkin' %}
                                                    Login
                                                {% else %}
                                                    {{ dropdownList.selectedText }}
                                                {% endif %}
                                            </span>
                                        </button>
                                        <ul class="ui-dropdown_list"
                                            role="listbox"
                                            tabindex="-1"
                                            aria-hidden="true"
                                            id="{{ dropdownList.id }}">
                                            {% for link in dropdownList.items %}
                                                <li role="option"><a href="{{ link.url}}">{{ link.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="{{ item.url}}">{{ item.title }}</a>
                                {% endif %}

                                {# print angular UI componentes selector - close tags #}
                                {% if item.dataType == 'languages' %}
                                </ibe-selector-language>
                                {% elif item.dataType == 'currency' %}
                                </ibe-currency-selector>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </top-menu>
        {% endif %}

        {% if header.auth.show %}
            <div class="header_auth">
                <a class="header_auth_link"{% if header.auth.url.length %} href="{{ header.auth.url}}"{% else %} role="button"{% endif %}>
                    {% if header.auth.label.length %}
                        <span class="header_auth_label">{{ header.auth.label }}</span>
                    {% endif %}
                    {% if header.auth.label.length %}
                        <span class="header_auth_text">{{ header.auth.text }}</span>
                    {% endif %}
                </a>
            </div>
        {% endif %}

        {% if header.summary.show  %}
            <div class="header_summary">
                {% include "partials/components/IBE/summary/_summary.njk" %}
            </div>
        {% endif %}
    </div>
</header>
