
<div class="main-header_nav"
    {% if mainHeader.navToggle %} 
        aria-expanded="false"
        id="{{ mainHeader.navToggle.id }}"
    {% endif %}>

    {# primary #}
    {% if mainHeader.navPrimary.show | default(true) %}
        <nav class="main-header_nav-primary" aria-label="Main menu">
            <ul>
                {# call center #}
                {# {% if mainHeader.callCenter %}
                    <li class="nav_item">
                        {% set callCenter = mainHeader.callCenter %}
                        {% include "partials/components/_call-center.njk" %}
                    </li>
                {% endif %} #}

                {% for mainMenuItem in mainHeader.navPrimary %}
                    <li class="nav_item">
                        <{% if mainMenuItem.submenus | length > 0 or 
                                mainMenuItem.subnavDesc %}button aria-expanded="false" {% else %}a {% endif %}class="nav_item_link">
                            <span class="nav_item_link_caption">{{ mainMenuItem.text }}</span>
                        </{% if mainMenuItem.submenus | length > 0 or 
                                mainMenuItem.subnavDesc %}button {% else %}a {% endif %}>
                        {% if mainMenuItem.submenus | length > 0 or mainMenuItem.subnavDesc %}
                            {% include "partials/layout/header/_main-header_subnav.njk" %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

    {# secondary #}
    {% if mainHeader.navSecondary.show | default(true) %}
        <header-secondary-nav>
            <nav class="main-header_nav-secondary" aria-label="Settings menu">
                <ul>
                    {# call center #}
                    {% for item in mainHeader.navSecondary.links %}
                        <li class="nav_item{% if item.class %} {{item.class}}{% endif %}
                            {% if item.dataType == 'languages' %} link-language
                            {% elif item.dataType.type == 'currency' %} link-currency
                            {% elif item.dataType.type == 'user' %} link-user{% endif %}">
                            {% if item.dataType == 'websearch' %}
                                {% include "partials/components/_web-search.njk" %}
                            {% elif item.dataType == 'authentication' %}
                                <ibe-auth-menu>
                                    <div class="auth-menu">
                                        {% if item.style == 'link' %}
                                            {% if item.url %}
                                                <div class="auth-menu_trigger">
                                                    <a class="auth-menu_trigger_button" href="{{ item.url }}"></a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </ibe-auth-menu>
                            {% elif item.dataType == "call-center" %}
                                {% set callCenter = item.component %}
                                {% include "partials/components/_call-center.njk" %}
                            {% else %}
                                {% if item.dataType == 'languages' %}
                                    <ibe-selector-language>
                                {% elif item.dataType.type == 'currency' %}
                                    <ibe-currency-selector>
                                {% endif %}
                                    {% if item.dropdownList | length > 0 %}
                                        <div class="ui-dropdown">
                                            <button class="nav_item_link"
                                                aria-haspopup="listbox"
                                                aria-expanded="false"
                                                aria-controls="collapse{{ loop.index }}">
                                                {% if item.linkIcon | length %}
                                                    <span class="icon icon-{{ item.linkIcon }}"></span>
                                                {% elif item.dropdownList[0].image | length %}
                                                    <img src="{{ project_assets_path }}imgs/flags/{{ item.dropdownList[0].image }}" 
                                                        alt="country" 
                                                        class="nav_item_link_bg">
                                                {% endif %}
                                                
                                                {# label #}
                                                {% if item.label %}
                                                    <span class="nav_item_link_text">{{ item.label }}</span>
                                                {% endif %}
                                            </button>
                                            <ul class="ui-dropdown_list"
                                                role="listbox"
                                                tabindex="-1"
                                                aria-hidden="true"
                                                id="collapse{{ loop.index }}">
                                                {% for list in item.dropdownList %}
                                                    <li role="option"{% if list.status %} class="active"{% endif %}>
                                                        <a href="{{ list.url}}">
                                                            {% if list.image | length %}
                                                                <img src="{{ project_assets_path }}imgs/flags/{{ list.image }}" 
                                                                    alt="country" 
                                                                    class="ui-dropdown_list_item_icon">
                                                            {% endif %}
                                                            {{ list.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        {# validate link #}
                                        <{% if item.url | length or item.hasModal | length %}a{% if item.hasModal | length %} data-toggle="modal" data-target="#{{item.hasModal.id}}"{% else %} href="{{ item.url}}"{% endif %}{% else %}button{% endif %} class="nav_item_link">
                                            {% if item.linkIcon | length %}
                                                <span class="icon icon-{{ item.linkIcon }}"></span>
                                            {% endif %}

                                            {# label #}
                                            {% if item.label %}
                                                <span class="nav_item_link_title_label">{{ item.label }}</span>
                                            {% endif %}
                                            {% if item.text %}
                                                <span class="nav_item_link_text">{{ item.text }}</span>
                                            {% endif %}

                                            {# tooltip #}
                                            {% if item.tooltip %}
                                                <div class="nav_item_tooltip">
                                                    {{ item.tooltip.content }}
                                                </div>
                                            {% endif %}
                                        </{% if item.url | length or item.hasModal | length %}a{% else %}button{% endif %}>
                                        {# if you have a component #}
                                        {% if item.components | length %}
                                            {% set mainMenuItem = item %}
                                            {% include "partials/layout/header/_main-header_subnav.njk" %}
                                        {% endif %}
                                    {% endif %}
                                {% if item.dataType == 'languages' %}
                                    </ibe-selector-language>
                                {% elif item.dataType == 'currency' %}
                                    </ibe-currency-selector>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header-secondary-nav>
    {% endif %}
    {# tertiary #}
    {% if mainHeader.navtertiary.show | default(false) %}
        <nav class="main-header_nav-tertiary"
            {% if mainHeader.navtertiary.ariaLabel %} 
                aria-label="{{ mainHeader.navtertiary.ariaLabel }}"
            {% endif %}>
            <ul>
                {% for link in mainHeader.navtertiary.links %}
                    <li class="nav_item{% if link.active %} active{% endif %}">
                        <a href="{{ link.url}}" class="nav_item_link">{{ link.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    {# shortcut #}
    {% if mainHeader.navShortcut.show | default(false) %}
        {% set shortcut = mainHeader.navShortcut %}
        <nav class="main-header_nav-shortcut"
            {% if mainHeader.navtertiary.ariaLabel %} 
                aria-label="{{ shortcut.ariaLabel }}"
            {% endif %}>
            <ul>
                {% for link in shortcut.links %}
                    <li class="nav_item">
                        <{% if link.url | length or link.hasModal | length %}a{% if link.hasModal | length %} data-toggle="modal" data-target="#{{link.hasModal.id}}"{% else %} href="{{ link.url}}"{% endif %}{% else %}button{% endif %} class="nav_item_link">
                            <span class="icon icon-{{ link.icon }}"></span> {{ link.text }}
                        </{% if link.url | length or link.hasModal | length %}a{% else %}button{% endif %}>
                        {# if you have a component #}
                        {% if link.components | length %}
                            {% set mainMenuItem = link %}
                            {% include "partials/layout/header/_main-header_subnav.njk" %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>
   