<ibe-sub-menu-nav>
    <div class="main-header_subnav" aria-hidden="true">
        <div class="main-header_subnav_inner">
            {# icon #}
            {% if (mainMenuItem.icon | length) or (mainMenuItem.hasSubnavTitle) or (mainHeader.hasSubnavCloseButton) %}
            <div class="main-header_subnav-head">
                {% if mainMenuItem.icon | length %}
                    <span class="icon icon-{{mainMenuItem.icon}}"></span>
                {% endif %}
                {% if mainMenuItem.hasSubnavTitle %}
                    <span class="main-header_subnav-title" aria-hidden="true">
                        {{ mainMenuItem.text }}
                    </span>
                {% endif %}
                {% if mainHeader.hasSubnavCloseButton %}
                    <button class="main-header_subnav-button-close" aria-label="{{SHARED.close}}"></button>
                {% endif %}
            </div>
            {% endif %}
            {# subnav description #}
            {% if mainMenuItem.subnavDesc %}
                {% set subnavDesc = mainMenuItem.subnavDesc %}
                {% if subnavDesc.descTitle %}
                    <div class="main-header_subnav_desc_title">
                        <h2 class="title">{{ subnavDesc.descTitle.title }}</h2>
                    </div>
                {% endif %}
                {% if subnavDesc.descText %}
                    <div class="main-header_subnav_desc_text">
                        {% if subnavDesc.descText.lists %}
                            <ul class="subnav_desc_text-lists">
                                {% for item in subnavDesc.descText.lists.items %}
                                    <li class="subnav_desc_text-list">{{ item.title }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ subnavDesc.descText.text | safe}}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% if subnavDesc.descAction %}
                    <div class="main-header_subnav_desc_action">
                        <button type="button" class="button {{ subnavDesc.descAction.type | default('btn-secondary') }}">{{ subnavDesc.descAction.title }}</button>
                    </div>
                {% endif %}
            {% endif %}
            {# link items #}
            <div class="main-header_subnav-body">
                {% for submenuArray in mainMenuItem.submenus %}
                    <div class="main-header_column{% if submenuArray.isLargeColumn %} large-column{% endif %}">
                        {% for submenu in submenuArray.items %}
                            <nav>
                                {# if url is empty #}
                                <{% if submenu.url | length  %}a{% if submenu.submenuList %} {# only has id if has subitems #}
                                    id="listLabel{{ submenu.title | replace(' ', '') }}"
                                {% endif %}
                                    class="subnav_item_n2{% if submenu.submenuList %} collapsible collapsed{% endif %}"href="#"
                                {% else %}h2 class="subnav_item_n2"{% endif %}>
                                    {{ submenu.title }}
                                </{% if submenu.url | length  %}a{% else %}h2{% endif %}>

                                {% if submenu.hasColumns %}
                                    {# WITH EXTRA COLUMNS - AS DESTINATIONS #}
                                    <div class="main-header_column_wapper">
                                        {% for column in submenu.submenuList %}
                                            <div class="main-header_column">
                                                {% if submenu.submenuList %}
                                                    {% for submenuItem in column %}
                                                    <div class="main-header_subnav_list">
                                                        <a
                                                            {% if submenuItem.submenuListN4 %}
                                                                id="listLabel{{ submenuItem.text | replace(' ', '') }}"
                                                            {% endif %}
                                                            role="presentation" {# only to destinations section #}
                                                            class="subnav_item_n3 {% if submenuItem.submenuListN4 %} collapsible collapsed{% endif %}"
                                                            href="#"
                                                        >
                                                            {{ submenuItem.text }}
                                                        </a>
                                                        {% if submenuItem.submenuListN4 %}
                                                            <ul aria-labelledby="listLabel{{ submenu.title | replace(' ', '') }} listLabel{{ submenuItem.text | replace(' ', '') }}">
                                                                {% for submenuItem2 in submenuItem.submenuListN4 %}
                                                                    <li>
                                                                        <a href="#" class="subnav_item_n4">
                                                                            {{ submenuItem2.text }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {# NOT HAS EXTRA COLUMNS #}
                                    
                                    {# if subnav3 has children #}
                                    {% if submenu.submenuList %}
                                        <ul aria-labelledby="listLabel{{ submenu.title | replace(' ', '') }}">
                                            {% for submenuItem in submenu.submenuList %}
                                                {% if submenuItem.submenuListN4 is defined %}
                                                    <li class="main-header_subnav_list">
                                                        <a 
                                                            {% if submenuItem.submenuListN4 %}
                                                                id="listLabel{{ submenuItem.text | replace(' ', '') }}"
                                                            {% endif %}
                                                            class="subnav_item_n3{% if submenuItem.submenuListN4 %} collapsible collapsed{% endif %}" {# if has children is collapsible #}
                                                            href="#"
                                                        >
                                                            {{ submenuItem.text }}
                                                        </a>
                                                        {% if submenuItem.submenuListN4 %}
                                                            <ul aria-labelledby="listLabel{{ submenu.title | replace(' ', '') }} listLabel{{ submenuItem.text | replace(' ', '') }}">
                                                                {% for submenuItem2 in submenuItem.submenuListN4 %}
                                                                    <li>
                                                                        <a href="#" class="subnav_item_n4">
                                                                            {{ submenuItem2.text }}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                {# if subnav3 does not have children print as whole list #}
                                                <li class="main-header_subnav_list">
                                                    <a href="#" class="subnav_item_n3">
                                                        {{ submenuItem.text }}
                                                    </a>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endif %}
                            </nav>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {# subnav components #}
            {% for component in mainMenuItem.components.items %}
                <div class="main-header_subnav_component">
                    {% include component.path %}
                </div>
            {% endfor %}
        </div>
    </div>
</ibe-sub-menu-nav>