<ibe-main-menu>
    <header class="main-header">
        <div class="main-header_container">
            {# navbar toggle #}
            {% if mainHeader.navToggle %}
                {% set navToggle = mainHeader.navToggle %}
                <button type="button"
                        class="main-header_navbar-toggle toggle1"
                        data-target="#{{ navToggle.id }}"
                        aria-expanded="false"
                        aria-controls="{{ navToggle.id }}">
                    <span class="main-header_navbar-toggle_label">{{ navToggle.text }}</span>
                    {% if not navToggle.icon %}
                        <span class="main-header_navbar-toggle_bar"></span>
                        <span class="main-header_navbar-toggle_bar"></span>
                        <span class="main-header_navbar-toggle_bar"></span>
                    {% else %}
                        <span class="icon icon-{{ navToggle.icon }}"></span>
                    {% endif %}
                </button>
            {% endif %}
            {# navbar toggle user #}
            {% if mainHeader.navToggleUser %}
                {% set navToggle = mainHeader.navToggleUser %}
                <button type="button"
                        class="main-header_navbar-toggle toggle2"
                        {% if navToggle.hasModal | length %}
                            data-toggle="modal" 
                            data-target="#{{navToggle.hasModal.id}}"
                        {% else %}
                            data-target="#{{ navToggle.id }}"
                            aria-expanded="false"
                            aria-controls="#{{ navToggle.id }}"
                        {% endif %}>
                    <span class="icon icon-{{ navToggle.icon }}"></span>
                </button>
            {% endif %}
            {# logo #}
            {% if (mainHeader.logo.show | default(true)) and (not layout.mainHeader.logo.hide) %}
                <h1 class="main-header_logo">
                    <a href="CORP-index.html" class="logo">
                        <img src="{{ project_assets_path }}imgs/logo.svg" alt="" />
                    </a>
                </h1>
            {% endif %}
            {# nav #}
            {% if (mainHeader.nav.show | default(true)) and (not layout.mainHeader.nav.hide) %}
                {% include "partials/layout/header/_main-header_nav.njk" %}
            {% endif %}
        </div>
    </header>
</ibe-main-menu>
