// ****************************
//  GLOBAL VARIABLES
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-background-color.
// Global variables must have '!default' property and can be override by project variables.
//
// ****************************
//
//    + Paths
//
// ****************************************

$default-pad: 24px !default;

// + Paths
// -------
$imgs-path: '../imgs/' !default;
$font-path: '../fonts/' !default;
$icomoon-font-path: '#{$font-path}icons/fonts' !default;

// + Typography
// -------
$font-name:             'Roboto', sans-serif !default;
$font-filename:         $font-name !default;
$font-sanserif:         'Roboto', sans-serif !default;
$font-icon-name:        'ibe-icons' !default;
