// main: ../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  TRIP SELECTOR
// ********************
//
//    + Journey header
//    + Trip selector
//        ++ Flights table
//    + Connections data (modal)
//
// ********************

.tripselector_outbound,
.tripselector_inbound {
    margin: 0 0 40px 0;
}
.tripselector_inbound {
    .flightselect_header {
        margin-top: 76px;
    }
}

// + Journey header
// -------
.flightselect_header {
    z-index: 1;
    position: relative;
    width: 100%;
}
.flightselect_header_route {
    margin-bottom: 42px;
    .label {
        @extend .title-h1; 
        //margin-bottom: 7px;
    }
    .route {
        @extend .title-h2;
        padding-right: 180px;
        @media #{$until-mobile} { // <=640px
            padding-right: 0;
        }
    }
}


// + Trip selector
// -------
.flights {
    position: relative;
    clear: both;
}

$col-duration-width: 10%;
$col-flights-width: 24%;
$col-prices-width: calc(100% - ((#{$col-flights-width} * 2) + #{$col-duration-width}));

//## generate price rate fares styles
//## using general fares quantity value from variales.scss
@mixin pricerate-fares-style {
    .price-rate {
        @for $i from 1 through $fare-quantity {
            &.fare#{$i} {
                @if $i == 1 {
                    @include fare1-style;
                }
                @else if $i == 2 {
                    @include fare2-style;
                }
                @else if $i == 3 {
                    @include fare3-style;
                }
                @else if $i == 4 {
                    @include fare4-style;
                }
                @else if $i == 5 {
                    @include fare5-style;
                }
            }
        }
    }
}

// ++ Flights table
.flights_table {
    width: 100%;
    border-bottom: 2px solid $c-secondary;
    .flight {
        position: relative;
        display: block;
        border-top: 2px solid $gray-3;
        .tooltip-note {
            display: none;
        }
        &:first-child {
            border-top: 0;
        }
        &.is-disabled {
            cursor: default;
            .rowFlight {
                opacity: .3;
                transition: all .2s linear;
            }
            .tooltip-note {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                max-width: 100%;
                align-items: center;
                justify-content: center;
                opacity: 0;
                background-color: #fff;
                transition: all .37s ease;
            }
            &:hover {
                .tooltip-note {
                    opacity: .74;
                }
            }
        }
    }
    .rowFlight {
        display: flex;
        padding: 34px 0;
    }
    .colDeparture,
    .colReturn,
    .colDuration,
    .colPrices {
        box-sizing: border-box;
    }
    .colDeparture,
    .colReturn {
        flex: 1 1 $col-flights-width;
        width: $col-flights-width;
        padding-left: 34px;
        .route {
            position: relative;
            .time {
                display: inline-block;
                font-family: $f-title;
                @include font-size($f-size-xlg);
                line-height: 1;
                color: $c-primary;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .extra-day {
                position: relative;
                top: -5px;
                display: inline-block;
                @include font-size($f-size-xs);
                color: $c-secondary;
                line-height: 1;
                padding: 2px 4px;
                border-radius: $border-radius;
                background: $gray-1;
                span {
                    display: inline-block;
                    padding-left: 4px;
                }
            }
            .airport-name {
                display: block;
                clear: both;
                @include font-size($f-size);
                line-height: 1.3;
                padding-right: 14px;
                font-family: $font-sanserif;
            }
            .airport-code {
                display: block;
            }
        }
    }
    .colDuration {
        flex: 0 0 $col-duration-width;
        width: $col-duration-width;
        font-family: $font-sanserif;
        line-height: 1.2;
        .icon {
            @include iconfont($icon-airplane-right, before);
            @include font-size(20px);
            margin-bottom: 8px;
            &::before {
                @include font-size($f-size-xlg);
                color: $c-primary;
            }
        }
        .time {
            @include font-size($f-size);
            font-weight: 700;
        }
        .connection {
            @include font-size($f-size);
            .info-link {
                @include info-link($icon-circle-info,$f-size-sm,right);
                color: $c-text;
                cursor: pointer;
                span { text-decoration: underline; }
                &::after {
                    color: $c-primary;
                }
            }
        }
        .flight-number {
            @include font-size($f-size-sm);
            margin-top: 7px;
        }
    }
    .colPrices {
        flex: 0 0 $col-prices-width;
        width: $col-prices-width;
        align-self: center;
    }
    .price-rate {
        @extend .button;
        @extend .btn-secondary;
        position: relative;
        display: block;
        width: 100%;
        line-height: 1.2;
        white-space: nowrap;
        text-align: right;
        .label {
            @include font-size($f-size-sm);
            font-weight: 400;
        }
        .currency,
        .price {
            font-size: $sf-price-fontsize;
        }
        .currency {
            font-weight: 400;
        }
        .price {
            display: inline-block;
            font-weight: 700;
        }
        &.disabled,
        &.disabled:hover {
            opacity: 1;
            background: none;
            border: 0;
            -webkit-user-select: none;
            user-select: none;
            .price {
                font-weight: 400;
            }
        }
        &.selected {
            @include iconfont($icon-circle-check,before);
            position: relative;
            padding-left: 44px;
            &::before {
                position: absolute;
                left: 14px;
                top: 50%;
                @include font-size($f-size-md);
                transform: translateY(-50%);
            }
        }
        .promo-label {
            position: relative;
            top: 6px;
            float: left;
            @include font-size($f-size);
            margin-right: 16px;
        }
    }
    .fare-label {
        @include font-size($f-size-xlg);
        float: left;
        color: #fff;
        text-transform: none;
        margin-right: 24px;
    }
    @include pricerate-fares-style;
}
.flights_noresults { 
    @include font-size($f-size-lg);
    text-align: center;
    text-align: center;
    padding: 30px 40px;
    margin-top: 14px;
    background: $gray-1;
}

// ++ Flights fares
//## generate flight selector fares header
//## using general fares quantity value from variales.scss
@mixin flight-fares-options-styles {
    @for $i from 1 through $fare-quantity {
        .fare#{$i} {   
            @if $i == 1 {
                .flights_fares_header {
                    @include fare1-style;
                    @include title-bar($fare1-background);
                }
                .fares_list {
                    .icon {
                        color: $fare1-background;
                    }
                }
            }
            @else if $i == 2 {
                .flights_fares_header {
                    @include fare2-style;
                    @include title-bar($fare2-background);
                }
                .fares_list {
                    .icon {
                        color: $fare2-background;
                    }
                }
            }
            @else if $i == 3 {
                .flights_fares_header {
                    @include fare3-style;
                    @include title-bar($fare3-background);
                }
                .fares_list {
                    .icon {
                        color: $fare3-background;
                    }
                }
            }
            @else if $i == 4 {
                .flights_fares_header {
                    @include fare4-style;
                    @include title-bar($fare4-background);
                }
                .fares_list {
                    .icon {
                        color: $fare4-background;
                    }
                }
            }
            @else if $i == 5 {
                .flights_fares_header {
                    @include fare5-style;
                    @include title-bar($fare5-background);
                }
                .fares_list {
                    .icon {
                        color: $fare5-background;
                    }
                }
            }
        }
    }
}
@include flight-fares-options-styles;

.flights_fares {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 24px;
}
.flights_fares_header {
    font-family: $f-title;
    @include font-size($f-size-xlg);
    padding: 9px 14px 9px 28px;
    line-height: 1.1;
    display: none;
    transition: all .1s ease;
    .fare-name {
        float: left;
        font-weight: 600;
    }
    .price {
        float: right;
        font-weight: 600;
        .currency {
            font-weight: 300;
        }
    }
    @media (max-width: 1100px) { // <= 1100px
        @include font-size($f-size-md);
    }
    @media #{$until-tablet-portrait} { // <= 768px
        font-size: ($f-size-xlg - 10);
        text-align: right;
        padding-left: 7px;
        padding-right: 7px;
        .fare-name,
        .price {
            display: block;
            float: none;
        }
        .fare-name {
            padding-left: 18px;
            margin-bottom: 4px;
        }
        &.active {
            padding-bottom: 30px;
        }
    }
    @media #{$until-mobile-sm} { // <= 480px
        @include font-size($f-size);
        .currency { display: block; }
    }
}
.flights_fares_body {
    margin-top: 0;
    margin-bottom: 24px;
    transition: all .1s ease;
}
.flights_fares_footer {
    margin-top: auto;
}
.flights_fares_button {
    @extend .btn-secondary;
    position: relative;
    width: 100%;
    .promo-label {
        position: absolute;
        left: 10px;
        top: 13px;
        padding-bottom: 0;
    }
}
.flights_fares_item {
    position: relative;
    display: none;
    width: 100%;
    cursor: pointer;
    &.show {
        display: block;
    }
    //## hover over all fare content
    &:hover {
        .flights_fares_header {
            padding-bottom: 24px;
        }
        @media #{$tablet-portrait} { // >= 768px
            .flights_fares_body {
                margin-top: -15px;
            }
        }
    }
    &:focus {
        outline: 0;
    }
    [data-whatinput='keyboard'] & {
        &:focus {
            @include accessibility-outline;
            outline-offset: 2px;
        }
    }
    .context-list-icon {
        margin-top: 0;
        padding-top: 14px;
    }
}

.flights_fares_tabs {
    display: block;
    width: 100%;
    .flights_fares_header {
        display: block;
        cursor: pointer;
        transition: padding-bottom .2s ease;
        &:hover {
            padding-bottom: 24px;
        }
    }
    ul {
        display: flex;
    }
    li {
        flex: 1 1 auto;
        max-width: calc(100% / 3);
        min-height: 76px;
        margin-right: 6px;
        @media #{$until-mobile-sm} {
            min-height: 90px;
        }
        &:last-child {
            margin-right: 0;
        }
        &.active {
            .flights_fares_header {
                padding-bottom: 22px;
            }
        }
    }
}
.fares_list {
    padding-top: 14px;
    margin: 0 10px;
    li {
        position: relative;
        margin: 9px 0;
        padding-left: 28px;
    }
    .icon {
        @include font-size(20px);
        position: absolute;
        top: -1px;
        left: 0;
    }
}

//## connections
.connection {
    @include font-size($f-size);
    button {
        .connection_link_label { text-decoration: underline; }
    }
    .connection_link {
        &::after {
            @include font-size(22px);
            color: $c-primary;
        }
    }
}
.connection-stop {
    .connection_link {
        @include info-link($icon-circle-info,$f-size-sm,right);
        color: $c-text;
        cursor: pointer;
    }
}
.connection-stopover {
    .connection_link {
        @include iconfont($icon-circle-info,after);
    }
    .connection_link_label {
        @include hide-visually;
    }
}


// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .flights_fares_tabs {
        display: none;
    }
    .flights_fares_item {
        flex: 1 1 32%;
        display: flex;
        flex-direction: column;
        margin-right: 2%;
        flight-fare { //## for angular component
            display: flex;
            height: 100%;
            flex-direction: column;
        }
        &:first-child {
            display: flex;
        }
        &:last-child {
            margin-right: 0;
        }
        .flights_fares_header {
            display: block;
        }
    }
}
@media #{$until-tablet-portrait} { // <= 768px
    $col-duration-width: 114px;
    $col-flights-width: calc((100% - #{$col-duration-width}) / 2);
    $col-prices-width: 100%;
    .flights_table {
        .rowFlight {
            flex-wrap: wrap;
            padding: 24px 0;
        }
        .colDeparture,
        .colReturn {
            flex: 1 1 $col-flights-width;
            padding-left: 0;
            .airport-city {
                display: none;
            }
        }
        .colReturn {
            text-align: right;
            .route {
                white-space: nowrap;
                .time {
                    float: right;
                }
                .extra-day {
                    top: 2px;
                    margin-right: 4px;
                    span { display: none; }
                }
            }
        }
        .colDuration {
            flex: 0 0 $col-duration-width;
            min-width: $col-duration-width;
            text-align: center;
            .time {
                display: inline-block;
                margin-right: 2px;
            }
            .connection .info-link::after { display: none; }
        }
        .colPrices {
            flex: none;
            width: $col-prices-width;
            display: block;
            clear: both;
            text-align: center;
            margin-top: 28px;
            .price-rate {
                display: inline-block;
                width: auto;
                padding: 4px 14px;
                .label {
                    @include font-size($f-size-xs);
                }
                .currency,
                .price {
                    @include font-size($f-size-md);
                }
                .promo-label {
                    top: 2px;
                    @include font-size($f-size-sm);
                }
                &.selected {
                    padding-left: 44px;
                }
                .fare-label {
                    @include font-size($f-size-md);
                }
            }
        }
    }
    .fares_list {
        padding-top: 0;
    }
}
@media #{$until-mobile} { // <= 640px
    .flightselect_header_route {
        margin-bottom: 40px;
    }
    .flights_table {
        .colDeparture,
        .colReturn {
            .route {
                .time {
                    @include font-size($f-size-md);
                }
            }
        }
        .colDeparture {
            .route {
                .airport-city {
                    display: none;
                }
            }
        }
        .colReturn {
            .route {
                .extra-day {
                    top: 0;
                }
            }
        }
        .colDuration {
            .time {
                display: inline-block;
            }
            .time,.connection {
                @include font-size($f-size-sm);
            }
        }
        .colPrices {
            .price-rate {
                @include font-size($f-size-md);
                text-align: center;
            }
        }
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .flights_table {
        .price-rate {
            min-width: 92%;
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    $col-duration-width: 12%;
    $col-flights-width: 28%;
    $col-prices-width: calc(100% - ((#{$col-flights-width} * 2) + #{$col-duration-width}));
    .flights_table {
        .colReturn {
            flex: 1 1 $col-flights-width;
        }
        .colDuration {
            flex: 0 0 $col-duration-width;
        }
        .colPrices {
            flex: 0 0 $col-prices-width;
        }
    }
}
