// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  FLIGHT SEARCH
// ****************************************
//
//    + Search flight
//        ++ Grid
//        ++ Typology
//        ++ Promocode
//        ++ Action button
//         [Responsive]
//
//    + Search flight typeahead
//
// ****************************************

// INTERACTION - HIGHLIGHT ON FOCUS
// this variable work together with project-scripts.js function `searchInteraction(true)`
@include search-highlight-onfocus(true);


// SEARCH GRID
$searchgrid-template: 'flightsearch-tpl2';

// OPTIONS - INDICATOR
$searchgrid-options-indicator: null;
$searchgrid-options-position-top: 4px;
// OPTIONS - CLOSE BUTTON
$options-has-closebutton: true;
$options-has-closebutton-desktop: false;

// OPTION LAYOUT
$searchgrid-options-position: 'absolute';
$searchgrid-options-fullwidth: false;

// OPTION LAYOUT BY COMPONENT
//## elements positions and width
//## ROUTE
$searchgrid-route-options-template: 'search-collapsable';
$searchgrid-route-options-position: 'relative-auto';
$searchgrid-route-options-width: auto;

//## DATES
$searchgrid-dates-options-template: 'search-collapsable';
$searchgrid-dates-options-position: null;
$searchgrid-dates-options-width: auto;

//## TYPOLOGY
$searchgrid-typology-options-template: 'search-collapsable';  // this variable need a json configuration searchFlight.typology.template
$searchgrid-typology-options-position: 'relative-right';
$searchgrid-typology-options-width: calculateRem(320px);
//## typology: styles
$searchgrid-typology-layout: null;
$searchgrid-typology-separator: null;
$searchgrid-typology-label: null;

//## CURRENCY
$searchgrid-currency-options-template: 'dropdown';
$searchgrid-currency-options-position: 'relative-right';
$searchgrid-currency-options-width: auto;

//## TRIP TYPE
$searchgrid-triptype-position: 'default';

//## PROMOCODE
$searchgrid-promocode-show: true;


// FLIGHT SEARCH GRID
//## do not change this variables below, editable variables are above
@include flight-search-grid(
	$template: $searchgrid-template,
	$currency: $searchgrid-currency-show,
	$options-indicator: $searchgrid-options-indicator,
	$options-position-top: $searchgrid-options-position-top
);

// OPTIONS LAYOUT
@include flight-search-options-layout(
	$position: $searchgrid-options-position, // do not change this, editable variables above
	$fullwidth: $searchgrid-options-fullwidth // do not change this, editable variables above
);

// OPTION LAYOUT BY COMPONENT
//## settings for each search component
@include flight-search-options-bycomponent(
	$element: 'route',
	$template: $searchgrid-route-options-template, // do not change this, editable variables above
	$label: 'hidden',
	$position: $searchgrid-route-options-position, // do not change this, editable variables above
	$maxwidth: $searchgrid-route-options-width, // do not change this, editable variables above
	$caption-hidden: true,
	$caption-hidden-responsive: $tablet-portrait,
	$caption-icon: false
);
@include flight-search-layout-route(
	$orderby: 'city',
	$code-position: 'left'
);

@include flight-search-options-bycomponent(
	$element: 'dates',
	$template: $searchgrid-dates-options-template, // do not change this, editable variables above
	$label: 'hidden',
	$position: $searchgrid-dates-options-position, // do not change this, editable variables above
	$maxwidth: $searchgrid-dates-options-width, // do not change this, editable variables above
	$caption-hidden: false,
	$caption-hidden-responsive: false,
	$caption-icon: false
);
@include flight-search-layout-date();

@include flight-search-options-bycomponent(
	$element: 'typology',
	$template: $searchgrid-typology-options-template, // do not change this, editable variables above
	$label: 'hidden',
	$position: $searchgrid-typology-options-position, // do not this, editable variables above
	$maxwidth: $searchgrid-typology-options-width, // do not change this, editable variables above
	$caption-hidden: false,
	$caption-hidden-responsive: false,
	$caption-icon: false
);
@include flight-search-layout-typology(
	$layout: $searchgrid-typology-layout,
	$item-separator: $searchgrid-typology-separator,
	$label: $searchgrid-typology-label
);

// ## currency
@if $searchgrid-currency-show {
	@include flight-search-options-bycomponent(
		$element: 'currency',
		$template: $searchgrid-currency-options-template,  // do not change this, editable variables above
		$label: 'hidden',
		$position: $searchgrid-currency-options-position,  // do not change this, editable variables above
		$maxwidth: $searchgrid-currency-options-width,  // do not change this, editable variables above
		$caption-hidden: true,
		$caption-hidden-responsive: false,
		$caption-icon: false
	);
}

//## project custom styles
.searchflight {
	.currency {
		@extend %dropdown-style1;
		@include formcontrol-inverse-style;
		@include formcontrol-label-inline;
		.ui-label {
			@extend %label-reset-padding;
		}
		.ui-dropdown > button {
			@extend %input-reset-padding;
		}
	}
	.typology {
		.ui-input-container > button {
			@extend %input-reset-padding;
		}
	}
	.triptype {
		.switch-slider {
			border: 1px solid #fff;
		}
	}
	.promocode {
		z-index: 2;
		position: absolute;
		right: 14px;
		bottom: calculateRem(-30px);
	}
	.promocode_link {
		span {
			color: $c-link;
			text-decoration: underline;
			cursor: pointer;
		}
	}
	.promocode_button {
		@include btn-secondary;
	}

	// [Responsive]
	@media #{$mobile} { // >=640px
		.triptype {
			.switch-slider {
				border: 0;
			}
		}
	}
	@media #{$tablet-portrait} { // >=768px
		.search_tt {
			box-shadow: inset 0 0 0 4px $c-secondary;
			border-radius: $border-radius;
		}
		.search_tt_title {
			margin-left: calculateRem(-$search-options-inner-padding);
			margin-right: calculateRem(-$search-options-inner-padding);
			padding: 0 30px 14px;
			border-bottom: 2px solid $c-secondary;
		}

		//## promocode
		.promocode {
			bottom: calculateRem(-32px);
		}
		&::after { //## promocode background when search is fixed on top
			z-index: -1;
			position: absolute;
			left: 0;
			bottom: -42px;
			content: '';
			width: 100%;
			height: 42px;
			transform: translateY(-10px);
		}
		.search-fixed & {
			&::after {
				z-index: 1;
				background: #fff;
				transform: translateY(0);
				box-shadow: 0 1px 4px -1px rgba(#000, .24);
				transition: all .2s ease;
			}
		}
	}
	@media #{$tablet-landscape} { // >=992px
		//## promocode
		.promocode {
			bottom: calculateRem(-50px);
		}
	}
}
.search-opened {
	.multiple-panel_content {
		z-index: unset;
	}
	.searchflight {
		.route .ui-input-container,
		.dates .ui-input-container,
		.triptype .switch-slider,
		.currency,
		.typology .ui-input-container,
		.searchflight_button {
			z-index: $searchflight-highlight-zindex;
		}
		.search_tt {
			z-index: $searchflight-highlight-zindex + 1;
		}
		.promocode,
		&::after {
			display: none;
		}
	}
}
