// ********************
//  IBE COMPONENT
//
// ********************
//  PAYMENT
// ********************
//
//    + Payment methods
//    + Payment summary
//    + Payment confirmation
//
// ********************

@import "payment-methods";
@import "payment-details";
//@import "payment-partials";
//@import "payment-QR";

$payment-summary-width-desktop: 32%;
$payment-summary-margin-left: 4%;

// + Payment methods
// -------
.payment_polices {
    // display: none;
    margin-top: 22px;
    .ui-checkbox{
      a {
        text-decoration: underline;
        color: inherit;
      }
    }
}

// + Payment summary
// -------
.payment-summary {
    display: none;
}
.payment-summary_title {
    @extend .title-h3;
    margin-bottom: 0;
    font-size: calculateEm($f-size-lg);
    font-weight: normal;
    text-align: left;
}

// + Payment confirmation
// -------
.payment-confirmation {
    margin-top: $content-margin-top;
}

@media #{$tablet-portrait}{ // >=768px
    // .payment_polices {
    //     display: block;
    // }
    .payment-summary {
        @include font-size($f-size);
        display: block;
        flex-basis: $payment-summary-width-desktop;
        flex-shrink: 0;
        max-width: $payment-summary-width-desktop;
        margin-top: 24px;
        margin-left: $payment-summary-margin-left;
        padding: 20px;
        background-color: $gray95;
        box-sizing: border-box;
        // .summary_journey {
        //     grid-template-columns: 1fr 1fr 1fr; 
        //     .summary_label {
        //         grid-column: 1/span 3;
        //         grid-row: 1;
        //     }
        //     .summary_route {
        //         grid-column: 1/span 3; 
        //         grid-row: 3;
        //     }
        //     .summary_date {
        //         grid-column: 1/span 3;
        //         grid-row: 2;
        //     }
        //     .summary_fare {
        //         grid-column: 1;
        //         grid-row: 4;
        //         text-align: left;
        //     }
        //     .summary_flight {
        //         grid-column: 2;
        //         grid-row: 4;
        //         text-align: left;
        //     }
        // }
        table {
            width: 100%;
            // tbody {
            //     font-size: calculateEm($f-size-md-sm);
            //     border-bottom: 1px solid $gray60;
            //     td{
            //         padding-bottom: 13px;
            //         &:first-child {
            //             text-align: left;
            //             font-weight: 400;
            //         }
            //         &:last-child {
            //             text-align: right;
            //             font-weight: 700;
            //         }
            //     }
            // }
            tfoot {
                font-size: calculateEm($f-size-md-sm);
                text-align: right;
                line-height: 1;
                tr:first-child td {
                    padding: 18px 0 9px;
                    color: $c-primary-dark;
                    font-weight: 700;
                }
                tr:last-child td {
                    @include font-size($f-size-md-sm);
                    color: $c-primary-dark;
                }
            }
        }
    }
    .payment-page {
        .page_buttons {
            width: calc(100% - #{$payment-summary-width-desktop + $payment-summary-margin-left});
        }
    }
}