// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT METHODS
// ****************************************
//
//    + Payment methods navigation
//    + Payment: credit card
//
// ****************************************
$payment-method-margin-top: 36px;
.payment_methods {
    display: flex;
    align-items: flex-start;
    @include clearfix;
}
.payment_methods_container {
    flex-grow: 1;
}
.payment_methods_form {
    .container {
        @extend .form;
        @extend .columns-2;
        @media #{$tablet-portrait} { // >=768px
            .ui-form_group:last-child {
                flex-basis: calc(25% - #{$form-horizontal-gutter-desktop});
            }
        }
    }
}
.payment_methods_main-title {
    @extend .title-h2;
}
.payment_methods_title {
    @extend .title-h3;
    margin-bottom: 5px;
}
.payment_methods_cc-type {
    margin: 24px 0 14px;
    .ui-checkbox-title {
        @extend .hide-visually;
    }
    .ui-checkbox {
        label {
            display: inline-block;
            &:after, &:before {
                top: 10px;
            }
        }
        img {
            position: relative;
            top: -3px;
            height: 30px;
        }
    }
}

// + Payment: credit card
// -------
.payment-methods_currency {
    @include font-size($f-size);
    margin-top: 16px;
    .title {
        @extend .title-h4;
    }
    .ui-checkbox-group {
        display: block;
        float: left;
        margin-right: 10%;
        &:last-child {
            margin-right: 0;
        }
        .ui-checkbox {
            margin-bottom: 0;
        }
        .extralabel {
            display: block;
            font-weight: 700;
            color: $c-primary;
            margin-left: 30px;
        }
    }
    .footnote {
        margin-top: 24px;
    }
}

// [Responsive]
@media #{$until-mobile} { // <=640px
    .payment_methods_cc-type {
        margin-top: 30px;
        .ui-checkbox-inline .ui-checkbox {
            margin-right: 4.4vw;
        }
    }
    .payment_methods_title {
        display: none;
    }
}
@media #{$summary-collapsed} { // <=768px
    .payment_methods {
        margin-top: 22px;
        display: block;
    }
    .payment_methods_container {
        float: none;
        display: block;
        width: 100%;
        .payment_polices {
            margin-bottom: 34px;
        }
    }
}
