// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  ITINERARY
// ****************************************
//
// ****************************************

.itinerary {
    display: flex;
    flex-direction: column;
    .itinerary_action {
        order: 2;
    }
}
.itinerary_action {
    display: none;
    text-align: right;
    margin-right: 7px;
    .action-link {
        display: inline-block;
        text-decoration: none;
        font-family: $f-title;
        font-weight: 600;
        .icon {
            position: relative;
            top: 5px;
            color: $c-primary;
            @include font-size($f-size-lg);
            line-height: 1;
            margin-right: 4px;
        }
        .label { text-decoration: underline; }
        &:hover {
            color: $c-primary;
        }
    }
}
@media #{$mobile} {
    .itinerary_action {
        display: block;
    }
}