// main: ../styles.scss
// ****************************************
//  LAYOUT
//
// ****************************************
//  HEADER
// ****************************************
//
// ****************************************
//+header
.header {
    background: $header-background;
}

.header_container {
    @include container-wrap;
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

.header_logo {
    width: $header-logo-width;
    float: left;
    padding: 5px 0;
    margin-right: 10px;
    .logo {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
}

// .header_left {}
.header_right {
    float: right;
    padding: 20px 0;
}

.header_links_item {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    .ui-dropdown_list {
        z-index: ($summary-fixed-zindex + 1);
        left: auto;
        right: -1px;
        max-height: 152px;
    }
    // &.link-user {}
    &.link-language {
        button { // dropdown trigger
            @include collapse-trigger($f-size-xs, $c-primary, right);
            &::after {
                top: 3px;
                color: $c-secondary;
            }
        }
    }
}
.header_link {
    @include font-size($f-size-sm);
    font-weight: 500;
    color: $c-primary;
}
.header_link_label {
    @include hide-visually;
}

// [Responsive]
@media #{$mobile} {
    // >= 640px
    .header_logo {
        width: ($header-logo-width + 30);
    }
    .header_right {
        padding: 27px 0;
    }
}

@media #{$tablet-portrait} { // >=768px
    .header {
        .fixed-header & {
            z-index: $header-fixed-zindex;
            position: fixed;
            width: 100%;
            height: $header-height;
            top: 0;
        }
    }
}