// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  HEADER CORPORATIVE
// ********************
//    + main submenu nav
//    + Corp inner pages like IBE Header
//
// *********************

// variables
$subnav-pad-left: 29px;
$main-header-ui-dropdown-width: 200px;
$nav-item-link-gutter: 24px;

.main-header_wrap {
	z-index: $header-fixed-zindex;
	left: 0;
	top: 0;
	width: 100%;
}

.main-header {
	width: 100%;
	height: $main-header-height;
	background-color: #fff;
	transition: all .1s linear;
}
.main-header_container {
	@include container-wrap;
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.main-header_logo .logo,
.main-header_nav-primary,
.main-header_nav-secondary {
	display: flex;
	align-items: center;
}
.main-header_logo {
	z-index: 3;
	position: relative;
	margin-right: 1rem;
	transition: $header-transitions;
	.logo {
		width: 156px;
		height: 100%;
		transition: $header-transitions;
		img {
			width: 100%;
		}
	}
}
.main-header_nav {
	display: flex;
	flex: 1 1 100%;
	justify-content: flex-end;
	flex-wrap: nowrap;
	transition: $header-transitions;
	.nav_item {
		display: inline-block;
		margin: 0;
		line-height: 1.2;
	}
	.nav_item_link {
		display: block;
		width: 100%;
		padding: 0 14px;
		box-sizing: border-box;
		color: $c-primary;
		font-family: $f-title;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
	}
	.ui-dropdown_list {
		right: 0;
		left: inherit;
	}
}
.main-header_nav-primary {
	ul {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
	}
	.nav_item_link {
		@include font-size($f-size-sm);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 $nav-item-link-gutter;
		transition: $header-transitions;
	}
	+ .main-header_nav-secondary {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -2px;
			width: 2px;
			height: 21px;
			background-color: $c-secondary;
			transform: translateY(-55%);
		}
	}
}
.main-header_nav-secondary {
	ul {
		display: flex;
	}
	.nav_item {
		&:last-child {
			.nav_item_link {
				position: relative;
				margin-right: 0;
				@include font-size($f-size-sm);
				font-weight: 500;
				@include iconfont($pbicon-arrow-up);
				&::before {
					position: absolute;
					right: 3px;
					top: 50%;
					color: $c-secondary;
					font-size: calculateEm(8px);
					font-weight: 700;
					line-height: 0;
					transform: rotateX(180deg);
				}
			}
		}
	}
	.nav_item_link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: $main-header-mobile-height;
		@include font-size($f-size);
	}
}


// + Corp inner pages like IBE Header
// -------
.fixed-header {
	.main-header {
		@media #{$tablet-portrait} {
			//## when scrolling down, header gets fixed
			&.fixed {
				height: $main-header-fixed-height;
				border-bottom: 1px solid $gray95;
				background-color: #fff;
				.main-header_logo {
					.logo { width: 120px; }
				}
			}
		}
	}
}

// + Subnav
// -------
$subnav-minheight: 224px;
.main-header_subnav {
	z-index: -1; // fix Safari 12 :hover mistake
	position: absolute;
	top: 80%;
	left: $nav-item-link-gutter;
	height: 0;
	box-sizing: border-box;
	color: #fff;
	white-space: nowrap; // auto width in absolute position div
	background-color: $c-primary-dark;
	border-radius: 10px;
	overflow: hidden;
	opacity: 0;
	transition: opacity .14s ease-in-out, top .27s ease-in-out;
	.nav_item:hover &,
	&.open {
		overflow: visible;
		opacity: 1;
	}
	nav {
		ul {
			@extend .list-style1;
			@extend .condensed;
			display: flex;
			flex-wrap: wrap;
			li {
				min-width: calc(166px - #{$subnav-pad-left});
				flex-basis: calc(50% - #{$subnav-pad-left});
				width: calc(50% - #{$subnav-pad-left});
				padding-right: 8px;
				&::before {
					color: $c-primary !important;
				}
			}
			.subnav_item_link {
				display: inline-block;
				text-decoration: none;
				line-height: 1.1;
			}
		}
		//## subnav destinations list
		&.subnav--destinations {
			flex: 1 1 calc(50% - 28px);
			ul {
				display: block;
				li {
					flex-basis: auto;
					padding-left: 0;
					&::before { display: none; }
				}
			}
		}
		//## subnav with just one column
		&.subnav--onecol ul li {
			flex-basis: calc(25% - #{$subnav-pad-left});
			width: calc(25% - #{$subnav-pad-left});
		}
	}
}
.main-header_subnav_inner {
	padding: 20px 14px;
	.icon {
		@include font-size(26px);
		z-index: 3;
		position: absolute;
		top: calculateRem(10px);
		left: $gutter-sides;
		color: $c-secondary;
	}
}
.subnav_item_n2,
.subnav_item_n3,
.subnav_item_n4 {
	position: relative;
	display: inline-block;
	line-height: 1.2;
	text-decoration: none;
}
.subnav_item_n2 {
	@include iconfont($pbicon-arrow-right);
	position: relative;
	padding: 4px 4px 4px $subnav-pad-left;
	&::before { //## mini triangle prefixed
		$subnav_item_n2_triangle-size: 8px;
		position: absolute;
		left: 17px;
		top: 50%;
		color: $c-secondary;
		font-size: calculateRem($subnav_item_n2_triangle-size);
		transform: translateY(-50%);
	}
}
.subnav_item_n2,
.subnav_item_n3 {
	& + ul { //## subnav n4 list
		margin-top: 10px;
	}
}
.main-header_subnav_inner {
	padding: 11px $nav-item-link-gutter 13px 72px;
}
.main-header_column_wapper {
	display: flex;
	align-items: flex-start;
	margin-top: 6px;
	transition: $header-transitions;
}
.main-header_column {
	@include mobile-modal_main-body;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 100%;;
	background-color: $gray95;
}

// [Responsive]
@media #{$tablet-portrait} { // >= 768px
	.main-header_container {
		z-index: 2;
	}
	.main-header_nav-secondary {
		padding-left: 9px;
	}
	.main-header_subnav nav.subnav--destinations ul {
		column-count: 4;
	}
	.main-header_subnav_inner {
		position: relative;
		.icon {
			z-index: 1;
			left: $nav-item-link-gutter;
			top: 50%;
			color: $c-secondary;
			transform: translateY(-50%);
			&::after {
				background-color: transparent; // IE11 support
			}
		}
	}
	.main-header_subnav-title {
		display: none;
	}
	.main-header_column {
		padding: 0;
		background-color: transparent; // IE11 support
		border-left: 1px solid $c-secondary;
		overflow: auto; // IE11 support
	}
	.nav_item {
		&:last-child {
			.main-header_subnav {
				left: auto;
				right: $nav-item-link-gutter;
			}
		}
		&:hover {
			.main-header_subnav {
				height: auto;
			}
		}
	}
	.main-header_subnav-button-close {
		display: none;
	}
	.main-header_nav-primary {
		.nav_item {
			position: relative;
			min-width: 108px;
			&:nth-child(2) {
				.icon {
					&::before {
						font-size: calculateRem(30px);
					}
					&::after {
						background-color: transparent; // IE11 support
						border: none;
					}
				}
			}
			&:hover {
				.nav_item_link_caption {
					color: $c-secondary;
					background-color: $c-primary-dark;
				}
			}
		}
	}
	.nav_item_link_caption {
		padding: .25em 1em;
		border-radius: 1em;
	}
	.subnav_item_n2 {
		color: #fff;
		font-weight: 300;
	}
}
@media #{$tablet-landscape} { // >= 992px
	.main-header_nav-secondary {
		margin-left: 0;
		.nav_item { margin: 0 }
	}
}
@media (min-width: 1100px) { // >= 1000px
	.main-header_subnav {
		nav {
			ul {
				li {
					min-width: calc(#{$subnav-minheight} - #{$subnav-pad-left});
					flex-basis: calc(25% - #{$subnav-pad-left});
					width: calc(25% - #{$subnav-pad-left});
				}
			}
			&.subnav--destinations {
				ul {
					column-count: 3;
					li {
						min-width: calc(164px - 30px);
					}
				}
			}
		}
	}
}

// [Responsive menu - when fixed at bottom]
@media #{$header-nav-bp} { // <= 768px
	$nav-height-mobile: 50px;
	.main-header_wrap {
		z-index: unset;
	}
	.main-header {
		height: $main-header-mobile-height;
		padding-bottom: 17px;
	}
	.main-header_logo {
		.logo {
			width: 86px
		}
	}

	//## primary navigation
	.main-header_nav-primary {
        display: inline-block; // support safari
		z-index: $header-sticky-zindex;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: $nav-height-mobile;
		border-top: 1px solid $c-secondary;
        box-shadow: $bs-section-top;
		ul {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			align-items: center;
			margin: 0;
			justify-content: center;
		}
		.nav_item {
			position: relative;
			display: flex;
			flex: 1 1 calc(100% / 3);
			height: 100%;
			align-items: center;
			justify-content: center;
			text-align: center;
			&:first-child {
			   &:before {
				   width: 0;
			   }
			}
			&:before { //## fixed bottom menu - links separator line
				content: '';
				z-index: 3;
				position: absolute;
				left: 0;
				top: 50%;
				width: 1px;
				height: 60%;
				background-color: $c-secondary;
				transform: translateY(-50%);
			}
			&.active {
				.nav_item_link {
					color: $c-secondary;
					font-weight: 600;
				}                
			}
		}
		.nav_item_link {
			z-index: 2;
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			align-items: center;
			@include font-size($f-size-xs);
			color: #fff;
			justify-content: center;
			padding: 0 10px;
			margin: 0;
			background-color: $c-primary-dark;
			font-weight: 400;
		}
		.search-opened & {
			height: 0;
			border: 0;
		}
	}

	//## secondary navigation (settings)
	.main-header_nav-secondary {
		&::before { display: none; }
	}

	//## subnav
	.main-header_subnav {
		z-index: 1;
		position: fixed;
		bottom: 1px;
		left: 0;
		height: auto;
		width: 100%;
		padding: 14px 0;
		top: inherit;
		transform: inherit;
		padding: 0;
		overflow: visible;
		opacity: 1;
		border-radius: 0;
		transition: bottom .3s ease-in-out;
		&[aria-hidden='true'] {
			bottom: -100%;
		}

		nav,
		nav.subnav--destinations {
			position: relative;
			display: block;
			flex: none;
			width: 100%;
			padding: 0;
			ul {
				display: block;
				max-height: 30vh;
				overflow-y: auto;
				padding: 0;
				background: #fff;
				transition: all .3s ease-in-out;
				-webkit-overflow-scrolling: touch;
				&[aria-hidden='true'], &.show {
					max-height: 0;
					overflow: hidden;
				}
				li {
					width: 100%;
					min-width: 100%;
					flex-basis: auto;
					margin: 0 !important;
					padding: 0 !important;
					border-bottom: 1px solid $c-color4;
					&:before { //## arrow list icon
						display: none;
					}
					.subnav_item_link {
						display: block;
						padding: 17px 22px;
					}
			   }
			}
		}
		nav.subnav--destinations {
			ul {
				display: flex;
				flex-wrap: wrap;
				li {
					flex: 1 1 50%;
					width: 50%;
					min-width: 50%;
				}
			}
		}
	}
	.main-header_subnav-head {
		@include mobile-modal_header;
		padding-left: 3rem;
	}
	.main-header_subnav-button-close {
		@include mobile-modal-header_close-button;
	}
	.main-header_subnav_inner {
		@include mobile-modal_main-container('.nav_item.active', true, ($main-header-mobile-height));
	}
	.main-header_column_wapper {
		flex-wrap: wrap;
		margin-top: 0;
		overflow-y: hidden;
		nav {
			ul {
				li {
					border-top: 1px solid $c-color1;
					border-bottom-width: 0;
				}
			}
		}
	}
	.main-header_column {
		@include font-size($f-size-md);
	}
	.subnav_item_n2,
	.subnav_item_n3, 
	.subnav_item_n4 {
		display: block;
		padding: 6px 10px 6px 31px;
		text-align: left;
	}
	.subnav_item_n2,
	.subnav_item_n3 {
		&.collapsible {
			@include collapse-trigger(16px, $c-primary);
			display: flex;
			&::after {
				right: 14px;
				top: 10px;
			}
		}
		&.collapsed {
			& + ul, 
			& + .main-header_column_wapper {
				height: 0;
				opacity: 0;
				transition: $header-transitions;
			}
		}
	}
	.subnav_item_n2,
	.subnav_item_n4 {
		margin-bottom: 0;
	}
	.subnav_item_n3 {
		margin-top: 0;
		padding-left: $subnav-pad-left;
		background-color: #fff;
		border-bottom: 1px solid $c-color1;
	}
	.subnav_item_n4 {
		box-sizing: border-box;
		padding: 8px 0 8px 14px;
		&::before {
			top: 10px;
		}
	}
	.main-header_subnav_list {
		border-bottom: 1px solid $c-color1;
		.subnav_item_n3 {
			border-bottom-width: 0;
		}
	}
}
