// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE PANEL
// ********************
//
//    + multiple panel
//    + multiple panel nav tabs
//    + multiple panel tab content
//
// ********************

//## animation to reduced padding with effect scroll
// @keyframes reducedPaddScroll {
//     0% { padding-top: 30px; padding-bottom: 30px; }
//     100% { padding-top: 14px; padding-bottom: 14px; }
// }
.multiple-panel {
	position: relative;
	// margin-top: $main-header-mobile-height;
}

// +  Multiple panel nav tabs
// -------
.multiple-panel_nav {
	display: flex;
	text-align: left;
}
.multiple-panel_nav_item { 
	@include font-size($f-size-sm);
	position: relative;
	display: inline-block;
	min-width: 71px;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	padding: 12px 16px 9px;
	font-family: $f-title;
	color: $c-primary;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	text-decoration: none;
	border-radius: $border-radius $border-radius 0 0;
	cursor: pointer;
	&:first-child {
		margin-left: 0;
	}
	&:hover {
		color: $c-primary;
	}
	&[aria-selected='true'] {
		color: #FFF;
		background: $c-primary-dark;
		border-color: $c-primary-dark;
	}
	.vcenter-text {
		display: flex;
		height: 100%;
		align-items: center;
		vertical-align: middle; 
		line-height: normal; 
	}
}

// +  multiple panel tab content
// -------
.multiple-panel_content {
	position: relative;
	width: 100%;
	padding-top: 20px;
	background-color: $c-primary-dark;;
	box-sizing: border-box;
	transition: padding .2s ease-in-out;
	.search-opened & {
		z-index: $overlay-zindex + 1;
	}
}
.multiple-panel_item {
	display: none;
	max-height: none;
	&.show {
		display: block;
		.multiple-panel_item_content {
			opacity: initial;
		}
	}
}
a.multiple-panel_collapse_trigger {    
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}
.multiple-panel_collapse_trigger {
	@include collapse-trigger(20px,#fff,right);
	@include font-size($f-size);
	display: none;
	width: 100%;
	margin-bottom: 10px;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	text-decoration: none;
	padding: 12px 20px;
	background: $c-color2;
	border-radius: $border-radius-large 0 0;
	box-sizing: border-box;
	cursor: pointer;
	&:after {
		right: 14px;
		top: 18px;
	}
	&[aria-expanded=true] {
		background-color: $c-secondary;
	}
	&.collapse:after {
		color: #fff;
	}
	.icon {
		color: #fff;
		@include font-size($f-size-xxlg);
		vertical-align: middle;
		margin-right: 14px;
	}
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
	//## when search is fixed
	.search-fixed {
		.multiple-panel_content {
			z-index: $summary-fixed-zindex;
			position: fixed;
			top: 0;
			left: 0;
			padding-top: 14px;
			//animation: reducedPaddScroll .4s forwards;
		}
		//## when search and header are fixed
		&.fixed-header { 
			&.is-fixedheader {
				.multiple-panel_content {
					top: $main-header-fixed-height-onscroll;
				}
			}
			.multiple-panel_content {
				top: $main-header-height;
			}
		}
	}
}
@media #{$tablet-portrait} { // >=768px
	.multiple-panel_nav {
		padding: 0 $gutter-sides;
	}
	.multiple-panel_nav_item {
		@include font-size($f-size);
		width: auto;  
		text-align: center;
		margin-left: 20px; 
		padding: 6px 13px 10px;
	}
}
@media #{$tablet-landscape} { // >=992px
	.multiple-panel_nav {
		max-width: $container-max-width;
		padding: 0 $gutter-sides-desktop;
		margin: 0 auto;
	}
}