// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  SERVICE CARD
// ********************

.service-cards {
    display: flex;
    flex-wrap: wrap;
}
.service-cards_title {
    @extend .title-h3;
    color: $c-secondary;
}
.service-cards_column {
    flex: 1 1 48%;
    margin-top: 30px;
    min-width: 294px;
    &:first-child {
        margin-right: 4%;
    }
}
.service-cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.service-card_item {
    display: inline-block;
    width: 118px;
    margin: 10px 16px 8px 0;
}
.service-card {
    display: block;
    text-decoration: none;
    border: 1px solid $c-primary;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        $service-card-color-hover: $c-primary;
        color: $service-card-color-hover;
        border-color: $service-card-color-hover;
        box-shadow: 0 0 0 1px $service-card-color-hover;
        .icon {
            color: $service-card-color-hover;
            border-bottom-color: $service-card-color-hover;
        }
    }
    .icon {
        @include font-size(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82px;
        margin: 0 22px;
        color: $c-primary;
        border-bottom: 1px solid $c-secondary;
    }
    .icon-sportequipment {
        &::before,&::after {
            margin: 0 -7px;
        }
    }
    .label {
        min-height: calc(100% - 82px);
        padding: 10px 8px;
        text-align: center;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        &:after {
            content: '';
            height: 36px;
        }
    }
    &.is-disabled {
        opacity: $disabled-opacity;
        pointer-events: none;
    }
}


// [Responsive]
@media #{$until-mobile} { // <=640px
    .service-cards_column {
        flex: 1 1 100%;
        &:first-child {
            margin-right: 0;
        }
    }
}
@media (max-width: 430px) { // <=400px
    .service-card_item {
        width: calc(50% - 18px);
        &:nth-child(even) {
            margin-right: 0;
        }
    }
}
