<div class="seatmap">
    <div class="seatmap_inner">
        <div class="seatmap_wrap">
            <ol class="seatmap_list">
                <li class="seats_columns">
                    <div class="seats_row">
                        {% for seat in seatmap.letters %}
                            {% if seat.letter | length %}
                                <span class="seat_letter">{{ seat.letter }}</span>
                            {% else %}
                                    <span class="seat_row_number"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% for seats in seatmap.seats %}
                {% if seats.hideRow %}
                    <li class="seats_columns">
                        <div class="seats_row">
                            {% for seat in seatmap.letters %}
                                {% if seat.letter | length %}
                                    <span class="seat_letter">{{ seat.letter }}</span>
                                {% else %}
                                        <span class="seat_row_number"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="seats_group{% if seats.hasExitLeft or seats.hasExitRight %} has-exit{% endif %}">
                        <div class="seats_row">
                            {% if seats.hasExitLeft %}
                                <span class="seat_exit" aria-hidden="true"></span>
                            {% endif %}
                            {% for seat in seats.seats_group %}
                                {% if seat.row_number  %}
                                    <span class="seat_row_number">{{ seat.text }}</span>
                                {% else %}
                                    <button class="seat{% if seat.status == 'current' %} selected current{% else %} {{ seat.status }}{% endif %}"
                                        aria-label="{{ seat.text }}"
                                        {% if seatmap.seatsHasPopover %} data-toggle="popover"
                                        data-container="body" data-placement="auto" data-trigger="{% if seat.dataTrigger | length %}click{% else %}hover{% endif %}" data-html="true"
                                        data-target="#seatDetailPopover"{% endif %}>
                                            {% if seat.status == 'selected' %}<span class="seat-label">{{ seat.passanger }}</span>{% endif %}
                                    </button>
                                {% endif %}
                            {% endfor %}
                            {% if seats.hasExitRight %}
                                <span class="seat_exit" aria-hidden="true"></span>
                            {% endif %} 
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
                <li class="seats_columns">
                    <div class="seats_row">
                        {% for seat in seatmap.letters %}
                            {% if seat.letter | length %}
                                <span class="seat_letter">{{ seat.letter }}</span>
                            {% else %}
                                    <span class="seat_row_number"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div id="seatDetailPopover">
        <div class="seat_details" >
            <div class="seat_number">4B</div>
            <div class="seat_type">
                Standard Seat {{ SHARED.currency }} 35
            </div>
        </div>
    </div>
</div>