<div class="seatmap_legend">
    {% if seatsLegend.desc | length %}
        {% if seatsLegend.desc.title | length %}
            <div class="seatmap_legend-title">
                <h2 class="title">{{ seatsLegend.desc.title }}</h2>
            </div>
        {% endif %}
    {% endif %}
    <ul>
        {% for seat in seatsLegend.items %}
        <li class="seat {{seat.type}}">
            <div class="title">
                {% if seat.text | length %}
                <span class="label">{{seat.text}}</span>
                {% endif %}
                {% if seat.price | length %}
                <span class="price">{{seat.price | safe}}</span>
                {% endif %}
            </div>
            {% if seat.description | length %}
            <div class="description">
                {{seat.description}}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {# SEATMAP LEGEND RESPONSIVE BUTTON TO OPEN A MODAL #}
    {% if seatsLegend.hasResponsiveModal %}
    <a href="#" class="info-link"
        data-toggle="modal"
        data-target="#modal-seatmapLegend"
        aria-label="Seats more information">
    </a>
    {% endif %}

    {# SEATMAP LEGEND FOOTNOTE #}
    {% if seatsLegend.footnote | length %}
    <div class="footnote">
        {{seatsLegend.footnote | safe}}
    </div>
    {% endif %}
</div>
