<div class="seat-selector">
    {# SEGMENT SELECTOR #}
    {% include "partials/components/IBE/_common/_segment_selector.njk" %}

    <div class="seat-selector_content"
        aria-hidden="false"
        id="segment1-content"
        aria-labelledby="segment1 segment1-route">

        {# SEGMENT SELECTOR FLIGHT DETAIL #}
        {% include "partials/components/IBE/_common/_segment_selector_flight_detail.njk" %}

        <div class="seat-selector_paxs">
            {# PASSENGER SELECTOR #}
            <seat-map-pax-selector>
                {% if passengerSelector | length %}
                    {% include passengerSelector %}
                {% else %}
                    {% include "partials/components/IBE/passenger-selector/_passenger_selector.njk" %}
                {% endif %}
            </seat-map-pax-selector>

            {# SEATMAP LEGEND #}
            <seat-map-pax-legend>
            {% include "partials/components/IBE/seats/_seatmap_legend.njk" %}
            </seat-map-pax-legend>
        </div>
        
        <div class="seat-selector_seatmap">
            <seat-map>
                {# SEATMAP #}
                {% include "partials/components/IBE/seats/_seatmap.njk" %}
                
                {# SEATMAP: RESPONSIVE NEXT FLIGHT BUTTON #}
                <button type="button" class="seat-selector_flight_button button">{{SHARED.nextFlight}}</button>
                
                {# SEATMAP: RESPONSIVE FOOTNOTE #}
                {% if seatsLegend.footnote | length %}
                <div class="footnote">
                    {{seatsLegend.footnote | safe}}
                </div>
                {% endif %}
            </seat-map>
        </div>
    </div>
</div>
