// ********************
//  IBE COMPONENT
//
// ********************
//  PASSENGER DATA
// ********************
//
//
// ********************

$passanger-data-title-icon-size: $f-size-lg;
$passanger-data-title-icon-size-bg: $f-size-lg - 4;

.passenger_data {
    @include clearfix;
    position: relative;
    .container {
        @extend .form;
        @extend .columns-3;
        margin-top: 14px;
    }    
}
.passenger_data_block {
    @include clearfix; 
    margin-top: 14px;
}
.passenger_data_title {
    @include iconfont($icon-user, before);
    @include handling-long-words;
    position: relative;
    margin-bottom: 20px;
    &::before {  //## icon circle background
        padding-right: 5px;
        @include font-size($passanger-data-title-icon-size);
        color: $c-secondary;
        vertical-align: bottom;
    }
    &::after { //## user icon
        content: "";
        background-color: $c-primary;
        height: calculateRem($passanger-data-title-icon-size-bg);
        width: calculateRem($passanger-data-title-icon-size-bg);
        border-radius: 50%;
        position: absolute;
        left: 2px;
        top: 5px;
        z-index: -1;
    }
}
.passenger_label {
    position: relative;
    min-width: 66px;
    text-align: left;
    color: $c-primary;
}
.passenger_name {
    @include font-size($f-size-md);
    font-weight: 700;
    padding-left: 5px;
}
.passenger_data_subtitle {
    @extend .title-h3;
    padding-top: 24px;
    margin: 0;
}
.detail-page {
    .intro {
        margin-bottom: 34px;
    }
}

// [Responsive]
@media #{$mobile} { // >=640px
    .passenger_data {
        margin-bottom: 32px;
    }
}