<div class="connections">
    <div class="connections_routes">
        <ul class="connections_separator">
            <!-- departure: departure time and airport -->
            <li class="connections_item connections_route departure">
                <span class="time">{{ flightScale.departureTime }}</span>
                <span class="airport">
                    {{ flightScale.departureAirport }}
                    <span class="airport-code">({{  flightScale.departureAirportCode }})</span>
                </span>
            </li>
            <!-- connection: flight number and duration -->
            <li class="connections_item">
                <span class="time">{{ flightScale.departureDuration }}</span>
                <span class="flightnumber">{{ flightScale.flightNumberDeparture }}</span>
            </li>
        </ul>
    
        {% for scale in flightScale.scales %}
            {% if not scale.isFinalizeFlight %}
                <!-- in trasit -->
                <ul class="connections_separator transit">
                    <!-- in trasit - connection: arrival time and airport -->
                    <li class="connections_item connections_route">
                        <span class="time">{{  scale.time }}</span>
                        <span class="airport">
                            {{  scale.title }}
                            <span class="airport-code">({{ scale.departureAirportCode }})</span>
                        </span>
                    </li>
                    {% if scale.transit | length %}
                        <!-- in trasit - connection: duration time in transit -->
                        <li class="connections_item transit-step">
                            <span class="time">{{ scale.transit.time }}</span>
                            <span class="label">{{ scale.transit.title }}</span>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <!-- connection -->
                <ul class="connections_separator">
                    <!-- connection: departure time and airport -->
                    <li class="connections_item connections_route departure">
                        <span class="time">{{  scale.time }}</span>
                        <span class="airport">
                            {{  scale.title }}
                            <span class="airport-code">({{ scale.departureAirportCode }})</span>
                        </span>
                    </li>
                    <!-- connection: duration and flight number -->
                    <li class="connections_item">
                        <span class="time">{{ flightScale.arrivalDuration }}</span>
                        <span class="flightnumber">{{ flightScale.flightNumberArrival }}</span>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
        <!-- arrival -->
        <ul class="connections_separator">
            <!-- arrival: arrival time and airport -->
            <li class="connections_item connections_route">
                <span class="time">{{ flightScale.arrivalTime }}</span>
                <span class="airport">
                    {{ flightScale.arrivalAirport }}
                    <span class="airport-code">({{ flightScale.arrivalAirportCode }})</span>
                </span>
            </li>
        </ul>
    </div>

    <div class="connections_total">
        <span>{{ flightScale.timeTotalText }}</span>
        <span class="time">{{ flightScale.timeTotal }}</span>
    </div>
</div>
