{% if (flight.connections.direct.text | length) or (flight.connections.connecting.text | length) or (flight.connections.stopover.text | length) %}
    <div class="connection">
        {# direct #}
        {% if flight.connections.direct.text | length %}
            <div class="connection_link_wrap connection-stop">
                <{% if flight.connections.direct.style | length %}button{% else %}div{% endif %} class="connection_link"
                    {% if (flight.connections.direct.style == 'tooltip') %}
                        tabindex="-1"
                        aria-expanded="false"
                        data-toggle="tooltip"
                        data-original-title="{{ flight.connections.direct.text }}"
                    {% endif %}
                    {% if (flight.connections.direct.style == 'modal') %}
                        data-toggle="modal"
                        data-target="#modal-flightConnections"
                    {% endif %}>
                    <span class="connection_link_label">{{ flight.connections.direct.text }}</span>
                </{% if flight.connections.direct.style | length %}button{% else %}div{% endif %}>
            </div>

        {# connecting #}
        {% elif flight.connections.connecting.text | length %}
            <div class="connection_link_wrap connection-stop">
                <button class="connection_link"
                    {% if (flight.connections.connecting.style == 'tooltip') %}
                        tabindex="-1"
                        aria-expanded="false"
                        data-toggle="tooltip"
                        data-original-title="{{ flight.connections.connecting.text }}"
                    {% endif %}
                    {% if (flight.connections.connecting.style == 'modal') %}
                        data-toggle="modal"
                        data-target="#modal-flightConnections"
                    {% endif %}>
                    <span class="connection_link_label">{{ flight.connections.connecting.text }}</span>
                </button>
            </div>
        {% endif %}

        {# stopover #}
        {% if flight.connections.stopover.text | length %}
            <div class="connection_link_wrap connection-stopover">
                <button class="connection_link"
                    {% if flight.connections.stopover.style == 'tooltip' %}
                        tabindex="-1"
                        aria-expanded="false"
                        data-toggle="tooltip"
                        data-original-title="{{ flight.connections.stopover.text }}"
                    {% endif %}
                    {% if flight.connections.stopover.style == 'modal' %}
                        data-toggle="modal"
                        data-target="#modal-flightConnections"
                    {% endif %}>
                    <span class="connection_link_label">{{ flight.connections.stopover.text }}</span>
                </button>
            </div>
        {% endif %}

        {# connection popover #}
        {% if flight.connections.direct.style == 'popover' 
        or flight.connections.connecting.style == 'popover' 
        or flight.connections.stopover.style == 'popover' %}
            <div class="connection_popover">
                <div class="connection_popover-head">
                    <button class="connection_popover_close-button"></button>
                </div>
                {% include "partials/components/IBE/flight-select/_connections.njk" %}
            </div>
        {% endif %}
    </div>
{% endif %}
