{% for journey in journeys %}
<div class="tripselector_{{journey.class}}">
    {% include "partials/components/IBE/flight-select/_trip_selector_header.njk" %}

    {% if daySelectorType == "week" %}
    {% include "partials/components/IBE/dayselector/_week_selector.njk" %}
    {% elif daySelectorType == "month" %}
    {% include "partials/components/IBE/dayselector/_month_selector.njk" %}
    {% elif daySelectorType == "bestprice" %}
    {% include "partials/components/IBE/dayselector/_price_selector.njk" %}
    {% endif %}

    {% if flightIsSelected %}
        {% include "partials/components/IBE/flight-select/_trip_selector_modifier.njk" %}
    {% endif %}

    {% include "partials/components/IBE/flight-select/_trip_selector.njk" %}
</div>

{# FLIGHT INFO LEGEND #}
{% if flights.infoLegend | length %}
<div class="flight_info_legend">
    <ul class="flight_info">
        {% for item in flights.infoLegend.items %}
        <li class="flight_info_item">
            {% if item.icon | length %}
            <span class="flight_info_icon">
                <span class="icon icon-{{item.icon}}" aria-hidden="true"></span>
            </span>
            {% endif %}
            {% if item.label | length %}
            <span class="flight_info_label">
                {{item.label}}
            </span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endfor %}
