<div class="footnote">
    <ul class="list-style1">
        <li>Tarifa por pasajero adulto.</li>
        <li>Cuando selecciones tus vuelos considera que al combinar diferentes tarifas puedes perder ciertos beneficios. Siempre aplicará para tu viaje las restricciones con menos flexibilidad para los casos de cambios, devoluciones, estadía mínima y máxima requerida.</li>
        <li>Los cupos y precios están sujetos a confirmación en los pasos siguientes.</li>
        <li>El modelo del avión puede variar por motivos operacionales.</li>
        <li>Tasas de embarque a pagar en los aeropuertos de Uyuni y Rurrenabaque.</li>
    </ul>
</div>