<header class="flightselect_header {{journey.class}}">
    <div class="flightselect_header_content">
        <div class="flightselect_header_route">
            {% if not changeFlight %}
            <h2 class="label">
                <span class="label_text">{{journey.way}}</span>
            </h2>
            {% endif %}
            <h3 class="route">
                {{journey.departureAirport}} {{journey.headerConnector | safe}} {{journey.arrivalAirport}}
            </h3>
        </div>
    </div>
</header>
