<div class="flights_fares_tabs">
    <ul>
        {% for fare in fares.items %}
        {% set counter = ( counter | default(0) ) + 1 %}
        <li class="fare{{fare.pos}}">
            <div class="flights_fares_header">
                <span class="fare-name">{{fare.name}}</span>
                <span class="price">
                    <span class="currency">{{SHARED.currency}}</span>
                    {{fare.price}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="flights_fares">
    {% for fare in fares.items %}
    {% set counter = ( counter | default(0) ) + 1 %}
    <div class="flights_fares_item fare{{fare.pos}}{% if fare.unavailable %} disabled{% endif %}"
        role="button"
        tabindex="0"
        aria-hidden="false">
        <div class="flights_fares_header">
            <span class="fare-name">{{fare.name}}</span>                               
            <span class="price">
                <span class="currency">{{SHARED.currency}}</span>
                {{fare.price}}
            </span>
        </div>
        <div class="flights_fares_body">
            <ul class="fares_list">
                {% for item in fare.fareDescription %}
                <li>
                    {% if item.icon | length %}
                    <span class="icon icon-{{item.icon}}" aria-hidden="true"></span>
                    {% endif %}
                    {{item.description}} {% if item.note | length %}<sup>*</sup>{% endif %}
                    {% if item.note | length %}
                    <p class="note-text">
                        {{item.note | safe}}
                    </p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="flights_fares_footer">
            <button type="button" tabindex="-1" class="flights_fares_button button"{% if fare.unavailable %} disabled="disabled"{% endif %}>                                   
                {% if fare.isPromo == true %}
                    {% include "partials/ui-elements/_promo_label.njk" %}
                {% endif %}
                {{ fare.fareButtonText }}                                  
            </button>
        </div>
    </div>
    {% endfor %}
</div>