<div class="tripselector_modifier">
    <div class="tripselector_modifier_info">
        <span class="week">{{ journeys[0].date.week | default('Miércoles') }}</span>
        <span class="day">{{ journeys[0].date.day | default('8') }},</span>
        <span class="month">{{ journeys[0].date.monthAbbr | default('AGO') }}</span>
    </div>
    <div class="tripselector_modifier_button" data-target="#notification">
        <button class="button">Modificar</button>
    </div>
</div>