<div class="flights">
    <div class="flights_table">
        {% for flight in flights.items %}
        {% set counter = ( counter | default(0) ) + 1 %}
        <flight class="flight
            {% if flight.unavailable %} is-disabled{% endif %}
            {% if flight.fareSelected %} is-selected{% endif %}
            {% if flight.isFaresOpen | length %}{% if flight.isFaresOpen.active %} is-open{% endif %}{% endif %}
            {% if flight.connections.connecting.text | length %} has-connection-stop{% endif %}"
            {% if flight.fareSelected %} data-status="selectedFlight"{% endif %}>
            
            {# date #}
            {% if flights.showDateHeader | default(false) %}
            <div class="rowFlight_date">
                <span class="airport-city">{{journeys[0].departureAirport}}</span>
                <span class="date">{{journeys[0].date.day}} {{journeys[0].date.month}}</span>
            </div>
            {% endif %}

            {# flight not available note #}
            <span class="tooltip-note">
                {{SHARED.flightNotavailable | safe}}
            </span>

            <div class="rowFlight">
                {# departure #}
                <div class="colDeparture">
                    <div class="route">
                        {% if flightLabelOutbound | length %}<span class="flight_label">{{flightLabelOutbound}}</span>{% endif %}
                        {% if flight.departureTime | length %}<span class="time">{{flight.departureTime}}</span>{% endif %}
                        {% if (flight.departureAirport | length) or (flight.departureAirportCode | length) %}
                        <span class="airport-name">
                            {% if flight.departureAirport | length %}<span class="airport-city">{{flight.departureAirport}}</span>{% endif %}
                            {% if flight.departureAirportCode | length %}<span class="airport-code">({{flight.departureAirportCode}})</span>{% endif %}
                        </span>
                        {% endif %}
                    </div>
                </div>

                {# flight duration #}
                <div class="colDuration">
                    <div class="icon"><span class="hide-visually">to</span></div>
                    
                    {# flight duration #}
                    {% if flight.duration |length %}<div class="time">{{flight.duration}}</div>{% endif %}

                    {# flight number #}
                    {% if flight.flightnumbers.items %}
                    <div class="flight-number">
                        {% if flight.flightnumbers.label |length %}<span class="flight-number_label">{{ flight.flightnumbers.label }}</span>{% endif %}
                        <ul class="flight-number_list">
                            {% for flightnumber in flight.flightnumbers.items %}
                            <li>
                                {% if flightnumber.operator |length %}<span class="flight-number_operator">{{ flightnumber.operator }}</span>{% endif %}
                                {% if flightnumber.number |length %}<span class="flight-number_caption">{{ flightnumber.number }}</span>{% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {# connections #}
                    {% include "partials/components/IBE/flight-select/_flight_connection_link.njk" %}
                </div>

                {# return #}
                <div class="colReturn">
                    <div class="route">
                        {# flight direction label #}
                        {% if flightLabelInbound | length %}
                            <span class="flight_label">{{flightLabelInbound}}</span>
                        {% endif %}  

                        {# extra day - position left #}    
                        {% if flightExtraDaysPosition == "left" %} 
                            {% if flight.extraDay | length %}
                                <span class="extra-day">{{flight.extraDay}}<span>{{ day | default('day') }}</span></span>
                            {% endif %}  
                        {% endif %}

                        {# extra day #}  
                        {% if flight.arrivalTime | length %}
                            <span class="time">
                                {{flight.arrivalTime}}
                            </span> 
                        {% endif %}

                        {# extra day - position right #}                                            
                        {% if flightExtraDaysPosition != "left" %}
                            {% if flight.extraDay | length %}
                            <span class="extra-day">{{flight.extraDay}}<span>{{ day | default('day') }}</span></span>
                            {% endif %}            
                        {% endif %}                                   
                        <span class="airport-name">
                            <span class="airport-city">{{flight.arrivalAirport}}</span>
                            <span class="airport-code">({{flight.arrivalAirportCode}})</span>
                        </span>
                    </div>
                </div>

                {# flight price and selected fare #}
                <div class="colPrices">
                    <{% if (flightSelectedFareButtonSelectable) or ((not flightSelectedFareButtonSelectable) and (not flight.fareSelected) and (not flightSelectFareLinkUrl | length)) %}button{% elif flightSelectFareLinkUrl | length %}a{% else %}div{% endif %} 
                        class="price-rate{% if flight.fareSelected %} selected {{ flight.fareType}}{% endif %}"
                        {% if flight.unavailable %} disabled="disabled"{% endif %}
                        {% if (flightSelectedFareButtonSelectable) or ((not flightSelectedFareButtonSelectable) and (not flight.fareSelected) and (not flight.unavailable) and (not flightSelectFareLinkUrl | length)) %}
                        data-toggle="collapse"
                        data-target="#fares_flight_{{journey.class}}_{{counter}}"
                        aria-expanded="false"
                        aria-controls="fares_flight_{{journey.class}}_{{counter}}"
                        {% endif %}
                        {% if flightSelectFareLinkUrl | length %}href="{{flightSelectFareLinkUrl}}"{% endif %}>

                        {# from & selected fare #}
                        {% if not flight.fareSelected %}
                            {# flight has promo #}
                            {% if flight.hasPromo %}
                            {% include "partials/ui-elements/_promo_label.njk" %}
                            {% endif %}
                            {# flight price label 'from' #}
                            <span class="label">{{ SHARED.from | default('From') }}</span>
                        {% endif %}

                        {# flight selected fare name #}
                        <span class="fare-label {{ flight.fareType}}"><span class="fare-label_name">{{ flight.fareSelectedName }}</span></span>

                        {# price #}
                        {% if flight.priceFrom | length %}
                        {% set price = {
                            value: flight.priceFrom
                        } %}
                        {% include "partials/components/IBE/_common/_price.njk" %}
                        {% endif %}
                    </{% if (flightSelectedFareButtonSelectable) or ((not flightSelectedFareButtonSelectable) and (not flight.fareSelected) and (not flightSelectFareLinkUrl | length)) %}button{% elif flightSelectFareLinkUrl | length %}a{% else %}div{% endif %}>

                    {# FLIGHT INFO #}
                    {% if flight.info | length %}
                    <ul class="flight_info">
                        {% for item in flight.info.items %}
                        <li class="flight_info_item">
                            {% if item.icon | length %}
                            <span class="flight_info_icon">
                                <span class="icon icon-{{item.icon}}" aria-hidden="true"></span>
                            </span>
                            {% endif %}
                            {% if item.label | length %}
                            <span class="flight_info_label">
                                {{item.label}}
                            </span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if flight.priceNote | length %}<p class="price-rate_note">{{flight.priceNote}}</p>{% endif %}
                </div>
            </div>

            {% if not flightSelectFareLinkUrl | length and flightSelectShowFares | default(true) %}
            <div class="rowFares">
                {% if flight.isFaresOpen | length %}
                    <button class="flights_fares_button-close"
                        {% if (flightSelectedFareButtonSelectable) or ((not flightSelectedFareButtonSelectable) and (not flight.fareSelected) and (not flight.unavailable) and (not flightSelectFareLinkUrl | length)) %}
                        data-toggle="collapse"
                        data-target="#fares_flight_{{journey.class}}_{{counter}}"
                        aria-expanded="{% if flight.isFaresOpen.active %}true{% else %}false{% endif %}"
                        aria-controls="fares_flight_{{journey.class}}_{{counter}}"
                        {% endif %}>
                        <span class="label">{{ flight.isFaresOpen.label }}</span>
                    </button>
                {% endif %}
                <div class="collapse{% if flight.isFaresOpen | length %}{% if flight.isFaresOpen.active %} show{% endif %}{% endif %}" id="fares_flight_{{journey.class}}_{{counter}}">
                    {% if fares.faresLayoutTabs %}
                        {% include "partials/components/IBE/flight-select/_trip_selector_fares-tabs.njk" %}
                    {% else %}
                        {% include "partials/components/IBE/flight-select/_trip_selector_fares.njk" %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </flight>
        {% endfor %}

        <!-- FARES MODAL -->
        {% if fares.compareFares %}
        <div class="modal fade modal-fares" id="modalexample_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="modal-inner">
                        <div class="modal-body">
                            <div class="table-fares">
                                <table class="table-responsive">
                                    <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                {% for fare in fares.items %}
                                                    <th>{{ fare.name }}</th>
                                                {% endfor %}
                                            </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="2" data-th="" scope="row">
                                                Cargo por cambio
                                            </th>
                                            <td data-th=""><strong>{{ fares.localText }}</strong></td>
                                            <td data-th="{{ fares.items[0].name }}">{{ fares.currency }} 50</td>
                                            <td data-th="{{ fares.items[1].name }}">{{ fares.currency }} 30</td>
                                            <td rowspan="2" data-th="{{ fares.items[2].name }}">{{ fares.notApplyFareText }}</td>
                                        </tr>
                                        <tr>
                                            <td data-th=""><strong>{{ fares.internationalText }}</strong></td>
                                            <td data-th="{{ fares.items[0].name }}">{{ fares.currency }} 100</td>
                                            <td data-th="{{ fares.items[1].name }}">{{ fares.currency }} 60</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" ata-th="" scope="row">
                                                Cargo por no Show
                                            </th>
                                            <td data-th=""><strong>{{ fares.localText }}</strong></td>
                                            <td data-th="{{ fares.items[0].name }}">{{ fares.currency }} 70</td>
                                            <td data-th="{{ fares.items[1].name }}">{{ fares.currency }} 50</td>
                                            <td rowspan="2" data-th="{{ fares.items[2].name }}">{{ fares.notApplyFareText }}</td>
                                        </tr>
                                        <tr>
                                            <td data-th=""><strong>{{ fares.internationalText }}</strong></td>
                                            <td data-th="{{ fares.items[0].name }}">{{ fares.currency }} 120</td>
                                            <td data-th="{{ fares.items[1].name }}">{{ fares.currency }} 80</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" ata-th="" scope="row">
                                                Devolución
                                            </th>
                                            <td data-th=""><strong>{{ fares.localText }}/{{ fares.internationalText }}</strong></td>
                                            <td data-th="{{ fares.items[0].name }}" rowspan="2">{{ fares.currency }} 150</td>
                                            <td data-th="{{ fares.items[1].name }}" rowspan="2">{{ fares.currency }} 100</td>
                                            <td data-th="{{ fares.items[2].name }}" rowspan="2">{{ fares.currency }} 50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
