<div class="flights_fares">
    {% for fare in fares.items %}
    {% set counter = ( counter | default(0) ) + 1 %}
    <div class="flights_fares_item fare{{fare.pos}}
    {% if fare.unavailable %} unavailable{% endif %}
    {% if fare.selected %} selected{% endif %}"
    {% if fares.faresClickUrl.length %} onclick="location.href='{{fares.faresClickUrl}}'"{% endif %}
    data-target="#notification">
        <flight-fare>
            <div class="flights_fares_header">
                {% if fares.label %}
                <span class="fare-name_label">{{ fares.label }}</span>
                {% endif %}
                <span class="fare-name">{{fare.name}}</span>
            </div>
            <div class="flights_fares_body">
                <ul class="fares_list">
                    {% for item in fare.fareDescription %}
                        {% if item.showInPreview | default(true) %}
                            <li{% if item.notIncluded %} class="not-included"{% endif %}>
                                {% if item.icon | length %}
                                    <span class="icon icon-{{item.icon}}" aria-hidden="true"></span>
                                {% endif %}
                                {% if item.subItems.items | length > 0  %}
                                    {% if item.description | length %}<p class="fares_list_subtitle">{{ item.description | safe }}</p>{% endif %}
                                    <ul class="flights_fares_fare-sublist">
                                        {% for item in  item.subItems.items %}
                                            <li>
                                                {{ item.description | safe }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <span class="fares_list_description">
                                        {{ item.description | safe }}
                                    </span>
                                    {% if item.extraDescription %}
                                        <span class="fares_list_extra-description">{{ item.extraDescription }}</span>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="flights_fares_footer">
                <button class="flights_fares_button button">                                   
                    {% if fare.isPromo == true %}
                        {% include "partials/ui-elements/_promo_label.njk" %}
                    {% endif %}
                    {% if fare.fareButtonText %}
                        {{ fare.fareButtonText }}
                    {% endif %}
                    {% if fare.farePrice %}
                        {% set price = {
                            value: fare.farePrice
                        } %}
                        {% include "partials/components/IBE/_common/_price.njk" %}
                        {# <span class="price_wrap">
                            <span class="currency">{{SHARED.currency}}</span>
                            <span class="price">{{fare.farePrice}}</span>
                        </span> #}
                    {% endif %}
                </button>
            </div>
        </flight-fare>
    </div>
    {% endfor %}
    {% if fares.selectLabel %}
        <div class="fares_select-label">
            <span class="fares_select-label_text">{{ fares.selectLabel.caption }}</span>
        </div>
    {% endif %}
    {% if fares.hasFaresCompare %}
        <div class="flights_fares_compare">
            <button class="fares-compare_trigger" data-toggle="modal" data-target="#fares-compare-modal">
                {{ faresCompare.trigger.text | default('Comparar tarifas') }}
            </button>
        </div>
        {% include "partials/components/IBE/_common/_fares-compare.njk" %}
    {% endif %}
</div>