// ****************************************
//  UTILS
//
// ****************************************
//  MIXINS
// ****************************************
//
//    imported mixins from globals/
//    + Title bar
//    + Inverse heading
//
// ****************************************


// + Title bar
// -------
@mixin title-bar($bgcolor) {
    background: $bgcolor;
    color: #fff;
    border-radius: #{$border-radius-large} 3px 3px 3px;
}

// + Inverse heading
@mixin inverse-heading($bgcolor, $radius, $fontsize, $align: right) {
    @include font-size($fontsize);
    display: inline-block;
    clear: both;
    color: #fff;
    min-height: 44px;
    line-height: 1.2;
    margin-bottom: calculateRem(40px);
    padding: 7px 40px 7px 30px;
    vertical-align: middle;
    background-color: $bgcolor;
    box-sizing: border-box;
    @if $align == 'left' {
        border-radius:$radius 0 0 $radius;
    } @else {
        border-radius: 0 $radius $radius 0;
    }    
}