// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  HEADINGS
// ********************
//
//  + Headings
//  + Inverse headings
//  + Text colors
//
// ********************

// + Headings
// -------
.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5 {
    font-family: $f-title;
    line-height: 1.2;
    margin: 0 0 10px;
    letter-spacing: -0.01em;
    &:last-child {
        margin-bottom: 0;
    }
}
.title-h1,
.title-h2 {
    font-weight: 300;
}
.title-h3,
.title-h4 {
    font-weight: 600;
}
.title-h1 {
    @include font-size($f-size-h1);
    color: $c-primary;
    margin-bottom: 10px;
    & + .title-h2 {
        margin-top: -9px; 
        // @media #{$until-mobile}{ // issue in http://dev-paranair.newshore.es/es-py/informacion-legal/politica-de-privacidad/ // IBE-7722
        //     margin-bottom: -10px; 
        // }
    }
    @media #{$until-mobile}{
      @include font-size($f-size-h1-mobile);
      margin-bottom: 14px; 
    }
}
.title-h2 {
    @include font-size($f-size-h2);
    color: $c-secondary;
    @media #{$until-mobile}{
      @include font-size($f-size-h2-mobile);
    }
}
.title-h3 {
    @include font-size($f-size-h3);
    color: $c-primary;
    @media #{$until-mobile}{
      @include font-size($f-size-h3-mobile);
    }
}
.title-h4 {
  @include font-size($f-size-h4);
  line-height: 1.2;
  color: $c-secondary;
}
.title-h5 {
    @extend .title-h4;  
    color: $c-color2;
    margin-bottom: 7px;
}

.h1-inverse {
    @include inverse-heading( $c-primary-dark, 100vh, $f-size-lg);
}
