// main: ../styles.scss

// ********************
//  UI-ELEMENTS
// ********************
//
//  LISTS
//
// ********************
//
// + Bullet list - .list-bullet
// + Arrow icon list - .list-style1
// + context list
// + context-list with second level
// + list
//
// ********************

// + Bullet list
// -------
.list-bullet {
    li {
        position: relative;
        padding-left: 14px;
        margin: 10px 0;
        &::before {
            $bullet-size: 5px;
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: $bullet-size;
            height: $bullet-size;
            border-radius: 50%;
            background-color: $c-text;
        }
    }
}

// + Icon list
// -------
.list-icon {
    &.space {
        li {
            margin-bottom: 10px;
            padding-left: 42px
        }
        .icon {
            @include font-size($f-size-xlg);
            width: $f-size-xlg; //## need when using img instead of fonticon
        }
    }
    li {
        position: relative;
        margin: 6px 0;
        padding-left: 32px;
        .icon {
            @include font-size($f-size-md);
            position: absolute;
            left: 0;
            top: -3px;
            width: $f-size-md; //## need when using img instead of fonticon
            color: $c-primary;
        }
    }
}


// + Arrow icon list
// -------
.list-style1 {
    font-size: 100%;
    > li {
        @include iconfont($icon-arrow-triangle-right,before);
        position: relative;
        padding-left: 1.2em;
        margin-bottom: 1em;
        &::before {
            position: absolute;
            top: .4em;
            left: 0;
            font-size: calculateEm($f-size-xs);
            color: $c-secondary;
        }
    }
    &.condensed {
        li {
            margin-bottom: 6px;
        }
    }
}

// +++ context list
.context-list,
.context-list-alpha,
.context-list-basic,
.context-list-icon, 
.context-list-icon-md {
    margin: 14px 0 24px;
    li {
        margin: 6px 0;
        br + br {
            content: '';
            display: block;
            height: 10px;
        }
    }
}
.context-list-icon,
.context-list-icon-md {
    li {
        position: relative;
    }
    .icon {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        height: 100%;
        img {
            width: 100%;
        }
    }
}
.context-list-icon {
    li {
        padding-left: 22px;
    }
    .icon {
        top: 0;
        width: 15px;
        height: 22px;
        color: $c-primary;
    }
}
.context-list-icon-md {
    li {
        padding-left: 72px;
        margin: 30px 0;
    }
    .icon {
        top: -18px;
        width: 55px;
        height: 55px;
    }
}
.context-list-basic { //## bullet list
    @extend .list-bullet;
}
.context-list, .context-list-alpha { //## arrows style
    @extend .list-style1;
    &.secondary {
      li {
        &::before {
            color: $c-secondary;
        }
      }
    }
    &.columns { //## total columns for list
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: calc(50% - 50px);
            padding-right: 24px;
            @media #{$until-tablet-portrait} { // <=768px
                flex-basis: 100%;
                padding-right: 0;
            }
        }
    }
    li {
        &::before {
            color: $c-primary;
        }
    }
}
// context-list with second level
.context-list {
    li {
        & > ul.context-list {
            margin-top: 0;
            li {
                @include iconfont($icon-arrow-single-right,before);
            }
        }
        &.context-h1,
        &.context-h2,
        &.context-h3,
        &.context-h4 {
            &::before {
                color: inherit;
            }
            li {
                color: $c-text;
                font-weight: 400;
            }
        }
    }
}
ol {
    &.context-list, &.context-list-alpha  { //## numeric style
        @include font-size($f-size);
        counter-reset: number;
        > li {
            &::before {
                top: 3px;
                font-family: $font-sanserif;
                font-size: calculateEm($f-size);
                font-weight: 600;
                content: counters(number, ".") ".";
                counter-increment: number;

            }
        }
        // simulate <ol> start attribute
        @for $i from 1 through 10 {
            &[start="#{$i}"] {
                counter-reset: number ($i - 1);
            }
        }
    }
    &.context-list-alpha { //## alpha numeric style
        > li {
            &::before {
                content: counter(number, lower-alpha) ".";
                counter-increment: number;
            }
        }
    }
}
// spacing on internal <ol> levels
ul, ol {
    &.context-list,
    &.context-list-basic,
    &.context-list-alpha {
        li {
            > ol { //## first under level (1.1)
                &.context-list {
                    > li {
                        padding-left: 35px;
                        &:nth-child(n+10) { //## two character list items (1.10, 1.11 ...)
                            padding-left: 44px;
                        }
                        > ol { //## second under level (1.1.1)
                            &.context-list {
                                > li {
                                    padding-left: 49px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// + list (to unify list types)
.list {
    @include handling-long-words;
}
.list-line {
    .list_item {
        padding: 33px 25px 12px;
        border-bottom: 1px solid $gray60;
        .left {
            font-weight: 600;
        }
    }
}
.list_item {
    display: flex;
    justify-content: space-between;
    clear: both;
    // elements
    .left {
        padding-right: 15px;
    }
    .right {
        padding-left: 15px;
        text-align: right;
    }
}
// [Responsive]
@media #{$until-mobile} {
    .list-line {
        // elements
        .list_item {
            padding: 33px 0 8px;
            .left, .value, .right {
                margin-bottom: 5px;
            }
        }
    }
    .list_item {
        flex-direction: column;
        // elements
        .left, .right {
            padding: 0;
        }
        .right {
            text-align: left;
        }
    }
}
