// main: ../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  UI-ELEMENTS
// ****************************************
//
//  LOADERS
//
// ****************************************

.no-js .loader,
.no-js .page-loader { display: none;  }

@mixin loading($size,$color) {
    &::before {
        content:'';
        position: relative;
        display: inline-block;
        float: right;
        width: $size;
        height: $size;
        border-width: 5px;
        border-style: solid;
        border-color: $color;
        border-left-color: transparent;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .5s;
        animation: loadAnimation .87s linear infinite;
    }
}

.loader {
    @include overlay-style;
    z-index: $modal-zindex;
    position: absolute;
    opacity: 1;
    background: rgba(#fff,0.87);
}
.loading {
    @include loading(26px,$c-primary);
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: .9;
    transform: translate(-50%,-50%);
}
//## loading animation
@keyframes loadAnimation {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.page-loader {
    @include overlay-style;
    z-index: $modal-zindex;
    opacity: 1;
    background: rgba(#fff,0.8);
    .loading {
        @include loading(36px,$c-primary);
    }
}
