{#
    DOCUMENTATION
    segmentServiceTable = {
        VARIABLES
            "caption": 'string' // description table
            "toLabel": 'string' // literal
            "passenger": {
                "label": 'string' // literal
            },
            "baggage": {
                "label": 'string' // literal
            }
        MODIFIERS
    }
    EXAMPLE
    {% set "segmentServiceTable" = {
        "alertText": "Agrégalo ahora desde $7.990, es un 60% más barato que en el aeropuerto.",
        "toLabel": "a",
        "passenger": {
            "label": "Pasajero"
        },
        "baggage": {
            "label": "Equipaje"
        }
    } %}
    {% include "partials/components/IBE/services/services-baggage/_services_baggage-route.njk" %}
#}

<div class="service_segment">
    {% if segmentServiceTable.alertText | length %}
    <div class="service_segment_alert">
        {{segmentServiceTable.alertText}}
    </div>
    {% endif %}

    <table class="service_segment-table">
        <thead>
            <tr>
                <th><span class="hide-visually">{{ segmentServiceTable.passenger.label }}</span></th>
                <th><span class="hide-visually">{{ segmentServiceTable.baggage.label }}</span></th>
                {# validate isOWTrip #}
                {% if isOWTrip %}
                    {% set segmentSelector = segmentSelector.flights.slice(0, 1) %}
                {% else %}
                    {% set segmentSelector = segmentSelector.flights %}
                {% endif %}
                {% for route in segmentSelector %}
                    <th>
                        {# segment route #}
                        <div class="service_segment-table_route">
                            <span class="from">{{ route.fromCity }}</span>
                            <span class="icon"><span class="hide-visually">{{ segmentServiceTable.toLabel | default('to') }}</span></span>
                            <span class="to">{{ route.toCity }}</span>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for passanger in passengers %}
                {% set idx = loop.index0 %}
                {% for baggage in baggages %}
                    <tr data-tr="{{ idx }}">
                        {% if loop.index0 == 0 %}
                            <td rowspan="2" data-th="{{ segmentServiceTable.passenger.label }}">
                                {{ passanger.firstName }} {{ passanger.lastName }}
                            </td>
                        {% endif %}
                        <td class="baggage_legend" data-th="{{ segmentServiceTable.baggage.label }}">
                            {# baggage legend #}
                            {% if baggage.icon | length %}
                                <div class="baggage_legend_icon">
                                    <span class="icon icon-{{ baggage.icon }}"></span>
                                </div>
                            {% endif %}
                            <div class="baggage_legend_label">
                                {{ baggage.title }}
                            </div>
                        </td>
                        {# validate isOWTrip #}
                        {% if isOWTrip %}
                            {% set baggages = baggage.type.slice(0, 1) %}
                        {% else %}
                            {% set baggages = baggage.type %}
                        {% endif %}
                        {% for type in baggages %}
                            <td data-th="{{ segmentSelector[loop.index0].fromCity + ' ' + segmentServiceTable.toLabel | default('to') + ' ' + segmentSelector[loop.index0].toCity }}">
                                {% if type.price %}
                                    {# baggage checkbox #}
                                    {% set checkboxForm = {
                                        type: 'checkbox',
                                        label: SHARED.currency + ' ' + type.price,
                                        checked: true,
                                        id: 'checkbox-'+loop.index0+idx
                                    } %}
                                    {% include "partials/ui-elements/_checkbox.njk" %}
                                {% else %}
                                    {# baggage select #}
                                    {% set selectForm = {
                                        label: type.label,
                                        id: 'drop-4',
                                        options: [
                                            {
                                                name: type.size,
                                                id: 'select1'
                                            }
                                        ]
                                    } %}
                                    {% include "partials/ui-elements/_select.njk" %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
