<div class="service_segment">
    {% if isOW === true %}
        {% for baggageSegment in baggagesOW %}
        {% set counter = ( counter | default(0) ) + 1 %}
        <div class="service_segment_column" tabindex="0">
            {% include "partials/components/IBE/services/services-baggage/_services_baggage_legend.njk" %}
        </div>
        {% endfor %}
    {% else %}
        {% for baggageSegment in baggages %}
        {% set counter = ( counter | default(0) ) + 1 %}
        <div class="service_segment_column" tabindex="0">
            {% include "partials/components/IBE/services/services-baggage/_services_baggage_legend.njk" %}
        </div>
        {% endfor %}
    {% endif %}
</div>
