{% if isOW === false %}
<h4 class="service_segment_title">{{baggageSegment.title}}</h4>
{% endif %}
<div class="baggage_legend">
    {% for baggage in baggageSegment.type %}
        <div class="baggage_legend_item">
            <div class="baggage_legend_card">
                <div class="baggage_icon">
                    <span class="baggage_icon_label">
                        <strong>{{baggage.size}}</strong>{{SHARED.weightmeasure}}
                    </span>
                </div>
                <span class="price">
                    {{SHARED.currency}} {{baggage.price}}
                </span>
                <span class="label">
                    Online only
                </span>
                {% if baggage.promo %}
                    {% include "partials/ui-elements/_promo_label.njk" %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<p class="note-text">For U.S. flights your are limited to 1 piece only</span>

{# <div class="service_selection_collapse">
    <a class="collapsed"
        role="button"
        data-toggle="collapse"
        href="#baggageInfoCollapse{{counter}}"
        aria-expanded="false"
        aria-controls="baggageInfoCollapse{{counter}}">
        <span class="label">See passangers</span>
    </a>
</div> #}

<div class="service_selection">
    {% for passenger in passengers %}
    {% set counter = ( counter | default(0) ) + 1 %}
    <div class="service_selection_row">
        <div class="column label">
            {{passenger.firstName}} {{passenger.lastName}}
        </div>
        <div class="column selection">
            {% set numeric_updown = {
                id: 'baggageSize' + counter,
                value: '25 Kg',
                plus: 'disabled'
            } %}
            {% include "partials/ui-elements/_numeric-updown.njk" %}
        </div>
        <div class="column price">
            {{SHARED.currency}} <strong>229</strong>
        </div>
    </div>
    {% endfor %}
</div>
