// ********************
//  IBE COMPONENT
//
// ********************
//  DAY SELECTOR
// ********************
//
//  + States
//      selected, disabled, noflights, bestprice, soldout
//
// ********************

// $dayselector-slide-border: $gray60;
// $dayselector-slide-border-width: 2px;
$dayselector-text-color: #fff;
$dayselector-slide-background: saturate($c-primary,26);

// selected
$dayselector-slide-selected-color: #fff;
$dayselector-slide-selected-background: $c-color2;

// hover
$dayselector-text-hover: #fff;
$dayselector-slide-background-hover: tint($dayselector-slide-background, 26);

// noflights
$dayselector-slide-noflights-color: #fff;
$dayselector-slide-noflights-background: $gray65;

// exceeded
$dayselector-slide-exceeded-end-background: #fff;

// prev-next
$dayselector-arrows-size: 18px;
$dayselector-arrows-color: #fff;
$dayselector-arrows-color--hover: $dayselector-arrows-color;
$dayselector-arrows-background: #fff;

$dayselector-fontfamily: $f-title;

// $dayselector-week-fontsize: $f-size;
$dayselector-date-fontsize: $f-size;
// $dayselector-price-color: $c-text;
$dayselector-price-fontsize: $dayselector-date-fontsize - 2;
// $dayselector-price-color-hover: $dayselector-text-hover;
$dayselector-bestprice-color: $c-secondary;

$dayselector-layout-padding: 14px;
$dayselector-slider-height: 136px;
$dayselector-slider-height-mobile: 130px;

$slider-control-width: 30px;
$slider-control-btn-position: 0;

.dayselector {
    position: relative;
    margin: 0 -#{$gutter-sides};
    margin-bottom: 28px;
}
.dayselector_slider {
    @include clearfix;
    z-index: $weekslider-zindex;
    position: relative;
    width: 100%;
    height: $dayselector-slider-height-mobile;
    margin: 0;
    transition-duration: 0s;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    
    .slider {
        z-index: 2;
        display: flex;
        width: calc(100% - (#{$slider-control-width} * 2));
        height: 100%;
        margin: auto;
        overflow: hidden;
    }
    .slide {
        $days: 3;
        position: relative;
        flex: 0 0 auto;
        width: calc(100% / #{$days});
        min-width: 90px;
        max-width: 192px;
        height: 100%;
        padding: 0 4px;
        box-sizing: border-box;
        // &.disabled,
        // &.selected.disabled {}
        &.selected {
            .slide-item {
                color: $dayselector-slide-selected-color;
                background-color: $dayselector-slide-selected-background;
                background-image: linear-gradient(180deg, lighten($dayselector-slide-selected-background,26), #{$dayselector-slide-selected-background} 50%);
            }
        }
        &.noflights {
            .slide-item {
                @include iconfont($icon-novuelo, before);
                color: $dayselector-slide-noflights-color;
                padding-bottom: 26px;
                background-color: $dayselector-slide-noflights-background;
                background-image: linear-gradient(180deg, lighten($dayselector-slide-noflights-background,26), #{$dayselector-slide-noflights-background} 50%);
                cursor: default;
                &::before {
                    @include font-size(30px);
                    position: absolute;
                    top: 40px;
                    color: shade($dayselector-slide-noflights-background,36);
                }
            }
        }
        // &.bestprice {}
        // &.soldout {}
        &.exceeded {
            .slide-item {
                background-color: $dayselector-slide-background;
                background-image: linear-gradient(180deg, #{$dayselector-slide-exceeded-end-background}, tint($dayselector-slide-background,26) 20%, #{$dayselector-slide-background} 60%);
                &:hover {
                    background-color: $dayselector-slide-background;
                    background-image: linear-gradient(180deg, #{$dayselector-slide-exceeded-end-background}, tint($dayselector-slide-background-hover,26) 20%, #{$dayselector-slide-background-hover} 60%);
                }
            }
            &.selected {
                .slide-item {
                    color: $dayselector-slide-selected-color;
                    background-color: $dayselector-slide-selected-background;
                    background-image: linear-gradient(180deg, #{$dayselector-slide-exceeded-end-background}, lighten($dayselector-slide-selected-background,26) 20%, #{$dayselector-slide-selected-background} 60%);
                }
            }
        }
    }
    .slide-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        color: $dayselector-text-color;
        text-decoration: none;
        padding: 0 4px 10px;
        box-sizing: border-box;
        cursor: pointer;
        background-color: $dayselector-slide-background;
        background-image: linear-gradient(180deg, tint($dayselector-slide-background,26), #{$dayselector-slide-background} 50%);
        transition: all .06s linear;
        &:focus {
            @include accessibility-outline;
            outline-offset: -2px;
        }
        &:hover {
            color: $dayselector-text-hover;
            background-color: $dayselector-slide-background-hover;
            background-image: none;
        }
    }
    .slider_control_btn {
        @include font-size($dayselector-arrows-size);
        z-index: $weekslider-nav-zindex;
        position: absolute;
        bottom: 0;
        width: $slider-control-width;
        height: $slider-control-width;
        color: $dayselector-arrows-color;
        text-decoration: none;
        background: $c-secondary;
        cursor: pointer;
        &:hover {
            color: $dayselector-arrows-color--hover;
        }
        &:focus {
            @include accessibility-outline;
            outline-offset: -2px;
        }
        &.prev {
            @include iconfont($icon-arrow-left);
            left: 0;
        }
        &.next {
            @include iconfont($icon-arrow-right);
            right: 0;
        }
    }
}
.dayselector_date {
    @include font-size($dayselector-date-fontsize);
    position: relative;
    z-index: 2;
    display: block;
    .year,
    .month,
    .week,
    .date {
      line-height: 1.4;
    }
    .week,.date { display: block; }
    .date {
        font-weight: 700;
    }
}
.dayselector_price {
    @include font-size($dayselector-price-fontsize);
    z-index: 2;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    font-weight: 700;
    .currency,
    .price { white-space: nowrap; }
}


// [Responsive]
@media #{$mobile} { // >=640px
    .dayselector {
        margin-right: 0;
        margin-left: 0;
    }
    .dayselector_slider {
        height: $dayselector-slider-height;
        .slider {
            height: $dayselector-slider-height;
        }
        .slide {
            $days: 5;
            width: calc(100% / #{$days});
        }
        .slider_control_btn {
            &.prev {
                left: $slider-control-btn-position;
            }
            &.next {
                right: $slider-control-btn-position;
            }
        }
    }
}
@media #{$tablet-landscape} { // >=992px
    .dayselector_slider {
        .slide {
            $days: 10;
            width: calc(100% / #{$days});
        }
    }
}