// ********************
//  IBE COMPONENT
//
// ********************
//  PRICE SELECTOR
// ********************
//
// ********************

$priceselector-slider-height: 170px;
$priceselector-slide-height: 60px;

.priceselector {
    .dayselector_slider {
        height: $priceselector-slider-height;
        .slider {
            height: $priceselector-slider-height;
            align-items: flex-end;
        }
        .slide {
            @keyframes animateBars {
                0% {
                  height: 0;
                  opacity: 1;
                  overflow: hidden;
                }
                100% {
                    overflow: visible;
                    opacity: 1;
                }
            }
            height: $priceselector-slide-height;
            opacity: 0;
            animation: .8s ease animateBars forwards;
            animation-delay: 1s;
            animation-iteration-count: 1;
            &.exceeded,
            &.noflights {
                height: 100%;
            }


            // DELETE AFTER MATH
            &:nth-child(3) {
                height: 132px;
            }
            &:nth-child(4) {
                height: 72px;
            }
            &:nth-child(7),
            &:nth-child(2) {
                height: 100px;
            }
        }
    }

    @media #{$mobile} { // >=640px
        // .dayselector_slider {
        //     height: $priceselector-slider-height;
        // }
    }
}
