@import '../../fonts/icons/style.scss';
@import '../variables';

$md-title-color: $c-color1;
$md-link-color: $c-primary;
$md-nav-background: $c-primary;
$md-nav-trigger-background: $md-nav-background;

.nsux_list_item_title {
    color: $md-title-color;
}
.nsux_list_links { 
    li a {
        color: $md-link-color;
    }
}
.nsux_nav_trigger,
.nsux_nav {
    background-color: $md-nav-background;
}

.nsux_nav_trigger {
    color: #fff;
}
.demo {
    // modifiers
    &.primary {
        color: #fff;
        background-color: $c-primary;
    }
    &.secondary {
        color: #fff;
        background-color: $c-secondary;
    }
}
.demo_page_title {
    &::after {
        background-color: $c-primary;
    }
}

.md-color-primary {
    background-color: $c-primary;
}
.md-color-secondary {
    background-color: $c-secondary;
}
.md-color-primary-dark {
    background-color: $c-primary-dark;
}
.md-color-secondary-dark {
    background-color: $c-secondary-dark;
}
.md-color1 {
    background-color: $c-color1;
}
.md-color2 {
    background-color: $c-color2;
}
.md-color3 {
    background-color: $c-color3;
}

.md-color-fare1 {
    background-color: $c-fare1;
}
.md-color-fare2 {
    background-color: $c-fare2;
}
.md-color-fare3 {
    background-color: $c-fare3;
}
.md-color-error {
    background-color: $c-error;
}
@media #{$until-tablet-portrait} {
    .nsux_nav {
        z-index: 100;
    }
}