{% set bodyClass = "ibe-page check-in-detail-page" %}
{# {% set layout = 'agency' %} #}

{% extends "layouts/_layout.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set BFstep1 = true %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-wrap">
   

    {# BOOKING STEPS #}
    {% include "partials/components/IBE/_booking-steps.njk" %}

    <!-- GUEST DETAILS -->
    {% set page_title = {
        text: 'Información de pasajero',
        type: 'h1',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}

    <!-- PASSENGERS DATA -->
    {% set formRequiredText = "" %}
    {% set passengers = passengersData.passengers.slice(0,1) %}   
    
    {% set onlyAdulto = true %}
    {% set passengerData = {
        type: 'guest details'
    } %}
    {% set formElements = {        
        elements: [
            {
                elementsGroup: [     
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de Nacimiento',
                            id: 'drop-3',
                            options: [
                                {
                                    name: '21',
                                    id: 'dd'
                                },
                                {
                                    name: '05',
                                    id: 'mm'
                                },
                                {
                                    name: '1989',
                                    id: 'yyyy'
                                }
                            ]
                        }
                    },     
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Tipo de Documento*',
                            id: 'drop-1',
                            options: [
                                {
                                    name: 'Pasaporte',
                                    id: 'select1'
                                }
                            ]    
                        }
                    },              
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nr. Documento*',            
                            value: "46789876R"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'País de emisión*',
                            id: 'drop-2',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: 'select1'
                                }
                            ]    
                        }
                    }                        
                ]
            },
            {
                elementsGroup: [
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Fecha de Nacimiento',
                            id: 'drop-3',
                            options: [
                                {
                                    name: '11',
                                    id: 'dd'
                                },
                                {
                                    name: '11',
                                    id: 'mm'
                                },
                                {
                                    name: '1977',
                                    id: 'yyyy'
                                }
                            ]
                        }
                    },     
                    {
                        type: 'selectForm',
                        element: {
                            label: 'Tipo de Documento*',
                            id: 'drop-3',
                            options: [
                                {
                                    name: 'Pasaporte',
                                    id: 'select1'
                                }
                            ]    
                        }
                    },              
                    {
                        type: 'inputForm',
                        element: {
                            label: 'Nr. Documento*',            
                            value: "46789876R"
                        }
                    },
                    {
                        type: 'selectForm',
                        element: {
                            label: 'País de emisión*',
                            id: 'drop-4',
                            options: [
                                {
                                    name: 'Andorra',
                                    id: 'select1'
                                }
                            ]    
                        }
                    }                        
                ]
            }           
        ]
    } %}
    {% include "partials/components/IBE/_passenger_data.njk" %}
   

    {# CONDITIONS CHECKBOX #}
    {% set checkboxForm = {
        type: 'checkbox',
        label: 'I Declare that all the information provided is true to the best of my knowledge.',
        id: 'checkbox-1'
    } %}
    {% include "partials/ui-elements/_checkbox.njk" %}     

    <!-- PAGE BUTTONS -->
    {% set summary = {
        isEmptySummary: true
    } %}
    {% set pageButtons = {
        actionButtonLabel: 'Continuar',
        actionButtonUrl: 'BF-MMB_home.html',
        secondaryButtonLabel: 'Cancelar',
        secondaryButtonUrl: ''
    } %}
    {% include "partials/components/_page_buttons.njk" %}
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
