{% set bodyClass = "ibe-page" %}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <!-- MMB TITLE AND SUMMARY -->
    {% set mmbSummary = true %}
    {% set topbar = {
        isTopTitleBar: true,
        title: 'Manage my booking'
    } %}
    {% set summary = { nextButtonUrl: 'BF-payment.html' } %}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {% set page_title = {
        text: 'Change Flight',
        type: 'h3',
        class: 'h1'
    } %}
    {% include "partials/components/_page_title.njk" %}
    <p class="intro">
        If your new flight departs in the next four days, your current meal selection will be forfeited.
        <br />We will be unable to allocate your current seats to your new flights. Previous seat selection fees are also nonrefundable.
        <br />Your new flight dates may not match the dates of your insurance policy. Please contact your insurance provider.
    </p>

    <div class="mmb_change-flight is-open">
        {% set changeFlight = true %}
        {% set inputReadonly = true %}
        {% set firstCombineFieldAccent = true %}
        {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
        <hr class="separator-section" />

        {% for journey in journeys %}
        <div class="tripselector_{{journey.class}}">
            {% include "partials/components/IBE/flight-select/_trip_selector_header.njk" %}

            {% include "partials/components/IBE/dayselector/_week_selector.njk" %}
            {% include "partials/components/IBE/flight-select/_trip_selector.njk" %}
        </div>
        {% endfor %}
    </div>


    {% set summary = {
        isEmptySummary: false,
        nextButtonUrl: 'BF-payment.html'
    } %}
    {% set mmbSummary = false %}
    {% set pageButtons = {
        secondaryButtonLabel: 'Cancel',
        secondaryButtonUrl: 'BF-MMB_home.html',
        actionButtonLabel: 'Apply change',
        actionButtonUrl: 'BF-payment.html'
    } %}
    {% include "partials/components/_page_buttons.njk" %}

    <p class="footnote">
        *The amounts shown exclude fees and taxes which are added in the Booking Summary.
        <br />NOTE: For a comprehensive guide on fares, please click here. For information regarding baggage allowance, please click here. Baggage fees may apply. Your booking total may have changed based on selections made. Review your booking in the Booking Summary, otherwise click the Next button.
        <br />Please refer to our Conditions of Carriage for the terms and conditions of your ticket purchased.
    </p>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
