{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "ibe-page payment-page" %}
{% set BFstep3 = true %}
{% set page_title = {
    text: 'Pago',
    type: 'h1',
    class: 'h1'
} %}
{% set pageButtons = {
    actionButtonLabel: 'Comprar',
    actionButtonUrl: 'BF-payment_confirmation.html'
} %}

{# when summary is in right #}
{% set isSummaryAside = true %}
{# ----------------------------------------- #}

{% extends "layouts/_layout.njk" %}

{% block content %}
<div class="container-fluid">
    {# SEARCH RESULT AND SUMMARY #}
    {% include "partials/components/_combined_summary_bar.njk" %}

    {# NEW SEARCH #}
    <div class="newsearch_collapse collapse" id="collapseNewSearch">
        {% include "partials/components/IBE/newsearch/_newsearch.njk" %}
    </div>
</div>

<div class="container-wrap">
    <div class="grid-noBottom">
        <div class="grid-col">
            {# BOOKING STEPS #}
            {% include "partials/components/IBE/_booking-steps.njk" %}
        </div>
    </div>
    <div class="grid grid-noBottom">
        <div class="grid-col col-12 col-md-6 col-xl-8">
            

            {# PAYMENT #}
            <div class="payment">
                {# PAGE TITLE #}
                {% include "partials/components/_page_title.njk" %}

                {# PAYMENT DATA #}
                {% set payment = {
                    hasPartials: false,
                    simpleSummary: false,
                    hasPaymentPolices: false,
                    hasAgencyPaymentMethods: true
                } %}
                
                {# PAYMENT METHODS DATA #}
                {% set paymentMethod = {
                    mainTitle: [{
                        text: '',
                        type: 'h3'
                    }]
                } %}

                {# CREDIT CARD FORM DATA #}
                {% include "partials/components/IBE/payment/_payment.njk" %}        
            </div>

            {# PAGE ACTIONS BUTTONS #}
            {% include "partials/components/_page_buttons.njk" %}
        </div>
        <div class="grid-col col-12 col-md-6 col-xl-4">
            <div class="summary-aside">
                {% include "partials/components/IBE/summary/_summary.njk" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
<script>
    var paymentData = {
        paymentMethods: $('.payment_methods_cc-type .ui-checkbox input'),
        paymentMethodsContent: $('.payment_methods_content')
    }
    // Add class when you choose a Credit card
    function paymentMethodActive() {
        paymentData.paymentMethods.click(function() {
            paymentData.paymentMethodsContent.removeClass('cc-type_VI cc-type_AE');
            if($(this).is(':checked')) 
            {
                if($(this).attr('id') == 'credit_card_type_VI') { // Credit card Visa
                    paymentData.paymentMethodsContent.addClass('cc-type_VI');
                }
                if($(this).attr('id') == 'credit_card_type_MC') { // Credit card MasterCard
                    paymentData.paymentMethodsContent.addClass('cc-type_AE');
                }
            }
        });
    }
    $(document).ready(function () {
        paymentMethodActive();
        function resetSummary() {
            var W = $(window).width();
            if (W >= 768) {
                $('body').removeClass('summary-opened overlay-in');
            }
        }
        resetSummary();

        $(window).on('resize',function(){
            resetSummary();
        });
    });
</script>
{% endblock %}
