{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Paragraphs',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                                
        </div>
    </div>                            
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">            
            <p class="context-footnote">
                (*) Online Check-in is available for flights departing Hong Kong (except to Saipan), Japan, Thailand, Korea, Taiwan, Vietnam and Cambodia, between 75 minutes and 48 hours prior to departure. It is not available for bookings with infants and Guests that require assistance.
                <br><br>(^) Guests departing from Seoul, Busan, Jeju, Nha Trang, Danang, Hualien and Siem Reap must visit the check-in counter for travel document verification and to obtain a printed boarding pass before proceeding to immigration.
            </p>
            <p class="context-date">Hong Kong, 6 February, 2018</p>
            <blockquote class="context-quote">
                In January, AirlineRatings.com ranked HK Express among the Top 10 Safest Low-Cost Carriers in the world for the third year running.
            </blockquote>
            <div class="context_table_title">
                <h4 class="title">Booking via hkexpress.com or on mobile app</h4>
            </div>
        </div>
    </div>                 
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                                            
&lt;p class="context-footnote"&gt;
    (*) Online Check-in is available for flights departing Hong Kong (except to Saipan), Japan, Thailand, Korea, Taiwan, Vietnam and Cambodia, between 75 minutes and 48 hours prior to departure. It is not available for bookings with infants and Guests that require assistance.
    &lt;br&gt;&lt;br&gt;(^) Guests departing from Seoul, Busan, Jeju, Nha Trang, Danang, Hualien and Siem Reap must visit the check-in counter for travel document verification and to obtain a printed boarding pass before proceeding to immigration.
&lt;/p&gt;
&lt;p class="context-date"&gt;Hong Kong, 6 February, 2018&lt;/p&gt;
&lt;blockquote class="context-quote"&gt;
    In January, AirlineRatings.com ranked HK Express among the Top 10 Safest Low-Cost Carriers in the world for the third year running.
&lt;/blockquote&gt;
&lt;div class="context_table_title"&gt;
    &lt;h4 class="title"&gt;Booking via hkexpress.com or on mobile app&lt;/h4&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
