{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="col demo_page_title">
            {% set page_title = {
                text: 'Breadcrumbs',
                type: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    
    <div class="grid">
        <div class="grid-col col-12">
            {% set breadcrumbsList = [
                {
                    item: 'About us',
                    url: '#'
                }
            ] %}
             <!-- START Normal breadcrumb -->
            {% set breadcrumb = {
                itemCurrent: 'Media Centre'
            } %}
            {% include "partials/corporative/_breadcrumb.njk" %}
            <!-- END Normal breadcrumb -->

            <!-- START Dropdown breadcrumb example -->
            {% set breadcrumb = {
                itemCurrent: 'Media Centre',
                hasDropdown: true
            } %}
            {% include "partials/corporative/_breadcrumb.njk" %}
            <!-- END Dropdown breadcrumb example -->                           
        </div>
    </div>                            
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
