{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Sign in',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}                         
        </div>
    </div>                            
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="col">    
            {% set login_form = {
                input1Label: 'E-mail',
                input2Label: 'Password',
                typeInput1: 'email',
                typeInput2: 'password',
                isAline: false,
                buttonText: 'Sign in',
                buttonUrl: 'index.html',
                isVertical: false,
                isSignIn: true,
                hasTooltips: false,
                forgotPassword: true,
                hasGetText: true,
                getTextInfoBottom: 'Not a member?',
                getTextLinkBottom: 'Sign up now'
            } %}        
            {% include "partials/components/_shared/socialmedia/_socialmedia-login.njk" %}

            {% include "partials/components/_shared/forms/_login-form.njk" %}
        </div>
    </div>                 
</div>
{% set socialmedias = [
    {
        name: 'facebook',
        url: '#'
    },
    {
        name: 'wechat',
        url: '#'
    },
    {
        name: 'line',
        url: '#'
    }
]
%}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">                    
{% include "partials/_md/_md-codes/_md_sign-in.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>        
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
