{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

    <h1 class="demo_page_title">
        Component: <span>Footer</span>
    </h1>

    <div class="component-demo-container">
        <div class="component-demo-section">
            {% include "partials/layout/footer/_footer.njk" %}
        </div>

        <div class="field-code-section" style="margin-top: 24px;">
            <div class="code-panel">
                {% include "partials/_md/_md-codes/_md_footer.njk" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block component_jquery %}
<script>
    $(document).ready(function () {
        $('.summary').css('position','relative');
    });
</script>
{% endblock %}
