{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: 'Colors',
                type: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-colors">
                <h3>Identity colors</h3>
                <div class="md-color_square_container">
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-primary"></div>
                        <div class="md-color_square_label">
                            Primary
                            <strong>#0b3e36</strong>
                        </div>
                    </div>
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-primary-dark"></div>
                        <div class="md-color_square_label">
                            Primary (darker)
                            <strong>#203330</strong>
                        </div>
                    </div>

                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-secondary"></div>
                        <div class="md-color_square_label">
                            Secondary
                            <strong>#00dd99</strong>
                        </div>
                    </div>
                    {# <div class="md-color_square_item">
                        <div class="md-color_square md-color-secondary-dark"></div>
                        <div class="md-color_square_label">
                            Secondary (darker)
                            <strong>#00dd99</strong>
                        </div>
                    </div> #}

                    <div class="md-color_square_item">
                        <div class="md-color_square md-color1"></div>
                        <div class="md-color_square_label">
                            Color 1
                            <strong>#e0a800</strong>
                        </div>
                    </div>
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color2"></div>
                        <div class="md-color_square_label">
                            Color 2
                            <strong>#8d9994</strong>
                        </div>
                    </div>
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color3"></div>
                        <div class="md-color_square_label">
                            Color 3
                            <strong>#c6ccc9</strong>
                        </div>
                    </div>
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color4"></div>
                        <div class="md-color_square_label">
                            Color 4
                            <strong>#f5f4f3</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-demo-section-colors">
                <h3>Fares colors</h3>
                <div class="md-color_square_container">
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-fare1"></div>
                        <div class="md-color_square_label">
                            Color Fare 1
                            <strong>#7e22b5</strong>
                        </div>
                    </div>
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-fare2"></div>
                        <div class="md-color_square_label">
                            Color Fare 2
                            <strong>#f7cd00</strong>
                        </div>
                    </div>
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-fare3"></div>
                        <div class="md-color_square_label">
                            Color Fare 3
                            <strong>#ff0293</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-demo-section-colors">
                <h3>States colors</h3>
                <div class="md-color_square_container">
                    <div class="md-color_square_item">
                        <div class="md-color_square md-color-error"></div>
                        <div class="md-color_square_label">
                            Color error
                            <strong>#b30000</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
