{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Image',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Flex',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="context-images">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 1200px)" />
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 1025px)" />
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 640px)" />
                            <source srcset="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" media="(min-width: 481px)" />
                            <img class="context-image" src="https://images.keizai.biz/airportnewsen/headline/1379478667_photo.jpg" alt="">
                        </picture>
                    </div>
                    <div class="column">
                        <picture>
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 1200px)" />
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 1025px)" />
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 640px)" />
                            <source srcset="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" media="(min-width: 481px)" />
                            <img class="context-image" src="http://www.anna.aero/wp-content/gallery/npcn-fly-alliance/fly-alliance1.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <p class="context-footnote">
                    Photo caption: Commercial Director Jonathan Hutt and Operations Director, Simon Wu appeared at the boarding gate to distribute souvenir to every guest on board.
                </p>
            </div>
            <div class="code-panel">
                <pre>
                    <code class="html">
{% include "partials/_md/_md-codes/_md_image.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: 'Basic default',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
            <p>Combine with grid <a href="COMP-grid.html">system to necesary</a> layout.</p>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 col-md-2">
            <div class="context-images default">
                <div class="context-images_grid ">
                    <div class="column">
                        <a href="">
                            <picture>
                                <img class="context-image" src="https://www.hkexpress.com/sites/default/files/images/google-play-badge.png" alt="">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-col col-12 col-md-2">
            <div class="context-images default">
                <div class="context-images_grid ">
                    <div class="column">
                        <a href="">
                            <picture>
                                <img class="context-image" src="https://www.hkexpress.com/sites/default/files/images/US-UK_563x167.png" alt="">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12 col-md-2">
            <div class="context-images default">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <img class="context-image" src="https://www.hkexpress.com/sites/default/files/images/HKE-iOS-appstore.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-col col-12 col-md-2">
            <div class="context-images default">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <img class="context-image" src="https://www.hkexpress.com/sites/default/files/images/HKE-Android-googleplay.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <div class="code-panel">
                <pre>
                    <code class="html">
{% include "partials/_md/_md-codes/_md_image-default.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
