{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1. Offers',
                class: 'h1',
                type: 'h2'
            } %}
            {% include "partials/components/_page_title.njk" %}
            {% set page_title = {
                text: '1.1 Advertisement offer (deals)',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        {% set offer =
            {
                isOfferDeal: true,
                image: 'offers/discount-activity-tickets.jpg',
                imageBrandLight: 'agoda_logo-white.svg',
                imageBrand: 'agoda_logo-color.svg',
                caption: 'Selected hotels up to 75% off. Book now!'
            }
        %}
        <div class="grid-col col-12 col-xs-6 col-md-3">
            {% include "partials/components/_offers_item.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set offer = {
                        isOfferDeal: true,
                        image: 'offers/discount-activity-tickets.jpg',
                        imageBrandLight: 'agoda_logo-white.svg',
                        imageBrand: 'agoda_logo-color.svg',
                        caption: 'Selected hotels up to 75% off. Book now!'
                    }%}
{% include "partials/_md/_md-codes/_md_main-offers.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.2 Destination guide offer',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        {% set destinationsOffer =
            {
                destinationGuide: true,
                text: "Chiang Mai",
                url: 'CORP-destination_guides_city.html',
                img: 'kumming'
            }
        %}
        <div class="grid-col col-12 col-sm-6 col-md-4">
            {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set destinationsOffer =
                        {
                            destinationGuide: true,
                            text: "Chiang Mai",
                            url: 'CORP-destination_guides_city.html',
                            img: 'kumming'
                        }
                    %}
                    {% set isDestinationOffer = true %}
{% include "partials/_md/_md-codes/_md_main-offers.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.3 Destination guide equals col',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        {% set destinationsOffer = {
            destinationGuide: true,
            text: "Tokyo",
            img: 'hiroshima',
            url: 'CORP-destination_guides_city.html',
            equalsCol: true
        }%}
        <div class="grid-col col-4 grid-column">
            {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set destinationsOffer = {
                        destinationGuide: true,
                        text: "Tokyo",
                        img: 'hiroshima',
                        url: 'CORP-destination_guides_city.html',
                        equalsCol: true
                    }%}
                    {% set isDestinationOffer = true %}
{% include "partials/_md/_md-codes/_md_main-offers.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.4 offer home',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>
{% set destinationsOffer = {
    isDestinationOffer: true,
    isDestinationOfferMain: false,
    text: "Kunming",
    price: 328,
    img: 'kumming',
    isDescription: true
}%}
<div class="container-wrap">
    <div class="grid">
        {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set isDestinationOffer = true %}
{% include "partials/_md/_md-codes/_md_main-offers.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {% set page_title = {
                text: '1.5 offer main home',
                class: 'h2',
                type: 'h3'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
</div>
{% set destinationsOffer = {
    isDestinationOffer: true,
    isDestinationOfferMain: true,
    text: "Kunming",
    price: 328,
    img: 'kumming',
    isDescription: true
}%}
<div class="container-wrap">
    <div class="grid">
        {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="code-panel">
                <pre>
                    <code class="html">
                    {% set isDestinationOffer = true %}
{% include "partials/_md/_md-codes/_md_main-offers.njk" %}
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block component_jquery %}
{% endblock %}
