{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "fixed-header" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{% set breadcrumbsList = [
    {
        item: 'Prensa',
        url: '#'
    }
] %}
{% set breadcrumb = {
    itemCurrent: 'Playa, comercio y desierto en solo dos horas'
} %}
{# ----------------------------------------- #}


{% block content %}
<div class="container-wrap">
    {# BREADCRUMB #}
    {% include "partials/corporative/_breadcrumb.njk" %}

    {% set newsDetail = {
        title: {
            text: 'Jambojet considered best low-cost carrier for Kenya in the World Airlines Awards'
        },
        subtitle: {
            text: 'Subtitle example'
        },
        author: {
            name: 'John Doe'
        },
        date: {
            week: 'Wednesday,',
            day: '12',
            month: 'feb',
            year: '2019'
        }
    } %}
    {% include "partials/corporative/_news-detail.njk" %}
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
