{% extends "layouts/_layout-corporative.njk" %}

{# ----------------------------------------- #}
{# PAGE VARIABLES #}
{% set bodyClass = "standby-page" %}
{% set layout = {
    footer: 'mainfooter',
    header: 'hasNav'
} %}
{% set mainHeader = {
    navPrimary: {
        show: false
    },
    navSecondary: {
      links: [
        {
          label: "ES",
          url: "#",
          dropdownList: [
            {
              title: "Español (ES)",
              url: "#"
            },
            {
              title: "English (En)",
              url: "#"
            },
            {
              title: "Francais (FR)",
              url: "#"
            }
          ]
        }
      ]
    }
} %}
{% set mainFooter = {
    logo: {
        isNegative: true
    },
    nav: {
        show: false
    },
    flyPrograms: {
        show: false
    },
    newsletter: {
        show: false
    },
    bottom: {
        languageBar: {
            show: false
        }
    }
} %}
{# ----------------------------------------- #}

{% block content %}
<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {# MULTIPANEL #}
            {# {% include "partials/corporative/_multiple-panel.njk" %} #}

            {# MAIN FULL BANNER #}
            {% set banner = {
                items: [
                    {
                        bg: 'banner-rio-muni',
                        title: 'Por favor abroche su cinturón...<br>estamos a punto de despegar!',
                        isActive: true,
                        alignCenter: true
                    }
                ]
            } %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            <div class="standby_message text-center text-primary">
                <p class="">Newshore Intercontinental S.A, es la compañía Aérea de bandera de Guinea Ecuatorial. Se creó en el año 2007 con el objetivo de facilitar a la población ecuatoguineana el libre desplazamiento a nivel nacional con un medio de transportes aéreos seguros, cómodos, puntuales, con alta calidad  y tecnología al alcance de toda la población.</p>
                <p>La Compañía ha estado a la vanguardia por el dinamismo  y el trabajo  duro realizado, empezando con una pequeña flota de aparatos ATR que inicialmente operaban en los vuelos domésticos, a día de hoy CEIBA INTERCONTINENTAL ha sido símbolo de expansión  y crecimiento en Guinea Ecuatorial, con un aumento  considerable de flota y rutas.</p>
                <p>Prueba de ello es que actualmente la Compañía  cuenta con 9 aparatos (4 ATR y 5 Boeing), mas de 14 destinos operativos dentro del continente africano (incluyendo 4 escalas nacionales) que abarcan prácticamente toda la subregión y además a nivel Intercontinental se creó la destinación europea en España, mediante la ruta Malabo- Madrid.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {# DEALS / OFFERS #}
            {% set mainOffers = {
                gridCols: "grid-col col-12 col-xs-4",
                offers: [
                    {
                        isOfferDeal: true,
                        icon: "phone",
                        caption: "Call Center:<br>999 999 999",
                        buttonUrl: ""
                    },
                    {
                        isOfferDeal: true,
                        icon: "email",
                        caption: 'email<br><a href="mailto:test@newshore.com">test@newshore.com</a>',
                        buttonUrl: ""
                    },
                    {
                        isOfferDeal: true,
                        icon: "pin",
                        caption: "Dirección<br>Naser President, GUINEA ECUATORIAL…",
                        buttonUrl: ""
                    }
                ]
            } %}
            {% include "partials/corporative/_main-offers.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12">
            {# DESTINATIONS OFFERS #}
            {% include "partials/corporative/destinations-offers/_destinations-offers.njk" %}
        </div>
    </div>

    {# NEWSLETTER #}
    {# <div class="grid">
        <div class="grid-col col-12">
            {% set inputHasLabel = false %}
            {% include "partials/components/_shared/_newsletter.njk" %}
        </div>
    </div> #}
</div>
{% endblock %}

{% block component_jquery %}{% endblock %}
