{% set bodyClass = "fixed-header" %}

{% extends "layouts/_layout-corporative.njk" %}

{% block content %}

<!-- ARTICLE CONTENT: ROW1 -->
<div class="container-wrap">
    <!-- BREADCRUMB -->
    {% set breadcrumbsList = [
        {
            item: 'Plan',
            url: '#'
        },
        {
            item: 'Destination Guides',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Chiang Mai',
        hasDropdown: true
    } %}
    {% include "partials/corporative/_breadcrumb.njk" %}
</div>

<div class="container-fluid">
    <div class="grid">
        <div class="grid-col col-12">
            {% set banner = {
                items: [
                    {
                        bg: 'banner_destination',
                        isActive: true
                    },
                    {
                        bg: 'banner_app',
                        isActive: false
                    }
                ]
            } %}
          {% set isBannerInnerPage = true %}
          {% include "partials/corporative/_main-banner.njk" %}
        </div>
    </div>
</div>

<div class="container-wrap">
    <!-- MULTIPLE SEARCH -->
    <div class="grid grid-noGutter">
        <div class="grid-col col-12">
            <div class="search-panel">
                <div class="multiple-panel_content">
                    <div class="multiple-panel_item show">
                        <button class="multiple-panel_collapse_trigger"
                            aria-expanded="true">
                            <span class="icon icon-airplane-flight"></span>
                            Book a trip
                        </button>
                        <div class="multiple-panel_item_content">
                            {% include "partials/components/IBE/flight-search/_flight-search.njk" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-col col-12">
            <h2 class="context-h2">Information & Flights</h2>
            <p>
                Chiang Mai is the regional centre of northern Thailand and capital of the similarly named province. International tourists are attracted to this idyllic destination for its peaceful, laid back style and tropical setting. Surrounded by mountains and lush rainforest, Chiang Mai’s natural surroundings are ripe for exploration. The city itself is filled with historic and architecturally significant shrines and temples while park lands and lovely water-side pathways along the Ping River and historic moat make this a welcoming place where visitors can immerse themselves in the welcoming Thai culture.
            </p>
            <p>
                Chiang Mai is located approximately 700 kilometres north of Bangkok. Built in the late 1200’s, the old city is surrounded by a moat. Covering an historically rich area of 1.5 square kilometres, this interesting section of city contains intact portions of the ancient walls and structures from hundreds of years ago, including the imposing bastions on each of the moat’s four corners. The new city is considered to be outside of these walls and contains many historic sites along with the shopping and entertainment districts. Chiang Mai is also famous for its food and excellent restaurants serve up the best in traditional foods and international cuisine.
            </p>
            <p>
                Fares to Chiang Mai, Thailand listed below are for reference only. To view live fares please visit our booking engine here.
            </p>
            <h2 class="context-h2">Cheap Flights to Chiang Mai</h2>
        </div>
    </div>
     <!-- Panel group -->
    <div class="grid">
        <div class="grid-col col-12">
            <div class="ui-accordion" id="accordionGroup">
                <div class="ui-accordion_header" role="heading" id="heading1">
                    <button class="ui-accordion_trigger"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse1id"
                        aria-expanded="true"
                        aria-controls="collapse1id">
                        <span class="ui-accordion_trigger_title">District</span>
                    </button>
                </div>
                <div id="collapse1id" class="collapse show" role="region" aria-labelledby="heading1">
                    <div class="ui-accordion_body">
                        <p>
                            There is so much to do in Chiang Mai that you can choose how adventurous you’d like to be.  Take a leisurely strolls through inviting
                        </p>
                        <h4 class="context-h3">Old Town</h4>
                        <p>
                            This historic 1.5 square kilometre section of Chiang Mai is the city’s historic epicentre. Surrounded by its original 700 year moat and intricately built stone wall, Old Town is a delightfully inviting area for a leisurely stroll. Its ancient streets, traditional bazaars and ornate temples are a step back in time.
                        </p>
                        <h5 class="context-h3">Night Bazaar</h5>
                        <p>
                            To the east of Old Town and just blocks away is the city’s Night Bazaar area, an expansive market area filled with jewellery, clothing and many other Thai designed products. Predominantly a market place for tourists, these markets are a great place to find the perfect souvenir or remembrance.
                        </p>
                    </div>
                </div>

                <div class="ui-accordion_header" role="heading" id="heading2">
                    <button class="ui-accordion_trigger collapsed"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse2id"
                        aria-expanded="false"
                        aria-controls="collapse2id">
                        <span class="ui-accordion_trigger_title">Things to do</span>
                    </button>
                </div>
                <div id="collapse2id" class="collapse" role="region" aria-labelledby="heading2">
                    <div class="ui-accordion_body">
                        <p>
                            There is so much to do in Chiang Mai that you can choose how adventurous you’d like to be.  Take a leisurely strolls through inviting
                        </p>
                        <h4 class="context-h3">Old Town</h4>
                        <p>
                            This historic 1.5 square kilometre section of Chiang Mai is the city’s historic epicentre. Surrounded by its original 700 year moat and intricately built stone wall, Old Town is a delightfully inviting area for a leisurely stroll. Its ancient streets, traditional bazaars and ornate temples are a step back in time.
                        </p>
                        <h5 class="context-h3">Night Bazaar</h5>
                        <p>
                            To the east of Old Town and just blocks away is the city’s Night Bazaar area, an expansive market area filled with jewellery, clothing and many other Thai designed products. Predominantly a market place for tourists, these markets are a great place to find the perfect souvenir or remembrance.
                        </p>
                    </div>
                </div>

                <div class="ui-accordion_header" role="heading" id="heading3">
                    <button class="ui-accordion_trigger collapsed"
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse3id"
                        aria-expanded="false"
                        aria-controls="collapse3id">
                        <span class="ui-accordion_trigger_title">Accommodation</span>
                    </button>
                </div>
                <div id="collapse3id" class="collapse" role="region" aria-labelledby="heading3">
                    <div class="ui-accordion_body">
                        <p>
                            There is so much to do in Chiang Mai that you can choose how adventurous you’d like to be.  Take a leisurely strolls through inviting
                        </p>
                        <h4 class="context-h3">Old Town</h4>
                        <p>
                            This historic 1.5 square kilometre section of Chiang Mai is the city’s historic epicentre. Surrounded by its original 700 year moat and intricately built stone wall, Old Town is a delightfully inviting area for a leisurely stroll. Its ancient streets, traditional bazaars and ornate temples are a step back in time.
                        </p>
                        <h5 class="context-h3">Night Bazaar</h5>
                        <p>
                            To the east of Old Town and just blocks away is the city’s Night Bazaar area, an expansive market area filled with jewellery, clothing and many other Thai designed products. Predominantly a market place for tourists, these markets are a great place to find the perfect souvenir or remembrance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="context-images">
                <div class="context-images_grid">
                    <div class="column">
                        <picture>
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 1200px)" />
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 1025px)" />
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 640px)" />
                            <source srcset="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" media="(min-width: 481px)" />
                            <img src="https://xplanereviews.com/uploads/monthly_2017_01/58743b274f4c5_HKexpress.jpg.249f9f6240cd10ad56966c30ba1fbc1a.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
