{% extends "layouts/_pdf-layout.njk" %}

{% block content %}
    <!-- FIRST ROW -->
    <table>
        <tr>
            <td>
                <h2>Boarding Pass 登機證</h2>
                <p class="pax-name">
                    MS Adela Zuluaga
                </p>
            </td>
            <td class="middle">
                <h3>reward-­U Number</h3>
            </td>
            <td>
                <div class="codebar_container">
                    {% set image = {
                        name: 'barcode'
                    } %}
                    {% include '../views/pdf/components/image.njk' %}
                </div>
            </td>
        </tr>
    </table>

    <!-- 3X3 -->
    {% set itemsTable = {
        tableClases: [
            'items-bordered'
        ],
        type: 'info-item',
        columns: 3,
        hasHorizontalAlignItems: true,
        items: [
            {
                values: [
                    {
                        label: 'Flight 航班',
                        text:  'UO1687',
                        hasBigText: true
                    },
                    {
                        label: 'Gate 登機閘口',
                        hasBigText: true
                    },
                    {
                        label: 'Seat 座位',
                        text:  '2B',
                        hasBigText: true
                    }
                ]
            },
            {
                values: [
                    {
                        label: 'Date 日期',
                        text:  'Friday, April 6, 2018'
                    },
                    {
                        label: 'Boarding Time 登機時間',
                        text:  '14:00'
                    },
                    {
                        label: 'Departure Time 出發時間',
                        text:  '14:30'
                    }
                ]
            },
            {
                values: [
                    {
                        label: 'From 從',
                        text:  'Osaka Kansai'
                    },
                    {
                        label: 'To 到',
                        text:  'Hong Kong'
                    },
                    {
                        label: 'Seq No 編號',
                        text:  '2'
                    }
                ]
            }
            
        ]
    } %} 
    {% include '../views/pdf/components/items-table.njk' %}
    
    {% set itemsTable = {
        isInline: false,
        tableClases: [
            'bottom-separated',
            'items-bordered'

        ],
        type: 'info-item',
        columns: 3,
        isButtonSeparated: true,
        items: [
            {
                title: 'Your Flight Details 航班資料',
                values: [
                    {
                        label: 'Booking Reference 訂單編號',
                        text:  'V5Y9KC'
                    },
                    {
                        label: 'Booking Date 訂票日期',
                        text: 'Thursday, April 5, 2018'
                    },
                    {
                        label: 'Booking Name 訂票者姓名',
                        text:  'MR Gerardo Marin'
                    }
                ]
            },
            {
                title: 'Your Baggage Details 託運行李資料',
                hasSmallValues: true,
                values: [
                    {
                        label: 'Cabin Baggage Allowance 手提行李限制',
                        text:  '1 Bag (7kg)',
                        smallText: 'Not exceed the dimensions of 56 x 36 x 23cm (22" x 14" x 9")'
                    },
                    {
                        label: 'Checked Baggage Allowance 託運行李限額',
                        text: '25kg',
                        smallText: 'Each checked baggage must not exceed 158cm/62"'
                    },
                    {
                        label: 'Bag Drop 託運行李',
                        text:  'Closes 60 minutes before departure'
                    }
                ]
            },
            {
                title: 'Your Extras 附加服務',
                hasSmallValues: true,
                values: [
                    {
                        label: 'Meals 機上餐點',
                        text:  'No meals'
                    },
                    {
                        label: 'Sports Equipment 運動器材',
                        text: 'No Sports Equipment'
                    },
                    {
                        label: 'Insurance 旅遊保險',
                        text:  'No Travel Insurance'
                    },
                    {
                        label: 'U­-First 優先辦理登機手續及登機服務',
                        text:  '-­ Kansai International Airport',
                        icon: 'passenger-first'
                    }
                ]
            }
        ]
    } %}
    {% include '../views/pdf/components/items-table.njk' %}

    <!-- 2X2 -->
    {% set itemsTable = {
        tableClases: [
            'horizontal-bordered'
        ],
        type: 'tip-box',
        columns: 2,
        items: [
            {
                title: 'Carry on Baggage 手提行李',
                icon: 'baggage',
                description: 'Carry on items are limited to one piece of luggage not exceeding 7 kgs and one personal item such as laptop, purse, camera. 每位旅客可攜帶一件手提行 李（重量不可超過7公斤或15.4磅）和一件隨身物品（包括手袋、相機及個人電子儀 器）登機，總體積不大於56x36x23厘米或22x14x9吋（手提行李的輪子、把手和側 袋等同樣計入尺寸內)。旅客如攜帶超過上述限制的手提行李，必須把行李交付託 運和支付相關的托運行李費用。'
            },
            {
                title: 'Important Reminders 重要事項',
                icon: 'clock',
                description: 'Bag drop at Hong Kong International Airport closes 1 hour prior to scheduled time of departure. Gate closes 20 minutes prior to scheduled time of departure. Airport Express in-town check-in opens 1 day prior to and closes 1.5 hours before scheduled time of departure. Before your flight, remember to print a copy of your boarding pass on A4 paper (portrait orientation). For check-in counter opening times at other airports, please refer to hkexpress.com. 於香港國際機場辦理的行李託運手 續必須在起飛前1小時辦理妥當，登機閘口會於起飛前20分鐘關閉．如您乘坐 機場快綫列車前往香港國際機場，您可選擇於登機前一天至航機起飛前90分 鐘，到香港站或九龍站市區預辦登機手續。請於出發前使用A4 紙張(直向)列印 登機證。請上hkexpress.com查閱其他機場的辦理登機手續櫃檯服務時間．'
            },
            {
                title: 'Cheap Hotels 超抵酒店',
                icon: 'bed',
                description: 'How would you like to save up to 85% on your next hotel booking? Booking a hotel on the HK Express website is fast, easy and convenient. 現 在網上預訂超值酒店，優惠高達15%，立即預訂！',
                link: {
                    text: 'Book Cheap Hotels 預訂超抵酒店',
                    href: 'https://www.agoda.com/hkexpress'
                }
            },
            {
                title: 'Cheap Car Rentals 租用車輛',
                icon: 'car',
                description: 'How would you like to save up to 15% on your next car rental reservation? Making a car rental booking on the HK Express website is fast, easy and convenient. 現在網上預訂超值車輛，優惠高達15%，立即預訂！',
                link: {
                    text: 'Make Car Rental Reservations 租用超抵車輛',
                    href: 'https://www.agoda.com/hkexpress'
                }
            }
        ]
    } %}
    {% include '../views/pdf/components/items-table.njk' %}

    <!-- FOLD SECTION -->
    {% include '../views/pdf/components/fold-section.njk' %}

    <!-- AIRLINE COPY -->
    <table>
        <tr>
            <td class="grid-col col-4 no-top-padding">
                <strong class="airline-copy-text">Airline Copy</strong>
                <div class="codebar_container last">
                    {% set image = {
                        name: 'barcode'
                    } %}
                    {% include '../views/pdf/components/image.njk' %}
                </div>
            </td>
            <td class="grid-col col-3 last">
                {% set infoItem = {
                    values: [
                        {
                            label: 'Flight 航班',
                            text: 'UO1687'
                        },
                        {
                            label: 'Date 日期',
                            text: 'Friday, April 6, 2018'
                        }
                    ]
                } %}
                {% include '../views/pdf/components/info-item.njk' %}
            </td>
            <td class="grid-col col-3 last">
                {% set infoItem = {
                    values: [
                        {
                            label: 'Passenger Name 旅客姓名',
                            text: 'MS Adela Zuluaga'
                        },
                        {
                            label: 'Booking Reference 訂單編號',
                            text: 'V5Y9KC'
                        }
                    ]
                } %}
                {% include '../views/pdf/components/info-item.njk' %}
            </td>
            <td class="grid-col col-2 last">
                {% set infoItem = {
                    values: [
                        {
                            label: 'Seat 座位',
                            text: '2B'
                        },
                        {
                            label: 'Seq No 編號',
                            text: '2'
                        }
                    ]
                } %}
                {% include '../views/pdf/components/info-item.njk' %}
            </td>
        </tr>
    </table>
{% endblock %}
