// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION CARD
// ****************************************
//
//  + Variables
//
// ****************************************

// + Variables
// -------
$destination-card-image-width: calculateRem(100px);
$destination-card-image-height: $destination-card-image-width;

.destination-card {
	display: flex;
	padding: calculateRem(19px) calculateRem(20px);
	border: 1px solid $c-primary;
}
.destination-card_image_container {
	position: relative;
	flex: 1 0 $destination-card-image-width;
	height: $destination-card-image-height;
}
.destination-card_image {
	position: absolute; // safe position if is used an incorrect image (proportions 1:1)
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
	}
}
.destination-card_body {
	flex: 1 1 100%;
	padding: 0 0 0 1rem;
	color: $c-primary;
	> * {
		display: block;
	}
}