// ********************
//  IBE COMPONENT
//
// ********************
//  PAYMENT
// ********************
//
//    + Payment methods
//    + Payment summary
//    + Payment confirmation
//
// ********************

@import "payment-methods";
@import "payment-details";
//@import "payment-partials";
//@import "payment-QR";

// + Payment methods
// -------
// .payment_polices {
// }
@media #{$until-tablet-portrait}{// <=768px
    .payment_polices {
        display: none;
    }
}
.payment-page {
    .page_buttons {
        display: none;
    }
    // no fixed position for summary bar at payment page
    &.search-fixed .combined_summary_wrapper {
        position: relative;
    }
}

// + Payment confirmation
// -------
.payment-confirmation {
    margin-top: $content-margin-top;
    .title-h1 {
        @include iconfont-with-background($icon-check-circle, 26px, 5px);
        &::before {
            vertical-align: sub;
            margin-left: 0;
        }
    }
}
@media #{$summary-not-collapsed} { // >=768px
    .payment-page {
        .page_buttons {
            display: flex;
        }
    }
    .payment-confirmation {
        .title-h1 {
            @include iconfont-with-background($icon-check-circle, 38px, 5px);
        }
    }
}
