// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT PARTIALS
// ****************************************
//
//    + Commun styles
//    + Voucher
//    + Points
//
// ****************************************
$payment-summary-width: 254px;
.payment_partials {
    @include clearfix;
    margin-bottom: 46px;
    &.nopay {
        .payment_partials_body {
            float: left;
            width: $payment-summary-aside-div-width;
        }
    }
    .payment-summary {
        float: right;
        width: $payment-summary-width;
        margin-left: 24px;
    }
}
.payment_partials_body{
    box-sizing: border-box;
}
.payment_partials_tabs{
    li  {
        display: inline-flex;
        @include font-size($f-size);
        &:last-child {
            margin-right: 0;
        }
        .payment_partials_trigger {
            display: block;
            margin-bottom: 0;
        }
    }
}
.payment_partials_trigger {
    @include collapse-trigger($f-size-xs,$c-secondary);
    display: none;
    padding-left: 10px;
    margin-right: 30px;
    margin-bottom: 16px;
    cursor: pointer;
    .icon,.label {
        color: $c-secondary;
    }
    .label {
        position: relative;
        display: inline-block;
        @include font-size($f-size);
        padding-left: 24px;
        text-decoration: underline;
        margin-left: 10px;
    }
    .icon {
        position: absolute;
        left: 0;
        top: -7px;
        @include font-size(34px);
    }
    &::after { //## collapse arrow
        top: 5px;
    }
    &.collapsed {
        .icon,
        &::after {
            color: $c-primary;
        }
        .label {
            color: $c-color2;
        }
    }
    &:hover {
        .icon,.label,
        &::after {
            color: $c-secondary;
        }
    }
}


// + Commun styles
// -------
.partials_container {
    margin-top: 24px;
}
.payment_partials_item {
    display: block;
}

.partials_voucher,
.partials_voucher_form,
.partials_points_signin,
.partial_points {
    margin-top: 28px;
}
.partials_voucher_form_button {
    @extend .btn-secondary;
    // min-width: 20%;
    min-width: 270px;
}

// + Voucher
// -------
.partials_voucher_list {
    @extend .list-style1;
    margin-bottom: 14px;
    .redeemed {
        color: $c-secondary;
    }
}
.partials_voucher_form {
    .ui-form_input-button {
        display: flex;
        align-items: flex-end;
    }
}

// + Points
// -------
.partial_points{
    max-width: 74%;
    .title {
        @extend .title-h4;
    }
}
.partials_points_signin {
    .ui-form_input-button {
        display: flex;
        align-items: flex-end;
    }
}
.partials_points_signin_button {
    @extend .btn-primary;
    min-width: 170px;
}
.partial_points_list {
    @extend .list-style1;
    margin: 14px 0 24px;
    li {
        margin-bottom: 2px;
    }
}
.partial_points_selector {
    .ui-form_input-button {
        display: flex;
        align-items: flex-end;
    }
    .title {
        font-family: $font-name;
    }
    @media #{$until-mobile-sm} {
        .ui-form_input-button {
            flex-direction: column;
        }
        .ui-form_input-button .ui-form_group,
        .partial_points_selector_button {
            flex: none;
            display: block;
            max-width: 100%;
        }
        .partial_points_selector_button {
            width: 84%;
            margin: auto;
        }
    }
}
.partial_points_selector_button {
    @extend .btn-primary;
    flex: 1 1 20%;
    max-width: 170px;
    margin: 0;
}
.partial_points_footer {
    @include clearfix;
    display: flex;
    align-items: center;
    color: $c-primary;
    margin-top: 16px;
}
.partial_points_total {
    @include font-size($f-size-md);
    font-weight: 600;
    white-space: nowrap;
    color: $c-secondary;
    font-family: $font-name;
}


// [Responsive]
@media #{$until-tablet-landscape}{ // <=992px
    .payment_partials_tabs {
        display: none;
    }
    .payment_partials_trigger {
        display: inline-block;
        margin-right: 0;
    }
    .partials_voucher,
    .partials_voucher_form,
    .partials_points_signin,
    .partial_points {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 32px;
    }
    .partial_points{
        max-width: 100%;
    }
    .partial_points_footer {
        flex: none;
        display: block;
        .description {
            display: block;
            width: 100%;
        }
    }
}
@media #{$summary-collapsed} { // <=768px
    .payment_partials {
        &.nopay {
            .payment_partials_body {
                width: 100%;
                float: none;
            }
        }
    }
}
@media #{$until-mobile} { // <=640px
    .partials_points_signin, .partials_voucher_form {
        .ui-form_input-button {
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 380px) {
    .payment_partials_trigger {
        display: block;
    }
}
