{#
    DOCUMENTATION
    alertflags = {
        VARIABLES
        items: [
            {
                type: 'string',  // alert type
                title: 'string', // alert title
                text: 'string'   // alert text
            }
        ]
    }

    EXAMPLE
    {% set alertflags = {
        items: [
            {
                type: 'warning',
                title: 'Title for alert'
                text: 'text for this alert goes here'
            }
        ]
    } %}
    {% include "partials/ui-elements/_alert-flag.njk" %}
#}
<div class="{% if isAlertFull %}alertflag_wrap-full {% else %}alertflag_wrap{% endif %}">
    <div class="alertflag_container">
        {% for alertflag in alertflags.items %}
            <div class="alertflag{% if alertflag.type | length %} alertflag-{{alertflag.type}}{% endif %} in">
                {% if alertflag.title | length %}<h1 class="alertflag_title">Flying alert message</h1>{% endif %}
                <div class="alertflag_text">
                    <p>{{alertflag.text | safe}}</p>
                </div>
                {% if alertflag.hasIcon | default(true) %}
                    <button type="button" class="close" title="click to close">
                        <span class="hide-visually">Close</span>
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
