{#
    DOCUMENTATION:
    box = {
        VARIABLES:
        title: 'string' // header title
        price: 'string' // header price
        message: 'string' // body text
        buttons: [ // footer buttons
            {
                text: 'string' // button text label
                type: 'string' // contextual class (action, primary, secondary, inverse, light)
            }
        ]
    }

    -------

    EXAMPLE:
    {% set box = {
        title: 'Total Credit Generated:',
        price: '3,954',
        message: 'Your flight is cancelled and you will receive HKD 3,954 voucher on your email.',
        buttons: [
            { text: 'Cancel', type: 'secondary' },
            { text: 'Confirm cancellation', type: 'action' }
        ]
    } %}
    {% include "partials/components/_box.njk" %}
#}

<div class="box">
    <p class="box_header">
        {{ box.title }}
        {% if box.price %}
            <span class="price">{{SHARED.currency}} {{ box.price }}</span>
        {% endif %}
    </p>
    {% if box.message %}
        <p class="box_body">
            {{ box.message }}
        </p>
    {% endif %}
    {% if box.buttons %}
        <div class="box_footer">
            {% for button in box.buttons %}
                <button class="button{% if button.type %} btn-{{ button.type }}{% endif %}">
                    {{ button.text }}
                </button>
            {% endfor %}
        </div>
    {% endif %}
</div>
