{#
    EXAMPLE:
    checkbox = {
        VARIABLES:
        imageURL : 'string' // replace input label with an image
        imageAlt : 'string' // alt attribute in img tag
    }
#}
<div class="ui-checkbox{% if (checkboxReadonly) or (checkboxForm.readonly) %} is-readonly{% endif %}">
    {% if not checkin_selection.ischeckedin | default(false) %}
        <input type="{% if (isRadio) or (checkboxForm.isRadio) or (checkboxForm.radio) %}radio{% else %}checkbox{% endif %}"
            id="{{ checkboxForm.id }}"
            name="{{ checkboxForm.name }}"
            {% if checkboxForm.value %}value="{{ checkboxForm.value }}"{% endif %}
            {% if (checkboxDisabled) or (checkboxForm.disabled) %}disabled{% endif %}
            {% if (checkboxReadonly) or (checkboxForm.readonly) %}readonly="readonly"{% endif %}
            {% if (checkboxChecked) or (checkboxForm.checked) %}checked="checked"{% endif %} />
    {% endif %}
    <label for="{{ checkboxForm.id }}">
    {% if checkboxForm.icon %}
        <span class="ui-checkbox_icon"></span>
    {% endif %}
        {% if checkbox.imageURL %}
            <img src="{{ project_assets_path }}imgs/{{ checkbox.imageURL }}" alt="checkbox.imageAlt" />
        {% else %}
            {{ checkboxForm.label | safe }}
            {{ checkbox.type }}
        {% endif %}
    </label>
</div>
