{#
    MODIFIERS
    {% set inputIsValid = true %}
    {% set inputDisable = true %}
    {% set selectHasValue = true %}
    {% set selectDisable = true %}
    {% set selectForm = {
        label: 'Date of birth',
        optionCurrent: '02',
        id: 'birthDD',
        optionCurrent1: '05',
        id1: 'birthMM',
        optionCurrent2: '1982',
        id2: 'birthYYYY'
    } %}
    
    EXAMPLE
    {% include "partials/ui-elements/_form_birthdate.njk" %}
#}

<fieldset class="ui-input-container{% if selectHasError == true %} has-error{% endif %}{% if selectDisable == true %} is-readonly{% endif %}{% if selectHasValue == true %} has-value{% endif %}">
    {% if selectHasLabel | default(true) %}
    <legend class="ui-label">
        {{selectForm.label}}{% if inputRequired == true %}{{SHARED.formRequiredSymbol}}{% endif %}
        <span class="form-hint" id="birthdateHint">(dd/mm/yyyy)</span>
        {% if selectHasTooltip == true | default(false) %}
        <button class="ui-label_i"
            tabindex="-1"
            aria-expanded="false"
            data-toggle="tooltip"
            data-original-title="{{selectForm.tooltipText}}">
            <span class="hide-visually">{{selectForm.tooltipText}}</span>
        </button>
        {% endif %}
    </legend>
    {% endif %}

    <div class="ui-input-multiple ui-input-multiple-3col">
        <div class="ui-dropdown">
            <button class="ui-input"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-describedby="birthdateHint">
                <span class="ui-dropdown_value">
                    {{ selectForm.optionCurrent }}
                </span>
            </button>
            <ul class="ui-dropdown_list"
                role="listbox"
                tabindex="-1"
                aria-hidden="true">
                {% for i in range(0, 8) -%}
                {% set counter = ( counter | default(0) ) + 1 %}
                <li role="option">
                    <a role="button" tabindex="0">Option {{counter}}</a>
                </li>
                {%- endfor %}
            </ul>
        </div>

        <div class="ui-dropdown">
            <button class="ui-input"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-describedby="birthdateHint">
                <span class="ui-dropdown_value">
                    {{ selectForm.optionCurrent1 }}
                </span>
            </button>
            <ul class="ui-dropdown_list"
                role="listbox"
                tabindex="-1"
                aria-hidden="true">
                <li role="option">
                    <a role="button" tabindex="0">Option 1</a>
                </li>
                <li role="option">
                    <a role="button" tabindex="0">Option 2</a>
                </li>
                <li role="option">
                    <a role="button" tabindex="0">Option 3</a>
                </li>
            </ul>
        </div>

        <div class="ui-dropdown">
            <button class="ui-input"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-describedby="birthdateHint">
                <span class="ui-dropdown_value">
                    {{ selectForm.optionCurrent2 }}
                </span>
            </button>
            <ul class="ui-dropdown_list"
                role="listbox"
                tabindex="-1"
                aria-hidden="true">
                <li role="option">
                    <a role="button" tabindex="0">Option 1</a>
                </li>
                <li role="option">
                    <a role="button" tabindex="0">Option 2</a>
                </li>
                <li role="option">
                    <a role="button" tabindex="0">Option 3</a>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
