<fieldset class="ui-form_group full">
    <legend class="hide-visually">Gender</legend>
    <div class="ui-checkbox-inline">
        {% if checkboxGroupHasLabel | default(true) %}
        <div class="ui-label">
            {{checkboxGroupForm.label}}
        </div>
        {% endif %}
        <div class="ui-checkbox-group">
            {% set isRadio = true %}
            {% set checkboxForm = {
                label: 'Mr.',
                name: 'genderMR' + genderIdCounter,
                id: 'genderMR' + genderIdCounter
            } %}
            {% include "partials/ui-elements/_checkbox.njk" %}
            {% set checkboxForm = {
                label: 'Mrs.',
                name: 'genderMRS' + genderIdCounter,
                id: 'genderMRS' + genderIdCounter
            } %}
            {% include "partials/ui-elements/_checkbox.njk" %}
            {% set checkboxForm = {
                label: 'Miss',
                name: 'genderMISS' + genderIdCounter,
                id: 'genderMISS' + genderIdCounter
            } %}
            {% include "partials/ui-elements/_checkbox.njk" %}
        </div>
    </div>
</fieldset>
