{# example #}
{#
{% set inputHasError = false %}   // validation error
{% set inputDisable = true %}     // if is disabled
{% set inputReadonly = true %}    // if is readonly
{% set selectForm = {
    label: 'Mobile phone',
    optionCurrent: 'Prefix',
    id: 'mobilePrefix'
} %}
{% set inputForm = {
    placeholder: '',
    name: 'mobileNumber',
    id: 'mobileNumber'
} %}
#}

{# <fieldset class="ui-input-container{% if selectHasError == true %} has-error{% endif %}">
    {% if selectHasLabel | default(true) %}
    <legend class="ui-label">
        {{mobilePhone.label}}
        {% if selectHasTooltip == true | default(false) %}
        <button class="ui-label_i"
            tabindex="-1"
            data-toggle="tooltip"
            data-original-title="We can easily contact you should there be any changes to  your flight(s).">
            <span class="hide-visually">We can easily contact you should there be any changes to  your flight(s).</span>
        </button>
        {% endif %}
    </legend>
    {% endif %}

    <div class="ui-input-multiple ui-input-mobile">
        <div class="ui-dropdown">
            <div class="ui-input-typeahead"
                aria-haspopup="listbox"
                aria-expanded="false">
                <input class="ui-input"
                    type="text"
                    id="{{inputPrefix.id}}"
                    title="{{inputPrefix.label}}"
                    placeholder="{{inputPrefix.placeholder}}" />
            </div>
            <ul class="ui-dropdown_list"
                role="listbox"
                tabindex="-1"
                aria-hidden="true">
                <li role="option">
                    <a tabindex="0">Option 1</a>
                </li>
                <li role="option">
                    <a tabindex="0">Option 2</a>
                </li>
                <li role="option">
                    <a tabindex="0">Option 3</a>
                </li>
            </ul>
        </div>
        <input type="text" class="ui-input"
            {% if inputDisable == true %}disabled{% endif %}
            {% if inputReadonly == true %}readonly value="{{inputMobile.placeholder}}"{% endif %}
            name="{{inputMobile.id}}"
            id="{{inputMobile.id}}"
            title="{{inputMobile.label}}"
            placeholder="{{inputMobile.placeholder}}" />
    </div>
</fieldset> #}

<div class="ui-form_group has-bind-prefix">
    <fieldset>
        <legend class="ui-label{% if not inputForm.hasLabel %} hide-visually{% endif %}" id="{{ inputForm.id }}">{{ inputForm.label | safe }}</legend>

        {% set selectForm = mobileForm.prefix %}
        {% set inputForm = mobileForm %}
        <div class="ui-form_controls" aria-labelledby="{{ inputForm.id }}">
            {# MOBILE PREFIX #}
            {% include "partials/ui-elements/_select.njk" %}
        
            {# MOBILE NUMBER #}
            {% include "partials/ui-elements/_input_text.njk" %}
        </div>
    </fieldset>
</div>
    
    