<div class="ui-input-container{% if inputHasError%} has-error{% endif %}">
    {% if changeFlight %}
    <div class="ui-label">
        {{inputForm.label}}
    </div>
    {% endif %}
    <div class="ui-input-multiline">
        {% for combinedInput in combinedInputs %}
        <div class="ui-input-multiline_group{% if combinedInput.way == 'departure' %} outbound{% endif %}{% if combinedInput.way == 'arrival' %} inbound{% endif %}" data-target="{{combinedInput.inputForm.groupId}}">
            <div class="ui-input-multiline_group_inner">
                <label for="{{combinedInput.inputForm.id}}">{{combinedInput.inputForm.label}}</label>
                <button class="ui-input"
                    style="display: none;"
                    data-toggle="collapse"
                    data-target="#{{combinedInput.inputForm.idCollapse}}"
                    aria-expanded="false"
                    aria-controls="{{combinedInput.inputForm.idCollapse}}">
                    <span class="value-selected" data-target="searchValue">
                        {% if combinedInput.inputForm.valueDate %}
                            {% if combinedInput.inputForm.valueDate.day | length %}<span class="day">{{ combinedInput.inputForm.valueDate.day }}</span>{% endif %}
                            {% if combinedInput.inputForm.valueDate.month | length %}<span class="month">{{ combinedInput.inputForm.valueDate.month }}</span>{% endif %}
                            {% if combinedInput.inputForm.valueDate.week | length %}<span class="week">{{ combinedInput.inputForm.valueDate.week }}</span>{% endif %}

                        {% else %}
                            {% if combinedInput.inputForm.value | length %}<span class="value-large">{{combinedInput.inputForm.value}}</span>{% endif %}
                            {% if combinedInput.inputForm.valueSmall | length %}<span class="value-small">{{combinedInput.inputForm.valueSmall}}</span>{% endif %}
                        {% endif %}
                    </span>
                </button>
                <input type="text" class="ui-input"
                    {% if inputDisabled %}disabled="disabled"{% endif %}
                    {% if inputReadonly %}readonly="readonly" value="{{combinedInput.inputForm.placeholder}}"{% endif %}
                    name="{{combinedInput.inputForm.id}}"
                    id="{{combinedInput.inputForm.id}}"
                    placeholder="{{combinedInput.inputForm.placeholder}}"
                    data-toggle="collapse" data-target="#{{combinedInput.inputForm.idCollapse}}"
                    aria-expanded="false"
                    aria-controls="{{combinedInput.inputForm.idCollapse}}" />
            </div>
        </div>
        {% endfor %}
    </div>
</div>
