{#
    example

    {% set inputForm = {
        value: '01/11/1969',
        label: 'Date of Birth',
        placeholder: '',
        name: 'date_of_birth',
        id: 'date_of_birth'
    } %}
    {% include "partials/ui-elements/_input_text.njk" %}
#}

<div class="{% if inputForm.fullrow %}ui_form_group-full{% else %}ui-form_group{% endif %}">
    <div class="ui-input-container
{% if inputForm.placeholder | length %} has-placeholder{% endif %}
{% if (inputHasError) or (inputForm.error)%} has-error{% endif %}
{% if inputForm.focus %} is-focused{% endif %}
{# {% if (inputForm.isDisabled) or (inputForm.disabled) %} is-disabled{% endif %} #}
{% if inputForm.disabled %} is-disabled{% endif %}
{% if (inputForm.isReadOnly) or (inputForm.readonly) %} is-readonly{% endif %}
{% if (inputIsValid) or (inputForm.valid) %} is-valid{% endif %}
{% if (inputIsInvalid) or (inputForm.invalid) %} is-invalid{% endif %}
{% if inputIsReadonlyStyle %} ui-input-readonly{% endif %}
{% if (inputForm.value | length) and (not inputIsReadonlyStyle) %} has-value{% endif %}
{% if inputForm.icon %} has-icon{% if inputForm.iconRight %} right-icon{% endif %}{% endif %}
{% if inputForm.iconButton %}is-icon-clickable{% endif %}">
    
    {% if inputForm.hasLabel | default(true) %}
        <label class="ui-label" for="{{inputForm.id}}">
            {{inputForm.label | safe}}
            {% if inputRequired %}
            {{SHARED.formRequiredSymbol}}
            {% endif %}
        </label>
        {% if inputForm.tooltip | length %}
            <button class="ui-label_i"
                tabindex="-1"
                aria-expanded="false"
                data-toggle="tooltip"
                data-original-title="{{inputForm.tooltip}}">
                <span class="hide-visually">{{inputForm.tooltip}}</span>
            </button>
        {% endif %}
    {% else %}
        <label class="hide-visually" for="{{inputForm.id}}">{{inputForm.label}}</label>
    {% endif %}

    {% if inputIsMultiple or inputIsMultiple3 %}
        <div class="ui-input-multiple{% if inputIsMultiple3 %} ui-input-multiple-3col{% endif %}">
    {% endif %}

    {# SIMPLE INPUT #}
    {% if not inputIsMultiple and not inputIsMultiple3 %}
        <div class="ui-input_wrap">
            {% if inputForm.icon %}
                {% if inputForm.iconButton %}
                    <button class="icon icon-{{ inputForm.icon }}">
                        <span class="hide-visually">{{ inputForm.iconTitle }}</span>
                    </button>
                {% else %}
                    <span aria-hidden="{% if inputForm.iconTitle %}true{% else %}false{% endif %}" class="icon icon-{{ inputForm.icon }}"{% if inputForm.iconTitle %} title="{{ inputForm.iconTitle }}"{% endif %}></span>
                {% endif %}
            {% endif %}
            <{% if inputForm.type == "textarea" %}textarea class="ui-textarea" maxlength="{{inputForm.maxLength}}" {% if inputForm.rows %}rows="{{inputForm.rows}}"{% endif %} {% if inputForm.cols %}cols="{{inputForm.cols}}"{% endif %}
                {% else %}input class="ui-input" type="{{ inputForm.type | default('text') }}"{% endif %} 
                name="{{inputForm.id}}"
                id="{{inputForm.id}}"
                {% if inputForm.disabled %} disabled{% endif %}
                {% if (inputReadonly) or (inputIsReadonlyStyle) or (inputForm.isReadOnly) or (inputForm.readonly) %}readonly value="{{inputForm.value}}"{% endif %}
                {% if inputForm.placeholder | length %}placeholder="{{inputForm.placeholder}}"{% endif %}
                {% if inputForm.value | length %}value="{{inputForm.value}}"{% endif %}
                aria-invalid="{% if inputHasError %}true{% else %}false{% endif %}"
                {% if inputHasError %}aria-describedby="{{inputForm.id}}"{% endif %}
                {% if inputRequired %}required aria-required="true"{% endif %} 
            {% if not inputForm.type == "textarea" %}/{% endif %}>
            {% if inputForm.type == "textarea" %}</textarea>{% endif %}
        </div>
    {% endif %}

    {% if inputIsMultiple or inputIsMultiple3 %}
        {% if inputIsMultipleWithIcon %}
            <div class="ui-input_wrap">
            {% if inputForm.icon %}
                <span aria-hidden="true" class="icon icon-{{inputForm.icon}}"></span>
            {% endif %}
        {% endif %}
        <input type="{{ inputForm.type | default('text') }}" class="ui-input"
            name="{{inputForm.id}}"
            id="{{inputForm.id}}"
            {% if inputDisable %}disabled{% endif %}
            {% if inputReadonly %}readonly value="{{inputForm.value}}"{% endif %}
            {% if inputForm.placeholder | length %}placeholder="{{inputForm.placeholder}}"{% endif %}
            {% if inputForm.value | length %}value="{{inputForm.value}}"{% endif %}
            aria-invalid="{% if inputHasError %}true{% else %}false{% endif %}"
            {% if inputHasError %}aria-describedby="{{inputForm.id}}"{% endif %}
            {% if inputRequired %}required aria-required="true"{% endif %} />
        {% if inputIsMultipleWithIcon %}
            </div>
        {% endif %}

        <div class="ui-input_wrap">
            <input type="{{ inputForm.type | default('text') }}" 
                class="ui-input"
                name="{{inputForm.id1}}"
                id="{{inputForm.id1}}"
                {% if (inputDisable) or (inputForm.disabled) %}disabled{% endif %}
                {% if (inputReadonly) or (inputForm.readonly) or (inputForm.isReadOnly) or (inputForm.readonly) %}readonly value="{{inputForm.value1}}"{% endif %}
                {% if inputForm.placeholder | length %}placeholder="{{inputForm.placeholder1}}"{% endif %}
                {% if inputForm.value | length %}value="{{inputForm.value1}}"{% endif %}
                aria-invalid="{% if inputHasError %}true{% else %}false{% endif %}"
                {% if inputHasError %}aria-describedby="{{inputForm.id1}}"{% endif %}
                {% if inputRequired %}required aria-required="true"{% endif %} />
            </div>
    {% endif %}

    {% if inputIsMultiple3 %}
    <input type="{{ inputForm.type | default('text') }}" class="ui-input"
        name="{{inputForm.id2}}"
        id="{{inputForm.id2}}"
        {% if inputDisable %}disabled{% endif %}
        {% if inputReadonly %}readonly value="{{inputForm.value2}}"{% endif %}
        {% if inputForm.placeholder | length %}placeholder="{{inputForm.placeholder2}}"{% endif %}
        {% if inputForm.value | length %}value="{{inputForm.value2}}"{% endif %}
        aria-invalid="{% if inputHasError %}true{% else %}false{% endif %}"
        {% if inputHasError %}aria-describedby="{{inputForm.id2}}"{% endif %}
        {% if inputRequired %}required aria-required="true"{% endif %} />
    {% endif %}

    {% if inputIsMultiple or inputIsMultiple3 %}</div>{% endif %}

    {% if inputHasError or inputIsInvalid %}
        <div class="error-message" id="{{inputForm.id}}">
            Error message here should not be too long if posible
        </div>
    {% endif %}

    {% if inputForm.message %}
        <div class="ui-input_message{% if inputForm.messageType %} {{ inputForm.messageType }}-message{% endif %}">
            {{ inputForm.message }}
        </div>
    {% endif %}
    </div>
</div>

