{# example #}
{#
{% set numeric_updown = {
    value: '3 Kg',
    minus: 'disabled',
    plus: 'disabled'
} %}
#}

<div class="ui-num-ud">
    <button class="ui-num-ud_button minus{% if numeric_updown.minus == 'disabled' %} disabled{% endif %}"{% if numeric_updown.minus == 'disabled' %} tabindex="-1"{% endif %}>
        <span class="hide-visually">Less</span>
    </button>
    <div class="ui-num-ud_input">
        <input type="text" tabindex="-1" name="{{numeric_updown.id}}" id="{{numeric_updown.id}}" value="{{numeric_updown.value}}" />
    </div>
    <button class="ui-num-ud_button plus{% if numeric_updown.plus == 'disabled' %} disabled{% endif %}"{% if numeric_updown.plus == 'disabled' %} tabindex="-1"{% endif %}>
        <span class="hide-visually">More</span>
    </button>
</div>
