<nav aria-label="pagination navigation" class="pagination">
    <ul class="pagination_list">
        <li class="prev"><a href="#" data-slide="prev">
            <span class="hide-visually">go to previous page</span>
        </a>
        </li>
        <li><a href="#" aria-label="go to page 10">1</a></li>
        <li class="pagination_next-block"><a href="#" aria-label="go to page 20">...</a></li>
        <li><a href="#" aria-label="go to page 39">39</a></li>
        <li><a href="#" aria-label="current page, go to page 40">40</a></li>
        <li><a href="#" aria-label="go to page 41">41</a></li>
        <li class="active"><a href="#" aria-current="true" aria-label="go to page 42">42</a></li>
        <li><a href="#" aria-label="go to page 43">43</a></li>
        <li><a href="#" aria-label="go to page 44">44</a></li>
        <li class="pagination_next-block"><a href="#" aria-label="go to page 46">...</a></li>
        <li><a href="#" aria-label="go to page 100">99</a></li>
        <li class="next"><a href="#" data-slide="next">
            <span class="hide-visually">go to next page</span>
        </a>
        </li>
    </ul>
</nav>