{#
    DOCUMENTATION
    pageButtons = {
        VARIABLES
        align: 'string' // align table
        thead: 'Array ths' // Array de ths with the title of th
        tbody: 'Array de tds'  // Array de ths with the title of td
        MODIFIERS
        thTheadWithAccessibility: boolean // add scope="col" to horizontal <thead> <tr> tags
        upperline: 'string' class in the tr, border top in the tds
        upperline-tb: 'string' class in tbody, border bottom
        hidden: 'string' class in td that do not have atributte rowspan and they are hidden
        td-rowspan: 'string' class in td that have rowspan
    }
    EXAMPLE nodo:
    tds: [
        { title: 'Initial Booking*', rowspan: '3', align: 'left', class: "td-rowspan" } // space beetwen td and align
    ]
    EXAMPLE
    {% set promoTable = {
        thead: {
            ths: [
                { title: 'Fares from' }
            ]
        },
        promos: [
            {
                from: 'Hong Kong',
                to: 'Tokyo (Haneda)',
                faresFrom: '358'
            },
            {
                from: 'Hong Kong',
                to: 'Tokyo (Narita)',
                faresFrom: '358'
            },
            {
                from: 'Hong Kong',
                to: 'Tokyo (Kansai)',
                faresFrom: '358'
            },
            {
                from: 'Hong Kong',
                to: 'Fukuoka',
                faresFrom: '358'
            }
        ]
    } %}
    {% include "partials/ui-elements/_promo-table.njk" %}
#}
<div class="context-table">
    <table class="promo-table{% if promoTable.hasSmallFont %} small-font{% endif %}">
        <caption class="hide-visually">Promo landing accessibility message</caption>
        <thead>
            <tr>
                <th>Route</th>
                {% if promoTable.showFaresFromColumn | default(true) %}
                    <th>Fares from</th>
                {% endif %}

                {% for extraColumn in promoTable.extraColumns %}
                    <th>{{ extraColumn }}</th>
                {% endfor %}

                {# add extra td in thead #}
                {% set extraColumnCounter = promoTable.promos[0] | length + pomoTable.extraColumns | length - 1 %}
                {% if promoTable.showFaresFromColumn | default(true) %}
                    {% set extraColumnCounter = extraColumnCounter - 1 %}
                {% endif %}
                {% if promoTable.promos[0].extraValues %}
                    {% set extraColumnCounter = extraColumnCounter - 1 %}
                {% endif %}
                {% for i in range(0, extraColumnCounter) %}
                    <th></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="{{ promoTable.class }}">
            {% for row in promoTable.promos %}
                <tr>
                    <td class="promo-table_destination" data-th="Route">
                        <div class="promo-table_destination-wrapper">
                            <span>{{ row.from }}</span>
                            <span class="promo-table_destination-arrow"></span>
                            <span>{{ row.to }}</span>
                        </div>
                    </td>
                    {% if promoTable.showFaresFromColumn | default(true) %}
                        <td data-th="Fares from">
                            <span class="promo-table_price-wrap">
                                <span class="currency">{{SHARED.currency}}</span>
                                <span class="price">{{ row.faresFrom }}</span>
                            </span>
                        </td>
                    {% endif %}
                    {% for extraCell in row.extraValues %}
                        <td data-th="{{ promoTable.extraColumns[loop.index - 1] }}">
                            {{ extraCell }}
                        </td>
                    {% endfor %}
                    <td class="promo-table_buttons">
                        <a class="promo-table-link"href="#"><span class="promo-table_flight-btn">Flights</span></a>
                        <a class="promo-table-link"href="#"><span class="promo-table_flight-hotel-btn">Package</span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
