{# 
    DOCUMENTATION
    set promoLabel = {
        VARIABLES
            text: 'string',     // label text

        MODIFIERS
            isVisible: true,    // if has promo label
            isSpaced: true     // add higger horizontal padding
    }

    NEW EXAMPLE
    {% set promoLabel = {
        text: 'Promo: HKD  500 off',
        isSpaced: true
    } %}
    {% include "partials/ui-elements/_promo_label.njk" %}
#}
<span class="promo-label{% if promoLabel.isSpaced %} spaced{% endif %}">
{% if promoLabel.text | length %}
    {{ promoLabel.text | escape }}
{% else %}
    {{SHARED.promoLabelDefault}}
{% endif %}
</span>
