{#
    DOCUMENTATION:
    rating: {
        range: number // qualification range
        type: 'smiles' // qualifiaction rate apearence. Can be 'smiles' or 'stars'
        legend: string // accessibility screen reader text
        inputName: 'string' // form input name to set id and name attributes
    }
#}

<div class="ui-rating{% if rating.type %} ui-rating-{{rating.type}}{% endif %}">
    <fieldset>
        <legend>{{ rating.legend | default('Rating accessibility text') }}</legend>
        {% set options = [] %}
        {% for i in range(1, rating.range + 1) %}
            {% set options = (options.push({
                type: "checkbox",
                element: {
                    id: (inputName | default('rating')) + "-" + loop.index,
                    name: (inputName | default('rating')),
                    value: loop.index,
                    radio: true,
                    icon: true
                }
            }), options) %}
        {% endfor %}
        {% set formElements = {
            formGroups: [
                {
                    isContainer: true,
                    container: "ui-checkbox-inline",
                    elements: [
                        {
                            elementsGroup: options
                        }        
                    ]
                }
            ]
        } %}
        {% include "partials/components/_shared/forms/_create_form.njk" %}
    </fieldset>
</div>