{# example #}
{#
    // MODIFIERS
    {% set selectHasError = false %}    // validation error
    {% set selectDisable = true %}      // if is disabled
    {% set selectReadonly = true %}     // if is readonly
    {% set selectHasLabel = false %}    // if has label
    {% set selectHasValue = true %}     // if has value to highlight
    {% set selectHasTooltip = false %}  // if has tooltip
    {% set selectIsMultiple = true %}   // if has more than two or more fields
    {% set selectIsMultiple3 = true %}  // if has exactly 3 fields like birth dates

    // VARIABLES
    {% set selectForm = {
        label: 'Select label text',
        id: 'selectId',
        options: [
            {
                name: 'Round trip',
                id: ''
            }
        ]
    } %}
#}

<div class="ui-form_group">
    <ibe-select>
        {% if selectForm.length > 1 %}
        <div class="ui-form_controls">
            {% for item in selectForm %}
                {% set selectForm = item %}
                {% include "partials/ui-elements/_select-container.njk" %}
            {% endfor %}
        </div>     
        {% else %}
        {% include "partials/ui-elements/_select-container.njk" %}
        {% endif %}
    </ibe-select>
</div>