{# example #}
{#
{% set selectHasError = false %}   // validation error
{% set selectDisable = true %}      // if is disabled
{% set selectReadonly = true %}     // if is readonly
{% set selectHasLabel = false %}   // if has label
{% set selectHasTooltip = false %}   // if has tooltip
{% set selectForm = {
    label: 'Country',
    optionCurrent: 'France',
    id: 'countrySelect'
} %}
#}

<div class="ui-input-container{% if selectHasError == true %} has-error{% endif %}">
    {% if selectHasLabel | default(true) %}
    <label class="ui-label" for="{{inputForm.id}}">
        {{selectForm.label | safe}}
        {% if selectHasTooltip == true | default(false) %}
        <button class="ui-label_i"
            tabindex="-1"
            data-toggle="tooltip"
            data-original-title="We can easily contact you should there be any changes to  your flight(s).">
            <span class="hide-visually">We can easily contact you should there be any changes to  your flight(s).</span>
        </button>
        {% endif %}
    </label>
    {% endif %}

    <div class="ui-dropdown">
        <div class="ui-input-typeahead"
            aria-haspopup="listbox"
            aria-expanded="false">
            {% if selectHasLabel == false %}
            <label class="hide-visually" for="{{inputForm.id}}">{{selectForm.label}}</label>
            {% endif %}
            <input class="ui-input"
                id="{{inputForm.id}}"
                type="text"
                placeholder="{{selectForm.optionCurrent}}" />
        </div>
        <ul class="ui-dropdown_list"
            role="listbox"
            tabindex="-1"
            aria-hidden="true">
            <li role="option">
                <a tabindex="0">Option 1</a>
            </li>
            <li role="option">
                <a tabindex="0">Option 2</a>
            </li>
            <li role="option">
                <a tabindex="0">Option 3</a>
            </li>
        </ul>
    </div>
</div>
