
{# {% if selectForm.options | length == 1 or inputForm.prefix %}
    <div class="ui-input-container">
{% endif %} #}

<div class="ui-select-container
{% if selectForm.error %} has-error{% endif %}
{% if selectForm.readonly %} is-readonly{% endif %}
{% if selectForm.valid %} is-valid{% endif %}
{% if selectForm.invalid %} is-invalid{% endif %}
{% if selectForm.disabled %} is-disabled{% endif %}">
    {% if selectForm.options | length > 1 %}
    <fieldset>
    {% endif %}
    
    {% if selectForm.label | length %}
    <{% if selectForm.options | length > 1 %}legend{% else %}div{% endif %} class="{% if selectForm.hasLabel | default(true) %}ui-label{% else %}hide-visually{% endif %}">
        {# select label #}
        {{selectForm.label}}
    </{% if selectForm.options | length > 1 %}legend{% else %}div{% endif %}>
    {% endif %}

    {# select tooltip #}
    {% if selectHasTooltip | default(false) %}
        <button class="ui-label_i"
            aria-expanded="false"
            data-toggle="tooltip"
            data-original-title="{{selectForm.tooltipText}}">
            <span class="hide-visually">{{selectForm.label}} information</span>
        </button>
    {% endif %}
        
    {% if selectForm.options.length > 1 %}
    <div class="ui-form_controls">
    {% endif %}
        {% for option in selectForm.options %}
            <div class="ui-dropdown{% if option.hasValue %} has-value{% endif %}
            {% if selectForm.error %} has-error{% endif %}
            {% if selectForm.disabled %} is-disabled{% endif %}
            {% if selectForm.valid %} is-valid{% endif %}
            {% if selectForm.invalid %} is-invalid{% endif %}">
                <button class="ui-input"
                    aria-haspopup="listbox"
                    aria-expanded="false"
                    aria-controls="{{option.id}}">
                    <span class="ui-dropdown_value">
                        {{option.name}}
                    </span>
                </button>
                <ul class="ui-dropdown_list"
                    role="listbox"
                    tabindex="-1"
                    id="{{option.id}}"
                    aria-hidden="true">
                    {% for i in range(0, 8) -%}
                        {% set counter = ( counter | default(0) ) + 1 %}
                        <li role="option">
                            {% if selectForm.hasButtonOptions %}
                                <button>Option {{counter}}</button>
                            {% else %}
                                <a role="button" tabindex="0">Option {{counter}}</a>
                            {% endif %}
                        </li>
                    {%- endfor %}
                </ul>
            </div>
        {% endfor %}
    {% if selectForm.options | length > 1 %}
        </div>
    </fieldset>
    {% endif %}
</div>