{#
    DOCUMENTATION
    sliderRange: {
        min: number,
        max: number,
        step: number,
        value: {
            iteger: string
            decimals: string
            units: string
        }
    }
#}

<ibe-slider-range>
    <div class="ui-slider-range">
        <input class="ui-slider-range_input"
            type="range" min="{{ sliderRange.min | default(0) }}"
            max="{{ sliderRange.max | default(100) }}"
            step="{{ sliderRange.step | default(0.2) }}">
        <div class="ui-slider-range_value">
            <span class="integer">{{sliderRange.value.iteger}}</span>
            <span class="decimals">{{sliderRange.value.decimals}}</span>
            <span class="units">{{sliderRange.value.units}}</span>
        </div>
    </div>
</ibe-slider-range>