{#
    DOCUMENTATION
    pageButtons = {
        VARIABLES
        align: 'string' // align table
        thead: 'Array ths' // Array de ths with the title of th
        tbody: 'Array de tds'  // Array de ths with the title of td
        MODIFIERS
        isResponsive?: boolean = true // add or remove table responsive class
        hasSideHeader?: boolean = false // add has-side-header modifier
        thTheadWithAccessibility: boolean // add scope="col" to horizontal <thead> <tr> tags
        upperline: 'string' class in the tr, border top in the tds
        upperline-tb: 'string' class in tbody, border bottom
        hidden: 'string' class in td that do not have atributte rowspan and they are hidden
        td-rowspan: 'string' class in td that have rowspan
        isCorporative: boolean // add context.taable wrapper div
    }
    EXAMPLE nodo:
    tds: [
        { title: 'Initial Booking*', rowspan: '3', align: 'left', class: "td-rowspan" } // space beetwen td and align
    ]
    EXAMPLE
    {% set data = {
        align: 'center',
        thead: {
            ths: [
                { title: ' ' },
                { title: 'Weight' },
                { title: 'HKD' },
                { title: 'JPY' },
                { title: 'TWD' },
                { title: 'CNY' },
                { title: 'THB' },
                { title: 'MYR' },
                { title: 'USD' },
                { title: 'KRW' }
            ]
        }
        ,
        class: 'upperline-tb',
        tbody: [
            {
                tds: [
                    { title: 'Initial Booking*', rowspan: '3', align: 'left', class: "td-rowspan" },
                    { title: '20kg' },
                    { title: '200' },
                    { title: '3.100' },
                    { title: '820' },
                    { title: '187' },
                    { title: '860' },
                    { title: '100' },
                    { title: '26' },
                    { title: '28.400' }
                ]
            },
            {
                tds: [
                    { title: ' ', class: "hidden" },
                    { title: '25kg' },
                    { title: '200' },
                    { title: '3.100' },
                    { title: '820' },
                    { title: '187' },
                    { title: '860' },
                    { title: '100' },
                    { title: '26' },
                    { title: '28.400' }
                ]
            },
            {
                tds: [
                    { title: ' ', class: "hidden" },
                    { title: '30kg' },
                    { title: '200' },
                    { title: '3.100' },
                    { title: '820' },
                    { title: '187' },
                    { title: '860' },
                    { title: '100' },
                    { title: '26' },
                    { title: '28.400' }
                ]
            },
            {
                hasClass: 'upperline',
                tds: [
                    { title: 'Manage My Booking <br> (After initial Booking)', rowspan: '3', align: 'left', class: "td-rowspan"},
                    { title: '20kg' },
                    { title: '200' },
                    { title: '3.100' },
                    { title: '820' },
                    { title: '187' },
                    { title: '860' },
                    { title: '100' },
                    { title: '26' },
                    { title: '28.400' }
                ]
            },
            {
                tds: [
                    { title: ' ', class: "hidden" },
                    { title: '25kg' },
                    { title: '200' },
                    { title: '3.100' },
                    { title: '820' },
                    { title: '187' },
                    { title: '860' },
                    { title: '100' },
                    { title: '26' },
                    { title: '28.400' }
                ]
            },
            {
                tds: [
                    { title: ' ', class: "hidden" },
                    { title: '30kg' },
                    { title: '200' },
                    { title: '3.100' },
                    { title: '820' },
                    { title: '187' },
                    { title: '860' },
                    { title: '100' },
                    { title: '26' },
                    { title: '28.400' }
                ]
            }
        ]
    } %}
    {% include "partials/ui-elements/_table-responsive.njk" %}
#}
{% if data.title %}
    <div class="context-table_title">
        <{{ data.title.type | default('h4') }} class="title">{{ data.title.text }}</h4>
    </div>
{% endif %}
<div class="context-table">
    <table class="{% if data.isResponsive | default(true) %}table-responsive{% else %}table{% endif %}{% if data.hasSideHeader %} has-side-head{% endif %}">
        {% if data.thead.ths | length > 0 %}
            <thead>
                <tr{% if data.align %} align="{{ data.align }}"{% endif %}>
                    {% for th in data.thead.ths %}
                        <th{% if data.thTheadWithAccessibility and th.title != '' %} scope="col"{% endif %}{% if th.colspan %} colspan="{{ th.colspan }}"{% endif %}{% if th.align %} align="{{ th.align }}"{% endif %}>{{th.title}}</th>
                    {% endfor %}
                </tr>
                {% for tr in data.thead.extraThs %}
                    <tr{% if data.align %} align="{{ data.align }}"{% endif %}>
                        {% for th in tr %}
                            <th{% if data.thTheadWithAccessibility and th.title != '' %} scope="col"{% endif %}{% if th.colspan %} colspan="{{ th.colspan }}"{% endif %}{% if th.align %} align="{{ th.align }}"{% endif %}>{{th.title}}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </thead>
        {% endif %}
        <tbody class="{{ data.class }}">
            {% for row in data.tbody %}
            <tr{% if data.align %} align="{{ data.align }}"{% endif %}{% if row.hasClass %} class="{{ row.hasClass }}"{% endif %}>
                {% for td in row.tds %}
                    <{% if td.rowspan or td.isTh %}th scope="row"{% else %}td{% endif %}{% if data.thead.ths[loop.index - 1].title  %} data-th="{{  td.dataTh or data.thead.ths[loop.index - 1].title }}"{% endif %}{% if td.align %} align="{{ td.align }}"{% endif %}{% if td.rowspan %} rowspan="{{ td.rowspan }}"{% endif %}{% if td.class %} class="{{ td.class }}"{% endif %}> 
                        {% if td.isStrong %}<strong>{{ td.title | safe }}</strong>{% else %}{{ td.title | safe }}{% endif %} 
                    </{% if td.rowspan %}th{% else %}td{% endif %}>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>