{# example #}
{#
{% set tabs_underline_items = [
    { text: 'Jane Doe', active: true },
    { text: 'John Smith' },
    { text: 'Richard Roe '}
] %}
#}

<div class="tabs-underline_wrap">
    <ul class="tabs-underline">
        {% for item in tabs_underline_items %}
            <li class="tabs-underline_item{% if item.active %} active{% endif %}">
                {% if item.active %}<span class="hide-visually">Selected:</span>{% endif %}
                <span class="label">{{ item.text }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
