{#
    DOCUMENTATION:
    VARIABLES
    {% set tooltip = {
        text: 'string'    // text
        srText: 'string'  // text used for screen readers
    } %}
    {% include "partials/ui-elements/_tooltip.njk" %}
#}

<button class="ui-label_i"
    aria-expanded="false"
    data-toggle="tooltip"
    data-placement="{{tooltip.placement}}"
    data-original-title="{{tooltip.text}}">
    <span class="hide-visually">{{tooltip.srText}}</span>
</button>
