// ********************
//  UI-ELEMENTS
// ********************
//
//  LISTS
//
// ********************
//
// + Bullet list - .list-bullet
// + Arrow icon list - .list-style1
// + context list
// + context-list with second level
// + list
//
// ********************

// + Bullet list
// -------
.list-bullet {
    li {
        position: relative;
        padding-left: 14px;
        margin: 10px 0;
        &::before {
            $bullet-size: 5px;
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: $bullet-size;
            height: $bullet-size;
            border-radius: 50%;
            background-color: $c-text;
        }
    }
}

// + Icon list
// -------
.list-icon {
    &.space {
        li {
            margin-bottom: 10px;
            padding-left: 42px
        }
        .icon {
            @include font-size($f-size-lg);
            width: $f-size-lg; //## need when using img instead of fonticon
        }
    }
    li {
        position: relative;
        margin: 6px 0;
        padding-left: 32px;
        .icon {
            @include font-size($f-size-md);
            position: absolute;
            left: 0;
            top: -3px;
            width: $f-size-md; //## need when using img instead of fonticon
            color: $c-primary;
        }
    }
}


// + Arrow icon list
// -------
.list-style1 {
    font-size: 100%;
    > li {
        position: relative;
        padding-left: 1.2em;
        margin-bottom: 1em;
        &::before {
            content: '';
            position: absolute;
            top: calculateEm(7px);
            left: 0;
            width: calculateRem(8px);
            height: calculateRem(8px);
            background-color: $c-primary;
        }
    }
    &.condensed {
        li {
            margin-bottom: 6px;
        }
    }
}

// +++ context list
.context-list,
.context-list-basic,
.context-list-icon,
.context-list-icon-md {
	margin: 0 0 calculateRem($paragraph-bottom-space);
	li {
        margin: 0 0 calculateRem(6px);
        ul, ol {
            margin-top: calculateRem(6px);
        }
		br + br {
            content: '';
            display: block;
            height: 10px;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.context-list-icon,
.context-list-icon-md {
    li {
        position: relative;
    }
    .icon {
        display: inline-flex;
        align-items: center;
        position: absolute;
        left: 0;
        height: 100%;
        img {
            width: 100%;
        }
    }
}
// .context-list-icon {
//     li {
//         padding-left: 22px;
//     }
//     .icon {
//         top: 0;
//         width: 15px;
//         height: 22px;
//     }
// }
// .context-list-icon-md {
//     li {
//         padding-left: 72px;
//         margin: 30px 0;
//     }
//     .icon {
//         top: -18px;
//         width: 55px;
//         height: 55px;
//     }
// }
// .context-list-basic { //## bullet list
//     @extend .list-bullet;
// }
.context-list, .context-list-alpha { //## arrows custom styles
    @extend .list-style1;
    &.secondary {
        li {
            &::before {
                color: $c-secondary;
            }
        }
    }
    &.primary { //## to reset when parent is secondary
        li {
            &::before {
                color: $c-primary;
            }
        }
    }
    &.columns { //## total columns for list
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: calc(50% - 50px);
            padding-right: 24px;
            @media #{$until-tablet-portrait} { // <=768px
                flex-basis: 100%;
                padding-right: 0;
            }
        }
    }
    li {
        &::before {
            color: $c-primary;
        }
    }
}
// context-list with second level
ol {
    &.context-list, &.context-list-alpha  { //## numeric style
        counter-reset: number;
        > li {
            padding-left: 1.2em;
            &::before {
                @include font-size($f-size);
                content: counters(number, ".")".";
                top: 0;
                width: auto;
                height: auto;
                font-family: $font-sanserif;
                font-weight: 600;
                background-color: transparent;
                counter-increment: number;
            }
        }
        // simulate <ol> start attribute
        @for $i from 1 through 10 {
            &[start="#{$i}"] {
                counter-reset: number ($i - 1);
            }
        }
    }
    &.context-list {
        > li {
            &:nth-child(n+10) { // > 10
                padding-left: 2em;
            }
        }
    }
    &.context-list-alpha { //## alpha numeric style
        > li {
            &::before {
                content: counter(number, lower-alpha)".";
                counter-increment: number;   
            }
            &:nth-child(n+10) {
                padding-left: 1.2em;
            }
        }
    }
}
// spacing on internal <ol> levels
ul, ol {
    &.context-list,
    // &.context-list-basic,
    &.context-list-alpha {
        li {
            > ol { //## first under level (1.1)
                &.context-list {
                    > li {
                        padding-left: 35px;
                        > ol { //## second under level (1.1.1)
                            &.context-list {
                                > li {
                                    padding-left: 49px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// + list (to unify list types)
.list {
    @include handling-long-words;
}
// .list-line {
//     .list_item {
//         padding: 33px 25px 12px;
//         border-bottom: 1px solid $gray60;
//         .left {
//             font-weight: 600;
//         }
//     }
// }
// .list_item {
//     display: flex;
//     justify-content: space-between;
//     clear: both;
//     // elements
//     .left {
//         padding-right: 15px;
//     }
//     .right {
//         padding-left: 15px;
//         text-align: right;
//     }
// }
// [Responsive]
// @media #{$until-mobile} {
//     .list-line {
//         // elements
//         .list_item {
//             padding: 33px 0 8px;
//             .left, .value, .right {
//                 margin-bottom: 5px;
//             }
//         }
//     }
//     .list_item {
//         flex-direction: column;
//         // elements
//         .left, .right {
//             padding: 0;
//         }
//         .right {
//             text-align: left;
//         }
//     }
// }
