// ********************
//  COMPONENTS
//
// ********************
//  PAGINATION
// ********************
//
// ********************

// pagination
$pagination-item-width: 35px;
.pagination {
    text-align: center;
}
.pagination_list {
    display: inline-flex;
    margin: calculateRem(23px) 0 0;
    li {
        display: inline-block;
        &.prev, &.next {
            a {
                color: $c-primary;
                &::before {
                    margin: calculateEm(5px) 0 0; // IE11 Support;
                    font-size: calculateEm(13px);
                }
            }
        }
        &.prev {
            a {
                @include iconfont($icon-arrow-single-left);
            }
        }
        &.next {
            a {
                @include iconfont($icon-arrow-single-right);
            }
        }
        &.active {
            position: relative;
            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                left: 50%;
                top: 50%;
                background-color: $c-secondary;
                width: calculateRem($pagination-item-width);
                height: calculateRem($pagination-item-width);
                transform: translate(-50%, -50%);
            }
            a {
                color: $c-primary;
                font-weight: 600;
                cursor: auto;
            }       
        }
    }
    a {
        display: inline-flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        min-width: $pagination-item-width;
        min-height: $pagination-item-width;
        padding: calculateRem(7px); // IE11 Support
        color: $c-text;
        text-decoration: none;
        &:hover {
            color: $c-primary;
        } 
    }
}

$pagination-item-width: 40px;
@media #{$until-mobile-sm} { // <=480px
    .pagination_list {
        position: relative;
        justify-content: center;
        width: 100%;
        // padding: 0 10px;
        box-sizing: border-box;
        li {
            flex-basis: (100% / 8);
            text-align: center;
            a {
                min-width: $pagination-item-width;
                min-height: $pagination-item-width;
                padding: calculateRem(9px);
            }
            &:nth-child(4),
            &:nth-child(9) { // hide two links in mobile
                display: none;
            }
            &.pagination_next-block {
                display: none;
            }
        }
        .active {
            &::before {
                width: calculateRem(40px);
                height: calculateRem(40px);
            }
        }
    }
}