{#
    DOCUMENTATION:
    breadcrumbsList: {
        VARIABLES:
        item: 'string' // name link
        url 'string'   // redirect to page
        MODIFIERS:
    }
    breadcrumb = {
        VARIABLES:
        itemCurrent: 'stringi' //  current page,
        MODIFIERS:
        hasDropdown: 'boolean' // if true show dropdown list with destinations
    }

    EXAMPLE:
    {% set breadcrumbsList = [
        {
            item: 'Plan',
            url: '#'
        },
        {
            item: 'Destination Guides',
            url: '#'
        }
    ] %}
    {% set breadcrumb = {
        itemCurrent: 'Chiang Mai',
        hasDropdown: true
    } %}

    {% include "partials/corporative/_breadcrumb.njk" %}
#}


<ol class="breadcrumb">
    <li class="go-home breadcrumb_item">
        <a href="CORP-index.html">
            <span class="hide-visually">Home</span>
        </a>
    </li>
    {% for breadcrumb in breadcrumbsList %}
    <li class="breadcrumb_item">
        <a href="{{breadcrumb.url}}">
            {{breadcrumb.item}}
        </a>
    </li>
    {% endfor %}
    <li class="breadcrumb_item">
        {% if not breadcrumb.hasDropdown %}
            {{breadcrumb.itemCurrent}}
        {% endif %}
        <div class="ui-dropdown {% if breadcrumb.hasDropdown %}show{% else %}hide{% endif %}">
            {% if breadcrumb.hasDropdown %}
            <button class="breadcrumb_dropdown_trigger"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-controls="openDestinationsOptions">
                {{breadcrumb.itemCurrent}}
            </button>
            <ul class="ui-dropdown_list"
                role="listbox"
                tabindex="-1"
                aria-hidden="true"
                id="openDestinationsOptions">
                <li role="option"><button>Hiroshima</button></li>
                <li role="option"><button>Kumming</button></li>
                <li role="option"><button>Siem Reap</button></li>
                <li role="option"><button>Tokio</button></li>
                <li role="option"><button>Hiroshima</button></li>
                <li role="option"><button>Kumming</button></li>
                <li role="option"><button>Siem Reap</button></li>
                <li role="option"><button>Tokio</button></li>
            </ul>
            {% endif %}
        </div>
    </li>
</ol>
