{#
    DOCUMENTATION:
    period-box: {
        VARIABLES:
        title: string // period description title
        date: string // efective vigency period
    }

    EXAMPLE:
    {% set periodBoxes = {
        items: [
            {
                title: 'Booking period',
                date: '11 Jul - 15 Jul 2018'
            },
            {
                title: 'Travel period',
                date: '11 Jul 2018 - 10 Jun 2019'
            }
        ]
    } %}
    <div class="period-box_container">
        {% for periodBox in periodBoxes.items %}
            {% include "partials/corporative/_period-box.njk" %}
        {% endfor %}
    </div>
#}

<div class="datetimer_wrapper">
    <div class="datetimer">
        <div class="datetimer_indicator">
            <span class="datetimer_value">3</span>
            <span class="datetimer_label">Days</span>
        </div>
        <div class="datetimer_indicator">
            <span class="datetimer_value">23</span>
            <span class="datetimer_label">Hours</span>
        </div>
        <div class="datetimer_indicator">
            <span class="datetimer_value">48</span>
            <span class="datetimer_label">Min.</span>
        </div>
        <div class="datetimer_indicator">
            <span class="datetimer_value">53</span>
            <span class="datetimer_label">Sec.</span>
        </div>
    </div>
</div>