{#
    DOCUMENTATION:
    deals: {
        VARIABLES:
        text: 'string'  // description caption
        image: 'string' // location image
    }

    EXAMPLE:
    {% set deals = 
    [
        {
            text: 'Selected hotels up to 75% off. Book now!',
            image: '//www.hkexpress.com/sites/default/files/styles/destination_thumbnail/public/Home_CEI.jpg?itok=wXZv4AIn>'
        },
        {
            text: 'Stay protected with travel insurance.',
            image: '//www.hkexpress.com/sites/default/files/styles/destination_thumbnail/public/Home_REP.jpg?itok=gCq9rmZ5>'
        },
        {
            text: 'Earn reward-U points with our loyalty program',
            image: '//www.hkexpress.com/sites/default/files/styles/destination_thumbnail/public/Home_Busan.jpg?itok=M__nGXMu>'
        },
        {
            text: 'Up to 50% Discount Activity tickets',
            image: '//www.hkexpress.com/sites/default/files/styles/destination_thumbnail/public/Home_takamatsu.jpg?itok=_4Q4Q43o>'
        }
    ]%}
    {% include "partials/components/_deal.njk" %}
#}
<div class="deal">
  <a href="">
    <div class="deal_image" style="background-image: url('{{ deal.image }}')">             
        {# <img src="{{ deal.image }}" alt="{{ deal.text }}" class="img-one"/> #}
        <div class="brand">                
            <svg class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 32 32">
            <path d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"></path>
            </svg>                
        </div>                              
    </div>
    </a>      
    <div class="deal_caption">
        <p>{{ deal.text }}</p>
    </div>
</div>