{#
    DOCUMENTATION
    destinationGuide: {
        VARIABLES:
        items: DestinationOffer // see "partials/corporative/destinations-offers/_destination-offer.njk"
    }

    EXAMPLE
#}

<div class="destination-guide">
    <div class="destination-guide_destinations">
        {% for destinationsOffer in destinationGuide.items %}
            {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
        {% endfor %}
    </div>
</div>
