{#
    DOCUMENTATION:
    flyprograms: {
        VARIABLES:
        src: 'string' // route resource
        alt: 'string' // description img
        href: 'string' // url page for brand
    }

    EXAMPLE:
     {% set flyprograms = [
        {
            src: '',
            alt: '',
            linkTitle: '',
            href: ''
        }
    ] %}
    {% include "partials/corporative/_fly-programs.njk" %}
#}
<ul class="fly-programs">
{% for flyprogram in flyprograms %}
    <li class="fly-programs_item">
        <a href="{{ flyprogram.href }}" target="_blank" title="{{flyprogram.linkTitle}}">
            <img src="{{ flyprogram.src }}" alt="{{ flyprogram.alt }}" />
        </a>
    </li>
{% endfor %}
</ul>
