
{#
    DOCUMENTATION:

    EXAMPLE:

    {% include "partials/corporative/_header_corporative-popover.njk" %}
#}
<div class="header_coporative-popover">
    <div class="ui-dropdown_list-popover_wrap">
        <div class="ui-dropdown_list-popover"
            role="listbox"
            tabindex="-1"
            aria-hidden="true">
            <p class="titlePop">
                Sign in to your account
            </p>
            <!-- Component footer corporative socialmedia list -->
            {% set socialmedias = [
                {
                    icon: 'social_facebook',
                    url: '#'
                },
                {
                    icon: 'social_instagram',
                    url: '#'
                },
                {
                    icon: 'social_weibo',
                    url: '#'
                }
            ]
            %}
            {% include "partials/corporative/_footer_corporative-socialmedia_list.njk" %}
            <span class="space_top"><span class="or">OR</span></span>
            {% set login_form = {
                input1Label: 'E-MAIL',
                input2Label: 'PASSWORD',
                isAline: false,
                buttonText: 'SIGN IN',
                buttonUrl: 'index' + urlExtension | default('.html'),
                isVertical: true,
                hasTooltips: false,
                forgotPassword: true,
                hasGetText: true,
                getTextInfoBottom: 'Not  a member',
                getTextLinkBottom: 'Sign up now'
            } %}
            {% include "partials/components/_shared/forms/_login-form.njk" %}
        </div>
    </div>
</div>
