{#
    DEPRECATED, use individial offers_item inside CMS columns
#}
<div class="offers_wrap">
    {% if mainOffers.title %}
        <h1 class="offers_title">{{ mainOffers.title | safe }}</h1>
    {% endif %}
    <div class="grid offers-grid">
        {% for offer in mainOffers.offers %}
            <div class="{{ mainOffers.gridCols }}">
                {% include "partials/components/_offers_item.njk" %}
            </div>
        {% endfor %}
    </div>
</div>
