{#
    DOCUMENTATION:
    banner: {
        MODIFIERS
        showPagination: boolean,    // shows slider pagination bullets
        showPrevNext: boolean       // shows slider prev / next controls
        alignRight: boolean         // align caption to right (is left default)
        alignCenter: boolean        // align caption to center (is left default)
        textLight: boolean          // caption text has white color (default is primary color), nice to dark backgrounds
        showCaption: bolean         // if true show caption

        ELEMENTS:                   // inner slide objects
        items: [                   
            {
                bg: string          // banner image without extension
                title: string       // big and main banner text
                subtitle: string    // mid big banner text
                text: string        // medium banner text
                note: string        // smaller banner text
                button: string      // button text, if is empty, button HTML is not render
                isActive: boolean   // represents current visible banner slide
            }
        ]
    }

    EXAMPLE:
    {% set banner = {
        showPagination: false,
        showPrevNext: false,
        items = [
            {
                bg: 'banner_destination',
                title: 'Summer Gateway',
                subtitle: '23 destinations',
                button: 'View offers',
                textLight: true,
                isActive: true
            },
            {
                bg: 'banner_app',
                title: 'Get online &<br />skip the line',
                text: 'Learn more about our<br />Online Check-in service now',
                button: 'See more',
                alignRight: true,
                isActive: false
            }
        ]
    %}

    {% include "partials/corporative/_main-banner.njk" %}
#}

<!-- MAIN BANNER -->
<div class="main-banner{% if isBannerInnerPage %} main-banner_innerpages{% endif %}">
    {% if banner.items.length > 1 %}
    {% if banner.showPrevNext | default(false) %}
        <button class="slide-control left">
            <span class="icon icon-arrow-triangle-left">
                <span class="hide-visually">Prev</span>
            </span>
        </button>
    {% endif %}
    {% endif %}
    <div class="main-banner_slider">
        {% for item in banner.items %}
        <div class="main-banner_item{% if item.isActive %} active{% endif %}{% if item.alignRight %} align-right{% endif %}{% if item.alignCenter %} align-center{% endif %}" data-target="rpImagesBg">
            {% if (item.title) or (item.subtitle) or (item.text) or (item.button) %}
            <div class="main-banner_container">
                <div class="main-banner_caption
                    {% if item.alignRight %} align-right{% endif %}
                    {% if item.alignCenter %} align-center{% endif %}
                    {% if item.textLight %} text-light{% endif %}">
                    <{{ item.titleType | default('h2') }} class="title">{{ item.title | safe }}</{{ item.titleType | default('h2') }}>
                    {% if item.subtitle | length %}<p class="subtitle">{{ item.subtitle | safe }}</p>{% endif %}
                    {% if (item.price.label | length) or (item.price.value | length) %}
                        <p class="price_wrap">
                            <span class="from">{{ item.price.label }}</span>
                            <span class="currency">$</span>
                            <span class="price">{{ item.price.value }}</span>
                        </p>
                    {% endif %}
                    {% if item.text | length %}<p class="text">{{ item.text | safe }}</p>{% endif %}
                    {% if (item.button) and (item.buttonIntroCaption) %}
                        <a href="#" class="main-banner_button button">{{ item.button }}</a>
                    {% endif %}
                    {% if item.note | length  %}
                        <p class="note">{{ item.note | safe }}</p>
                    {% endif %}
                </div>
                {% if not (item.buttonIntroCaption) and (item.button) %} 
                    <a href="#" class="main-banner_button button">{{ item.button }}</a>
                {% endif %}
            </div>
            {% endif %}

            <picture class="main-banner_bg" data-target="rpImages">
                <source srcset="{{ project_assets_path }}imgs/banners/{{ item.bg }}.jpg" media="(min-width: 1025px)">
                <source srcset="{{ project_assets_path }}imgs/banners/{{ item.bg }}.jpg" media="(min-width: 640px)">
                <source srcset="{{ project_assets_path }}imgs/banners/{{ item.bg }}.jpg" media="(min-width: 481px)">
                <img src="{{ project_assets_path }}imgs/banners/{{ item.bg }}.jpg" alt="">
            </picture>
        </div>
        {% endfor %}
    </div>

    {% if banner.items.length > 1 %}
    {% if banner.showPrevNext | default(false) %}
    <button class="slide-control right">
        <span class="icon icon-arrow-triangle-right">
            <span class="hide-visually">Next</span>
        </span>
    </button>
    {% endif %}
    {% endif %}

    {% if banner.items.length > 1 %}
    {% if banner.showPagination | default(false) %}
    <div class="main-banner_controls">
        <div class="main-banner_pager">
            {% if banner.ctrlPause | default(false) %}
                <button class="main-banner_pager_item control-pause">
                    <span class="hide-visually">Video</span>
                </button>
            {% endif %}
            {% for item in banner.items %}
            <button class="main-banner_pager_item{% if item.isActive %} active{% endif %}">
                <span class="hide-visually">{{ item.title | safe }}</span>
            </button>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
