{#
    DOCUMENTATION: JSON VARIABLES
    mapRoutes: {
        VARIABLES:
        title: 'string' 
        introdution: 'string' // introductory text
        img: 'string' // image of the map routes
        button: 'strin' // text of button to watch more info
    }

    EXAMPLE:
    {% set mapRoutes = {
            title: 'Mapa de Rutas',
            introdution: 'Paranair te ofrecen una gran',
            img: 'http://via.placeholder.com/770x465',
            button: 'info',
        }
    %}
    {% include "partials/corporative/_map_routes.njk" %}
#}
<div class="map-routes">
    <div class="map-routes_header">
        <h2 class="title">{{ mapRoutes.title }}</h2>
        <p class="introduction">{{ mapRoutes.introdution }}</p>
        {% if mapRoutes.button.text | length %}
            <div class="map-routes_button_wrap">
                <a href="{{mapRoutes.button.url}}" class="map-routes_button">{{mapRoutes.button.text}}</a>
            </div>
        {% endif %}
    </div>
    <div class="map-routes_image">
        <picture>
            <source srcset="{{ project_assets_path }}imgs/maproutes/{{ mapRoutes.img}}" media="(min-width: 1025px)">
            <source srcset="{{ project_assets_path }}imgs/maproutes/{{ mapRoutes.img}}" media="(min-width: 640px)">
            <source srcset="{{ project_assets_path }}imgs/maproutes/{{ mapRoutes.img}}" media="(min-width: 481px)">
            <img src="{{ project_assets_path }}imgs/maproutes/{{ mapRoutes.img}}" alt="" />
        </picture>
    </div>
</div>