{#
    DOCUMENTATION:
    VARIABLES
    MODIFIERS:
    top-inline: boolean // add class for aline top component
    isAlternative: boolean // add is-alternative class modifier

    EXAMPLE:
    {% include "partials/corporative/_multiple-panel.njk" %}
#}

{# MULTIPANEL #}
<div class="multiple-panel{% if multiplePanel.styleType %} has-style-{{ multiplePanel.styleType }}{% endif %}{% if multiplePanel.isFullWidth %} is-full-width{% endif %}{% if multiplePanel.responsive.collapsible == true %} is-responsive{% endif %}">
    {# MULTIPANEL TABS (NAVIGATION) #}
    {% if multiplePanel.navItems.length > 1 and multiplePanel.showTabs | default(true) %}
    <div class="multiple-panel_nav" role="tablist">
        {% for item in multiplePanel.navItems %}
            {% if item.url %}
                {# MULTIPANEL TAB (LINK) #}
                <a class="multiple-panel_nav_item" tabindex="{{item.tabindex}}" href="{{item.url}}" title="{{item.text}}" id="{{item.id}}">
                    <span class="vcenter-text">{{item.text}}</span>
                </a>
            {% else %}
                {# MULTIPANEL TAB (BUTTON - OPEN CONTENT) #}
                <button class="multiple-panel_nav_item"
                    role="tab"
                    aria-selected="{% if item.panel.show %}true{% else %}false{% endif %}"
                    aria-controls="{{item.ariaControl}}"
                    id="{{item.id}}"
                    {% if item.tabindex %}tabindex= {{item.tabindex}} {% endif %}>
                    {{item.text}}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {# MULTIPANEL CONTENT #}
    <div class="multiple-panel_content">
    {% for item in multiplePanel.navItems %}
        {% set panel = item.panel %}
        {% if multiplePanel.navItems.length > 1 %}
            <div class="multiple-panel_item{% if panel.show %} show{% endif %}"
                role="tabpanel"
                tabindex="0"
                id="{{item.ariaControl}}"
                aria-labelledby="{{item.id}}">
                
                {# if multipanel turn from tabs to a collapsable element on responsive #}
                {% if multiplePanel.responsive.collapsible %}
                    <button class="multiple-panel_collapse_trigger"
                        aria-expanded="{% if panel.show %}true{% else %}false{% endif %}">
                        {% if panel.button.icon | length %}<span class="icon icon-{{panel.button.icon}}"></span>{% endif %}
                        {{panel.button.text}}
                    </button>
                {% endif %}

                <div class="multiple-panel_item_content{% if panel.show %} active{% endif %}">
                    {% if panel.contentInclude %}   
                        {% include panel.contentInclude %}
                    {% endif %}
                    {% if panel.html %}   
                        {{ panel.html | safe }}
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% if panel.contentInclude %}{% include panel.contentInclude %}{% endif %}
        {% endif %}
    {% endfor%}
    </div>
</div>