{#
    DOCUMENTATION:
    VARIABLES
    multipleSearch.active: number // position in the array that will be activated
    item: {
        "link": {
          "url": string    // url
          "title": string  // when target is _blank
          "target": string // open in new window
        },
        "label": string      // description element
        "icon": string             // name of icon
        "selected": true           // the item is visible
        "controls": string         // name control
        "id": string               // name id
        "tabindex": -1
        "contentInclude": string   // name component example: "partials/components/IBE/flight-search/_flight-search.njk"
      }
    MODIFIERS:

    EXAMPLE:
    data.json in the variable "multipleSearch"
    {% include "partials/corporative/_multiple_search.njk" %}
#}
{% if multipleSearch.show %}
    <div class="multiple-search">
        {# MULTISEARCH TABS (NAVIGATION) #}
        {% if not multipleSearch.isCollapsable | default(false) %}
        <div class="multiple-search_nav" role="tablist">
            {% for item in multipleSearch.items %}
                <{% if item.link | length %}a href="{{ item.link.url}}" {% if item.link.target %}target="_blank" title="{{ item.link.title }}" {% endif %}
                    {% else %}button {% endif %}
                    class="multiple-search_nav_item"
                    role="tab"
                    aria-selected="{% if multipleSearch.active == loop.index %}true{% else %}false{% endif %}"
                    aria-controls="{{ item.controls }}"
                    id="{{ item.id }}"
                    tabindex="{{ item.tabindex }}">
                    {% if item.icon | length %}
                    <span class="multiple-search_nav_{{item.icon}}"></span>
                    {% endif %}
                    {% if item.label | length %}
                    <span class="multiple-search_nav_label">{{item.label}}</span>
                    {% endif %}
                </{% if item.link | length %}a {% else %}button {% endif %}>
            {% endfor %}
        </div>
        {% endif %}
        {# MULTISEARCH CONTENT #}
        <div class="multiple-search_content" id="multipleSearch">
            {% for item in multipleSearch.items %}
                {% if multipleSearch.isCollapsable | default(false) %}
                <div class="multiple-search_nav">
                    <button class="multiple-search_nav_item{% if multipleSearch.active != loop.index %} collapsed{% endif %}"
                        data-toggle="collapse"
                        aria-controls="{{item.controls}}"
                        data-target="#{{item.controls}}"
                        id="{{ item.id }}"
                        tabindex="{{item.tabindex}}">
                        {% if item.icon | length %}
                        <span class="multiple-search_nav_{{item.icon}}"></span>
                        {% endif %}
                        {% if item.label | length %}
                        <span class="multiple-search_nav_label">{{item.label}}</span>
                        {% endif %}
                    </{% if item.link | length %}a {% else %}button {% endif %}>
                </div>
                {% endif %}

                {% if not (item.url) and (item.contentInclude) %}
                    <div class="multiple-search_item{% if multipleSearch.active == loop.index %} show{% endif %}{% if multipleSearch.isCollapsable | default(false) %} collapse{% endif %}"
                        role="tabpanel"
                        tabindex="0"
                        id="{{item.controls}}"
                         data-parent="#multipleSearch"
                        aria-labelledby="{{item.id}}">
                        {% include item.contentInclude %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}