{#
    DOCUMENTATION:
    newsDetail: {
        VARIABLES
        title: {
            text: string,
        },
        subtitle?: {
            text: strign
        }
        date?: Date // see "partials/components/IBE/_common/_date.njk"
        author: {
            name?: string,
            tag?: string,
            hasBy?: boolean = true
        }
    }
    {% include "partials/corporative/_news-detail.njk" %}
#}

<div class="news-detail">
    {# header #}
    <div class="news-detail_header">
        <h2 class="news-detail_header_title">
            <span class="news-detail_header_title_text">{{ newsDetail.title.text | default('New title') }}</span>
        </h2>
        <h3 class="news-detail_header_subtitle">
            <span class="news-detail_header_subtitle_text">{{ newsDetail.subtitle.text | default('New subtitle') }}</span>
        </h3>
    </div>

    {# info #}
    <div class="news-detail_info">
        {% if newsDetail.date %}
            <div class="news-detail_info_date">
                {% set date = newsDetail.date %}
                {% include "partials/components/IBE/_common/_date.njk" %}
            </div>
        {% endif %}
        <div class="news-detail_info_author">
            {% if newsDetail.author.hasBy | default(true) %}
                <span class="news-detail_info_author_by">{{ SHARED.by }}</span>
            {% endif %}
            {% if newsDetail.author.name %}
                <span class="news-detail_info_author_name">{{ newsDetail.author.name }}</span>
            {% endif %}
            {% if newsDetail.author.tag %}
                <span class="news-detail_info_author_tag">{{ newsDetail.author.tag }}</span>
            {% endif %}
        </div>
    </div>

    {# content #}
    <div class="news-detail_content">
        <!-- START Umbraco Page Injection -->
        <div class="grid">
            <div class="grid-col col-12">
                <h3 class="context-h2">Jambojet ranked best low cost carrier in Kenya at the 2014 World Airline Awards.</h3>
                <p>
                    The World Airline Awards are regarded as a benchmark on passenger satisfaction levels for airlines throughout the world - delivering a unique survey format based on analysis of business and leisure travelers, across all cabin travel types (First, Business, Premium Economy and Economy class passengers).The survey’s transparency and global coverage distinguish the awards as a most prestigious and respected quality recognition for the industry.
                </p>
                <p>
                    Barely three months since it started operations, Jambojet continued its ascendancy being feted as the fourth best low-cost airline in Africa after such big names as Mango, Fastjet and Kulula. This award recognizes the front-line budget airline service that Jambojet has pioneered and is providing in Kenya by making it possible for more people to fly. The latest entrant in Kenya’s aviation sector, Jambojet flies between Nairobi and the key Kenyan cities of Mombasa, Kisumu and Eldoret, operating a fleet of three Boeing 737-300.
                </p>
                <p>
                    <blockquote class="context-quote">
                        We are happy to have been accorded this prestigious and respected rank in Africa. This is a valuable endorsement of our business model as we continue to realize our vision of offering travelers the services of a true low cost low fare airline"
                        <span class="context-quote_author">said Willem Hondius, Jambojet CEO.</span>
                    </blockquote>
                </p>
                <p>
                    <blockquote class="context-quote">
                        Although low-cost airlines in East Africa have had a hard time surviving in the past, Jambojet will strive to be the exception as we seek to actualize our vision of making flying possible for everyone"
                        <span class="context-quote_author">affirmed Mr. Hondius</span>
                    </blockquote>
                </p>
                <p>In the past month, Jambojet has increased the frequency on its route to Eldoret to enable passengers to travel twice daily via a timely and affordable means.</p>

                
                {# <p>Los iquiqueños no ofrecen solamente la posibilidad de negocios a los comerciantes sino también la posibilidad de vacacionar y disfrutar.</p>
                <p>Si bien existe una importante variedad de paquetes que nos llevan a Punta Cana o Cancún con menos de 2.000 dólares, ir a Chile puede convertirse en dos opciones negocios y vacaciones.</p>
                <p> El Grupo Venus Comunicaciones viajó 2.004 kilómetros para mostrarte una serie de atractivos que contiene esta ciudad y te invita a conocer este lugar de la mano de Aerolíneas Amaszonas.</p> #}

                {# FOOTNOTE #}
                {# <p class="context-footnote">
                    Fuente: <a href="">http://www.launion.com.py/playa-comercio-y-desierto-en-solo-dos-horas-22623.html</a>
                </p> #}
            </div>
        </div>
        <div class="grid">
            <div class="grid-col col-12 col-md-6">
                <div class="context-images">
                    <div class="context-images_grid">
                        <div class="column">
                            <picture>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 1200px)"/>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 1025px)"/>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 640px)"/>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 481px)"/>
                                <img src="//via.placeholder.com/368x245" alt="" />
                            </picture>
                        </div>
                    </div>
                    <p class="context-footnote">
                        From left to right: Jambojet Managing Director, Willem Hondius (left) shares a light photo moment with Cabinet Secretary for Transport and Infrastructure Eng. Michael Kamau, Jambojet cabin crew Caroline Moraa and Jambojet Chairman Ayisi Makatiani (right) during the livery launch of Jambojet on 27th March 2014.
                    </p>
                </div>
                <p class="context-footnote">
                    This is a Footnote with a <a href="#">link</a>
                </p>
            </div>
            <div class="grid-col col-12 col-md-6">
                <div class="context-images">
                    <div class="context-images_grid">
                        <div class="column">
                            <picture>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 1200px)"/>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 1025px)"/>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 640px)"/>
                                <source srcset="//via.placeholder.com/368x245" media="(min-width: 481px)"/>
                                <img src="//via.placeholder.com/368x245" alt="" />
                            </picture>
                        </div>
                    </div>
                    <p class="context-footnote">
                        Jambojet cabin crew Husnah Omar and Celestine Maina during the livery launch.
                    </p>
                </div>
            </div>
        </div>
        <!-- END Umbraco Page Injection -->
    </div>

    {# action #}
    <div class="news-detail_action">
        <div class="news-detail_action_return">
            <a href="CORP-news_list.html" class="news-detail_action_return_button button">{{ SHARED.return }}</a>
        </div>
    </div>
</div>