{#
    DOCUMENTATION:
    period-box: {
        VARIABLES:
        title: string // period description title
        date: string // efective vigency period
    }

    EXAMPLE:
    {% set periodBoxes = {
        items: [
            {
                title: 'Booking period',
                date: '11 Jul - 15 Jul 2018'
            },
            {
                title: 'Travel period',
                date: '11 Jul 2018 - 10 Jun 2019'
            }
        ]
    } %}
    <div class="period-box_container">
        {% for periodBox in periodBoxes.items %}
            {% include "partials/corporative/_period-box.njk" %}
        {% endfor %}
    </div>
#}

<div class="period-box">
    <div class="period-box_title">
        <p>{{ periodBox.title }}</p>
    </div>
    <div class="period-box_date">
        {{ periodBox.date }}
    </div>
</div>