{#
    DOCUMENTATION:
    DOCUMENTATION:
    new_data: {
        VARIABLES:
        title: 'string'     // title news
        date: 'string'      // date news
        content: 'string'   // description news
        isPdf: boolean      // if true show link pdf
        modifiers:                
    }

    EXAMPLE:
    {% set new_data = [
        {
            title: 'HK Express Wins “Best Global Recruitment Strategy” Gold Award at Asia Recruitment Awards 2018',
            date: 'April 24, 2018',
            url: '#',                    
            content: 'HK Express Wins “Best Global Recruitment Strategy” Gold Award at Asia Recruitment Awards 2018
                        Tuesday, April 24, 2018
                        It’s golden hour for HK Express! The Hong Kong-based airline scooped up a Gold Award for “Best Global Recruitment Strategy” at the 2018 Asia Recruitment Awards in earlier this month at Hotel ICON. Organised by Human Resources magazine, the annual award ceremony is the only regional recruitment awards programme of its kind. It was established in 2015 to celebrate the best in-house talent acquisition teams and recruiters across various industries in Asia.'
        },
        {
            title: 'HK Express Sponsors Hong Kong International Film Festival The Airline Celebrates Creativity with Movie Night and Livery Design Competition',
            date: 'March 26, 2018',
            url: '#',
            isPdf: true,
            content: 'Hong Kong-based airline HK Express is honoured to be one of the official sponsors of the 42nd Hong Kong International Film Festival, which runs from 19 March to 5 April 2018. To cultivate creativity and cross-cultural awareness amongst Hong Kong youth, the airline joined hands with Hong Kong International Film Festival (HKIFF) to co-host a movie screening night last night (22 March 2018). During the event, HK Express also announced an exci.'
        },
        {
            title: 'Update on HK Express’ Hong Kong-Kagoshima Services',
            date: 'March 6, 2018',
            url: '#',
            content: 'HK Express announces that due to the volcano eruption in Kirishimayama in Kagoshima, Japan, UO1850 and UO1851 between Hong Kong and Kagoshima on 7 March 2018 will be cancelled. An immediate notification to the affected guests is being made via email and SMS. Affected guests will be given three options: Change of Travel Date – Select new dates of travel to / from Kagoshima departing on or before 20 March 2018 (Booking is subject to ava…'
        }

    ] %} 
    {% include "partials/corporative/_news.njk" %}
#}
<ul class="sitemap">
    {% for item in sitemap.items %}
        <li class="sitemap_item-level-1">
            <h3 class="sitemap_item-title">{{ item.caption }}</h3>
            {% if item.items.length > 0 %}
                <ul>
                    {% for item in item.items %}
                        <li class="sitemap_item-level-2">
                            <a href="#">{{ item.caption }}</a>
                            {% if item.items.length > 0 %}
                                <ul>
                                    {% for item in item.items %}
                                        <li class="sitemap_item-level-3">
                                            <a href="#">{{ item.caption }}</a>
                                            {% if item.items.length > 0 %}
                                                <ul>
                                                    {% for item in item.items %}
                                                        <li class="sitemap_item-level-4">
                                                            <a href="#">{{ item.caption }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>