{#
    DOCUMENTATION:
    data: {
            VARIABLES:
            title: 'string' // title drawer head
            MODIFIERS:
            startClosed: boolean // accordion start closed                           
        }                   
    EXAMPLE:
    {% set data = [
        {
            title: 'Contents'                   
        }               
    ] %}
    {% include "partials/corporative/_ui-accordion.njk" %}
#}
<div class="ui-accordion" id="accordionGroup">
    {% for item in data %}
        <div class="ui-accordion_header" role="heading" id="heading{{ loop.index }}">
            <button class="ui-accordion_trigger{% if item.startClosed | default(false) == true %} collapsed{% endif %}"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapse{{ loop.index }}id"
                aria-expanded="true"
                aria-controls="collapse{{ loop.index }}id">
                <span class="ui-accordion_trigger_title">{{ item.title }} </span>
            </button>
        </div>
        <div id="collapse{{ loop.index }}id" class="collapse{% if item.startClosed | default(false) != true %} show{% endif %}" role="region" aria-labelledby="heading{{ loop.index }}">
            <div class="ui-accordion_body">
                {% if item.textOnly %}
                <p>
                    There is so much to do in Chiang Mai that you can choose how adventurous you’d like to be.  Take a leisurely strolls through inviting
                </p>
                <h4 class="context-h3">Old Town</h4>
                <p>
                    This historic 1.5 square kilometre section of Chiang Mai is the city’s historic epicentre. Surrounded by its original 700 year moat and intricately built stone wall, Old Town is a delightfully inviting area for a leisurely stroll. Its ancient streets, traditional bazaars and ornate temples are a step back in time.
                </p>
                <h5 class="context-h3">Night Bazaar</h5>
                <p>
                    To the east of Old Town and just blocks away is the city’s Night Bazaar area, an expansive market area filled with jewellery, clothing and many other Thai designed products. Predominantly a market place for tourists, these markets are a great place to find the perfect souvenir or remembrance.
                </p>
                {% else %}
                <h4 class="context-h3">EXCLUSIVE COUPONS</h4>
                <ul class="context-list">
                    <li>
                        <a href="">Phuket King Power duty-free shops and GMS duty-free shops Coupons</a>                                    
                    </li>               
                </ul>
                <h5 class="context-h3">DISCOUNTED</h5>
                <ul class="context-list columns">
                    <li><a href="#">HKG - Airport Express</a></li>
                    <li><a href="#">TYO - Heiwajima Natural Hot Spring</a></li>   
                    <li><a href="#">Kintetsu - Kintetsu Travel & Rail Pass</a></li>
                    <li><a href="#">HKG - Madame Tussauds</a></li>       
                    <li><a href="#">TYO - Airport Limousine Bus / Hakone Free Pass</a></li>   
                    <li><a href="#">KIX - Namba Discount Ticket</a></li>
                    <li><a href="#">Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass</a></li>
                    <li><a href="#">TYO - Keikyu Hanetoku</a></li>
                    <li><a href="#">Shikoku - JR Shikoku Rail Pass</a></li>
                    <li><a href="#">Korea  - Tickets Visit Korea Committee – Korea Tour Card</a></li>
                </ul>
                <h6 class="context-h3">HK EXPRESS BRANDED PRODUCTS</h6>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>