// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  ITINERARY
// ****************************************
//
// ****************************************

.itinerary {
    .footnote {
        margin: 22px 0 0;
    }
    .summary_airport {
        max-width: none;
    }
}
.itinerary_action {
    margin-bottom: 10px;
    text-align: right;
    .action-link {
        display: inline-block;
        text-decoration: none;
        font-family: $f-title;
        font-weight: 600;
        .icon {
            position: relative;
            top: 5px;
            color: $c-primary;
            @include font-size($f-size-lg);
            line-height: 1;
            margin-right: 4px;
        }
        .label { text-decoration: underline; }
        &:hover {
            color: $c-primary;
        }
    }
}

// [Responsive]
@media #{$until-mobile} { // <=640px
    .itinerary {
        .footnote {
            margin: 13px 0 0;
        }
    }
    .itinerary_action {
        margin-bottom: 14px;
    }
}
