// ********************
//  COMPONENTS
//
// ********************
//  INTERACTIVE MAP
// ****************************************
//
//  + Variables
//
// ****************************************

// + Variables
// -------
$interactive-map-search-height: calculateRem(240px);
$interactive-map-search-column-desktop-width: 380px;

$interactive-map-search-background: $c-secondary;
$interactive-map-globe-background: $c-color1;
