@import 'import';

// ****************************************
//  POBEDA STYLES
//
// ****************************************
//
// ****************************************

html,body { 
	height: 100%;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	@include font-size($f-size);
	font-family: $f-body;
	color: $c-text;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	min-width: 320px;
	background-color: $body-background;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
a,
input,
textarea,
button,
select,
.button,
[role='button'] {
	&:focus { //## should be for accessibility
		// outline: 0;
		@include accessibility-outline;
	}
	&:focus:active {
		outline: 0;
	}
}
[tabindex='-1']:focus {
	outline: 0;
}
button {
	color: inherit; // reduce css file size
}
a {
	text-decoration: none;
	color: $c-link;
	cursor: pointer;
	&:hover {
		color: $c-link-hover;
	}
	&:active {
		text-decoration: inherit;
	}
}
[role='button'] {
	cursor: pointer;
}
::selection { 
	color: #fff;
	background-color: $c-primary; 
}

strong {
  font-weight: 600;
}

p {
	margin-bottom: calculateRem(16px);
	&:last-child {
		margin-bottom: 0;
	}
}
sup, sub {
	font-size: .75em;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
sup {
	vertical-align: top;
	a {
		vertical-align: top;
	}
}
sub {
	vertical-align: bottom;
	a {
		vertical-align: bottom;
	}
}
fieldset {
	width: 100%;
}

.skip-main {
	z-index: -999;
	position: absolute;
	top: 6px;
	left: -999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	&:focus {
		@include accessibility-outline;
		@include font-size($f-size-sm);
		z-index: 999;
		left: 0;
		display: inline-block;
		width: auto;
		height: auto;
		text-align: center;
		color: $c-secondary;
		text-decoration: none;
		padding: 7px 20px;
		background-color: #fff;
	}
}

// + Template
// -------
.page-wrap {
	position: relative;
	min-height: 100%;
	// .fixed-header & {
	// 	.alert {
	// 		display: none;
	// 	}
	// }
	// @media #{$tablet-portrait} { // >=768px
	// 	.fixed-header & {
	// 		padding-top: $main-header-height;
	// 		.main-header {
	// 			position: fixed;
	// 			top: 0;
	// 			z-index: $header-sticky-zindex;
	// 		}
	// 	}
	// 	.ibe-page.fixed-header & {
	// 		padding-top: $header-height + $combinedbar-height;
	// 	}
	// }
}
.content-wrap {
	position: relative;
	padding-bottom: 40px;
}
.container {
	@include clearfix;
}

// .intro {
// 	margin: 18px 0 14px;
// 	line-height: 1.3;
// 	font-weight: 500;
// 	@media #{$tablet-portrait}{
// 		margin-bottom: 57px;
// 	}
// }
// .footnote {
// 	@include font-size($f-size-xs);
// 	line-height: 1.2;
// 	text-align: left;
// 	a {
// 		text-decoration: underline;
// 	}
// 	.list-style1 {
// 		li {
// 			font-size: $f-size-xs; // Safari Support, NOTE: Safari not support em  size inheritance  from rem reference
// 			margin: .4em 0;
// 			&::before {
// 				line-height: 0;
// 				top: 1em;
// 			}
// 		}
// 	}
// }
// .note-text {
// 	display: block;
// 	@include font-size($f-size-xs);
// 	margin: 2px 0 4px;
// }