{% extends "layouts/_modal_layout.njk" %}

{% block content %}
{# modal header #}
{% if (modal.title | length) or (modal.subtitle | length) %}
    <div class="modal-header">
        {% if modal.title | length %}
        <h1 class="modal-title">{{  modal.title | safe }}</h1>
        {% endif %}
        {% if modal.subtitle | length %}
            <h2 class="modal-subtitle">{{  modal.subtitle }}</h2>
        {% endif %}
    </div>
{% endif %}
<div class="modal-body">
    {# modal content html #}
    {{ modal.content | safe }}
    {# modal form #}
    {% if modal.form | length %}
        {% set formElements = modal.form %}
        <form class="modal_form">
            {% include "partials/components/_shared/forms/_create_form.njk" %}
        </form>
    {% endif %}
    {# modal components #}
    {% for component in modal.components.items %}
        {% set comp = component %}
        {{ comp.title | safe }}
        {% if comp.type == 'login' %}
            {% set socialmedias = socialmediasLogin %}
            {% set authForm = loginForm  %}
        {% elif comp.type == 'register' %}
            {% set socialmedias = socialmediasRegister %}
            {% set authForm = registerForm  %}
        {% elif comp.type == 'table' %}
            {% set data = comp.data %}
        {% elif comp.type == 'forgot-password' %}
            {% set authForm = forgotPasswordForm  %}
        {% endif %}
        {% include comp.path %}
    {% endfor %}
    {# modal footer #}
    {% if modal.footer | length %}
        <div class="modal-footer">
            {% if modal.footer.btnCancel | length %}
                <button type="button"
                    class="button modal_footer_button"
                    data-dismiss="modal" aria-label="Close">
                    {{ modal.footer.btnCancel }}
                </button>
            {% endif %}
            {% if modal.footer.btnAction | length %}
                <button type="button"
                    class="button modal_footer_button-action"
                    data-dismiss="modal" aria-label="Close">
                    {{ modal.footer.btnAction }}
                </button>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
