// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS CLOSE BUTTON
//
// ****************************************
//
//	Styles for search options close button
//
// ****************************************

/// Use:
///		@include search-options-close-button($show: true, $show-desktop: true);

/// @argument {string} $search-options-close-position
///		The position of close button.
///		Accepts: `top-right` and `top-left`.

/// @argument {number (unit in px)} $search-options-close-position-tb
///		Position top or bottom of close button.
/// @argument {number (unit in px)} $search-options-close-position-lr
///		Position left or right of close button.

/// @argument {string} $search-options-close-icon
///		Add icon variable if button has icon.
///		Accepts: icons variables (as `$icon-iconname`) or `null`.

/// @argument {number (unit in px)} $search-options-close-fontsize
///		General button font-size value (for icon and label).

/// @argument {number (unit in px)} $search-options-close-fontweight
///		General button font-weight value.
///		Accepts: all CSS font-weight values.

/// @argument {string} $search-options-close-label
///		If close button label is visible or visually hidden.
///		Accepts: `hidden` or `visible`.
/// @argument {number (unit in px)} $search-options-close-label-fontsize
///		Button text font size value.

///		default @vars at core/src/assets/sass/components/IBE/flight-search/vars/_flight-search-vars.scss

@mixin search-options-close-button($show: true, $show-desktop: true) {
	@if $show or $show-desktop {
		.search_tt_close-btn {
			@include font-size($search-options-close-fontsize);
			position: absolute;
			color: $search-options-close-color;
			font-weight: $search-options-close-fontweight;
			line-height: 0;
			cursor: pointer;

			//## has icon
			@if $search-options-close-icon != 'null' {
				@include iconfont($search-options-close-icon);
			}
			//## position
			@if $search-options-close-position == 'top-right' {
				top: calculateRem($search-options-close-position-tb);
				right: calculateRem($search-options-close-position-lr);
			}
			@else if $search-options-close-position == 'top-left' {
				top: calculateRem($search-options-close-position-tb);
				left: calculateRem($search-options-close-position-lr);
			}
		}
		.search_tt_close-btn_label {
			@if $search-options-close-label == 'hidden' {
				@include hide-visually;
			} @else {
				@include font-size($search-options-close-label-fontsize);
			}
		}
	}
	@if $show-desktop == false {
		@media #{$search-options-layout-breakpoint} {
			.search_tt_close-btn {
				display: none;
			}
		}
	}
}