// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS ARROW INDICATOR
//
// ****************************************
//
//	Styles for search options arrow indicator (when options are opened)
//
// ****************************************

/// Use:
///   	@include flight-search-options-arrow-indicator-bycomponent(
///   		$element: 'route',
///   		$arrow-position-left: $search-options-arrow-position-left
///   	);

/// If element needs specifics settings so we use mixin: @include search-options-arrow-indicator-elements();
/// @argument {string} $element
///   	The affected element. 
///		Accepts: `route`,`dates`,`typology`,`triptype`, `promocode` and `currency`

/// @argument {number (unit in px)} $arrow-position-left
///		The affected element arrow left position.

// ****************************************

@mixin search-options-indicator (
	$type: 'arrow-down',
	$options-position-top: null
) {
	// + Type: arrow
	// -------
	@if (str-index($type, arrow-)) {
		.ui-input-multiline_group_inner,
		.typology .ui-input-container > button {
			&::after { //## arrow
				content: '';
				z-index: 5;
				position: absolute;
				left: $search-options-arrow-position-left;
				opacity: 0;
				transition: opacity .1s linear .06s, transform .14s ease-in;
			}
		}
		.typology .ui-input-container > button {
			&::after { //## arrow
				left: calculateRem(20px);
			}
		}
		//## arrows directions
		@if $type == 'arrow-up' {
			.ui-input-multiline_group_inner,
			.typology .ui-input-container > button {
				&::after { //## arrow up
					@include triangle("up", $search-options-indicator-width, $search-options-indicator-height, $search-options-arrow-color-mobile);
					top: calc(100% + (#{$search-options-indicator-height} - #{$search-components-margin-topbottom} - .04rem));
					transform: translateY(0) scale(-1);
				}
			}
			//## indicator arrow (:focused)
			.ui-input-multiline_group.is-focused .ui-input-multiline_group_inner,
			.typology .ui-input-container > button[aria-expanded='true'] {
				&::after { //## arrow
					opacity: 1;
					transform: translateY(0) scale(-1);
				}
			}
			@media #{$search-options-layout-breakpoint} {
				.ui-input-multiline_group_inner,
				.typology .ui-input-container > button {
					&::after { //## arrow up
						@include triangle("up", $search-options-indicator-width, $search-options-indicator-height, $search-options-arrow-color);
						transform: translateY(#{$search-options-indicator-height}) scale(1);
						//## if search options has a custom top position so arrow must have a different top position
						@if $options-position-top != null {
							top: calc(100% + (#{$search-options-arrow-position-top} / 2) + #{$options-position-top});
						} @else {
							top: calc(100% + (#{$search-options-arrow-position-top} / 2));
						}
					}
				}
				//## indicator arrow (:focused)
				.ui-input-multiline_group.is-focused .ui-input-multiline_group_inner,
				.typology .ui-input-container > button[aria-expanded='true'] {
					&::after { //## arrow
						transform: translateY(0) scale(1);
					}
				}
			}
		}
		@if $type == 'arrow-down' {
			.ui-input-multiline_group_inner,
			.typology .ui-input-container > button {
				&::after { //## arrow down
					@include triangle("down", $search-options-indicator-width, $search-options-indicator-height, $search-options-arrow-color);
					top: calc(100% + #{$search-options-arrow-position-top});
					transform: translateY(-#{$search-options-indicator-height}) scale(1);
				}
			}
		}
	}
}