// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS COMPONENTS LAYOUT
// ****************************************
//
//	Styles for each search components options
//
// ****************************************

/// Use:
///		@include flight-search-options-bycomponent(
///			$element: 'route',
/// 		$template: 'search-collapsable'
///			$label: 'hidden',
///			$position: null,
///			$maxwidth: '880px',
///			$caption-hidden: false,
///			$caption-icon: false,
///			$scroll: false,
///			$indicator: 'arrow'
///		);

/// @argument {string} $element
///		The affected element.
///		Accepts: `route`,`dates`,`typology`,`triptype`,`promocode` and `currency`.

/// @argument {string} $template
///		The affected element.
///		This argument have a data.js variable that must be set before (searchFlight array)
///		Accepts: `dropdown` and `search-collapsable`.

/// @argument {string} $label
///		If element has visible label.
///		For accessibility purpose, labels are always at html output.
///		Accepts: `hidden` and `visible`.

/// @argument {string} $position
///		Element options position.
///		Accepts: `relative-left`, `relative-right`, `relative-auto` or null for a non relative position.

/// @argument {string or number (unit in px)} $maxwidth
///		Use $maxwidth to give element's options an max width at larger devices.
///		If max value is not % or auto, we must use function calculateRem().
///		Accepts: `auto` or a unit in px, as 880px.

/// @argument {boolean} $caption-hidden
///		If selection has a caption visible or not.
///		For accessibility purpose, caption always have HTML output.

/// @argument {string} $caption-icon
///		If selection caption has an icon.
///		Value will be icon variable. E.g. `$icon-iconname`

/// @argument {string} $indicator
///		Style of connector detail between input and its collapsable options.
///		Accepts: `arrow` (default).

// ****************************************

@mixin flight-search-options-bycomponent(
	$element: 'route',
	$template: 'search-collapsable',
	$label: 'hidden',
	$position: null,
	$maxwidth: '880px',
	$caption-hidden: false,
	$caption-hidden-responsive: false,
	$caption-icon: false,
	$scroll: false
	// $indicator: 'arrow'
) {
	.searchflight {
		.#{$element} {
			@if $label == 'hidden' {
				.ui-input-container label {
					@extend .hide-visually;
				}
			}

			@if ($template == 'dropdown') and ($position == 'relative-right') {
				.ui-dropdown_list {
					left: auto;
					right: 0;
				}
			}
			.search_tt {
				//## width
				max-width: 100vw;
				@media #{$search-options-layout-breakpoint} {
					//## width responsive
					@if $searchgrid-options-fullwidth {
						width: 100%;
						left: 0;
						right: 0;
					} @else {
						@if $maxwidth == 'auto' {
							width: auto;
						} @else {
							width: $maxwidth;
						}
					}

					//## position responsive
					@if $position == 'relative-right' {
						left: auto;
					}
					@else if $position == 'relative-left' {
						right: auto;
					}
				}
			}
			//## title
			.search_tt_title {
				@if $caption-hidden-responsive != false {
					@media #{$caption-hidden-responsive} {
						@include hide-visually;
					}
				} @else {
					@if $caption-hidden {
						@include hide-visually;
					}
				}
				@if $caption-icon { 
					@include iconfont($caption-icon,before,$search-options-caption-icon-color);
					&::before {
						@include font-size($search-options-caption-icon-fontsize);
						margin-right: 2px;
						vertical-align: middle;
					}
				}
			}

			//## if options has content scroll
			// + Scrollable area
			// -------
			@if $scroll {
				.search_tt_menu_scroll {
					@include custom-scroll;
					overflow-y: auto;
					@media #{$mobile} { // >=640px
						max-height: none;
						overflow: visible;
					}
				}
			}
		}
	}
}

@import 'components/options-layout-route';
@import 'components/options-layout-date';
@import 'components/options-layout-typology';
