// ****************************************
//  GLOBALS
//	IBE COMPONENT: SEARCH FLIGHT
//
// ****************************************
//  SEARCH OPTIONS LAYOUT
// ****************************************
//
//	Styles for search selection layout
//
// ****************************************

/// Use:
///		@include flight-search-options-layout($position: 'absolute', $fullwidth: false);

/// @argument {string} $position
///		Define position absolute or relative of flight search options.
///		It affects all components even if they have their on custom properties (using mixin: flight-search-options-bycomponent).
///		Accepts: `absolute` and `relative` (future implementation)

/// @argument {boolean} $fullwidth
///		If flight search options has fullwidth (fluid all page width) style.
///		It affects all components even if they have their on custom properties (using mixin: flight-search-options-bycomponent).

// ****************************************

@mixin flight-search-options-layout(
	$position: 'absolute',
	$fullwidth: false
) {
	.searchflight {
		.search_tt {
			//## combination of options indicator its top position
			margin-top: $search-components-margin-topbottom;
			@media #{$search-options-layout-breakpoint} {
				@if $searchgrid-options-indicator == null and $searchgrid-options-position-top == null {
				}
				@else if $searchgrid-options-indicator != null and $searchgrid-options-position-top == null {
					margin-top: calc(#{$search-components-margin-topbottom} + (#{$search-options-indicator-height} / 2));
				}
				@else if $searchgrid-options-indicator == null and $searchgrid-options-position-top != null {
					margin-top: calc(#{$search-components-margin-topbottom} + #{$searchgrid-options-position-top});
				}
				@else if $searchgrid-options-indicator != null and $searchgrid-options-position-top != null {
					margin-top: calc(#{$search-components-margin-topbottom} + #{$searchgrid-options-position-top} + (#{$search-options-indicator-height} / 2));
				}
			}
		}
		.search_tt_inner {
			padding: $search-options-inner-padding;
		}
	}

	//## position
	@if $position == 'absolute' {
		.searchflight {
			.search_tt {
				position: absolute;
				left: 0;
				right: 0;
			}
		}
	}
	@else if $position == 'relative' {
		.searchflight {
			.inner {
				align-items: flex-start;
			}
		}
	}

	//## options inner layout
	@if $fullwidth {
		.searchflight {
			.search_tt {
				margin-right: 0;
				margin-left: 0;
			}
			@media #{$search-options-layout-breakpoint} {
				.inner {
					position: unset;
				}
				.search_tt {
					@if $searchgrid-options-fullwidth == false {
						top: 100%;
					}
				}
			}
			.search_tt_inner {
				@include container-wrap;
				padding-top: calculateRem($search-options-fullwidth-inner-top-padding);
				padding-bottom: calculateRem($search-options-fullwidth-inner-bottom-padding);
			}
		}
	}

	// + Title
	// -------
	.search_tt_title {
		@include font-size($search-options-caption-fontsize);
		color: $search-options-caption-color;
		margin: $search-options-caption-margin;
	}
}