{#	THIS FILE SHOULD NOT BE MODIFY
	This is the original CSS from NgbDatepicker 
	https://ng-bootstrap.github.io/#/components/datepicker/overview 

	CUSTOM STYLES for each project at project folder:
	views/partials/components/IBE/flight-search/ng-datepicker/_ng-datepicker-styles-custom.njk
#}
<!-- 
	<style> BELOW IS NOT PART OF PROJECT (it is just for static pages)
	DO NOT USE THIS FOR DEV
-->
<style>
[ngbDatepickerDayView] {
	text-align: center;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 0.25rem;
	background: transparent;
  }
  [ngbDatepickerDayView].outside {
		opacity: 0.5;
  }
  
  ngb-datepicker-month-view {
		display: block;
  }
  
  .ngb-dp-weekday, .ngb-dp-week-number {
	line-height: 2rem;
	text-align: center;
	font-style: italic;
  }
  .ngb-dp-weekday {
	color: #5bc0de;
	color: var(--info);
  }
  .ngb-dp-week {
	border-radius: 0.25rem;
	display: flex;
  }
  .ngb-dp-weekdays {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0;
  }
  .ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
	width: 2rem;
	height: 2rem;
  }
  .ngb-dp-day {
	cursor: pointer;
  }
  .ngb-dp-day.disabled, .ngb-dp-day.hidden {
	cursor: default;
  }
  
  ngb-datepicker-navigation-select > .custom-select {
	flex: 1 1 auto;
	padding: 0 0.5rem;
	font-size: 0.875rem;
	height: 1.85rem;
  }
  
  ngb-datepicker-navigation {
	display: flex;
	align-items: center;
  }
  
  .ngb-dp-navigation-chevron {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	margin-left: 0.25em;
	margin-right: 0.15em;
	transform: rotate(-135deg);
  }
  .right .ngb-dp-navigation-chevron {
	transform: rotate(45deg);
	margin-left: 0.15em;
	margin-right: 0.25em;
  }
  .ngb-dp-arrow {
	display: flex;
	flex: 1 1 auto;
	padding-right: 0;
	padding-left: 0;
	margin: 0;
	width: 2rem;
	height: 2rem;
  }
  .ngb-dp-arrow.right {
	justify-content: flex-end;
  }
  .ngb-dp-arrow-btn {
	padding: 0 0.25rem;
	margin: 0 0.5rem;
	border: none;
	background-color: transparent;
	z-index: 1;
  }
  .ngb-dp-arrow-btn:focus {
	outline-width: 1px;
	outline-style: auto;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ngb-dp-arrow-btn:focus {
	  outline-style: solid;
	}
  }
  .ngb-dp-month-name {
	font-size: larger;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
  }
  .ngb-dp-navigation-select {
	display: flex;
	flex: 1 1 9rem;
  }
  
  ngb-datepicker {
	border: 1px solid #dfdfdf;
	border-radius: 0.25rem;
	display: inline-block;
  }
  
  .ngb-dp-month {
	pointer-events: none;
  }
  
  .ngb-dp-header {
	border-bottom: 0;
	border-radius: 0.25rem 0.25rem 0 0;
	padding-top: 0.25rem;
  }
  
  ngb-datepicker-month-view {
	pointer-events: auto;
  }
  
  .ngb-dp-month-name {
	font-size: larger;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
  }
  
  .ngb-dp-month + .ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week {
	padding-left: 1rem;
  }
  .ngb-dp-month + .ngb-dp-month > .ngb-dp-month-name {
	padding-left: 1rem;
  }
  .ngb-dp-month:last-child .ngb-dp-week {
	padding-right: 0.25rem;
  }
  .ngb-dp-month:first-child .ngb-dp-week {
	padding-left: 0.25rem;
  }
  .ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week:last-child {
	padding-bottom: 0.25rem;
  }
  .ngb-dp-months {
	display: flex;
  }  
</style>