{% include "partials/components/IBE/flight-search/ng-datepicker/_ng-datepicker-styles.njk" %}
<ibe-datepicker>
    <ngb-datepicker class="datepicker">
        <div class="ngb-dp-header bg-light">
            <ngb-datepicker-navigation>
                <div class="ngb-dp-arrow left">
                    <button class="btn btn-link ngb-dp-arrow-btn" tabindex="-1" type="button">
                        <span class="ngb-dp-navigation-chevron"></span>
                    </button>
                </div>
                <ngb-datepicker-navigation-select class="d-block ngb-dp-navigation-select">
                    <select class="custom-select" tabindex="-1">
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select><select class="custom-select" tabindex="-1">
                        <option value="2018">2019</option>
                        <option value="2019">2020</option>
                    </select>
                </ngb-datepicker-navigation-select>
                <div class="ngb-dp-arrow right">
                    <button class="btn btn-link ngb-dp-arrow-btn" tabindex="-1" type="button">
                        <span class="ngb-dp-navigation-chevron"></span>
                    </button>
                </div>
            </ngb-datepicker-navigation>
        </div>
        <div class="ngb-dp-months">
            {% if datepicker %}
                {% for item in datepicker.items %}
                    <div class="ngb-dp-month d-block">
                        <div class="ngb-dp-month-name bg-light">
                            {{ item.month.name }}
                            {{ item.month.year }}
                        </div>

                        <ngb-datepicker-month-view class="d-block">
                            <div class="ngb-dp-week ngb-dp-weekdays bg-light">
                                {% for week in item.weeks.items %}
                                    <div class="ngb-dp-weekday small text-center font-italic">
                                        {{ week.caption }}
                                    </div>
                                {% endfor %}
                            </div>
                            
                            {% for day in item.days.items %}
                                {% if loop.index0 % 7 == 0 or loop.index0 == 0 %}
                                    <div class="ngb-dp-week">
                                {% endif %}
                                    {% if day.caption | length %}
                                        <div class="ngb-dp-day{% if day.disabled %} disabled{% endif %}">
                                            <span class="custom-day{% if day.available %} available{% endif %}{% if day.current %} current{% endif %}{% if day.selected %} selected{% endif %}{% if day.departure %} departure{% endif %}{% if day.arrival %} arrival{% endif %}{% if day.faded %} faded{% endif %}">
                                                {{ day.caption }}
                                            </span>
                                        </div>
                                    {% else %}
                                        <div class="ngb-dp-day disabled hidden">
                                        </div>
                                    {% endif %}
                                {% if loop.index0 % 7 == 6 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ngb-datepicker-month-view>
                    </div>
                {% endfor %}
            {% else %}
                <div class="ngb-dp-month d-block">
                    <div class="ngb-dp-month-name bg-light">
                        Aug 2019
                    </div>
                    <ngb-datepicker-month-view class="d-block">
                        <div class="ngb-dp-week ngb-dp-weekdays bg-light">
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Sun
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Mon
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Tue
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Wed
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Thu
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Fri
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Sat
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>1</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>2</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>3</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>4</span>
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>5</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>6</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>7</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>8</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day current">
                                    <span>9</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>10</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    <span>11</span>
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    <span>12</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    <span>13</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    <span>14</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>15</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available selected departure">
                                    <span>16</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available range faded">
                                    <span>17</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available range faded">
                                    <span>18</span>
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day available range faded">
                                    <span>19</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available range faded">
                                    <span>20</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available selected arrival">
                                    <span>21</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>22</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>23</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>24</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>25</span>
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>26</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>27</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>28</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>29</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day disabled">
                                <span class="custom-day">
                                    <span>30</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    <span>31</span>
                                </span>
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                        </div>
                    </ngb-datepicker-month-view>
                </div>
                <div class="ngb-dp-month d-block">
                    <div class="ngb-dp-month-name bg-light">
                        Sep 2018
                    </div>
                    <ngb-datepicker-month-view class="d-block">
                        <div class="ngb-dp-week ngb-dp-weekdays bg-light">
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Su
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Mo
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Tu
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                We
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Th
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Fr
                            </div>
                            <div class="ngb-dp-weekday small text-center font-italic">
                                Sa
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day disabled hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    1
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    2
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    3
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    4
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    5
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    6
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    7
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    8
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    9
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    10
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    11
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    12
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    13
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    14
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    15
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    16
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    17
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    18
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    19
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    20
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    21
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    22
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    23
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    24
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day available">
                                    25
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    26
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    27
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    28
                                </span>
                            </div>
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    29
                                </span>
                            </div>
                        </div>
                        <div class="ngb-dp-week">
                            <div class="ngb-dp-day">
                                <span class="custom-day">
                                    30
                                </span>
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                            <div class="ngb-dp-day hidden">
                            </div>
                        </div>
                    </ngb-datepicker-month-view>
                </div>
            {% endif %}
        </div>
    </ngb-datepicker>
</ibe-datepicker>