$table-inline-block-width: 264px;

table {
    width: 880px;
    table-layout: fixed;
    border-collapse: collapse;
    // modifiers
    table {
        width: 100%;
    }
    &.bordered, &.horizontal-bordered {
        td {
            border-top: $pdf-table-border;
        }
    }
    &.bordered {
        td {
            border-top: $pdf-table-border;
            & + td {
                border-left: $pdf-table-border;
            }
            &:first-child:last-child { //## unique child
                border-right: $pdf-table-border;
            }
        }
    }
    &.table-bordered {
        td {
            padding-bottom: 0;
            border-top: $pdf-table-border;
            &:nth-child(2) {
                padding: 0; 
                .info-item {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 9px 14px;
                    box-sizing: border-box;
                    border-left: $pdf-table-border;
                    border-right: $pdf-table-border;
                }
            }
        }
    }
    &.bottom-separated {
        td {
            padding-bottom: 12px;
        }
        &.table-bordered {
            height: 305px;
        }
    }
}
.table {
    .tr {
        .td {
            display: inline-block;
            width: $table-inline-block-width;
            padding-bottom: 0;
            border-top: $pdf-table-border;
            border-right: $pdf-table-border;
            border-left: $pdf-table-border;
            &:first-child {
                width: $table-inline-block-width + 15px;
                border-right: none;
                border-left: none;
            }
            &:last-child {
                border-right: none;
                border-left: none;
            }
        }
    }
}
table td td {
    padding-top: 0;
}
td {
    padding: 9px 14px;
    text-align: left;
    vertical-align: top;
    &:first-child {
        padding-left: 0px;
    }
    &:last-child {
        padding-right: 0px;
    }
    // modifiers
    &.middle {
        vertical-align: middle;
    }
    &.center {
        text-align: center;
    }
    p:last-child { margin-bottom: 0; }
}
.last {
    padding-top: 14px;
}
.no-top-padding {
    padding-top: 0;
}
.no-bottom-padding {
    padding-bottom: 0;
}
.no-padding {
    padding: 0;
}
@for $i from 1 through 12 {
    .col-#{$i} {
        width: #{ ($i*100%)/12 };
    }
}


