// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICES BAGGAGE
// ****************************************
//
//
// ****************************************

.service_baggage {
    margin-bottom: 60px;
    padding-top: 6px;
    &.oneway {
        margin-bottom: 20px;
        @media (min-width: 770px) { // >=770px
            float: left;
            width: calc(50% - 3%);
            margin-right: 3%;
            margin-bottom: 60px;
            border-right: 1px solid $c-border;
        }
    }

    .service_segment {
        .note-text {
            position: relative;
            top: -10px;
            text-align: center;
        }
    }
}
.baggage_legend {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 38px;
}
.baggage_legend_item {
    flex-basis: 100%;
    text-align: center;
    .baggage_icon {
        @include iconfont($icon-error-circle,before);
        display: inline-flex;
        position: relative;
        color: #fff;
        align-items: center;
        justify-content: center;
        &::before { //## baggage icon
            @include font-size(66px);
            color: $c-primary;
            line-height: 1;
        }
    }
    .baggage_icon_label {
        z-index: 1;
        position: absolute;
        top: 20px;
        left: 50%;
        display: block;
        white-space: nowrap;
        transform: translateX(-50%);
        strong {
            font-weight: 500;
        }
    }
    .price {
        color: $c-secondary;
        display: block;
        margin: 4px 0 2px;
        line-height: 1;
    }
    .label {
        display: inline-block;
    }
    .promo-label {
        position: relative;
        top: -1px;
        margin: 0 3px;
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .baggage_legend {
        flex-wrap: wrap;
        margin-bottom: 28px;
    }
    .baggage_legend_item {
        max-width: 33.33333%;
    }
}
