{#
DOCUMENTATION:
    serviceProduct = {
        VARIABLES
            title: {
            text: string
            },
            price: Price // see "partials/components/IBE/_common/_price.njk"
            action: {
                items: [
                    { // buttons
                    text: string
                    }
                ]
            },
            description:string
            image: { // when is image with icon
                src: 'string' // path
                icon: 'string // icon class 
            },
            icon: string // icon class
            isFullLink: { // convert all container in link
                url: '#'
            }
        MODIFIERS
        isSelected:boolean //add class when selected    
    }

    EXAMPLE
    {% set serviceProduct = {
        title: {
            text: "Menús a la carta"
        },
        price: {
            value: "19,00",
            hasFrom: true
        },
        description: 'Se le asignará un asiento automáticamente al hacer la facturación si no desea este servicio.',
        action: {
            items: [
                {
                    text: "Añadir"
                }
            ]
        },
        image: {
            src: '../src/assets/imgs/services-cards/extras-comida.jpg',
            icon: 'ic_restaurant_white_18px'
        },
        icon: '',
        isFullLink: {
        }
    } %}
    {% include "partials/components/IBE/services/services-cards/_services-card.njk" %}
#}

<{%if serviceProduct.isFullLink | length %}a href="{{serviceProduct.isFullLink.url}}"{%else%}div{%endif%} class="services-card{% if serviceProduct.isSelected %} is-selected{% endif %}">
    {% if serviceProduct.image | length %}
        <div class="services-card_image_container" style="background-image: url({{serviceProduct.image.src}})">
            {# <img class="service_produc_image" src="{{ serviceProduct.image }}"> #}
            {# {% if serviceProduct.image.icon | length %}
                <span class="icon icon-{{ serviceProduct.image.icon}}"></span>
            {%endif%} #}
        </div>
    {% endif %}
    {% if serviceProduct.icon | length %}  
        <div class="services-card_icon">
            <span class="icon icon-{{ serviceProduct.icon}}"></span>
        </div>
    {% endif %}
    <div class="services-card_title">
        <span class="services-card_title_text">{{ serviceProduct.title.text }}</span>
    </div>
    {% if serviceProduct.description %} 
        <div class="services-card_description">
            <p class="services-card_description_text">{{ serviceProduct.description | safe }}</p>
        </div>
     {% endif %}
    {% if serviceProduct.price | length %}
        <div class="services-card_price">
            {% set price = serviceProduct.price %}
            {% include "partials/components/IBE/_common/_price.njk" %}
        </div>
    {% endif %}
    {% if serviceProduct.action %} 
        <div class="services-card_action">
            {% for button in serviceProduct.action.items %}
                {%if serviceProduct.isFullLink | length %}
                    <span class="services-card_action_button button">{{ button.text }}</span>
                {%else%}
                    <button class="services-card_action_button button">{{ button.text }}</button>
                {%endif%}
            {% endfor %}
        </div>
    {% endif %}
</{%if serviceProduct.isFullLink | length %}a{%else%}div{%endif%}>