{#
    DOCUMENTATION:
    servicecards {
        VARIABLES:
        items: [
            {
                VARIABLES:
                "icon": "string" //
                "title": "string" //
                "desc": {
                    "descText": {
                        "text": 'string',
                        "lists": Array<string>
                    }
                },
                "buttons": {
                    "action": {
                        "title": "string"
                    }
                }
                MODIFIERS
                "isChecked": true // active and add class checked
            }
        ]
    }

    -------

    EXAMPLE:
    {% set "servicecards" = {
            "items": [
                {
                    "isChecked": true,
                    "icon": "equipaje_en_bodega",
                    "title": "Equipaje Especial",
                    "desc": {
                        "descText": {
                            "text": "<p>Agrega ahora tu equipaje especial. Peso máximo permitido 23kg</p>"
                        }
                    },
                    "buttons": {
                        "action": {
                            "text": "Agregar equipaje especial"
                        },
                        "edit": {
                            "text": "Modificar equipaje especial"
                        }
                    }
                }
            ]
        } %}
    {% include "partials/components/IBE/services/service-cards/_services-cards__DEPRECATED.njk" %}
#}

<div class="service-cards">
    {% for service in servicecards.items %}
        <div class="service-card{% if service.isChecked %} is-checked{% endif %}">
            <div class="service-card_head">
                {% if service.icon | length %}
                    <div class="service-card_head_icon">
                        <span class="icon icon-{{service.icon}}"></span>
                    </div>
                {% endif %}
                {% if service.title | length %}
                    <div class="service-card_head_title">
                        <h3 class="title">{{service.title}}</h3>
                    </div>
                {% endif %}
            </div>
            <div class="service-card_body">
                {% if service.desc.descText.text | length %}
                    <div class="description">
                        {{service.desc.descText.text | safe }}
                    </div>
                {% endif %}
                {% if service.desc.descText.list | length %}
                    {% set lists = service.desc.descText.list.items %}
                    <ul>
                        {% for item in lists %}
                            <li>
                                {{ item.title }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="service-card_footer">
                {% if service.buttons | length %}
                    {% set button = service.buttons %}
                    {% if button.action %}
                        <div class="service-card_footer_buttons">
                            <{% if button.action.url | length %}a href="{{ button.action.url}}"{% elif button.action.modal | length %}button data-toggle="modal" data-target="#{{button.action.modal.id}}"{% else %}button{% endif %} class="button button-action">
                                {% if service.isChecked %}
                                    {{ button.action.textEdit }}
                                {% else %}
                                    {{ button.action.text }}
                                {% endif %}
                            </{% if button.action.url | length %}a{% else %}button{% endif %}>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
