// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE PANEL
// ********************
//
//    + multiple panel
//    + multiple panel nav tabs
//    + multiple panel tab content
//
// ********************

//## animation to reduced padding with effect scroll
// @keyframes reducedPaddScroll {
//     0% { padding-top: 30px; padding-bottom: 30px; }
//     100% { padding-top: 14px; padding-bottom: 14px; }
// }
.multiple-panel {
	position: relative;
	margin-top: calculateRem(-32px);
}

// +  multiple panel nav tabs
// -------
.multiple-panel_nav {
	@include container-wrap;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	padding-right: 14px;
	padding-left: 14px;
}

// ++ multiple panel nav item
// -------
.multiple-panel_nav_item {
	@include font-size($f-size-sm);
	position: relative;
	top: 0;
	display: inline-block;
	width: auto;
	min-width: calculateRem(70px);
	margin-right: 10px;
	padding: calculateRem(8px) calculateRem(10px) calculateRem(10px);
	color: $c-primary;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $c-secondary;
	margin-bottom: calculateRem(-6px);
	border-radius: 12px 12px 0 0;
	box-sizing: border-box;
	transition: top .14s ease-in-out;
	cursor: pointer;
	// &:first-child {
	// 	margin-left: 0;
	// 	border-left: 0;
	// 	&::before {
	// 		content: none;
	// 	}
	// }
	&:hover {
		top: calculateRem(-6px);
	}
	&[aria-selected='true'] {
		color: $c-secondary;
		background-color: $c-primary;
		&:hover {
			top: 0;
		}
	}
	// .vcenter-text {
	//     display: flex;
	//     height: 100%;
	//     justify-content: center;
	//     align-items: center;
	//     text-align: center;
	//     line-height: 1.2;
	// }
}

// +  multiple panel tab content
// -------
.multiple-panel_content {
	z-index: 2;
	position: relative;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 14px;
	background-color: $c-primary;
	box-sizing: border-box;
	transition: padding .2s ease-in-out;
}

// +  multiple panel item
// -------
.multiple-panel_item {
	@include container-wrap;
	display: none;
	max-height: none;
	&.show {
		display: block;
		.multiple-panel_item_content {
			opacity: initial;
		}
	}
	&:focus {
		outline: 0;
	}
}
// .multiple-panel_collapse_trigger {}

// [Responsive]
@media #{$header-nav-breakpoint} { // >=768px
	//## when search is fixed
	.search-fixed {
		.multiple-panel_content {
			z-index: $summary-fixed-zindex;
			position: fixed;
			top: 0;
			left: 0;
			padding-top: 7px;
			padding-bottom: 14px;
		}
		//## when search and header are fixed
		&.fixed-header {
			&.is-fixedheader {
				.multiple-panel_content {
					top: $main-header-fixed-height-onscroll;
				}
			}
			.multiple-panel_content {
				top: $main-header-height;
			}
		}
	}
}
@media #{$desktop} { // >=1200px
	.multiple-panel_nav {
		padding-left: 0;
	}
}