// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICES (common)
// ****************************************
//
//    + Service segment (2 columns of information)
//
// ****************************************

@import 'service-baggage';
@import 'service-specialbaggage';
@import 'service-meals';
@import 'service-insurance';
@import 'service-priority';

// + Service segment
// -------
.service_segment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
$service-segment-column-space: 32px;
$service-segment-column-space-border: ($service-segment-column-space + 1px);
.service_segment_column {
    flex: 1 1 calc(50% - #{$service-segment-column-space-border});
    width: calc(50% - #{$service-segment-column-space-border});
    border-left: 1px solid $c-border;
    padding: 0 0 0 $service-segment-column-space;
    &:first-child {
        border-left: none;
        padding: 0 $service-segment-column-space 0 0;
    }
    &[tabindex="0"] {
        &:focus {
            @include accessibility-outline;
            outline-offset: 2px;
        }
    }
}
.service_segment_title {
    @extend .title-h3;
    color: $c-secondary;
    margin: 6px 0 14px;
}
.service_selection {
    line-height: 1.2;
}
.service_selection_collapse {
    margin: 17px 0 20px;
    @include font-size($f-size-sm);
    text-align: center;
    a {
        @include collapse-trigger($f-size,$c-primary);
        .label {
            color: $c-color2;
            text-decoration: underline;
        }
    }
}

.service_selection_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 32px;
    margin: 8px 0;
    .column {
        box-sizing: border-box;
        $label-width: 36%;
        $selection-width: 120px;
        $price-width: calc((100% - #{$label-width} - #{$selection-width}) - 34px);
        &.label {
            @include handling-long-words;
            flex: 1 1 #{$label-width};
            min-width: #{$label-width}; // IE Support
            line-height: 1.2;
        }
        &.selection {
            flex: 1 1 #{$selection-width};
            min-width: #{$selection-width}; // IE Support
            display: flex;
            justify-content: flex-end;
        }
        &.price {
            flex: 0 1 #{$price-width};
            padding-left: 34px;
            min-width: #{$price-width}; // IE Support
        }
    }
    .price {
        color: $c-primary;
        .value {
            font-weight: 600;
        }
    }
    strong {
        font-weight: 600;
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <=768px
    .service_segment {
        display: block;
    }
    .service_segment_column {
        width: 100%;
        padding: 0;
        border: none;
        padding: 0;
        margin-bottom: 27px;
        &:first-child {
            padding: 0;
        }
    }
    .service_selection_row {
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 14px;
    }
}
@media #{$tablet-portrait} { // >= 768px
    .service_selection {
        &.collapse {
            display: block;
        }
    }
    .service_selection_collapse {
        display: none;
    }
}
@media #{$until-mobile-sm} { // <= 480px
    .service_selection_row {
        padding-bottom: 20px;
        .column {
            &:nth-child(2) {
                justify-content: flex-start;
            }
            &.label {
                flex: 0 0 100%;
                min-width: 100%;
                margin-bottom: 9px;
            }
            &.selection {
                flex: 1 1 calc(64% - 20px);
                padding-left: 20px;
            }
            &.price {
                flex: 1 1 calc(36% - 14px);
                text-align: right;
            }
        }
    }
}
