// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION CARD
// ****************************************
//
//  + destination cards container
//  + destination card
//
// ****************************************

// + Variables
// -------
$destination-card-image-width-px: 100px;
$destination-card-image-width: calculateRem($destination-card-image-width-px);
$destination-card-image-section: $destination-card-image-width-px + 32px;
$destination-card-border: 1px solid $c-primary-lighter;

// + Destination cards container
// -------
.destination-cards {
	
}

// + destination card
// -------
destination-card {
	& + & {
		.destination-card {
			border-top: 0;
		}
	}
}
.destination-card {
	position: relative;
	display: grid;
	grid-template-columns: calculateRem($destination-card-image-section) 1fr;
	padding: calculateRem(21px) calculateRem(20px);
	color: $c-primary;
	border: $destination-card-border;
	border-left: 0;
	border-right: 0;
}
.destination-card_image_container {
	grid-row: 1 / span 3;
	position: relative;
	width: $destination-card-image-width;
	height: $destination-card-image-width;
}
.destination-card_image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
	}
}
.destination-card_body {
	flex: 1 1 100%;
	padding: 0 0 0 1rem;
	color: $c-primary;
	> * {
		display: block;
	}
}
.destination-card_city {
	@include font-size($f-size-md);
	grid-row: 1;
	grid-column: 2;
	position: relative;
	top: calculateRem(-5px);
	font-family: $f-title;
	font-weight: 600;
	line-height: 1.2;
}
.destination-card_date {
	@include font-size($f-size-xs);
	grid-row: 2;
	grid-column: 2;
	position: relative;
	top: calculateRem(-1px);
}
.destination-card_price {
	@include font-size($f-size-xlg);
	grid-row: 3;
	grid-column: 2;
	position: relative;
	top: calculateRem(-4px);
}
@media #{$tablet-portrait} {
	.destination-card {
		border-right: $destination-card-border;
	}
}