// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT DETAILS
// ****************************************
//
// ****************************************

.payment_details_wrap {
    margin: 14px 0 10px;
}
.payment_details {
    display: flex;
    flex-wrap: wrap;
}
.payment_details_total,
.payment_details_paymethod {
    box-sizing: border-box;
    flex-basis: 100%;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
}
.payment_details_total {
    margin-bottom: 28px;
    .table {
        margin-bottom: 4px;
        tbody {
            tr:first-child {
                th,td {
                    padding-top: 7px;
                }
            }
        }
    }
   
}
.payment_details_paymethod {
    .table-resume:last-child {
        margin-bottom: 0;
    }
}

// [Responsive]
@media #{$tablet-portrait} //>=768px
{
    .payment_details_wrap {
        margin: 30px 0 50px;
    }
    .payment_details_total,
    .payment_details_paymethod {
        flex-basis: 50%;
        width: 50%;
    }
    .payment_details_total {
        margin-bottom: 34px;
    }
}