// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAYMENT METHODS
// ****************************************
//
//    + Payment methods
//    + Payment: credit card
//
// ****************************************

// ++ Payment methods
.payment_methods {
    @include clearfix;
    .required-text {
        margin-bottom: 18px;
    }
}

@mixin payment-methods_form-bg($path) {
    .payment_methods_form {
        .ui-form_group {
            label[for="cw2Cv2"] { 
                & + .ui-input_wrap {
                    &::after {
                        background-image: url($path);
                    }
                }
            }
        }
    }
}

// ++ Payment method content
.payment_methods_content {
    &.cc-type_VI { // if is selected credit card Visa
        @include payment-methods_form-bg('#{$path-svg-card-cvv}visa.svg');
    }
    // &.cc-type_MC { // if is selected credit card MasterCard
    // }
    &.cc-type_AE { // if is selected credit card American Express
        @include payment-methods_form-bg('#{$path-svg-card-cvv}american-express.svg');
    }
}


// ++ Payment method form
.payment_methods_form {
    .container {
        @extend .form;
        .ui-form_group {
            label[for="cw2Cv2"] {
                & + .ui-input_wrap {
                    padding-right: 65px;
                    &::after { // after svg input cw2Cv2
                        @include svg-import(51px, 32px, 51px, cvv, visa);
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
            &:last-child {
                flex-basis: calc(90% - #{$form-horizontal-gutter});
            }
        }
    }
}

// ++ Payment credit card
.payment_methods_cc-type {
    margin: 24px 0 14px;
    $ui-checkbox-height: 32px;
    $ui-checkbox-width: 60px;
    .ui-checkbox-title {
        @include font-size($f-size-md);
        flex-basis: 100%;
        margin-bottom: 14px;  
    }
    .ui-checkbox-inline {
        .ui-checkbox {
            margin-right: 11px;
            padding: 0;
            input[type="radio"]:checked { // if is checked payment method
                & + label {
                    background-color: $c-primary;
                    color: $c-primary;
                    &[for="credit_card_type_VI"] { // Credit card VISA
                        background-image: url(#{$path-svg-creditcard}visa-white.svg);
                    }
                    &[for="credit_card_type_MC"] { // Credit card MASTERCARD
                        background-image: url(#{$path-svg-creditcard}mastercard-white.svg);
                    }
                    &[for="credit_card_type_AE"] { // Credit card AMERICAN EXPRESS
                        background-image: url(#{$path-svg-creditcard}american-express-white.svg);
                    }
                }
            }
            label {
                @include svg-import($ui-checkbox-width, $ui-checkbox-height, 32px, '', '');
                display: inline-block;
                font-size: 0;
                border: 1px solid $c-primary;
                color: #fff;
                &:after, &:before {
                    display: none;
                }
                &[for="credit_card_type_VI"] { // svg of each payment method
                    background-image: url(#{$path-svg-creditcard}visa.svg);
                }
                &[for="credit_card_type_MC"] { // svg of each payment method
                    background-image: url(#{$path-svg-creditcard}mastercard.svg);
                }
                &[for="credit_card_type_AE"] { // svg of each payment method
                    background-image: url(#{$path-svg-creditcard}american-express.svg);
                }
            }
        }
    }
}

// [Responsive]
@media #{$tablet-portrait} { // >=768px
    .payment_methods {
        .required-text {
            margin-bottom: 35px;
        }
    }
    .payment_methods_cc-type {
        $ui-checkbox-height: 56px;
        $ui-checkbox-width: 115px;
        .ui-checkbox-inline {
            .ui-checkbox {
                label {
                    height: $ui-checkbox-height;
                    width: $ui-checkbox-width;
                    background-size: 50px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .payment_methods_form {
        .container {
            .ui-form_group {
                flex-basis: calc(50% - #{$form-horizontal-gutter-desktop});
                &:last-child {
                    flex-basis: calc(35% - #{$form-horizontal-gutter-desktop});
                }
            }
        }
    }
}