// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  BOOKING STEPS
// ****************************************
//
// ****************************************
$steps-height: 62px;
$step-number-size: 16px;
$steps-number-color: #fff;
$steps-number-background: $c-primary;
$steps-label-fontsize: $f-size;
$steps-color: $c-text;
//## active
$steps-color-active: $c-secondary;
//## done
$steps-color-done: $steps-color-active;
.booking-steps_wrap {
    @include clearfix;
}

.booking-steps {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    counter-reset: booking_steps_counter;
    li {
        // display: inline-flex;
        position: relative;
        padding: 10px 15px;
        margin-left: calculateRem(16px);
        &::before {
            //## bar steps
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: calculateRem(22px);
            border-radius: 20px;
            background-color: $c-color4;
        }
        &.active {
            color: $steps-color-active;
            &::before {
                //## bar steps whrn is active
                background-color: $c-primary;
            }
            .number {
                color: $c-secondary;
            }
            .label {
                display: inline-block;
            }
        }
    }
    .label {
        display: none;
        @include font-size($f-size-sm);
        padding: 0 calculateRem(2px);
        position: relative;
        color: #fff;
        white-space: nowrap;
        top: -1px;
    }
    .number {
        position: relative;
        font-weight: 700;
        color: $c-primary;
        &::before {
            content: counter(booking_steps_counter);
            counter-increment: booking_steps_counter;
        }
    }
}

// [Responsive]
@media #{$mobile} {
    // >=640px
    .booking-steps_wrap {
        margin: 35px auto 30px;
    }
    .booking-steps {
        margin-bottom: 0;
        li {
            width: calc(100% / 3);
            padding: calculateRem(27px) 0 0;
            &::before {
                width: 100%;
                height: calculateRem(26px);
                top: 0;
            }
        }
        .label {
            display: block;
            @include font-size($steps-label-fontsize);
            padding-left: 18px;
            padding-top: 0;
            color: $c-primary-dark;
            top: 1px;
        }
        .number {
            @include font-size($f-size-md);
            position: absolute;
            top: -3px;
            left: 18px;
        }
    }
}

@media #{$tablet-portrait} {
    // >=768px
    .booking-steps {
        li {
            width: 169px;
        }
    }
}