// ********************
//  IBE _COMMON
//
// ********************
//  FLIGHT NUMBER LIST
// ********************

.fight-number {
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
}
.flight-number_label {
    display: inline-block;
    margin-right: 4px;
}
.flight-number_list {
    display: inline-block;
    li {
        display: inline-block;
        &::after {
            content: '|';
            margin: 0 6px;
        }
        &:last-child {
            &::after { display: none; }
        }
    }
}