{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: 'Colors',
                type: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-buttons">
                <div class="md-color_square_container">
                    <div class="md-color_square color-primary"></div>
                    <div class="md-color_square_label">Primary</div>
                </div>
                <div class="md-color_square_container">
                    <div class="md-color_square color-primary-dark"></div>
                    <div class="md-color_square_label">Primary (darker)</div>
                </div>

                <div class="md-color_square_container">
                    <div class="md-color_square color-secondary"></div>
                    <div class="md-color_square_label">Secondary</div>
                </div>
                <div class="md-color_square_container">
                    <div class="md-color_square color-secondary-dark"></div>
                    <div class="md-color_square_label">Secondary (darker)</div>
                </div>

                <div class="md-color_square_container">
                    <div class="md-color_square color-1"></div>
                    <div class="md-color_square_label">Color 1</div>
                </div>
                <div class="md-color_square_container">
                    <div class="md-color_square color-2"></div>
                    <div class="md-color_square_label">Color 2</div>
                </div>
                <div class="md-color_square_container">
                    <div class="md-color_square color-3"></div>
                    <div class="md-color_square_label">Color 3</div>
                </div>

                <div class="md-color_square_container">
                    <div class="md-color_square color-fare1"></div>
                    <div class="md-color_square_label">Color Fare 1</div>
                </div>
                <div class="md-color_square_container">
                    <div class="md-color_square color-fare2"></div>
                    <div class="md-color_square_label">Color Fare 2</div>
                </div>
                <div class="md-color_square_container">
                    <div class="md-color_square color-fare3"></div>
                    <div class="md-color_square_label">Color Fare 3</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
