<header class="nsux_header">
    <div class="logo">
        <a href="index.html">
            <img src="{{project_assets_path}}imgs/logo.svg" alt="{{ site.title }}" />
        </a>
    </div>
</header>
