<header class="nsux_nav">
    <button type="button" class="nsux_nav_trigger" data-action="openDemoMenu"></button>
    <div class="nsux_nav_inner" data-target="demoMenu">
        {% if urlExtension === '.php' %}
            <?php if (isset($_SESSION['user'])) { ?>
                <h1 class="nsux_nav_title">User: <?php echo($_SESSION['user']); ?></h1>
            <?php } ?>
            <ul>
                <li>
                    <a href="../../../logout.php">
                        Logout Session
                    </a>
                </li>
            </ul>
        {% endif %}
        <h1 class="nsux_nav_title">IBE</h1>
        <ul>
            {% for sitemap in sitemapIBE %}
            {% if sitemap.available == true %}
            <li>
                {% set counter = ( counter | default(0) ) + 1 %}
                <a data-toggle="collapse"
                    data-target="#IBE_{{counter}}"
                    aria-expanded="false"
                    aria-controls="IBE_{{counter}}">
                    {{sitemap.section}}
                </a>
                <ul class="collapse" id="IBE_{{counter}}">
                    {% for sitemap_page in sitemap.pages %}
                    <li{% if sitemap_page.notAvailable %} class="disabled"{% endif %}><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                        {{sitemap_page.label}}
                    </a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <h1 class="nsux_nav_title">Corporative</h1>
        <ul>
            {% for sitemap in sitemapCorp %}
            {% if sitemap.available == true %}
            <li>
                {% set counter = ( counter | default(0) ) + 1 %}
                <a data-toggle="collapse"
                    data-target="#CORP_{{counter}}"
                    aria-expanded="false"
                    aria-controls="CORP_{{counter}}">
                    {{sitemap.section}}
                </a>
                <ul class="collapse" id="CORP_{{counter}}">
                    {% for sitemap_page in sitemap.pages %}
                    <li{% if sitemap_page.notAvailable %} class="disabled"{% endif %}><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                        {{sitemap_page.label}}
                    </a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <h1 class="nsux_nav_title">PDF</h1>
        <ul>
            {% for sitemap in sitemapPDF %}
            {% if sitemap.available == true %}
            <li>
                {% set counter = ( counter | default(0) ) + 1 %}
                <a data-toggle="collapse"
                    data-target="#PDF_{{counter}}"
                    aria-expanded="false"
                    aria-controls="PDF_{{counter}}">
                    {{sitemap.section}}
                </a>
                <ul class="collapse" id="PDF_{{counter}}">
                    {% for sitemap_page in sitemap.pages %}
                    <li{% if sitemap_page.notAvailable %} class="disabled"{% endif %}><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                        {{sitemap_page.label}}
                    </a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <h1 class="nsux_nav_title">Emails</h1>
        <ul>
            {% for sitemap in sitemapEmails %}
            {% if sitemap.available == true %}
            <li>
                {% set counter = ( counter | default(0) ) + 1 %}
                <a data-toggle="collapse"
                    data-target="#EM_{{counter}}"
                    aria-expanded="false"
                    aria-controls="EM_{{counter}}">
                    {{sitemap.section}}
                </a>
                <ul class="collapse" id="EM_{{counter}}">
                    {% for sitemap_page in sitemap.pages %}
                    <li{% if sitemap_page.notAvailable %} class="disabled"{% endif %}><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                        {{sitemap_page.label}}
                    </a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <h1 class="nsux_nav_title">Material design and code</h1>
        <ul>
            {% for sitemap in sitemapMD %}
            {% if sitemap.available == true %}
            <li>
                {% set counter = ( counter | default(0) ) + 1 %}
                <a data-toggle="collapse"
                    data-target="#MD_{{counter}}"
                    aria-expanded="false"
                    aria-controls="MD_{{counter}}">
                    {{sitemap.section}}
                </a>
                <ul class="collapse" id="MD_{{counter}}">
                    {% for sitemap_page in sitemap.pages %}
                    <li{% if sitemap_page.notAvailable %} class="disabled"{% endif %}><a href="{{sitemap_page.url}}"{% if sitemap_page.notAvailable %} class="disabled"{% endif %}>
                        {{sitemap_page.label}}
                    </a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
