<div class="container-{% if gridSimulation.isFluid %}fluid{% else %}wrap{% endif %}">
    <div class="grid{% for class in gridSimulation.clases %}-{{ class }}{% endfor %}">
        {% for column in gridSimulation.columns %}
            {% for i in range(0, column.quantity) %}
                <div class="{{ column.class }}"{% if column.data %} {{ column.data }}{% endif %}>
                    <div class="demo{% if column.demoClass %} {{ column.demoClass }}{% endif %}">
                        <p>
                            {% if column.p %}
                                {% for p in column.p %}
                                    {% if p.column == i %}
                                        {{ p.text }}
                                    {% endif %}
                                {% endfor %}
                                {% if p.column != i %}
                                    {{ column.class | replace('_', ' ' ) }}
                                {% endif %}
                            {% else %}
                                {{ column.class | replace('_', ' ' ) }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="container-wrap">
    <div class="code-panel">
        <pre>
            <code class="html">
&lt;div class="container-{% if gridSimulation.isFluid %}fluid{% else %}wrap{% endif %}"&gt;
    &lt;div class="grid{% for class in gridSimulation.clases %}-{{ class }}{% endfor %}"&gt;{% for column in gridSimulation.columns %}{% for i in range(0, column.quantity) %}
        &lt;div class="{{ column.class }}"{% if column.data %} {{ column.data }}{% endif %}&gt;
            &lt;p&gt;{% if column.p %}{% for p in column.p %}{% if p.column == i %}{{ p.text }}{% endif %}{% endfor %}{% if p.column != i %}{{ column.class | replace('_', ' ' ) }}{% endif %}{% else %}{{ column.class | replace('_', ' ' ) }}{% endif %}&lt;/p&gt;
        &lt;/div&gt;{% endfor %}{% endfor %}
    &lt;/div&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
</div>
