<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: "Form elements",
                type: "h1"
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>

    {# INPUTS #}
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: "Inputs",
                type: "h2"
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    {% set formElements = {
        formGroups: [
            {
                isContainer: true,
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input + tooltip",
                                    id: "input1",
                                    tooltip: "Here goes the tooltip text"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input with placeholder",
                                    id: "input2",
                                    placeholder: "Placeholder text"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input with value",
                                    id: "input3",
                                    value: "Input value"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input with icon",
                                    id: "input4",
                                    icon: "pin"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input with icon at right",
                                    id: "input5",
                                    icon: "pin",
                                    iconRight: true
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input with clicable icon with placeholder",
                                    id: "input6",
                                    icon: "pin",
                                    iconButton: true
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input readonly state",
                                    id: "input7",
                                    value: "Readonly always has a value",
                                    readonly: true
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input disabled state",
                                    id: "input8",
                                    disabled: true
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input with helper text",
                                    id: "input9",
                                    message: "Format dd/mm/yyyy"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input has error state",
                                    id: "input10",
                                    error: true,
                                    message: "This is an obligatory field"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input invalid state",
                                    id: "input11",
                                    value: "myemail.com",
                                    invalid: true,
                                    message: "Please enter a valid email: example@email.com"
                                }
                            },
                            {
                                type: "inputForm",
                                element: {
                                    label: "Input valid state",
                                    id: "input12",
                                    value: "myemail@gmail.com",
                                    valid: true,
                                    message: "Valid message here"
                                }
                            }
                        ]
                    }        
                ]
            }
        ]
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}

    <br><br><br>
    {# SELECTS #}
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: "Selects",
                type: "h2"
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    {% set formElements = {
        formGroups: [
            {
                isContainer: true,
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: "selectForm",
                                element: {
                                    label: "Select label",
                                    id: "select1",
                                    options: [
                                        {
                                            name: "Select option",
                                            id: ""
                                        }
                                    ]
                                }
                            },
                            {
                                type: "selectForm",
                                element: {
                                    label: "Select is readonly",
                                    id: "select11",
                                    readonly: true,
                                    options: [
                                        {
                                            name: "Select option",
                                            id: ""
                                        }
                                    ]
                                }
                            },
                            {
                                type: "selectForm",
                                element: {
                                    label: "Select with a selected option",
                                    options: [
                                        {
                                            name: "Selected option",
                                            id: "select2",
                                            hasValue: true,
                                            message: "Here an example of select message"
                                        }
                                    ]
                                }
                            },
                            {
                                type: "selectForm",
                                element: {
                                    label: "Select disabled",
                                    disabled: true,
                                    options: [
                                        {
                                            name: "Selected option",
                                            id: "select2"
                                        }
                                    ]
                                }
                            },
                            {
                                type: "selectForm",
                                element: {
                                    label: "Expiry date",
                                    id: "expiryDate",
                                    error: true,
                                    options: [
                                        {
                                            name: "MM",
                                            id: "select3"
                                        },
                                        {
                                            name: "YYYY",
                                            id: "select4"
                                        }
                                    ]
                                }
                            },
                            {
                                type: "selectForm",
                                element: {
                                    label: "Birth date",
                                    id: "birthDate",
                                    options: [
                                        {
                                            name: "DD",
                                            id: "select5",
                                            hasValue: true
                                        },
                                        {
                                            name: "MM",
                                            id: "select6"
                                        },
                                        {
                                            name: "YYYY",
                                            id: "select7"
                                        }
                                    ]
                                }
                            },
                            {
                                type: "combinedForm",
                                items: [
                                    {
                                        type: "selectForm",
                                        element: {
                                            label: "Select label",
                                            id: "",
                                            options: [
                                                {
                                                    name: "Select",
                                                    id: "select8"
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: "inputForm",
                                        element: {
                                            label: "Input",
                                            id: "select9"
                                        }
                                    }
                                ]
                            },
                            {
                                type: "combinedForm",
                                items: [
                                    {
                                        type: "inputForm",
                                        element: {
                                            label: "Combine of 2 inputs",
                                            id: "select10"
                                        }
                                    },
                                    {
                                        type: "inputForm",
                                        element: {
                                            label: "Input",
                                            id: "select11"
                                        }
                                    }
                                ]
                            }
                        ]
                    }        
                ]
            }
        ]
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}

    <br><br><br>
    {# CHECKBOXES AND RADIOS #}
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: "Checkbox and radio buttons",
                type: "h2"
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>
    {% set formElements = {
        formGroups: [
            {
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: "checkbox",
                                element: {
                                    label: "Checkbox text lorem ipsum",
                                    id: "checkbox1"
                                }
                            }
                        ]
                    } 
                ]
            }
        ]
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}
    
    <br>

    {# CHECKBOXES AND RADIOS INLINE #}
    {% set formElements = {
        formGroups: [
            {
                isContainer: true,
                container: "ui-checkbox-inline",
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: "checkbox",
                                element: {
                                    label: "Testing checkbox label with a large large laaaaaarge text on it. Checkbox text lorem ipsum checkbox text lorem ipsum",
                                    id: "checkbox2",
                                    name: "checkbox2"
                                }
                            },
                            {
                                type: "checkbox",
                                element: {
                                    label: "Checkbox text lorem ipsum",
                                    id: "checkbox3",
                                    name: "checkbox3"
                                }
                            }
                        ]
                    }        
                ]
            }
        ]
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}

    {% set formElements = {
        formGroups: [
            {
                isContainer: true,
                container: "ui-checkbox-inline",
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: "checkbox",
                                element: {
                                    label: "Checkbox text lorem ipsum",
                                    id: "radio1",
                                    name: "radiogroup",
                                    radio: true
                                }
                            },
                            {
                                type: "checkbox",
                                element: {
                                    label: "Checkbox text lorem ipsum",
                                    id: "radio2",
                                    name: "radiogroup",
                                    radio: true
                                }
                            }
                        ]
                    }        
                ]
            }
        ]
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}

    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: "Slider Range",
                type: "h2"
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>  
    </div>
    {% set formElements = {
        formGroups: [
            {
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: "sliderRange",
                                element: {
                                    value: {
                                        iteger: "40",
                                        decimals: "23",
                                        units: "€"
                                    }
                                }
                            }
                        ]
                    } 
                ]
            }
        ]
    } %}
    {% include "partials/components/_shared/forms/_create_form.njk" %}
</div>

<br><br><br>