{% set bodyClass = "demo_page" %}
{% extends "layouts/_md_layout.njk" %}

{% block content %}

<div class="container-wrap">
    <div class="grid">
        <div class="grid-col col-12 demo_page_title">
            {% set page_title = {
                text: 'Buttons',
                type: 'h1'
            } %}
            {% include "partials/components/_page_title.njk" %}
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-buttons">
                <button type="button" class="button btn-primary">Primary</button>
                <button type="button" class="button btn-primary btn-loading">Loading</button>
                <button type="button" class="button btn-primary" disabled="disabled">Disabled</button>
                <a href="#" class="button btn-primary">Anchor</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-buttons">
                <button type="button" class="button btn-secondary">Secondary</button>
                <button type="button" class="button btn-secondary btn-loading">Loading</button>
                <button type="button" class="button btn-secondary" disabled="disabled">Disabled</button>
                <a href="#" class="button btn-secondary">Anchor</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-buttons">
                <button type="button" class="button btn-action">Action</button>
                <button type="button" class="button btn-action btn-loading">Loading</button>
                <button type="button" class="button btn-action" disabled="disabled">Disabled</button>
                <a href="#" class="button btn-action">Anchor</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-buttons">
                <button type="button" class="button btn-inverse">Inverse</button>
                <button type="button" class="button btn-inverse btn-loading">Loading</button>
                <button type="button" class="button btn-inverse" disabled="disabled">Disabled</button>
                <a href="#" class="button btn-inverse">Anchor</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <div class="field-demo-section-buttons">
                <button type="button" class="button btn-light">Light</button>
                <button type="button" class="button btn-light btn-loading">Loading</button>
                <button type="button" class="button btn-light" disabled="disabled">Disabled</button>
                <a href="#" class="button btn-light">Anchor</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="grid-col col-12">
            <pre>
                <code class="html">
&lt;!-- Button primary --&gt;
&lt;button type="button" class="button btn-primary"&gt;Button text&lt;/button&gt;
    
&lt;!-- Button primary loading --&gt;
&lt;button type="button" class="button btn-primary btn-loading"&gt;Loading text&lt;/button&gt;

&lt;!-- Button primary disabled --&gt;
&lt;button type="button" class="button btn-primary" disabled="disabled"&gt;Disabled&lt;/button&gt;

&lt;!-- Anchor as Button primary --&gt;
&lt;a href="#" class="button btn-primary" &gt;Disabled&lt;/a&gt;


&lt;!-- Button secondary --&gt;
&lt;button type="button" class="button btn-secondary"&gt;Button text&lt;/button&gt;

&lt;!-- Button secondary loading --&gt;
&lt;button type="button" class="button btn-secondary btn-loading"&gt;Loading text&lt;/button&gt;

&lt;!-- Button secondary disabled --&gt;
&lt;button type="button" class="button btn-secondary" disabled="disabled"&gt;Disabled&lt;/button&gt;

&lt;!-- Anchor as Button secondary --&gt;
&lt;a href="#" class="button btn-secondary" &gt;Disabled&lt;/a&gt;


&lt;!-- Button action --&gt;
&lt;button type="button" class="button btn-action"&gt;Button text&lt;/button&gt;

&lt;!-- Button action loading --&gt;
&lt;button type="button" class="button btn-action btn-loading"&gt;Loading text&lt;/button&gt;

&lt;!-- Button action disabled --&gt;
&lt;button type="button" class="button btn-action" disabled="disabled"&gt;Disabled&lt;/button&gt;

&lt;!-- Anchor as Button action --&gt;
&lt;a href="#" class="button btn-action" &gt;Disabled&lt;/a&gt;


&lt;!-- Button inverse --&gt;
&lt;button type="button" class="button btn-inverse"&gt;Button text&lt;/button&gt;

&lt;!-- Button inverse loading --&gt;
&lt;button type="button" class="button btn-inverse btn-loading"&gt;Loading text&lt;/button&gt;

&lt;!-- Button inverse disabled --&gt;
&lt;button type="button" class="button btn-inverse" disabled="disabled"&gt;Disabled&lt;/button&gt;

&lt;!-- Anchor as Button inverse --&gt;
&lt;a href="#" class="button btn-inverse" &gt;Disabled&lt;/a&gt;


&lt;!-- Button light --&gt;
&lt;button type="button" class="button btn-light"&gt;Button text&lt;/button&gt;

&lt;!-- Button light loading --&gt;
&lt;button type="button" class="button btn-light btn-loading"&gt;Loading text&lt;/button&gt;

&lt;!-- Button light disabled --&gt;
&lt;button type="button" class="button btn-light" disabled="disabled"&gt;Disabled&lt;/button&gt;

&lt;!-- Anchor as Button light --&gt;
&lt;a href="#" class="button btn-light" &gt;Disabled&lt;/a&gt;
                </code>
            </pre>
        </div>
    </div>
</div>

{% endblock %}

{% block component_jquery %}
{% endblock %}
