// main: ../../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  BILLING DATA
// ********************
//
//
// ********************

.billing_data {    
    @include clearfix;
    margin: 14px 0;
    [name=billingName],
    [name=documentNumber] {
        text-transform: uppercase;
    }
    .container {
        margin-top: 14px;
        @extend .form;
        @extend .columns-3;
    }
}