// ********************
//  IBE COMPONENT
//
// ********************
//  PASSENGER DATA
// ********************
//
//
// ********************

.passenger_data {
    @include clearfix;
    margin: 0 0 44px;
    [name^=firstName],
    [name^=lastName],
    .passenger_name {
        text-transform: uppercase;
    }
    .container {
        @extend .form;
        @extend .columns-3;
        margin-top: 14px;
    }    
}
.passenger_data_block {
    @include clearfix;
    margin-top: 14px;
}
.passenger_data_title {
    @extend .title-h2;
    @include handling-long-words;
    margin-bottom: 20px;
}
.passenger_label {
    @extend .fare-label;
    position: relative;
    top: -2px;
    min-width: 66px;
    text-align: left;
    color: #fff;
    background-color: $c-primary;
}
.passenger_name {
    font-weight: 700;
    @include font-size($f-size-md-sm);
    padding-left: 10px;
}
.passenger_data_subtitle {
    @extend .title-h3;
    padding-top: 24px;
    margin: 0;
}
