// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  PAX (PASSENGER) SELECTOR
// ****************************************
//
//    + Status: notassigned, selected, assigned, current
//
// ****************************************

.pax-selector {
    @include custom-scroll(lighten);
    padding: 20px 0;
}
.pax-selector_item {
    position: relative;
}
.pax-selector_pax {
    display: flex;
    align-items: flex-start;
    min-height: 29px;
    line-height: 1.2;
    margin-bottom: 6px;
    &.selected {
        color: $c-secondary;       
        .pax-name {
            color: $c-secondary;
            font-weight: bold;
            &:before {
                color: $c-secondary;
            }
        }       
    }
    $pax-seat-width: 120px;
    $pax-name-width: calc(100% - #{$pax-seat-width} - 42px);
    .pax-name,
    .pax-seat {
        display: flex;
        align-items: center;
        min-height: 25px;
    }
    .pax-name {
        @include iconfont($icon-user,before);
        flex: 1 1 auto;
        padding-left: 28px;
        padding-right: 14px;
        text-align: left;
        line-height: 1.1;
        cursor: pointer;
        &::before { //## pax icon
            position: absolute;
            left: 0;           
            @include font-size($f-size-md);
            color: $c-primary;
        }
        &.infant {
            @include iconfont($icon-error-circle,before);
        }
    }
    .pax-seat {
        flex: 1 1 auto;
        justify-content: flex-end;
        white-space: nowrap;
        font-weight: 600;
        margin-left: auto;
        .seat-label {
            margin-right: 5px;
            font-weight: normal;
        }
        .seat-label {
            margin-right: 6px;
        }
    }
    .pax-seat_reset {
        @include iconfont($icon-cross-circle,before);
        @include font-size($f-size-md);
        position: relative;
        top: 1px;
        flex: 0 0 auto;
        color: $gray60;
        text-decoration: none;
        padding: 0 4px;
        cursor: pointer;
        &:hover {
            color: $c-primary;
        }
    }
}
.pax-selector_title {
    @extend .title-h1;
    margin-top: 42px;
    margin-bottom: 10px;
    @include font-size($f-size-xxlg);
    font-weight: 400;
}
@mixin paxselector-reponsive {
    .pax-selector_title {
        display: none;
    }
    .pax-selector {
        padding: 14px 0 8px;
    }
    .pax-selector {
        display: flex;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .pax-selector_item {
        flex: 0 0 auto;
        margin-right: 14px;
        padding-right: 30px;
        border-right: 1px solid $c-border;
        &:last-of-type {
            border: none;
        }
    }
    .pax-selector_pax {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0;
        .pax-name {
            position: relative;
            flex: 0 0 auto;
        }
        .pax-seat {
            flex: 0 0 auto;
            width: auto;
        }        
    }
}
