// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LABEL ICON
// ********************
//
// + label-icon
// + label-icon_item
//
// ********************

.label-icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.label-icon_item {
    flex: 1 1 100%;
    max-width: 50%;
    margin-bottom: 20px;
    line-height: 1.2;
}

.label-icon_item-wrap {
    text-align: center;
    text-decoration: none;
    .icon {
        display: block;
        @include font-size(120px);
        color: $c-primary;
    }
    .title {
        @include font-size($f-size-md-sm);
        display: block;
        margin-top: 10px;
        color: $c-primary;
        font-weight: 500;
    }
    .label {
        display: block;
        margin-top: 12px;
        padding: 0 10px;
        line-height: 1.3;
    }
}

@media #{$mobile-sm} { //## >=480px
    .label-icon {
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .label-icon_item {
        max-width: 221px;
        margin-bottom: 38px;
    }
}
