// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  link group
// ********************
//
// + links-group
//
// ********************

.links-group {
    text-align: center;
    ul {
        display: inline-block;
        text-align: center;
        padding: 1rem;
        border-radius: $border-radius;
        background: $gray90;
    }
}
.links-group_item {
    display: inline-block;
    &:last-child {
        .links-group_item-link {
            padding-right: 0;
            margin-right: 0;
            border-right: 0;
        }
    }
}
.links-group_item-link {
    position: relative;
    display: inline-block;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid $gray80;
    text-transform: uppercase;
    text-decoration: none;
    .icon {
        @include font-size($f-size-md);
        padding-right: 5px; 
        vertical-align: text-bottom;
    }
}