// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE PANEL
// ********************
//
//    + multiple panel
//    + multiple panel nav tabs
//    + multiple panel tab content
//
// ********************

// .multiple-panel {}

// +  Multiple panel nav tabs
// -------
// .multiple-panel_nav { }
// .multiple-panel_nav_item {}

// +  multiple panel tab content
// -------
.multiple-panel_content {
    box-sizing: border-box;
}
// .multiple-panel_item {}

// [Responsive]
@media #{$home-multipanel-bp} { // >=960px
    .multiple-panel {
        @include container-wrap;
        position: relative;
    }
    .multiple-panel_content {
        $multipanel-top-position: 14px;
        z-index: 5;
        position: absolute;
        top: $multipanel-top-position;
    }
}