// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE SEARCH
// ****************************************
//
//    + multiple search
//       + Multiple search nav tabs
//       + Multiple search tab content
//
// ****************************************

.multiple-search {
    width: 100%;
    background: #fff;
}
.multiple-search_nav {
    @include clearfix;
    margin-top: 2px;
    &:first-of-type {
        margin-top: 0;
    }
}
.multiple-search_nav_item {
    @include font-size($f-size);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 14px 6px;
    background: #fff;
    cursor: pointer;
    &.collapsed {
        background: $gray95;
    }
    &[aria-selected='true'] {
        background: #fff;
    }
}
.multiple-search_nav_label {
    text-transform: uppercase;
    font-weight: 600;
}
[class^="multiple-search_nav_icon"] {
    @include font-size($f-size-md);
    line-height: .8;
    margin-right: calculateRem(8px);
}
.multiple-search_nav_icon {
    &--flights {
        @include iconfont($icon-desde, before);
    }
    &--hotels {
        @include iconfont($icon-hotel2, before);
    }
    &--flightshotels {
        @include iconfont($icon-hotel2, before);
    }
    &--cars {
        @include iconfont($icon-rent_a_car, before);
    }
}

.multiple-search_item:focus {
    outline: none;
}


// [Responsive]
@media #{$home-multipanel-bp} { // >=768px
    .multiple-search {
        width: calculateRem($multiple-search-width);
        max-height: calculateRem($multiple-search-height);
    }
}
