// main: ../styles.scss
// ********************
//  COMPONENTS
//
// ********************
//  SERVICE CARD
// ********************
$service-cards-item-gutter: 5px;
.service-cards {
    background: #f2f2f2;
    padding: $service-cards-item-gutter;
}

.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: $service-cards-item-gutter;
    padding: 15px;
    background: #fff;
    box-sizing: border-box;
    &.is-checked {
        @include checked-icon();
        .button-action {
            @include iconfont($icon-mascotas, before);
        }
    }
}
.service-card_body,
.service-card_head {
    padding-bottom: 14px;
}
//## head
.service-card_head {
    display: flex;
    align-items: center;
}
.service-card_head_icon {
    @include font-size($f-iconsize-md);
    line-height: 1;
    padding-right: 14px;
}
.service-card_head_title {
    .title {
        @extend .title-h3;
    }
}
//## body
.service-card_body {
    @include font-size($f-size-sm);
    ul {
        @extend .list-bullet;
        li {
            margin: 0;
        }
    }
}

//## body
.service-card_footer {
    margin-top: auto;
}
.service-card_footer_buttons {
    .button-action {
        position: relative;
        @include iconfont($icon-plus, before);
        @include font-size($f-size-sm);
        padding-left: 25px;
        border: 0;
        color: $c-secondary;
        background-color: transparent;
        &::before {
            @include font-size($f-size-md);
            position: absolute;
            left: 0px;
            top: 5px;
        }
    }
}

// [Responsive]
@media #{$tablet-portrait} {
    // >=768px
    .service-cards {
        display: flex;
        flex-wrap: wrap;
    }
    .service-card {
        flex-basis: calc((100% / 2) - #{$service-cards-item-gutter * 2});
    }
}

@media #{$tablet-landscape} {
    // >=992px
    .service-card {
        flex-basis: calc((100% / 3) - #{$service-cards-item-gutter * 2});
    }
}