<div class="destination-cards">
    {% for destinationCard in destinationCards.items %}
        <destination-card>
            <div class="destination-card">
                {# image #}
                {% if destinationCard.image | length %}
                    <div class="destination-card_image_container">
                        <div class="destination-card_image">
                            <img
                                src="{{ project_assets_path }}imgs/destinations/{{ destinationCard.image }}.jpg"
                                alt="{{ destinationCard.city }}"
                            >
                        </div>
                    </div>
                {% endif %}

                {# city #}
                {% if destinationCard.city | length %}
                    <div class="destination-card_city">{{ destinationCard.city }}</div>
                {% endif %}

                {# country #}
                {% if destinationCard.country | length %}
                    <div class="destination-card_country">{{ destinationCard.country }}</div>
                {% endif %}

                {# date #}
                {% if destinationCard.date | length %}
                    <div class="destination-card_date">
                        {% set date = destinationCard.date %}
                        {% include "partials/components/IBE/_common/_date.njk" %}
                    </div>
                {% endif %}

                {# price #}
                {% if destinationCard.price | length %}
                    <div class="destination-card_price">
                        {% set price = destinationCard.price %}
                        {% include "partials/components/IBE/_common/_price.njk" %}
                    </div>
                {% endif %}
            </div>
        </destination-card>
    {% endfor %}
</div>