// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  LABEL ICON
// ********************
//
// + label-icon
// + label-icon_item
//
// ********************

.label-icon {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.label-icon_item {
    display: inline-block;
    flex: 1 1 100%;
    max-width: 221px;
    margin-bottom: 38px;
    text-align: center;
    line-height: 1.2;
    .icon, .label {
        display: block;
    }
    .icon {
        @include font-size(62px);
        color: $c-primary;
        line-height: 62px; // to diferent icon font-sizes same line-height
        // set specific icon sizes
        &.icon {
            &-computer-booking {
                @include font-size(72px);
            }
        }
    }
    .label, .title {
        font-weight: 600;
    }
    .title {
        display: inline-block;
        margin-top: 8px;
        color: $c-secondary;
        font-family: $font-name;
    }
    .label {
        margin-top: 12px;
        padding: 0 10px;
    }
    // modifiers
    &.light {
        .label {
            font-weight: 400;
        }
    }
}

// [Responsive]
@media #{$until-mobile-sm} { //## <=480px
    .label-icon {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .label-icon_item {
        max-width: 50%;
        margin-bottom: 20px;
    }
}
