// ********************
//  COMPONENTS
//
// ********************
//  BREADCRUMB
// ********************
//
// ********************

// + Variables
// -------
$breadcrumb-caret-size: 10px;

.breadcrumb {
    margin-bottom: calculateRem(12px);
}
.breadcrumb_item {
    @include iconfont($pbicon-arrow-right, after);
    display: inline-block;
    padding-right: calculateEm(2px);
    &::after { //## breadcrumb separator
        position: relative;
        top: 0;
        color: $c-color1;
        font-size: calculateEm($breadcrumb-caret-size);
    }
    &:last-child {
        &:after { content: none; }
    }
    & > a {
        color: $c-primary-dark;
        text-decoration: none;
        padding: 7px 0;
        &:hover {
            text-decoration: underline;
        }
    }
    &.go-home a {
        @include iconfont($pbicon-dog);
        font-size: calculateEm(18px);
        color: $c-primary;
        vertical-align: middle;
        &:hover {
            color: $c-link-hover;
            text-decoration: none;
        }
        &::before {
            font-size: 1em;
        }
    }
}
.breadcrumb_dropdown_trigger {
    @include collapse-trigger($breadcrumb-caret-size, $c-secondary, right);
    padding-right: calculateEm(16px);
    cursor: pointer;
    &:hover {
        color: $c-link-hover;
    }
    &::after {
        top: calculateEm(10px);
    }
}
@media #{$tablet-portrait} { // >=768px
    .breadcrumb {
        margin-bottom: calculateRem(32px);
    }
}