// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Aside
//    + Main
//    + Promo
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************

// + Variables
// -------
$image-scale-hover: scale(1.04);
$image-scale-hover-time: .3s;
$destinaton-offer-image-height-desktop: calculateRem(264px);

// + Destinations offers
// -------
.destinations-offers {
    margin: -16px (-$gutter-sides) 0;
}

// + Aside
// -------
.destination-offer_aside {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-width: auto;
    padding: 0;
    .destination-offer_body {
        height: $main-banner-height;
    }
    .destination-offer_caption {
        height: 100%;
        margin: 0;
        user-select: none;
    }
    .destination-offer_link {
        a {
            color: inherit;
            &:hover {
                color: $c-link-hover;
            }
        }
    }
}

// + Main
// -------
ibe-destination-offer {
    &:nth-child(2n) {
        .destination-offer_body {
            flex-direction: row-reverse;
        }
    }
}

// + Destination offer (individual component)
// -------
.destination-offer {
    position: relative;
    display: flex;
    flex-direction: column;
    &.destinations-offers-item--main {
        background-color: $c-primary;
        .city {
            color: #fff;
        }
        .destination-offer_link {
            color: #fff;
        }
    }
}
.destination-offer_image {
    position: relative;
    display: block;
    overflow: hidden;
    height: $main-banner-height;
    img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.destination-offer_caption {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: calculateRem(40px) calculateRem(24px) calculateRem(50px);
    line-height: 1.1;
    box-sizing: border-box;
    > a {
        text-decoration: inherit;
        &:hover {
            text-decoration: inherit;
            color: inherit;
        }
    }
    .currency {
        font-weight: 600;
        // margin-right: calculateRem(-4px);
    }
    .city {
        @include font-size($f-size-md-lg);
        margin: 0 0 4px;
        font-weight: 400;
    }
    .price_wrap {
        @include font-size($f-size-xlg);
        margin: 0;
        color: $c-secondary;
        line-height: 1;
    }
    .from {
        @include font-size($f-size-md);
        display: inline-block;
        margin-right: 2px;
    }
}
.destinations-offer_title,
.destinations-offer_subtitle {
    @include font-size($f-size-md);
}
.destinations-offer_title {
    margin-bottom: .25em;
    font-weight: 600;
}
.destinations-offer_subtitle {
    color: $c-secondary;
    margin-bottom: calculateEm(14px);
}
.destinations-offer_text {
    margin: 0;
}
.destination-offer_link {
    position: absolute;
    right: 5%;
    bottom: 8%;
    font-size: calculateEm($f-size);
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

// + Destinations offers price list
// -------
.destinations-offers_select_header {
    display: block;
    padding: 0 0 24px;
    .ui-dropdown {
        display: inline-block;
    }
    .ui-dropdown_list {
        width: auto;
        left: auto;
        right: 0;
    }
    .title,
    .title_trigger {
        font-size: calculateEm($f-size-md,$f-size);
    }
    .title_trigger { // [TODO] update to down icon to save scss lines
        @include collapse-trigger(16px, $c-secondary, right);
        text-decoration: underline;
        &:hover {
            color: $c-link-hover;
        }
        // modifiers
        &.hide-caret {
            padding-right: 0;
            cursor: auto;
            pointer-events: none;
            &::after {
                content: none;
            }
        }
    }
}
.destinations-offers_pricelist {
    padding: 24px $gutter;
    .all_offers {
        padding-top: 20px;
        text-align: right;
        a {
            text-decoration: none;
        }
    }
}

// [Responsive]
@media #{$mobile-sm} { // >= 480px
    .destination-offer_image {
        height: $main-banner-height-mobile-sm;
    }
}
@media #{$mobile} { // >= 640px
    .search-fixed {
        .destinations-offers {
            margin-top: 148px;
        }
    }
}
@media #{$tablet-portrait} { // >= 768px
    .destinations-offers {
        margin: 0;
    }
    .search-fixed {
        .destinations-offers {
            margin-top: 16px;
        }
    }
    .destination-offer_body {
        height: $destinaton-offer-image-height-desktop;
    }

    // + Aside
    // -------
    .destination-offer_aside {
        flex-direction: row-reverse;
        .destination-offer_body {
            min-height: $destinaton-offer-image-height-desktop;
        }
        .column {
            flex: 50% 0 1;
        }
    }

    // + Destination offer (individual component)
    // -------
    .destination-offer_image,
    .destination-offer_caption {
        flex: 1 0 50%;
        height: 100%;
    }
    .destination-offer_body {
        display: flex;
    }
    .destination-offer_caption {
        margin: 0;
        padding: 0 $gutter;
        .city {
            @include font-size(34px);
            font-weight: 400;
        }
        .price_currency {
            @include font-size(54px);
        }
    }
    .destinations-offer_title,
    .destinations-offer_subtitle {
        @include font-size($f-size-md-lg);
    }
    .destination-offer_link {
        bottom: 7.5%;
    }
    .destinations-offers_pricelist {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 4% 10%;
        justify-content: center;
        box-sizing: border-box;
        .all_offers {
            margin-right: -7%;
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .search-fixed {
        .destinations-offers {
            margin-top: 0;
        }
    }
}
@media #{$desktop} { // >= 1200px
    .destination-offer_caption {
        .price_currency {
            @include font-size(74px);
        }
        .city {
            @include font-size($f-size-xxlg);
        }
        .from {
           font-size: calculateEm($f-size-xxlg, $f-size-ultra);
        }
    }
}