// ********************
//  COMPONENTS
//
// ********************
//  MAIN BANNER
// ****************************************
//
//    + Main banner
//    + Main banner indicators
//    + banner caption page corporative
//
// ****************************************

$main-banner-height: calculateRem(166px);
$main-banner-height-mobile-sm: calculateRem(220px);
$main-banner-height-desktop: calculateRem(330px);

// + main banner
// -------
.main-banner {
	position: relative;
	overflow: hidden;
}
.main-banner_slider {
	background-color: #000;
}
.main-banner_item {
	display: none;
	position: relative;
	height: $main-banner-height;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	&::after { //## slider bottom gradient
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba($c-primary-dark,.2);
	}
	&.active {
		display: block;
	}
}
.main-banner_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	img { width: 100%; }
}
.main-banner_container {
	@include container-wrap;
	z-index: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: calc(100% - 42px);
	max-height: calc(100% - 42px);
	padding: calculateRem(16px) calculateRem(16px) 0;
}
$caption-text-fontsize: 22px;
.main-banner_caption {
	@include container-wrap;
	@include font-size($caption-text-fontsize);
	z-index: 1;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: $f-title;
	color: #fff;
	line-height: 1.2;
	p {
		margin: 0;
	}
	.title {
		font-size: calculateEm($f-size);
		display: block;
		margin: 0 0 .25em;
		font-weight: 600;
		line-height: 1;
	}
	.subtitle,
	.text {
		font-size: calculateEm($f-size-sm);
	}
	.note {
		font-size: calculateEm($f-size-xs);
	}
}
.main-banner_button {
	font-size: calculateEm($f-size-sm);
	min-width: auto;
	color: #fff;
	text-transform: none;
	font-weight: 400;
	padding-left: 0;
	padding-top: calculateRem(1px);
	margin-top: calculateRem(4px);
	padding-bottom: 0;
	border-width: 0;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

// + main banner inner pages
.main-banner_innerpages {
	.main-banner_item {
		height: 425px;
	}
	.main-banner_controls {
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 70px;
	}
	.slide-control {
		display: block;
	}
}

// + banner controls
// -------
.main-banner_pager {
	display: none;
}
.main-banner_pager_item {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	background-color: #fff;
	border-radius: 100%;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&.active {
		background-color: $c-secondary;
	}
}

.slide-control {
	z-index: 44;
	display: none;
	width: 7%;
	position: absolute;
	top: 0;
	bottom: 0;
	text-align: center;
	cursor: pointer;
	&:focus {
		outline-offset: -3px;
	}
	&.left {
		left: 0;
		.icon {
			right: 0;
		}
	}
	&.right {
		right: 0;
		.icon {
			left: 0;
		}
	}
	.icon {
		@include font-size($f-size-super);
		color: $c-secondary;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media #{$mobile-sm} { // >=480px
	.main-banner_item {
		height: $main-banner-height-mobile-sm;
	}
}
@media #{$tablet-portrait} { // >= 768px
	.main-banner_item {
		height: $main-banner-height-desktop;
		text-align: left;
		// modifiers
		&.align-center {
			text-align: center;
		}
		&.align-right {
			text-align: right;
		}
	}
	.main-banner_container {
		display: block;
		height: auto;
		padding-top: calculateRem(48px);
	}
	$caption-text-fontsize: 14px;
	.main-banner_caption {
		font-size: calculateRem($caption-text-fontsize);
		.title {
			font-size: calculateEm($f-size-super);
			font-weight: 300;
		}
		.subtitle,
		.text {
			font-size: calculateEm($f-size-md-lg);
		}
		.note {
			font-size: calculateEm($f-size-xs);
		}
		// modifiers
		&.align-center {
			text-align: center;
		}
		&.align-right {
			text-align: right;
		}
	}
	.main-banner_button {
		@include font-size($f-size);
		@include btn-inverse;
		margin-top: calculateRem(24px);
		min-width: 100px;
		padding: 6px 12px;
		border-width: 2px;
		font-weight: 700;
		&::before {
			content: '';
		}
	}
	.main-banner_controls {
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100%;
		max-width: $container-max-width-px + $gutter-sides-desktop * 2;
		transform: translateX(-50%);
	}
	.main-banner_pager {
		z-index: 4;
		position: absolute;
		display: block;
		right: $gutter-sides;
		bottom: 2.5rem;
	}
}
@media #{$tablet-landscape} { // >= 992px
	.main-banner_pager {
		right: $gutter-sides-desktop;
	}
}
