// ********************
//  COMPONENTS
//
// ********************
//  NEWSLETTER
//
// + Newsletter component
// + Newsletter subscribe page
//
// ****************************************

// + Newsletter component
// -------
.newsletter_form {
    @extend .form-inverse;
    max-width: 380px;
    margin: 0 auto;
    .ui-form_group {
        margin: 0 0 34px;
    }
    .ui-form_input-buttons {
        margin-left: auto;
        margin-right: auto;
    }
    .ui-form_input-button {
        flex-wrap: wrap;
    }
}
.newsletter_form_button {
    @extend .btn-primary;
    width: 100%;
}
.newsletter_form_title {
    .title {
        @extend .main-footer_nav-title;
        margin-bottom: -1px;
    }
}

// [Resposnive]
@media #{$mobile} { // >= 640px
    .newsletter_form {
        .ui-form_input-button {
            margin: 0;
        }
    }
}
@media #{$tablet-landscape} { // >= 992px
    .newsletter_form {
        max-width: auto;
        margin: 0;
    }
    .newsletter_form_button {
        margin: 0;
    }
}
