// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  PERIOD BOX
// ********************
//
// ********************

// variables
$period-box_padding: 20px;

// + period-box
// -------
.period-box_container {
    display: flex;
    flex-wrap: wrap;
}
.period-box {
    position: relative;
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: $period-box_padding;
    width: 100%;
    font-family: $font-name;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: $gray95;
    & + & {
        &::before {
            position: absolute;
            left: 0;
            top: $period-box_padding;
            content: ' ';
            width: 2px;
            height: calc(100% - #{$period-box_padding * 2});
            background-color: $c-primary;
        }
    }
    &:nth-child(2n+1) { // remove odd childs border separation
        &::before {
            width: 0;
        }
    }
}
.period-box_title {
    @include font-size($f-size-md);
    color: $c-secondary;
}
.period-box_date {
    @include font-size($f-size-xxlg);
    color: $c-primary;
}
// responsive
@media #{$until-tablet-landscape} {
    .period-box_date {
        @include font-size($f-size-md);
    }
}
@media #{$until-mobile} {
    .period-box {
        flex-basis: 100%;
        & + & {
            &::before {
                left: 50%;
                top: 0;
                width: 60px;
                height: 2px;
                transform: translateX(-50%);
            }
        }
    }
}
@media #{$until-mobile-sm} {
    .period-box_container {
        margin: 0 -20px;
    }
}