// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION PREVIEW
// ****************************************
//
//  + Variables
//
// ****************************************

// + Variables
// -------
$destination-preview-padding-sides: calculateRem(20px) !default;
$destination-preview-close-icon: $pbicon-cross-circled !default;
$destination-preview-close-icon-color: #fff !default;
//## title
$destination-preview-caption-title-fontsize: 20px !default;
$destination-preview-caption-title-color: #fff !default;
$destination-preview-caption-title-background: $c-color3 !default;
$destination-preview-caption-title-padding-sides: calculateRem(18px) !default;
//## subtitle
$destination-preview-caption-subtitle-fontsize: 16px !default;
$destination-preview-caption-subtitle-color: $c-primary-dark !default;
$destination-preview-caption-subtitle-background: rgba(#fff, .75) !default;

// destination-preview
// -------
.destination-preview {
	padding: 0 $destination-preview-padding-sides calculateRem(24px);
	.barchart {
		margin-bottom: calculateRem(18px);
	}
}
.destination-preview_banner {
	position: relative;
	height: 40vh;
	margin: 0 (-$destination-preview-padding-sides);
	background-size: cover;
	background-repeat: no-repeat;
}
.destination-preview_caption {
	position: absolute;
	bottom: 1rem;
}
.destination-preview_caption_title,
.destination-preview_caption_subtitle {
	float: left;
	clear: both;
	white-space: nowrap;
	font-family: $f-title;
	border-radius: 0 $border-radius $border-radius 0;
}
.destination-preview_caption_title {
	@include font-size($destination-preview-caption-title-fontsize);
	padding: calculateRem(4px) $destination-preview-caption-title-padding-sides;
	color: $destination-preview-caption-title-color;
	background-color: $destination-preview-caption-title-background;
}
.destination-preview_caption_subtitle {
	@include font-size($destination-preview-caption-subtitle-fontsize);
	padding: calculateRem(2px) $destination-preview-caption-title-padding-sides;
	color: $destination-preview-caption-subtitle-color;
	background-color: $destination-preview-caption-subtitle-background;
}
.destination-preview_description {
	@include font-size($f-size-sm);
	margin: calculateRem(6px) 0 calculateRem(16px);
	line-height: 1.2;
}
.destination-preview_action {
	text-align: center;
}
.destination-preview_button {
	@include btn-primary;
	display: inline-block;
	margin: 0 auto;
}
.destination-preview_close {
	@include iconfont($destination-preview-close-icon, before, $destination-preview-close-icon-color);
	@include font-size(30px);
	z-index: 1;
	position: absolute;
	top: calculateRem(10px);
	right: calculateRem(10px);
	cursor: pointer;
}
@media #{$tablet-portrait} {
	.destination-preview_banner {
		height: calculateRem(134px);
	}
}