// ********************
//  COMPONENTS
//
// ********************
//  CORPORATIVE
// ********************
//
//    + Sections (umbraco components styles)
//    + CMS Headings
//    + Inverse headings
//
// ****************************************

// + Sections (umbraco components styles)
// -------
// ++ Context sections (articles, news, etc)
// ## those section data came from umbraco
// +++ headings

// variables
$headings_main-space: 47px;

// + CMS Headings
// -------
.context-h1,
.context-h2,
.context-h3,
.context-h4 {
    font-weight: 500;
}
.context-h1 {
    @extend .title-h1;
    position: relative;
    margin-bottom: calculateEm($headings_main-space, $f-size-h1);
    .title-inner {
        background-image: linear-gradient(0, $c-secondary 0%, $c-secondary 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
    }
}
.context-h2 {
    @extend .title-h2;
    margin-bottom: .2em;
    + .context-h3 {
        margin-top: calculateEm(-2px, $f-size-h2);
    }
}
.context-h3 {
    @extend .title-h3;
    margin-bottom: calculateEm(6px, $f-size-h3);
}
.context-h4 {
    @extend .title-h4;    
}



// + Inverse headings
// -------
.context-h1-inverse {
    @media #{$until-mobile}{
        @include font-size($f-size-h1-mobile);
    }
}

// fix vertical align with margin-top issue
.grid-middle {
    .context-h2,
    .context-h3 {
        &:first-child {
            margin-top: 0px;
        }
    }
}

// +++ dates
.context-date {
    @include font-size($f-size-md);
    display: inline-block;
    margin-bottom: 10px;
    color: $c-secondary;
    @media #{$mobile} { // >= 640px
        display: block;
    }
}

// + context author
// -------
.context-author {
    @include font-size($f-size-sm);
    color: $c-primary;
    .context-author_label-by {
        display: block;
    }
    .context-author_label-name {
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
    }    
    .context-author_tag {
        font-weight: 400;
    }
}

// + footnote
// -------
.context-footnote {
    position: relative;
    @include font-size($f-size-xs);
    padding: 12px 0 0 0;
    margin: 24px 0 34px;
    &:before {
        //## footnote upperline
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 198px;
        height: 1px;
        background-color: $gray60;
    }
    .context-list {
        li {
            margin: 0;
            padding-left: 14px;
            &:before {
                content: counter(number)'.';
                font-size: 1em;
            }
        }
    }
}

// + blockquote
// -------
.context-quote {
    margin: 54px auto;
    padding-left: 27px;
    width: 80%;
    @include font-size($f-size-md);
    position: relative;
    color: $c-primary;
    box-sizing: border-box;
    .context-quote_author {
        display: block;
        margin-top: 4px;
        padding-left: 17px;
        position: relative;
        @include font-size($f-size);
        color: $c-color1;
        &::before {
            content: '---';
            position: absolute;
            top: -2px;
            left: 0;
            letter-spacing: -1px;
        }
    }
    &::before {
        @include font-size(70px);
        position: absolute;
        left: 0;
        top: 22px;
        content: '"';
        font-family: $f-title;
        color: $c-primary;
        line-height: 0;
        letter-spacing: -.08em;
    }   
    @media #{$until-mobile} {
        width: 100%;
    }
}

// + tables
// -------
.context-table {
    @extend .table-responsive_wrapper;
    margin: 0 0 34px 0;  
    tbody {
        th,
        td {
            border-bottom-color: $c-color4;
        }
    }
    .table-responsive {
        th,
        td {
            white-space: normal;
        }
    }
    .hidden {
        display: none;
    }
    // [Responsive]
    @media #{$until-tablet-portrait} { // <= 768px
        tbody {
            td[data-th='']:before {
                display: none;
            }
        }
    }
}

.context-hr {
    border: .4px solid $c-secondary;
}

// + images
// -------
$context-image-maxheight: 350px;
.context-image {
    max-width: 100%;
}
.context-images {
    margin: 0px 0 24px 0;
    .context-footnote {
        margin-top: 7px;
        &::before {
            //## footnote
            display: none;
        }
    } // modifiers
    &.default {
        margin: 0;
        .context-images_grid {
            margin: 0;
        }
        .column {
            height: auto;
            margin: 0;
            border-radius: 0;
            img {
                display: block;
                position: relative;
                transform: none;
                left: 0;
                top: 0;
                min-height: 0;
            }
        }
    }
}

.context-images_grid {
    $images-margin: .5em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 -#{$images-margin};
    .column {
        position: relative;
        flex-basis: 100%;
        height: $context-image-maxheight;
        margin: 0 $images-margin;
        border-radius: $border-radius;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            border-radius: $border-radius;
            transform: translate(-50%, -50%);
        }
    }
    @media #{$until-mobile} {
        flex-direction: column;
        .column {
            height: auto;
            margin-bottom: 14px;
            overflow: visible;
            img {
                position: relative;
                left: 0;
                top: 0;
                min-height: auto;
                object-fit: unset;
                transform: translate(0);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.context-table_title { //# content text table title
    margin-top: 30px;
    padding-left: 5px;
    border-bottom: 2px solid $c-secondary;
    @media #{$tablet-portrait} {
        margin-top: 45px;
        margin-bottom: 11px;
    }
    .title {
        padding-bottom: 3px;
        font-weight: 600;
    }
    &:first-child {
        margin-top: 0;
    }
}

// + back button
// -------
.context-btn_back {
    @extend .button;
    @extend .btn-primary;
}

// [Responsive]
// cite note for internals link
.mw-cite-backlink {
    display: inline-block;
}

// scroll back to top
$bottom-btn-scroll-back: 20px;
.btn-scroll-back {
    opacity: 0;
    width: 40px;
    height: 40px;
    background-color: $c-primary;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    @include font-size($f-size-md);
    position: fixed;
    bottom: $bottom-btn-scroll-back;
    right: 25px;
    outline: none;       
    box-shadow: 0px 2px 11px -1px rgba(0,0,0,.90);
    z-index: $dropdown-zindex;
    transition: all .25s ease-in-out;
    &.show {    
        opacity: 1;
    }
    &:hover {
        background-color: darken($c-primary, 7%);
        border-color: darken($c-primary, 9%);
    }
    @media #{$until-tablet-portrait} { //<=768px
        bottom: #{$main-header-fixed-height + $bottom-btn-scroll-back };
    }    
}