{#
    EXAMPLE
    {% include "partials/components/IBE/_common/_billing_data.njk" %}
#}

<div class="billing_data">
    <div class="container"> 
        {% include "partials/components/_shared/forms/_create_form.njk" %}
    </div>   
</div>