{#
    DOCUMENTATION
    {% set formElements = {  // form dinamico with all elements
        formGroups: [
            {                
                elements: [
                    {
                        elementsGroup: [
                            {
                                type: 'combinedForm',
                                hasPrefix: true,
                                items: [
                                    {
                                        type: 'selectForm',
                                        element: {
                                            label: 'Título*',
                                            id: 'titleSr1',
                                            options: [
                                                {
                                                    name: 'Sr.',
                                                    id: '',
                                                    hasValue: true
                                                }
                                            ]
                                        }
                                    },
                                    {
                                        type: 'inputForm',
                                        element: {
                                            label: 'Nombre*',
                                            id: '',
                                            value: "Jorge"
                                        }
                                    }
                                ]
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Apellidos*',
                                    value: 'García'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Teléfono particular*',
                                    id: 'drop-prefix-1',                                
                                    prefix: {
                                        label: 'Prefijo',
                                        id: 'drop-inner-prefix-1',
                                        isBindPrefix: true,
                                        options: [
                                            {
                                                name: 'Colombia(57)',
                                                id: 'select1'
                                            }
                                        ]
                                    }
                                }                               
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'E-mail*',
                                    type: 'email'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Confirmación E-mail*',
                                    type: 'email'
                                }
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Dirección*'
                                }
                            },                  
                            {
                                type: 'selectForm',
                                element: {
                                    label: 'Nacionalidad*',
                                    id: 'drop-1',
                                    options: [
                                        {
                                            name: 'Select a country',
                                            id: 'select1'
                                        }
                                    ]    
                                }                      
                            },
                            {
                                type: 'inputForm',
                                element: {
                                    label: 'Cedula Identidad/Pasaporte*',
                                    value: '46789876R'
                                }
                            }
                        ]
                    }                     
                ]
            }
        ]              
    } %}

    EXAMPLE
    {% include "partials/components/IBE/_common/_contact_data.njk" %}
#}

<div class="contact_data">    
    {# Copy data passanger CHECKBOX #}
    {% if contactData.copyPaxDataCheckbox | length %}
        {% set checkboxForm = contactData.copyPaxDataCheckbox %}
        {% include "partials/ui-elements/_checkbox.njk" %}
    {% endif %}

    <div class="container">        
        {% include "partials/components/_shared/forms/_create_form.njk" %}            
    </div>
</div>

