{#
    DOCUMENTATION:
    date: {
        VARIABLES:
        week?: string
        day?: number
        month?: string | number
        year?: number
    }

    EXAMPLE:
    {% set date = {
        week: 'Wednesday,',
        day: '12',
        month: 'feb',
        year: '2019'
    } %}
    {% include "partials/components/IBE/_common/_date.njk" %}
#}

<span class="date">
    {% if date.week %}
        <span class="date_week">{{ date.week }}</span>
    {% endif %}
    {% if date.day %}
        <span class="date_day">{{ date.day }}</span>
    {% endif %}
    {% if date.month %}
        <span class="date_month">{{ date.month }}</span>
    {% endif %}
    {% if date.year %}
        <span class="date_year">{{ date.year }}</span>
    {% endif %}
</span>
