{# 
  NOTE: this component has fares-compare_trigger like external component, use to handle main container
#}
<fares-compare>
    <div class="fares-compare">
        <div class="fares-compare_head">
            <h1>{{ faresCompare.head.text }}</h1>
            <button class="fares-compare_close-button" aria-label="{{SHARED.close}}"></button>
        </div>
        <div class="fares-compare_body">
            {% for fare in fares.items %}
                <div class="fares-compare_item fare{{ fare.pos}}">
                    <h2 class="fares-compare_fare-name">{{ fare.name }}</h2>
                    <ul class="fares-compare_description">
                        {% for item in fare.fareDescription %}
                            <li class="fares-compare_description-item">
                                {# is necesary add this breack line to add space between icon and text #}
                                {{ item.description }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</fares-compare>
