{#
    EXAMPLE:
    itinerary {
        MODIFIERS:
        hasFootnote:    true // if has a foot note
        hideActionLink: true // if do not have an action link (top right)

        VARIABLES:
        footnote:   'string' // foot note text
        actionText: 'string' // link text
        actionIcon: 'string' // link icon
    }
#}

<div class="itinerary">
    {% if not itinerary.hideActionLink %}
        <div class="itinerary_action">
            <a href="#" class="action-link" title="Click to print your itinerary">
                <span class="icon icon-{{ itinerary.actionIcon }}"></span>
                <span class="label">
                    {{ itinerary.actionText }}
                </span>
            </a>
        </div>
    {% endif %}

    {% set summary = {
        isEmptySummary: false
    } %}
    {% include "partials/components/IBE/summary/_booking_summary.njk" %}

    {% if itinerary.hasFootnote %}
        <div class="footnote">
            <p>{{itinerary.footnote}}</p>
        </div>
    {% endif %}
</div>
