<ul class="paxtype_group">
    <li class="paxtype">1 {{ searchFlight.typology.literals.adult | default('adult') }}</li>
    <li class="paxtype">2 {{ searchFlight.typology.literals.children | default('children') }}</li>
    <li class="paxtype">1 {{ searchFlight.typology.literals.infant | default('infant') }}</li>
</ul>
