{#
    DOCUMENTATION:
    price: {
        VARIABLES:
        value: string | number // price external data
        decimals?: string | number // price decimals

        MODIFIERS:
        hasFrom: boolean // has from label default caption
        currencyPosition: 'left' | 'right' // change currency and price HTML order 
    }

    EXAMPLE:
    {% set price = {
        value: '5',
        decimals: '69'
    } %}
    {% include "partials/components/IBE/_common/_price.njk" %}
#}

<span class="price_currency">
    {% if price.hasFrom %}
        <span class="from">{{ SHARED.from }}</span>
    {% endif %}
    {# currency at left side #}
    {% if currencyPosition == 'left' %}<span class="currency">{{ SHARED.currency }}</span>{% endif %}<span class="price">{{ price.value }}{% if price.decimals %}<span class="decimals">{{ price.decimals }}</span>{% endif %}</span>{% if currencyPosition == 'right' %}<span class="currency">{{ SHARED.currency }}</span>{% endif %}
</span>
