{% if segmentSelectorIsTabs %}
    <div class="segment-selector_list" role="tablist">
        {% for flight in segmentSelector.flights %}
        <button class="segment-selector_tab"
            role="tab"
            {% if flight.disabled %} disabled="disabled" {% endif %}
            aria-selected="{{ flight.active }}"
            aria-expanded="{{ flight.active }}"
            aria-controls="segment{{ loop.index }}-route segment{{ loop.index }}-content"
            id="segment1">
            {{ flight.from }}
            <span class="icon"><span class="hide-visually">to</span></span>
            {{ flight.to }}
        </button>
        {% endfor %}
    </div>
{% endif %}