{% if segmentSelectorShowsDetailInfo  %}
<div class="segment-selector_flight">
    <ul>
        <li class="route">
            {{ segmentSelector.flights[0].fromCity }}
            <span class="icon" aria-hidden="true">
                <span class="hide-visually">to</span>
            </span>
            {{segmentSelector.flights[0].toCity }}
        </li>
        <li class="flightnumber">
            {% if segmentSelector.flightLabel | length %}
            {{ segmentSelector.flightLabel }}
            {% endif %}
            {{ segmentSelector.flights[0].flightNumber }}
        </li>
        <li class="flightdate">
            {{ segmentSelector.flights[0].date }}
        </li>
    </ul>
    {% if segmentSelector.hasButton == true %}
    <button class="segment-selector_flight_button button flightbutton">
        {{SHARED.nextFlight}}
    </button>
    {% endif %}
</div>
{% endif %}