{#
    DOCUMENTATION:
    link: {
        VARIABLES:
        "icon": 'string' // icon link
        "caption": {  'json'
        "title": 'string' // accept html
        "subtitle": 'string'
        "text": 'string'
    }

    EXAMPLE:
    {% set "destinationOffers" = {
        "links": {
            "items": [
                {
                "icon": "airplane-right",
                "caption": {
                    "title": "Buscador de tarifas",
                    "subtitle": "Encuentra la tarifa",
                    "text": "mas economica del mes"
                }
                },
                {
                "icon": "airplane-right",
                "caption": {
                    "title": "¿Tarifa <strong>Light</strong> o <strong>Plus</strong>?",
                    "subtitle": "Ver los videos y conocelas"
                }
                },
                {
                "icon": "airplane-right",
                "caption": {
                    "title": "Centro de ayuda",
                    "subtitle": "Resuelve tu dudas o consultas"
                }
                }
            ] 
        } 
    } %}

    {% include "partials/components/_shared/cards/_box-cards.njk" %}
#}
<div class="box-cards">
    {% for link in links  %}
    <div class="box-cards_item">
        <a href="#" class="box-cards_item_link">
            <div class="box-cards_item_icon">
                <span class="icon icon-{{ link.icon }}"></span>
            </div>
            <div class="box-cards_item_caption">
                {% if link.caption.title | length %}
                    <p class="title">{{ link.caption.title | safe }}</p>
                {% endif %}
                {% if link.caption.text | length %}
                    <p class="text">{{ link.caption.text | safe }}</p>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>