{#
    DOCUMENTATION:
    servicecard {
        VARIABLES:
        url : 'string',
        icon : 'string',
        legend : 'string'
        MODIFIERS
        isDisabled: // add is-disabled helper class to opalize and remove pointer-events
    }

    EXAMPLE
    {% set servicecard = {
        url: card.url,
        icon: card.icon,
        legend: card.legend,
        isDisabled: card.isDisabled
    } %}
    {% include "partials/components/_shared/cards/_service-card__DEPRECATED.njk" %}
#}
<li class="service-card_item">
    <a class="service-card{% if servicecard.isDisabled %} is-disabled{% endif %}"
        tabindex="0"
        href="{{servicecard.url}}">
        <span class="icon icon-{{servicecard.icon}}"></span>
        <span class="label">
            {{servicecard.legend}}
        </span>
    </a>
</li>
