{#
    DOCUMENTATION:
    servicecards {
        VARIABLES:
        title: 'string' // colum title
        titleType: 'string' // header tag ex h1, h2 ...
        cards: [servicecard] // array of servicecard component
    }

    -------

    EXAMPLE:
    servicecards {
        VARIABLES:
        title: 'string',
        cards: [
            { icon: 'baggage-h', legend: 'Baggage' },
            { icon: 'meal', legend: 'Meals' },
            { icon: 'insurance-plane', legend: 'Insurance' },
            { icon: 'seat-airplane', legend: 'Seat Selection' }
        ]
    },
    {
        title: 'Changes and cancellations',
        cards: [
            { icon: 'change-airplane', legend: 'Change Flight' },
            { icon: 'airplane-cancel', legend: 'Cancel Flight' },
            { icon: 'passenger', legend: 'Guest details' }
        ]
    }
#}

<div class="service-cards">
    {% for servicecards_column in servicecards %}
        <div class="service-cards_column">
            <{{ servicecards_column.titleType | default('h2') }} class="service-cards_title">{{servicecards_column.title}}</{{ titleType | default('h2') }}>
            <ul class="service-cards_container">
                {% for card in servicecards_column.cards %}
                    {% set servicecard = {
                        url: card.url,
                        icon: card.icon,
                        legend: card.legend,
                        isDisabled: card.isDisabled
                    } %}
                    {% include "partials/components/_shared/cards/_service-card__DEPRECATED.njk" %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
