// ****************************************
//  UI ELEMENTS

// ****************************************
//  FORM ELEMENTS
// ****************************************
//
//    + Variables
//    + Containers
//        ++ States
//        ++ Form groups
//        ++ Input wrap
//    + Labels
//    + Fields types
//        ++ Input single and textarea
//        ++ Input multiple
//        ++ Input multiline
//    + Input messages
//    + Input with side button
//    + Select (dropdown)
//        ++ Custom selects
//            +++ Birth date selects
//    + Field with icon
//
//    + Checkbox and radio buttons
//    + Numeric up and down
//    + Validations and input states
//        ++ Input messages
//    + Required text
//    + Drop down list popover
//
//    + Buttons
//
//    + Forms containers
//
// ****************************************

// Mixins
%dropdown-style1 {
	.ui-select-container {
		height: calculateRem(30px);
	}
}
@include formcontrol-label-moveup;

// + Labels
// -------
.ui-label {
	@include font-size($label-fontsize);
	@include ellipsis;
	display: block;
	max-width: calc(100% - #{$input-lr-pad});
	text-align: left;
	font-family: $label-family;
	color: $label-color;
	font-weight: 400;
	cursor: text;
	pointer-events: none; // ELIMINATE THIS ALL INPUT MUST HAVE AN ID AND ALL LABEL MUST HAVE A FOR ATTR
}
.ui-label_i {
	@include iconfont($icon-info-circle, before);
	color: $c-primary;
}

// + Form control
// -------
.ui-input,
.ui-textarea {
	padding-top: 23px;
}
%input-reset-padding {
	padding-top: 0;
	padding-bottom: 0;
}
%label-reset-padding {
	top: 0;
	left: 0;
}

// .ui-input-container,
// .ui-dropdown {
// }

// + Form controls states
// -------
//## form elements variables at ui-elements/forms/_form-elements-vars.scss

// + Checkbox and radio buttons
// -------
//## checkbox variables at ui-elements/forms/_form-elements-vars.scss

// + Required text
// -------
.required-text {
	@include font-size($f-size-sm);
	display: inline-block;
	float: right;
	color: $c-text;
}


// + Drop down list popover
// -------
$ui-dropdown-popover_shadow: 0 0 4px 0 rgba(0,0,0,0.3);
$ui-dropdown_list-triangle-size: 12px;
.ui-dropdown-popover {
	z-index: 10000;
	position: absolute;
	right: 0;
	top: 212%;
	min-width: 320px;
	&[aria-hidden='true'] {
		display: none;
	}
	.iconlink-close { //## close button dropdown-popover when responsive
		display: none;
	}
}

// .md-form-inverse {
//     background: $c-primary;
//     @include formcontrol-inverse-style;
// }