// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  DATA INFO
// ********************
//
// ********************


// + data-info
// -------
.data-info {
   font-family: $font-name;
   font-weight: 600;
   .value {
       color: $c-secondary;
   }
}
