// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  FEATURED LINKS
// ********************
//
//  + featured-links
//
// ********************

// + featured-links
// -------
.featured-links {
    text-align: center;
    .item {
        display: inline-block;
        font-family: $font-name;
        color: $c-primary;
        a {
            font-weight: 600;
            color: $c-primary;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &::after { //## separator
            content: '';
            position: relative;
            top: 4px;
            display: inline-block;
            width: 1px;
            height: 18px;
            margin: 0 20px;
            background-color: $gray-3;
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
    }
}
