// ****************************************
//  COMPONENTS
//
// ****************************************
//  MULTIPLE SEARCH
// ****************************************
//
//    + multiple search
//       + Multiple search nav tabs
//       + Multiple search tab content
//
// ****************************************

.multiple-search_nav {
    @include clearfix;
    padding-bottom: 14px;
}
$ms-nav-size: 40px;
.multiple-search_nav_item {
    position: relative;
    display: inline-block;
    width: $ms-nav-size;
    height: $ms-nav-size;
    text-align: center;
    color: $c-primary;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid $c-primary;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &:hover,
    &[aria-selected='true'] {
        color: #fff;
        border-color: $c-secondary;
        background-color: $c-secondary;
    }
}
.multiple-search_nav_label {
    @include hide-visually;
}
[class^="multiple-search_nav_icon"] {
    @include font-size($f-size-md);
    display: block;
    line-height: ($ms-nav-size - 1);
}
.multiple-search_nav_icon {
    &--flights {
        @include iconfont($icon-airplane-right, before);
    }
    &--hotels {
        @include iconfont($icon-bed-single, before);
    }
    &--flightshotels {
        @include iconfont($icon-airplane-bed, before);
    }
}

.multiple-search_item {
    display: none;
    &.show {
        display: block;
    }
}


// [Responsive]
@media #{$until-tablet-portrait} { // <= 768px
    .top-inline-carrosel {
        .multiple-search {
            padding: 18px 32px;
        }
    }
    .multiple-search {
        padding: 10px 0 0;
    }
    .multiple-search_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 14px;
    }
}
