// ********************
//  COMPONENTS
//
// ********************
//  MULTIPLE PANEL
// ********************
//
//    + multiple panel
//    + multiple panel nav tabs
//    + multiple panel tab content
//
// ********************

.multiple-panel {
    z-index: 2;
    position: relative;
    margin-bottom: 0;
    margin-top: -5em;
    &.top-inline {
        margin-top: 0;
    }
}
$multipanel-margin-top: -3em;
.home-page {
    .multiple-panel {
        margin-bottom: 40px;
        margin-top: -10em;
        @media #{$until-tablet-portrait} { // <= 768px
            margin-top: $multipanel-margin-top;
        }
    }
}

// +  Multiple panel nav tabs
// -------
.multiple-panel_nav {
    text-align: center;
    margin-bottom: 20px;
}
a.multiple-panel_nav_item:focus {
    color: #fff;
    background: rgba($c-color2, 1);
}
.multiple-panel_nav_item {    
    position: relative;
    display: inline-block;
    min-width: 190px;
    max-width: 210px;
    height: 54px;
    padding: 0 10px;
    margin: 10px 14px 0 14px;    
    font-family: $f-title;
    @include font-size($f-size);
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    border-radius: $border-radius;
    background: rgba($c-color2, 0.85);
    cursor: pointer;
    &:hover {
        color: #fff;
        background: rgba($c-color2, 1);
    }
    &[aria-selected='true'] {
        background: $c-secondary;
        border-color: $c-secondary;
        &:before { //## triangle
            $size: 10px;
            content: '';
            position: absolute;
            bottom: -7px;
            left: 30px;
            width: $size;
            height: $size;
            transform: rotate(45deg);
            background-color: $c-secondary;
        }
    }
    .vcenter-text {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        vertical-align: middle;  
    }
}

// +  multiple panel tab content
// -------
.multiple-panel_content {
    padding: 24px;
    background-color: #fff;
    box-shadow: 1px 1px 12px 0px rgba(#000,.75);
    box-sizing: border-box;
    border-top-left-radius: $border-radius-large;
}
.multiple-panel_item {
    display: none;
    &.show {
        display: block;
        .multiple-panel_item_content {
            max-height: none;
            opacity: initial;
        }
    }
}
a.multiple-panel_collapse_trigger {    
    &:hover {
        color: #fff;
    }
}
.multiple-panel_collapse_trigger {
    @include collapse-trigger(20px,#fff,right);
    display: none;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    @include font-size($f-size);
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    padding: 12px 20px;
    background: $c-color2;
    border-radius: $border-radius-large 0 0;
    box-sizing: border-box;
    cursor: pointer;
    &:after {
        right: 14px;
        top: 18px;
    }
    &[aria-expanded=true] {
        background-color: $c-secondary;
    }
    &.collapse:after {
        color: #fff;
    }
    .icon {
        margin-right: 14px;
        vertical-align: middle;
        color: #fff;
        @include font-size($f-size-xxlg);
    }
}

.tab-pane-main {
    min-height: 155px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    &.active {
        display: block;
    }
    &.big_border {
        border-radius: $border-radius-large 0 0;
    }
}

// [Responsive]
//## nav pills convert to collapse nav
@media #{$until-tablet-portrait} { // <= 768px
    .multiple-panel {
        margin-bottom: 0;
        margin-top: $multipanel-margin-top;
    }
    .multiple-panel_nav {
        display: none;
    }
    .multiple-panel_content {
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
    }
    .multiple-panel_item {
        display: block;
        min-height: auto;
        box-shadow: none;
        .nav_buttons {
            padding-top: 6px;
            padding-bottom: 16px;
        }
    }
    a.multiple-panel_collapse_trigger {
        &:after {
            display: none;
        }
    }
    .multiple-panel_collapse_trigger {
        display: flex;
        align-items: center;
        min-height: 56px;
        .icon {
            line-height: 0; // iOS 10.3 support
        }
    }
    .multiple-panel_item_content {
        @include custom-scroll;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: .25s linear; 
        &.active {
            max-height: none;
            opacity: 1;
            padding-bottom: 24px;    
        }   
    }
}
