// main: ../styles.scss

// ********************
//  IBE COMPONENT
//
// ********************
//  PROFILE UPDATE FORM
// ********************
//
//
// ********************

.profile-update_form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 34px;

    .ui-form_group {
        flex-basis: calc(100% / 2 - 30px);
        flex-grow: 1;
        padding: 0 15px;
        box-sizing: border-box;
        // modifiers
        &.full {
            flex-basis: 100%; // IE10 support
        }
    }

    .ui-form_buttons {
        margin: 0 15px;
    }

    // [Responsive]
    @media #{$until-mobile} { // <=640px
        .ui-form_group {
            flex: 1 1 100%;
        }
    }
}
