// main: ../styles.scss

// ********************
//  COMPONENTS
//
// ********************
//  SEPARATOR
// ********************
//
// ********************

.separator-section {
    position: relative;
    margin: 10px 0 50px;
    border: none;
    border-top: 2px solid $c-primary;
    overflow: visible;
    &::after { // ## arrow down
        @include triangle('down', 24px, 8px, $c-primary);
        content: '';
        position: absolute;
        bottom: -8px;
        right: 10%;
        @media #{$until-mobile} {
            right: auto;
            left: 10%;
        }
    }
}
