{% include "partials/components/IBE/_common/_segment_selector.njk" %}
<div aria-hidden="false"
    id="segment1-tab"
    aria-labelledby="segment1">

    {% set segmentSelectorShowsDetailInfo = true %}
    {% include "partials/components/IBE/_common/_segment_selector_flight_detail.njk" %}

    {% set tabs_underline_items = [
        { text: 'Jane Doe', active: true },
        { text: 'John Smith Danes Wilson' },
        { text: 'Richard Doe '}
    ] %}
    {% include "partials/ui-elements/_tabs-underline.njk" %}

    <div class="carousel_wrap">
        <button class="carousel_control_btn prev">
            <span class="hide-visually">prev</span>
        </button>
        <div class="carousel">
            {% for product in meals %}
                {% include "partials/components/_product-card.njk" %}
            {% endfor %}
        </div>
        <button class="carousel_control_btn next">
            <span class="hide-visually">next</span>
        </button>
        <div class="carousel_control">
            
            
        </div>
    </div>

    <div class="meals-terms_moreinfo">
        <a class="collapse-trigger"
            role="button"
            data-toggle="collapse"
            href="#mealsTermsMoreInfoCollapse"
            aria-expanded="false"
            aria-controls="mealsTermsMoreInfoCollapse">
            + More information
        </a>
        <div class="moreinfo collapse" id="mealsTermsMoreInfoCollapse">
            <ul class="list-bullet">
                <li>No outside food and beverage is allowed to be consumed on-board the aircraft. Our ground staff may stop you from bringing such items onboard.</li>
                <li>All menu items are subject to availability and may change without prior notice. In the case that your meal is unavailable due to operational or unforeseen circumstances, available items of the same value will be offered.</li>
                <li>Food may contain traces of nuts, gluten, seafood, eggs and/or dairy products.</li>
            </ul>
        </div>
    </div>
</div>
