// main: ../../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  SERVICE SPORT EQUIPMENT
// ****************************************
//
// ****************************************

.service_sportequipment {
  margin: 0 0 60px;
  padding-top: 6px;
  &.oneway {
      @media (min-width: 770px) { // >=770px
          float: right;
          width: calc(50% - 1px);
          .sportequipment_description {
              flex-basis: 76%;
              margin-left: 4%;
          }
      }
  }

  .icon-sportequipment {
      display: flex; //## prevents icons from jumping line in IE support
      justify-content: center;
      &::before,
      &::after { //## sports equipment icon
        @include font-size(80px);
        line-height: 1;
        margin: 0 -10px;
        color: $c-primary;
      }
  }
}
.sportequipment_title {
    margin: 0 0 20px;
}
.sportequipment_body {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    .button {
        min-width: 212px;
        margin-top: 14px;
    }
}
.sportequipment_price {
    flex-basis: 20%;
    text-align: center;
    min-width: 120px;
    .price, .label {
        display: block;
    }
    .price {
        display: block;
        color: $c-secondary;
        margin: 12px 0 3px;
    }
    .promo-label {
        @include font-size($f-size-sm);
        padding-bottom: 3px;
    }
    .button {
        display: none;
    }
}
.icon-sportequipment {
    @include iconfont($icon-golf,before);
    @include iconfont($icon-skis,after);
}
.sportequipment_description {
    flex-basis: 80%;
    .moreinfo,
    .moreinfo.open {
        display: inline;
    }
}
@media #{$until-mobile} { // <=640px
    .sportequipment_body {
        flex-direction: column;
    }
    .sportequipment_price,
    .sportequipment_description {
        flex: 1 0 auto; // IE Support flex-direction: column;
    }
    .sportequipment_price {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 26px;
        .button {
            display: block;
        }
    }
    .sportequipment_description {
        order: 0;
        .moreinfo,
        .button {
            display: none;
        }
        .moreinfo.open {
            display: inline;
        }
    }
}
