@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9jiire');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9jiire#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9jiire') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9jiire') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9jiire##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-triangle-left {
  &:before {
    content: $icon-arrow-triangle-left; 
  }
}
.icon-arrow-triangle-right {
  &:before {
    content: $icon-arrow-triangle-right; 
  }
}
.icon-arrow-triangle-down {
  &:before {
    content: $icon-arrow-triangle-down; 
  }
}
.icon-arrow-triangle-up {
  &:before {
    content: $icon-arrow-triangle-up; 
  }
}
.icon-circle-minus-empty {
  &:before {
    content: $icon-circle-minus-empty; 
  }
}
.icon-circle-plus-empty {
  &:before {
    content: $icon-circle-plus-empty; 
  }
}
.icon-circle-minus {
  &:before {
    content: $icon-circle-minus; 
  }
}
.icon-circle-plus {
  &:before {
    content: $icon-circle-plus; 
  }
}
.icon-circle-check {
  &:before {
    content: $icon-circle-check; 
  }
}
.icon-circle-remove {
  &:before {
    content: $icon-circle-remove; 
  }
}
.icon-circle-clock {
  &:before {
    content: $icon-circle-clock; 
  }
}
.icon-circle-info {
  &:before {
    content: $icon-circle-info; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-calendar-month {
  &:before {
    content: $icon-calendar-month; 
  }
}
.icon-calendar-week {
  &:before {
    content: $icon-calendar-week; 
  }
}
.icon-seat-border {
  &:before {
    content: $icon-seat-border; 
  }
}
.icon-seat-cross {
  &:before {
    content: $icon-seat-cross; 
  }
}
.icon-seat-filled {
  &:before {
    content: $icon-seat-filled; 
  }
}
.icon-seat-xl {
  &:before {
    content: $icon-seat-xl; 
  }
}
.icon-seat-xl-cross {
  &:before {
    content: $icon-seat-xl-cross; 
  }
}
.icon-seat-airplane {
  &:before {
    content: $icon-seat-airplane; 
  }
}
.icon-baggage-conveyor {
  &:before {
    content: $icon-baggage-conveyor; 
  }
}
.icon-baggage-h {
  &:before {
    content: $icon-baggage-h; 
  }
}
.icon-baggage-v {
  &:before {
    content: $icon-baggage-v; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-users_three {
  &:before {
    content: $icon-users_three; 
  }
}
.icon-passenger {
  &:before {
    content: $icon-passenger; 
  }
}
.icon-airplane-right {
  &:before {
    content: $icon-airplane-right; 
  }
}
.icon-airplane_up {
  &:before {
    content: $icon-airplane_up; 
  }
}
.icon-airplane-flight {
  &:before {
    content: $icon-airplane-flight; 
  }
}
.icon-airplane-cancel {
  &:before {
    content: $icon-airplane-cancel; 
  }
}
.icon-language {
  &:before {
    content: $icon-language; 
  }
}
.icon-currency {
  &:before {
    content: $icon-currency; 
  }
}
.icon-boarding-pass {
  &:before {
    content: $icon-boarding-pass; 
  }
}
.icon-refunds {
  &:before {
    content: $icon-refunds; 
  }
}
.icon-change-airplane {
  &:before {
    content: $icon-change-airplane; 
  }
}
.icon-insurance-plane {
  &:before {
    content: $icon-insurance-plane; 
  }
}
.icon-insurance-baggage {
  &:before {
    content: $icon-insurance-baggage; 
  }
}
.icon-computer-plane {
  &:before {
    content: $icon-computer-plane; 
  }
}
.icon-computer-booking {
  &:before {
    content: $icon-computer-booking; 
  }
}
.icon-computer-check {
  &:before {
    content: $icon-computer-check; 
  }
}
.icon-meal {
  &:before {
    content: $icon-meal; 
  }
}
.icon-couch {
  &:before {
    content: $icon-couch; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-golf {
  &:before {
    content: $icon-golf; 
  }
}
.icon-skis {
  &:before {
    content: $icon-skis; 
  }
}
.icon-passenger-first {
  &:before {
    content: $icon-passenger-first; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-reward-u {
  &:before {
    content: $icon-reward-u; 
  }
}
.icon-voucher {
  &:before {
    content: $icon-voucher; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-settings-single {
  &:before {
    content: $icon-settings-single; 
  }
}
.icon-mobile-alert {
  &:before {
    content: $icon-mobile-alert; 
  }
}
.icon-medicine-suitcase {
  &:before {
    content: $icon-medicine-suitcase; 
  }
}
.icon-document-plane {
  &:before {
    content: $icon-document-plane; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-plus-comment {
  &:before {
    content: $icon-plus-comment; 
  }
}
.icon-lock-change {
  &:before {
    content: $icon-lock-change; 
  }
}
.icon-promotion-users {
  &:before {
    content: $icon-promotion-users; 
  }
}
.icon-promotion_airplane {
  &:before {
    content: $icon-promotion_airplane; 
  }
}
.icon-pay {
  &:before {
    content: $icon-pay; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-document-airplane {
  &:before {
    content: $icon-document-airplane; 
  }
}
.icon-user_infant {
  &:before {
    content: $icon-user_infant; 
  }
}
.icon-social_instagram {
  &:before {
    content: $icon-social_instagram; 
  }
}
.icon-social_wechat {
  &:before {
    content: $icon-social_wechat; 
  }
}
.icon-social_weibo {
  &:before {
    content: $icon-social_weibo; 
  }
}
.icon-social_facebook {
  &:before {
    content: $icon-social_facebook; 
  }
}
.icon-social_line {
  &:before {
    content: $icon-social_line; 
  }
}
.icon-social_twitter {
  &:before {
    content: $icon-social_twitter; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-car {
  &:before {
    content: $icon-car; 
  }
}
.icon-bed {
  &:before {
    content: $icon-bed; 
  }
}
.icon-bed-single {
  &:before {
    content: $icon-bed-single; 
  }
}
.icon-airplane-bed {
  &:before {
    content: $icon-airplane-bed; 
  }
}
.icon-hkexpress {
  &:before {
    content: $icon-hkexpress; 
  }
}
.icon-star_u {
  &:before {
    content: $icon-star_u; 
  }
}
.icon-pin-airplane {
  &:before {
    content: $icon-pin-airplane; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.icon-speachbubble {
  &:before {
    content: $icon-speachbubble; 
  }
}
.icon-external {
  &:before {
    content: $icon-external; 
  }
}
.icon-rss {
  &:before {
    content: $icon-rss; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-exit {
  &:before {
    content: $icon-exit; 
  }
}

