$icomoon-font-family: "hkexpress-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-right: "\e904";
$icon-arrow-triangle-left: "\e905";
$icon-arrow-triangle-right: "\e906";
$icon-arrow-triangle-down: "\e907";
$icon-arrow-triangle-up: "\e908";
$icon-circle-minus-empty: "\e909";
$icon-circle-plus-empty: "\e90a";
$icon-circle-minus: "\e90b";
$icon-circle-plus: "\e90c";
$icon-circle-check: "\e90d";
$icon-circle-remove: "\e90e";
$icon-circle-clock: "\e90f";
$icon-circle-info: "\e910";
$icon-alert: "\e911";
$icon-cross: "\e912";
$icon-calendar-month: "\e913";
$icon-calendar-week: "\e914";
$icon-seat-border: "\e900";
$icon-seat-cross: "\e901";
$icon-seat-filled: "\e902";
$icon-seat-xl: "\e903";
$icon-seat-xl-cross: "\e933";
$icon-seat-airplane: "\e915";
$icon-baggage-conveyor: "\e916";
$icon-baggage-h: "\e917";
$icon-baggage-v: "\e918";
$icon-user: "\e919";
$icon-users: "\e934";
$icon-users_three: "\e94c";
$icon-passenger: "\e91a";
$icon-airplane-right: "\e91b";
$icon-airplane_up: "\e94d";
$icon-airplane-flight: "\e94a";
$icon-airplane-cancel: "\e91c";
$icon-language: "\e91d";
$icon-currency: "\e91e";
$icon-boarding-pass: "\e91f";
$icon-refunds: "\e920";
$icon-change-airplane: "\e921";
$icon-insurance-plane: "\e922";
$icon-insurance-baggage: "\e923";
$icon-computer-plane: "\e924";
$icon-computer-booking: "\e935";
$icon-computer-check: "\e94b";
$icon-meal: "\e925";
$icon-couch: "\e926";
$icon-email: "\e927";
$icon-golf: "\e928";
$icon-skis: "\e929";
$icon-passenger-first: "\e92a";
$icon-printer: "\e92b";
$icon-reward-u: "\e92c";
$icon-voucher: "\e92d";
$icon-settings: "\e92e";
$icon-settings-single: "\e936";
$icon-mobile-alert: "\e92f";
$icon-medicine-suitcase: "\e930";
$icon-document-plane: "\e931";
$icon-check: "\e932";
$icon-home: "\e937";
$icon-logout: "\e938";
$icon-search: "\e939";
$icon-plus-comment: "\e93a";
$icon-lock-change: "\e93b";
$icon-promotion-users: "\e93c";
$icon-promotion_airplane: "\e94e";
$icon-pay: "\e93d";
$icon-document: "\e93e";
$icon-document-airplane: "\e94f";
$icon-user_infant: "\e93f";
$icon-social_instagram: "\e940";
$icon-social_wechat: "\e941";
$icon-social_weibo: "\e942";
$icon-social_facebook: "\e943";
$icon-social_line: "\e955";
$icon-social_twitter: "\e95a";
$icon-edit: "\e944";
$icon-clock: "\e945";
$icon-car: "\e946";
$icon-bed: "\e947";
$icon-bed-single: "\e948";
$icon-airplane-bed: "\e949";
$icon-hkexpress: "\e950";
$icon-star_u: "\e951";
$icon-pin-airplane: "\e952";
$icon-tag: "\e953";
$icon-speachbubble: "\e954";
$icon-external: "\e956";
$icon-rss: "\e957";
$icon-eye: "\e958";
$icon-exit: "\e959";

