// ********************
//  COMPONENTS
//
// ********************
//  OFFER
// ********************
//
//    + Destinations offers
//    + Aside
//    + Main
//    + Promo
//    + Destination offer
//    + Destinations offers price list
//    + Destinations guide
//    [Responsive]
//
// **********************

// + Variables
// -------
$image-scale-hover: 1.04;
$image-scale-hover-time: .06s;
$destinaton-offer-image-height-desktop: calculateRem(264px);


// + Mixins

@mixin destinations-guide-offer {
	ibe-destination-offer {
		flex-basis: 100%;
	}
	.destination-offer_body {
		position: relative;
		height: calculateRem(200px);
	}
	.destination-offer_caption {
		position: absolute;
		left: 0;
		bottom: 0;
		box-sizing: border-box;
		width: 100%;
		min-height: calculateRem(65px);
		padding: calculateRem(16px);
		overflow: hidden;
		a {
			padding: 0;
			&::after {
				background-color: rgba(#000, .5);
				left: 0;
				transform: skew(0, 4deg);
			}
			&:hover {
				.city {
					transform: none;
				}
			}
		}
		.city {
			@include font-size($f-size-md);
			min-height: auto;
			color: $c-secondary;
		}
	}
	@media #{$tablet-portrait} {
		.destination-offer_caption {
			min-height: calculateRem(90px);
			a {
				&::after {
					transform: skew(0, 9deg);
				}
			}
		}
	}
}

//## component custom breakpoint
$destination-offers-breakpoint: $tablet-portrait;

//## fontsize of offers title+price
$destination-offers-prices-base-fontsize: 16px;
$destination-offers-prices-base-fontsize-md: 18px;
$destination-offers-prices-base-fontsize-lg: 27.5px;

%destination-offers-prices-container {
	$destination-offers-prices-base-fontsize: $destination-offers-prices-base-fontsize;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	font-size: calculateEm($destination-offers-prices-base-fontsize, $f-size);
	text-decoration: none;
	padding: calculateRem(14px);
	transition: $card-transition;
	box-sizing: border-box;
	.price_currency {
		font-size: calculateEm(26px, $destination-offers-prices-base-fontsize);
		color: $c-text;
		line-height: 1;
		margin-top: calculateRem(8px);
		.from {
			display: block;
		}
	}
	// responsive
	@media #{$tablet-portrait} { // >=768px;
		$destination-offers-prices-base-fontsize: $destination-offers-prices-base-fontsize-md;
		font-size: calculateEm($destination-offers-prices-base-fontsize, $f-size);
	}
	@media #{$desktop} { // >=1200px;
		$destination-offers-prices-base-fontsize: $destination-offers-prices-base-fontsize-lg;
		font-size: calculateEm($destination-offers-prices-base-fontsize, $f-size);
		.price_currency {
			font-size: calculateEm(34px, $destination-offers-prices-base-fontsize);
		}
	}
}
%destination-offers-prices-title {
	font-size: calculateEm(20px, $destination-offers-prices-base-fontsize);
	min-height: 2.2em;
	margin-bottom: 0;
	color: $c-primary;
	font-weight: 600;
	line-height: 1.1;
}

//## COMPONENTS OFFERS PRICES
@import '_destinations-offers-prices';
// @import 'destinations-offers-pricelist';

// + Destinations offers
// -------

// + Aside
// -------
.destination-offer_aside {
	display: flex;
	flex-direction: column-reverse;
	padding: 0;
	.destination-offer_body {
		position: relative;
		display: flex;
		height: 100%;
		width: 100%;
		min-height: calculateRem(210px);
		overflow: hidden;
	}
	.destination-offer_link {
		a {
			color: inherit;
			&:hover {
				color: $c-link-hover;
			}
		}
	}
	.destination-offer {
		margin: 0 (-$gutter-sides);
	}
}

// + Main
// -------


//## select filter
.destinations-offers_select_header {
	display: block;
	text-align: center;
	.ui-dropdown {
		display: inline-block;
		& > button {
			display: inline-flex;
			margin-left: calculateRem(8px);
		}
	}
	.ui-dropdown_list {
		width: auto;
		left: auto;
		right: 0;
	}
	.title_trigger,
	.title {
		@include font-size($f-size-md-lg);
	}
	.title_trigger {
		color: $c-primary;
		margin: calculateRem(24px) 0;
		// modifiers
		&.hide-caret {
			padding-right: 0;
			cursor: auto;
			pointer-events: none;
			&::after {
				content: none;
			}
		}
	}

	@media #{$tablet-landscape} { // >= 992px
		.title_trigger,
		.title {
			@include font-size($f-size-lg);
		}
	}
}

.destinations-offers {
	margin-top: calculateRem(28px);
}

// + Destination offer (individual component)
// -------
.destination-offer {
	// modifiers
	&.destinations-guide_offer {
		@include destinations-guide-offer;
	}
}
.destination-offer_caption {
	position: relative;
	display: flex;
	align-items: flex-end;
	padding: 0 12px 0 20px;
	a {
		@extend %destination-offers-prices-container;
		z-index: 2;
		min-width: calculateRem(160px);
		.city,
		.price_wrap { 
			transform: scale(1);
			transition: all .1s ease-in-out;
		}
		&::after { //## diagonal background bar
			z-index: -1;
			content: '';
			position: absolute;
			left: calculateRem(-40px);
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#fff,.7);
			transform-origin: 0 100%;
			transform: skew(-25deg) translate(0, 0);
			transition: all .06s ease;
		}
		&:hover {
			.city,
			.price_wrap { 
				transform: scale(1.06);
			}
		}
	}
	.city {
		@extend %destination-offers-prices-title;
	}
	.price_wrap {
		line-height: 1;
	}
}
.destination-offer_image {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	img {
		position: relative;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.destinations-offer_title,
.destinations-offer_subtitle {
	@include font-size($f-size-md);
}
.destinations-offer_title {
	margin-bottom: .25em;
	font-weight: 600;
}
.destinations-offer_subtitle {
	color: $c-secondary;
	margin-bottom: calculateEm(14px);
}
.destinations-offer_text {
	margin: 0;
}
.destination-offer_link {
	position: absolute;
	right: 5%;
	bottom: 8%;
	font-size: calculateEm($f-size);
	a {
		@include arrow-sufix;
		text-decoration: none;
		cursor: pointer;
	}
}


// [Responsive]
@media #{$tablet-portrait} { // >= 768px
	.destinations-offer_title,
	.destinations-offer_subtitle {
		@include font-size($f-size-lg);
	}
	.destination-offer_link {
		bottom: 7.5%;
	}
}
@media #{$tablet-landscape} { // >= 992px
	.destinations-offers {
		margin: 0;
	}
	.search-fixed {
		.destinations-offers {
			margin-top: 0;
		}
	}
}
@media #{$desktop} { // >= 1200px
	.destination-offer_caption {
		padding-right: calculateRem(32px);
		padding-left: calculateRem(38px);
	}
}

@media #{$destination-offers-breakpoint} {
	.destination-offer_aside {
		flex-direction: row-reverse;
		justify-content: center;
		width: auto;
		.destination-offer {
			height: 100%;
			margin: 0;
		}
		.column {
			flex-basis: calc(50% - #{$gl-gutter});
			flex-shrink: 0;
			flex-grow: 1;
			&:first-child {
				margin-left: $gl-gutter;
			}
			&:last-child {
				margin-right: $gl-gutter;
			}
		}
	}
}