// ********************
//  COMPONENTS
//
// ********************
//  DESTINATION OFFERS PRICES
//  TEMPLATE: PRICES ITEMS
//
// **********************

.destination-offers_prices_list {
	@include custom-scroll(lighten);
	display: flex;
	margin: calculateRem($gutter) calculateRem(($gutter / -2)) 0;
	overflow-x: auto;
	overflow-y: hidden;
}
.destination-offers_prices_item {
	position: relative;
	display: flex;
	flex: (100% / 4);
	flex-shrink: 0;
	flex-grow: 1;
	min-width: calculateRem(160px);
	box-sizing: border-box;
	margin: 0 calculateRem(($gutter / 2));
	cursor: pointer;
}
.destination-offers_prices_wrap {
	@extend %destination-offers-prices-container;
	@include iconfont($icon-arrow-single-right,after);
	background-color: #fff;
	&::after { //## right arrow
		@include font-size(16px);
		position: absolute;
		right: calculateRem(4px);
		top: 50%;
		color: $c-primary;
		transform: translateY(-50%);
	}
	&:hover {
		box-shadow: $bs-hover-box;
		transform: scale(1.032);
	}
}
.destination-offers_prices_title {
	@extend %destination-offers-prices-title;
}
.destination-offers_prices_value {
	line-height: 1;
}

//## more link
.destinations-offers_more {
	text-align: right;
	
}
.destinations-offers_more-link {
	@include arrow-sufix($font-size: 9px, $arrow-color: $c-primary);
	// @include iconfont($icon-arrow-single-right, after);
	display: inline-block;
	margin: calculateRem(6px) 0;
	color: $c-primary;
	&:hover {
		text-decoration: underline;
	}
}

// [Responsive]
@media #{$destination-offers-breakpoint} {
	.destination-offers_prices_list {
		flex-wrap: wrap;
		padding-top: 0;
		margin-top: -2%;
		margin-bottom: -2%;
		overflow: visible;
	}
	.destination-offers_prices_item {
		flex: 1 1 46%;
		justify-content: space-between;
		margin: 2% 2%;
	}
	.destinations-offers_prices {
		// margin: -2% 0;
	}
}