<pre><code class="html">&lt;footer class="footer"&gt;
  &lt;div class="content"&gt;
    &lt;div class="footer_logo"&gt;
      &lt;img class="logo" src="../src/assets/imgs/logo-neg.svg" alt="HK Express (footer logo)"&gt;
    &lt;/div&gt;
    &lt;div class="footer_right"&gt;
      &lt;span class="poweredby"&gt;Powered by
          &lt;span class="poweredby_logo"&gt;
              &lt;a href="http://newshore.es" class="logo" target="_blank" title="Powered by: newshore (new window)"&gt;
                  &lt;img src="../src/assets/imgs/logo-newshore.svg" alt="Newshore"&gt;
              &lt;/a&gt;
          &lt;/span&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
</code></pre>
