&lt;div class="socialmedia_login"&gt;
    &lt;div class="socialmedia_login_options"&gt;
        {% include "partials/_md/_md-codes/_md_social_media.njk" %}
    &lt;/div&gt;
    &lt;p class="socialmedia_login_separator"&gt;
        &lt;span class="text"&gt;OR&lt;/span&gt;
    &lt;/p&gt;
&lt;/div&gt;

&lt;div class="login-form{% if login_form.isVertical %}-vertical{% endif %}{% if login_form.isSignIn %} sign-in{% endif %}"&gt;
    &lt;form&gt;
        &lt;fieldset&gt;
            &lt;div class="ui-form_input-button"&gt;
                &lt;div class="ui-form_group"&gt;
                    &lt;div class="ui-input-container"&gt;
                        &lt;label class="ui-label" for="bookingReference"&gt;
                            E-mail
                        &lt;/label&gt;
                        &lt;div class="ui-input_wrap"&gt;
                            &lt;input type="email" class="ui-input" name="bookingReference" id="bookingReference" aria-invalid="false"&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt; {% if login_form.input2Label %}
                &lt;div class="ui-form_group"&gt;
                    &lt;div class="ui-input-container"&gt;
                        &lt;label class="ui-label" for="email"&gt;
                            Password
                        &lt;/label&gt;    
                        &lt;div class="ui-input_wrap"&gt;        
                            &lt;input type="password" class="ui-input" name="email" id="email" aria-invalid="false"&gt;
                        &lt;/div&gt;    
                    &lt;/div&gt;
                &lt;/div&gt; {% endif %}{% if login_form.isSignIn %}
                &lt;div class="login-form_actions"&gt;{% if login_form.forgotPassword %}
                    &lt;a class="forgot-link" href="#"&gt;Forgot Password?&lt;/a&gt;{% endif %}
                    &lt;button type="button"
                        class="button btn-action"
                        onclick="location.href='{{login_form.buttonUrl}}'"&gt;
                        {{login_form.buttonText}}
                    &lt;/button&gt;
                &lt;/div&gt;{% endif %}{% if not login_form.isSignIn %}{% if login_form.forgotPassword %}
                    &lt;a class="forgot-link" href="#"&gt;Forgot Password&lt;/a&gt;{% endif %}
                &lt;button type="button"
                    class="button btn-action"
                    onclick="location.href='{{login_form.buttonUrl}}'"&gt;
                    {{login_form.buttonText}}
                &lt;/button&gt;{% endif %}
            &lt;/div&gt;
        &lt;/fieldset&gt;
    &lt;/form&gt;{% if login_form.hasGetText %}
        &lt;p class="get_text"&gt;{{  login_form.getTextInfoBottom | default('Not a Ufly-Pass holder?') }}&lt;a href="#"&gt; {{ login_form.getTextLinkBottom | default('Get one now!') }}&lt;/a&gt;&lt;/p&gt;{% endif %}
&lt;/div&gt;