<strong>&lt;!-- If OW add class 'oneway' to 'summary' div --&gt;</strong>
&lt;div class="summary <strong>oneway</strong>"&gt;
    &lt;!-- Summary header --&gt;
    &lt;header class="summary_header"&gt;
        &lt;ul class="summary_total_list"&gt;
            &lt;li&gt;
                &lt;span class="label"&gt;Total cost&lt;/span&gt;
                <strong>&lt;!--
                    aria-expanded="false" : summary is closed / aria-expanded="true" : aria-expanded="false" : summary is opened
                    'aria-controls' points to the ID of the panel which the this button will open
                --&gt;</strong>
                &lt;button class="summary_trigger collapsed" <strong>aria-expanded="false" aria-controls="collapseSummary"</strong>&gt;
                    &lt;span class="price"&gt;
                        HKD 1,133
                    &lt;/span&gt;
                &lt;/button&gt;
                &lt;a tabindex="0" class="button btn-inverse btn-next"&gt;
                    Next
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/header&gt;

    <strong>&lt;!--
        aria-hidden="true" : summary is closed / aria-hidden="false" : summary is opened
        id should be related to its trigger button 'aria-controls'
    --&gt;</strong>
    &lt;div class="summary_collapse collapse" <strong>id="collapseSummary" aria-hidden="true"</strong>&gt;
        &lt;div class="summary_collapse_wrap"&gt;
            &lt;div class="summary_body"&gt;
                &lt;div class="summary_journey departure"&gt;
                    &lt;div class="summary_label"&gt;Departing flight&lt;/div&gt;
                    &lt;div class="summary_route"&gt;
                        &lt;span class="summary_airport"&gt;
                            Hong Kong
                            &lt;span class="summary_airport-code"&gt;
                                HKD |
                                &lt;strong&gt;7:04 h&lt;/strong&gt;
                            &lt;/span&gt;
                        &lt;/span&gt;
                        &lt;span class="summary_route_icon departure"&gt;
                            &lt;span class="hide-visually"&gt;to&lt;/span&gt;
                        &lt;/span&gt;
                        &lt;span class="summary_airport"&gt;
                            Kunming
                            &lt;span class="summary_airport-code"&gt;
                                KMD |
                                &lt;strong&gt;10:10 h&lt;/strong&gt;
                            &lt;/span&gt;
                        &lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="summary_date"&gt;
                        Sat, 16 Dec 2017
                        &lt;span class="extra-day"&gt;(+1 day)&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="summary_flight"&gt;
                        Flight:
                        &lt;span class="flightnumber"&gt;UO 1252&lt;/span&gt;
                        &lt;span class="flightnumber"&gt;UO 1278&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class="summary_journey return"&gt;
                    &lt;div class="summary_label"&gt;Returning flight&lt;/div&gt;
                    &lt;div class="summary_route"&gt;
                        &lt;span class="summary_airport"&gt;
                            Hong Kong
                            &lt;span class="summary_airport-code"&gt;
                                HKD |
                                &lt;strong&gt;7:04 h&lt;/strong&gt;
                            &lt;/span&gt;
                        &lt;/span&gt;
                        &lt;span class="summary_route_icon departure"&gt;
                            &lt;span class="hide-visually"&gt;to&lt;/span&gt;
                        &lt;/span&gt;
                        &lt;span class="summary_airport"&gt;
                            Kunming
                            &lt;span class="summary_airport-code"&gt;
                                KMD |
                                &lt;strong&gt;10:10 h&lt;/strong&gt;
                            &lt;/span&gt;
                        &lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="summary_date"&gt;
                        Sat, 16 Dec 2017
                        &lt;span class="extra-day"&gt;(+1 day)&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="summary_flight"&gt;
                        Flight:
                        &lt;span class="flightnumber"&gt;UO 1252&lt;/span&gt;
                        &lt;span class="flightnumber"&gt;UO 1278&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class="summary_typology"&gt;
                    &lt;div class="summary_label"&gt;Summary&lt;/div&gt;
                    &lt;div class="summary_typology_item"&gt;
                        &lt;ul class="paxtype_group"&gt;
                            &lt;li class="paxtype"&gt;1 adult&lt;/li&gt;
                            &lt;li class="paxtype"&gt;2 children&lt;/li&gt;
                            &lt;li class="paxtype"&gt;1 infant&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                    &lt;div class="summary_price-resume"&gt;
                        &lt;div class="price-resume_head"&gt;
                            &lt;div class="label"&gt;Departure&lt;/div&gt;
                            &lt;div class="price"&gt;
                                &lt;span class="fare-label fare1"&gt;FUN&lt;/span&gt;
                                HKD 1,884
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="price-resume_head"&gt;
                            &lt;div class="label"&gt;Return&lt;/div&gt;
                            &lt;div class="price"&gt;
                                &lt;span class="fare-label fare3"&gt;U-biz&lt;/span&gt;
                                HKD 884
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="price-resume_head"&gt;
                            &lt;div class="label"&gt;Extras &amp; fees&lt;/div&gt;
                            &lt;div class="price"&gt;
                                HKD 884
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;!-- Summary details --&gt;
            &lt;div class="summary_details"&gt;
                <strong>&lt;!--
                    aria-expanded="false" : summary details is closed / aria-expanded="true" : aria-expanded="false" : summary details is opened
                    'aria-controls' points to the ID of the panel which the this button will open
                --&gt;</strong>
                &lt;a tabindex="0" class="summary_details_trigger" <strong>aria-controls="summaryDetails" aria-expanded="false"</strong>&gt;
                    &lt;span class="label"&gt;More details&lt;/span&gt;
                &lt;/a&gt;
                <strong>&lt;!--
                    aria-hidden="true" : summary details is closed / aria-hidden="false" : summary details is opened
                    id should be related to its trigger button 'aria-controls'
                --&gt;</strong>
                &lt;div class="summary_details_price collapse" <strong>id="summaryDetails" aria-hidden="true"</strong>&gt;
                    {% include "partials/_md/_md-codes/_md_summary_details.njk" %}
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
