&lt;div class="main-header_wrap"&gt;{% if bodyClass == "home-page" %}
    &lt;div class="alert-flag_wrap in"&gt;
        &lt;div class="alert-flag_container"&gt;
            &lt;div class="alert-flag"&gt;
                &lt;button type="button" class="close" aria-label="close"&gt;
                    &lt;span aria-hidden="true" class="icon icon-cross"&gt;&lt;/span&gt;
                &lt;/button&gt;
                &lt;p class="alert-flag_text"&gt;
                    Special ticketing arrangement for Guests with infants or Pregnant guests traveling to Ishigaki on or before May 31, 2018. Please click &lt;a href="#"&gt;here.&lt;/a&gt;
                &lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;{% endif %}
    &lt;header class="main-header"&gt;
        &lt;div class="main-header_container"&gt;
            &lt;h1 class="main-header_logo"&gt;
                &lt;a href="CORP-index.html" class="logo"&gt;
                    &lt;img src="{{ project_assets_path }}imgs/logo.svg" alt="HK Express" /&gt;
                &lt;/a&gt;
            &lt;/h1&gt;
            &lt;div class="main-header_nav"&gt;
                &lt;nav class="main-header_nav-primary" aria-label="Main menu"&gt;
                    &lt;ul&gt;{% for mainMenuItem in mainHeaderMenu %}
                        &lt;li class="nav_item"&gt;
                            &lt;button class="nav_item_link" aria-expanded="false"&gt;
                                {{ mainMenuItem.text }}
                            &lt;/button&gt;
                            &lt;div class="main-header_subnav" aria-hidden="true"&gt;
                                &lt;div class="main-header_subnav_inner"&gt;{% for submenu in mainMenuItem.submenus %}
                                    &lt;nav{% if submenu.isDestinations == true %} class="subnav--destinations"{% endif %}&gt;
                                        &lt;h2 class="main-header_subnav_title"&gt;
                                            &lt;a href="#" class="collapsed" aria-expanded="false"&gt;
                                                &lt;span class="icon icon-{{submenu.icon}}"&gt;&lt;/span&gt;
                                                {{submenu.title}}
                                            &lt;/a&gt;
                                        &lt;/h2&gt;
                                        &lt;ul aria-hidden="true"&gt;{% for submenuItem in submenu.submenuList %}
                                            &lt;li&gt;
                                                &lt;a href="" class="subnav_item_link"&gt;
                                                    {{submenuItem.text}}
                                                &lt;/a&gt;
                                            &lt;/li&gt;{% endfor %}
                                        &lt;/ul&gt;
                                    &lt;/nav&gt;
                                    {% endfor %}
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;{% endfor %}
                    &lt;/ul&gt;
                &lt;/nav&gt;
                &lt;nav class="main-header_nav-secondary" aria-label="Settings menu"&gt;
                    &lt;ul&gt;
                        &lt;li class="nav_item"&gt;
                            &lt;a class="nav_item_link"
                            href="CORP-sign_in.html"&gt;
                                &lt;span class="icon icon-user"&gt;&lt;/span&gt;
                            &lt;/a&gt;                        
                        &lt;/li&gt;
                        &lt;li class="nav_item"&gt;
                            &lt;div class="ui-dropdown"&gt;
                                &lt;button class="nav_item_link"
                                    aria-haspopup="listbox"
                                    aria-expanded="false"
                                    aria-controls="collapseLanguage"&gt;
                                    &lt;span class="icon icon-language"&gt;&lt;/span&gt;
                                &lt;/button&gt;
                                &lt;ul class="ui-dropdown_list"
                                    role="listbox"
                                    tabindex="-1"
                                    aria-hidden="true"
                                    id="collapseLanguage"&gt;
                                    &lt;li role="option"&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
                                    &lt;li role="option"&gt;&lt;a href="#"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
                                    &lt;li role="option"&gt;&lt;a href="#"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/div&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/nav&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/header&gt;
&lt;/div&gt;
