&lt;!-- Departure table --&gt;
&lt;div class="price-resume"&gt;
    &lt;div class="price-resume_head"&gt;
        &lt;div class="label"&gt;Departure&lt;/div&gt;
        &lt;div class="price"&gt;
            &lt;span class="fare-label fare1"&gt;FUN&lt;/span&gt;
            {{SHARED.currency}} 1,884
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="price-resume_wrap"&gt;
        &lt;table class="table"&gt;
            &lt;caption class="hide-visually"&gt;Payment details - departuring flight&lt;/caption&gt;
            &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;th scope="row"&gt;Fares&lt;/th&gt;
                    &lt;td&gt;{{SHARED.currency}} 328&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope="row"&gt;Taxes&lt;/th&gt;
                    &lt;td&gt;{{SHARED.currency}} 255&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope="row"&gt;Extras&lt;/th&gt;
                    &lt;td&gt;{{SHARED.currency}} 255&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Return table --&gt;
&lt;div class="price-resume"&gt;
    &lt;div class="price-resume_head"&gt;
        &lt;div class="label"&gt;Return&lt;/div&gt;
        &lt;div class="price"&gt;
            &lt;span class="fare-label fare2"&gt;FUN+&lt;/span&gt;
            {{SHARED.currency}} 1,884
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="price-resume_wrap"&gt;
        &lt;table class="table"&gt;
            &lt;caption class="hide-visually"&gt;Payment details - returning flight&lt;/caption&gt;
            &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;th scope="row"&gt;Fares&lt;/th&gt;
                    &lt;td&gt;{{SHARED.currency}} 328&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope="row"&gt;Taxes&lt;/th&gt;
                    &lt;td&gt;{{SHARED.currency}} 255&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                    &lt;th scope="row"&gt;Extras&lt;/th&gt;
                    &lt;td&gt;{{SHARED.currency}} 255&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Fees table --&gt;
&lt;div class="price-resume"&gt;
    &lt;div class="price-resume_head"&gt;
        &lt;div class="label"&gt;Fees&lt;/div&gt;
        &lt;div class="price"&gt;
            {{SHARED.currency}} 1,884
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Total --&gt;
&lt;div class="tfoot-total"&gt;
    &lt;span class="label"&gt;Total&lt;/span&gt;
    &lt;span class="price"&gt;{{SHARED.currency}} 3,954&lt;/span&gt;
&lt;/div&gt;
