&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label"&gt;
        Country/Region*
    &lt;/label&gt;
    &lt;div class="ui-dropdown"&gt;
        <strong>&lt;!-- aria-expanded: 'false' when closed / 'true' when opened  --&gt;</strong>
        &lt;button class="ui-input" aria-haspopup="listbox" <strong>aria-expanded="false"</strong>&gt;
            &lt;span class="ui-dropdown_value"&gt;
                France
            &lt;/span&gt;
        &lt;/button&gt;
        <strong>&lt;!-- aria-hidden: 'true' when closed / 'false' when opened  --&gt;</strong>
        &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" <strong>aria-hidden="true"</strong>&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 4&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 5&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 6&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 7&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 8&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    multiple selects (2)
********************************************* --&gt;
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label"&gt;
        Multiple selects
    &lt;/label&gt;
    &lt;div class="ui-input-multiple"&gt;
        &lt;div class="ui-dropdown"&gt;
            &lt;button class="ui-input" aria-haspopup="listbox" aria-expanded="false"&gt;
                &lt;span class="ui-dropdown_value"&gt;
                    Select 1
                &lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 4&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class="ui-dropdown"&gt;
            &lt;button class="ui-input" aria-haspopup="listbox" aria-expanded="false"&gt;
                &lt;span class="ui-dropdown_value"&gt;
                    Select 2
                &lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    multiple selects (3)
********************************************* --&gt;
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label"&gt;
        Multiple selects (3)
    &lt;/label&gt;
    &lt;div class="ui-input-multiple ui-input-multiple-3col"&gt;
        &lt;div class="ui-dropdown"&gt;
            &lt;button class="ui-input" aria-haspopup="listbox" aria-expanded="false"&gt;
                &lt;span class="ui-dropdown_value"&gt;
                    DD
                &lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;

                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 4&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class="ui-dropdown"&gt;
            &lt;button class="ui-input" aria-haspopup="listbox" aria-expanded="false"&gt;
                &lt;span class="ui-dropdown_value"&gt;
                    MM
                &lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class="ui-dropdown"&gt;
            &lt;button class="ui-input" aria-haspopup="listbox" aria-expanded="false"&gt;
                &lt;span class="ui-dropdown_value"&gt;
                    YYYY
                &lt;/span&gt;
            &lt;/button&gt;
            &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    mobile phone with prefix
********************************************* --&gt;
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label"&gt;
        Mobile phone
    &lt;/label&gt;
    &lt;div class="ui-input-multiple ui-input-mobile"&gt;
        &lt;div class="ui-dropdown"&gt;
            &lt;div class="ui-input-typeahead" aria-haspopup="listbox" aria-expanded="false"&gt;
                &lt;input class="ui-input" type="text" placeholder="Prefix"&gt;
            &lt;/div&gt;
            &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
                &lt;/li&gt;
                &lt;li role="option"&gt;
                    &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;input type="text" class="ui-input" name="mobileNumber" id="mobileNumber" placeholder="Telephone number" value=""&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    typeahead
********************************************* --&gt;
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label" for="typeaheadId"&gt;
        Typeahead component
    &lt;/label&gt;
    &lt;div class="ui-dropdown"&gt;
        &lt;div class="ui-input-typeahead" aria-haspopup="listbox" aria-expanded="false"&gt;
            &lt;input class="ui-input" id="typeaheadId" type="text" placeholder="Typeahead placeholder"&gt;
        &lt;/div&gt;
        &lt;ul class="ui-dropdown_list" role="listbox" tabindex="-1" aria-hidden="true"&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 1&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 2&lt;/a&gt;
            &lt;/li&gt;
            &lt;li role="option"&gt;
                &lt;a tabindex="0"&gt;Option 3&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
