&lt;div class="main-banner{% if isBannerInnerPage %} main-banner_innerpages{% endif %}"&gt;
    &lt;button class="slide-control left"&gt;
        &lt;span class="icon icon-arrow-triangle-left"&gt;
            &lt;span class="hide-visually"&gt;Prev&lt;/span&gt;
        &lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="main-banner_slider"&gt;{% for bannerItem in bannerItems %}
        &lt;div class="main-banner_item{% if bannerItem.isActive %} active{% endif %}" data-target="rpImagesBg"&gt;{% if not isCarousel %}
            &lt;div class="main-banner_container"&gt;
                &lt;div class="main-banner_caption{% if bannerItem.alignRight %} align-right{% endif %}{% if bannerItem.alignCenter %} align-center{% endif %}{% if bannerItem.textLight %} text-light{% endif %}"&gt;
                    &lt;h2 class="title"&gt;{{ bannerItem.title | safe }}&lt;/h2&gt;{% if bannerItem.subtitle | length %}&lt;p class="subtitle"&gt;{{ bannerItem.subtitle | safe }}&lt;/p&gt;{% endif %}{% if bannerItem.text | length %}&lt;p class="text"&gt;{{ bannerItem.text | safe }}&lt;/p&gt;{% endif %}
                    &lt;button class="button btn-light"&gt;{{ bannerItem.button }}&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;{% endif %}
            &lt;picture class="main-banner_bg" data-target="rpImages"&gt;
                &lt;source srcset="{{ project_assets_path }}imgs/banners/{{ bannerItem.bg }}.jpg" media="(min-width: 1025px)"&gt;
                &lt;source srcset="{{ project_assets_path }}imgs/banners/{{ bannerItem.bg }}-tablet.jpg" media="(min-width: 640px)"&gt;
                &lt;source srcset="{{ project_assets_path }}imgs/banners/{{ bannerItem.bg }}-mobile.jpg" media="(min-width: 481px)"&gt;
                &lt;img src="{{ project_assets_path }}imgs/banners/{{ bannerItem.bg }}.jpg" alt=""&gt;
            &lt;/picture&gt;
        &lt;/div&gt;{% endfor %}
    &lt;/div&gt;
    &lt;button class="slide-control right"&gt;
        &lt;span class="icon icon-arrow-triangle-right"&gt;
            &lt;span class="hide-visually"&gt;Next&lt;/span&gt;
        &lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="main-banner_controls"&gt;
        &lt;div class="main-banner_pager"&gt;{% for bannerItem in bannerItems %}
            &lt;button class="main-banner_pager_item{% if bannerItem.isActive %} active{% endif %}"&gt;
                &lt;span class="hide-visually"&gt;{{ bannerItem.title | safe }}&lt;/span&gt;
            &lt;/button&gt;{% endfor %}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
