&lt;div class="rss"&gt;
    &lt;span class="icon icon-rss"&gt;&lt;/span&gt;&lt;a href=""&gt;RSS&lt;/a&gt;
&lt;/div&gt;
&lt;ul class="news-list"&gt;{% for news in new_data %}
    &lt;li class="news-list_item"&gt;
        &lt;div class="news-list_date-column"&gt;
            &lt;p class="date"&gt;{{ news.date }}&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class="news-list_content"&gt;
            &lt;div class="news-list_content"&gt;
                &lt;a href="{{ news.url }}"&gt;&lt;h3 class="title"&gt;{{ news.title }}&lt;/h3&gt;&lt;/a&gt;{% if news.isPdf %}
                &lt;a href="#" class="news-list_pdf-link"&gt;&lt;span class="icon icon-external"&gt;&lt;/span&gt;&lt;/a&gt;{% endif %}
            &lt;/div&gt;                        
            &lt;p&gt;
                {{ news.content }}
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/li&gt;{% endfor %}               
&lt;/ul&gt;