&lt;div class="ui-accordion" id="accordionGroup"&gt;{% for item in data %}
    &lt;div class="ui-accordion_header" role="heading" id="heading{{ loop.index }}"&gt;
        &lt;button class="ui-accordion_trigger"
            data-toggle="collapse"
            data-parent="#accordion"
            href="#collapse{{ loop.index }}id"
            aria-expanded="true"
            aria-controls="collapse{{ loop.index }}id"&gt;
            &lt;span class="ui-accordion_trigger_title"&gt;{{ item.title }} &lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
    &lt;div id="collapse{{ loop.index }}id" class="collapse show" role="region" aria-labelledby="heading{{ loop.index }}"&gt;
        &lt;div class="ui-accordion_body"&gt;{% if item.textOnly %}
            &lt;p&gt;
                There is so much to do in Chiang Mai that you can choose how adventurous you’d like to be.  Take a leisurely strolls through inviting
            &lt;/p&gt;
            &lt;h4 class="context-h3"&gt;Old Town&lt;/h4&gt;
            &lt;p&gt;
                This historic 1.5 square kilometre section of Chiang Mai is the city’s historic epicentre. Surrounded by its original 700 year moat and intricately built stone wall, Old Town is a delightfully inviting area for a leisurely stroll. Its ancient streets, traditional bazaars and ornate temples are a step back in time.
            &lt;/p&gt;
            &lt;h5 class="context-h3"&gt;Night Bazaar&lt;/h5&gt;
            &lt;p&gt;
                To the east of Old Town and just blocks away is the city’s Night Bazaar area, an expansive market area filled with jewellery, clothing and many other Thai designed products. Predominantly a market place for tourists, these markets are a great place to find the perfect souvenir or remembrance.
            &lt;/p&gt;{% else %}
            &lt;h4 class="context-h3"&gt;EXCLUSIVE COUPONS&lt;/h4&gt;
            &lt;ul class="context-list"&gt;
                &lt;li&gt;
                    &lt;a href=""&gt;Phuket King Power duty-free shops and GMS duty-free shops Coupons&lt;/a&gt;                                    
                &lt;/li&gt;               
            &lt;/ul&gt;
            &lt;h5 class="context-h3"&gt;DISCOUNTED&lt;/h5&gt;
            &lt;ul class="context-list columns"&gt;
                &lt;li&gt;&lt;a href="#"&gt;HKG - Airport Express&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;TYO - Heiwajima Natural Hot Spring&lt;/a&gt;&lt;/li&gt;   
                &lt;li&gt;&lt;a href="#"&gt;Kintetsu - Kintetsu Travel & Rail Pass&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;HKG - Madame Tussauds&lt;/a&gt;&lt;/li&gt;       
                &lt;li&gt;&lt;a href="#"&gt;TYO - Airport Limousine Bus / Hakone Free Pass&lt;/a&gt;&lt;/li&gt;   
                &lt;li&gt;&lt;a href="#"&gt;KIX - Namba Discount Ticket&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Kyushu - All Shikoku Rail Pass and KAGAWA Mini Rail Ferry Pass&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;TYO - Keikyu Hanetoku&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Shikoku - JR Shikoku Rail Pass&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Korea  - Tickets Visit Korea Committee – Korea Tour Card&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
            &lt;h6 class="context-h3"&gt;HK EXPRESS BRANDED PRODUCTS&lt;/h6&gt;{% endif %}
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;{% endfor %}