<strong>&lt;!-- if is a required field should have aria-required="true" --&gt;</strong>
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label" for="firstName"&gt;
        First Name
    &lt;/label&gt;
    &lt;div class="ui-input_wrap"&gt;
        &lt;input type="text"
            class="ui-input"
            name="firstName"
            id="firstName"
            <strong>aria-required="true"</strong> /&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    has value
********************************************* --&gt;
&lt;div class="ui-input-container <strong>has-value</strong>"&gt;
    &lt;label class="ui-label" for="firstName"&gt;
        First Name
    &lt;/label&gt;
    &lt;div class="ui-input_wrap"&gt;
        &lt;input type="text"
            class="ui-input"
            name="firstName"
            id="firstName"
            value="Maria Perez" /&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    disabled
********************************************* --&gt;
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label" for="firstName"&gt;
        First Name
    &lt;/label&gt;
    &lt;div class="ui-input_wrap"&gt;
        &lt;input type="text"
            class="ui-input"
            name="firstName"
            id="firstName"
            <strong>disabled="disabled"</strong> /&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    readonly
********************************************* --&gt;
&lt;div class="ui-input-container"&gt;
    &lt;label class="ui-label" for="firstName"&gt;
        First Name
    &lt;/label&gt;
    &lt;div class="ui-input_wrap"&gt;
        &lt;input type="text"
            class="ui-input"
            name="firstName"
            id="firstName"
            <strong>readonly="readonly"</strong> /&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    validation: error
********************************************* --&gt;
&lt;div class="ui-input-container <strong>has-error</strong>"&gt;
    &lt;label class="ui-label" for="emailInput"&gt;
        Email (input has error)
    &lt;/label&gt;
    &lt;div class="ui-input_wrap"&gt;
        &lt;input type="text"
            class="ui-input"
            name="emailInput"
            id="emailInput"
            <strong>aria-required="true"
            aria-invalid="true"
            aria-describedby="inputHasError"</strong> /&gt;
    &lt;/div&gt;
    <strong>&lt;!-- Error message id should be the same as its input id --&gt;</strong>
    &lt;div class="error-message" <strong>id="emailInput"</strong>&gt;
        Error message here should not be too long if posible
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- *****************************************
    validation: is valid
********************************************* --&gt;
&lt;div class="ui-input-container <strong>is-valid</strong>"&gt;
    &lt;label class="ui-label" for="rewarduInput"&gt;
        Reward-u number (is valid)
    &lt;/label&gt;
    &lt;div class="ui-input_wrap"&gt;
        &lt;input type="text"
            class="ui-input"
            name="rewarduInput"
            id="rewarduInput"
            aria-required="true" /&gt;
    &lt;/div&gt;
&lt;/div&gt;
