{% if not isDestinationOffer %}
&lt;div class="offer{% if offer.isOfferDeal %} offer-deal{% endif %}" role="button" tabindex="0"&gt;
    &lt;div class="offer_image"&gt;{% if (offer.imageTitle | length) or (offer.imageBrandLight | length) or (offer.imageBrand | length) %}
        &lt;div class="offer_image_caption"&gt;{% if offer.imageTitle | length %}&lt;div class="offer_image_title"&gt;{{offer.imageTitle}}&lt;/div&gt;{% endif %}{% if (offer.imageBrandLight | length) or (offer.imageBrand | length) %}
            &lt;div class="offer_image_brand"&gt;
                {% if offer.imageBrandLight | length %}&lt;img class="brand-light" src="{{ project_assets_path }}imgs/offers/{{offer.imageBrandLight}}" alt="" /&gt;{% endif %}
                {% if offer.imageBrand | length %}&lt;img class="brand" src="{{ project_assets_path }}imgs/offers/{{offer.imageBrand}}" alt="" /&gt;{% endif %}
            &lt;/div&gt;{% endif %}
        &lt;/div&gt;{% endif %}
        &lt;div class="offer_image_bg js-objectfit-helper"&gt;
            &lt;picture&gt;
                &lt;source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 1200px)" /&gt;
                &lt;source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 1025px)" /&gt;
                &lt;source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 640px)" /&gt;
                &lt;source srcset="{{project_assets_path}}imgs/{{offer.image}}" media="(min-width: 481px)" /&gt;
                &lt;img src="{{project_assets_path}}imgs/{{offer.image}}" alt=""&gt;
            &lt;/picture&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;p class="offer_caption"&gt;
        {{offer.caption}}
    &lt;/p&gt;
&lt;/div&gt;
{% else %}
&lt;div class="destination-offer{% if destinationsOffer.destinationGuide %} destinations-guide_offer{% endif %}{% if destinationsOffer.destinationGuideMain %} destinations-guide_offer--main{% endif %}{% if destinationsOffer.isMain %} destinations-offers-item--main{% endif %}{% if destinationsOffer.equalsCol %} grid-col{% endif %}"
    role="button" tabindex="0"&gt;
    &lt;a href="{{ destinationsOffer.url }}" class="destination-offer_image js-objectfit-helper"&gt;
        &lt;picture&gt;
            &lt;source srcset="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" media="(min-width: 1025px)"&gt;
            &lt;source srcset="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" media="(min-width: 640px)"&gt;
            &lt;source srcset="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" media="(min-width: 481px)"&gt;
            &lt;img src="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" alt="{{ destinationsOffer.text }}" /&gt;
        &lt;/picture&gt;
    &lt;/a&gt;
    &lt;div class="destination-offer_caption"&gt;
        &lt;p class="city"&gt;{{ destinationsOffer.text }}&lt;/p&gt;{% if destinationsOffer.price %}
        &lt;p class="price_wrap"&gt;
            &lt;span  class="currency"&gt;{{SHARED.currency}}&lt;/span&gt;
            &lt;span class="price"&gt;{{ destinationsOffer.price }}&lt;/span&gt;
        &lt;/p&gt;{% endif %}
    &lt;/div&gt;
&lt;/div&gt;
{% endif %}
