&lt;table class="table-resume"&gt;
    &lt;caption&gt;
        Payment 1
    &lt;/caption&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;th scope="row"&gt;Payment Type&lt;/th&gt;
            &lt;td&gt;WeChat&lt;/td&gt;
            &lt;th scope="row"&gt;Pricing Currency&lt;/th&gt;
            &lt;td&gt;{{SHARED.currency}} 750&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;th scope="row"&gt;Payment Date&lt;/th&gt;
            &lt;td&gt;9/11/2017&lt;/td&gt;
            &lt;th scope="row"&gt;Payment Status&lt;/th&gt;
            &lt;td&gt;
                &lt;span class="waiting"&gt;Waiting&lt;/span&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
