&lt;ul class="socialmedia_list{% if isFlat %} flat{% endif %}"&gt;{% for socialmedia in socialmedias %}
    &lt;li&gt;
        &lt;a href="{{socialmedia.url}}" class="socialmedia--{{socialmedia.name}}"&gt;
            &lt;span class="hide-visually"&gt;{{socialmedia.title}}&lt;/span&gt;
        &lt;/a&gt;
    &lt;/li&gt;{% endfor %}
&lt;/ul&gt;
