&lt;!--
    Summary collapsible table on responsive
    Just need to add  class 'is-open' when click at 'price-resume_head'
 --&gt;
&lt;div class="summary_details_item <strong>is-open</strong>"&gt;
    &lt;div class="price-resume"&gt;
        &lt;div class="price-resume_head"&gt;
            &lt;div class="label"&gt;Departure&lt;/div&gt;
            &lt;div class="price"&gt;
                &lt;span class="fare-label fare1"&gt;FUN&lt;/span&gt;
                {{SHARED.currency}} 1,884
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="price-resume_wrap"&gt;
            &lt;table class="table"&gt;
                &lt;caption class="hide-visually"&gt;Payment details - departuring flight&lt;/caption&gt;
                &lt;tbody&gt;
                    &lt;tr class="colgroup_title"&gt;
                        &lt;th scope="colgroup" colspan="2"&gt;Adult&lt;/th&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th scope="row"&gt;Fare&lt;/th&gt;
                        &lt;td&gt;{{SHARED.currency}} 328&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th scope="row"&gt;CN Security charge&lt;/th&gt;
                        &lt;td&gt;1 x {{SHARED.currency}} 255&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th scope="row"&gt;CN terminal facilities charge&lt;/th&gt;
                        &lt;td&gt;1 x {{SHARED.currency}} 255&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
            &lt;table class="table"&gt;
                &lt;caption class="hide-visually"&gt;Departure flight - child prices resume table&lt;/caption&gt;
                &lt;tbody&gt;
                    &lt;tr class="colgroup_title"&gt;
                        &lt;th scope="colgroup" colspan="2"&gt;Child&lt;/th&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th scope="row"&gt;Fare&lt;/th&gt;
                        &lt;td&gt;{{SHARED.currency}} 328&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th scope="row"&gt;CN Security charge&lt;/th&gt;
                        &lt;td&gt;1 x {{SHARED.currency}} 255&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                        &lt;th scope="row"&gt;CN terminal facilities charge&lt;/th&gt;
                        &lt;td&gt;1 x {{SHARED.currency}} 255&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
