&lt;div class="context-table"&gt;
    &lt;table class="table-responsive"&gt;
        &lt;thead&gt;
            &lt;tr{% if data.align %} align="{{ data.align }}{% endif %}"&gt;{% for th in data.thead.ths %}
                &lt;th{% if data.thTheadWithAccessibility and th.title != '' %} scope="col"{% endif %}&gt;{{ th.title }}&lt;/th&gt;{% endfor %}
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody class="{{ data.class }}"&gt;{% for row in data.tbody %}
            &lt;tr{% if data.align %} align="{{ data.align }}{% endif %}"{% if row.hasClass %} class="{{ row.hasClass }}"{% endif %}&gt;{% for td in row.tds %}
                &lt;{% if td.rowspan %}th scope="row"{% else %}td{% endif %}{% if data.thead.ths[loop.index - 1].title %} data-th="{{ data.thead.ths[loop.index - 1].title }}"{% endif %}{% if td.align %} align="{{ td.align }}"{% endif %}{% if td.rowspan %} rowspan="{{ td.rowspan }}"{% endif %}{% if td.class %} class="{{ td.class }}"{% endif %}&gt;{{ td.title | safe }}&lt;/td&gt;{% endfor %}
            &lt;/tr&gt;{% endfor %}
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;