{#
    DOCUMENTATION:
    destinationsOffer: {
        VARIABLES:
        col: 'string' // class for use of grid-column in the father
    }

    EXAMPLE:

    {% include "partials/corporative/destinations-offers/_destination-offer_image.njk" %}
#}
{% if destinationsOffer.img | length %}
<{% if destinationsOffer.url | length %}a href="{{ destinationsOffer.url}}" title="{{ destinationsOffer.city }}"{% else %}div{% endif %} class="destination-offer_image js-objectfit-helper">
    <picture>
        <source srcset="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" media="(min-width: 1025px)">
        <source srcset="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" media="(min-width: 640px)">
        <source srcset="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" media="(min-width: 481px)">
        <img src="{{ project_assets_path }}imgs/destinations/{{ destinationsOffer.img }}.jpg" alt="{{ destinationsOffer.text }}" />
    </picture>
</{% if destinationsOffer.url | length %}a{% else %}div{% endif %}>
{% endif %}
