
{#
    DOCUMENTATION:

    EXAMPLE:

    {% include "partials/corporative/destinations-offers/_destinations-offers_pricelist.njk" %}
#}

<ibe-destinations-offers-pricelist>
<div class="destinations-offers_pricelist">
    {% include "partials/corporative/destinations-offers/_destinations-offers-select.njk" %}
    <table class="table-offers">
        <caption class="hide-visually">{{destinationOffersPrice.destinationOptionTitle}}</caption>
        <tbody>
            {% for destinationOption in destinationOffersPrice.destinationOptions.items %}
            <tr>
                <th scope="row">
                    {{destinationOption.title}}
                </th>
                <td>
                    {% if destinationOption.promoPrice | length %}
                        <div class="price_promo">
                            {# price component #}
                            {% set price = {
                                value: destinationOption.promoPrice
                            } %}
                            {% include "partials/components/IBE/_common/_price.njk" %}
                        </div>
                    {% endif %}

                    {% if destinationOption.text | length %}
                    <p class="text">{{ destinationOption.text }}</p>
                    {% endif %}

                    <a href="{{destinationOption.link.url}}" title="{{destinationOption.link.title}}">
                        {# price component #}
                        {% set label = destinationOption.labelFrom %}
                        {% set price = {
                            value: destinationOption.price
                        } %}
                        {% include "partials/components/IBE/_common/_price.njk" %}

                        {% if destinationOption.link.label | length %}
                        <span class="table-offers_link_label">{{ destinationOption.link.label }}</span>
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {# PRICE LIST HAVE NOT ALL OFFERS #}
    {% if destinationOffersPrice.showAllOffers %}
        <p class="all_offers">
            <a href="#">See all offers</a>
        </p>
    {% endif %}
</div>
</ibe-destinations-offers-pricelist>
