
{#
    DOCUMENTATION:
    destinationPrice: {
        title: string
        price: Currency // partials/components/IBE/_common/_price.njk
    }


    EXAMPLE:
    {% include "partials/corporative/destinations-offers/_destinations-offers-prices.njk" %}
#}

<ibe-destinations-offers-prices>
    <div class="destinations-offers_prices">
        <ul class="destination-offers_prices_list">
            {% for destinationOffer in destinationOffersPrice.destinationOptions.items %}
                {% set destinationPrice = {
                    
                    price: {
                        value: destinationOffer.price,
                        hasFrom: true
                    }
                } %}
                <li class="destination-offers_prices_item">
                    {%if destinationOffer.link.fullarea %}
                    <a class="destination-offers_prices_wrap" href="{{ destinationOffer.link.url }}">
                    {% else %}
                    <div class="destination-offers_prices_wrap">
                    {% endif %}
                        {% if destinationOffer.title %}
                            <div class="destination-offers_prices_title">{{ destinationOffer.title }}</div>
                        {% endif %}
                        {% if destinationOffer.availability %}
                            <div class="destination-offers_prices_availability">{{ destinationOffer.availability }}</div>
                        {% endif %}
                        <div class="destination-offers_prices_value">
                            {% set price = destinationPrice.price %}
                            {% include "partials/components/IBE/_common/_price.njk" %}
                        </div>
                        {%if not destinationOffer.link.fullarea %}
                        <div class="destination-offers_prices_link">
                            <a href="{{ destinationOffer.link.url }}">{{ destinationPrice.link.label }}</a>
                        </div>
                        {% endif %}
                    </{%if destinationOffer.link.fullarea %}a{% else %}div{% endif %}>
                </li>
            {% endfor %}
        </ul>
    </div>
</ibe-destinations-offers-prices>
