{#
    DOCUMENTATION:
    destinationsOffer: {
        VARIABLES:
        text: 'string' // destination caption
        price: 'string' // destination price
        img: 'string' // main image
        MODIFIERS:
        class: '' // styles modifier class
        hasDescription true // shows button description and price
        emptyOffer: true // hide caption offer
    }

    EXAMPLE:
    {% set destinationsOffer = {
            text: "Kunming",
            price: 328,
            img: 'http://via.placeholder.com/770x465',
        }
    %}kz
    {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
#}
{# 
    IMPORTANT: .destinations-guide_offer class modifier DEPRECATED use .has-style-1 class modifier instead off
#}
<ibe-destination-offer>
<div class="destination-offer{% if destinationsOffer.destinationGuide %} destinations-guide_offer{% endif %}{% if destinationsOffer.styleType %} has-style-{{ destinationsOffer.styleType }}{% endif %}{% if destinationsOffer.destinationGuideMain %} destinations-guide_offer--main{% endif %}{% if destinationsOffer.isMain %} destinations-offers-item--main{% endif %}{% if destinationsOffer.equalsCol %} grid-col{% endif %}">
    <div class="destination-offer_body">
        {% include "partials/corporative/destinations-offers/_destination-offer_image.njk" %}
        
        {% if not destinationsOffer.emptyOffer | default(false) %}
            <div class="destination-offer_caption">
                {% if destinationsOffer.url | length %}<a href="{{ destinationsOffer.url}}">{% endif %}
                    {% if destinationsOffer.isPromo %}
                        {# isPromo candidate to DEPRECATE #}
                        {% if destinationsOffer.title %}<p class="destinations-offer_title">{{ destinationsOffer.title }}</p>{% endif %}
                        {% if destinationsOffer.subtitle %}<p class="destinations-offer_subtitle">{{ destinationsOffer.subtitle }}</p>{% endif %}
                        {% if destinationsOffer.text %}<p class="destinations-offer_text">{{ destinationsOffer.text }}</p>{% endif %}
                    {% else %}
                        {% if destinationsOffer.title %}<p class="destinations-offer_title">{{ destinationsOffer.title }}</p>{% endif %}
                        {% if destinationsOffer.subtitle %}<p class="destinations-offer_subtitle">{{ destinationsOffer.subtitle }}</p>{% endif %}
                        {% if destinationsOffer.text %}<p class="destinations-offer_text">{{ destinationsOffer.text }}</p>{% endif %}
                        <p class="city">{{ destinationsOffer.city }}</p>
                        {% if destinationsOffer.price %}
                            <p class="price_wrap">
                                {# {% if destinationsOffer.from %}
                                    <span class="from">{% if destinationsOffer.from.length %}{{ destinationsOffer.from }}{% else %}{{ SHARED.from }}{% endif %}</span>
                                {% endif %} #}
                                {# <span class="value_wrap"> #}
                                {% set price = {
                                    hasFrom: true,
                                    value: destinationsOffer.price
                                } %}
                                {% include "partials/components/IBE/_common/_price.njk" %}
                                {# </span> #}
                            </p>
                        {% endif %}
                        {% if destinationsOffer.text | length %}<p class="text">{{ destinationsOffer.text }}</p>{% endif %}
                    {% endif %}
                {% if destinationsOffer.url | length %}</a>{% endif %}
                {% if destinationsOffer.offerLink.caption | length %}
                    <div class="destination-offer_link">
                        <a href="{{ destinationsOffer.offerLink.url}}">{{ destinationsOffer.offerLink.caption }}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if destinationsOffer.footerPrice %}
        <div class="destination-offer_footer">
            <p>
                <span class="city">From</span>
                <span class="price_wrap">
                    <span class="currency">HKD</span>
                    <span class="price">328</span>
                </span>
            </p>
        </div>
    {% endif %}
</div>
</ibe-destination-offer>
