{#
    DOCUMENTATION
    destinationOffers: {
        ELEMENTS:                   
        "main": {                               // main destination offer section
            "items": [                          // offers collection, can has one or more
                {
                    "isMain": boolean,          // add destinations-offers-item--main modifier to assent specific offer
                    "city": string,             // city name
                    "from": string,             // language "from" caption transtation, ex "Desde"
                    "price": string,            // price
                    "img": string,              // image name without extension
                    "url": string,              // offer link href
                    "text": string,             // alternative text
                    "offerLink": {              // inner link
                        "caption": string,      // inner link text caption
                        "url": string           // inner link href
                    }
                }
            ]
        }
        "aside": {                              // alternative destination offer section
            "items": [                          // offers collection, can has one or more, like main section
                {                  
                    "isMain": boolean,
                    "city": string,
                    "from": string,
                    "price": string,
                    "img": string,
                    "url": string,
                    "offerLink": {
                        "caption": string,
                        "url": string
                    }
                }
            ]
        }

        MODIFIERS
        hasSelectOutPriceList: boolean // set destination-offers-select as first sub component
        usePriceList_2_0?: boolean // implements offers-prices layout instead of table layout offers-priceslists
    }
#}
<div class="destinations-offers{% if destinationOffers.styleType %} has-style-{{ destinationOffers.styleType }}{% endif %}">
    {% if destinationOffers.hasSelectOutPriceList == true %}
        {% include "partials/corporative/destinations-offers/_destinations-offers-select.njk" %}
    {% endif %}
    {% if destinationOffers.links %}
        <div class="destinations-offers_l1">
            <ibe-shortcut-links>
            <div class="box-links">
                {% set links = destinationOffers.links.items %}
                {% include "partials/components/_shared/cards/_box-cards.njk" %}
            </div>
            </ibe-shortcut-links>
        </div>
    {% endif %}

    <ibe-destinations-offers>
    {% if destinationOffers.main.items | length %}
        <div class="destination-offer_main">
            {% for destinationsOffer in destinationOffers.main.items %}
                {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% if destinationOffers.promo %} {# DEPRECATED (is not currently implemented in IBE) #}
        <div class="destination-offer_promo">
            {% set destinationsOffer = destinationOffers.promo %}
            {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
        </div>
    {% endif %}
   
    {% if destinationOffers.aside %}
        <div class="destination-offer_aside">
            <div class="column">
                {% if destinationOffersPrice.template == 'items' %}
                    {% include "partials/corporative/destinations-offers/_destinations-offers-prices.njk" %}
                {% elif destinationOffersPrice.template == 'table' %}
                    {% include "partials/corporative/destinations-offers/_destinations-offers_pricelist.njk" %}
                {% endif %}
            </div>
            {% if destinationOffers.aside.items | length %}
                <div class="column">
                    {% for destinationsOffer in destinationOffers.aside.items %}
                        {% include "partials/corporative/destinations-offers/_destination-offer.njk" %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if destinationOffers.more %}
        <div class="destinations-offers_more">
            <a href="{{ destinationOffers.more.url }}" class="destinations-offers_more-link">{{ destinationOffers.more.text }}</a>
        </div>
    {% endif %}
    </ibe-destinations-offers>
</div>