
{#
    DOCUMENTATION:

    EXAMPLE:

    {% include "partials/corporative/destinations-offers/_destinations-offers-select.njk" %}
#}

<ibe-destinations-offers-select>
    <div class="destinations-offers_select_header">
        <div class="ui-dropdown">
            <span class="title">{{destinationOffersPrice.title}}</span>
            <button class="title_trigger"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-controls="openDestinationsOptions">
                <span class="title_trigger_label">
                    {{destinationOffersPrice.selector}}
                </span>  
            </button>
            <ul class="ui-dropdown_list"
                role="listbox"
                tabindex="-1"
                aria-hidden="true"
                id="openDestinationsOptions">
                {% for selectorOption in destinationOffersPrice.selectorOptions %}
                    <li role="option"><button>{{selectorOption.name}}</button></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</ibe-destinations-offers-select>
