<flight-search>
    <div class="searchflight{% if flightSearch.isMulticity %} multicity{% endif %}" data-target="searchContainer">
        <div class="inner">
            {# TRIP TYPE #}
            {% if searchFlight.triptype.position == 'default' %}
                {% include "partials/components/IBE/flight-search/triptype/_triptype_selection.njk" %}
            {% endif %}

            {# route #}
            {% include "partials/components/IBE/flight-search/route/_route_input.njk" %}

            {# dates #}
            {% include "partials/components/IBE/flight-search/dates/_dates.njk" %}
            
                
            {# change flight #}
            {% if not changeFlight %}
                {# TRIPTYPE AS SELECT #}
                {# searchFlight.triptype.pos2 HKE deprecated - by css grid #}
                {% if searchFlight.triptype.pos2 %}
                    {% include "partials/components/IBE/flight-search/triptype/_triptype_selection.njk" %}
                {% endif %}
                
                {# TYPOLOGY #}
                {% if searchFlight.typology.show %} 
                    <div class="typology">
                        {% include "partials/components/IBE/flight-search/typology/_select_typology.njk" %}
                    </div>
                {% endif %}

                {# CURRENCY #}
                {% if searchFlight.currency.show %}
                    <div class="currency">
                        {% set selectForm = searchFlight.currency.formControl %}
                        {% include "partials/ui-elements/_select.njk" %}
                    </div>
                {% endif %}

                {# PROMOCODE #}
                {% if searchFlight.promocode.show %}
                    {% include "partials/components/IBE/flight-search/promocode/_promocode.njk" %}
                {% endif %}
            {% endif %}

            {# {% if (searchFlight.searchButton) or (not searchFlight) %} #}
            <div class="searchflight_button">
                <button type="submit" class="button"
                    {% if searchFlight.searchButton.disabled %} disabled="disabled"{% endif %}
                    {% if not changeFlight %}onclick="window.location='BF-select_flight.html';"{% endif %}>
                    {% if changeFlight %}
                        Find flights
                    {% else %}
                        <span class="searchflight_button_text">
                            {{ searchFlight.searchButton.text | safe }}
                        </span>
                    {% endif %}
                </button>
            </div>
            {# {% endif %} #}
        </div>

        {% include "partials/ui-elements/_loader.njk" %}
    </div>
</flight-search>