// ********************
//  COMPONENTS
//
// ********************
//  WEB SEARCH
// ********************

// variables
// -------
$web-search-icon: $icon-search;
$web-search-input-space: 5px;
$web-search-input-right-space: 44px;
$web-search-input-height: 42px;

.web-search {
	.ui-label {
		@extend .hide-visually;
	}
	.ui-input-container {
		height: auto;
		padding-top: 0;
	}
	.ui-input_wrap {
		background-color: $c-color5;
		padding: 0 0 0 calculateRem($gutter-sides);
	}
	input {
		@extend %input-reset-padding;
		height: calculateRem($web-search-input-height);
		border: 0;
	}
	.web-search_input {
		left: -$gutter-sides;
		right: -$gutter-sides;
	}
	// modifiers
	&.is-open {
		.web-search_input {
			height: $web-search-input-height + $web-search-input-space * 2;
			padding: calculateRem($web-search-input-space) calculateRem($web-search-input-right-space) calculateRem($web-search-input-space) 0;
		}
		.web-search_trigger {
			z-index: 3;
			position: absolute;
			top: calculateRem(58px);
			right: calculateRem(44px);
		}
		.web-search_cancel {
			height: calculateRem($web-search-input-height);
			opacity: 1;
		}
	}
}
.web-search_container {
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	transition: $header-transitions;
}
.web-search_trigger {
	// line-height: 0;
	// transition: $header-transitions;
}
.web-search_trigger_button {
	@extend %main-header-nav-secondary-item-link-trigger;
	@include iconfont($web-search-icon);
	// line-height: 0;
}
.web-search_input {
	z-index: 1;
	position: absolute;
	transition: $header-transitions;
	left: 0;
	top: $main-header-mobile-height;
	box-sizing: border-box;
	height: 0;
	padding: 0 calculateRem($web-search-input-right-space) 0 0;
	background-color: $c-color5;
	overflow: hidden;
}
.web-search_cancel {
	z-index: 4;
	position: absolute;
	right: 0;
	top: $main-header-mobile-height + $web-search-input-space;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: $header-transitions;
	&:hover {
		color: $c-primary-dark;
	}
}
.web-search_cancel-button {
	@include iconfont($icon-cross);
	padding: calculateRem(15px) calculateRem(15px) calculateRem(15px);
	line-height: 0;
	cursor: pointer;
	background-color: $c-color5;
	transition: $t-hover-element;
	&::before {
		@include font-size(13px);
		height: 13px;
	}
}
@media #{$tablet-portrait} { // >= 768px
	.web-search {
		// modifiers
		.ui-input_wrap {
			padding: calculateRem(4px) 0;
			&::before {
				display: none;
			}
		}
		input {
			padding-right: calculateRem(40px);
			height: calculateRem(36px);
		}
		&.is-open {
			.web-search_container {
				padding-right: calculateRem(18px);
				width: calculateRem(310px);
			}
			.web-search_input {
				position: static;
				width: 100%;
				height: auto;
				padding: 0;
			}
			.web-search_trigger {
				position: relative;
				top: calculateRem(14px);
				right: calculateRem(32px);
			}
			.web-search_trigger_button {
				padding: 0;
			}
			.web-search_cancel {
				visibility: visible;
				right: 0;
			}
		}
	}
	.web-search_container {
		width: $header-links-icon-size + ($main-header-nav-secondary-items-separation-desktop * 2 - $main-header-nav-secondary-items-separation-margin-desktop * 2);
	}
	.web-search_input {
		position: static;
		width: 0%;
		overflow: hidden;
	}
	.web-search_trigger {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	.web-search_cancel {
		visibility: hidden;
		position: absolute;
		top: 0;
		height: auto;
		transition: none;
	}
	.web-search_cancel-button {
		background-color: transparent;
	}
}
