// main: ../../styles.scss

// ****************************************
//  IBE COMPONENT
//
// ****************************************
//  MMB
// ****************************************
//
//    + MMB Home
//    + MMB Cancel flight
//    + MMB Change flight
//    + MMB Guest details
//
// ****************************************

// + MMB Home
// -------
.mmb_section {
    .itinerary {
        margin-bottom: 38px;
    }
    .booking-reference {
        display: block;
        text-align: left;
        margin: 0 0 26px;
        padding: 0;
        border: none;
        .code, .label {
            display: inline-block;
            margin: 0;
        }
        .code {
            margin-left: 21px;
        }
    }
    .service-cards {
        margin-bottom: 24px;
    }

    // [Responsive]
    @media #{$until-tablet-portrait} { // <=768px
        .booking-reference {
            text-align: center;
            width: auto;
        }
    }
    @media #{$until-mobile} { // <=640px
        .itinerary {
            margin-bottom: 0;
        }
        .booking-reference {
            text-align: center;
            .code, .label {
                display: block;
            }
            .code { margin: 6px 0 0; }
        }
    }
}



// + MMB Cancel flight
// -------
.mmb_cancel-flight {
    .booking-summary {
        margin-bottom: 26px;
    }
    .box {
        margin-top: 30px;
    }
}
.cancel-flight_confirm {
    .price {
        color: $c-secondary;
        margin-left: 14px;
    }
}

@media #{$until-mobile} { // <= 640px
    .mmb_cancel-flight {
        .box {
            margin-top: 14px;
        }
    }
    .cancel-flight_confirm {
        .price {
            display: block;
            margin-left: 0;
        }
    }
}
@media #{$until-mobile-sm} { // <=480px
    .cancel-flight_cancelled {
        .box_footer {
            .button {
                width: 140px;
                min-width: auto;
            }
        }
    }

}


// + MMB Change flight
// -------
.mmb_change-flight {
    .searchflight {
        padding-bottom: 24px;
    }
    .searchflight_button {
        margin-top: 26px;
    }
    .separator-section {
        &::after {display: none; }
    }
    &.is-open {
        .separator-section {
            &::after { display: block; }
        }
    }
}


// + MMB Guest details
// -------
.mmb_passenger_data {
    @media #{$until-mobile} { // <= 640px
        .title-h2 {
            margin-top: 27px;
        }
        .combined_summary_bar {
            .combined_summary_bar-right {
                display: none;
            }
        }
        .page_buttons {
            margin-top: 0;
        }
    }
}
